@model IEnumerable<CwcExim.Areas.Master.Models.kdl_EximTrader>
<script>
        $(document).ready(function(){
            $('#TblEximTrader').DataTable({
                "bFilter":false,
                "bInfo":false,
                "pageLength": 50,
                "aoColumns":[
                             {"sName":"SL No","width":"8%"},
                             {"sName":"Type"},
                             {"sName":"Name"},
                             {"sName":"Email","bSortable":false,"width":"20%"},
                             {"sName":"Contact Person","bSortable":false},
                             {"sName":"View","bSortable":false,"width":"10%"},
                             {"sName":"Edit","bSortable":false,"width":"10%"},
                             {"sName":"Delete","bSortable":false,"width":"10%"}
                ]
            });
            new $.fn.dataTable.FixedHeader(TblEximTrader);
        });
        function LoadEximTraderPage(){
            $('#DivBody').load('/Master/kdl_EximTrader/CreateEximTrader');
        }
        function ViewEximTrader(EximTraderId){
            $('#DivBody').load('/Master/kdl_EximTrader/ViewEximTrader?EximTraderId='+EximTraderId);
        }
        function EditEximTrader(EximTraderId){
            $('#DivBody').load('/Master/kdl_EximTrader/EditEximTrader?EximTraderId='+EximTraderId);
        }
        function DeleteEximTrader(EximTraderId){
            var Confirm=confirm("Are You Sure You Want To Delete?");
            if(Confirm==true){
                var Token=$('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url:'/EximTrader/DeleteEximTraderDetail',
                    headers:{'__RequestVerificationToken':Token},
                    data:{EximTraderId:EximTraderId},
                    type:'POST',
                    dataType:'JSON',
                    async:false,
                    success:function(data){
                        if(data.Status==1){
                            LoadEximTraderPage();
                        }
                        else if(data.Status==2||data.Status==3||data.Status==4){
                            alert(data.Message);
                        }
                    }
                });
            }
        }
</script>
<table id="TblEximTrader" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.Type)</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>@Html.DisplayNameFor(m => m.ContactPerson)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.Type)</td>
                    <td>@item.EximTraderName</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.ContactPerson)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewEximTrader(@item.EximTraderId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditEximTrader(@item.EximTraderId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeleteEximTrader(@item.EximTraderId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>