@model CwcExim.Areas.Report.Models.Ppg_AssessmentSheetFCL
@using (Html.BeginForm("AssessmentSheetFCLDetail", "Ppg_ReportCWC", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Assessment Sheet FCL Report</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.FromDate, new { placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>To Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.ToDate, new { placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="d-flex justify-content-left">
                        <input type="submit" value="Print" name="Command" class="btn btn-primary btn-100px" id="BtnPreview" />
                    </div>
                    <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                </div>
            </div>
        </div>
    </div>

}

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#FromDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $('#FromDate').datepicker("setDate", new Date());
        $("#ToDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $('#ToDate').datepicker("setDate", new Date());
    });

    function PVSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }
</script>