
@model CwcExim.Areas.Report.Models.PPG_ContArrivalReport


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#FromDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#ToDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#FromDate").datepicker("setDate", new Date());
        $("#ToDate").datepicker("setDate", new Date());
    });

</script>
@using (Ajax.BeginForm("GetContainerImportArrivalReport", "Ppg_ReportCWC", options))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Import Loaded Container Arrival Report</h4>
                            </div>
                        </div>
                        <div class="content_wrp">
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Period From:</label>
                                        <div class="position-relative Date_Img">
                                           @Html.TextBoxFor(m => m.FromDate, new { @class = "", @id = "FromDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                           @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-1-5">
                                    <label>Period To:</label>
                                    <div class="position-relative Date_Img">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "", @id = "ToDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-1-5">
                                    <div class="form-group">
                                        <label>ContainerSize:</label>
                                        @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem> {
                                             new SelectListItem { Text="All",Value="All"},
                                             new SelectListItem { Text="20",Value="20"},
                                             new SelectListItem { Text="40",Value="40"}}, new { @class = "" })
                                        @Html.ValidationMessage("m=>m.Movement", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="Form_Space_top" style="padding:5px;">
                                <div class="row">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Period From:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "FromDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>Period To:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "ToDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            
                                @*<div class="row Form_Space_top">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>ContainerSize:</label>
                                            @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem> {
                                             new SelectListItem { Text="All",Value="All"},
                                             new SelectListItem { Text="20",Value="20"},
                                             new SelectListItem { Text="40",Value="40"}}, new { @class = "" })
                                            @Html.ValidationMessage("m=>m.Movement", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="row Form_Space_top">
                                <div class="Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>ContainerSize:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem> {
                                 new SelectListItem { Text="All",Value="All"},
                                  new SelectListItem { Text="20",Value="20"},
                                 new SelectListItem { Text="40",Value="40"}}, new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessage("m=>m.Movement", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>*@
                            <div class="row SignUp_space_top SignUp_space_bottom">
                                <div class="stoke"></div>
                            </div>
                            <div class="d-flex justify-content-left">
                                <input type="submit" class="btn btn-primary mr-1 btn-100px" name="Command" value="Print" id="BtnPreview">
                            </div>
                            @*<div class="row SignUp_space_bottom">
                                <div class="col-md-offset-5 col-md-2">
                                    <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                                </div>
                            </div>*@
                            <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                        </div>
                </div>
            </div>
        </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#FromDate').val();
        var To = $('#ToDate').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() {


    }
    function RptInvoiceReportDetails(data) {
        debugger;
        if (data.Status == 1) {

            window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
        }
        else {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html(data.Message);
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#FromDate').val() == "") {
            $('[data-valmsg-for="FromDate"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#ToDate').val() == "") {
            $('[data-valmsg-for="ToDate"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }



</script>









