@model CwcExim.Areas.Report.Models.Ppg_LongStandingImpCargo
@using (Ajax.BeginForm("GetLongStandingImpLoadedCargo", "Ppg_ReportCWC", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "PVSuccess",
    OnFailure = "PVFailure"
}))
{
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Long Standing Report of Import Cargo</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Shed Cd.:</label>
                                </div>
                                <div class="position-relative">
                                    @Html.TextBoxFor(m => m.GodownName, new { @placeholder = "Select Godown Name", @readonly = true })
                                    @Html.HiddenFor(m => m.GodownId)
                                    <span class="input_icon" id="GodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="form-group">
                                    <label>Days:</label>
                                </div>
                                @Html.TextBoxFor(m => m.days, new { @placeholder = "Days" })
                                @Html.ValidationMessageFor(m => m.days, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="form-group">
                                    <label>To Date:</label>
                                </div>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.AsOnDate, new { placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.AsOnDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="SignUp_space_bottom">
                            <div class="d-flex justify-content-left">
                                <input type="submit" value="Print" name="Command" class="btn btn-primary mr-1 btn-100px" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
                
            </div>
        </div>

}
<div id="GodownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Godown List</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="GodownListBox" type="text" />
                <ul class="navList" id="lstGodownList">
                    @{
                        if (ViewBag.ListOfGodown != null)
                        {
                            foreach (var item in ViewBag.ListOfGodown)
                            {
                                <li id="@item.GodownId">@item.GodownName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="d-flex justify-content-left">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#GodownListBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodownList > li').show();
        else {
            $('#lstGodownList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstGodownList li').on('click', function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).prop('id'));
        $('#GodownModal').modal('hide');
    });
    $(function () {
        
        $("#AsOnDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    
    function PVSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }
</script>