
@model CwcExim.Areas.Report.Models.TDSReport


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {
        $('#PartyId').val('0');
        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetTDSReport", "Ppg_ReportCWC", options))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>TDS Report</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Period From:</label>
                                    <div class="position-relative Date_Img">
                                       @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                       @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Period To:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.PeriodTo, new { @class = "", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Party Name:</label>
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.PartyId, new { @value = "" })
                                    @Html.TextBoxFor(m => m.PartyName, new { @class = "", @readonly = true })
                                    <span class="input_icon" id="PartyNameSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyNameModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.PartyName)
                                </div>
                            </div>
                        </div>

                        @*<div class="row Form_Space_top Form_Space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Period From:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5">
                                    <label>Period To:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Party Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    <div id="LoadedDiv">
                                        @Html.HiddenFor(m => m.PartyId, new { @value = "" })
                                        @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="PartyNameSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyNameModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.PartyName)
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="d-flex justify-content-left">
                            <input type="submit" class="btn btn-primary mr-1 btn-100px" name="Command" value="Print" id="BtnPreview">
                        </div>
                        @*<div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>*@
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
            </div>
        </div>
    </div>


}
<div id="PartyNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Party List</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="PartyBox" type="text" />
                <ul class="navList" id="PartyList">
                    @{
                        if (@ViewBag.PartyList != null)
                        {
                            foreach (var item in @ViewBag.PartyList)
                            {
                                <li id="@item.Value">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#PartyBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#PartyList > li').show();
        else {
            $('#PartyList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#PartyList > li').on("click", function () {
        $('#PartyName').val($(this).text());
        $('#PartyId').val($(this).attr('id'));
        $("#PartyNameModal").modal("hide");
    });

    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    function SaveReportPdf(data)
    {
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();
        var Html = '<div style="text-align: center;border: 1px solid #000;">TDS SD CREDIT Report ' + FormDate + ' To ' + ToDate + '</div>'

        Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;'><thead><tr>";
        Html += "</tr></thead><tbody>";
        Html += "<tr><td colspan='5' style='padding:0px;'>";
        Html += "<table style='width:100%;font-size:8.5pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><thead>";
        Html += "<tr><th style='text-align:left;border-right:1px solid #000;padding:10px;width:3%;'>SR No</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>Receipt Date</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>Receipt No</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>Party Name</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>Party Code</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>TDS Certificate No</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>FINANCIAL YEAR</th>";
        Html += "<th style='text-align:left;border-right:1px solid #000;padding:10px;width:8%;'>TDS Quarter</th>";
        Html += "<th style='text-align:right;padding:10px;border-right:1px solid #000;width:12%;'>TDS Amount</th>";
        Html += "<th style='text-align:left;padding:10px;width:20%;'>Remarks</th></tr>";
        Html += "</thead><tbody>";
        var j = 0;
        var sdamount = 0;
        for (i = 0; i < data.Data.TDSReportLst.length; i++)
        {
            j = j+1;
            Html += "<tr><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + j + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].CRDate + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].CRNo + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].PartyName + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].PartyCode + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].CertificateNo + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].FinancialYear + "</td><td style='text-align:left;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].QUARTERMONTH + "</td><td style='text-align:right;border-right:1px solid #000;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].Amount + "</td><td style='text-align:left;border-top:1px solid #000;padding:5px 10px;'>" + data.Data.TDSReportLst[i].Remarks + "</td></tr>";
            sdamount = sdamount + parseFloat(data.Data.TDSReportLst[i].Amount);
        }
        Html += '<tr><th colspan="8" style="text-align: left;border-top:1px solid #000;border-right: 1px solid #000;padding:10px;">TOTAL :</th>'
        Html += '<th style="text-align: right;border-top:1px solid #000;padding:10px;">'+sdamount+'</th>'
        Html += '<th style="border-top:1px solid #000;padding:10px;"></th></tr>'

        Html += "</tbody></table></td></tr></tbody></table>"
        PostData.append("Page", Html);
       // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateTDSReportPDF", "Ppg_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>




