@model CwcExim.Areas.Import.Models.DestuffingEntry

<script>
    var ArrayOfDestuffingEntry = [];
    var TimeInSeconds;
    var CheckDet = [];
    var NoOfPackages = 0, DestuffingWeight = 0, Duty = 0, CIFValue=0;
    $(function () {
        debugger;
        TimeInSeconds = 5000;
        ArrayOfDestuffingEntry=@Html.Raw(Json.Encode(Model.LstDestuffingEntry));
        CheckDet=@Html.Raw(Json.Encode(Model.LstDestuffingEntry));
        GetGodownWiseLocation(ArrayOfDestuffingEntry[0].GodownId);
        GenerateDestuffingEntryTable();
    });
    $('#BOEDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='BOEDate']").html('');
        }
    });
    $('#DestuffingEntryDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage:"/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DestuffingEntryDate']").html('');
        }
    });

    $('#DODate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DODate']").html('');
        }
    });

    $('#BOLDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DODate']").html('');
        }
    });

    function GetDestuffingEntryList() {
        $('#DivDestuffingEntryList').load('/Import/Kdl_CWCImport/GetDestuffingEntryList');
    }

    function ReloadDestuffingEntryPage() {
        $('#DivBody').load('/Import/Kdl_CWCImport/CreateDestuffingEntry');
    }

    //function ResetAllFields() {
    //    debugger;
    //    ArrayOfDestuffingEntry = [];
    //    $('#DivAddDestuffingEntry').find('input:hidden').val('');
    //    $('#DivAddDestuffingEntry').find('input:text,textarea,select').val('');
    //    $('#DivDestuffingEntryMsg').html('');
    //    $('#DivDestuffingEntryErrMsg').html('');
    //    $('[data-valmsg-for]').html('<span><span>');
    //    $('#DivAddDestuffingEntry #TblDestuffingEntryDet >tbody').html('');
    //    $('#TblDestuffingEntryDet').hide();
    //    $('#DivDestuffingEntryTblMsg').html('');
    //}

    function DestuffingEntryOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            $('#DivDestuffingEntryMsg').html(data.Message);
            // setTimeout(ReloadDestuffingEntryPage, TimeInSeconds);
            $('#ContainerList #' + $('#ContainerNo').val()).remove();
            setTimeout(ReloadDestuffingEntryPage, TimeInSeconds);
        }
        else {
            $('#DivDestuffingEntryErrMsg').html(data.Message);
        }
    }

    function DestuffingEntryOnFailure() { }

    //$('#ShippingLineBox').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#ShippingLineModal .navList > li').show();
    //    } else {
    //        $('#ShippingLineModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});
    //$('#ShippingLineList li').on("click", function () {
    //    $('#ShippingLine').val($(this).text());
    //    $('#ShippingLineId').val($(this).attr('id'));
    //    $("#ShippingLineModal").modal("hide");
    //});

    //$('#ListOfCHAHdr li').on("click", function () {
    //    debugger;
    //    $('#CHAName').val($(this).text());
    //    $('#CHAId').val($(this).attr('id'));
    //    $("#CHAHdrModal").modal("hide");
    //});
    //$('#SearchCHAHdr').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#CHAHdrModal .navList > li').show();
    //    } else {
    //        $('#CHAHdrModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});





    function SaveDestuffingEntryDtl() {
        debugger;
        $('#DivDestuffingEntryTblMsg').html('');
        if (CheckDet.length != 0) {
            NoOfPackages = (CheckDet.filter(function (item) { return item.DeStuffingWODtlId == $('#DeStuffingWODtlId').val(); })[0]).RemNoOfPackages;
            DestuffingWeight = (CheckDet.filter(function (item) { return item.DeStuffingWODtlId == $('#DeStuffingWODtlId').val(); })[0]).RemDestuffingWeight;
            Duty = (CheckDet.filter(function (item) { return item.DeStuffingWODtlId == $('#DeStuffingWODtlId').val(); })[0]).RemDuty;
            CIFValue = (CheckDet.filter(function (item) { return item.DeStuffingWODtlId == $('#DeStuffingWODtlId').val(); })[0]).RemCIFValue;

            if (Number(NoOfPackages) < Number($('#NoOfPackages').val())) {
                $('[data-valmsg-for="NoOfPackages"]').html('<span>No Of Packages cannot be more than remaining No Of Packages-' + NoOfPackages + '</span>');
                return false;
            }
            else if (Number(DestuffingWeight) < Number($('#DestuffingWeight').val())) {
                $('[data-valmsg-for="DestuffingWeight"]').html('<span>Destuffing Weight cannot be more than remaining Destuffing Weight-' + DestuffingWeight + '</span>');
                return false;
            }
            else if (Number(Duty) < Number($('#Duty').val())) {
                $('[data-valmsg-for="Duty"]').html('<span>Duty cannot be more than remaining Duty-' + Duty + '</span>');
                return false;
            }
            else if (Number(CIFValue) < Number($('#CIFValue').val())) {
                $('[data-valmsg-for="CIFValue"]').html('<span>CIF Value cannot be more than remaining CIF Value-'+ CIFValue+'</span>');
                return false;
            }
            else if(Number($('#GrossWeight').val() < Number($('#DestuffingWeight').val())))
            {
                $('[data-valmsg-for="DestuffingWeight"]').html('<span>Destuffing Weight cannot be more than Gross Weight</span>');
                return false;
            }
        }
        if ($('#ContainerNo').val() != "") {
            var DestuffingEntryDtl = {
                "LineNo": $('#LineNo').val(),
                "BOENo": $('#BOENo').val(),
                "BOEDate": $('#BOEDate').val(),
                "BOLNo": $('#BOLNo').val(),
                "BOLDate": $('#BOLDate').val(),
                "MarksNo": $('#MarksNo').val(),
                "CHAId": $('#CHAId').val(),
                "CHA": $('#CHA').val(),
                "ImporterId": $('#ImporterId').val(),
                "Importer": $('#Importer').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "CargoType": $('#CargoType').val(),
                "CommodityId": $('#CommodityId').val(),
                "Commodity": $('#Commodity').val(),
                "NoOfPackages": $('#NoOfPackages').val() == "" ? 0 : $('#NoOfPackages').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "GrossWeight": $('#GrossWeight').val() == "" ? 0 : $('#GrossWeight').val(),
                "DestuffingWeight": $('#DestuffingWeight').val() == "" ? 0 : $('#DestuffingWeight').val(),
                "Duty": $('#Duty').val() == "" ? 0 : $('#Duty').val(),
                "AppraisementStatus": $('#Pass').prop("checked")==true ?1 :2,
                "CIFValue": $('#CIFValue').val() == "" ? 0 : $('#CIFValue').val(),
                "GodownId": $('#GodownId').val(),
                "GodownName": $('#GodownName').val(),
                "LocationDetails": $('#LocationDetails').val(),
                "GodownWiseLctnNames": $('#GodownWiseLctnNames').val(),
                "DestuffingEntryDtlId": $('#DestuffingEntryDtlId').val(),
                "DeStuffingWODtlId":$('#DeStuffingWODtlId').val(),
            }
            ArrayOfDestuffingEntry.push(DestuffingEntryDtl);
            //$('#ContainerList #' + $('#ContainerNo').val()).remove();
            ResetDestuffingEntryDet();
            GenerateDestuffingEntryTable();
        }
        else {
            $('#DivDestuffingEntryTblMsg').html('Please Select A Container No In Order To Add Details');
            // $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
        }
        NoOfPackages = 0;
        DestuffingWeight = 0;
        Duty = 0;
        CIFValue = 0;
    }

    function ResetDestuffingEntryDet() {
        debugger;
        if ($('#LCL').prop("checked")) {
            $('#BOLNo').val('');
            $('#BOLDate').val('');
            $('#CUM').val('');
            $('#SQM').val('');
            $('#GodownWiseLctnNames').val('');
            $('#DestuffingWeight').val('');
            $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
               // $(this).prop("disabled", true);
                $(this).prop("checked", false);
            });
        }
        else {
             $('#DivDestuffingEntryDet').find('input:text,textarea').val('');
             $('#DivDestuffingEntryDet').find('input:hidden').val('');
             $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
                // $(this).prop("disabled", true);
                 $(this).prop("checked", false);
             });
        }
    }

    function GenerateDestuffingEntryTable() {
        debugger;
        $('#TblDestuffingEntryDet').hide();
        $('#TblDestuffingEntryDet>tbody').html('');
        var Html = '';
        if (ArrayOfDestuffingEntry.length != 0) {
            $.each(ArrayOfDestuffingEntry, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + $('#ContainerNo').val() + '</td><td>' + item.LineNo + '</td><td>' + item.BOENo + '</td><td>' + item.BOEDate + '</td><td>' + item.CHA + '</td><td>' + $('#ShippingLine').val() + '</td><td class="text-center"><a href="#" onclick="EditDestuffingEntry(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewDestuffingEntry(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
               // Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.LineNo + '</td><td>' + item.BOENo + '</td><td>' + item.BOEDate + '</td><td class="text-center"><a href="#" onclick="EditDestuffingEntry(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewDestuffingEntry(' + i + ')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDestuffingEntryDet>tbody').html(Html);
            $('#TblDestuffingEntryDet').show();
        }
    }

    function EditDestuffingEntry(Index) {
        debugger;
        $('#BtnAddDestuffingEntry').prop("disabled", false);
        $('#LocationSearch').css("display", "block");
        $('#LocationDetails,#LocationDetails').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').prop("checked", false);
        $('#DestuffingEntryDtlId').val(ArrayOfDestuffingEntry[Index].DestuffingEntryDtlId);
        $('#LineNo').val(ArrayOfDestuffingEntry[Index].LineNo);
        $('#BOENo').val(ArrayOfDestuffingEntry[Index].BOENo);
        $('#BOEDate').val(ArrayOfDestuffingEntry[Index].BOEDate);
        $('#BOLNo').val(ArrayOfDestuffingEntry[Index].BOLNo);
        $('#BOLDate').val(ArrayOfDestuffingEntry[Index].BOLDate);
        $('#MarksNo').val(ArrayOfDestuffingEntry[Index].MarksNo);
        $('#CargoType').val(ArrayOfDestuffingEntry[Index].CargoType);
        $('#CommodityId').val(ArrayOfDestuffingEntry[Index].CommodityId);
        $('#Commodity').val(ArrayOfDestuffingEntry[Index].Commodity);
        $('#CUM').val(ArrayOfDestuffingEntry[Index].CUM);
        $('#SQM').val(ArrayOfDestuffingEntry[Index].SQM);
        $('#CHAId').val(ArrayOfDestuffingEntry[Index].CHAId);
        $('#CHA').val(ArrayOfDestuffingEntry[Index].CHA);
        $('#ImporterId').val(ArrayOfDestuffingEntry[Index].ImporterId);
        $('#Importer').val(ArrayOfDestuffingEntry[Index].Importer);
        $('#CargoDescription').val(ArrayOfDestuffingEntry[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfDestuffingEntry[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfDestuffingEntry[Index].GrossWeight);
        $('#DestuffingWeight').val(ArrayOfDestuffingEntry[Index].DestuffingWeight);
        $('#Duty').val(ArrayOfDestuffingEntry[Index].Duty);
        ArrayOfDestuffingEntry[Index].AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true);
        $('#CIFValue').val(ArrayOfDestuffingEntry[Index].CIFValue);
        $('#GodownId').val(ArrayOfDestuffingEntry[Index].GodownId);
        $('#GodownName').val(ArrayOfDestuffingEntry[Index].GodownName);
        $('#LocationDetails').val(ArrayOfDestuffingEntry[Index].LocationDetails);
        $('#DeStuffingWODtlId').val(ArrayOfDestuffingEntry[Index].DeStuffingWODtlId);
        if (ArrayOfDestuffingEntry[Index].LocationDetails != null && ArrayOfDestuffingEntry[Index].LocationDetails != undefined) {
            var split = ArrayOfDestuffingEntry[Index].LocationDetails.split(',');
            $(split).each(function (j, data) {
              //  $('#' + data +'g').prop('disabled', false);
                $('#' + data + 'g').prop('checked', true);
            });
        }
        $('#GodownWiseLctnNames').val(ArrayOfDestuffingEntry[Index].GodownWiseLctnNames);
        ArrayOfDestuffingEntry.splice(Index, 1);
        GenerateDestuffingEntryTable();
    }

    function ViewDestuffingEntry(Index) {
        debugger;
        $('#BtnAddDestuffingEntry').prop("disabled", true);
        $('#LocationSearch').css("display", "none");
        $('#DestuffingEntryDtlId').val(ArrayOfDestuffingEntry[Index].DestuffingEntryDtlId);
        $('#LineNo').val(ArrayOfDestuffingEntry[Index].LineNo);
        $('#BOENo').val(ArrayOfDestuffingEntry[Index].BOENo);
        $('#BOEDate').val(ArrayOfDestuffingEntry[Index].BOEDate);
        $('#BOLNo').val(ArrayOfDestuffingEntry[Index].BOLNo);
        $('#BOLDate').val(ArrayOfDestuffingEntry[Index].BOLDate);
        $('#MarksNo').val(ArrayOfDestuffingEntry[Index].MarksNo);
        $('#CargoType').val(ArrayOfDestuffingEntry[Index].CargoType);
        $('#CommodityId').val(ArrayOfDestuffingEntry[Index].CommodityId);
        $('#Commodity').val(ArrayOfDestuffingEntry[Index].Commodity);
        $('#CUM').val(ArrayOfDestuffingEntry[Index].CUM);
        $('#SQM').val(ArrayOfDestuffingEntry[Index].SQM);
        $('#CHAId').val(ArrayOfDestuffingEntry[Index].CHAId);
        $('#CHA').val(ArrayOfDestuffingEntry[Index].CHA);
        $('#ImporterId').val(ArrayOfDestuffingEntry[Index].ImporterId);
        $('#Importer').val(ArrayOfDestuffingEntry[Index].Importer);
        $('#CargoDescription').val(ArrayOfDestuffingEntry[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfDestuffingEntry[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfDestuffingEntry[Index].GrossWeight);
        $('#DestuffingWeight').val(ArrayOfDestuffingEntry[Index].DestuffingWeight);
        $('#Duty').val(ArrayOfDestuffingEntry[Index].Duty);
        ArrayOfDestuffingEntry[Index].AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true);
        $('#CIFValue').val(ArrayOfDestuffingEntry[Index].CIFValue);
        $('#GodownId').val(ArrayOfDestuffingEntry[Index].GodownId);
        $('#GodownName').val(ArrayOfDestuffingEntry[Index].GodownName);
        $('#GodownWiseLctnNames').val(ArrayOfDestuffingEntry[Index].GodownWiseLctnNames);
        $('#DeStuffingWODtlId').val(ArrayOfDestuffingEntry[Index].DeStuffingWODtlId);
    }

    $('#BtnSaveDestuffingEntry').on("click", function () {
        debugger;
        $('#DivDestuffingEntryTblMsg').html('');
        if ($('#TblDestuffingEntryDet >tbody').html() != "")
        {
            if (ArrayOfDestuffingEntry.length != 0) {
                $('#DestuffingEntryXML').val(JSON.stringify(ArrayOfDestuffingEntry));
            }
        }
        else {
            $('#DivDestuffingEntryTblMsg').html('Please Add The Above Records');
            return false;
        }
    });

    function SelectLocation(item) {
        debugger;
        /* If existing Godown locations are changed then those Ids added in Clear Location */
        var ClearLocation=$('#ClearLocation').val();
        if($('#'+item.id).prop("checked")==false)
        {
            debugger;
            if(ClearLocation==''||ClearLocation==null||ClearLocation==undefined)
                ClearLocation=item.name;
            else
                ClearLocation+=','+item.name;
            $('#ClearLocation').val(ClearLocation);
        }
        /**********************************************
         Clear Location contains the Ids which contains
        the data which is earlier occupied but now it is unoccupied
        and  needs to be cleared in Godown Wise Location
        ***********************************************/

        //var Locationtext = '';
        //$('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
        //    if (Locationtext == '')
        //        Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
        //    else {
        //        Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        //    }
        //});
        //$('#Location').val(Locationtext);

        var data = '';
        var inf = '';
        $('#DivLocationDet').find('input:checked').each(function () {
            if (data == '')
                data = $(this).prop('name');
            else
                data = data + ',' + $(this).prop('name');
            if (inf == '')
                inf = $('label[for="' + $(this).prop('id') + '"]').text();
            else
                inf = inf + ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        });
        $('#LocationDetails').val(data);
        $('#GodownWiseLctnNames').val(inf);
    }



    function GetGodownWiseLocation(GodownId) {
        debugger;
      //  var GodownId = $('#GodownId').val();
        $.ajax({
            url: '/Import/Kdl_CWCImport/GetGodownWiseLocation',
            type: 'GET',
            data: { GodownId: GodownId },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, elem) {
                        debugger;
                        $('#GodownWiseLctnNames').val('');
                        $('#LocationDetails').val('');
                        //if (elem.IsOccupied)
                        //    html += '<div class="col-md-2"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'g" name="' + elem.LocationId + '" onclick="SelectLocation(this)" disabled/><label for="' + elem.LocationId + 'g"><i class="square"></i><span>' + elem.LocationName + '</span></label></div></div>';
                        //else
                            html += '<div class="col-md-2"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'g" name="' + elem.LocationId + '" onclick="SelectLocation(this)" /><label for="' + elem.LocationId + 'g"><i class="square"></i><span>' + elem.LocationName + '</span></label></div></div>';
                    });
                    $('#DivLocationDet').html(html);

                }

            }
        });
    }
</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "DestuffingEntryOnSuccess";
    options.OnFailure = "DestuffingEntryOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("AddEditDestuffingEntry", "Kdl_CWCImport", options))
                {
                    @Html.AntiForgeryToken()
                    <div id="DivEditDestuffingEntry">
                        @Html.HiddenFor(m => m.DestuffingEntryXML)
                        @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                        @Html.HiddenFor(m => m.DestuffingDtlId)
                        @Html.HiddenFor(m => m.DestuffingEntryId)
                        @Html.HiddenFor(m => m.DeStuffingWODtlId)
                        @Html.HiddenFor(m => m.LocationDetails)
                        @Html.HiddenFor(m => m.ClearLocation)
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Destuffing Entry Application</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ContainerNo, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                    <label>DO Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img col_cus_2_5">
                                    @Html.TextBoxFor(m => m.DODate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DODate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Destuffing No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                    <label>Destuffing Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img col_cus_2_5">
                                    @Html.TextBoxFor(m => m.DestuffingEntryDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DestuffingEntryDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div id="DivShippingLine" class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container Size:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                                    @*@Html.DropDownListFor(m=>m.Size, new List<SelectListItem> {
                                           new SelectListItem { Text="20",Value="20"},
                                           new SelectListItem {Text="40",Value="40" },
                                           new SelectListItem {Text="ODC",Value="ODC" }
                                           }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                        @Html.ValidationMessageFor(m => m.Size,"", new { @class = "Error_Msg" })*@
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                    <label>CFS Code:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                    @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>*@
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                </div>
                            </div>
                        </div>
                        <div id="DivVessel" class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Vessel:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.Vessel, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.Vessel, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Voyage:</label>
                                </div>
                                <div class="col-md-4 col_cus_3">
                                    @Html.TextBoxFor(m => m.Voyage, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.Voyage, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-1">
                                    <label>Rotation:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>S/L Seal No.:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.SealNo, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.SealNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                    <label>Custom Seal No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CustomSealNo, "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px" })
                                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div id="DivDestuffingEntryDet" class="Head_h5">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1 col-md-offset-1-5 col_cus_offset_2 padding_rt">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "FCL", new { @class = "", @id = "FCL" })
                                            <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col_cus_1_5 padding_rt">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "LCL", new { @class = "", @id = "LCL" })
                                            <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4-5">
                                        <label>Line No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.LineNo, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>BOE No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.BOENo, new
                                   {
                                       @class = "form-control input-sm" @*, @readonly = true*@ })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>BOE Date:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.BOEDate, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>BOL No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.BOLNo, new { @class = "form-control input-sm" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>BOL Date:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.BOLDate, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Marks & No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.MarksNo, new
                                   {
                                       @class = "form-control input-sm" @*, @readonly = true*@ })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>CHA:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.HiddenFor(m => m.CHAId)
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Importer:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.Importer, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.HiddenFor(m => m.ImporterId)
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextAreaFor(m => m.CargoDescription, new { @style = "width:100%;height:100px", @disabled = true })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Cargo Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("CargoType", new List<SelectListItem> {
                                       new SelectListItem { Text="HAZ",Value="1"},
                                       new SelectListItem {Text="NON-HAZ",Value="2" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                        @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Commodity:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Commodity, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.HiddenFor(m => m.CommodityId)
                                        @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>No of Packages:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.NoOfPackages, new
                                   {
                                       @class = "form-control input-sm" @*, @readonly = true*@ })
                                        @Html.ValidationMessageFor(m => m.NoOfPackages, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>CUM:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CUM, new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Godown:</label>
                                    </div>
                                    <div class="col-md-4 col_cus_3">
                                        @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.HiddenFor(m => m.GodownId)
                                        @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col-md-offset-2-5">
                                        <label>SQM:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.SQM, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Gross Weight:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.GrossWeight, new
                                   {
                                       @class = "form-control input-sm" @*, @readonly = true*@ })
                                        @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label>Destuffing Weight:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.DestuffingWeight, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.DestuffingWeight, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Duty:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.Duty, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col-md-offset-2-5">
                                        <label>Location:</label>
                                    </div>
                                    <div class="col-md-4 col_cus_3">
                                        @Html.TextBoxFor(m => m.GodownWiseLctnNames, new { @class = "form-control input-sm", @readonly = true })
                                        <span id="LocationSearch" @*style="display:none;"*@ class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>CIF Value:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CIFValue, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.CIFValue, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.AppraisementStatus, "1", new { @class = "", @id = "Pass", @checked = true })
                                            <label for="Pass"><i class="circle"></i><span>Pass</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.AppraisementStatus, "2", new { @class = "", @id = "Fail" })
                                            <label for="Fail"><i class="circle"></i><span>Fail</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="button" id="BtnAddDestuffingEntry" class="btn log_Btn_sm" value="Add" onclick="SaveDestuffingEntryDtl()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn log_Btn_sm" value="Reset" />
                                </div>
                            </div>
                            <div id="DivDestuffingEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                            <table class="table table-striped table-bordered dataTable" id="TblDestuffingEntryDet" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                        <th class="text-center">@Html.DisplayName("Container No")</th>
                                        <th>@Html.DisplayName("Line No")</th>
                                        <th>@Html.DisplayName("BOE No")</th>
                                        <th style="width:15%;">@Html.DisplayName("BOE Date")</th>
                                        <th class="text-center">@Html.DisplayName("CHA")</th>
                                        <th class="text-center">@Html.DisplayName("Shipping Line")</th>
                                        <th class="text-center" style="width:10%;">@Html.DisplayName("Edit")</th>
                                        <th class="text-center" style="width:10%;">@Html.DisplayName("View")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                            <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveDestuffingEntry" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Cancel" onclick="ReloadDestuffingEntryPage()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" style="background-color:transparent" id="DivDestuffingEntryMsg"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivDestuffingEntryErrMsg"></div>
                }
                @Scripts.Render("~/bundles/jqueryval")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="ContainerModal" role="dialog">
        <div class="modal-dialog">
             Modal content
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Container No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ContainerBox" type="text" />
                    <ul class="navList" id="ContainerList">
                        @{
                            if (ViewBag.ContainerList != null)
                            {
                                foreach (var item in ViewBag.ContainerList)
                                {
                                    <li id="@item.Value">@item.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="CHAHdrModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List Of CHA</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="SearchCHAHdr" type="text" />
                    <ul class="navList" id="ListOfCHAHdr">
                        @{
                            if (ViewBag.CHAList != null)
                            {
                                foreach (var data in ViewBag.CHAList)
                                {
                                    <li id="@data.Value">@data.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShippingLineModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ShippingLineBox" type="text" />
                    <ul class="navList" id="ShippingLineList">
                        @{
                            if (ViewBag.ShippingLineList != null)
                            {
                                foreach (var item in ViewBag.ShippingLineList)
                                {
                                    <li id="@item.Value">@item.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@












































