@model CwcExim.Areas.Import.Models.Kdl_EmptyMovement
@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />

}

@if (ViewBag.EmptyContList != null)
{
    <input type="hidden" id="hdnEmptyContList" value="@ViewBag.EmptyContList" />
}
else
{
    <input type="hidden" id="hdnEmptyContList" value="" />

}

@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}
<input type="hidden" id="hdnBOL" value="" />
<input type="hidden" id="InvoiceId" value="0" />

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "CstmAppraiseOnSuccess";
    options.OnFailure = "CstmAppraiseOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}


@*@using (Ajax.BeginForm("AddEditEmptyContainerMovement", "Kdl_CWCImport", Confirm = "Are you sure you want to Save?",
                            HttpMethod = "POST",
                            OnSuccess = "CstmAppraiseOnSuccess",
                            OnFailure = "DROnFailure"
    }))*@


@using (Ajax.BeginForm("AddEditEmptyContainerMovement", "Kdl_CWCImport", new AjaxOptions
{
    Confirm = "Are you sure you want to Save?",
    HttpMethod = "POST",
    OnSuccess = "EmptyconMovmntOnSuccess",
    OnFailure = "EmptyconMovmntOnFailure"
}, new { @Id = "MovementEntry" }))

{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")
    @Html.Hidden("PaymentSheetModelJson")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Edit Empty Container Movement Entry</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            @*<div class="col-md-6 col-md-offset-1-5 col_cus_offset_2">
                                    <div class="boolean-container">

                                        @Html.RadioButton("InvoiceFor", "Yard", new { id = "Yard", @onclick = "IVType()" })
                                        <label for="Yard"><i class="circle"></i><span>Yard</span></label>
                                    </div>
                                    <div class="boolean-container">

                                        @Html.RadioButton("InvoiceFor", "Godown", new { id = "Godown", @checked = true, @onclick = "IVType()" })
                                        <label for="Godown"><i class="circle"></i><span>Godown</span></label>
                                    </div>
                                </div>*@
                            <div class="col-md-2 col_cus_3">

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">

                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Movement Date:</label>
                            </div>
                            <div class="col-md-2-5  Date_Img">
                                @Html.HiddenFor(m => m.EmptyDate)
                                @Html.HiddenFor(m=>m.EntryId)
                                @Html.TextBoxFor(m => m.MovementEntryDate, "", new { @class = "form-control input-sm", @readonly = true, @tabindex = 23 })
                                @Html.ValidationMessageFor(m => m.MovementEntryDate, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Container No:</label>
                            </div>
                           @* <div class="col-md-2 col_cus_2_5 ">*@
                            <div class="col-md-2-5">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.ContainerNo, "", new { @readonly = true, @onkeydown = "PopupActivate('EmptyContainerdtl');" })
                                @*<span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>*@
                                <span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="EmptyContainerdtlBinding()" data-target="#EmptyContainerdtl"></i></span>
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })


                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                @*<label>Application No:</label>*@
                                <label>Size:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.HiddenFor(m => m.StuffingReqId)*@
                                @*@Html.HiddenFor(m => m.ContainerNo)*@
                                @*@Html.TextBoxFor(m => m.StuffingReqNo, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.Size, "", new { @readonly = true })
                                @*<span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>*@
                                @* <span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="EmptyContainerdtlBinding()" data-target="#EmptyContainerdtl"></i></span>*@
                               @* @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })*@
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>CFS Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CfsCode, new { @readonly = true })
                                @*@Html.TextBox("En", "", new { @readonly = true })*@
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Movement Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.MovementEntryDate, "", new { @class = "form-control input-sm", @readonly = true, @tabindex = 23 })
                                    @Html.ValidationMessageFor(m => m.MovementEntryDate, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">

                                </div>
                                <div class="col-md-2 col_cus_2_5 ">

                                </div>
                            </div>
                        </div>*@

                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>MovementDate:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.MovementEntryDate, "", new { @class = "form-control input-sm", @readonly = true, @tabindex = 23 })
                                    @Html.ValidationMessageFor(m => m.MovementEntryDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @* @Html.HiddenFor(m => m.ShippingLineName)*@
                                @*@Html.Hidden("PartyId")*@
                                @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.ShippingLineName, "", new { @readonly = true })
                                @* <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="PartyBinding()" data-target="#PartyModal"></i></span>*@
                               @* <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal" onclick="PopupActivate('PartyModal');"></i></span>*@
                                @Html.ValidationMessage("ShippingLine", "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>




                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @*@Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;" })*@
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;", maxlength = 500 })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-3 col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Save"  id="BtnSave" onclick="ValidateDate()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>

                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-2">
                            <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-offset-4 col-md-2">
                            <input type="text" placeholder="Search by ContainerNo/CfsCode" id="SearchCont" />
                        </div>

                        <div class="col-md-2">
                            <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12" id="DivListOfInvoice">
                            @*<table class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <td>Sl No</td>
                                        <td>Movement Date</td>
                                        <td>Container No</td>
                                        <td>CfS Code</td>
                                        


                                    </tr>
                                </thead>
                            </table>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")
<div class="modal fade mTabindex" id="PartyModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseParty()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Party Name Or Party Code" id="Partybox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchPartyByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Party Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                        <tbody>
                            @{
                                if (ViewBag.lstParty != null)
                                {
                                    var tabvalue = 401;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.lstParty)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="SelectParty(@item.PartyId,'@item.PartyName','@item.Address','@item.StateName','@item.StateCode','@item.GSTNo')" onclick="SelectParty(@item.PartyId,'@item.PartyName','@item.Address','@item.StateName','@item.StateCode','@item.GSTNo')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.PartyName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseParty()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="PayeeModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ClosePayee()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payer</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Payer Name Or Payer Code" id="Payeebox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchPayeeByPayeeCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Payer Name</th>
                            <th colspan="4" width="20%">Payer Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_1">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tblePayee">
                        <tbody>
                            @{
                                if (ViewBag.lstPayee != null)
                                {
                                    var tabvalue = 401;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.lstPayee)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="SelectPayee(@item.PartyId,'@item.PartyName')" onclick="SelectPayee(@item.PartyId,'@item.PartyName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.PartyName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.StatePayee != null && Convert.ToBoolean(ViewBag.StatePayee) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadMorePayee">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadMorePayee" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ClosePayee()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="stuffingModal" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="ListHead">List of Appraisement Application</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" tabindex="401" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="PartyModal" class="modal fade mTabindex" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Party</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Partybox" type="text" />
                    <ul class="navList" id="lstParty">

                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="PayeeModal" class="modal fade mTabindex" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Payer</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Payeebox" type="text" />
                    <ul class="navList" id="lstPayee">

                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div id="Containerdtl" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal" onclick="ContainerSelect();"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container</h4>
            </div>
            <div class="modal-body popup_body">

                <table id="lstcfsCode" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="ContainerSelect();">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="HnTModal" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstHT"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="BindHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NewHnTModal" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstNewHT"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="EmptyContainerdtl" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="EmptyContainerClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Empty Container</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="EcCfsCodeBox" type="text" tabindex="401" />
                <ul class="navList" id="lstEcont"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="EmptyContainerClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>

    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        LoadParty();
    });
    function ValidateDate() {
        
       // $("#BtnSave").attr('disabled', true);
        $('form#MovementEntry').submit();
        debugger;
        //if ($('#MovementEntryDate').val() > $('#EmptyDate').val()) {

        //    alert("MovementDate Can't Be Greater than Entry Date:" + $('#EmptyDate').val());
        //    return false;
        //}
        //else {
        //    $('form#MovementEntry').submit();


        //}

    }
    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    })

    $('#MovementEntryDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='BOEDate']").html('');
        },

        onSelect: function () {
            // The "this" keyword refers to the input (in this case: #someinput)
            $('#ShippingLineName').focus();
        }
    });
    $('#MovementEntryDate').datepicker().datepicker('setDate', new Date());
    function EmptyconMovmntOnFailure() { $("#BtnSave").attr('disabled', true); }
    function EmptyconMovmntOnSuccess(data) {
        debugger;
        $("#BtnSave").attr('disabled', true);
        if (data.Status == 2) {
            $('#DivPaySheetCargoMsg').html('');
            $('#DivPaySheetCargoMsg').html(data.Message);
            setTimeout(function () {
                $('#DivBody').load('/Import/Kdl_CWCImport/CreateEmptyContMovementEntry');
            }, 3000)

           

            //   setTimeout(CstmAppraiseOnSuccess, TimeInSeconds);
            // $('#ContainerList #' + $('#ContainerNo').val()).remove();
            // setTimeout(ResetAllFields, TimeInSeconds);
            // GetCustomAppraisementList();
        }
        else if (data.Status == 4) {
                $('#DivPaySheetCargoMsg').html('');
                $('#DivPaySheetCargoMsg').html(data.Message + "  :" + data.Data);
                setTimeout(function () {
                    $('#DivBody').load('/Import/Kdl_CWCImport/CreateEmptyContMovementEntry');
        }, 3000)
        }
        else {
            
                $('#DivPaySheetCargoMsg').html(data.Message);
                setTimeout(function () {
                    $('#DivBody').load('/Import/Kdl_CWCImport/CreateEmptyContMovementEntry');
                }, 3000)
            
        }
    }

    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        $('#InvoiceDate').focus();

        ////$('#InvoiceDate').datetimepicker({
        //    showOn: "button",
        //    buttonImage: "/Content/images/calendar.png",
        //    buttonImageOnly: true,
        //    dateFormat: "dd/mm/yy",
        //    altField: "#slider_example_4andHalf_alt",
        //    altFieldTimeOnly: false,
        //    onClose: function () {
        //        $(".Date_Img .Error_Msg").text("");
        //        $('[data-valmsg-for="Data"]').html('<span></span>');

        //        if ($('#StuffingReqNo').val() != "") {
        //            ContainerBinding($('#StuffingReqId').val());
        //        }
        //    }
        //});
        $('#btnPrint').attr('disabled', true);

    });



    function StuffingReqBinding() {
        if ($('#hdnStuffingReq').val() != '') {
            var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
            var html = '';
            var tab = 401;
            $.each(StuffingJson, function (i, item) {
                html += '<li tabindex=' + tab + '_' + i + ' id="' + item.StuffingReqId + '" onkeypress="selectStuffing(' + item.StuffingReqId + ');" onclick="selectStuffing(' + item.StuffingReqId + ');">' + item.StuffingReqNo + '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });


    function EmptyContainerdtlBinding() {
        debugger;
        $.ajax({
            url: '/Import/Kdl_CWCImport/EmptyContainerdtlBinding',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#hdnEmptyContList').val(data);
                    var EcJson = JSON.parse(data);
                    var html = '';
                    var tab = 401;
                    $.each(EcJson, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' id="' + item.CfsCode + '" onkeypress="selectEmptyCont(' + item.EntryId + ');" onclick="selectEmptyCont(' + item.EntryId + ');">' + item.ContainerNo + '-' + item.CfsCode + '</li>';
                    });
                    $('#lstEcont').html(html);
                }
            }
        });
    }

    $('#EcCfsCodeBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstEcont > li').show();
        else {
            $('#lstEcont > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    function selectEmptyCont(id) {
        debugger;
        var EcJson = JSON.parse($('#hdnEmptyContList').val());
        var cfscodeobj = $.grep(EcJson, function (item) { return item.EntryId == id; })[0];
       // $('#StuffingReqId').val(cfscodeobj.EntryId);
        $('#CfsCode').val(cfscodeobj.CfsCode);
        $('#ContainerNo').val(cfscodeobj.ContainerNo);
        $('#Size').val(cfscodeobj.Size);
       // $('#StuffingReqDate').val(cfscodeobj.EmptyDate);
        $('#ShippingLineId').val(cfscodeobj.ShippingLineId);
        $('#ShippingLineName').val(cfscodeobj.ShippingLineName);
        //   $('#PayeeId').val(cfscodeobj.ShippingLineId);
        //   $('#PayeeName').val(cfscodeobj.ShippingLineName);
     //   $('#GSTNo').val(cfscodeobj.GSTNo);
       // $('#GSTNo2').val(cfscodeobj.GSTNo);
        //$('#hdnAddress').val(cfscodeobj.Address);
        //$('#hdnState').val(cfscodeobj.StateName);
        //$('#PlaceOfSupply').val(cfscodeobj.StateName);
        //$('#hdnStateCode').val(cfscodeobj.StateCode);
        $("#EmptyContainerdtl").modal("hide");
       // ContainerBinding(id);
        $('#ShippingLineName').focus();
    }

    function EmptyContainerClose() {
        $('#EcCfsCodeBox').val('');
        $("#EmptyContainerdtl").modal("hide");
        $('#containerNo').focus();
    }
    function selectStuffing(id) {
        var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.StuffingReqId == id; })[0];
        //$('#StuffingReqId').val(StuffingRequest.StuffingReqId);
        $('#ContainerNo').val(StuffingRequest.StuffingReqNo);
        //$('#StuffingReqDate').val(StuffingRequest.StuffingReqDate);
        $('#SlippingLineId').val(StuffingRequest.CHAId);
        $('#ShippingLineName').val(StuffingRequest.CHAName);
        //  $('#PayeeId').val(StuffingRequest.CHAId);
        //  $('#PayeeName').val(StuffingRequest.CHAName);
      //  $('#GSTNo').val(StuffingRequest.CHAGSTNo);
        //$('#GSTNo2').val(StuffingRequest.CHAGSTNo);
        //$('#hdnAddress').val(StuffingRequest.Address);
        //$('#hdnState').val(StuffingRequest.State);
       // $('#PlaceOfSupply').val(StuffingRequest.State);

       //// $('#hdnStateCode').val(StuffingRequest.StateCode);
       // $("#stuffingModal").modal("hide");
        ContainerBinding(id);
    }
    function ContainerBinding(id) {
        $.ajax({
            url: '/Import/Wfld_CWCImport/GetPaymentSheetEmptyCont',
            type: 'GET',
            data: {
                InvoiceFor: ForType,
                AppraisementId: id
            },
            dataType: 'JSON',
            success: function (data) {
                $('#ContainerJson').val(data);
                debugger;
                ContainerJson = JSON.parse(data);
                var html = '';
                $.each(ContainerJson, function (i, item) {
                    if (item.Selected)
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" checked id="' + item.CfsCode + '"/><label for="' + item.CfsCode + '"><i class="square" style="margin-left:10px;"></i></label></div></td><td>' + item.CfsCode + '</td><td>' + item.ContainerNo + '</td></tr>';
                    else
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" id="' + item.CfsCode + '"/><label for="' + item.CfsCode + '"><i class="square" style="margin-left:10px;"></i></label></div></td><td>' + item.CfsCode + '</td><td>' + item.ContainerNo + '</td></tr>';
                });
                $('#lstcfsCode tbody').html(html);

                ContainerSelect();
            }
        });
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //function selectParty(id) {
    //    var PartyJson = JSON.parse($('#hdnPartyPayee').val());
    //    var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
    //    $('#PartyId').val(Party.PartyId);
    //    $('#PartyName').val(Party.PartyName);
    //    $('#GSTNo').val(Party.GSTNo);
    //    $('#hdnAddress').val(Party.Address);
    //    $('#hdnState').val(Party.State);
    //    $('#hdnStateCode').val(Party.StateCode);
    //    if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
    //        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
    //        rawJson.PartyId = $('#PartyId').val();
    //        rawJson.PartyName = $('#PartyName').val();
    //        rawJson.PartyGST = $('#GSTNo').val();
    //        rawJson.PartyAddress = $('#hdnAddress').val();
    //        rawJson.PartyState = $('#hdnState').val();
    //        rawJson.PartyStateCode = $('#hdnStateCode').val();
    //        rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
    //        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
    //    }
    //    $("#PartyModal").modal("hide");
    //}

    //function PayeeBinding() {
    //    var PartyJson = JSON.parse($('#hdnPartyPayee').val());
    //    var html = '';
    //    $.each(PartyJson, function (i, item) {
    //        html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
    //    });
    //    $('#lstPayee').html(html);
    //}
    //$('#Payeebox').keyup(function () {
    //    var val = $(this).val().toLowerCase();
    //    if (val == "")
    //        $('#lstPayee > li').show();
    //    else {
    //        $('#lstPayee > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
    //        });
    //    }
    //});
    //function selectPayee(id) {
    //    var PartyJson = JSON.parse($('#hdnPartyPayee').val());
    //    var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
    //    $('#PayeeId').val(Party.PartyId);
    //    $('#PayeeName').val(Party.PartyName);
    //    $("#PayeeModal").modal("hide");
    //}
    function SelectParty(PartyId, PartyName) {
        debugger;
        //$('#ShippingLine').val(ShippingLineName);
        //$('#ShippingLineId').val(ShippingLineId);
        //$("#ShippingLineModal").modal("hide");
        // $('#ShpngLinebox').val('');
        // LoadEximTrader();
        $('#ShippingLineId').val(PartyId);
        $('#ShippingLineName').val(PartyName);
        //$('#GSTNo').val(GSTNo);
        //$('#hdnAddress').val(Address);
        //$('#hdnState').val(StateName);
        //$('#PlaceOfSupply').val(StateName);

        //$('#hdnStateCode').val(StateCode);
        //if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
        //    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        //    rawJson.PartyId = $('#PartyId').val();
        //    rawJson.PartyName = $('#PartyName').val();
        //    rawJson.PartyGST = $('#GSTNo').val();
        //    rawJson.PartyAddress = $('#hdnAddress').val();
        //    rawJson.PartyState = $('#hdnState').val();
        //    rawJson.PartyStateCode = $('#hdnStateCode').val();
        //    rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
        //    $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        //}
        $("#PartyModal").modal("hide");
        LoadParty();
        $('#Remarks').focus();
    }

    var Page = 0;

    function LoadParty() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Import/Kdl_CWCImport/LoadPartyLists',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.lstParty, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName +'&quot;)" onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tbleParty tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function LoadMoreParty() {
        debugger;
        $.ajax({
            url: '/Import/Kdl_CWCImport/LoadPartyLists',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.lstParty, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName  + '&quot;)" onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName+ '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleParty tbody').html(html);
                    else
                        $('#tbleParty tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }
    /*$('#Partybox').on('keyup', function (e) {
    function Partyboxkeyup(e)
    {
        if ((e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 13 || e.keyCode == 46 || e.keyCode == 47)
        {
            SearchPartyByPartyCode();
        }
    }
    });*/
    function SearchPartyByPartyCode() {
        debugger;
        if ($('#Partybox').val() != '') {
            $.ajax({
                url: '/Import/Kdl_CWCImport/SearchPartyNameByPartyCodes',
                type: 'GET',
                data: { PartyCode: $('#Partybox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        var tab = 401;
                        $.each(data.Data.lstParty, function (item, elem) {
                            html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName +  '&quot;)" onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName+'&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleParty tbody').html('');
                        $('#tbleParty tbody').html(html);
                        $('#btnLoadMore').prop('disabled', true);
                        Page = -1;
                    }
                    else {
                        $('#tbleParty tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadParty();
    }

    function CloseParty() {
        $('#Partybox').val('');
        $("#PartyModal").modal("hide");
        LoadParty();
        $('#ShippingLineName').focus();
    }


    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('Partybox').addEventListener('keyup', debounce(function () {
        SearchPartyByPartyCode();
    }, 800));
    document.getElementById('Payeebox').addEventListener('keyup', debounce(function () {
        SearchPayeeByPayeeCode();
    }, 800));


   
    function PartyBinding() {
        debugger;
        $.ajax({
            // url: '/Import/Wfld_CWCImport/PartyBinding',
            url: '@Url.Action("PartyBinding", "Kdl_CWCImport", new { Area = "Import" })',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#hdnPartyPayee').val(data);
                    PartyJson = JSON.parse(data);
                    $('#hdnPartyPayee').val(data);
                    var PartyJson = JSON.parse($('#hdnPartyPayee').val());

                    var html = '';
                    var tab = 401;
                    $.each(PartyJson, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' id="' + item.PartyId + '" onkeypress="selectParty(' + item.PartyId + ');" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
                    });
                    $('#lstParty').html(html);
                }
            }
        });
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function hideMsg(elem) {
        $(elem).parent().find(".field-validation-error").html(" ");
    }
    function selectParty(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        $('#PartyName').val(Party.PartyName);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();
            rawJson.PartyAddress = $('#hdnAddress').val();
            rawJson.PartyState = $('#hdnState').val();
            rawJson.PartyStateCode = $('#hdnStateCode').val();
            rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
    }

    function PayeeBinding() {
        $.ajax({
            // url: '/Import/Wfld_CWCImport/PartyBinding',
            url: '@Url.Action("PartyBinding", "Wfld_CWCImport", new { Area = "Import" })',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                alert(data);
                debugger;
                if (data != '') {
                    //  $('#hdnPartyPayee').val(data);
                    //  PartyJson = JSON.parse(data);
                    // var PartyJson = JSON.parse(data);
                    $('#hdnPartyPayee').val(data);
                    var PartyJson = JSON.parse($('#hdnPartyPayee').val());
                    var html = '';
                    var tab = 401;
                    $.each(PartyJson, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' id="' + item.PartyId + '" onkeypress="selectPayee(' + item.PartyId + ');" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
                    });
                    $('#lstPayee').html(html);

                }
            }
        });
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });


    function selectPayee(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Party.PartyName);
        $('#GSTNo2').val(Party.GSTNo);
        $("#PayeeModal").modal("hide");
    }
</script>
<script>
    //$('#Containerdtl').on('hidden.bs.modal', function () {
    //    ContainerSelect();
    //})
    ArrayContainer = [];
    function ContainerSelect() {
        debugger;

        //if ($('#NoOfCasualLabourSupplied').val() == "") {
        //$('#ErrCasualLabour').html('Fill Out This Field');
        //Status = false;
        //}
        //else {
        //$("#NoOfCasualLabourSupplied").prop("readonly", true);
        $('#lstcfsCode tbody tr').each(function () {
            debugger;
            var Chk = $(this).find('input[type="checkbox"]');
            if ($(Chk).is(':checked')) {
                var Container = {
                    "CfsCode": $(Chk).attr('id'),
                    "ContainerNo": '',
                    "Selected": true,
                    "Size": '',
                    "ArrivalDt": '',
                    "IsHaz": '',
                    "LCLFCL": '',
                    "LineNo": '',
                    "BOENo": '',
                    "BOEDate": ''
                }
                ArrayContainer.push(Container);
            }
        });
    }


    //function AddHnTCharges() {
    //    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
    //    var rowCount = rawJson.lstPostPaymentChrg.length;
    //    var html = '';
    //    var TotalHT = 0;
    //    var htWithOutTax = 0;
    //    for (var i = 0; i < $("#lstNewHT li").length; i++) {
    //        if ($('#chkNHT' + i).prop("checked")) {
    //            $('#chkNHT' + i).removeAttr('checked');
    //            var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
    //            rawJson.lstPostPaymentChrg.push(item);
    //            TotalHT += item.Total;
    //            htWithOutTax += item.Amount;
    //            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
    //                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
    //                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
    //                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
    //                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
    //                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
    //                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
    //                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
    //                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
    //                                + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
    //            rowCount += 1;
    //        }
    //    }
    //    $('#tblHTCharges tbody').append(html);
    //    rawJson.HTTotal += TotalHT;
    //    rawJson.TotalAmt = rawJson.CWCAmtTotal + TotalHT;
    //    rawJson.HTAmtTotal += htWithOutTax;
    //    $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
    //    CalcTax(1);
    //}

    var indx = 0;


    function BindJson() {
        debugger;
        // var total = $('#TOTCWCChrg').val();
        var total = $('#InvoiceValue').val();

        if (total > 0 && $('#PayeeName').val() != '') {

            var conf = confirm("Do you want to save ?");
            if (conf) {
                try {
                    debugger;
                    $('#btnSave').attr('disabled', true);
                    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                    rawJson.InvoiceId = 0;
                    rawJson.InvoiceType = TaxType;
                    rawJson.InvoiceDate = $('#InvoiceDate').val();
                    rawJson.RequestId = $('#StuffingReqId').val();
                    rawJson.RequestNo = $('#StuffingReqNo').val();
                    rawJson.RequestDate = $('#StuffingReqDate').val();
                    rawJson.PartyId = $('#PartyId').val();
                    rawJson.PartyName = $('#PartyName').val();
                    rawJson.PayeeId = $('#PayeeId').val();
                    rawJson.PayeeName = $('#PayeeName').val();
                    rawJson.PartyGST = $('#GSTNo').val();
                    rawJson.Remarks = $('#Remarks').val();
                    rawJson.PartyAddress = $('#hdnAddress').val();
                    rawJson.PartyState = $('#hdnState').val();
                    rawJson.PartyStateCode = $('#hdnStateCode').val();
                    rawJson.RoundUp = parseFloat($('#RoundUp').val());
                    rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    rawJson.InvoiceHtml = "";

                    $.each(rawJson.lstPostPaymentChrg, function (i, item) {
                        debugger;
                        if (item.ChargeId.toString().indexOf('_') != -1) {
                            item.ChargeId = Number(item.ChargeId.split('_')[0]);
                        }
                    });

                    $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                    $('form#PaymentSheetForm').submit();
                }
                catch (e) {
                    $('#btnSave').removeAttr('disabled');
                }
            }
        }
        else {
            alert('Invoice Amount cannot be Zero or Negative or Payer Name can not be blank');
            return false;
        }
    }




</script>
<script>
    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#InvoiceNo').val(data.Data.InvoiceNo);
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnPrint').removeAttr('disabled');
            //$('#btnSave').attr('disabled', true);
            //setTimeout(ResetField, TimeInSeconds);
        }
        else if (data.Status == 3) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnPrint').attr('disabled', true);
            //setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg')) {
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                $('#btnSave').removeAttr('disabled');
                $('#btnPrint').attr('disabled', true);
            }
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        $('#btnPrint').attr('disabled', true);
        alert("Error");
    }
    function ResetField() {
        debugger;
        $('#DivBody').load('/Import/Kdl_CWCImport/CreateEmptyContMovementEntry');
    }


    $('#EmptyContainerdtl').on('shown.bs.modal', function () {
        $('#EcCfsCodeBox').focus();
    });
    $('#PartyModal').on('shown.bs.modal', function () {
        $('#Partybox').focus();
    });
    $('#PayeeModal').on('shown.bs.modal', function () {
        $('#Payeebox').focus();
    });





    $('.mTabindex').keydown(function (e) {
        //debugger;
        var $focusable = $(this).find("[tabindex]:not([tabindex='-1'])");
        if ($focusable.last().is(":focus") && !e.shiftKey && e.key == "Tab") {
            e.preventDefault();
            $focusable.first().focus();
        }
        else
            if ($focusable.first().is(":focus") && e.shiftKey && e.key == "Tab") {
                e.preventDefault();
                $focusable.last().focus();
            }
    });
    function PopupActivate(Id) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');


            if (Id == "EmptyContainerdtl") {
                EmptyContainerdtlBinding();
                $('#EcCfsCodeBox').focus();
            }
            if (Id == "PartyModal") {

                $('#Partybox').focus();
            }
            if (Id == "PayeeModal") {

                $('#Payeebox').focus();
            }
        }
    }
    function ShowList() {

        $('#DivListOfInvoice').load('/Import/Kdl_CWCImport/GetEmptyContMovementList');
    }
    function SearchInvoice() {
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true)
            $('#DivListOfInvoice').load('/Export/WFLD_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + "&Module=EC");
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/Export/WFLD_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + "&Module=EC");
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Export/WFLD_CWCExport/ListOfExpInvoice?InvoiceDate=' + InvoiceDate + "&Module=EC");
    }
    function Validate() {
        debugger;
        var date = document.getElementById("SearchInvoiceDate").value.split("/");
        var day = date[0];
        var month = date[1];
        var dateString = document.getElementById("SearchInvoiceDate").value;
        var regex = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;

        if (day > 31) {
            alert("Please enter correct date");
            return false;
        }
        else
            if (month > 12) {
                alert("Please enter correct Month");
                return false;
            }
        return true;
    }

    function checks() {
        debugger;

        $('#InvoiceDate').val($('#InvoiceDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

    }
    function checkdat() {
        debugger;
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        var hh = today.getMinutes();
        var mu = today.getSeconds();

        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        if (hh < 10) {
            hh = '0' + hh;
        }
        if (mu < 10) {
            mu = '0' + mu;
        }

        var date = dd + '/' + mm + '/' + yyyy;
        var time = hh + ':' + mu;
        var dateTime = date + ' ' + time;
        if ($('#InvoiceDate').val() != '') {
            var result = moment($('#InvoiceDate').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#Msges').html('Incorrect Date');
                setTimeout(function () { $('#Msges').html(''); }, 3000);
                $('#InvoiceDate').val(dateTime);
            }
        }

    }
</script>



