@model CwcExim.Areas.Import.Models.KDL_ImportBondConversion

@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}

<style>
    .sec_dvsn_area{
        border: 1px solid #f7a654;
    }
    .sec_dvsn {
        border-left: 1px solid #f7a654;
        width: 50%;
        float:left;
    }
    .sec_dvsn h4 {
        border-bottom: 1px solid #f7a654;
        background: none;
        padding: 10px;
        margin: 0;
        color: #fe9b35;
    }
    .sec_dvsn_wrp {
       padding: 8px;
    }
</style>

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "BondConvOnSuccess";
    options.OnFailure = "BondConvOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

@using (Ajax.BeginForm("AddEditImportBondConversion", "Kdl_CWCImport", options))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MovementId)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-12">
                                <h4>Transfer of Import Stock to Bond</h4>
                            </div>
                        </div>

                        <div class="row Form_Space_top SignUp_space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Transfer No :</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m=>m.MovementNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-5">
                                    <label>Date :</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    <span class="ReQSimbol">*</span>
                                    @*<input class="form-control" type="text" id="MovementDate" readonly="readonly" />*@
                                    @Html.TextBoxFor(m=>m.MovementDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="sec_dvsn_area">
                            <div class="sec_dvsn" style="border-left:0;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>FROM</h4>
                                    </div>
                                </div>
                                <div class="sec_dvsn_wrp">

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>OBL / HBL NO :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.HiddenFor(m => m.DestuffingId)
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.OBLNo, new { @class = "form-control input_sm", @readonly = true })
                                                <span class="search" id="OBLSerach"><i aria-hidden="true" data-toggle="modal" id="OBL"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>OBL / HBL Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.OBLDate, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Godown Name :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.HiddenFor(m => m.FromGodownId)
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.FromGodownName, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Location :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.HiddenFor(m=>m.FromLocationId)
                                                @Html.TextBoxFor(m => m.FromLocationName, new { @class = "form-control input_sm", @readonly = true })                                                
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>No of Pkg :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control input_sm", onkeypress = "return AllowOnlyDecimal(event)", onchange = "ValidOBLTextBoxes()" })                                                
                                                @Html.HiddenFor(m=>m.RemainingNoOfPkg, new { @id= "hdnNoOfPkg" })
                                                @Html.HiddenFor(m => m.NoOfPkg, new { @id = "hdnNoOfPkgOriginal" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Weight(kg) :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input_sm", onkeypress = "return AllowOnlyDecimal(event)", onchange = "ValidOBLTextBoxes()" })                                                
                                                @Html.HiddenFor(m => m.RemainingGrWeight, new { @id = "hdnWeight" })
                                                @Html.HiddenFor(m => m.Weight, new { @id = "hdnWeightOriginal" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>SQM :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input_sm", onkeypress = "return AllowOnlyDecimal(event)", onchange = "ValidOBLTextBoxes()" })                                                
                                                @Html.HiddenFor(m => m.RemainingSQM, new { @id = "hdnSQM" })
                                                @Html.HiddenFor(m => m.SQM, new { @id = "hdnSQMOriginal" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top" style="display:none;">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>CUM :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CUM, new { @class = "form-control input_sm", @readonly = true })                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>CIF :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CIF, new { @class = "form-control input_sm",  onkeypress = "return AllowOnlyDecimal(event)", onchange = "ValidOBLTextBoxes()" })                                                
                                                @Html.HiddenFor(m => m.RemainingCIF, new { @id = "hdnCIF" })
                                                @Html.HiddenFor(m => m.CIF, new { @id = "hdnCIFOriginal" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>DUTY :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input_sm", onkeypress = "return AllowOnlyDecimal(event)", onchange = "ValidOBLTextBoxes()" })                                                
                                                @Html.HiddenFor(m => m.RemainingDuty, new { @id = "hdnDuty" })
                                                @Html.HiddenFor(m => m.Duty, new { @id = "hdnDutyOriginal" })
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="sec_dvsn">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>TO</h4>
                                    </div>
                                </div>
                                <div class="sec_dvsn_wrp">
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">                                                
                                                <label>SAC No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6">
                                                @Html.HiddenFor(m => m.SACId)
                                                @Html.TextBoxFor(m => m.SACNo, "", new { @class = "form-control input-sm", @readonly = true })
                                                <span style="display:none;" class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SacModal"></i></span>
                                                @Html.ValidationMessage("SACNo", new { @class = "Error_Msg" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">                                                
                                                <label>SAC Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6">
                                                @Html.TextBoxFor(m => m.SACDate, "", new { @class = "form-control input-sm", @readonly = true })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Godown Name :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true ,@onkeydown = "PopupActivate('godownModal');" , @tabindex=1 })
                                                <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="FocusOnSacGodown()" data-target="#godownModal"></i></span>
                                                @Html.HiddenFor(m => m.GodownId)
                                                @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Location :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6 Date_Img">
                                                @Html.HiddenFor(m => m.LocationId)
                                                @Html.TextBoxFor(m => m.Location, "", new { @class = "form-control input-sm", @readonly = true, onkeydown = "PopupActivate('LocationModal');" ,@tabindex = 2 })
                                                <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>WR No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input_sm", @tabindex = 3 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>WR Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5 Date_Img">
                                                @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input_sm", @readonly = true, @tabindex = 4 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Bond No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input_sm" , @tabindex = 5 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Bond Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5 Date_Img">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input_sm", @readonly = true, @tabindex = 6 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Custom Bond No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CustomBondNo, new { @class = "form-control input_sm", @tabindex = 7 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Custom Bond Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5 Date_Img">
                                                @Html.TextBoxFor(m => m.CustomBondDate, new { @class = "form-control input_sm", @readonly = true, @tabindex = 8 })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-4 padding_rt">
                                                <label>Custom Seal No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input_sm", @tabindex = 9 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ClearFix"></div>
                        </div>                        

                        <div class="row SignUp_space_top SignUp_space_bottom"></div>


                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" value="Save" name="Command" class="btn log_Btn_sm" id="BtnSave" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetMovement()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                <input type="button" value="Show List" name="Command" class="btn log_Btn_sm" id="BtnSave" onclick="GetMovementList()" tabindex=13 />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivMovementList"></div>
                        </div>
                    </div>                   
                </div>                
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                        @*@{
                                foreach (var item in Model.lstGdnWiseLctn)
                                {
                                    @Html.Label(item.Row + " " + item.Column, new { @for = item.LocationId })
                                    @Html.CheckBox(@item.LocationId.ToString())
                                }
                            }*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="OBLModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of OBL</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="OBLBox" type="text" />
                <ul class="navList" id="lstOBL">
                    @{
                        if (ViewBag.OBLList != null)
                        {
                            foreach (var item in ViewBag.OBLList)
                            {
                                <li id="@item.DestuffingId">@item.OBLNo</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="LocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Location</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Locationbox" type="text" />
                <ul class="navList" id="LocationList">
                    @*  @{
                            if (ViewBag.SacNoList != null)
                            {
                                foreach (var item in ViewBag.SacNoList)
                                {
                                    <li id="@item.SpaceappId" onclick="onSacNoClick(@item.EntryId,@item.SpaceappId,'@item.SacNo')">@item.SacNo</li>
                                }
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SacModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:80%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseSac()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SAC No</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By SAC No" id="SacBox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">SAC No</th>

                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_2">
                    <table class="table dataTable table-bordered table-striped" id="tbleSac">
                        @{
                            if (ViewBag.SacList != null)
                            {
                                foreach (var item in ViewBag.SacList)
                                {
                                    <tr onclick="SelectSac(@item.SACId,'@item.SACNo','@item.SACDate')">
                                        <td colspan="8" width="80%">@item.SACNo</td>

                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>       

        </div>
    </div>
</div>

<div id="godownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" type="text" tabindex="100" />
                <ul class="navList" id="lstGodown">
                      @{
                          if (ViewBag.GodownList != null)
                          {
                              var tabvalue = 101;
                              var tab = 0;
                              var u = "_";
                            
                              foreach (var item in ViewBag.GodownList)
                              {
                    <li  tabindex="@tabvalue@u@tab" id="@item.GodownId" >@item.GodownName</li>
                                  tab++;
                              }
                          }
        }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#GodownName").focus();
     //   GetMovementList();

        $("#MovementDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",            
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#WRDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#BondDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#CustomBondDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });       

    });

    $('#OBLBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstOBL > li').show();
        } else {
            $('#lstOBL > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#lstOBL li').on("click", function () {
        debugger;
        var obl = $(this).text().split('_');
        $('#OBLNo').val(obl[0]);
        $('#OBLDate').val(obl[1]);
        var destuffingId=$(this).attr('id');
        $('#DestuffingId').val($(this).attr('id'));
        $("#OBLModal").modal("hide");
        GetOBLDet(destuffingId);
    });

    $('#Godownbox').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstGodown > li').show();
        } else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    //function GetLoaction(destuffingId) {
    //    $.ajax({
    //        url: '/Import/DSR_CWCImport/GetLocationForBondTransfer',
    //        type: 'GET',
    //        dataType: 'JSON',
    //        data: { destuffingId: destuffingId },
    //        success: function (data) {
    //            if (data.Status == 1) {
    //                var Html = '';
    //                $.each(data.Data, function (i, item) {
    //                    Html += '<li onclick="FillLocationBox(' + item.FromLocationId + ',' + item.DestuffingEntryId + ',&quot;' + item.FromLocationName + '&quot;)">' + item.FromLocationName + '</li>';
    //                });
    //                $('#LocationList').html(Html);
    //            }
    //        }
    //    });
    //}

    function SelectSac(SACId, SACNo,SacDate) {
        debugger;
        $('#SACId').val(SACId);
        $('#SACNo').val(SACNo);
        $('#SACDate').val(SacDate);
        $('#SacModal').modal('hide');
        $('#SacBox').val('');
        //LoadCommodity();
    }

    $('#Locationbox').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#LocationModal .navList > li').show();
        } else {
            $('#LocationModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    function CloseSac() {
        $('#SacBox').val('');
        $("#SacModal").modal("hide");
        //LoadCommodity();
    }

    function GetOBLDet(DestuffingEntryId) {
        debugger;
        $.ajax({            
            url: '/Import/Kdl_CWCImport/GetOBLDetailsByDestuffingId',
            type: 'GET',
            async: false,
            datatype: JSON,
            data: { "DestuffingEntryId": DestuffingEntryId },
            success: function (data) {
                debugger;
                if (data.Status == 1) {                    
                    $('#FromGodownId').val(data.Data.FromGodownId);
                    $('#FromGodownName').val(data.Data.FromGodownName);
                    $('#FromLocationId').val(data.Data.FromLocationId);
                    $('#FromLocationName').val(data.Data.FromLocationName);
                    $('#NoOfPkg').val(data.Data.NoOfPkg);
                    $('#Weight').val(data.Data.Weight);
                    $('#SQM').val(data.Data.SQM);
                    $('#CUM').val(data.Data.CUM);
                    $('#CIF').val(data.Data.CIF);
                    $('#Duty').val(data.Data.Duty);
                }
            }
        });
    }


    $('#LocationSearch').on('click', function () {
        if ($('#GodownName').val() == '' ) {
            $('[data-valmsg-for="Location"]').html('<span>Select Godown.</span>');
        } else {
            $('#LocationModal').modal();
        }
    });

    $('#lstGodown li').on("keypress", function () {
        debugger;
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).attr('id'));
        $('#LocationId').val("");
        $('#Location').val("");
        var gid = $(this).attr('id');
        $('[data-valmsg-for="Location"]').html('<span></span>');

        $.ajax({

            url: '/Export/Kdl_CWCImport/GetLocationDetailsByGodownId',
            type: 'GET',
            data: { GodownId: gid },
            dataType: 'JSON',
            success: function (data) {

                LocationDetails = data;
                console.log(data);
                LocationDet();
            }
        });

        $('#godownModal').modal('hide');
        $("#Location").focus();
    });

    $('#lstGodown li').on("click", function () {
        debugger;
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).attr('id'));
        $('#LocationId').val("");
        $('#Location').val("");
        var gid = $(this).attr('id');
        $('[data-valmsg-for="Location"]').html('<span></span>');        
        
        $.ajax({

            url: '/Export/Kdl_CWCImport/GetLocationDetailsByGodownId',
            type: 'GET',
            data: { GodownId: gid },
            dataType: 'JSON',
            success: function (data) {

                LocationDetails = data;
                console.log(data);
                LocationDet();
            }
        });

        $('#godownModal').modal('hide');
        $('#Location').focus();
    });

    function GodownBinding() {
        if ($('#hdnGodownList').val() != '') {
            var GodownJson = JSON.parse($('#hdnGodownList').val());
            var html = '';
            $.each(GodownJson, function (i, item) {
                html += '<li id="' + item.GodownId + '" onclick="selectGodown(' + item.GodownId + ');">' + item.GodownName + '</li>';
            });
            $('#lstGodown').html(html);

        }
    }

    function LocationDet() {

        debugger;
        var htm = '';
        var cnt = 0;
        $.each(LocationDetails, function (i, data) {
            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" id="Loc' + data.LocationId + '"/><label for="Loc' + data.LocationId + '">' + data.LocationName + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
            if (cnt == 0) {
                $('#Location').val(data.LocationName);
                $('#LocationId').val(data.LocationId);
            }
            cnt = cnt + 1;
        });
        $('#DivLocationDet').html(htm);
    }

    function CheckBoxChange() {
        debugger;
        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '') {
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            }
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });        
        $('#Location').val(Locationtext);


        var LctnDet = $('#DivLocationDet').find('input[type="checkbox"]:checked');
        if (LctnDet != null && LctnDet != undefined) {
            var Det = '';
            $(LctnDet).each(function () {
                if (Det == '')
                    Det += $(this).prop('id').substring(3);
                else
                    Det += ',' + $(this).prop('id').substring(3);
            });
            $('#LocationId').val(Det);
        }

    }
    function BondConvOnSuccess(Data) {
        debugger;
        $('#DivErrMsg').html('');
        if (Data.Status == 1) {
            $('#DivSucMsg').html(Data.Message);
            // $('#savbtn').attr('disabled', 'disabled');
            //   $('#btnPrint').removeAttr('disabled');
             setTimeout(ResetMovement, 5000);
            GetMovementList();
            setTimeout(function () { $('#DivBody').load('/Import/Kdl_CWCImport/ImportBondConversion'); }, 5000);
        }
        else {
            $('#DivErrMsg').html(Data.Message);
            // setTimeout(function () { $('#DivErrMsg').html(''); }, 5000);
        }
    }
    function BondConvOnFailure() {

    }

    function ResetMovement() {
        debugger;
        $('#DivBody').load('/Import/Kdl_CWCImport/ImportBondConversion');
        @*$('#DivAddMovement').find('input:text,textarea').val('');
        $('#DivAddMovement').find('input:hidden').val('');
        $('#lstGdwnWiseLctn').html('');
        $('#DivSucMsg').html('');
        $('#DivErrMsg').html('');
        //$('#MovementDate').val('@ViewBag.CurrentDate');
        $('[data-valmsg=for]').html('<span></span>');*@
    }

    function GetMovementList() {
        $('#DivMovementList').load('/Import/Kdl_CWCImport/GetBondMovementList');
    }

    $('#BtnSave').on("click", function () {
        if ($('#OBLNo').val() == "" || $('#OBLNo').val() == undefined) {
            alert("Enter OBLNo !!");
            return false;
        }
        else if ($('#SQM').val() == 0 || $('#SQM').val() == "" || $('#SQM').val() == undefined) {
            alert("Enter SQM !!");
            return false;
        }
        else if ($('#GodownName').val() == "" || $('#GodownName').val() == undefined) {
            alert("Enter Godown Name !!");
            return false;
        }
        //else if ($('#WRNo').val() == "" || $('#WRNo').val() == undefined) {
        //    alert("Enter WR No !!");
        //    return false;
        //}
        //else if ($('#WRDate').val() == "" || $('#WRDate').val() == undefined) {
        //    alert("Enter WR Date !!");
        //    return false;
        //}
        else if ($('#BondNo').val() == "" || $('#BondNo').val() == undefined) {
            alert("Enter Bond No !!");
            return false;
        }
        else if ($('#BondDate').val() == "" || $('#BondDate').val() == undefined) {
            alert("Enter Bond Date !!");
            return false;
        }
        else {
            return true;
        }
    });

    function ValidOBLTextBoxes() {
        var noOfPkgtxt = 0;
        var noOfPkghdn = $('#hdnNoOfPkg').val();
        if ($('#NoOfPkg').val() != null && $('#NoOfPkg').val() != '') {
            noOfPkgtxt = parseFloat($('#NoOfPkg').val());
        }
        if (parseFloat(noOfPkghdn) < parseFloat(noOfPkgtxt)) {
            $('#NoOfPkg').val($('#hdnNoOfPkgOriginal').val());
            alert("No of Pkg must be less than or equal to " + noOfPkghdn + ".");
            return;
        }

        var Weighttxt = 0;
        var Weighthdn = $('#hdnWeight').val();
        if ($('#Weight').val() != null && $('#Weight').val() != '') {
            Weighttxt = parseFloat($('#Weight').val());
        }
        if (parseFloat(Weighthdn) < parseFloat(Weighttxt)) {
            $('#Weight').val($('#hdnWeightOriginal').val());
            alert("Weight must be less than or equal to " + Weighthdn + ".");
            return;
        }

        var SQMtxt = 0;
        var SQMhdn = $('#hdnSQM').val();
        if ($('#SQM').val() != null && $('#SQM').val() != '') {
            SQMtxt = parseFloat($('#SQM').val());
        }
        if (parseFloat(SQMhdn) < parseFloat(SQMtxt)) {
            $('#SQM').val($('#hdnSQMOriginal').val());
            alert("SQM must be less than or equal to " + SQMhdn + ".");
            return;
        }

        var CIFtxt = 0;
        var CIFhdn = $('#hdnCIF').val();
        if ($('#CIF').val() != null && $('#CIF').val() != '') {
            CIFtxt = parseFloat($('#CIF').val());
        }
        if (parseFloat(CIFhdn) < parseFloat(CIFtxt)) {
            $('#CIF').val($('#hdnCIFOriginal').val());
            alert("CIF must be less than or equal to " + CIFhdn + ".");
            return;
        }

        var Dutytxt = 0;
        var Dutyhdn = $('#hdnDuty').val();
        if ($('#Duty').val() != null && $('#Duty').val() != '') {
            Dutytxt = parseFloat($('#Duty').val());
        }
        if (parseFloat(Dutyhdn) < parseFloat(Dutytxt)) {
            $('#Duty').val($('#hdnDutyOriginal').val());
            alert("Duty must be less than or equal to " + Dutyhdn + ".");
            return;
        }
    }

    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }

    function FocusOnSacGodown() {
        setTimeout(function () { $('#Godownbox').focus(); }, 1000);
    }


    function PopupActivate(Id) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            debugger;
            $('#' + Id).modal('show');

            //if (Id == "OBLModal") {
            //    debugger;
            //    FocusOnOBLModal();
            //}

            //if (Id == "godownModalOBL") {
            //    $('#GodownboxOBL').focus();

            //}
            if (Id == "godownModal") {
                FocusOnSacGodown();
            }


            //if (Id == "SacModal") {
            //    $('#SacBox').focus();
            //    FocusOnSacNoSearch();
            //}
            //if (Id == "CommodityModal") {
            //    $('#CommodityBox').focus();
            //}
            //if (Id == "IssuePartyModal") {
            //    IssuePartySearch();
            //    $('#Issuebox').focus();
            //}
            //if (Id == "CargoPartyModal") {
            //    CargoPartySearch();
            //    $('#Cargobox').focus();
            //}
            //if (Id == "GodownModal") {
            //    GodownSearch();
            //    $('#Godownbox').focus();
            //}
            //if (Id == "LocationModal") {
            //    $('#DivLocationDet').focus();
            //}

        }
    }

</script>


