@model IEnumerable<CwcExim.Areas.Import.Models.Kdl_EmptyMovement>

<script>

   // var r2 = JSON.parse($("#hdnRights").val());
   // if (r2.lstMenu[0].CanEdit == 1) {
        //$('.edit').css('display', 'block');
        //$('.edit').disabled=false;
    //} else {
        //$('.edit').css('display', 'none');
       // $('.edit').css('pointer-events', 'none');
        // $('.edit').attr('onclick', 'return false');
    //}

    //if (r2.lstMenu[0].CanDelete == 1) {
        //$('.delete').css('display', 'block');

    //} else {
        //$('.delete').css('display', 'none');

        //   $('.delete').removeAttr('onclick');
        //  $('.delete').attr('onclick', 'return false');
       // $('.delete').css('pointer-events', 'none');
    //}

    //if (r2.lstMenu[0].CanView == 1) {
        //$('.view').css('display', 'block');

    //} else {
        //$('.view').css('display', 'none');
        //   $('.view').removeAttr('onclick');
        // $('.view').attr('onclick', 'return false');
      //  $('.view').css('pointer-events', 'none');
    //}
    $(document).ready(function () {
        var tblFormOne = $('#tblFormOne').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                    { "sName": "SL No", "width": "10%" },
                    { "sName": "MovementDate", "bSortable": false },
                    { "sName": "ContainerNo", "bSortable": false },
                    { "sName": "CFS Code" },
                     { "sName": "ShippingLineName" },
                     
                    { "sName": "View", "bSortable": false, "width": "10%" },
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
                    
            ]
        });
        new $.fn.dataTable.FixedHeader(tblFormOne);
    });
    function ViewECM(Id) {
        $('#DivBody').load('/Import/Kdl_CWCImport/ViewECM?Id=' + Id);
    }
    function EditECM(Id) {
        $('#DivBody').load('/Import/Kdl_CWCImport/EditECM?Id=' + Id);
    }
    function DeleteECM(Id) {
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("DeleteECM", "Kdl_CWCImport", new { areas= "Import" }) ',
                type: 'POST',
                data: { Id: Id },
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                success: function (data) {
                    alert(data.Message);
                    $('#DivBody').load('/Import/Kdl_CWCImport/CreateEmptyContMovementEntry');
                }
            });
        }
    }
    function PrintFormOne(FormOneId) {
        debugger;
        $.ajax({
            url:  '/Import/Hdb_CWCImport/PrintFormOneFCL?FormOneId=' + FormOneId,
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1) {
                    window.open(data.FileUrl + '?t=' + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                    //GeneratePDF(data.Data);
                }
                else {
                    alert("Error");
                }
            }
        });
    }
</script>
<table id="tblFormOne" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m =>m.MovementEntryDate)</th>
            <th>@Html.DisplayNameFor(m => m.ContainerNo)</th>
            <th>CFS Code</th>
            <th>@Html.DisplayNameFor(m => m.ShippingLineName)</th>
         
            @*<th>@Html.DisplayNameFor(m => m.ContainerSize)</th>*@
            <th style="text-align:center;">@Html.DisplayName("View")</th>
            <th style="text-align:center;">@Html.DisplayName("Edit")</th>
            <th style="text-align:center;">@Html.DisplayName("Delete")</th>
            @*<th style="text-align:center;">@Html.DisplayName("Print")</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.MovementEntryDate)</td>
                    <td>@Html.DisplayFor(m => item.ContainerNo)</td>
                    <td>@Html.DisplayFor(m => item.CfsCode)</td>
                    <td>@Html.DisplayFor(m => item.ShippingLineName)</td>
                  @*  //<td>@Html.DisplayFor(m => item.ContainerSize)</td>*@
                    <td style="text-align:center"><a href="#" class="view" onclick="ViewECM(@item.EntryId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" class="edit" onclick="EditECM(@item.EntryId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" class="delete" onclick="DeleteECM(@item.EntryId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    @*<td style="text-align:center"><a href="#" onclick="PrintFormOne(@item.EntryId)"><i class="fa fa-print Edit" aria-hidden="true"></i></a></td>*@
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>

