@model CwcExim.Areas.Import.Models.ImportJobOrder
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Empty Container Job Order</h4>
                    </div>
                </div>

                @Html.HiddenFor(m => m.StringifyXML)
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Pickup Location:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.PickUpLocation, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        
                        
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Job Order For:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            <div class="boolean-container">
                                @Html.RadioButtonFor(m => m.JobOrderFor, "1", new { @id = "rbLC", @checked = true })
                                <label for="rbLC"><i class="circle"></i><span>Empty Container</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Job Order No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.JobOrderNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3">
                            <label>Job Order Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.JobOrderDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">

                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Shipping Line Name:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "InputLabel", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>CHA Name:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">

                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "InputLabel", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12" id="DivFormOneDet">
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" id="btnBack" class="btn log_Btn_sm" value="Back" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var FormOneDetails = [];
    $(function () {
        FormOneDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyXML)));
        GenerateTable();
    });
    function GenerateTable() {
        var html = '';
        if ($("#Branch").val() == 4) {

            html = '<table class="table table-bordered table-striped dataTable"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container/CBT No.</th><th>Container/CBT Size</th><th>Reefer</th></tr></thead><tbody>';

        }
        else {
            html = '<table class="table table-bordered table-striped dataTable"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container No</th><th>Container Size</th><th>Reefer</th></tr></thead><tbody>';
        }
        $.each(FormOneDetails, function (i, elem) {
            html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.ContainerSize + '</td><td>' + elem.Reefer + '</td></tr>';
        });
        html += '</tbody></table>';
        $('#DivFormOneDet').html(html);
    }
    $('#btnBack').on("click", function ()
    {
        $('#DivBody').load('/Import/Kdl_CWCImport/CreateEmptyContainerJobOrder');
    });
</script>


