@model IEnumerable<CwcExim.Areas.CashManagement.Models.DSR_CashColAgnBncChq>
<script> 
        $(document).ready(function(){
            var tblBncCheque = $('#tblBncCheque').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 10,
                "aoColumns": [
                        { "sName": "SL No","width": "8%" },
                        { "sName": "Invoice No" },
                        { "sName": "Invoice Date" },
                        { "sName": "Party Name" },
                        { "sName": "Re-Deposit Amt" },
                        { "sName": "Cheque/DD No." },
                        { "sName": "Cheque/DD Date" },
                        { "sName": "Other Charges" },
                        { "sName": "Pay Mode" },
                        { "sName": "Print Invoice", "bSortable": false, "width": "10%" },
                        { "sName": "Print Cash Receipt", "bSortable": false, "width": "10%" }

                ]
            });
            new $.fn.dataTable.FixedHeader(tblBncCheque);
        });


        function LoadRentPage(){
            $('#DivBody').load('/CashManagement/DSR_CashManagement/CashColAgnBncCheque');
        }

        function PrintBncChequeInvoice(invno) {
            debugger;

            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("ChqBounceInvoicePrint", "DSR_CashManagement", new { Area = "CashManagement" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: { InvoiceNo: invno },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Message);
                }
            });
        }

    function CashReceiptPrint(rno) {

        debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({

                url: '@Url.Action("GetChequeBounceReceiptReport", "DSR_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: { ReceiptNo: rno },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Message);
                }
            });



    }

</script>

<table id="tblBncCheque" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <td>Invoice No</td>
            <td>Invoice Date</td>
            <td>Party Name</td>
            <td>Re-Deposit Amt</td>
            <td>Cheque/DD No.</td>
            <td>Cheque/DD Date</td>
            <td>Other Charges</td>
            <td>Pay Mode</td>
            <th style="text-align:center;">@Html.DisplayName("Print Invoice")</th>
            <th style="text-align:center;">@Html.DisplayName("Print Cash Receipt")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.Invoice_No)</td>
                    <td>@Html.DisplayFor(m => item.CashColAgnBncChqDate)</td>
                    <td>@Html.DisplayFor(m => item.ImpExpChaName)</td>
                    <td>@Html.DisplayFor(m => item.ChequeAmt)</td>
                    <td>@Html.DisplayFor(m => item.ChequeDDNo)</td>
                    <td>@Html.DisplayFor(m => item.ChequeDate)</td>
                    <td>@Html.DisplayFor(m => item.OtherCharges)</td>
                    <td>@Html.DisplayFor(m => item.PayMode)</td>

                    <td style="text-align:center"><a href="#" onclick="PrintBncChequeInvoice('@item.Invoice_No')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="CashReceiptPrint('@item.ReceiptNo')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>