@model IEnumerable<CwcExim.Areas.CashManagement.Models.DSR_DebitInvoice>
<table class="table table-striped table-bordered" id="tblRegisterDtl" style="width:100%;">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Invoice No</th>
            <th>Invoice Date</th>
            <th>Container No</th>
            <th>Party Name</th>
            @*<th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>*@
            <th class="text-center">@Html.DisplayName("Print")</th>
        </tr>
    </thead>
    <tbody>
        @{ var SerialNo = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo.ToString()</td>
                    <td>@data.InvoiceNo</td>
                    <td>@{var DeliveryDate = data.DeliveryDate.Split(' ');} @DeliveryDate[0]</td>
                    <td>@data.Container</td>
                    <td>@data.PartyName</td>
                    @*<td class="text-center"><a href="#" class="edit" onclick="Edit(@data.InvoiceId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" class="view" onclick="View(@data.InvoiceId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a href="#" class="delete" onclick="Delete(@data.InvoiceId)"><i class="fa fa-window-close-o Delete"></i></a></td>*@
                    <td class="text-center"><a href="#" class="print" onclick="Print('@data.InvoiceNo')"><i class="fa fa-print"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var tblRegisterDtl = $('#tblRegisterDtl').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "Invoice No", "bSortable": false },
                       { "sName": "Invoice Date", "bSortable": false },
                       { "sName": "Container No", "bSortable": false },
                       { "sName": "Party Name", "bSortable": false },
                       //{ "sName": "Edit", "bSortable": false, "width": "8%" },
                       //{ "sName": "View", "bSortable": false, "width": "8%" },
                       //{ "sName": "Delete", "bSortable": false, "width": "8%" },
                       { "sName": "PrintPreview", "bSortable": false, "width": "10%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblRegisterDtl);
    });

    function View(InvoiceId) {
        debugger;
        $('#DivBody').load('/CashManagement/DSR_CashManagement/ViewContainerDebitInvoice?InvoiceId=' + InvoiceId);
    }
    function Edit(InvoiceId) {
        debugger;
        $('#DivBody').load('/CashManagement/DSR_CashManagement/EditContainerDebitInvoice?InvoiceId=' + InvoiceId);
    }
    function Delete(Id) {

        //var Status = confirm("Are you sure you want to Delete?");
        //if (Status == true) {
        //    var Val = $('input[name="__RequestVerificationToken"]').val();
        //    $.ajax({
        //        url: '/CashManagement/DSR_CashManagement/DeleteChequeDeposit',
        //        type: 'POST',
        //        headers: { "__RequestVerificationToken": Val },
        //        data: { Id: Id },
        //        dataType: 'JSON',
        //        success: function (data) {
        //            if (data.Status == 1) {
        //                alert(data.Message);
        //                $('#DivChequeDepositList').load('/CashManagement/DSR_CashManagement/ListChequeDeposit');
        //            }
        //            else
        //                alert(data.Message);
        //        },

        //    });
        //}
    }
    
    function Print(id) {
        @*debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("PrintChequeDeposit", "DSR_CashManagement", new { Area = "CashManagement" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: { Id: id },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });*@
    }

    function Print(InvoiceNo) {

        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetBulkInvoiceReport", "DSR_ReportCWC", new { area = "Report" })',
            headers: { "__RequestVerificationToken": Token },
            data: {
                InvoiceNumber: InvoiceNo,
                InvoiceModule: 'INVDEBT',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'CONTAINER DEBIT INVOICE',
            },
            dataType: 'JSON',
            success: function (data) {
                window.open(data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }
</script>