@model IEnumerable<CwcExim.Areas.CashManagement.Models.DSR_DirectOnlinePayment>
<table id="TblSDRefundList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Order Id</th>
            <th>Payment Amount</th>
            <th>OnlineFacilitationCharges</th>
            <th>Amount</th>
            <th>Response</th>
            <th>Trans. Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.OrderId)</td>
                    <td>@Html.DisplayFor(m => item.PaymentAmount)</td>
                    <td>@Html.DisplayFor(m => item.OnlineFacilitationCharges)</td>
                    <td>@Html.DisplayFor(m => item.TotalPaymentAmount)</td>
                    <td>@Html.DisplayFor(m => item.Response)</td>
                    <td>@Html.DisplayFor(m => item.CreatedOn)</td>
                    @*<td class="text-center"><a href="#" onclick="ViewSDRefund(@item.SDCloserId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>*@
                </tr>
                SerialNo++;
            }
        }

    </tbody>
</table>

<script>
    $(function () {
        var TblSDRefundList = $('#TblSDRefundList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                { "sName": "SL No", "width": "8%" },
                { "sName": "Order Id" },
                { "sName": "Payment Amount" },
                { "sName": "Online Facilitation Charges" },
                { "sName": "Amount" },
                { "sName": "Response" },
                { "sName": "Trans. Date" },
                //{ "sName": "View", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblSDRefundList);
    });

    function ViewSDRefund(PDAACId) {
        debugger;
        $('#DivBody').load('/CashManagement/DSR_CashManagement/ViewSDRefund?PdaAcId=' + PDAACId);
    }
</script>

