@model IEnumerable<CwcExim.Areas.CashManagement.Models.DSRAddMoneyToPDModel>

<div>

    <script>
        $(document).ready(function () {
            var table = $('#DivTblAddMoneyToPDList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "Sl No", "bSortable": true, "width": "25%" },
                   // { "sName": "Party Name", "bSortable": false, "width": "25%" },
                    { "sName": "Receipt No", "bSortable": false, "width": "25%" },
                    { "sName": "Receipt Date", "bSortable": false, "width": "15%" },
                    { "sName": "Action", "bSortable": false, "width": "10%" }
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
        //function Print(PVId) {
        //    window.open("../../Docs/PaymentVoucher/" + PVId + "/PaymentVoucher.pdf?t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
        //}
        function Print(ReceiptNo) {
            debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkReceiptReport", "DSR_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    ReceiptNumber: ReceiptNo,
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Message);
                }
            });
        }
        var Page=0;
        function LoadMoreListData() {
            debugger;
            $.ajax({
                url: '/CashManagement/DSR_CashManagement/GetAddMoneyToPDListLoadMore',
                type: 'GET',
                dataType: 'JSON',
                data: { Page: Page + 1 },
                success: function (data) {
                    debugger;
                    if (data.Data != null && data.Data != '' && data.Data != undefined && data.Data.length > 0) {
                        Page++;
                        var html = '';
                        var dt = $('#DivTblAddMoneyToPDList').dataTable();
                        var len = dt.fnGetData().length;
                        $.each(data.Data, function (i, item) {
                            debugger;
                            len++;
                            dt.fnAddData([
                            len,
                            [item.ReceiptNo],
                            [item.TransDate],
                           
                            ['<a href="#" onclick=Print("' + [item.ReceiptNo] + '")><i class="fa fa-print"></i></a>'],
                            ]);
                        });
                        if(data.State=="0")
                        {
                            $('#btnLoadMore').attr('disabled', true);
                        }
                        else {
                            $('#btnLoadMore').attr('disabled', false);
                        }
                    }
                    else alert('No more data available');
                }
            });
        }
    </script>
    <table id="DivTblAddMoneyToPDList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sl No</th>
                @*<th>Party Name</th>*@
                <th>Receipt No</th>
                <th>Receipt Date</th>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @{
                var SerialNo = 1;

                foreach (var item in Model)
                {

                    <tr>
                        <td>@SerialNo.ToString()</td>
                        @*<td>@Html.DisplayFor(modelItem => item.PartyName)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.ReceiptNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransDate)</td>
                        <td style="text-align:center;"><a href="#" onclick="Print('@item.ReceiptNo')"><i class="fa fa-print" aria-hidden="true"></i></a></td>
                    </tr>
                    SerialNo = SerialNo + 1;
                }
            }
        </tbody>
    </table>
    <div class="col-md-3">
       @if (ViewBag.State == "1")
       {
        <input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" id="btnLoadMore" value="Load More Data" onclick="LoadMoreListData()" />
       }
       else
       {
        <input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" disabled />
       }

    </div>
</div>