@model IEnumerable<CwcExim.Areas.CashManagement.Models.DSR_ReceiptVoucherModel>

<div> 
    
    <script>
        $(document).ready(function () {
            var table = $('#DivTblReceiptVoucherList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "SL No.", "bSortable": false, "width": "15%" },
                    { "sName": "Voucher No", "bSortable": false, "width": "15%" },
                    { "sName": "Voucher Date", "bSortable": false },
                    { "sName": "Purpose", "bSortable": false },
                    { "sName": "Amount", "bSortable": false },
                    { "sName": "Instrument No", "bSortable": false },
                    { "sName": "Instrument Date", "bSortable": false },
                    { "sName": "Action", "bSortable": false, "width": "5%" }
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
        function Print(RecptId, vno, vdt, vps, amt, nrt, InstrumentNo, InstrumentDate) {
            debugger;
            //window.open("../../Docs/ReceiptVoucher/" + RecptId + "/ReceiptVoucher.pdf?t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
            var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='text-align:center;'>CENTRAL WAREHOUSING CORPORATION (FORMAT-X)<br/>Principal Place of Business: ICD Dashrath<br/>Receipt Voucher<br/><p style='text-align:right;'>ORIGINAL FOR RECIPIENT</p></th></tr></thead> <tbody> <tr><td><table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse: collapse;'><tbody><tr><td style='border:1px solid #000;'>Details of Service Provider</td><td style='border:1px solid #000;'>Details of Service Receiver</td></tr><tr><td style='border:1px solid #000;'>Name : <span>Central Warehouse</span></td><td style='border:1px solid #000;'>Voucher No: <span>" + vno/*$('#VoucherNo').val()*/ + "</span></td></tr><tr><td style='border:1px solid #000;'>Warehouse Address:<span>" + $('#ComName').val() + "</span></td><td style='border:1px solid #000;'>Voucher Date:<span>" + vdt/*$('#PaymentDate').val()*/ + "</span></td></tr><tr><td style='border:1px solid #000;'>City:<span>" + $('#COMCityName').val() + "</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State:<span>" + $('#COMStateName').val() + "</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State Code:<span>" + $('#COMGstStateCode').val() + "</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>GSTIN:<span>" + $('#ComGST').val() + "</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>PAN:<span>" + $('#COMPanNo').val() + "</span></td><td style='border:1px solid #000;'></td></tr></tbody></table> </td></tr><tr><td style='border-bottom:1px solid #000;padding-top:40pt;font-size:9pt;'><strong>Receipt Purpose:</strong><span>" + vps/*$('#Purpose option:selected').text()*/ + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Receipt Amount:</strong>					<span>" + amt/*$('#Amount').val()*/ + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Instrument No:</strong><span>" + InstrumentNo/*$('#Narration').val()*/ + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Instrument Date:</strong><span>" + InstrumentDate/*$('#Narration').val()*/ + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Narration:</strong><span>" + nrt/*$('#Narration').val()*/ + "</span></td></tr></tbody></table>";
          
            var PostData = new FormData();
            PostData.append("ReceiptId", RecptId);
            PostData.append("Page1", html1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateReceiptVoucher", "DSR_CashManagement", new { area = "CashManagement" })',
                data: PostData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + '?t=' + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                }
            });
        }

        var Page = 0;
        function LoadMoreListData() {
            debugger;
            $.ajax({
                url: '/CashManagement/DSR_CashManagement/GetReceiptVoucherListByPage',
                type: 'GET',
                dataType: 'JSON',
                data: { Page: Page + 1 },
                success: function (data) {
                    debugger;
                    if (data.Data != null && data.Data != '' && data.Data != undefined && data.Data.length > 0) {
                        Page++;
                        var html = '';
                        var dt = $('#DivTblReceiptVoucherList').dataTable();
                        var len = dt.fnGetData().length;
                        $.each(data.Data, function (i, item) {
                            debugger;
                            len++;
                            dt.fnAddData([
                            len,
                            [item.VoucherNo],
                            [item.PaymentDate],
                            [item.Purpose],
                            [item.Amount],
                            [item.InstrumentNo],
                            [item.InstrumentDate],
                            [item.igst],


                            ['<a href="#"  onclick="Print('+item.ReceiptId+','+item.VoucherNo+','+item.PaymentDate+','+item.Purpose+','+item.Amount+','+item.Narration+','+item.InstrumentNo+','+item.InstrumentDate+')")><i class="fa fa-print"></i></a>'],
                            ]);
                        });
                        if (data.State == "0") {
                            $('#btnLoadMore').attr('disabled', true);
                        }
                        else {
                            $('#btnLoadMore').attr('disabled', false);
                        }
                    }
                    else alert('No more data available');
                }
            });
        }



    </script>
    <table id="DivTblReceiptVoucherList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL No.</th>
                <th>Voucher No</th>
                <th>Voucher Date</th>
                <th>Purpose</th>
                <th>Amount</th>
                <th>Instrument No</th>
                <th>Instrument Date</th>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var i = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@Html.DisplayFor(modelItem => item.VoucherNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>   
                    <td>@Html.DisplayFor(modelItem => item.InstrumentNo)</td>          
                    <td>@Html.DisplayFor(modelItem => item.InstrumentDate)</td>                           
                    <td style="text-align:center;"><a href="#" onclick="Print('@item.ReceiptId','@item.VoucherNo','@item.PaymentDate','@item.Purpose','@item.Amount','@item.Narration.Replace("\r\n","<br/>")','@item.InstrumentNo','@item.InstrumentDate')"><i class="fa fa-print" aria-hidden="true"></i></a></td>
                </tr>  
                i++;              
            }
        </tbody>
    </table>
    <div class="col-md-3">
        @if (ViewBag.State == "1")
        {
            <input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" id="btnLoadMore" value="Load More Data" onclick="LoadMoreListData()" />
        }
        else
        {
            <input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" disabled />
        }

    </div>
</div>

