
@model IEnumerable<CwcExim.Areas.CashManagement.Models.DSR_ChequeReturn>
<table class="table table-bordered table-striped" id="tblPartyWiseTDSDeposit" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Receipt No</th>
            <th>Party</th>
            <th>Sd No</th>
            <th>Cheque Return Date</th>
            <th>Balance</th>
            <th>ChequeNo</th>
            <th>DraweeBank</th>
            <th>ChequeDate</th>
            <th>Amount</th>
            <th>Adjust Balance</th>
           @*<th class="text-center">@Html.DisplayName("Edit")</th>*@ 
           @* <th class="text-center">@Html.DisplayName("Delete")</th>*@
            @*<th class="text-center">@Html.DisplayName("Print")</th>*@
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.AutoDisHonourRcptNo</td>
                    <td>@item.PartyName</td>
                    <td>@item.SdNo</td>
                    <td>@item.ChequeReturnDate</td>
                    <td>@item.Balance</td>
                    <td>@item.ChequeNo</td>
                    <td>@item.DraweeBank</td>
                    <td>@item.ChequeDate</td>
                    <td>@item.Amount</td>
                    <td>@item.AdjustedBalance</td>
                   @* <td class="text-center"><a href="#" onclick="EditDisHonouredCheque(@item.DishonuredId)"><i class="fa fa-pencil-square Edit disabled" disabled></i></a></td>*@
                   @* <td class="text-center"><a href="#" onclick="DeletePartyWiseTDSDeposit(@item.Id,@item.Amount,@item.TDSBalance)"><i class="fa fa-window-close-o Delete" disabled></i></a></td>*@
                   @* <td class="text-center"><a href="#" onclick="PrintPartyWiseTDSDeposit('@item.AutoDisHonourRcptNo')"><i class="fa fa-file-pdf-o Edit" disabled></i></a></td>*@
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblPartyWiseTDSDeposit = $('#tblPartyWiseTDSDeposit').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                           { "sName": "SL No","width": "10%" },
                           { "sName": "Receipt No","width": "10%" },
                           { "sName": "Party Name" },
                           { "sName": "Certificate No", "bSortable": false },
                           { "sName": "Certificate Date", "bSortable": false },
                           { "sName": "Deposit Amount", "bSortable": false },
                           { "sName": "Deposit Date", "bSortable": false },
                           { "sName": "IsCancel", "bSortable": false },
                           { "sName": "Edit", "bSortable": false, "width": "9%" },
                          { "sName": "Delete", "bSortable": false, "width": "9%" },
                          { "sName": "Print", "bSortable": false, "width": "9%" },
                        ]
        });
        new $.fn.dataTable.FixedHeader(tblPartyWiseTDSDeposit);
    });
    function EditDisHonouredCheque(DishonuredId)
    {
        $('#DivBody').load( '/Master/DSREximTrader/PartyWiseTDSDeposit?Id=' + Id);
    }
    function PrintPartyWiseTDSDeposit(ReceiptNo) {
        debugger;


       var ReceiptNumber = ReceiptNo;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetTDSDepositReport", "DSR_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ReceiptNumber: ReceiptNo
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });


    }


</script>

