@model CwcExim.Areas.CashManagement.Models.DSR_DebitInvoice
<div class="row">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Container Operational Debit Invoice</h4>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2_5">
                        <div class="boolean-container">
                            @*@Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })*@
                            @Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')", @disabled = "disabled" })
                            <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                        </div>
                    </div>
                    <div class="col-md-2 col_cus_3">
                        <div class="boolean-container">
                            @*@Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })*@
                            @Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')", @disabled = "disabled" })
                            <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Operation Type:</label>
                    </div>
                    <div class="col-md-2">

                        @Html.DropDownListFor(m => m.OperationType, new List<SelectListItem> {
                       new SelectListItem { Text="Import",Value="Import"},
                       new SelectListItem { Text="Export",Value="Export"}
                   }, "----Select----", new { @class = "form-contol input-sm dropdown", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.OperationType, "", new { @class = "Error_Msg" })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Invoice No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                    </div>
                    <div class="col-md-1-5 col-md-offset-4-5 col_cus_offset_3 col_cus_2">
                        <label>Date:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5 Date_Img">
                        @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                        @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                        @Html.TextBoxFor(m => m.DeliveryDate, new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Container No:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.HiddenFor(m => m.ContainerInfoId)

                        @*@Html.HiddenFor(m => m.PartyId)*@
                        @Html.HiddenFor(m => m.CFSCode)
                        @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.Container, new { @class = "form-control input-sm", @readonly = true })

                        <span class="search" id="ContainerSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                        @Html.ValidationMessageFor(m => m.Container, "", new { @class = "Error_Msg" })
                        @*<span style="color:red" id="ErrPartyName"></span>*@
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label> Size:</label>
                    </div>
                    <div class="col-md-2">

                        @Html.DropDownListFor(m => m.Size, new List<SelectListItem> {
                       new SelectListItem { Text="20",Value="20"},
                       new SelectListItem { Text="40",Value="40"}
                   }, "----Select----", new { @class = "form-contol input-sm dropdown", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                    </div>

                    <div class="col-md-offset-0-5 col-md-1-5 col_cus_2">
                        <label>ICDCode:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                        @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                        @Html.TextBoxFor(m => m.CFSCD, new { @readonly = true })
                    </div>

                    <div class="col-md-offset-1 col-md-1-5 col_cus_2">
                        <label>Gate In Date:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                        @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                        @Html.TextBox("GateIn", "", new { @readonly = true })
                    </div>

                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>From Date:</label>
                    </div>
                    <div class="col-md-2 Date_Img">
                        @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.FromDate, new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                    </div>
                    <div class="col-md-1-5 col-md-offset-5 col_cus_offset_3 col_cus_2">
                        <label>To Date:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5 Date_Img">
                        @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                        @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                        @Html.TextBoxFor(m => m.ToDate, new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Party Name:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @*@Html.HiddenFor(m => m.PartyId)*@
                        @Html.HiddenFor(m => m.PartyId)
                        @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = true })

                        <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                        @Html.ValidationMessageFor(m => m.PartyName, "", new { @class = "Error_Msg" })
                        @*<span style="color:red" id="ErrPartyName"></span>*@
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Payer Name:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @*@Html.HiddenFor(m => m.PayeeId)*@
                        @Html.HiddenFor(m => m.PayeeId)
                        @*@Html.TextBoxFor(m => m.PayeeName, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this)" })

                        <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>

                        @Html.ValidationMessageFor(m => m.PayeeName, "", new { @class = "Error_Msg" })
                        @*<span style="color:red" id="ErrPayeeName"></span>*@
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label> GST No:</label>
                    </div>
                    <div class="col-md-2">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })
                    </div>
                    <div class="col-md-offset-5 col-md-1-5" style="padding-right:0px">
                        <label>State Code:</label>
                    </div>
                    <div class="col-md-2">

                        @Html.TextBoxFor(m => m.StateCode, new { @readonly = true })
                    </div>

                </div>
            </div>

            <div class="Head_h4" style="margin:5px -8px;">

                <div class="row Form_Space_top">
                    <div class="Form_Input form-group">
                        <div class="col-md-1-5" style="padding-left:10px;">
                            <input type="hidden" id="ReceiptNo" />
                            <label>Charge Name</label>
                        </div>
                        <div class="col-md-2-5" style="padding-left:10px;">
                            @Html.Hidden("ChargeId")
                            @Html.Hidden("ChargeNM")
                            @Html.Hidden("IGSTPER")
                            @Html.Hidden("CGSTPER")
                            @Html.Hidden("SGSTPER")
                            @Html.TextBox("ChargeName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this)" })
                            <span class="search" id="ChargeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ChargeModal"></i></span>
                            @Html.ValidationMessage("ChargeName", "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-4-5 col-md-1-5">
                            <label>Amount</label>
                        </div>
                        <div class="col-md-2" style="margin:0 0 0 7px; padding-right:3px; width:15.666667%;">
                            @Html.TextBox("Amount", "", new { @class = "form-control input-sm", @readonly = true, onkeypress = "return AllowOnlyDecimal(event)", @onfocus = "hideMsg(this)" })
                            <span style="color:red" id="ErrQuantity"></span>
                            @Html.ValidationMessage("Amount", "", new { @class = "Error_Msg" })
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>

                @*<div class="row">
                    <div class="col-md-offset-4 col-md-2  SignUp_space_bottom">
                        <input type="button" id="btnAddFormOneDet" class="btn log_Btn_sm" value="Add" onclick="AddChemical()" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" id="btnResetFormOneDet" class="btn log_Btn_sm" value="Reset" onclick="ResetChemical()" />
                    </div>
                </div>*@
                <div class="logErrMsg" id="DivTblStuffingErrMsg" style="background-color:transparent"></div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered dataTable" id="tblCheDet" style="width:100%;"></table>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Amount:</label>
                    </div>
                    <div class="col-md-2-5">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.TotalChrgAmount, new { @class = "form-control input-sm", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11", @readonly = true, @onfocus = "hideMsg(this)" })
                        @Html.ValidationMessageFor(m => m.TotalChrgAmount, "", new { @class = "Error_Msg" })
                        <span style="color:red" id="Erramount"></span>
                    </div>
                    @*<div class="col-md-offset-5 col-md-3">
                        <input style="float:right;" type="button" value="Get Charge" class="btn log_Btn_sm" id="btnGet" />
                    </div>*@
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label> CGST:</label>
                    </div>
                    <div class="col-md-2">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.CGST, "", new { @onblur = "return caltax();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11", @readonly = true })
                    </div>
                    <div class="col-md-offset-1 col-md-1 col_cus_2">
                        <label> SGST:</label>
                    </div>
                    <div class="col-md-2">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.SGST, "", new { @onblur = "return caltax();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11", @readonly = true })
                    </div>

                    <div class="col-md-offset-1-5 col-md-1 col_cus_2">
                        <label> IGST:</label>
                    </div>
                    <div class="col-md-2">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.IGST, "", new { @onblur = "return caltax();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11", @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label> Round Up:</label>
                    </div>
                    <div class="col-md-2-5">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.Round_up, "", new { @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label> Total:</label>
                    </div>
                    <div class="col-md-2-5">
                        @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                        @Html.TextBoxFor(m => m.Total, "", new { @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Remarks:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @*@Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;" })*@
                        @Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;", @maxlength = "500", @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row SignUp_space_bottom SignUp_space_top">
                <div class="stoke"></div>
            </div>
            <div class="logSuccMsg Form_Space_bottom" id="DivMiscInvMsg" style="background-color:transparent"></div>
            <div class="row SignUp_space_bottom2">
                <div class="col-md-offset-5 col-md-2" style="text-align:center">
                    <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadDebitInvoice()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function LoadDebitInvoice() {
        $('#DivBody').load('/CashManagement/DSR_CashManagement/CreateDebitInvoice');
    }
</script>