
<style>   
     .Head_h4 {
        margin-bottom: 20px;
    }
    .domCheckbox {
        position: relative !important;
        top: 0px !important;
    }
</style>

@if (ViewBag.SACList != null)
{
    <input type="hidden" id="hdnSACList" value="@ViewBag.SACList" />
}
else
{
    <input type="hidden" id="hdnSACList" value="" />
}
@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}

@using (Ajax.BeginForm("AddEditBondDelPaymentSheet", "CHNBond", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("PaymentSheetModelJson")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")
    @Html.Hidden("hdnWeight")
    @Html.Hidden("hdnCIFValue")
    @Html.Hidden("hdnDuty")
    @Html.Hidden("hdnUnits")
    @Html.Hidden("hdnInsured")
    @Html.Hidden("hdnDepositDate")
    @Html.Hidden("hdnBondBOENo")
    @Html.Hidden("hdnBondBOEDate")
    @Html.Hidden("hdnBondImporter")
    @Html.Hidden("hdnBondCHA")
    @Html.Hidden("SupplyType")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Bond Delivery Payment Sheet / Invoice</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2">
                                <div class="boolean-container">
                                    @*@Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick="IVType('Tax')" })*@
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @*@Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })*@
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Delivery Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Delivery Order No.:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.HiddenFor(m => m.StuffingReqId)*@
                                @Html.Hidden("StuffingReqId")
                                @*@Html.TextBoxFor(m => m.StuffingReqNo, new { @readonly = true })*@
                                <span class="ReQSimbol">*</span>
                                @Html.TextBox("StuffingReqNo", "", new { @readonly = true })
                                <span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>
                                @*@Html.ValidationMessageFor(m => m.StuffingReqNo)*@
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @*@Html.TextBoxFor(m => m.StuffingReqDate, new { @readonly = true })*@
                                @Html.TextBox("StuffingReqDate", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Printing:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("Printing", new List<SelectListItem>
               {
                   new SelectListItem {Text="No",Value="No" },
                   new SelectListItem {Text="Yes",Value="Yes" }
               }, new { @onchange = "HideTextBox()" })

                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("NoOfPrinting", "0", new { @class = "form-control input-sm", @style = "display:none;", @onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10", @onfocus = "hideMsg(this)" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-2-5">
                                <label>Discount :</label>
                            </div>
                            <div class="col-md-2">
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBox("Discount", "0", new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Party Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                              
                                @Html.Hidden("PartyId")                               
                                @Html.TextBox("PartyName", "", new { @readonly = true })
                                <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                              
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Payee Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">                              
                                @Html.Hidden("PayeeId")                              
                                @Html.TextBox("PayeeName", "", new { @readonly = true })
                                <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>
                               
                            </div>
                        </div>
                    </div>


                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>SEZ:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                            </div>

                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-2-5">                               
                                @Html.Hidden("GSTNo", "", new { @readonly = true })
                                @Html.TextBox("GSTNo2", "", new { @readonly = true })
                            </div>
                           
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Delivery Area:</label>
                            </div>
                            <div class="col-md-2-5">                               
                                @Html.TextBox("AreaReserved", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Parking Days:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("ParkingDays", "0", new { Value = "0", @onkeypress = "return AllowOnlyInteger(event)" })
                            </div>
                            <div class="col-md-2">
                                <div class="boolean-container">
                                    @Html.CheckBox("SealCharge")
                                    <label for="SealCharge"><i class="square"></i><span>Seal Charge</span></label>
                                </div>
                            </div>
                            @*<div class="col-md-1-5">
                                <label> Seal Charge:</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" id="IsSealCharge" class="domCheckbox" />
                                @Html.Hidden("IsSealCharge")
                            </div>*@
                            
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom2 SignUp_space_top2">
                        <div class="stoke"></div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-4-5 col-md-3">
                                <input type="button" id="btnCalCharge" class="btn log_Btn_sm" onclick="ContainerSelect()" value="Show Charges" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom" style="visibility:hidden">
                        <div class="col-md-12">
                            <table id="tblContainer" class="table table-bordered dataTable nowrap table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:8%;" class="text-center">Sl No</th>
                                        <th>CFS No</th>
                                        <th>Container No</th>
                                        <th>Size</th>
                                        <th>Reefer</th>
                                        <th>Insured</th>
                                        <th>DO Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>CWC Charges</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" style="text-align:right;">Total:</td>
                                            <td class="Table_right"><input type="text" id="TOTCWCChrg" value="0" readonly></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">CWC TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                            </tr>*@
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="col-md-offset-1 col-md-4">
                                <button id="btnAddExtraCWC" type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#NewCWCModal" disabled>
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Extra CWC Charges
                                </button>
                            </div>
                            <div class="col-md-3-5">
                                <button type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#HnTModal">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show H&amp;T Charges
                                </button>
                            </div>
                            <div class="col-md-3-5">
                                <button id="btnAddExtraHT" type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#NewHnTModal" disabled>
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Extra H&amp;T
                                </button>
                            </div>
                        </div>
                        <section id="rest-charge-details" class="hide">
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <h5>H & T Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblHTCharges" class="table table-bordered table-striped dataTable Table_center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">Total:</td>
                                                <td class="Table_right"><input type="text" id="TOTHTChrg" value="0" readonly></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @*<div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                            <label>TDS Deduction:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_3">
                                            @Html.TextBox("TotalTDS", "0", new { @onblur = "CalcInvoice()", @readonly = true, @style = "text-align:right;" })
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Total Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.AllTotal, new { @readonly = true })*@
                                        @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Round Up:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.RoundUp, new { @onblur = "CalcInvoice()" })*@
                                        @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;", @readonly = true })
                                        @*@Html.TextBox("RoundUp", "0", new { @onblur = "CalcInvoice()", @style = "text-align:right;" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Invoice Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.InvoiceValue, new { @readonly = true })*@
                                        @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @*@Html.TextAreaFor(m=>m.Remarks,new { @style = "height:75px;" })*@
                                @Html.TextArea("Remarks", new { @style = "height:75px;", @maxlength = "500" })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-3 col-md-2">
                            <input type="button" value="Save" onclick="BindJson()" class="btn log_Btn_sm" disabled id="btnSave" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Print" class="btn log_Btn_sm" onclick="Print()" id="btnPrint" disabled />
                        </div>

                        <div class="col-md-3">
                            <input type="button" value="Generate IRN" class="btn log_Btn_sm" id="btnIRN" disabled />
                        </div>
                    </div>

                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>

                    <div><br /></div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-offset-4 col-md-2">
                                <input type="text" placeholder="Search by Invoice No" id="SearchInvoiceNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" placeholder="Date (dd/mm/yyyy)" id="SearchInvoiceDate" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12" id="DivListOfInvoice">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <td>Sl No</td>
                                            <td>Invoice No</td>
                                            <td>Invoice Date</td>
                                            <td>Party Name</td>
                                            <td>Print</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<div id="HnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="BindHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NewHnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstNewHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<div id="stuffingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Delivery Order</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payee</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="NewCWCModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CWC Charges</h4>
            </div>
            <div class="modal-body popup_body">
                <ul class="navList" id="lstNewCWC"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddCWCCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        //$("#InvoiceDate").datepicker({
        //    dateFormat: "dd/mm/yy",
        //    showOn: "button",
        //    buttonImage: "/Content/images/calendar.png",
        //    buttonImageOnly: true,
        //    buttonText: "Select date",
        //    changeMonth: true,
        //    changeYear: true,
        //    showAnima: "fadein",
        //    onClose: function () {
        //        $(".Date_Img .Error_Msg").text("");
        //        $('[data-valmsg-for="Data"]').html('<span></span>');
        //    }
        //});
        $('#InvoiceDate').datetimepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            altField: "#slider_example_4andHalf_alt",
            altFieldTimeOnly: false,
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });

        $('#SearchInvoiceDate').mask("99/99/9999");

        StuffingReqBinding();
        PartyBinding();
        PayeeBinding();
    });

    function Validate() {
        debugger;
        var date = document.getElementById("SearchInvoiceDate").value.split("/");
        var day = date[0];
        var month = date[1];
        var dateString = document.getElementById("SearchInvoiceDate").value;
        var regex = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
        //if (regex.test(dateString) || dateString.length == 0) {
        //    alert("Please enter correct date");
        //    return false;
        //}
        if (day > 31) {
            alert("Please enter correct date");
            return false;
        }
        else
            if (month > 12) {
                alert("Please enter correct Month");
                return false;
            }
        return true;
    }

    function StuffingReqBinding() {
        debugger;
        if ($('#hdnSACList').val() != '') {
            var StuffingJson = JSON.parse($('#hdnSACList').val());
            var html = '';
            $.each(StuffingJson, function (i, item) {
                html += '<li id="' + item.DepositAppId + '" onclick="selectStuffing(' + item.DepositAppId + ');">' + item.DepositNo + '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectStuffing(id) {
        debugger;
        var StuffingJson = JSON.parse($('#hdnSACList').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.DepositAppId == id; })[0];
        $('#StuffingReqId').val(StuffingRequest.DepositAppId);
        $('#StuffingReqNo').val(StuffingRequest.DepositNo);
        $('#StuffingReqDate').val(StuffingRequest.DeliveryDate);
        $('#PartyId').val(StuffingRequest.ImporterId);
        $('#PartyName').val(StuffingRequest.ImporterName);
        $('#PayeeId').val(StuffingRequest.ImporterId);
        $('#PayeeName').val(StuffingRequest.ImporterName);
        $('#hdnAddress').val(StuffingRequest.Address);
        $('#hdnState').val(StuffingRequest.State);
        $('#hdnStateCode').val(StuffingRequest.StateCode);
        $('#GSTNo').val(StuffingRequest.GSTNo);
        $('#GSTNo2').val(StuffingRequest.GSTNo);
        $('#UptoDate').val(StuffingRequest.ValidUpto);
        $('#AreaReserved').val(StuffingRequest.AreaReserved);

        $('#hdnWeight').val(StuffingRequest.Weight);
        $('#hdnCIFValue').val(StuffingRequest.CIFValue);
        $('#hdnDuty').val(StuffingRequest.Duty);
        $('#hdnUnits').val(StuffingRequest.Units);
        $('#hdnInsured').val(StuffingRequest.IsInsured);
        $('#hdnDepositDate').val(StuffingRequest.DepositDate);
        $('#hdnBondBOENo').val(StuffingRequest.BondBOENo);
        $('#hdnBondBOEDate').val(StuffingRequest.BondBOEDate);
        $('#hdnBondImporter').val(StuffingRequest.ImporterName);
        $('#hdnBondCHA').val(StuffingRequest.CHAName);

        //ContainerSelect();
        $("#stuffingModal").modal("hide");
    }
    function hideMsg(elem) {
        $(elem).parent().find(".field-validation-error").html(" ");
    }

    function PartyBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstParty').html(html);
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        var PartyNm = Party.PartyName.split('[');
        $('#PartyName').val(PartyNm[0]);
        $('#GSTNo2').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo2').val();
            rawJson.PartyAddress = $('#hdnAddress').val();
            rawJson.PartyState = $('#hdnState').val();
            rawJson.PartyStateCode = $('#hdnStateCode').val();
            rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
    }

    function PayeeBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstPayee').html(html);
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        var Payenm = Party.PartyName.split('[');
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Payenm[0]);
        //$('#GSTNo2').val(Party.GSTNo);
        $("#PayeeModal").modal("hide");
    }


    function ContainerSelect() {
        //if ($('#NoOfCasualLabourSupplied').val() == "") {
        //    $('#ErrCasualLabour').html('Fill Out This Field');
        //    Status = false;
        //}
        //else {
        var IsSealCharge = false;
        if (document.getElementById("SealCharge").checked) {
            IsSealCharge = true;
        }
            debugger;
            //$("#NoOfCasualLabourSupplied").prop("readonly", true);
            $.ajax({
                url: '/Bond/CHNBond/GetBondDelPaymentSheet',
                type: 'GET',
                data: {
                    InvoiceDate: $('#InvoiceDate').val(),
                    InvoiceType: TaxType,
                    SEZ: $('#SEZ').val(),
                    StuffingReqId: parseInt($('#StuffingReqId').val()),
                    DeliveryType: 0,
                    StuffingReqNo: $('#StuffingReqNo').val(),
                    StuffingReqDate: $('#StuffingReqDate').val(),
                    //UptoDate: $('#UptoDate').val(),
                    Area: parseFloat($('#AreaReserved').val()),
                    PartyId: $('#PartyId').val(),
                    PartyName: $('#PartyName').val(),
                    PartyAddress: $('#hdnAddress').val(),
                    PartyState: $('#hdnState').val(),
                    PartyStateCode: $('#hdnStateCode').val(),
                    PartyGST: $('#GSTNo2').val(),
                    PayeeId: $('#PayeeId').val(),
                    PayeeName: $('#PayeeName').val(),
                    weight: Number($('#hdnWeight').val()),
                    CIFValue: Number($('#hdnCIFValue').val()),
                    Duty: Number($('#hdnDuty').val()),
                    Units: Number($('#hdnUnits').val()),
                    IsInsured: Number($('#hdnInsured').val()),
                    DepositDate: $('#hdnDepositDate').val(),
                    BOENo: $('#hdnBondBOENo').val(),
                    //CasualLabour: $('#NoOfCasualLabourSupplied').val(),
                    CasualLabour: 0,
                    NoOfPrinting:$('#NoOfPrinting').val(),
                    ImporterExporter: $('#hdnBondImporter').val(),
                    CHAName: $('#hdnBondCHA').val(),
                    BOEDate: $('#hdnDepositDate').val(),
                    SealCharge: IsSealCharge,
                    ParkingDays: ($('#ParkingDays').val() == '' ? 0 : $('#ParkingDays').val()),
                    Discount: $('#Discount').val()
                },

                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data != null && data != 'undefined') {
                        $('#PaymentSheetModelJson').val(JSON.stringify(data));
                        //Container Binding
                        var html = '';
                        var html1 = '';
                        //All H&T binding in modal
                        var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                        $.each(HTCharge, function (i, item) {



                            var result = $.grep(data.ActualApplicable, function (e) { return e == item.Clause; });
                            if (result.length == 0) {
                                html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                            }
                            else {
                                html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" checked data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                            }
                            html1 += '<li id="liNHT' + i + '"><div class="boolean-container"><input id="chkNHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkNHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        });
                        $('#lstHT').html(html);
                        $('#lstNewHT').html(html1);
                        $('#rest-charge-details').addClass('hide');
                        //Container Binding

                        //----------------------------------------------
                        //Additional CWC Charges

                        var htmlADCWC = '';
                        var html1ADCWC = '';
                        //All Additional CWC binding in modal
                        debugger;
                        var ADCWCCharge = $.grep(data.lstADDPostPaymentChrg, function (item) { return item.ChargeType == "CWC" && item.ADDCWC == 1; });
                        $.each(ADCWCCharge, function (i, item) {
                            debugger;
                            
                            html1ADCWC += '<li id="liNCWC' + i + '"><div class="boolean-container"><input id="chkNCWC' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkNCWC' + i + '"><i class="square"></i> &nbsp;  <span style="font-size:8pt;">' + item.ChargeName + '</span>' + '</label></div></li>';
                        });
                       
                        $('#lstNewCWC').html(html1ADCWC);
                        //----------------------------------------------



                        //CWC Charge Binding
                        debugger;
                        var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                        html = '';
                        $.each(CWCCharge, function (i, item) {
                            html += '<tr><td>' + item.ChargeName + '</td>'
                                    + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly/></td>'
                                    + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                        });
                        $('#tblCWCCharges tbody').html(html);
                        $('#CWCTDSPer').val(data.CWCTDSPer.toFixed(2));
                        $('#TOTCWCTDS').val(Math.round(data.CWCTDS.toFixed(2)));
                        debugger;
                        //HT Charge Binding*/
                        var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                        html = '';
                        $.each(HTCharge, function (i, item) {
                            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly/></td>'
                                    + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                        });
                        $('#tblHTCharges tbody').html(html);
                        $('#HTTDSPer').val(data.HTTDSPer.toFixed(2));
                        $('#TOTHTTDS').val(Math.round(data.HTTDS.toFixed(2)));

                        //Total Charge Calculation

                        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                        var TotalCWC = 0;
                        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

                        $.each(CWCCharge, function (i, item) {
                            TotalCWC += item.Total;
                        });
                        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));

                        var TotalHT = 0;
                        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

                        $.each(HTCharge, function (i, item) {
                            TotalHT += item.Total;
                        });
                        $('#TOTHTChrg').val((TotalHT).toFixed(2));
                        $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));
                        $('#TotalTDS').val(Math.round(data.TDS.toFixed(2)));
                        $('#TotalTDSCol').val(Math.round(data.TDSCol.toFixed(2)));
                        $('#RoundUp').val(data.RoundUp.toFixed(2));
                        $('#InvoiceValue').val(data.InvoiceAmt.toFixed(2));
                        //CalcInvoice();
                        $('#btnSave').removeAttr('disabled');
                        $('#btnCalCharge').attr('disabled', true);
                        $('#SealCharge').prop('disabled', true);
                        
                        $('.search').css('display', 'none');
                        $('#SEZ').prop("disabled", true);
                        document.getElementById('ParkingDays').setAttribute('readonly', 'readonly');
                        document.getElementById('Discount').setAttribute('readonly', 'readonly');
                        $('#btnAddExtraCWC').removeAttr('disabled');
                        $('#InvoiceDate').parent().find('img').css('display', 'none');
                    }
                    else {
                        $('#PaymentSheetModelJson').val('');
                        $('#tblContainer tbody').html('');
                        $('#tblCWCCharges tbody').html('');
                        $('#tblHTCharges tbody').html('');
                        $('#TOTCWCChrg').val('');
                        $('#TOTHTChrg').val('');
                        $('#AllTotal').val('');
                        $('#RoundUp').val('');
                    }
                }
            });
        //}
    }

    var indx = 0;
    function AddCWCCharges() {
        debugger;

        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var rowCount = rawJson.lstADDPostPaymentChrg.length;

        var html = '';
        var TotalCWC = 0;
        var CWCWithOutTax = 0;
        var IGST = 0;

        // var ADDCWCCharge = $.grep(rawJson.lstADDPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
        for (var i = 0; i < $("#lstNewCWC li").length; i++) {
            if ($('#chkNCWC' + i).prop("checked")) {
                $('#chkNCWC' + i).removeAttr('checked');
                var item = JSON.parse(atob($('#chkNCWC' + i).attr('data-val')));
                item.ChargeId = item.ChargeId + indx;

                rawJson.lstPostPaymentChrg.push(item);
                TotalCWC += item.Total;
                CWCWithOutTax += item.Amount;
                html += '<tr><td>' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>'
                rowCount += 1;
                indx += 1;
            }
        }
        debugger;
        $('#tblCWCCharges tbody').append(html);
        rawJson.CWCTotal += TotalCWC;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + CWCWithOutTax;
        rawJson.CWCAmtTotal += CWCWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(1);
    }

    function BindHnTCharges() {
        debugger;
        try {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
            var rowCount = rawJson.lstPostPaymentChrg.length;
            var html = '';
            var TotalHT = 0;
            var htWithOutTax = 0;
            //var htcharge = [];
            for (var i = 0; i < $("#lstHT li").length; i++) {
                if ($('#chkAHT' + i).prop("checked")) {
                    var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                    //htcharge.push(item);
                    rawJson.lstPostPaymentChrg.push(item);
                    TotalHT += item.Total;
                    htWithOutTax += item.Amount;
                    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                        + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                        + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                    rowCount += 1;
                }
            }
            $('#tblHTCharges tbody').html(html);
            $('#TOTHTChrg').val((TotalHT).toFixed(2));
            $('#rest-charge-details').removeClass('hide');
            $('#btnSave').removeAttr('disabled');
            rawJson.HTTotal = TotalHT;
            rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
            rawJson.HTAmtTotal = htWithOutTax;
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
            $('#btnAddExtraHT').removeAttr('disabled');
            CalcTax(1);
        }
        catch (e) { console.log('BindHnTCharges : ' + e.message); }
    }

    var indx = 0;
    function AddHnTCharges() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var rowCount = rawJson.lstPostPaymentChrg.length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        for (var i = 0; i < $("#lstNewHT li").length; i++) {
            if ($('#chkNHT' + i).prop("checked")) {
                $('#chkNHT' + i).removeAttr('checked');
                var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                item.ChargeId = item.ChargeId + '_' + indx;
                rawJson.lstPostPaymentChrg.push(item);
                TotalHT += item.Total;
                htWithOutTax += item.Amount;
                html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                    + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                rowCount += 1;
                indx += 1;
            }
        }
        $('#tblHTCharges tbody').append(html);
        rawJson.HTTotal += TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal += htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        debugger;
        CalcTax(1);
    }


    function RemoveHT(idx) {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        rawJson.lstPostPaymentChrg.splice(idx, 1);
        var rowCount = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; }).length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
        $.each(HTCharge, function (i, item) {
            TotalHT += item.Total;
            htWithOutTax += item.Amount;
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
            rowCount += 1;
        });
        $('#tblHTCharges tbody').html(html);
        rawJson.HTTotal = TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal = htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(1);
    }

    function CalcTax(elem) {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var MAmt = Number($('#' + elem).val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        if (rawJson.InvoiceType == "Tax") {
           
            if (parseFloat(rawJson.lstPostPaymentChrg[0].CGSTAmt) > 0 || parseFloat(rawJson.lstPostPaymentChrg[0].SGSTAmt) > 0) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else if (parseFloat(rawJson.lstPostPaymentChrg[0].IGSTAmt) > 0) {
                IP = Number($('#IGSTP' + elem).val());
            }
        }
        //$('#IGSTA' + elem).val((MAmt * (IP / 100)).toFixed(2));
        //$('#CGSTA' + elem).val((MAmt * (CP / 100)).toFixed(2));
        //$('#SGSTA' + elem).val((MAmt * (SP / 100)).toFixed(2));
        //$('#TOT' + elem).val((MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100))).toFixed(2));
        //var selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId == elem; })[0];
        //if (selectedItem == undefined)
        //    selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId + '_' + (indx - 1) == elem; })[0];

        //if (selectedItem != undefined) {
        //    selectedItem.Amount = MAmt;
        //    selectedItem.Taxable = MAmt;
        //    //selectedItem.IGSTPer = IP;
        //    selectedItem.IGSTAmt = MAmt * (IP / 100);
        //    //selectedItem.CGSTPer = CP;
        //    selectedItem.CGSTAmt = MAmt * (CP / 100);
        //    //selectedItem.SGSTPer = SP;
        //    selectedItem.SGSTAmt = MAmt * (SP / 100);
        //    selectedItem.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));
        //}
        var TotalCWC = 0;
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        rawJson.TotalCGST = 0;
        rawJson.TotalSGST = 0;
        rawJson.TotalIGST = 0;
        rawJson.TotalAmt = 0;

        $.each(CWCCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalCWC += item.Total;
        });
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
        //$('#TOTCWCTDS').val(((TotalCWC * 10) / 100).toFixed(2));
        rawJson.CWCTotal = TotalCWC;
        var TotalHT = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

        $.each(HTCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalHT += item.Total;
        });
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        //$('#TOTHTTDS').val(((TotalHT * 2) / 100).toFixed(2));
        rawJson.HTTotal = TotalHT;
        $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));
        rawJson.AllTotal = (TotalCWC + TotalHT);
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcInvoice();
    }

    function CalcInvoice() {
        var Total = Number($('#AllTotal').val());
        var cwcTDS = 0;// Number($('#TOTCWCTDS').val());
        var htTDS = 0;//Number($('#TOTHTTDS').val());
        var grandTDS = 0;//cwcTDS + htTDS;
        //$('#TotalTDS').val(grandTDS.toFixed(2));
        var RoundUp = Number($('#RoundUp').val());
        $('#InvoiceValue').val((Total - (grandTDS + RoundUp)).toFixed(2));
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        console.clear();
        console.log(JSON.stringify(rawJson));
        //rawJson.AllTotal = Total;
        rawJson.CWCTDS = cwcTDS;
        rawJson.HTTDS = htTDS;
        rawJson.TDS = grandTDS;
        rawJson.RoundUp = RoundUp;
        rawJson.InvoiceAmt = rawJson.AllTotal - (rawJson.TDS + rawJson.RoundUp);

        rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal);
        var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
        rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);

        $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
        $('#RoundUp').val(round.toFixed(2));
        $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
    }

    function CalcInvoice1() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var TDSCol_New = Number($('#TotalTDSCol').val());
        if (TDSCol_New > rawJson.TDS.toFixed(2)) {
            alert("Invalid TDS collection");
            rawJson.TDSCol = 0;
            setTimeout(function () {
                $('#TotalTDSCol').val(0);
                $('#TotalTDSCol').focus().select();
            }, 100);
        }
        else {
            rawJson.TDSCol = Number($('#TotalTDSCol').val());
            rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal + Number($('#TotalTDSCol').val())) - (rawJson.CWCTDS + rawJson.HTTDS);
            var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
            rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);
            rawJson.RoundUp = round;
            $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
            $('#RoundUp').val(round.toFixed(2));
            $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
    }

    function BindJson() {
        debugger;
        var conf = confirm("Do you want to save ?");
        if (conf) {
            try {
                $('#btnSave').attr('disabled', true);
                var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                rawJson.InvoiceId = 0;
                rawJson.InvoiceType = TaxType;
                rawJson.InvoiceDate = $('#InvoiceDate').val();
                rawJson.RequestId = $('#StuffingReqId').val();
                rawJson.RequestNo = $('#StuffingReqNo').val();
                rawJson.RequestDate = $('#StuffingReqDate').val();
                rawJson.PartyId = $('#PartyId').val();
                rawJson.PartyName = $('#PartyName').val();
                rawJson.SEZ = $('#SEZ').val();
                rawJson.PayeeId = $('#PayeeId').val();
                rawJson.PayeeName = $('#PayeeName').val();
                rawJson.PartyGST = $('#GSTNo2').val();
                rawJson.Remarks = $('#Remarks').val();
                rawJson.PartyAddress = $('#hdnAddress').val();
                rawJson.PartyState = $('#hdnState').val();
                rawJson.PartyStateCode = $('#hdnStateCode').val();
                rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                rawJson.SealCharge = $('#SealCharge').val();
                rawJson.ParkingDays = $('#ParkingDays').val();
                rawJson.Discount = $('#Discount').val();

                $.each(rawJson.lstPostPaymentChrg, function (i, item) {
                    if (item.ChargeId.toString().indexOf('_') != -1) {
                        item.ChargeId = Number(item.ChargeId.split('_')[0]);
                    }
                });
                rawJson.InvoiceHtml = "";
                $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                $('form#PaymentSheetForm').submit();
            }
            catch (e) {
                $('#btnSave').removeAttr('disabled');
            }
        }
    }

    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        debugger;
        TaxType = Type;
        $('#DivBody').load('/Bond/CHNBond/BondDeliPaymentSheet?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else
        $('#Bill').prop('checked', true);

    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            var AppNo = data.Data.InvoiceNo;
            var AppValues = AppNo.split(",")
            $('#InvoiceNo').val(AppValues[0]);
            $('#SupplyType').val(AppValues[1]);
            //$('#InvoiceNo').val(data.Data.InvoiceNo);
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnIRN').attr("disabled", false);
          //  setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }

    $('#btnIRN').on("click", function () {
        debugger;
        $.ajax({
            url: '/Import/CHN_CWCImport/GetIRNForYardInvoice',
            type: 'POST',
            data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#SupplyType').val() },
            success: function (data) {
                debugger;
                // ViewCHAShippingLine = data;
                if (data.Status == 1) {

                    alert("IRN has been generated successfully")
                    $('#btnPrint').attr("disabled", false);

                    $('#btnIRN').attr("disabled", true);
                }
                else {
                    alert(data.Message);
                    $('#btnPrint').attr("disabled", false);
                    $('#btnIRN').attr("disabled", true);
                }


            }
        });

    });



    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {
        //$('#DivBody').load('/Import/Kdl_CWCExport/CreateContPaymentSheet'); // added
        $('#DivBody').load('/Bond/CHNBond/BondDeliPaymentSheet');
    }


    function InvoiceHtml(actualJson) {
        return ('');
    }
    function Print()
    {
        var invoiceno = $('#InvoiceNo').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "CHN_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'BND',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'Bond Delivery Invoice',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }

    function HideTextBox()
    {
        debugger;
        if($('#Printing').val()=="Yes")
        {
            $('#NoOfPrinting').css("display", "block");
        }
        else
        {
            $('#NoOfPrinting').val("0");
            $('#NoOfPrinting').css("display", "none");
        }
    }

    function ShowList() {
        $('#SearchInvoiceNo').val("");
        $('#SearchInvoiceDate').val("");
        $('#DivListOfInvoice').load('/Export/Chn_CWCExport/ListOfInvoiceBondDelivery');
    }
    function SearchInvoice() {
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true) {
            $('#DivListOfInvoice').load('/Export/Chn_CWCExport/ListOfInvoiceBondDelivery?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate);
        }
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/Export/Chn_CWCExport/ListOfInvoiceBondDelivery?InvoiceNo=' + InvoiceNo);
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Export/Chn_CWCExport/ListOfInvoiceBondDelivery?InvoiceDate=' + InvoiceDate);
    }

</script>
