@model IEnumerable<CwcExim.Areas.Bond.Models.ListOfWOunloading>
<table class="table table-striped table-bordered" id="tblWOUnloading" style="width:100%;">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.BondBOENo)</th>
            <th>@Html.DisplayNameFor(m => m.BondBOEDate)</th>
            <th>@Html.DisplayName("Deposit No")</th>
            <th>@Html.DisplayName("Deposit Date")</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody>
        @{ var SerialNo = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo.ToString()</td>
                    <td>@data.BondBOENo</td>
                    <td>@data.BondBOEDate</td>
                    <td>@data.DepositNo</td>
                    <td>@data.DepositDate</td>
                    <td class="text-center"><a href="#" onclick="EditBondWO(@data.UnloadingId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewBondWO(@data.UnloadingId)"><i class="fa fa-search-plus Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblWOUnloading = $('#tblWOUnloading').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "10%" },
                       { "sName": "BondNo", "bSortable": false },
                       { "sName": "BondDate", "bSortable": false },
                       { "sName": "WorkOrderNo", "bSortable": false },
                       { "sName": "WorkOrderDate", "bSortable": false },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       //{ "sName": "PrintPreview", "bSortable": false, "width": "10%" },

            ]
        });
        new $.fn.dataTable.FixedHeader(tblWOUnloading);
    });
    function EditBondWO(UnloadingId)
    {
        $('#DivBody').load('/Bond/CHNBond/EditWOUnloading?UnloadingId=' + UnloadingId);
    }
    function ViewBondWO(BondWODeliId)
    {
        $('#DivBody').load('/Bond/CHNBond/ViewWOUnloading?UnloadingId=' + BondWODeliId);
    }
</script>


