@model CwcExim.Areas.Bond.Models.CHNBondApp

<style>
    .encls_chk .boolean-container {
        width: auto;
        display: inline-block;
    }
</style>

<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivBondApp">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Application For Availability Of Space</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.ApplicationDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.ApplicationNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.ImporterName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.ImporterName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Importer License No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ImporterLicenseNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                       
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @*<label>BOL / AWB No:</label>*@
                            <label>BOL No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BOLAWBNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">                           
                            <label>BOL Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.BolAwbDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>AWB No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.AWBNo, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.AWBNo)
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>AWB Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.AWBDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.BOENo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BOENo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            @Html.LabelFor(m => m.BOEDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.BOEDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Nature Of Packages:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.DropDownListFor(m => m.NatureOfPackages, new List<SelectListItem>
                        {
                         new SelectListItem { Text = "Pallet", Value = "Pallet" },
                        new SelectListItem { Text = "Cartoon", Value = "Cartoon" },
                         new SelectListItem { Text = "Drum", Value = "Drum" },
                         new SelectListItem { Text = "Metal", Value = "Metal" },
                         new SelectListItem { Text = "Fibre", Value = "Fibre" },
                         new SelectListItem { Text = "Wooden", Value = "Wooden" },
                           new SelectListItem { Text = "Crate", Value = "Crate" },
                            new SelectListItem { Text = "Others", Value = "Others" },
                        }, "----Select----", new { @disabled = true })
                            <div id="DivOthers" style="margin-top:5px;">
                                <div class="Date_Img">
                                    @Html.TextBoxFor(m => m.Others, new { @class = "form-control input-sm", @id = "Others", @readonly = "true" })
                                    @Html.ValidationMessageFor(m => m.Others, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>No of Units:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.NoOfUnits, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Nature Of Material:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.NatureOfMaterial, new List<SelectListItem> {
                               new SelectListItem { Text="Non Haz",Value="2"},
                               new SelectListItem { Text="Haz",Value="1"},
                               new SelectListItem { Text="Extra Haz",Value="3"},
                                }, new { @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Dimension Per Unit:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.DimensionPerUnit, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5">
                            @Html.TextBoxFor(m => m.DimensionUOM, new { @class = "form-control input-sm", @placeholder = "UOM", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_offset_3 col-md-offset-1 col_cus_2 padding_rt">
                            <label>Weight:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5">
                            @Html.DropDownListFor(m => m.WeightUOM, new List<SelectListItem> {
                               new SelectListItem { Text="KG",Value="KG"},
                               new SelectListItem { Text="QTL",Value="QTL"},
                               new SelectListItem { Text="MT",Value="MT"},
                           }, new { @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Reservation Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.ReservationType, new List<SelectListItem>
                                   {
                                       new SelectListItem { Text="Reserved",Value="Reserved"},
                                       new SelectListItem { Text="UnReserved",Value="UnReserved"},
                                   }, "----Select----")
                            @Html.ValidationMessageFor(m => m.ReservationType, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_offset_4 col-md-offset-4 col_cus_2 padding_rt">
                            <label>Requirement Of Space (in sq. mts.):</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.SpaceReq, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.SpaceReq, "", new { @class = "Error_Msg" })
                        </div>
                        @*<div class="col-md-1-5 col_cus_offset_4 col-md-offset-4 col_cus_2 padding_rt">
                            <label>Reserved Area (sq. mts.):</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SpaceReqReserved, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.SpaceReqReserved, "", new { @class = "Error_Msg" })
                        </div>*@
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Assessable / CIF Value:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.AssessCIFvalue, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_offset_4 col-md-offset-4 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.DutyAmt, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.DutyAmt, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Custom Seal No.:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_offset_4 col-md-offset-4 col_cus_2 padding_rt">
                            <label>Expected Date of Warehouse:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.ExpDateofWarehouse, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Godown No.:</label>
                        </div>
                        <div class="col-md-4-5">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })                           
                            @Html.HiddenFor(m => m.GodownId)
                        </div>

                    </div>
                </div>
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Dimension</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.Length, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.Length, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.Width, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.Width, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.Height, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Encls:</label>
                        </div>
                        <div class="col-md-4 encls_chk">
                            <div class="boolean-container">
                                @*<input type="checkbox" id="IsInvoiceCopy" />*@
                                @Html.CheckBoxFor(m => m.IsInvoiceCopy, new { @id = "IsInvoiceCopy", @disabled = true })
                                <label for="IsInvoiceCopy"><i class="square"></i><span>Invoice Copy</span></label>
                            </div>
                            <div class="boolean-container">
                                @*<input type="checkbox" id="IsPackingList" />*@
                                @Html.CheckBoxFor(m => m.IsPackingList, new { @id = "IsPackingList", @disabled = true })
                                <label for="IsPackingList"><i class="square"></i><span>Packing List</span></label>
                            </div>
                            <div class="boolean-container">
                                @*<input type="checkbox" id="IsBOLAWB" />*@
                                @Html.CheckBoxFor(m => m.IsBOLAWB, new { @id = "IsBOLAWB", @disabled = true })
                                <label for="IsBOLAWB"><i class="square"></i><span>BOL/AWB</span></label>
                            </div>
                            <div class="boolean-container">
                                @*@*<input type="checkbox" id="IsBOE" />*@
                                @Html.CheckBoxFor(m => m.IsBOE, new { @id = "IsBOE", @disabled = true })
                                <label for="IsBOE"><i class="square"></i><span>BOE</span></label>
                            </div>
                        </div>
                        <div class="col-md-offset-2-5 col-md-1-5 padding_rt">
                            <label>Storage Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.StorageType, new List<SelectListItem>
                       {
                           new SelectListItem { Text="Open",Value="O"},
                           new SelectListItem { Text="Covered",Value="C"},
                       }, "----Select----", new { @disabled = true })
                            @Html.ValidationMessageFor(m => m.StorageType, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadCreateBondApp()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    function LoadCreateBondApp() {
        $('#DivBody').load('/Bond/CHNBond/CreateBondApp');
    }

    if ($('#NatureOfPackages').find(":selected").text() == "Others") {
        //$("#Others").removeAttr("disabled");
        $('#DivOthers').show();
    }
    else {
        //$("#Others").attr("disabled", "disabled");
        $("#Others").val('');
        $('#DivOthers').hide();
    }
</script>
