@model IEnumerable<CwcExim.Areas.Import.Models.DeliveryApplicationList>

<script>
    $(function(){
        var TblDeliveryApplication = $('#TblDeliveryApplication').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       { "sName": "Delivery No","bSortable":false },
                       { "sName": "Destuffing Entry No" ,"bSortable":false},
                        { "sName": "Delivery Date" ,"bSortable":false},
                       {"sName":"Edit","bSortable":false,"width":"10%"},
                       {"sName":"View","bSortable":false,"width":"10%"},
                      ]
        });
        new $.fn.dataTable.FixedHeader(TblDeliveryApplication);
    });
    function LoadDeliveryApplication() {
        $('#DivBody').load('/Import/Kol_CWCImport/CreateDeliveryApplication');
    }
    function EditDeliveryApplication(DeliveryId) {
        $('#DivBody').load('/Import/Kol_CWCImport/EditDeliveryApplication?DeliveryId=' + DeliveryId);
    }
    function ViewDeliveryApplication(DeliveryId) {
        $('#DivBody').load('/Import/Kol_CWCImport/ViewDeliveryApplication?DeliveryId=' + DeliveryId);
    }

</script>

<table id="TblDeliveryApplication" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Delivery No</th>
            <th>Destuffing Entry No</th>
            <th>Delivery Date</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.DeliveryNo)</td>
                    <td>@Html.DisplayFor(m => item.DestuffingEntryNo)</td>
                    <td>@Html.DisplayFor(m => item.DeliveryAppDate)</td>
                    <td class="text-center"><a href="#" onclick="EditDeliveryApplication(@item.DeliveryId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewDeliveryApplication(@item.DeliveryId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>


