@model CwcExim.Areas.Import.Models.DeliveryApplication
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            @using (Ajax.BeginForm("AddEditDeliveryApplication", "Kol_CWCImport", new AjaxOptions { Confirm = "Are you sure you want to Save?", HttpMethod = "POST", OnSuccess = "DeliveryOnSuccess", OnFailure = "DeliveryOnFailure" }))
            {
                <div id="DivEditDeliveryApp">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Delivery Application</h4>
                        </div>
                    </div>
                    @Html.Hidden("LineNo")
                  @*  @Html.Hidden("BOENo")*@
                    @Html.Hidden("CommodityId")
                    @Html.Hidden("DestuffingEntryDtlId")
                    @Html.Hidden("DeliveryDtlId")

                    @Html.HiddenFor(m => m.DeliveryAppDtlXml)
                    @Html.HiddenFor(m => m.DestuffingId)
                    @Html.HiddenFor(m => m.DeliveryId)
                    @Html.AntiForgeryToken()
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Delivery No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.DeliveryNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Destuffing Entry No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.DestuffingEntryNo, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="CHADtlSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHADtlModal"></i></span>
                                @Html.ValidationMessageFor(m => m.CHA, "", new { @class = "Error_Msg" })
                                @Html.HiddenFor(m => m.CHAId)
                            </div>
                        </div>
                    </div>
                    <div id="DivDeliveryAppDetails" class="Head_h5">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>BOE - Line No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOELineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("BOELineNo", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>BEO No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOENo", "", new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>BEO Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBox("BEODate", "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("BEODate", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top SignUp_space_bottom2">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Importer:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("Importer","", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search" id="ImporterSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                                    @Html.ValidationMessage("Importer", "", new { @class = "Error_Msg" })
                                    @Html.Hidden("ImporterId")
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Cargo Description</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextArea("CargoDescription", "", new { @style = "height:100px;width:100%", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col_cus_2 col-md-1-5">
                                    <label>Commodity:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_2_5 ">
                                    @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col_cus_2 col-md-1-5">
                                    <label>Destuff No Of Packages:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>No Of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DelNoOfPackages", "", new { @class = "form-control input-sm", @onchange = "FillBalancedUnits()", @onkeypress = "return AllowOnlyInteger(event)" })
                                    @Html.ValidationMessage("DelNoOfPackages", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Destuff Weight:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GrossWt", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("GrossWt", "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>Weight:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DelGrossWt", "", new { @class = "form-control input-sm", @onchange = "FillBalancedWeights()", @onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Destuff SQM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("SQM", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>SQM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DelSQM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("DelSQM", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Destuff CUM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CUM", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>CUM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DelCUM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("DelCUM", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Destuff CIF:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CIF", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>CIF:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DelCIF", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("DelCIF", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Destuff Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Duty", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                    <label>Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DelDuty", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("DelDuty", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="button" id="BtnAddDeliveryApp" class="btn log_Btn_sm" value="Add" onclick="SaveDeliveryAppDtl()" disabled />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetDeliveryAppDet()" />
                            </div>
                        </div>
                        <div id="DivDeliveryAppTblErrMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                        <table class="table table-striped table-bordered dataTable" id="TblDeliveryAppDtl" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center">@Html.DisplayName("SL No")</th>
                                    <th>@Html.DisplayName("BOE-Line No")</th>
                                    <th>@Html.DisplayName("Weight")</th>
                                    <th>@Html.DisplayName("Edit")</th>
                                    <th class="text-center">@Html.DisplayName("View")</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveDelvApp" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Cancel" onclick="LoadDeliveryApp()" />
                        </div>
                    </div>
                    <div id="DivDeliveryMsg" class="logSuccMsg" style="background-color:transparent"></div>
                    <div id="DivDeliveryErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="CHADtlModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of CHA</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SearchCHADtl" type="text" />
                <ul class="navList" id="ListOfCHADtl">
                    @{
                        if (ViewBag.CHAList != null)
                        {
                            foreach (var data in ViewBag.CHAList)
                            {
                                <li id="@data.Value">@data.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ImporterModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Importer</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Impbox" type="text" />
                <ul class="navList" id="lstImp">
                    @{
                        if (ViewBag.ImporterList != null)
                        {
                            foreach (var data in ViewBag.ImporterList)
                            {
                                <li id="@data.Value">@data.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    var ArrayOfDeliveryApp = [];
    $(function () {
        ArrayOfDeliveryApp=@Html.Raw(Json.Encode(Model.LstDeliveryAppDtl));
        GenerateDeliveryAppTable();
        $('#BEODate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $("[data-valmsg-for='BEODate']").html('');
            }
        });
        $('#BEODate').datepicker("setDate", new Date());
        //$('#TblDeliveryAppDtl').hide();
        //LoadDeliveryAppList();
    });

    function LoadDeliveryApp() {
        $('#DivBody').load('/Import/Kol_CWCImport/CreateDeliveryApplication');
    }

    $('#ListOfCHADtl li').on("click", function () {
        debugger;
        $('#CHA').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHADtlModal").modal("hide");
    });
    $('#SearchCHADtl').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CHADtlModal .navList > li').show();
        } else {
            $('#CHADtlModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Impbox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstImp > li').show();
        else {
            $('#lstImp > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstImp > li').on("click", function () {
        debugger;
        $('#Importer').val($(this).text());
        $('#ImporterId').val($(this).attr('id'));
        $("#ImporterModal").modal("hide");
    });

    $('#DestuffingEntrybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#DestuffingEntryNoList > li').show();
        } else {
            $('#DestuffingEntryNoList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#DestuffingEntryNoList li').on("click", function () {
        debugger;
        ResetDeliveryAppDet();
        ArrayOfDeliveryApp = [];
        $('#TblDeliveryAppDtl').hide();
        $('#TblDeliveryAppDtl>tbody').html('');
        $('#DestuffingEntryNo').val($(this).text());
        $('#DestuffingId').val($(this).attr('id'));
        var DestuffingId=$(this).attr('id')
        $("#DestuffingEntryNoModal").modal("hide");
        GetBOELineNo(DestuffingId);
    });

    //function FillDetails() {
    //    var DestuffingId = $('#DestuffingId').val();
    //    if (SpaceAppId > 0) {
    //        $.ajax({
    //            url: '/Import/Kdl_CWCImport/GetBOENoForDeliveryApp',
    //            type: 'GET',
    //            data: { SpaceAppId: SpaceAppId },
    //            dataType: 'JSON',
    //            success: function (data) {
    //                debugger;
    //                if (data.Status == 1) {
    //                    $('#BondBOENo').val(data.Data.BondBOENo);
    //                    $('#BondBOEDate').val(data.Data.BondBOEDate);
    //                    $('#SacDate').val(data.Data.SacDate);
    //                    $('#CHAId').val(data.Data.CHAId);
    //                    $('#Importer').val(data.Data.Importer);
    //                    GetDepositNo(SpaceAppId);
    //                }
    //            }
    //        });
    //    }
    //}




    function SaveDeliveryAppDtl() {
        debugger;
        if ($('#DelNoOfPackages').val() == '') {
            $('[data-valmsg-for="DelNoOfPackages"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelGrossWt').val() == '') {
            $('[data-valmsg-for="DelGrossWt"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelSQM').val() == '') {
            $('[data-valmsg-for="DelSQM"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelCUM').val() == '') {
            $('[data-valmsg-for="DelCUM"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelCIF').val() == '') {
            $('[data-valmsg-for="DelCIF"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelDuty').val() == '') {
            $('[data-valmsg-for="DelDuty"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ( Number($('#DelNoOfPackages').val()) > Number($('#NoOfPackages').val()) ) {
            alert('No Of Packages Should Be Less Than Destuff No Of Packages');
            return false;
        }
        if (Number($('#DelGrossWt').val()) > Number($('#GrossWt').val())) {
            alert('Gross Wt Should Be Less Than Destuff Gross Wt');
            return false;
        }
        if (Number($('#DelSQM').val()) > Number($('#SQM').val())) {
            alert('SQM Should Be Less Than Destuff SQM');
            return false;
        }
        if (Number($('#DelCUM').val()) > Number($('#CUM').val())) {
            alert('CUM Should Be Less Than Destuff CUM');
            return false;
        }
        if (Number($('#DelCIF').val()) > Number($('#CIF').val())) {
            alert('CIF Should Be Less Than Destuff CIF');
            return false;
        }
        if (Number($('#DelDuty').val()) > Number($('#Duty').val())) {
            alert('Duty Should Be Less Than Destuff Duty');
            return false;
        }
        $('#DivDeliveryAppTblErrMsg').html('');
        if ($('#BOELineNo').val() != "") {
            var DeliveryAppDtl = {
                "BOELineNo": $('#BOELineNo').val(),
                "DestuffingEntryDtlId": $('#DestuffingEntryDtlId').val(),
                "DeliveryDtlId": $('#DeliveryDtlId').val(),
                "LineNo": $('#LineNo').val(),
                "BOENo": $('#BOENo').val(),
                "BEODate": $('#BEODate').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "Commodity": $('#Commodity').val(),
                "NoOfPackages": $('#NoOfPackages').val() == "" ? 0 : $('#NoOfPackages').val(),
                "GrossWt": $('#GrossWt').val() == "" ? 0 : $('#GrossWt').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "CIF": $('#CIF').val() == "" ? 0 : $('#CIF').val(),
                "Duty": $('#Duty').val() == "" ? 0 : $('#Duty').val(),
                "DelNoOfPackages": $('#DelNoOfPackages').val() == "" ? 0 : $('#DelNoOfPackages').val(),
                "DelGrossWt": $('#DelGrossWt').val() == "" ? 0 : $('#DelGrossWt').val(),
                "DelSQM": $('#DelSQM').val() == "" ? 0 : $('#DelSQM').val(),
                "DelCUM": $('#DelCUM').val() == "" ? 0 : $('#DelCUM').val(),
                "DelCIF": $('#DelCIF').val() == "" ? 0 : $('#DelCIF').val(),
                "DelDuty": $('#DelDuty').val() == "" ? 0 : $('#DelDuty').val(),
                "CommodityId": $('#CommodityId').val(),
                "Importer": $('#Importer').val(),
                "ImporterId": $('#ImporterId').val(),
            }
            ArrayOfDeliveryApp.push(DeliveryAppDtl);
            debugger;
            $('#BOELineNoList #' + $('#DestuffingEntryDtlId').val()).remove();
            ResetDeliveryAppDet();
            GenerateDeliveryAppTable();
            $('#BtnAddDeliveryApp').prop("disabled", true);
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Select A Deposit No In Order To Add Details');
        }
    }

    function ResetDeliveryAppDet() {
        debugger;
        $('#DivDeliveryAppDetails').find('input:text,textarea').val('');
        $('#CommodityId').val('');
        $('#DestuffingEntryDtlId').val('');
        $('#BEODate').datepicker("setDate", new Date());
        $('#SearchBOELineNo').css("display", "block");
    }

    function GenerateDeliveryAppTable() {
        debugger;
        $('#TblDeliveryAppDtl').hide();
        var Html = '';
        if (ArrayOfDeliveryApp.length != 0) {
            $.each(ArrayOfDeliveryApp, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.BOELineNo + '</td><td>' + item.DelGrossWt + '</td><td class="text-center"><a href="#" onclick="EditDeliveryAppDtl(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewDeliveryAppDtl(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDeliveryAppDtl>tbody').html(Html);
            $('#TblDeliveryAppDtl').show();
        }
    }

    function EditDeliveryAppDtl(Index) {
        debugger;
        $('#DivDeliveryAppTblErrMsg').html('');
        if ($('#BtnAddDeliveryApp').prop("disabled") == true) {
            $('#SearchBOELineNo').css("display", "block");
            $('#BtnAddDeliveryApp').prop("disabled", false);
            $('#DestuffingEntryDtlId').val(ArrayOfDeliveryApp[Index].DestuffingEntryDtlId);
            $('#DeliveryDtlId').val(ArrayOfDeliveryApp[Index].DeliveryDtlId);
            $('#BOELineNo').val(ArrayOfDeliveryApp[Index].BOELineNo);
            $('#LineNo').val(ArrayOfDeliveryApp[Index].LineNo);
            $('#BOENo').val(ArrayOfDeliveryApp[Index].BOENo);
            $('#BEODate').val(ArrayOfDeliveryApp[Index].BEODate);
            $('#CargoDescription').val(ArrayOfDeliveryApp[Index].CargoDescription);
            $('#Commodity').val(ArrayOfDeliveryApp[Index].Commodity);
            $('#CommodityId').val(ArrayOfDeliveryApp[Index].CommodityId);
            $('#NoOfPackages').val(ArrayOfDeliveryApp[Index].NoOfPackages);
            $('#GrossWt').val(ArrayOfDeliveryApp[Index].GrossWt);
            $('#SQM').val(ArrayOfDeliveryApp[Index].SQM);
            $('#CUM').val(ArrayOfDeliveryApp[Index].CUM);
            $('#CIF').val(ArrayOfDeliveryApp[Index].CIF);
            $('#Duty').val(ArrayOfDeliveryApp[Index].Duty);
            $('#DelNoOfPackages').val(ArrayOfDeliveryApp[Index].DelNoOfPackages);
            $('#DelGrossWt').val(ArrayOfDeliveryApp[Index].DelGrossWt);
            $('#DelSQM').val(ArrayOfDeliveryApp[Index].DelSQM);
            $('#DelCUM').val(ArrayOfDeliveryApp[Index].DelCUM);
            $('#DelCIF').val(ArrayOfDeliveryApp[Index].DelCIF);
            $('#DelDuty').val(ArrayOfDeliveryApp[Index].DelDuty);
            $('#Importer').val(ArrayOfDeliveryApp[Index].Importer);
            $('#ImporterId').val(ArrayOfDeliveryApp[Index].ImporterId);
            ArrayOfDeliveryApp.splice(Index, 1);
            GenerateDeliveryAppTable();
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Add The Above Records');
        }
    }

    function ViewDeliveryAppDtl(Index) {
        debugger;
        if ($('#BtnAddDeliveryApp').prop("disabled") == true) {
            $('#BtnAddDeliveryApp').prop("disabled", true);
            $('#SearchBOELineNo').css("display", "none");
            $('#DeliveryDtlId').val(ArrayOfDeliveryApp[Index].DeliveryDtlId);
            $('#DestuffingEntryDtlId').val(ArrayOfDeliveryApp[Index].DestuffingEntryDtlId);
            $('#BOELineNo').val(ArrayOfDeliveryApp[Index].BOELineNo);
            $('#LineNo').val(ArrayOfDeliveryApp[Index].LineNo);
            $('#BOENo').val(ArrayOfDeliveryApp[Index].BOENo);
            $('#BEODate').val(ArrayOfDeliveryApp[Index].BEODate);
            $('#CargoDescription').val(ArrayOfDeliveryApp[Index].CargoDescription);
            $('#Commodity').val(ArrayOfDeliveryApp[Index].Commodity);
            $('#CommodityId').val(ArrayOfDeliveryApp[Index].CommodityId);
            $('#NoOfPackages').val(ArrayOfDeliveryApp[Index].NoOfPackages);
            $('#GrossWt').val(ArrayOfDeliveryApp[Index].GrossWt);
            $('#SQM').val(ArrayOfDeliveryApp[Index].SQM);
            $('#CUM').val(ArrayOfDeliveryApp[Index].CUM);
            $('#CIF').val(ArrayOfDeliveryApp[Index].CIF);
            $('#Duty').val(ArrayOfDeliveryApp[Index].Duty);
            $('#DelNoOfPackages').val(ArrayOfDeliveryApp[Index].DelNoOfPackages);
            $('#DelGrossWt').val(ArrayOfDeliveryApp[Index].DelGrossWt);
            $('#DelSQM').val(ArrayOfDeliveryApp[Index].DelSQM);
            $('#DelCUM').val(ArrayOfDeliveryApp[Index].DelCUM);
            $('#DelCIF').val(ArrayOfDeliveryApp[Index].DelCIF);
            $('#DelDuty').val(ArrayOfDeliveryApp[Index].DelDuty);
            $('#Importer').val(ArrayOfDeliveryApp[Index].Importer);
            $('#ImporterId').val(ArrayOfDeliveryApp[Index].ImporterId);
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Add The Above Records');
        }

    }

    function DeliveryOnSuccess(data) {
        debugger;
        if (data.Status == 2) {
            $('#DivDeliveryMsg').html(data.Message);
            setTimeout(function () {
                $('#DivBody').load('/Import/Kol_CWCImport/CreateDeliveryApplication');
            },5000)
        }
        else {
            $('#DivDeliveryErrMsg').html(data.Message);
        }
    }

    function DeliveryOnFailure() {

    }

    function FillBalancedUnits() {
        debugger;
        $('[data-valmsg-for="DelNoOfPackages"]').html('<span></span>');
        if (Number($('#DelNoOfPackages').val()) > Number($('#NoOfPackages').val())) {
            alert('No Of Packages Should Be Less Than Destuff  No Of Packages');
            return false;
        }
        else {
            var DelNoOfPackages = Number($('#DelNoOfPackages').val());

            var GrossWt = Number($('#GrossWt').val());
            var SQM = Number($('#SQM').val());
            var CUM = Number($('#CUM').val());
            var CIF = Number($('#CIF').val());
            var NoOfPackages = Number($('#NoOfPackages').val());
            var Duty = Number($('#Duty').val());

            $('#DelGrossWt').val(((GrossWt / NoOfPackages) * DelNoOfPackages).toFixed(2));
            $('#DelSQM').val(((SQM / NoOfPackages) * DelNoOfPackages).toFixed(2));
            $('#DelCUM').val(((CUM / NoOfPackages) * DelNoOfPackages).toFixed(2));
            $('#DelCIF').val(((CIF / NoOfPackages) * DelNoOfPackages).toFixed(2));
            $('#DelDuty').val(((Duty / NoOfPackages) * DelNoOfPackages).toFixed(2));
            return true;
        }

    }

    //function FillBalancedWeights() {
    //    debugger;
    //    $('[data-valmsg-for="Weight"]').html('<span></span>');
    //    if (Number($('#Weight').val()) > Number(ClosingWeight)) {
    //        alert('Weight Should Be Less Than Closing Weight');
    //    }
    //    else {
    //        $('#ClosingWeight').val((ClosingWeight - Number(parseFloat(Number($('#Weight').val())))).toFixed(3));
    //    }

    //}

    $('#BtnSaveDelvApp').on("click", function () {
        debugger;
        $('#DivDeliveryAppTblErrMsg').html('');
        if ($('#BOELineNo').val() == "" && $('#TblDeliveryAppDtl >tbody').html() != "") {
            if (ArrayOfDeliveryApp.length != 0) {
                $('#DeliveryAppDtlXml').val(JSON.stringify(ArrayOfDeliveryApp));
            }
        }
        else if ($('#BOELineNo').val() != "" && $('#BtnAddDeliveryApp').prop("disabled") == true) {
            if (ArrayOfDeliveryApp.length != 0) {
                $('#DeliveryAppDtlXml').val(JSON.stringify(ArrayOfDeliveryApp));
            }
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Add The Above Records');
            return false;
        }
    });

    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
</script>


