@model CwcExim.Areas.Import.Models.RakeWagonHdr

@using (Ajax.BeginForm("AddEditRakeCargo", "Kol_CWCImport", new AjaxOptions { Confirm = "Are you sure you want to Save?", HttpMethod = "POST", OnSuccess = "RakeCargoOnSuccess", OnFailure = "RakeCargoOnFailure" }))
{
    @Html.AntiForgeryToken()
    <div class="Head_h4">
        <div class="row">
            <div class="col-md-12">
                <h4>FOIS Data Entry</h4>
            </div>
        </div>

        @Html.HiddenFor(m => m.RWHdrId)
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Invoice No:</label>
                    @Html.HiddenFor(x => x.WgonDetailsJS)
                </div>
                <div class="col-md-2-5 col_cus_2_5">
                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(m => m.InvoiceNo, "", new { @class = "Error_Msg" })
                </div>

                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Rake ID:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.RakeId, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.RakeId, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Station From:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.StationFrom, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.StationFrom, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Station To:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.StationTO, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.StationTO, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>No of Wagon:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.NoOfWagon, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.NoOfWagon, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Rake Name:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.RakeName, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.RakeName, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>First Operating Placement Time:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.FstOprPlcTime, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.FstOprPlcTime, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Last Release Time:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.LstRelsTime, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.LstRelsTime, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top Form_Space_bottom">
            <div class="col-md-12">
                <div style="overflow-x: auto; height: 300px;">
                    <table id="tblContainer" class="table table-bordered table-striped dataTable bigger_table">
                        <thead>
                            <tr>
                                <th width="50px;"></th>
                                <th width="70px;">Wagon ID</th>
                                <th width="100px;">Container No</th>
                                <th width="50px;">Container L/E Flag</th>
                                <th width="50px;">Container Size</th>
                                <th width="70px;">Container Position</th>
                                <th width="50px;">Commodity Loaded</th>
                                <th width="50px;">Traffic Type</th>
                                <th width="50px;">Commodity Statistical Code</th>
                                <th width="50px;">Container Tare Weight</th>
                                <th width="50px;">Container Loaded Weight</th>
                                <th width="50px;">SMTP Number</th>
                                <th width="100px;">SMTP Date</th>
                                <th width="70px;">HSN Code</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                </div>
        </div>


        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>
        <div class="logSuccMsg Form_Space_bottom" id="DivBBTTCargoMsg" style="background-color:transparent"></div>

        <div class="row SignUp_space_bottom" style="display: flex; justify-content: center;">
            <div class="col-md-2">
                <button id="BtnSaveDelvApp" type="submit" class="btn log_Btn_sm">Save</button>
            </div>
            <div class="col-md-2">
                <input id="btnSendRLDtl" type="button" class="btn log_Btn_sm" value="Send" disabled onclick="SendRakeLoadingDetails()" />
            </div>
            <div class="col-md-2">
                <input id="btnBack" type="button" class="btn log_Btn_sm" value="Back" />
            </div>
        </div>

    </div>
}


@Scripts.Render("~/bundles/jqueryval")

<script>
    var JsonObj = $.parseJSON($('#WgonDetailsJS').val());
    GenerateWgonDetailsTable();
    function RakeCargoOnSuccess(data) {
        alert(data.Message);
        $('#btnSendRLDtl').prop('disabled', false);

    }
    function RakeCargoOnFailure() { }

    function GenerateWgonDetailsTable() {
        debugger;
        var html = '';
        $.each(JsonObj, function (i, item) {
            html += '<tr id=' + item.ID + '>';
            html += '<td style="display:none;">' + item.ID + '</td><td><a href="#" onclick="Add(' + item.ID + ',&quot;' + item.WgonId + '&quot;)"><span class="glyphicon glyphicon-plus"></span><a/></td> <td>' + item.WgonId + '</td>';
            html += '<td><input type="text" id="ContNo", maxlength = "23" value="' + item.ContNo + '" /></td>';
            html += '<td><input type="text" id="ContFlg", maxlength = "1" value="' + item.ContFlg + '" /></td>';
            html += '<td><input type="text" id="ContSize" , maxlength = "2" value="' + item.ContSize + '" /></td>';
            html += '<td><input type="text" id="ContPosn", maxlength = "2" value="' + item.ContPosn + '" /></td>;'
            html += '<td><select><option value="CTNR">CTNR</option></select></td>';
            html += '<td><input type="text" id="TrafficType", maxlength = "5" value="' + item.TrafficType + '" /></td>';
            html += '<td><input type="text" id="CommodityCode", maxlength = "4" value="' + item.CommodityCode + '" /></td>';
            html += '<td><input type="text" id="ContLodWt" , maxlength = "11" value="' + item.ContLodWt + '" /></td>';
            html += '<td><input type="text" id="ContTareWt" , maxlength = "11" value="' + item.ContTareWt + '" /></td>';
            html += '<td><input type="text" id="SmtpNo" , maxlength = "15" value="' + item.SmtpNo + '" /></td>';
            html += '<td style="position: relative;" class ="Date_Img"><input type="text" id="SmtpDt' + i + '"  class="SmtpDt" value="' + item.SmtpDt + '" /></td>';
            html += '<td><input type="text" id="HsnCode" value="' + item.HsnCode + '" /></td>';
            html += '</tr>';
        });
        $('#tblContainer > tbody').html(html);
        $(".SmtpDt").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $('#WgonDetailsJS').val(JSON.stringify(JsonObj));

    }
    function Remove(tr) {
        debugger;
        tr.parentNode.parentNode.remove();
    }
    function Add(ID, WgonId) {
        const d = new Date();
        var i = d.getHours() + d.getHours() + d.getMinutes() + d.getSeconds() + d.getMilliseconds();
        debugger;
        var html = '';
        html += '<tr>';
        html += '<td style="display:none;">0</td><td><a href="#" onclick="Remove(this)"><span class="glyphicon glyphicon-minus"></span><a/></td> <td>' + WgonId + '</td>';
        html += '<td><input type="text" id="ContNo", maxlength = "23" /></td>';
        html += '<td><input type="text" id="ContFlg", maxlength = "1" /></td>';
        html += '<td><input type="text" id="ContSize" , maxlength = "2" /></td>';
        html += '<td><input type="text" id="ContPosn", maxlength = "2" /></td>;'
        html += '<td><select><option value="CTNR">CTNR</option></select></td>';
        html += '<td><input type="text" id="TrafficType", maxlength = "5" /></td>';
        html += '<td><input type="text" id="CommodityCode", maxlength = "4" /></td>';
        html += '<td><input type="text" id="ContLodWt" , maxlength = "11" /></td>';
        html += '<td><input type="text" id="ContTareWt" , maxlength = "11" /></td>';
        html += '<td><input type="text" id="SmtpNo" , maxlength = "15" /></td>';
        html += '<td style="position: relative;" class ="Date_Img"><input type="text" class="SmtpDt" id="SmtpDt' + i + '" disabled /></td>';
        html += '<td><input type="text" id="HsnCode" /></td>';
        html += '<td style="display:none;">' + ID + '</td>';
        html += '</tr>';

        $('#' + ID).after(html);
        $(".SmtpDt").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
    }

    $('#BtnSaveDelvApp').on("click", function () {
        debugger;
        var ArrayOfDeliveryApp = [];
        $('#tblContainer>tbody tr').each(function () {

            var Id = $(this).find("td").eq(0).html();
            var wagonID = $(this).find("td").eq(2).html();
            var ContainerNo = $(this).find("td").eq(3).find('input').val();
            var ContainerFlag = $(this).find("td").eq(4).find('input').val();
            var ContainerSize = $(this).find("td").eq(5).find('input').val();
            var ContainerPosition = $(this).find("td").eq(6).find('input').val();
            var CommodityLoaded = $(this).find("td").eq(7).find('select').val();
            var TrafficType = $(this).find("td").eq(8).find('input').val();
            var CommodityStatisticalCode = $(this).find("td").eq(9).find('input').val();
            var ContainerTareWeight = $(this).find("td").eq(10).find('input').val();
            var ContainerLoadedWeight = $(this).find("td").eq(11).find('input').val();
            var SMTPNumber = $(this).find("td").eq(12).find('input').val();
            var SMTPDate = $(this).find("td").eq(13).find('input').val();
            var HSNCode = $(this).find("td").eq(14).find('input').val();
            var ParentId = $(this).find("td").eq(15).html();
            ArrayOfDeliveryApp.push({
                'ParentId': ParentId, 'ID': Id, 'WgonId': wagonID, 'ContNo': ContainerNo,
                'ContFlg': ContainerFlag, 'ContSize': ContainerSize, 'ContPosn': ContainerPosition,
                'Commodity': CommodityLoaded, 'TrafficType': TrafficType, 'CommodityCode': CommodityStatisticalCode,
                'ContLodWt': ContainerLoadedWeight, 'ContTareWt': ContainerTareWeight, 'SmtpNo': SMTPNumber,
                'SmtpDt': SMTPDate, 'HsnCode': HSNCode
            });
        });
        $('#WgonDetailsJS').val(JSON.stringify(ArrayOfDeliveryApp));


    });
    $('#btnBack').on("click", function () {

        $('#DivBody').load('/Import/Kol_CWCImport/FOISData');
    });
    function SendRakeLoadingDetails() {
        debugger;
        var _RWHdrId = $('#RWHdrId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/Import/Kol_CWCImport/SendLoadingDetails",
            type: "POST",
            dataType: "JSON",
            data: { RWHdrId: _RWHdrId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#btnSendRLDtl').prop('disabled', true);
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }

</script>
