
@model CwcExim.Areas.Import.Models.AllInvoiceListForappraisemnt


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "BulkInvoiceReportSuccess";
    options.InsertionMode = InsertionMode.InsertAfter;


}

@using (Ajax.BeginForm("GetBulkInvoiceReport", "ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="JsonInvoiceLilst"  name="JsonInvoiceLilst" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Get Appraisement Against Invoice</h4>
                            </div>
                        </div>

                        @if (ViewBag.listInvoice != null)
                        {
                            <input type="hidden" id="listInvoiceJson" name="listInvoiceJson" value="@ViewBag.listInvoice.ToString()" />
                        }
                        else
                        {
                            <input type="hidden" id="listInvoiceJson" name="listInvoiceJson" value="" />
                        }
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                @Html.HiddenFor(m=>m.invoiceId)
                                @Html.HiddenFor(m=>m.StuffingReqId)
                                <div class="col-md-1-5 padding_rt">
                                    <label>Invoice No.:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                    @Html.TextBoxFor(m => m.InvoiceNumber, new { @class = "form-control" , @readonly = true })
                                    @Html.ValidationMessageFor(m => m.InvoiceNumber, "", new { @class = "Error_Msg" })
                                </div>

                                <div class="col-md-1-5 padding_rt">
                                    <label>Appraisement No.:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                   @Html.TextBoxFor(m=>m.StuffingReqNo, new { @readonly=true })
                                </div>

                                <div class="col-md-2 padding_rt">
                                    <label>Appraisement Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2">
                                    @Html.TextBoxFor(m=>m.StuffingReqDate, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        @*<div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Get Details" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>*@
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div id="InvoiceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Invoice List</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="InvoiceListBox" type="text" />
                    <ul class="navList" id="lstInvoiceList">
                       
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


                            }
@Scripts.Render("~/bundles/jqueryval")
<script>
  

    function RptConsumerListDtlOnFailure() { }

    populateList();


    

    //$("#LoadInvoice").click(function () {
    //    loadInvoiceLIst();
    //});
    //function loadInvoiceLIst()
    //{
       
    //    debugger;
    //    var fromDt = $("#PeriodFrom").val();
    //    var toDt = $("#PeriodTo").val();

    //    var Token = $('input[name="__RequestVerificationToken"]').val();
    //    $.ajax({
    //        url: '/Report/ReportCWC/ListOfInvoiceDateWise',
    //        type: 'GET',
    //        headers: { '__RequestVerificationToken': Token },
    //        dataType: 'JSON',
    //        data: { FromDate: fromDt, ToDate: toDt },
    //        async: false,
    //        success: function (data) {
    //            // alert(data);
    //            debugger;
    //            if (data != null && data != "" && data != undefined) {
    //                $("#JsonInvoiceLilst").val('');
    //                $("#JsonInvoiceLilst").val(data.Data);
                   
    //            }
    //            else {
    //                debugger;
    //                $("#JsonInvoiceLilst").val('');

    //            }
    //        }
    //    });
    //}
    function populateList()
    {
        debugger;
        var jsonval = JSON.parse($('#listInvoiceJson').val());
        var html = '';
        $.each(jsonval, function (i, item) {
            html += '<li id="' + item.invoiceId + '" " onclick="GetInv(this)">' + item.InvoiceNumber + '</li>';
        });
        debugger;
        $('#lstInvoiceList').html(html);
    }

    function GetInv(elem)
    {
        debugger;

        $('#InvoiceNumber').val($(elem).text());
        $('#invoiceId').val($(elem).attr('id'));
        var selectedReference = $('#invoiceId').val();
        var jsonval = JSON.parse($('#listInvoiceJson').val());
        var values = $.grep(jsonval, function (item) { return item.invoiceId = $('#invoiceId').val(); })[0];
        $('#StuffingReqId').val(values.StuffingReqId);
        $('#StuffingReqNo').val(values.StuffingReqNo);
        $('#StuffingReqDate').val(values.StuffingReqDate);
        
       // alert(selectedReference);
        $("#InvoiceModal").modal("hide");
        debugger;
        
    }

    $('#InvoiceListBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoiceList > li').show();
        else {
            $('#lstInvoiceList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //InvoiceListBox
</script>



