@model IEnumerable<CwcExim.Areas.Import.Models.RakeWagonHdr>
<table class="table table-bordered table-striped" id="tblFOISEntry" style="width:100%">
    <thead>
        <tr>
            <th style="width:5%;" class="text-center">@Html.DisplayName("Sl No")</th>
            <th style="width:10%;">Invoice No</th>
            <th style="width:10%;">Rake ID</th>
            <th style="width:10%;">Station From</th>
            <th style="width:10%;">Station To</th>            
            <th style="width:5%;" class="text-center">@Html.DisplayName("Edit")</th>
            <th style="width:5%;" class="text-center">@Html.DisplayName("View")</th>
            <th style="width:10%;" class="text-center">@Html.DisplayName("Status")</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="width:5%;" class="text-center">@SerialNo</td>
                    <td style="width:10%;">@item.InvoiceNo</td>
                    <td style="width:10%;">@item.RakeId</td>
                    <td style="width:10%;">@item.StationFrom</td>
                    <td style="width:10%;">@item.StationTO</td>
                    <td style="width:5%;" class="text-center"><a href="#" onclick="EditFOISEntry(@item.RWHdrId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td style="width:5%;" class="text-center"><a href="#" onclick="ViewFOISEntry(@item.RWHdrId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    @if (item.IsSend == 1)
                    {
                        <td style="width:10%;">Sent</td>
                    }
                    else 
                    {
                        <td style="width:10%;">Pending</td>
                    }
                    
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>

<script>
    var Page = 0;
    $(document).ready(function () {
        var tblFOISEntry = $('#tblFOISEntry').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "SL No","width": "5%" },
                       { "sName": "Invoice No", "width": "10%" },
                       { "sName": "Rake Id", "width": "10%" },
                       { "sName": "Station From", "width": "10%" },
                       { "sName": "Station To", "width": "10%" },                       
                       { "sName": "Edit", "bSortable": false,"width": "5%" },
                       { "sName": "View", "bSortable": false, "width": "5%" },
                       { "sName": "Status", "width": "10%" },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(6),td:eq(7)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "5%");
                $('td:eq(1)', nRow).css("width", "10%");
                $('td:eq(2)', nRow).css("width", "10%");
                $('td:eq(3)', nRow).css("width", "10%");
                $('td:eq(4)', nRow).css("width", "10%");                
                $('td:eq(6)', nRow).css("width", "5%");
                $('td:eq(7)', nRow).css("width", "5%");
            }
        });
        new $.fn.dataTable.FixedHeader(tblFOISEntry);
    });
    function EditFOISEntry(RWHdrId)
    {
        $('#DivBody').load('/Import/Kol_CWCImport/EditFOISEntry?RWHdrId=' + RWHdrId);
    }
    function ViewFOISEntry(RWHdrId)
    {
        $('#DivBody').load('/Import/Kol_CWCImport/ViewFOISData?RWHdrId=' + RWHdrId);
    }    
    
</script>

