@model CwcExim.Areas.Import.Models.RakeWagonHdr

@using (Ajax.BeginForm("AddEditRakeCargo", "Kol_CWCImport", new AjaxOptions { Confirm = "Are you sure you want to Save?", HttpMethod = "POST", OnSuccess = "RakeCargoOnSuccess", OnFailure = "RakeCargoOnFailure" }))
{
    @Html.AntiForgeryToken()
    <div class="Head_h4">
        <div class="row">
            <div class="col-md-12">
                <h4>FOIS Data Entry</h4>
            </div>
        </div>        

        @Html.HiddenFor(m => m.RWHdrId)
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Invoice No:</label>
                    @Html.HiddenFor(x => x.WgonDetailsJS)
                </div>
                <div class="col-md-2-5 col_cus_2_5">                    
                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(m => m.InvoiceNo, "", new { @class = "Error_Msg" })
                </div>

                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Rake ID:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.RakeId, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.RakeId, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Station From:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.StationFrom, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.StationFrom, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Station To:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.StationTO, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.StationTO, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>No of Wagon:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.NoOfWagon, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.NoOfWagon, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Rake Name:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.RakeName, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.RakeName, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>First Operating Placement Time:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.FstOprPlcTime, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.FstOprPlcTime, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Last Release Time:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.LstRelsTime, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.LstRelsTime, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top Form_Space_bottom">
            <div class="col-md-12">
                <table id="tblContainer" class="table table-bordered table-striped dataTable">
                    <thead>
                        <tr>
                            <th>Wagon ID</th>
                            <th>Container No</th>
                            <th>Container L/E Flag</th>
                            <th>Container Size</th>
                            <th>Container Position</th>
                            <th>Commodity Loaded</th>
                            <th>Traffic Type</th>
                            <th>Commodity Statistical Code</th>
                            <th>Container Tare Weight</th>
                            <th>Container Loaded Weight</th>
                            <th>SMTP Number</th>
                            <th>SMTP Date</th>
                            <th>HSN Code</th>
                        </tr>
                    </thead>
                    <tbody>                        
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>
        <div class="logSuccMsg Form_Space_bottom" id="DivBBTTCargoMsg" style="background-color:transparent"></div>

        <div class="row SignUp_space_bottom" style="display: flex; justify-content: center;">            
            <div class="col-md-2">
                <input id="btnBack" type="button" class="btn log_Btn_sm" value="Back" />
            </div>
        </div>

    </div>
}


@Scripts.Render("~/bundles/jqueryval")

<script>
    var JsonObj = $.parseJSON($('#WgonDetailsJS').val());
    GenerateWgonDetailsTable();

    $('#btnBack').on("click", function () {

        $('#DivBody').load('/Import/Kol_CWCImport/FOISData');
    });

    function GenerateWgonDetailsTable() {
        debugger;
        var html = '';
        $.each(JsonObj, function (i, item) {
            html += '<tr>';
            html += '<td style="display:none;">' + item.ID + '</td>';
            html += '<td>' + item.WgonId + '</td>';
            html += '<td>' + item.ContNo + '</td>';
            html += '<td>' + item.ContFlg + '</td>';
            html += '<td>' + item.ContSize + '</td>;'
            html += '<td>' + item.ContPosn + '</td>';
            html += '<td>' + item.Commodity + '</td>';
            html += '<td>' + item.TrafficType + '</td>';
            html += '<td>' + item.CommodityCode + '</td>';
            html += '<td>' + item.ContLodWt + '</td>';
            html += '<td>' + item.ContTareWt + '</td>';
            html += '<td>' + item.SmtpNo + '</td>';
            html += '<td>' + item.SmtpDt + '</td>';
            html += '<td>' + item.HsnCode + '</td>';
            html += '</tr>';
        });
        $('#tblContainer > tbody').html(html);
        $('#WgonDetailsJS').val(JSON.stringify(JsonObj));        
        
    }

</script>
