@model CwcExim.Areas.ExpSealCheking.Models.CHN_Weighment
@{
    AjaxOptions options = new AjaxOptions();
    //options.Confirm = "Are You Sure You Want To Save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "WeighmentEntryOnSuccess";
    options.OnFailure = "WeighmentEntryOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div id="DivSealChange" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4 postn_rel">
                @using (Ajax.BeginForm("AddEditSealCheckingWeghment", "ExpSealCheking", options))

                {
                    @Html.AntiForgeryToken()
                    //@Html.HiddenFor(m=>m.SealChangeEntryId)
                    @Html.HiddenFor(m => m.TruckSlipDetails)
                    @Html.HiddenFor(m => m.BranchId)
                    @Html.HiddenFor(m => m.CFSCode)
                    @Html.ValidationMessageFor(m => m.TruckSlipDetails)
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Inspection and Weighment</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>TruckSlip No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.TruckSlipNo, "", new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="TruckSlipSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TruckSlipModal"></i></span>
                                @Html.ValidationMessageFor(m => m.TruckSlipNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Truck Slip Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.TruckSlipDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container/CBT No:</label>
                            </div>
                            <div class="col-md-2-5" id="ContainerNoDiv">
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Size:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>On Wheel Inspection:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.OnWheelInspection, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="YES",Value="YES"},
                                     new SelectListItem { Text="NO",Value="NO"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessageFor(m => m.OnWheelInspection, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.GrossWeight, new { @class = "InputLabel" })<label class="LabelColon">:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                @Html.LabelFor(m => m.TareWeight, new { @class = "InputLabel" })<label class="LabelColon">:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.TareWeight, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.TareWeight, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetWeighment()" />
                        </div>
                    </div>

                    <div id="DivsucMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivWeighmentList"></div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="TruckSlipModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Truck Slip No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="TruckSlipBox" type="text" />
                <ul class="navList" id="TruckSlipList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function()
    {
        WeighmentList();
    });

    $('#TruckSlipBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#TruckSlipModal .navList > li').show();
        } else {
            $('#TruckSlipModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });


    $('#TruckSlipSearch').on("click", function () {
        debugger;
        $.ajax({
            url: "/ExpSealCheking/ExpSealCheking/GetTruckSlipListForWeighment",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {

                        Html += '<li id=' + item.TruckSlipNo + ' onclick="FillTruckSlipBox(&quot;' + item.TruckSlipNo + '&quot;)">' + item.TruckSlipNo + '</li>';
                    });
                    $('#TruckSlipList').html(Html);
                }
            }

        });
    });

    function FillTruckSlipBox(TruckSlipNo) {
        debugger;
        $('#TruckSlipDetails').val('');
        $('#TruckSlipNo').val(TruckSlipNo);
        $("#TruckSlipModal").modal("hide");
        GetContainerDet(TruckSlipNo);
    }

    function GetContainerDet(TruckSlipNo) {
        debugger;
        $.ajax({
            url: '/ExpSealCheking/ExpSealCheking/GetContainerDetailsForWeighment',
            type: 'GET',
            dataType: 'JSON',
            async: false,
            data: { TruckSlipNo: TruckSlipNo },
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    $('#ContainerNo').val(data.Data.ContainerNo);
                    $('#Size').val(data.Data.Size);
                    var ContArray = [];
                    var Object = {
                        ContainerNo: data.Data.ContainerNo,
                        Size: data.Data.Size,

                    };
                    ContArray.push(Object);
                    $('#TruckSlipDetails').val(JSON.stringify(ContArray));
                    var a = $('#TruckSlipDetails').val();
                    // $('#JobOrderDetailsJS').val();
                   // $('#JobOrderDate').val(data.Data.JobOrderDate);
                   // $('#SealChangeEntryId').val(data.Data.SealChangeEntryId);
                    $('#TruckSlipNo').val(data.Data.TruckSlipNo);
                    $('#TruckSlipDate').val(data.Data.TruckSlipDate);
                    $('#BranchId').val(data.Data.BranchId);
                    $('#CFSCode').val(data.Data.CFSCode);
                    data.Data.AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true);
                    // ArrayOfDestuffingEntry = data.Data.LstDestuffing;
                    //  GenerateDestuffingTable();
                }
            }
        });
    }

    function WeighmentEntryOnSuccess(data) {
        if (data.Status == 1) {
            if ($('#DivsucMsg').hasClass('logErrMsg'))
                $('#DivsucMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivSealChange #DivsucMsg').html(data.Message);
            WeighmentList();
            // $('#btnSave').prop('disabled', true);
            //setTimeout(CreateSealChangeEntry, 5000);
            ResetWeighment();
        }
        else {
            $('#DivsucMsg').hasClass('logErrMsg');
            //alert(data.Message);
        }


    }

    function WeighmentEntryOnFailure() { }

    $("#btnSave").on("click", function () {
        debugger;
        var Size = $('#Size').val();
        $('#Size').val(Size);
        if ($.trim($('#ContainerNo').val()) = '') {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            //   $('data-valmsg-for="Size"').html('span>Fill Out This Field</span>');
            return false;
        }

    });

    function WeighmentList() {
        debugger;

        $('#DivWeighmentList').load('/ExpSealCheking/ExpSealCheking/SealCheckingWeighmentList');
    }

    function ResetWeighment() {
        $('input[type="text"],textarea').val('');
        $('input[type=checkbox]').prop('checked', true);
        $('[data-valmsg-for]').html('');
    }

</script>

