@model CwcExim.Areas.ExpSealCheking.Models.CHN_SealChekingJobOrder
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4 postn_rel">
             
            
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.JobOrderDetailsJS)
                    @Html.ValidationMessageFor(m => m.JobOrderDetailsJS)
                    @Html.HiddenFor(m => m.StringifyClauseXML)
                    @*@Html.HiddenFor(m=>m.JsonContainer)*@
                    @*<input type="hidden" id="JsonContainer" value="@ViewBag.JSONResult" name="JsonContainer" />*@
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Seal Checking Job Order</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Job Order No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.JobOrderNo, new { @class = "form-control input-sm", @readonly = "true" })
                                @*@ @Html.ValidationMessageFor(m => m.JobOrderNo, "", new { @class = "Error_Msg" })*@
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Job Order Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.JobOrderDate, new { @class = "form-control input-sm", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.JobOrderDate, "", new { @class = "Error_Msg", Value = DateTime.Today.ToString("dd/MM/yyyy") })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>TruckSlip No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.TruckSlipNo, "", new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="TruckSlipSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TruckSlipModal"></i></span>
                                @Html.ValidationMessageFor(m => m.TruckSlipNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Truck Slip Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.TruckSlipDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container/CBT No:</label>
                            </div>
                            <div class="col-md-2-5" id="ContainerNoDiv">
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.DropDownListFor(m => m.Size, new List<SelectListItem>
                               {
                                new SelectListItem { Text="20",Value="20"},
                                new SelectListItem { Text="40",Value="40"}
                                //new SelectListItem { Text="ODC",Value="ODC"},
                                }, "----Select----", new { @class = "form-control input-sm", @onblur = "ClearValidationMsg(this)", @readonly = true, @disabled = true })
                                @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                    </div>
                    <div class="brdr_sec">
                        <div class="row Form_Space_top" style="padding:0 10px;">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Clause:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("OperationId", new SelectList(ViewBag.Operation, "OperationId", "Code"), "---Select---", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("ErrOperation", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                    </div>
                                                <div class="row Form_Space_top Form_Space_bottom">
                                                    <div class="col-md-12">
                                                        <table class="table table-striped table-bordered dataTable" id="tblClause" style="width:100%;"></table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                                </div>
                          
                                                <div class="logSuccMsg" style="background-color:transparent" id="DivsucMsg"></div>

                                                <div class="logErrMsg" id="DivErrorMsg" style="color:transparent"></div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="DivImportJOList"></div>
                                                    </div>
                                                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-2 col-md-offset-5">
                        <input type="button" value="Back" id="btnBack" class="btn log_Btn_sm" onclick="LoadJobOrderView()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ArrayOfClause = [];
    function LoadJobOrderView() {
        debugger;
        $('#DivBody').load('/ExpSealCheking/ExpSealCheking/CreateJobOrder');
    }

    $(function () {
        debugger;
       
        ArrayOfClause = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyClauseXML)));
        GenerateTableClause();
        $('input[type="text"],textarea').prop('readonly', true);
        $('input[type="checkbox"]').prop('disabled', true);
    });

    function GenerateTableClause() {
        debugger;

        var tablehtml = '<table id="tblClause" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Clause</th><th style="width:10%;text-align:center;">View</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfClause, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.OperationCode + '</td>' +

                '<td style="text-align:center;"><a href="#" onclick="ViewClauseDet(' + i + ')"><i class="fa fa-search-plus Delete"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblClause').html(tablehtml);

        if (ArrayOfClause.length > 0) {
            $('#JobOrderClauseJS').val(JSON.stringify(ArrayOfClause));
        }
        else {
            $('#JobOrderClauseJS').val('');
        }
    }
</script>


