@model CwcExim.Areas.ExpSealCheking.Models.CHN_ShutOut
<div id="DivCreateShutOut" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Shut Out Cargo</h4>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.TruckSlipNo, new { @class = "InputLabel" })<label class="LabelColon">:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.TruckSlipNo, "", new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="TruckSlipSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TruckSlipModal"></i></span>
                                @Html.ValidationMessageFor(m => m.TruckSlipNo, "", new { @class = "Error_Msg" })

                            </div>
                            <div class="col-md-offset-3-5 col_cus_offset_2_5 col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.TruckSlipDate, new { @class = "InputLabel" })<label class="LabelColon">:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.TruckSlipDate, "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container/CBT No:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.ContainerNo, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })

                            </div>
                            <div class="col-md-offset-3-5 col_cus_offset_2_5 col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<label class="LabelColon">:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Size, "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Reason:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10" id="PresentSealNoDiv">
                                        @Html.TextAreaFor(m => m.Reason, new { @class = "form-cotrol input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.Reason, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>ShutOut:</label>
                                    </div>
                                    <div class="col-md-1 padding_rt">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.ShutOut, new { @onclick = "ClearCheckBoxValidation()",@readonly=true })
                                            <label for="ShutOut"><i class="square"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                            </div>
                            <div class="row SignUp_space_bottom">
                                <div class="col-md-2 col-md-offset-5">
                                    <input type="button" value="Back" id="btnBack" class="btn log_Btn_sm" onclick="LoadShutOutView()" />
                                </div>
                            </div>
         

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    function LoadShutOutView() {
        debugger;
        $('#DivBody').load('/ExpSealCheking/ExpSealCheking/CreateShutOutCargo');
    }
</script>