@model CwcExim.Areas.ExpSealCheking.Models.CHN_SealChangeEntry
<div id="DivSealChange" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4 postn_rel">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Seal Change Entry</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Job Order No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.JobOrderNo, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.JobOrderNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Job Order Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.JobOrderDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container/CBT No:</label>
                            </div>
                            <div class="col-md-2-5" id="ContainerNoDiv">
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Size:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>TruckSlip No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.TruckSlipNo, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.TruckSlipNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>Truck Slip Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.TruckSlipDate, "{0:dd-MM-yyyy}", new { @class = "form-control input-sm", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Present Seal No:</label>
                            </div>
                            <div class="col-md-2-5" id="PresentSealNoDiv">
                                @Html.TextBoxFor(m => m.PresentSealNo, new { @class = "form-control input-sm" , @readonly = true })
                                @Html.ValidationMessageFor(m => m.PresentSealNo, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>New Seal No:</label>
                            </div>
                            <div class="col-md-2-5" id="NewSealNoDiv">
                                @Html.TextBoxFor(m => m.NewSealNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.NewSealNo, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Lock Provided:</label>
                            </div>
                            <div class="col-md-1 padding_rt">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.LockProvided, new { @onclick = "ClearCheckBoxValidation()", @readonly = true })
                                    <label for="LockProvided"><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-2 col-md-offset-5">
                        <input type="button" value="Back" id="btnBack" class="btn log_Btn_sm" onclick="LoadSealChangeEntryView()" />
                    </div>
                </div>

                    

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    function LoadSealChangeEntryView() {
        debugger;
        $('#DivBody').load('/ExpSealCheking/ExpSealCheking/CreateSealChangeEntry');
    }
</script>
