@model CwcExim.Areas.Export.Models.Wlj_CartingRegister

@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}
@if (ViewBag.RightsList != null)
{
    <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
}
else
{
    <input type="hidden" id="hdnRights" value="" />
}
<style>
    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

<div class="container-fluid"> 
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivAddCartingRegister">
                @using (Ajax.BeginForm("AddEditCartingRegister", "WLJ_CWCExport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "RegisterOnSuccess", OnFailure = "RegisterOnFailure" }, new { @Id = "frmCartingReg" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CartingAppId)
                    @Html.HiddenFor(m => m.XMLData)

                    if (ViewBag.check != null)
                    {
                        <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnShippingLineList" value="" />
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Carting Register</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Carting No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CartingRegisterNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Register Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.RegisterDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.RegisterDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CCIN No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                                @Html.ValidationMessageFor(m => m.ApplicationNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>CCIN Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Carting Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.DropDownListFor(m => m.CartingType, new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Manual",Value="1"},
                                        new SelectListItem { Text="Mechanical",Value="2"}
                                    },"----Select----",new { })*@
                                @Html.DropDownListFor(m => m.CartingType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Manual",Value="1"},
                                    new SelectListItem { Text="Mechanical",Value="2"}
                                }, new { })
                                @Html.ValidationMessageFor(m => m.CartingType, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Commodity Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.CommodityType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="General",Value="1"},
                                    new SelectListItem { Text="Heavy/Scrape",Value="2"}
                                }, new { })
                                @Html.ValidationMessageFor(m => m.CommodityType, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                @Html.HiddenFor(m => m.CHAId, new { @Id = "hdnCHAId" })
                                @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                                <span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="shipping" data-target="#ShippingLineModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Godown Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#godownModal"></i></span>
                                @Html.HiddenFor(m => m.GodownId, new { @Id = "hdnGodownId" })
                                @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @maxlength = "1000", @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("Space", "ReservedSpace", new { id = "ReservedSpace", @onclick = "OnClickSpace('ReservedSpace')" })
                                    <label for="ReservedSpace"><i class="circle"></i><span>Reserved Space</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("Space", "GeneralSpace", new { id = "GeneralSpace", @onclick = "OnClickSpace('GeneralSpace')" })
                                    <label for="GeneralSpace"><i class="circle"></i><span>General Space</span></label>
                                </div>
                                @Html.HiddenFor(m => m.SpaceType, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div id="DivShippingDetails" class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Carting Details</h5>
                            </div>
                        </div>
                        @Html.Hidden("CartingAppDtlId")
                        @Html.Hidden("LocationDetails")
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Shipping Bill No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("ShippingBillNo", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Shipping Bill Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img col_cus_2_5">
                                    @Html.TextBox("ShippingBillDate", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("ShippingBillDate", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Exporter:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("Exporter", "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                    <input type="hidden" id="hdnExporterId" />
                                    @Html.ValidationMessage("Exporter", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("CargoDescription", "", new { @class = "form-control input-sm", @maxlength = 1000 })
                                    @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Commodity:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                    <input type="hidden" id="hdnCommodityId" />
                                    @Html.ValidationMessage("Commodity", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_1_5 col_cus_2 padding_rt">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("CargoType", new List<SelectListItem>
                                {

                                    new SelectListItem { Text="HAZ",Value="1"},
                                    new SelectListItem { Text="Non HAZ",Value="2"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown", @onblur = "ClearErrMsg(this)" })
                                    @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Marks & No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("MarksAndNo", "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("MarksAndNo", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>No of Units:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @maxlength = "9", onkeypress = "return AllowOnlyInteger(event)", @readonly = true })
                                    @Html.ValidationMessage("NoOfUnits", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Weight (Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Weight", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)", @readonly = true })
                                    @Html.ValidationMessage("Weight", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>CUM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CUM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("CUM", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Actual Unit:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ActualQty", "", new { @class = "form-control input-sm", @maxlength = "9", onkeypress = "return AllowOnlyInteger(event)" })
                                    @Html.ValidationMessage("ActualQty", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Area (Unreserved) :</label>
                                </div>
                                <div class="col-md-2" style="padding-right: 0;">
                                    @Html.TextBox("SQM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("SQM", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-0-5" style="line-height: 25px; font-size: 11px; padding: 0 0 0 5px;">SQM</div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>FOB Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("FOBValue", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("FOBValue", new { @class = "Error_Msg" })
                                    @Html.Hidden("FOBValue1")
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Area (Reserved):</label>
                                </div>
                                <div class="col-md-2" style="padding-right: 0;">
                                    @Html.TextBox("SQMReserved", "", new { @class = "form-control input-sm", maxlength = "11",@onkeypress = "return AllowOnlyDecimal(event)" })
                                    @*@Html.ValidationMessage("SQMReserved", new { @class = "Error_Msg" })*@
                                </div>
                                <div class="col-md-0-5" style="line-height: 25px; font-size: 11px; padding: 0 0 0 5px;">SQM</div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Location:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("Location", "", new { @class = "form-control input-sm", @readonly = true })
                                    <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    @Html.ValidationMessage("Location", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_2_5 col_cus_2">
                                    <label>Gross Weight (Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ActualWeight", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal()" })
                                    @Html.ValidationMessage("ActualWeight", new { @class = "Error_Msg" })
                                </div>                                
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Storage Type:</label>
                                </div>
                                <div class="col-md-2-5">
                    
                                    @Html.DropDownListFor(m => m.StorageType, new List<SelectListItem>
                                {
                                     new SelectListItem { Text="Covered",Value="C"},
                                     new SelectListItem { Text="Open",Value="O"}
                                    }, "----Select----", new { @class = "form-control input-sm dropdown" })
                 
                                    @Html.ValidationMessageFor(m => m.StorageType, "", new { @class = "Error_Msg" })
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row Form_Space_bottom">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="button" id="BtnAddCartingReg" class="btn log_Btn_sm" value="Add" onclick="SaveRegDtl()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="BtnResetCartingReg" class="btn log_Btn_sm" value="Reset" />
                            </div>
                        </div>
                        <div id="DivCartingRegTblErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                            <th>@Html.DisplayName("Shipping Bill No")</th>
                                            <th>@Html.DisplayName("Shipping Bill Date")</th>
                                            <th>@Html.DisplayName("Exporter")</th>
                                            <th class="text-center">@Html.DisplayName("Edit")</th>
                                            <th class="text-center">@Html.DisplayName("View")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Save" id="BtnSaveCartingReg" onclick="SubmitForm()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetCartingRegister()" />
                        </div>
                    </div>
                    <div id="DivCartingRegMsg" class="logSuccMsg" style="background-color:transparent"></div>
                    <div id="DivCartingRegErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                }
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <div id="DivCartingRegisterList"></div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-2 SignUp_space_bottom">
                    <input type="button" id="BtnCCINEntryLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadRegisterList()" />
                </div>

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-4 col-md-2-5" style="text-align:right;">
                            <label>CartingRegister No./SB No. :</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBox("cartingsearchtxt")
                            @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                            <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="LoadCartingSearch()"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="tblEntryDet"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivCartingRegisterList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Application No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                <ul class="navList" id="CartingRegList">
                    @{
                        foreach (var item in Model.lstAppNo)
                        {
                            <li id="@item.CartingAppId">@item.ApplicationNo</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                        @*@{
                                foreach (var item in Model.lstGdnWiseLctn)
                                {
                                    @Html.Label(item.Row + " " + item.Column, new { @for = item.LocationId })
                                    @Html.CheckBox(@item.LocationId.ToString())
                                }
                            }*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="godownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" type="text" />
                <ul class="navList" id="lstGodown"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLinebox" type="text" />
                <ul class="navList" id="lstShippingLine">
                    @{
                        if (ViewBag.ListOfShippingLine != null)
                        {
                            foreach (var item in ViewBag.ListOfShippingLine)
                            {
                                <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CHAModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                        if (ViewBag.CHAList != null)
                        {
                            foreach (var item in ViewBag.CHAList)
                            {
                                <li onclick="selectCHA(@item.CHAEximTraderId,'@item.CHAName')" id="@item.CHAEximTraderId">@item.CHAName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExporterModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Exporter</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Exporterbox" type="text" />
                <ul class="navList" id="lstExporter">
                    @{
                        if (ViewBag.ExporterList != null)
                        {
                            foreach (var item in ViewBag.ExporterList)
                            {
                                <li onclick="selectExporter(@item.EXPEximTraderId,'@item.ExporterName')" id="@item.EXPEximTraderId">@item.ExporterName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:80%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Commodity</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Commodity Name" id="CommodityBox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Commodity Name</th>

                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_2">
                    <table class="table dataTable table-bordered table-striped" id="tbleCommodity">
                        @{
                            if (ViewBag.LstCommodity != null)
                            {
                                foreach (var item in ViewBag.LstCommodity)
                                {
                                    <tr onclick="SelectCommodity(@item.CommodityId,'@item.CommodityName')">
                                        <td colspan="8" width="80%">@item.CommodityName</td>

                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">
                        @if (ViewBag.CommodityState != null && Convert.ToBoolean(ViewBag.CommodityState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-offset-5 col-md-3">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseCommodity()">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>

    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });

    //*********************************************************************
    $('#ActualQty').on('blur', function () {
        if ($('#NoOfUnits').val() != '' && $('#Weight').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#NoOfUnits').val();
            var w = $('#Weight').val();
            var q = $('#ActualQty').val();

            $('#ActualWeight').val(((w / n) * q).toFixed(2));
        }


        if ($('#NoOfUnits').val() != '' && $('#FOBValue1').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#NoOfUnits').val();
            var f = $('#FOBValue1').val();
            var q = $('#ActualQty').val();

            $('#FOBValue').val(((f / n) * q).toFixed(2));
        }

    })

    //*********************************************************************
    var r = JSON.parse($("#hdnRights").val());
    if (r.CanAdd == 1) {
        // $('#BtnSaveCartingReg').css('display', 'block');
        $('#BtnSaveCartingReg').removeAttr("disabled");

    } else {
        //$('#BtnSaveCartingReg').css('display', 'none');
        $('#BtnSaveCartingReg').attr("disabled", true);
    }

    $('#LocationSearch').on('click', function () {
        if ($('#hdnGodownId').val() == '' || $('#hdnGodownId').val() == 0) {
            $('[data-valmsg-for="Location"]').html('<span>Select Godown.</span>');
        } else {
            $('#LocationModal').modal();
        }
    });


    var ArrayOfCartingRegDtl = [];
    var LocationDetails = [];
    //$(function () { LoadRegisterList(); $('#tblShippingDetails').hide(); });
    $('#RegisterDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='RegisterDate']").html('');
        }
    });

    $('#ShippingBillDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='RegisterDate']").html('');
        }
    });

    $(document).ready(function () {

        //$('#ReservedSpace').attr("disabled", true);
        //$('#GeneralSpace').attr("disabled", true);
        GodownBinding();
    });

    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    var SpaceType = '';
    function OnClickSpace(Type) {
        debugger;
        if (Type == 'ReservedSpace') {
            $('#SQM').attr("disabled", true);
        }
        else if (Type == 'GeneralSpace') {
            $('#SQM').attr("disabled", false);
        }
        $('#SQM').val(0);
        SpaceType = Type;
        $('#SpaceType').val(SpaceType);
    }

    $('#lstShippingLine > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        debugger;
        $("#ShippingLineModal").modal("hide");
    });
    function getSpace() {
        debugger
        var GodownId = 0;
        var GodownName = '';
        if ($('#hdnShippingLineList').val() != '' || $('#hdnShippingLineList').val() != undefined) {
            var parties = JSON.parse($('#hdnShippingLineList').val());
            if ($('#ShippingLineId').val() != 0) {
                GodownId = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownId;
                GodownName = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownName;
            }
            $('#GodownId').val(GodownId);
            $('#GodownName').val(GodownName);
            if (GodownId > 0) {
                $('#ReservedSpace').prop("checked", true);
                $('#GeneralSpace').prop("checked", false);
                OnClickSpace("ReservedSpace");
                selectGodown(GodownId);
            }
            else {
                $('#ReservedSpace').prop("checked", false);
                $('#GeneralSpace').prop("checked", true);
                OnClickSpace("GeneralSpace");
            }
        }
        else {
            alert("This Shipping Line has no such space so enter godown manually");
        }
    }
    function GodownBinding() {
        if ($('#hdnGodownList').val() != '') {
            var GodownJson = JSON.parse($('#hdnGodownList').val());
            var html = '';
            $.each(GodownJson, function (i, item) {
                html += '<li id="' + item.GodownId + '" onclick="selectGodown(' + item.GodownId + ');">' + item.GodownName + '</li>';
            });
            $('#lstGodown').html(html);

        }
    }
    function selectGodown(gid) {
        $('[data-valmsg-for="Location"]').html('<span></span>');
        $('#hdnGodownId').val(gid);
        var GodownJson = JSON.parse($('#hdnGodownList').val());
        //console.log(GodownJson);
        debugger;
        if (GodownJson == null || GodownJson == undefined || GodownJson == "") {

        }
        else {
            var gname = $.grep(GodownJson, function (item) { return item.GodownId == gid; })[0];
            if (gname != undefined) {
                $("#GodownName").val(gname.GodownName);
            }
        }
        $.ajax({

            url: '/Export/WLJ_CWCExport/GetLocationDetailsByGodownId',
            type: 'GET',
            data: { GodownId: gid },
            dataType: 'JSON',
            success: function (data) {

                LocationDetails = data;
                console.log(data);
                LocationDet();
            }
        });

        $('#godownModal').modal('hide');
    }
    function selectCHA(CHAId,CHAName){
        $('#CHAName').val(CHAName);
        $('#hdnCHAId').val(CHAId);
        $('#CHAModal').modal('hide');
    }

    function selectExporter(eid,ename){
        $('#Exporter').val(ename);
        $('#hdnExporterId').val(eid);
        $('#ExporterModal').modal('hide');
    }
    function SelectCommodity(CommodityId, CommodityName) {
        $('#Commodity').val(CommodityName);
        $('#hdnCommodityId').val(CommodityId);
        $('#CommodityModal').modal('hide');
        $('#CommodityBox').val('');
        LoadCommodity();
    }
    $("#Remarks").keyup(function () {
        debugger;
        var Textboxvalue = $("#Remarks").val();


        if (Textboxvalue.length >= 1000) {
            alert("Remarks Should be 1000 characters only");
        }


    });

    function LoadMoreCommodity() {
        debugger;
        $.ajax({
            url: '/Export/WLJ_CWCExport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    var Page = 0;
    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Export/WLJ_CWCExport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Export/WLJ_CWCExport/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
    }

    function LoadRegisterList() {
        $('#DivCartingRegisterList').load('/Export/WLJ_CWCExport/ListCartingRegister');
    }
    function RegisterOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            $('#DivCartingRegMsg').html(data.Message);
            $('#CartingRegList #' + $('#CartingAppId').val()).remove();
            LoadRegisterList();
            setTimeout(ResetCartingRegister, 5000);
            $('#BtnAddCartingReg,#BtnResetCartingReg').prop("disabled", false);
        }
        else {
            $('#DivCartingRegErrMsg').html(data.Message);
            setTimeout(function () { $('#DivCartingRegErrMsg').html(''); }, 5000);
        }
    }

    function LoadCartingSearch() {
        if ($('#cartingsearchtxt').val().trim() == '') {
            alert('Enter CartingRegister No./SB No. for searching');
            return;
        }
        $('#tblEntryDet').html('');
        var cartingsearch = encodeURI($('#cartingsearchtxt').val().trim());
        // $('#CCINEntryList').empty();
        $('#DivCartingRegisterList').load('/Export/Wlj_CWCExport/ListOfCartingSearch?Search=' + cartingsearch);

    }

    function RegisterOnFailure() {

    }

    /*
    $('#BtnSaveCartingReg').on("click", function () {

        if (($('#DivShippingDetails #CUM').val() != "" || $('#SQM').val() != "" || $('#ActualQty').val() != "" || $('#ActualWeight').val() != "") && ($('#DivShippingDetails').find('input:text').prop("disabled") == false)) {
            $('#DivCartingRegErrMsg').html('Please Save The Details Before Submitting');
            return false;
        }
        else {
            $('#XMLData').val(JSON.stringify(ArrayOfCartingRegDtl));
        }
    });*/

    $('#BtnResetCartingReg').on("click", function () {
        $('#DivAddCartingRegister').find('input:text,textarea').val('');
        $('#RegisterDate').val('@Model.RegisterDate');
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="Exporter"]').html('<span><span>');
        $('[data-valmsg-for="Commodity"]').html('<span><span>');
        $('[data-valmsg-for="CargoType"]').html('<span><span>');
        $('[data-valmsg-for="MarksAndNo"]').html('<span><span>');
        $('[data-valmsg-for="NoOfUnits"]').html('<span><span>');
        $('[data-valmsg-for="Weight"]').html('<span><span>');


        $('[data-valmsg-for="CUM"]').html('<span><span>');
        $('[data-valmsg-for="ActualQty"]').html('<span></span>');
        $('[data-valmsg-for="SQM"]').html('<span></span>');
        $('[data-valmsg-for="FOBValue"]').html('<span></span>');

        $('[data-valmsg-for="ActualWeight"]').html('<span></span>');
        $('[data-valmsg-for="StorageType"]').html('<span></span>');
        $('[data-valmsg-for="Location"]').html('<span></span>');
    });

    function ResetCartingRegister() {

        var RegisterDate = $('#RegisterDate').val();
        $('#DivAddCartingRegister').find('input:text,textarea').val('');
        $('#RegisterDate').val(RegisterDate);
        $('#tblShippingDetails').hide();
        $('#tblShippingDetails >tbody').html('');
        $('#DivCartingRegMsg').html('');
        $('#DivCartingRegErrMsg').html('');
        $('#DivCartingRegTblErrMsg').html('');

        $('#SpanGodownSearch').css("display", "block");

        ArrayOfCartingRegDtl=[];
    }
    function GenerateCartingRegTable() {

        $('#tblShippingDetails').hide();
        var html = '';
        $.each(ArrayOfCartingRegDtl, function (i, item) {

            html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ShippingBillNo + '</td><td>' + item.ShippingDate + '</td><td>' + item.Exporter + '</td><td class="text-center"><a href="#" onclick="EditCartingReg(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewCartingReg(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
        });
        $('#tblShippingDetails>tbody').html(html);
        $('#tblShippingDetails').show();
    }
    function GetRegisterDetails(CartingAppId) {
        debugger;
        $.ajax({
            url: '/Export/WLJ_CWCExport/GetApplicationDetForRegister',
            type: 'GET',
            data: { CartingAppId: CartingAppId },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                $('#ApplicationDate').val(data.ApplicationDate);
                $('#CHAName').val(data.CHAName);
                $('#hdnCHAId').val(data.CHAId);
                $('#GodownName').val(data.GodownName);
                $('#Remarks').val(data.Remarks);
                $('#ShippingLineName').val(data.ShippingLineName);
                $('#ShippingLineId').val(data.ShippingLineId);
                getSpace();
                ArrayOfCartingRegDtl = data.lstRegisterDtl;
                GenerateCartingRegTable();
                LocationDetails = data.lstGdnWiseLctn;
                LocationDet();

                if ($('#SpaceType').val() == 'ReservedSpace') {
                    $('#shipping').prop("disabled", true);
                 }
                else if ($('#SpaceType').val() == 'GeneralSpace') {
                    $('#shipping').prop("disabled", false);
                }
            }
        });
    }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CartingRegList > li').show();
        } else {
            $('#CartingRegList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Godownbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstGodown > li').show();
        } else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#CHAbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCHA > li').show();
        } else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#Exporterbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstExporter > li').show();
        } else {
            $('#lstExporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Commoditybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCommodity > li').show();
        } else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#CartingRegList li').on("click", function () {
        $('#ApplicationNo').val($(this).text().split('(')[0]);
        $('#CartingAppId').val($(this).attr('id'));
        $("#myModal").modal("hide");
        GetRegisterDetails($(this).attr('id'));
    });

    function SaveRegDtl() {
        //debugger;
        var Validation = true;
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="Exporter"]').html('<span><span>');
        $('[data-valmsg-for="Commodity"]').html('<span><span>');
        $('[data-valmsg-for="CargoType"]').html('<span><span>');
        $('[data-valmsg-for="MarksAndNo"]').html('<span><span>');
        $('[data-valmsg-for="NoOfUnits"]').html('<span><span>');
        $('[data-valmsg-for="Weight"]').html('<span><span>');


        $('[data-valmsg-for="CUM"]').html('<span><span>');
        $('[data-valmsg-for="ActualQty"]').html('<span></span>');

        $('[data-valmsg-for="SQM"]').html('<span></span>');

        $('[data-valmsg-for="FOBValue"]').html('<span></span>');

        $('[data-valmsg-for="ActualWeight"]').html('<span></span>');

        $('[data-valmsg-for="StorageType"]').html('<span></span>');
        
        $('[data-valmsg-for="Location"]').html('<span></span>');

        if($('#ShippingBillNo').val() == "" || $('#ShippingBillNo').val() == null){
            $('[data-valmsg-for="ShippingBillNo"]').html('<span>Shipping Bill No Required.</span>');
            Validation = false;
        }
        if($('#ShippingBillDate').val() == "" || $('#ShippingBillDate').val() == null){
            $('[data-valmsg-for="ShippingBillDate"]').html('<span>Shipping Bill Date Required.</span>');
            Validation = false;
        }

        if($('#Exporter').val() == "" || $('#Exporter').val() == null || $('#hdnExporterId').val()=="0" || $('#hdnExporterId').val()=="" || $('#hdnExporterId').val()==null){
            $('[data-valmsg-for="Exporter"]').html('<span>Exporter Required.</span>');
            Validation = false;
        }

        if($('#Commodity').val() == "" || $('#Commodity').val() == null || $('#hdnCommodityId').val()=="0" || $('#hdnCommodityId').val()=="" || $('#hdnCommodityId').val()==null){
            $('[data-valmsg-for="Commodity"]').html('<span>Commodity Required.</span>');
            Validation = false;
        }

        if($('#CargoType').val() == "" || $('#CargoType').val() == null){
            $('[data-valmsg-for="CargoType"]').html('<span>Cargo Type Required.</span>');
            Validation = false;
        }
        if ($('#StorageType').val() == "" || $('#StorageType').val() == null) {
            $('[data-valmsg-for="StorageType"]').html('<span>Storage Type Required.</span>');
            Validation = false;
        }
        

        /*if($('#MarksAndNo').val() == "" || $('#MarksAndNo').val() == null){
            $('[data-valmsg-for="MarksAndNo"]').html('<span>Marks And No Required.</span>');
            Validation = false;
        }*/
        if((!DecimalValidation("NoOfUnits") && $('#NoOfUnits').val() != "")|| $('#NoOfUnits').val()==""){
            $('[data-valmsg-for="NoOfUnits"]').html('<span>NoOfUnits Required and Must Be A Number.</span>');
            Validation = false;
        }
        if((!DecimalValidation("Weight") && $('#Weight').val() != "")|| $('#Weight').val()==""){
            $('[data-valmsg-for="Weight"]').html('<span>Weight Required and Must Be A Decimal.</span>');
            Validation = false;
        }

        if ((!DecimalValidation("CUM") & $('#CUM').val() != "")||$('#CUM').val()=="") {
            $('[data-valmsg-for="CUM"]').html('<span>CUM Required and Must Be A Decimal</span>');
            Validation = false;
        }

        if ((!DecimalValidation("ActualQty") & $('#ActualQty').val() != "")||$('#ActualQty').val()=="") {
            $('[data-valmsg-for="ActualQty"]').html('<span>ActualQty Required and Must Be A Number.</span>');
            Validation = false;
        }

        if (((!DecimalValidation("SQM") & $('#SQM').val() != "") || $('#SQM').val() == "") && SpaceType=='GeneralSpace') {
            $('[data-valmsg-for="SQM"]').html('<span>SQM Required and Must Be A Decimal.</span>');
            Validation = false;
        }
        if ((!DecimalValidationGW("ActualWeight") & $('#ActualWeight') != "") || $('#ActualWeight') == "") {
            $('[data-valmsg-for="ActualWeight"]').html('<span>Actual Weight Required and Must Be A Decimal.</span>');
            Validation = false;
        }

        /*if ($('#CartingAppDtlId').val() == "" || $('#Exporter').val() == "") {
            Validation = false;
        }*/



        var LctnDet = $('#DivLocationDet').find('input[type="checkbox"]:checked');
        if (LctnDet != null && LctnDet != undefined) {
            var Det = '';
            $(LctnDet).each(function () {
                if (Det == '')
                    Det += $(this).prop('id').substring(3);
                else
                    Det += ',' + $(this).prop('id').substring(3);
            });
            $('#LocationDetails').val(Det);
        }

        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '')
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);


        if (!DecimalValidationGW("FOBValue") & $('#FOBValue') != "") {
            $('[data-valmsg-for="FOBValue"]').html('<span>FOBValue Required and Must Be A Decimal.</span>');
            Validation = false;
        }
        if ( $('#LocationDetails').val() == "") {
            $('[data-valmsg-for="Location"]').html('<span>LocationDetails Required.</span>');
            Validation = false;
        }
        if ($('#Location').val() == "") {
            $('[data-valmsg-for="Location"]').html('<span>LocationDetails Required.</span>');
            Validation = false;
        }
        if (Validation == true) {
            var RegDtl = {
                "ShippingBillNo": $('#ShippingBillNo').val(),
                "ShippingDate": $('#ShippingBillDate').val(),
                "Exporter": $('#Exporter').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "CommodityName": $('#Commodity').val(),
                "StorageType": $('#StorageType').val(),
                "CargoType": $('#CargoType').val(),
                "MarksAndNo": $('#MarksAndNo').val(),
                "NoOfUnits": $('#NoOfUnits').val(),
                "Weight": $('#Weight').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "ActualQty": $('#ActualQty').val() == "" ? 0 : $('#ActualQty').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "SQMReserved": $('#SQMReserved').val() == "" ? 0 : $('#SQMReserved').val(),
                "FoBValue": $('#FOBValue').val(),
                "ActualWeight": $('#ActualWeight').val() == "" ? 0 : $('#ActualWeight').val(),
                "CartingAppDtlId": $('#CartingAppDtlId').val(),
                "LocationDetails": $('#LocationDetails').val(),
                "Location": $('#Location').val(),
                "ExporterId": $('#hdnExporterId').val(),
                "CommodityId": $('#hdnCommodityId').val(),
                "FoBValue1": $('#FOBValue1').val(),
            }

            $('#SpanGodownSearch').css("display", "none");

            ArrayOfCartingRegDtl.push(RegDtl);
            ResetRegDtl();
            GenerateCartingRegTable();
        }
    }
    function EditCartingReg(Index) {

        $('#LocationSearch').css("display", "block");
        $('#LocationDetails,#LocationDetails').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').prop("checked", false);
        if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
            $('#DivShippingDetails').find('input').prop("disabled", false);
            $('#ShippingBillNo').val(ArrayOfCartingRegDtl[Index].ShippingBillNo);
            $('#ShippingBillDate').val(ArrayOfCartingRegDtl[Index].ShippingDate);
            $('#Exporter').val(ArrayOfCartingRegDtl[Index].Exporter);
            $('#CargoDescription').val(ArrayOfCartingRegDtl[Index].CargoDescription);
            $('#Commodity').val(ArrayOfCartingRegDtl[Index].CommodityName);
            $('#CargoType').val(ArrayOfCartingRegDtl[Index].CargoType);
           // $('#StorageType').val(ArrayOfCartingRegDtl[Index].StorageType);
            
            $('#MarksAndNo').val(ArrayOfCartingRegDtl[Index].MarksAndNo);
            $('#NoOfUnits').val(ArrayOfCartingRegDtl[Index].NoOfUnits);
            $('#Weight').val(ArrayOfCartingRegDtl[Index].Weight);
            $('#FOBValue').val(ArrayOfCartingRegDtl[Index].FoBValue);

            //*********************************************************************************
            $('#FOBValue1').val(ArrayOfCartingRegDtl[Index].FoBValue1);
            //*********************************************************************************
            $('#CartingAppDtlId').val(ArrayOfCartingRegDtl[Index].CartingAppDtlId);
            $('#CUM').val(ArrayOfCartingRegDtl[Index].CUM);
            $('#SQM').val(ArrayOfCartingRegDtl[Index].SQM);
            $('#SQMReserved').val(ArrayOfCartingRegDtl[Index].SQMReserved);
            $('#ActualWeight').val(ArrayOfCartingRegDtl[Index].ActualWeight);
            $('#StorageType').val(ArrayOfCartingRegDtl[Index].StorageType);

            $('#ActualQty').val(ArrayOfCartingRegDtl[Index].ActualQty);
            $('#LocationDetails').val(ArrayOfCartingRegDtl[Index].LocationDetails);
            if (ArrayOfCartingRegDtl[Index].LocationDetails != null && ArrayOfCartingRegDtl[Index].LocationDetails != undefined) {
                var split = ArrayOfCartingRegDtl[Index].LocationDetails.split(',');
                $(split).each(function (j, data) {
                   // $('#' + data).prop('disabled', false);
                    $('#Loc' + data).prop('checked', true);
                });
            }
            $('#Location').val(ArrayOfCartingRegDtl[Index].Location);
            $('#hdnExporterId').val(ArrayOfCartingRegDtl[Index].ExporterId);
            $('#hdnCommodityId').val(ArrayOfCartingRegDtl[Index].CommodityId);

            if (SpaceType == 'ReservedSpace') {
                $('#SQM').attr("disabled", true);

            }
            else if (SpaceType == 'GeneralSpace') {
                $('#SQM').attr("disabled", false);
            }

            ArrayOfCartingRegDtl.splice(Index, 1);
            GenerateCartingRegTable();
        }
        else {
            $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        }

    }
    function ViewCartingReg(Index) {

        if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
            $('#DivShippingDetails').find('input').prop("disabled", true);
            $('#ShippingBillNo').val(ArrayOfCartingRegDtl[Index].ShippingBillNo);
            $('#ShippingBillDate').val(ArrayOfCartingRegDtl[Index].ShippingDate);
            $('#Exporter').val(ArrayOfCartingRegDtl[Index].Exporter);
            $('#CargoDescription').val(ArrayOfCartingRegDtl[Index].CargoDescription);
            $('#Commodity').val(ArrayOfCartingRegDtl[Index].CommodityName);
            $('#CargoType').val(ArrayOfCartingRegDtl[Index].CargoType);
            $('#MarksAndNo').val(ArrayOfCartingRegDtl[Index].MarksAndNo);
            $('#NoOfUnits').val(ArrayOfCartingRegDtl[Index].NoOfUnits);
            $('#Weight').val(ArrayOfCartingRegDtl[Index].Weight);
            $('#FOBValue').val(ArrayOfCartingRegDtl[Index].FoBValue);
            $('#CartingAppDtlId').val(ArrayOfCartingRegDtl[Index].CartingAppDtlId);
            $('#CUM').val(ArrayOfCartingRegDtl[Index].CUM);
            $('#SQM').val(ArrayOfCartingRegDtl[Index].SQM);
            $('#ActualWeight').val(ArrayOfCartingRegDtl[Index].ActualWeight);
            $('#StorageType').val(ArrayOfCartingRegDtl[Index].StorageType);
            
            $('#ActualQty').val(ArrayOfCartingRegDtl[Index].ActualQty);
            $('#Location').val(ArrayOfCartingRegDtl[Index].Location);

            $('#hdnExporterId').val(ArrayOfCartingRegDtl[Index].ExporterId);
            $('#hdnCommodityId').val(ArrayOfCartingRegDtl[Index].CommodityId);

            if (SpaceType == 'ReservedSpace') {
                $('#SQM').attr("disabled", true);

            }
            else if (SpaceType == 'GeneralSpace') {
                $('#SQM').attr("disabled", false);
            }
        }
        else {
            $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        }

    }
    function CheckBoxChange() {
        debugger;
        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '')
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);
    }
    function ResetRegDtl() {
        $('#DivShippingDetails').find('input:text').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            //$(this).prop("disabled", true);
            $(this).prop("checked", false);
        });
    }
    function IntValidation(Id) {

        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,8}\.\d{0,2}$/) && !Value.match(/^[\d]{1,8}$/)) {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function DecimalValidation(Id) {

        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,15}\.\d{0,2}$/) && !Value.match(/^[\d]{1,15}$/)) {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function DecimalValidationGW(Id) {

        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,15}\.\d{0,2}$/) && !Value.match(/^[\d]{1,15}$/)) {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function LocationDet() {

        debugger;
        var htm = '';
        $.each(LocationDetails, function (i, data) {
            //if (data.IsOccupied)
            //    htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" disabled id="' + data.LocationId + '"/><label for="' + data.LocationId + '">' + data.Row + ' ' + data.Column + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
            //else
                htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" id="Loc' + data.LocationId + '"/><label for="Loc' + data.LocationId + '">' + data.LocationName  + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
        });
        $('#DivLocationDet').html(htm);
    }
    function ClearErrMsg(elem) {
        $('[data-valmsg-for="' + elem.id + '"]').html('');
    }

    function SubmitForm(){
        debugger;
        var Validation = true;
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');
        $('[data-valmsg-for="ApplicationNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="CHAName"]').html('<span><span>');
        $('[data-valmsg-for="GodownName"]').html('<span><span>');

        if ($('#CartingAppId').val() == '') {
            $('#CartingAppId').val(0);
        }
        if ($('#CartingAppDtlId').val() == '') {
            $('#CartingAppDtlId').val(0);
        }
        if($('#ApplicationNo').val()==''){
            $('#ApplicationNo').val('0')
        }
        if($('#ApplicationDate').val()==''){
            $('#ApplicationDate').val('@DateTime.Now.ToString("dd/MM/yyyy")')
        }

        if ($('#CartingAppId').val() == 0) {
            $('[data-valmsg-for="ApplicationNo"]').html('<span>CCIN No. Required.</span>');
            Validation = false;
        }
        if ($('#CartingType').val() == '' ) {
            $('[data-valmsg-for="CartingType"]').html('<span>Carting Type Required.</span>');
            Validation = false;
        }
        if ($('#CommodityType').val() == '') {
            $('[data-valmsg-for="CommodityType"]').html('<span>Commodity Type Required.</span>');
            Validation = false;
        }
        if ($('#hdnCHAId').val() == '' || $('#hdnCHAId').val() == '0') {
            $('[data-valmsg-for="CHAName"]').html('<span>CHA Name Required.</span>');
            Validation= false;
        }
        if ($('#hdnGodownId').val() == '' || $('#hdnGodownId').val() == '0') {
            $('[data-valmsg-for="GodownName"]').html('<span>Godown Required.</span>');
            Validation= false;
        }
        if (($('#DivShippingDetails #CUM').val() != "" || $('#SQM').val() != "" || $('#ActualQty').val() != "" || $('#ActualWeight').val() != "" ) && ($('#DivShippingDetails').find('input:text').prop("disabled") == false)) {
            $('#DivCartingRegErrMsg').html('Please Save The Details Before Submitting');
            Validation= false;
        }
        if (ArrayOfCartingRegDtl.length<=0) {
            $('#DivCartingRegErrMsg').html('Please Add Atleast One Carting Details Before Submitting');
            Validation= false;
        }
        if(ArrayOfCartingRegDtl.length>0) {
            $.each(ArrayOfCartingRegDtl, function (i, item) {
                if (item.CartingAppDtlId == '') {
                    item.CartingAppDtlId = 0;
                }
            });
            $('#XMLData').val(JSON.stringify(ArrayOfCartingRegDtl));
        }


        if (ArrayOfCartingRegDtl.length > 0) {
            $.each(ArrayOfCartingRegDtl, function (i, item) {
                if (item.ActualQty == 0) {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                }
                else if (item.ActualWeight == 0) {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                }
                else if (item.StorageType == 0) {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,StorageType, SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                }
                /*else if (item.CUM == 0) {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,CUM,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                }*/
                else if (item.SQM==0 && SpaceType=='GeneralSpace') {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                }
                else if (item.LocationDetails == null || item.LocationDetails=='') {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                }
            });

        }

        if (Validation == true) {
            var conf = confirm("Do you want to save ?");
            if (conf) {
                //console.log(ArrayOfCartingRegDtl);
                $('form#frmCartingReg').submit();
            }
        }
    }






</script>

