@model CwcExim.Areas.Export.Models.Wlj_CCINEntry
<style>
    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<script>
    //function PaymentMode() {
    //    var PaymentMode = $('#hdnPaymentMode').val();
    //    alert(PaymentMode);
    //}
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>CCIN Entry</h4>
                    </div>
                    @*<input type="hidden" id="hdnPaymentMode" value="@ViewBag.PaymentMode" />*@
                </div>
                @using (Ajax.BeginForm("AddEditCCINEntry", "WLJ_CWCExport", new AjaxOptions
                {
                    Confirm = "Are You Sure Want To Save?",
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure"
                }, new { id = "frmCCINEntry" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    // @Html.HiddenFor(m => m.InvoiceId)
                    // @Html.HiddenFor(m => m.PartySDBalance)
                    @Html.HiddenFor(m => m.IsInGateEntry)
                    @Html.HiddenFor(m => m.OTEHr)
                    if (ViewBag.check != null)
                    {
                        <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnShippingLineList" value="" />
                    }

                    if (ViewBag.ListOfPort != null)
                    {
                        <input type="hidden" id="hdnPortName" value="@ViewBag.PortName" />
                        <input type="hidden" id="hdnPortId" value="@ViewBag.PortId" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnPortName" value="" />
                        <input type="hidden" id="hdnPortId" value="" />
                        <input type="hidden" id="hdnListOfPort" value="" />
                    }

                    <div class="panel with-nav-tabs panel-primary cwc_panel" style="margin-top: 15px;">

                        <div class="panel-heading cwc_panel_heading">
                            <ul class="nav nav-tabs" id="DivTabs">
                                <li class="active"><a href="#DivCCIN" data-toggle="tab" onclick="SetActiveTab('CCIN')">CCIN</a></li>
                                @*<li><a href="#DivInvoice" data-toggle="tab" onclick="SetActiveTab('Invoice')">Invoice</a></li>*@
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="DivCCIN">
                                    <div id="DivJOHdr" class="Form_Space_bottom">

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>CCIN No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.CCINNo, new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>CCIN Date:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                                    @Html.TextBoxFor(m => m.CCINDate, new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>SB No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.HiddenFor(m => m.SBId)
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.SBNo, new { @class = "form-control input_sm" })
                                                    @Html.ValidationMessageFor(m => m.SBNo, "", new { @class = "Error_Msg" })
                                                    <span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBNoModal"></i></span>
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>SB Date:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.SBDate, new { @class = "form-control input_sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.SBDate, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>SB Type:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.DropDownListFor(m => m.SBType, new List<SelectListItem>
                                                    {
                                                     new SelectListItem {Text="Duty Free Shipping Bills",Value="1" },
                                                      new SelectListItem {Text="Dutiable Shipping Bill",Value="2" },
                                                       new SelectListItem {Text="Shipping Bill Under Duty Draw Back",Value="3" },
                                                        new SelectListItem {Text="Ex-Bond ShippingBills",Value="4" },
                                                       new SelectListItem {Text="Others",Value="10" }

                                                    }, "----Select----", new { @disabled = true })
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    <div id="DivOthers">
                                                        @Html.TextBoxFor(m => m.Others, "", new { @class = "form-control input-sm", @id = "Others" })
                                                        @Html.ValidationMessageFor(m => m.Others, "", new { @class = "Error_Msg" })
                                                    </div>
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-2 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Vehicle No:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    @Html.HiddenFor(m => m.PrevEntryId)
                                                    @Html.HiddenFor(m => m.EntryId)
                                                    @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-control input_sm", @readonly = true })

                                                </div>
                                            </div>
                                        </div>

                                        @*  <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                <label>Vehicle No:</label>
                                            </div>
                                            <div class="col-md-2 col_cus_2_5">
                                                @Html.HiddenFor(m => m.PrevEntryId)
                                                @Html.HiddenFor(m => m.EntryId)
                                                @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-control input_sm", @readonly = true })
                                                <span class="search" id="VehicleSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#VehicleNoModal"></i></span>
                                            </div>*@

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Exporter:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.HiddenFor(m => m.ExporterId)
                                                    @Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control input_sm", @readonly = true })
                                                    @*@Html.ValidationMessageFor(m => m.ExporterName, "", new { @class = "Error_Msg" })*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Shipping Line:</label>
                                                </div>
                                                <div class="col-md-10">

                                                    @Html.HiddenFor(m => m.ShippingLineId)
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>CHA:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.HiddenFor(m => m.CHAId)
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Consignee:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.ConsigneeName, new { @class = "form-control input_sm" })
                                                    @Html.ValidationMessageFor(m => m.ConsigneeName, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Consignee Address:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.TextAreaFor(m => m.ConsigneeAdd, new { @class = "form-control input_sm" })
                                                    @Html.ValidationMessageFor(m => m.ConsigneeAdd, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5">
                                                    @Html.LabelFor(m => m.CountryId)
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5">
                                                    @Html.HiddenFor(m => m.SelectStateId)
                                                    @Html.LabelFor(m => m.StateId, new { @class = "InputLabel" })
                                                </div>
                                                @*<div class="col-md-2-5">
                                                        @Html.DropDownListFor(m => m.StateId, new SelectList("", "Value", "Text"), "---Select---", new { @class = "form-control input-sm dropdown", @onchange = "GetCityList()" })
                                                        @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "Error_Msg" })
                                                    </div>*@
                                                <div class="col-md-10">
                                                    @Html.HiddenFor(m => m.PortOfDestId)
                                                    @Html.TextBoxFor(m => m.PortOfDestName, new { @class = "form-control input_sm", @readonly = true })
                                                    @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PortDestModal"></i></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Godown:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control intpu-sm", @readonly = true })
                                                    @Html.HiddenFor(m => m.GodownId, "0")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 ">
                                                    <label>Cargo Type:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                                                    {
                                                        new SelectListItem {Text="HAZ",Value="1" },
                                                        new SelectListItem {Text="NON-HAZ",Value="2"}
                                                    }, "----Select----", new { @class = "form-control input_sm dropdown" })
                                                    @Html.ValidationMessageFor(m => m.CargoType, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1-5" style="display:none">
                                                    @Html.HiddenFor(m => m.SelectCityId)
                                                    @Html.LabelFor(m => m.CityId, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                                </div>
                                                <div class="col-md-2-5" style="display:none">
                                                    @Html.DropDownListFor(m => m.CityId, new SelectList("", "Value", "Text"), "---Select---", new { @class = "form-control input-sm dropdown" })
                                                    @*@Html.ValidationMessageFor(m => m.CityId, "", new { @class = "Error_Msg" })*@
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Pack UOM:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.HiddenFor(m => m.PackUQCId)
                                                    @Html.HiddenFor(m => m.PackUQCCode)
                                                    @Html.TextBoxFor(m => m.PackUQCDescription, new { @class = "form-control input_sm", @readonly = true, tabindex = 18, onkeydown = "PopupActivate('PackUQCModal');" })
                                                    @Html.ValidationMessageFor(m => m.PackUQCDescription, "", new { @class = "Error_Msg" })
                                                    <span class="search" id="PackUQCSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PackUQCModal"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Port of Loading:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.HiddenFor(m => m.PortOfLoadingId)
                                                    @Html.TextBoxFor(m => m.PortOfLoadingName, new { @class = "form-control input_sm", @readonly = true })
                                                    @*<span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PortModal"></i></span>*@
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Port of Discharge:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.PortOfDischarge, new { @class = "form-control input_sm" })
                                                    @Html.ValidationMessageFor(m => m.PortOfDischarge, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>No of Package:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.Package, new { @class = "form-control input_sm", @type = "number" })
                                                    @Html.ValidationMessageFor(m => m.Package, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Weight (Kg):</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input_sm", @onblur = "ResetInvoice()" })
                                                    @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Commodity:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.HiddenFor(m => m.CommodityId)
                                                    @Html.TextBoxFor(m => m.CommodityName, new { @class = "form-control input_sm", @readonly = true })
                                                    @*<span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>FOB:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    @Html.TextBoxFor(m => m.FOB, new { @class = "form-control input_sm", @onblur = "ResetInvoice()" })
                                                    @Html.ValidationMessageFor(m => m.FOB, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Package Type:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.DropDownListFor(m => m.PackageType, new List<SelectListItem>
                                                    {
                                                        new SelectListItem { Text="Package",Value="P"},
                                                        new SelectListItem { Text="Liquid Bulk",Value="LB"},
                                                        new SelectListItem { Text="Dry Bulk",Value="DB"}
                                                    }, new { @class = "form-control input-sm dropdown", @disabled = "disabled" })

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                @*<div class="tab-pane fade" id="DivInvoice">

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Invoice No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Payment Mode:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.PaymentMode, new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Party Name:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.HiddenFor(m => m.PartyId)
                                                    @Html.TextBoxFor(m => m.PartyName, new { @readonly = true })
                                                    <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                                    @Html.ValidationMessageFor(m => m.PartyName)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Head_h4" style="border:0;">
                                            <div class="Head_h5">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Charges</h5>
                                                    </div>
                                                </div>


                                                <div class="row Form_Space_top">
                                                    <div class="col-md-12">
                                                        <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                                            <thead>
                                                                <tr>
                                                                    <th rowspan="2">Charges</th>
                                                                    <th rowspan="2">Value</th>
                                                                    <th colspan="2" class="text-center">IGST</th>
                                                                    <th colspan="2" class="text-center">CGST</th>
                                                                    <th colspan="2" class="text-center">SGST</th>
                                                                    <th rowspan="2" style="width:15%;">Total</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>%</th>
                                                                    <th>Amt</th>
                                                                    <th>%</th>
                                                                    <th>Amt</th>
                                                                    <th>%</th>
                                                                    <th style="border-right:1px solid #ddd;">Amt</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                            <tfoot>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row Form_Space_top">
                                                    <div class="form-group Form_Input">
                                                        <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                                            <label>Total Value:</label>
                                                        </div>
                                                        <div class="col-md-2-5 col_cus_3">
                                                            @Html.TextBoxFor(m => m.AllTotal, new { @readonly = true })
                                                            @Html.TextBoxFor(m => m.AllTotal, "0", new { @readonly = true, @style = "text-align:right;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row Form_Space_top">
                                                    <div class="form-group Form_Input">
                                                        <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                                            <label>Round Up:</label>
                                                        </div>
                                                        <div class="col-md-2-5 col_cus_3">
                                                            @Html.TextBoxFor(m => m.RoundUp, new { @onblur = "CalcInvoice()" })
                                                            @Html.TextBoxFor(m => m.RoundUp, "0", new { @readonly = true, @style = "text-align:right;" })
                                                            @Html.TextBox("RoundUp", "0", new { @onblur = "CalcInvoice()", @style = "text-align:right;" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row Form_Space_top">
                                                    <div class="form-group Form_Input">
                                                        <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                                            <label>Invoice Value:</label>
                                                        </div>
                                                        <div class="col-md-2-5 col_cus_3">
                                                            @Html.TextBoxFor(m => m.InvoiceValue, new { @readonly = true })
                                                            @Html.TextBoxFor(m => m.InvoiceValue, "0", new { @readonly = true, @style = "text-align:right;" })
                                                            @Html.HiddenFor(m => m.PaymentSheetModelJson)
                                                            @Html.HiddenFor(m => m.TotalCGST)
                                                            @Html.HiddenFor(m => m.TotalSGST)
                                                            @Html.HiddenFor(m => m.TotalIGST)
                                                            @Html.HiddenFor(m => m.TotalAmt)
                                                            @Html.HiddenFor(m => m.IsPartyStateInCompState)
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Remarks:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;", @maxlength = "500" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div div class="col-md-offset-5 col-md-2  SignUp_space_bottom">
                        <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="LoadCCINEntry()" />

                        @*<div class="col-md-2">
                                <input type="button" id="btnPrint" class="btn log_Btn_sm" value="Print" onclick="PrintInvoice()" disabled />
                            </div>*@
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row">

                    @*<input type="text" id="ccinsearchtxt" placeholder="CCIN No./SB No" />
                        <div class="col-md-2 SignUp_space_bottom">
                            <input type="button" id="ccinsearchbtn" value="Search" class="btn log_Btn_sm" onclick="Loadccinsearch()" />
                            </div>*@
                </div>

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-5 col-md-4" style="text-align:right;">
                            <label>CCIN No./SB No. :</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBox("ccinsearchtxt")
                            @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" onclick="LoadCCINSearch()"></i></span>*@
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div id="tblEntryDet"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="CCINEntryList"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLinebox" type="text" />
                <ul class="navList" id="lstShippingLine">
                    @{
                        if (ViewBag.ListOfShippingLine != null)
                        {
                            foreach (var item in ViewBag.ListOfShippingLine)
                            {
                                <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VehicleNoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Vehicle No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="VehicleBox" type="text" />
                <ul class="navList" id="lstVehicle">
                    @{
                        if (ViewBag.ListVehicle != null)
                        {
                            foreach (var item in ViewBag.ListVehicle)
                            {
                                <li id="@item.EntryId">@item.VehicleNo</li>
                            }
                        }
                        else
                        {
                            // <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ExporterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Exporter Name</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Exporterbox" type="text" />
                <ul class="navList" id="lstExporter">
                    @{
                        if (ViewBag.ListOfExporter != null)
                        {
                            foreach (var item in ViewBag.ListOfExporter)
                            {
                                <li id="@item.EXPEximTraderId">@item.ExporterName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CHAModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Name</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                        if (ViewBag.ListOfCHA != null)
                        {
                            foreach (var item in ViewBag.ListOfCHA)
                            {
                                <li id="@item.CHAEximTraderId">@item.CHAName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PortDestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Port Name</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="PortDestbox" type="text" />
                <ul class="navList" id="lstDestPort">
                    @*@{
                            if (ViewBag.ListOfPort != null)
                            {
                                foreach (var item in ViewBag.ListOfPort)
                                {
                                    <li id="@item.PortId">@item.PortName</li>
                                }
                            }
                            else
                            {
                                <li></li>
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PortModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Port Name</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Portbox" type="text" />
                <ul class="navList" id="lstPort">
                    @{
                        if (ViewBag.ListOfPort != null)
                        {
                            foreach (var item in ViewBag.ListOfPort)
                            {
                                <li id="@item.PortId">@item.PortName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:80%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Commodity</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Commodity Name" id="CommodityBox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Commodity Name</th>

                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_2">
                    <table class="table dataTable table-bordered table-striped" id="tbleCommodity">
                        @{
                            if (ViewBag.LstCommodity != null)
                            {
                                foreach (var item in ViewBag.LstCommodity)
                                {
                                    <tr onclick="SelectCommodity(@item.CommodityId,'@item.CommodityName')">
                                        <td colspan="8" width="80%">@item.CommodityName</td>

                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">
                        @if (ViewBag.CommodityState != null && Convert.ToBoolean(ViewBag.CommodityState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-offset-5 col-md-3">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseCommodity()">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="SBNoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SBNo</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SBNobox" type="text" />
                <ul class="navList" id="lstSBNo">
                    @{
                        if (ViewBag.ListOfSBNo != null)
                        {
                            foreach (var item in ViewBag.ListOfSBNo)
                            {
                                <li id="@item.SBId">@item.SBNo</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @{
                        if (ViewBag.lstParty != null)
                        {
                            foreach (var item in ViewBag.lstParty)
                            {
                                <li id="@item.PartyId">@item.PartyName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>


    function LoadCCINEntry() {
        $('#DivBody').load('/Export/WLJ_CWCExport/CCINEntry');
    }


    if ($('#SBType').find(":selected").text() == "Others") {
        //$("#Others").removeAttr("disabled");
        $('#DivOthers').show();
       // $("#Others").val();
    }
    else {
        //$("#Others").attr("disabled", "disabled");
        $("#Others").val('');
        $('#DivOthers').hide();
    }
</script>