@model CwcExim.Areas.Master.Models.CHNCWCWeighment
@using (Ajax.BeginForm("AddEditWeighment", "CHNMaster", new AjaxOptions
{
    Confirm = "Are you sure you want to Save/Update?",
    HttpMethod = "POST",
    OnSuccess = "WeighmentOnSuccess",
    OnFailure = "WeighmentOnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row Con_Heading SignUp_space_bottom">
            <div class="col-md-12 cwc_body">
                <h5>Weighment<span class="triangle"></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Effective Date:</label>
                </div>
                <div class="col-md-2 Date_Img">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control input-sm", @id = "WeighmentEffectiveDate", @readonly = true })
                    @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Container/CBT Rate:</label>
                </div>
                <div class="col-md-2">
                    @*<span class="ReQSimbol">*</span>*@
                    @Html.TextBoxFor(m => m.ContainerRate, new { @class = "form-control input-sm" })
                    @*@Html.ValidationMessageFor(m => m.ContainerRate, "", new { @class = "Error_Msg" })*@
                </div>
                <div class="col-md-1-5 col-md-offset-3 col_cus_2 padding_rt">
                    <label>Container/CBT Size:</label>
                </div>
                <div class="col-md-2">
                    @*<span class="ReQSimbol">*</span>*@
                    @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem>
                    {
                        new SelectListItem { Text="20",Value="20" },
                        new SelectListItem { Text="40",Value="40" },
                    }, "----Select----", new { @class = "form-control input-sm" })
                    @*@Html.ValidationMessageFor(m => m.ContainerSize, "", new { @class = "Error_Msg" })*@
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    @Html.LabelFor(m => m.TruckRate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2">
                    @*<span class="ReQSimbol">*</span>*@
                    @Html.TextBoxFor(m => m.TruckRate, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.TruckRate, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>SAC Code:</label>
                </div>
                <div class="col-md-2">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.SacCode, new { @class = "form-control input-sm", @readonly = true })
                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                    @Html.ValidationMessageFor(m => m.SacCode, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-2">
                <input type="submit" value="Save" class="btn log_Btn_sm" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Reset" id="btnReset" class="btn log_Btn_sm" onclick="Clear()" />
            </div>
        </div>
        <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" id="DivMsg" style="background-color:transparent;"></div>
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="DivWeighmentList"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SAC Code</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                <ul class="navList" id="PartyList">
                    @{
                        if (ViewBag.ListOfSAC != null)
                        {
                            foreach (var item in ViewBag.ListOfSAC)
                            {
                                <li id="@item">@item</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () { LoadWeighmentList(); })
    $('#WeighmentEffectiveDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select Date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="EffectiveDate"]').html('');
        }
    });
    function Clear() {
        $('input[type="text"]').val('');
        $('[data-valmsg-for]').html('');
    }
    function LoadWeighmentList() {
        $('#DivWeighmentList').load('/Master/CHNMaster/GetAllWeighment');
    }
    function WeighmentOnSuccess(data) {
        if (data.Status == 1) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            Clear();
            LoadWeighmentList();
        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
    }
    function WeighmentOnFailure() { }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('.navList > li').show();
        } else {
            $('.navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('.navList li').on("click", function () {
        $('#SacCode').val($(this).text());
        $("#myModal").modal("hide");
    });
</script>
