
@model CwcExim.Areas.Bond.Models.DSRDepositApp
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div id="DivViewDepositApp" class="Head_h4">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Deposit Application</h4>
                    </div>
                </div>
                @Html.HiddenFor(m => m.GodownWiseDtlXml)
                @Html.Hidden("ResvSpaceId")
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Deposit No:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.DepositNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4-5 col_cus_offset_3 col_cus_2">
                            <label>Deposit Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.DepositDate, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.DepositDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>SAC No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.SacNo, new { @class = "form-control input-sm", @readonly = true })
                            <span class="search" id="SacSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SacModal"></i></span>
                            @Html.ValidationMessageFor(m => m.SacNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>SAC Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SacDate, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.SacDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Vehicle No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.VehicleNo, "", new { @class = "Error_Msg" })

                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Custom Seal No:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Bond BOE No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BondBOENo, new
                           {
                               @class = "form-control input-sm" @*,@readonly=true*@ })
                            @Html.ValidationMessageFor(m => m.BondBOENo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Bond BOE Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.BondBOEDate, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.BondBOEDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>WR No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.WRNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>WR Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.WRDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>


                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Bond No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.BondNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Bond Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.BondDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Custom Bond No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CustomBondNo, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.CustomBondNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Custom Bond Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.CustomBondDate, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.CustomBondDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>IGM No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.IGMNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>IGM Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.IGMDate, new { @class = "form-control input-sm", @readonly = true })

                        </div>
                    </div>
                </div>

                <div class="Head_h5" style="margin-top:20px;margin-bottom:20px;padding:10px;">

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Godown:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                @Html.ValidationMessageFor(m => m.GodownName)
                                @Html.HiddenFor(m => m.GodownId)
                            </div>
                            <div id="divTotalSpace" style="display:none;">Reserved Space : <strong><span id="LabTotalSpace"></span></strong></div>
                            @*@Html.Hidden("TotalSpace")
                            @Html.Hidden("ReservationTo")*@

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Space Unreserved (sq. mts.):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("SpaceUnreserved", "", new { @class = "form-control input-sm", @onkeypress = "return AllowOnlyDecimal(event)" })
                                @Html.ValidationMessage("SpaceUnreserved", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Space Reserved (sq. mts.):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("SpaceReserved", "", new { @class = "form -control input-sm", @onchange = "return AllowOnlyDecimal(event)" })
                                @Html.ValidationMessage("SpaceReserved", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Units:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Units2", "", new { @class = "form-control input-sm", @onkeypress = "return AllowOnlyDecimal(event)" })
                                @Html.ValidationMessage("Units2", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Weight:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Weight2", "", new { @class = "form -control input-sm", @onkeypress = "return AllowOnlyDecimal(event)" })
                                @Html.ValidationMessage("Weight2", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Value2", "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessage("Value2", "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Duty:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Duty2", "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessage("Duty2", "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" id="BtnAddGodownWiseEntry" class="btn log_Btn_sm" value="Add" onclick="SaveGodownWiseDtl()" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" id="btnReset" onclick="ResetGodownDet2()" />
                        </div>
                    </div>
                    <div id="DivGodownWiseEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                    <table class="table table-striped table-bordered dataTable slim_tble" id="TblGodownWiseEntryDet" style="width:100%;">
                        <thead>
                            <tr>
                                <th width="2%" class="text-center">@Html.DisplayName("SL No")</th>
                                <th rowspan="2" width="15%" class="text-center">@Html.DisplayName("Godown Name")</th>
                                <th rowspan="2" width="15%" class="text-center">@Html.DisplayName("Space Unreserved")</th>
                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Space Reserved")</th>
                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Units")</th>
                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Weight")</th>
                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Value")</th>
                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Duty")</th>
                                @*<th rowspan="2" width="5%" class="text-center">@Html.DisplayName("Edit")</th>*@
                                @*<th rowspan="2" width="5%" class="text-center">@Html.DisplayName("View")</th>*@
                            </tr>
                        </thead>
                        <tbody align="center"></tbody>
                    </table>
                </div>

                <div class="row Form_Space_top" style="display:none">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.HiddenFor(m => m.GodownId)
                            <label>Godown:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHA, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @*@Html.HiddenFor(m => m.CHAId)*@
                            @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.Importer, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.HiddenFor(m => m.ImporterId)
                            @Html.TextBoxFor(m => m.Importer, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input-sm", @style = "width:100%;height:100px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt" style="display:none">
                            <label>Units:</label>
                        </div>
                        <div class="col-md-2-5" style="display:none">
                            @Html.TextBoxFor(m => m.Units, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Dimension UOM:</label>
                        </div>
                        <div class="col-md-1-5">
                            @Html.TextBoxFor(m => m.DimensionUOM, new { @class = "form-control input-sm", @placeholder = "UOM", @readonly = true })
                        </div>
                        <div class="col-md-1-5">

                        </div>
                        <div class="col-md-2-5" style="display:none">
                            <label>Weight:</label>
                        </div>
                        <div class="col-md-2-5" style="display:none">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top" style="display:none">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Value:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Value, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Duty:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Remarks:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @style = "width:100%;height:100px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Is Insured:</label>
                        </div>
                        <div class="col-md-1">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.IsInsured)
                                <label for="IsInsured"><i class="square"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadDepositApp()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ArrayLst = [];
    function LoadDepositApp() {
        debugger;
        $('#DivBody').load('/Bond/DSRBond/CreateDepositApp');
    }

    $(function () {
        $('#DivViewDepositApp').find('input:text,textarea').prop("disabled", true);
        ArrayLst=@Html.Raw(Json.Encode(Model.LstGodownWiseDtl));
        GenerateGodownWiseEntryTable();
    });
    function SaveGodownWiseDtl() {
        debugger;
        $('#DivGodownWiseEntryTblMsg').html('');
        if ($('#SpaceUnreserved').val() == '') {
            $('[data-valmsg-for="SpaceUnreserved"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#SpaceReserved').val() == '') {
            $('[data-valmsg-for="SpaceReserved"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#CHAName').val() == '') {
            $('#DivGodownWiseEntryTblMsg').html('Please Select CHA Name To Add Details');
            return false;
        }
        if ($('#ImporterName').val() == '') {
            $('#DivGodownWiseEntryTblMsg').html('Please Select Importer Name To Add Details');
            return false;
        }
        if ($('#GodownName').val() != "") {
            debugger;
            var GodownEntryDtl = {
                "ResvSpaceId": $('#ResvSpaceId').val(),
                "GodownId": $('#GodownId').val(),
                "GodownName": $('#GodownName').val(),
                "SpaceUnreserved": $('#SpaceUnreserved').val(),
                "SpaceReserved": $('#SpaceReserved').val(),
            }
        };
        ArrayLst.push(GodownEntryDtl);

        $('#BtnAddGodownWiseEntry').prop("disabled", true);
        $('#btnReset').prop("disabled", false);
        ResetGodownDet();
        GenerateGodownWiseEntryTable();

    }

    function GenerateGodownWiseEntryTable() {
        debugger;
        $('#TblGodownWiseEntryDet').hide();
        $('#TblGodownWiseEntryDet>tbody').html('');
        $("#SpaceReq").val('');
        $("#SpaceReqReserved").val('');
        var Html = '';
        if (ArrayLst.length != 0) {
            $.each(ArrayLst, function (i, item) {
                Html += '<tr>';
                Html += '<td class="text-center">' + (i + 1) + '</td>';
                Html += '<td width="50px" class="txt_wrp">' + item.GodownName + '</td>';
                Html += '<td width="6%" class="txt_wrp">' + item.SpaceUnreserved + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.SpaceReserved + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.Units + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.Weight + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.Value + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.Duty + '</td>';
                // Html += '<td width="5%" class="text-center"><a href="#" onclick="EditGodownWiseEntry(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>';
                //Html += '<td width="5%" class="text-center"><a href="#" onclick="ViewGodownWiseEntry(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td>';
                Html += '</tr>';
            });
            $('#TblGodownWiseEntryDet>tbody').html(Html);
            $('#TblGodownWiseEntryDet').show();
           // Sum();
        }
    }
    function ResetGodownDet() {
        debugger;
        $('#GodownId').val('');
        $('#GodownName').val('');
        $('#SpaceUnreserved').val('');
        $('#SpaceReserved').val('');

        $('#GodownName').prop("disabled", false);
        $('#SpaceUnreserved').prop('readonly', false);
        $('#SpaceReserved').prop('readonly', false);
        $('#BtnAddGodownWiseEntry').prop("disabled", true);

    }

    function EditGodownWiseEntry(Index) {
        $('#ResvSpaceId').val(ArrayLst[Index].ResvSpaceId);
        $('#GodownId').val(ArrayLst[Index].GodownId);
        $('#GodownName').val(ArrayLst[Index].GodownName);
        $('#SpaceUnreserved').val(ArrayLst[Index].SpaceUnreserved);
        $('#SpaceReserved').val(ArrayLst[Index].SpaceReserved);
        $('#BtnAddGodownWiseEntry').prop("disabled", false);
        ArrayLst.splice(Index, 1);
        GenerateGodownWiseEntryTable();
    }

    function Sum() {
        debugger;
        var TotalSpUnreserved = 0;
        var TotalSpReserved = 0;
        $("#SpaceReq").val('');
        $("#SpaceReqReserved").val('');
        for (var i = 0; i < ArrayLst.length; i++) {
            TotalSpUnreserved += ArrayLst[i].SpaceUnreserved << 0;
            TotalSpReserved += ArrayLst[i].SpaceReserved << 0;
        }
        $("#SpaceReq").val(TotalSpUnreserved);
        $("#SpaceReqReserved").val(TotalSpReserved);
    }
    $('#BtnSave').on('click', function () {
        if ($('#CHAName').val() != '') {
            if (ArrayLst.length != 0) {
                $('#GodownWiseDtlXml').val(JSON.stringify(ArrayLst));
                return true;
            } else {
                $('#DivGodownWiseEntryTblMsg').html('Please Add The Above Records');
                return false;
            }
        };
    });
</script>