@model CwcExim.Areas.Bond.Models.DSRBondWOUnloading

<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivBondApp">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Unloading at Bonded Warehouse</h4>
                    </div>
                </div>
                @Html.HiddenFor(m => m.GodownWiseLocXml)
                @Html.Hidden("ResvSpaceId")
                @Html.Hidden("ReferenceNo")
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Deposit No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.DepositNo, new { @class = "form-control input-sm", @readonly = true })
                            <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SacNoModal"></i></span>
                            @Html.ValidationMessageFor(m => m.DepositNo)
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Deposit Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.DepositDate, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.DepositDate)
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Bond BOE No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BondBOENo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Bond BOE Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.BondBOEDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Bond No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Bond Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.WRNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.WRDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top" style="display:none">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Godown Name:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>SAC No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.SacNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>SAC Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SacDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Unloaded Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2 Date_Img">
                            @Html.TextBoxFor(m => m.UnloadedDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>Nature Of Material:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.DropDownListFor(m => m.NatureOfMaterial, new List<SelectListItem> {
                               new SelectListItem { Text="Non Haz",Value="2"},
                               new SelectListItem { Text="Haz",Value="1"}
                                })
                        </div>                        
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2" style="display:none">
                            <label>Location Name:</label>
                        </div>
                        <div class="col-md-2-5" style="display:none">
                            @Html.HiddenFor(m => m.LocationId)
                            @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col_cus_2 col-md-1-5">
                            <label>Area Occupied:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.AreaOccupied, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px; margin-bottom:20px;">

                    <table class="table table-striped table-bordered dataTable slim_tble" id="TblGodownWiseEntryDet" style="width:100%;">
                        <thead>
                            <tr>
                                <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Godown Name")</th>
                                <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Space Unreserved")</th>
                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Space Reserved")</th>
                                <th rowspan="2" width="7%" class="text-center">@Html.DisplayName("Units")</th>
                                <th rowspan="2" width="7%" class="text-center">@Html.DisplayName("Weight")</th>
                                <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Location Name")</th>
                                <th rowspan="2" width="7%" class="text-center">@Html.DisplayName("Unloaded Units")</th>
                                <th rowspan="2" width="7%" class="text-center">@Html.DisplayName("Balanced Units")</th>
                                <th rowspan="2" width="7%" class="text-center">@Html.DisplayName("Unloaded Weights")</th>
                                <th rowspan="2" width="7%" class="text-center">@Html.DisplayName("Balanced Weights")</th>
                            </tr>
                        </thead>
                        <tbody align="center"></tbody>
                    </table>
                </div>
                <div class="row Form_Space_top" style="display:none">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Unloaded Units:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.UnloadedUnits, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>Balanced Units:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BalancedUnits, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top" style="display:none">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Unloaded Weights:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.UnloadedWeights, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Balanced Weights:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BalancedWeights, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Handling Weight (Manual):</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.HandlingChargeManual, new { @class = "form-control input-sm", @disabled = true })
                            @Html.ValidationMessageFor(m => m.HandlingChargeManual)
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Handling Weight (Mechanical):</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.HandlingChargeMechanical, new { @class = "form-control input-sm", @disabled = true })
                            @Html.ValidationMessageFor(m => m.HandlingChargeMechanical)
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Conditions Of Packages:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.PackageCondition, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Remarks:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ArrayLst = [];
    $(function () {
        debugger;
        ArrayLst=@Html.Raw(Json.Encode(Model.LstGodownWiseDtl));
        GenerateGodownWiseEntryTable();
        if (ArrayLst.length != 0) {

            $.each(ArrayLst, function (i, item) {
                $('#UnloadedUnits_' + item.GodownId).val(item.UnloadedUnit);
                $('#UnloadedWeights_' + item.GodownId).val(item.UnloadedWeight);
                $('#LocationId_' + item.GodownId).val(item.LocationId);
                $('#LocationName_' + item.GodownId).val(item.LocationName);

                FillBalancedUnits(item.GodownId);
                FillBalancedWeights(item.GodownId)
            });
        }
    });
    function LoadPage() {
        $('#DivBody').load('/Bond/DSRBond/CreateWOUnloading');
    }
    function FillBalancedUnits(GodownId) {
        $('#BalancedUnits_' + GodownId).val(parseInt(Number($('#Units_' + GodownId).text()) - Number($('#UnloadedUnits_' + GodownId).val())));
    }
    function FillBalancedWeights(GodownId) {
        debugger;
        $('#BalancedWeights_' + GodownId).val(Number(parseFloat(Number($('#Weight_' + GodownId).text()) - Number($('#UnloadedWeights_' + GodownId).val()))).toFixed(2));
    }
    function GenerateGodownWiseEntryTable() {
        debugger;
        $('#TblGodownWiseEntryDet').hide();
        $('#TblGodownWiseEntryDet>tbody').html('');
        $("#SpaceReq").val('');
        $("#SpaceReqReserved").val('');
        var Html = '';
        if (ArrayLst.length != 0) {
            $.each(ArrayLst, function (i, item) {
                Html += '<tr>';
                //Html += '<td width="2px" class="text-center">' + (i + 1) + '</td>';
                Html += '<td width="30px" class="txt_wrp">' + item.GodownName + '</td>';
                Html += '<td width="6%" class="txt_wrp">' + item.SpaceUnreserved + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.SpaceReserved + '</td>';
                Html += '<td width="20%" class="txt_wrp" id="Units_' + item.GodownId + '">' + item.Units + '</td>';
                Html += '<td width="20%" class="txt_wrp" id="Weight_' + item.GodownId + '">' + item.Weight + '</td>';
                Html += '<td width="10%" class="rel_pos"><input type="hidden" id="LocationId_' + item.GodownId + '"/><input type="text" id="LocationName_' + item.GodownId + '" class="form-control input-sm" name="LocationName" readonly />';
               // Html += '<span class="search" onclick="GetGodownWiseLocation(' + item.GodownId + ')"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span></td>';
                Html += '<td width="20%" class="txt_wrp">' + item.UnloadedUnit + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.BalancedUnit + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.UnloadedWeight + '</td>';
                Html += '<td width="20%" class="txt_wrp">' + item.BalancedWeight + '</td>';
                Html += '</tr>';
            });
            $('#TblGodownWiseEntryDet>tbody').html(Html);
            $('#TblGodownWiseEntryDet').show();
           // Sum();
        }
    }
</script>