@model CwcExim.Areas.Import.Models.Dnd_Internal_Movement
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Internal Movement-Import</h4>
                    </div>
                </div>

                @using (Ajax.BeginForm("AddEditInternalMovement", "Dnd_CWCImport", new AjaxOptions
                {
                    Confirm = "Are you sure you want to Save?",
                    HttpMethod = "POST",
                    OnSuccess = "MovementOnSuccess",
                    OnFailure = "MovementOnFailure",
                }))
                {

                    @Html.Hidden("BOEJson")
                    @Html.HiddenFor(m => m.MovementId)
                    @Html.HiddenFor(m => m.StockDetailsId)
                    if (ViewBag.RightsList != null)
                    {
                        <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnRights" value="" />
                    }



                    @Html.AntiForgeryToken()
                    <div id="DivAddMovement">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Movement No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.DestuffingEntryId)
                                    @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                                    @Html.TextBoxFor(m => m.MovementNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Movement Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.MovementDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>OBL No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.BOENo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>OBL Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.BOEDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextAreaFor(m => m.CargoDescription, new { @style = "height:100px;width:100%", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>From Godown:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.FromGodownId)
                                    @Html.TextBoxFor(m => m.OldGodownName, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2">
                                    <label>To Godown:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.ToGodownId)
                                    @Html.TextBoxFor(m => m.NewGodownName, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Old Location:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.OldLocationIds)
                                    @Html.TextBoxFor(m => m.OldLocationNames, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>New Location:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.NewLocationNames, "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Old No Of Packages:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.TextBoxFor(m => m.NoOfPackages, new { @class = "form-control input-sm", @readonly = true })
                                </div>

                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>New No Of Packages:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_3">
                                    @Html.TextBoxFor(m => m.NewNoOfPackages, "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>



                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Old Gross Wt(Kg):</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm", @readonly = true })
                                </div>

                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>New Gross Wt(Kg):</label>
                                </div>
                                <div class="col-md-2-5 col_cus_3">
                                    @Html.TextBoxFor(m => m.NewGrossWeight, "", new { @class = "form-control input-sm", @readonly = true })

                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Old SQM:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.TextBoxFor(m => m.OldArea, "", new { @class = "form-control input-sm", @readonly = true })
                                </div>

                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>New SQM:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_3">
                                    @Html.TextBoxFor(m => m.NewArea, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.NewArea, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrNArea"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Old CBM:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.TextBoxFor(m => m.OldAreaCbm, "", new { @class = "form-control input-sm", @readonly = true })
                                </div>

                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>New CBM:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_3">
                                    @Html.TextBoxFor(m => m.NewAreaCbm, "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Old CIF Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.OldCIFValue, "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>New CIF Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.NewCIFValue, "", new { @class = "form-control input-sm", @readonly = true })

                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Old Gross Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.OldGrossDuty, "", new { @class = "form-control input-sm", @readonly = true })

                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>New Gross Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.NewGrossDuty, "", new { @class = "form-control input-sm", @readonly = true })

                                </div>
                            </div>
                        </div>
                        <br />



                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Back" onclick="CancelMovement()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script>
    function CancelMovement() {
        $('#DivBody').load('/Import/Dnd_CWCImport/CreateInternalMovement');
    }
</script>