@model CwcExim.Areas.Import.Models.ImportBondConversion

<style>
    .sec_dvsn_area{
        border: 1px solid #f7a654;
    }
    .sec_dvsn {
        border-left: 1px solid #f7a654;
        width: 50%;
        float:left;
    }
    .sec_dvsn h4 {
        border-bottom: 1px solid #f7a654;
        background: none;
        padding: 10px;
        margin: 0;
        color: #fe9b35;
    }
    .sec_dvsn_wrp {
       padding: 8px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Transfer of Import Stock to Bond</h4>
                        </div>
                    </div>

                    <div class="row Form_Space_top SignUp_space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Transfer No</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m=>m.MovementNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-5">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @*<input class="form-control" type="text" id="MovementDate" readonly="readonly" />*@
                                @Html.TextBoxFor(m=>m.MovementDate, "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="sec_dvsn_area">
                        <div class="sec_dvsn">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>FROM</h4>
                                </div>
                            </div>
                            <div class="sec_dvsn_wrp">

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>OBL / HBL NO :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.HiddenFor(m => m.DestuffingId)
                                            @Html.TextBoxFor(m => m.OBLNo, new { @class = "form-control input_sm", @readonly = true })
                                            <span class="search" id="OBLSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="OBL" data-target="#OBLModal"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>OBL / HBL Date :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.OBLDate, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top" style="display:none;">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Godown Name :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.HiddenFor(m => m.FromGodownId)
                                            @Html.TextBoxFor(m => m.FromGodownName, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>


                                <div class="row Form_Space_top" style="display:none;">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Location :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.HiddenFor(m=>m.FromLocationId)
                                            @Html.TextBoxFor(m => m.FromLocationName, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>


                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>No of Pkg :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Weight(kg) :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>SQM :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>CUM :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.CUM, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>CIF :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.CIF, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>DUTY :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sec_dvsn" style="border-right:0;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>TO</h4>
                                </div>
                            </div>
                            <div class="sec_dvsn_wrp">
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Godown Name :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_6">
                                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#godownModal"></i></span>
                                            @Html.HiddenFor(m => m.GodownId)
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Location :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_6">
                                            @*<input class="form-control input-sm" id="location" name="location" readonly="true" type="text" value="">
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>*@
                                            @Html.HiddenFor(m => m.LocationId)
                                            @Html.TextBoxFor(m=>m.Location, "", new { @class = "form-control input-sm", @readonly = true })
                                            <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                                            @*@Html.ValidationMessage("Location", new { @class = "Error_Msg" })*@
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>SAC No :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_6">
                                            @Html.HiddenFor(m => m.SACId)
                                            @Html.TextBoxFor(m=>m.SACNo, "", new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SacModal"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>SAC Date :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_6 Date_Img">
                                            @Html.TextBoxFor(m => m.SACDate, "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>WR No :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_6">
                                            @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>WR Date :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5 Date_Img">
                                            @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Bond No :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Bond Date :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5 Date_Img">
                                            @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Custom Bond No :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.CustomBondNo, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Custom Bond Date :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5 Date_Img">
                                            @Html.TextBoxFor(m => m.CustomBondDate, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-3 padding_rt">
                                            <label>Custom Seal No :</label>
                                        </div>
                                        <div class="col-md-6 col_cus_5">
                                            @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input_sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ClearFix"></div>
                    </div>

                    <div class="row SignUp_space_top SignUp_space_bottom"></div>


                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="BackMovement()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function BackMovement()
    {
        $('#DivBody').load('/Import/VRN_CWCImport/ImportBondConversionYard');
    }
</script>









