@if (ViewBag.ShippingLine != null)
{
    <input type="hidden" id="hdnShippingLine" value="@ViewBag.ShippingLine" />
}
else
{
    <input type="hidden" id="hdnShippingLine" value="" />
}
@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="StuffingReqList" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="StuffingReqList" value="" />
}
<script src="~/Areas/Export/Scripts/App/Services/ExpContRRService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/ExpContRRCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('ExpContRRAppDiv'), ['CWCApp']);
</script>

<div id="ExpContRRAppDiv" ng-controller="ExpContRRCtrl">
    <div class="container-fluid">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Export RR Credit Debit Module</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Invoice No :</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="DebitInvoiceNo" readonly type="text" value="" ng-model="DebitInvoiceNo">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Credit Note No :</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            <input class="form-control input-sm" id="CreditNoteNo" readonly type="text" value="" ng-model="CreditNoteNo">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="InvoiceNo" ng-model="InvoiceNo" />
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Invoice No :</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="InvoiceNo" readonly type="text" value="" ng-model="InvoiceNo">
                            <span class="search" ng-hide="IsCalculate" id="InvoiceSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="Invoice" data-target="#InvoiceModal"></i></span>
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Invoice Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            <input class="form-control input-sm" id="InvoiceDate" readonly type="text" ng-model="InvoiceDate">
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Shipping Line to credit:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            <input class="form-control input_sm" id="Party" name="Party" readonly type="text" ng-model="InvoiceObj.PartyName">
                            @*<span class="search" ng-hide="IsCalculate" id="PartySerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="partyID" data-target="#PartyModal"></i></span>*@
                        </div>
                    </div>
                </div>
                @* <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Payee Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input class="form-control input_sm" id="Party" name="Party" readonly type="text" ng-model="InvoiceObj.PayeeName">
                                <span class="search" ng-hide="IsCalculate" id="PayeeSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="partyID" data-target="#PayeeModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>GST No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    <input class="form-control input-sm" id="GstNo" name="GstNo" readonly type="text" ng-model="GSTNo">
                                </div>
                            </div>
                        </div>*@
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered dataTable" id="tblContainerDetails" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">@Html.DisplayName("ICD Code")</th>
                                    <th class="text-center">@Html.DisplayName("Container No")</th>
                                    <th class="text-center">@Html.DisplayName("Size")</th>
                                    <th class="text-center">@Html.DisplayName("Cargo Type")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="s in InvoiceObj.lstContDetailsRRCD">
                                    <td class="text-center">{{s.CFSCode}}</td>
                                    <td class="text-center">{{s.ContainerNo}}</td>
                                    <td class="text-center">{{s.Size}}</td>
                                    <td class="text-center">
                                        <span ng-if="s.CargoType==1">Haz</span>
                                        <span ng-if="s.CargoType==2">Non Haz</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table id="tblCargoShpCharges" class="table table-bordered table-striped dataTable Table_center">
                            <thead>
                                <tr>
                                    <th rowspan="2">Charges</th>
                                    <th rowspan="2">Value</th>
                                    <th colspan="2" class="text-center">IGST</th>
                                    <th colspan="2" class="text-center">CGST</th>
                                    <th colspan="2" class="text-center">SGST</th>
                                    <th rowspan="2" style="width:15%;">Total</th>
                                </tr>
                                <tr>
                                    <th>%</th>
                                    <th>Amt</th>
                                    <th>%</th>
                                    <th>Amt</th>
                                    <th>%</th>
                                    <th style="border-right:1px solid #ddd;">Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in  InvoiceObj.lstChrgDetailsRRCD">
                                    <td>{{r.ChargeName}}[{{r.Clause}}]</td>
                                    <td style="text-align:right;">{{r.Taxable}}</td>
                                    <td style="text-align:right;">{{r.IGSTPer}}</td>
                                    <td style="text-align:right;">{{r.IGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.CGSTPer}}</td>
                                    <td style="text-align:right;">{{r.CGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.SGSTPer}}</td>
                                    <td style="text-align:right;">{{r.SGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.Total}}</td>
                                </tr>
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                        <td style="font-weight:bold;color:#ff0000;text-align:right;">{{InvoiceObj.InvoiceAmt}}</td>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>


                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>ShippingLine to Debit:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            <input class="form-control input_sm" id="ShippingLineName" readonly type="text" ng-model="ShippingLineName">
                            <span class="search" ng-show="InvoiceSelected" id="ShippingSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="Shipping" data-target="#ShippingLineModal"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table id="tblCargoShpCharges" class="table table-bordered table-striped dataTable Table_center">
                            <thead>
                                <tr>
                                    <th rowspan="2">Charges</th>
                                    <th rowspan="2">Value</th>
                                    <th colspan="2" class="text-center">IGST</th>
                                    <th colspan="2" class="text-center">CGST</th>
                                    <th colspan="2" class="text-center">SGST</th>
                                    <th rowspan="2" style="width:15%;">Total</th>
                                </tr>
                                <tr>
                                    <th>%</th>
                                    <th>Amt</th>
                                    <th>%</th>
                                    <th>Amt</th>
                                    <th>%</th>
                                    <th style="border-right:1px solid #ddd;">Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in  PostInvoiceObj.lstPostPaymentChrgRRCD">
                                    <td>{{r.ChargeName}}[{{r.Clause}}]</td>
                                    <td style="text-align:right;">{{r.Taxable}}</td>
                                    <td style="text-align:right;">{{r.IGSTPer}}</td>
                                    <td style="text-align:right;">{{r.IGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.CGSTPer}}</td>
                                    <td style="text-align:right;">{{r.CGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.SGSTPer}}</td>
                                    <td style="text-align:right;">{{r.SGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.Total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                    <td style="font-weight:bold;color:#ff0000;text-align:right;">{{PostInvoiceObj.InvoiceAmt}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <label>Remarks:</label>
                        </div>
                        <div class="col-md-10-5">
                            <textarea id="Remarks" ng-model="Remarks" style="height:75px;" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top">
                    </div>
                </div>
                <div class="row Form_Space_bottom">
                    <div class="col-md-offset-3 col-md-2">
                        <input type="button" id="BtnSave" class="btn log_Btn_sm" value="Save" ng-disabled="(PostInvoiceObj.InvoiceAmt<=0 ||PostInvoiceObj.InvoiceAmt==null) ||  (IsSaved==1)" ng-click="AddEditExportRR()" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetPage()" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Print" onclick="PrintInvoice()" ng-disabled="(DebitInvoiceNo==''||DebitInvoiceNo==null) && (CreditNoteNo!='' ||CreditNoteNo==null)" />
                    </div>
                </div>
                <div class="logSuccMsg" style="background-color:transparent">{{Message}}</div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="InvoiceModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Invoice No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Invoicebox" type="text" ng-model="Invoicebox" />
                    <ul class="navList" id="">
                        <li ng-repeat="p in StuffingReqList | filter: {InvoiceNo : Invoicebox }" ng-click="SelectInvoice(p)">{{p.InvoiceNo}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShippingLineModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="FrmShippingbox" type="text" ng-model="FrmShippingbox" />
                    <ul class="navList" id="">
                        <li ng-repeat="p in ShippingLine | filter: {ShippingLineName : FrmShippingbox }" ng-click="SelectShippingLine(p)">{{p.ShippingLineName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal fade" id="PartyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Party Names</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="PartyModalbox" type="text" ng-model="PartyModalbox" />
                        <ul class="navList" id="">
                            <li ng-repeat="p in PartyList | filter: {PartyName : PartyModalbox }" ng-click="SelectParty(p)">{{p.PartyName}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PayeeyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Payee Names</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="PayeeModalbox" type="text" ng-model="PayeeModalbox" />
                        <ul class="navList" id="">
                            <li ng-repeat="p in PartyList | filter: {PartyName : PartyModalbox }" ng-click="SelectParty(p)">{{p.PartyName}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<script>
    /*
    $('#ShiftngDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });*/

    var TaxType = '@ViewData["InvType"].ToString()';
    function ResetPage() {
        $('#DivBody').load('/Export/Loni_CWCExport/CreateRRCreditDebitPaymentSheet');
    }
    function PrintInvoice() {
        var invoiceno = $('#DebitInvoiceNo').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'EXPRRCD',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'EXPORT CONTAINER RR CREDIT DEBIT',
            },
            success: function (data) {
                if (data.Status == 1)
                {
                    CreditNotePrintInvoice();
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                }
                else
                    alert(data.Data);
            }
        });
    }
    function CreditNotePrintInvoice()
    {
        var invoiceno = $('#CreditNoteNo').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkCreditNote", "Loni_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                PartyId: 0,
                FromDate: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ToDate: '@DateTime.Now.ToString("dd/MM/yyyy")',
            },
            success: function (data) {
                if (data.Status == 1) {
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                }
                else
                    alert(data.Data);
            }
        });
    }
</script>