@model CwcExim.Areas.Export.Models.Ppg_CargoShiftingApproval

<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Shifting Approval</h4>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Shifting No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.ShiftingNo, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                        <label>Shifting Date:</label>
                    </div>
                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                        @Html.TextBoxFor(m => m.ShiftingDt, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top" style="display:none;">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Invoice No :</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Shifting Type:</label>
                    </div>
                    <div class="col-md-2-5">
                        <select disabled="true">
                            <option value="2">Godown To Godown</option>
                            <option value="3">Both</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>From Shipping:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextBoxFor(m => m.FromShippingName, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>To Shipping:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextBoxFor(m => m.ToShippingName, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>From Godown:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.FromGodownName, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                        <label>To Godown:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.ToGodownName, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top" style="display:none;">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Party</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top" style="display:none;">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>GST No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.GSTNo, new { @class = "form-control input_sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top Form_Space_bottom">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:8%;">@Html.DisplayName("Entry No")</th>
                                <th class="text-center">@Html.DisplayName("Carting Date")</th>
                                <th class="text-center">@Html.DisplayName("Ship Bill No")</th>
                                <th class="text-center">@Html.DisplayName("Ship Bill Date")</th>
                                <th class="text-center">@Html.DisplayName("Package")</th>
                                <th class="text-center">@Html.DisplayName("Gross Weight (Kg)")</th>
                                <th class="text-center">@Html.DisplayName("SQM")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var data in Model.lstCartingRegisterDtl)
                                {
                                    <tr>
                                        <td class="text-center">@data.CartingRegisterNo</td>
                                        <td>@data.RegisterDate</td>
                                        <td>@data.ShippingBillNo</td>
                                        <td>@data.ShippingBillDate</td>
                                        <td>@data.ActualQty</td>
                                        <td>@data.ActualWeight</td>
                                        <td>@data.SQM</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Approve:</label>
                    </div>
                    <div class="col-md-2-5">
                        <div class="boolean-container">
                            <input type="checkbox" id="IsApproved" disabled="disabled" />
                            <label for="IsApproved"><i class="square"></i></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_bottom">
                <div class="col-md-offset-5 col-md-2">
                    <input type="button" class="btn log_Btn_sm" value="Back" onclick="$('#DivBody').load('/Export/Loni_CWCExport/CargoShiftingApproval')" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#IsApproved').prop("checked",'@Convert.ToBoolean(Model.IsApproved)');
    });
</script>