@model CwcExim.Areas.Export.Models.CartingApplication
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Carting Application</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.Label("Type Of Work", new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.Label("Carting", new { @class = "InputLabel" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                           <label>Application No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input_sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.ApplicationDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input_sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control input_sm", @readonly = true,@style="width:100%;height:100px;" })
                        </div>
                    </div>
                </div>
                <div id="DivShipping" style="display:none;" class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Application Details</h5>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                @Html.Label("Shipping Bill No:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                @Html.Label("Shipping Bill Date:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBox("ShippingBillDate", Model.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("Comm Inv No:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CommInvNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                @Html.Label("Packing List No:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("PackingListNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("Exporter:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("Exporter","",new {@class="form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("Cargo Description:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextArea("CargoDescription", "", new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("Commodity:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("Commodity","",new {@class="form-control input-sm" , @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("Cargo Type:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CargoType","", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                @Html.Label("Marks & No:",new { @class="InputLabel"})
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("MarksAndNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("No of Units:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                @Html.Label("Weight (Kg):")
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Weight", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.Label("FOB Value:", new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("FobValue", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table id="tblShippingDet" class="table table-striped table-bordered dataTable" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">SL No</th>
                                    <th>Shipping Bill No</th>
                                    <th style="width:15%;">Shipping Bill Date</th>
                                    <th>Exporter</th>
                                    <th>No of Units</th>
                                    <th class="text-center" style="width:10%;">View</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2  SignUp_space_bottom">
                        <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="LoadCartingApp()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ArrayDet=[];
    $(function(){
        ArrayDet=@Html.Raw(Json.Encode(Model.lstShipping));
        var html='';
        $.each(ArrayDet,function(i,data)
        {
            html+='<tr><td class="text-center">'+(i+1)+'</td><td>'+data.ShippingBillNo+'</td><td>'+data.ShippingDate+'</td><td>'+data.Exporter+'</td><td>'+data.NoOfUnits+'</td><td class="text-center"><a href="#" onclick="ShowRecord('+i+')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        $('#tblShippingDet tbody').html(html);
    });
    function LoadCartingApp() 
    {
        $('#DivBody').load( '/Export/Loni_CWCExport/CreateCartingApplication');
    }
    function ShowRecord(k)
    {
        $('#ShippingBillNo').val(ArrayDet[k].ShippingBillNo);
        $('#ShippingBillDate').val(ArrayDet[k].ShippingDate);
        $('#CommInvNo').val(ArrayDet[k].CommInvcNo);
        $('#PackingListNo').val(ArrayDet[k].PackingListNo);
        $('#Exporter').val(ArrayDet[k].Exporter);
        $('#CargoDescription').val(ArrayDet[k].CargoDescription);
        $('#Commodity').val(ArrayDet[k].CommodityName);
        $('#MarksAndNo').val(ArrayDet[k].MarksAndNo);
        $('#NoOfUnits').val(ArrayDet[k].NoOfUnits);
        $('#Weight').val(ArrayDet[k].Weight);
        $('#FobValue').val(ArrayDet[k].FoBValue);
        if(ArrayDet[k].CargoType==1) $('#CargoType').val('HAZ');
        else $('#CargoType').val('Non HAZ');
        $('#DivShipping').css("display","block");
    }
</script>
