@model CwcExim.Areas.Export.Models.BTTCargoEntry

    <div class="Head_h4">
        <div class="row">
            <div class="col-md-12">
                <h4>Back To Town Cargo Entry</h4>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2" style="padding-right:0px;">
                    @Html.HiddenFor(m => m.BTTId)
                    <label>BTT No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.BTTNo, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>BTT Date:</label>
                </div>
                <div class="col-md-2 col_cus_2_5 Date_Img">
                    @Html.TextBoxFor(m => m.BTTDate, new { @class = "form-control input_sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.BTTDate, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Carting No.:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.HiddenFor(m => m.CartingId)
                    @Html.TextBoxFor(m => m.CartingNo, new { @class = "form-control input_sm", @readonly = true })
                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CartingNoModal"></i></span>
                    @Html.ValidationMessageFor(m => m.CartingNo, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                    <label>Carting Date:</label>
                </div>
                <div class="col-md-2 col_cus_2_5">
                    @Html.TextBoxFor(m => m.CartingDate, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>CHA:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.HiddenFor(m => m.CHAId)
                    @Html.TextBoxFor(m => m.CHAName, new { @class = "form-contro input-sm", @readonly = true })
                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                    @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top Form_Space_bottom">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>File No.</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input_sm", @style = "width:100%;height:100px;" })
                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div id="DivShipping" class="Head_h5 Form_Space_top">
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        @Html.Label("Shipping Bill No:", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-2-5">
                        @Html.Hidden("BTTDetailId", "0")
                        @Html.Hidden("ShippingId", "0")
                        @Html.TextBox("txtShippingBillNo", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", onkeypress = "return ValidateData(event)", maxlength = "30", @readonly = true })
                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingModal"></i></span>
                        <span id="ErrShippingBillNo"></span>
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                        @Html.Label("Shipping Bill Date:", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtShippingBillDate", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        @Html.Label("Cargo Description:", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextArea("txtCargoDescription", "", new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @readonly = true })

                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        @Html.Label("Commodity:", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.Hidden("CommodityId", "0")
                        @Html.TextBox("txtCommodity", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        @Html.Label("No of Units:", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtNoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                        @Html.Label("Gross Weight (Kg):", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtGrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        @Html.Label("BTT Qty:", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtBTTQty", "", new { @class = "form-control input-sm" })
                        <span id="ErrBttQty"></span>
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                        @Html.Label("BTT Weight (Kg):", new { @class = "InputLabel" })
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtBTTWeight", "", new { @class = "form-control input-sm" })
                        <span id="ErrBTTWeight"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
            </div>
            <div class="row SignUp_space_bottom2">
                <div class="col-md-2 col-md-offset-5">
                    <input type="button" id="btnResetCargoDet" class="btn log_Btn_sm" value="Reset" onclick="ResetBTTCargoEntryDet()" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="divBTTDet"></div>
                </div>
            </div>
        </div>
        <div>
            @Html.HiddenFor(m => m.BTTCargoEntryDtlJS)
            @Html.ValidationMessageFor(m => m.BTTCargoEntryDtlJS)
        </div>
        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>
        <div class="row SignUp_space_bottom2">
            <div class="col-md-2 col-md-offset-5">
                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="ResetAllFields()" />
            </div>
        </div>
        <div class="logSuccMsg Form_Space_bottom" id="DivBBTTCargoMsg" style="background-color:transparent"></div>
    </div>              
@Scripts.Render("~/bundles/jqueryval")
<script>
    var TimeInSeconds;
    var ArrayOfCargoEntryDetails = [];

    function GenerateTable1() {
        var tablehtml = '<table id="tblBTTDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Shipping Bill No</th><th>Shipping Bill Date</th>'
            + '<th>No of Units</th><th>Weight</th><th style="width:10%;text-align:center;">View</th></tr></thead><tbody>';
        $.each(ArrayOfCargoEntryDetails, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ShippingBillNo + '</td>'
                + '<td>' + data.ShippingBillDate + '</td><td>' + data.NoOfUnits + '</td><td>' + data.GrossWeight + '</td>'
                + '<td style="text-align:center;"><a href="#" onclick="ViewBTTCargoEntryDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#divBTTDet').html(tablehtml);

        if (ArrayOfCargoEntryDetails.length > 0) {
            $('#BTTCargoEntryDtlJS').val(JSON.stringify(ArrayOfCargoEntryDetails));
        }
        else {
            $('#BTTCargoEntryDtlJS').val('');
        }
    }
    $(document).ready(function () {

        ArrayOfCargoEntryDetails = $.parseJSON($('#BTTCargoEntryDtlJS').val());
        GenerateTable1();
        TimeInSeconds = 5000;
        $("#BTTDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
    });
    
</script>
<script>
    function ResetBTTCargoEntryDet() {
        $('#BTTDetailId, #ShippingId, #CommodityId').val('0');
        $('#txtShippingBillNo, #txtShippingBillDate, #txtCargoDescription, #txtCommodity, #txtNoOfUnits, #txtGrossWeight, #txtBTTQty, #txtBTTWeight').val('');
        EditIndex = -1;
    }
    function ViewBTTCargoEntryDet(i) {
        $('#BTTDetailId').val(ArrayOfCargoEntryDetails[i].BTTDetailId);
        $('#ShippingId').val(ArrayOfCargoEntryDetails[i].CartingDetailId);
        $('#txtShippingBillNo').val(ArrayOfCargoEntryDetails[i].ShippingBillNo);
        $('#txtShippingBillDate').val(ArrayOfCargoEntryDetails[i].ShippingBillDate);
        $('#txtCargoDescription').val(ArrayOfCargoEntryDetails[i].CargoDescription);
        $('#CommodityId').val(ArrayOfCargoEntryDetails[i].CommodityId);
        $('#txtCommodity').val(ArrayOfCargoEntryDetails[i].CommodityName);
        $('#txtNoOfUnits').val(ArrayOfCargoEntryDetails[i].NoOfUnits);
        $('#txtGrossWeight').val(ArrayOfCargoEntryDetails[i].GrossWeight);
        $('#txtBTTQty').val(ArrayOfCargoEntryDetails[i].BTTQuantity);
        $('#txtBTTWeight').val(ArrayOfCargoEntryDetails[i].BTTWeight);

        $('#btnAddWorkOrderDet').prop("disabled", true);
    }
    function ResetAllFields() {
        GetBTTCargoEntry();
    }
</script>

