@model CwcExim.Areas.GateOperation.Models.Dnd_GatePass
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Gate Pass</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddEditGatePass", "Dnd_GatePass", new AjaxOptions
                {
                    Confirm = "Are you sure you want to save?",
                    HttpMethod = "POST",
                    OnSuccess = "GatePassOnSuccess",
                    OnFailure = "GatePassOnFailure",
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.StringifyData)
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Gate Pass No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GatePassNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                <label>Gate Pass Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.GatePassDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.InvoiceId)
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                @Html.ValidationMessageFor(m => m.InvoiceNo)
                            </div>
                            <div class="col-md-2 col-md-offset-6">
                                <div class="boolean-container" style="text-align: right;">
                                    @Html.CheckBoxFor(m => m.Risk)
                                    <label for="Risk" style="font-weight:normal; text-align: right;"><span style="margin: 0 5px 0 0;">On H&T Risk</span><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Driver Name:</label>
                            </div>
                            <div class="col-md-3 col_cus_6">
                                @Html.TextBoxFor(m => m.DriverName)
                            </div>

                            <div class="col-md-1-5 col_cus_2 col-md-offset-3-5">
                                <label>Contact No:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2">
                                @Html.TextBoxFor(m => m.ContactNo, new { onkeypress = "return AllowOnlyInteger(event)", @maxlength = "10" })
                                @* @Html.ValidationMessageFor(m => m.ContactNo)*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Importer / Exporter Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ImpExpName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Shipping Line Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    /* <div class="row Form_Space_top Form_Space_bottom">
                         <div class="form-group Form_Input">
                             <div class="col-md-1-5 col_cus_2 padding_rt">
                                 <label>Port:</label>
                             </div>
                             <div class="col-md-10-5">
                                 @Html.HiddenFor(m => m.PortId)
                                 @Html.TextBoxFor(m => m.PortName, new { @readonly = true })
                                 <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PortModal"></i></span>
                                 @Html.ValidationMessageFor(m => m.PortName)
                             </div>
                         </div>
                     </div>*/


                                <div id="DivDestuffingDet" class="Head_h5">
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Container/BL/SB No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5">
                                                <label>Size:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Size", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5">
                                                <div class="boolean-container">
                                                    @Html.CheckBox("Reefer", false, new { @disabled = true })
                                                    <label><i class="square"></i><span>Reefer</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Custom Seal:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_4">
                                                @Html.TextBox("CustomSeal", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Shipping Seal:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_4">
                                                @Html.TextBox("ShippingSeal", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>                                         
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Via:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_4">
                                                @Html.TextBox("Via", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Vessel:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_4">
                                                @Html.TextBox("Vessel", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Port:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_4">
                                                @Html.TextBox("Port", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Cargo Description:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.TextArea("CargoDescription", "", new { @style = "width:100%;height:100px;", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Cargo Type:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.DropDownList("CargoType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="HAZ",Value="1"},
                                            new SelectListItem { Text="Non HAZ",Value="2"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                            </div>
                                            <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                                <label>Vehicle No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBox("VehicleNo", "", new { @class = "form-control input-sm" })
                                                @Html.ValidationMessage("VehicleNo", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>No of Packages:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("NoOfPackages", "", new { @readonly = true })
                                            </div>
                                            <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                                <label>Weight:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Weight", "", new { @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Location:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Location", "")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row SignUp_space_bottom">
                                        <div class="col-md-offset-4 col-md-2">
                                            <input type="button" id="btnAdd" class="btn log_Btn_sm" value="Add" onclick="AddContainer()" />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" id="btnDtlReset" class="btn log_Btn_sm" value="Reset" onclick="ResetDtlDetails()" />
                                        </div>
                                    </div>
                                    @Html.Hidden("Index")
                                    <div class="row">
                                        <div class="col-md-12" id="DivContDet">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                </div>
                                <div class="row SignUp_space_bottom">
                                    <div class="col-md-offset-4 col-md-2">
                                        <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetDetails()" />
                                    </div>
                                </div>
                                <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                                <div class="logErrMsg" id="DivErrMsg" style="background-color:transparent"></div>
                }

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-5 col-md-4" style="text-align:right;">
                            <label>GP No/GP Date/Invoice No/Container No/ Vehicle No:</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBox("GPSearch", "", new { placeholder = "Search Here" })
                            @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                            <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="SearchGatePass()"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivGPList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="InvoiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Invoice No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="InvoiceNobox" type="text" />
                <ul class="navList" id="lstInvoice">
                    @{
                        if (ViewBag.InvoiceNoList != null)
                        {
                            foreach (var item in ViewBag.InvoiceNoList)
                            {
                                <li id="@item.Value" onclick="SelectInvoice(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PortModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Port Name.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Portbox" type="text" />
                <ul class="navList" id="lstPort">
                    @{
                        if (ViewBag.PortNameList != null)
                        {
                            foreach (var item in ViewBag.PortNameList)
                            {
                                <li id="@item.Value" onclick="SelectPort(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    var ContainerDetails = [];
    $(document).ready(function () {

        LoadGPList();
    });
    $('#GatePassDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    function LoadGPList() {
        $('#DivGPList').load('/GateOperation/Dnd_GatePass/ListOfGatePass');
    }
    function GatePassOnSuccess(data) {
        if (data.Status == 1) {
            $('#DivSucMsg').html(data.Message);
            setTimeout(function () { $('#DivBody').load('/GateOperation/Dnd_GatePass/CreateGatePass'); }, 5000);
        }
        else {
            $('#DivErrMsg').html(data.Message);
            setTimeout(function () { $('#DivSucMsg').html(''); }, 5000);
        }
    }
    function impJOOnFailure() { }
    $('#Portbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPort > li').show();
        else {
            $('#lstPort > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function SelectPort(elem) {
        $('#PortId').val(elem.id);
        $('#PortName').val(elem.innerHTML);
        $("#PortModal").modal("hide");
    }
    $('#InvoiceNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoice > li').show();
        else {
            $('#lstInvoice > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function SelectInvoice(elem) {
        debugger;
        $('#InvoiceId').val(elem.id);
        $('#InvoiceNo').val(elem.innerHTML);
        $("#InvoiceModal").modal("hide");
        GetDetailsAgainstInvoiceId(elem.id);
    }
    function GetDetailsAgainstInvoiceId(InvoiceId) {
        $.ajax({
            url: '/GateOperation/Dnd_GatePass/GetDetAgainstInvoice',
            type: 'GET',
            data: { InvoiceId: InvoiceId },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                $('#DivContDet').html('');
                if (data.Data != null && data.Data != undefined) {
                    $('#CHAName').val(data.Data.CHAName);
                    $('#ImpExpName').val(data.Data.ImpExpName);
                    $('#ShippingLineName').val(data.Data.ShippingLineName);
                    ContainerDetails = data.Data.lstContainerDet;
                    GenerateTable();
                }
            }
        });
    }
    function GenerateTable() {
        debugger;
        var html = '';
        html = '<table class="table table-bordered table-striped dataTable" id="tblContainer"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container/BL/SB No</th><th>Container Size</th><th>Reefer</th><th>Vehicle No</th><th class="text-center" style="width:10%;">Edit</th></tr></thead><tbody>';
        $.each(ContainerDetails, function (i, elem) {
            html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td>' + (elem.IsReefer == true ? 'Reefer' : 'Non Reefer') + '</td><td>' + elem.VehicleNo + '</td><td class="text-center" style="width:10%;"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivContDet').html(html);
    }
    $('#btnSave').on("click", function () {
        debugger;
        var flag = 0;
        $.each(ContainerDetails, function (i, item) {
            if (item.VehicleNo != '') {
                flag = 1;
            }
        });

        if (flag == 1) {
            if ($('#tblContainer tbody tr').length > 0)
                $('#StringifyData').val(JSON.stringify(ContainerDetails));
        }
        else {
            alert("Fill the Vehicle No");
            return false;
        }

    });
    function ResetDetails() {
        $('#DivContDet').html('');
        $('#Remarks,#InvoiceNo,#InvoiceId,#CHAName,#ImpExpName,#ShippingLineName,#PortId,#PortName').val('');
        ResetDtlDetails();
    }
    function EditContainerDet(i) {
        debugger;
        $('#ContainerNo,#Size,#CargoDescription,#NoOfPackages').val('');
        $('#IsReefer').prop('checked', false);
        $('#ContainerNo').val(ContainerDetails[i].ContainerNo);
        $('#Size').val(ContainerDetails[i].Size);
        $('#CargoDescription').val(ContainerDetails[i].CargoDescription);
        (ContainerDetails[i].CargoType > 0) ? $('#CargoType').val(ContainerDetails[i].CargoType) : $('#CargoType').val('');
        $('#Weight').val(ContainerDetails[i].Weight);
        $('#NoOfPackages').val(ContainerDetails[i].NoOfUnits);
        (ContainerDetails[i].IsReefer) ? $('#Reefer').prop('checked', true) : $('#Reefer').prop('checked', false);
        ContainerDetails[i].VehicleNo == '' ? '' : $('#VehicleNo').val(ContainerDetails[i].VehicleNo);
        ContainerDetails[i].Location == '' ? '' : $('#Location').val(ContainerDetails[i].Location);
        $('#CustomSeal').val(ContainerDetails[i].CustomSeal);
        $('#ShippingSeal').val(ContainerDetails[i].ShippingSeal);
        $('#Via').val(ContainerDetails[i].Via);
        $('#Vessel').val(ContainerDetails[i].Vessel);
        $('#Port').val(ContainerDetails[i].PortOfLoading);
        $('#Index').val(i);
    }
    function AddContainer() {
        debugger;

        var k = $('#Index').val();
        if (k != '') {
            if ($('#VehicleNo').val() == '') {
                alert("Fill the Vehicle No!!");
                return false;
            }
            ContainerDetails[k].VehicleNo = $('#VehicleNo').val();
            ContainerDetails[k].CargoType = ($('#CargoType').val() == '') ? 0 : $('#CargoType').val();
            ContainerDetails[k].Location = $('#Location').val();
            ContainerDetails[k].Via = $('#Via').val();
            ContainerDetails[k].Vessel = $('#Vessel').val();
            ContainerDetails[k].PortOfLoading = $('#Port').val();
            ContainerDetails[k].CustomSeal = $('#CustomSeal').val();
            ContainerDetails[k].ShippingSeal = $('#ShippingSeal').val();
            ResetDtlDetails();
            GenerateTable();
            $('#Index').val('');
        }
    }
    function ResetDtlDetails() {
        $('#ContainerNo,#Size,#CargoDescription,#CargoType,#VehicleNo,#Weight,#NoOfPackages,#Location,#Via,#Vessel,#Port,#CustomSeal,#ShippingSeal').val('');
        $('#Reefer').prop('checked', false);
        $('#Index').val('');
    }

    function SearchGatePass() {
        if ($('#GPSearch').val().trim() == "" || $('#GPSearch').val().trim() == null) {
            LoadGPList();
        }
        else {
            $('#DivGPList').load('/GateOperation/Dnd_GatePass/SearchGatePass?Value=' + $('#GPSearch').val().trim());

        }
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 15) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    var isdirect = 0;
    if ($('#Risk').prop("checked") == true) {
        isdirect = 1;
    }
</script>
