
<script>
    $(function () {
        CreateEntryFees();
        $("#EffectiveDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage:  "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    function CreateGroundRent()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivGroundRent').load('/Master/CHNMaster/CreateGroundRent');
    }
    function CreateStorageCharge() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivStorageCharge').load('/Master/CHNMaster/CreateStorageCharge');
    }
    function CreateWeighment()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivWeighment').load('/Master/CHNMaster/CreateWeighment');
    }
    function CreateEntryFees() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivEntryFees').load('/Master/CHNMaster/CreateEntryFees');
    }

    function CreateMiscellaneous() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivMiscellaneous').load('/Master/CHNMaster/CreateCHNCharges');
    }
    function CreateInsurance()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivInsurance').load('/Master/CHNMaster/CreateInsurance');
    }
    function CreateReefer()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivReefer').load('/Master/CHNMaster/CreateReefer');
    }
    function CreateTds()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivTds').load('/Master/CHNMaster/CreateTds');
    }
    function CreateFranchiseCharges() {
        debugger;
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivFranchiseCharges').load('/Master/WLJMaster/CreateFranchiseCharges');
    }
    function CreateFreight() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivFreight').load('/Master/CHNMaster/CreateRailFreight');
    }
    function CreateOth() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighments,#DivTds,#DivFranchiseCharges').html('');
        $('#DivOth').load('/Master/CHNMaster/CreateHTCharges');
    }
</script>
@*@{
            AjaxOptions options = new AjaxOptions();
            options.HttpMethod = "POST";
            options.Confirm = "Are You Sure You Want To Save?";
            options.OnSuccess = "CWCChargesOnSuccess";
            options.OnFailure = "CWCChargesOnFailure";
            options.InsertionMode = InsertionMode.InsertAfter;
        }
        @using (Ajax.BeginForm("AddEditCWCChargesDetail", "CWCCharges", options))
        {
            @Html.AntiForgeryToken()
            <div id="DivCreateCWCCharges" class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 ClearFix">
                        <div class="row Con_Heading SignUp_space_bottom">
                            <div class="col-md-12">
                                <h4>CWC Charges</h4>
                                <div class="Heading_Stoke" style="width:15%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group Form_Input">
                                <div class="col-md-offset-6 col-md-1-5" style="padding-right:0px">
                                    <small>@Html.LabelFor(m => m.EffectiveDate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend><small>Ground Rent</small></legend>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.GRContainerType1, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-4-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.GRContainerType1, new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Empty Container" }, new SelectListItem { Value = "2", Text = "Loaded Container" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.GRContainerType1, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-4-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.GRContainerType2, new List<SelectListItem> { new SelectListItem { Value = "1", Text = "HAZ" }, new SelectListItem { Value = "2", Text = "Non HAZ" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.GRContainerType2, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.DaysRangeFrom, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-4-5">
                                                <div class="col-md-12">
                                                    <div class="col-md-5">
                                                        <span class="ReQSimbol">*</span>
                                                        @Html.TextBoxFor(m => m.DaysRangeFrom, new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.DaysRangeFrom, "", new { @class = "Error_Msg" })
                                                    </div>
                                                    <div class="col-md-1">-</div>
                                                    <div class="col-md-5">
                                                        <span class="ReQSimbol">*</span>
                                                        @Html.TextBoxFor(m => m.DaysRangeTo, new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(m => m.DaysRangeTo, "", new { @class = "Error_Msg" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.GRReefer, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.CheckBoxFor(m => m.GRReefer, new { @class = "RegCheck" })
                                                @Html.ValidationMessageFor(m => m.GRReefer, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.RentAmount, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.RentAmount, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.RentAmount, "", new { @class = "Error_Msg" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.Size, new List<SelectListItem>{
                                            new SelectListItem { Value = "1", Text = "20" },
                                            new SelectListItem { Value = "2", Text = "40" },
                                            new SelectListItem { Text = "ODC", Value = "3" }
                                            }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-offset-2 col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.GROperationType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.GROperationType, new List<SelectListItem> {
                                            new SelectListItem { Value = "1", Text = "Import" },
                                            new SelectListItem { Value = "1", Text = "Export" }
                                            }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.GROperationType, "", new { @class = "Error_Msg" })

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend><small>Storage Charge(Godown)</small></legend>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.WarehouseType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.WarehouseType, new List<SelectListItem>{
                                            new SelectListItem { Value = "1", Text = "Import" },
                                            new SelectListItem { Value = "2", Text = "Export" },
                                            new SelectListItem { Value = "3", Text = "Bonded" },
                                            new SelectListItem { Value = "4", Text = "HAZ"},
                                            new SelectListItem { Value = "5", Text = "OCY"}
                                            }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.WarehouseType, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-offset-2 col-md-1-5">
                                                <small>@Html.LabelFor(m => m.ChargesType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.ChargesType, new List<SelectListItem> {
                                            new SelectListItem { Value = "1", Text = "SQM" },
                                            new SelectListItem { Value = "2", Text = "CM" },
                                            new SelectListItem { Value = "3", Text = "MT" }
                                            }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.ChargesType, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.SqMRate)<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.SqMRate, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.SqMRate, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-2"  style="padding:0px;">
                                                <small><label>/Sq Meter/Week</label></small>
                                            </div>
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.MPerDayRate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.MPerDayRate, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.MPerDayRate, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-2" style="padding:0px;">
                                                <small><label>/MT/Day</label></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.CuMRate)<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.CuMRate, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.CuMRate, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-2" style="padding:0px;">
                                                <small><label>/Cubic Meter/Week</label></small>
                                            </div>
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.SqMeterPerMonthRate)<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.SqMeterPerMonthRate, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.SqMeterPerMonthRate, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-2" style="padding:0px;">
                                                <small><label>Sq. Mtr/Month</label></small>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Weighment</legend>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.ContainerRate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-4-5">
                                                @Html.TextBoxFor(m => m.ContainerRate, new { @class = "from-contro input-sm" })
                                                @Html.ValidationMessageFor(m => m.ContainerRate, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.TruckRate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-4-5">
                                                @Html.TextBoxFor(m => m.TruckRate, new { @class = "from-contro input-sm" })
                                                @Html.ValidationMessageFor(m => m.TruckRate, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Miscellaneous</legend>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.Fumigation, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Fumigation, new { @class = "from-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.Fumigation, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.Washing, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Washing, new { @class = "from-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.Washing, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.Reworking, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Reworking, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.Reworking, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
    <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m=>m.Bagging,new { @class="InputLabel"})<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Bagging, new { @class="form-control input-sm"})
                                                @Html.ValidationMessageFor(m=>m.Bagging,"",new { @class="Error_Msg"})
                                            </div>
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.Palletizing, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Palletizing, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.Palletizing, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend><small>Entry Fees</small></legend>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.EFContainerType1, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-4-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.EFContainerType1, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Empty" }, new SelectListItem { Value = "1", Text = "Loaded" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.EFContainerType1, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-4-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.EFContainerType2, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "HAZ" }, new SelectListItem { Value = "1", Text = "Non HAZ" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.EFContainerType2, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5" style="padding-right:0px;">
                                                <small>@Html.LabelFor(m => m.EFOperationType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-4-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.DropDownListFor(m => m.EFOperationType, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Import" }, new SelectListItem { Value = "1", Text = "Export" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessageFor(m => m.EFOperationType, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.EFRate, new { @class = "InputLabel" })<span>:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.EFRate, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.EFRate, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-offset-2 col-md-1-5">
                                                <small>@Html.LabelFor(m => m.EFReefer, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.CheckBoxFor(m => m.EFReefer, new { @class = "RegCheck" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend><small>Insurance Charge</small></legend>
                                    <div class="row">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <small>@Html.LabelFor(m => m.InsCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                            </div>
                                            <div class="col-md-2-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.InsCharge, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.InsCharge, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stroke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" class="btn Log_Btn" value="Save" style="width:100%" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn Log_Btn" value="Reset" style="width:100%" onclick="CWCChargesReset()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" style="background-color:transparent">
                            <div id="DivCWCChargesMsg"></div>
                        </div>
                        <div class="logErrMsg" style="background-color:transparent" id="DivCWCChargesErrMsg">

                        </div>
                    </div>
                </div>
            </div>
        }
        @Scripts.Render("~/bundles/jqueryval")
        <div class="row">
            <div class="stroke SignUp_space_bottom"></div>
        </div>
        <div class="row col-md-offset-1 col-md-10">
            <div class="col-md-12 SignUp_space_bottom">
                <div id="DivCWCChargesList"></div>
            </div>
        </div>*@

<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            <div class="panel with-nav-tabs panel-primary cwc_panel">
                <div class="panel-heading cwc_panel_heading">
                    <ul class="nav nav-tabs" id="DivTabs">
                        <li class="active"><a href="#DivEntryFees" onclick="CreateEntryFees()" data-toggle="tab">Entry Fees</a></li>
                        <li><a href="#DivGroundRent" onclick="CreateGroundRent()" data-toggle="tab">Ground Rent</a></li>
                        <li><a href="#DivReefer" onclick="CreateReefer()" data-toggle="tab">Reefer</a></li>
                        <li><a href="#DivStorageCharge" onclick="CreateStorageCharge()" data-toggle="tab">Storage Charge(Godown)</a></li>
                        <li><a href="#DivInsurance" onclick="CreateInsurance()" data-toggle="tab">Insurance Charge</a></li>
                        <li><a href="#DivMiscellaneous" onclick="CreateMiscellaneous()" data-toggle="tab">Miscellaneous</a></li>
                        <li><a href="#DivWeighment" onclick="CreateWeighment()" data-toggle="tab">Weighment</a></li>
                        <li><a href="#DivTds" onclick="CreateTds()" data-toggle="tab">TDS</a></li>
                        <li><a href="#DivFranchiseCharges" onclick="CreateFranchiseCharges()" data-toggle="tab">Franchiese Charge</a></li>
                        @*<li><a href="#DivFreight" onclick="CreateFreight()" data-toggle="tab">Rail Freight</a></li>
                            <li><a href="#DivOth" onclick="CreateOth()" data-toggle="tab">Others</a></li>*@
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="DivEntryFees"></div>
                        <div class="tab-pane fade" id="DivGroundRent"></div>
                        <div class="tab-pane fade" id="DivReefer"></div>
                        <div class="tab-pane fade" id="DivStorageCharge"></div>
                        <div class="tab-pane fade" id="DivInsurance"></div>
                        <div class="tab-pane fade" id="DivMiscellaneous"></div>
                        <div class="tab-pane fade" id="DivWeighment"></div>
                        <div class="tab-pane fade" id="DivTds"></div>
                        <div class="tab-pane fade" id="DivFranchiseCharges"></div>
                        @*<div class="tab-pane fade" id="DivFreight"></div>
                            <div class="tab-pane fade" id="DivOth"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(function () {

        });
</script>
