

@model IEnumerable<CwcExim.Areas.CashManagement.Models.Dnd_HoldRelease>
<table class="table table-bordered table-striped" id="tblPartyWiseTDSDeposit" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Cargo/Container Type</th>
            <th>Cargo Type</th>
            <th>Status Type</th>
            <th>Container/OBL/Cargo No</th>
            <th>Date</th>
            <th>CFS Code</th>
            @*<th class="text-center">@Html.DisplayName("Edit")</th>*@
            @* <th class="text-center">@Html.DisplayName("Delete")</th>*@
            @*<th class="text-center">@Html.DisplayName("Print")</th>*@
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.DeliveryType</td>
                    <td>@item.CargoType</td>
                    <td>@item.StatusType</td>
                    <td>@item.No</td>
                    <td>@item.Date</td>
                    <td>@item.CFSCode</td>
                    @* <td class="text-center"><a href="#" onclick="EditDisHonouredCheque(@item.DishonuredId)"><i class="fa fa-pencil-square Edit disabled" disabled></i></a></td>*@
                    @* <td class="text-center"><a href="#" onclick="DeletePartyWiseTDSDeposit(@item.Id,@item.Amount,@item.TDSBalance)"><i class="fa fa-window-close-o Delete" disabled></i></a></td>*@
                    @* <td class="text-center"><a href="#" onclick="PrintPartyWiseTDSDeposit('@item.AutoDisHonourRcptNo')"><i class="fa fa-file-pdf-o Edit" disabled></i></a></td>*@
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblPartyWiseTDSDeposit = $('#tblPartyWiseTDSDeposit').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [ 
                           { "sName": "SL No","width": "10%" },
                           { "sName": "Cargo/Container Type", "width": "10%" },
                           { "sName": "Cargo Type" },
                           { "sName": "Status Type", "bSortable": false },
                           { "sName": "Container/OBL/Cargo No", "bSortable": false },
                           { "sName": "Date", "bSortable": false },
                           { "sName": "CFS Code", "bSortable": false },

            ]
        });
        new $.fn.dataTable.FixedHeader(tblPartyWiseTDSDeposit);
    });
    </script>
  

