@model IEnumerable<CwcExim.Areas.CashManagement.Models.ListOfCRNote>
<table id="tblCartingList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.CRNoteNo)</th>
            <th>@Html.DisplayNameFor(m => m.CRNoteDate)</th>
            <th>@Html.DisplayNameFor(m => m.InvoiceNo)</th>
            <th>@Html.DisplayNameFor(m => m.InvoiceDate)</th>
            <th>@Html.DisplayNameFor(m => m.PartyName)</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@data.CRNoteNo</td>
                    <td>@data.CRNoteDate</td>
                    <td>@data.InvoiceNo</td>
                    <td>@data.InvoiceDate</td>
                    <td>@data.PartyName</td>
                    <td class="text-center"><a href="#" onclick="PreviewCRnote(@data.CRNoteId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblCartingList = $('#tblCartingList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No" },
                       { "sName": "CRNoteNo", "bSortable": false },
                       { "sName": "CRNoteDate", "bSortable": false },
                       { "sName": "InvoiceNo", "bSortable": false, },
                       { "sName": "InvoiceDate", "bSortable": false, },
                       { "sName": "PartyName" },
                       { "sName": "Preview", "bSortable": false, "width": "10%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblCartingList);
    });
    function PreviewCRnote(CRNoteId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/CashManagement/Dnd_CashManagement/PrintCRNote',
            type: 'POST',
            data: { CRNoteId: CRNoteId ,Note:"C"},
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1)
                {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                }
                else
                {
                    alert(data.Message);
                }
            }
        });
    }

</script>
