@model CwcExim.Areas.Import.Models.DSR_OblEntry
<script src="~/Areas/Import/Scripts/App/Services/DSR_OBLEntryService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/DSR_OBLEntryCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('OBLEntryAppDiv'), ['CWCApp']);
    $(function () {
        $("#CONTCBT").prop('disabled', true);
    });
</script>
<style>
    .ang_srch {
        top: 16%;
        right: 6px;
        height: 21px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    #DivFormOneDet {
        height: 584px;
        overflow-x: hidden;
    }

    .slimScrollDiv {
        height: 300px;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleImp.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #ObltbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<style>
    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="OBLEntryAppDiv" ng-controller="DSR_OBLEntryCtrl">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL Entry</h4>
                    </div>
                </div>
                @*@using (Ajax.BeginForm("AddEditOBLEntry", "DSR_OblEntry", new AjaxOptions
                    {
                    Confirm = "Are you sure you want to save?",
                    HttpMethod = "POST",
                    OnSuccess = "JobOrderOnSuccess",
                    OnFailure = "JobOrderOnFailure"
                    }))*@
                @{
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.StringifiedText)
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.IsAlreadyUsed)
                    if (ViewBag.ListOfContainerNo != null)
                    {
                        <input type="hidden" id="hdnListOfContainerNo" value="@ViewBag.ListOfContainerNo" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnListOfContainerNo" value="" />
                    }
                    <div id="DivJOHdr" class="Form_Space_bottom">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Container / CBT:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownListFor(m => m.CONTCBT, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text="CBT",Value="CBT"},
                                    new SelectListItem { Text="Container",Value="CONT"},
                                    }, "----Select----",htmlAttributes: new { @disabled = true })
                                </div>
                                @*<div class="col-md-2-5">
                                        @Html.DropDownListFor(m => m.CONTCBT, new List<SelectListItem>
                                            {
                                            new SelectListItem { Text="Container",Value="CONT"},
                                            new SelectListItem { Text="CBT",Value="CBT"},
                                            }, "----Select----", new { @class = "form-control input-sm", @onchange = "OnTypeChange()" })
                                    </div>*@

                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container / CBT No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.CFSCode)
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input_sm",@readonly=true })
                                    <span class="search" id="ContainerNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerNoModal"></i></span>
                                </div>
                                @*<div class="col-md-offset-0-5 col-md-2-5">
                                    <input type="button" id="btnShowDetails" class="btn log_Btn_sm" value="Show Details" onclick="ShowDetails()" />
                                </div>*@
                                <div class="col-md-offset-4 col-md-1-5 col_cus_2 padding_rt">
                                    <label>Container / CBT Size:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text="20",Value="20"},
                                    new SelectListItem { Text="40",Value="40"},
                                    }, "----Select----",new { @disabled = true })
                                    @Html.ValidationMessageFor(m => m.ContainerSize, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>IGM No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.IGM_No, new { @class = "form-control input_sm", @readonly = true })
                                    @*@Html.ValidationMessageFor(m => m.IGM_No, "", new { @class = "Error_Msg" })*@
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>IGM Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.IGM_Date, new { @readonly = true })
                                   
                                    @*@Html.ValidationMessageFor(m => m.IGM_Date, "", new { @class = "Error_Msg" })*@
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>TP No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.TPNo, new { @class = "form-control input_sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.TPNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>TP Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.TPDate, new {@readonly = true })
                                    
                                    @Html.ValidationMessageFor(m => m.TPDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Movement Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownListFor(m => m.MovementType, new List<SelectListItem>
                                    {
                                    new SelectListItem {Text="FCL",Value="FCL" },
                                    new SelectListItem {Text="LCL",Value="LCL" }
                                    }, "----Select----", new { @class = "form-control input_sm dropdown", @disabled = true })
                                    @Html.ValidationMessageFor(m => m.MovementType, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                    <label>Port:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.PortId)
                                    @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input_sm", @disabled = true })
                                    @Html.ValidationMessageFor(m => m.PortId, "", new { @class = "Error_Msg" })
                                    @Html.HiddenFor(m => m.SelectPortId)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">

                                    <label>Country:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.CountryId)
                                    @Html.TextBoxFor(m => m.CountryName, new { @class = "form-control input_sm", @disabled = true })
                                    
                                    @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                    @Html.HiddenFor(m => m.SelectCountryId)
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>No of Pkg:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.NoOfPackage, new { @class = "form-control input_sm", @readonly = true })

                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Gross WT(Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Vessel:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Vessel, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Voyage:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Voyage, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Foreign Line</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ForeignLine, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                    <label>Rotation</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Rotation, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div id="DivJobOrderDtl" class="Head_h5 Form_Space_top" ng-hide="true">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>OBL / HBL No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("OBL_No", "", new { @class = "form-control input_sm", @maxlength = 30 })
                                        @Html.ValidationMessage("OBL_No", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                        <label>OBL / HBL Date:</label>
                                    </div>
                                    <div class="col-md-2-5 Date_Img">
                                        @Html.TextBox("OBL_Date", new { @size = 10, @maxlength = 10, @onkeyup = "check()", @onblur = "checkdate()" })
                                        <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                        @Html.ValidationMessage("OBL_Date", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Line:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("LineNo", "", new { @class = "form-control input_sm", @maxlength = 30 })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                        <label>SMTP No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("SMTPNo", "", new { @class = "form-control input_sm", @maxlength = 30 })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                        <label>OBL / HBL Date:</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>No Of Package:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("NoOfPkg", "", new { @class = "form-control input_sm", @maxlength = 30 })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                        <label>Cargo Type:</label>
                                    </div>
                                    <div class="col-md-2-5 Date_Img">
                                        @Html.DropDownList("CargoType", new List<SelectListItem>
                                            {
                                            new SelectListItem {Text="HAZ",Value="1" },
                                            new SelectListItem {Text="NON-HAZ",Value="2" }
                                            }, "----Select----", new { @class = "form-control input_sm dropdown" })
                                            @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextArea("CargoDescription", "", new { @class = "form-control input_sm", @style = "width:100%;height:50px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Package type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("PkgType", "", new { @class = "form-control input_sm", @maxlength = 30 })
                                        @Html.ValidationMessage("PkgType", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                        <label>GR WT(Kg):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("GR_WT", "", new { @class = "form-control input_sm", @maxlength = 30 })
                                        @Html.ValidationMessage("GR_WT", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Importer Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <input type="hidden" id="ImporterId" value="0" />
                                        @Html.TextBox("ImporterName", "", new { @class = "form-control input_sm", @readonly = true })
                                        <span class="search" id="ImporterSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="row SignUp_space_bottom"></div>

                    <div class="Head_h4" id="DivOBL">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>OBL Details</h4>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>OBL / HBL No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("OBLHBL_No", "", new { @class = "form-control input-sm",@readonly="true" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>OBL / HBL Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBox("OBLHBL_Date", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>TSA No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("TSA_No", "", new { @class = "form-control input-sm",@readonly=true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>TSA Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBox("TSA_Date", "", new { @class = "form-control input-sm",@readonly=true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>SMTP No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("SMTP_No", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>SMTP Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBox("SMTP_Date", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextArea("Cargo_Des", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Commodity:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Commodity_Name", "", new { @class = "form-control input-sm", @readonly = "true" })
                                    <input type="hidden" id="Rno" value="" />
                                    <input type="hidden" id="Commodity_Id" value="0" />
                                    <input type="hidden" id="Commodity_Type" value="0" />
                                    <span class="search" id="CommoditySerach" ng-model="Commoditymodal" ng-click="onCommodityChange(0)"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>



                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("Cargo_Type", new List<SelectListItem>
                                   {
                                       new SelectListItem {Text="HAZ",Value="1" },
                                       new SelectListItem {Text="NON-HAZ",Value="2" }
                                   }, "----Select----", new { @class = "form-control input_sm dropdown", @disabled = true  })
                                </div>

                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>No. of PKG:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NO_PKG", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>PKG Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("PKG_Type", new List<SelectListItem>
                                   {

                                        new SelectListItem {Text="Pallet",Value="Pallet" },
                                        new SelectListItem {Text="Baggage",Value="Baggage" },
                                        new SelectListItem {Text="Boxes",Value="Boxes" },
                                        new SelectListItem {Text= "Jumbo Bag", Value= "Jumbo Bag" },
                                        new SelectListItem {Text= "Unit", Value= "Unit" },
                                        new SelectListItem {Text= "Pieces", Value= "Pieces" } ,
                                        new SelectListItem {Text= "Coils", Value= "Coils" },
                                        new SelectListItem {Text= "Sheets", Value= "Sheets" },
                                        new SelectListItem {Text= "Drums", Value= "Drums" },
                                        new SelectListItem {Text= "Loose", Value= "Loose" },
                                        new SelectListItem {Text= "Others", Value= "Others" }
                                        }, "----Select----", new { @class = "form-control input_sm dropdown", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>GR WT(Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GR_WT", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Area (CBM):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Area_CBM", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Importer Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBox("Importer_Name", "", new { @class = "form-control input-sm", @readonly = "true" })

                                    <input type="hidden" id="Importer_Id" value="0" />
                                    <span class="search" id="ImporterSerach" ng-model="Slmodal" ng-click="onImporterChange(0)"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBox("ShippingLine_Name", "", new { @class = "form-control input-sm", @readonly = "true" })

                                    <input type="hidden" id="ShippingLine" value="" />
                                    <input type="hidden" id="ShippingLine_Id" value="0" />
                                    <span class="search" id="OblShippingLineSerach" ng-model="Shiplmodal" ng-click="onShippingLineChange(0)"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLShippingLineModal"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CIF Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CIF_Value", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>CHA:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CHAName", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivFormOneDet" ng-hide="OblEntryDetails.length==0">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="7%">OBL</th>
                                            <th width="8%">OBL Date</th>
                                            @*<th width="4%" ng-show="false">Line No.</th>*@
                                            <th width="8%" ng-show="false">TSA.</th>
                                            <th width="8%" ng-show="false">TSA Date</th>
                                            <th width="8%" ng-show="false">SMTP.</th>
                                            <th width="8%" ng-show="false">SMTP Date</th>
                                            <th width="10%" ng-show="false">Cargo Desc</th>
                                            <th width="8%" ng-show="false">Commodity</th>
                                            <th width="10%">Cargo Type</th>
                                            <th width="5%">PKG</th>
                                            <th width="5%">PKG Type</th>
                                            <th width="5%">WT(Kg)</th>
                                            <th width="3%">Area</th>
                                            <th width="5%">CIF</th>
                                            <th>Importer</th>
                                            <th>Shipping Line</th>
                                            <th ng-show="false">IGM Importer</th>
                                            <th width="3%" class="text-center">Edit</th>
                                            <th width="3%" class="text-center">View</th>
                                            <th width="3%" class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in OblEntryDetails">
                                            <td>
                                                {{$index+1}}
                                                <input type="hidden" ng-model="j.icesContId" />
                                                <input type="hidden" ng-model="j.ID" />
                                                <input type="hidden" ng-model="j.AddID" />
                                            </td>
                                            <td width="7%"><input type="text" ng-model="j.OBL_No" ng-blur="onchangetext(j);" disabled /> </td>

                                            <td>
                                                <input type="text" ng-model="j.OBL_Date"  disabled/>
                                                @*<span class="field-validation-error" id="ErrddlValidType_date{{$index}}"></span>*@

                                            </td>

                                            <td width="4%" ng-show="false"><input type="text" ng-model="j.LineNo" readonly /></td>
                                            <td width="5%" ng-show="false"><input type="text" ng-model="j.TSANO" readonly /></td>
                                            <td style="position:relative;" ng-show="false">
                                                <input type="text" ng-model="j.TSA_Date" />
                                                @*<span class="field-validation-error" id="ErrddlValidType_TSA_Date{{$index}}"></span>*@

                                            </td>
                                            <td width="8%" ng-show="false"><input type="text" ng-model="j.SMTPNo" readonly /></td>
                                            <td ng-show="false">
                                                <input type="text" ng-model="j.SMTP_Date" name="date" readonly />
                                                @*<span class="field-validation-error" id="ErrddlValidType_SMTP_Date{{$index}}"></span>*@


                                            </td>
                                            <td width="10%" ng-show="false">
                                                <textarea class="col-xs-12" style="padding:3px; resize:none; height:25px;" ng-model="j.CargoDescription" cols="2" readonly></textarea>
                                            </td>
                                            <td style="position:relative;" ng-show="false">
                                                <input type="text" ng-model="j.CommodityName" disabled/>
                                                <input type="text" ng-hide="true" ng-model="j.CommodityId" />
                                                @*<span class="ang_srch" id="CommoditySerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.Commoditymodal" ng-click="onCommodityChange($index)" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                            </td>
                                            <td width="10%">
                                                <select ng-model="j.CargoType" required disabled>
                                                    <option value="0">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}}</option>
                                                </select>
                                            </td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.NoOfPkg" disabled />
                                            </td>
                                            <td width="10%">

                                                <select ng-model="j.PkgType" required disabled>
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in PkgTypeList">{{s.PkgType}}</option>
                                                </select>
                                            </td>



                                            <td width="5%"><input type="text" ng-model="j.GR_WT" disabled/></td>
                                            <td width="3%"><input type="text" id="cbm{{$index}}" value="0" ng-model="j.AreaCBM" disabled/></td>
                                            <td width="5%"><input type="text" ng-model="j.CIFValue" disabled /></td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ImporterName" disabled />
                                                <input type="text" ng-hide="true" ng-model="j.ImporterId" />
                                                @*<span class="ang_srch" id="ImporterSerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.Slmodal" ng-click="onImporterChange($index)" data-toggle="modal" data-target="#ImporterModal"></i></span>*@
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" disabled />
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
                                                @*<span class="ang_srch" id="OblShippingLineSerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.Shiplmodal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#OBLShippingLineModal"></i></span>*@
                                            </td>
                                            <td width="5%" ng-show="false">
                                                <input type="text" ng-model="j.IGM_IMPORTER" ng-disabled="true" />
                                            </td>
                                            @*<td width="3%" style="text-align:center;" ng-if="j.IsProcessed==1"></td>*@
                                            <td width="3%" style="text-align:center;">
                                                <input type="hidden" ng-model="j.IsProcessed" />
                                                <a href="javascript:void(0);"><i class="fa fa-pencil-square Edit"></i></a>
                                            </td>
                                            <td width="3%" style="text-align:center;">
                                                <a href="javascript:void(0);" ng-click="ViewData($index,j)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a>
                                            </td>
                                            <td width="3%" style="text-align:center;">
                                                <input type="hidden" ng-model="j.IsProcessed" />
                                                <a href="javascript:void(0);"><i class="fa fa-window-close-o Delete"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-12">
                            <div id="DivFormOneDet" ng-hide="OblEntryDetails.length==0">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="10%">OBL / HBL No</th>
                                            <th width="8%">OBL / HBL Date</th>
                                            <th width="4%" ng-show="false">Line No.</th>
                                            <th width="8%">TSA No.</th>
                                            <th width="8%">TSA Date</th>
                                            <th width="8%">SMTP No.</th>
                                            <th width="8%">SMTP Date</th>
                                            <th width="10%">Cargo Desc</th>
                                            <th width="8%">Commodity</th>
                                            <th width="10%">Cargo Type</th>
                                            <th width="5%">No. of PKG</th>
                                            <th width="5%">PKG Type</th>
                                            <th width="5%">GR WT(Kg)</th>
                                            <th width="3%">Area (CBM)</th>
                                            <th width="5%">CIF Value</th>
                                            <th>Importer Name</th>
                                            <th>Shipping Line</th>
                                            <th>IGM Importer Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in OblEntryDetails">
                                            <td>
                                                {{$index+1}}
                                                <input type="hidden" ng-model="j.icesContId" />
                                                <input type="hidden" ng-model="j.ID" />
                                                <input type="hidden" ng-model="j.AddID" />
                                            </td>
                                            <td width="10%"><input type="text" ng-model="j.OBL_No" readonly="readonly" /> </td>

                                            <td>
                                                <input type="text" id="date{{$index}}" ng-model="j.OBL_Date" name="date" placeholder="dd/mm/yyyy" readonly="readonly" />
                                                <span class="field-validation-error" id="ErrddlValidType_date{{$index}}"></span>

                                            </td>

                                            <td width="4%" ng-show="false"><input type="text" ng-model="j.LineNo" readonly="readonly" /></td>
                                            <td width="5%"><input type="text" ng-model="j.TSANo" readonly="readonly" /></td>
                                            <td style="position:relative;">
                                                <input type="text" id="TSA_Date{{$index}}" ng-model="j.TSA_Date" name="date" placeholder="dd/mm/yyyy" readonly="readonly" />
                                                <span class="field-validation-error" id="ErrddlValidType_TSA_Date{{$index}}"></span>

                                            </td>
                                            <td width="8%"><input type="text" ng-model="j.SMTPNo" readonly="readonly" /></td>
                                            <td>
                                                <input type="text" id="SMTP_Date{{$index}}" ng-model="j.SMTP_Date" name="date" placeholder="dd/mm/yyyy" readonly="readonly" />
                                                <span class="field-validation-error" id="ErrddlValidType_SMTP_Date{{$index}}"></span>


                                            </td>
                                            <td width="10%">
                                                <textarea class="col-xs-12" style="padding:3px; resize:none; height:25px;" ng-model="j.CargoDescription" cols="2" readonly="readonly"></textarea>
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.Commodity" id="Commodity_{{$index}}" ng-disabled="true"  readonly="readonly" />
                                                <input type="text" ng-hide="true" ng-model="j.CommodityId" readonly="readonly" />
                                            </td>
                                            <td width="10%">
                                                <select ng-model="j.CargoType"  disabled="disabled">
                                                    <option value="0">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}}</option>
                                                </select>
                                            </td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.NoOfPkg" readonly="readonly" />
                                            </td>
                                            <td width="10%">

                                                <select ng-model="j.PkgType" disabled="disabled">
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in PkgTypeList">{{s.PkgType}}</option>
                                                </select>
                                            </td>



                                            <td width="5%"><input type="text" ng-model="j.GR_WT"  readonly="readonly"/></td>
                                            <td width="3%"><input type="text" id="cbm{{$index}}" value="0" ng-model="j.AreaCBM" readonly="readonly" /></td>
                                            <td width="5%"><input type="text" ng-model="j.CIFValue"  readonly="readonly" /></td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ImporterName" id="ImporterName_{{$index}}" ng-disabled="true"readonly="readonly" />
                                                <input type="text" ng-hide="true" ng-model="j.ImporterId" readonly="readonly" />
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" readonly="readonly" />
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" readonly="readonly" />
                                            </td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.IGM_IMPORTER" ng-disabled="true" readonly="readonly" />
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
                    
                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="ResetAllField()" />
                        </div>
                    </div>
                    
                }
                
            </div>

        </div>
    </div>

    
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#Obl_slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });


    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });

    $("#ContainerSize").prop('disabled',true);

    
</script>


<script>
    var ArrayJODetails = [];
    $(function () {
        GenerateBlankTable();

        //$("#CargoType").change(function (e) {
        //    if ($("#CargoType").val()!=null || $("#CargoType").val()!=''|| $("#CargoType").val()!='----Select----') {
        //        $('[data-valmsg-for="CargoType"]').html('');
        //    }
        //    else {
        //        $('[data-valmsg-for="CargoType"]').html('Fill Out This Field');
        //    }

        //});



        // Decimal Number
       // $("#GR_WT").keydown(function (e) {
       //     if(e.keyCode==190 || e.keyCode==110){
       //         if($(this).val().indexOf('.')>=0){
       //             e.preventDefault();
       //         }
       //     }
       //     // Allow: backspace, delete, tab, escape, enter and .
       //     if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
       //         // Allow: Ctrl+A, Command+A
       //         (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
       //         // Allow: home, end, left, right, down, up
       //         (e.keyCode >= 35 && e.keyCode <= 40)) {
       //         // let it happen, don't do anything
       //         return;
       //     }
       //     // Ensure that it is a number or character
       //     if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
       //         e.preventDefault();
       //     }
       // });


       // // Integer Number
       // $("#NoOfPkg").keydown(function (e) {
       //     // Allow: backspace, delete, tab, escape, enter and .
       //     if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
       //         // Allow: Ctrl+A, Command+A
       //         (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
       //         // Allow: home, end, left, right, down, up
       //         (e.keyCode >= 35 && e.keyCode <= 40)) {
       //         // let it happen, don't do anything
       //         return;
       //     }
       //     // Ensure that it is a number or character
       //     if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
       //         e.preventDefault();
       //     }
       // });

       // // Text Box
       // $("#ContainerNo,#IGM_No,#TPNo,#OBL_No,#LineNo,#SMTPNo,#TSANo").keydown(function (e) {
       //     // Allow: backspace, delete, tab, escape, enter and .
       //     if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
       //         // Allow: Ctrl+A, Command+A
       //         (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
       //         // Allow: home, end, left, right, down, up
       //         (e.keyCode >= 35 && e.keyCode <= 40)) {
       //         // let it happen, don't do anything
       //         return;
       //     }
       //     // Ensure that it is a number or character
       //     if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
       //         e.preventDefault();
       //     }
       // });

       // // Text Box with space
       //// $("#CargoDescription,#PkgType").keydown(function (e) {
       // $("#CargoDescription").keydown(function (e) {
       //     // Allow: backspace, delete, tab, escape, enter and .
       //     if (e.keyCode == 32) {
       //         return true;
       //     }
       //     else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
       //         // Allow: Ctrl+A, Command+A
       //         (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
       //         // Allow: home, end, left, right, down, up
       //         (e.keyCode >= 35 && e.keyCode <= 40)) {
       //         // let it happen, don't do anything
       //         return;
       //     }
       //     // Ensure that it is a number or character
       //     if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
       //         e.preventDefault();
       //     }
       // });

        var SerializedData = @Html.Raw(Json.Encode(Model.StringifiedText));
        if(SerializedData!=null)
        {
            ArrayJODetails=$.parseJSON(SerializedData);
            //GenerateTable();
            //$('#tblJODet').show();
        }
        else {
            $('#tblJODet').hide();
        }

        // GetPortList();
        //  GetAllCountry();
        // LoadOblEntryList();

        if ($('#Id').val()>0) {
            
            $('#btnShowDetails').attr('disabled', true);
            $('#ContainerNo').attr('readonly', true);
            $('#ContainerSize').attr('readonly', true);
           // $('#IGM_No').attr('readonly', true);
            $('#ContainerNoSerach').css('display', 'none');
        }
        else {
           
           
        }

    });


    function SelectCommodity(CommodityId, Commodity,CommodityType) {
        angular.element(document.querySelector('[ng-controller="DSR_OBLEntryCtrl"]')).scope().
         SelectCommodity(CommodityId, Commodity,CommodityType);
    }

    function LoadMoreCommodity() {
        debugger;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Import/DSR_OblEntry/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
    }



    function SelectImporter(ImporterId, ImporterName) {

        angular.element(document.querySelector('[ng-controller="DSR_OBLEntryCtrl"]')).scope().
         SelectImporter(ImporterId, ImporterName);
    }

    function LoadMoreImporter() {

        $.ajax({
            url: '/Import/DSR_OblEntry/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        //html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName + '&quot;)"><td>' + elem.ImporterName + '</td></tr>';
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';

                    });
                    if (Page == -1)
                        $('#tbleImp tbody').html(html);
                    else
                        $('#tbleImp tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadImporter() {
        debugger;

        Page = 0;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleImp tbody').html(html);

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    function SearchImporterByPartyCode() {
        if ($('#Impbox').val() != '') {
            $.ajax({
                url: '/Import/DSR_OblEntry/SearchImporterByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Impbox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstImporter, function (item, elem) {
                            html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleImp tbody').html('');
                        $('#tbleImp tbody').html(html);
                        $('#LoadMoreImporter').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleImp tbody').html('');
                        Page = -1;
                        $('#LoadMoreImporter').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadImporter();
    }

    function CloseImporter() {
        $('#Impbox').val('');
        $("#ImporterModal").modal("hide");
        LoadImporter();
    }

    //----- Shipping Line --
    function OBLSelectShippingLine(ShippingLineId, ShippingLineName) {
        angular.element(document.querySelector('[ng-controller="DSR_OBLEntryCtrl"]')).scope().
         OBLSelectShippingLine(ShippingLineId, ShippingLineName);
    }


    function CloseShippingLine() {
        $('#OBLShpngLinebox').val('');
        $("#OBLShippingLineModal").modal("hide");
        LoadShippingLine();
    }

    var Page = 0;
    function LoadMoreShippingLine() {
        debugger;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + ',&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#ObltbleSline tbody').html(html);
                    else
                        $('#ObltbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnSlineLoadMore').prop('disabled', false);
                    else $('#btnSlineLoadMore').prop('disabled', true);
                }
            }
        });
    }
    function LoadShippingLine() {
        Page=0;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#ObltbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnSlineLoadMore').prop('disabled', false);
                    else $('#btnSlineLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function SearchByShippingLinePartyCode() {
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/DSR_OblEntry/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#ObltbleSline tbody').html('');
                        $('#ObltbleSline tbody').html(html);
                        $('#btnSlineLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#ObltbleSline tbody').html('');
                        Page = -1;
                        $('#btnSlineLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadShippingLine();
    }

    // ---- Shipping line end---


   

    



    //$(function() {
    //    $("#TSADatepicker").click(function() {

    //    });
    //});




    //function TSADatePicker(id)
    //{
    //    //alert('dd');
    //    debugger;
    //    var date = new Date();
    //    var currentMonth = date.getMonth();
    //    var currentDate = date.getDate();
    //    var currentYear = date.getFullYear();
    //    $('#TSA_Date'+'id').datepicker({
    //        dateFormat: "dd/mm/yy",
    //        showOn: "button",
    //        buttonImage: "/Content/images/calendar.png",
    //        buttonImageOnly: true,
    //        buttonText: "Select date",
    //        changeMonth: true,
    //        changeYear: true,
    //        showAnima: "fadein",
    //        onClose: function () {
    //        }
    //    });
    //}



    //$('#OBL_Date').datepicker({
    //    dateFormat: "dd/mm/yy",
    //    showOn: "button",
    //    buttonImage: "/Content/images/calendar.png",
    //    buttonImageOnly: true,
    //    buttonText: "Select date",
    //    changeMonth: true,
    //    changeYear: true,
    //    showAnima: "fadein",
    //    onClose: function () {
    //        $('[data-valmsg-for="OBL_Date"]').html('');
    //    }
    //});

    function ShowDetails(){

        if ($('#Id').val() > 0) {
            return false;
        }
        else if ($('#ContainerNo').val() == '' || $('#ContainerNo').val() == null) {
            alert("Please enter Container / CBT No.");
            return false;
        }
            //else if ($('#ContainerSize').val() == '' || $('#ContainerSize').val() == '----Select----' && $('#ContainerSize').val() == null) {
            //    alert("Please select Container Size.");
            //    return false;
            //}
            //else if ($('#IGM_No').val() == '' || $('#IGM_No').val() == null) {
            //    alert("Please enter IGM No.");
            //    return false;
            //}
            //else if ($('#IGM_Date').val() == '' || $('#IGM_Date').val() == null) {
            //    alert("Please select IGM Date.");
            //    return false;
            //}
        else {

            $.ajax({
                type: 'GET',
                url: '/Import/DSR_OblEntry/GetCFSCodeFromContainer',
                data: { ContainerNo: $('#ContainerNo').val(), ContainerSize: $('#ContainerSize').val(),CFSCode:$('#CFSCode').val() },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 0) {
                        $('#CFSCode').val('');
                        angular.element('#OBLEntryAppDiv').scope().GetOBLDetails();
                        angular.element('#OBLEntryAppDiv').scope().$apply();
                        //GetOBLDetails();
                    }
                    else if (data.Status == 1) {
                        $('#CFSCode').val(data.Data);
                        angular.element('#OBLEntryAppDiv').scope().GetOBLDetails();
                        angular.element('#OBLEntryAppDiv').scope().$apply();
                        //GetOBLDetails();
                    }
                    else if (data.Status == 2) {
                        $('#CFSCode').val('');
                        alert("This Container / CBT is alredy exists in OBL Entry.");
                        angular.element('#OBLEntryAppDiv').scope().OblEntryDetails.length=0;
                        //ArrayJODetails=[];
                        $('#tblJODet tbody').html('');
                        $('#tblJODet').hide();
                        return false;
                    }
                },
            });

        }


    }

    function CheckValue(id,value){
        debugger;
        alert(id);
        alert(value);
        var areaval=value;
        if(areaval==''||areaval==null){
            $('#AreaCBM').val(0);
        }

    }

    function isDecimalNumber(event) {
        let charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }



    function LoadOblEntryList() {
        $('#tblEntryDet').html('');
        $('#OblEntryList').load('/Import/DSR_OblEntry/ListOfOBLEntry');
    }
    //function LoadOblEntryList() {
    //    $('#OblEntryList').load('/Import/DSR_OblEntry/ListOfOBLEntry');
    //}
    $('#ContainerNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainerNo > li').show();
        else {
            $('#lstContainerNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    var ListOfContainerNo=[];
    $('#ContainerNoSerach').on("click", function () {
        debugger;
        $.ajax({
            url: "/Import/DSR_OblEntry/GetTContainerNoForOBLEntry",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfContainerNo=data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.ContainerNo + ' onclick="FillContainerBox(&quot;' + item.ContainerNo + '&quot;,&quot;' + item.Size + '&quot;,&quot;' + item.CFSCode + '&quot;,&quot;' + item.MovementType + '&quot;)">' + item.ContainerNo + '</li>';
                    });
                    $('#lstContainerNo').html(Html);
                }
            }

        });
    });

    function FillContainerBox(ContainerNo,Size,CFSCode,MovementType) {
        debugger;
        //var ContainerNo=ContainerNo.id==''?ContainerNo:ContainerNo.id;
        $('#ContainerNo').val(ContainerNo);
        $('#ContainerSize').val(Size);
        $('#CFSCode').val(CFSCode);
        $('#MovementType').val()
        $("#ContainerNoModal").modal("hide");
        GetContainerDet(ContainerNo);
    }

    function GetContainerDet(ContainerNo) {
        debugger;

        var resultAarray = $.grep(ListOfContainerNo, function (item) {
            return item.ContainerNo==$('#ContainerNo').val();
        });
        $('#MovementType').val(resultAarray[0].MovementType);

        $("#ContainerNoModal").modal("hide");
    }



    $('#PortBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPort > li').show();
        else {
            $('#lstPort > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#PortSearch').on("click", function () {
        debugger;
        $.ajax({
            url: "/Import/DSR_OblEntry/GetPortList",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.PortName + ' onclick="FillPortBox(&quot;' + item.PortName + '&quot;,' + item.PortId + ')">' + item.PortName + '</li>';
                    });
                    $('#lstPort').html(Html);
                    //}
                }
            }

        });
    });

    function FillPortBox(PortName,PortId) {
        debugger;
        //var PortName=PortName.id==''?PortName:PortName.id;
        $('#PortName').val(PortName);
        $('#PortId').val(PortId);
        $("#PortModal").modal("hide");
    }

    $('#CountryBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCountry > li').show();
        else {
            $('#lstCountry > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#CountrySearch').on("click", function () {
        debugger;
        $.ajax({
            url: "/Import/DSR_OblEntry/GetAllCountry",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id="' + item.CountryId + '" onclick="FillCountryBox(&quot;' + item.CountryName + '&quot;,' + item.CountryId + ')">' + item.CountryName + '</li>';
                    });
                    $('#lstCountry').html(Html);
                    //}
                }
            }

        });
    });

    function FillCountryBox(CountryName,CountryId) {
        debugger;
        //var CountryName=CountryName.id==''?CountryName:CountryName.id;
        $('#CountryName').val(CountryName);
        $('#CountryId').val(CountryId);
        $("#CountryModal").modal("hide");
    }

    var Page = 0;
    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + ',&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function LoadEximTrader() {
        Page=0;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function SearchByPartyCode() {
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/DSR_OblEntry/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    function SelectShippingLine(ShippingLineId, ShippingLineName) {
        $('#ShippingLineName').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        $("#ShippingLineModal").modal("hide");
        $('#ShpngLinebox').val('');
        LoadEximTrader();
    }

    function CloseEximTrader()
    {
        debugger;
        $('#ShpngLinebox').val('');
        $("#ShippingLineModal").modal("hide");
        LoadEximTrader();
    }

    $('#Importerbox').keyup(function () {

        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstImporter > li').show();
        } else {
            $('#lstImporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });


    //function JobOrderOnSuccess(data) {
    //    if (data.Status == 1 || data.Status == 2) {
    //        $('#DivSucMsg').html(data.Message);
    //        // LoadOblEntryList();
    //        ResetAllField();
    //    }
    //    else {
    //        $('#DivErrMsg').html(data.Message);
    //    }
    //    setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 5000);
    //}
    //function JobOrderOnFailure() { }

    //var isEditOpened=false;
    function LoadOblEntry() {
        $('#DivBody').load('/Import/DSR_OblEntry/OBLEntry');
    }
    //function ResetAllField() {
    //    ArrayJODetails = [];
    //    LoadOblEntry();
    //    $('#Id').val(0);
    //    $('#tblJODet').hide();
    //    $('#DivJOHdr input[type="text"]').val('');
    //    $('textarea').val('');
    //    $('#StringifiedText').val('');
    //    $('#MovementType').val('');
    //    $('#PortId').val('');
    //    $('#CountryId').val('');
    //    $('#btnReset').attr('disabled', false);
    //    //$('#IGM_No').attr('readonly', false);
    //    $('#ContainerNoSerach').css('display', 'block');

        

    //}
    function GenerateBlankTable() {
        debugger;
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>Container / CBT No</th><th>Container / CBT Size</th><th>IGM No</th><th>IGM Date</th><th>OBL/HBL Date</th><th class="text-center">View</th><th class="text-center">Edit</th><th class="text-center">Delete</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#tblEntryDet').html(tablehtml);
    }
    //function ResetJODet() {
    //    $('#OBL_No,#OBL_Date,#LineNo,#SMTPNo,#NoOfPkg,#CargoDescription,#PkgType,#GR_WT,#ImporterName').val('');
    //    $('#CargoType').val(0);
    //    $('#btnAddJO').attr('disabled', false);
    //    $('#btnResetJO').attr('disabled', false);
    //}

    //function AddJODet() {
    //    debugger;
    //    if (ValidateJODet()) {
    //        var JODetails = {
    //            OBLEntryId: 0,
    //            OBL_No: $('#OBL_No').val(),
    //            OBL_Date: $('#OBL_Date').val(),
    //            LineNo: $('#LineNo').val(),
    //            TSANo:$('#TSANo').val(),
    //            TSA_Date: $('#TSA_Date').val(),
    //            SMTPNo: $('#SMTPNo').val(),
    //            SMTP_Date: $('#SMTP_Date').val(),
    //            NoOfPkg: $('#NoOfPkg').val(),
    //            CargoType: $('#CargoType').val(),
    //            CargoDescription: $('#CargoDescription').val(),
    //            PkgType: $('#PkgType').val(),
    //            GR_WT: $('#GR_WT').val(),
    //            ImporterId: $('#ImporterId').val(),
    //            ShippingLineId: $('#ShippingLineId').val(),
    //            IGM_IMPORTER:$('#IGM_IMPORTER').val(),
    //            AreaCBM: $('#AreaCBM').val()==''? 0 : $('#AreaCBM').val(),
    //        };
    //        ArrayJODetails.push(JODetails);
    //        GenerateTable();
    //        ResetJODet();
    //        isEditOpened=false;
    //        $('#btnResetJO').attr('disabled', false);
    //        $('#DivTblContrErrMsg').html('');
    //    }
    //}
    //function ValidateJODet() {
    //    debugger;
    //    var Result = true;
    //    if ($('#OBL_No').val() == null || $('#OBL_No').val() == '') {
    //        $('[data-valmsg-for="OBL_No"]').html('<span>Fill Out This Field</span>');
    //        Result = false;
    //    }
    //    if ($('#OBL_Date').val() == null || $('#OBL_Date').val() == '') {
    //        $('[data-valmsg-for="OBL_Date"]').html('<span>Fill Out This Field</span>');
    //        Result = false;
    //    }
    //    if ($('#CargoType').val() == null  || $('#CargoType').val() == '' || $('#CargoType').val() == '----Select----') {
    //        $('[data-valmsg-for="CargoType"]').html('<span>Fill Out This Field</span>');
    //        Result = false;
    //    }
    //    if ($('#PkgType').val() == null || $('#PkgType').val() == ''|| $('#PkgType').val() == '----Select----') {
    //        $('[data-valmsg-for="PkgType"]').html('<span>Fill Out This Field</span>');
    //        Result = false;
    //    }
    //    if ($('#GR_WT').val() == null || $('#GR_WT').val() == '') {
    //        $('[data-valmsg-for="GR_WT"]').html('<span>Fill Out This Field</span>');
    //        Result = false;
    //    }

    //    return Result;
    //}

    //function EditJODet(i) {
    //    debugger;
    //    if (!isEditOpened)
    //    {
    //        debugger;
    //        $('#tblEntryDet').html('');
    //        $('#BtnCommodityLoad').hide();
    //        $('#BtnAddContainer').prop("disabled", false);
    //        $('#OBL_No').val(ArrayJODetails[i].OBL_No);
    //        $('#OBL_Date').val(ArrayJODetails[i].OBL_Date);
    //        $('#LineNo').val(ArrayJODetails[i].LineNo);
    //        $('#TSANo').val(ArrayJODetails[i].TSANo);
    //        $('#TSA_Date').val(ArrayJODetails[i].TSA_Date);
    //        $('#SMTPNo').val(ArrayJODetails[i].SMTPNo);
    //        $('#SMTP_Date').val(ArrayJODetails[i].SMTP_Date);
    //        $('#NoOfPkg').val(ArrayJODetails[i].NoOfPkg);
    //        $('#CargoType').val(ArrayJODetails[i].CargoType);
    //        $('#CargoDescription').val(ArrayJODetails[i].CargoDescription);
    //        $('#PkgType').val(ArrayJODetails[i].PkgType);
    //        $('#GR_WT').val(ArrayJODetails[i].GR_WT);
    //        $('#ImporterName').val(ArrayJODetails[i].ImporterName);
    //        $('#ShippingLineName').val(ArrayJODetails[i].ShippingLineName);
    //        $('#AreaCBM').val(ArrayJODetails[i].AreaCBM);
    //        $('#btnAddJO').attr('disabled', false);
    //        ArrayJODetails.splice(i, 1);
    //        GenerateTable();
    //        isEditOpened=true;
    //        $('#btnResetJO').attr('disabled', true);


    //    }
    //    else {
    //        $('#DivTblContrErrMsg').html('Please Add The Above Records');
    //    }
    //}
    //function ViewJODet(i) {
    //    debugger;
    //    if (!isEditOpened)
    //    {
    //        debugger;
    //        $('#OBL_No').val(ArrayJODetails[i].OBL_No);
    //        $('#OBL_Date').val(ArrayJODetails[i].OBL_Date);
    //        $('#LineNo').val(ArrayJODetails[i].LineNo);
    //        $('#TSANo').val(ArrayJODetails[i].TSANo);
    //        $('#TSA_Date').val(ArrayJODetails[i].TSA_Date);
    //        $('#SMTPNo').val(ArrayJODetails[i].SMTPNo);
    //        $('#SMTP_Date').val(ArrayJODetails[i].SMTP_Date);
    //        $('#NoOfPkg').val(ArrayJODetails[i].NoOfPkg);
    //        $('#CargoType').val(ArrayJODetails[i].CargoType);
    //        $('#CargoDescription').val(ArrayJODetails[i].CargoDescription);
    //        $('#PkgType').val(ArrayJODetails[i].PkgType);
    //        $('#GR_WT').val(ArrayJODetails[i].GR_WT);
    //        $('#ImporterName').val(ArrayJODetails[i].ImporterName);
    //        $('#ShippingLineName').val(ArrayJODetails[i].ShippingLineName);
    //        $('#AreaCBM').val(ArrayJODetails[i].AreaCBM);
    //        $('#btnAddJO').attr('disabled', true);
    //        $('#btnResetJO').attr('disabled', false);

    //    }
    //    else {
    //        $('#DivTblContrErrMsg').html('Please Add The Above Records');
    //    }
    //}

  //  function DecimalValidationGW(elem) {
  //      var State = true;
  //      var Value = $('#' + elem).val();
  //      if (!Value.match(/^[\d]{1,8}\.\d{0,2}$/) && !Value.match(/^[\d]{1,8}$/))
  //          State = false;
  //      return State;
  //  }

  //  function checkdate(id) {
  //      debugger;
  //          var result = moment($('#'+id).val(), "DD/MM/YYYY", true).isValid();
  //          if (!result) {
  //              $('#ErrddlValidType_'+id).html('Incorrect Date');
  //              //setTimeout(function () { $('#ErrddlValidType').html(''); }, 5000);
  //              $('#'+id).val('').focus();
  //          }
  //          else{
  //              $('#ErrddlValidType_'+id).html('');
  //              return true;
  //          }
  //  }
  //  function check(id) {
  //      debugger;
  //      //alert(elm);
  //      $('#'+id).val($('#'+id).val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
  //      $('#ErrddlValidType').html('');
  //      //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
  //  }
  //  function checks() {
  //      debugger;
  //      //alert(elm);
  //      $('#IGM_Date').val($('#IGM_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
  //      $('#DivMsges').html('');
  //      //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
  //  }
  //  function checkdates() {
  //      debugger;
  //      if(  $('#IGM_Date').val()!='')
  //      {
  //          var result = moment($('#IGM_Date').val(), "DD/MM/YYYY", true).isValid();
  //          if (!result) {
  //              $('#DivMsges').html('Incorrect Date');
  //              setTimeout(function () { $('#DivMsges').html(''); }, 5000);
  //              //  $('#IGM_Date').val('');
  //              $('#IGM_Date').val('').focus();
  //          }
  //      }
  //  }
  //  function checkdat() {
  //      debugger;
  //      if(  $('#TPDate').val()!='')
  //          {
  //          var result = moment($('#TPDate').val(), "DD/MM/YYYY", true).isValid();
  //      if (!result) {
  //          $('#DivMs').html('Incorrect Date');
  //          setTimeout(function () { $('#DivMs').html(''); }, 5000);
  //          $('#TPDate').val('').focus();
  //      }
  //  }
  //}
  //  function chec() {
  //      debugger;
  //      //alert(elm);
  //      $('#TPDate').val($('#TPDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
  //      $('#DivMs').html('');

  //  }

    function TSADatepicker(value){
        debugger;

        $('#value').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="value"]').html('');
            }
        });
    }

</script>

