@model CwcExim.Areas.Import.Models.DSROBLWiseContainerEntry
<script src="~/Areas/Import/Scripts/App/Services/DSROBLWiseContainerService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/DSROBLWiseContainerCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('OBLWiseContainerEntryAppDiv'), ['CWCApp']);
</script>
<style>
    #DivFormOneDet {
        height: 396px;
        overflow-x: hidden;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }

    .slim_tble {
        width: 100%;
        table-layout: fixed;
    }

    .txt_wrp {
        overflow: hidden;
        word-wrap: break-word;
    }

    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleImp.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="OBLWiseContainerEntryAppDiv" ng-controller="DSROBLWiseContainerEntryCtrl">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL Wise Container / CBT Entry</h4>
                    </div>
                </div>
                @*@using (Ajax.BeginForm("AddEditOBLEntry", "DSR_OblEntry", new AjaxOptions
                    {
                        Confirm = "Are you sure you want to save?",
                        HttpMethod = "POST",
                        OnSuccess = "JobOrderOnSuccess",
                        OnFailure = "JobOrderOnFailure"
                    }))*@
                @{
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.StringifiedText)
                    @Html.HiddenFor(m => m.impobldtlId)
                    @*@Html.HiddenFor(m => m.IsAlreadyUsed)*@
                if (ViewBag.ListOfContainerNo != null)
                {
                    <input type="hidden" id="hdnListOfContainerNo" value="@ViewBag.ListOfContainerNo" />
                }
                else
                {
                    <input type="hidden" id="hdnListOfContainerNo" value="" />
                }
                <div id="DivJOHdr" class="Form_Space_bottom">

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>OBL/HBL No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.HiddenFor(m => m.CFSCode)*@
                                @Html.TextBoxFor(m => m.OBL_No, new { @class = "form-control input_sm",@readonly=true })
                                @*<span class="search" id="ContainerNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerNoModal"></i></span>*@
                            </div>
                            <div class="col-md-offset-0-5 col-md-2-5">
                                <input type="button" id="btnShowDetails" class="btn log_Btn_sm" ng-model="btnGet" ng-hide="Action" value="Show Details" ng-click="GetOBLDetails()" />
                            </div>
                            <div class="col-md-offset-1 col-md-1-5 col_cus_2 padding_rt">
                                <label>OBL/HBL Date:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.OBL_Date, new { @size = 10, @maxlength = 10, @onkeyup = "check()", @readonly = true })
                                @*<div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>*@
                                @Html.ValidationMessageFor(m => m.OBL_Date, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>SMTP No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.SMTPNo, new { @class = "form-control input_sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.SMTPNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>SMTP Date:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.SMTP_Date, new { @size = 10, @maxlength = 10, @onkeyup = "SMTPcheck()", @onblur = "checkSMTPdate()", @readonly = true })
                                <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                @Html.ValidationMessageFor(m => m.SMTP_Date, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Commodity:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextBoxFor(m => m.Commodity, "", new { @class = "form-control input-sm", @readonly = true })
                                @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                @Html.HiddenFor(m => m.CommodityId)
                                @Html.ValidationMessageFor(m => m.Commodity, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Cargo Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                                   {
                                       new SelectListItem {Text="HAZ",Value="1" },
                                       new SelectListItem {Text="Non-HAZ",Value="2" }
                                   }, "----Select----", new { @class = "form-control input_sm dropdown", @disabled = true })
                                @Html.ValidationMessageFor(m => m.CargoType, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>No Of Pkg.:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control input_sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.NoOfPkg, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Pkg Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.PkgType, new List<SelectListItem>
                                   {
                                       new SelectListItem {Text="Pallet",Value="Pallet" },
                                       new SelectListItem {Text="Baggage",Value="Baggage" },
                                       new SelectListItem {Text="Boxes",Value="Boxes" },
                                       new SelectListItem {Text="Jumbo Bag",Value="Jumbo Bag" },
                                       new SelectListItem {Text="Unit",Value="Unit" },
                                       new SelectListItem {Text="Pieces",Value="Pieces" },
                                       new SelectListItem {Text="Coils",Value="Coils" },
                                       new SelectListItem {Text="Sheets",Value="Sheets" },
                                       new SelectListItem {Text="Drums",Value="Drums" },
                                       new SelectListItem {Text="Loose",Value="Loose" },
                                       new SelectListItem {Text="Others",Value="Others" }
                                   }, "----Select----", new { @class = "form-control input_sm dropdown", @disabled = true })
                                @Html.ValidationMessageFor(m => m.PkgType, "", new { @class = "Error_Msg" })
                            </div>
                            @*<div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.PkgType, new { @class = "form-control input_sm" })
                                @Html.ValidationMessageFor(m => m.PkgType, "", new { @class = "Error_Msg" })
                                </div>*@
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Gross Wt(Kg).:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GR_WT, new { @class = "form-control input_sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.GR_WT, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Importer Name:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.ImporterId)
                                @Html.TextBoxFor(m => m.ImporterName, new { @class = "form-control input_sm", @readonly = true })
                                @*<span class="search" id="ImporterSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>*@
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Movement Type:</label>
                            </div>
                            <div class="col-md-2-5">

                                @Html.DropDownListFor(m => m.MovementType, new List<SelectListItem>
                               {
                                   new SelectListItem {Text="FCL",Value="FCL" },
                                   new SelectListItem {Text="LCL",Value="LCL" }
                               },new { @disabled = true })
                                @*@Html.ValidationMessageFor(m => m.MovementType, "", new { @class = "Error_Msg" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>IGM No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.IGM_No, new { @class = "form-control input_sm", @readonly = true })
                                @*@Html.ValidationMessageFor(m => m.IGM_No, "", new { @class = "Error_Msg" })*@
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>IGM Date:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.IGM_Date, new { @size = 10, @maxlength = 10, @onkeyup = "checks()", @onblur = "checkdates()", @readonly = true })
                                @*<div class="field-validation-error" id="DivMsges" style="background-color:transparent"></div>*@
                                @*@Html.ValidationMessageFor(m => m.IGM_Date, "", new { @class = "Error_Msg" })*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>TP No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.TPNo, new { @class = "form-control input_sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.TPNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>TP Date:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.TPDate, new { @size = 10, @maxlength = 10, @onkeyup = "chec()", @onblur = "checkdat()", @readonly = true })
                                <div class="field-validation-error" id="DivMs" style="background-color:transparent"></div>
                                @Html.ValidationMessageFor(m => m.TPDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>TSA No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.TSANo, new { @class = "form-control input_sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.TSANo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>TSA Date:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.TSA_Date, new { @size = 10, @maxlength = 10, @onkeyup = "chec()", @onblur = "checkdat()", @readonly = true })
                                <div class="field-validation-error" id="DivMs" style="background-color:transparent"></div>
                                @Html.ValidationMessageFor(m => m.TSA_Date, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CIF Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CIFValue, new { @class = "form-control input_sm", @value = 0, @readonly = true })
                                @Html.ValidationMessageFor(m => m.CIFValue, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Area (CBM):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.AreaCBM, new { @class = "form-control input_sm", @value = 0, @readonly = true })
                                @Html.ValidationMessageFor(m => m.AreaCBM, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Country:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.CountryId)
                                @Html.TextBoxFor(m => m.CountryName, new { @class = "form-control input_sm", @readonly = true })
                                @*@Html.DropDownListFor(m => m.CountryId, new List<SelectListItem>
                           {
                           }, "----Select----", new { @class = "form-control input_sm dropdown", @disabled = true })
                                @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                @Html.HiddenFor(m => m.CountryName)
                                @Html.HiddenFor(m => m.SelectCountryId)*@
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                <label>Port:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.PortId)
                                @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input_sm", @readonly = true })

                                @*@Html.DropDownListFor(m => m.PortId, new List<SelectListItem>
                           {
                           }, "----Select----", new { @class = "form-control input_sm dropdown", @disabled = true })

                                @Html.ValidationMessageFor(m => m.PortId, "", new { @class = "Error_Msg" })
                                @Html.HiddenFor(m => m.PortName)
                                @Html.HiddenFor(m => m.SelectPortId)*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                                @*<span class="search" id="OBLShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLShippingLineModal"></i></span>*@
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.CHAId)
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input_sm", @rows = "3", @maxlength = "1000", @readonly = true })
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivFormOneDet" ng-hide="OblEntryDetails.length==0">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th width="2%">Sl No</th>
                                            <th width="5%">Container / CBT</th>
                                            <th width="5%">Container / CBT No</th>
                                            <th width="2%">Container / CBT Size</th>
                                            <th width="5%" ng-hide="true">PKG</th>
                                            <th width="5%" ng-hide="true">GR WT (Kg)</th>
                                            <th width="5%">Vessel</th>
                                            <th width="5%">Voyage</th>
                                            <th width="5%">ForeignLine</th>
                                            <th width="5%">Rotation</th>
                                            <th width="10%">Shipping Line</th>
                                            @*<th width="3%" class="text-center">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in OblEntryDetails">
                                            <td width="2%">
                                                {{$index+1}}<input type="hidden" ng-model="j.ID" /><input type="hidden" ng-model="j.AddID" />
                                                <input type="hidden" ng-model="j.DetailsID" readonly="readonly" />
                                            </td>
                                            <td width="2%">
                                                <select ng-model="j.CONTCBT" required disabled="disabled">
                                                    @*ng-change="ChangeCONTCBT(j)"*@
                                                    <option value="">--Select--</option>
                                                    <option value="{{cc.id}}" ng-repeat="cc in CONTCBTList">{{cc.CONTCBT}}</option>
                                                </select>
                                            </td>
                                            <td width="5%"><input type="text" ng-model="j.ContainerNo" ng-blur="onchangetext(j);" maxlength="15" readonly="readonly" /></td>
                                            <td width="2%">
                                                <select ng-model="j.ContainerSize" required disabled="disabled">
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in ContainerSizeList">{{s.ContainerSize}}</option>
                                                </select>
                                            </td>
                                            <td width="5%" ng-hide="true">
                                                <input type="text" ng-model="j.NoOfPkg" onkeypress="return isNumber(event)" readonly="readonly" />
                                            </td>
                                            <td width="5%" ng-hide="true"><input type="text" ng-model="j.GR_WT" onkeypress="return isDecimalNumber(event)" readonly="readonly" /></td>
                                            <td width="5%"><input type="text" ng-model="j.Vessel" readonly="readonly" /></td>
                                            <td width="5%"><input type="text" ng-model="j.Voyage" readonly="readonly" /></td>
                                            <td width="5%"><input type="text" ng-model="j.ForeignLine" readonly="readonly" /></td>
                                            <td width="5%"><input type="text" ng-model="j.Rotation" readonly="readonly" /></td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" required readonly="readonly" />
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" readonly="readonly" />
                                                @*<span class="search" style="top: 6px; right: 13px;" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.ShippingLineModal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#ShippingLineModal"></i></span>*@
                                            </td>
                                            @*<td width="3%" style="text-align:center;">
                                                <input type="hidden" ng-model="j.IsProcessed" />
                                                <a href="#" ng-click="Delete($index,j)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a>
                                            </td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-offset-4-5 col-md-2 SignUp_space_bottom">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="ResetAllField()" />
                        </div>
                    </div>
                }
               
            </div>

        </div>
    </div>

   


    


    

    

    
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#OBLslim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

</script>
<script>
    var ArrayJODetails = [];
    var ind = 0;
    
    $(function () {

        $("#CargoType").change(function (e) {
            if ($("#CargoType").val()!=null || $("#CargoType").val()!=''|| $("#CargoType").val()!='----Select----') {
                $('[data-valmsg-for="CargoType"]').html('');
            }
            else {
                $('[data-valmsg-for="CargoType"]').html('Fill Out This Field');
            }

        });

        $("#PkgType").change(function (e) {
            if ($("#PkgType").val()!=null || $("#PkgType").val()!=''|| $("#PkgType").val()!='----Select----') {
                $('[data-valmsg-for="PkgType"]').html('');
            }
            else {
                $('[data-valmsg-for="PkgType"]').html('Fill Out This Field');
            }

        });

        // Decimal Number
        $("#GR_WT").keydown(function (e) {
            if(e.keyCode==190 || e.keyCode==110){
                if($(this).val().indexOf('.')>=0){
                    e.preventDefault();
                }
            }
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Integer Number
        $("#NoOfPkg").keydown(function (e) {
            if(e.keyCode==190 || e.keyCode==110){
                if($(this).val().indexOf('.')>=0){
                    e.preventDefault();
                }
            }
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Text Box
        $("#ContainerNo,#IGM_No,#TPNo,#OBL_No,#LineNo,#SMTPNo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        // Text Box with space
        $("#CargoDescription,#PkgType").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if (e.keyCode == 32) {
                return true;
            }
            else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        var SerializedData = @Html.Raw(Json.Encode(Model.StringifiedText));
        if(SerializedData!=null)
        {
            ArrayJODetails=$.parseJSON(SerializedData);
            //GenerateTable();
            //$('#tblJODet').show();
        }
        else {
            $('#tblJODet').hide();
        }

        GetPortList();
        GetAllCountry();
        LoadOblEntryList();

        if ($('#Id').val()>0) {
            $('#btnReset').attr('disabled', true);
            $('#btnShowDetails').attr('disabled', true);
            $('#ContainerNo').attr('readonly', true);
            $('#ContainerSize').attr('readonly', true);
            $('#IGM_No').attr('readonly', true);
            $('#ContainerNoSerach').css('display', 'none');
        }
        else {
            
        }

    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function isDecimalNumber(event) {
        let charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    

    function SearchByPartyCode() {
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/DSR_CWCImport/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr  onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    var Page = 0;
    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/DSR_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }
    function SelectSline(ShippingLineId, ShippingLineName) {
        debugger;
        angular.element("#OBLWiseContainerEntryAppDiv").scope().SelectShippingLine(ShippingLineId, ShippingLineName);

    }
    function LoadEximTrader() {
        Page = 0;
        $.ajax({
            url: '/Import/DSR_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr  onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function CloseEximTrader() {
        $('#ShpngLinebox').val('');
        $("#ShippingLineModal").modal("hide");
        LoadEximTrader();
    }

    

   

    var Page=0;
    

    

   


    

    

   
    //function LoadOblEntryList() {
    //    $('#OblEntryList').load('/Import/DSR_OblEntry/ListOfOBLEntry');
    //}
   
    var ListOfContainerNo=[];
    $('#lstContainerNo > li').on("click", function () {
        debugger;
        $('#ContainerNo').val($(this).text());
        //$('#CFSCode').val($(this).attr('id'));
        $('#ContainerSize').val($(this).attr('id'));

        ListOfContainerNo= @Html.Raw(Json.Encode(ViewBag.ListOfContainerNo));
        //var ListContainerNo=JSON.parse(ListOfContainerNo);

        var resultAarray = $.grep(ListOfContainerNo, function (item) {
            return item.ContainerNo==$('#ContainerNo').val();
        });
        $('#MovementType').val(resultAarray[0].MovementType);


        $("#ContainerNoModal").modal("hide");
    });



    function SelectImporter(ImporterId, ImporterName) {
        $('#ImporterName').val(ImporterName);
        $('#ImporterId').val(ImporterId);
        $("#ImporterModal").modal("hide");
        $('#Impbox').val('');
        LoadImporter();
    }

    function LoadMoreImporter() {
        debugger;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        //html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName + '&quot;)"><td>' + elem.ImporterName + '</td></tr>';
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';

                    });
                    if (Page == -1)
                        $('#tbleImp tbody').html(html);
                    else
                        $('#tbleImp tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadImporter() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleImp tbody').html(html);

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    function SearchImporterByPartyCode() {
        if ($('#Impbox').val() != '') {
            $.ajax({
                url: '/Import/DSR_OblEntry/SearchImporterByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Impbox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstImporter, function (item, elem) {
                            html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleImp tbody').html('');
                        $('#tbleImp tbody').html(html);
                        $('#LoadMoreImporter').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleImp tbody').html('');
                        Page = -1;
                        $('#LoadMoreImporter').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadImporter();
    }

    function CloseImporter() {
        $('#Impbox').val('');
        $("#ImporterModal").modal("hide");
        LoadImporter();
    }


    function JobOrderOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
            LoadOblEntryList();
            ResetAllField();
        }
        else if(data.Status == 3 || data.Status == 6){
            $('#DivSucMsg').html(data.Message);
            return false;
        }
        else {
            $('#DivErrMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 5000);
    }
    function JobOrderOnFailure() { }

    var isEditOpened=false;
    function LoadOblEntry() {
        $('#DivBody').load('/Import/DSR_OblEntry/OBLWiseContainerEntry');
    }
    function ResetAllField() {
        ArrayJODetails = [];
        LoadOblEntry();
        $('#Id').val(0);
        $('#tblJODet').hide();
        $('#DivJOHdr input[type="text"]').val('');
        $('textarea').val('');
        $('#StringifiedText').val('');
        $('#MovementType').val('');
        $('#PortId').val('');
        $('#CountryId').val('');
        $('#btnReset').attr('disabled', false);
        $('#IGM_No').attr('readonly', false);
        $('#ContainerNoSerach').css('display', 'block');

       

    }
    //function ResetJODet() {
    //    $('#OBL_No,#OBL_Date,#LineNo,#SMTPNo,#NoOfPkg,#CargoDescription,#PkgType,#GR_WT,#ImporterName').val('');
    //    $('#CargoType').val(0);
    //    $('#btnAddJO').attr('disabled', false);
    //    $('#btnResetJO').attr('disabled', false);
    //}

    function AddJODet() {
        if (ValidateJODet()) {
            var JODetails = {
                OBLEntryId: 0,
                OBL_No: $('#OBL_No').val(),
                OBL_Date: $('#OBL_Date').val(),
                LineNo: $('#LineNo').val(),
                SMTPNo: $('#SMTPNo').val(),
                SMTP_Date: $('#SMTP_Date').val(),
                NoOfPkg: $('#NoOfPkg').val(),
                CargoType: $('#CargoType').val(),
                CargoDescription: $('#CargoDescription').val(),
                PkgType: $('#PkgType').val(),
                GR_WT: $('#GR_WT').val(),
                ImporterId: $('#ImporterId').val(),
                ImporterName: $('#ImporterName').val(),
            };
            ArrayJODetails.push(JODetails);
            GenerateTable();
            ResetJODet();
            isEditOpened=false;
            $('#btnResetJO').attr('disabled', false);
            $('#DivTblContrErrMsg').html('');
        }
    }
    function ValidateJODet() {
        var Result = true;
        if ($('#OBL_No').val() == null || $('#OBL_No').val() == '') {
            $('[data-valmsg-for="OBL_No"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#OBL_Date').val() == null || $('#OBL_Date').val() == '') {
            $('[data-valmsg-for="OBL_Date"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#CargoType').val() == null  || $('#CargoType').val() == '' || $('#CargoType').val() == '----Select----') {
            $('[data-valmsg-for="CargoType"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#PkgType').val() == null || $('#PkgType').val() == '') {
            $('[data-valmsg-for="PkgType"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#GR_WT').val() == null || $('#GR_WT').val() == '') {
            $('[data-valmsg-for="GR_WT"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        return Result;
    }
    //function GenerateTable() {
    //    var html = '';
    //    $.each(ArrayJODetails, function (i, item) {
    //        var cargoType = '';
    //        if (item.CargoType == 1) {
    //            cargoType = 'HAZ';
    //        }
    //        else if (item.CargoType == 2) {
    //            cargoType = 'NON-HAZ';
    //        }
    //        html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.OBL_No + '</td><td>' + item.OBL_Date + '</td><td>' + cargoType + '</td><td>' + item.NoOfPkg + '</td><td>' + item.GR_WT + '</td>'
    //          + '<td class="text-center"><a href="#" onclick="EditJODet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td><td class="text-center"><a href="#" onclick="ViewJODet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
    //    });
    //    $('#tblJODet tbody').html(html);
    //    $('#tblJODet').show();
    //}
    function EditJODet(i) {
        if (!isEditOpened)
        {
            $('#BtnAddContainer').prop("disabled", false);
            $('#OBL_No').val(ArrayJODetails[i].OBL_No);
            $('#OBL_Date').val(ArrayJODetails[i].OBL_Date);
            $('#LineNo').val(ArrayJODetails[i].LineNo);
            $('#SMTPNo').val(ArrayJODetails[i].SMTPNo);
            $('#SMTP_Date').val(ArrayJODetails[i].SMTP_Date);
            $('#NoOfPkg').val(ArrayJODetails[i].NoOfPkg);
            $('#CargoType').val(ArrayJODetails[i].CargoType);
            $('#CargoDescription').val(ArrayJODetails[i].CargoDescription);
            $('#PkgType').val(ArrayJODetails[i].PkgType);
            $('#GR_WT').val(ArrayJODetails[i].GR_WT);
            $('#ImporterName').val(ArrayJODetails[i].ImporterName);
            $('#btnAddJO').attr('disabled', false);
            ArrayJODetails.splice(i, 1);
            GenerateTable();
            isEditOpened=true;
            $('#btnResetJO').attr('disabled', true);

        }
        else {
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
        }
    }
    function ViewJODet(i) {
        if (!isEditOpened)
        {
            $('#OBL_No').val(ArrayJODetails[i].OBL_No);
            $('#OBL_Date').val(ArrayJODetails[i].OBL_Date);
            $('#LineNo').val(ArrayJODetails[i].LineNo);
            $('#SMTPNo').val(ArrayJODetails[i].SMTPNo);
            $('#SMTP_Date').val(ArrayJODetails[i].SMTP_Date);
            $('#NoOfPkg').val(ArrayJODetails[i].NoOfPkg);
            $('#CargoType').val(ArrayJODetails[i].CargoType);
            $('#CargoDescription').val(ArrayJODetails[i].CargoDescription);
            $('#PkgType').val(ArrayJODetails[i].PkgType);
            $('#GR_WT').val(ArrayJODetails[i].GR_WT);
            $('#ImporterName').val(ArrayJODetails[i].ImporterName);
            $('#btnAddJO').attr('disabled', true);
            $('#btnResetJO').attr('disabled', false);
        }
        else {
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
        }
    }
    

    function checkSMTPdate() {
        debugger;
        if(  $('#SMTP_Date').val()!='')
        {

            var result = moment($('#SMTP_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMsgs').html('Incorrect Date');
                setTimeout(function () { $('#DivMsgs').html(''); }, 5000);
                $('#SMTP_Date').val('');
            }
        }
    }

    function check() {
        debugger;
        //alert(elm);
        $('#OBL_Date').val($('#OBL_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        //$('#SMTP_Date').val($('#SMTP_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }

    function SMTPcheck() {
        debugger;
        //alert(elm);
        // $('#OBL_Date').val($('#OBL_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        $('#SMTP_Date').val($('#SMTP_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }
    function checkdates() {
        debugger;
        if(  $('#IGM_Date').val()!='')
        {
            var result = moment($('#IGM_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMsges').html('Incorrect Date');
                setTimeout(function () { $('#DivMsges').html(''); }, 5000);
                $('#IGM_Date').val('');
            }
        }
    }
    function checks() {
        debugger;
        //alert(elm);
        $('#IGM_Date').val($('#IGM_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }
    function checkdat() {
        debugger;
        if(  $('#TPDate').val()!='')
        {
            var result = moment($('#TPDate').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMs').html('Incorrect Date');
                setTimeout(function () { $('#DivMs').html(''); }, 5000);
                $('#TPDate').val('');
            }
        }
        if(  $('#TSA_Date').val()!='')
        {
            var result = moment($('#TSA_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMs').html('Incorrect Date');
                setTimeout(function () { $('#DivMs').html(''); }, 5000);
                $('#TSA_Date').val('');
            }
        }
    }
    function chec() {
        debugger;
        //alert(elm);
        $('#TPDate').val($('#TPDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

        $('#TSA_Date').val($('#TSA_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
    }
    function Change(evt){
        debugger;
        alert(evt);

    }

    // OBl Shipping line Start---

    var Page = 0;
    function OBLLoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + ',&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#OBLtbleSline tbody').html(html);
                    else
                        $('#OBLtbleSline tbody').append(html);
                    Page++;

                    //if (data.Data.State == true)
                    //    $('#OBLbtnLoadMore').prop('disabled', false);
                    //else $('#OBLbtnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function OBLLoadEximTrader() {
        Page=0;
        $.ajax({
            url: '/Import/DSR_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#OBLtbleSline tbody').html(html);

                    //if (data.Data.State == true)
                    //    $('#OBLbtnLoadMore').prop('disabled', false);
                    //else $('#OBLbtnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function OBLSearchByPartyCode() {
        if ($('#OBLShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/DSR_OblEntry/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#OBLShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#OBLtbleSline tbody').html('');
                        $('#OBLtbleSline tbody').html(html);
                        //$('#OBLbtnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        // $('#OBLbtnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    function OBLSelectShippingLine(ShippingLineId, ShippingLineName) {
        $('#ShippingLineName').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        $("#OBLShippingLineModal").modal("hide");
        $('#OBLShpngLinebox').val('');
        OBLLoadEximTrader();
    }

    function OBLCloseEximTrader()
    {
        debugger;
        $('#OBLShpngLinebox').val('');
        $("#OBLShippingLineModal").modal("hide");
        OBLLoadEximTrader();
    }

    //OBL Shipping Line End ----

</script>


