@model IEnumerable<CwcExim.Areas.Master.Models.DSREximTraderFinanceControl>
<script>
    $(document).ready(function(){
        var TblEximFinanceControl= $('#TblEximFinanceControl').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "SL No","width":"8%" },
                    { "sName": "Exim Trader Name" },
                    { "sName": "Address", "bSortable": false },
                    { "sName": "View", "bSortable": false, "width": "10%" },
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblEximFinanceControl);
    });
    function LoadEximFinanceControl(){
        $('#DivBody').load('/Master/DSREximTrader/CreateEximTraderFncControl');
    }
    function ViewEximFinanceControl(FinanceControlId){
        $('#DivBody').load('/Master/DSREximTrader/ViewEximTraderFncControl?FinanceControlId='+FinanceControlId);
    }
    function EditEximFinanceControl(FinanceControlId){
        $('#DivBody').load('/Master/DSREximTrader/EditEximTraderFncControl?FinanceControlId='+FinanceControlId);
    }
    function DeleteEximFinanceControl(FinanceControlId){
        var Confirm=confirm("Are You Sure You Want To Delete?");
        if(Confirm==true){
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'/Master/DSREximTrader/DelEximTraderFncControl',
                data:{FinanceControlId:FinanceControlId},
                type:'POST',
                dataType:'JSON',
                headers:{'__RequestVerificationToken':Token},
                async:false,
                success:function(data){
                    if(data.Status==1){
                        alert("Exim Trader Finance Control Deleted Successfully.")
                        LoadEximFinanceControl();
                    }
                },
                error:function(data){
                }
            });
        }
    }

</script>
<table id="TblEximFinanceControl"class="table table-bordered table-striped nowrap"cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m=>m.EximTraderName)</th>
            <th>@Html.DisplayNameFor(m=>m.Address)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach(var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m=>item.EximTraderName)</td>
                    <td>@Html.DisplayFor(m=>item.Address)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewEximFinanceControl(@item.FinanceControlId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditEximFinanceControl(@item.FinanceControlId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeleteEximFinanceControl(@item.FinanceControlId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>
