@model CwcExim.Areas.Master.Models.DSRPartyWiseTDSDeposit
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Party Wise TDS Deposit</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddEditPartyWiseTDSDeposit", "DSREximTrader", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", LoadingElementDuration = 1000, LoadingElementId = "divProgress" }, new { @Id = "CashReceiptForm" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.TDSBalance)
                    @Html.HiddenFor(m => m.PeriodFrom)
                    @Html.HiddenFor(m => m.PeriodTo)


                    <div class="Form_Space_bottom">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Receipt No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                    @Html.TextBox("HdReceiptNo","", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Party Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.Hidden("ReceiptNo")
                                        @Html.Hidden("CashReceiptId")
                                        @Html.HiddenFor(m => m.PartyId)
                                        @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input_sm", @readonly = true })
                                        <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.PartyName)
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Certificate No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CirtificateNo, new { @class = "form-control input_sm" })
                                        @Html.ValidationMessageFor(m => m.CirtificateNo)
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4-5 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>Certificate Date:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.CirtificateDate, new { @class = "form-control input_sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.CirtificateDate)
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Financial Year:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownListFor(m => m.FinancialYear, new List<SelectListItem> {

                                new SelectListItem { Value="2014",Text="2014"},
                                new SelectListItem { Value="2015",Text="2015"},
                                new SelectListItem { Value="2016",Text="2016"},
                                new SelectListItem { Value="2017",Text="2017"},
                               new SelectListItem { Value="2018",Text="2018"},
                               new SelectListItem {Value="2019",Text="2019" },
                                 new SelectListItem { Value="2020",Text="2020"},
                               new SelectListItem {Value="2021",Text="2021" },
                               new SelectListItem { Value="2022",Text="2022"},
                                new SelectListItem {Value="2023",Text="2023" },
                               new SelectListItem { Value="2024",Text="2024"},
                               new SelectListItem { Value="2025",Text="2025"},
                               new SelectListItem { Value="2026",Text="2026"},
                               new SelectListItem { Value="2027",Text="2027"},
                               new SelectListItem { Value="2028",Text="2028"},
                               new SelectListItem { Value="2029",Text="2029"},
                               new SelectListItem { Value="2030",Text="2030"},
                               new SelectListItem { Value="2031",Text="2031"},
                               new SelectListItem { Value="2032",Text="2032"},
                               new SelectListItem { Value="2033",Text="2033"}}, "----Select----", new { @class = "form-control input-sm dropdown", @onchange = "GetOperationCode()" })
                                        @Html.ValidationMessageFor(m => m.FinancialYear)
                                    </div>
                                    <div class="col-md-1-5">
                                        @Html.TextBoxFor(m => m.FinancialYearNext, new { @class = "form-control input_sm", @readonly = true })
                                    </div>

                                    <div class="col-md-1-5 col-md-offset-3 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>TdsQuarter:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5">
                                        @Html.DropDownListFor(m => m.TdsQuarter, new List<SelectListItem> {
                               new SelectListItem { Value="First",Text="First"},
                               new SelectListItem {Value="Second",Text="Second" },
                                 new SelectListItem { Value="Third",Text="Third"},
                               new SelectListItem {Value="Fourth",Text="Fourth" }}, "----Select----", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.TdsQuarter)
                                    </div>
                                    @*<div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                            <label>Cirtificate Date:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.CirtificateDate, new { @class = "form-control input_sm", @readonly = true })
                                        </div>*@
                                </div>
                            </div>









                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Deposit Amount:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input_sm" })
                                        @Html.ValidationMessageFor(m => m.Amount)
                                    </div>

                                    @*<div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                            <label>Cirtificate Date:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.CirtificateDate, new { @class = "form-control input_sm", @readonly = true })
                                        </div>*@
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Remarks:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10_5">
                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input_sm" })
                                        @Html.ValidationMessageFor(m => m.Remarks)
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_top2">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Print" class="btn log_Btn_sm" id="btnPrint" onclick="Print()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllField()" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div id="CargoSeizeList"></div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @{
                        if (ViewBag.lstParty != null)
                        {
                            foreach (var item in ViewBag.lstParty)
                            {
                                <li id="@item.PartyId">@item.PartyName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('#btnPrint').attr('disabled', true);
    });
    $(function () {

        LoadPartyWiseTDSDepositList();
        if ($('#Id').val() > 0) {
            $('#btnReset').attr('disabled', true);
            $('#FinancialYear').attr('disabled', true);
            $('#TdsQuarter').attr('disabled', true);
            $('.search').css('display', 'none');
        }
    });

    // Decimal Number
    $("#Amount").keydown(function (e) {
        if (e.keyCode == 190 || e.keyCode == 110) {
            if ($(this).val().indexOf('.') >= 0) {
                e.preventDefault();
            }
        }
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number or character
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    // Text Box with space
    $("#CirtificateNo").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if (e.keyCode == 32) {
            return true;
        }
        else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number or character
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
            e.preventDefault();
        }
    });

    $('#CirtificateDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="CirtificateDate"]').html('');
        }
    });

    $('#Partybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstParty > li').show();
        } else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#lstParty li').on("click", function () {
        debugger;
        $('#PartyName').val($(this).text());
        $('#PartyId').val($(this).attr('id'));
        $("#PartyModal").modal("hide");
     //   $(".field-validation-error").empty();
        var spans = document.getElementsByTagName('span');
        for(var i=0; i<spans.length; i++)
        {
            if(spans[i].innerText=="Fill Out This Field")
            {
                spans[i].innerText = "";
                break;
            }
        }

     //   ProcessInvoice();
    });

    function LoadPartyWiseTDSDepositList() {
         $('#CargoSeizeList').load('/Master/DSREximTrader/ListOfPartyWiseTDSDeposit');
    }

    function OnSuccess(data) {
        debugger;
        TimeInSeconds = 5000;
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
            $('#HdReceiptNo').val(data.Data.ReceiptNo);
            $('#CashReceiptId').val(data.Data.CashReceiptId);
            $('#DivErrMsg').html('');

           // $('#btnSave').attr('disabled', true);
            // $('#btnsave').attr('disabled', 'disabled');
            $('#btnSave').attr('disabled', true);
            //setTimeout(ResetAllField, TimeInSeconds);
            LoadPartyWiseTDSDepositList()

            $('#btnPrint').attr('disabled', false);



           $('#btnReset').attr('disabled',false);

         //   setTimeout(ResetAllField, 3000);
          //  LoadPartyWiseTDSDepositList();
        }
        else {
            $('#DivErrMsg').html(data.Message);
        }
        // setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 5000);
    }
    function Print() {
        debugger;
        /*
        var PostData = new FormData();
        PostData.append("type", "CashReceipt");
        PostData.append("id", $('#CashReceiptId').val());
        PostData.append("page", htmlPrint[0]);
        PostData.append("npage", htmlPrint[1]);
        $.ajax({
            type: 'POST',
            url: 'Url.Action("GenerateCashReceiptPDF", "Ppg_CashManagement", new { area = "CashManagement" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open(data.Message + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
        */

        var ReceiptNumber = $('#HdReceiptNo').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetTDSDepositReport", "DSR_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ReceiptNumber: ReceiptNumber
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });


    }



  function GetOperationCode(){
      debugger;
      var yar =$('#FinancialYear').val();

      $('#FinancialYearNext').val(++yar);

    };

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }


    function OnFailure() { }

    function ResetAllField() {
        $('#DivBody').load('/Master/DSREximTrader/PartyWiseTDSDeposit');
    }


</script>