@model IEnumerable<CwcExim.Areas.Import.Models.WFLDMergeDeliveryApplicationList>

<script>
    var Page = 0;
    

    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Import/WFLD_CWCImport/LoadListMoreMergeDataForDeliveryApp',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#TblDeliveryApplication').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.DeliveryDate],
        [item.DeliveryNo],
        [item.InvoiceNo],
        [item.PartyName],
        [item.PayeeName],
                ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }

    $(function(){
        var TblDeliveryApplication = $('#TblDeliveryApplication').DataTable({
            "bFilter":false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns":[
                       {"sName":"SL No","width":"5%"},
                       { "sName":"Delivery No","bSortable":false,"width":"10%" },
                       { "sName":"Invoice No" ,"bSortable":false,"width":"10%"},
                       { "sName":"Application Date" ,"bSortable":false,"width":"10%"},
                       {"sName":"Party Name","bSortable":false,"width":"10%"},
                       {"sName":"Payer Name","bSortable":false,"width":"10%"},
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(4),td:eq(5)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "5%");
                $('td:eq(1)', nRow).css("width", "10%");
                $('td:eq(2)', nRow).css("width", "10%");
                $('td:eq(3)', nRow).css("width", "10%");
                $('td:eq(4)', nRow).css("width", "10%");
                $('td:eq(5)', nRow).css("width", "10%");
            }
        });
        new $.fn.dataTable.FixedHeader(TblDeliveryApplication);
    });
    function LoadDeliveryApplication() {
        $('#DivBody').load('/Import/WFLD_CWCImport/MergeDeliAppPaymentSheetIssueSlip');
    }
    function EditDeliveryApplication(DeliveryId) {
        $('#DivBody').load('/Import/WFLD_CWCImport/EditDeliveryApplication?DeliveryId=' + DeliveryId);
    }
    function ViewDeliveryApplication(DeliveryId) {
        $('#DivBody').load('/Import/WFLD_CWCImport/ViewDeliveryApplication?DeliveryId=' + DeliveryId);
    }

</script>

<table id="TblDeliveryApplication" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:5%;" class="text-center">@Html.DisplayName("SL No")</th>
            <th style="width:10%;">Invoice Date</th>
            <th style="width:10%;">Delivery No</th>
            <th style="width:10%;">Invoice No</th>
            <th style="width:10%;">PartyName</th>
            <th style="width:10%;">PayeeName</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="width:5%;" class="text-center">@SerialNo</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.DeliveryDate)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.DeliveryNo)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.InvoiceNo)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.PartyName)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.PayeeName)</td>
                   </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>




