@model CwcExim.Areas.Import.Models.TallySheet
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            @Html.HiddenFor(m => m.TallySheetId)
            @Html.HiddenFor(m => m.ContainerId)
            @Html.HiddenFor(m => m.GodownId)
            @Html.HiddenFor(m => m.SealCuttingId)
            <div id="DivCreateDeliveryApp">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Tally Sheet</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.TallySheetNo)<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.TallySheetNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.TallySheetDate)<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.TallySheetDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label for="ContainerNo">Container / CBT No</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                            @*<span class="search" id="CFSCode"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CFSCodeModal"></i></span>*@
                            @Html.ValidationMessageFor(m => m.ContainerNo)
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>CFS Code:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>

                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.Size)<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.GodownId)<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.GateInNo)<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GateInNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12" id="tblData">
                        <table class="table table-bordered table-striped dataTable Table_center">
                            <thead>
                                <tr>
                                    <th colspan="2">OBL/HBL</th>
                                    <th rowspan="2">IGM No.</th>
                                    <th rowspan="2">Line No.</th>
                                    <th rowspan="2">Cargo</th>
                                    <th rowspan="2">No Of Pkg</th>
                                    <th rowspan="2">Wt</th>
                                    <th rowspan="2">UOM</th>
                                    <th rowspan="2">Area(Approx.)</th>
                                </tr>
                                <tr>
                                    <th>No.</th>
                                    <th style="border-right: 1px solid;">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lstDtl)
                                {
                                    <tr>
                                        <td>@item.OblNo</td>
                                        <td>@item.OblDate</td>
                                        <td>@item.IGMNo</td>
                                        <td>@item.LineNo</td>
                                        <td>@item.Cargo</td>
                                        <td>@item.Pkg</td>
                                        <td>@item.Wt</td>
                                        <td>@item.UOM</td>
                                        <td>@item.Area</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" class="btn log_Btn_sm" value="Back" id="BtnBack" />
                    </div>
                </div>

                <div class="row SignUp_space_bottom2 SignUp_space_top2"></div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#BtnBack').on('click', function () {
        $('#DivBody').load('/Import/Wfld_CWCImport/GetTallySheet');
    });
</script>