@model CwcExim.Areas.GateOperation.Models.VLDA_LorryReceipt

<style>
    .slimScrollDiv {
        height: 300px !important;
    }

    #slim_scroll {
        height: 300px !important;
    }

    #slim_scroll_1 {
        height: 300px !important;
    }

    .table.tblhd {
        border-bottom: 0;
    }

    .table.tblhd1 {
        border-bottom: 0;
    }

    .modal {
        padding-top: 70px;
    }

</style>

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });
</script>




<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            @using (Ajax.BeginForm("AddEditCreateLorryReceipt", "VLDA_GateOperation", new AjaxOptions
            {
                OnBegin = "$('#BtnSavePallatisation').prop('disabled', true)",
               
                HttpMethod = "POST",
                OnSuccess = "RegisterOnSuccess",
                OnFailure = "RegisterOnFailure"
            }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.lstLorryDtl)


                <div class="panel with-nav-tabs panel-primary cwc_panel">
                    <div class="panel-heading cwc_panel_heading">
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a href="#DivAddLorryReceipt" data-toggle="tab">Lorry Receipt</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="DivAddLorryReceipt">
                                <div id="DivAddLorryReceipt">

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <label>G.R.No</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.GRNo, new { @class = "form-control input-sm " , @onblur = "validateGRNo(this)" })
                                                @*<span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>*@
                                            </div>

                                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_3 col_cus_2">
                                                <label>LR DATE & TIME</label>
                                            </div>
                                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                                <span class="ReQSimbol"></span>
                                                @Html.TextBoxFor(m => m.LR_DATE, new { @class = "form-control input-sm  ", @value = ViewBag.Date, @readonly = true })
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Party Name:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = true, @onblur = "validatePartyName(this)" })
                                                @Html.HiddenFor(x => x.PartyID)
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="PartyBinding()" data-target="#PartyModal"></i></span>
                                                @Html.ValidationMessageFor(m => m.PartyName, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_3 col_cus_2">
                                                <label>Consignee:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Consignee, new { @class = "form-control input-sm" })
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Shipping Line:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.HiddenFor(x => x.ShippingLineID)
                                                @Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('ModalTrader','SHIP');" , @onblur = "validateShippingLine(this)" })
                                                <span class="search" id="ModalSHPSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="ShippingLine_Click()" data-target="#ModalTrader"></i></span>
                                                @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_3 col_cus_2">
                                                <label>Stuffing Point:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.StuffingPoint, new { @class = "form-control input-sm" , @onblur = "validateStuffingPoint(this)" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <label>Booking No</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.BookingNo)
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Transport From:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.TransportFrom, new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="TransportFromModal()" data-target="#TransportFromModal"></i></span>
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_3 col_cus_2">
                                                <label>Transport To:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.TransportTo, new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="TransportToModal()" data-target="#TransportToModal"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label> BOE No/POD :</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.BOE, new { @class = "form-control input-sm" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_3 col_cus_2">
                                                <label>Invoice No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5">
                                                <label>Remarks</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.Remarks)
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Lorry Receipt Details</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-12">
                                        <table id="TblLorryRequest" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Container No</th>
                                                    <th class="text-center">Size</th>
                                                    <th class="text-center">Tare Wt</th>
                                                    <th class="text-center">Weight</th>
                                                    <th class="text-center">Vehicle No</th>
                                                    <th class="text-center">Seal No.</th>
                                                    <th class="text-center">Remarks Booking</th>
                                                    <th rowspan="2" style="border: 1px solid #ccc; text-align: center; width: 80px;">
                                                        <a href="javascript:void(0)" id="btnBVAddRow" onclick="addLRRow()" class="add-row-icon"><i class="fa fa-plus"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-3 col-md-2">
                                <button type="submit" class="btn log_Btn_sm" id="BtnSaveLorryReceipt">Save</button>
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetAll()" />
                            </div>

                            <div class="col-md-2">
                                <input type="button" id="btnPrint" class="btn log_Btn_sm" disabled value="Print" onclick="Print()" />
                            </div>
                        </div>
                        <div id="DivLorryReceiptMsg" class="logSuccMsg" style="background-color:transparent"></div>
                        <div id="DivLorryReceiptErrMsg" class="logErrMsg" style="background-color:transparent"></div>

                    </div>

                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-2 SignUp_space_bottom">
                            <input type="button" id="BtnLorryReceiptListLoad" value="Show List" class="btn log_Btn_sm" onclick="GetLorryReceiptEntryList()" />
                        </div>
                       
                    </div>
                    <div class="ClearFix"></div>
                </div>

                   <div class="row">
                        <div class="col-md-12">
                          <div id="tblEntryDet"></div>
                         </div>
                   </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div id="DivLorryReceiptList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="TransportFromModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Transport From</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Transportfrombox" type="text" tabindex=415 />
                <ul class="navList" id="TransportFromList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="TransportToModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Transport To</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Transporttobox" type="text" tabindex=415 />
                <ul class="navList" id="TransportToList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mTabindex" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ShippingLineModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLineBox" type="text" tabindex="401" />
                <ul class="navList" id="ShippingLineList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ShippingLineModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal" onclick="closePartyModel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Choose Party Name</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Party Name Or Party Code" type="text" id="txtPartyCode" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="PartySearch()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;text-align:left;">
                    <thead>
                        <tr>
                            <th colspan="8" style="text-align:left;" width="80%">Party Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll" style="overflow: scroll; width: auto; height: 250px;">
                    <table class="table dataTable table-bordered table-striped slim_tble">
                        <tbody id="tbleParty"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="txtLoadMoreParty" style="width:100%; margin-left:0;" onclick="LoadPartyList()" class="btn log_Btn_sm">Load More Data</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="closePartyModel()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var index = 0;
    var arrayLorryDetails = [];
    $(document).ready(function () {
        debugger;       
        BindLorryRequestDetails();
    });
    $('#LR_DATE').datetimepicker({
        dateFormat: "dd/mm/yy",      
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='LR_DATE']").html('');
            $('#time').focus();
        }
    });
    function PartySearch() {
        debugger;
        //pPage += 1;

        $.ajax({
            url: '/GateOperation/VLDA_GateOperation/GetPartyNameList',
            type: 'GET',
            dataType: 'JSON',
            data: { 'Page': 1, 'PartyCode': $('#txtPartyCode').val() },
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {
                    //$('#hdnPartyPayee').val(JSON.stringify(data.Data.LstPartyDetails));
                    var EcJson = data.Data.LstPartyDetails;


                    var html = '';
                    $.each(EcJson, function (i, item) {

                        html += ''
                        html += '<tr onclick="selectParty(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);"><td colspan="8" width="80%">' + item.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + item.PartyCode + '</td></tr>';
                    });
                    $('#tbleParty').html(html);
                    if (data.Data.StatePayer == true) {
                        $('#txtLoadMoreParty').prop("disabled", false);
                    }
                    else {
                        $('#txtLoadMoreParty').prop("disabled", true);
                    }

                }
            }
        });




    }
    function PartyBinding() {
        debugger;
        //pPage += 1;
        $('#txtPartyCode').val('');
        $.ajax({
            url: '/GateOperation/VLDA_GateOperation/GetPartyNameList',
            type: 'GET',
            dataType: 'JSON',
            data: { 'Page': 1, 'PartyCode': '' },
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {

                    var EcJson = data.Data.LstPartyDetails;


                    var html = '';
                    $.each(EcJson, function (i, item) {

                        html += ''
                        html += '<tr onclick="selectParty(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);"><td colspan="8" width="80%">' + item.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + item.PartyCode + '</td></tr>';
                    });
                    $('#tbleParty').html(html);
                    if (data.Data.StatePayer == true) {
                        $('#txtLoadMoreParty').prop("disabled", false);
                    }
                    else {
                        $('#txtLoadMoreParty').prop("disabled", true);
                    }

                }
            }
        });

    }

    function selectParty(PartyId, PartyName) {
        debugger;
        $('#PartyID').val(PartyId);
        $('#PartyName').val(PartyName);

        $("#PartyModal").modal("hide");
    }

    var pPage = 0;
    function LoadPartyList() {
        debugger;
        pPage += 1;
        $.ajax({
            url: '/Master/VLDAMaster/GetPartyNameForEximTraders',
            type: 'GET',
            dataType: 'JSON',
            data: { 'Page': pPage, 'PartyCode': '' },
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {

                    var EcJson = data.Data.LstPartyDetails;


                    var html = '';
                    $.each(EcJson, function (i, item) {

                        html += ''
                        html += '<tr onclick="selectParty(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);"><td colspan="8" width="80%">' + item.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + item.PartyCode + '</td></tr>';
                    });
                    $('#tbleParty').append(html);
                    if (data.Data.StatePayer == true) {
                        $('#txtLoadMoreParty').prop("disabled", false);
                    }
                    else {
                        $('#txtLoadMoreParty').prop("disabled", true);
                    }

                }
            }
        });

    }

    function closePartyModel() {
        partyPage = 1;
        $("#PartyModal").modal("hide");
    }

    $('#txtPartyCode').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tbleParty > tr > td').show();
        else {
            $('#tbleParty > tr >td').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    function ShippingLineModalClose() {
        $('#ShippingLineModal').modal("hide");
        $('#ShippingLineBox').val('');
        $('#ShippingModal .navList > li').show();
    }
    $('#ShippingLineBox').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ShippingLineModal .navList > li').show();
        } else {
            $('#ShippingLineModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    function ShippingLine_Click() {

        $.ajax({
            url: '/GateOperation/VLDA_GateOperation/GetShippingLineList',
            type: 'GET',
            dataType: 'JSON',

            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var html = '';
                    var tabvalue = 401;
                    var u = '_';
                    var i = 0;
                    $.each(data.Data, function (key, val) {
                        html += '<li tabindex="' + tabvalue + '_' + i + '" onkeypress="SelectShippingLine(' + val.ShippingLineID + ',&quot;' + val.ShippingLineName + '&quot;)" onclick="SelectShippingLine(' + val.ShippingLineID + ',&quot;' + val.ShippingLineName + '&quot;)" id=' + val.ShippingLineID + '>' + val.ShippingLineName + '</li>';
                        tabvalue++;
                        i++;

                    });
                    $('#ShippingLineList').html(html);
                    $('#ShippingLineModal').modal('show');
                }

            }
        });
    }
    function SelectShippingLine(ShippingLineId, ShippingLine) {
        debugger;
        $('#ShippingLineModal').modal("hide");
        $('#ShippingLineBox').val('');
        $('#ShippingLine').val(ShippingLine);
        $('#ShippingLineID').val(ShippingLineId);

    }

    function BindLorryRequestDetails() {
        debugger;
        index = 0;
        arrayLorryDetails = [];

        $('#TblLorryRequest tbody').html('');
        var html = "";


        if (arrayLorryDetails != null) {
            if (arrayLorryDetails.length > 0) {

                $.map(arrayLorryDetails, function (item) {

                    html += '<tr>';
                  
                    html += '<td><input type="text" id="CoantinerNo' + index + '"  value=""></td>';
                    html += '<td><input type="number" id="Size' + index + '"  value=""></td>';
                    html += '<td><input type="number" id="TareWt' + index + '"  value=""></td>';
                    html += '<td><input type="number" id="Weight' + index + '"  value=""></td>';
                    html += '<td><input type="text" id="VehicleNo' + index + '"  value=""></td>';
                    html += '<td><input type="text" id="SealNo' + index + '"  value=""></td>';
                    html += '<td><input type="text" id="RemarksBook' + index + '"  value=""></td>';
                    html += '<td style="border: 1px solid #ccc; text-align: center;"><a href="javascript:void(0);" id="btnLRDeleteRow_' + index + '" onclick="LRDeleteRow(this,' + index + ',' + 0 + ')"><i class="fa fa-trash-o delete-row-icon"></i></a></td>';
                    html += '</tr>';
                    index++;
                });

            }
            else {
                html += '<tr>';
               
                html += '<td><input type="text" id="CoantinerNo' + index + '"  value=""></td>';
                html += '<td><select id="Size' + index + '">';
                html += '<option value="20">20</option>';
                html += '<option value="40">40</option>';
                html += '</select></td>';
                html += '<td><input type="number" id="TareWt' + index + '"  value=""></td>';
                html += '<td><input type="number" id="Weight' + index + '"  value=""></td>';
                html += '<td><input type="text" id="VehicleNo' + index + '"  value=""></td>';
                html += '<td><input type="text" id="SealNo' + index + '"  value=""></td>';
                html += '<td><input type="text" id="RemarksBook' + index + '"  value=""></td>';
                html += '<td style="border: 1px solid #ccc; text-align: center;"><a href="javascript:void(0);" id="btnLRDeleteRow_' + index + '" onclick="LRDeleteRow(this,' + index + ',' + 0 + ')"><i class="fa fa-trash-o delete-row-icon"></i></a></td>';
                html += '</tr>';


                index++;
            }
        } else {
            html += '<tr>';
          
            html += '<td><input type="text" id="CoantinerNo' + index + '"  value=""></td>';
            html += '<td><select id="Size' + index + '">';
            html += '<option value="20">20</option>';
            html += '<option value="40">40</option>';
            html += '</select></td>';
            html += '<td><input type="number" id="TareWt' + index + '"  value=""></td>';
            html += '<td><input type="number" id="Weight' + index + '"  value=""></td>';
            html += '<td><input type="text" id="VehicleNo' + index + '"  value=""></td>';
            html += '<td><input type="text" id="SealNo' + index + '"  value=""></td>';
            html += '<td><input type="text" id="RemarksBook' + index + '"  value=""></td>';
            html += '<td style="border: 1px solid #ccc; text-align: center;"><a href="javascript:void(0);" id="btnLRDeleteRow_' + index + '" onclick="LRDeleteRow(this,' + index + ',' + 0 + ')"><i class="fa fa-trash-o delete-row-icon"></i></a></td>';
            html += '</tr>';

            index++;
        }

        $('#TblLorryRequest tbody').html(html);


    }
    function showValidationMsg(element, isError, message) {
        if (isError) {
            $(element).addClass('is-invalid');
            $(element).parent('div').attr('data-tip', message);
        } else {
            $(element).removeClass('is-invalid');
            $(element).parent('div').removeAttr('data-tip');
        }
    }
    function LRDeleteRow(elem, _idx, _dtlSlNo) {
        debugger;
        var rowCount = $('#TblLorryRequest tbody tr').length;
        if (rowCount > 1) {
            $(elem).closest('tr').remove(); 
        } else {
            alert("Cannot delete the last row.");
        }
    }
    function addLRRow() {
        debugger;
        var error = 0;

        $("#TblLorryRequest tbody > tr").each(function () {
            var _txtContainerNo = $(this).find('td:eq(0) input[type=text]').val();
            var _txtSize = $(this).find('td:eq(1) input[type=number]').val();
            var _txtVehicleNo = $(this).find('td:eq(4) input[type=text]').val();
            var _txtRemarksBookingNo = $(this).find('td:eq(6) input[type=text]').val();

            if (_txtContainerNo === '' ||_txtSize ===''|| _txtVehicleNo === '' || _txtRemarksBookingNo === '') {
                if (_txtContainerNo === '') {
                    showValidationMsg($(this).find('td:eq(0) input[type=text]'), true, 'Field is required');
                    alert("Fill The Container No");
                    error = 1;
                    return false;
                }
                else if (_txtSize === '') {
                    showValidationMsg($(this).find('td:eq(1) input[type=number]'), true, 'Field is required');
                    alert("Fill The Size");
                    error = 1;
                    return false;
                }
                else if (_txtVehicleNo === '') {
                    showValidationMsg($(this).find('td:eq(4) input[type=text]'), true, 'Field is required');
                    alert("Fill The Vehicle No");
                    error = 1;
                    return false;
                }
                else if (_txtRemarksBookingNo === '') {
                    showValidationMsg($(this).find('td:eq(6) input[type=text]'), true, 'Field is required');
                    alert("Fill The Remarks Booking");
                    error = 1;
                    return false;
                }
             
            }
        });


        if (error == 0) {
            var newRowHtml = "";
            newRowHtml += '<tr>';
            newRowHtml += '<td><input type="text" id="CoantinerNo' + index + '"  value=""></td>';
            newRowHtml += '<td><select id="Size' + index + '">';
            newRowHtml += '<option value="20">20</option>';
            newRowHtml += '<option value="40">40</option>';
            newRowHtml += '</select></td>';
            newRowHtml += '<td><input type="number" id="TareWt' + index + '"  value=""></td>';
            newRowHtml += '<td><input type="number" id="Weight' + index + '"  value=""></td>';
            newRowHtml += '<td><input type="text" id="VehicleNo' + index + '"  value=""></td>';
            newRowHtml += '<td><input type="text" id="SealNo' + index + '"  value=""></td>';
            newRowHtml += '<td><input type="text" id="RemarksBook' + index + '"  value=""></td>';
            newRowHtml += '<td style="border: 1px solid #ccc; text-align: center;"><a href="javascript:void(0);" id="btnLRDeleteRow_' + index + '" onclick="LRDeleteRow(this,' + index + ',' + 0 + ')"><i class="fa fa-trash-o delete-row-icon"></i></a></td>';
            newRowHtml += '</tr>';
            $("#TblLorryRequest tbody").append(newRowHtml);

            index++;
        }
    }
    $('#BtnSaveLorryReceipt').on('click', function () {
        debugger;
        var arrayLorryDtl = [];
        var isAnyRowFilled = false;
        var isAnyRowFilledextra = true;
        var headerdata = true;

        var _GRNo = $("#GRNo").val();
        var _PartyName = $("#PartyName").val();
        var _ShippingLine = $('#ShippingLine').val();
        var _StuffingPoint = $("#StuffingPoint").val();


        if (_GRNo === '') {
            showValidationMsg($("#GRNo"), true, 'GRNo is Required.');
            alert("GRNo is Required.");
            headerdata = false;
        } else if (_PartyName === '') {
            showValidationMsg($("#PartyName"), true, 'Party Name is Required.');
            alert("Party Name is Required.");
            headerdata = false;
        } else if (_ShippingLine === '') {
            showValidationMsg($("#ShippingLine"), true, 'Shipping Line is Required.');
            alert("Shipping Line is Required.");
            headerdata = false;
        } else if (_StuffingPoint === '') {
            showValidationMsg($("#StuffingPoint"), true, 'Stuffing Point is Required.');
            alert("Stuffing Point is Required.");
            headerdata = false;
        }


        if (!headerdata) {
            return false;
        }


        $('#TblLorryRequest tbody > tr').each(function () {
            var _txtContainerNo = $(this).find('td:eq(0) input[type=text]').val();
            var _txtSize = $(this).find('td:eq(1) select').val();
            var _txtTareWt = $(this).find('td:eq(2) input[type=number]').val();
            var _txtWeight = $(this).find('td:eq(3) input[type=number]').val();
            var _txtVehicleNo = $(this).find('td:eq(4) input[type=text]').val();
            var _txtSealNo = $(this).find('td:eq(5) input[type=text]').val();
            var _txtRemarksBooking = $(this).find('td:eq(6) input[type=text]').val();

            if (_txtContainerNo !== "" && _txtSize !== "" && _txtVehicleNo !== "" && _txtRemarksBooking !== "") {
                isAnyRowFilled = true;

                var objDtl = {
                    ContainerNo: _txtContainerNo,
                    Size: _txtSize,
                    TareWt: _txtTareWt == "" ? "0" : _txtTareWt,
                    Weight: _txtWeight == "" ? "0" : _txtWeight,
                    VehicleNo: _txtVehicleNo,
                    SealNo: _txtSealNo == "" ? "" : _txtSealNo,
                    RemarksBooking: _txtRemarksBooking
                };
                arrayLorryDtl.push(objDtl);
            }
            else {
                isAnyRowFilled = false;
                alert('Please fill all the details in required row in Lorry Receipt Details before saving.');
                isAnyRowFilledextra = false;
                return false;

            }
        });

        if (isAnyRowFilledextra == true) {
            if (!isAnyRowFilled) {
                alert('Please fill at least one row in Lorry Receipt Details before saving.');
                return false;
            }
            else {
                $('#lstLorryDtl').val(JSON.stringify(arrayLorryDtl));
                return true;
            }
        }
        else
            return false;
    });

    function TransportFromModal() {
        debugger;
        $.ajax({
            url: '/GateOperation/VLDA_GateOperation/GetPortInfoExport',
            type: 'GET',
            dataType: 'JSON',

            success: function (data) {
                debugger;
                if (data != '') {

                    var html = '';
                    var tabvalue = 420;
                    var tab = 0;
                    var u = "_";
                    debugger;
                    // var parties = $('#lstReferenceNumberList').val();
                    $.each(data.Data, function (i, item) {
                        debugger;
                        html += '<li tabindex=' + tabvalue + ' id="' + item.PortId + '" " onclick="SelectTransportFrom(' + item.PortId + ',&quot;' + item.PortName + '&quot;)" onkeypress="SelectPort(' + item.PortId + ',&quot;' + item.PortName + '&quot;)">' + item.PortName + '</li>';
                        tabvalue++;
                    });


                    $('#TransportFromList').html(html);
                }
            }
        });
    }
    function SelectTransportFrom(PortId, PortName) {

        $('#TransportFrom').val(PortName);

        $("#TransportFromModal").modal("hide");
    }
    function TransportToModal() {
        debugger;
        $.ajax({
            url: '/GateOperation/VLDA_GateOperation/GetPortInfoExport',
            type: 'GET',
            dataType: 'JSON',

            success: function (data) {
                debugger;
                if (data != '') {

                    var html = '';
                    var tabvalue = 420;
                    var tab = 0;
                    var u = "_";
                    debugger;
                    // var parties = $('#lstReferenceNumberList').val();
                    $.each(data.Data, function (i, item) {
                        debugger;
                        html += '<li tabindex=' + tabvalue + ' id="' + item.PortId + '" " onclick="SelectTransportTo(' + item.PortId + ',&quot;' + item.PortName + '&quot;)" onkeypress="SelectPort(' + item.PortId + ',&quot;' + item.PortName + '&quot;)">' + item.PortName + '</li>';
                        tabvalue++;
                    });


                    $('#TransportToList').html(html);
                }
            }
        });
    }
    function SelectTransportTo(PortId, PortName) {

        $('#TransportTo').val(PortName);

        $("#TransportToModal").modal("hide");
    }

    function ResetAll()
    {
        debugger;
        $('#DivBody').load('/GateOperation/VLDA_GateOperation/CreateLorryReceipt');
    }

    function GetLorryReceiptEntryList()
    {
        debugger;
        $('#tblEntryDet').html('');
        $('#DivLorryReceiptList').load('/GateOperation/VLDA_GateOperation/GetAllLorryReceiptDetails');
    }
    function RegisterOnSuccess(data) {
        if (data.Status == 1 || data.Status == 2) {
            $('#DivLorryReceiptMsg').html(data.Message);
            $('#BtnSaveLorryReceipt').prop('disabled', true);
            setTimeout(function () {
                clearData();
                $('#DivBody').load('/GateOperation/VLDA_GateOperation/CreateLorryReceipt');
            }, 3000);
        } else {
            $('#DivLorryReceiptMsg').html(data.Message);
        }
    }
    function clearData() {
        $('#DivLorryReceiptMsg').html('');
    }

    function validateGRNo(elem) {
        debugger;
        var inputValue = $('#' + elem.id).val().trim();
        if (inputValue == "") {
            showValidationMsg(elem, true, 'GRNo is required.');
        } else {
            $("#GRNo").removeClass('is-invalid');
            $("#GRNo").parent('div').removeAttr('data-tip');
        }
    }
    function validatePartyName(elem) {
        debugger;
        var inputValue = $('#' + elem.id).val().trim();
        if (inputValue == "") {
            showValidationMsg(elem, true, 'Party Name is required.');
        } else {
            $("#PartyName").removeClass('is-invalid');
            $("#PartyName").parent('div').removeAttr('data-tip');
        }
    }
    function validateShippingLine(elem) {
        debugger;
        var inputValue = $('#' + elem.id).val().trim();
        if (inputValue == "") {
            showValidationMsg(elem, true, 'Shipping Line is required.');
        } else {
            $("#ShippingLine").removeClass('is-invalid');
            $("#ShippingLine").parent('div').removeAttr('data-tip');
        }
    }
    function validateStuffingPoint(elem) {
        debugger;
        var inputValue = $('#' + elem.id).val().trim();
        if (inputValue == "") {
            showValidationMsg(elem, true, 'Stuffing Point is required.');
        } else {
            $("#StuffingPoint").removeClass('is-invalid');
            $("#StuffingPoint").parent('div').removeAttr('data-tip');
        }
    }
</script>


