@model CwcExim.Areas.GateOperation.Models.Ppg_GateExitCBT


<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>CBT Exit Through Gate</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Gate Exit No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GateExitNo, new { @class = "form-control input-sm", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.GateExitNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-2 col-md-offset-1-5 col_cus_2 col_cus_offset_0_5 padding_rt">
                            <label>Gate Exit Date & Time:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.GateExitDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy") })
                            @Html.ValidationMessageFor(m => m.GateExitDateTime, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <div class="input-group clockpicker" data-placement="left" data-align="top">
                                <input type="text" id="time" name="time" class="form-control" value="00:00" readonly="readonly" style="background-color:#fff;z-index:0;" />
                                <input type="hidden" id="EditTime" name="EditTime" value="@ViewBag.strTime" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>CBT No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CBTNo, new { @class = "form-control input-sm", @readonly = "true" })
                            @Html.ValidationMessageFor(m => m.CBTNo, "", new { @class = "Error_Msg" })
                            @Html.HiddenFor(m => m.CFSCode)
                        </div>
                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                            @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5 ">
                            @Html.TextBoxFor(m => m.Size, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Driver Name:</label>
                        </div>
                        <div class="col-md-4-5">
                            @Html.TextBoxFor(m => m.DriverName, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.DriverName, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col-md-offset-2">
                            <label>Contact No:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 ">
                            @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", maxlength = "10", onkeypress = "return AllowOnlyInteger(event)", @readonly = true })
                            @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_top2 SignUp_space_bottom2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Back" onclick="LoadGateExitView()" />
                    </div>

                </div>




            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>






    $(document).ready(function () {
        var editTime = $("#EditTime").val();
        //alert(editTime);
        if (editTime != null && editTime != "") {
            $("#time").val(editTime);
        }
    });


    function LoadGateExitView() {
        debugger;
        $('#DivBody').load('/GateOperation/Ppg_GateExit/CreateCBTGateExit');
    }



</script>











