@model CwcExim.Areas.Export.Models.WFLD_SBAMD

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Sippin Bill Amendment Date</h4>
                    </div>
                    @*<input type="hidden" id="hdnPaymentMode" value="@ViewBag.PaymentMode" />*@
                </div>
                @using (Ajax.BeginForm("UpdateSBNoDate", "VLDA_CWCExport", new AjaxOptions
                {

                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure"
                }, new { id = "frmCCINEntry" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("hdnSearchValue")
                    @*@Html.HiddenFor(m => m.InvoiceId)
                        @Html.HiddenFor(m => m.PartySDBalance)
                        @Html.HiddenFor(m => m.IsInGateEntry)
                        @Html.HiddenFor(m => m.OTEHr)*@


                    <div class="panel with-nav-tabs panel-primary cwc_panel" style="margin-top: 15px;">

                        <div class="panel-heading cwc_panel_heading">
                            <ul class="nav nav-tabs" id="DivTabs">
                                <li class="active"><a href="#DivCCIN" data-toggle="tab" onclick="SetActiveTab('CCIN')">Sippin Bill Amendment Date</a></li>
                                @*<li><a href="#DivInvoice" data-toggle="tab" onclick="SetActiveTab('Invoice')">Invoice</a></li>*@
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="DivCCIN">
                                    <div id="DivJOHdr" class="Form_Space_bottom">


                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>SB No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.HiddenFor(m => m.SBId)
                                                    @Html.TextBoxFor(m => m.SBNo, new { @class = "form-control input_sm", tabindex = 3, autofocus = "", @onkeydown = "PopupActivate('SBNoModal');" })
                                                    @Html.ValidationMessageFor(m => m.SBNo, "", new { @class = "Error_Msg" })
                                                    <span class="search" id="ShippingBillLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBNoModal"></i></span>
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>SB Old  Date:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    @Html.TextBoxFor(m => m.OLDSBDATE, new { @class = "form-control input_sm", tabindex = 4 ,@id= "OLDSBDATE" })
                                                    @Html.ValidationMessageFor(m => m.OLDSBDATE, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>SB Date:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                                    @Html.TextBoxFor(m => m.SBDate, new { @class = "form-control input_sm", @readonly = true, tabindex = 4 })
                                                    @Html.ValidationMessageFor(m => m.SBDate, "", new { @class = "Error_Msg" })

                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                </div>
                                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-3 col-md-2">
                            <input type="button" id="btnSave" class="btn log_Btn_sm" onclick="return validate();" value="Save" tabindex=24 />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllField()" tabindex=25 />
                        </div>
                        @*<div class="col-md-2">
                                <input type="button" id="btnPrint" class="btn log_Btn_sm" value="Print" onclick="PrintInvoice()" disabled style="display:none;" tabindex  = 24 />
                            </div>*@
                        <div class="col-md-2">
                            @*<input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintCCINSLIP()" id="btnPrint" disabled />*@
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row">
                    <div class="col-md-2">
                        <input type="button" id="BtnCCINEntryLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadSBNOEntryList()" tabindex=26 />
                    </div>
                   
                </div>
                @*<div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="tblEntryDet"></div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-12">
                        <div id="ListOfSBNO"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade mTabindex" id="SBNoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="SBNoModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipbill</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Shipbill" id="SBNobox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchShipbill()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="10" width="100%">ShippingbillNo</th>

                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_sb">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                        <tbody>
                            @{
                                if (ViewBag.ListOfSBNo != null)
                                {
                                    var tabvalue = 401;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.ListOfSBNo)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="selectSBNo('@item.SBId')" onclick="selectSBNo('@item.SBId')">
                                            <td colspan="10" width="100%" class="txt_wrp">@item.SBNo</td>

                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.StateShipbill != null && Convert.ToBoolean(ViewBag.StateShipbill) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreSb()" class="btn log_Btn_sm" id="btnLoadMorePayee">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreSb()" class="btn log_Btn_sm" id="btnLoadMorePayee" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseShipbill()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_3').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_6').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_sb').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        // document.getElementById('CargoType').value = "2";
        //debugger;
        //var ListOfPort =JSON.parse($('#hdnListOfPort').val());
        //var returnedData = $.grep(ListOfPort, function (element, index) {
        //    return element.PortName == "ICD PPG";
        //});
        //document.getElementById('PortOfLoadingName').value = $('#hdnPortName').val();  //returnedData[0].PortId;
        //document.getElementById('PortOfLoadingId ').value = $('#hdnPortId').val();  //returnedData[0].PortName;]
        GenerateEntryTable();
       // $('#PortOfLoadingName').val($('#hdnPortName').val());  //returnedData[0].PortId;
       // $('#PortOfLoadingId').val($('#hdnPortId').val());
        // Decimal Number
        $("#Weight,#FOB").keydown(function (e) {
            if (e.keyCode == 190 || e.keyCode == 110) {
                if ($(this).val().indexOf('.') >= 0) {
                    e.preventDefault();
                }
            }
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Integer Number
        $("#Package").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Text Box
        $("#SBNo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        // Text Box with space
        $("#ConsigneeName").keydown(function (e) {
            //alert(e.keyCode);
            // Allow: backspace, delete, tab, escape, enter and .
            if (e.keyCode == 32) {
                return true;
            }
            else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        // Text Box with space and (),./-&|
        $("#ConsigneeAdd").keydown(function (e) {
            //alert(e.keyCode);
            // Allow: backspace, delete, tab, escape, enter and .
            if (e.keyCode == 32 || e.keyCode == 48 || e.keyCode == 57 || e.keyCode == 188 || e.keyCode == 191 || e.keyCode == 189 || e.keyCode == 55 || e.keyCode == 220) {
                return true;
            }
            else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        // LoadCCINEntryList();

        if ($('#Id').val() > 0) {
            //debugger;
         //   GetStateList();
           // GetCityList();
            //debugger;
            $('#btnReset').attr('disabled', true);
            if ($('#IsInGateEntry').val() == 1) {
                $('#btnSave').attr('disabled', true);
                $('#btnPrint').attr('disabled', false);
            }
            else {
                $('#btnSave').attr('disabled', false);
                $('#btnPrint').attr('disabled', true);
            }
            ////  ChargeDetails();
            var OTEHr = Number($('#OTEHr').val());
            $('#OTHr').val(OTEHr);
            if (OTEChargeName == "Over Time Export") {
                //CalcTax(OTEChargeId);
                CalcTaxForEdit(OTEChargeId);
            }
        }
    });

    $('#CCINDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="CCINDate"]').html('');
        },
        onSelect: function () {
            $('#SBNo').focus();
        }
    });
    $('#CargoInvDt').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {

        }
    });
    $('#SBDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="SBDate"]').html('');
        },
        onSelect: function () {
            $('#SBType').focus();
        }
    });


    $("#SBDate").on('keypress', function () {

        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            $("#SBDate").datepicker("show");
        }
    });


    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#Exporterbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstExporter > li').show();
        } else {
            $('#lstExporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#PackUQCbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstPackUQC > li').show();
        } else {
            $('#lstPackUQC > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    //$('#lstExporter li').on("click", function () {
    //    $('#ExporterName').val($(this).text());
    //    $('#ExporterId').val($(this).attr('id'));
    //    $("#ExporterModal").modal("hide");
    //    $('[data-valmsg-for="ExporterName"]').html('<span></span>');
    //});
    $('#CHAbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCHA > li').show();
        } else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    //$('#lstCHA li').on("click", function () {
        //$('#CHAName').val($(this).text());
        //$('#CHAId').val($(this).attr('id'));
        //$("#CHAModal").modal("hide");
        //$('[data-valmsg-for="CHAName"]').html('<span></span>');
    //});
    $('#Portbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstPort > li').show();
        } else {
            $('#lstPort > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    //$('#lstPort li').on("click", function () {
        //$('#PortOfLoadingName').val($(this).text());
        //$('#PortOfLoadingId').val($(this).attr('id'));
        //$("#PortModal").modal("hide");
   // });
    $('#PortDestbox').keyup(function () {
        //debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstDestPort > li').show();
        } else {
            $('#lstDestPort > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });





    $('#CommodityBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#tbleCommodity tbody > tr').show();
        } else {
            $('#tbleCommodity tbody > tr').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    //$('#tbleCommodity tbody > tr').on("click", function () {
        //$('#PortOfLoadingName').val($(this).text());
        //$('#PortOfLoadingId').val($(this).attr('id'));
        //$("#PortModal").modal("hide");
    //});


   // $('#lstDestPort li').on("click", function () {
        ////debugger;
        //$('#PortOfDestName').val($(this).text());
        //$('#PortOfDestId').val($(this).attr('id'));
        //$("#PortDestModal").modal("hide");
    //});

    function SelectCommodity(CommodityId, CommodityName, CommodityType) {
        $('#CommodityName').val(CommodityName);
        $('#CommodityId').val(CommodityId);
        $('#CargoType').val(CommodityType);
        $('#CommodityModal').modal('hide');
        $('#CommodityBox').val('');
        LoadCommodity();
        $('#CargoType').focus();
    }



    //function SelectCom(CommodityId, CommodityName, CommodityType) {

    //    //var CharCode;
    //    //if (window.event) {
    //    //    CharCode = window.event.keyCode;
    //    //}
    //    //else {
    //    //    CharCode = evt.which;
    //    //}

    //    //if (CharCode == 13) {
    //        $('#CommodityName').val(CommodityName);
    //        $('#CommodityId').val(CommodityId);
    //        $('#CargoType').val(CommodityType);
    //        $('#CommodityModal').modal('hide');
    //        $('#CommodityBox').val('');
    //        $('#CargoType').focus();
    //        LoadCommodity();
    //   // }
    //}


    function LoadMoreCommodity() {
        //debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    //debugger;
                    var html = '';
                    tabvalue = 502;
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        //debugger;
                        html += '<tr tabindex=' + tabvalue + ' onkeypress="SelectCommodity(' + item.CommodityId + ',&quot;' + item.CommodityName + '&quot;,&quot;' + item.CommodityType + '&quot;);" onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    var Page = 0;
    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    //debugger;
                    var html = '';
                    tabvalue = 502;
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        //debugger;
                        html += '<tr tabindex=' + tabvalue + ' onkeypress="SelectCommodity(' + item.CommodityId + ',&quot;' + item.CommodityName + '&quot;,&quot;' + item.CommodityType + '&quot;);"  onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                        tabvalue++;
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Export/VLDA_CWCExport/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';



                        tabvalue = 502;
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            //html += '<tr tabindex=' + tabvalue + ' onkeypress="SelectCommodity(' + item.CommodityId + ',&quot;' + item.CommodityName + '&quot;,&quot;' + item.CommodityType + '&quot;);"  onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + item.CommodityType + '&quot;)" onkeypress="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';

                            tabvalue++;
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
        $('#CommodityName').focus();
    }


    $('#SBNobox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstSBNo > li').show();
        } else {
            $('#lstSBNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });



    $('#Partybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstParty > li').show();
        } else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    //$('#lstParty li').on("click", function () {
       // //debugger;
        //var Party = $(this).text();
        //var PartyName = Party.split('_');
        //$('#PartyName').val(PartyName[0]);
        //$('#PartyId').val($(this).attr('id'));
        //$("#PartyModal").modal("hide");
        //ProcessInvoice();
    //});

    var OTEChargeId = 0;
    var OTEChargeName = '';
    function ProcessInvoice() {

        if ($('#Weight').val() != null && $('#Weight').val() != '' && $('#FOB').val() != null && $('#FOB').val() != '') {
            if ($('#Weight').val() > 0 && $('#FOB').val() > 0) {

                $.ajax({
                    url: '/Export/VLDA_CWCExport/GetCCINCharges',
                    type: 'Get',
                    data: { CCINEntryId: $('#Id').val(), PartyId: $('#PartyId').val(), Weight: $('#Weight').val(), FOB: $('#FOB').val(), CargoType: $('#CargoType').val(), NoOfVehicles: $('#NoOfVehicles').val() },
                    async: false,
                    dataType: 'JSON',
                    success: function (data) {
                        //debugger;
                        if (data.Status == 1) {

                            $('#TotalCGST').val(data.Data.TotalCGST);
                            $('#TotalSGST').val(data.Data.TotalSGST);
                            $('#TotalIGST').val(data.Data.TotalIGST);
                            $('#IsPartyStateInCompState').val(data.Data.IsPartyStateInCompState);
                            $('#PartySDBalance').val(data.Data.PartySDBalance);
                            $('#PaymentMode').val(data.Data.PaymentMode);
                            // $('#PaymentSheetModelJson').val(data.Data.PaymentSheetModelJson);
                            // var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));

                            var html = '';
                            var html1 = '';
                            //debugger;
                            var HTCharge = $.grep(data.Data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                            $.each(HTCharge, function (i, item) {
                                //  var result = $.grep(data.ActualApplicable, function (e) { return e == item.Clause; });
                                // if (result.length == 0) {
                                html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                                // }
                                //  else {
                                //      html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" checked data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                                //  }
                                html1 += '<li id="liNHT' + i + '"><div class="boolean-container"><input id="chkNHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkNHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                            });
                            $('#lstHT').html(html);
                            $('#lstNewHT').html(html1);


                            //debugger;
                            var CWCCharge = $.grep(data.Data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                            html = '';
                            var TotalCWC = 0;
                            $.each(CWCCharge, function (i, item) {
                                TotalCWC += item.Total;
                                html += '<tr><td>' + item.ChargeName + '</td>'  //+ '[' + item.ChargeType + ']'
                                        + '<td><input readonly=true class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" /></td>'
                                        + '<td><input readonly=true class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                        + '<td><input readonly=true class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input readonly=true class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                        + '<td><input readonly=true class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input readonly=true class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                            });
                            $('#tblCWCCharges tbody').html(html);
                            $('#TOTCWCChrg').val((TotalCWC).toFixed(2));












                            /*

                                                        html = '';

                                                        $.each(rawJson, function (i, item) {
                                                            //debugger;
                                                            if (item.ChargeName == "Over Time Export") {
                                                                OTEChargeId = item.ChargeId;
                                                                OTEChargeName = item.ChargeName;
                                                                html += '<tr><td>' + item.ChargeName + '</td>'
                                                                        + '<td>Hour <input class="text-right" id="OTHr" type="text" value="0" style="width:30%" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)"/>&nbsp;<input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Rate.toFixed(2) + '" style="width:50%" readonly/></td>'
                                                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + Math.ceil(item.Total) + '" readonly /></td></tr>';
                                                            }
                                                            else {

                                                                html += '<tr><td>' + item.ChargeName + '</td>'
                                                                        + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + Math.ceil(item.Total) + '" readonly /></td></tr>';
                                                            }


                                                        });
                                                        $('#tblCWCCharges tbody').html(html);

                                                        CalcInvoice();
                                                        */
                        }
                        else {
                            $('#PaymentSheetModelJson').val('');
                            $('#tblContainer tbody').html('');
                            $('#tblCWCCharges tbody').html('');
                            $('#tblHTCharges tbody').html('');
                            $('#TOTCWCChrg').val('');
                            $('#TOTHTChrg').val('');
                            $('#AllTotal').val('');
                            $('#RoundUp').val('');
                        }
                    }
                });
            }
            else {
                $('#PartyName').val('');
                $('#PartyId').val(0);
                alert("Please enter greater than 0 in Weight and FOB both.");
                return false;
            }
        }
        else {
            $('#PartyName').val('');
            $('#PartyId').val(0);
            alert("Please enter value in Weight and FOB both.");
            return false;
        }
    }
    function BindHnTCharges() {
        //debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        // var rawJson = $('#PaymentSheetModelJson').val();
        rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
        var rowCount = rawJson.lstPostPaymentChrg.length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        //var htcharge = [];
        for (var i = 0; i < $("#lstHT li").length; i++) {
            if ($('#chkAHT' + i).prop("checked")) {
                var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                //htcharge.push(item);
                rawJson.lstPostPaymentChrg.push(item);
                TotalHT += item.Total;
                htWithOutTax += item.Amount;
                html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                    + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                rowCount += 1;
            }
        }
        $('#tblHTCharges tbody').html(html);
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        $('#rest-charge-details').removeClass('hide');
        $('#btnSave').removeAttr('disabled');
        rawJson.HTTotal = TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + TotalHT;
        rawJson.HTAmtTotal = htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        $('#btnAddExtraHT').removeAttr('disabled');

        $('#btnShowHT').prop('disabled', true);
        $('#btnsave').removeAttr('disabled');

        CalcTax(1);
    }

    var indx = 0;
    function AddHnTCharges() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var rowCount = rawJson.lstPostPaymentChrg.length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        for (var i = 0; i < $("#lstNewHT li").length; i++) {
            if ($('#chkNHT' + i).prop("checked")) {
                $('#chkNHT' + i).removeAttr('checked');
                var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                item.ChargeId = item.ChargeId + '_' + indx;
                rawJson.lstPostPaymentChrg.push(item);
                TotalHT += item.Total;
                htWithOutTax += item.Amount;
                html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                    + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                rowCount += 1;
                indx += 1;
            }
        }
        $('#tblHTCharges tbody').append(html);
        rawJson.HTTotal += TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal += htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        //debugger;
        CalcTax(1);
    }

    function RemoveHT(idx) {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        rawJson.lstPostPaymentChrg.splice(idx, 1);
        var rowCount = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; }).length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
        $.each(HTCharge, function (i, item) {
            TotalHT += item.Total;
            htWithOutTax += item.Amount;
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
            rowCount += 1;
        });
        $('#tblHTCharges tbody').html(html);
        rawJson.HTTotal = TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + TotalHT;
        rawJson.HTAmtTotal = htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(1);
    }

    function CalcTax(elem) {
        //debugger;
        var TaxType = 'Tax';
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var MAmt = Number($('#' + elem).val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        if (TaxType == "Tax") {

            if ($('#IsPartyStateInCompState').val() == "true") {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }
            /*

            if (rawJson.PartyStateCode == rawJson.CompStateCode) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }*/
        }
        $('#IGSTA' + elem).val((MAmt * (IP / 100)).toFixed(2));
        $('#CGSTA' + elem).val((MAmt * (CP / 100)).toFixed(2));
        $('#SGSTA' + elem).val((MAmt * (SP / 100)).toFixed(2));
        $('#TOT' + elem).val((MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100))).toFixed(2));
        var selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId == elem; })[0];

        if (selectedItem == undefined)
            selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId + '_' + (indx - 1) == elem; })[0];

        selectedItem.Amount = MAmt;
        //selectedItem.IGSTPer = IP;
        selectedItem.IGSTAmt = MAmt * (IP / 100);
        //selectedItem.CGSTPer = CP;
        selectedItem.CGSTAmt = MAmt * (CP / 100);
        //selectedItem.SGSTPer = SP;
        selectedItem.SGSTAmt = MAmt * (SP / 100);
        selectedItem.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));

        var TotalCWC = 0;
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        rawJson.TotalCGST = 0;
        rawJson.TotalSGST = 0;
        rawJson.TotalIGST = 0;
        rawJson.TotalAmt = 0;

        $.each(CWCCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalCWC += item.Total;
        });
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
        //$('#TOTCWCTDS').val(((TotalCWC * 10) / 100).toFixed(2));
        rawJson.CWCTotal = TotalCWC;
        var TotalHT = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

        $.each(HTCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalHT += item.Total;
        });
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        //$('#TOTHTTDS').val(((TotalHT * 2) / 100).toFixed(2));
        rawJson.HTTotal = TotalHT;
        $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));
        rawJson.AllTotal = (TotalCWC + TotalHT);
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcInvoice();
    }

    function CalcInvoice() {
        var Total = Number($('#AllTotal').val());
        var cwcTDS = 0;// Number($('#TOTCWCTDS').val());
        var htTDS = 0;//Number($('#TOTHTTDS').val());
        var grandTDS = 0;//cwcTDS + htTDS;
        //$('#TotalTDS').val(grandTDS.toFixed(2));
        var RoundUp = Number($('#RoundUp').val());
        $('#InvoiceValue').val((Total - (grandTDS + RoundUp)).toFixed(2));
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        console.clear();
        console.log(JSON.stringify(rawJson));
        //rawJson.AllTotal = Total;
        rawJson.CWCTDS = cwcTDS;
        rawJson.HTTDS = htTDS;
        rawJson.TDS = grandTDS;
        rawJson.RoundUp = RoundUp;
        rawJson.InvoiceAmt = rawJson.AllTotal - (rawJson.TDS + rawJson.RoundUp);

        rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal);
        var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
        rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);

        $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
        $('#RoundUp').val(round.toFixed(2));
        $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
        $('#TotalCGST').val(rawJson.TotalCGST.toFixed(2));
        $('#TotalSGST').val(rawJson.TotalSGST.toFixed(2));
        $('#TotalIGST').val(rawJson.TotalIGST.toFixed(2));

        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
    }




    function ClearInvoice() {
        $('#PaymentSheetModelJson').val('');
        $('#tblCWCCharges tbody').html('');
        $('#TotalCGST').val(0);
        $('#TotalSGST').val(0);
        $('#TotalIGST').val(0);
        $('#AllTotal').val(0);
        $('#InvoiceValue').val(0);
        $('#RoundUp').val(0);
        $('.search').css('display', 'block');
        $('#Weight').attr('readonly', false);
        $('#FOB').attr('readonly', false);

    }

    function ResetInvoice() {
        //debugger;
        $('#PaymentSheetModelJson').val('');
        $('#tblCWCCharges tbody').html('');
        $('#TotalCGST').val(0);
        $('#TotalSGST').val(0);
        $('#TotalIGST').val(0);
        $('#AllTotal').val(0);
        $('#InvoiceValue').val(0);
        $('#RoundUp').val(0);
        $('.search').css('display', 'block');
        $('#PartyName').val('');
    }

    var ActiveTab = 'CCIN';

    function SetActiveTab(activeTab) {
        ActiveTab = activeTab;
    }

    function validate() {
        //debugger;

        var IsValid = true;

        if ($('#SBNo').val() == null || $('#SBNo').val() == '') {
            IsValid = false;
        }
        if ($('#SBDate').val() == null || $('#SBDate').val() == '') {
            IsValid = false;
        }
        if ($('#OLDSBDATE').val() == null || $('#OLDSBDATE').val() == '') {
            IsValid = false;
        }

        if (IsValid) {          

                if (confirm("Are You Sure You Want To Save?")) {
                    $('#btnSave').attr('disabled', true);
                    $('#btnSave').submit();
                }
        }
        else {

                alert("Please fill all the mandatory fields in Shipp Bill Amd Date");
                return false;
            }
     }



    function LoadSBNOEntryList() {
        debugger;
      
        $('#ListOfSBNO').load('/Export/VLDA_CWCExport/ListOfSBNO');
       // $('#DivPallatisationList').load('/Export/WFLD_CWCExport/GetAllPallatisationList?&InvoiceDate=' + InvoiceDate + '&ShippingBillNo=' + ShippingBillNo + "");
    }

    function SearchSBNo() {
        debugger;
        var SearchValue = $('#SearchSBNo').val().replace( /\s/g, '');
        var SearchCCIN = $('#SearchCCINNo').val().replace( /\s/g, '');

        $('#hdnSearchValue').val(SearchValue);
        $('#tblEntryDet').html('');

        if ($('#SearchSBNo').val() == "" && $('#SearchCCINNo').val() == "")
            alert("Enter CCIN No or Shipping Bill No to Search");
            //$('#CCINEntryList').load('/Export/WFLD_CWCExport/ListOfCCINEntry?SearchValue=' + SearchValue + 'SearchCCIN=' + SearchCCIN);
        else {
            $('#CCINEntryList').load('/Export/VLDA_CWCExport/ListOfCCINEntry?&SearchValue=' + SearchValue + '&SearchCCIN=' + SearchCCIN);
        }
    }
    function OnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
            $('#CCINNo').val(data.Data);
            //setTimeout(ResetAllField, 3000);
        //    $('#InvoiceNo').val(data.Data.split('#')[1]);
            $('#DivErrMsg').html('');
            $('#btnReset').attr('disabled', false);
            //$('#btnPrint').removeAttr('disabled');
            $('#btnPrint').prop("disabled", false);
        //    $('#btnSave').attr('disabled', true);
          //  $('#btnPrint').attr('disabled', false);
             //setTimeout(ResetAllField, 3000);
            // LoadCCINEntryList();
        }
        else {
            $('#DivErrMsg').html(data.Message);
        }
         setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 3000);
    }

    function FormattedCurrentDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var todayDate = dd + '/' + mm + '/' + yyyy;

        return todayDate;
    }
    function OnFailure() { }

    function ResetAllField() {
        $('#DivBody').load('/Export/VLDA_CWCExport/AmendmentDate');
    }

    function PrintInvoice() {
        ////debugger;

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "VLDA_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: $('#InvoiceNo').val(),
                InvoiceModule: 'CCIN',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'CCIN Entry',
            },
            success: function (data) {
                $('#DivErrMsg,#DivSucMsg').html('');
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }


    function GenerateEntryTable() {
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>CCIN No</th><th>CCIN Date</th><th>SB No</th><th>SB Date</th><th class="text-center">Edit</th><th class="text-center">Delete</th><th class="text-center">Print</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#tblEntryDet').html(tablehtml);
    }


    /*$('#Partybox').on('keyup', function (e) {
    function Partyboxkeyup(e)
    {
        if ((e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 13 || e.keyCode == 46 || e.keyCode == 47)
        {
            SearchPartyByPartyCode();
        }
    }
    });*/
        var Page = 0;

        function LoadSB() {
            debugger;
            Page = 0;
            $.ajax({
                url: '/Export/VLDA_CWCExport/LoadSbLists',
                type: 'GET',
                data: { sb: "", Page: Page },
                success: function (data) {
                    if (data.Status == 1) {
                        debugger;
                        var html = '';
                        var tab = 401;
                        $.each(data.Data.LstSB, function (item, elem) {
                            html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="selectSBNo(' + elem.SBId + ')" onclick="selectSBNo( ' + elem.SBId + ')"><td colspan="8" width="80%" class="txt_wrp">' + elem.SBNo + '</td></tr>';
                        });

                        $('#tbleParty tbody').html(html);

                        if (data.Data.State == true)
                            $('#btnLoadMorePayee').prop('disabled', false);
                        else $('#btnLoadMorePayee').prop('disabled', true);
                    }
                }
            });
        }
        var Page = 0;
        function LoadMoreSb() {
            debugger;
            $.ajax({
                url: '/Export/VLDA_CWCExport/LoadSbLists',
                type: 'GET',
                data: { sb: "", Page: Page + 1 },
                success: function (data) {
                    if (data.Status == 1) {
                        debugger;
                        var html = '';
                        var tab = 401;
                        $.each(data.Data.LstSB, function (item, elem) {
                            html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="selectSBNo(' + elem.SBId + ')" onclick="selectSBNo( ' + elem.SBId + ')"><td colspan="8" width="80%" class="txt_wrp">' + elem.SBNo + '</td></tr>';
                        });
                        if (Page == -1)
                            $('#tbleParty tbody').html(html);
                        else
                            $('#tbleParty tbody').append(html);
                        Page++;

                        debugger;
                        if (data.Data.State == true)
                            $('#btnLoadMorePayee').prop('disabled', false);
                        else $('#btnLoadMorePayee').prop('disabled', true);
                    }
                }
            });
        }
        /*$('#Partybox').on('keyup', function (e) {
        function Partyboxkeyup(e)
        {
            if ((e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 13 || e.keyCode == 46 || e.keyCode == 47)
            {
                SearchPartyByPartyCode();
            }
        }
        });*/
        function SearchShipbill() {
            debugger;
            if ($('#SBNobox').val()!= '') {
                $.ajax({
                    url: '/Export/VLDA_CWCExport/SearchShipbill',
                    type: 'GET',
                    data: { sb: $('#SBNobox').val() },
                    success: function (data) {
                        if (data.Status == 1) {
                            var html = '';
                            var tab = 401;
                            $.each(data.Data.LstSB, function (item, elem) {
                                html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="selectSBNo(' + elem.SBId + ')" onclick="selectSBNo( ' + elem.SBId + ')"><td colspan="8" width="80%" class="txt_wrp">' + elem.SBNo + '</td></tr>';
                            });
                            $('#tbleParty tbody').html('');
                            $('#tbleParty tbody').html(html);
                            $('#btnLoadMorePayee').prop('disabled', true);
                            Page = -1;
                        }
                        else {
                            $('#tbleParty tbody').html('');
                            Page = -1;
                            $('#btnLoadMorePayee').prop('disabled', false);
                        }

                    }
                });
            }
            else
                LoadSB();
        }




    function CloseShipbill() {
        $('#SBNobox').val('');
        $("#SBNoModal").modal("hide");
        LoadSB();
        // $('#PartyName').focus();
    }

    function selectSBNo(id) {
        debugger;
        $('#SBId').val(id);
        if ($('#SBId').val() > 0) {

            $.ajax({
                url: '/Export/VLDA_CWCExport/GetSBNoDetailsAmdBySBId',
                type: 'Get',
                data: { SBId: $('#SBId').val() },
                async: false,
                success: function (data) {
                    if (data != null) {
                        //debugger;
                        $('#SBNo').val(data.SBNo);
                        $('#OLDSBDATE').val(data.SBDate);             

                    }
                }
            });
        }

        $("#SBNoModal").modal("hide");
        $('[data-valmsg-for="SBNo"]').html('<span></span>');
    }

  

    function SBNoModalClose() {
        $("#SBNoModal").modal("hide");
        $('#SBNobox').val('');
        $('#SBNo').focus();
    }

    function ChaNameSerach() {
        //debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/GetCHAName',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                //debugger;
                if (data != '') {
                    //$('#hdnShippingLineList').val(data);
                    var EcJson = JSON.parse(data);
                    var html = '';
                    tabvalue = 102;
                    $.each(EcJson, function (i, item) {
                        html += '<li tabindex=' + tabvalue + ' id="' + item.CHAEximTraderId + '" onkeypress="selectCHA(' + item.CHAEximTraderId + ',&quot;' + item.CHAName + '&quot;);" onclick="selectCHA(' + item.CHAEximTraderId + ',&quot;' + item.CHAName + '&quot;);">' + item.CHAName + '</li>';
                        tabvalue++;
                    });
                    $('#lstCHA').html(html);
                }
            }
        });
    }



    function InvParty() {
        //debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/GetInvParty',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                //debugger;
                if (data != '') {
                    //$('#hdnShippingLineList').val(data);
                    var EcJson = JSON.parse(data);
                    var html = '';
                    var tab = 401;
                    $.each(EcJson, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' id="' + item.PartyId + '" onkeypress="selectInvName(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);" onclick="selectInvName(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);">' + item.PartyName + '</li>';
                    });
                    $('#lstParty').html(html);
                }
            }
        });
    }
    function selectInvName(id, Name) {

        $('#PartyName').val(Name);
        $('#PartyId').val(id);
        $("#PartyModal").modal("hide");
        ProcessInvoice();
    }

    function PartyModalClose() {
        $("#PartyModal").modal("hide");
        $('#PartyName').focus();
        $('#Partybox').val('');
    }








    //function selectDest(id, Name) {

    //    //var CharCode;
    //    //if (window.event) {
    //    //    CharCode = window.event.keyCode;
    //    //}
    //    //else {
    //    //    CharCode = evt.which;
    //    //}
    //    //if (CharCode == 13) {
    //        $('#PortOfDestName').val(Name);
    //        $('#PortOfDestId').val(id);
    //        $("#PortDestModal").modal("hide");
    //        $('#CommodityName').focus();
    //    //}
    //}


    //function selectPortL(id, Name) {

    //    //var CharCode;
    //    //if (window.event) {
    //    //    CharCode = window.event.keyCode;
    //    //}
    //    //else {
    //    //    CharCode = evt.which;
    //    //}
    //    //if (CharCode == 13) {
    //        $('#PortOfLoadingName').val(Name);
    //        $('#PortOfLoadingId').val(id);
    //        $("#PortModal").modal("hide");
    //        $('#NoOfVehicles').focus();
    //    //}
    //}
    function selectPortLoad(id, Name) {
        $('#PortOfLoadingName').val(Name);
        $('#PortOfLoadingId').val(id);
        $("#PortModal").modal("hide");
        //$('#Package').focus();
        $('#PackUQCDescription').focus();
    }

    function PortModalClose() {
        $("#PortModal").modal("hide");
        $('#PortOfLoadingName').focus();
        $('#Portbox').val('');
    }


    function selectShipping(id) {
        //debugger;

        //var CharCode;
        //if (window.event) {
        //    CharCode = window.event.keyCode;
        //}
        //else {
        //    CharCode = evt.which;
        //}
        //if (CharCode == 13) {
            $('#ShippingLineId').val(id);

            var parties = JSON.parse($('#hdnShippingLineList').val());
            var GodownId = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownId;
            $('#GodownId').val(0);

            var GodownName = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownName;
            var ShipName = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].ShippingLineName;

            // $('#GodownName').val(GodownName);
            $('#ShippingLineName').val(ShipName);
            $("#ShippingLineModal").modal("hide");
            $('#CHAName').focus();
       // }
    }

    function selectShippingBill(id) {
        //debugger;

        $('#ShippingLineId').val(id);

        var parties = JSON.parse($('#hdnShippingLineList').val());
        var GodownId = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownId;
        $('#GodownId').val(0);

        var GodownName = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownName;
        var ShipName = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].ShippingLineName;

       // $('#GodownName').val(GodownName);
        $('#ShippingLineName').val(ShipName);
        $("#ShippingLineModal").modal("hide");
        $('#CHAName').focus();
    }

    function ShippingLineModalClose() {
        $('#ShippingLineModal').modal('hide');
        $('#ShippingLineName').focus();
        $('#ShippingLinebox').val('');
    }
    //function selectChName(id, Name) {
    //    $('#CHAName').val(Name);
    //    $('#CHAId').val(id);
    //    $("#CHAModal").modal("hide");
    //    $('[data-valmsg-for="CHAName"]').html('<span></span>');
    //}
    $('.mTabindex').keydown(function (e) {
        ////debugger;
        var $focusable = $(this).find("[tabindex]:not([tabindex='-1'])");
        if ($focusable.last().is(":focus") && !e.shiftKey && e.key == "Tab") {
            e.preventDefault();
            $focusable.first().focus();
        }
        else
            if ($focusable.first().is(":focus") && e.shiftKey && e.key == "Tab") {
                e.preventDefault();
                $focusable.last().focus();
            }
    });


    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };


    $('#SBNobox').keyup(function () {
        SearchShipbill()
        var Page = 0;
    });
    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Export/Dnd_CWCExport/LoadCCINShippingLine',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.LstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)" onkeypress="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function SearchByPartyCode() {
        debugger;
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Export/Dnd_CWCExport/SearchCCINShippingLineByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                       var tabvalue = 202;
                        $.each(data.Data.LstShippingLine, function (item, elem) {
                            debugger;
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)" onkeypress="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                            tabvalue++;
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    function SelectShippingLine(ShippingLineId, ShippingLineName, GodownId, GodownName) {
        debugger;
        $('#ShippingLineName').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        $('#GodownId').val(GodownId);
        $('#GodownName').val(GodownName);
        $("#ShippingLineModal").modal("hide");
        $('#ShpngLinebox').val('');
        $('[data-valmsg-for="ShippingLineName"]').html('<span></span>');
        LoadEximTrader();
        $('#CHAName').focus();

    }
    function LoadEximTrader() {
        Page = 0;
        $.ajax({
            url: '/Export/Dnd_CWCExport/LoadCCINShippingLine',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                   var tabvalue = 202;
                    $.each(data.Data.LstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tabvalue +' onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)" onkeypress="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        tabvalue++;
                    });
                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function CloseEximTrader() {
        $('#ShpngLinebox').val('');
        $("#ShippingLineModal").modal("hide");
        LoadEximTrader();
    }
    var Page = 0;

    function LoadMoreExp() {
        debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadExporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstExp, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)" onkeypress="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ExporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tbleExp tbody').html(html);
                    else
                        $('#tbleExp tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadExp').prop('disabled', false);
                    else $('#btnLoadExp').prop('disabled', true);
                }
            }
        });
    }

    function LoadExporter() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadExporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html='';
                    var tabvalue = 202;
                    $.each(data.Data.lstExp, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)" onkeypress="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ExporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        tabvalue++;
                    });

                    $('#tbleExp tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadExp').prop('disabled', false);
                    else $('#btnLoadExp').prop('disabled', true);
                }
            }
        });
    }

    function SearchExpByPartyCode() {
        debugger;
        if ($('#Expbox').val() != '') {
            $.ajax({
                url: '/Export/VLDA_CWCExport/SearchExporterByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Expbox').val() },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var tabvalue = 202;
                        $.each(data.Data.lstExp, function (item, elem) {
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)" onkeypress="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ExporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                            tabvalue++;
                        });
                        $('#tbleExp tbody').html('');
                        $('#tbleExp tbody').html(html);
                        $('#btnLoadExp').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleExp tbody').html('');
                        Page = -1;
                        $('#btnLoadExp').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadExporter();
    }
    function SelectExporter(ExporterId, ExporterName) {
        debugger;
        $('#ExporterName').val(ExporterName);
        $('#ExporterId').val(ExporterId);
        $("#ExporterModal").modal("hide");
        $('#Expbox').val('');
        $('[data-valmsg-for="ExporterName"]').html('');
        LoadExporter();
        $('#ShippingLineName').focus();
    }
    function CloseExporter() {
        $('#Expbox').val('');
        $("#ExporterModal").modal("hide");
        LoadExporter();
    }


    function LoadMoreCHA() {
        debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadCHAList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstCHA, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)" onkeypress="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tbleCha tbody').html(html);
                    else
                        $('#tbleCha tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadCHA').prop('disabled', false);
                    else $('#btnLoadCHA').prop('disabled', true);
                }
            }
        });
    }

    function LoadCHA() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadCHAList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstCHA, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)" onkeypress="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        tabvalue++;
                    });

                    $('#tbleCha tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadCHA').prop('disabled', false);
                    else $('#btnLoadCHA').prop('disabled', true);
                }
            }
        });
    }

    function SelectCHA(CHAId, CHAName) {
        debugger;
        $('#CHAName').val(CHAName);
        $('#CHAId').val(CHAId);
        $("#CHAModal").modal("hide");
        $('#Chabox').val('');
        LoadCHA();
        $('#ConsigneeName').focus();
    }


    function SearchChaByPartyCode() {
        if ($('#Chabox').val() != '') {
            $.ajax({
                url: '/Export/VLDA_CWCExport/CHASearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Chabox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        var tabvalue = 202;
                        $.each(data.Data.lstCHA, function (item, elem) {
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)" onkeypress="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                           // html += '<tr tabindex=' + tabvalue + ' onkeypress="SelectCommodity(' + item.CommodityId + ',&quot;' + item.CommodityName + '&quot;,&quot;' + item.CommodityType + '&quot;);"  onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                            tabvalue++;
                        });
                        $('#tbleCha tbody').html('');
                        $('#tbleCha tbody').html(html);
                        $('#btnLoadCHA').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCha tbody').html('');
                        Page = -1;
                        $('#btnLoadCHA').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCHA();
    }

    function CloseCHA() {
        $('#Chabox').val('');
        $("#CHAModal").modal("hide");
        LoadCHA();
    }

    function LoadMorePackUQC() {
        debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadPackUQCList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstPackUQC, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tblePackUQC tbody').html(html);
                    else
                        $('#tblePackUQC tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.PackUQCState == true)
                        $('#btnLoadPackUQC').prop('disabled', false);
                    else $('#btnLoadPackUQC').prop('disabled', true);
                }
            }
        });
    }

    function LoadPackUQC() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadPackUQCList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstPackUQC, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                        tabvalue++;
                    });

                    $('#tblePackUQC tbody').html(html);

                    if (data.Data.PackUQCState == true)
                        $('#btnLoadPackUQC').prop('disabled', false);
                    else $('#btnLoadPackUQC').prop('disabled', true);
                }
            }
        });
    }

    function SearchPackUQCByCode() {
        debugger;
        if ($('#PackUQCbox').val() != '') {
            $.ajax({
                url: '/Export/VLDA_CWCExport/SearchPackUQCByCode',
                type: 'GET',
                data: { PartyCode: $('#PackUQCbox').val() },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var tabvalue = 202;
                        $.each(data.Data.lstPackUQC, function (item, elem) {
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                            tabvalue++;
                        });
                        $('#tblePackUQC tbody').html('');
                        $('#tblePackUQC tbody').html(html);
                        $('#btnLoadPackUQC').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tblePackUQC tbody').html('');
                        Page = -1;
                        $('#btnLoadPackUQC').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadPackUQC();
    }
    function SelectPackUQC(PackUQCId, PackUQCDescription, PackUQCCode) {
        debugger;
        $('#PackUQCDescription').val(PackUQCDescription);
        $('#PackUQCCode').val(PackUQCCode);
        $('#PackUQCId').val(PackUQCId);
        $("#PackUQCModal").modal("hide");
        $('#PackUQCbox').val('');
        $('[data-valmsg-for="PackUQCDescription"]').html('');
        LoadPackUQC();
        $('#Package').focus();
    }
    function ClosePackUQC() {
        debugger;
        $('#PackUQCbox').val('');
        $("#PackUQCModal").modal("hide");
        LoadPackUQC();
    }

    $('#CountryBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCountry > li').show();
        else {
            $('#lstCountry > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });







    function PopupActivate(Id) {
        //debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');


            if (Id == "SBNoModal") {
                //debugger;
                ShippingBillSerach();
                $('#SBNobox').focus();
            }
        }

    }
</script>