@model CwcExim.Areas.Export.Models.WFLD_CartingRegister

@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}
@if (ViewBag.RightsList != null)
{
    <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
}
else
{
    <input type="hidden" id="hdnRights" value="" />
}
<style>
    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivAddCartingRegister">
                @using (Ajax.BeginForm("AddEditCartingRegister", "VLDA_CWCExport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "RegisterOnSuccess", OnFailure = "RegisterOnFailure" }, new { @Id = "frmCartingReg" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CartingAppId)
                    @Html.HiddenFor(m => m.XMLData)

                    if (ViewBag.check != null)
                    {
                        <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnShippingLineList" value="" />
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Carting Register</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Carting No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CartingRegisterNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>


                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_3 col_cus_2">
                                <label>Register Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.RegisterDate, new { @class = "form-control input-sm", @onkeyup = "checks()", @onblur = "checkdat()", @maxlength = "10" })
                                @Html.ValidationMessageFor(m => m.RegisterDate, "", new { @class = "Error_Msg" })
                                <div class="field-validation-error" id="Msges" style="background-color:transparent"></div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group clockpicker" data-placement="left" data-align="top">
                                    <input type="text" id="time" name="time" class="form-control" value="00:00" readonly="readonly" style="background-color:#fff;z-index:0;"  />
                                    <input type="hidden" id="EditTime" name="EditTime" value="@ViewBag.strTime" />
                                    <span class="input-group-addon" style="padding:2px 10px;">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CCIN No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('myModal');" })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                                @Html.ValidationMessageFor(m => m.ApplicationNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>CCIN Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Carting Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.DropDownListFor(m => m.CartingType, new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Manual",Value="1"},
                                        new SelectListItem { Text="Mechanical",Value="2"}
                                    },"----Select----",new { })*@
                                @Html.DropDownListFor(m => m.CartingType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Manual",Value="1"},
                                    //new SelectListItem { Text="Mechanical",Value="2"}
                                }, new { })
                                @Html.ValidationMessageFor(m => m.CartingType, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Commodity Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.CommodityType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="General",Value="1"},
                                    new SelectListItem { Text="Heavy/Scrape",Value="2"}
                                }, new { })
                                @Html.ValidationMessageFor(m => m.CommodityType, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('CHAModal');" })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                @Html.HiddenFor(m => m.CHAId, new { @Id = "hdnCHAId" })
                                @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true, @onkeydown = "PopupActivate('ShippingLineModal');" })
                                <span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="shipping" data-target="#ShippingLineModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Godown Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('godownModal');" })
                                <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#godownModal"></i></span>
                                @Html.HiddenFor(m => m.GodownId, new { @Id = "hdnGodownId" })
                                @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Location:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("Location", "", new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('LocationModal');" })
                                <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                                @Html.ValidationMessage("Location", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @maxlength = "1000", @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                                    <div class="boolean-container">
                                        @Html.RadioButton("Space", "ReservedSpace", new { id = "ReservedSpace", @onclick = "OnClickSpace('ReservedSpace')" })
                                        <label for="ReservedSpace"><i class="circle"></i><span>Reserved Space</span></label>
                                    </div>
                                </div>
                                <div class="col-md-2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("Space", "GeneralSpace", new { id = "GeneralSpace", @onclick = "OnClickSpace('GeneralSpace')" })
                                        <label for="GeneralSpace"><i class="circle"></i><span>General Space</span></label>
                                    </div>
                                    @Html.HiddenFor(m => m.SpaceType, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>*@
                    <div id="DivShippingDetails" class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Carting Details</h5>
                            </div>
                        </div>
                        @Html.Hidden("CartingAppDtlId")
                        @Html.Hidden("LocationDetails")
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Shipping Bill No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("ShippingBillNo", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Shipping Bill Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img col_cus_2_5">
                                    @Html.TextBox("ShippingBillDate", "", new { @class = "form-control input-sm", @onkeyup = "SBchecks()", @onblur = "SBcheckdat()", @maxlength = "10" })
                                    @Html.ValidationMessage("ShippingBillDate", new { @class = "Error_Msg" })
                                    <div class="field-validation-error" id="SBMsges" style="background-color:transparent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Exporter:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("Exporter", "", new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('ExporterModal');" })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                    <input type="hidden" id="hdnExporterId" />
                                    @Html.ValidationMessage("Exporter", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("CargoDescription", "", new { @class = "form-control input-sm", @maxlength = 1000 })
                                    @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Commodity:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('CommodityModal');" })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                    <input type="hidden" id="hdnCommodityId" />
                                    @Html.ValidationMessage("Commodity", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_1_5 col_cus_2 padding_rt">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("CargoType", new List<SelectListItem>
                                {

                                    new SelectListItem { Text="HAZ",Value="1"},
                                    new SelectListItem { Text="Non HAZ",Value="2"},
                                     new SelectListItem {Text="ODC",Value="3"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown", @onblur = "ClearErrMsg(this)" })
                                    @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Marks & No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("MarksAndNo", "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("MarksAndNo", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>No of Units:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @maxlength = "9", onkeypress = "return AllowOnlyInteger(event)", @readonly = true })
                                    @Html.ValidationMessage("NoOfUnits", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Actual Unit:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ActualQty", "", new { @class = "form-control input-sm", @id = "ActualQty", @maxlength = "9", onkeypress = "return AllowOnlyInteger(event)", })
                                    @Html.ValidationMessage("ActualQty", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>FOB Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("FOBValue", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("FOBValue", new { @class = "Error_Msg" })
                                    @Html.Hidden("FOBValue1")
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Pkg Type(UOM):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("PkgType", new List<SelectListItem>
                               {
                                   new SelectListItem { Text="Pallets",Value="Pallets"},
                                   new SelectListItem { Text="Box",Value="Box"},
                                   new SelectListItem { Text="Rolls",Value="Rolls"},
                                   new SelectListItem { Text="Drums",Value="Drums"},
                                   new SelectListItem { Text="Bags",Value="Bags"},
                                   new SelectListItem { Text="Case",Value="Case"},
                                   new SelectListItem { Text="Cartoon",Value="Cartoon"}
                               }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("PkgType", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Weight (Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Weight", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)", @readonly = true })
                                    @Html.ValidationMessage("Weight", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Gross Weight (Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ActualWeight", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal()" })
                                    @Html.ValidationMessage("ActualWeight", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top hidden">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 ">
                                    <label>Un-Reserved Weight (Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("UnReservedWT", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("UnReservedWT", new { @class = "Error_Msg" })
                                </div>

                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Un-Reserved SQM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CUM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("CUM", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Reserved SQM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ReservedCBM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                    @Html.ValidationMessage("ReservedCBM", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>





                        <div class="row Form_Space_top hidden">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Un-Reserved Area (SQM):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("SQM", "0", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)", onchange = "OnChangeArea()" })
                                    @Html.ValidationMessage("SQM", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Reserved Area (SQM) :</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ReservedSQM", "0", new { @class = "form-control input-sm", @maxlength = "11", @onkeypress = "return AllowOnlyInteger(event)", onchange = "OnChangeArea()" })
                                    @Html.ValidationMessage("ReservedSQM", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top hidden">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Total Area (SQM):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("TotalSQM", "0", new { @class = "form-control input-sm", @onkeypress = "return AllowOnlyDecimal(event)", @readonly = "readonly" })
                                    @Html.ValidationMessage("TotalSQM", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                      
                        <div id="DivCartingRegTblErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                        <div class="row Form_Space_top Form_Space_bottom hidden">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                            <th>@Html.DisplayName("Shipping Bill No")</th>
                                            <th>@Html.DisplayName("Shipping Bill Date")</th>
                                            <th>@Html.DisplayName("Exporter")</th>
                                            <th class="text-center">@Html.DisplayName("Edit")</th>
                                            <th class="text-center">@Html.DisplayName("View")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Save" id="BtnSaveCartingReg" onclick="SubmitForm()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetCartingRegister()" />
                        </div>
                    </div>
                    <div id="DivCartingRegMsg" class="logSuccMsg" style="background-color:transparent"></div>
                    <div id="DivCartingRegErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                }
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input type="button" id="btnCRList" value="Show List" class="btn log_Btn_sm" onclick="LoadRegisterList()" />
                </div>
                <div class="col-md-offset-5 col-md-3">
                    <input type="text" placeholder="Search by Shippbill No" id="SearchSBNo" />
                </div>

                <div class="col-md-2">
                    <input type="button" value="Search" onclick="SearchSBNo()" class="btn log_Btn_sm" />
                </div>
            </div>
            <div class="row">
                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="DivCartingRegisterList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mTabindex" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="MyModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Application No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" tabindex="401" />
                <ul class="navList" id="CartingRegList">
                    @{                        
                        foreach (var item in Model.lstAppNo)
                        {
                            <li tabindex="401_@item" onkeypress="SelectApplicationNo(@item.CartingAppId,'@item.ApplicationNo')" onclick="SelectApplicationNo(@item.CartingAppId,'@item.ApplicationNo')" id="@item.CartingAppId">@item.ApplicationNo</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="MyModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mTabindex" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="LocationModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                      
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="LocationModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="godownModal" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="GodownModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" type="text" tabindex="401" />
                <ul class="navList" id="lstGodown"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="GodownModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ShippingLineModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLinebox" type="text" tabindex="401" />
                <ul class="navList" id="lstShippingLine">
                    @{
                        if (ViewBag.ListOfShippingLine != null)
                        {
                            var tabvalue = 401;
                            var tab = 0;
                            var u = "_";
                            foreach (var item in ViewBag.ListOfShippingLine)
                            {
                                <li tabindex="@tabvalue@u@tab" onkeypress="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')" onclick="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')" id="@item.ShippingLineId">@item.ShippingLineName</li>
                                tab++;
                            }
                        }
                        else
                        {
                            <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ShippingLineModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mTabindex" id="CHAModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CHAModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" tabindex="401"/>
                <ul class="navList" id="lstCHA">
                    @{
                        if (ViewBag.CHAList != null)
                        {
                            var tabvalue = 401;
                            var tab = 0;
                            var u = "_";
                            foreach (var item in ViewBag.CHAList)
                            {
                                <li tabindex="@tabvalue@u@tab" onkeypress="selectCHA(@item.CHAEximTraderId,'@item.CHAName')" onclick="selectCHA(@item.CHAEximTraderId,'@item.CHAName')" id="@item.CHAEximTraderId">@item.CHAName</li>
                                tab++;
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CHAModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ExporterModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ExporterModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Exporter</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Exporterbox" type="text" tabindex="401" />
                <ul class="navList" id="lstExporter">
                    @{
                        if (ViewBag.ExporterList != null)
                        {
                            var tabvalue = 401;
                            var tab = 0;
                            var u = "_";
                            foreach (var item in ViewBag.ExporterList)
                            {
                                <li tabindex="@tabvalue@u@tab" onkeypress="selectExporter(@item.EXPEximTraderId,'@item.ExporterName')" onclick="selectExporter(@item.EXPEximTraderId,'@item.ExporterName')" id="@item.EXPEximTraderId">@item.ExporterName</li>
                                tab++;
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ExporterModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:80%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Commodity</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Commodity Name" id="CommodityBox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Commodity Name</th>

                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_2">
                    <table class="table dataTable table-bordered table-striped" id="tbleCommodity">
                        @{
                            if (ViewBag.LstCommodity != null)
                            {
                                var tabvalue = 401;
                                var tab = 0;
                                var u = "_";
                                foreach (var item in ViewBag.LstCommodity)
                                {
                                    <tr tabindex="@tabvalue@u@tab" onkeypress="SelectCommodity(@item.CommodityId,'@item.CommodityName')" onclick="SelectCommodity(@item.CommodityId,'@item.CommodityName')">
                                        <td colspan="8" width="80%">@item.CommodityName</td>

                                    </tr>
                                    tab++;
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4">
                        @if (ViewBag.CommodityState != null && Convert.ToBoolean(ViewBag.CommodityState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-offset-5 col-md-3">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseCommodity()">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>

    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });

    //*********************************************************************
    //CWU 315 Point 4
    /*$('#ActualQty').on('blur', function () {
        if ($('#NoOfUnits').val() != '' && $('#Weight').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#NoOfUnits').val();
            var w = $('#Weight').val();
            var q = $('#ActualQty').val();

            $('#ActualWeight').val(((w / n) * q).toFixed(2));
        }


        if ($('#NoOfUnits').val() != '' && $('#FOBValue1').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#NoOfUnits').val();
            var f = $('#FOBValue1').val();
            var q = $('#ActualQty').val();

            $('#FOBValue').val(((f / n) * q).toFixed(2));
        }

    })*/

    //*********************************************************************
    var r = JSON.parse($("#hdnRights").val());
    if (r.CanAdd == 1) {
        // $('#BtnSaveCartingReg').css('display', 'block');
        $('#BtnSaveCartingReg').removeAttr("disabled");

    } else {
        //$('#BtnSaveCartingReg').css('display', 'none');
        $('#BtnSaveCartingReg').attr("disabled", true);
    }

    $('#LocationSearch').on('click', function () {
        if ($('#hdnGodownId').val() == '' || $('#hdnGodownId').val() == 0) {
            $('[data-valmsg-for="Location"]').html('<span>Select Godown.</span>');
        } else {
            $('#LocationModal').modal();
        }
    });


    var ArrayOfCartingRegDtl = [];
    var LocationDetails = [];
    //$(function () { LoadRegisterList(); $('#tblShippingDetails').hide(); });
    $('#RegisterDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='RegisterDate']").html('');
        },
        onSelect: function () {
            $('#time').focus();
        }
    });

    $('#ShippingBillDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ShippingBillDate']").html('');
        },
        onSelect: function () {
            $('#Exporter').focus();
        }
    });

    $(document).ready(function () {
        $('#RegisterDate').focus();
        //$('#ReservedSpace').attr("disabled", true);
        //$('#GeneralSpace').attr("disabled", true);
        GodownBinding();

        var editTime = $("#EditTime").val();
        //alert(editTime);
        if (editTime != null && editTime != "") {
            $("#time").val(editTime);
        }
    });

    $('.clockpicker').clockpicker({
        donetext: 'Done',
        twelvehour: true,
        afterDone: function () {
            $('#ApplicationNo').focus();
        }
    });






    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });


    //$('#lstShippingLine > li').on("click", function () {
    //    $('#ShippingLineName').val($(this).text());
    //    $('#ShippingLineId').val($(this).attr('id'));
    //    //debugger;
    //    $("#ShippingLineModal").modal("hide");
    //});

    function SelectShippingLine(ShippingLineId,ShippingLineName){
        $('#ShippingLineName').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        $("#ShippingLineModal").modal("hide");
        $('#GodownName').focus();
    }
    function getSpace() {
        //debugger
        var GodownId = 0;
        var GodownName = '';
        if ($('#hdnShippingLineList').val() != '' || $('#hdnShippingLineList').val() != undefined) {
            var parties = JSON.parse($('#hdnShippingLineList').val());
            if ($('#ShippingLineId').val() != 0) {
                GodownId = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownId;
                GodownName = $.grep(parties, function (item) { return item.ShippingLineId == $('#ShippingLineId').val(); })[0].GodownName;
            }
            $('#GodownId').val(GodownId);
            $('#GodownName').val(GodownName);
            if (GodownId > 0) {
                //$('#ReservedSpace').prop("checked", true);
                //$('#GeneralSpace').prop("checked", false);
                //OnClickSpace("ReservedSpace");
                selectGodown(GodownId);
            }
            //else {
            //    $('#ReservedSpace').prop("checked", false);
            //    $('#GeneralSpace').prop("checked", true);
            //    OnClickSpace("GeneralSpace");
            //}
        }
        else {
            alert("This Shipping Line has no such space so enter godown manually");
        }
    }
    function GodownBinding() {
        debugger;
        if ($('#hdnGodownList').val() != '') {
            var GodownJson = JSON.parse($('#hdnGodownList').val());
            var html = '';
            var tab=401;
            $.each(GodownJson, function (i, item) {
                html += '<li tabindex='+ tab + '_' + i +' id="' + item.GodownId + '" onkeypress="selectGodown(' + item.GodownId + ');" onclick="selectGodown(' + item.GodownId + ');">' + item.GodownName + '</li>';
            });
            $('#lstGodown').html(html);

        }
    }
    function selectGodown(gid) {
        $('[data-valmsg-for="Location"]').html('<span></span>');
        $('#hdnGodownId').val(gid);
        var GodownJson = JSON.parse($('#hdnGodownList').val());
        //console.log(GodownJson);
        //debugger;
        if (GodownJson == null || GodownJson == undefined || GodownJson == "") {

        }
        else {
            var gname = $.grep(GodownJson, function (item) { return item.GodownId == gid; })[0];
            if (gname != undefined) {
                $("#GodownName").val(gname.GodownName);
            }
        }
        $.ajax({

            url: '/Export/VLDA_CWCExport/GetLocationDetailsByGodownId',
            type: 'GET',
            data: { GodownId: gid },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                LocationDetails = data;
                console.log(data);
                LocationDet();
            }
        });

        $('#godownModal').modal('hide');
        $('#Location').focus();
    }
    function selectCHA(CHAId, CHAName) {
        $('#CHAName').val(CHAName);
        $('#hdnCHAId').val(CHAId);
        $('#CHAModal').modal('hide');
        $('#ShippingLineName').focus();
    }

    function selectExporter(eid, ename) {
        $('#Exporter').val(ename);
        $('#hdnExporterId').val(eid);
        $('#ExporterModal').modal('hide');
        $('#CargoDescription').focus();
    }
    function SelectCommodity(CommodityId, CommodityName) {
        $('#Commodity').val(CommodityName);
        $('#hdnCommodityId').val(CommodityId);
        $('#CommodityModal').modal('hide');
        $('#CommodityBox').val('');
        LoadCommodity();
        $('#CargoType').focus();
    }
    $("#Remarks").keyup(function () {
        //debugger;
        var Textboxvalue = $("#Remarks").val();


        if (Textboxvalue.length >= 1000) {
            alert("Remarks Should be 1000 characters only");
        }


    });

    function LoadMoreCommodity() {
        //debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    //debugger;
                    var html = '';
                    var tab=401;
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        //debugger;
                        html += '<tr tabindex='+ tab + '_' + item +' onkeypress="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)" onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    var Page = 0;
    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Export/VLDA_CWCExport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    //debugger;
                    var html = '';
                    var tab=401;
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        //debugger;
                        html += '<tr tabindex='+ tab + '_' + item +' onkeypress="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)" onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }
    $("#CommodityBox").keyup(function () {
        SearchCommodityByPartyCode();
    });
    

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Export/VLDA_CWCExport/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        var tab=401;
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            html += '<tr tabindex='+ tab + '_' + item +' onkeypress="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)" onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td colspan="8" width="80%">' + elem.CommodityName + '</td></tr>';
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
        $('#Commodity').focus();
    }

    function LoadRegisterList() {
        $('#SearchSBNo').val('');
        $('#DivCartingRegisterList').load('/Export/VLDA_CWCExport/ListCartingRegister');
    }
    function SearchSBNo(){
        var SearchValue=$('#SearchSBNo').val().trim();
        $('#DivCartingRegisterList').load('/Export/VLDA_CWCExport/ListCartingRegister?SearchValue='+SearchValue);
    }
    function RegisterOnSuccess(data) {
        //debugger;
        if (data.Status == 1) {
            $('#DivCartingRegMsg').html(data.Message);
            $('#CartingRegList #' + $('#CartingAppId').val()).remove();
           // LoadRegisterList();
            setTimeout(ResetAllPage, 100);
            $('#BtnResetCartingReg').prop("disabled", false);

        }
        else {
            $('#DivCartingRegErrMsg').html(data.Message);
            setTimeout(function () { $('#DivCartingRegErrMsg').html(''); }, 5000);
        }
    }
    function RegisterOnFailure() {

    }


    function ResetAllPage() {
        $('#DivBody').load('/Export/VLDA_CWCExport/CreateCartingRegister');
    }

    /*
    $('#BtnSaveCartingReg').on("click", function () {

        if (($('#DivShippingDetails #CUM').val() != "" || $('#SQM').val() != "" || $('#ActualQty').val() != "" || $('#ActualWeight').val() != "") && ($('#DivShippingDetails').find('input:text').prop("disabled") == false)) {
            $('#DivCartingRegErrMsg').html('Please Save The Details Before Submitting');
            return false;
        }
        else {
            $('#XMLData').val(JSON.stringify(ArrayOfCartingRegDtl));
        }
    });*/

    $('#BtnResetCartingReg').on("click", function () {
        $('#DivAddCartingRegister').find('input:text,textarea').val('');
        $('#RegisterDate').val('@Model.RegisterDate');
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="Exporter"]').html('<span><span>');
        $('[data-valmsg-for="Commodity"]').html('<span><span>');
        $('[data-valmsg-for="CargoType"]').html('<span><span>');
        $('[data-valmsg-for="MarksAndNo"]').html('<span><span>');
        $('[data-valmsg-for="NoOfUnits"]').html('<span><span>');
        $('[data-valmsg-for="Weight"]').html('<span><span>');


        $('[data-valmsg-for="CUM"]').html('<span><span>');
        $('[data-valmsg-for="ActualQty"]').html('<span></span>');
        $('[data-valmsg-for="SQM"]').html('<span></span>');
        $('[data-valmsg-for="ReservedSQM"]').html('<span></span>');
        $('[data-valmsg-for="TotalSQM"]').html('<span></span>');

        $('[data-valmsg-for="ReservedCBM"]').html('<span></span>');
        $('[data-valmsg-for="UnReservedWT"]').html('<span></span>');

        $('[data-valmsg-for="FOBValue"]').html('<span></span>');

        $('[data-valmsg-for="ActualWeight"]').html('<span></span>');
        $('[data-valmsg-for="Location"]').html('<span></span>');
    });

    function ResetCartingRegister() {

        var RegisterDate = $('#RegisterDate').val();
        var time = '@DateTime.Now.ToString("hh:mmtt")';
        $('#DivAddCartingRegister').find('input:text,textarea').val('');
        $('#RegisterDate').val(RegisterDate);
        $('#time').val(time);
        $('#tblShippingDetails').hide();
        $('#tblShippingDetails >tbody').html('');
        $('#DivCartingRegMsg').html('');
        $('#DivCartingRegErrMsg').html('');
        $('#DivCartingRegTblErrMsg').html('');

        $('#SpanGodownSearch').css("display", "block");

        ArrayOfCartingRegDtl = [];
    }
    function GenerateCartingRegTable() {

        $('#tblShippingDetails').hide();
        var html = '';
        $.each(ArrayOfCartingRegDtl, function (i, item) {

            html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ShippingBillNo + '</td><td>' + item.ShippingDate + '</td><td>' + item.Exporter + '</td><td class="text-center"><a href="#" onclick="EditCartingReg(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewCartingReg(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
        });
        $('#tblShippingDetails>tbody').html(html);
        $('#tblShippingDetails').show();
    }
    function GetRegisterDetails(CartingAppId) {
        //debugger;
        $.ajax({
            url: '/Export/VLDA_CWCExport/GetApplicationDetForRegister',
            type: 'GET',
            data: { CartingAppId: CartingAppId },
            dataType: 'JSON',
            success: function (data) {
                //debugger;
                if (data.IsGateIn == 'Y') {
                    $('#ApplicationDate').val(data.ApplicationDate);
                    $('#CHAName').val(data.CHAName);
                    $('#hdnCHAId').val(data.CHAId);
                    $('#GodownName').val(data.GodownName);
                    $('#Remarks').val(data.Remarks);
                    $('#ShippingLineName').val(data.ShippingLineName);
                    $('#ShippingLineId').val(data.ShippingLineId);
                    getSpace();

                    // Disable For Change Request Chiranjit
                    // ArrayOfCartingRegDtl = data.lstRegisterDtl;
                    // GenerateCartingRegTable();
                    // LocationDetails = data.lstGdnWiseLctn;
                    // LocationDet();
                    // End Chiranjit


                    //Add chiranjit
                    $('#ShippingBillNo').val(data.lstRegisterDtl[0].ShippingBillNo);
                    $('#ShippingBillDate').val(data.lstRegisterDtl[0].ShippingDate);
                    $('#Exporter').val(data.lstRegisterDtl[0].Exporter);
                    $('#CargoDescription').val(data.lstRegisterDtl[0].CargoDescription);
                    $('#Commodity').val(data.lstRegisterDtl[0].CommodityName);
                    $('#CargoType').val(data.lstRegisterDtl[0].CargoType);
                    $('#MarksAndNo').val(data.lstRegisterDtl[0].MarksAndNo);
                    $('#NoOfUnits').val(data.lstRegisterDtl[0].NoOfUnits);
                    $('#ActualQty').val(data.lstRegisterDtl[0].NoOfUnits);
                    $('#Weight').val(data.lstRegisterDtl[0].Weight);
                    $('#FOBValue').val(data.lstRegisterDtl[0].FoBValue);

                    //*********************************************************************************
                    $('#FOBValue1').val(data.lstRegisterDtl[0].FoBValue1);
                    //*********************************************************************************
                    $('#CartingAppDtlId').val(data.lstRegisterDtl[0].CartingAppDtlId);
                    $('#CUM').val(data.lstRegisterDtl[0].CUM);
                    $('#SQM').val(data.lstRegisterDtl[0].SQM);
                    $('#ReservedSQM').val(data.lstRegisterDtl[0].ReservedSQM);
                    $('#TotalSQM').val(data.lstRegisterDtl[0].TotalSQM);


                    $('#ReservedCBM').val(data.lstRegisterDtl[0].ReservedCBM);
                    $('#UnReservedWT').val(data.lstRegisterDtl[0].UnReservedWT);

                    $('#ActualWeight').val(data.lstRegisterDtl[0].Weight); //change by request
                    //$('#ActualQty').val(data.lstRegisterDtl[0].ActualQty);
                    //$('#LocationDetails').val(ArrayOfCartingRegDtl[Index].LocationDetails);
                    //if (ArrayOfCartingRegDtl[Index].LocationDetails != null && ArrayOfCartingRegDtl[Index].LocationDetails != undefined) {
                    //    var split = ArrayOfCartingRegDtl[Index].LocationDetails.split(',');
                    //    $(split).each(function (j, data) {
                    //        // $('#' + data).prop('disabled', false);
                    //        $('#Loc' + data).prop('checked', true);
                    //    });
                    //}
                    //$('#Location').val(ArrayOfCartingRegDtl[Index].Location);
                    $('#hdnExporterId').val(data.lstRegisterDtl[0].ExporterId);
                    $('#hdnCommodityId').val(data.lstRegisterDtl[0].CommodityId);

                    $('#PkgType').val('');




                    //End Chiranjit



                    //if ($('#SpaceType').val() == 'ReservedSpace') {
                    //    $('#shipping').prop("disabled", true);
                    // }
                    //else if ($('#SpaceType').val() == 'GeneralSpace') {
                    //    $('#shipping').prop("disabled", false);
                    //}

                }
                else {
                    alert('Cannot save as gate in not done');
                    $('#ApplicationNo,#CartingAppId').val('');
                    ResetCartingRegister();
                }

            }
        });
    }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CartingRegList > li').show();
        } else {
            $('#CartingRegList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Godownbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstGodown > li').show();
        } else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#CHAbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCHA > li').show();
        } else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#Exporterbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstExporter > li').show();
        } else {
            $('#lstExporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Commoditybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCommodity > li').show();
        } else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    //$('#CartingRegList li').on("click", function () {
    //    $('#ApplicationNo').val($(this).text().split('(')[0]);
    //    $('#CartingAppId').val($(this).attr('id'));
    //    $("#myModal").modal("hide");
    //    GetRegisterDetails($(this).attr('id'));
    //});

    function SelectApplicationNo(CartingAppId,ApplicationNo){
        var ApplicationNo=ApplicationNo.split('(');
        $('#ApplicationNo').val(ApplicationNo[0]);
        $('#CartingAppId').val(CartingAppId);
        $("#myModal").modal("hide");
        GetRegisterDetails(CartingAppId);
        $('#CartingType').focus();
    }

    function SaveRegDtl() {
        debugger;
        var Validation = true;
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="Exporter"]').html('<span><span>');
        $('[data-valmsg-for="Commodity"]').html('<span><span>');
        $('[data-valmsg-for="CargoType"]').html('<span><span>');
        $('[data-valmsg-for="MarksAndNo"]').html('<span><span>');
        $('[data-valmsg-for="NoOfUnits"]').html('<span><span>');
        $('[data-valmsg-for="Weight"]').html('<span><span>');


        $('[data-valmsg-for="CUM"]').html('<span><span>');
        $('[data-valmsg-for="ActualQty"]').html('<span></span>');

        $('[data-valmsg-for="SQM"]').html('<span></span>');

        $('[data-valmsg-for="ReservedSQM"]').html('<span></span>');
        $('[data-valmsg-for="TotalSQM"]').html('<span></span>');


        $('[data-valmsg-for="ReservedCBM"]').html('<span></span>');
        $('[data-valmsg-for="UnReservedWT"]').html('<span></span>');



        $('[data-valmsg-for="FOBValue"]').html('<span></span>');

        $('[data-valmsg-for="ActualWeight"]').html('<span></span>');
        $('[data-valmsg-for="Location"]').html('<span></span>');
        $('[data-valmsg-for="PkgType"]').html('<span></span>');

        if ($('#ShippingBillNo').val() == "" || $('#ShippingBillNo').val() == null) {
            $('[data-valmsg-for="ShippingBillNo"]').html('<span>Shipping Bill No Required.</span>');
            Validation = false;
        }
        if ($('#ShippingBillDate').val() == "" || $('#ShippingBillDate').val() == null) {
            $('[data-valmsg-for="ShippingBillDate"]').html('<span>Shipping Bill Date Required.</span>');
            Validation = false;
        }

        if ($('#Exporter').val() == "" || $('#Exporter').val() == null || $('#hdnExporterId').val() == "0" || $('#hdnExporterId').val() == "" || $('#hdnExporterId').val() == null) {
            $('[data-valmsg-for="Exporter"]').html('<span>Exporter Required.</span>');
            Validation = false;
        }

        if ($('#Commodity').val() == "" || $('#Commodity').val() == null || $('#hdnCommodityId').val() == "0" || $('#hdnCommodityId').val() == "" || $('#hdnCommodityId').val() == null) {
            $('[data-valmsg-for="Commodity"]').html('<span>Commodity Required.</span>');
            Validation = false;
        }

        if ($('#CargoType').val() == "" || $('#CargoType').val() == null) {
            $('[data-valmsg-for="CargoType"]').html('<span>Cargo Type Required.</span>');
            Validation = false;
        }

        /*if($('#MarksAndNo').val() == "" || $('#MarksAndNo').val() == null){
            $('[data-valmsg-for="MarksAndNo"]').html('<span>Marks And No Required.</span>');
            Validation = false;
        }*/
        if ((!DecimalValidation("NoOfUnits") && $('#NoOfUnits').val() != "") || $('#NoOfUnits').val() == "") {
            $('[data-valmsg-for="NoOfUnits"]').html('<span>NoOfUnits Required and Must Be A Number.</span>');
            Validation = false;
        }
        //if ((!DecimalValidation("Weight") && $('#Weight').val() != "") || $('#Weight').val() == "") {
        //    $('[data-valmsg-for="Weight"]').html('<span>Weight Required and Must Be A Decimal.</span>');
        //    Validation = false;
        //}

        //if ((!DecimalValidation("CUM") & $('#CUM').val() != "")||$('#CUM').val()=="") {
        //    $('[data-valmsg-for="CUM"]').html('<span>CUM Required and Must Be A Decimal</span>');
        //    Validation = false; 
        //}

        if ((!DecimalValidation("ActualQty") & $('#ActualQty').val() != "") || $('#ActualQty').val() == "") {
            $('[data-valmsg-for="ActualQty"]').html('<span>ActualQty Required and Must Be A Number.</span>');
            Validation = false;
        }

        //if (((!DecimalValidation("SQM") & $('#SQM').val() != "") || $('#SQM').val() == "") && SpaceType == 'GeneralSpace') {
        //if (((!DecimalValidation("SQM") & $('#SQM').val() != "") || $('#SQM').val() == "")) {
        //    $('[data-valmsg-for="SQM"]').html('<span>SQM Required and Must Be A Decimal.</span>');
        //    Validation = false;
        //}
        //if ((!DecimalValidationGW("ActualWeight") & $('#ActualWeight') != "") || $('#ActualWeight') == "") {
        //    $('[data-valmsg-for="ActualWeight"]').html('<span>Actual Weight Required and Must Be A Decimal.</span>');
        //    Validation = false;
        //}
        //if ((!DecimalValidation("ReservedCBM") & $('#ReservedCBM').val() != "") || $('#ReservedCBM').val() == "") {
        //    $('[data-valmsg-for="ReservedCBM"]').html('<span>Reserved CBM Required and Must Be A Decimal</span>');
        //    Validation = false;
        //}

        //if ((!DecimalValidation("UnReservedWT") & $('#UnReservedWT').val() != "") || $('#UnReservedWT').val() == "") {
        //    $('[data-valmsg-for="UnReservedWT"]').html('<span>Un-Reserve weight Required and Must Be A Number.</span>');
        //    Validation = false;
        //}

        if (Number($('#ReservedCBM').val()) == 0 && Number($('#CUM').val() == 0))  {
            $('#DivCartingRegTblErrMsg').html('<span>SQM Required</span>'); 
            Validation = false;
        }



        /*if ($('#CartingAppDtlId').val() == "" || $('#Exporter').val() == "") {
            Validation = false;
        }*/



        var LctnDet = $('#DivLocationDet').find('input[type="checkbox"]:checked');
        if (LctnDet != null && LctnDet != undefined) {
            var Det = '';
            $(LctnDet).each(function () {
                if (Det == '')
                    Det += $(this).prop('id').substring(3);
                else
                    Det += ',' + $(this).prop('id').substring(3);
            });
            $('#LocationDetails').val(Det);
        }

        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '')
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);


        if (!DecimalValidationGW("FOBValue") & $('#FOBValue') != "") {
            $('[data-valmsg-for="FOBValue"]').html('<span>FOBValue Required and Must Be A Decimal.</span>');
            Validation = false;
        }
        if ($('#LocationDetails').val() == "") {
            $('[data-valmsg-for="Location"]').html('<span>LocationDetails Required.</span>');
            Validation = false;
        }
        if ($('#Location').val() == "") {
            $('[data-valmsg-for="Location"]').html('<span>LocationDetails Required.</span>');
            Validation = false;
        }

        if ($('#PkgType').val() == "") {
            $('[data-valmsg-for="PkgType"]').html('<span>PkgType Required.</span>');
            Validation = false;
        }
        if (Validation == true) {
            var RegDtl = {
                "ShippingBillNo": $('#ShippingBillNo').val(),
                "ShippingDate": $('#ShippingBillDate').val(),
                "Exporter": $('#Exporter').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "CommodityName": $('#Commodity').val(),
                "CargoType": $('#CargoType').val(),
                "MarksAndNo": $('#MarksAndNo').val(),
                "NoOfUnits": $('#NoOfUnits').val(),
                "Weight": $('#Weight').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "ActualQty": $('#ActualQty').val() == "" ? 0 : $('#ActualQty').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "ReservedSQM": $('#ReservedSQM').val() == "" ? 0 : $('#ReservedSQM').val(),
                "TotalSQM": $('#TotalSQM').val() == "" ? 0 : $('#TotalSQM').val(),
                "ReservedCBM": $('#ReservedCBM').val() == "" ? 0 : $('#ReservedCBM').val(),
                "UnReservedWT": $('#UnReservedWT').val() == "" ? 0 : $('#UnReservedWT').val(),
                "FoBValue": $('#FOBValue').val(),
                "ActualWeight": $('#ActualWeight').val() == "" ? 0 : $('#ActualWeight').val(),
                "CartingAppDtlId": $('#CartingAppDtlId').val(),
                "LocationDetails": $('#LocationDetails').val(),
                "Location": $('#Location').val(),
                "ExporterId": $('#hdnExporterId').val(),
                "CommodityId": $('#hdnCommodityId').val(),
                "FoBValue1": $('#FOBValue1').val(),
                "PkgType": $('#PkgType').val()
            }

            $('#SpanGodownSearch').css("display", "none");

            ArrayOfCartingRegDtl.push(RegDtl);
            //cwu 315 no add button should be there
            //ResetRegDtl();
            //GenerateCartingRegTable();
            
        }
        return Validation;
    }
    function EditCartingReg(Index) {

        $('#LocationSearch').css("display", "block");
        $('#LocationDetails,#LocationDetails').val('');
        // $('#DivLocationDet').find('input[type="checkbox"]:checked').prop("checked", false);
        if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
            $('#DivShippingDetails').find('input').prop("disabled", false);
            $('#ShippingBillNo').val(ArrayOfCartingRegDtl[Index].ShippingBillNo);
            $('#ShippingBillDate').val(ArrayOfCartingRegDtl[Index].ShippingDate);
            $('#Exporter').val(ArrayOfCartingRegDtl[Index].Exporter);
            $('#CargoDescription').val(ArrayOfCartingRegDtl[Index].CargoDescription);
            $('#Commodity').val(ArrayOfCartingRegDtl[Index].CommodityName);
            $('#CargoType').val(ArrayOfCartingRegDtl[Index].CargoType);
            $('#MarksAndNo').val(ArrayOfCartingRegDtl[Index].MarksAndNo);
            $('#NoOfUnits').val(ArrayOfCartingRegDtl[Index].NoOfUnits);
            $('#Weight').val(ArrayOfCartingRegDtl[Index].Weight);
            $('#FOBValue').val(ArrayOfCartingRegDtl[Index].FoBValue);

            //*********************************************************************************
            $('#FOBValue1').val(ArrayOfCartingRegDtl[Index].FoBValue1);
            //*********************************************************************************
            $('#CartingAppDtlId').val(ArrayOfCartingRegDtl[Index].CartingAppDtlId);
            $('#CUM').val(ArrayOfCartingRegDtl[Index].CUM);
            $('#SQM').val(ArrayOfCartingRegDtl[Index].SQM);
            $('#ReservedSQM').val(ArrayOfCartingRegDtl[Index].ReservedSQM);
            $('#TotalSQM').val(ArrayOfCartingRegDtl[Index].TotalSQM);


            $('#ReservedCBM').val(ArrayOfCartingRegDtl[Index].ReservedCBM);
            $('#UnReservedWT').val(ArrayOfCartingRegDtl[Index].UnReservedWT);

            $('#ActualWeight').val(ArrayOfCartingRegDtl[Index].Weight); //change by request
            $('#ActualQty').val(ArrayOfCartingRegDtl[Index].ActualQty);
            //$('#LocationDetails').val(ArrayOfCartingRegDtl[Index].LocationDetails);
            if (ArrayOfCartingRegDtl[Index].LocationDetails != null && ArrayOfCartingRegDtl[Index].LocationDetails != undefined) {
                var split = ArrayOfCartingRegDtl[Index].LocationDetails.split(',');
                $(split).each(function (j, data) {
                    // $('#' + data).prop('disabled', false);
                    $('#Loc' + data).prop('checked', true);
                });
            }
            //$('#Location').val(ArrayOfCartingRegDtl[Index].Location);
            $('#hdnExporterId').val(ArrayOfCartingRegDtl[Index].ExporterId);
            $('#hdnCommodityId').val(ArrayOfCartingRegDtl[Index].CommodityId);

            $('#PkgType').val(ArrayOfCartingRegDtl[Index].PkgType);

            //if (SpaceType == 'ReservedSpace') {
            //    $('#SQM').attr("disabled", true);

            //}
            //else if (SpaceType == 'GeneralSpace') {
            //    $('#SQM').attr("disabled", false);
            //}

            ArrayOfCartingRegDtl.splice(Index, 1);
            GenerateCartingRegTable();
        }
        else {
            $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        }

    }
    function ViewCartingReg(Index) {

        if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
            $('#DivShippingDetails').find('input').prop("disabled", true);
            $('#ShippingBillNo').val(ArrayOfCartingRegDtl[Index].ShippingBillNo);
            $('#ShippingBillDate').val(ArrayOfCartingRegDtl[Index].ShippingDate);
            $('#Exporter').val(ArrayOfCartingRegDtl[Index].Exporter);
            $('#CargoDescription').val(ArrayOfCartingRegDtl[Index].CargoDescription);
            $('#Commodity').val(ArrayOfCartingRegDtl[Index].CommodityName);
            $('#CargoType').val(ArrayOfCartingRegDtl[Index].CargoType);
            $('#MarksAndNo').val(ArrayOfCartingRegDtl[Index].MarksAndNo);
            $('#NoOfUnits').val(ArrayOfCartingRegDtl[Index].NoOfUnits);
            $('#Weight').val(ArrayOfCartingRegDtl[Index].Weight);
            $('#FOBValue').val(ArrayOfCartingRegDtl[Index].FoBValue);
            $('#CartingAppDtlId').val(ArrayOfCartingRegDtl[Index].CartingAppDtlId);
            $('#CUM').val(ArrayOfCartingRegDtl[Index].CUM);
            $('#SQM').val(ArrayOfCartingRegDtl[Index].SQM);
            $('#ReservedSQM').val(ArrayOfCartingRegDtl[Index].ReservedSQM);
            $('#TotalSQM').val(ArrayOfCartingRegDtl[Index].TotalSQM);


            $('#ReservedCBM').val(ArrayOfCartingRegDtl[Index].ReservedCBM);
            $('#UnReservedWT').val(ArrayOfCartingRegDtl[Index].UnReservedWT);


            $('#ActualWeight').val(ArrayOfCartingRegDtl[Index].ActualWeight);
            $('#ActualQty').val(ArrayOfCartingRegDtl[Index].ActualQty);
            $('#Location').val(ArrayOfCartingRegDtl[Index].Location);

            $('#hdnExporterId').val(ArrayOfCartingRegDtl[Index].ExporterId);
            $('#hdnCommodityId').val(ArrayOfCartingRegDtl[Index].CommodityId);
            $('#PkgType').val(ArrayOfCartingRegDtl[Index].PkgType);

            //if (SpaceType == 'ReservedSpace') {
            //    $('#SQM').attr("disabled", true);

            //}
            //else if (SpaceType == 'GeneralSpace') {
            //    $('#SQM').attr("disabled", false);
            //}
        }
        else {
            $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        }

    }
    function CheckBoxChange() {
        //debugger;
        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '')
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);
    }
    function ResetRegDtl() {
        $('#DivShippingDetails').find('input:text').val('');
        $('#DivShippingDetails').find('select').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            //$(this).prop("disabled", true);
            $(this).prop("checked", false);
        });
    }
    function IntValidation(Id) {

        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,8}\.\d{0,2}$/) && !Value.match(/^[\d]{1,8}$/)) {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function DecimalValidation(Id) {

        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,15}\.\d{0,2}$/) && !Value.match(/^[\d]{1,15}$/)) {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function DecimalValidationGW(Id) {

        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,15}\.\d{0,2}$/) && !Value.match(/^[\d]{1,15}$/)) {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function OnChangeArea() {
        //alert('00');
        //debugger;
        var SQM = $('#SQM').val() == "" ? 0 : $('#SQM').val();
        var ReservedSQM = $('#ReservedSQM').val() == "" ? 0 : $('#ReservedSQM').val();
        var TotalSQM = parseFloat(SQM) + parseFloat(ReservedSQM);

        $('#TotalSQM').val(TotalSQM);

    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function LocationDet() {

        debugger;
        var htm = '';
        $.each(LocationDetails, function (i, data) {
            //if (data.IsOccupied)
            //    htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" disabled id="' + data.LocationId + '"/><label for="' + data.LocationId + '">' + data.Row + ' ' + data.Column + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
            //else
            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" id="Loc' + data.LocationId + '"/><label for="Loc' + data.LocationId + '">' + data.LocationName + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
        });
        $('#DivLocationDet').html(htm);
    }
    function ClearErrMsg(elem) {
        $('[data-valmsg-for="' + elem.id + '"]').html('');
    }

    function SubmitForm() {
   
        debugger;
        var Validation = true;
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');
        $('[data-valmsg-for="ApplicationNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="CHAName"]').html('<span><span>');
        $('[data-valmsg-for="GodownName"]').html('<span><span>');

        if ($('#CartingAppId').val() == '') {
            $('#CartingAppId').val(0);
        }
        if ($('#CartingAppDtlId').val() == '') {
            $('#CartingAppDtlId').val(0);
        }
        if ($('#ApplicationNo').val() == '') {
            $('#ApplicationNo').val('0')
        }
        if ($('#ApplicationDate').val() == '') {
            $('#ApplicationDate').val('@DateTime.Now.ToString("dd/MM/yyyy")')
        }

        if ($('#CartingAppId').val() == 0) {
            $('[data-valmsg-for="ApplicationNo"]').html('<span>CCIN No. Required.</span>');
            Validation = false;
        }
        if ($('#CartingType').val() == '') {
            $('[data-valmsg-for="CartingType"]').html('<span>Carting Type Required.</span>');
            Validation = false;
        }
        if ($('#CommodityType').val() == '') {
            $('[data-valmsg-for="CommodityType"]').html('<span>Commodity Type Required.</span>');
            Validation = false;
        }
        if ($('#hdnCHAId').val() == '' || $('#hdnCHAId').val() == '0') {
            $('[data-valmsg-for="CHAName"]').html('<span>CHA Name Required.</span>');
            Validation = false;
        }
        if ($('#hdnGodownId').val() == '' || $('#hdnGodownId').val() == '0') {
            $('[data-valmsg-for="GodownName"]').html('<span>Godown Required.</span>');
            Validation = false;
        }
        //if (($('#DivShippingDetails #CUM').val() != "" || $('#SQM').val() != "" || $('#ActualQty').val() != "" || $('#ActualWeight').val() != "") && ($('#DivShippingDetails').find('input:text').prop("disabled") == false)) {
        //    $('#DivCartingRegErrMsg').html('Please Save The Details Before Submitting');
        //    Validation= false;
        //}
        //cwu 315 point 3
        if (Validation == true) {
            Validation = SaveRegDtl();
            if (Validation == false) return false;
        }
        /*if (ArrayOfCartingRegDtl.length<=0) {
            $('#DivCartingRegErrMsg').html('Please Add Atleast One Carting Details Before Submitting');
            Validation= false;
        }*/
        if (ArrayOfCartingRegDtl.length > 0) {
            $.each(ArrayOfCartingRegDtl, function (i, item) {
                if (item.CartingAppDtlId == '') {
                    item.CartingAppDtlId = 0;
                }
            });
            $('#XMLData').val(JSON.stringify(ArrayOfCartingRegDtl));
        }


        if (ArrayOfCartingRegDtl.length > 0) {
            $.each(ArrayOfCartingRegDtl, function (i, item) {
                if (item.ActualQty == 0) {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details Actual Qty is required.');
                }
                else if (item.ActualWeight == 0) {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details Gross Weight is required.');
                }
                    /*else if (item.CUM == 0) {
                        Validation = false;
                        $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,CUM,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                    }*/
                    //else if (item.SQM==0 && SpaceType=='GeneralSpace') {
                    //else if (item.TotalSQM == 0) {
                    //    Validation = false;
                    //    $('#DivCartingRegErrMsg').html('In Carting Details ActualQty,ActualWeight,SQM can not be Zero. And Location can not be blank. Edit Carting Details.');
                    //}
                else if (item.LocationDetails == null || item.LocationDetails == '') {
                    Validation = false;
                    $('#DivCartingRegErrMsg').html('In Carting Details And Location can not be blank. Edit Carting Details.');
                }
            });
            if (Validation == false)
                ArrayOfCartingRegDtl = [];
        }

        if (Validation == true) {
            debugger;
            var conf = confirm("Do you want to save ?");
            if (conf) {
                //console.log(ArrayOfCartingRegDtl);
                $('form#frmCartingReg').submit();
                $('#BtnSaveCartingReg').prop("disabled", true);
            }
            if (conf == false)
            {
                ArrayOfCartingRegDtl = [];
            }
        }
    }

    function PopupActivate(Id) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');
                        
            if (Id == "ExporterModal") {
                //debugger;
                $('#Exporterbox').focus();
                $('#lstExporter > li').show();
            }

            if (Id == "ShippingLineModal") {
                //debugger;               
                $('#ShippingLinebox').focus();
                $('#lstShippingLine > li').show();
            }

            if (Id == "CHAModal") {
                //debugger;               
                $('#CHAbox').focus();
                $('#lstCHA > li').show();
            }

            if (Id == "CommodityModal") {
                //debugger;                
                $('#CommodityBox').focus();
            }
            if (Id == "godownModal") {
                //debugger;               
                $('#Godownbox').focus();
            }
            if (Id == "LocationModal") {
                debugger;
                if ($('#hdnGodownId').val() == '' || $('#hdnGodownId').val() == 0) {
                    $('[data-valmsg-for="Location"]').html('<span>Select Godown.</span>');
                    } 
                else {
                    $('#LocationModal').modal('show');
                    }
            }
            
        }

    }

    $('#ExporterModal').on('shown.bs.modal', function () {
        $('#Exporterbox').focus();

    });

    $('#ShippingLineModal').on('shown.bs.modal', function () {
        $('#ShippingLinebox').focus();

    });

    $('#CHAModal').on('shown.bs.modal', function () {
        $('#CHAbox').focus();

    });
    $('#godownModal').on('shown.bs.modal', function () {
        $('#Godownbox').focus();

    });
        
    $('#CommodityModal').on('shown.bs.modal', function () {
        $('#CommodityBox').focus();

    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#box').focus();

    });
    
    function MyModalClose() {
        $('#myModal').modal("hide");
        $('#ApplicationNo').focus();
        $('#box').val('');
        $('#CartingRegList > li').show();
    }
    function CHAModalClose() {
        $('#CHAModal').modal("hide");
        $('#CHAName').focus();
        $('#CHAbox').val('');
        $('#lstCHA > li').show();
    }
    function ShippingLineModalClose() {
        $('#ShippingLineModal').modal("hide");
        $('#ShippingLineName').focus();
        $('#ShippingLinebox').val('');
        $('#lstShippingLine > li').show();
    }
    function GodownModalClose() {
        $('#godownModal').modal("hide");
        $('#GodownName').focus();
        $('#Godownbox').val('');
        $('#lstGodown > li').show();
    }

    function LocationModalClose() {
        $('#LocationModal').modal("hide");
        $('#Remarks').focus();       
    }
    function ExporterModalClose()
    {
        $('#ExporterModal').modal("hide");
        $('#Exporter').focus();
        $('#Exporterbox').val('');
        $('#lstExporter > li').show();
    }

    $('.mTabindex').keydown(function (e) {
        ////debugger;
        var $focusable = $(this).find("[tabindex]:not([tabindex='-1'])");
        if ($focusable.last().is(":focus") && !e.shiftKey && e.key == "Tab") {
            e.preventDefault();
            $focusable.first().focus();
        }
        else
            if ($focusable.first().is(":focus") && e.shiftKey && e.key == "Tab") {
                e.preventDefault();
                $focusable.last().focus();
            }
    });

    function checks() {
        //debugger;
        $('#RegisterDate').val($('#RegisterDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

    }
    function checkdat() {
        //debugger;
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }

        var date = dd + '/' + mm + '/' + yyyy;
        var dateTime = date;

        if ($('#RegisterDate').val() != '') {
            var result = moment($('#RegisterDate').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#Msges').html('Incorrect Date');
                setTimeout(function () { $('#Msges').html(''); }, 3000);
                $('#RegisterDate').val(dateTime);                
            }
        }

    }
    function SBchecks() {
        //debugger;

        $('#RegisterDate').val($('#RegisterDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

    }
    function SBcheckdat() {
        //debugger;
        if ($('#ShippingBillDate').val() != '') {
            var result = moment($('#ShippingBillDate').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#SBMsges').html('Incorrect Date');
                setTimeout(function () { $('#SBMsges').html(''); }, 3000);
                $('#ShippingBillDate').val('');
            }
        }

    }
    
</script>