@model IEnumerable<CwcExim.Areas.Master.Models.WFLDChemical>
<script>
        $(document).ready(function(){
            var TblGodown=$('#TblGodown').DataTable({
                "bFilter":false,
                "bInfo":false,
                "pageLength": 50,
                "aoColumns":[
                           {"sName":"SL No","width":"8%"},
                           {"sName":"Chemical Name"},
                           {"sName":"View","bSortable":false,"width":"10%"},
                           {"sName":"Edit","bSortable":false,"width":"10%"},
                          ]
            });
            new $.fn.dataTable.FixedHeader(TblGodown);
        });
        function LoadGodownPage(){
            $('#DivBody').load('/Master/WFLDMaster/CreateChemical');
        }
        function ViewChemical(ChemicalId){
            $('#DivBody').load('/Master/WFLDMaster/ViewChemical?ChemicalId='+ChemicalId);
        }
        function EditChemical(ChemicalId){
            $('#DivBody').load('/Master/WFLDMaster/EditChemical?ChemicalId='+ChemicalId);
        }
       
</script>
<table id="TblGodown" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.ChemicalName)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
           
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.ChemicalName)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewChemical(@item.ChemicalId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditChemical(@item.ChemicalId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
