@model IEnumerable<CwcExim.Areas.Master.Models.WFLDPartyWiseReservation>

<script>

    $(document).ready(function(){
        var TblPartyReservation = $('#TblPartyReservation').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                    { "sName": "SL No","width": "8%" },
                    { "sName": "Party Name" },
                    { "sName": "Reservation from", "bSortable": false },
                    { "sName": "Reservation to", "bSortable": false },
                    { "sName": "Operation Type", "bSortable": false },
                    { "sName": "Godown Name", "bSortable": false },
                    { "sName": "View", "bSortable": false, "width": "10%" },
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblPartyReservation);
    });
    function LoadPartyReservationPage(){
        $('#DivBody').load('/Master/WFLDMaster/PartyWiseReservation');
    }
    function ViewPartyReservation(PartyReservationId){
        $('#DivBody').load('/Master/WFLDMaster/ViewPartyReservation?PartyReservationId='+PartyReservationId);
    }
    function EditPartyReservation(PartyReservationId){
        $('#DivBody').load('/Master/WFLDMaster/EditPartyReservation?PartyReservationId='+PartyReservationId);
    }
    function DeletePartyReservation(PartyReservationId){
        var Confirm=confirm("Are You Sure You Want To Delete?")
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'/Master/WFLDMaster/DeletePartyReservationDetail',
                headers:{'__RequestVerificationToken':Token},
                dataType:'JSON',
                type:'POST',
                data:{PartyReservationId:PartyReservationId},
                async:false,
                success:function(data){
                    if(data.Status==1){
                        alert("Party Wise Reservation has been deleted successfully");
                        LoadPartyReservationPage();
                    }
                    else if(data.Status==2)
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }

</script>
<table id="TblPartyReservation" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.PartyName)</th>
            <th>@Html.DisplayNameFor(m => m.ReservationFrom)</th>
            <th>@Html.DisplayNameFor(m => m.ReservationTo)</th>
            <th>@Html.DisplayNameFor(m => m.OperationType)</th>
            <th>@Html.DisplayNameFor(m => m.GodownName)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.PartyName)</td>
                    <td>@Html.DisplayFor(m => item.ReservationFrom)</td>
                    <td>@Html.DisplayFor(m => item.ReservationTo)</td>
                    <td>@Html.DisplayFor(m => item.OperationType)</td>
                    <td>@Html.DisplayFor(m => item.GodownName)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewPartyReservation(@item.PartyReservationId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditPartyReservation(@item.PartyReservationId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeletePartyReservation(@item.PartyReservationId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
