@model IEnumerable<CwcExim.Areas.Master.Models.WFLDPartyInsurance>

<script>

    $(document).ready(function(){
        var TblPartyInsurance = $('#TblPartyInsurance').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                    { "sName": "SL No","width": "8%" },
                    { "sName": "Party Name" },
                    { "sName": "Insurance from", "bSortable": false },
                    { "sName": "Insurance to", "bSortable": false },
                  //  { "sName": "State Name", "bSortable": false },
                    { "sName": "View", "bSortable": false, "width": "10%" },
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblPartyInsurance);
    });
    function LoadPartyInsurancePage(){
        $('#DivBody').load('/Master/WFLDMaster/CreatePartyInsurance');
    }
    function ViewPartyInsurance(PartyInsuranceId){
        $('#DivBody').load('/Master/WFLDMaster/ViewPartyInsurance?PartyInsuranceId='+PartyInsuranceId);
    }
    function EditPartyInsurance(PartyInsuranceId){
        $('#DivBody').load('/Master/WFLDMaster/EditPartyInsurance?PartyInsuranceId='+PartyInsuranceId);
    }
    function DeletePartyInsurance(PartyInsuranceId){
        //debugger;
        var Confirm=confirm("Are You Sure You Want To Delete?")
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'/Master/WFLDMaster/DeletePartyInsuranceDetail',
                headers:{'__RequestVerificationToken':Token},
                dataType:'JSON',
                type:'POST',
                data:{PartyInsuranceId:PartyInsuranceId},
                async:false,
                success:function(data){
                    if(data.Status==1){
                        alert("Party Insurance has been deleted successfully");
                        LoadPartyInsurancePage();
                    }
                    else if(data.Status==2)
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }
</script>
<table id="TblPartyInsurance" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.PartyName)</th>
            <th>@Html.DisplayNameFor(m => m.InsuranceFrom)</th>
            <th>@Html.DisplayNameFor(m => m.InsuranceTo)</th>
            @*<th>@Html.DisplayNameFor(m => m.StateId)</th>*@
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.PartyName)</td>
                    <td>@Html.DisplayFor(m => item.InsuranceFrom)</td>
                    <td>@Html.DisplayFor(m => item.InsuranceTo)</td>                   
                    @*<td>@Html.DisplayFor(m => item.StateName)</td>*@
                    <td style="text-align:center"><a href="#" onclick="ViewPartyInsurance(@item.PartyInsuranceId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditPartyInsurance(@item.PartyInsuranceId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeletePartyInsurance(@item.PartyInsuranceId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
