@model IEnumerable<CwcExim.Areas.Master.Models.WFLDCWCWeighment>
<table class="table table-bordered table-striped" id="tblWeighmentList" style="width:100%;">
    <thead>
        <tr>
            <th style="text-align:center;">@Html.DisplayName("SL No")</th>
            <th style="text-align:center;">@Html.DisplayNameFor(m => m.EffectiveDate)</th>
            <th>@Html.DisplayName("Container/CBT Rate")</th>
            <th>@Html.DisplayName("Container/CBT Size")</th>
            <th>@Html.DisplayNameFor(m => m.TruckRate)</th>
            <th style="text-align:center;">@Html.DisplayNameFor(m => m.SacCode)</th>
            <th style="text-align:center;">Edit</th>
        </tr>
    </thead>
    <tbody>
        @{
            var Serialno = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;">@Serialno.ToString()</td>
                    <td style="text-align:center;">@item.EffectiveDate</td>
                    <td>@item.ContainerRate</td>
                    <td>@item.ContainerSize</td>
                    <td>@item.TruckRate</td>
                    <td style="text-align:center;">@item.SacCode</td>
                    <td style="text-align:center;"><a href="#" onclick="EditWeighment(@item.WeighmentId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
                Serialno++;
            }

        }
    </tbody>
</table>
<script>
    $(function () {
        var tblWeighmentList = $('#tblWeighmentList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                { "sName": "SL No", "width": "10%" },
                { "sName": "EffectiveDate" ,"bSortable":false,"width": "15%"},
                { "sName": "ContainerRate" },
                { "sName": "ContainerSize" },
                { "sName": "TruckRate" },
                { "sName": "SacCode","bSortable":false},
                { "sName": "Edit", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(tblWeighmentList);
    });
    function EditWeighment(WeighmentId)
    {
        debugger;
        $('#DivWeighment').load('/Master/WFLDMaster/EditWeighment?WeighmentId=' + WeighmentId);
    }
</script>
