@model CwcExim.Areas.Master.Models.WFLDPort
<script>
        var TimeInSeconds;
        $(document).ready(function () {
            debugger;
            TimeInSeconds = 5000;
            GetPortList();
        });
        function GetPortList() {
            debugger;
            $('#DivPortList').load('/Master/VLDAMaster/GetPortList');
        }
        function ResetValidation() {
            $('.field-validation-error').each(function () {
                $(this).html("");
            })
        }
        function PortReset() {
            debugger;
            ResetValidation();
            $('#DivPortMsg').html("");
            $('[data-valmsg-for="PortName"]').html('<span></span>');
            $('[data-valmsg-for="PortAlias"]').html('<span></span>');
            $('#PortName').val('');
            $('#PortAlias').val('');
            $('#POD').prop("checked", false);
            $('#CountryId').val('');
            $('#StateId').html("");
            $('#StateId').append($('<option></option>').val("").html("--Select--"));

        }
        function GetStateList() {
            debugger;
            var CountryId = $('#CountryId :selected').val();
            if (CountryId != "") {
                $.ajax({
                    url: '/City/GetStatesByCountry',
                    type: 'GET',
                    data: { CountryId: CountryId },
                    success: function (data) {
                        if (data.Status == 1) {
                            $('#StateId').html("");
                            $('#StateId').append($('<option></option>').val("").html("---Select---"));
                            $.each(data.Data, function (i, item) {
                                debugger;
                                    $('#StateId').append($('<option></option>').val(item.StateId).html(item.StateName));
                            });
                        }
                        else {
                            $('#StateId').html('');
                            $('#StateId').append($('<option></option>').val("").html("---Select---"));
                        }
                    }
                });
            }
            else {
                $('#StateId').html('');
                $('#StateId').append($('<option></option>').val("").html("---Select---"));
            }
        }
        function PortOnSuccess(data) {
            debugger;
            if (data.Status == 1) {
                $('#DivPortMsg').html(data.Message);
                setTimeout(PortReset, TimeInSeconds);
                GetPortList();
            }
            else if (data.Status == 2) {
                $('[data-valmsg-for="PortName"]').html('<span>' + data.Message + '</span>');
            }
            else if (data.Status == 3) {
                $('[data-valmsg-for="PortAlias"]').html('<span>'+data.Message+'</span>');
            }
            else {
                $('#DivPortMsg').html(data.Message);
            }
        }
        function PortOnFailure() {
        }

</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "PortOnSuccess";
    options.OnFailure = "PortOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditPortDetail", "VLDAMaster", options))
{
    @Html.AntiForgeryToken()
    @*@Html.Hidden("StateList", ViewData["State"].ToString())*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Port Master</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Port Name:</label>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.PortName, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.PortAlias, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.PortAlias, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.PortAlias, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-3">
                                <label>Port of Destination / Port of Loading</label>
                            </div>
                            <div class="col-md-1" style="padding-left:0px;">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.POD)
                                    <label for="POD"><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.CountryId, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-4">
                                <span class="ReQSimbol">*</span>
                                @if (ViewBag.Country != null)
                                {
                                    @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Country, "CountryId", "CountryName"), "---Select---", new { @class = "form-control input-sm dropdown", @onchange = "GetStateList()" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.CountryId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @class = "form-control input-sm dropdown" })
                                }
                                @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-offset-1 col-md-1-5">
                                @Html.LabelFor(m => m.StateId, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-4">
                               @* <span class="ReQSimbol">*</span>*@
                                @Html.DropDownListFor(m => m.StateId, Enumerable.Empty<SelectListItem>(), "---Select---", new { @class = "form-control input-sm dropdown" })

@*@@Html.ValidationMessageFor(m => m.StateId, "", new { @class = "Error_Msg" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" class="btn log_Btn_sm" value="Save" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="PortReset()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivPortMsg"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 SignUp_space_bottom">
                            <div id="DivPortList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")