@model CwcExim.Areas.Master.Models.WFLDCWCEntryFees
<script>
    $(function () { LoadEntryFeesList(); });
    $('#EntryFeesEffectiveDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select Date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="EffectiveDate"]').html('');
        }
    });
    function LoadEntryFeesList() {
        $('#DivEntryFeesList').load('/Master/VLDAMaster/GetAllEntryFees');
    }
</script>
@using (Ajax.BeginForm("AddEditEntryFees", "VLDAMaster", new AjaxOptions
{
    Confirm = "Are you sure you want to Save/Update",
    HttpMethod = "POST",
    OnSuccess = "EntryFeesOnSuccess",
    OnFailure = "EntryFeesOnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="SignUp_space_bottom col-md-12 cwc_body">
                <h5>Entry Fees<span class="triangle"></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Effective Date:</label>
                </div>
                <div class="col-md-2 Date_Img">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control input-sm", @id = "EntryFeesEffectiveDate", @readonly = true })
                    @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-offset-3 col-md-1-5 col_cus_2">
                    @Html.LabelFor(m => m.SacCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.SacCode, new { @class = "form-control input-sm", @readonly = true })
                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                    @Html.ValidationMessageFor(m => m.SacCode, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Container/CBT Type:</label>
                </div>
                <div class="col-md-2">
                    <span class="ReQSimbol">*</span>
                    @Html.DropDownListFor(m => m.ContainerType, new List<SelectListItem> {
                        new SelectListItem { Text="----Select----",Value="0",Selected=true},
                        new SelectListItem { Text="Empty Container",Value="1"},
                        new SelectListItem { Text="Loaded Container",Value="2"} }, new { @class = "form-control input-sm dropdown" })
                    @Html.ValidationMessageFor(m => m.ContainerType, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-2">
                    @*<span class="ReQSimbol">*</span>*@
                    @Html.DropDownListFor(m => m.CommodityType, new List<SelectListItem> {
                        new SelectListItem { Text="----Select----",Value="0",Selected=true},
                        new SelectListItem { Text="HAZ",Value="1"},
                        new SelectListItem { Text="Non HAZ",Value="2"} }, new { @class = "form-control input-sm dropdown" })
                    @Html.ValidationMessageFor(m => m.CommodityType, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-1-5 col-md-offset-1 col_cus_2 padding_rt">
                    <label>Operation Type:</label>
                </div>
                <div class="col-md-2">
                    @*<span class="ReQSimbol">*</span>*@
                    @Html.DropDownListFor(m => m.OperationType, new List<SelectListItem> {
                        new SelectListItem { Text="----Select----",Value="0",Selected=true},
                        new SelectListItem { Text="Import",Value="1"},
                        new SelectListItem { Text="Export",Value="2"} }, new { @class = "form-control input-sm dropdown" })
                    @Html.ValidationMessageFor(m => m.OperationType, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    @Html.LabelFor(m => m.Reefer, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-1">
                    <div class="boolean-container">
                        @Html.CheckBoxFor(m => m.Reefer)
                        <label for="Reefer"><i class="square"></i></label>
                    </div>
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_2">
                    @Html.LabelFor(m => m.Rate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.Rate, new { @class = "form-control input-sm", Value = "0.00" })
                    @Html.ValidationMessageFor(m => m.Rate, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    @Html.LabelFor(m => m.ContainerSize, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2">
                    <span class="ReQSimbol">*</span>
                    @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem>
                   {
                        new SelectListItem { Text="20",Value="20"},
                        new SelectListItem { Text="40",Value="40"},
                        new SelectListItem { Text="ODC",Value="ODC"},
                   }, "----Select----")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>
        <div class="row SignUp_space_bottom">
            <div class="row">
                <div class="col-md-offset-4 col-md-2">
                    <input type="submit" value="Save" class="btn log_Btn_sm" />
                </div>
                <div class="col-md-2">
                    <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ClearEntryFees()" />
                </div>
            </div>
        </div>
        <div class="logErrMsg SignUp_space_bottom2" id="DivEntrySuc" style="background-color:transparent;"></div>
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="DivEntryFeesList"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SAC Code</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                <ul class="navList" id="PartyList">
                    @{
                        if (ViewBag.ListOfSAC != null)
                        {
                            foreach (var item in ViewBag.ListOfSAC)
                            {
                                <li id="@item">@item</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>

    function ClearEntryFees() {
        $('input[type="text"]').val('');
        $('select').val('0');
        $('input[type="checkbox"]').prop("checked", false);
        $('[data-valmsg-for]').html('');
        $('#Rate').val('0.00');
    }
    function EntryFeesOnSuccess(data) {
        if (data.Status == 1) {
            if ($('#DivEntrySuc').hasClass('logErrMsg'))
                $('#DivEntrySuc').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivEntrySuc').html(data.Message);
            ClearEntryFees();
            LoadEntryFeesList();
        }
        else {
            if ($('#DivEntrySuc').hasClass('logSuccMsg'))
                $('#DivEntrySuc').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivEntrySuc').html(data.Message);
        }
        setTimeout(function () { $('#DivEntrySuc').html(''); }, 5000);
    }
    function EntryFeesOnFailure() { }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('.navList > li').show();
        } else {
            $('.navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('.navList li').on("click", function () {
        $('#SacCode').val($(this).text());
        $("#myModal").modal("hide");
    });
</script>
