

@model CwcExim.Areas.Master.Models.WFLDSDOpening
<script>
   
    function LoadSDPage() {
        $('#DivBody').load('/Master/VLDAMaster/CreateSDOpening');
    }
    function GetSDList() {
        debugger;
        $('#DivPDAList').load('/Master/VLDAMaster/GetSDList');

    }
 

    

    function SDReset() {
        $('[data-valmsg-for]').html('<span></span>')
        $('#DivPDA #FolioNo').val('');
        $('#DivPDA #EximTraderName').val('');
        $('#DivPDA #Date').val('');
        $('#DivPDA #Amount').val('');
        $('#DivPDA #DivPDAMsg').html('');
        $('#DivPDA #DivPDAErrMsg').html('');
    }

    function SDOnSuccess(data) {
        debugger;
        $('#DivPDAErrMsg').html('');
        if (data.Status == 1) {
            $('#DivPDAMsg').html(data.Message);
            alert(data.Message);
            setTimeout(SDReset, TimeInSeconds);
            $('#PartyList #' + $('#EximTraderId').val()).remove();
            LoadSDPage();
        }
        else if (data.Status == 3) {
            alert(data.Message);
            $('#DivPDAErrMsg').html(data.Message);
            // $('[data-valmsg-for="FolioNo"]').html('<span>'+data.Message+'</span>');
        }
        else if (data.Status == 4) {
            alert(data.Message);
            $('#DivPDAErrMsg').html(data.Message);
            // $('[data-valmsg-for="FolioNo"]').html('<span>'+data.Message+'</span>');
        }
        else {
            alert(data.Message);
            $('#DivPDAErrMsg').html(data.Message);
        }
    }
    function SDOnFailure() {
    }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('.navList > li').show();
        } else {
            $('.navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('.navList li').on("click", function () {
        var EximTraderName = $(this).text();
        var EximTraderId = $(this).attr('id');
        $('#EximTraderName').val(EximTraderName);
        $('#EximTraderId').val(EximTraderId);
        $("#myModal").modal("hide");
    });
</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "SDOnSuccess";
    options.OnFailure = "SDOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

<div id="DivPDA" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
    @using (Ajax.BeginForm("AddEditSDopening", "VLDAMaster", options))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SDId)
        <div class="row SignUp_space_bottom">
            <div class="col-md-12">
                <h4>Edit SD Opening</h4>
            </div>
        </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.FolioNo, new { @class = "InputLabel"  })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.FolioNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.FolioNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-3">
                                @Html.LabelFor(m => m.EximTraderName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-4">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.EximTraderName, new { @class = "form-control input-sm", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.EximTraderId)
                                @Html.ValidationMessageFor(m => m.EximTraderName, "", new { @class = "Error_Msg" })
                               @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>*@ 
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="Head_h5 Form_Space_top">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Accounts Opening</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.Date, new { @class = "InputLabel"})<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.Date, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-2-5">
                                    @Html.LabelFor(m => m.Amount, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                   
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="submit" value="Save" class="btn log_Btn_sm" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadSDPage()" />
                                </div>
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_top SignUp_space_bottom2" id="DivEntrySuc" style="background-color:transparent"></div>
                    </div>
    }
                <div class="row">
                    <div class="col-md-12 SignUp_space_bottom">
                        <div id="DivPDAList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Exim Trader</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                <ul class="navList" id="PartyList">
                    @{
                        foreach (var item in Model.LstEximTrader)
                        {
                            <li id="@item.EximTraderId">@item.EximTraderName</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




