
@model CwcExim.Areas.Master.Models.WFLDPartyWiseReservation

<script>

    function LoadPartyInsurancePage() {
        $('#DivBody').load('/Master/VLDAMaster/PartyWiseReservation');
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Party Wise Reservation</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Party Name:</label>
                        </div>
                        <div class="col-md-5">
                            @Html.HiddenFor(m => m.PartyId)
                            @Html.HiddenFor(m => m.PartyCode)
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input_sm", @readonly = true, @disabled = "disabled" })
                            <span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Godown Name:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true, @disabled = "disabled" })
                            <span class="search" id="GodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                            @Html.HiddenFor(m => m.GodownId)
                            @Html.HiddenFor(m => m.GodownName)
                            @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Operation Type:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.OperationType, new { @class = "form-control input-sm", @readonly = "readonly", @disabled = "disabled" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt" style="display:none;">
                            <label>Area Type:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5" style="display:none;">
                            @Html.TextBoxFor(m => m.AreaType, new { @class = "form-control input-sm", @readonly = "readonly", @disabled = "disabled" })
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Period From:</label>
                            @Html.HiddenFor(m => m.PartyReservationId, new { Value = "0" })
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.ReservationFrom, new { @class = "form-control input-sm", @readonly = "readonly", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.ReservationFrom, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Period To: </label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.ReservationTo, new { @class = "form-control input-sm", @readonly = "readonly", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.ReservationTo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt" hidden>
                            <label>Type:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5" hidden>
                            @Html.TextBoxFor(m => m.ResType, new { @class = "form-control input-sm", @disabled = "disabled" })
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>GF:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.GF, new { @class = "form-control input-sm", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.GF, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>MF:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.MF, new { @class = "form-control input-sm", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.MF, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Total Space:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.TotalSpace, new { @class = "form-control input-sm", @readonly = true, @disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadPartyInsurancePage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

