@model CwcExim.Areas.Master.Models.WFLDOAOpening
<script>
    function LoadSDPage() {
        $('#DivBody').load('/Master/VLDAMaster/CreateOAOpening');
    }
</script>
<div id="DivViewPDA" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>View On Account Opening</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.ReceiptNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.FolioNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-3">
                            @Html.LabelFor(m => m.EximTraderName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.EximTraderName, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="Head_h5 Form_Space_top">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Accounts Opening</h5>
                        </div>
                    </div>
                    <div class="row Form_Space_bottom Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.Date, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-2-5">
                                @Html.LabelFor(m => m.Amount, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-sm", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadSDPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
