
@model CwcExim.Areas.Master.Models.WFLDPort

<script>
    function LoadPortPage() {
        debugger;
        $('#DivBody').load('/Master/VLDAMaster/CreatePort');
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Port Master</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Port Name:</label>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.PortName, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-1 col-md-1-5">
                            @Html.LabelFor(m => m.PortAlias, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.PortAlias, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.PortAlias, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1">
                            <label>POD/POA:</label>
                        </div>
                        <div class="col-md-1" style="padding-left:0px;">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.POD, new { @disabled = "disabled" })
                                <label for="POD"><i class="square"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.CountryId, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.DropDownListFor(m => m.CountryId, new List<SelectListItem> { new SelectListItem { Value = Model.CountryId.ToString(), Text = Model.CountryName.ToString() } }, new { @class = "form-control input-sm dropdown", @disabled = "disabled" })
                        </div>
                        <div class="col-md-offset-1 col-md-1-5">
                            @Html.LabelFor(m => m.StateId, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.DropDownListFor(m => m.StateId, new List<SelectListItem> { new SelectListItem { Value = Model.StateId.ToString(), Text = Model.StateName.ToString() } }, new { @class = "form-control input-sm dropdown", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadPortPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


