@model IEnumerable<CwcExim.Areas.Import.Models.Hdb_ListContainerIndent>
<script>
    var Page = 0;
    $(function () {
        var TblIndent = $('#TblIndent').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "Container Indent No", "bSortable": false },
                       { "sName": "Container Indent Date", "bSortable": false },
                        { "sName": "Trailer No", "bSortable": false },
                        { "sName": "Form1 No", "bSortable": false },
                        { "sName": "ContainerNo", "bSortable": false },
                        { "sName": "ContainerSize", "bSortable": false },
                       { "sName": "Edit", "bSortable": false, "width": "8%" },
                       { "sName": "View", "bSortable": false, "width": "8%" },
                       { "sName": "Delete", "bSortable": false, "width": "8%" },
                         { "sName": "Print", "bSortable": false, "width": "8%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(TblIndent);
    });
    function LoadIndent() {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateContainerIndent');
    }
    function EditIndent(IndentId) {
        $('#DivBody').load('/Import/Hdb_CWCImport/EditContainerIndent?IndentId=' + IndentId);
    }
    function ViewIndent(IndentId) {
        $('#DivBody').load('/Import/Hdb_CWCImport/ViewContainerIndent?IndentId=' + IndentId);
    }
    function DeleteIndent(IndentId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        var Confirm = confirm("Are You Sure You Want To Delete?");
        if (Confirm == true) {
            $.ajax({
                url: '/Import/Hdb_CWCImport/DeleteContainerIndent',
                type: 'POST',
                headers: { '__RequestVerificationToken': Token },
                data: { IndentId: IndentId },
                dataType: 'JSON',
                async: false,
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        LoadIndent();
                    }
                    else if (data.Status == 2) {
                        alert(data.Message);
                    }
                }
            });
        }
    }
    function PrintIndent(IndentId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/Import/Hdb_CWCImport/PrintContainerIndent",
            type: "POST",
            data: { IndentId: IndentId },
            headers: { "__RequestVerificationToken": Token },
            dataType: "JSON",
            async: false,
            success: function (data) {
                if (data.Status = 1) {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }


    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Import/Hdb_CWCImport/LoadListMoreDataForIndent',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#TblIndent').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.IndentNo],
        [item.IndentDate],
        [item.TrailerNo],
        [item.FormOneNo],
        [item.ContainerNo],
         [item.ContainerSize],
        ['<a href="#"  onclick=EditIndent(' + [item.IndentId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#"  onclick=ViewIndent(' + [item.IndentId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
          ['<a href="#"  onclick=DeleteIndent(' + [item.IndentId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
            ['<a href="#"  onclick=PrintIndent(' + [item.IndentId] + ')><i class="fa fa-print Edit"></i></a>'],

                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
</script>

<table id="TblIndent" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Container Indent No</th>
            <th>Container Indent Date</th>
            <th>Trailer No</th>
            <th>Form1 No</th>
            <th>ContainerNo</th>
            <th>ContainerSize</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Print")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.IndentNo)</td>
                    <td>@Html.DisplayFor(m => item.IndentDate)</td>
                    <td>@Html.DisplayFor(m => item.TrailerNo)</td>
                    <td>@Html.DisplayFor(m => item.FormOneNo)</td>
                    <td>@Html.DisplayFor(m => item.ContainerNo)</td>
                    <td>@Html.DisplayFor(m => item.ContainerSize)</td>
                    <td class="text-center"><a href="#" onclick="EditIndent(@item.IndentId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewIndent(@item.IndentId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteIndent(@item.IndentId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PrintIndent(@item.IndentId)"><i class="fa fa-file-pdf-o Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>

