
@model CwcExim.Areas.Import.Models.Hdb_DestuffingEntry

<script>
    var ArrayOfDestuffingEntry = [];
    var TimeInSeconds;
    $(function () {
        TimeInSeconds = 5000;
      //  GetDestuffingEntryList();
        $('#TblDestuffingEntryDet').hide();

        $('#FCL').prop('disabled', true);
        $('#LCL').prop('disabled', true);
        $("#tsahide").hide();
        
    });

    function GetFormOneListByContainerNumber(ContainerName) {
        debugger;
        $('#DivDestuffingEntryList').load('/Import/Hdb_CWCImport/DestuffingFCLContainer?ContainerName=' + ContainerName);
    }

    function FillListByContainer() {
        debugger;
        var ContainerName = $('#searchContainer').val();
        //alert(ContainerName);
        if (ContainerName == "") {
            //  GetFormOneList();

        }
        else {
            GetFormOneListByContainerNumber(ContainerName);
        }

    }


    $('#lstGodown> li').on("click", function () {
        
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).attr('id'));
        GetGodownWiseLocation();
        $("#GodownModal").modal("hide");
    });


    $('#GodownBox').keyup(function () {
 
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstGodown > li').show();
        } else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#lstTSAForwarder > li').on("click", function () {
        $('#ForwarderName').val($(this).text());
        $('#ForwarderId').val($(this).attr('id'));
        $("#TSAForwarderModal").modal("hide");
    });
    $('#Impbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstTSAForwarder  > li').show();
        else {
            $('#lstTSAForwarder  > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#DestuffingEntryDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage:"/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DestuffingEntryDate']").html('');
        }
    });
    $('#BOEDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='BOEDate']").html('');
        }
    });

    $('#TSADate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='BOEDate']").html('');
        }
    });
    
    $('#DODate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DODate']").html('');
        }
    });

    $('#BOLDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DODate']").html('');
        }
    });
    function GetGodownWiseLocation() {
       
        var GodownId = $('#GodownId').val();
        $.ajax({
            url: '/Import/Hdb_CWCImport/GetGodownWiseLocation',
            type: 'GET',
            data: { GodownId: GodownId },
            dataType: 'JSON',
            success: function (data) {
           
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, elem) {
                       
                        $('#GodownWiseLctnNames').val('');
                        $('#LocationDetails').val('');
                        //if (elem.IsOccupied)
                        //    html += '<div class="col-md-2"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'g" name="' + elem.LocationId + '" onclick="SelectLocation()" disabled/><label for="' + elem.LocationId + 'g"><i class="square"></i><span>' + elem.LocationName + '</span></label></div></div>';
                        //else
                            html += '<div class="col-md-2"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'g" name="' + elem.LocationId + '" onclick="SelectLocation()" /><label for="' + elem.LocationId + 'g"><i class="square"></i><span>' + elem.LocationName + '</span></label></div></div>';
                    });
                    $('#DivLocationDet').html(html);

                }

            }
        });
    }
    function SelectLocation() {
      
        //var Locationtext = '';
        //$('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
        //    if (Locationtext == '')
        //        Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
        //    else {
        //        Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        //    }
        //});
        //$('#Location').val(Locationtext);

        var data = '';
        var inf = '';
        $('#DivLocationDet').find('input:checked').each(function () {
            if (data == '')
                data = $(this).prop('name');
            else
                data = data + ',' + $(this).prop('name');
            if (inf == '')
                inf = $('label[for="' + $(this).prop('id') + '"]').text();
            else
                inf = inf + ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        });
        $('#LocationDetails').val(data);
        $('#GodownWiseLctnNames').val(inf);
    }

    //function LocationDet() {
    //    debugger;
    //    var htm = '';
    //    $.each(LocationDetails, function (i, data) {
    //        debugger;
    //        if (data.IsOccupied)
    //            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" disabled id="' + data.LocationId + '"/><label for="' + data.LocationId + '">' + data.LocationName + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
    //        else
    //            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" id="' + data.LocationId + '"/><label for="' + data.LocationId + '">' + data.LocationName + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
    //    });
    //    $('#DivLocationDet').html(htm);
    //}
    function GetDestuffingEntryList() {
        $('#DivDestuffingEntryList').load('/Import/Hdb_CWCImport/GetDestuffingEntryListFCL');
    }

    function ReloadDestuffingEntryPage() {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateDestuffingEntryFCL');
    }

    function ResetAllFields() {
       
      //  ArrayOfDestuffingEntry = [];
        var DODate = $('#DODate').val();
        var DestuffingEntryDate = $('#DestuffingEntryDate').val();
        $('#DivAddDestuffingEntry').find('input:hidden').val('');
        $('#DivAddDestuffingEntry').find('input:text,textarea,select').val('');
        $('#DivDestuffingEntryMsg').html('');
        $('#DivDestuffingEntryErrMsg').html('');
        $('[data-valmsg-for]').html('<span><span>');
        $('#DivAddDestuffingEntry #TblDestuffingEntryDet >tbody').html('');
        $('#TblDestuffingEntryDet').hide();
        $('#DivDestuffingEntryTblMsg').html('');
        $('#DestuffingEntryDate').val(DestuffingEntryDate);
        $('#DODate').val(DODate);
        $('#DivLocationDet').html('');
        $('#IsInsured').prop("checked", false);
        ReloadDestuffingEntryPage();
       //  GetGodownWiseLocation();
    }

    function DestuffingEntryOnSuccess(data) {
     
        if (data.Status == 1) {
            $('#DivDestuffingEntryMsg').html(data.Message);
           // $("#ContainerModal ul li:contains(" + $('#ContainerNo').val() + ")").remove();
            setTimeout(ReloadDestuffingEntryPage, TimeInSeconds);
            GetDestuffingEntryList();
        }
        else {
            $('#DivDestuffingEntryErrMsg').html(data.Message);
        }
    }

    function DestuffingEntryOnFailure() { }

    //$('#ShippingLineBox').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#ShippingLineModal .navList > li').show();
    //    } else {
    //        $('#ShippingLineModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});
    //$('#ShippingLineList li').on("click", function () {
    //    $('#ShippingLine').val($(this).text());
    //    $('#ShippingLineId').val($(this).attr('id'));
    //    $("#ShippingLineModal").modal("hide");
    //});

    //$('#ListOfCHAHdr li').on("click", function () {
    //    debugger;
    //    $('#CHAName').val($(this).text());
    //    $('#CHAId').val($(this).attr('id'));
    //    $("#CHAHdrModal").modal("hide");
    //});
    //$('#SearchCHAHdr').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#CHAHdrModal .navList > li').show();
    //    } else {
    //        $('#CHAHdrModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});

    $('#ContainerBox').keyup(function () {
        
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ContainerList > li').show();
        } else {
            $('#ContainerList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ContainerList li').on("click", function () {
       
       // var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
       // var StuffingRequest = $.grep(StuffingJson, function (item) { return item.StuffingReqId == id; })[0];

        
        var ContainerNo=($(this).text()).split('(');
        $('#ContainerNo').val(ContainerNo[0]);
        $('#CFSCode').val($(this).attr('id'));
        var CFSCode = $('#CFSCode').val();
        //$("input[name='gender']:checked").val()
        
        //down vote
        //Just use.
        var ContList = JSON.parse($('#ContList').val());
        var LCLFCL = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].LCLFCL;
        //$('input[name=name_of_your_radiobutton]:checked').val();
       
        if (LCLFCL == 'FCL') {
            $('#FCL').prop('checked', true);
            $('#LCL').prop('checked', false);
            //$("#tsahide").hide();
        }
        else {
            $('#FCL').prop('checked', false);
            $('#LCL').prop('checked', true);
            //$("#tsahide").show();
        }
        
       
        var Vessel = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].Vessel;
        $('#Vessel').val(Vessel);
        var Voyage = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].Voyage;
        $('#Voyage').val(Voyage);
        var ShippingLineId = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].ShippingLineId;
        $('#ShippingLineId').val(ShippingLineId);

        var ShippingLine = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].ShippingLine;
        $('#ShippingLine').val(ShippingLine);


        var Size = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].Size;
        $('#Size').val(Size);
        
        var Rotation = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].Rotation;
        $('#Rotation').val(Rotation);

        var ArrivalDate = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].ArrivalDate;
        $('#ArrivalDate').val(ArrivalDate);
        
      

        var CustomSealNo = $.grep(ContList, function (item) {
            return item.CFSCode == CFSCode;
        })[0].CustomSealNo;
        $('#CustomSealNo').val(CustomSealNo);
       
        $("#ContainerModal").modal("hide");
        $('#BtnAddDestuffingEntry').prop("disabled", false);
        $('#IsInsured').prop("checked", false);
       // ResetDestuffingEntryDet();
        /*Commenting for lcl concept*/
        if ($('#FCL').is(':checked') == true) {
            ArrayOfDestuffingEntry = [];
            $('#TblDestuffingEntryDet >tbody').html('');
            $('#TblDestuffingEntryDet').hide();

        }
        $('#DivDestuffingEntryTblMsg').html('');
        GetContainerDet(CFSCode);
    });

    function GetContainerDet(CFSCode) {
  
        $.ajax({
            url: '/Import/Hdb_CWCImport/GetCntrDetForDestuffingEntryFCL',
            type: 'GET',
            dataType: 'JSON',
            async:false,
            data: { CFSCode: CFSCode },
            success: function (data) {
            
                if (data.Status == 1) {
                    if ($('#LCL').is(':checked') == true) {
                        if (data.Data.LCLFCL == "FCL") {
                            ArrayOfDestuffingEntry = [];
                            $('#TblDestuffingEntryDet >tbody').html('');
                            $('#TblDestuffingEntryDet').hide();
                        }
                    }
                   // $('#DestuffingDtlId').val(data.Data.DestuffingDtlId);
                  /*  $('#ContainerNo').val(data.Data.ContainerNo);
                    $('#CFSCode').val(data.Data.CFSCode);
                    $('#Size').val(data.Data.Size);
                    $('#Vessel').val(data.Data.Vessel);
                    $('#Voyage').val(data.Data.Voyage);
                    $('#' + data.Data.LCLFCL).prop("checked", true);
                    $('#LineNo').val(data.Data.LineNo);
                    $('#BOENo').val(data.Data.BOENo);
                    $('#BOEDate').val(data.Data.BOEDate);
                    $('#CHAId').val(data.Data.CHAId);
                    $('#ImporterId').val(data.Data.ImporterId);
                    $('#Importer').val(data.Data.Importer);
                    $('#CHA').val(data.Data.CHA);
                    $('#Importer').val(data.Data.Importer);
                    $('#CargoDescription').val(data.Data.CargoDescription);
                    $('#NoOfPackages').val(data.Data.NoOfPackages);
                    $('#GrossWeight').val(data.Data.GrossWeight);
                    $('#CIFValue').val(data.Data.CIFValue);
                    $('#ShippingLineId').val(data.Data.ShippingLineId);
                    $('#ShippingLine').val(data.Data.ShippingLine);
                    $('#Rotation').val(data.Data.Rotation);
                
                    $('#SealNo').val(data.Data.SealNo);
                    $('#StorageType').val(data.Data.StorageType),
                    $('#CustomSealNo').val(data.Data.CustomSealNo);
                    $('#MarksNo').val(data.Data.MarksNo);
                    $('#Duty').val(data.Data.Duty);
                    $('#CargoType').val(data.Data.CargoType);
                  
                    $('#CommodityId').val(data.Data.CommodityId);
                    $('#Commodity').val(data.Data.Commodity);
                    data.Data.AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true)
                    //$.each(data.Data.LstDestuffingEntry, function (i, item) {
                     // debugger;
                        //item.IsInsured = 0;
                      //  ArrayOfDestuffingEntry.push(item);
                        //$("#ContainerModal ul li:contains(" + item.ContainerNo + "-" + item.LineNo + ")").remove();
                    //});
                    //data.Data.IsInsured== $('#IsInsured').is(':checked') ? 1 : 0;
                   // ArrayOfDestuffingEntry = data.Data.LstDestuffing;
                    //  GenerateDestuffingTable();*/
                    $.each(data.Data, function (i, elem) {
                      
                       var DestuffingEntryDtl = {
                           "LineNo": elem.LineNo,
                           "BOENo": '',
                           "BOEDate": '',
                           "BOLNo": elem.BOLNo,
                           "BOLDate": elem.BOLDate,
                           "MarksNo": elem.MarksNo,
                           "CHAId": elem.CHAId,
                           "CHA": elem.CHA,
                           "ImporterId": elem.ImporterId,
                           "Importer": elem.Importer,
                           "ForwarderId": elem.ForwarderId,
                           "ForwarderName": elem.ForwarderName,
                           "CargoDescription": elem.CargoDescription,
                           "CargoType": elem.CargoType,
                           "StorageType": elem.StorageType,
                           "CommodityId": elem.CommodityId,
                           "Commodity": elem.Commodity,
                           "NoOfPackages": elem.NoOfPackages == "" ? 0 : elem.NoOfPackages,
                           "CUM": '',
                           "SQM": '',
                           "GrossWeight": elem.GrossWeight == "" ? 0 : elem.GrossWeight,
                           "DestuffingWeight": '',
                           "Duty": elem.Duty == "" ? 0 : elem.Duty,
                           "AppraisementStatus": elem.AppraisementStatus == 1 ? 1 : 0,
                           "CIFValue": elem.CIFValue == "" ? 0 : elem.CIFValue,
                           "GodownId": elem.GodownId == "" ? 0 : elem.GodownId,
                           "GodownName": elem.GodownName == "" ? '' : elem.GodownName,
                           "LocationDetails": elem.LocationDetails == "" ? '' : elem.LocationDetails,
                           "GodownWiseLctnNames": elem.GodownWiseLctnNames == "" ? '' : elem.GodownWiseLctnNames,
                           "IsInsured": 0
                        };

                        var flag = 0;
                        $.each(ArrayOfDestuffingEntry, function (j, elem1) {
                            if (elem1.LineNo == DestuffingEntryDtl.LineNo) {
                                flag = 1;
                            }

                        });

                        if (flag == 0)
                            ArrayOfDestuffingEntry.push(DestuffingEntryDtl);

                        //ArrayOfDestuffingEntry.push(DestuffingEntryDtl);
                    });
                    $('#BtnAddDestuffingEntry').prop("disabled", true);
                   // $('#TblDestuffingEntryDet').html('');
                    GenerateDestuffingEntryTable();
                    
                }
            }
        });
    }
   
    var ContainerType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
      
        ContainerType = Type;
        $('#DivBody').load('/Import/Hdb_CwcImport/CreateDestuffingEntryFCL?type=' + Type);
    }
 
    if (ContainerType == 'CONT') {
      
        $('#rbContainerNo').attr('checked', true);
        $('#rbCBT').attr('checked', false)
    }
    else {
        $('#rbCBT').attr('checked', true)
        $('#rbContainerNo').attr('checked', false)
    }
      
    
    function SaveDestuffingEntryDtl() {
    
        $('#DivDestuffingEntryTblMsg').html('');
        if ($('#ContainerNo').val() != "") {
            //if ($('#BOEDate').val() == '') {
            //    $('[data-valmsg-for="BOEDate"]').html('<span>Fill Out This Field</span>');
            //    return false;
            //}
            if ($('#BOLDate').val() == '') {
                $('[data-valmsg-for="BOLDate"]').html('<span>Fill Out This Field</span>');
                return false;
            }
            if ($('#StorageType').val() == '') {
                $('[data-valmsg-for="StorageType"]').html('<span>Fill Out This Field</span>');
                return false;
            }
            var DestuffingEntryDtl = {
                "LineNo": $('#LineNo').val(),
                "BOENo": $('#BOENo').val(),
                "BOEDate": $('#BOEDate').val(),
                "BOLNo": $('#BOLNo').val(),
                "BOLDate": $('#BOLDate').val(),
                "MarksNo": $('#MarksNo').val(),
                "CHAId": $('#CHAId').val(),
                "CHA": $('#CHA').val(),
                "ImporterId": $('#ImporterId').val(),
                "Importer": $('#Importer').val(),
                "ForwarderId": $('#ForwarderId').val() == null || $('#ForwarderId').val() == "" ? 0 : $('#ForwarderId').val(),
                "ForwarderName": $('#ForwarderName').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "CargoType": $('#CargoType').val(),
                "StorageType": $('#StorageType').val(),
                "CommodityId": $('#CommodityId').val(),
                "Commodity": $('#Commodity').val(),
                //"NoOfPackages": $('#NoOfPackages').val(),
                "NoOfPackages": $('#NoOfPackages').val() == "" ? 0 : $('#NoOfPackages').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "GrossWeight": $('#GrossWeight').val() == "" ? 0 : $('#GrossWeight').val(),
                "DestuffingWeight": $('#DestuffingWeight').val() == "" ? 0 : $('#DestuffingWeight').val(),
                "Duty": $('#Duty').val() == "" ? 0 : $('#Duty').val(),
                "AppraisementStatus": $('#Appraisement Status').prop("checked") == true ? 1 : 2,
                "CIFValue": $('#CIFValue').val() == "" ? 0 : $('#CIFValue').val(),
               // "CIFValue": $('#CIFValue').val(),
                "GodownId": $('#GodownId').val() == "" ? 0 : $('#GodownId').val(),
                "GodownName": $('#GodownName').val(),
                "LocationDetails": $('#LocationDetails').val(),
                "GodownWiseLctnNames": $('#GodownWiseLctnNames').val(),
                //"IsInsured": $('#IsInsured').prop("checked") == false ? 0 : 1,
                "IsInsured": ($('#IsInsured').is(':checked') ? true : false),
                "TSANo": $('#TSANo').val(),
                "TSADate": $('#TSADate').val(),
            }
            var flag = 0;

            if (flag == 0) {
                ArrayOfDestuffingEntry.push(DestuffingEntryDtl);
            }
           
            $('#BtnAddDestuffingEntry').prop("disabled", true);
            //$('#ContainerList #' + $('#ContainerNo').val()).remove();
          // $('#TblDestuffingEntryDet').html('');
            GenerateDestuffingEntryTable();
             ResetDestuffingEntryDet();
            //ResetAllFields();
           
        }
        else {
            $('#DivDestuffingEntryTblMsg').html('Please Select A Container No In Order To Add Details');
            // $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
        }
    }

    function ResetDestuffingEntryDet() {
      
        //if ($('#LCL').prop("checked")) {
        //    $('#BOLNo').val('');
        //    $('#BOLDate').val('');
        //    $('#CUM').val('');
        //    $('#SQM').val('');
        //    $('#GodownWiseLctnNames').val('');
        //    $('#DestuffingWeight').val('');
        //    $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
        //        $(this).prop("disabled", true);
        //        $(this).prop("checked", false);
        //    });
        //}
        //else {
        $('#DivDestuffingEntryDet').find('input:text,textarea').val('');
        $('#DivDestuffingEntryDet').find('input:hidden').val('');
             $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
               //  $(this).prop("disabled", true);
                 $(this).prop("checked", false);
            });
        //}
    }

    function GenerateDestuffingEntryTable() {

        $('#TblDestuffingEntryDet').hide();
        $('#TblDestuffingEntryDet>tbody').html('');
        var Html = '';
        if (ArrayOfDestuffingEntry.length != 0) {
            $.each(ArrayOfDestuffingEntry, function (i, item) {
               
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + $('#ContainerNo').val() + '</td><td>' + item.LineNo + '</td><td>' + item.BOLNo + '</td><td class="text-center"><a href="#" onclick="EditDestuffingEntry(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewDestuffingEntry(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDestuffingEntryDet>tbody').html(Html);
            $('#TblDestuffingEntryDet').show();
        }
    }

    function EditDestuffingEntry(Index) {
      
         if ($('#LineNo').val() == '') {
        $('#BtnAddDestuffingEntry').prop("disabled", false);
        $('#LocationSearch').css("display", "block");
        $('#LocationDetails,#LocationDetails').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').prop("checked", false);
        $('#LineNo').val(ArrayOfDestuffingEntry[Index].LineNo);
        $('#BOENo').val(ArrayOfDestuffingEntry[Index].BOENo);
        $('#BOEDate').val(ArrayOfDestuffingEntry[Index].BOEDate);
        $('#BOLNo').val(ArrayOfDestuffingEntry[Index].BOLNo);
        $('#BOLDate').val(ArrayOfDestuffingEntry[Index].BOLDate);
        $('#MarksNo').val(ArrayOfDestuffingEntry[Index].MarksNo);
        $('#CargoType').val(ArrayOfDestuffingEntry[Index].CargoType);
        $('#CommodityId').val(ArrayOfDestuffingEntry[Index].CommodityId);
        $('#Commodity').val(ArrayOfDestuffingEntry[Index].Commodity);
        $('#CUM').val(ArrayOfDestuffingEntry[Index].CUM);
        $('#SQM').val(ArrayOfDestuffingEntry[Index].SQM);
        $('#CHAId').val(ArrayOfDestuffingEntry[Index].CHAId);
        $('#CHA').val(ArrayOfDestuffingEntry[Index].CHA);
        $('#ImporterId').val(ArrayOfDestuffingEntry[Index].ImporterId);
        $('#Importer').val(ArrayOfDestuffingEntry[Index].Importer);
        $('#CargoDescription').val(ArrayOfDestuffingEntry[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfDestuffingEntry[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfDestuffingEntry[Index].GrossWeight);
        $('#DestuffingWeight').val(ArrayOfDestuffingEntry[Index].DestuffingWeight);
        $('#Duty').val(ArrayOfDestuffingEntry[Index].Duty);
        $('#StorageType').val(ArrayOfDestuffingEntry[Index].StorageType);
        $('#IsInsured').prop("checked",ArrayOfDestuffingEntry[Index].IsInsured);
        ArrayOfDestuffingEntry[Index].AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true);
        $('#CIFValue').val(ArrayOfDestuffingEntry[Index].CIFValue);
        $('#GodownId').val(ArrayOfDestuffingEntry[Index].GodownId);
        $('#GodownName').val(ArrayOfDestuffingEntry[Index].GodownName);
        $('#LocationDetails').val(ArrayOfDestuffingEntry[Index].LocationDetails);
        $('#GodownWiseLctnNames').val(ArrayOfDestuffingEntry[Index].GodownWiseLctnNames);
        $('#TSANo').val(ArrayOfDestuffingEntry[Index].TSANo);
        $('#TSADate').val(ArrayOfDestuffingEntry[Index].TSADate);
        $('#ForwarderId').val(ArrayOfDestuffingEntry[Index].ForwarderId);
        $('#ForwarderName').val(ArrayOfDestuffingEntry[Index].ForwarderName);
        ArrayOfDestuffingEntry.splice(Index, 1);
        //$('#TblDestuffingEntryDet').html('');
        GenerateDestuffingEntryTable();
        }
        else
            alert('Please add the earlier record to edit');
    }
    

    function ViewDestuffingEntry(Index) {
       
        $('#BtnAddDestuffingEntry').prop("disabled", true);
        $('#LocationSearch').css("display", "none");
        $('#LineNo').val(ArrayOfDestuffingEntry[Index].LineNo);
        $('#BOENo').val(ArrayOfDestuffingEntry[Index].BOENo);
        $('#BOEDate').val(ArrayOfDestuffingEntry[Index].BOEDate);
        $('#BOLNo').val(ArrayOfDestuffingEntry[Index].BOLNo);
        $('#BOLDate').val(ArrayOfDestuffingEntry[Index].BOLDate);
        $('#MarksNo').val(ArrayOfDestuffingEntry[Index].MarksNo);
        $('#CargoType').val(ArrayOfDestuffingEntry[Index].CargoType);
        $('#CommodityId').val(ArrayOfDestuffingEntry[Index].CommodityId);
        $('#Commodity').val(ArrayOfDestuffingEntry[Index].Commodity);
        $('#CUM').val(ArrayOfDestuffingEntry[Index].CUM);
        $('#SQM').val(ArrayOfDestuffingEntry[Index].SQM);
        $('#CHAId').val(ArrayOfDestuffingEntry[Index].CHAId);
        $('#CHA').val(ArrayOfDestuffingEntry[Index].CHA);
        $('#ImporterId').val(ArrayOfDestuffingEntry[Index].ImporterId);
        $('#Importer').val(ArrayOfDestuffingEntry[Index].Importer);
        $('#CargoDescription').val(ArrayOfDestuffingEntry[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfDestuffingEntry[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfDestuffingEntry[Index].GrossWeight);
        $('#DestuffingWeight').val(ArrayOfDestuffingEntry[Index].DestuffingWeight);
        $('#StorageType').val(ArrayOfDestuffingEntry[Index].StorageType);
        $('#Duty').val(ArrayOfDestuffingEntry[Index].Duty);
        ArrayOfDestuffingEntry[Index].AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true);
        $('#CIFValue').val(ArrayOfDestuffingEntry[Index].CIFValue);
        $('#GodownId').val(ArrayOfDestuffingEntry[Index].GodownId);
        $('#GodownName').val(ArrayOfDestuffingEntry[Index].GodownName);
        $('#IsInsured').prop("checked", ArrayOfDestuffingEntry[Index].IsInsured);
        $('#GodownWiseLctnNames').val(ArrayOfDestuffingEntry[Index].GodownWiseLctnNames);
        $('#TSANo').val(ArrayOfDestuffingEntry[Index].TSANo);
        $('#TSADate').val(ArrayOfDestuffingEntry[Index].TSADate);
        $('#ForwarderId').val(ArrayOfDestuffingEntry[Index].ForwarderId);
        $('#ForwarderName').val(ArrayOfDestuffingEntry[Index].ForwarderName);
    }

    $('#BtnSaveDestuffingEntry').on("click", function () {
        
        // if ( $('#BOENo').val() != '' && $('#BtnAddDestuffingEntry').prop("disabled")==false) {
        if ( $('#BtnAddDestuffingEntry').prop("disabled") == false) {
            $('#DivDestuffingEntryTblMsg').html('Please Add The Above Records');
            return false;
        }
        $('#DivDestuffingEntryTblMsg').html('');
        if ($('#TblDestuffingEntryDet >tbody').html() != "")
        {
            if (ArrayOfDestuffingEntry.length != 0) {
                $('#DestuffingEntryXML').val(JSON.stringify(ArrayOfDestuffingEntry));
            }
        }
        else {
            $('#DivDestuffingEntryTblMsg').html('Please Add The Above Records');
            return false;
        }
    });


</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "DestuffingEntryOnSuccess";
    options.OnFailure = "DestuffingEntryOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("AddEditDestuffingEntryFCL", "Hdb_CWCImport", options))
                {
                    
                    @Html.AntiForgeryToken()
                    <div id="DivAddDestuffingEntry">
                        @Html.HiddenFor(m => m.DestuffingEntryXML)
                        @Html.HiddenFor(m => m.LocationDetails)
                        <input type="hidden" id="ContList" value="@ViewBag.ContList" />
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Destuffing Sheet Entry – FCL</h4>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2 padding_rt">
                                    <div class="boolean-container">
                                        @Html.RadioButtonFor(m => m.CBT, "CONT", new { @class = "", @id = "rbContainerNo", @onclick = "IVType('CONT')" })
                                        <label for="rbContainerNo"><i class="circle"></i><span>ContainerNo</span></label>
                                    </div>
                                </div>
                                <div class="col-md-1 padding_rt">
                                    <div class="boolean-container">
                                        @Html.RadioButtonFor(m => m.CBT, "CBT", new { @class = "", @id = "rbCBT", @onclick = "IVType('CBT')" })
                                        <label for="rbCBT"><i class="circle"></i><span>CBT</span></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @Html.ValidationMessageFor(m => m.CBT)
                                </div>
                                </div>
                            </div>

                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Container/CBT No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.ContainerNo, "", new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Arrival Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ArrivalDate, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>DO Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.DODate, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.DODate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Destuffing No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Destuffing Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.DestuffingEntryDate, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.DestuffingEntryDate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div id="DivShippingLine" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Container Size:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                                        @*@Html.DropDownListFor(m=>m.Size, new List<SelectListItem> {
                                               new SelectListItem { Text="20",Value="20"},
                                               new SelectListItem {Text="40",Value="40" },
                                               new SelectListItem {Text="ODC",Value="ODC" }
                                               }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                            @Html.ValidationMessageFor(m => m.Size,"", new { @class = "Error_Msg" })*@
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>CFS Code:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Shipping Line:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                        @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>*@
                                        @Html.HiddenFor(m => m.ShippingLineId)
                                    </div>
                                </div>
                            </div>
                            <div id="DivVessel" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Vessel:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBox("Vessel", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("Vessel", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Voyage:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.Voyage, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.Voyage, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-2-5">
                                        <label>Rotation:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>S/L Seal No.:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.SealNo, new { @class = "form-control input-sm"})
                                        @Html.ValidationMessageFor(m => m.SealNo, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                        <label>Custom Seal No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CustomSealNo, "", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Remarks:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px" })
                                        @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1 col-md-offset-1-5 col_cus_offset_2 padding_rt">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "FCL", new { @class = "", @id = "FCL" })
                                            <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col_cus_1_5 padding_rt" style="display:none">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "LCL", new { @class = "", @id = "LCL" })
                                            <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="DivDestuffingEntryDet" class="Head_h5">
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Line No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.LineNo, new { @class = "form-control input-sm" })
                                        </div>
                                       @* <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                            <label>BOE Date:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.BOEDate, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.BOEDate, "", new { @class = "Error_Msg" })
                                        </div>*@
                                    </div>
                                </div>
                             
 
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>HBL No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.BOLNo, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                            <label>HBL Date:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.BOLDate, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.BOLDate, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Marks & No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.MarksNo, new
                                   {
                                       @class = "form-control input-sm" @*, @readonly = true*@ })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>CHA:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.CHAId)
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Importer:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.Importer, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.ImporterId)
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Forwarder:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                           @Html.TextBoxFor(m => m.ForwarderName, new { @class = "form-control input-sm", @readonly = true })
                                           @Html.HiddenFor(m => m.ForwarderId)
                                            <span class="search" id="TSAForwarderSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TSAForwarderModal"></i></span>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Cargo Description:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextAreaFor(m => m.CargoDescription, new { @style = "width:100%;height:75px", @disabled = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top" style="display:none">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>TSA No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.TSANo, new { @class = "form-control input-sm" })
                                            
                                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>TSA Date:</label>
                                        </div>
                                        <div class="col-md-2-5 Date_Img">
                                            @Html.TextBoxFor(m => m.TSADate, new { @class = "form-control input-sm", @readonly = true })
                                            
                                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Cargo Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownList("CargoType", new List<SelectListItem> {
                                       new SelectListItem { Text="HAZ",Value="1"},
                                       new SelectListItem {Text="NON-HAZ",Value="2" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                            @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>Commodity:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.Commodity, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.CommodityId)
                                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>No of Packages:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.NoOfPackages, new
                                   {
                                       @class = "form-control input-sm"@*, @readonly = true*@ })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>CUM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.CUM, new { @class = "form-control input-sm", maxlength = "11" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Godown:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_3">
                                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.GodownId)
                                            <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                            @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4">
                                            <label>SQM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input-sm", maxlength = "11" })
                                            @Html.ValidationMessageFor(m => m.SQM, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Gross Weight(Kg):</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.GrossWeight, new
                                   {
                                       @class = "form-control input-sm"@*, @readonly = true*@ ,
                                       maxlength = "11"
                                   })
                                            @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt col-md-offset-4">
                                            <label>Destuffing Weight:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.DestuffingWeight, new { @class = "form-control input-sm", maxlength = "11" })
                                            @Html.ValidationMessageFor(m => m.DestuffingWeight, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Duty:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input-sm", maxlength = "11" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4">
                                            <label>Location:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_3">
                                            @Html.TextBoxFor(m => m.GodownWiseLctnNames, new { @class = "form-control input-sm", @readonly = true })
                                            <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>CIF Value:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.CIFValue, new { @class = "form-control input-sm", maxlength = "11" })
                                        </div>
                                        @*<div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>Appraisement Status:</label>
                                        </div>
                                        <div class="col-md-1 col_cus_2 padding_rt ">
                                            <div class="boolean-container">
                                                @Html.RadioButtonFor(m => m.AppraisementStatus, "1", new { @class = "", @id = "Pass", @checked = true })
                                                <label for="Pass"><i class="circle"></i><span>Pass</span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="boolean-container">
                                                @Html.RadioButtonFor(m => m.AppraisementStatus, "2", new { @class = "", @id = "Fail" })
                                                <label for="Fail"><i class="circle"></i><span>Fail</span></label>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label for="IsInsured">Insured:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            <div class="boolean-container">
                                                @Html.CheckBox("IsInsured")
                                                <label for="IsInsured"><i class="square"></i></label>
                                            </div>

                                        </div>
                                        <div class="col-md-offset-4 col-md-1-5 padding_rt">
                                            <label>Storage Type:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="ReQSimbol">*</span>
                                            @Html.DropDownList("StorageType", new List<SelectListItem>
                                               {
                                                   new SelectListItem { Text="Open",Value="O"},
                                                   new SelectListItem { Text="Covered",Value="C"},
                                               }, "----Select----")
                                            @Html.ValidationMessage("StorageType", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-2">
                                        <input type="button" id="BtnAddDestuffingEntry" class="btn log_Btn_sm" value="Add" onclick="SaveDestuffingEntryDtl()" disabled />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" class="btn log_Btn_sm" value="Reset" />
                                    </div>
                                </div>
                                <div id="DivDestuffingEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                                <table class="table table-striped table-bordered dataTable" id="TblDestuffingEntryDet" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@Html.DisplayName("SL No")</th>
                                            <th class="text-center">@Html.DisplayName("Container No")</th>
                                            <th class="text-center">@Html.DisplayName("Line No")</th>
                                            <th class="text-center">@Html.DisplayName("OBL No")</th>
                                            @*<th class="text-center">@Html.DisplayName("BOE Date")</th>*@
                                            <th class="text-center">@Html.DisplayName("Edit")</th>
                                            <th class="text-center">@Html.DisplayName("View")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                                    <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveDestuffingEntry" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetAllFields()" />
                                </div>
                            </div>
                            <div class="logSuccMsg" style="background-color:transparent" id="DivDestuffingEntryMsg"></div>
                            <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivDestuffingEntryErrMsg"></div>
                            }

                <div class="row">
                    <div class="col-md-2 SignUp_space_bottom">
                        <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" tabindex="17" onclick="GetDestuffingEntryList()" />
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-7 col-md-2 padding_rt">
                            <label>Search by Container:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="searchContainer" placeholder="Search container" />
                            <span class="search" id="containerSearch"><i class="fa fa-search" aria-hidden="true" onclick="FillListByContainer();"></i></span>
                        </div>
                    </div>
                </div>




                            @Scripts.Render("~/bundles/jqueryval")
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="DivDestuffingEntryList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>
<div class="modal fade" id="TSAForwarderModal" role="dialog">
    <div class="modal-dialog">
        Modal content
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Forwarder</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Impbox" type="text" />
                <ul class="navList" id="lstTSAForwarder">
                    @{
                        foreach (var item in Model.lstTSAForwarder)
                        {
                            <li id="@item.TSAForwarderId">@item.TSAForwarderName</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GodownModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of GodownName</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="GodownBox" type="text" />
                <ul class="navList" id="lstGodown">
                    @{
                        if (ViewBag.ListOfGodown != null)
                        {
                            foreach (var item in ViewBag.ListOfGodown)
                            {
                                <li id="@item.GodownId">@item.GodownName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ContainerModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ContainerBox" type="text" />
                <ul class="navList" id="ContainerList">
                    @{
                        if (ViewBag.ContainerList != null)
                        {
                            foreach (var item in ViewBag.ContainerList)
                            {
                                <li id="@item.Value">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="CHAHdrModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List Of CHA</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="SearchCHAHdr" type="text" />
                    <ul class="navList" id="ListOfCHAHdr">
                        @{
                            if (ViewBag.CHAList != null)
                            {
                                foreach (var data in ViewBag.CHAList)
                                {
                                    <li id="@data.Value">@data.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShippingLineModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ShippingLineBox" type="text" />
                    <ul class="navList" id="ShippingLineList">
                        @{
                            if (ViewBag.ShippingLineList != null)
                            {
                                foreach (var item in ViewBag.ShippingLineList)
                                {
                                    <li id="@item.Value">@item.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@












































