@model CwcExim.Areas.Import.Models.Hdb_DeliveryApplication
    <style>
            #TblDestuffNo.dataTable tbody > tr > td {
        cursor: pointer;
    }
       .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
    </style>
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            @using (Ajax.BeginForm("AddEditDeliveryApplication", "Hdb_CWCImport", new AjaxOptions { Confirm = "Are you sure you want to Save?", HttpMethod = "POST", OnSuccess = "DeliveryOnSuccess", OnFailure = "DeliveryOnFailure" }))
            {
                <div id="DivCreateDeliveryApp">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Delivery Application</h4>
                        </div>
                    </div>
                    @Html.Hidden("LineNo")
                    @Html.Hidden("OBLNo")
                    @Html.Hidden("CommodityId")
                    @Html.Hidden("DestuffingEntryDtlId")

                    @Html.HiddenFor(m => m.DeliveryAppDtlXml)
                    @Html.HiddenFor(m => m.DestuffingId)
                    @Html.AntiForgeryToken()
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Delivery Application No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.DeliveryNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Destuffing Entry No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.DestuffingEntryNo, "", new { @class = "Error_Msg" })
                                <span class="search" id="DestuffingEntryNoSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DestuffingEntryNoModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="CHADtlSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHADtlModal"></i></span>
                                @Html.HiddenFor(m => m.CHAId)
                                @Html.ValidationMessageFor(m => m.CHA, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">


                            <div class="col-md-1-5 col_cus_2">
                                <label>Printing Charge:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownList("IsPrinting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Yes",Value="Yes"},
                                            new SelectListItem { Text="No",Value="No"},

                                        }, "----Select----", new { @class = "form-control input-sm dropdown", @onchange = "HidePrintTxt()" })
                                @Html.ValidationMessage("IsPrinting", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("NoOfPrint", "0", new { @class = "form-control input-sm", @min = "1", @style = "display:none;", @onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10", @onfocus = "hideMsg(this);" })
                                <span class="field-validation-error" id="ErrCasualLabour"></span>
                            </div>
                            </div>
                        </div>



                            <div class="row Form_Space_top SignUp_space_bottom2">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Importer:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.Importer, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="ImporterSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                                        @Html.Hidden("ImporterId")
                                        @Html.ValidationMessageFor(m => m.Importer, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Arrival Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ArrivalDate, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                <label>Transport Mode:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.TransportMode, new List<SelectListItem>
                               {
                                new SelectListItem { Text="CWC",Value="CWC"},
                                new SelectListItem { Text="Private",Value="PVT"}
                                }, "----Select----", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.TransportMode, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                            <div id="DivDeliveryAppDetails" class="Head_h5">
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>HBL - Line No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("BOELineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                            @*<span class="search" id="SearchBOELineNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#BOELineNoModal"></i></span>*@
                                            @Html.ValidationMessage("BOELineNo", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>BOE No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @*@Html.TextBoxFor(m => m.BOLNo, new { @class = "form-control input-sm" })*@
                                            @Html.TextBox("BOENo", "", new { @class = "form-control input-sm"})
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                            <label>BOE Date:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                            @*@Html.TextBoxFor(m => m.BOLDate, new { @class = "form-control input-sm", @readonly = true })*@
                                            @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                                            @*@Html.ValidationMessageFor(m => m.BOLDate, "", new { @class = "Error_Msg" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Cargo Description</label>
                                        </div>
                                        <div class="col-md-10-5">
                                            @Html.TextArea("CargoDescription", "", new { @style = "height:100px;width:100%", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col_cus_2 col-md-1-5">
                                            <label>Commodity:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_2_5 ">
                                            @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col_cus_2 col-md-1-5">
                                            <label>Destuff No Of Packages:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                            @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                            <label>No Of Packages:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("DelNoOfPackages", "", new { @class = "form-control input-sm", @onchange = "FillBalancedUnits()", @onkeypress = "return AllowOnlyInteger(event)" })
                                            @Html.ValidationMessage("DelNoOfPackages", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Destuff Weight(Kg):</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("GrossWt", "", new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessage("GrossWt", "", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                            <label>Weight(Kg):</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("DelGrossWt", "", new { @class = "form-control input-sm", @onchange = "FillBalancedWeights()", @onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Destuff SQM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("SQM", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                            <label>SQM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("DelSQM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                            @Html.ValidationMessage("DelSQM", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Destuff CUM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("CUM", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                            <label>CUM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("DelCUM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                            @Html.ValidationMessage("DelCUM", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Destuff CIF:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("CIF", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                            <label>CIF:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("DelCIF", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                            @Html.ValidationMessage("DelCIF", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Destuff Duty:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("Duty", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                                            <label>Duty:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("DelDuty", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                            @Html.ValidationMessage("DelDuty", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label for="IsBndConversion">Is Intenal Bond Conversion?:</label>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="boolean-container">
                                                @Html.CheckBox("IsBndConversion")
                                                <label for="IsBndConversion"><i class="square"></i></label>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Forwarder:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextBox("ForwarderName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                                                    @Html.Hidden("ForwarderId")
                                                    <span class="search" id="TSAForwarderSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TSAForwarderModal"></i></span>

                                                </div>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-2">
                                        <input type="button" id="BtnAddDeliveryApp" class="btn log_Btn_sm" value="Add" onclick="SaveDeliveryAppDtl()" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetDeliveryAppDet()" />
                                    </div>
                                </div>
                                <div id="DivDeliveryAppTblErrMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                                <table class="table table-striped table-bordered dataTable" id="TblDeliveryAppDtl" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@Html.DisplayName("SL No")</th>
                                            <th>@Html.DisplayName("HBL-Line No")</th>
                                            <th>@Html.DisplayName("No Of Packages")</th>
                                            <th>@Html.DisplayName("Edit")</th>
                                            <th class="text-center">@Html.DisplayName("View")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveDelvApp" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetAll()" />
                                </div>
                            </div>
                            <div id="DivDeliveryMsg" class="logSuccMsg" style="background-color:transparent"></div>
                            <div id="DivDeliveryErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                        </div>
                        }

            <div class="row">
                <div class="col-md-2 SignUp_space_bottom">
                    <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" tabindex="17" onclick="LoadDeliveryAppList()" />
                </div>
            </div>
            <div class="row Form_Space_top Form_Space_bottom">
                <div class="form-group Form_Input">
                    <div class="col-md-offset-7 col-md-2 padding_rt">
                        <label>Search by OBL:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="searchOBL" placeholder="Search OBL" />
                        <span class="search" id="OBLSearch"><i class="fa fa-search" aria-hidden="true" onclick="FillListByOBL();"></i></span>
                    </div>
                </div>
            </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="DivDeliveryAppList"></div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

<div class="modal fade" id="TSAForwarderModal" role="dialog">
    <div class="modal-dialog">
        Modal content
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Forwarder</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="TSAbox" type="text" />
                <ul class="navList" id="lstTSAForwarder">
                    @{
                        if (ViewBag.lstTSAForwarder != null)
                        {
                            foreach (var item in ViewBag.lstTSAForwarder)
                            {
                                <li id="@item.TSAForwarderId">@item.TSAForwarderName</li>
                            }
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DestuffingEntryNoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Destuffing Entry No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="DestuffingEntrybox" type="text" />
                <div id="slim_scroll">
                    <table id="TblDestuffNo" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>HBL No</th>
                                <th>Destuffing Entry No</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.DestuffingEntryNoList != null)
                                {
                                    foreach (var item in ViewBag.DestuffingEntryNoList)
                                    {
                                        <tr onclick="FillDestufTxtBox(@item.DestuffingId,'@item.DestuffingEntryNo',@item.DestuffingEntryDtlId,'@item.HBLNo')" id="@item.DestuffingEntryDtlId">
                                            <td>@item.HBLNo</td>
                                            <td>@item.DestuffingEntryNo</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    @*<ul class="navList" id="DestuffingEntryNoList">
                @{
                    if (ViewBag.DestuffingEntryNoList != null)
                    {
                        foreach (var item in ViewBag.DestuffingEntryNoList)
                        {
                            <li id="@item.DestuffingId">@item.DestuffingEntryNo</li>
                        }
                    }
                }
            </ul>*@
                    </div>
                </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="BOELineNoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of HBL-Line No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="BOELineNobox" type="text" />
                <ul class="navList" id="BOELineNoList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="modal fade" id="CHADtlModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of CHA</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SearchCHADtl" type="text" />
                <ul class="navList" id="ListOfCHADtl"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ImporterModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Importer</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Impbox" type="text" />
                <ul class="navList" id="lstImp"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")

<script>

    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    var ArrayOfDeliveryApp = [];
    var ArrayOfArrivalDate = [];
    $(function () {
        $('#SearchBOELineNo').css("display", "none");
        $('#TblDeliveryAppDtl').hide();
      //  LoadDeliveryAppList();
        ArrayOfArrivalDate= @Html.Raw(Json.Encode(ViewBag.DestuffingEntryNoList));
        // $('#ImporterModal').hide();

        $('#BOEDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage:"/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $("[data-valmsg-for='DestuffingEntryDate']").html('');
            }
        });
    });
    function LoadDeliveryAppList() {
        $('#DivDeliveryAppList').load('/Import/Hdb_CWCImport/ListOfDeliveryApplication');
    }
    function ResetAll() {
        $('[data-valmsg-for]').html('<span><span>');
        $('#DivCreateDeliveryApp').find('input:text,textarea').val('');
        $('#DivCreateDeliveryApp').find('input:hidden').val('');
        //$('#DeliveryOrderNo,#Value,#Duty,#CHAId,#Importer,#WorkOrderNo,#WorkOrderDate,#BondBOENo,#BondBOEDate,#WRNo,#WRDate,#GodownName,#CargoDescription,#SacNo,#SacDate,#Units,#Weight,#GodownId,#SpaceAppId,#ClosingUnits,#ClosingWeight,#Remarks').val('');
         $('#DivDeliveryMsg,#DivDeliveryErrMsg').html('');
    }

    function GetDelListByOBL(OBL) {
        debugger;
        $('#DivDeliveryAppList').load('/Import/Hdb_CWCImport/DeliveryFCLOBL?OBLNo=' + OBL);
    }

    function FillListByOBL() {
        debugger;
        var OBLName = $('#searchOBL').val();
        //alert(ContainerName);
        if (OBLName == "") {
            //  GetFormOneList();

        }
        else {
            GetDelListByOBL(OBLName);
        }

    }

    function HidePrintTxt() {
        debugger;
        if ($('#IsPrinting').val() == "Yes") {
            $('#NoOfPrint').css("display", "block");
            $('#NoOfPrint').val("1");
        }
        else {
            $('#NoOfPrint').val("0");
            $('#NoOfPrint').css("display", "none");
        }
    }

    //$('#ListOfCHADtl li').on("click", function () {
    //    debugger;
    //    $('#CHA').val($(this).text());
    //    $('#CHAId').val($(this).attr('id'));
    //    $("#CHADtlModal").modal("hide");
    //});
    $('#SearchCHADtl').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CHADtlModal .navList > li').show();
        } else {
            $('#CHADtlModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });




    //$('#BOELineNobox').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#BOELineNoModal .navList > li').show();
    //    } else {
    //        $('#BOELineNoModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});
    $('#ImporterSearch').on("click", function () {
        $.ajax({
            url: "/Import/Hdb_CWCImport/GetImporterList",
            type:"GET",
            dataType: "JSON",
            success: function (data) {
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        Html += '<li id=' + item.ImporterId + ' onclick="FillImporterTxtBox(' + item.ImporterId + ',&quot;' + item.ImporterName + '&quot;)">' + item.ImporterName + '</li>';
                    });
                    $('#lstImp').html(Html);
                }
            }
        });
    });

    $('#lstTSAForwarder > li').on("click", function () {
        $('#txtTSAForwarderName').val($(this).text());
        $('#TSAForwarderId').val($(this).attr('id'));
        $("#TSAForwarderModal").modal("hide");
    });

    $('#CHADtlSearch').on("click", function () {
        $.ajax({
            url: "/Import/Hdb_CWCImport/GetCHAList",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        debugger;
                        Html += '<li id=' + item.CHAId + ' onclick="FillCHATxtBox(' + item.CHAId + ',&quot;' + item.CHAName + '&quot;)">' + item.CHAName + '</li>';
                    });
                    $('#ListOfCHADtl').html(Html);
                }
            }

        });
    });


    function FillImporterTxtBox(ImporterId, ImporterName) {
        debugger;
        $('#Importer').val(ImporterName);
        $('#ImporterId').val(ImporterId);
        $("#ImporterModal").modal("hide");
    }
    $('#Impbox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstImp > li').show();
        else {
            $('#lstImp > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    function FillCHATxtBox(CHAId, CHAName) {
        debugger;
        $('#CHA').val(CHAName);
        $('#CHAId').val(CHAId);
        $("#CHADtlModal").modal("hide");
    }

    $('#TSAbox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstTSAForwarder > li').show();
        else {
            $('#lstTSAForwarder > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //$('#lstImp > li').on("click", function () {
    //    debugger;
    //    $('#Importer').val($(this).text());
    //    $('#ImporterId').val($(this).attr('id'));
    //    $("#ImporterModal").modal("hide");
    //});

    function FillDestufTxtBox(DestuffingId,DestuffingEntryNo,DestuffingEntryDtlId,BOELineNo){
        debugger;
        if($('#BOELineNo').val()!=""){
            alert("Please Add The Details");
            return false;
        }
        if(ArrayOfDeliveryApp.length!=0){
            var DestuffEntryNo= $('#DestuffingEntryNo').val();
            if(DestuffEntryNo!=DestuffingEntryNo){
                alert("Selected Destuffing Entry No Should Be Same As Previous Destuffing Entry No That Is "+ DestuffEntryNo);
                return false;
            }
        }
        //   ResetDeliveryAppDet();
        //   ArrayOfDeliveryApp = [];
        //   $('#TblDeliveryAppDtl').hide();
        //   $('#TblDeliveryAppDtl>tbody').html('');
        $('#DestuffingEntryNo').val(DestuffingEntryNo);
        $('#DestuffingId').val(DestuffingId);
       
        //var DestuffingId=$(this).attr('id')
        $("#DestuffingEntryNoModal").modal("hide");
        var ArrivalDate=(ArrayOfArrivalDate.filter(function (item) { return item.DestuffingId == $('#DestuffingId').val(); })[0]).ArrivalDate;
        $('#ArrivalDate').val(ArrivalDate);
        FillBOELineNoTxtBox(DestuffingEntryDtlId, BOELineNo);
    }

    $('#DestuffingEntrybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#TblDestuffNo > tbody >tr').show();
        } else {
            $('#TblDestuffNo > tbody >tr').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#DestuffingEntryNoList li').on("click", function () {
        debugger;
        ResetDeliveryAppDet();
        ArrayOfDeliveryApp = [];
        $('#TblDeliveryAppDtl').hide();
        $('#TblDeliveryAppDtl>tbody').html('');
        $('#DestuffingEntryNo').val($(this).text().split('(')[0]);
        $('#DestuffingId').val($(this).attr('id'));
        $('#ArrivalDate').val($(this).attr('hidden'));
        var DestuffingId=$(this).attr('id')
        $("#DestuffingEntryNoModal").modal("hide");
        var ArrivalDate=(ArrayOfArrivalDate.filter(function (item) { return item.DestuffingId == $('#DestuffingId').val(); })[0]).ArrivalDate;
        $('#ArrivalDate').val(ArrivalDate);
        GetBOELineNo(DestuffingId);
    });

    //function FillDetails() {
    //    var DestuffingId = $('#DestuffingId').val();
    //    if (SpaceAppId > 0) {
    //        $.ajax({
    //            url: '/Import/Hdb_CWCImport/GetBOENoForDeliveryApp',
    //            type: 'GET',
    //            data: { SpaceAppId: SpaceAppId },
    //            dataType: 'JSON',
    //            success: function (data) {
    //                debugger;
    //                if (data.Status == 1) {
    //                    $('#BondBOENo').val(data.Data.BondBOENo);
    //                    $('#BondBOEDate').val(data.Data.BondBOEDate);
    //                    $('#SacDate').val(data.Data.SacDate);
    //                    $('#CHAId').val(data.Data.CHAId);
    //                    $('#Importer').val(data.Data.Importer);
    //                    GetDepositNo(SpaceAppId);
    //                }
    //            }
    //        });
    //    }
    //}


    function GetBOELineNo(DestuffingId) {
        debugger;
        if (DestuffingId > 0) {
            $.ajax({
                url: '/Import/Hdb_CWCImport/GetBOENoForDeliveryApp',
                type: 'GET',
                data: { DestuffingId: DestuffingId },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    $('#SearchBOELineNo').css("display", "block");
                    if (data.Status == 1) {
                        var Html = '';
                        $.each(data.Data, function (i, item) {
                            debugger;
                            Html += '<li id=' + item.DestuffingEntryDtlId + ' onclick="FillBOELineNoTxtBox(' + item.DestuffingEntryDtlId + ',&quot;' + item.BOELineNo + '&quot;)">' + item.BOELineNo + '</li>';
                        });
                        $('#BOELineNoList').html(Html);
                    }
                }
            });
        }
    }

    function FillBOELineNoTxtBox(DestuffingEntryDtlId, BOELineNo) {
        debugger;
        $('#BtnAddDeliveryApp').prop("disabled", false);
        $('#BOELineNo').val(BOELineNo);
        var BOELineNoSplit = BOELineNo.split('-');
        //$('#BOENo').val(BOELineNoSplit[0]);
        $('#LineNo').val(BOELineNoSplit[1]);
        $('#OBLNo').val(BOELineNoSplit[0]);
        $('#DestuffingEntryDtlId').val(DestuffingEntryDtlId);
        //$("#BOELineNoModal").modal("hide");
        $('[data-valmsg-for="DelNoOfPackages"]').html('<span></span>');
        $('[data-valmsg-for="DelGrossWt"]').html('<span></span>');
       // $('#TransportMode').val('');
        GetBOELineNoDet(DestuffingEntryDtlId);
    }

    function GetBOELineNoDet(DestuffingEntryDtlId) {
        if (DestuffingEntryDtlId > 0) {
            $.ajax({
                url: '/Import/Hdb_CWCImport/GetBOEDetForDeliveryApp',
                type: 'GET',
                data: { DestuffingEntryDtlId: DestuffingEntryDtlId },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        $('#Commodity').val(data.Data.Commodity);
                        $('#CommodityId').val(data.Data.CommodityId);
                        $('#GrossWt').val(data.Data.GrossWt);
                        $('#NoOfPackages').val(data.Data.NoOfPackages);
                        $('#SQM').val(data.Data.SQM);
                        $('#CUM').val(data.Data.CUM);
                        $('#CIF').val(data.Data.CIF);
                        $('#Duty').val(data.Data.Duty);
                        $('#CargoDescription').val(data.Data.CargoDescription);
                        $('#ForwarderId').val(data.Data.ForwarderId);
                        $('#ForwarderName').val(data.Data.ForwarderName);
                        $('#DelGrossWt').val(data.Data.GrossWt);
                        $('#DelNoOfPackages').val(data.Data.NoOfPackages);
                        $('#DelSQM').val(data.Data.SQM);
                        $('#DelCUM').val(data.Data.CUM);
                        $('#DelCIF').val(data.Data.CIF);
                        $('#DelDuty').val(data.Data.Duty);
                        $('#Importer').val(data.Data.Importer);
                        $('#ImporterId').val(data.Data.ImporterId);
                        $('#CHA').val(data.Data.CHA);
                        $('#CHAId').val(data.Data.CHAId);
                        $('#TransportMode').val(data.Data.TransportMode);
                    }
                }
            });
        }
    }

    function SaveDeliveryAppDtl() {
        debugger;
        if ($('#DelNoOfPackages').val() == '') {
            $('[data-valmsg-for="DelNoOfPackages"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelGrossWt').val() == '') {
            $('[data-valmsg-for="DelGrossWt"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelSQM').val() == '') {
            $('[data-valmsg-for="DelSQM"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelCUM').val() == '') {
            $('[data-valmsg-for="DelCUM"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelCIF').val() == '') {
            $('[data-valmsg-for="DelCIF"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#DelDuty').val() == '') {
            $('[data-valmsg-for="DelDuty"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ( Number($('#DelNoOfPackages').val()) > Number($('#NoOfPackages').val()) ) {
            alert('No Of Packages Should Be Less Than Destuff No Of Packages');
            return false;
        }
        if (Number($('#DelGrossWt').val()) > Number($('#GrossWt').val())) {
            alert('Gross Wt Should Be Less Than Destuff Gross Wt');
            return false;
        }
        if (Number($('#DelSQM').val()) > Number($('#SQM').val())) {
            alert('SQM Should Be Less Than Destuff SQM');
            return false;
        }
        if (Number($('#DelCUM').val()) > Number($('#CUM').val())) {
            alert('CUM Should Be Less Than Destuff CUM');
            return false;
        }
        /*if (Number($('#DelCIF').val()) > Number($('#CIF').val())) {
            alert('CIF Should Be Less Than Destuff CIF');
            return false;
        }
        if (Number($('#DelDuty').val()) > Number($('#Duty').val())) {
            alert('Duty Should Be Less Than Destuff Duty');
            return false;
        }*/
        $('#DivDeliveryAppTblErrMsg').html('');
        if ($('#BOELineNo').val() != "") {
            var DeliveryAppDtl = {
                "BOELineNo": $('#BOELineNo').val(),
                "DestuffingEntryDtlId": $('#DestuffingEntryDtlId').val(),
                "OBLNo": $('#OBLNo').val(), 
                "LineNo": $('#LineNo').val(),              
                "BOENo": $('#BOENo').val(),
                "BOEDate": $('#BOEDate').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "Commodity": $('#Commodity').val(),
                "NoOfPackages": $('#NoOfPackages').val() == "" ? 0 : $('#NoOfPackages').val(),
                "GrossWt": $('#GrossWt').val() == "" ? 0 : $('#GrossWt').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "CIF": $('#CIF').val() == "" ? 0 : $('#CIF').val(),
                "Duty": $('#Duty').val() == "" ? 0 : $('#Duty').val(),
                "DelNoOfPackages": $('#DelNoOfPackages').val() == "" ? 0 : $('#DelNoOfPackages').val(),
                "DelGrossWt": $('#DelGrossWt').val() == "" ? 0 : $('#DelGrossWt').val(),
                "DelSQM": $('#DelSQM').val() == "" ? 0 : $('#DelSQM').val(),
                "DelCUM": $('#DelCUM').val() == "" ? 0 : $('#DelCUM').val(),
                "DelCIF": $('#DelCIF').val() == "" ? 0 : $('#DelCIF').val(),
                "DelDuty": $('#DelDuty').val() == "" ? 0 : $('#DelDuty').val(),
                "CommodityId": $('#CommodityId').val(),
                "Importer":$('#Importer').val(),
                "ImporterId": $('#ImporterId').val(),
                "ForwarderId": $('#ForwarderId').val() == "" || $('#ForwarderId').val() == undefined ? 0 : $('#ForwarderId').val(),
                "ForwarderName": $('#ForwarderName').val(),
                "IsBndConversion": ($('#IsBndConversion').prop('checked') ? 1 : 0 )
            }
            ArrayOfDeliveryApp.push(DeliveryAppDtl);
            debugger;
            TblDestuffNo
            $('#TblDestuffNo #' + $('#DestuffingEntryDtlId').val()).remove();
           // $('#BOELineNoList #' + $('#DestuffingEntryDtlId').val()).remove();
            ResetDeliveryAppDet();
            GenerateDeliveryAppTable();
            $('#BtnAddDeliveryApp').prop("disabled", true);
            $('#IsBndConversion').prop("checked", false);
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Select A Deposit No In Order To Add Details');
        }
    }

    function ResetDeliveryAppDet() {
        debugger;
        $('#DivDeliveryAppDetails').find('input:text,textarea').val('');
        $('#CommodityId').val('');
        $('#DestuffingEntryDtlId').val('');
        $('#SearchBOELineNo').css("display", "block");
    }

    function GenerateDeliveryAppTable() {
        debugger;
        $('#TblDeliveryAppDtl').hide();
        var Html = '';
        if (ArrayOfDeliveryApp.length != 0) {
            $.each(ArrayOfDeliveryApp, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.BOELineNo + '</td><td>' + item.DelNoOfPackages + '</td><td class="text-center"><a href="#" onclick="EditDeliveryAppDtl(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewDeliveryAppDtl(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDeliveryAppDtl>tbody').html(Html);
            $('#TblDeliveryAppDtl').show();
        }
    }

    function EditDeliveryAppDtl(Index) {
        debugger;
        $('#DivDeliveryAppTblErrMsg').html('');
        if ($('#BtnAddDeliveryApp').prop("disabled") == true) {
            $('#SearchBOELineNo').css("display", "block");
            $('#BtnAddDeliveryApp').prop("disabled", false);
            $('#DestuffingEntryDtlId').val(ArrayOfDeliveryApp[Index].DestuffingEntryDtlId);
            $('#BOELineNo').val(ArrayOfDeliveryApp[Index].BOELineNo);//HBL Line No.
            $('#OBLNo').val(ArrayOfDeliveryApp[Index].OBLNo);
            $('#LineNo').val(ArrayOfDeliveryApp[Index].LineNo);
            $('#BOENo').val(ArrayOfDeliveryApp[Index].BOENo);
            $('#BOEDate').val(ArrayOfDeliveryApp[Index].BOEDate);
            $('#CargoDescription').val(ArrayOfDeliveryApp[Index].CargoDescription);
            $('#Commodity').val(ArrayOfDeliveryApp[Index].Commodity);
            $('#CommodityId').val(ArrayOfDeliveryApp[Index].CommodityId);
            $('#NoOfPackages').val(ArrayOfDeliveryApp[Index].NoOfPackages);
            $('#GrossWt').val(ArrayOfDeliveryApp[Index].GrossWt);
            $('#SQM').val(ArrayOfDeliveryApp[Index].SQM);
            $('#CUM').val(ArrayOfDeliveryApp[Index].CUM);
            $('#CIF').val(ArrayOfDeliveryApp[Index].CIF);
            $('#Duty').val(ArrayOfDeliveryApp[Index].Duty);
            $('#DelNoOfPackages').val(ArrayOfDeliveryApp[Index].DelNoOfPackages);
            $('#DelGrossWt').val(ArrayOfDeliveryApp[Index].DelGrossWt);
            $('#DelSQM').val(ArrayOfDeliveryApp[Index].DelSQM);
            $('#DelCUM').val(ArrayOfDeliveryApp[Index].DelCUM);
            $('#DelCIF').val(ArrayOfDeliveryApp[Index].DelCIF);
            $('#DelDuty').val(ArrayOfDeliveryApp[Index].DelDuty);
            $('#Importer').val(ArrayOfDeliveryApp[Index].Importer);
            $('#ImporterId').val(ArrayOfDeliveryApp[Index].ImporterId);
            $('#ForwarderId').val(ArrayOfDeliveryApp[Index].ForwarderId);
            $('#ForwarderName').val(ArrayOfDeliveryApp[Index].ForwarderName);
            ArrayOfDeliveryApp[Index].IsBndConversion == 1 ? $('#IsBndConversion').prop("checked", true) : $('#IsBndConversion').prop("checked", false);
            ArrayOfDeliveryApp.splice(Index, 1);
            GenerateDeliveryAppTable();
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Add The Above Records');
        }
    }

    function ViewDeliveryAppDtl(Index) {
        debugger;
        if ($('#BtnAddDeliveryApp').prop("disabled") == true) {
            $('#BtnAddDeliveryApp').prop("disabled", true);
            $('#SearchBOELineNo').css("display", "none");
            $('#DestuffingEntryDtlId').val(ArrayOfDeliveryApp[Index].DestuffingEntryDtlId);
            $('#BOELineNo').val(ArrayOfDeliveryApp[Index].BOELineNo);
            $('#OBLNo').val(ArrayOfDeliveryApp[Index].OBLNo);
            $('#LineNo').val(ArrayOfDeliveryApp[Index].LineNo);
            $('#BOENo').val(ArrayOfDeliveryApp[Index].BOENo);
            $('#BOEDate').val(ArrayOfDeliveryApp[Index].BOEDate);
            $('#CargoDescription').val(ArrayOfDeliveryApp[Index].CargoDescription);
            $('#Commodity').val(ArrayOfDeliveryApp[Index].Commodity);
            $('#CommodityId').val(ArrayOfDeliveryApp[Index].CommodityId);
            $('#NoOfPackages').val(ArrayOfDeliveryApp[Index].NoOfPackages);
            $('#GrossWt').val(ArrayOfDeliveryApp[Index].GrossWt);
            $('#SQM').val(ArrayOfDeliveryApp[Index].SQM);
            $('#CUM').val(ArrayOfDeliveryApp[Index].CUM);
            $('#CIF').val(ArrayOfDeliveryApp[Index].CIF);
            $('#Duty').val(ArrayOfDeliveryApp[Index].Duty);
            $('#DelNoOfPackages').val(ArrayOfDeliveryApp[Index].DelNoOfPackages);
            $('#DelGrossWt').val(ArrayOfDeliveryApp[Index].DelGrossWt);
            $('#DelSQM').val(ArrayOfDeliveryApp[Index].DelSQM);
            $('#DelCUM').val(ArrayOfDeliveryApp[Index].DelCUM);
            $('#DelCIF').val(ArrayOfDeliveryApp[Index].DelCIF);
            $('#DelDuty').val(ArrayOfDeliveryApp[Index].DelDuty);
            $('#Importer').val(ArrayOfDeliveryApp[Index].Importer);
            $('#ImporterId').val(ArrayOfDeliveryApp[Index].ImporterId);
            $('#ForwarderId').val(ArrayOfDeliveryApp[Index].ForwarderId);
            $('#ForwarderName').val(ArrayOfDeliveryApp[Index].ForwarderName);
            ArrayOfDeliveryApp[Index].IsBndConversion == 1 ? $('#IsBndConversion').prop("checked", true) : $('#IsBndConversion').prop("checked", false);
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Add The Above Records');
        }

    }
    $('#lstTSAForwarder > li').on("click", function () {
        $('#ForwarderName').val($(this).text());
        $('#ForwarderId').val($(this).attr('id'));
        $("#TSAForwarderModal").modal("hide");
    });
    function DeliveryOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            $('#DivDeliveryMsg').html(data.Message);
            setTimeout(function () {
                $('#DivBody').load('/Import/Hdb_CWCImport/CreateDeliveryApplication');
            },5000)
        }
        else {
            $('#DivDeliveryErrMsg').html(data.Message);
        }
    }

    $('#Forwarderbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstForwarder > li').show();
        else {
            $('#lstForwarder > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    function DeliveryOnFailure() {

    }

    function FillBalancedUnits() {
        debugger;
        $('[data-valmsg-for="DelNoOfPackages"]').html('<span></span>');
        if (Number($('#DelNoOfPackages').val()) > Number($('#NoOfPackages').val())) {
            alert('No Of Packages Should Be Less Than Destuff  No Of Packages');
            return false;
        }
        else {
            var DelNoOfPackages = Number($('#DelNoOfPackages').val());

            var GrossWt = Number($('#GrossWt').val());
            var SQM = Number($('#SQM').val());
            var CUM = Number($('#CUM').val());
            var CIF = Number($('#CIF').val());
            var NoOfPackages = Number($('#NoOfPackages').val());
            var Duty = Number($('#Duty').val());
            if (NoOfPackages != 0) {
                $('#DelGrossWt').val(((GrossWt / NoOfPackages) * DelNoOfPackages).toFixed(2));
                $('#DelSQM').val(((SQM / NoOfPackages) * DelNoOfPackages).toFixed(2));
                $('#DelCUM').val(((CUM / NoOfPackages) * DelNoOfPackages).toFixed(2));
                $('#DelCIF').val(((CIF / NoOfPackages) * DelNoOfPackages).toFixed(2));
                $('#DelDuty').val(((Duty / NoOfPackages) * DelNoOfPackages).toFixed(2));
                return true;
            }
            
        }

    }

    //function FillBalancedWeights() {
    //    debugger;
    //    $('[data-valmsg-for="Weight"]').html('<span></span>');
    //    if (Number($('#Weight').val()) > Number(ClosingWeight)) {
    //        alert('Weight Should Be Less Than Closing Weight');
    //    }
    //    else {
    //        $('#ClosingWeight').val((ClosingWeight - Number(parseFloat(Number($('#Weight').val())))).toFixed(3));
    //    }

    //}

    $('#BtnSaveDelvApp').on("click", function () {
        debugger;
        $('#DivDeliveryAppTblErrMsg').html('');
        if ($('#BOELineNo').val() == "" && $('#TblDeliveryAppDtl >tbody').html() != "") {
            if (ArrayOfDeliveryApp.length != 0) {
                $('#DeliveryAppDtlXml').val(JSON.stringify(ArrayOfDeliveryApp));
            }
        }
        else if ($('#BOELineNo').val() != "" && $('#BtnAddDeliveryApp').prop("disabled") == true) {
            if (ArrayOfDeliveryApp.length != 0) {
                $('#DeliveryAppDtlXml').val(JSON.stringify(ArrayOfDeliveryApp));
            }
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Please Add The Above Records');
            return false;
        }
    });

    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
</script>

