@model CwcExim.Areas.Import.Models.Hdb_ContainerIndent
    @Html.HiddenFor(x=>x.IndentId)
@Html.HiddenFor(x=>x.Form1Id)
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Container Indent</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5"><label>Indent No.:</label></div>
                        <div class="col-md-4-5">
                            @Html.TextBoxFor(x => x.IndentNo, new { @readonly = true })
                        </div>
                        <div class="col-md-1-5"><label>Indent Date:</label></div>
                        <div class="col-md-4-5 Date_Img">
                            @Html.TextBoxFor(x => x.IndentDate, new { @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5"><label>Form1 No.:</label></div>
                        <div class="col-md-4-5">
                            @Html.TextBoxFor(x => x.Form1No, new { @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5"><label>Trailer No.:</label></div>
                        <div class="col-md-10-5">
                            @Html.TextBoxFor(x => x.TrailerNo, new { @maxlength = "500", })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5"><label>ICD In:</label></div>
                        <div class="col-md-4-5 Date_Img">
                            @Html.TextBoxFor(x => x.ICDIn, new { @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5"><label>ICD Out:</label></div>
                        <div class="col-md-4-5 Date_Img">
                            @Html.TextBoxFor(x => x.ICDOut, new { @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Remarks:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(x => x.Remarks, new { @maxlength = "100", @style = "width:100%;height:100px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered nowrap dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>Container No</th>
                                        <th>Size</th>
                                        <th>CHA</th>
                                        <th>Importer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model.lstContainerDetails)
                                        {
                                            <tr>
                                                <td>@item.ContainerNo</td>
                                                <td>@item.ContainerSize</td>
                                                <td>@item.CHAName</td>
                                                <td>@item.IMPName</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                        <input type="button" class="btn log_Btn_sm" value="Save" id="BtnSave" onclick="EditIndent()"/>
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadIndent()" />
                    </div>
                </div>
                <div class="logSuccMsg" id="DivMsg"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#IndentDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='IndentDate']").html('');
        }
    });
    $('#ICDOut').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $('#ICDIn').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    function LoadIndent() {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateContainerIndent');
    }
    function EditIndent()
    {
        if ($('#TrailerNo').val() != '') {
            var conf = confirm("Are you sure you want to Save?");
            if (conf == true) {
                var Token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '/Import/Hdb_CWCImport/AddEditContainerIndent',
                    type: 'POST',
                    data: {
                        IndentId: $('#IndentId').val(),
                        IndentDate: $('#IndentDate').val(),
                        TrailerNo: $('#TrailerNo').val(),
                        ICDIn: $('#ICDIn').val(),
                        ICDOut: $('#ICDOut').val(),
                        Form1Id: $('#Form1Id').val(),
                        Remarks: $('#Remarks').val()
                    },
                    headers: { "__RequestVerificationToken": Token },
                    success: function (data) {
                        if (data.Status == 2) {
                            $('#DivMsg').html(data.Message);
                            setTimeout(LoadIndent(), 5000);
                        }
                        else {
                            $('#DivMsg').html(data.Message);
                        }
                    },

                });
            }
        }
        else alert('Enter Trailer No');
    }
</script>