@model CwcExim.Areas.Import.Models.Hdb_ImportJobOrder
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
    <div class="Head_h4">
        <div class="row">
            <div class="col-md-12">
                <h4>Job Order</h4>
            </div>
        </div>
        @using (Ajax.BeginForm("AddEditJobOrder", "Hdb_CWCImport", new AjaxOptions
        {
            Confirm = "Are you sure you want to Save?",
            HttpMethod = "POST",
            //OnBegin = "ValidateGrid",
            OnSuccess = "impJOOnSuccess",
            OnFailure = "impJOOnFailure",
        }))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.StringifyXML)
            @Html.HiddenFor(m => m.StringifyClauseXML)

            <div class="row Form_Space_top" style="padding:0 10px;">
                <div class="form-group Form_Input">
                    <div class="col-md-2-5 col_cus_4">
                        <div class="boolean-container">
                            @Html.RadioButtonFor(m => m.FromContainer, "1", new { @class = "", @id = "rbGatewayPort", @checked = true })
                            <label for="rbGatewayPort"><i class="circle"></i><span>Gateway Port</span></label>
                        </div>
                    </div>

                    <div class="col-md-2-5 col_cus_4">
                        <div class="boolean-container">
                            @Html.RadioButtonFor(m => m.FromContainer, "2", new { @class = "", @id = "rbLocalIcd" })
                            <label for="rbLocalIcd"><i class="circle"></i><span>Local ICD</span></label>
                        </div>

                    </div>
                    <div class="col-md-2-5 col_cus_4">
                        <div class="boolean-container">
                            @Html.RadioButtonFor(m => m.FromContainer, "3", new { @class = "", @id = "rbOthers", @onchange = "FromContainerChange()" })
                            <label for="rbOthers"><i class="circle"></i><span>Others</span></label>
                        </div>

                    </div>
                </div>
            </div>
                    <div class="row Form_Space_top" style="padding:0 10px;">
                        <div class="form-group Form_Input">
                            <div id="DivPort">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Port Name:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.PortId)
                                    <span class="search"><i class="fa fa-search" id="search" aria-hidden="true" data-toggle="modal" data-target="#myPortModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.PortName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="col-md-2" id="DivRoundTrip">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.RoundTrip, new { @id = "chkDS" })
                                    <label for="chkDS"><i class="square"></i><span>RoundTrip</span></label>
                                </div>
                            </div>
                            <div id="DivDistance">
                                <div class="col-md-offset-2 col_cus_offset_2 col_cus_2 col-md-1-5">
                                    <label>Distance:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Distance, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.Distance, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="row Form_Space_top" style="padding:0 10px;">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Job Order For:</label>
                            </div>
                            @*<div class="col-md-2-5">
                                    <div class="boolean-container">
                                        @Html.RadioButtonFor(m => m.JobOrderFor, "1", new { @class = "", @id = "rbEmptyContainer", @checked = true })
                                        <label for="rbEmptyContainer"><i class="circle"></i><span>Empty Container</span></label>
                                    </div>
                                </div>*@
                            <div class="col-md-2-5">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.JobOrderFor, "2", new { @class = "", @id = "rbLoadedContainer" })
                                    <label for="rbLoadedContainer"><i class="circle"></i><span>Loaded Container</span></label>
                                </div>
                            </div>
                            <div class="col-md-2-5">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.JobOrderFor, "1", new { @class = "", @id = "rbLoadedCbt", @onchange = "JobOrderForChange()" })
                                    <label for="rbLoadedCbt"><i class="circle"></i><span>Loaded CBT</span></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="DivForm1">
                        <div class="row Form_Space_top" style="padding:0 10px;">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Form 1 No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.FormOneId)
                                    @Html.Hidden("FormOneDetailId")
                                    @Html.TextBoxFor(m => m.FormOneNo, new { @class = "form-control input-sm", @readonly = true })
                                    @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#blNomodal"></i></span>*@
                                    @Html.ValidationMessageFor(m => m.FormOneNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Form 1 Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.FormOneDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>



                        <div class="row Form_Space_top" style="padding:0 10px;">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Job Order No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.JobOrderNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Job Order Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.JobOrderDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="SignUp_space_bottom SignUp_space_top"></div>
                        </div>

                        <div class="brdr_sec">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <input type="hidden" id="Branch" placeholder="ckh" value="@ViewBag.BranchId" />
                                        <label>Container/CBT No.:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.Hidden("JobOrderDtlId", 0)
                                        @Html.TextBox("txtContainerNo", "", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessage("ErrContainerNo", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Size:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("ddlContainerSize", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="20",Value="20"},
                                            new SelectListItem { Text="40",Value="40"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessage("ErrContainerSize", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-2 col-md-offset-1-5 padding_rt">
                                        <div class="boolean-container">
                                            @Html.CheckBox("IsODC")
                                            <label for="IsODC"><span>Is ODC</span><i class="square"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Custom Seal No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("CustomSealNo", "", new { @class = "form-control input-sm" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Shipping Line No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ShippingLineNo", "", new { @class = "form-cotrol input-sm" })
                                        @Html.ValidationMessage("ShippingLineNo", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        @Html.HiddenFor(m => m.ShippingLineId)
                                        <label>Shipping Line Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBox("ShippingLineName", "", new { @class = "InputLabel", @readonly = true })
                                        @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingModal"></i></span>*@
                                        @Html.ValidationMessage("ShippingLineName", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.HiddenFor(m => m.CHAId)
                                        <label>CHA Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.CHAName, new { @class = "InputLabel", @readonly = true })
                                        @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>*@
                                        @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Cargo Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("ddlCargoType", new List<SelectListItem>
                                {
                                   new SelectListItem { Text="Non HAZ",Value="2"},
                                    new SelectListItem { Text="HAZ",Value="1"}
                                }, "---Select---", new { @class = "form-control input-sm dropdown", @onblur = "hideMsg(this)" })
                                        @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 ">
                                        <label>Purpose:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("Purpose", new List<SelectListItem>
                                       {
                                           new SelectListItem { Text="----Select----",Value="",Selected = true },
                                           new SelectListItem { Text="FDS",Value="FDS"},
                                           new SelectListItem { Text="RMS",Value="RMS" },
                                           new SelectListItem { Text="Destuffing",Value="Destuffing" },
                                           new SelectListItem { Text="Bond",Value="Bond" }
                                       }, new { @class = "form-control input-sm dropdown", @onblur = "hideMsg(this)" })
                                        <span class="field-validation-error" id="ErrPurpose"></span>
                                    </div>
                                    <div class="col-md-1-5">
                                        <label>Container Load Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("ddlContainerLoadType", new List<SelectListItem>
                           {
                               new SelectListItem { Text="----Select----",Value="",Selected = true },
                               new SelectListItem { Text="FCL",Value="FCL"},
                               new SelectListItem { Text="LCL",Value="LCL" },
                           }, "---Select---", new { @class = "form-control input-sm dropdown", @onblur = "hideMsg(this)" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>From Location:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("FromLocation", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                                        @Html.ValidationMessage("FromLocation", "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>To Location:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ToLocation", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                                        @Html.ValidationMessage("ToLocation", "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_1_5 padding_rt">
                                        <label>Yard Name:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        @Html.HiddenFor(m => m.ToYardId)
                                        @Html.TextBox("YardName", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                                        <span class="search" id="YardSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#YardModal"></i></span>
                                        @Html.ValidationMessage("YardName", "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label>Yard Location:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2">
                                        @Html.HiddenFor(m => m.YardWiseLocationIds)
                                        @Html.TextBox("YardWiseLctnNames", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                                        @*<span class="search" id="YardWiseLctnSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#yardwiselocationmodal"></i></span>*@

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_1_5 padding_rt">
                                        <label>Godown Name:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        @Html.Hidden("GodownId")
                                        @Html.TextBox("GodownName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                                        
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label>Godown Location:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2">
                                        @Html.Hidden("GodownWiseLocationIds")
                                        @Html.TextBox("GodownWiseLctnNames", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>No of Packages:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        <input class="form-control input-sm" id="NoofPackages" name="NoofPackages" type="text" value="">
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Gross Weight(Kg):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                                        @Html.ValidationMessage("GrossWeight", "", new { @class = "Error_Msg" })

                                        <input id="txtCommodity" type="hidden">
                                        <input id="txtCommodityId" type="hidden">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Package Type:</label>
                                    </div>

                                    <div class="col-md-2">
                                        @Html.DropDownList("ddlPackageType", new List<SelectListItem>
                        {
                             new SelectListItem { Text = "Pallet", Value = "Pallet" },
                        new SelectListItem { Text = "Cartoon", Value = "Cartoon" },
                         new SelectListItem { Text = "Drum", Value = "Drum" },
                         new SelectListItem { Text = "Metal", Value = "Metal" },
                         new SelectListItem { Text = "Fibre", Value = "Fibre" },
                         new SelectListItem { Text = "Wooden", Value = "Wooden" },
                           new SelectListItem { Text = "Crate", Value = "Crate" },
                            new SelectListItem { Text = "Others", Value = "Others" },

                        }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" ,@disabled=true})
                                        <span class="field-validation-error" id="ErrPackageType"></span>
                                        <div id="DivOthers" style="margin-top:5px;">
                                            <div class="Date_Img">
                                                @Html.TextBox("Others", "", new { @class = "form-control input-sm", @id = "Others",@readonly=true })
                                                @Html.ValidationMessage("Others", "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-2-5">
                                        <label>Operations:</label>
                                    </div>
                                    <div class="col-md-4-5 ">
                                       
                                        @Html.TextBox("OperationName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                                        <div id="DivOtherOperation" style="margin-top:5px;">
                                            <div>
                                                @Html.TextBox("OtherOperation", "", new { @class = "form-control input-sm", @id = "OtherOperation", style = "display:none" })
                                                @Html.ValidationMessage("OtherOperation", "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                           
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label class="InputLabel" for="cargo_des">Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextArea("CargoDescription", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);", @style = "width:100%;height:100px;" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                        <div class="modal fade" id="myPortModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content popup_modal">
                                    <div class="modal-header popup_header">
                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        <h4 class="modal-title">List of Port</h4>
                                    </div>
                                    <div class="modal-body popup_body">
                                        <input placeholder="Search Me" id="port" type="text" />
                                        <ul class="navList" id="lstPortName">
                                            @{
                                                if (ViewBag.ListOfPort != null)
                                                {
                                                    foreach (var item in ViewBag.ListOfPort)
                                                    {
                                                        <li id="@item.PortId">@item.PortName</li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-offset-6 col-md-6">
                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Form 1 Date:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5">
                                        @Html.TextBoxFor(m => m.FormOneDate, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>*@


                        @*<div class="row SignUp_space_bottom2 SignUp_space_top2">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="button" id="btnadd" class="btn log_Btn_sm" value="Add" onclick="AddJobOrderDet()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="btnreset" class="btn log_Btn_sm" value="Reset" onclick="ResetJobOrderDet()" />
                                </div>
                            </div>*@

                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered dataTable" id="tblJobOrderDet" style="width:100%;"></table>
                            </div>
                        </div>

                        <div>
                            @Html.HiddenFor(m => m.JobOrderDetailsJS)
                            @Html.ValidationMessageFor(m => m.JobOrderDetailsJS)
                        </div>
                        @*<div class="row SignUp_space_bottom2 SignUp_space_top2">
                                <div class="col-md-offset-5 col-md-2">
                                    <input type="button" id="btnUpdate" class="btn log_Btn_sm" value="Update" onclick="UpdateDetails()" />
                                </div>
                            </div>*@
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div id="DivImportJOList"></div>
                                </div>
                            </div>*@


                                                <div class="brdr_sec">
                                                    <div class="row Form_Space_top" style="padding:0 10px;">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                                <label>Clause:</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                @Html.DropDownList("OperationId", new SelectList(ViewBag.Operation, "OperationId", "Code"), "---Select---", new { @class = "form-control input-sm" })
                                                                @Html.ValidationMessage("ErrOperation", "", new { @class = "Error_Msg" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                
                                                <div>
                                                    @Html.HiddenFor(m => m.JobOrderClauseJS)
                                                    @Html.ValidationMessageFor(m => m.JobOrderClauseJS)
                                                </div>
                                                <div class="row Form_Space_top Form_Space_bottom">
                                                    <div class="col-md-12">
                                                        <table class="table table-striped table-bordered dataTable" id="tblClause" style="width:100%;"></table>
                                                    </div>
                                                </div>



                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="Back()">
                            </div>
                        </div>

                        <div class="logSuccMsg" id="DivSucMsg" style="color:transparent"></div>
                        <div class="logErrMsg" id="DivErrMsg" style="color:transparent"></div>


                        }
                    </div>
        </div>
    </div>
</div>
<script>
    var ArrayOfContainerDetails = [];
    var ArrayOfClause = [];
    $(function () {
        debugger;
        $('#Others').hide();
        ArrayOfContainerDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyXML)));
        ArrayOfClause = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyClauseXML)));
       
        GenerateTable();
        GenerateTableClause();
        $('#rbEmptyContainer').prop("disabled", true);
        $('#rbLoadedContainer').prop("disabled", true);
        debugger;
        if ($('#rbLocalIcd').prop('checked') == true) {
            $("#DivPort").hide();
            $("#DivDistance").show();
            $("#search").hide();
            $('#DivRoundTrip').show();

        }
        else if ($('#rbGatewayPort').prop('checked') == true) {
            $("#DivPort").show();
            $("#DivDistance").hide();
            $("#search").show();
            $('#DivRoundTrip').show();

        }
        else {
            $("#DivPort").hide();
            $("#DivDistance").hide();
            $('#DivRoundTrip').hide();
        }


        if ($('#rbEmptyContainer').prop('checked') == true) {
            $("#DivForm1").hide();
        }
        else {
            $("#DivForm1").show();
        }
    });

    function GenerateTableClause() {
        debugger;

        var tablehtml = '<table id="tblClause" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Clause</th><th style="width:10%;text-align:center;">View</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfClause, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.OperationCode + '</td>' +
            
                '<td style="text-align:center;"><a href="#" onclick="ViewClauseDet(' + i + ')"><i class="fa fa-search-plus Delete"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblClause').html(tablehtml);

        if (ArrayOfClause.length > 0) {
            $('#JobOrderClauseJS').val(JSON.stringify(ArrayOfClause));
        }
        else {
            $('#JobOrderClauseJS').val('');
        }
    }


    function ViewClauseDet(i) {
        debugger;

      
            $('#OperationId').val(ArrayOfClause[i].OperationId);
           

       
    }
    function GenerateTable() {
        debugger;

        var tablehtml = '<table id="tblJobOrderDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Container/CBT No</th><th>Container/CBT Size</th><th>Custom Seal No</th><th>Cargo Type</th><th>Commodity</th><th style="width:10%;text-align:center;">View</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfContainerDetails, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ContainerNo + '</td><td>' + data.ContainerSize + '</td><td>' + data.CustomSealNo + '</td><td>' + data.DisplayCargoType + '</td><td>' + data.Commodity + '</td>'
                //+ '<td style="text-align:center;"><a href="#" onclick="EditJobOrderDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td>'
                + '<td style="text-align:center;"><a href="#" onclick="ViewJobOrderDet(' + i + ')"><i class="fa fa-search-plus Delete"></i></a></td>'
                //+ '<td style="text-align:center;"><a href="#" onclick="DeleteJobOrderDet(' + i + ')"><i class="fa fa-search-plus Delete"></i></a></td>
                + '</tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblJobOrderDet').html(tablehtml);

        if (ArrayOfContainerDetails.length > 0) {
            $('#JobOrderDetailsJS').val(JSON.stringify(ArrayOfContainerDetails));
        }
        else {
            $('#JobOrderDetailsJS').val('');
        }

      //  GenerateTableClause();
    }

    //$("#DivDistance").hide();
    //$("#DivForm1").hide();
    $("input[type='radio']").change(function () {
        debugger;
        if ($('#rbLocalIcd').prop('checked') == true) {
            $("#DivPort").hide();
            $("#DivDistance").show();
            $("#search").hide();
            $('#DivRoundTrip').show();
        }
        else if ($('#rbGatewayPort').prop('checked') == true) {
            $("#DivPort").show();
            $("#DivDistance").hide();
            $("#search").show();
            $('#DivRoundTrip').show();

        }

        else {
            $("#DivPort").hide();
            $("#DivDistance").hide();
            $('#DivRoundTrip').hide();
        }
        if ($('#rbEmptyContainer').prop('checked') == true) {
            $("#DivForm1").hide();

        }
        else {
            $("#DivForm1").show();

        }
    });

    function ViewJobOrderDet(i) {
        $('#JobOrderDetailId').val(ArrayOfContainerDetails[i].JobOrderDetailId);
        $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
        $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
        $('#CustomSealNo').val(ArrayOfContainerDetails[i].CustomSealNo);
        $('#ShippingLineId').val(ArrayOfContainerDetails[i].ShippingLineId);
        $('#ShippingLineName').val(ArrayOfContainerDetails[i].ShippingLineName);
        $('#ShippingLineNo').val(ArrayOfContainerDetails[i].ShippingLineNo);
        $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
        $('#CHAName').val(ArrayOfContainerDetails[i].CHAName);
        $('#FromLocation').val(ArrayOfContainerDetails[i].FromLocation);
        $('#ToLocation').val(ArrayOfContainerDetails[i].ToLocation);
        $('#NoofPackages').val(ArrayOfContainerDetails[i].NoofPackages);
        $('#Remarks').val(ArrayOfContainerDetails[i].Remarks);
        $('#CargoDescription').val(ArrayOfContainerDetails[i].CargoDescription);
        $('#GrossWeight').val(ArrayOfContainerDetails[i].GrossWeight);
        $('#ddlContainerLoadType option[value="' + ArrayOfContainerDetails[i].ContainerLoadType + '"]').prop("selected", true);
        $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').prop("selected", true);
        $('#Purpose option[value="' + ArrayOfContainerDetails[i].Purpose + '"]').prop("selected", true);
        $('#txtCommodity').val(ArrayOfContainerDetails[i].Commodity);
        $('#txtCommodityId').val(ArrayOfContainerDetails[i].CommodityId);
        $('#ToYardId').val(ArrayOfContainerDetails[i].ToYardId);
        $('#YardName').val(ArrayOfContainerDetails[i].YardName);
        $('#YardWiseLctnNames').val(ArrayOfContainerDetails[i].YardWiseLctnNames);
        $('#IsODC').prop('checked', (ArrayOfContainerDetails[i].IsODC == 1 ? true : false));
        $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
        $('#txtOBLNO').val(ArrayOfContainerDetails[i].OBLNO);
        $('#ddlPackageType option[value="' + ArrayOfContainerDetails[i].PackageType + '"]').prop("selected", true);
        if (ArrayOfContainerDetails[i].PackageType != 'Others') {
            $('#Others').hide();
        }
        else {
            $('#Others').show();
        }
        $('#GodownId').val(ArrayOfContainerDetails[i].GodownId);
        $('#GodownName').val(ArrayOfContainerDetails[i].GodownName);
        $('#GodownWiseLocationIds').val(ArrayOfContainerDetails[i].GodownWiseLocationIds);
        $('#GodownWiseLctnNames').val(ArrayOfContainerDetails[i].GodownWiseLctnNames);
        if (ArrayOfContainerDetails[i].GodownWiseLocationIds != null && ArrayOfContainerDetails[i].GodownWiseLocationIds != undefined)
        {
            var split = ArrayOfContainerDetails[i].GodownWiseLocationIds.split(',');
            $(split).each(function (j, data) {
                debugger;
                $('#' + data + '').prop('checked', true);
            });
        }
        $('#Others').val(ArrayOfContainerDetails[i].Others);
        $('#OtherOperation').val(ArrayOfContainerDetails[i].OtherOperation);
        $('#OperationName').val(ArrayOfContainerDetails[i].OperationName);
        $('#btnadd').prop("disabled", true);

        if(ArrayOfContainerDetails[i].PackageType!='Others')
        {
            $('#Others').hide();
        }
        else
        {
            $('#Others').show();
        }


        if (ArrayOfContainerDetails[i].OperationName != null && ArrayOfContainerDetails[i].OperationName != undefined) {
            var split = ArrayOfContainerDetails[i].OperationName.split(',');
            $(split).each(function (j, data) {
                debugger;
                $('#' + data + '').prop('checked', true);
                data == "OtherOperations" ? $('#OtherOperation').show() : '';

            });
        }

    }

    $('#btnBack').on("click", function ()
    {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateJobOrder');
    });
</script>
