@model CwcExim.Areas.Import.Models.Hdb_DestuffingEntry

<script>
    var ArrayOfDestuffingEntry = [];
    var TimeInSeconds;
    $(function () {
        debugger;
        TimeInSeconds = 5000;
        ArrayOfDestuffingEntry=@Html.Raw(Json.Encode(Model.LstDestuffingEntry));
        GenerateDestuffingEntryTable();
        //var LCLFCL;
        //if (LCLFCL == 'FCL') {
        //    $('#FCL').prop('checked', true);
        //    $('#LCL').prop('checked',false);
        //    $("#tsahide").hide();
        //}
        //else {
        //    $('#FCL').prop('checked', false);
        //    $('#LCL').prop('checked', true);
        //    $("#tsahide").show();
        //}

    });

    function ReloadDestuffingEntryPage() {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateDestuffingEntryFCL');
    }

    function ViewDestuffingEntry(Index) {
        debugger;
        $('#BtnAddDestuffingEntry').prop("disabled", true);
        $('#LocationSearch').css("display", "none");
        $('#DestuffingEntryDtlId').val(ArrayOfDestuffingEntry[Index].DestuffingEntryDtlId);
        $('#LineNo').val(ArrayOfDestuffingEntry[Index].LineNo);
        $('#BOENo').val(ArrayOfDestuffingEntry[Index].BOENo);
        $('#BOEDate').val(ArrayOfDestuffingEntry[Index].BOEDate);
        $('#BOLNo').val(ArrayOfDestuffingEntry[Index].BOLNo);
        $('#BOLDate').val(ArrayOfDestuffingEntry[Index].BOLDate);
        $('#MarksNo').val(ArrayOfDestuffingEntry[Index].MarksNo);
        $('#CargoType').val(ArrayOfDestuffingEntry[Index].CargoType);
        $('#CommodityId').val(ArrayOfDestuffingEntry[Index].CommodityId);
        $('#Commodity').val(ArrayOfDestuffingEntry[Index].Commodity);
        $('#CUM').val(ArrayOfDestuffingEntry[Index].CUM);
        $('#SQM').val(ArrayOfDestuffingEntry[Index].SQM);
        $('#CHAId').val(ArrayOfDestuffingEntry[Index].CHAId);
        $('#CHA').val(ArrayOfDestuffingEntry[Index].CHA);
        $('#ImporterId').val(ArrayOfDestuffingEntry[Index].ImporterId);
        $('#Importer').val(ArrayOfDestuffingEntry[Index].Importer);
        $('#CargoDescription').val(ArrayOfDestuffingEntry[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfDestuffingEntry[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfDestuffingEntry[Index].GrossWeight);
        $('#DestuffingWeight').val(ArrayOfDestuffingEntry[Index].DestuffingWeight);
        $('#Duty').val(ArrayOfDestuffingEntry[Index].Duty);
        ArrayOfDestuffingEntry[Index].AppraisementStatus == 1 ? $('#Pass').prop("checked", true) : $('#Fail').prop("checked", true);
        $('#IsInsured').prop("checked",ArrayOfDestuffingEntry[Index].IsInsured);
        $('#StorageType').val(ArrayOfDestuffingEntry[Index].StorageType);
        $('#CIFValue').val(ArrayOfDestuffingEntry[Index].CIFValue);
        $('#GodownId').val(ArrayOfDestuffingEntry[Index].GodownId);
        $('#GodownName').val(ArrayOfDestuffingEntry[Index].GodownName);
        $('#GodownWiseLctnNames').val(ArrayOfDestuffingEntry[Index].GodownWiseLctnNames);
        $('#TSANo').val(ArrayOfDestuffingEntry[Index].TSANo);
        $('#TSADate').val(ArrayOfDestuffingEntry[Index].TSADate);
        $('#ForwarderId').val(ArrayOfDestuffingEntry[Index].ForwarderId);
        $('#ForwarderName').val(ArrayOfDestuffingEntry[Index].ForwarderName);
    }

    function GenerateDestuffingEntryTable() {
        debugger;
        $('#TblDestuffingEntryDet').hide();
        $('#TblDestuffingEntryDet>tbody').html('');
        var Html = '';
        if (ArrayOfDestuffingEntry.length != 0) {
            $.each(ArrayOfDestuffingEntry, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + $('#ContainerNo').val() + '</td><td>' + item.LineNo + '</td><td>' + item.BOLNo + '</td><td class="text-center"><a href="#" onclick="ViewDestuffingEntry(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDestuffingEntryDet>tbody').html(Html);
            $('#TblDestuffingEntryDet').show();
        }
    }
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div id="DivViewDestuffingEntry">
                    @Html.HiddenFor(m => m.DestuffingEntryXML)
                    @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                    @Html.HiddenFor(m => m.DestuffingEntryId)
                    @Html.HiddenFor(m => m.LocationDetails)
                    @Html.HiddenFor(m => m.ClearLocation)
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Destuffing Entry Application FCL</h4>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 padding_rt">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.CBT, "CONT", new { @class = "", @id = "rbContainerNo", @onclick = "IVType('CONT')" })
                                    <label for="rbContainerNo"><i class="circle"></i><span>ContainerNo</span></label>
                                </div>
                            </div>
                            <div class="col-md-1 padding_rt">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.CBT, "CBT", new { @class = "", @id = "rbCBT", @onclick = "IVType('CBT')" })
                                    <label for="rbCBT"><i class="circle"></i><span>CBT</span></label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.ValidationMessageFor(m => m.CBT)
                            </div>
                            </div>
                        </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Container No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.ContainerNo, "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Arrival Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ArrivalDate, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>DO Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.DODate, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.DODate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Destuffing No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                        <label>Destuffing Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.DestuffingEntryDate, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.DestuffingEntryDate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div id="DivShippingLine" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Container Size:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                                        @*@Html.DropDownListFor(m=>m.Size, new List<SelectListItem> {
                                   new SelectListItem { Text="20",Value="20"},
                                   new SelectListItem {Text="40",Value="40" },
                                   new SelectListItem {Text="ODC",Value="ODC" }
                                   }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                @Html.ValidationMessageFor(m => m.Size,"", new { @class = "Error_Msg" })*@
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>CFS Code:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Shipping Line:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                        @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>*@
                                        @Html.HiddenFor(m => m.ShippingLineId)
                                    </div>
                                </div>
                            </div>
                            <div id="DivVessel" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Vessel:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBoxFor(m => m.Vessel, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.Vessel, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Voyage:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.Voyage, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.Voyage, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-2-5">
                                        <label>Rotation:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>S/L Seal No.:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.SealNo, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.SealNo, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label>Custom Seal No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.CustomSealNo, "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Remarks:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px", @disabled = true })
                                        @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1 col-md-offset-1-5 col_cus_offset_2">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "FCL", new { @class = "", @id = "FCL", @disabled = true })
                                            <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col_cus_1_5" style="display:none">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "LCL", new { @class = "", @id = "LCL", @disabled = true })
                                            <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="DivDestuffingEntryDet" class="Head_h5">
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Line No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.LineNo, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                       @* <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                            <label>BOE Date:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                            @Html.TextBoxFor(m => m.BOEDate, new { @class = "form-control input-sm", @readonly = true })
                                        </div>*@
                                    </div>
                                </div>
                               
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>HBL No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.BOLNo, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>HBL Date:</label>
                                        </div>
                                        <div class="col-md-2-5 Date_Img">
                                            @Html.TextBoxFor(m => m.BOLDate, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Marks & No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.MarksNo, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>CHA:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.CHAId)
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Importer:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.Importer, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.ImporterId)
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Forwarder:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.ForwarderName, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.ForwarderId)
                                            @*<span class="search" id="TSAForwarderSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TSAForwarderModal"></i></span>*@

                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Cargo Description:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextAreaFor(m => m.CargoDescription, new { @style = "width:100%;height:75px", @disabled = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top" style="display:none">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>TSA No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.TSANo, new { @class = "form-control input-sm", @readonly = true })

                                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>TSA Date:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.TSADate, new { @class = "form-control input-sm", @readonly = true })

                                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Cargo Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownList("CargoType", new List<SelectListItem> {
                                       new SelectListItem { Text="HAZ",Value="1"},
                                       new SelectListItem {Text="NON-HAZ",Value="2" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                            @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>Commodity:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.Commodity, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.CommodityId)
                                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>No of Packages:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.NoOfPackages, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>CUM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.CUM, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Godown:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_3">
                                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.HiddenFor(m => m.GodownId)
                                            @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4">
                                            <label>SQM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.SQM, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Gross Weight(Kg):</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                            <label>Destuffing Weight:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.DestuffingWeight, new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.DestuffingWeight, "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Duty:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col-md-offset-4">
                                            <label>Location:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_3">
                                            @Html.TextBoxFor(m => m.GodownWiseLctnNames, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>CIF Value:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.CIFValue, new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                        @*<div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                            <label>Appraisement Status:</label>
                                        </div>
                                        <div class="col-md-1 col_cus_2 padding_rt ">
                                            <div class="boolean-container">
                                                @Html.RadioButtonFor(m => m.AppraisementStatus, "1", new { @class = "", @id = "Pass", @checked = true })
                                                <label for="Pass"><i class="circle"></i><span>Pass</span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="boolean-container">
                                                @Html.RadioButtonFor(m => m.AppraisementStatus, "2", new { @class = "", @id = "Fail" })
                                                <label for="Fail"><i class="circle"></i><span>Fail</span></label>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label for="IsInsured">Insured:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            <div class="boolean-container">
                                                @Html.CheckBox("IsInsured")
                                                <label for="IsInsured"><i class="square"></i></label>
                                            </div>

                                        </div>
                                        <div class="col-md-offset-4 col-md-1-5 padding_rt">
                                            <label>Storage Type:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <span class="ReQSimbol">*</span>
                                            @Html.DropDownList("StorageType", new List<SelectListItem>
                       {
                           new SelectListItem { Text="Open",Value="O"},
                           new SelectListItem { Text="Covered",Value="C"},
                       }, "----Select----")
                                            @Html.ValidationMessage("StorageType", "", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                                </div>
                                @*<div class="row">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="button" id="BtnAddDestuffingEntry" class="btn log_Btn_sm" value="Add" onclick="SaveDestuffingEntryDtl()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Reset" />
                            </div>
                        </div>*@
                                <div id="DivDestuffingEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                                <table class="table table-striped table-bordered dataTable" id="TblDestuffingEntryDet" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                            <th class="text-center">@Html.DisplayName("Container No")</th>
                                            <th>@Html.DisplayName("Line No")</th>
                                            <th>@Html.DisplayName("BOL No")</th>
                                            @*<th style="width:15%;">@Html.DisplayName("BOE Date")</th>*@
                                            @*<th class="text-center">@Html.DisplayName("CHA")</th>*@
                                            @*<th class="text-center">@Html.DisplayName("Shipping Line")</th>*@
                                            <th class="text-center" style="width:10%;">@Html.DisplayName("View")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                                <input type="button" class="btn log_Btn_sm" value="Back" onclick="ReloadDestuffingEntryPage()" />
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>


















































