@model CwcExim.Areas.Import.Models.HdbIssueSlip

<script>
    var ArrayOfContainer = [];
    var ArrayOfCargo = [];
    $(function () {
        debugger;
        ArrayOfContainer=@Html.Raw(Json.Encode(Model.LstContainer));
        ArrayOfCargo=@Html.Raw(Json.Encode(Model.LstCargo));
        GenerateConatinerTable();
        GenerateCargoTable();
    });

    function ReloadIssueSlipPage() {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateIssueSlip');
    }

    function GenerateConatinerTable() {
        debugger;
        $('#TblContainer').hide();
        var Html = '';
        if (ArrayOfContainer.length != 0) {
            $.each(ArrayOfContainer, function (i, item) {
                debugger;
                Html += '<tr><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.Size + '</td><td>' + item.GrossWeight + '</td><td>' + item.CIFValue + '</td></tr>';
            });
            $('#TblContainer>tbody').html(Html);
            $('#TblContainer').show();
        }
    }

    function GenerateCargoTable() {
        debugger;
        $('#TblCargo').hide();
        var Html = '';
        if (ArrayOfCargo.length != 0) {
            $.each(ArrayOfCargo, function (i, item) {
                debugger;
                Html += '<tr><td>' + item.OBLNo + '</td><td>' + item.CargoDescription + '</td><td>' + item.GodownNo + '</td><td>' + item.Location + '</td><td>' + item.StackNo + '</td><td>' + item.Area + '</td><td>' + item.NetWeight + '</td></tr>';
            });
            $('#TblCargo>tbody').html(Html);
            $('#TblCargo').show();
        }
    }

</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @Html.HiddenFor(m => m.IssueSlipId)
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Issue Slip</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Issue Slip No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.IssueSlipNo, "", new { @class = "form-control input-sm", @readonly = true })

                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Issue Slip Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.IssueSlipDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.InvoiceId)
                                @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                @Html.ValidationMessageFor(m => m.InvoiceNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Invoice Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.InvoiceDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @style = "width:100%;height:100px", @disabled = true })
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div id="DivTblContainer" class="col-md-12">
                            <label></label>
                            <table class="table table-striped table-bordered dataTable" id="TblContainer" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="5">Container Details</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">@Html.DisplayName("CFS No")</th>
                                        <th class="text-center">@Html.DisplayName("Container No")</th>
                                        <th class="text-center" style="width:10%;">@Html.DisplayName("Size")</th>
                                        <th style="width:15%;">@Html.DisplayName("Gross Wt")</th>
                                        <th style="width:15%;">@Html.DisplayName("CIF Value")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div id="DivTblCargo" class="col-md-12">
                            <label></label>
                            <table class="table table-striped table-bordered dataTable" id="TblCargo" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="7">Cargo Details</th>
                                    </tr>
                                    <tr>
                                        <th style="width:15%;">@Html.DisplayName("OBL No")</th>
                                        <th class="text-center">@Html.DisplayName("Cargo Description")</th>
                                        <th style="width:15%;">@Html.DisplayName("Godown No")</th>
                                        <th>@Html.DisplayName("Location")</th>
                                        <th>@Html.DisplayName("Stack No")</th>
                                        <th>@Html.DisplayName("Area")</th>
                                        <th style="width:10%;">@Html.DisplayName("Net Wt")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    @*<div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Preview"  />
                        </div>*@
                    <div class="col-md-offset-5  col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="ReloadIssueSlipPage()" />
                    </div>
                </div>
                @Scripts.Render("~/bundles/jqueryval")
            </div>
        </div>
    </div>
</div>