@model CwcExim.Areas.Import.Models.Hdb_FormOneModel

<div class="Head_h4">
    <div class="row">
        <div class="col-md-12">
            <h4>View Form - 1 FCL</h4>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2">
                @Html.HiddenFor(m => m.FormOneId, new { @value = "0" })
                @Html.LabelFor(m => m.FormOneNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.FormOneNo, new { @class = "form-control input-sm", @readonly = true })
            </div>
            <div class="col-md-offset-4-5 col-md-1-5 col_cus_2">
                @Html.LabelFor(m => m.FormOneDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2 col_cus_2_5">
                @Html.TextBoxFor(m => m.FormOneDate, new { @class = "form-control input-sm", @readonly = true })
            </div>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2">
                @Html.LabelFor(m => m.BLNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.BLNo, new { @class = "form-control input-sm", @readonly = true })
                @Html.ValidationMessageFor(m => m.BLNo)                
            </div>
            <div class="col-md-1-5 col_cus_2 col_cus_offset_4 col-md-offset-4-5">
                <label>BL Date:</label>
            </div>
            <div class="col-md-2 col_cus_2_5">
                @Html.TextBoxFor(m => m.BLDate, new { @class = "form-control input-sm", @ReadOnly = true })
                @*@Html.ValidationMessageFor(m => m.RotationNo)*@
            </div>
        </div>
     </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>IGM No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.IGMNo, new { @class = "form-control input-sm", @ReadOnly = true })
                    @*@Html.ValidationMessageFor(m => m.BLNo)*@
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_4 col-md-offset-4-5">
                    <label>IGM Date:</label>
                </div>
                <div class="col-md-2 col_cus_2_5">
                    @Html.TextBoxFor(m => m.IGMDate, new { @class = "form-control input-sm", @ReadOnly = true })
                    @*@Html.ValidationMessageFor(m => m.RotationNo)*@
                </div>
            </div>
        </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2">
                <label>TP No:</label>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.TPNo, new { @class = "form-control input-sm" })
                @*@Html.ValidationMessageFor(m => m.BLNo)*@
            </div>
            <div class="col-md-1-5 col_cus_2 col_cus_offset_4 col-md-offset-4-5">
                <label>TP Date:</label>
            </div>
            <div class="col-md-2 col_cus_2_5 Date_Img">
                @Html.TextBoxFor(m => m.TPDate, new { @class = "form-control input-sm", @readonly = true })
                @*@Html.ValidationMessageFor(m => m.RotationNo)*@
            </div>
        </div>
    </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Shipping Line Name:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.HiddenFor(m => m.ShippingLineId, new { @value = "0" })
                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input-sm", @readonly = true })
                    @*<span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>*@
                    @Html.ValidationMessageFor(m => m.ShippingLineName)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    @Html.LabelFor(m => m.VesselName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.TextBoxFor(m => m.VesselName, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.VesselName)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    @Html.LabelFor(m => m.VoyageNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.VoyageNo, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.VoyageNo)
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                    @Html.LabelFor(m => m.RotationNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.RotationNo, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.RotationNo)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    @Html.LabelFor(m => m.PortName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-4 col_cus_3">
                    @Html.HiddenFor(m => m.PortOfDischargeId, new { @value = "0" })
                    @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input-sm", @readonly = true })
                    @*<span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PODModal"></i></span>*@
                    @Html.ValidationMessageFor(m => m.PortName)
                </div>
                <div class="col-md-1-5 col_cus_2 col-md-offset-2-5">
                    @Html.LabelFor(m => m.PortCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.PortCharge, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.PortCharge)
                </div>


            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt" style="display:none">
                    <label>Port Charge Amount:</label>
                </div>
                <div class="col-md-2-5" style="display:none">
                    @Html.TextBoxFor(m => m.PortChargeAmt, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.PortChargeAmt)
                </div>
                <div class="col-md-2 padding_rt">
                    <div class="boolean-container">
                        @Html.RadioButtonFor(m => m.CBT, "ContainerNo", new { @class = "", @id = "rbContainerNo", @checked = true })
                        <label for="rbContainerNo"><i class="circle"></i><span>ContainerNo</span></label>
                    </div>
                </div>
                <div class="col-md-1 padding_rt" style="display:none;">
                    <div class="boolean-container">
                        @Html.RadioButtonFor(m => m.CBT, "CBT", new { @class = "", @id = "rbCBT" })
                        <label for="rbCBT"><i class="circle"></i><span>CBT</span></label>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.ValidationMessageFor(m => m.CBT)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2" style="display:none">
                    @Html.LabelFor(m => m.CargoType, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5" style="display:none">
                    @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                {
                new SelectListItem { Text="HAZ",Value="1"},
                new SelectListItem { Text="NonHAZ",Value="2"},
                }, "----Select----", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.CargoType)
                </div>
                <div class="col-md-1-5 padding_rt">
                    @Html.Label("Container From", new { @class = "InputLabel", @for = "CBTFrom" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.CBTFrom, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.CBTFrom)
                </div>

            </div>
        </div>

        <div class="row">
            <div class="SignUp_space_top SignUp_space_bottom"></div>
        </div>
        <div class="Head_h5">
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Container/CBT No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.Hidden("FormOneDetailId", 0)
                        @Html.TextBox("txtContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                        <span id="ErrContainerNo"></span>
                    </div>
                    <div class="col-md-2 col_cus_2 padding_rt">
                        <label>Container/CBT Size:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.DropDownList("ddlContainerSize", new List<SelectListItem>
                {
                new SelectListItem { Text="20",Value="20"},
                new SelectListItem { Text="40",Value="40"},

                }, "----Select----", new { @class = "form-control input-sm", @disabled = true })
                        <span id="ErrContainerSize"></span>
                    </div>
                    <div class="col-md-2 padding_rt">
                        <div class="boolean-container">
                            @Html.CheckBox("IsODC")
                            <label for="IsODC"><span>Is ODC</span><i class="square"></i></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Reefer:</label>
                    </div>
                    <div class="col-md-1 padding_rt">
                        <div class="boolean-container">
                            @Html.CheckBox("IsReefer")
                            <label for="IsReefer"><i class="square"></i></label>
                        </div>
                    </div>
                    <div class="col-md-1 col_cus_1_5 padding_rt">
                        <label>Flat Reck:</label>
                    </div>
                    <div class="col-md-1">
                        <div class="boolean-container">
                            @Html.CheckBox("IsFlatReck")
                            <label for="IsFlatReck"><i class="square"></i></label>
                        </div>
                    </div>
                    <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-3-5">
                        <label>Seal No.:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtSealNo", "", new { @class = "form-control input-sm", @readonly = true })
                        <span id="ErrSealNo"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Line No.:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtLineNo", "", new { @class = "form-control input-sm", @readonly = true })

                    </div>
                    <div class="col-md-2 padding_rt">
                        <div class="boolean-container">
                            @Html.RadioButton("LCLFCL", "FCL", new { @class = "", @id = "rbFCL", @checked = true })
                            <label for="rbFCL"><i class="circle"></i><span>FCL</span></label>
                            <span class="field-validation-error" id="ErrLCLFCL"></span>
                        </div>
                    </div>
                    <div class="col-md-1 padding_rt" style="visibility:hidden;">
                        <div class="boolean-container">
                            @Html.RadioButton("LCLFCL", "LCL", new { @class = "", @id = "rbLCL", @readonly = true })
                            <label for="rbLCL"><i class="circle"></i><span>LCL</span></label>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-1-5 col_cus_2 ">
                        <label>Marks & No.:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtMarksNo", "", new { @class = "form-control input-sm", @readonly = true })
                        <span id="ErrMarksNo"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>CHA Name & Address:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.Hidden("CHAId", new { @value = "0" })
                        @Html.TextArea("txtCHAName", "", new { @class = "form-control input-sm", @readonly = true })
                        @*<span class="search" id="CHASearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>*@
                        <span id="ErrCHA"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Importer Name & Address:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.Hidden("ImporterId", new { @value = "0" })
                        @Html.TextArea("txtImporterName", "", new { @class = "form-control input-sm", @readonly = true })
                        @*<span class="search" id="ImporterSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>*@
                        <span id="ErrImporterNo"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>IGM Importer Name & Address</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextArea("IgmImporter", "", new { @class = "form-control input-sm", @readonly = true })
                        @*@Html.ValidationMessageFor(m => m.VesselName)*@
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top" style="display:none;">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>TSA/ Forwarder:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.Hidden("TSAForwarderId", new { @value = "0" })
                        @Html.TextArea("txtTSAForwarderName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                        <span class="search" id="TSAForwarderSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TSAForwarderModal"></i></span>
                        <span class="field-validation-error" id="ErrTSAForwarderName"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Cargo Description:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextArea("txtCargoDesc", "", new { @class = "form-control input-sm", @style = "height:100px;", @readonly = true })
                        <span id="ErrCargoDesc"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Commodity:</label>
                    </div>
                    <div class="col-md-4 col_cus_3">
                        @Html.Hidden("CommodityId", new { @value = "0" })
                        @Html.TextBox("txtCommodity", "", new { @class = "form-control input-sm", @readonly = true })
                        @*<span class="search" id="CommoditySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                        <span id="ErrCommodity"></span>
                    </div>
                    <div class="col-md-offset-1 col-md-1-5 col_cus_2" style="display:none">
                        <label>TSA:</label>
                    </div>
                    <div class="col-md-4 col_cus_3" style="display:none">
                        @Html.Hidden("TSAId", new { @value = "0" })
                        @Html.TextBox("txtTSA", "", new { @class = "form-control input-sm" })

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Cargo Type:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.DropDownList("ddlCargoType", new List<SelectListItem>
                {

                new SelectListItem { Text="HAZ",Value="1"},
                new SelectListItem { Text="NonHAZ",Value="2"},
                }, "----Select----", new { @class = "form-control input-sm", @disabled = true })
                        <span id="ErrCargoType"></span>
                    </div>
                    <div class="col-md-offset-2-5 col-md-1-5 col_cus_2">
                        <label>Vehicle No:</label>
                    </div>
                    <div class="col-md-4 col_cus_3">
                        @Html.Hidden("VehicleId", new { @value = "0" })
                        @Html.TextBox("txtVehicle", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Date of Landing:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @Html.TextBox("txtDateOfLanding", "", new { @class = "form-control input-sm", placeholder = "dd/mm/yyyy", @readonly = true })
                        <span id="ErrDateOfLanding"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>No of Package:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @Html.TextBox("Noofpkg", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-offset-5 col-md-1-5 col_cus_1_5">
                        <label>Package Type:</label>
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("ddlPackageType", new List<SelectListItem>
                        {
                             new SelectListItem { Text = "Pallet", Value = "Pallet" },
                        new SelectListItem { Text = "Cartoon", Value = "Cartoon" },
                         new SelectListItem { Text = "Drum", Value = "Drum" },
                         new SelectListItem { Text = "Metal", Value = "Metal" },
                         new SelectListItem { Text = "Fibre", Value = "Fibre" },
                         new SelectListItem { Text = "Wooden", Value = "Wooden" },
                           new SelectListItem { Text = "Crate", Value = "Crate" },
                            new SelectListItem { Text = "Others", Value = "Others" },

                        }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);", @disabled = true })
                        <span class="field-validation-error" id="ErrPackageType"></span>
                        <div id="DivOthers" style="margin-top:5px;">
                            <div class="Date_Img">
                                @Html.TextBox("Others", "", new { @class = "form-control input-sm", @id = "Others", @readonly = true })
                                @Html.ValidationMessage("Others", "", new { @class = "Error_Msg" })
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Gross Wt.(Kg):</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5 ">
                        @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-5 padding_rt">
                        <label>CIF Value:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @Html.TextBox("CIFValue", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Gross Duty:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5 ">
                        @Html.TextBox("GrossDuty", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-5 padding_rt">
                        <label>OBL/HBL No.<span class="LabelColon">:</span></label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @Html.TextBox("OBLNO", "", new { @class = "form-control input-sm", @readonly = true })
                        @*@Html.ValidationMessageFor(m => m.BLNo)*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                  
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>OBL/HBL Date:<span class="LabelColon">:</span></label>
                    </div>
                    <div class="col-md-2 col_cus_2_5 Date_Img">
                        @Html.TextBox("OBLDate", "", new { @class = "form-control input-sm", @readonly = true })
                    </div>

                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Remarks:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextArea("txtRemarks", "", new { @class = "form-control input-sm", @style = "height:100px;", @readonly = true })
                        <span id="ErrRemarks"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
            </div>
            @*<div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <input type="button" id="btnResetFormOneDet" class="btn log_Btn_sm" value="Reset" onclick="ResetFormOneDet()" />
                    </div>
                </div>*@
            <div class="row Form_Space_top">
                <div class="col-md-12">
                    <table id="tblFormOneDet" class="table table-striped table-bordered dataTable" style="width:100%;"></table>
                </div>
            </div>

            <div>
                @Html.HiddenFor(m => m.FormOneDetailsJS)
                @Html.ValidationMessageFor(m => m.FormOneDetailsJS)
            </div>
        </div>
        <div class="row">
            <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="ResetAllFields()" />
            </div>
        </div>
        <div class="logSuccMsg Form_Space_bottom" id="DivFormOneMsg" style="background-color:transparent"></div>
    </div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        $('#Others').hide();
        //GetFormOne();
        //GetFormOneList();
        TimeInSeconds = 5000;

    });

    $('#Shippingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShipping > li').show();
        else {
            $('#lstShipping > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstShipping > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });
    $('#PODbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPOD > li').show();
        else {
            $('#lstPOD > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstPOD > li').on("click", function () {
        $('#PortName').val($(this).text());
        $('#PortOfDischargeId').val($(this).attr('id'));
        $("#PODModal").modal("hide");
    });
    $('#CHAbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCHA > li').show();
        else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCHA > li').on("click", function () {
        $('#txtCHAName').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAModal").modal("hide");
    });
    $('#Impbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstImp > li').show();
        else {
            $('#lstImp > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstImp > li').on("click", function () {
        $('#txtImporterName').val($(this).text());
        $('#ImporterId').val($(this).attr('id'));
        $("#ImporterModal").modal("hide");
    });
    $('#Commoditybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCommodity > li').show();
        else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCommodity > li').on("click", function () {
        $('#txtCommodity').val($(this).text());
        $('#CommodityId').val($(this).attr('id'));
        $("#CommodityModal").modal("hide");
    });
</script>
<script>

    var EditIndex = -1;
    var ArrayOfContainerDetails = [];
    var obj;
    $(document).ready(function () {
        debugger;
        ArrayOfContainerDetails = $.parseJSON($('#FormOneDetailsJS').val());
        GenerateTable();
    });
    function AddFormOneDet() {
        if (ValidateFormOneDet()) {
            var ContainerDetails = {
                "FormOneDetailID": $('#FormOneDetailId').val(),
                "ContainerNo": $('#txtContainerNo').val(),
                "ContainerSize": $('#ddlContainerSize option:selected').val(),
                "Reefer": $('#IsReefer').is(':checked') ? 1 : 0,
                "FlatReck": $('#IsFlatReck').is(':checked') ? 1 : 0,
                "SealNo": $('#txtSealNo').val(),
                "LineNo": $('#txtLineNo').val(),
                "MarksNo": $('#txtMarksNo').val(),
                "CHAId": $('#CHAId').val(),
                "CHAName": $('#txtCHAName').val(),
                "ImporterId": $('#ImporterId').val(),
                "ImporterName": $('#txtImporterName').val(),
                "ForwarderId": $('#TSAForwarderId').val(),
                "ForwarderName": $('#txtTSAForwarderName').val(),
                "CargoDesc": $('#txtCargoDesc').val(),
                "CommodityId": $('#CommodityId').val(),
                "CommodityName": $('#txtCommodity').val(),
                "CargoType": $('#ddlCargoType option:selected').val(),
                "DateOfLanding": dateOfLanding,
                "Remarks": $('#txtRemarks').val(),
                "LCLFCL": lcl,
                "VehicleNo": $('#txtVehicle').val(),
                "Noofpkg": $('#Noofpkg').val(),
                "PackageType": $('#ddlPackageType option:selected').val(),
                "Others": $('#Others').val(),
                "GrossWeight": $('#GrossWeight').val(),
                "CIFValue": $('#CIFValue').val(),
                "GrossDuty": $('#GrossDuty').val(),
                "OBLNO": $('#OBLNO').val()
            };
            if (EditIndex > -1)
                ArrayOfContainerDetails.splice(EditIndex, 1, ContainerDetails);
            else
                ArrayOfContainerDetails.push(ContainerDetails);
            $('#tblFormOneDet').html('');
            GenerateTable();
            ResetFormOneDet();
        }
    }
    function ValidateFormOneDet() {
        debugger;
        var Status = true;
        if ($('#txtContainerNo').val() == "") {
            $('#ErrContainerNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlContainerSize option:selected').text() == "----Select----") {
            $('#ErrContainerSize').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtSealNo').val() == "") {
            $('#ErrSealNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtLineNo').val() == "") {
            $('#ErrLineNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtMarksNo').val() == "") {
            $('#ErrMarksNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCHAName').val() == "") {
            $('#ErrCHAName').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtImporterName').val() == "") {
            $('#ErrImporterName').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCargoDesc').val() == "") {
            $('#ErrCargoDesc').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCommodity').val() == "") {
            $('#ErrCommodity').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlCargoType option:selected').text() == "----Select----") {
            $('#ErrCargoType').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlPackageType option:selected').text() == "----Select----") {
            $('#ErrPackageType').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtDateOfLanding').val() == "") {
            $('#ErrDateOfLanding').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtRemarks').val() == "") {
            $('#ErrRemarks').html('Fill Out This Field');
            Status = false;
        }

        setTimeout(function () { $('span[id*="Err"]').html(''); }, 2000);
        return Status;
    }
    function GenerateTable() {
        var tablehtml = '<table id="tblFormOneDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Container No</th><th>Container Size</th><th>Line No</th><th>Date of Landing</th><th>OBL No.</th><th style="width:10%;text-align:center;">View</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfContainerDetails, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ContainerNo + '</td><td>' + data.ContainerSize + '</td><td>' + data.LineNo + '</td><td>' + data.DateOfLanding + '</td><td>' + data.OBLNO + '</td>'
                //+ '<td style="text-align:center;"><a href="#" onclick="EditFormOneDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td>'
                + '<td style="text-align:center;"><a href="#" onclick="ViewFormOneDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblFormOneDet').html(tablehtml);

        if (ArrayOfContainerDetails.length > 0) {
            $('#FormOneDetailsJS').val(JSON.stringify(ArrayOfContainerDetails));
        }
        else {
            $('#FormOneDetailsJS').val('');
        }
    }
    function ResetFormOneDet() {
        $('#FormOneDetailId, #CHAId, #ImporterId, #CommodityId').val('0');
        $('#txtContainerNo, #txtSealNo, #txtLineNo, #txtMarksNo, #txtCHAName, #txtImporterName, #txtCargoDesc, #txtCommodity, #txtDateOfLanding, #txtRemarks').val('');
        $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#ddlContainerSize, #ddlCargoType,#ddlPackageType').prop('selectedIndex', 0);
        $('#btnAddFormOneDet').prop("disabled", false);
    }
    function EditFormOneDet(i) {
        debugger;
        $('#btnAddFormOneDet').prop("disabled", false);
        $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
        $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
        $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
        $('#IsReefer').prop('checked', (ArrayOfContainerDetails[i].Reefer == 1 ? true : false));
        $('#IsFlatReck').prop('checked', (ArrayOfContainerDetails[i].FlatReck == 1 ? true : false));
        $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
        $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
        $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
        $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
        $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
        $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
        $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
        $('#TSAForwarderId').val(ArrayOfContainerDetails[i].ForwarderId),
        $('#txtTSAForwarderName').val(ArrayOfContainerDetails[i].ForwarderName),
        $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
        $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
        $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
        $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').prop("selected", true);
        $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
        $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
        $('#txtVehicle').val(ArrayOfContainerDetails[i].VehicleNo);
        $('#Noofpkg').val(ArrayOfContainerDetails[i].Noofpkg);
        $('#ddlPackageType option[value="' + ArrayOfContainerDetails[i].PackageType + '"]').prop("selected", true);
        $('#Others').val(ArrayOfContainerDetails[i].Others);
        $('#GrossWeight').val(ArrayOfContainerDetails[i].GrossWeight);
        $('#CIFValue').val(ArrayOfContainerDetails[i].CIFValue);
        $('#GrossDuty').val(ArrayOfContainerDetails[i].GrossDuty);
        $('#OBLNO').val(ArrayOfContainerDetails[i].OBLNO);
        EditIndex = i;
        GenerateTable();
    }
    function ViewFormOneDet(i) {
        $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
        $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
        $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
        $('#IsReefer').attr('checked', ArrayOfContainerDetails[i].Reefer == 1 ? true : false);
        $('#IsFlatReck').attr('checked', ArrayOfContainerDetails[i].FlatReck == 1 ? true : false);
        $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
        $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
        $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
        $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
        $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
        $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
        $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
        $('#TSAForwarderId').val(ArrayOfContainerDetails[i].ForwarderId),
        $('#txtTSAForwarderName').val(ArrayOfContainerDetails[i].ForwarderName),
        $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
        $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
        $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
        $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').attr("selected", "selected");
        $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
        $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
        $('#IsODC').attr('checked', ArrayOfContainerDetails[i].IsODC == 1 ? true : false);
        if (ArrayOfContainerDetails[i].LCLFCL == "FCL") {
            $('#rbFCL').prop('checked', true);
            $('#rbLCL').prop('checked', false);
        }
        else {
            $('#rbLCL').prop('checked', true);
            $('#rbFCL').prop('checked', false);
        }
        $('#txtVehicle').val(ArrayOfContainerDetails[i].VehicleNo)
        $('#Noofpkg').val(ArrayOfContainerDetails[i].Noofpkg);
        $('#ddlPackageType option[value="' + ArrayOfContainerDetails[i].PackageType + '"]').attr("selected", "selected");
        if (ArrayOfContainerDetails[i].PackageType != 'Others') {
            $('#Others').hide();
        }
        else {
            $('#Others').show();
        }
        $('#Others').val(ArrayOfContainerDetails[i].Others);
        $('#GrossWeight').val(ArrayOfContainerDetails[i].GrossWeight);
        $('#CIFValue').val(ArrayOfContainerDetails[i].CIFValue);
        $('#GrossDuty').val(ArrayOfContainerDetails[i].GrossDuty);
        $('#OBLNO').val(ArrayOfContainerDetails[i].OBLNO);
        $('#ShippingLineNameDet').val(ArrayOfContainerDetails[i].ShippingLineNameDet);
        $('#OBLDate').val(ArrayOfContainerDetails[i].OBLDate);
        $('#IgmImporter').val(ArrayOfContainerDetails[i].IgmImporter);
        $('#btnAddFormOneDet').prop("disabled", true);
    }

    function ResetAllFields() {
        GetFormOne();
    }
</script>


