@model CwcExim.Areas.Auction.Models.AuctionInvoice
<style>
    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>
<script src="~/Scripts/clac.js"></script>
@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}
@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Auction Invoice</h4>
                </div>
            </div>
            @Html.Hidden("BIDId")
            @Html.Hidden("PartyId")
            @Html.HiddenFor(x => x.BidAmount)
            @Html.HiddenFor(x => x.BidDate)
            @Html.Hidden("ContainerJson")
            @Html.Hidden("hdnAddress")
            @Html.Hidden("hdnState")
            @Html.Hidden("hdnStateCode")
            @Html.Hidden("hdnDeliveryType")
            @Html.Hidden("InvoiceType")
            @Html.Hidden("PartySDBalance")
            @Html.Hidden("PaymentSheetModelJson")
            @Html.HiddenFor(x => x.InvoiceId)
            @Html.HiddenFor(x => x.AssesmentInvoiceID)
            @Html.Hidden("TotalCGST")
            @Html.Hidden("TotalSGST")
            @Html.Hidden("TotalIGST")
            @Html.Hidden("TotalAmt")
            @Html.Hidden("TotalNoOfPackages")
            @Html.Hidden("TotalGrossWt")
            @Html.Hidden("ServiceType")

            <div class="content_wrp">
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Invoice No:</label>
                            @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Invoice Date:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Assessment No:</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(m => m.AssesmentInvoiceNo, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.AssesmentInvoiceNo, "", new { @class = "Error_Msg" })
                                <span class="input_icon" id="SrchInvoiceNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#BIDNoModal"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>BID No:</label>
                            @Html.TextBoxFor(m => m.BIDNo, new { @readonly = true })
                            @Html.ValidationMessageFor(m => m.BIDNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Assessment No:</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(m => m.AssesmentInvoiceNo, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.AssesmentInvoiceNo, "", new { @class = "Error_Msg" })
                                <span class="input_icon" id="SrchInvoiceNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#BIDNoModal"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>BID No:</label>
                            @Html.TextBoxFor(m => m.BIDNo, new { @readonly = true })
                            @Html.ValidationMessageFor(m => m.BIDNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>BOE NO.:</label>
                            @Html.TextBoxFor(m => m.BOENo)
                            @Html.ValidationMessageFor(m => m.BOENo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>BEO Date:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.BOEDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                @Html.ValidationMessageFor(m => m.BOEDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Assesment Type:</label>
                            @Html.DropDownListFor(m => m.AssesmentType, new List<SelectListItem>
                      {
                          new SelectListItem{ Text="LCL", Value = "LCL" },
                          new SelectListItem{ Text="FCL", Value = "FCL" },
                      })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>OBL No.:</label>
                            @Html.TextBoxFor(m => m.OBL, new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Shipping Bill No.:</label>
                            @Html.TextBoxFor(m => m.ShippingBill, new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Container No.:</label>
                            @Html.TextBoxFor(m => m.ContainerNo, new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cargo Description:</label>
                            @Html.TextBoxFor(m => m.CargoDescription)
                            @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Party Name:</label>
                            @Html.TextBoxFor(m => m.PartyName, new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>HSN Code:</label>
                            @Html.TextBoxFor(m => m.HSNCode)
                            @Html.ValidationMessageFor(m => m.HSNCode, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Assesment Sheet Date:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.AssesmentSheetDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>GST:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.GST, new { @class = "numeric", @maxlength = "2" })
                                @Html.ValidationMessageFor(m => m.GST, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>TDS Amount:</label>
                            @Html.TextBoxFor(m => m.TDSAmount, new { @class = "numeric", @maxlength = "11" })
                            @Html.ValidationMessageFor(m => m.TDSAmount, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Free Upto:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.FreeUpto, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                @Html.ValidationMessageFor(m => m.FreeUpto, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Custom Duty:</label>
                            @Html.TextBoxFor(m => m.CustomDuty, new { @onblur = "CalCulateCWCShare()", @class = "numeric", @maxlength = "11" })
                            @Html.ValidationMessageFor(m => m.CustomDuty, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>OT:</label>
                            @Html.TextBoxFor(m => m.OT, new { @onblur = "CalCulateCWCShare()", @class = "numeric", @maxlength = "11" })
                            @Html.ValidationMessageFor(m => m.OT, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Valuers Charges:</label>
                            @Html.TextBoxFor(m => m.ValuersCharges, new { @onblur = "CalCulateCWCShare()", @class = "numeric", @maxlength = "11" })
                            @Html.ValidationMessageFor(m => m.AuctionCharges, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Auction Charges:</label>
                            @Html.TextBoxFor(m => m.AuctionCharges, new { @onblur = "CalCulateCWCShare()", @class = "numeric", @maxlength = "11" })
                            @Html.ValidationMessageFor(m => m.AuctionCharges, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>MISC Expenses:</label>
                            @Html.TextBoxFor(m => m.MISCExpenses, new { @onblur = "CalCulateCWCShare()", @class = "numeric", @maxlength = "11" })
                            @Html.ValidationMessageFor(m => m.AuctionCharges, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>CWC Share:</label>
                            @Html.TextBoxFor(m => m.CWCShare, new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Delivery Valid Upto:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.DeliveryDateUpto, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>SEZ:</label>
                            @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "dropdown" })
                            @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row SignUp_space_bottom SignUp_space_top">
                    <div class="stoke"></div>
                </div>

                <div class="d-flex justify-content-left mb10">
                    <input type="button" id="BtnSave" class="btn btn-primary mr-1 btn-100px" value="Show Charges" onclick="ShowCharges()">
                </div>

                <div class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Charges</h5>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Charges</th>
                                        <th rowspan="2">Value</th>
                                        <th colspan="2" class="text-center">IGST</th>
                                        <th colspan="2" class="text-center">CGST</th>
                                        <th colspan="2" class="text-center">SGST</th>
                                        <th rowspan="2" style="width:15%;">Total</th>
                                    </tr>
                                    <tr>
                                        <th>%</th>
                                        <th>Amt</th>
                                        <th>%</th>
                                        <th>Amt</th>
                                        <th>%</th>
                                        <th style="border-right:1px solid #ddd;">Amt</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                <label>Total Value:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_3">
                                @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                <label>Round Up:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_3">
                                @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                <label>Invoice Value:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_3">
                                @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Remarks:</label>
                            @Html.TextArea("Remarks", new { @style = "height:75px;", @maxlength = "500" })
                        </div>
                    </div>
                </div>

                <div class="row SignUp_space_bottom SignUp_space_top">
                    <div class="stoke"></div>
                </div>

                <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>

                <div class="d-flex justify-content-left">
                    <input type="button" id="btnSave" class="btn btn-primary mr-1 btn-100px" value="Save" onclick="BindJson()">
                    <input type="button" class="btn btn-primary-border mr-1 btn-100px" value="Reset" onclick="ResetField()">
                    <input type="button" id="BtnGenerateIRN" class="btn btn-primary mr-1 btn-100px" value="Generate IRN" onclick="GenerateIRN()" disabled="disabled">
                    <input type="button" id="btnPrint" class="btn btn-primary btn-100px" value="Print" onclick="Print()" disabled>
                </div>

                <div class="row mt10 mb10">
                    <div class="col-md-12">
                        <input type="submit" id="" value="Show All" onclick="ShowList()" class="btn btn-primary btn-100px" />
                    </div>
                </div>

                <div class="row SignUp_space_bottom SignUp_space_top">
                    <div id="Sholist"></div>
                </div>

            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<div class="modal fade" id="BIDNoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Choose BID No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                @if (ViewBag.EMDReceivedList != null)
                {
                    <ul class="navList" id="lstInvoice">
                        @foreach (var item in ViewBag.EMDReceivedList)
                        {
                            <li id="@item.InvoiceId">@item.InvoiceNo</li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="navList" id="lstInvoice">
                        <li></li>
                    </ul>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        $("#InvoiceDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#FreeUpto").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#BOEDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#DeliveryDateUpto").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        //StuffingReqBinding();
        //PartyBinding();
        //PayeeBinding();
        $('.numeric').ForceNumeric();
    });

    $('#lstInvoice > li').on("click", function () {
        debugger;
        $('#AssesmentInvoiceID').val($(this).attr('id'));
        var AssessNo = $(this).text();
        $('#AssesmentInvoiceNo').val(AssessNo);
        var bidid = $('#AssesmentInvoiceID').val();
        $("#BIDNoModal").modal("hide");

        if (bidid > 0) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetBidDetailsByInvoice", "Ppg_AuctionInvoice")',
                data: { BIDId: bidid },
                success: function (data) {
                    debugger;
                    if (data != undefined || data != null) {

                        $("#BIDNo").val(data[0].BIDNo);
                        $("#OBL").val(data[0].OBL);
                        $("#ShippingBill").val(data[0].ShippingBill);
                        $("#ContainerNo").val(data[0].ContainerNo);
                        $("#PartyName").val(data[0].PartyName);
                        $("#GSTNo").val(data[0].GSTNo);
                        $("#Sate").val(data[0].Sate);
                        $("#BidAmount").val(data[0].BidAmount);
                        $('#CWCShare').val(data[0].BidAmount);
                        $("#PartyId").val(data[0].PartyId);
                        $("#hdnAddress").val(data[0].PartyAddress);
                        $("#PartyName").val(data[0].PartyName);
                        $("#hdnState").val(data[0].State);
                        $("#hdnStateCode").val(data[0].StateCode);
                        $("#InvoiceType").val(data[0].InvoiceType);
                        $("#InvoiceId").val(0);
                        $('#BidDate').val(data[0].BidDate);
                        $('#CustomDuty').val(data[0].CustomDuty);
                        $('#OT').val(data[0].OT);
                        $('#AuctionCharges').val(data[0].AuctionCharges);
                        $('#MISCExpenses').val(data[0].MISCExpenses);
                        $('#ValuersCharges').val(data[0].ValuersCharges);
                        //----------------------------------------------------
                        $('#GST').val(data[0].GST);
                        $('#TDSAmount').val(data[0].TDSAmount);

                        $('#BOENo').val(data[0].BOENo);
                        $('#BOEDate').val(data[0].BOEDate);
                        $('#AssesmentType').val(data[0].AssesmentType);
                        $('#CargoDescription').val(data[0].CargoDescription);

                        $('#PartyName').val(data[0].PartyName);
                        $('#HSNCode').val(data[0].HSNCode);
                        $('#AssesmentSheetDate').val(data[0].AssesmentSheetDate);
                        $('#FreeUpto').val(data[0].FreeUpto);
                        $('#CWCShare').val(data[0].CWCShare);
                        $('#DeliveryDateUpto').val(data[0].DeliveryDateUpto);
                    }
                    else {
                        $('#BIDId').val(0);
                        $("#BIDNo").val("");
                        $("#ReceiptDate").val("");
                        $("#PartyName").val("");
                        $("#GSTNo").val("");
                        $("#Sate").val("");
                        $("#InvoiceId").val(0);
                    }
                },
                error: function () {
                }
            });
        }
    });

    function CalCulateCWCShare() {

        //debugger;
        //var BidAmount = $('#BidAmount').val() == "" ? 0 : $('#BidAmount').val();
        //var CustomDuty = $('#CustomDuty').val() == "" ? 0 : $('#CustomDuty').val();
        //var Ot = 0;
        //var ValuersCharges = $('#ValuersCharges').val() == "" ? 0 : $('#ValuersCharges').val();
        //var AuctionCharge = $('#AuctionCharges').val() == "" ? 0 : $('#AuctionCharges').val();
        //var Misc = $('#MISCExpenses').val() == "" ? 0 : $('#MISCExpenses').val();

        //var CwcSHare = (parseFloat(BidAmount) - (parseFloat(CustomDuty) + parseFloat(Ot) + parseFloat(ValuersCharges) + parseFloat(AuctionCharge) + parseFloat(Misc)))
        //$('#CWCShare').val(CwcSHare);

    }



</script>
<script>
    function ShowCharges() {
        debugger;
        if ($('#AssesmentInvoiceNo').val() != "") {
            $('span[data-valmsg-for="AssesmentInvoiceNo"]').removeClass('field-validation-error');
            $('span[data-valmsg-for="AssesmentInvoiceNo"]').text('');
            var InvoiceDate = $('#InvoiceDate').val();
            var BidDate = $('#BidDate').val();

            var dtInvoiceDate = new Date(InvoiceDate.split('/')[2] + '-' + InvoiceDate.split('/')[1] + '-' + InvoiceDate.split('/')[0]);
            var dtBidDate = new Date(BidDate.split('-')[2] + '-' + BidDate.split('-')[1] + '-' + BidDate.split('-')[0]);

            if (dtInvoiceDate < dtBidDate) {
                alert("Delivery Date should be greater than BID Date.");
                return false;
            }


            if ($('#InvoiceDate').val() != "" && $('#AssesmentInvoiceID').val() > 0) {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetAuctionCharges", "Ppg_AuctionInvoice")',
                    data: {
                        BIDId: $('#AssesmentInvoiceID').val(),
                        InvoiceId: $('#InvoiceId').val(),
                        InvoiceDate: $('#InvoiceDate').val(), //for calculate InvoiceDate
                        FreeUpTo: $('#FreeUpto').val(),
                        HSNCode: $('#HSNCode').val(),
                        CustomDuty: $('#CustomDuty').val(),
                        OT: $('#OT').val(),
                        ValuersCharge: $('#ValuersCharges').val(),
                        AuctionCharge: $('#AuctionCharges').val(),
                        MISC: $('#GST').val(),
                        SEZ: $('#SEZ').val()

                    },
                    success: function (data) {
                        debugger;
                        if (data != null && data != 'undefined') {
                            $('#SEZ').prop('disabled', true)

                            $('#TotalCGST').val(data.TotalCGST);
                            $('#TotalSGST').val(data.TotalSGST);
                            $('#TotalIGST').val(data.TotalIGST);
                            $('#PartySDBalance').val(data.PartySDBalance);
                            $('#TotalNoOfPackages').val(data.TotalNoOfPackages);
                            $('#TotalGrossWt').val(data.TotalGrossWt);

                            $('#PaymentSheetModelJson').val(data.PaymentSheetModelJson);
                            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                            html = '';

                            $.each(rawJson, function (i, item) {

                                html += '<tr><td>' + item.ChargeName + '</td>'
                                             + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly /></td>'
                                             + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                             + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                             + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                             + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                             + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                             + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                             + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + Math.ceil(item.Total) + '" readonly /></td></tr>';

                            });
                            $('#tblCWCCharges tbody').html(html);
                            $('#SrchInvoiceNo').addClass('hidden');

                            $('#InvoiceDate').attr('readonly', true);
                            $('#HSNCode').attr('readonly', true);
                            $('#SrchInvoiceNo').addClass('hidden');
                            $('#BOENo').attr('readonly', true);
                            $('#BOEDate').attr('readonly', true);
                            $('#AssesmentType').attr('disabled', true);
                            $('#CargoDescription').attr('readonly', true);
                            $('#HSNCode').attr('readonly', true);
                            $('#AssesmentSheetDate').attr('readonly', true);
                            $('#FreeUpto').attr('readonly', true);
                            $('#CustomDuty').attr('readonly', true);
                            $('#OT').attr('readonly', true);
                            $('#AuctionCharges').attr('readonly', true);
                            $('#MISCExpenses').attr('readonly', true);
                            $('#BOEDate').parent().find('img').css('display', 'none');
                            $('#AssesmentSheetDate').parent().find('img').css('display', 'none');
                            $('#InvoiceDate').parent().find('img').css('display', 'none');
                            $('#FreeUpto').parent().find('img').css('display', 'none');
                            $('#DeliveryDateUpto').parent().find('img').css('display', 'none');




                            $('#Weight').attr('readonly', true);
                            $('#FOB').attr('readonly', true);
                            CalcInvoice();
                            $('#btnSave').removeAttr('disabled');

                            $('.search').css('display', 'none');
                            $('#InvoiceDate').parent().find('img').css('display', 'none');
                        }
                        else {
                            $('#PaymentSheetModelJson').val('');
                            $('#tblCWCCharges tbody').html('');
                            $('#TOTHTChrg').val('');
                            $('#AllTotal').val('');
                            $('#RoundUp').val('');
                        }
                    }
                });
            }
        }
        else {
            debugger;
            $('span[data-valmsg-for="AssesmentInvoiceNo"]').addClass('field-validation-error');
            $('span[data-valmsg-for="AssesmentInvoiceNo"]').text('The AssesmentInvoice No field is required.');

        }
    }

    function CalcInvoice() {

        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var TotalCGST = 0;
        var TotalSGST = 0;
        var TotalIGST = 0;
        var AllTotal = 0;
        var TotalAmt = 0;

        $.each(rawJson, function (i, item) {
            TotalCGST += item.CGSTAmt;
            TotalSGST += item.SGSTAmt;
            TotalIGST += item.IGSTAmt;
            AllTotal += Math.ceil(item.Total);
            TotalAmt += item.Amount;
        });

        $('#TotalCGST').val(TotalCGST);
        $('#TotalSGST').val(TotalSGST);
        $('#TotalIGST').val(TotalIGST);
        $('#TotalAmt').val(TotalAmt);
        // $('#AllTotal').val(parseFloat(AllTotal).toFixed(2));      // decimal value
        $('#AllTotal').val(Math.ceil(AllTotal));                   // ceilling value
        $('#InvoiceValue').val(Math.ceil(AllTotal));
        var round = Math.ceil(AllTotal) - AllTotal;
        // $('#RoundUp').val(round.toFixed(2));      // decimal value
        $('#RoundUp').val(0);                       // ceilling value
    }

    function BindJson() {
        debugger;
        //if ($('#PartyId').val() > 0) {
        //    if (parseFloat($('#PartySDBalance').val()) < parseFloat($('#InvoiceValue').val())) {
        //        alert("This Party has insufficient SD Balance to save the Invoice.");
        //        return false;
        //    }
        //}
        var conf = confirm("Do you want to save ?");
        if (conf) {
            try {
                $('#btnSave').attr('disabled', true);
                var rawJson = {};
                rawJson.InvoiceId = $("#InvoiceId").val();
                rawJson.InvoiceDate = $('#InvoiceDate').val();
                rawJson.BIDId = $('#BIDId').val();
                rawJson.BIDNo = $('#BIDNo').val();
                rawJson.AssesmentInvoiceID = $('#AssesmentInvoiceID').val();
                rawJson.AssesmentInvoiceNo = $('#AssesmentInvoiceNo').val();
                rawJson.ReceiptDate = $('#ReceiptDate').val();
                rawJson.PartyId = $('#PartyId').val();
                rawJson.PartyName = $('#PartyName').val();
                rawJson.PayeeId = $('#PartyId').val();
                rawJson.PayeeName = $('#PartyName').val();
                rawJson.TotalNoOfPackages = $('#TotalNoOfPackages').val();
                rawJson.TotalGrossWt = $('#TotalGrossWt').val();
                rawJson.AllTotal = parseFloat($('#AllTotal').val());
                rawJson.TotalCGST = parseFloat($('#TotalCGST').val());
                rawJson.TotalSGST = parseFloat($('#TotalSGST').val());
                rawJson.TotalIGST = parseFloat($('#TotalIGST').val());
                rawJson.TotalAmt = parseFloat($('#TotalAmt').val());
                rawJson.RoundUp = parseFloat($('#RoundUp').val());
                rawJson.InvoiceValue = parseFloat($('#InvoiceValue').val());
                rawJson.Remarks = $('#Remarks').val();
                rawJson.PaymentSheetModelJson = $('#PaymentSheetModelJson').val();
                rawJson.HSNCode = $('#HSNCode').val();
                rawJson.GST = $('#GST').val();

                rawJson.BOENo = $('#BOENo').val();
                rawJson.BOEDate = $('#BOEDate').val();
                rawJson.AssesmentType = $('#AssesmentType').val();
                rawJson.OBL = $('#OBL').val();
                rawJson.ShippingBill = $('#ShippingBill').val();
                rawJson.CargoDescription = $('#CargoDescription').val();
                rawJson.AssesmentSheetDate = $('#AssesmentSheetDate').val();
                rawJson.FreeUpto = $('#FreeUpto').val();
                rawJson.CustomDuty = $('#CustomDuty').val();
                rawJson.OT = $('#OT').val();
                rawJson.ValuersCharges = $('#ValuersCharges').val();
                rawJson.AuctionCharges = $('#AuctionCharges').val();
                rawJson.MISCExpenses = $('#MISCExpenses').val();
                rawJson.CWCShare = $('#CWCShare').val();
                rawJson.ContainerNo = $('#ContainerNo').val();
                rawJson.DeliveryDateUpto = $('#DeliveryDateUpto').val();
                rawJson.SEZ = $('#SEZ').val();




                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    url: '/Auction/Ppg_AuctionInvoice/AddEditInvoice',
                    data: JSON.stringify(rawJson),
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.Status == 1 || data.Status == 2) {
                            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
                            // $('#InvoiceNo').val(data.Data);

                            var AppValues = data.Data.split(",")
                            $('#InvoiceNo').val(AppValues[0]);
                            $('#ServiceType').val(AppValues[1]);
                            $('#BtnGenerateIRN').removeAttr('disabled');


                            $('#DivPaySheetCargoMsg').html("Auction Invoice saved successfully.");
                            $('#btnPrint').removeAttr('disabled');
                            $('#BtnSave').attr('disabled', true);
                        }
                        else if (data.Status == 3) {
                            $('#DivPaySheetCargoMsg').html("Invoice can not be generated. SD Balance is low");
                            //  $('#btnPrint').removeAttr('disabled');
                        }
                        else {
                            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                            $('#DivPaySheetCargoMsg').html(data.Message);
                        }
                    }
                });


            }
            catch (e) {
                $('#btnSave').removeAttr('disabled');
            }
        }
    }


    function GenerateIRN() {
        $.ajax({
            url: '/Import/Ppg_CWCImport/GetIRNForYardInvoice',
            type: 'POST',
            data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#ServiceType').val() },
            // headers:{"__RequestVerificationToken":Token},
            dataType: 'JSON',
            success: function (data) {

                alert(data.Message);
            }
        });
    }



    $('#CHAbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoice > li').show();
        else {
            $('#lstInvoice > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });



</script>
<script>

    function ResetField() {
        debugger;
        $('#DivBody').load('/Auction/Ppg_AuctionInvoice/CreateContPaymentSheet');
    }
</script>
<script>

    function Print() {

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_AuctionInvoice", new { area = "Auction" })',
            headers: { "__RequestVerificationToken": Token },
            data: {
                InvoiceNumber: $('#InvoiceNo').val(),
                InvoiceModule: 'AUC',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'AUCTION',
                PartyId: $('#PartyId').val()
            },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                window.open(data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });

    }

    function ShowList() {
        debugger;
        $('#Sholist').load('/Auction/Ppg_AuctionInvoice/GetInvoiceList');
    }

    function PrintList(InvoiceNo) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_AuctionInvoice", new { area = "Auction" })',
            headers: { "__RequestVerificationToken": Token },
            data: {
                InvoiceNumber: InvoiceNo,
                InvoiceModule: 'AUC',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'AUCTION',
                PartyId: 0
            },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                window.open(data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });

    }

</script>
