@model IEnumerable<CwcExim.Areas.Export.Models.ShippingBillList>
<script>
    $(function(){
        var ShippingBillList=$('#ShippingBillList').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"Sl No.","width":"10%"},
                       {"sName":"OldShipbill","bSortable":false,},
                       {"sName":"NewShipbill","bSortable":false,},
                       {"sName":"UpdatedOn","bSortable":false},
                       {"sName":"UpdatedBy","bSortable":false}
            ]
        });
        new $.fn.dataTable.FixedHeader(ShippingBillList);
    });
</script>

<table id="ShippingBillList" class="table table-striped table-bordered nowrap" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">SL No</th>
            <th>Existing Shipping Bill No.</th>
            <th>New Shipping Bill No.</th>
            <th>Updated On</th>
            <th>Updated By</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo.ToString()</td>
                    <td>@item.OldShipbill</td>
                    <td>@item.NewShipbill</td>
                    <td>@item.UpdatedOn</td>
                    <td>@item.UpdatedBy</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>

