
@model CwcExim.Areas.Export.Models.PpgConcorLedgerSheetViewModelV2

<style>
    .ang_srch {
        top: 3%;
        right: 7px;
        height: 19px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    .table.dataTable {
        text-align: center;
    }

        .table.dataTable thead tr th {
            text-align: center;
        }

    #tbleParty.dataTable tbody > tr > td {
        cursor: pointer;
        text-align: left;
    }

    #tblePayee.dataTable tbody > tr > td {
        cursor: pointer;
        text-align: left;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Concor Ledger Sheet</h4>
                    </div>
                </div>

                @using (Ajax.BeginForm("SubmitConcorLedgerSheet", "Ppg_CWCExportV2", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "ConcorOnOnFailure" }, new { @Id = "ConcorForm" }))
                {



                    if (ViewBag.LstContainerNo != null)
                    {
                        <input type="hidden" id="hdnContainer" value="@ViewBag.LstContainerNo" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnContainer" value="" />
                    }


                    @Html.HiddenFor(x => x.ID)

                    @Html.AntiForgeryToken()
                    <div id="DivAddMovement">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">

                                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.Date, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Sl No.:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.SlNo, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.SlNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Concor Invoice No.:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ConcorInvoiceNo, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.ConcorInvoiceNo, "", new { @class = "Error_Msg" })

                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Invoice Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.InvoiceDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.InvoiceDate,"", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Operation Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("OperationType", new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Import",Value="Import"},
                                    new SelectListItem { Text="Export",Value="Export"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("OperationType", new { @class = "Error_Msg" })


                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Train No:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">

                                    @Html.TextBoxFor(m => m.TrainNo, new { @class = "form-control input-sm", @onblur = "PopulatedAllContainerList()" })
                                    @Html.ValidationMessageFor(m => m.TrainNo, "", new { @class = "Error_Msg" })
                                </div>

                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Train Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.TrainDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.TrainDate, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Container No.:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">

                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="ShowContainerNo();" data-target="#Containermodal"></i></span>
                                    @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>

                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>POL/POD:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.POLPOD, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Net Weight:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.NetWeight, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Tare Weight:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.TareWeight, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Container Type:</label>
                                </div>
                                <div class="col-md-2-5">

                                    @Html.TextBoxFor(m => m.ContainerType, new { @class = "form-control input-sm", @readonly = true })

                                    @Html.ValidationMessageFor(m => m.ContainerType, "", new { @class = "Error_Msg" })

                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Gross Weight:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>IRR/RR:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.IRR, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>THC:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.THC, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Doc:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.DOC, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Other CHG:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.OtherChg, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Credit Amount:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CreditAmount, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.CreditAmount, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Balance:</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.Balance, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>








                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-3 col-md-2">
                                <button type="submit" id="savbtn" class="btn log_Btn_sm">Save</button>
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="ResetAllField()" />
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                    </div>
                }
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-2">
                        <button type="submit" id="savbtn" class="btn log_Btn_sm" onclick="GetAllConcorAllData()">Show List</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivMovementList"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="Containermodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container No.</h4>
            </div>
            <div class="modal-body popup_body">
                <div id="lstGdwnWiseLctn">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {

        $('#Date').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }
        });

        $('#InvoiceDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }
        });

        $('#TrainDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }
        });



    });

    function GetAllConcorAllData()
    {
        $('#DivMovementList').load('/Export/Ppg_CWCExportV2/GetAllConcorLedgerSheet?id=0')
    }

    function ResetAllField()
    {
        $('#DivBody').load('/Export/Ppg_CWCExportV2/ConcorLedgerSheet');
    }

    function PopulatedAllContainerList()
    {
        debugger;
        if ($('#OperationType').val() != '')
        {
            $.ajax({
                url: '/Export/Ppg_CWCExportV2/GetContainerList',
                type: 'GET',
                data: {

                    TrainNo: $('#TrainNo').val(),
                    OperationType: $('#OperationType').val()


                },
                dataType: 'JSON',
                success: function (data) {
                    debugger;

                    if (data.Status == 1) {
                        $('#lstGdwnWiseLctn').html('');
                        var html = '';
                        $.each(data.Data, function (item, i) {
                            html += '<li id=' + i.ContainerNo + ' onclick="PopulateContainerDetails(&quot;' + i.ContainerNo + '&quot;)">' + i.ContainerNo + '</li>';
                        });
                        $('#lstGdwnWiseLctn').html(html);
                    }
                    else {
                        var html = '';
                        $('#lstGdwnWiseLctn').html('');
                        html += '<li>No Data Found</li>';
                        $('#lstGdwnWiseLctn').html(html);
                    }

                }

            });
        }
        else
        {

            $('[data-valmsg-for="OperationType"]').text("Fill The Field");
            $('[data-valmsg-for="OperationType"]').addClass('Error_Msg');

        }
    }

    function PopulateContainerDetails(ContainerNo)
    {

        $.ajax({
            url: '/Export/Ppg_CWCExportV2/GetContainerDetails',
            type: 'GET',
            data: {

                TrainNo: $('#TrainNo').val(),
                OperationType: $('#OperationType').val(),
                ContainerNo: ContainerNo


            },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                $('#Containermodal').modal('hide');
                if (data.Status == 1) {
                    $('#ContainerNo').val(data.Data[0].ContainerNo);
                    $('#Size').val(data.Data[0].Size);
                    $('#POLPOD').val(data.Data[0].POLPOD);
                    $('#NetWeight').val(data.Data[0].NetWeight);
                    $('#TareWeight').val(data.Data[0].TareWeight);
                    $('#ContainerType').val(data.Data[0].ContainerType);
                    $('#GrossWeight').val(data.Data[0].GrossWeight);

                }
                else {

                }

            }

        });
    }
    function OnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);

            ;
            $('#btnSave').attr('disabled', true);

            setTimeout(ResetAllField, 3000);
            GetAllConcorAllData();
        }
        else {
            $('#btnSave').attr('disabled', false);
            $('#DivErrMsg').html(data.Message);
        }
        // setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 5000);
    }


    function ConcorOnOnFailure()
    {

    }

</script>

