@model IEnumerable<CwcExim.Areas.Export.Models.PortOfCall>

<script>
    var Page = 0;
    $(function(){
        var TblContainerStuffList = $('#TblContainerStuffList').DataTable({
            "bFilter":false,
            "bInfo":false,
            "pageLength": 50,
            "aoColumns":[
                       {"sName":"Edit","bSortable":false,"width":"10px"},
                       {"sName":"View","bSortable":false,"width":"10%"},   
                       {"sName":"SL No","width":"8%"},
                       {"sName":"Approval Date"},
                       {"sName":"Stuffing No"},
                       {"sName":"Stuffing Date"},
                       {"sName":"Container/CBT No"},
                       {"sName":"CFS Code"}                  
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(2)', nRow).addClass("text-center");
                $('td:eq(6)', nRow).addClass("text-center");
                $('td:eq(7)', nRow).addClass("text-center");
                //$('td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6))', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "10px");
                $('td:eq(1)', nRow).css("width", "150px");
                $('td:eq(2)', nRow).css("width", "150px");
                $('td:eq(3)', nRow).css("width", "150px");
                $('td:eq(4)', nRow).css("width", "150px");
                $('td:eq(5)', nRow).css("width", "150px");
                $('td:eq(6)', nRow).css("width", "150px");
                $('td:eq(7)', nRow).css("width", "150px");
            }
        });
        new $.fn.dataTable.FixedHeader(TblContainerStuffList);
    });
    function LoadContainerStuffingApproval() {
        $('#DivBody').load('/Export/Ppg_CWCExportV2/CreateContainerStuffingApproval');
    }
 
    function ViewContainerStuffingApproval(ApprovalId) {
        debugger;
        $('#DivBody').load('/Export/Ppg_CWCExportV2/ViewContainerStuffingApproval?ApprovalId=' + ApprovalId);
    }
  
    function EditContainerStuffingApproval(ApprovalId)
    {
        //debugger;
        $('#DivBody').load('/Export/Ppg_CWCExportV2/EditContainerStuffingApproval?ApprovalId=' + ApprovalId);
    }

    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Export/Ppg_CWCExportV2/LoadContainerStuffingApprovalList',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#TblContainerStuffList').dataTable();
                    var len = dt.fnGetData().length;

                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        "<div class='table_icon'><a href='#' onclick=EditContainerStuffingApproval('" + [item.ApprovalId] + "')><i class='fa fa-pencil'></i></a></div>",
        '<div class="table_icon"><a href="#" onclick=ViewContainerStuffingApproval(' + [item.ApprovalId] + ')><i class="fa fa-eye"></i></a></div>',  
        len,
        [item.ApprovalDate],
        [item.StuffingReqNo],
        [item.StuffingReqDate],
        [item.ContainerNo],
        [item.CFSCode]      
                        ]);
                    });
                }
                else alert('No more data available');
            }

        });
    }
</script>

<table id="TblContainerStuffList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Approval Date</th>
            <th>Stuffing No</th>
            <th>Stuffing Date</th>            
            <th>Container/CBT No</th>
            <th>CFS Code</th>
            <th style="width:10px" class="text-center">Edit</th>
            <th class="text-center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="width:10px" class="text-center"><div class="table_icon"><a href="#" onclick="EditContainerStuffingApproval(@item.ApprovalId)"><i class="fa fa-pencil" aria-hidden="true"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="ViewContainerStuffingApproval(@item.ApprovalId)"><i class="fa fa-eye" aria-hidden="true"></i></a></div></td>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.ApprovalDate)</td>
                    <td>@Html.DisplayFor(m => item.StuffingReqNo)</td>
                    <td>@Html.DisplayFor(m => item.StuffingReqDate)</td>
                    <td>@Html.DisplayFor(m => item.ContainerNo)</td>
                    <td>@Html.DisplayFor(m => item.CFSCode)</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="btn btn-primary mr-1 btn-100px" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>




