@model CwcExim.Areas.Export.Models.PPG_StuffingRequest
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">

                <div class="row ">
                    <div class="col-md-12">
                        <h4>Stuffing Request</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Request No:</label>
                            </div>
                            @Html.TextBoxFor(m => m.StuffingReqNo, new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Request Date:</label>
                            </div>
                            @Html.TextBoxFor(m => m.RequestDate, new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StuffingPlanNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            @Html.TextBoxFor(m => m.StuffingPlanNo, new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top" style="display:none">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CHA, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            @Html.TextBoxFor(m => m.CHA, new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ShippingHdrLine, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            @Html.TextBoxFor(m => m.ShippingHdrLine, new { @readonly = "readonly" })
                            @Html.HiddenFor(m => m.ShippingHdrLineId)
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Forwarder, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            @Html.TextBoxFor(m => m.Forwarder, new { @readonly = "readonly" })
                            @Html.HiddenFor(m => m.ForwarderId)
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            @Html.TextBoxFor(m => m.Remarks, new { @style = "width:100%;", @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Stuffing Type:</label>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <label class="Radiocontainer">
                                    FCL
                                    @Html.RadioButtonFor(m => m.StuffingType, "FCL", new { @class = "", @id = "FCL", @disabled = true })
                                    <span class="checkmark"></span>
                                </label>
                                <label class="Radiocontainer">
                                    LCL
                                    @Html.RadioButtonFor(m => m.StuffingType, "LCL", new { @class = "", @id = "LCL", @disabled = true })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Stuffing Details</h5>
                            </div>
                        </div>
                        <div id="DivCartingDetails">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 4px;">
                                    <table id="TblCartingDet" class="table table-striped table-bordered dataTable" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:5px;">#</th>
                                                <th style="width:120px;">Carting No</th>
                                                <th style="width:50px;">SB No</th>
                                                <th style="width:50px;">SB Dt</th>
                                                <th style="width:80px;">Exporter</th>
                                                <th style="width:80px;">CHA</th>
                                                <th style="width:100px;">Cargo Desc</th>
                                                <th style="width:50px;">Cargo Type</th>
                                                <th style="width:50px;">No Of Units</th>
                                                <th style="width:50px;">Gross Wt</th>
                                                <th style="width:50px;">FOB</th>
                                                <th style="width:50px;">Pack UQC</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int serial = 1;
                                                foreach (var item in Model.LstStuffing)
                                                {
                                            <tr>
                                                <td>@serial</td>
                                                <td>@item.CartingRegisterNo</td>
                                                <td>@item.ShippingBillNo</td>
                                                <td>@item.ShippingDate</td>
                                                <td>@item.Exporter</td>
                                                <td>@item.CHA</td>
                                                <td>@item.CargoDescription</td>
                                                @if (item.CargoType == 1)
                                                        {
                                                        <td>HAZ</td>
                                                        }
                                                        else
                                                        {
                                                        <td>NON HAZ</td>
                                                        }
                                                <td>@item.NoOfUnits</td>
                                                <td>@item.GrossWeight</td>
                                                <td>@item.Fob</td>
                                                <td>@item.PackUQCDescription</td>
                                            </tr>
                                                    serial++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Container / CBT No:</label>
                                    </div>
                                    @Html.TextBox("ContainerNo", "", new { @readonly = true })
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Shipping Bill:</label>
                                    </div>
                                    @Html.TextBox("CommodityName", "", new { @readonly = true })
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Size:</label>
                                    </div>
                                    @Html.TextBox("Size", "", new { @readonly = true })
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Shipping Line:</label>
                                    </div>
                                    @Html.TextBox("ShippingLine", "", new { @readonly = true })
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Stuffing Qty:</label>
                                    </div>
                                    @Html.TextBox("StuffQuantity", "", new { @readonly = true })
                                </div>
                                <div class="col-md-4 col-md-offset-4">
                                    <div class="form-group">
                                        <label>Stuffing Weight (Kg):</label>
                                    </div>
                                    @Html.TextBox("StuffWeight", "", new { @readonly = true })
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="TblStuffingContr" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:10%;">View</th>
                                                <th class="text-center" style="width:8%;">Sl No</th>
                                                <th>Container / CBT No</th>
                                                <th>Size</th>
                                                <th>Commodity</th>
                                                <th>Stuffing Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="d-flex justify-content-left">
                        <input type="button" id="btnBack" class="btn btn-primary mr-1 btn-100px" value="Back">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ContainerDet = [];
    $(function () 
    {
        ContainerDet=@Html.Raw(Json.Encode(Model.LstStuffingContainer));
        GenerateContrTable();
    });
    $('#btnBack').on("click",function()
    {
        $('#DivBody').load( '/Export/Ppg_CWCExportV2/CreateStuffingRequest');
    });
    function GenerateContrTable() {
        var html = '';
        if (ContainerDet.length!=0)
        {
            $.each(ContainerDet, function (i, elem) {
                html += '<tr><td class="text-center"><a href="#" onclick="ViewContainerDet(' + i + ')"><i class="fa fa-eye"></i></a></td><td class="text-center">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td>' + elem.CommodityName + '</td><td>' + elem.StuffQuantity + '</td></tr>';
            });
            $('#TblStuffingContr > tbody').html('');
            $('#TblStuffingContr > tbody').html(html);
            $('#TblStuffingContr').show();
        }
        else {
            $('#TblStuffingContr').hide();
        }

    }
    function ViewContainerDet(idx)
    {
        $('#CommodityName').val(ContainerDet[idx].CommodityName);
        $('#ContainerNo').val(ContainerDet[idx].ContainerNo);
        $('#Size').val(ContainerDet[idx].Size);
        $('#ShippingLine').val(ContainerDet[idx].ShippingLine);
        $('#StuffQuantity').val(ContainerDet[idx].StuffQuantity);
        $('#StuffWeight').val(ContainerDet[idx].StuffWeight);
    }
</script>