@model CwcExim.Areas.Export.Models.Ppg_LoadContSF


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Loaded Container Stuffing SF</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div style="width:97%;margin-left:auto;margin-right:auto;">
                    <div class="row clearfix">
                        <div class="panel with-nav-tabs panel-primary cwc_panel">
                            <div class="panel-heading cwc_panel_heading">
                                <ul class="nav nav-tabs" id="DivTabs">
                                    <li class="active"><a href="#DivContainerStuffing" data-toggle="tab">Loaded Container SF</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="DivContainerStuffing">
                                        <div id="DivAddContainerStuffing">
                                            <div class="row Form_Space_top">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Request No:</label>
                                                    </div>
                                                    <div class="position-relative">
                                                        @Html.HiddenFor(m => m.StuffingReqId)
                                                        @Html.TextBoxFor(m => m.StuffingReqNo, new {@placeholder="Search request No", @readonly = true, @onkeydown = "PopupActivate('stuffingModal');" })
                                                        <span class="input_icon" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>
                                                        @Html.ValidationMessageFor(m => m.StuffingReqNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-md-offset-6">
                                                    <div class="form-group">
                                                        <label>Stuffing Date:</label>
                                                    </div>
                                                    <div class="position-relative Date_Img">
                                                        @Html.TextBoxFor(m => m.StuffingReqDate, new { @readonly = true })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row Form_Space_top">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Container No:</label>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.ContainerNo, new { @readonly = true })
                                                </div>
                                                <div class="col-md-3 col-md-offset-1-5">
                                                    <div class="form-group">
                                                        <label>CFS Code:</label>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.CFSCode, new { @readonly = true })
                                                </div>
                                                <div class="col-md-3 col-md-offset-1-5">
                                                    <div class="form-group">
                                                        <label>Size:</label>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.Size, new { @readonly = true })
                                                </div>
                                            </div>

                                            <div class="row Form_Space_top">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Exporter:</label>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.ExporterName, new { @readonly = true })
                                                </div>
                                            </div>

                                            <div class="row Form_Space_top">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Shipping Line:</label>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row SignUp_space_bottom SignUp_space_top">
                    <div class="stoke"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" id="btnAddJO" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="ResetField()">
                    <input type="button" id="btnSendCIMSF" class="btn btn-primary btn-100px" value="SEND CIM SF" onclick="sendCIMSF()">
                </div>

                <div class="row SignUp_space_bottom SignUp_space_top">
                    <div class="stoke"></div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>

    function ResetField() {
        $('#DivBody').load('/Export/Ppg_CWCExportV2/CreateLoadContainerSF');
    }


    function sendCIMSF() {
        debugger;


        var ContainerStuffingId = $('#StuffingReqId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/Export/Ppg_CWCExportV2/SendLoadedSF",
            type: "POST",
            dataType: "JSON",
            data: { ContainerStuffingId: ContainerStuffingId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#btnSendCIMSF').prop('disabled', true);
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }

</script>

