@model CwcExim.Areas.Master.Models.DSRExpenseCodeWiseHSN

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        debugger;
        TimeInSeconds = 5000;
        GetExpHSNList();
    });
    function GetExpHSNList() {
        debugger;
        $('#DivCreateExpHSN #DivExpHSNList').load('/Master/DSRExpenseHead/GetExpCodeWiseHSNList');
    }
    function ResetExpHSN() {
        debugger;
        $('#DivCreateExpHSN #DivExpHSNErrMsg').html('');
        $('#DivCreateExpHSN #DivExpHSNMsg').html('');
        $('[data-valmsg-for]').html('<span></span>');
        $('#DivCreateExpHSN #HSNCode').val('');
        $('#DivCreateExpHSN #ExpenseCode').val('');
    }
    function ExpHSNOnSuccess(data) {
        debugger;
        $('#DivCreateExpHSN #DivExpHSNErrMsg').html('');
        if (data.Status == 1) {
            $('#DivCreateExpHSN #DivExpHSNMsg').html(data.Message);
            setTimeout(ResetExpHSN, TimeInSeconds);
            GetExpHSNList();
        }
        else {
            $('#DivCreateExpHSN #DivExpHSNErrMsg').html(data.Message);
        }
    }
    function ExpHSNOnFailure(){}
</script>

@{ 
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ExpHSNOnSuccess";
    options.OnFailure = "ExpHSNOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

<div id="DivCreateExpHSN"class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12 cwc_body">
                        <h5>Expense Code Wise HSN</h5><span class="triangle"></span>
                    </div>
                </div>
                @using(Ajax.BeginForm("AddExpCodeWiseHSNDet", "DSRExpenseHead", options))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Expense Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                <span class="ReQSimbol">*</span>
                                @Html.DropDownListFor(m=>m.ExpenseCode, new SelectList(Model.LstExpenseCode,"ExpenseCode", "ExpenseCode"),"---Select---")
                                @Html.ValidationMessageFor(m => m.ExpenseCode, "", new { @class="Error_Msg"})
                            </div>
                            <div class="col-md-1-5 col-md-offset-3">
                               <label>HSN Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                <span class="ReQSimbol">*</span>
                                @Html.DropDownListFor(m=>m.HSNCode,new SelectList(Model.LstHSN,"HSNCode", "HSNCode"),"---Select---")
                                @Html.ValidationMessageFor(m => m.HSNCode, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" class="btn log_Btn_sm" value="Save"/>
                        </div>
                        <div class="col-md-2">
                            <input type="button"class="btn log_Btn_sm" value="Reset" onclick="ResetExpHSN()"/>
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom"style="background-color:transparent">
                        <div id="DivExpHSNMsg"></div>
                    </div>
                    <div id="DivExpHSNErrMsg"class="logErrMsg" style="background-color:transparent"></div>
                }
                <div class="row">
                    <div class="col-md-12 SignUp_space_bottom">
                        <div id="DivExpHSNList"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")