@model CwcExim.Areas.Master.Models.DSRExpenseHead
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        debugger;
        TimeInSeconds = 5000;
        GetExpenseHeadList();
    });
    function GetExpenseHeadList() {
        debugger;
        $('#DivExpList').load('/Master/DSRExpenseHead/GetExpenseHeadList');
    }
    function ExpenseHeadReset() {
        //$('.field-validation-error').each(function () {
        //    $(this).html('');
        //});
        debugger;
        $('[data-valmsg-for]').html('<span></span>');
        $('#ExpHead').val('');
        $('#ExpenseCode').val('');
        $('#DivExpMsg').html('');
        $('#DivExpErrMsg').html('');
    }
    function ExpOnSuccess(data) {
        debugger;
        $('#DivExpErrMsg').html("");
        if (data.Status == 1) {
            $('#DivExpMsg').html(data.Message);
            setTimeout(ExpenseHeadReset, 5000);
            GetExpenseHeadList();
        }
        else {
            $('#DivExpErrMsg').html(data.Message);
        }
    }
    function ExpOnFailure() {
    }
    function CheckVal() {
        debugger;
        var str = $('#ExpenseCode').val();
        var letters = /^[0-9]+$/;
        if (str.match(letters)) {
            $('#ExpenseCode').val('');
            alert('This Field alphanumeric only');
            return false;
        }
        else {
            return true;
        }        
    }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ExpOnSuccess";
    options.OnFailure = "ExpOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12 cwc_body">
                            <h5>Expense Head Master</h5><span class="triangle"></span>
                        </div>
                    </div>
                    @using (Ajax.BeginForm("AddEditExpenseHeadDetail", "DSRExpenseHead", options))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                   <label>Expense Head:</label>
                                </div>
                                <div class="col-md-4">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.ExpHead, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.ExpHead, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-1 padding_rt col_cus_2">
                                    <label>Expense Code:</label>
                                </div>
                                <div class="col-md-2">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.ExpenseCode, new { @class = "form-control input-sm", @onblur = "CheckVal();"  })
                                    @Html.ValidationMessageFor(m => m.ExpenseCode, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.HSNCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2">
                                    <span class="ReQSimbol">*</span>
                                    @Html.DropDownListFor(m=>m.HSNCode, new SelectList(Model.HSCCodeList, "HSNCode", "HSNCode"), "---Select---")
                                    @Html.ValidationMessageFor(m => m.HSNCode, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-4 col-md-2" style="text-align:center">
                                <input type="submit" class="btn log_Btn_sm" value="Save" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ExpenseHeadReset()" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                            <div id="DivExpMsg"></div>
                        </div>
                        <div id="DivExpErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                    }
                    <div class="row">
                        <div class="col-md-12 SignUp_space_bottom">
                            <div id="DivExpList"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

@Scripts.Render("~/bundles/jqueryval")

