@model CwcExim.Areas.Master.Models.DSRExpenseHead
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        debugger;
        TimeInSeconds = 5000;
    });
    function LoadExpenseHeadPage() {
        debugger;
        $('#DivExpenseHead').load('/Master/DSRExpenseHead/CreateExpenseHead');
    }
    function ExpOnSuccess(data) {
        $('#DivExpErrMsg').html("");
        debugger;
        if (data.Status == 1) {
            $('#DivExpMsg').html(data.Message);
            setTimeout(LoadExpenseHeadPage, 5000);
        }
        else {
            $('#DivExpErrMsg').html(data.Message);
        }
    }
    function ExpOnFailure() {
    }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ExpOnSuccess";
    options.OnFailure = "ExpOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditExpenseHeadDetail", "DSRExpenseHead", options))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.ExpenseHeadId)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12 cwc_body">
                            <h5>Expense Head Master</h5><span class="triangle"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Expense Head:</label>
                            </div>
                            <div class="col-md-4">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.ExpHead, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.ExpHead, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-1 padding_rt col_cus_2">
                                <label>Expense Code:</label>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.ExpenseCode, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ExpenseCode, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" class="btn log_Btn_sm" value="Save" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Cancel" onclick="LoadExpenseHeadPage()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivExpMsg"></div>
                    </div>
                    <div id="DivExpErrMsg" class="logErrMsg" style="background-color:transparent"></div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
