@model IEnumerable<CwcExim.Areas.Master.Models.DSRExpenseHead>

<script>
    $(document).ready(function(){
        var TblExpenseHeader= $('#TblExpenseHeader').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "SL No","width": "8%"},
                    { "sName": "Expense Head" },
                    { "sName": "Expense Code","bSortable": false,"width": "15%"},
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblExpenseHeader);
    });
    function LoadExpenseHeadPage(){
        $('#DivExpenseHead').load('/Master/DSRExpenseHead/CreateExpenseHead');
    }
    function EditExpenseHeader(ExpenseHeadId){
        $('#DivExpenseHead').load('/Master/DSRExpenseHead/EditExpenseHead?ExpenseHeadId='+ExpenseHeadId);

    }
    function DeleteExpenseHeader(ExpenseHeadId){
        debugger;
        var Confirm=confirm("Are You Sure You Want To Delete?");
        var Token = $('input[name="__RequestVerificationToken"]').val();
        if(Confirm==true){
            $.ajax({
                url:'/Master/DSRExpenseHead/DeleteExpenseHeadDetail',
                type:'POST',
                headers: { '__RequestVerificationToken': Token },
                data:{ExpenseHeadId:ExpenseHeadId},
                dataType:'JSON',
                async:false,
                success:function(data){
                    if(data.Status==1){
                        LoadExpenseHeadPage();
                    }
                    else if(data.Status==2)
                    {
                        alert(data.Message);
                    }
                }

            });
        }
    }
</script>
<table id="TblExpenseHeader" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.ExpHead)</th>
            <th>@Html.DisplayNameFor(m => m.ExpenseCode)</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.ExpHead)</td>
                    <td>@Html.DisplayFor(m => item.ExpenseCode)</td>
                    <td style="text-align:center"><a href="#" onclick="EditExpenseHeader(@item.ExpenseHeadId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeleteExpenseHeader(@item.ExpenseHeadId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }

    </tbody>
</table>