<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}

@if (ViewBag.PaymentParty != null)
{ 
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}


@using (Ajax.BeginForm("AddEditLoadedContPaymentSheet", "AMD_CWCExport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("PaymentSheetModelJson")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")
    @Html.Hidden("hdnSupplyType")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Loaded Container Payment Sheet / Invoice</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col_cus_2_5 col-md-offset-1-5 col_cus_offset_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Invoice Date:</label>
                                <input type="hidden" id="GateEntryDate" />
                                <input type="hidden" id="LoadedDateCheck" />
                            </div>
                            <div class="col-md-2 Date_Img col_cus_2_5">
                                @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                                <span style="color:red" id="ErrAppDate"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Loaded Container / CBT Request No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.Hidden("StuffingReqId")
                                @Html.TextBox("StuffingReqNo", "", new { @readonly = true })
                                <span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>
                                <span style="color:red" id="ErrStuffing"></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBox("StuffingReqDate", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top" style="display:none">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>OT Hours:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("OTHour", "", new { @type = "number" })
                            </div>

                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>On Wheel Hours:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("OnWheelHours", "", new { @type = "number", @Value = "5" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Reefer Plugin Hours:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ReeferHours", "", new { @type = "number", @Value = "0" })
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>SEZ :</label>
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Cfs To Factory:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CfsToFactory", "", new { @type = "number", @Value = "0" })
                            </div>
                        </div>

                    </div>
               
                                    
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Party Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.Hidden("PartyId")
                                    @Html.TextBox("PartyName", "", new { @readonly = true })
                                    <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Payee Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.Hidden("PayeeId")
                                    @Html.TextBox("PayeeName", "", new { @readonly = true })
                                    <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>
                                </div>
                            </div>
                        </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("GSTNo", "", new { @readonly = true })
                            </div>

                            <div class="col-md-2 col_cus_2">
                                <label>Carting/Stuffing (%):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CartStuffPer", "", new { @type = "number", @Value = "100" })
                                <span style="color:red" id="ErrCartStuffPer"></span>
                            </div>                            
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">

                            <div class="col-md-2">
                                @Html.CheckBox("Weighment", new { @id = "Weighment" })
                                <label for="Weighment" style="text-align:center;"><span>Weighment</span><i class="square" style="margin-left: 10px;"></i></label>
                            </div>

                            <div class="col-md-3">
                                @Html.CheckBox("CustomBottleSealCharge", new { @id = "CustomBottleSealCharge" })
                                <label for="CustomBottleSealCharge" style="text-align:center;"><span>Custom Bottle Seal Charge</span><i class="square" style="margin-left: 10px;"></i></label>

                            </div>

                            <div class="col-md-2">

                                @Html.CheckBox("Sweeping", new { @id = "Sweeping" })
                                <label for="Sweeping" style="text-align:center;"><span>Sweeping</span><i class="square" style="margin-left: 10px;"></i></label>

                            </div>

                            <div class="col-md-2">
                                @Html.CheckBox("Fumigation", new { @id = "Fumigation" })
                                <label for="Fumigation" style="text-align:center;"><span>Fumigation</span><i class="square" style="margin-left: 10px;"></i></label>

                            </div>
                            <div class="col-md-2">
                                @Html.CheckBox("Insured", new { @id = "Insured" })
                                <label for="Insured" style="text-align:center;"><span>Insured</span><i class="square" style="margin-left: 10px;"></i></label>

                            </div>
                        </div>
                    </div>
                        <div class="row Form_Space_top" style="margin-bottom: 10px;">
                            <div class="form-group Form_Input">
                                
                                <div class="col-md-offset-4 col-md-4">
                                    <input class="btn log_Btn_sm" aria-hidden="true" data-toggle="modal" data-target="#Containerdtl" type="button" value="Container / CBT Details" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="col-md-12">
                                <table id="tblContainer" class="table table-bordered dataTable nowrap table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:8%;" class="text-center">Sl No</th>
                                            <th>CFS Code</th>
                                            <th>Container / CBT No</th>
                                            <th>Size</th>
                                            <th>Insured</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>


                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">Total:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCChrg" value="0" readonly></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col-md-1-5">
                                        <label>Total Value:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col-md-1-5">
                                        <label>Round Up:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col-md-1-5">
                                        <label>Invoice Value:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>*@

                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="col-md-offset-2 col-md-4">
                                <button id="btnShowHT" type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#HnTModal">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show H&amp;T Charges
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button id="btnAddExtraHT" type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#NewHnTModal" disabled>
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Extra H&amp;T
                                </button>
                            </div>
                        </div>
                        <section id="rest-charge-details" class="hide">
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <h5>H & T Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblHTCharges" class="table table-bordered table-striped dataTable Table_center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                                <th rowspan="2" class="text-center" style="width:15px;"></th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" class="text-right">Total:</td>
                                                <td><input type="text" id="TOTHTChrg" value="0" class="text-right"></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col-md-1-5">
                                <label>Total Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col-md-1-5">
                                <label>Round Up:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col-md-1-5">
                                <label>Invoice Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                        </section>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @*@Html.TextAreaFor(m=>m.Remarks,new { @style = "height:75px;" })*@
                                    @Html.TextArea("Remarks", new { @style = "height:75px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-3 col-md-2">
                                <input type="button" id="btnsave" value="Save" onclick="BindJson()" disabled class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="BtnGenerateIRN" value="Generated IRN" class="btn log_Btn_sm" onclick="GenerateIRN()" disabled="disabled" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintInvoice()" id="btnPrint" disabled />
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div><br /></div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2">
                                    <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                                </div>
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="text" placeholder="Search by Invoice No" id="SearchInvoiceNo" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Date (dd/mm/yyyy)" id="SearchInvoiceDate" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-12" id="DivListOfInvoice">
                                    <table class="table table-bordered table-striped dataTable">
                                        <thead>
                                            <tr>
                                                <td>Sl No</td>
                                                <td>Invoice No</td>
                                                <td>Invoice Date</td>
                                                <td>Party Name</td>
                                                <td>Print</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")

<div id="stuffingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Loaded Container / CBT No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payee</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Containerdtl" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal" onclick="ContainerSelect();"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container / CBT</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="cfscode" type="text" />
                    <ul class="navList" id="lstcfscode">

                        @{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }
                    </ul>*@
                <table id="lstcfsCode" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="ContainerSelect();">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="HnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="BindHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NewHnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstNewHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        $('#LoadedDateCheck').val(new Date());
        //$('#InvoiceDate').datetimepicker({
        //    showOn: "button",
        //    buttonImage: "/Content/images/calendar.png",
        //    buttonImageOnly: true,
        //    dateFormat: "dd/mm/yy",
        //    altField: "#slider_example_4andHalf_alt",
        //    altFieldTimeOnly: false,
        //    minDate: new Date(),
        //    onSelect: function (dateText) {
        //        dateText = $('#InvoiceDate').datepicker({ dateFormat: 'MM/dd/yyyy' }).val();
        //        var dt = dateText.split("/");
        //        var dt1 = dt[1] + "/" + dt[0] + "/" + dt[2];

        //        $('#LoadedDateCheck').val(dt1);
        //    },
        //    onClose: function () {
        //        $(".Date_Img .Error_Msg").text("");
        //        $('[data-valmsg-for="Data"]').html('<span></span>');
        //    }
        //});

        StuffingReqBinding();
        PartyBinding();
        PayeeBinding();
    });

    function StuffingReqBinding() {
        if ($('#hdnStuffingReq').val() != '') {
            var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
            var html = '';
            $.each(StuffingJson, function (i, item) {

                html += '<li id="' + item.StuffingReqId + '" onclick="selectStuffing(' + item.StuffingReqId + ');">' + item.StuffingReqNo + '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectStuffing(id) {
        var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.StuffingReqId == id; })[0];
        $('#StuffingReqId').val(StuffingRequest.StuffingReqId);
        $('#StuffingReqNo').val(StuffingRequest.StuffingReqNo);
        $('#StuffingReqDate').val(StuffingRequest.StuffingReqDate);
        //   $('#ShippingLineNameValue').val(StuffingRequest.ShippingLineName);  removed
        //   $('#ExporterNameValue').val(StuffingRequest.ExporterName);     removed
        $('#PartyId').val(StuffingRequest.CHAId);
        $('#PartyName').val(StuffingRequest.CHAName);
        $('#PayeeId').val(StuffingRequest.CHAId);
        $('#PayeeName').val(StuffingRequest.CHAName);
        $('#hdnAddress').val(StuffingRequest.Address);
        $('#hdnState').val(StuffingRequest.State);
        $('#hdnStateCode').val(StuffingRequest.StateCode);
        $('#GSTNo').val(StuffingRequest.CHAGSTNo);
        $('#GateEntryDate').val(StuffingRequest.GateEntryDateTime);
        $("#stuffingModal").modal("hide");
        ContainerBinding(id);
    }
    function ContainerBinding(id) {
        $('#lstcfsCode tbody').html(''); // added since cont details not getting updated in case there is no container againt stuffreqid
        $.ajax({
            url: '/Export/AMD_CWCExport/GetLoadedPaymentSheetContainer',
            type: 'GET',
            data: { StuffingReqId: id },
            dataType: 'JSON',
            success: function (data) {
                $('#ContainerJson').val(data);
                ContainerJson = JSON.parse(data);
                var html = '';
                $.each(ContainerJson, function (i, item) {
                    if (item.Selected)
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" checked id="' + item.CFSCode + '"/><label for="' + item.CFSCode + '"><i class="square" style="margin-left:10px;"></i></label></div></td><td>' + item.ContainerNo + '</td></tr>';
                    else
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" id="' + item.CFSCode + '"/><label for="' + item.CFSCode + '"><i class="square" style="margin-left:10px;"></i></label></div></td><td>' + item.ContainerNo + '</td></tr>';
                });
                $('#lstcfsCode tbody').html(html);
            }
        });
    }

    function PartyBinding() {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstParty').html(html);
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        var PartyNm = Party.PartyName.split('[');
        $('#PartyName').val(PartyNm[0]);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();
            rawJson.PartyAddress = $('#hdnAddress').val();
            rawJson.PartyState = $('#hdnState').val();
            rawJson.PartyStateCode = $('#hdnStateCode').val();
            rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
    }

    function PayeeBinding() {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstPayee').html(html);
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        var Payenm = Party.PartyName.split('[');
        $('#PayeeName').val(Payenm[0]);
        $("#PayeeModal").modal("hide");
    }
</script>
<script>

    //function ContainerSelect() {
    //    ArrayContainer = [];
    //    $('#lstcfsCode tbody tr').each(function () {
    //        var Chk = $(this).find('input[type="checkbox"]');
    //        if ($(Chk).is(':checked')) {
    //            var Container = {
    //                "CFSCode": $(Chk).attr('id')
    //            }
    //            ArrayContainer.push(Container);
    //        }
    //    });
    //    if (ArrayContainer.length > 0 && $('#InvoiceDate').val() != "") {
    //        $.ajax({
    //            url: '/Export/Chn_CWCExport/GetLoadedContainerPaymentSheet',
    //            type: 'POST',
    //            data: {
    //                InvoiceDate: $('#InvoiceDate').val(),
    //                InvoiceType: TaxType,
    //                StuffingReqId: parseInt($('#StuffingReqId').val()),
    //                lstPaySheetContainer: ArrayContainer,
    //                PayeeId: $('#PayeeId').val(),
    //                PartyId: $('#PartyId').val(),
    //                InvoiceId: 0

    //            },
    //            dataType: 'JSON',
    //            success: function (data) {
    //                if (data != null && data != 'undefined') {
    //                    $('#PaymentSheetModelJson').val(JSON.stringify(data));
    //                    var html = '';
    //                    var html1 = '';
    //                    //Container Binding
    //                    html = '';
    //                    $.each(data.lstPostPaymentCont, function (i, item) {
    //                        html += '<tr><td>' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.Size + '</td>';

    //                        html += '<td>' + (item.Insured == 0 ? 'No' : 'Yes') + '</td></tr>';


    //                    });
    //                    $('#tblContainer tbody').html(html);

    //                    //CWC Charge Binding

    //                    html = '';
    //                    var tamt = 0;
    //                    $.each(data.lstPostPaymentChrg, function (i, item) {

    //                        tmat = tamt + item.Amount.toFixed(2);
    //                        html += '<tr><td>' + item.ChargeName + '</td>'
    //                                + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text"  value="' + item.Amount.toFixed(2) + '" readonly/></td>'
    //                                + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
    //                                + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
    //                                + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
    //                                + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
    //                                + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
    //                                + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
    //                                + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
    //                    });
    //                    $('#tblCWCCharges tbody').html(html);
    //                    //  $('#CWCTDSPer').val(data.CWCTDSPer.toFixed(2));
    //                    // $('#TOTCWCTDS').val(Math.round(data.CWCTDS.toFixed(2)));
    //                    //debugger;
    //                    //HT Charge Binding*/
    //                    //var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
    //                    //html = '';
    //                    //$.each(HTCharge, function (i, item) {
    //                    //    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
    //                    //            + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
    //                    //            + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
    //                    //            + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
    //                    //            + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
    //                    //            + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
    //                    //            + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
    //                    //            + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
    //                    //            + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
    //                    //});
    //                    //$('#tblHTCharges tbody').html(html);
    //                    //$('#HTTDSPer').val(data.HTTDSPer.toFixed(2));
    //                    //$('#TOTHTTDS').val(Math.round(data.HTTDS.toFixed(2)));

    //                    //Total Charge Calculation

    //                    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
    //                    var TotalCWC = 0;
    //                    //   var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

    //                    $.each(data.lstPostPaymentChrg, function (i, item) {
    //                        TotalCWC += item.Total;
    //                    });
    //                    $('#TOTCWCChrg').val((TotalCWC).toFixed(2));

    //                    //var TotalHT = 0;
    //                    //var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

    //                    //$.each(HTCharge, function (i, item) {
    //                    //    TotalHT += item.Total;
    //                    //});
    //                    //$('#TOTHTChrg').val((TotalHT).toFixed(2));

    //                    $('#AllTotal').val((TotalCWC).toFixed(2));

    //                    var AllTot = Math.ceil(TotalCWC);
    //                    var roundup = AllTot - TotalCWC;
    //                    //    $('#TotalTDS').val(Math.round(data.TDS.toFixed(2)));
    //                    // $('#TotalTDSCol').val(Math.round(data.TDSCol.toFixed(2)));
    //                    $('#RoundUp').val(roundup.toFixed(2));
    //                    $('#InvoiceValue').val(AllTot.toFixed(2));
    //                    data.InvoiceAmt = AllTot;
    //                    data.RoundUp = roundup;
    //                    data.TotalAmt = tmat;
    //                    //CalcInvoice();
    //                    $('.search').css('display', 'none');
    //                    $('#InvoiceDate').parent().find('img').css('display', 'none');
    //                    if (data.TotalAmt == 0) {
    //                        //alert("Invoice with zero amount cannot be ");
    //                        $('#btnsave').attr('disabled', 'disabled');
    //                    }
    //                    else {
    //                        $('#btnsave').removeAttr('disabled');
    //                    }


    //                }
    //                else {
    //                    $('#PaymentSheetModelJson').val('');
    //                    $('#tblContainer tbody').html('');
    //                    $('#tblCWCCharges tbody').html('');
    //                    $('#tblHTCharges tbody').html('');
    //                    $('#TOTCWCChrg').val('');
    //                    $('#TOTHTChrg').val('');
    //                    $('#AllTotal').val('');
    //                    $('#RoundUp').val('');
    //                }
    //            }
    //        });
    //    }
    //    else {
    //        $('#PaymentSheetModelJson').val('');
    //        $('#tblContainer tbody').html('');
    //        $('#tblCWCCharges tbody').html('');
    //        $('#tblHTCharges tbody').html('');
    //        $('#TOTCWCChrg').val('');
    //        $('#TOTHTChrg').val('');
    //        $('#AllTotal').val('');
    //        $('#RoundUp').val('');
    //    }
    //}

    function ContainerSelect() {
        ArrayContainer = [];
        $('#lstcfsCode tbody tr').each(function () {
            var Chk = $(this).find('input[type="checkbox"]');
            if ($(Chk).is(':checked')) {
                var Container = {
                    "CFSCode": $(Chk).attr('id')
                }
                ArrayContainer.push(Container);
            }
        });

        var Weighment = 0;
        if ($('#Weighment').is(':checked')) {
            Weighment = 1;

        }
        var CustomBottleSealCharge = 0;
        if ($('#CustomBottleSealCharge').is(':checked')) {
            CustomBottleSealCharge = 1;

        }
        var Sweeping = 0;
        if ($('#Sweeping').is(':checked')) {
            Sweeping = 1;

        }
        var Fumigation = 0;
        if ($('#Fumigation').is(':checked')) {
            Fumigation = 1;

        }

        var _Insured = 0;
        if ($('#Insured').is(':checked')) {
            _Insured = 1;

        }
                

        if (ArrayContainer.length > 0 && $('#InvoiceDate').val() != "") {
            $.ajax({
                url: '/Export/AMD_CWCExport/GetLoadedContainerPaymentSheet',
                type: 'POST',
                data: {
                    InvoiceDate: $('#InvoiceDate').val(),
                    InvoiceType: TaxType,
                    StuffingReqId: parseInt($('#StuffingReqId').val()),
                    lstPaySheetContainer: ArrayContainer,
                    PayeeId: $('#PayeeId').val(),
                    PartyId: $('#PartyId').val(),
                    InvoiceId: 0,
                    OTHour: $('#OTHour').val(),
                    OnWheelHours: $('#OnWheelHours').val(),
                    ReeferHours: $('#ReeferHours').val(),
                    ExportUnder: $('#SEZ').val(),
                    CfsToFactory: $('#CfsToFactory').val() == "" ? 0 : $('#CfsToFactory').val(),
                    Weighment: Weighment,
                    CustomBottleSealCharge: CustomBottleSealCharge,
                    Sweeping: Sweeping,
                    Fumigation: Fumigation,                   
                    CartStuffPer: $('#CartStuffPer').val() == "" ? 100 : $('#CartStuffPer').val(),
                    Insured: _Insured
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data != null && data != 'undefined') {
                        $('#PaymentSheetModelJson').val(JSON.stringify(data));
                        $('#SEZ').prop("disabled", true);
                        

                        var html = '';
                        var html1 = '';
                        //All H&T binding in modal
                        
                        var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                        $.each(HTCharge, function (i, item) {
                            
                            var result = $.grep(data.ActualApplicable, function (e) { return e == item.Clause; });
                            if (result.length == 0) {
                                html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                            }
                            else {
                                html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" checked data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                            }
                            html1 += '<li id="liNHT' + i + '"><div class="boolean-container"><input id="chkNHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkNHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        });
                        $('#lstHT').html(html);
                        $('#lstNewHT').html(html1);
                        //$('#btnSave').removeAttr('disabled');
                        //Container Binding
                        html = '';
                        
                        $.each(data.lstPSCont, function (i, item) {
                            html += '<tr><td>' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.Size + '</td><td>' + (item.Insured == 0 ? 'No' : 'Yes') + '</td>';//
                        });
                        $('#tblContainer tbody').html(html);

                        //CWC Charge Binding
                        debugger;
                        var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                        html = '';
                        var TotalCWC = 0;
                        $.each(CWCCharge, function (i, item) {
                            TotalCWC += item.Total;
                            //html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                            html += '<tr><td>' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.OperationId + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.OperationId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.OperationId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.OperationId + '" type="text" value="' + item.CGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.OperationId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.OperationId + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.OperationId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.OperationId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                        });
                        $('#tblCWCCharges tbody').html(html);
                        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));

                        $('.search').css('display', 'none');
                        $('#InvoiceDate').parent().find('img').css('display', 'none');

                        $('#OnWheelHours').attr("disabled", 'disabled');
                        $('#ReeferHours').attr("disabled", 'disabled');
                        $('#CfsToFactory').attr("disabled", 'disabled');
                        $('#CartStuffPer').attr("disabled", 'disabled');

                        $('#Weighment').prop("disabled", true);
                        $('#CustomBottleSealCharge').prop("disabled", true);
                        $('#Sweeping').prop("disabled", true);
                        $('#Fumigation').prop("disabled", true);
                        $('#Insured').prop("disabled", true);
                        //$('#btnAddExtraHT').removeAttr('disabled');
                        //CalcTax(1);
                        BindHnTCharges();
                    }
                    else {
                        $('#PaymentSheetModelJson').val('');
                        $('#tblContainer tbody').html('');
                        $('#tblCWCCharges tbody').html('');
                        $('#tblHTCharges tbody').html('');
                        $('#TOTCWCChrg').val('');
                        $('#TOTHTChrg').val('');
                        $('#AllTotal').val('');
                        $('#RoundUp').val('');
                    }
                }
            });
        }
        else {
            $('#PaymentSheetModelJson').val('');
            $('#tblContainer tbody').html('');
            $('#tblCWCCharges tbody').html('');
            $('#tblHTCharges tbody').html('');
            $('#TOTCWCChrg').val('');
            $('#TOTHTChrg').val('');
            $('#AllTotal').val('');
            $('#RoundUp').val('');
        }
    }

    function BindHnTCharges() {
        
        try {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
            var rowCount = rawJson.lstPostPaymentChrg.length;
            var html = '';
            var TotalHT = 0;
            var htWithOutTax = 0;
            //var htcharge = [];
            for (var i = 0; i < $("#lstHT li").length; i++) {
                if ($('#chkAHT' + i).prop("checked")) {
                    var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                    //htcharge.push(item);
                    rawJson.lstPostPaymentChrg.push(item);
                    TotalHT += item.Total;
                    htWithOutTax += item.Amount;
                    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                        + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '"  /></td>'
                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                        + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                    rowCount += 1;
                }
            }
            $('#tblHTCharges tbody').html(html);
            $('#TOTHTChrg').val((TotalHT).toFixed(2));
            $('#rest-charge-details').removeClass('hide');
            $('#btnSave').removeAttr('disabled');
            rawJson.HTTotal = TotalHT;
            rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
            rawJson.HTAmtTotal = htWithOutTax;
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
            $('#btnAddExtraHT').removeAttr('disabled');
            $('#btnShowHT').prop('disabled',false);
            $('#btnsave').removeAttr('disabled');
            CalcTax(0);
        }
        catch (e) { console.log('BindHnTCharges : ' + e.message); }
    }

    var indx = 0;
    function AddHnTCharges() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var rowCount = rawJson.lstPostPaymentChrg.length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        for (var i = 0; i < $("#lstNewHT li").length; i++) {
            if ($('#chkNHT' + i).prop("checked")) {
                $('#chkNHT' + i).removeAttr('checked');
                var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                item.ChargeId = item.ChargeId + '_' + indx;
                rawJson.lstPostPaymentChrg.push(item);
                TotalHT += item.Total;
                htWithOutTax += item.Amount;
                html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                    + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                rowCount += 1;
                indx += 1;
            }
        }
        $('#tblHTCharges tbody').append(html);
        rawJson.HTTotal += TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal += htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(0);
    }

    function RemoveHT(idx) {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        rawJson.lstPostPaymentChrg.splice(idx, 1);
        var rowCount = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; }).length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
        $.each(HTCharge, function (i, item) {
            TotalHT += item.Total;
            htWithOutTax += item.Amount;
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" /></td>'
                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
            rowCount += 1;
        });
        $('#tblHTCharges tbody').html(html);
        rawJson.HTTotal = TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal = htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(0);
    }

    function CalcTax(elem) {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var MAmt = Number($('#' + elem).val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        //if (rawJson.InvoiceType == "Tax") {
        if (TaxType == "Tax") {
            /*if (rawJson.PartyStateCode == rawJson.CompStateCode) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }*/
            if (parseFloat(rawJson.lstPostPaymentChrg[0].CGSTAmt) > 0 || parseFloat(rawJson.lstPostPaymentChrg[0].SGSTAmt) > 0) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else if (parseFloat(rawJson.lstPostPaymentChrg[0].IGSTAmt) > 0) {
                IP = Number($('#IGSTP' + elem).val());
            }
        }
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        $('#IGSTA' + elem).val((MAmt * (IP / 100)).toFixed(2));
        $('#CGSTA' + elem).val((MAmt * (CP / 100)).toFixed(2));
        $('#SGSTA' + elem).val((MAmt * (SP / 100)).toFixed(2));
        $('#TOT' + elem).val((MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100))).toFixed(2));

        var selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.OperationId == elem; })[0];
        if (selectedItem == undefined)
            selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.OperationId + '_' + (indx - 1) == elem; })[0];
        selectedItem.Amount = MAmt;
        selectedItem.Taxable = MAmt;
        //selectedItem.IGSTPer = IP;
        selectedItem.IGSTAmt = MAmt * (IP / 100);
        //selectedItem.CGSTPer = CP;
        selectedItem.CGSTAmt = MAmt * (CP / 100);
        //selectedItem.SGSTPer = SP;
        selectedItem.SGSTAmt = MAmt * (SP / 100);
        selectedItem.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));



        var TotalCWC = 0;
        //var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        rawJson.TotalCGST = 0;
        rawJson.TotalSGST = 0;
        rawJson.TotalIGST = 0;
        rawJson.TotalAmt = 0;

        $.each(CWCCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalCWC += item.Total;
        });
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
        //$('#TOTCWCTDS').val(((TotalCWC * 10) / 100).toFixed(2));
        rawJson.CWCTotal = TotalCWC;
        var TotalHT = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

        $.each(HTCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalHT += item.Total;
        });
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        //$('#TOTHTTDS').val(((TotalHT * 2) / 100).toFixed(2));
        rawJson.HTTotal = TotalHT;
        $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));
        rawJson.AllTotal = (TotalCWC + TotalHT);
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcInvoice();
    }

    function CalcInvoice() {
        var Total = Number($('#AllTotal').val());
        var cwcTDS = 0;// Number($('#TOTCWCTDS').val());
        var htTDS = 0;//Number($('#TOTHTTDS').val());
        var grandTDS = 0;//cwcTDS + htTDS;
        //$('#TotalTDS').val(grandTDS.toFixed(2));
        var RoundUp = Number($('#RoundUp').val());
        $('#InvoiceValue').val((Total - (grandTDS + RoundUp)).toFixed(2));
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        //console.clear();
        //console.log(JSON.stringify(rawJson));
        //rawJson.AllTotal = Total;
        rawJson.CWCTDS = cwcTDS;
        rawJson.HTTDS = htTDS;
        rawJson.TDS = grandTDS;
        rawJson.RoundUp = RoundUp;
        rawJson.InvoiceAmt = rawJson.AllTotal - (rawJson.TDS + rawJson.RoundUp);

        rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal);
        var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
        rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);

        $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
        $('#RoundUp').val(round.toFixed(2));
        $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        //$('#rest-charge-details').removeClass('hide');
    }

    function BindJson() {
        /*var Appdt = $('#LoadedDateCheck').val();
        var GateEntryDt = $('#GateEntryDate').val();
        var jdt = new Date(Appdt);
        var tdt = new Date(GateEntryDt);*/

        //   if (jdt >= tdt) {

        if ($('#StuffingReqNo').val() == '') {
            // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
            $('#ErrStuffing').html('Fill Out This Field');
            return false;
        }
        if ($('#InvoiceValue').val() <= 0) {
            alert('Invoice Amount cannot be Zero or Negative');
            return false;
        }
        else {

            var conf = confirm("Do you want to save ?");
            if (conf) {
                try {
                    //debugger;
                    $('#btnSave').attr('disabled', true);
                    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                    rawJson.InvoiceId = 0;
                    rawJson.InvoiceType = TaxType;
                    rawJson.InvoiceDate = $('#InvoiceDate').val();
                    rawJson.RequestId = $('#StuffingReqId').val();
                    rawJson.RequestNo = $('#StuffingReqNo').val();
                    rawJson.RequestDate = $('#StuffingReqDate').val();
                    rawJson.PartyId = $('#PartyId').val();
                    rawJson.PartyName = $('#PartyName').val();
                    rawJson.PayeeId = $('#PayeeId').val();
                    rawJson.PayeeName = $('#PayeeName').val();
                    rawJson.PartyGST = $('#GSTNo').val();
                    rawJson.Remarks = $('#Remarks').val();
                    rawJson.PartyAddress = $('#hdnAddress').val();
                    rawJson.PartyState = $('#hdnState').val();
                    rawJson.PartyStateCode = $('#hdnStateCode').val();
                    rawJson.ExportUnder = $('#SEZ').val();
                    rawJson.CfsToFactory = $('#CfsToFactory').val() == "" ? 0 : $('#CfsToFactory').val();
                    rawJson.CartStuffPer = $('#CartStuffPer').val() == "" ? 100 : $('#CartStuffPer').val();
                    rawJson.OnWheelHours = $('#OnWheelHours').val();
                    rawJson.ReeferHours = $('#ReeferHours').val();
                    rawJson.Weighment = $('#Weighment').is(':checked') == true ? 1 : 0;
                    rawJson.CustomBottleSealCharge = $('#CustomBottleSealCharge').is(':checked') == true ? 1 : 0;
                    rawJson.Sweeping = $('#Sweeping').is(':checked') == true ? 1 : 0;
                    rawJson.Fumigation = $('#Fumigation').is(':checked') == true ? 1 : 0;                                        
                    rawJson.Insured = $('#Insured').is(':checked') == true ? 1 : 0;

                    rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    $.each(rawJson.lstPostPaymentChrg, function (i, item) {
                        if (item.ChargeId.toString().indexOf('_') != -1) {
                            item.ChargeId = Number(item.ChargeId.split('_')[0]);
                        }
                    });
                    $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                    //console.log(rawJson);
                    $('form#PaymentSheetForm').submit();
                }
                catch (e) {
                    $('#btnsave').removeAttr('disabled');
                }
            }
        }
    }

    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        TaxType = Type;
        $('#DivBody').load('/Export/AMD_CWCExport/CreateLoadedContainerPaymentSheet?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else
        $('#Bill').prop('checked', true);
</script>
<script>
    function PaymentOnSuccess(data) {
        //console.log(data);
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            var InvSupplyData = data.Data.split('-');
            $('#InvoiceNo').val(InvSupplyData[0]);
            $('#hdnSupplyType').val(InvSupplyData[1]);
            $('#BtnGenerateIRN').removeAttr('disabled');
           // $('#InvoiceNo').val(data.Data);

            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnsave').attr('disabled', 'disabled');
            $('#btnPrint').removeAttr('disabled');
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {
        $('#DivBody').load('/Export/AMD_CWCExport/CreateLoadedContainerPaymentSheet');
    }
    function PrintInvoice() {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "Wlj_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: $('#InvoiceNo').val(),
                InvoiceModule: 'EXPLod',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'Loaded Container Payment Sheet',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
    function ShowList() {
        $('#SearchInvoiceNo').val("");
        $('#SearchInvoiceDate').val("");
        $('#DivListOfInvoice').load('/Export/AMD_CWCExport/ListOfExpInvoice?Module=EXPLod');
    }
    function SearchInvoice() {
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true)
            $('#DivListOfInvoice').load('/Export/AMD_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + "&Module=EXPLod");
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/Export/AMD_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + "&Module=EXPLod");
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Export/AMD_CWCExport/ListOfExpInvoice?InvoiceDate=' + InvoiceDate + "&Module=EXPLod");
    }
    function Validate() {
        var date = document.getElementById("SearchInvoiceDate").value.split("/");
        var day = date[0];
        var month = date[1];
        var dateString = document.getElementById("SearchInvoiceDate").value;
        var regex = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
        if (day > 31) {
            alert("Please enter correct date");
            return false;
        }
        else
            if (month > 12) {
                alert("Please enter correct Month");
                return false;
            }
        return true;
    }
     function GenerateIRN() {
        debugger;

        var InvoiceNo = $('#InvoiceNo').val();
        var SupplyType = $('#hdnSupplyType').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetIRNForYardInvoice", "AMD_CwcExport", new { Area = "Export" }) ',
            type: 'POST',
            data: {
                InvoiceNo: InvoiceNo,
                SupplyType: SupplyType
            },
            success: function (data) {
                if (data.Status == 1) {
                    alert("IRN has been generated sucessfully");
                    $('#btnPrint').removeAttr("disabled");
                }
                else
                    alert(data.Message);
                $('#btnPrint').removeAttr("disabled");

            }
        });
    };
</script>