@model CwcExim.Areas.Export.Models.Chn_CartingRegister

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Carting Register</h4>
                    </div>
                </div>
                @if (ViewBag.check != null)
                {
                <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
                }
                else
                {
                <input type="hidden" id="hdnShippingLineList" value="" />
                }
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Carting No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CartingRegisterNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Register Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.RegisterDate, new { @class = "from-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>CCIN No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>*@
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>CCIN Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "from-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Carting Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("CartingType", "", new { @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Commodity Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("CommodityType", "", new { @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Shipping Line:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.HiddenFor(m => m.ShippingLineId)
                            @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                            
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.GodownName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                            <div class="boolean-container">
                                @Html.RadioButton("Space", "ReservedSpace", new { id = "ReservedSpace", @onclick = "OnClickSpace('ReservedSpace')" })
                                <label for="ReservedSpace"><i class="circle"></i><span>Reserved Space</span></label>
                            </div>
                        </div>
                        <div class="col-md-2 col_cus_3">
                            <div class="boolean-container">
                                @Html.RadioButton("Space", "GeneralSpace", new { id = "GeneralSpace", @onclick = "OnClickSpace('GeneralSpace')" })
                                <label for="GeneralSpace"><i class="circle"></i><span>General Space</span></label>
                            </div>
                            @Html.HiddenFor(m => m.SpaceType, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div id="DivShippingDetails" style="display:none;" class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Carting Details</h5>
                        </div>
                    </div>
                    @Html.Hidden("CartingAppDtlId")
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Bill No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Shipping Bill Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBox("ShippingBillDate", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Exporter:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("Exporter", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("CargoDescription", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Commodity:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_1_5 col_cus_2">
                                <label>Cargo Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CargoType", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Marks & No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("MarksAndNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>No of Units:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Weight (Kg):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Weight", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>CUM:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CUM", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Actual Unit:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ActualQty", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            @*<div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>SQM:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("SQM", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>*@
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Area (Unreserved) :</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0;">
                                @Html.TextBox("SQM", "", new { @class = "form-control input-sm", maxlength = "11", @readonly = true })
                            </div>
                            <div class="col-md-0-5" style="line-height: 25px; font-size: 11px; padding: 0 0 0 5px;">SQM</div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>FOB Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("FOBValue", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            @*<div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Gross Weight (Kg):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ActualWeight", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>*@
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Area (Reserved):</label>
                            </div>
                            <div class="col-md-2" style="padding-right: 0;">
                                @Html.TextBox("SQMReserved", "", new { @class = "form-control input-sm", maxlength = "11", @readonly=true})
                            </div>
                            <div class="col-md-0-5" style="line-height: 25px; font-size: 11px; padding: 0 0 0 5px;">SQM</div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Location:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("Location", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_2_5 col_cus_2">
                                <label>Gross Weight (Kg):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ActualWeight", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>  
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Storage Type:</label>
                            </div>
                            <div class="col-md-2-5">

                                @Html.TextBoxFor(m => m.StorageType, new { @class = "form-control input-sm", @readonly = true })
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12">

                        <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center" width="8%;">@Html.DisplayName("SL No")</th>
                                    <th>@Html.DisplayName("Shipping Bill No")</th>
                                    <th width="15%;">@Html.DisplayName("Shipping Bill Date")</th>
                                    <th>@Html.DisplayName("Exporter")</th>
                                    <th class="text-center" width="10%;">@Html.DisplayName("View")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var Serial = 1;
                                    foreach (var item in Model.lstRegisterDtl)
                                    {
                                        <tr>
                                            <td class="text-center">@Serial.ToString()</td>
                                            <td>@item.ShippingBillNo</td>
                                            <td>@item.ShippingDate</td>
                                            <td>@item.Exporter</td>
                                            <td class="text-center"><a href="#"><i class="fa fa-search-plus Edit" onclick="ViewShippingDetails(@item.CartingAppDtlId,@Serial)"></i></a></td>
                                        </tr>
                                        Serial++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
               
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" />
                    </div>
                    @if (Model.IsShortCargo == 1)
                    {
                        <div class="col-md-3">
                            <input type="button" class="btn log_Btn_sm" value="Short Cargo List" data-toggle="modal" data-target="#ShortCargoModal" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShortCargoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:100%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Short Cargo Details</h4>
            </div>
            <div class="modal-body popup_body">
                @{
                    if (Model.lstShortCargoDetails != null)
                    {
                        <table id="tblShortCargo" class="table table-bordered table-striped dataTable" style="margin-top:10px !important;">
                            <thead>
                                <tr>
                                    <th>Carting Date</th>
                                    <th>Qty</th>
                                    <th>Weight</th>
                                    <th>SQM</th>
                                    <th>FOB</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.lstShortCargoDetails)
                                    {
                                        <tr>
                                            <td>@item.CartingDate</td>
                                            <td>@item.Qty</td>
                                            <td>@item.Weight</td>
                                            <td>@item.SQM</td>
                                            <td>@item.FOB</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                                    }
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-9 col-md-3">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function()
    {
        '@Model.CartingType'==1?$('#CartingType').val('Manual'):('@Model.CartingType'==2?$('#CartingType').val('Mechanical'):$('#CartingType').val(''));
        '@Model.CommodityType'==1?$('#CommodityType').val('General'):('@Model.CommodityType'==2?$('#CommodityType').val('Heavy/Scrape'):$('#CommodityType').val(''));

        if ( $('#SpaceType').val() == 'ReservedSpace') {
            $('#SQM').attr("disabled", true);
            $('#ReservedSpace').prop("checked", true);
            $('#GeneralSpace').prop("checked", false);

        }
        else if ($('#SpaceType').val() == 'GeneralSpace') {
            $('#SQM').attr("disabled", false);
            $('#ReservedSpace').prop("checked", false);
            $('#GeneralSpace').prop("checked", true);
        }
        $('#ReservedSpace').attr("disabled", true);
        $('#GeneralSpace').attr("disabled", true);
    });
    var Html=@Html.Raw(Json.Encode(Model.lstRegisterDtl));
    $('#btnBack').on("click", function ()
    {
        $('#DivBody').load( '/Export/AMD_CWCExport/CreateCartingRegister');
    });

    
    function ViewShippingDetails(CartingAppDtlId,sr)
    {
        debugger;
        $('#DivShippingDetails').css("display", "block");
        $.each(Html,function(i,data)
        {
            debugger;
            if(sr==i+1)
            {
                $('#ShippingBillNo').val(data.ShippingBillNo);
                $('#ShippingBillDate').val(data.ShippingDate);
                $('#Exporter').val(data.Exporter);
                $('#CargoDescription').val(data.CargoDescription);
                $('#Commodity').val(data.CommodityName);
                if(data.CargoType==1)$('#CargoType').val('HAZ');
                else $('#CargoType').val('Non HAZ');
                $('#MarksAndNo').val(data.MarksAndNo);
                $('#NoOfUnits').val(data.NoOfUnits);
                $('#Weight').val(data.Weight);
                $('#CUM').val(data.CUM);
                $('#ActualQty').val(data.ActualQty);
                $('#SQM').val(data.SQM);
                $('#FOBValue').val(data.FoBValue);
                $('#ActualWeight').val(data.ActualWeight);
                $('#Location').val(data.Location);
                $('#SQMReserved').val(data.SQMReserved);
                $('#StorageType').val(data.StorageType=='O'?'Open':'Covered');
                
                return false;
            }
        });
    }
</script>