
@model CwcExim.Areas.Report.Models.LNSM_DTRRailSummary

@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@*@using (Ajax.BeginForm("DailyCashBookDetailExcel", "LNSM_ReportCWC", options))
    {*@
@using (Html.BeginForm("DailyCashBookReportRailSumExcel", "LNSM_ReportCWC", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Daily Transaction Rail Summary</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>

                        <div class="row SignUp_space_top2">
                            @*<div class="col-md-offset-4 col-md-2">
                                <input type="button" value="Print" name="Command" onclick="GetReport()" class="btn log_Btn_sm" id="BtnPreview1" />
                            </div>*@
                            <div class="col-md-2">
                                <input type="submit" value="Print Excel" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        debugger;
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    $('#BtnPreview1').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        debugger;
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure(data) {
        debugger;
        $('#DivDwnldWavMsg').html('')
        //alert(data);
     
        if (data.Status == 1) {

            debugger;
            //SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }

    function RptInvoiceReportDetails(data) {
        debugger;
        $('#DivDwnldWavMsg').html('')
        //alert(data);
  
        if (data.Status == 1) {

            debugger;
            //SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    @*function SaveReportPdf(data)
    {
        debugger;
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();

        var Html = '<div style="float:left; width:20%;"><img align="right" src="IMGSRC" width="90"/></div>'
        Html += "<div style='text-align:center; width:80%; float:left;'><h1 style='font-size: 22px; margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION</h1><label style='font-size: 12px;'>(A Govt. of India Undertaking)</label><br/><span style='font-size:12px;'>ICD Patparganj-Delhi</span><br/><label style='font-size: 14px; font-weight:bold;'>Daily Cash Book(SD) From " + FormDate + " To " + ToDate + "</label></div>";


        Html += "<table cellpadding='5' cellspacing='0' style='text-align:center; width:100%; font-size:6pt; font-family:Verdana,Arial,San-serif; border:1px solid #000; border-collapse:collapse;'>";
        Html += "<thead><tr>";
        Html += "<th style='border:1px solid #000; width:80px;'>Sr.No.</th>";

        Html += "<th style='border:1px solid #000; width:130px;'>DATE</th>";
        Html += "<th style='border:1px solid #000; width:190px;'>INVOICE NO.</th>";
        Html += "<th style='border:1px solid #000; width:180px;'>INVOICE TYPE</th>";
        Html += "<th style='border:1px solid #000; width:200px;'>PARTY NAME</th>";
        Html += "<th style='border:1px solid #000; width:200px;'>PAYEE NAME</th>";
        Html += "<th style='border:1px solid #000; width:100px;'>MODE OF PAYMENT</th>";
        Html += "<th style='border:1px solid #000; width:100px;'>CHQ NO</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>GEN SPACE</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>STO</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>INS</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>GRE</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>GRL</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>MF CHRG</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>ENT CHRG</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>FUM</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>OT CHRG</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>MISC</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>BILL</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>CGST</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>SGST</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>IGST</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>TOTAL CASH</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>TOTAL CHQ</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>Others</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>TOTAL PDA</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>TDS</th>";
        Html += "<th style='border:1px solid #000; width:100px; text-align:right;'>CR. TDS</th>";
        Html += "<th style='border:1px solid #000; width:200px;'>REMARKS</th>";
        Html += "</tr></thead>";
        Html += "<tbody>";



         var j=0;
        for (i = 0; i < data.Data.length;i++)
        {
            debugger;
            j = j + 1;


            Html += "<tr>";
            Html += "<td style='border: 1px solid #000;'>" + j + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].InvoiceDate + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].InvoiceNo + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].InvoiceType + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].PartyName + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].PayeeName + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].ModeOfPay + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].ChqNo + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].GenSpace + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].StorageCharge + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Insurance + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].GroundRentEmpty + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].GroundRentLoaded + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].MfCharge + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].EntryCharge + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Fumigation + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].OtherCharge + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Misc + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].MiscExcess + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Cgst + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Sgst + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Igst + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].TotalCash + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].TotalCheque + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].TotalOthers + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].TotalPDA + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].Tds + "</td>";
            Html += "<td style='border: 1px solid #000; text-align:right;'>" + data.Data[i].CrTds + "</td>";
            Html += "<td style='border: 1px solid #000;'>" + data.Data[i].Remarks + "</td>";
            Html += "</tr>";
        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
       // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            beforeSend: function () {
                $('.modalloader').show();
            },
            url: '@Url.Action("GenerateDailyCashBookReportPDF", "LNSM_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            },
            complete: function () {
                $('.modalloader').hide();
            }
        });
    }

    function GetReport() {
        debugger;
        var PostData = new FormData();
   /*     $('#DivDwnldWavMsg').html('');*/
        var From = $('#PeriodFrom').val();
            var To = $('#PeriodTo').val();

        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
            }

            PostData.append("PeriodFrom", From);
        PostData.append("PeriodTo", To);
        var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
            type:"Post",
            url: '@Url.Action("GetDailyCashBookReport", "LNSM_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                debugger;
                 $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
            },
            complete: function () {
                $('.modalloader').hide();
            }
        })
    }*@

</script>



