@model CwcExim.Areas.Import.Models.WFLDDestuffingEntry

<style>
    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        border-right-width: 1px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div id="DivAddDestuffingEntry">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Destuffing</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container / CBT No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ContainerNo, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>Start Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Destuffing No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>Destuffing Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.DestuffingEntryDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.DestuffingEntryDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>*@
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHA, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.HiddenFor(m => m.CHAId)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Rotation:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-2-5">
                                <label>Customs Seal No:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input-sm", @readonly = true, @maxlength = 50 })
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            @*<div class="col-md-3">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.DeliveryType, "1", new { @id = "Container", @disabled = true })
                                    <label for="Container"><i class="circle"></i>Container Delivery</label>
                                </div>
                            </div>*@
                           
                            <div class="col-md-3">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.DeliveryType, "2", new { @id = "Cargo", @disabled = true })
                                    <label for="Cargo"><i class="circle"></i>Cargo Delivery</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="DivDestuffingEntryDet" class="Head_h5">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>OBL/HBL No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOLNo", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("BOLNo", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                    <label>OBL/HBL Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBox("BOLDate", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("BOLDate", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Line No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("LineNo", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-2-5 col-md-1-5 col_cus_2">
                                    <label>Commodity:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("Commodity", new { @class = "Error_Msg" })
                                    <input type="hidden" id="CommodityId" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextArea("CargoDescription", "", new { @class = "form-control input-sm", @disabled = true })
                                    @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.Hidden("ImporterId")
                                    @Html.Hidden("IsReserved")
                                    @Html.Hidden("ShippingLineId")
                                    @Html.TextBox("ShippingLineName", "", new { @class = "form-control input-sm", @disabled = true })
                                    @Html.ValidationMessage("ShippingLineName", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">


                                <div class="col-md-1-5 col_cus_2">Cargo Type<span class="LabelColon">:</span></div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    @Html.DropDownList("CargoType", new List<SelectListItem>
                                {
                                new SelectListItem { Text="Haz",Value="1"},
                                new SelectListItem { Text="Non-Haz",Value="2"},
                                 new SelectListItem {Text="ODC",Value="3" }
                                }, "----Select----", new { @class = "form-control input-sm" , @disabled = true })
                                </div>

                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>No of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                    <label>Gross Weight (Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("GrossWeight", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 ">
                                    <label>Remaining Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("RemPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>Remaining WT(Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("RemWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>BOE No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOENo", "", new { @class = "form-control input-sm", @onblur = "GetCIFDuty()" , @readonly = true })
                                    @*@Html.ValidationMessage("BOENo", "", new { @class = "Error_Msg" })*@
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>BOE Date:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                                    @*@Html.ValidationMessage("BOEDate", "", new { @class = "Error_Msg" })*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">

                                <div class="col-md-1-5 col_cus_2">
                                    <label>OBL Wise Destuffing Date:</label>
                                </div>

                                <div class="col-md-2-5">
                                    @Html.TextBox("OBLWiseDestuffingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("OBLWiseDestuffingDate", "", new { @class = "Error_Msg" })
                                </div>
                                <div id="divsqm" style="display:none">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>UOM:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_10">
                                        @Html.DropDownList("UOM", new List<SelectListItem> { new SelectListItem { Text = "SQM", Value = "SQM" } })
                                        @*@Html.TextBox("UOM", "", new { @class = "form -control input-sm", @readonly = true })*@
                                        @Html.ValidationMessage("UOM", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("Remarks", "", new { @class = "form-control input-sm", @style = "width:100%;height:75px", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Godown:</label>
                                </div>
                                <div class="col-md-2-5">

                                    @Html.TextBox("GodownName", "", new { @class = "form-control input-sm", @readonly = true })                                    
                                    <input type="hidden" id="GodownId" />
                                    <input type="hidden" id="GodownName" />
                                    @Html.ValidationMessage("GodownName", new { @class = "Error_Msg" })

                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>Location:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GodownWiseLocationNames", "", new { @class = "form-control input-sm", @readonly = true })                @Html.Hidden("GodownWiseLocationIds")
                                    @Html.ValidationMessage("GodownWiseLocationNames", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    <label>Receive Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ReceivedPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("ReceivedPackages", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>Un Reserved Weight(Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("DestuffingWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("DestuffingWeight", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>UnReserved Area (SQM):</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.TextBox("Area", "", new { @class = "form-control input-sm" , @readonly = true })
                                    @Html.ValidationMessage("Area", "", new { @class = "Error_Msg" })
                                </div>

                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>CBM:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_3">
                                    @Html.TextBox("AreaCbm", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("AreaCbm", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CIF Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CIFValue", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("CIFValue", "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>Gross Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GrossDuty", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("GrossDuty", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Reserved Area (SQM):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("RevArea", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("RevArea", "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>Reserved Weight(Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ReservedWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("ReservedWeight", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>




                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                </div>
                                <div class="col-md-2-5">
                                    <div class="boolean-container">
                                        @Html.RadioButton("IsHoldRelease", "0", new { @id = "IsHold", @checked = true, @readonly = true })
                                        <label for="IsHold"><i class="circle"></i>  Hold</label>
                                    </div>
                                </div>
                                <div class="col-md-2-5">
                                    <div class="boolean-container">
                                        @Html.RadioButton("IsHoldRelease", "1", new { @id = "IsRelease", @readonly = true })
                                        <label for="IsRelease"><i class="circle"></i>  Release</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                        </div>
                        <div id="DivDestuffingEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                        <table class="table table-striped table-bordered dataTable slim_tble" id="TblDestuffingEntryDet" style="width:100%;">
                            <thead>
                                <tr>
                                    <th colspan="2" width="15%" class="text-center">@Html.DisplayName("OBL/HBL")</th>
                                    <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Line No")</th>
                                    <th rowspan="2" width="15%" class="text-center">@Html.DisplayName("Godown Name")</th>
                                    @*<th rowspan="2" width="10%" class="text-center">Area <br /> ( Generated From TallySheet )</th>*@
                                    <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("UnReserved Area")</th>
                                    <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Reserved Area")</th>
                                    <th rowspan="2" width="5%" class="text-center">@Html.DisplayName("CBM")</th>
                                    <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Received Packages")</th>
                                    <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Un Reserved Weight(Kg)")</th>
                                    <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Reserved Weight(Kg)")</th>

                                       <th rowspan="2" width="5%" class="text-center">@Html.DisplayName("View")</th>
                                </tr>
                                <tr>
                                    <th width="50px" class="text-center">No.</th>
                                    <th width="50px" class="text-center">Date</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                @{
                                    foreach (var item in Model.lstDtl)
                                    {
                                        <tr>
                                            <td width="50px" class="text-center txt_wrp">@item.BOLNo</td>
                                            <td width="50px" class="txt_wrp">@item.BOLDate</td>
                                            <td width="6%" class="txt_wrp">@item.LineNo</td>
                                            <td width="15%" class="txt_wrp">@item.GodownName</td>
                                            @*<td width="10%" class="txt_wrp">@item.TallySheetArea</td>*@
                                            <td width="5%" class="txt_wrp">@item.Area</td>
                                            <td width="5%" class="txt_wrp">@item.RevArea</td>
                                            <td width="5%" class="txt_wrp">@item.AreaCbm</td>
                                            <td width="10%" class="txt_wrp">@item.ReceivedPackages</td>
                                            <td width="10%" class="txt_wrp">@item.DestuffingWeight</td>
                                            <td width="10%" class="txt_wrp">@item.ReservedWeight</td>

                                               <td width="5%" class="text-center"><a href="#" onclick="ViewData(@item.GdTransId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                        <input type="submit" class="btn log_Btn_sm" value="Back" onclick="PageReload()" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var ArrayLst = [];
    $(function () {
        ArrayLst = @Html.Raw(Json.Encode(Model.lstDtl));
    });
    function PageReload() {
        $('#DivBody').load('/Import/VLDA_CWCImport/CreateDestuffingEntry');
    }
    function ViewData(i) {
        $.each(ArrayLst, function (z, elem) {
            if (i == elem.GdTransId)
            {
               /* $('#TallySheetDtlId').val(elem.TallySheetDtlId);
                $('#TallySheetArea').val(elem.TallySheetArea);*/
                $('#BOLNo').val(elem.BOLNo);
                $('#BOLDate').val(elem.BOLDate);
                $('#LineNo').val(elem.LineNo);
                $('#CommodityId').val(elem.CommodityId);
                $('#Commodity').val(elem.Commodity);
                $('#CargoDescription').val(elem.CargoDescription);
                $('#NoOfPackages').val(elem.NoOfPackages);
                $('#ReceivedPackages').val(elem.ReceivedPackages);
                $('#UOM').val(elem.UOM);
                $('#GrossWeight').val(elem.GrossWeight);
                $('#DestuffingWeight').val(elem.DestuffingWeight);
                $('#ReservedWeight').val(elem.ReservedWeight);
                $('#Remarks').val(elem.Remarks);
                $('#GodownWiseLocationNames').val(elem.GodownWiseLocationNames);
                $('#GodownWiseLocationIds').val(elem.GodownWiseLocationIds);
                $('#Area').val(elem.Area);
                $('#RevArea').val(elem.RevArea);
                $('#AreaCbm').val(elem.AreaCbm);
                $('#CIFValue').val(elem.CIFValue);
                $('#GrossDuty').val(elem.GrossDuty);
                $('#BOENo').val(elem.BOENo);
                $('#BOEDate').val(elem.BOEDate);
                $('#OBLWiseDestuffingDate').val(elem.OBLWiseDestuffingDate);
                $('#CargoType').val(elem.CargoType);
                $('#IsHoldRelease').val(elem.IsHoldRelease);
                $('#GodownName').val(elem.GodownName);
                $('#GodownId').val(elem.GodownId);
                $('#GdTransId').val(elem.GdTransId);
                $('#StockDetailsId').val(elem.StockDetailsId);

                $('#ShippingLineName').val(elem.ShippingLine);
                $('#ShippingLineId').val(elem.ShippingLineId);
                $('#ImporterId').val(elem.ImporterId);
                $('#IsReserved').val(elem.IsReserved);
                $('#RemPackages').val(elem.NoOfPackages);
                $('#RemWeight').val(elem.GrossWeight);

                if(elem.IsHoldRelease==1)
                {                      
                    $( "#IsRelease" ).prop( "checked", true );                      
                }
                return false;
            }
        });
    }
</script>