@model CwcExim.Areas.GateOperation.Models.DndEntryThroughGate

<style>
    input[type="checkbox"] ~ label i.square:before, input[type="radio"] ~ label i.square:before {
        color: #000 !important;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Entry Through Gate Export Loaded</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Transport Mode:</label>
                        </div>

                        @if (Model.TransportMode == 2)
                        {
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("Mode", "By Road", new { @id = "Road", @checked = true, @disabled = true })
                                    <label for="Road"><i class="circle"></i><span>By Road</span></label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("Mode", "By Road", new { @id = "Road", @disabled = true })
                                    <label for="Road"><i class="circle"></i><span>By Road</span></label>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Operation Type:</label>
                        </div>
                        <div class="col-md-1-5" style="display:none">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "Import", new { @class = "", @id = "Import", @disabled = true })
                                <label for="Import"><i class="circle"></i><span>Import</span></label>
                            </div>
                        </div>
                        <div class="col-md-1-5" style="display:none">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "Export", new { @class = "", @id = "Export", @disabled = true })
                                <label for="Export"><i class="circle"></i><span>Export</span></label>
                            </div>
                        </div>
                        <div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "Import", new { @class = "", @id = "Import", @disabled = "disabled" })
                                <label for="Import"><i class="circle"></i><span>Import</span></label>
                            </div>
                        </div>
                        <div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "Export", new { @class = "", @id = "Export", @disabled = "disabled" })
                                @*, @onclick = "GetRadioVal();"*@
                                <label for="Export"><i class="circle"></i><span>Export</span></label>
                            </div>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "LoadedContainer", new { @class = "", @id = "LoadedContainer", @checked = true, @disabled = "disabled" })
                                @*, @checked = true, @onclick = "GoToLoaadedContainer();"*@
                                <label for="LoadedContainer"><i class="circle"></i><span>Export Loaded Container</span></label>
                            </div>
                        </div>
                        <div class="col-md-3 col_cus_3">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "BacktoContainer", new { @class = "", @id = "BacktoContainer", @disabled = "disabled" })
                                <label for="BacktoContainer"><i class="circle"></i><span>Back To Town Container</span></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Container Type:</label>
                        </div>
                        <div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "Loaded", new { @class = "", @id = "Loaded", @checked = true })
                                <label for="Loaded"><i class="circle"></i><span>Loaded</span></label>
                            </div>
                        </div>
                        <div class="col-md-2" style="display:none">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "EmptyVehicle", new { @class = "", @id = "EmptyVehicle", @disabled = true })
                                <label for="EmptyVehicle"><i class="circle"></i><span>Empty Vehicle</span></label>
                            </div>
                        </div>
                        <div class="col-md-2" style="display:none">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "LoadedVehicle", new { @class = "", @id = "LoadedVehicle", @disabled = true })
                                <label for="LoadedVehicle"><i class="circle"></i><span>Loaded Vehicle</span></label>
                            </div>
                        </div>

                        <div class="col-md-3 col_cus_3" style="display:none">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "BacktoContainer", new { @class = "", @id = "BacktoContainer", @onclick = "GoToBacktoContainer();" })
                                <label for="BacktoContainer"><i class="circle"></i><span>Back To Town Container</span></label>
                            </div>
                        </div>
                        @*<div class="col-md-1-5">
                                <label>Container No:</label>
                            </div>
                            <div class="col-md-2">
                                <div id="LoadedDiv">
                                    @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search" id="ShippingLineSearch"></span>
                                    @Html.ValidationMessageFor(m => m.ContainerNo)
                                </div>*@
                        @*<div id="EmptyDiv" style="display:none;">
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm" })
                                 @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                            </div>*@
                    </div>

                    @*<div class="col-md-4-5">
                            <input type="radio" id="Empty" name="ContainerType" checked  /> <label for="Empty">Empty</label>
                            <input type="radio" id="Loaded" name="ContainerType" /> <label for="Loaded">Loaded</label>
                        </div>*@
                </div>


                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CFSCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.CFSCode, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                            <label>System Date & Time:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SystemDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            @Html.ValidationMessageFor(m => m.SystemDateTime, "", new { @class = "Error_Msg", Value = DateTime.Today.ToString("dd/MM/yyyy") })
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <div>
                                <input type="text" id="SysEditTime" name="SysEditTime" class="form-control" readonly="readonly" style="background-color:#fff;z-index:0;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Gate In No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GateInNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.GateInNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col_cus_offset_2_5 col-md-offset-2-5 padding_rt">
                            <label>Entry Date & Time:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            @Html.ValidationMessageFor(m => m.EntryDateTime, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <div class="input-group clockpicker" data-placement="left" data-align="top">
                                <input type="text" id="time" class="form-control" value="00:00" readonly="readonly" style="background-color:#fff;z-index:0;" />
                                <span class="input-group-addon" style="padding:2px 10px;">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Reference No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ReferenceNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                            @Html.LabelFor(m => m.ReferenceDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.ReferenceDate, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            @Html.ValidationMessageFor(m => m.ReferenceDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Shipping Line:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Container No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1 col-md-offset-0-5 padding_rt">
                            @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.DropDownListFor(m => m.Size, new List<SelectListItem>
                               {
                                new SelectListItem { Text="20",Value="20"},
                                new SelectListItem { Text="40",Value="40"},
                                new SelectListItem { Text="45",Value="45"},
                                }, "----Select----", new { @class = "form-control input-sm", @disabled = true })
                            @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1" style="display:none">
                            <label>Reefer:</label>
                        </div>
                        <div class="col-md-1" style="display:none">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.Reefer)
                                <label for="Reefer"><i class="square"></i></label>
                            </div>
                        </div>
                        <div class="col-md-1-5 col-md-offset-0-5 col_cus_2 padding_rt" id="ExpTypelbl" style="display:none">
                            <label>Export Type:</label>
                        </div>
                        <div class="col-md-2-5" style="display:none" id="ExpTypeval">
                            @Html.DropDownListFor(m => m.ExportType, new List<SelectListItem>
                               {
                                new SelectListItem { Text="Buffer",Value="Buffer"},
                                new SelectListItem { Text="On Wheel",Value="OnWheel"},
                                new SelectListItem { Text="Hub",Value="Hub"},
                                //new SelectListItem { Text="ODC",Value="ODC"},
                                }, "----Select----", new { @class = "form-control input-sm", @disabled = true })
                            @Html.ValidationMessage("ExportType", new { @class = "Error_Msg" })


                        </div>
                    </div>
                </div>

                @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container Load Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ContainerLoadType, new { @class = "form-cotrol input-sm", @readonly = true })
                            </div>

                            <div class="col-md-1-5 col_cus_2 col-md-offset-1 col_cus_offset_3 padding_rt">
                                <label>Transport From:</label>
                            </div>
                            <div class="col-md-2-5">
                                @if (Model.TransportFrom == "L")
                                {
                                    Model.TransportFrom = "LONI";
                                }
                                else if (Model.TransportFrom == "T")
                                {
                                    Model.TransportFrom = "TKD";
                                }
                                @Html.TextBoxFor(m => m.TransportFrom, new { @class = "form-cotrol input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>*@


                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Custom Seal No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                        </div>

                        <div class="col-md-1 col-md-offset-0-5" style="padding-right:0;">
                            <label>Container Class</label>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBox("ContClass", "", new { @class = "form-cotrol input-sm", @readonly = true })
                        </div>

                        <div class="col-md-1-5 col-md-offset-0-5 col_cus_2" style="padding-right:0;">
                            <label>Shipping Line Seal No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ShippingLineSealNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.ShippingLineSealNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Vehicle No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.VehicleNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1" id="lblCBT">
                            <label>CBT</label>
                        </div>
                        <div class="col-md-2" id="valCBT">
                            <div class="boolean-container" style="float:left; width: 10px;">
                                @Html.CheckBoxFor(m => m.IsCBT)
                                <label for="IsCBT"><i class="square"></i></label>
                            </div>
                            <div style="float:left; width: 86%;">
                                @Html.TextBoxFor(x => x.TPNo, new { @class = "form-cotrol input-sm", @placeholder = "Enter TP No." })
                                <span id="errTP" class="Error_Msg"></span>
                            </div>
                        </div>
                        <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2">
                            <label>Challan No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ChallanNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.ChallanNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                @Html.LabelFor(m => m.CargoDescription, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>*@
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Cargo Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="HAZ",Value="1"},
                                     new SelectListItem { Text="NON-HAZ",Value="2"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                            @Html.ValidationMessageFor(m => m.CargoType, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1">
                            <label>ODC</label>
                        </div>
                        <div class="col-md-1">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.IsOdc)
                                <label for="IsOdc"><i class="square"></i></label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Reefer:</label>
                        </div>
                        <div class="col-md-1" id="divReefer">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.Reefer)
                                <label for="Reefer"><i class="square"></i></label>
                            </div>
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt" id="TareWtlbl">
                            <label>Tare Weight:</label>
                        </div>
                        <div class="col-md-2-5" id="TareWtval" style="display:none">
                            @Html.TextBoxFor(m => m.TareWeight, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.TareWeight, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>No of Packages:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.NoOfPackages, new { @class = "form-control intpu-sm" })
                            @Html.ValidationMessageFor(m => m.NoOfPackages, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                            @Html.LabelFor(m => m.GrossWeight, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top" style="display:none;">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Tare Weight:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.TareWeight, new { @class = "form-control intpu-sm" })
                            @Html.ValidationMessageFor(m => m.TareWeight, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Depositor Name:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.DepositorName, new { @class = "form-control intpu-sm", @maxlength = "100" })
                            @Html.ValidationMessageFor(m => m.DepositorName, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                            @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control intpu-sm", @style = "width:100%;height:100px;" })
                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1">
                                <label>Scanning</label>
                            </div>
                            <div class="col-md-1">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.IsScan)
                                    <label for="IsScan"><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>*@

                @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.CargoDescription, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>*@



                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-2 col-md-offset-5">
                        <input type="button" value="Back" id="btnBack" class="btn log_Btn_sm" onclick="LoadGateEntryView()" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<script>
    function LoadGateEntryView() {
        $('#DivBody').load('/GateOperation/Dnd_GateOperation/CreateEntryThroughGate');
    }
    $(function () {
        var ContClass = "@ViewBag.ContClass";
        $('#ContClass').val(ContClass);
        $('input[type="text"],textarea').prop('readonly', true);
        $('input[type="checkbox"]').prop('disabled', true);

        var SystemDateTime = $('#SystemDateTime').val();
        var SplitSysDateTime = SystemDateTime.split(' ', 3);
        $('#SystemDateTime').val(SplitSysDateTime[0]);
        $('#SysEditTime').val(SplitSysDateTime[1] + " " + SplitSysDateTime[2]);


        var EntryDateTime = $('#EntryDateTime').val();
        var SplitEntryDateTime = EntryDateTime.split(' ', 3);
        $('#EntryDateTime').val(SplitEntryDateTime[0]);
        $('#time').val(SplitEntryDateTime[1] + " " + SplitEntryDateTime[2]);

        var ContainerType = $("input[name='ContainerType']:checked").val();
        var OperationType = $("input[name='OperationType']:checked").val();
        debugger;
        if (ContainerType == 'Loaded' && OperationType == 'LoadedContainer') {
            $('#ExpTypelbl').css('display', 'block');
            $('#ExpTypeval').css('display', 'block');
            //$('#TareWtlbl').css('display', 'block');
            $('#TareWtval').css('display', 'block');
            $('#lblCBT').css("display", 'none');
            $('#valCBT').css("display", 'none');

        }
    });
</script>




