@model IEnumerable<CwcExim.Areas.GateOperation.Models.Dnd_AddExportVehicle>

<style>
    .dataTables_length{
        display: none;
    }
</style>
@Html.Hidden("hdnSumOfPackages", @Model.Sum(x=>x.ExportNoOfPkg))
@Html.Hidden("hdnSumOfWeight", @Model.Sum(x => x.ExportGrWeight))
@Html.Hidden("PkgBefore", 0)
@Html.Hidden("WtBefore", 0)
@Html.Hidden("EntryId", 0)
@Html.Hidden("DtlEntryId", 0)
@Html.Hidden("VehicleEntryDt", "")
@Html.Hidden("VehicleEntryTime", "")
<table id="tblVehicleList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center; width:5%;">@Html.DisplayName("SL No")</th>
            <th style="width:10%;">@Html.DisplayName("CFS Code")</th>
            <th style="width:10%;">@Html.DisplayName("Reference No")</th>
            <th style="width:10%;">@Html.DisplayName("Vehicle No")</th>
            <th style="width:10%;">@Html.DisplayName("No Of Packages")</th>
            <th style="width:10%;">@Html.DisplayName("Gross Weight")</th>
            <th style="text-align:center;width:5%;">@Html.DisplayName("View")</th>           
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var elem in Model)
            {
                <tr>
                    <td style="width:5%;" class="text-center">@SerialNo.ToString()</td>
                    <td style="width:10%;">@elem.ExportCFSCode</td>
                    <td style="width:10%;">@elem.ExportReferenceNo</td>
                    <td style="width:10%;">@elem.ExportVehicleNo</td>
                    <td style="width:10%;">@elem.ExportNoOfPkg</td>
                    <td style="width:10%;">@elem.ExportGrWeight</td>
                    <td style="width:5%;" class="text-center">
                        <a href="#" class="edit" onclick="EditVehicleEntry(@elem.EntryId, @elem.DtlEntryId,'@elem.ExportVehicleNo',@elem.ExportNoOfPkg,@elem.ExportGrWeight,'@elem.VehicleEntryDt','@elem.VehicleEntryTime')">
                            <i class="fa fa-search-plus Edit"></i>
                        </a>
                    </td>
                @*<td style="width:5%;" class="text-center"><a href="#" class="view" onclick="ViewVehicleEntryDet(@elem.EntryId)"><i class="fa fa-search-plus Edit"></i></a></td>
                @*<td style="width:5%;" class="text-center"><a href="#" class="print" onclick="PrintInvoiceByNo('@elem.InvoiceNo')"><i class="fa fa-print"></i></a></td>*@
                </tr>
                SerialNo = SerialNo + 1;
            }
            
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var TblGateEntry = $('#tblVehicleList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 7,
            "aoColumns": [
                { "sName": "SL No", "width": "5%" },
                { "sName": "CFS Code", "bSortable": false, "width": "10%" },
                { "sName": "Reference No.", "bSortable": false, "width": "10%" },
                { "sName": "Vehicle No", "width": "10%" },
                { "sName": "No Of Packages", "bSortable": false, "width": "10%" },
                { "sName": "Gross weight", "width": "10%" },
                { "sName": "View", "bSortable": false, "width": "5%" }               
            ],
        });
        new $.fn.dataTable.FixedHeader(TblGateEntry);
        $('#searchType').val($('#hdnlstFlag').val());
    });

    function EditVehicleEntry(EntryId,DtlEntryId, ExportVehicleNo, ExportNoOfPkg, ExportGrWeight, VehicleEntryDt, VehicleEntryTime)
    {
        debugger;
        $('#ExportVehicleNo').val(ExportVehicleNo);
        $('#VehicleEntryDt').val(VehicleEntryDt);
        $('#vehicleTime').val(VehicleEntryTime);
        $('#ExportNoOfPkg').val(ExportNoOfPkg);
        $('#ExportGrWeight').val(ExportGrWeight);
        $('#DtlEntryId').val(DtlEntryId);
        $('#EntryId').val(EntryId);

        $("PkgBefore").val(ExportNoOfPkg);
        $("WtBefore").val(ExportGrWeight);
    }

    function LoadVehicleList() {
        var EntryId = $('#EntryId').val();
        $('#DivVehicleEntryList').load('/GateOperation/Dnd_GateOperation/GetVehicleDtlById?EntryId=' + EntryId);
    }

</script>

