@model CwcExim.Areas.Master.Models.PPGHTCharges

@*<div class="row">
        <div class="SignUp_space_bottom col-md-12 cwc_body">
            <h5>Others<span class="triangle"></span></h5>
        </div>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12">
                    <h4>H&T Charges</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Effective Date:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Operation Type:</label>
                            @if (Model.OperationType == 1)
            {
                                @Html.TextBox("OperationType", "Import")
                            }
                            else if (Model.OperationType == 2)
                            {
                                @Html.TextBox("OperationType", "Export")
                            }
                            else
                            {
                                @Html.TextBox("OperationType", "General")
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Operation Code:</label>
                        @Html.TextBoxFor(m => m.OperationCode, new { @class = "" })
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Container Type:</label>
                            @if (Model.ContainerType == 1)
            {
                                @Html.TextBox("ContainerType", "Empty Container")
                            }
                            else if (Model.ContainerType == 2)
                            {
                                @Html.TextBox("ContainerType", "Loaded Container")
                            }
                            else if (Model.ContainerType == 3)
                            {
                                @Html.TextBox("ContainerType", "Cargo")
                            }
                            else if (Model.ContainerType == 4)
                            {
                                @Html.TextBox("ContainerType", "RMS")
                            }
                            else
                            {
                                @Html.TextBox("ContainerType", "")
                            }
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Type, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        @if (Model.Type == 1)
                        {
                            @Html.TextBox("Type", "General")
                        }
                        else if (Model.Type == 2)
                        {
                            @Html.TextBox("Type", "Heavy/Scrap")
                        }
                        else
                        {
                            @Html.TextBox("Type", "")
                        }
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            @Html.TextBoxFor(m => m.Size, new { @class = "" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.MaxDistance, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        @Html.TextBoxFor(m => m.MaxDistance, new { @class = "" })
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="ReQSimbol">*</span>
                            <label>Commodity Type:</label>
                            @Html.DropDownListFor(m => m.CommodityType, new List<SelectListItem>
                       {
                           new SelectListItem { Value="1",Text="HAZ"},
                           new SelectListItem { Value="2",Text="Non HAZ"}
                       }, "----Select----", new { @class = "dropdown", @disabled = true })
                            @Html.ValidationMessageFor(m => m.CommodityType, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <label>Container Load Type:</label>
                        @Html.DropDownListFor(m => m.ContainerLoadType, new List<SelectListItem>
                           {
                               new SelectListItem { Text="----Select----",Value="",Selected = true },
                               new SelectListItem { Text="FCL",Value="FCL"},
                               new SelectListItem { Text="LCL",Value="LCL" },
                               new SelectListItem { Text="DD",Value="DD" }
                           }, new { @disabled = true })
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Transport From:</label>
                            @Html.DropDownListFor(m => m.TransportFrom, new List<SelectListItem>
                       {
                               new SelectListItem { Text="----Select----",Value="",Selected = true },
                           new SelectListItem { Value="L",Text="LONI"},
                           new SelectListItem { Value="T",Text="TKD"}
                       }, new { @class = "dropdown", @disabled = true })
                            @Html.ValidationMessageFor(m => m.TransportFrom, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Exim Type:</label>
                        @Html.DropDownListFor(m => m.EximType, new List<SelectListItem>
                           {
                               new SelectListItem { Text="----Select----",Value=""},
                               new SelectListItem { Text="Exim",Value="E"},
                               new SelectListItem { Text="RMS Exim",Value="RE" },
                               new SelectListItem { Text="RMS Non Exim",Value="RNE" }
                           }, new { @disabled = true })
                    </div>
                </div>

                <div class="Head_h5 Form_Space_top">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Rate</h5>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CWC Rate:</label>
                                @Html.TextBoxFor(m => m.RateCWC, new { @class = "" })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <span class="ReQSimbol">*</span>
                            <label>Contractor Rate:</label>
                            @Html.TextBoxFor(m => m.ContractorRate)
                            @Html.ValidationMessageFor(m => m.ContractorRate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" class="btn btn-primary btn-100px" id="BtnBack" value="Back" onclick="LoadHTCharges()">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('input[type="text"]').prop('readonly', true);
        $('#Description').prop('disabled', true);
    });
    function LoadHTCharges() {
        $('#DivBody').load('/Master/PPGHTCharges/CreateHTCharges');
    }
</script>
