@model CwcExim.Areas.Master.Models.PPGCommodity
<script>
    function LoadCommodityPage() {
        $('#DivBody').load('/Master/LoniCommodity/CreateCommodity');
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Commodity Master</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Commodity:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.CommodityName, "", new { @class = "form-control form-input", @readonly = "readonly" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-2 col_cus_2 padding_rt">
                            <label>Commodity Type:</label>
                        </div>
                        <div class="col-md-1 col_cus_1_5">
                            <div class="boolean-container">
                                @Html.RadioButtonFor(m => m.CommodityType, "1", new { @class = "", @id = "rbHAZ", @disabled = "disabled" })
                                <label for="rbHAZ"><i class="circle"></i><span>HAZ</span></label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="boolean-container">
                                @Html.RadioButtonFor(m => m.CommodityType, "2", new { @class = "", @id = "rbNonHAZ", @disabled = "disabled" })
                                <label for="rbNonHAZ"><i class="circle"></i><span>Non HAZ</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.CommodityAlias, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.CommodityAlias, "", new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-2 col_cus_2">
                            <label>Tax Exempted:</label>
                        </div>
                        <div class="col-md-1">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.TaxExempted)
                                <label for="TaxExempted"><i class="square"></i></label>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.CommodityAlias, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.CommodityAlias, "", new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CommodityAlias, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-2 col-md-1-5">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.TaxExempted , new { @disabled = "disabled" })
                                <label for="TaxExempted"><i class="square"></i><span>Tax Exempted</span></label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.FumigationChemical, new { @disabled = "disabled" })
                                <label for="FumigationChemical"><i class="square"></i><span>Fumigation Chemical</span></label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadCommodityPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



