@model IEnumerable<CwcExim.Areas.GateOperation.Models.ListOfHdbGP>

<style>
    table.dataTable.fixedHeader-floating {
        display:none !important;
    }
</style>

<table class="table table-bordered table-striped" id="tblGP" style="width:100%; table-layout: fixed; overflow: hidden; word-break: break-word;">
    <thead>
        <tr>
            <th style="width:10px;" class="text-center">@Html.DisplayName("Sl No")</th>
            <th style="width:100px;">@Html.DisplayName("Gate Pass No")</th>
            <th style="width:100px;">@Html.DisplayName("Gate Pass Date")</th>
            <th style="width:100px;">@Html.DisplayName("Invoice No")</th>
            <th style="width:100px;">@Html.DisplayName("Container No")</th>
            <th style="width:100px;">@Html.DisplayName("Vehicle No")</th>
            <th style="width:100px;">@Html.DisplayName("Is Cancelled")</th>
            <th style="width:40px;" class="text-center">@Html.DisplayName("Edit")</th>
            <th style="width:40px;" class="text-center">@Html.DisplayName("View")</th>
            <th style="width:50px;" class="text-center">@Html.DisplayName("Delete")</th>
            <th style="width:50px;" class="text-center">@Html.DisplayName("Preview")</th>
            <th style="width:50px;" class="text-center">@Html.DisplayName("Cancel")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="width:10px;"  class="text-center">@Serial.ToString()</td>
                    <td style="width:100px;">@item.GatePassNo</td>
                    <td style="width:100px;">@item.GatePassDate</td>
                    <td style="width:100px;">@item.InvoiceNo</td>
                    <td style="width:100px;">@item.ContainerNo</td>
                    <td style="width:100px;">@item.VehicleNo</td>
                    <td style="width:100px;">@item.IsCancelled</td>
                    <td style="width:40px;" class="text-center"><a href="#" onclick="EditGatePass(@item.GatePassId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td style="width:40px;" class="text-center"><a href="#" onclick="ViewGatePass(@item.GatePassId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td style="width:50px;" class="text-center"><a href="#" onclick="DeleteGatePass(@item.GatePassId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td style="width:50px;" class="text-center"><a href="#" onclick="PreviewGatePass(@item.GatePassId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                    <td style="width:50px;" class="text-center"><a href="#" onclick="CancelGatePass(@item.GatePassId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    var Page = 0;
    $(document).ready(function () {
        var tblGP = $('#tblGP').DataTable({
            "autoWidth": false,
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "Sl No", "width": "10px" },
                       { "sName": "Gate Pass No","width": "100px", "bSortable": false },
                       { "sName": "Gate Pass Date & Time","width": "100px", "bSortable": false },
                       { "sName": "Invoice No","width": "100px", "bSortable": false },
                       { "sName": "Container No", "width": "100px", "bSortable": false },
                       { "sName": "Vehicle No", "width": "100px","bSortable": false },
                       { "sName": "Is Cancelled","width": "100px", "bSortable": false },
                       { "sName": "Edit","width": "40px", "bSortable": false, "width": "10%" },
                       { "sName": "View","width": "40px", "bSortable": false, "width": "10%" },
                       { "sName": "Delete","width": "50px", "bSortable": false, "width": "10%" },
                       { "sName": "Preview","width": "50px", "bSortable": false, "width": "10%" },
                       { "sName": "Cancel","width": "50px", "bSortable": false, "width": "10%" },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                //$('td:eq(4),td:eq(7),td:eq(8),td:eq(9),td:eq(10)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "10px");
                $('td:eq(1)', nRow).css("width", "100px");
                $('td:eq(2)', nRow).css("width", "100px");
                $('td:eq(3)', nRow).css("width", "100px");
                $('td:eq(4)', nRow).css("width", "100px");
                $('td:eq(5)', nRow).css("width", "100px");
                $('td:eq(6)', nRow).css("width", "100px");
                $('td:eq(7)', nRow).css("width", "40px").addClass("text-center");
                $('td:eq(8)', nRow).css("width", "40px").addClass("text-center");
                $('td:eq(9)', nRow).css("width", "50px").addClass("text-center");;
                $('td:eq(10)', nRow).css("width", "50px").addClass("text-center");
                $('td:eq(11)', nRow).css("width", "50px").addClass("text-center");
                $('td:eq(12)', nRow).css("width", "50px").addClass("text-center");
            }

        });
        new $.fn.dataTable.FixedHeader(tblGP);
    });


    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/GateOperation/HDB_GatePass/LoadMoreListOfGatePass',
            type: 'GET',
            dataType: 'JSON',
            data:
                { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblGP').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.GatePassNo],
        [item.GatePassDate],
        [item.InvoiceNo],
        [item.ContainerNo],
        [item.VehicleNo],
        [item.IsCancelled],
        ['<a href="#" class="text-center" onclick=EditGatePass(' + [item.GatePassId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#" class="text-center" onclick=ViewGatePass(' + [item.GatePassId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
        ['<a href="#" class="text-center" onclick=DeleteGatePass(' + [item.GatePassId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
        ['<a href="#" class="text-center" onclick=PreviewGatePass(' + [item.GatePassId] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],
        ['<a href="#" class="text-center" onclick=CancelGatePass(' + [item.GatePassId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
    function EditGatePass(GatePassId) {
        $('#DivBody').load('/GateOperation/HDB_GatePass/EditGatePass?GatePassId=' + GatePassId);
    }
    function ViewGatePass(GatePassId) {
        $('#DivBody').load('/GateOperation/HDB_GatePass/ViewGatePass?GatePassId=' + GatePassId);
    }
    function DeleteGatePass(GatePassId) {
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/HDB_GatePass/DeleteGatePass',
                type: 'POST',
                data: { GatePassId: GatePassId },
                dataType: 'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data) {
                    if (data.Status == 1)
                        $('#DivBody').load('/GateOperation/HDB_GatePass/CreateGatePass');
                    else
                        alert(data.Message);
                }
            });
        }
    }

    function PreviewGatePass(GatePassId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/GateOperation/HDB_GatePass/GatePassPrint',
            type: 'POST',
            data: { GatePassId: GatePassId },
            dataType: 'JSON',
            headers: { '__RequestVerificationToken': Token },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }
    function CancelGatePass(GatePassId) {
        var Confirm = confirm("Are you sure you want to cancel?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/HDB_GatePass/CancelGatePass',
                type: 'POST',
                data: { GatePassId: GatePassId },
                dataType: 'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data)
                {
                    alert(data.Message);
                    $('#DivBody').load('/GateOperation/HDB_GatePass/CreateGatePass');
                }
            });
        }
    }
</script>