@model CwcExim.Models.RoleMaster

@*@{
    ViewBag.Title = "EditRole";
    Layout = null; 
}*@

<div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#divProgress").css("display", "none");
        });

        function OnBegin() {
            $('#SpnResult').html("");

        }
        function OnComplete() {
        }
        function OnSuccess(data) {
            if (data.Status == 1)
            {
                $('#SpnResult').html("");
                LoadRole();
            }
            else {
                $('#SpnResult').html(data.Message);
            }
        }
        function OnFailure() {

        }
        function LoadRole() {
            $('#DivBody').load('/RoleMaster/AddRole');
        }
    </script>

    @{

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";
        options.Confirm = "Are you sure you want to Update?";
        options.OnBegin = "OnBegin";
        options.OnComplete = "OnComplete";
        options.OnFailure = "OnFailure";
        options.OnSuccess = "OnSuccess";
        options.LoadingElementDuration = 1000;
        options.LoadingElementId = "divProgress";
        options.UpdateTargetId = "divResponse";
        options.InsertionMode = InsertionMode.InsertAfter;


    }

    @using (Ajax.BeginForm("EditRole", "RoleMaster", options))
    {
        @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Edit Role</h4>
                            </div>
                        </div>
                        <div class="content_wrp">
                            <div class="row Form_Space_top">
                                <div class="col-md-4 col-md-offset-4">
                                    <span class="ReQSimbol">*</span>
                                    @Html.LabelFor(m => m.RoleName, new { @class = "InputLabel" })<span class="LabelColon">:</span>                       
                                    @Html.TextBoxFor(m => m.RoleName)
                                    @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "Error_Msg" })
                                    @Html.HiddenFor(m => m.RoleId)
                                </div>                                
                            </div>
                            <div class="d-flex justify-content-left">
                                <input type="submit" value="Update" name="Command" class="btn btn-primary mr-1 btn-100px" />                            
                                <input type="button" value="Cancel" name="Command" class="btn btn-primary-border btn-100px" onclick="LoadRole()" />
                            </div>
                            <div class="row SignUp_space_bottom">
                                <div class="col-md-12">
                                    <span id="SpnResult"></span>
                                </div>
                            </div>
                            <div id="divMsg"></div>
                            <div id="divProgress"></div>
                        </div>
                    </div>
                </div>
            </div>
    }
   
</div>
@Scripts.Render("~/bundles/jqueryval")
