@model IEnumerable<CwcExim.Areas.GateOperation.Models.WFLD_GatePassUpdation>

<table class="table table-bordered table-striped" id="tblGP">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>@Html.DisplayName("Gate Pass No")</th>
            <th>@Html.DisplayName("VehicleNo")</th>
          
           
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@item.GatePassNo</td>
                    <td>@item.VehicleNo</td>
                    
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    var Page = 0;
    $(document).ready(function () {
        var tblGP = $('#tblGP').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "Sl No", "width": "8%" },
                       { "sName": "Gate Pass No", "bSortable": false },
                       { "sName": "Vehicle No", "bSortable": false },
                     
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                //$('td:eq(4),td:eq(7),td:eq(8),td:eq(9),td:eq(10)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "5%");
                $('td:eq(1)', nRow).css("width", "15%");
               
            }
        });
        new $.fn.dataTable.FixedHeader(tblGP);
    });

    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/GateOperation/VLDA_GatePass/LoadMoreListOfGatePassVehicle',
            type: 'GET',
            dataType: 'JSON',
            data:
                {Page: Page + 1},
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblGP').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.GatePassNo],
        [item.VehicleNo],
       
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }

  
</script>
