@model CwcExim.Areas.Import.Models.Ppg_OBLSpilt



<style>
    .ang_srch {
        top: 25%;
        right: 6px;
        height: 21px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    #DivFormOneDet {
        height: 584px;
        overflow-x: hidden;
    }

    .slimScrollDiv {
        height: 300px;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleImp.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<style>
    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="OBLSpiltAppDiv" >
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL Split</h4>
                    </div>
                </div>

             
                <div class="Form_Space_bottom">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Split No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(x => x.SpiltNo, new { @class = "form-control", @readonly = true,  })

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>Split Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(m => m.SpiltDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OBL No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(x => x.OBLNo, new { @class = "form-control", @readonly = true })
                              
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">

                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">



                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">OBL</th>
                                            <th width="8%">OBL Date</th>
                                            <th width="15%">Cargo Desc</th>
                                            <th width="15%">Commodity</th>
                                            <th width="5%">No. of PKG</th>                                           
                                            <th width="5%">GR WT(Kg)</th>
                                            <th>Importer Name</th>                                           
                                            <th>SMTP No</th>
                                            <th>SMTP Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.OBLNo</td>
                                            <td>@Model.OBLNoDate</td>
                                            <td>@Model.CargoDesc</td>
                                            <td>@Model.CommodityName</td>
                                            <td>@Model.NoOfPkg</td>                                           
                                            <td>@Model.GRWT</td>
                                            <td>@Model.ImporterName</td>                                          
                                            <td>@Model.SMPTNo</td>
                                            <td>@Model.SMPTDate</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>

                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OBL No:</label>

                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.SpiltOBLNo, new { @class = "form-control",  })
                                @Html.ValidationMessageFor(m => m.SpiltOBLNo)

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>OBL Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(m => m.SpiltOBLDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo Desc:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CargoDesc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CargoDesc)
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>Commodity:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Error_Msg">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(m => m.CommodityName, new { @class = "form-control", @readonly = true, @ng_model = "CommodityName" })
                              

                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>No Of Pkg:</label>
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NoOfPkg)

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>GR WT:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.GRWT, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GRWT)

                            </div>
                        </div>
                    </div>*@

                    @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Importer Name:</label>
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(x => x.ImporterName, new { @class = "form-control", @readonly = true })
                             
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>Line No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.LineNo, new { @class = "form-control" })

                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>SMPT No:</label>
                            </div>
                            <div class="col-md-2-5">

                                @Html.TextBoxFor(x => x.SMPTNo, new { @class = "form-control"})

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt  ">
                                <label>SMPT Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.SMPTDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>

                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>IGM No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(x => x.IGMNo, new { @class = "form-control" })
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt  ">
                                <label>IGM Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.IGMDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>

                            </div>

                        </div>
                    </div>*@
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                          
                        </div>
                        <div class="col-md-2">
                           
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">OBL</th>
                                            <th width="8%">OBL Date</th>
                                            <th width="15%">Cargo Desc</th>
                                            <th width="15%">Commodity</th>
                                            <th width="5%">No. of PKG</th>
                                            <th width="5%">GR WT(Kg)</th>
                                            <th>Importer Name</th>                                           
                                            <th>SMTP No</th>
                                            <th>SMTP Date</th>                                           
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                       @foreach(var i in Model.lstSpiltDetails)
                                       {
                                           <tr>
                                               <td>@i.SpiltOBL</td>
                                               <td>@i.SpiltOBLDate</td>
                                               <td>@i.SpiltCargoDesc</td>
                                               <td>@i.SpiltCommodityName</td>
                                               <td>@i.SpiltPkg</td>
                                               <td>@i.SpiltWT</td>
                                               <td>@i.SpiltImporter</td>                                               
                                               <td>@i.SpiltSMPTNo</td>
                                               <td>@i.SpiltSMPTDate</td>
                                           </tr>
                                       }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">

                        <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row">

                        <div class="col-md-offset-4 col-md-2" style="text-align:center">

                            <input type="submit" value="Back" class="btn log_Btn_sm" onclick="BackSpilt()">
                        

                        </div>
                        <div class="col-md-2">
                         
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                        
                        </div>
                    </div>
                    <div class="row">

                        <div id="divlist">

                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>




   
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>

<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });

        $('#SpiltDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#SpiltOBLDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#IGMDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#SMPTDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        //$('#SMPTDate').datepicker( "setDate", new Date());
       // $('#IGMDate').datepicker( "setDate", new Date());
        $('#SpiltOBLDate').datepicker( "setDate", new Date());
        $('#SpiltDate').datepicker( "setDate", new Date());

        $('#NoOfPkg').ForceNumeric();
        $('#GRWT').ForceNumeric();

    });



    function BackSpilt()
    {
        $('#DivBody').load('/Import/Loni_CWCImportV2/OBLSplit');
    }

</script>




