@model CwcExim.Models.PaymentGatewayResponse
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .payment_detail {
        background: #fff;
        padding: 5%;
        border-radius: 20px;
        margin-top: 20px;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .submit_btn {
        width: 40%;
        display: block;
        margin: auto;
        font-size: 11pt;
        text-transform: uppercase;
    }

    .payment_status {
        background: #fff;
        box-shadow: 0px 0px 8px 3px #f9e0c8;
        padding: 4rem;
        margin: 2rem 0;
        border: 1px solid #ccc;
    }

        .payment_status h6, .payment_status h3 {
            text-align: center;
            text-transform: uppercase;
        }

        .payment_status h6 {
            font-size: 50pt;
        }

    .body-content {
        overflow: hidden;
    }
</style>
<div class="row">
    @* On Success *@

    @if (Model.PageFor == "Success")
    {


        <div class="col-md-6 col-md-offset-3">
            <div class="payment_status">
                <h6><i style="color:#2fab73;" class="fa fa-check-circle" aria-hidden="true"></i></h6>
                <h3 style="color:#2fab73;">Payment Successful</h3>
                <div id="tblsucess">
                    <table cellspacing='0' cellpadding='0' style='width:90%; margin:15px auto 0; font-family: Arial, Helvetica, sans-serif;'>
                        <tbody>
                            <tr>
                                <th style="padding:10px 0;" align="left" colspan="6" width="50%">Order ID</th>
                                <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.order_id</td>
                            </tr>
                            <tr>
                                <th style="padding:10px 0;" align="left" colspan="6" width="50%">Tracking ID</th>
                                <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.tracking_id</td>
                            </tr>
                            <tr>
                                <th style="padding:10px 0;" align="left" colspan="6" width="50%">Bank Reference No</th>
                                <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.bank_ref_no</td>
                            </tr>
                            <tr>
                                <th style="padding:10px 0;" align="left" colspan="6" width="50%">Order Status</th>
                                <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.order_status</td>
                            </tr>
                            <tr>
                                <th style="padding:10px 0;" align="left" colspan="6" width="50%">Amount</th>
                                <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.amount</td>
                            </tr>
                            <tr>
                                <th style="padding:10px 0;" align="left" colspan="6" width="50%">Transaction Date</th>
                                <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.trans_date</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    }
    else if (Model.PageFor == "Failure")
    {

        @* On Failure *@
        <div class="col-md-6 col-md-offset-3">
            <div class="payment_status">
                <h6><i style="color:red;" class="fa fa-times-circle" aria-hidden="true"></i></h6>
                <h3 style="color:red;">Payment Failure</h3>
                <table cellspacing='0' cellpadding='0' style='width:90%; margin:15px auto 0; font-family: Arial, Helvetica, sans-serif;'>
                    <tbody>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Order ID</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.order_id</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Tracking ID</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.tracking_id</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Bank Reference No</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.bank_ref_no</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Order Status</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.order_status</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Amount</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.amount</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Transaction Date</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.trans_date</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    else if (Model.PageFor == "Cancel")
    {
        @* On Cancel *@
        <div class="col-md-6 col-md-offset-3">
            <div class="payment_status">
                <h6><i style="color:red;" class="fa fa-ban" aria-hidden="true"></i></h6>
                <h3 style="color:red;">Payment Canceld</h3>

                <div class="alert alert-danger" role="alert">Cancel reason is not specified by the customer</div>

                <table cellspacing='0' cellpadding='0' style='width:90%; margin:15px auto 0; font-family: Arial, Helvetica, sans-serif;'>
                    <tbody>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Order ID</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.order_id</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Tracking ID</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.tracking_id</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Bank Reference No</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.bank_ref_no</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Order Status</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.order_status</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Amount</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.amount</td>
                        </tr>
                        <tr>
                            <th style="padding:10px 0;" align="left" colspan="6" width="50%">Transaction Date</th>
                            <td style="padding:10px 0;" align="right" colspan="6" width="50%">@Model.trans_date</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<div class="text-center col-md-6 col-md-offset-3">
    <div class="col-md-6" style="padding-left:0;"><a href="@System.Configuration.ConfigurationSettings.AppSettings["WebsiteUrl"].ToString()/UserDashBoard/Index" class="btn btn-primary submit_btn col-xs-12" style="width:100%;">Back To Home</a></div>
    <div class="col-md-3 pull-right" style="padding-right:0;"><button class="btn btn-primary col-xs-12" onclick="SaveReportPdf('tblsucess','@Model.order_id','@Model.PageFor','@Model.tracking_id','@Model.bank_ref_no','@Model.order_status','@Model.amount','@Model.trans_date')">PRINT</button></div>
</div>

<script type="text/javascript">


    function SaveReportPdf(tblsucess, OrderId, PageFor, tracking_id, bank_ref_no, order_status, amount, trans_date) {

        var html = "";        
        html = html + '<h6 style="text-align:center;"><img src="~/Content/Images/green_tick.png" /></h6>';
        if (PageFor == 'Success')
        {
            html = html + '<h3 style="text-align:center; color:#2fab73; font-size:22px; font-weight:normal;">PAYMENT SUCCESSFUL</h3>';
        }
        else if (PageFor == 'Failure')
        {

            html = html + '<h3 style="text-align:center; color:#2fab73; font-size:22px; font-weight:normal;">PAYMENT Failure</h3>';
        }
        else {
            html = html + '<h3 style="text-align:center; color:#2fab73; font-size:22px; font-weight:normal;">PAYMENT Cancel</h3>';
        }
        html = html + '<div id="tblsucess">';
        html = html + '<table cellspacing="0" cellpadding="10" style="width:90%; border: 1px solid #656565; color:#656565; font-size:14px; margin:15px auto 0; font-family: Arial, Helvetica, sans-serif;">';
        html = html + '<tbody>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Order ID :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">'+OrderId+'</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Tracking ID :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">'+tracking_id+'</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Bank Reference No :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">'+bank_ref_no+'</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Order Status :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">'+order_status+'</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Amount :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">'+amount+'</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Transaction Date :</th>';
        html = html + '<td style="padding:10px 0;" align="right" colspan="6" width="50%">'+trans_date+'</td>';
        html = html + '</tr>';
        html = html + '</tbody>';
        html = html + '</table>';
        html = html + '</div>';

        var PostData = new FormData();
        PostData.append("Page", html);
        
        PostData.append("OrderId", OrderId);

        // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDeStuffingReportPDF", "UPIResponse")',
            // headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }
</script>