@model CwcExim.Areas.Icegate.Models.IcegateManualI02ViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>View Manual I02</h4>
                    </div>
                </div>
                <div class="row Form_Space_top AdvDiv">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Container No. :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m=>m.ContainerNo,new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>ICD Code :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Size :</label>
                        </div>
                        <div class="col-md-2-5">
                           @Html.TextBoxFor(m=>m.CarrierAgencyCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top AdvDiv">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Transport Mode :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m=>m.ModeOfTransport, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>FCL / LCL :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m=>m.ContainerStatus, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Weight :</label>
                        </div>
                        <div class="col-md-2-5">
                            @*@Html.TextBox("Weight", "", new { @class = "form-control input-sm" })*@
                            @Html.TextBoxFor(m=>m.Weight, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Wagon No. </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @*@Html.TextBox("WagonNo", "", new { @class = "form-control input-sm" })*@
                            @Html.TextBoxFor(m=>m.WagonNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Entry Date : </label>
                        </div>
                        <div class="col-md-2-5 ">
                            @*@Html.TextBox("EntryDate", "", new { @class = "form-control input-sm", @readonly = true })*@
                            @Html.TextBoxFor(m=>m.Train_VehicleDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>SLA Alias : </label>
                        </div>
                        <div class="col-md-2-5">
                            @*@Html.TextBox("SLA", "", new { @class = "form-control input-sm" })*@
                            @Html.TextBoxFor(m=>m.ShippingLineCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Train /Vehicle No. </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @*@Html.TextBox("TrainNo", "", new { @class = "form-control input-sm" })*@
                            @Html.TextBoxFor(m=>m.Train_VehicleNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Destination </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @*@Html.TextBox("DestRailStationCode", "", new { @class = "form-control input-sm" })*@
                            @Html.TextBoxFor(m=>m.DestRailStationCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gateway Port Code </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GatewayPortCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label for="CBT">CBT </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            <div class="boolean-container">
                                @if (Model.CBT==1)
                                {
                                    <input type="checkbox" id="CBT" name="CBT" checked disabled />
                                }
                                else
                                {
                                    <input type="checkbox" id="CBT" name="CBT" disabled />
                                }
                                <label for="CBT"><i class="square" style="margin-left:10px;"></i></label>
                            </div>
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">

                        </div>
                        <div class="col-md-2-5">

                        </div>                        
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <table class="table table-bordered table-striped dataTable" id="tblTP">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>SMTP No</th>
                                    <th>SMTP Date</th>
                                    <th>Origin Port Code</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{var Serial = 1;
                                    foreach (var data in Model.lstSMTP)
                                    {
                                        <tr>
                                            <td>@Serial</td>
                                            <td>@data.SMTPNo</td>
                                            <td>@data.SMTPDate</td>
                                            <td>@data.OriginPortCode</td>
                                        </tr>
                                        Serial= Serial+1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                        <input type="button" id="btnSave" class="btn log_Btn_sm" value="Back" onclick="LoadPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function LoadPage() {
        $('#DivBody').load('/Icegate/Wfld_Icegate/ManualI02FileCreate');
    }
</script>