@model IEnumerable<CwcExim.Areas.CashManagement.Models.ListOfCRNote>
<table id="tblDRList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("DR Note No")</th>
            <th>@Html.DisplayName("DR Note Date")</th>
            <th>@Html.DisplayName("Invoice No")</th>
            <th>@Html.DisplayName("Invoice Date")</th>
            <th>@Html.DisplayName("Party Name")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@data.CRNoteNo</td>
                    <td>@data.CRNoteDate</td>
                    <td>@data.InvoiceNo</td>
                    <td>@data.InvoiceDate</td>
                    <td>@data.PartyName</td>
                    <td class="text-center"><a href="#" onclick="PreviewCRnote(@data.CRNoteId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblDRList = $('#tblDRList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No" },
                       { "sName": "DR Note No", "bSortable": false },
                       { "sName": "DR Note Date", "bSortable": false },
                       { "sName": "Invoice No", "bSortable": false, },
                       { "sName": "Invoice Date", "bSortable": false, },
                       { "sName": "Party Name" },
                       { "sName": "Preview", "bSortable": false, "width": "10%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblDRList);
    });
    function PreviewCRnote(CRNoteId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/CashManagement/VIZ_CashManagement/PrintCRNote',
            type: 'POST',
            data: { CRNoteId: CRNoteId ,Note:"D"},
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1)
                {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                }
                else
                {
                    alert(data.Message);
                }
            }
        });
    }
</script>
