@model IEnumerable<CwcExim.Areas.SLA.Models.PPGSLARegistrationList>
<script>
        var Page = 0;
        $(document).ready(function(){
            var TblRegistration = $('#TblRegistration').DataTable({
                "bFilter":false,
                "bInfo": false,
                "pageLength": 50,
                "aoColumns":[
                         { "sName": "SL No" ,"width": "5%"},
                        { "sName": "Ticket No","width": "10%" },
                        { "sName": "Raised On", "bSortable": false,"width": "10%" },
                        { "sName": "Issue Description", "bSortable": false,"width": "20%" },
                        { "sName": "Resolution Level", "bSortable": false,"width": "10%" },
                        { "sName": "File Name", "bSortable": false,"width": "10%" },
                        { "sName": "View", "bSortable": false, "width": "5%" },
                        { "sName": "Cancle", "bSortable": false, "width": "5%" }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).addClass("text-center");
                    $('td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5)', nRow).addClass("text-center");
                    $('td:eq(0)', nRow).css("width", "5%");
                    $('td:eq(1)', nRow).css("width", "10%");
                    $('td:eq(2)', nRow).css("width", "10%");
                    $('td:eq(3)', nRow).css("width", "20%");
                    $('td:eq(4)', nRow).css("width", "5%");
                    $('td:eq(5)', nRow).css("width", "5%");
                    $('td:eq(6)', nRow).css("width", "5%");
                    $('td:eq(7)', nRow).css("width", "5%");
                }
            });
            new $.fn.dataTable.FixedHeader(TblRegistration);
        });
        function LoadRegistrationPage(){

            $('#DivBody').load('/SLA/PPG_SLA/TicketGeneration');
        }
        function ViewRegistration(TicketId){
            $('#DivBody').load('/SLA/PPG_SLA/ViewSLARegistration?TicketId='+TicketId);
        }
        
        function CancleRegistration(TicketId) {
            var Confirm = confirm("Are You Sure You Want To Cancle?");
            if (Confirm == true) {
                var Ticket = $('input[name="__RequestVerificationTicket"]').val();
                $.ajax({
                    url: '/SLA/PPG_SLA/CancleRegistration',
                    headers: { '__RequestVerificationTicket': Ticket },
                    data: { TicketId: TicketId },
                    type: 'POST',
                    dataType: 'JSON',
                    async: false,
                    success: function (data) {
                        if (data.Status == 1) {
                            LoadRegistrationPage();
                        }
                        else if (data.Status == 2 || data.Status == 3 || data.Status == 4) {
                            alert(data.Message);
                        }
                    }
                });
            }
        }

        function LoadMoreListData() {
            debugger;
            //Page = Page + 1;
            $.ajax({
                url: '/SLA/PPG_SLA/LoadListMoreDataRegistration',
                type: 'GET',
                dataType: 'JSON',
                data: { Page: Page + 1 },
                success: function (data) {
                    debugger;
                    if (data != null && data != '' && data != undefined && data.length > 0) {
                        Page++;
                        var html = '';
                        var dt = $('#TblRegistration').dataTable();
                        var len = dt.fnGetData().length;
                        $.each(data, function (i, item) {
                            debugger;
                            len++;
                            dt.fnAddData([
             len,
            [item.TicketNo],
            [item.RaisedOn],
            [item.IssueDescription],
            [item.ResolutionLevel],
            [item.FileName],            
            ['<a href="#" onclick=ViewRegistration(' + [item.TicketId] + ')><i class="fa fa-search-plus Edit"></i></a>'],            
            ['<a href="#" onclick=CancleRegistration(' + [item.TicketId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
                            ]);
                        });
                    }
                    else alert('No more data available');
                }
            });
        }

</script>
<table id="TblRegistration" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center; width:5%;">@Html.DisplayName("SL No")</th>
            <th style="width:10%;">@Html.DisplayNameFor(m => m.TicketNo)</th>
            <th style="width:10%;">@Html.DisplayNameFor(m => m.RaisedOn)</th>
            <th style="width:20%;">@Html.DisplayNameFor(m => m.IssueDescription)</th>
            <th style="width:10%;">@Html.DisplayNameFor(m => m.ResolutionLevel)</th>
            <th style="width:10%;">@Html.DisplayNameFor(m => m.FileName)</th>
            <th style="text-align:center; width:5%;">@Html.DisplayName("View")</th>            
            <th style="text-align:center; width:5%;">@Html.DisplayName("Cancle")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center; width:5%;">@SerialNo</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.TicketNo)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.RaisedOn)</td>
                    <td style="width:20%;">@Html.DisplayFor(m => item.IssueDescription)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.ResolutionLevel)</td>
                    <td style="width:10%;">@Html.DisplayFor(m => item.FileName)</td>                    
                    <td style="text-align:center; width:5%;"><a href="#" onclick="ViewRegistration(@item.TicketId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>                    
                    <td style="text-align:center; width:5%;"><a href="#" onclick="CancleRegistration(@item.TicketId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>