@model CwcExim.Areas.Report.Models.ContainerBalanceInCFS


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetContainerBalanceInCFS", "Kdl_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="BranchType" value="@ViewBag.BranchType" />

    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Container Balance In @ViewBag.BranchType Report</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    <div class="row Form_Space_top" style="padding:5px;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Period From:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.PeriodFrom, new { @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Period To:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.PeriodTo, new { @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="d-flex justify-content-left">
                            <input type="submit" value="Print" name="Command" class="btn btn-primary btn-100px" id="BtnPreview" />
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                </div>
            </div>
        </div>
    </div>



}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    function SaveReportPdf(data) {
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();
        var Html = '<div style="text-align: center;border: 1px solid #000;">Container Balance In ' + $('#BranchType').val() + '  Report From Date ' + FormDate + 'To Date' + ToDate + '</div>'
        Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border: 1px solid #000;border-collapse: collapse;margin-top:10px;'><thead><tr><th style='text-align: center;border: 1px solid #000;font-weight: 600;width:10%;'>" + $('#BranchType').val() + "  Code</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Container No</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Size</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Type</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Days At " + $('#BranchType').val() + " </th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Entry Date</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Shipping Line Name</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Rotation</th></tr></thead><tbody>";
        for (i = 0; i < data.Data.length; i++) {
            Html += '<tr><td style="text-align: center;border: 1px solid #000;">' + data.Data[i].CFsCode + '</td><td style="text-align: left;border: 1px solid #000;">' + data.Data[i].ContainerNo + '</td><td style="text-align: left;border: 1px solid #000;">' + data.Data[i].Size + '</td><td style="text-align: left;border: 1px solid #000;">' + data.Data[i].Type + '</td><td style="text-align: right;border: 1px solid #000;">' + data.Data[i].DaysAtCfs + '</td><td style="text-align: right;border: 1px solid #000;">' + data.Data[i].EntryDate + '</td><td style="text-align: left;border: 1px solid #000;">' + data.Data[i].ShippingLineName + '</td><td style="text-align: right;border: 1px solid #000;">' + data.Data[i].Rotation + '</td></tr>'
        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
        // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateContainerBalanceInCFSPDF", "Kdl_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>



