<style>
    #tblTP i {
        font-size: 14px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Manual E07</h4>
                </div>
            </div>
            <div class="content_wrp">

                <div class="row Form_Space_top AdvDiv">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Container No. :</label>
                        </div>
                        <div class="position-relative">
                            @Html.TextBox("ContainerNo", "", new {@placeholder="Search Container No" })
                            <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="LoadCFSCode();" data-target="#CFSCodeModal"></i></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>ICD Code :</label>
                        </div>
                        @Html.TextBox("CFSCode", "", new { @placeholder = "Enter ICD Code" })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Size :</label>
                        </div>
                        @Html.DropDownList("Size", new List<SelectListItem> { new SelectListItem { Text="20",Value="2210"},
                           new SelectListItem { Text = "40",Value="4410" } }, "----Select-----")
                    </div>
                </div>

                <div class="row Form_Space_top AdvDiv">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Transport Mode :</label>
                        </div>
                        @Html.DropDownList("TransportMode", new List<SelectListItem> { new SelectListItem { Text="Train",Value="T"},new SelectListItem { Text = "Road",Value="R" } }, "----Select-----")
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>FCL / LCL :</label>
                        </div>
                        @Html.DropDownList("ContainerLoadType", new List<SelectListItem> { new SelectListItem { Text="FCL",Value="FCL"},new SelectListItem { Text = "LCL",Value="LCL" } }, "----Select-----")
                    </div>
                    <div class="col-md-3 col-md-offset-1-5" style="display:none">
                        <div class="form-group">
                            <label>Weight :</label>
                        </div>
                        @Html.TextBox("Weight", "", new { })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Wagon No. </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBox("WagonNo", "", new {@placeholder="Enter Wagon No" })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Destination </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBox("DestRailStationCode", "", new {@placeholder="Enter Destination" })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>SLA Alias : </label>
                        </div>
                        @Html.TextBox("SLA", "", new {@placeholder= "Enter SLA Alias" })
                    </div>
                </div>

            <div class="row Form_Space_top">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Train / Vehicle No. </label><span class="LabelColon">:</span>
                    </div>
                    @Html.TextBox("TrainNo", "", new {@placeholder= "Enter Train / Vehicle No" })
                </div>

                <div class="col-md-3 col-md-offset-1-5">
                    <div class="form-group ">
                        <label>Train/Vehicle Date :</label>
                    </div>
                    <div class="position-relative Date_Img">
                        @Html.TextBox("EntryDate", "", new { })
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1-5">
                    <div class="form-group">
                        <label>Port Code Origin </label><span class="LabelColon">:</span>
                    </div>
                    @Html.TextBox("PortName", "", new {@placeholder= "Port Code Origin" })
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gateway Port Code :</label>
                    </div>
                    @Html.TextBox("GatewayPortCode", "", new { @placeholder = "Gateway Port Code" })
                </div>
            </div>

                <div class="row Form_Space_top">
                    <div class="col-xs-10 form-group Form_Input" style="float:none; margin: auto;">
                        <table class="table table-bordered table-striped dataTable bigger_table" id="tblTP">
                            <thead>
                                <tr>
                                    <th width="15px">#</th>
                                    <th width="100px">Shippingbill No</th>
                                    <th width="100px">Shippingbill Date</th>
                                    <th width="100px">Weight</th>
                                    <th width="15px" class="text-center">Add</th>
                                    <th width="20px" class="text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                   var count = 1;
                                    <tr>
                                        <td>@count</td>
                                        <td><input type="text" /></td>
                                        <td>
                                            <div class="col-md-12 row">
                                                <div class="position-relative Date_Img">
                                                    <input type="text" id="datepick" readonly />
                                                </div>
                                            </div>
                                        </td>
                                        <td><input type="text" /></td>
                                        <td class="text-center">
                                            <i onclick="AddTPRow()" class="fa fa-plus"></i>
                                        </td>
                                        <td class="text-center"><i onclick="RemoveTPRow(' + @count + ')" class="fa fa-remove"></i></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

            <div class="d-flex justify-content-left">
                <input type="button" id="btnSave" class="btn btn-primary btn-100px"  value="Save" onclick="SaveData()">
            </div>

            <div class="d-flex justify-content-left Form_Space_top Form_Space_bottom">
                <input type="button" class="btn btn-primary btn-100px" value="Show List" onclick="LoadList()">
            </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="DivEntryDet"></div>
                    </div>
                </div>
                <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CFSCodeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container no. and ICD Code</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Container no. or CFSCode" id="SearchCFSCode" type="text" />
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="3" width="25%">Container no.</th>
                            <th colspan="3" width="25%">ICD Code</th>
                            <th colspan="3" width="25%">SB No.</th>
                            <th colspan="3" width="25%">SB Date</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scrollCFS">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tblCFSCode">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function ()
    {
        GenerateEntryTable();
        $('#slim_scrollCFS').slimScroll({
            allowPageScroll: true
        });
        $('#EntryDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein"
        });
    });

    function SelectContainer(i) {
        $('#CFSCode').val($('#tblCFSCode tbody tr:eq(' + i + ') td:eq(1)').text());
        $('#ContainerNo').val($('#tblCFSCode tbody tr:eq(' + i + ') td:eq(0)').text());
        PopulateCFSCodeDetails();
        $('#CFSCodeModal').modal('hide');
        $('#SearchCFSCode').val('');
    }
    $('#SearchCFSCode').keyup(function () {
        debugger;
       // var val = $(this).val().toLowerCase();
        var val = $(this).val();

        if (val == "")
            $('#tblCFSCode > tbody > tr').show();
        else {
            $('#tblCFSCode >tbody > tr').each(function () {
                //var text = $(this).text().toLowerCase();
                var text = $(this).text();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function LoadCFSCode() {
        $.ajax({
            url: '/Icegate/Ppg_Icegate/GetContainerListForE07',
            type: 'GET',
            data: { 'CFSCode': '' },
            success: function (data) {
                if (data.Status == 1) {
                    var html = '';
                    $.each(data.Data, function (i, elem) {
                        html += '<tr onclick=SelectContainer(' + i + ')><td colspan="3" width="25%">' + elem.ContainerNo + '</td><td colspan="3" width="25%">' + elem.CFSCode + '</td><td colspan="3" width="25%">' + elem.Sbno + '</td><td colspan="3" width="25%">' + elem.SbDate + '</td></tr>';
                    });
                    $('#tblCFSCode tbody').html(html);
                }
            }
        });
    }
    function PopulateCFSCodeDetails() {
        debugger;
        $('#ContainerNo,#Size,#SLA,#TransportMode,#EntryDate,#ContainerLoadType,#TrainNo,#WagonNo').val('');
        $('#Weight').val('0');
        $.ajax({
            url: '/Icegate/Ppg_Icegate/GetContainerDtlForE07',
            type: 'GET',
            data: { 'CFSCode': $('#CFSCode').val() },
            success: function (data) {
                if (data.Status == 1) {
                    $('#ContainerNo').val(data.Data.Cont[0].Value);
                    $('#CFSCode').val(data.Data.Cont[1].Value);
                    $('#Size').val(data.Data.Cont[2].Value);
                    $('#SLA').val(data.Data.Cont[3].Value);
                    $('#TransportMode').val(data.Data.Cont[4].Value);
                    $('#EntryDate').val(data.Data.Cont[5].Value);
                    $('#ContainerLoadType').val(data.Data.Cont[6].Value);
                    $('#TrainNo').val(data.Data.Cont[7].Value);
                    $('#WagonNo').val(data.Data.Cont[8].Value);
                    $('#Weight').val(data.Data.Cont[9].Value);
                    $('#DestRailStationCode').val(data.Data.Cont[10].Value);

                    $('#PortName').val(data.Data.Cont[11].Value);

                    $('#GatewayPortCode').val(data.Data.Cont[12].Value);
                    $('#ContainerLoadType').val(data.Data.Cont[13].Value);
                    var html = '';
                    var count = 0;
                    $('#tblTP tbody').html('');
                    if (data.Data.lstTP.length > 0) {
                        $('#tblTP tbody').html('');
                        $.each(data.Data.lstTP, function (i, elem) {
                            html = '<tr><td>' + (count + 1) + '</td><td><input type="text" value="' + elem.SMTPNo + '"/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text"  id="datepick' + count + '" readonly value="' + elem.SMTPDate + '"/></div></div></td><td><input type="text" value="' + elem.Weight + '"/></td><td class="text-center"><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td class="text-center"><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove"></i></td></tr>';
                            $('#tblTP tbody').append(html);
                            $('#datepick' + count).datepicker({
                                dateFormat: "dd/mm/yy",
                                showOn: "button",
                                buttonImage: "/Content/images/calendar.png",
                                buttonImageOnly: true,
                                buttonText: "Select date",
                                changeMonth: true,
                                changeYear: true,
                                showAnima: "fadein"
                            });
                            count++;
                        });
                    }
                    else {
                        html += '<tr><td>' + (count + 1) + '</td><td><input type="text" value=""/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text" id="datepick' + count + '" readonly value=""/></div></div></td><td>Dynamic</td><td class="text-center"><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td class="text-center"><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove"></i></td></tr>';
                        $('#tblTP tbody').html(html);
                        $('#datepick' + count).datepicker({
                            dateFormat: "dd/mm/yy",
                            showOn: "button",
                            buttonImage: "/Content/images/calendar.png",
                            buttonImageOnly: true,
                            buttonText: "Select date",
                            changeMonth: true,
                            changeYear: true,
                            showAnima: "fadein"
                        });
                        count++;
                    }

                }
            }
        });
    }
    function AddTPRow() {
        var count = $('#tblTP tbody tr').length;
        var html = '<tr><td>' + (count + 1) + '</td><td><input type="text" value=""/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text" id="datepick' + count + '" readonly value=""/></div></div></td><td>Dynamic</td><td class="text-center"><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td class="text-center"><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove edit"></i></td></tr>';
        $('#tblTP tbody').append(html);
        $('#datepick' + count).datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein"
        });
    }

    $('#datepick').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein"
    });


    function RemoveTPRow(j) {
        if ($('#tblTP tbody tr').length == 1) {
            alert("At least one record is required.");
        }
        else {
            var SMTPJson = [];
            for (var i = 0; i < $('#tblTP tbody tr').length; i++) {
                if (j != i) {
                    SMTPJson.push(
                        {
                            "SMTPNo": $('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val(),
                            "SMTPDate": $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val(),
                            "Weight": $('#tblTP tbody tr:eq(' + i + ') td:eq(3) input[type="text"]').val(),
                        });
                }
            }
            var html = "";
            var count = 0;
            $('#tblTP tbody').html(html);
            $.each(SMTPJson, function (i, elem) {
                html = '<tr><td>' + (count + 1) + '</td><td><input type="text" value="' + elem.SMTPNo + '"/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text" id="datepick' + count + '" readonly value="' + elem.SMTPDate + '"/></div></div></td><td><input type="text" value="' + elem.Weight + '"/></td><td class="text-center"><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td class="text-center"><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove"></i></td></tr>';
                $('#tblTP tbody').append(html);
                $('#datepick' + count).datepicker({
                    dateFormat: "dd/mm/yy",
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.png",
                    buttonImageOnly: true,
                    buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    showAnima: "fadein"
                });
                count++;
            });
        }

    }
    function SaveData() {
        if (ValidateData()) {
            var postjson = [];
            for (var i = 0; i < $('#tblTP tbody tr').length; i++) {
                var jsonObj =
                    {
                        "MessageType": "F",
                        "ModeOfTransport": $('#TransportMode').val(),
                        "CustomHouseCode": "INPPG6",
                        "SMTPNo": $('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val(),
                        "SMTPDate": $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val(),
                        "Weight": $('#tblTP tbody tr:eq(' + i + ') td:eq(3) input[type="text"]').val(),

                        "Train_VehicleNo": $('#TrainNo').val(),
                        "Train_VehicleDate": $('#EntryDate').val(),
                        "WagonNo": $('#WagonNo').val(),
                        "ContainerNo": $('#ContainerNo').val(),
                        "CFSCode": $('#CFSCode').val(),
                        "ShippingLineCode": $('#SLA').val(),
                        //"Weight": $('#Weight').val(),
                        "PortCodeOrigin": $('#PortName').val(),
                        "DestRailStationCode": $('#DestRailStationCode').val(),
                        "GatewayPortCode": $('#GatewayPortCode').val(),
                        "CarrierAgencyCode": $('#Size').val(),
                        "BondNo": "",
                        "ISOCode": "",
                        "ContainerStatus": $('#ContainerLoadType').val(),
                        "FileName": ""
                    };
                postjson.push(jsonObj);
            }
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Icegate/Ppg_Icegate/ManualE07ileCreate',
                type: 'POST',
                data: { "lstData": postjson },
                headers: { "__RequestVerificationToken": Token },
                success: function (data) {
                    if (data.Status == 1)
                    {
                        alert(data.Message);
                        $('#DivBody').load('/Icegate/Ppg_Icegate/ManualE07FileCreate');
                    }
                    else
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }
    function ValidateData() {
        if ($('#ContainerNo').val() == '') {
            alert('Select Container No. / ICD Code');
            return false;
        }
        else if ($('#TransportMode').val() == '') {
            alert('Select Transport Mode');
            return false;
        }
        else if ($('#Train_VehicleNo').val() == '') {
            alert('Enter Train No / Vehicle No');
            return false;
        }
        else if ($('#EntryDate').val() == '') {
            alert('Select Gate Pass Date');
            return false;
        }
        else if ($('#SLA').val() == '') {
            alert('Enter Shipping Line Alias.');
            return false;
        }
        //else if ($('#Weight').val() == '' || parseFloat($('#Weight').val()) == '0') {
        //    alert('Enter Weight');
        //    return false;
        //}
        else if ($('#Size').val() == '') {
            alert('Select Size');
            return false;
        }
        else if ($('#ContainerLoadType').val() == '') {
            alert('Select FCL / LCL');
            return false;
        }
        else if (CheckEmptyTable() == false) {
            alert("Fill all SMTP No");
            return false;
        }
        else if (CheckDistinctSMTPNo() == false) {
            alert("Fill all Distinct SMTP No");
            return false;
        }

        return true;
    }
    function CheckEmptyTable() {
        var count = $('#tblTP tbody tr').length;
        var i = 0;
        for (; i < count; i++) {
            if ($('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val() == "") {
                return false;
            }
            if ($('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val() == "") {
                return false;
            }
        }
    }
    function CheckDistinctSMTPNo() {
        var SMTPJson = [];
        for (var i = 0; i < $('#tblTP tbody tr').length; i++) {
            if ($('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val() != '' &&
                $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val() != '') {
                SMTPJson.push(
                {
                    "SMTPNo": $('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val(),
                    "SMTPDate": $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val(),
                });
            }

        }
        if ($('#tblTP tbody tr').length != SMTPJson.map(x=>x.SMTPNo).unique().length) {
            return false;
        }
        return true;
    }
    Array.prototype.unique = function () {
        let arr = [];
        for (let i = 0; i < this.length; i++) {
            if (this[i] != "") {
                if (!arr.includes(this[i])) {
                    arr.push(this[i]);
                }
            }
        }
        return arr;
    }
    function LoadList()
    {
        $('#DivEntryDet').load('/Icegate/Ppg_Icegate/ListManualE07');
    }
    function GenerateEntryTable()
    {
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">View</th><th class="text-center">Download</th><th class="text-center">Resend</th><th class="text-center">SL No</th><th>Container No</th><th>ICDCode</th><th>Size</th><th>Manual Date</th><th>Vehicle No</th><th>Sla Alias</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#DivEntryDet').html(tablehtml);
    }
</script>