@model CwcExim.Areas.Icegate.Models.IcegateManualE07ViewModel

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>View Manual E07</h4>
                </div>
            </div>
            <div class="content_wrp">

                <div class="row Form_Space_top AdvDiv">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Container No. :</label>
                        </div>
                        @Html.TextBoxFor(m => m.ContainerNo, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>ICD Code :</label>
                        </div>
                        @Html.TextBoxFor(m => m.CFSCode, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Size :</label>
                        </div>
                        @Html.TextBoxFor(m => m.CarrierAgencyCode, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top AdvDiv">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Transport Mode :</label>
                        </div>
                        @Html.TextBoxFor(m => m.ModeOfTransport, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>FCL / LCL :</label>
                        </div>
                        @Html.TextBoxFor(m => m.ContainerStatus, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Weight :</label>
                        </div>
                        @Html.TextBoxFor(m => m.Weight, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Wagon No. </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.WagonNo, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Destination </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.DestRailStationCode, new {  @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>SLA Alias : </label>
                        </div>
                        @Html.TextBoxFor(m => m.ShippingLineCode, new {  @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Train / Vehicle No. </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.Train_VehicleNo, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Gate Pass Date </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.Train_VehicleDate, new {  @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Port Code Origin </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.PortCodeOrigin, new {  @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Gateway Port Code </label><span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.GatewayPortCode, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <table class="table table-bordered table-striped dataTable bigger_table" id="tblTP">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Shippingbill No</th>
                                    <th>Shippingbill Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var Serial = 1;
                                    foreach (var data in Model.lstDtl)
                                    {
                                        <tr>
                                            <td>@Serial</td>
                                            <td>@data.SMTPNo</td>
                                            <td>@data.SMTPDate</td>
                                        </tr>
                                        Serial = Serial + 1;
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" id="btnBack" class="btn btn-primary btn-100px" value="Back" onclick="$('#DivBody').load('/Icegate/Ppg_Icegate/ManualE07FileCreate');">
                </div>
                <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
            </div>
        </div>

    </div>
</div>

