@model CwcExim.Areas.Icegate.Models.IcegateManualI02ViewModel

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>View Manual I02</h4>
                </div>
            </div>

            <div class="content_wrp">

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Container No.:</label>
                            @Html.TextBoxFor(m => m.ContainerNo, new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>ICD Code:</label>
                            @Html.TextBox("CFSCode", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Size:</label>
                            @Html.TextBoxFor(m => m.CarrierAgencyCode, new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Transport Mode:</label>
                            @Html.TextBoxFor(m => m.ModeOfTransport, new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>FCL / LCL:</label>
                            @Html.TextBoxFor(m => m.ContainerStatus, new {@readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Weight:</label>
                            @Html.TextBox("Weight", "", new { @readonly = true })
                        </div>
                    </div>
                </div>
                                
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Wagon No.:</label>
                            @Html.TextBox("WagonNo", "", new { placeholder = "Enter Wagon No" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Entry Date:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBox("Train_VehicleDate", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>SLA Alias:</label>
                            @Html.TextBox("ShippingLineCode", "", new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Train /Vehicle No.:</label>
                            @Html.TextBox("Train_VehicleNo", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Destination:</label>
                            <div class="position-relative Date_Img">
                                @Html.TextBox("DestRailStationCode", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Port Code Origin:</label>
                            @Html.TextBox("PortCodeOrigin", "", new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-1 col_cus_2 padding_rt">
                        <label for="CBT">CBT </label><span class="LabelColon">:</span>
                    </div>
                    <div class="col-md-1 pl-0">
                        <div class="boolean-container">
                            @if (Model.CBT == 1)
                            {
                                <input type="checkbox" id="CBT" name="CBT" checked disabled />
                            }
                            else
                            {
                                <input type="checkbox" id="CBT" name="CBT" disabled />
                            }
                            <label for="CBT"><i class="square" style="margin-left:10px;"></i></label>
                        </div>

                    </div>

                    <div class="col-md-3 col-md-offset-7">
                        <div class="form-group">
                            <label>Gateway Port Code:</label>
                            @Html.TextBoxFor(m => m.GatewayPortCode, new {@readonly = true })
                        </div>
                    </div>
                </div>
                
                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped dataTable" id="tblTP">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>SMTP No</th>
                                    <th>SMTP Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{var Serial = 1;
                                    foreach (var data in Model.lstSMTP)
                                    {
                                        <tr>
                                            <td>@Serial</td>
                                            <td>@data.SMTPNo</td>
                                            <td>@data.SMTPDate</td>
                                        </tr>
                                        Serial = Serial + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" id="btnSave" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="LoadPage()">
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function LoadPage() {
        $('#DivBody').load('/Icegate/Ppg_Icegate/ManualI02FileCreate');
    }
</script>