@model CwcExim.Areas.GateOperation.Models.AMD_EntryThroughGate
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Entry Through Gate CBT</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Transport Mode:</label>
                        </div>

                        @if (Model.TransportMode == 2)
                        {
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("Mode", "By Road", new { @id = "Road", @checked = true, @disabled = true })
                                    <label for="Road"><i class="circle"></i><span>By Road</span></label>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("Mode", "By Road", new { @id = "Road", @disabled = true })
                                    <label for="Road"><i class="circle"></i><span>By Road</span></label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Operation Type:</label>
                        </div>
                        <div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "Import", new { @class = "", @id = "Import", @disabled = true })
                                <label for="Import"><i class="circle"></i><span>Import</span></label>
                            </div>
                        </div>
                        <div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("OperationType", "Export", new { @class = "", @id = "Export", @disabled = true })
                                <label for="Export"><i class="circle"></i><span>Export</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>CBT Type:</label>
                        </div>
                        <div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "Empty", new { @class = "", @id = "Empty", @disabled = true })
                                <label for="Empty"><i class="circle"></i><span>Empty</span></label>
                            </div>
                        </div>
                        @*<div class="col-md-1-5">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "Loaded", new { @class = "", @id = "Loaded", @disabled = true })
                                <label for="Loaded"><i class="circle"></i><span>Loaded</span></label>
                            </div>
                        </div>*@
                        <div class="col-md-2">
            <div class="boolean-container">
                @Html.RadioButton("ContainerType", "LoadedVehicle", new { @class = "", @id = "LoadedVehicle", @disabled = true })
                <label for="LoadedVehicle"><i class="circle"></i><span>Loaded Vehicle</span></label>
            </div>
        </div>
                        <div class="col-md-2">
                            <div class="boolean-container">
                                @Html.RadioButton("ContainerType", "EmptyVehicle", new { @class = "", @id = "EmptyVehicle", @disabled = true })
                                <label for="EmptyVehicle"><i class="circle"></i><span>Empty Vehicle</span></label>
                            </div>
                        </div>
                        
                        <div class="col-md-1-5" style="display:none;">
                            <label>CBT No:</label>
                        </div>
                        <div class="col-md-2" style="display:none;">
                            <div id="LoadedDiv">
                                @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="ShippingLineSearch"></span>
                                @Html.ValidationMessageFor(m => m.ContainerNo)
                            </div>
                            @*<div id="EmptyDiv" style="display:none;">
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm" })
                                     @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>*@
                        </div>

                        @*<div class="col-md-4-5">
                                <input type="radio" id="Empty" name="ContainerType" checked  /> <label for="Empty">Empty</label>
                                <input type="radio" id="Loaded" name="ContainerType" /> <label for="Loaded">Loaded</label>
                            </div>*@
                    </div>
                </div>

                
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CFSCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.CFSCode, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col-md-offset-2 col_cus_offset_0_5 padding_rt">
                            <label>System Date & Time:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SystemDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            @Html.ValidationMessageFor(m => m.SystemDateTime, "", new { @class = "Error_Msg", Value = DateTime.Today.ToString("dd/MM/yyyy") })
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            <div>
                                <input type="text" id="SysEditTime" name="SysEditTime" class="form-control" readonly="readonly" style="background-color:#fff;z-index:0;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Gate In No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GateInNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.GateInNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col_cus_offset_0_5 col-md-offset-4 padding_rt">
                            <label>Entry Date & Time:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            @Html.ValidationMessageFor(m => m.EntryDateTime, "", new { @class = "Error_Msg" })
                        </div>
                        @*<div class="col-md-2 col_cus_2_5">
                                <div class="input-group clockpicker" data-placement="left" data-align="top" style="display:none;">
                                    <input type="text" id="time" class="form-control" value="00:00" readonly="readonly" style="background-color:#fff;z-index:0;" />
                                    <span class="input-group-addon" style="padding:2px 10px;">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Reference No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ReferenceNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-4">
                            <input type="button" value="Show Additional CCIN" id="btnCCIN" style="visibility:hidden" class="btn log_Btn_sm" data-toggle="modal" data-target="#AddCCINModal" />
                        </div>
                        <div class="col-md-1-5 ">
                            @Html.LabelFor(m => m.ReferenceDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.ReferenceDate, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                            @Html.ValidationMessageFor(m => m.ReferenceDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Shipping Line:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>CBT No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1" style="padding-right:0px;">
                            @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.DropDownListFor(m => m.Size, new List<SelectListItem>
                               {
                                new SelectListItem { Text="20",Value="20"},
                                new SelectListItem { Text="40",Value="40"}
                               
                                }, "----Select----", new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1">
                            <label style="display:none">Reefer:</label>
                        </div>
                        <div class="col-md-1">
                            <div class="boolean-container" style="display:none">
                                @Html.CheckBoxFor(m => m.Reefer)
                                <label for="Reefer"><i class="square"></i></label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>CBT Load Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ContainerLoadType, new { @class = "form-cotrol input-sm", @readonly = true })
                        </div>
                        @*<div class="col-md-1 padding_rt" id="ContCls">
                            <label>CBT Class</label>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBox("ContClass", "", new { @class = "form-cotrol input-sm", @readonly = true })
                        </div>*@
                        <div class="col-md-1-5 col_cus_2 col-md-offset-1 col_cus_offset_3 padding_rt" style="display:none">
                            <label>Transport From:</label>
                        </div>
                        <div class="col-md-2-5" style="display:none">
                            @Html.DropDownListFor(m => m.TransportFrom, (List<SelectListItem>)ViewBag.Lstpickup, new { @class = "form-control input-sm dropdown" })
                            @*@Html.TextBoxFor(m => m.TransportFrom, new { @class = "form-cotrol input-sm", @readonly = true })*@
                        </div>
                    </div>
                </div>


                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Custom Seal No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                            <label>Shipping Line No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ShippingLineSealNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.ShippingLineSealNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Vehicle No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.VehicleNo, "", new { @class = "Error_Msg" })
                        </div>
                       
                            <div class="col-md-1">
                                <label>CBT</label>
                            </div>
                        <div style="float:left">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.IsCBT)
                                <label for="IsCBT"><i class="square"></i></label>
                            </div>
                        </div>
                            <div class="col-md-2-5 padding_left">
                                @Html.TextBoxFor(x => x.TPNo, new { @class = "form-cotrol input-sm", @placeholder = "Enter TP No." })

                            </div>

                        <div class="col-md-1-5 padding_rt" style="margin-left: 16px;">
                            <label>Challan No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ChallanNo, new { @class = "form-cotrol input-sm" })
                            @Html.ValidationMessageFor(m => m.ChallanNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                @Html.LabelFor(m => m.CargoDescription, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>*@
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Cargo Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="HAZ",Value="1"},
                                     new SelectListItem { Text="NON-HAZ",Value="2"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                            @Html.ValidationMessageFor(m => m.CargoType, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5">
                            <label>Godown:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>No of Packages:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.NoOfPackages, new { @class = "form-control intpu-sm" })
                            @Html.ValidationMessageFor(m => m.NoOfPackages, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_3 padding_rt">
                            @Html.LabelFor(m => m.GrossWeight, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Tare Weight:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.TareWeight, new { @class = "form-control intpu-sm" })
                            @Html.ValidationMessageFor(m => m.TareWeight, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5">
                            <label>Actual No. Of Package:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ActualPackages, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.ActualPackages, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Depositor Name:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.DepositorName, new { @class = "form-control intpu-sm", @maxlength = "100" })
                            @Html.ValidationMessageFor(m => m.DepositorName, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control intpu-sm", @style = "width:100%;height:100px;" })
                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                            @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>


                @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.CargoDescription, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>*@


                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-2 col-md-offset-5">
                        <input type="button" value="Back" id="btnBack" class="btn log_Btn_sm" onclick="LoadGateEntryView()" />
                    </div>
                </div>
                <div class="modal fade" id="AddCCINModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal" style="width:100%;">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">-Additional CCIN Entry- </h4>
                                <div id="CCINDiv"></div>
                            </div>
                            <div class="modal-body popup_body">
                                <div class="row">
                                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="tblAddCCIN"></div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-9 col-md-3">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>

    var ArrayEntryDet=[];

    function LoadGateEntryView() {
        $('#DivBody').load( '/GateOperation/AMD_GateOperation/CreateEntryThroughGateCBT');
    }
    $(function () {
        var ContClass = "@ViewBag.ContClass";
        $('#ContClass').val(ContClass);

        var Opeartion = $('input[name=OperationType]:checked').val();
        var ContainerType = $('input[name=ContainerType]:checked').val();
        if (Opeartion == 'Export' && ContainerType == 'LoadedVehicle') {
            $('#ContCls').attr("style", "visibility: hidden");
            $('#ContClass').attr("style", "visibility: hidden");
        }
        $('input[type="text"],textarea').prop('readonly', true);
        $('input[type="checkbox"]').prop('disabled', true);

        var SystemDateTime = $('#SystemDateTime').val();
        var SplitSysDateTime = SystemDateTime.split(' ', 3);
        $('#SystemDateTime').val(SplitSysDateTime[0]);
        $('#SysEditTime').val(SplitSysDateTime[1] + " " + SplitSysDateTime[2]);


        var EntryDateTime = $('#EntryDateTime').val();
        var SplitEntryDateTime = EntryDateTime.split(' ', 3);
        $('#EntryDateTime').val(SplitEntryDateTime[0]);
        $('#time').val(SplitEntryDateTime[1] + " " + SplitEntryDateTime[2]);
        var radioValue = $("#ContainerType").val();

        var referenceNo = $('#ReferenceNo').val();

        if (Opeartion == 'Export' && ContainerType == 'LoadedVehicle') {
            if (referenceNo != null && referenceNo != "" && referenceNo != undefined) {
                $('#btnCCIN').css('visibility', 'visible');
                $('#CCINDiv').text($('#ReferenceNo').val());
            }
        }


        ArrayEntryDet= @Html.Raw(Json.Encode(Model.listAddRef));
        if(ArrayEntryDet!=null)
        {
            GeneratingTable();
        }
    });

    function GeneratingTable() {
        tablehtml = '';
        var tablehtml = '<table id="tblAddCCIN" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>CCIN NO</th><th>Actual No Of Pkg</th></tr></thead><tbody>';
        $.each(ArrayEntryDet, function (i, data) {
            tablehtml += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + data.addRefNo + '</td><td>' + data.addRefpkg + '</td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblAddCCIN').html(tablehtml);
    }
   
</script>




