@model CwcExim.Models.Company

<div class="container-fluid" id="kolkata">
    <div class="row" id="about">
        <div class="container">
            <div class="row Land-head section" style="width:1170px;padding:35px 0px;">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="contact_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_data" style="border:none;">
                                <p>
                                  @Model.CompanyAddress
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>@Model.PhoneNo</span><br />
                                    <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>@Model.FaxNumber</span><br />
                                    <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>@Model.EmailAddress</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                    <div class="row">
                        <div class="location_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Kolkata CFS</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe style="padding:0px;" src="@Model.LocationUrl" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="contact_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_data" style="border:none;">
                                <p>
                                    18, Coal Dock Road,<br />
                                    Kolkata - 700 043 <br />
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-24394994 / 24394696.</span><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
