
@{
    ViewBag.Title = "MainDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var BranchId = Session["BranchId"];
}
<style>
    body {
        background: #a3a3a3;
    }

    .body-content {
        background-color: #a3a3a3;
        height: auto;
    }

    .section, #about {
        height: auto;
        min-height: 100px;
    }

    .Land-head h4 {
        font-size: 18px;
        font-weight: 600;
        color: #feecd8;
        margin-left: 0px;
        margin-top: 0px;
    }
</style>

@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/unobtrusive")*@

@*<script src="~/Scripts/md5.min.js"></script>*@
@*@Scripts.Render("~/bundles/AjaxOption")*@

<div class="container-fluid">
    <div id="home">
        <div class="row">
            <div class="carousel slide" data-ride="carousel" id="myCarousel">
                <ul class="carousel-indicators">
                    <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/ship1-2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/ship1-5.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/ship1-3.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/ship6-6.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/ship2-2.jpg" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/ship1-4.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add on 21st Jan 2019 GK-->


<div class="container-fluid" id="divCompany">
    <div class="row" id="about">
        <div class="container">
            <div class="row Land-head section" style="width:1170px;padding:35px 0px;">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="contact_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_data" style="border:none;">
                                <p>
                                    <span id="LoadROAddress"></span>
                                    <br />
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span id="LoadPhoneNo"></span><br />
                                    <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span id="LoadFaxNo"></span><br />
                                    <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span id="LoadEmailAddress"></span>
                                </p>

                                @*<p>
                                    @Model.CompanyAddress
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>@Model.PhoneNo</span><br />
                                    <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>@Model.FaxNumber</span><br />
                                    <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>@Model.EmailAddress</span>

                                </p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                    <div class="row">
                        <div class="location_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - <span id="LoadLocation"></span></h4><span class="triangle1" style="top:0px;"></span>
                                @*<h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Kolkata CFS</h4><span class="triangle1" style="top:0px;"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe id="LoadLocationUrl" style="padding:0px; border:0;" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                        @*<iframe style="padding:0px;" src="@Model.LocationUrl" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="contact_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_data" style="border:none;">
                                <p>
                                    <span id="LoadContactAddress"></span>
                                   
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span id="LoadContactPhone"></span><br />
                                </p>
                                @*<p>
                                    18, Coal Dock Road,<br />
                                    Kolkata - 700 043 <br />
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-24394994 / 24394696.</span><br />
                                </p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid" id="kolkata">
    <div class="row" id="about">
        <div class="container">
            <div class="row Land-head section" style="width:1170px;padding:35px 0px;">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="contact_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_data" style="border:none;">
                                <p>
                                    @*<span><i class="fa fa-building" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>Regional  Office</span>,<br />*@
                                    CMC Building, New Market Complex,<br />
                                    Phase-I, 6th Floor,15-N, Nellie Sengupta Sarani,<br />
                                    Kolkata-700 087.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-22524953 / 22457610,</span><br />
                                    <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-22168101</span><br />
                                    <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>rmkoll.cwhc@nic.in</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-2 col-xs-12 col-sm-12">
                        <h4 class="hidden-xs hidden-sm"><span class="eng"><span class="cwc_welcome">Welcome to</span> <br /><br /> <span class="cwc_portal" style="font-size:23px;">CFS <span style="padding-left:5px;">KOLKATA</span></span></span> <span class="hindi">सी डब्ल्यू सी<br />मे आपका<br />स्वागत हे</span></h4>
                        <h4 class="visible-xs hidden-md hidden-sm">Welcome to CWC</h4>
                    </div>*@
                <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                    <div class="row">
                        <div class="location_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Kolkata CFS</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20842.971562351606!2d88.35201518886223!3d22.558462668692254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02770638cbd123%3A0x44fe1c877ecd915!2sCentral+Warehousing+Corporation(Regional+Office-+Kolkata)!5e0!3m2!1sen!2sin!4v1510127017207" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="contact_head">
                            <div class="col-md-12">
                                <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact_data" style="border:none;">
                                <p>
                                    18, Coal Dock Road,<br />
                                    Kolkata - 700 043 <br />
                                    <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-24394994 / 24394696.</span><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    -->
<!--Add on 21st Jan 2019 GK-->
<!--Comment on 21st Jan 2019 GK-->
@*<div class="container-fluid" id="kolkata">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        CMC Building, New Market Complex,<br />
                                        Phase-I, 6th Floor,15-N, Nellie Sengupta Sarani,<br />
                                        Kolkata-700 087.<br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-22524953 / 22457610,</span><br />
                                        <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-22168101</span><br />
                                        <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>rmkoll.cwhc@nic.in</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Kolkata CFS</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20842.971562351606!2d88.35201518886223!3d22.558462668692254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02770638cbd123%3A0x44fe1c877ecd915!2sCentral+Warehousing+Corporation(Regional+Office-+Kolkata)!5e0!3m2!1sen!2sin!4v1510127017207" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        18, Coal Dock Road,<br />
                                        Kolkata - 700 043 <br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>033-24394994 / 24394696.</span><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="container-fluid" id="kandla">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Mahalaxmi Char Rasta, Opp: Unnati Vidhyalaya,<br />
                                        Paldi, Ahmedabad - 380 007, Gujarat.<br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>079 - 26582065 / 26580451 / 26576924,</span><br />
                                        <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>2658 0236</span><br />
                                        <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>rmahd.cwhc@nic.in</span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Kandla CFS</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7344.562368093159!2d70.20421505753956!3d23.013445791276805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3950b04ecee057a9%3A0x4eebd1f686b079cd!2sCWC+(Central+Warehouse+Corporation)!5e0!3m2!1sen!2sin!4v1508742243683" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Opposite Custom Bonded Boundary of Kandla Port Trust,<br />
                                        Near West Gate No. 2,<br />
                                        Kandla - 317310.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="container-fluid" id="patpargang">
          <div class="row" id="about">
              <div class="container">
                  <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                      <div class="col-md-4 col-sm-12 col-xs-12">
                          <div class="row">
                              <div class="contact_head">
                                  <div class="col-md-12">
                                      <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="contact_data" style="border:none;">
                                      <p>
                                          Ghazipur Village,<br />
                                          Gazipur,<br />
                                          Delhi - 110096<br />
                                          <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>9911524207</span><br />
                                          <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>01122232975</span><br />
                                          <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>CWCICD-kpt@cewacor.nic.in</span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                          <div class="row">
                              <div class="location_head">
                                  <div class="col-md-12">
                                      <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Patparganj ICD</h4><span class="triangle1" style="top:0px;"></span>
                                  </div>

                          </div>
                          <div class="map">
                              <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.0368189500045!2d77.3185952146801!3d28.62865858241932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4cdf5b2ed23%3A0x327996a07edd8fbd!2sCentral+Warehousing+Corporation!5e0!3m2!1sen!2sin!4v1525902894255" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                      </div>
    </div>
                      <div class="col-md-3 col-sm-12 col-xs-12">
                          <div class="row">
                              <div class="contact_head">
                                  <div class="col-md-12">
                                      <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="contact_data" style="border:none;">
                                      <p>
                                          Ghazipur Village,<br />
                                          Gazipur,<br />
                                          Delhi - 110096<br />
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>*@

@*<div class="container-fluid" id="hyderabad">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        CENTRALWAREHOUSINGCORPORATION<br />
                                        Hyderabad.<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Hyderabad CFS</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60905.840492465344!2d78.41405836200775!3d17.43025297427573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91aac797ea8f%3A0x172f770ef2d231d1!2sCentral+Ware+Housing+Corporation!5e0!3m2!1sen!2sin!4v1525497071353" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Container Freight Station, Kukatpally,<br />
                                        IDPL Road,<br />
                                        Hyderabad - 500037.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="container-fluid" id="chennai">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        CMDA Truck Terminal, <br />
                                        No.8, GNT Road, Poonniammanmedu (PO),<br />
                                        Madhavaram, Chennai - 600 110<br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>044-2553 1386</span><br />
                                        <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>2553 0578</span><br />
                                        <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>cwc_mvm@yahoo.co.in</span>
                                    </p>

                                    <p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Chennai CFS</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.2520838567957!2d80.21923231430597!3d13.146492814574698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5264e7d098f7ed%3A0x831704684cc1254b!2sCentral+Warehousing+Corporation!5e0!3m2!1sen!2sin!4v1547768156876" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Container Freight Station<br />
                                        IDPL Road,<br />
                                        Chennai - 500037.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="container-fluid" id="dashrath">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Vadodara, Near Indira Nagar Colony,<br />
                                        Village - Dashrath,<br />
                                        Vadodara - 391740<br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>9979892648</span><br />
                                        <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>1234567890</span><br />
                                        <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>CWCICD-kpt@cewacor.nic.in</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Dashrath ICD</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14756.575224252503!2d73.14417672155005!3d22.38593555518601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc963bb9ff6d1%3A0xe009a51f2075a19c!2sDashrath%2C+Vadodara%2C+Gujarat!5e0!3m2!1sen!2sin!4v1542828628787" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Vadodara, Near Indira Nagar Colony,<br />
                                        Village - Dashrath,<br />
                                        Vadodara - 391740<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="container-fluid" id="Whitefield">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        5, Rd No-2A, Vijayanagar,<br />
                                        EPIP Zone,<br />
                                        Whitefield, Bengaluru,<br />
                                        Karnataka - 560066<br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>41750721</span><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - Whitefield ICD</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15551.748581371216!2d77.724341!3d12.975872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaeca1f51efd17d58!2sCWC+CFS+WHITEFIELD!5e0!3m2!1sen!2sin!4v1545269689237" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        5, Rd No-2A, Vijayanagar,<br />
                                        EPIP Zone,<br />
                                        Whitefield, Bengaluru,<br />
                                        Karnataka - 560066<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="container-fluid" id="d_node">
        <div class="row" id="about">
            <div class="container">
                <div class="row Land-head section" style="width:1170px;padding:35px 0px;">

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Regional Office</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Mumbai Sector-20, <br />
                                        Near APMC Fruit Market,<br />
                                        Vashi, Navi Mumbai-400703<br />
                                        <span><i class="glyphicon glyphicon-phone-alt" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>022-40888</span><br />
                                        <span><i class="fa fa-fax" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>022-27840862</span><br />
                                        <span><i class="fa fa-envelope" style="color:rgb(254, 155, 53);" aria-hidden="true"></i></span><span>rmmum@cewacor.nic.in</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12 col-sm-12 left_stock right_stock">
                        <div class="row">
                            <div class="location_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location - D'NODE CFS</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe style="padding:0px; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7550.190562893487!2d72.9779078226068!3d18.882853750258658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7dbf155555555%3A0x2bb796592d9de839!2sCWC+Logistics+Park!5e0!3m2!1sen!2sin!4v1547758527531" width="100%" height="200" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="contact_head">
                                <div class="col-md-12">
                                    <h4 style="font-size:17px;">Reach Us</h4><span class="triangle1" style="top:0px;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact_data" style="border:none;">
                                    <p>
                                        Dronagiri Node, Navi MumBai-400707<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!--Comment on 21st Jan 2019 GK-->
@*<div class="container-fluid">
        <div class="row" id="about">
                <div class="container">
                    <div class="row Land-head section">
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <h4 class="hidden-xs hidden-sm"><span class="eng">Welcome<br /> to<br /> CWC</span> <span class="hindi">सी डब्ल्यू सी<br />मे आपका<br />स्वागत हे</span></h4>
                            <h4 class="visible-xs hidden-md hidden-sm">Welcome to CWC</h4>
                        </div>
                        <div class="col-md-8 left_stock col-xs-12 col-sm-12">
                            <p>
                                <span class="eng">Central Warehousing Corporation (A Govt. of India Undertaking) is a Public Sector Organization providing logistics services in diversity. It is one of the biggest public warehouse operators having 18 regional offices, operating 438 Warehouses across the country with a storage capacity of 10 million tonnes. This honored and renowned warehouse is under Ministry of Food & Public Distribution, Govt .of India. It is operative throughout the nation including all major metro cities and corporate office in New Delhi and the expansion is in overseas as well. The prominence of the warehouse lies in providing services in General Warehouses, Bond Units, ICD, Container Train movements - Loni to JNPT/NSKT, GTIL, PBR, MDPT etc., AIr Cargo and CFS.</span>
                                <span class="hindi">सेंट्रल वेयरहाउसिंग कॉरपोरेशन (एक भारत सरकार के उपक्रम) एक सार्वजनिक क्षेत्र की संगठन है जो विविधता में रसद सेवाएं प्रदान करती है।
    यह १८ क्षेत्रीय कार्यालय वाले सबसे बड़े सार्वजनिक गोदाम संचालकों में से एक है, देश भर में ४३८ गोदामों का संचालन करता है जिसमें १० मिलियन टन की भंडारण क्षमता होती है।
    यह सम्मानित और प्रसिद्ध गोदाम खाद्य और सार्वजनिक वितरण मंत्रालय के अधीन है, भारत सरकार। यह पूरे देश में कार्यरत है जिसमें सभी प्रमुख मेट्रो शहरों और नई दिल्ली में कॉरपोरेट कार्यालय शामिल हैं और विस्तार भी विदेशों में है। गोदाम की प्रमुखता सामान्य गोदामों,
     बॉन्ड इकाइयों, आईसीडी, कंटेनर ट्रेन आंदोलनों में सेवाएं प्रदान करने में है - जेएनपीटी / एनएसकेटी, जीटीआईएल, पीबीआर, एमडीपीटी आदि के लोनी, एआईआर कार्गो और सीएफएस।</span>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>*@
@*<div class="container-fluid">
        <div class="row" id="infa">
            <div class="container bottom_stock">
                <div class="row section">
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7344.562368093159!2d70.20421505753956!3d23.013445791276805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3950b04ecee057a9%3A0x4eebd1f686b079cd!2sCWC+(Central+Warehouse+Corporation)!5e0!3m2!1sen!2sin!4v1508742243683" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <h4><span class="eng">About Us</span><span class="hindi">हमारे बारे में</span></h4><span class="triangle1"></span>
                        <p>
                            <span class="eng">Established in 1957, Central Warehousing Corporation provides services ranging from agricultural product to sophisticated industrial products. Diversification lies in storage handling constituting of food grain warehouses, industrial warehousing, custom bonded warehouses, container freight stations, inland clearance depots and air cargo complexes while other services embodies area of clearing & forwarding, handling & transportation, procurement & distribution, disinfestation services, fumigation services and other ancillary activities. Apart from this, CWC offers consultancy services/ training for the construction of warehousing infrastructure to different agencies.</span>
                            <span class="hindi">१९५७ में स्थापित, सेंट्रल वेयरहाउसिंग कॉरपोरेशन कृषि उत्पाद से लेकर अत्याधुनिक औद्योगिक उत्पादों तक की सेवाएं प्रदान करता है। विविधीकरण खाद्य भंडारण गोदामों, औद्योगिक भंडारण, कस्टम बंधुआ गोदामों, कंटेनर फ्रेट स्टेशन,
    अंतर्देशीय क्लीयरेंस डिपो और एयर कार्गो कॉम्प्लेक्स जबकि अन्य सेवाएं समाशोधन और अग्रेषण के क्षेत्र का प्रतीक हैं,हैंडलिंग और परिवहन, खरीद और वितरण,
    disinfestation सेवाओं, धूमन सेवाओं और अन्य सहायक गतिविधियों। इसके अलावा, सीडब्ल्यूसी विभिन्न एजेंसियों के लिए गोदामों के बुनियादी ढांचे के निर्माण के लिए परामर्श सेवाएं / प्रशिक्षण प्रदान करती है।</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="container-fluid">
    <div class="row">
        <div class="footer">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>© Information 2017 Central Warehousing Corporation. All Rights Reserved</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Designed, Developed & Maintained by <a href="http://score.co.in/" target="_blank">Score Information Technologies Ltd.</a></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    //$('#demo').marquee({ direction: 'vertical', delay: 50, timing: 50 });
    //$(window).scroll(function () {
    //    if ($(window).scrollTop() >= 70) {
    //        $('nav').addClass('fixed-header bounceInUp');
    //    }
    //    else {
    //        $('nav').removeClass('fixed-header bounceInUp');
    //    }
    //});

    //Menu Scroller
    //$('#menubar li a').on('click', function (event) {
    //    var $anchor = $(this);
    //    $('html, body').animate({
    //        scrollTop: ($($anchor.attr('href')).offset().top - 40) + "px"
    //    }, 450);
    //    event.preventDefault();
    //});
    // carousel
    //$('#myCarousel').carousel({
    //    interval: 4000
    //});

    // scroll slides on mouse scroll
    //$('#myCarousel').bind('mousewheel DOMMouseScroll', function (e) {

    //    if (e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
    //        $(this).carousel('prev');

    //    }
    //    else {
    //        $(this).carousel('next');

    //    }
    //});

    //scroll slides on swipe for touch enabled devices

    //$("#myCarousel").on("touchstart", function (event) {

    //    var yClick = event.originalEvent.touches[0].pageY;
    //    $(this).one("touchmove", function (event) {

    //        var yMove = event.originalEvent.touches[0].pageY;
    //        if (Math.floor(yClick - yMove) > 1) {
    //            $(".carousel").carousel('next');
    //        }
    //        else if (Math.floor(yClick - yMove) < -1) {
    //            $(".carousel").carousel('prev');
    //        }
    //    });
    //    $(".carousel").on("touchend", function () {
    //        $(this).off("touchmove");
    //    });
    //});
    $(document).ready(function () {
        debugger;



        //$(window).scroll(function () {
        //    if ($(window).scrollTop() >= 30) {
        //        $('#DivTopNav').css("display","none");
        //        $('nav').addClass('fixed-header bounceInUp');
        //        //$('.navbar-brand img').css("display", "block");
        //    }
        //    else {
        //        $('nav').removeClass('fixed-header bounceInUp');
        //        $('#DivTopNav').css("display", "block");
        //        //$('.navbar-brand img').css("display", "none");
        //    }
        //});
        $('#sidebar-wrapper').hide();
        $('input[type="button"').hide();
        $('.hamb-top').hide();
        $('.hamb-middle').hide();
        $('.hamb-bottom').hide();

        LoadCompanyDetails();


    });
    function LoadCompanyDetails()
    {
       
        $.ajax({
            url: '/MainDashBoard/LoadCompany',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                debugger
                var $row = $('<p/>');
                //$("#LoadCompanyAddress").html(d.CompanyAddress);
                $("#LoadROAddress").html(d.ROAddress);

                
                $("#LoadPhoneNo").html(d.PhoneNo);
                $("#LoadFaxNo").html(d.FaxNumber);
                $("#LoadEmailAddress").html(d.EmailAddress);
                $("#LoadLocationUrl").attr("src", d.LocationUrl);

                $("#LoadContactAddress").html(d.ContactAddress);
                    
                $("#LoadContactPhone").html(d.ContactPhone);

                $("#LoadBrachType").html(d.BranchType);
                $("#LoadBrachName").html(d.BranchName);
                var LocationDtls = d.BranchName;
                $("#LoadLocation").html(LocationDtls);

                $("#LoadBrachTypeMobile").html(d.BranchType);
                $("#LoadBrachNameMobile").html(d.BranchName);
                $("#LoadBranchAfterLogin").html(d.BranchName);

                
               // $("#LoadLocationUrl")

                  
                //}
                //else {
                //    //$noData = "<div>No data Found</td>"
                //    //$("#LoadCompany").html($noData);
                //}

            },
            failure: function () {
                alert('something wrong happen');
            }
        });

    }
    //$('#DivDemo').load('/Announcement/AnnouncementOnDashBoard');


</script>
