@model CwcExim.Areas.CashManagement.Models.CreditNote
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Debit Note</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddDebitNote", "Amd_CashManagement", new AjaxOptions
                {
                    Confirm = "Are you sure you want to Save?",
                    HttpMethod = "POST",
                    OnSuccess = "DROnSuccess",
                    OnFailure = "DROnFailure"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CRNoteId)
                    @Html.HiddenFor(m => m.ChargesJson)
                    @Html.HiddenFor(m => m.SupplyType)
                    @Html.HiddenFor(m => m.PartyId)
                    @Html.HiddenFor(m => m.PartyState)
                    @Html.HiddenFor(m => m.PartyStateCode)
                    @Html.HiddenFor(m => m.PartyAddress)
                 //   @Html.HiddenFor(m => m.PartyGSTNo)
                    @Html.HiddenFor(m => m.CRNoteId)
                    @Html.HiddenFor(m => m.InvoiceId)
                    @Html.HiddenFor(m => m.Module)
                    @Html.HiddenFor(m => m.InvoiceType)
                    @Html.HiddenFor(m => m.InvoiceDate)
                    @Html.HiddenFor(m => m.PayeeId)
                    @Html.Hidden("GST")

                    <input id="hdnCharges" type="hidden" value="" />

                    <div id="DivJOHdr" class="Form_Space_bottom">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Debit Note No:</label>

                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CRNoteNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4-5" style="padding-right:0px;">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    @Html.TextBoxFor(m => m.CRNoteDate, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Invoice No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input_sm", @readonly = true })
                                    <span class="search" id="SrchInvoiceNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceNoModal"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Party:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Payee:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Party GST:</label>
                                </div>
                                <div class="col-md-4-5">
                                    @Html.TextBoxFor(m => m.PartyGSTNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblChargesDet" class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center" style="width:8%;">Sl No</th>
                                            <th rowspan="2" class="text-center">Particulars</th>
                                            <th rowspan="2" class="text-center">SAC</th>
                                            <th rowspan="2" class="text-center">Value</th>
                                            <th rowspan="2" class="text-center">Debit Value</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th rowspan="2" class="text-center" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">%</th>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">%</th>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">%</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>

                                        <tr>
                                            <td>New Charges</td>
                                            <td colspan="2">
                                                <select id="drpChrg"></select>
                                            </td>
                                            <td colspan="2">
                                                <input type="button" value="Add" onclick="AddCharge()" class="btn log_Btn_sm" />
                                            </td>
                                            <td colspan="6" class="text-right">Total</td>
                                            <td class="text-right">@Html.TextBoxFor(m => m.TotalAmt, new { @readonly = true, @id = "Total" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="11" class="text-right">Roundup</td>
                                            <td class="text-right">@Html.TextBoxFor(m => m.RoundUp, new { @readonly = true, @id = "Roundup" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="11" class="text-right">Grand Total</td>
                                            <td class="text-right">@Html.TextBoxFor(m => m.GrandTotal, new { @readonly = true })</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextAreaFor(m => m.Remarks, new { maxlength = 500, @class = "form-control input_sm", @style = "width:100%;height:100px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_top2 SignUp_space_bottom2">
                            <div class="col-md-offset-3-5  col-md-2">
                                <input type="submit" class="btn log_Btn_sm" value="Save" />
                            </div>
                            @*<div class="col-md-2">
                                    <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" />
                                </div>*@
                            <div class="col-md-3">
                                <input type="button" id="btnIRN" class="btn log_Btn_sm" value="Generate IRN" onclick="GenerateIRN();" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <input type="button" id="ShowList" class="btn log_Btn_sm" value="ShowList" onclick="LoadList()" />
                            </div>
                            <div class="col-md-offset-5 col-md-3">
                                <input type="text" placeholder="Search by Debit Note No." id="SearchDebitNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Search" onclick="SearchDebitNoteNo()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12">
                            <div id="DivListofDR"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade" id="InvoiceNoModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title"> Choose Invoice No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Invoicebox" type="text" />
                    @if (ViewBag.InvoiceNo != null)
                    {
                    <ul class="navList" id="lstInvoice">
                        @foreach (var item in ViewBag.InvoiceNo)
                            {
                            <li id="@item.InvoiceId">@item.InvoiceNo</li>
                            }
                    </ul>
                    }
                    else
                    {
                    <ul class="navList" id="lstInvoice">
                        <li></li>
                    </ul>
                    }
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ChargeModel" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Charge</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Chargebox" type="text" />
                    @if (ViewBag.ChargesList != null)
                    {
                    <ul class="navList" id="lstCharge">
                        @foreach (var item in ViewBag.ChargesList)
                            {
                            <li id="@item.Clause">@item.ChargeName - @item.SACCode</li>
                            }
                    </ul>
                    }
                    else
                    {
                    <ul class="navList" id="lstInvoice">
                        <li></li>
                    </ul>
                    }
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#CRNoteDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $(function () {
            $('#Total,#CRNoteId,#Roundup,#GrandTotal').val('0');
            $('#CRNoteDate').val('@ViewBag.CurrentDate');
            //$('#DivListofDR').load('/CashManagement/VRN_CashManagement/ListOfDRNote');
        });
        function LoadList()
        {
            $('#SearchDebitNo').val('');
            $('#DivListofDR').load('/CashManagement/Amd_CashManagement/ListOfDRNote');
        }
        $('#Invoicebox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstInvoice > li').show();
            else {
                $('#lstInvoice > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });

        $('#Chargebox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstCharge > li').show();
            else {
                $('#lstCharge > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });

        $('#lstInvoice > li').on("click", function () {
            $('#InvoiceNo').val($(this).text());
            $('#InvoiceId').val($(this).attr('id'));
            $("#InvoiceNoModal").modal("hide");
            FillDetails();
        });
        function FillDetails() {
            var InvoiceId = $('#InvoiceId').val();
            $.ajax({
                url: '/CashManagement/Amd_CashManagement/GetInvoiceDetailsForDeditNote',
                type: 'GET',
                data: { InvoiceId: InvoiceId },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        $('#Total,#Roundup,#GrandTotal').val('0');
                        $('#PartyId').val(data.Data.PartyId);
                        $('#PartyState').val(data.Data.PartyState);
                        $('#PartyStateCode').val(data.Data.PartyStateCode);
                        $('#PartyAddress').val(data.Data.PartyAddress);
                        $('#PartyGSTNo').val(data.Data.PartyGSTNo);
                        $('#Module').val(data.Data.Module);
                        $('#InvoiceType').val(data.Data.InvoiceType);
                        $('#InvoiceDate').val(data.Data.InvoiceDate);
                        $('#PartyName').val(data.Data.PartyName);

                        $('#PayeeId').val(data.Data.PayeeId);
                        $('#PayeeName').val(data.Data.PayeeName);
                        $('#SupplyType').val(data.Data.SupplyType);
                        /*
                        var html = '';
                        $.each(data.Data.lstInvoiceCarges, function (i, item) {
                            if ($('#GST').val() == '') {
                                if (Number(item.Taxable) > 0) {
                                    if (Number(item.IGSTAmt) > 0) $('#GST').val('IGST');
                                    else $('#GST').val('CGST/SGST');
                                }
                            }
                            item.IGSTAmt = 0;
                            item.CGSTAmt = 0;
                            item.SGSTAmt = 0;
                            html += '<tr><td>' + (i + 1) + '</td>';
                            html += '<td>' + item.ChargeName + '</td>';
                            html += '<td>' + item.SACCode + '</td>';
                            html += '<td><input type="text" readonly id="txtTaxable' + item.ChargesTypeId + '" value="' + item.Taxable + '" /></td>';
                            html += '<td><input type="text" id="txtRetValue' + item.ChargesTypeId + '" value="0" onblur="Calculate(' + item.ChargesTypeId + ')" /></td>';
                            html += '<td><input type="text" readonly id="txtCGSTPer' + item.ChargesTypeId + '" value="' + item.CGSTPer + '" /></td>';
                            html += '<td><input type="text" readonly id="txtCGSTAmt' + item.ChargesTypeId + '" value="0" /></td>';
                            html += '<td><input type="text" readonly  id="txtSGSTPer' + item.ChargesTypeId + '" value="' + item.SGSTPer + '" /></td>';
                            html += '<td><input type="text" readonly id="txtSGSTAmt' + item.ChargesTypeId + '" value="0" /></td>';
                            html += '<td><input type="text" readonly id="txtIGSTPer' + item.ChargesTypeId + '" value="' + item.IGSTPer + '" /></td>';
                            html += '<td><input type="text" readonly id="txtIGSTAmt' + item.ChargesTypeId + '" value="0" /></td>';
                            html += '<td><input type="text" readonly id="txtTotal' + item.ChargesTypeId + '" value="0" /></td></tr>';
                        });
                        $('#tblChargesDet tbody').html(html);
                        */

                        $('#ChargesJson').val(JSON.stringify(data.Data.lstInvoiceCarges));
                        GenerateTable();
                        PopulateChargesList();
                    }
                    else {

                    }
                }
            });

        }

        function PopulateChargesList() {
            //debugger;
            var html = '';
            html += '<option value="0">--Select--</option>';
            var InvoiceId = $('#InvoiceId').val();
            $.ajax({
                url: '/CashManagement/Amd_CashManagement/GetChargesForDeditNote',
                type: 'GET',
                data: { InvoiceId: InvoiceId },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        $('#hdnCharges').val(JSON.stringify(data.Data));
                        $.each(data.Data, function (i, item) {
                            html += '<option value=' + item.Sr + '>' + item.Clause + ' - ' + item.ChargeName + '</option>';
                        });
                        $('#drpChrg').html(html);
                    }
                    else {

                    }
                }
            });
        }

        function AddCharge() {
            //debugger;
            var Chrgs = JSON.parse($('#hdnCharges').val());
            var ChrgObj = Chrgs.filter(m=>m.Sr == $('#drpChrg').val())[0];
            var PushObj = {
                "ChargesTypeId": JSON.parse($('#ChargesJson').val())[JSON.parse($('#ChargesJson').val()).length - 1].ChargesTypeId + 1,
                "Clause": ChrgObj.Clause,
                "ChargeType": ChrgObj.ChargeType,
                "ChargeName": ChrgObj.ChargeName,
                "SACCode": ChrgObj.SACCode,
                "Quantity": 0,
                "Rate": 0,
                "RetValue": 0,
                "Taxable": 0,
                "CGSTPer": ChrgObj.CGSTPer,//ChrgObj.IsLocalGST==1 ? ChrgObj.CGSTPer:0,
                "CGSTAmt": 0,
                "SGSTPer": ChrgObj.SGSTPer,//ChrgObj.IsLocalGST == 1 ? ChrgObj.SGSTPer : 0,
                "SGSTAmt": 0,
                "IGSTPer": ChrgObj.IGSTPer,//ChrgObj.IsLocalGST == 0 ? ChrgObj.IGSTPer : 0,
                "IGSTAmt": 0,
                "Total": 0

            }



            var ChargesJson = JSON.parse($('#ChargesJson').val());
            if (ChargesJson.filter(x=>x.Clause == PushObj.Clause).length > 0) {
                alert('This charge already exists.');
                return;
            }

            ChargesJson.push(PushObj);
            $('#ChargesJson').val(JSON.stringify(ChargesJson));
            $('#drpChrg').val(0);
            GenerateTable();

        }

        function GenerateTable() {
            debugger;
            var ChargesJson = JSON.parse($('#ChargesJson').val());
            var html = '';
            $.each(ChargesJson, function (i, item) {
                if ($('#GST').val() == '') {
                    if (Number(item.Taxable) > 0) {
                        if (Number(item.IGSTAmt) > 0) $('#GST').val('IGST');
                        else $('#GST').val('CGST/SGST');
                    }
                }
                /*item.IGSTAmt = 0;
                item.CGSTAmt = 0;
                item.SGSTAmt = 0;*/
                html += '<tr><td>' + (i + 1) + '</td>';
                html += '<td>' + item.ChargeName + '</td>';
                html += '<td>' + item.SACCode + '</td>';
                html += '<td><input type="text" readonly id="txtTaxable' + item.ChargesTypeId + '" value="' + item.Taxable + '" /></td>';
                html += '<td><input type="number" style="width: 100%;padding: 3px;" id="txtRetValue' + item.ChargesTypeId + '" value="' + item.RetValue + '" onblur="Calculate(' + item.ChargesTypeId + ')" /></td>';
                html += '<td><input type="text" readonly id="txtCGSTPer' + item.ChargesTypeId + '" value="' + item.CGSTPer + '" /></td>';
                html += '<td><input type="text" readonly id="txtCGSTAmt' + item.ChargesTypeId + '" value="' + item.CGSTAmt + '" /></td>';
                html += '<td><input type="text" readonly  id="txtSGSTPer' + item.ChargesTypeId + '" value="' + item.SGSTPer + '" /></td>';
                html += '<td><input type="text" readonly id="txtSGSTAmt' + item.ChargesTypeId + '" value="' + item.SGSTAmt + '" /></td>';
                html += '<td><input type="text" readonly id="txtIGSTPer' + item.ChargesTypeId + '" value="' + item.IGSTPer + '" /></td>';
                html += '<td><input type="text" readonly id="txtIGSTAmt' + item.ChargesTypeId + '" value="' + item.IGSTAmt + '" /></td>';
                html += '<td><input type="text" readonly id="txtTotal' + item.ChargesTypeId + '" value="' + item.Total + '" /></td></tr>';
            });
            $('#tblChargesDet tbody').html(html);

        }

        function Calculate(ChargesTypeId) {
            var ChargesJson = JSON.parse($('#ChargesJson').val());
            var item = $.grep(ChargesJson, function (elem) { return elem.ChargesTypeId == ChargesTypeId; })[0];
            var GST = $('#GST').val();
            var RetValue = Number($('#txtRetValue' + ChargesTypeId).val()).toFixed(2);
            var Value = Number($('#txtTaxable' + ChargesTypeId).val()).toFixed(2);
            var Total;
            if (GST == 'IGST') {
                var IP = $('#txtIGSTPer' + ChargesTypeId).val();
                var Amt = Number((Number(RetValue) / 100) * Number(IP)).toFixed(2);
                $('#txtIGSTAmt' + ChargesTypeId).val(Amt);
                Total = Number(Number(Amt) + Number(RetValue)).toFixed(2);

                item.IGSTAmt = Amt;
            }
            else if (GST == 'CGST/SGST') {
                var CP = $('#txtCGSTPer' + ChargesTypeId).val();
                var AmtC = Number((RetValue / 100) * CP).toFixed(2);
                $('#txtCGSTAmt' + ChargesTypeId).val(AmtC);

                var SP = $('#txtSGSTPer' + ChargesTypeId).val();
                var AmtS = Number((RetValue / 100) * SP).toFixed(2);
                $('#txtSGSTAmt' + ChargesTypeId).val(AmtS);

                Total = Number(Number(AmtC) + Number(AmtS) + Number(RetValue)).toFixed(2);

                item.CGSTAmt = AmtC;
                item.SGSTAmt = AmtS;
            }
            $('#txtTotal' + ChargesTypeId).val(Total);
            var TTotal = 0;
            $('#tblChargesDet tbody tr').each(function (i, item) {
                TTotal = Number(TTotal) + Number($(item).find('td').eq(11).children('input[type="text"]').val());
            });
            $('#Total').val(Number(TTotal).toFixed(2));
            var GrandTotal = Math.ceil(TTotal);
            $('#GrandTotal').val(GrandTotal)
            var Roundup = Number(GrandTotal) - Number(TTotal);
            $('#Roundup').val(Number(Roundup).toFixed(2));

            item.RetValue = RetValue;
            item.Total = Total;
            $('#ChargesJson').val(JSON.stringify(ChargesJson));
        }
        function LoadPage() {
            $('#DivBody').load('/CashManagement/Amd_CashManagement/CreateDebitNote');
        }
        function DROnFailure() { }
        function DROnSuccess(data) {
            if (data.Status == 1) {
                $('#DivSucMsg').html('Debit Note Saved Successfully');
                $('#CRNoteNo').val(data.Data);
                $('#btnIRN').removeAttr("disabled");
               // setTimeout(function () { LoadPage(); }, 3000);
            }
            else if (data.Status == 3) {
                $('#DivSucMsg').html('Party SD Balance is low');
                setTimeout(function () { LoadPage(); }, 3000);
            }

            else {
                $('#DivErrMsg').html(data.Message);
            }
            setTimeout(function () { $('#DivSucMsg,#DivErrMsg').html(''); }, 5000);
        }
        function SearchDebitNoteNo() {
            var InvoiceNo = $('#SearchDebitNo').val().trim();
            if (InvoiceNo == "")
                alert("Enter Debit Note No. to Search");
            else
                $('#DivListofDR').load('/CashManagement/Amd_CashManagement/SearchDebitNote?Search=' + InvoiceNo);
            
        }

        function GenerateIRN() {
            $('.modalloader').show();

            debugger;
            $.ajax({
                url: '/CashManagement/Amd_CashManagement/GetGenerateIRNCreditNote',
                type: 'POST',
                dataType: 'JSON',
                data: { CrNoteNo: $('#CRNoteNo').val(), SupplyType: $('#SupplyType').val(), Type: "DBN", CRDR: "D" },
                success: function (data) {
                    debugger;
                    if (data != '') {
                        debugger;
                        $('.modalloader').hide();
                        if (data.Status == 1) {

                            alert("IRN has been generated sucessfully")

                            $('#btnIRN').attr('disabled', true);
                            setTimeout(function () { LoadPage(); }, 3000);
                        }
                        else {
                            alert(data.Message);
                            $('#btnIRN').attr('disabled', true);
                        }

                    }
                }
            });
        }
    </script>

