@model IEnumerable<CwcExim.Areas.CashManagement.Models.Amd_OnlinePaymentAgainstInvoice>

<table id="tblCashReceiptList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">SL. No.</th>
           
            <th>Order No</th>
            <th>Invoice No</th>
            <th>Amount Paid</th>
            <th>Status</th>
           
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            if (Model != null)
            {
                foreach (var data in Model)
                {
                    <tr>
                        <td class="text-center">@Serial.ToString()</td>
                       
                        <td>@data.OrderId</td>
                        <td>@data.lstInvoiceDetails</td>
                        <td>@data.TotalPayAmount</td>
                        <td>@data.Response</td>
                       
                    </tr>
                    Serial++;
                }
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    $(document).ready(function () {
        var tblCashReceiptList = $('#tblCashReceiptList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL. No.", "width": "8%" },
                       { "sName": "Order No", "bSortable": false },
                       { "sName": "Invoice No", "bSortable": false },
                       { "sName": "Amount Paid", "bSortable": false, },
                       { "sName": "Status", "bSortable": false, }
                    

            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0),td:eq(5)', nRow).addClass("text-center");
                $('td:eq(4)', nRow).addClass("text-right");
                $('td:eq(5)', nRow).css("width", "10%");
            }
        });
        new $.fn.dataTable.FixedHeader(tblCashReceiptList);
    });

    var Pages = 0;
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/CashManagement/Amd_CashManagement/OnlinePaymentAgainstInvoiceListDetails',
            type: 'GET',
            dataType: 'JSON',
            data: { Pages: Pages + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Pages++;
                    var html = '';
                    var dt = $('#tblCashReceiptList').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.OrderId],
        [item.lstInvoiceDetails],
        [item.TotalPayAmount],
        [item.Response],
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }

    function PreviewReceipt(ReceiptNumber) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkReceiptReport", "DSR_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ReceiptNumber:ReceiptNumber
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
</script>
