@model CwcExim.Areas.Master.Models.VRN_CWCReeferPtyWise

<script>
    $(function () { LoadReeferList(); });
    function LoadReeferList()
    {
        $('#DivReeferList').load('/Master/VRN_Master/ReeferListPtyWise');
    }
    $('#ReeferEffectiveDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage:  "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select Date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="EffectiveDate"]').html('');
        }
    });
</script>
@using (Ajax.BeginForm("AddEditMstReeferPtyWise", "VRN_Master", new AjaxOptions
{
    Confirm = "Are you sure you want to Save?",
    HttpMethod = "POST",
    OnSuccess = "ReeferOnSuccess",
    OnFailure = "ReeferOnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row SignUp_space_bottom">
            <div class="col-md-12 cwc_body">
                <h5>Reefer<span class="triangle"></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group Form_Input">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.EffectiveDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2 Date_Img">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control input-sm", @id = "ReeferEffectiveDate", @readonly = true })
                    @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-offset-3 col-md-2 padding_rt">
                    <label>Electricity Charge:</label>
                </div>
                <div class="col-md-2 Date_Img">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.ElectricityCharge, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ElectricityCharge, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-2">
                    @Html.LabelFor(m => m.ContainerSize, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2 Date_Img">
                    <span class="ReQSimbol">*</span>
                    @Html.DropDownListFor(m => m.ContainerSize, new List<SelectListItem> {
                       new SelectListItem { Text="20",Value="20"},
                       new SelectListItem { Text="40",Value="40"}
                       }, "----Select----")
                    @Html.ValidationMessageFor(m => m.ContainerSize, "", new { @class = "Error_Msg" })
                </div>
                <div class="col-md-offset-3 col-md-2">
                    <label>SAC Code:</label>
                </div>
                <div class="col-md-2 Date_Img">
                    <span class="ReQSimbol">*</span>
                    @Html.TextBoxFor(m => m.SacCode, new { @class = "form-control input-sm", @readonly = true })
                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                    @Html.ValidationMessageFor(m => m.SacCode, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-2">
                    <label>Party Name:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = true })
                    @Html.HiddenFor(x => x.PartyID)
                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="PartyBinding()" data-target="#PartyModal"></i></span>
                    @Html.ValidationMessageFor(m => m.PartyName, "", new { @class = "Error_Msg" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>
        <div class="row SignUp_space_bottom">
            <div class="col-md-offset-4 col-md-2">
                <input type="submit" value="Save" class="btn log_Btn_sm" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ClearReeferData()" />
            </div>
        </div>
        <div class="logSuccMsg SignUp_space_bottom2" id="DivRefMsg" style="background-color:transparent;"></div>
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="DivReeferList"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SAC Code</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                <ul class="navList" id="PartyList">
                    @{
                        if (ViewBag.ListOfSAC != null)
                        {
                            foreach (var item in ViewBag.ListOfSAC)
                            {
                                <li id="@item">@item</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade mTabindex" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal" onclick="closePartyModel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Choose Party Name</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Party Name Or Party Code" type="text" id="txtPartyCode" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="PartySearch()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;text-align:left;">
                    <thead>
                        <tr>
                            <th colspan="8" style="text-align:left;" width="80%">Party Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll" style="overflow: scroll; width: auto; height: 250px;">
                    <table class="table dataTable table-bordered table-striped slim_tble">
                        <tbody id="tbleParty"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="txtLoadMoreParty" style="width:100%; margin-left:0;" onclick="LoadPartyList()" class="btn log_Btn_sm">Load More Data</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="closePartyModel()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    function ClearReeferData()
    {
        $('input[type="text"]').val('');
        $('[data-valmsg-for]').html('<span></span>');
    }
    function ReeferOnSuccess(data)
    {
        if(data.Status==1)
        {
            if ($('#DivRefMsg').hasClass('logErrMsg'))
                $('#DivRefMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivRefMsg').html(data.Message);
            ClearReeferData();
            LoadReeferList();
        }
        else
        {
            if ($('#DivRefMsg').hasClass('logSuccMsg'))
                $('#DivRefMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivRefMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivRefMsg').html(''); }, 5000);
    }
    function ReeferOnFailure() { }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('.navList > li').show();
        } else {
            $('.navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('.navList li').on("click", function () {
        $('#SacCode').val($(this).text());
        $("#myModal").modal("hide");
    });


    function PartySearch() {
        debugger;
        //pPage += 1;

        $.ajax({
            url: '/Master/VRN_Master/GetPartyNameForCWCCharges',
            type: 'GET',
            dataType: 'JSON',
            data: { 'Page': 1, 'PartyCode': $('#txtPartyCode').val() },
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {
                    //$('#hdnPartyPayee').val(JSON.stringify(data.Data.LstPartyDetails));
                    var EcJson = data.Data.LstPartyDetails;


                    var html = '';
                    $.each(EcJson, function (i, item) {

                        html += ''
                        html += '<tr onclick="selectParty(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);"><td colspan="8" width="80%">' + item.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + item.PartyCode + '</td></tr>';
                    });
                    $('#tbleParty').html(html);
                    if (data.Data.StatePayer == true) {
                        $('#txtLoadMoreParty').prop("disabled", false);
                    }
                    else {
                        $('#txtLoadMoreParty').prop("disabled", true);
                    }

                }
            }
        });
    }
    function PartyBinding() {
        debugger;
        //pPage += 1;
        $('#txtPartyCode').val('');
        $.ajax({
            url: '/Master/VRN_Master/GetPartyNameForCWCCharges',
            type: 'GET',
            dataType: 'JSON',
            data: { 'Page': 1, 'PartyCode': '' },
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {

                    var EcJson = data.Data.LstPartyDetails;


                    var html = '';
                    $.each(EcJson, function (i, item) {

                        html += ''
                        html += '<tr onclick="selectParty(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);"><td colspan="8" width="80%">' + item.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + item.PartyCode + '</td></tr>';
                    });
                    $('#tbleParty').html(html);
                    if (data.Data.StatePayer == true) {
                        $('#txtLoadMoreParty').prop("disabled", false);
                    }
                    else {
                        $('#txtLoadMoreParty').prop("disabled", true);
                    }

                }
            }
        });

    }

    function selectParty(PartyId, PartyName) {
        debugger;
        $('#PartyID').val(PartyId);
        $('#PartyName').val(PartyName);

        $("#PartyModal").modal("hide");
    }


    var pPage = 0;
    function LoadPartyList() {
        debugger;
        pPage += 1;
        $.ajax({
            url: '/Master/VRN_Master/GetPartyNameForCWCCharges',
            type: 'GET',
            dataType: 'JSON',
            data: { 'Page': pPage, 'PartyCode': '' },
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {

                    var EcJson = data.Data.LstPartyDetails;


                    var html = '';
                    $.each(EcJson, function (i, item) {

                        html += ''
                        html += '<tr onclick="selectParty(' + item.PartyId + ',&quot;' + item.PartyName + '&quot;);"><td colspan="8" width="80%">' + item.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + item.PartyCode + '</td></tr>';
                    });
                    $('#tbleParty').append(html);
                    if (data.Data.StatePayer == true) {
                        $('#txtLoadMoreParty').prop("disabled", false);
                    }
                    else {
                        $('#txtLoadMoreParty').prop("disabled", true);
                    }

                }
            }
        });

    }

    function closePartyModel() {
        partyPage = 1;
        $("#PartyModal").modal("hide");
    }

    $('#txtPartyCode').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tbleParty > tr > td').show();
        else {
            $('#tbleParty > tr >td').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

</script>
