@model CwcExim.Models.Menu

<div>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#divProgress").css("display", "none");
        });

        function OnBegin()
        {

        }
        function OnComplete()
        {

        }
        function OnSuccess(data)
        {
            if (data.Status == 1)
            {
                LoadMenu();
            }
            else
            {
                $('#SpnResult').html(data.Message);
            }
        }
        function OnFailure()
        {

        }
        function LoadMenu()
        {
            $('#DivBody').load('/Menu/Load');
        }

    </script>

    @{

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";
        options.Confirm = "Are you sure you want to Update?";
        options.OnBegin = "OnBegin";
        options.OnComplete = "OnComplete";
        options.OnFailure = "OnFailure";
        options.OnSuccess = "OnSuccess";
        options.LoadingElementDuration = 1000;
        options.LoadingElementId = "divProgress";
        options.UpdateTargetId = "divResponse";
        options.InsertionMode = InsertionMode.InsertAfter;
    }

    @using (Ajax.BeginForm("EditMenu", "Menu", options))
    {
        @Html.AntiForgeryToken()

        
            <div class="row">
                <div class="col-md-12">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Edit Menu</h4>
                            </div>
                        </div>
                        <div class="content_wrp">
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        @Html.Label("Module", new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.DropDownListFor(m => m.ModuleId, new SelectList(Model.ModuleList, "ModuleId", "ModuleName"), "-----Select-----")
                                        @Html.ValidationMessageFor(m => m.ModuleId, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                    <div class="col-md-3 col-md-offset-6">
                                        <span class="ReQSimbol">*</span>
                                        @Html.LabelFor(m => m.MenuName, new { @class = "InputLabel" })<span class="LabelColon">:</span>                                        
                                        @Html.TextBoxFor(m => m.MenuName, new { @class = "form-control input-sm", autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.MenuName, "", new { @class = "Error_Msg" })
                                    </div>
                                
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("Parent Menu", new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.DropDownListFor(m => m.ParentMenuId, new SelectList(Model.ParentMenuList, "MenuId", "MenuName"), "-----Select-----")
                                        @Html.ValidationMessageFor(m => m.ParentMenuId, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                    <div class="col-md-3 col-md-offset-6">
                                        <span class="ReQSimbol">*</span>
                                        @Html.LabelFor(m => m.DisplayPosition, new { @class = "InputLabel" })<span class="LabelColon">:</span>                                        
                                        @Html.TextBoxFor(m => m.DisplayPosition, new { autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.DisplayPosition, "", new { @class = "Error_Msg" })
                                    </div>
                                
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ActionUrl, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.TextBoxFor(m => m.ActionUrl, new { autocomplete = "off" })
                                        @Html.HiddenFor(m => m.MenuId)
                                        @Html.ValidationMessageFor(m => m.ActionUrl, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                            </div>
                            
                                <div class="d-flex justify-content-left">
                                    <input type="submit" value="Update" class="btn btn-primary mr-1 btn-100px" />
                                </div>
                            
                            <div class="row SignUp_space_bottom2 Form_Space_top">
                                <div class="col-md-offset-2 col-md-10" style="text-align:center">
                                    <span id="SpnResult"></span>
                                </div>
                            </div>

                            <div id="divMsg"></div>
                            <div id="divProgress"></div>
                        </div>
                    </div>
                </div>
            </div>
       
            
    }
</div>
@Scripts.Render("~/bundles/jqueryval")