@model IEnumerable<CwcExim.Models.Menu>

<div>
    <script type="text/javascript">

        function LoadEditView(MenuId) {
            $('#DivBody').load('/Menu/EditMenu?MenuId=' + MenuId);

        }
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#DivTblMenuList').DataTable({
                "bFilter": true,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "Action","bSortable":false,"width":"10%"},
                    { "sName": "Module:" },
                    { "sName": "Menu" },
                    { "sName": "Parent Menu", "bSortable": false },
                    { "sName": "Display Position", "bSortable": false, "width": "10%" },
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });

    </script>

    <table id="DivTblMenuList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
                <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
                <th>@Html.DisplayNameFor(model => model.MenuName)</th>
                <th>@Html.DisplayNameFor(model => model.ParentMenuName)</th>
                <th>@Html.DisplayNameFor(model => model.DisplayPosition)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;"><div class="table_icon"><a href="#" onclick="LoadEditView(@item.MenuId)"><i class="fa fa-pencil" aria-hidden="true"></i></a></div></td>
                    <td>@Html.DisplayFor(modelItem => item.ModuleName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MenuName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ParentMenuName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DisplayPosition)</td>
                </tr>
            }
        </tbody>
    </table>
    @*<div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                @Html.DisplayNameFor(model => model.ModuleName)
            </div>
            <div class="col-sm-3 col-md-3">
                @Html.DisplayNameFor(model => model.MenuName)
            </div>

            <div class="col-sm-3 col-md-3">
                @Html.DisplayNameFor(model => model.ParentMenuName)
            </div>

            <div class="col-sm-2  col-md-2">
                @Html.DisplayNameFor(model => model.DisplayPosition)
            </div>
            <div class="col-sm-3  col-md-3">
                @Html.DisplayNameFor(model => model.ActionUrl)
            </div>
            <div class="col-sm-1  col-md-1">
                @Html.DisplayName("Action")
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-sm-3  col-md-3">
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </div>
                <div class="col-sm-3  col-md-3">
                    @Html.DisplayFor(modelItem => item.MenuName)
                </div>
                <div class="col-sm-3  col-md-3">
                    @Html.DisplayFor(modelItem => item.ParentMenuName)
                </div>
                <div class="col-sm-2  col-md-2">
                    @Html.DisplayFor(modelItem => item.DisplayPosition)
                </div>
                <div class="col-sm-1  col-md-1">
                    <a href="#" onclick="LoadEditView(@item.MenuId)">Edit</a>
                </div>
            </div>
        }
    </div>*@

</div>
@*<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
   role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
    <span class="glyphicon glyphicon-chevron-up"></span>
</a>
<style type="text/css">
    .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 0;
        right: 20px;
        /*display: none;*/
    }
</style>
<script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                debugger;
                alert('hi');
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });

            $('#back-to-top').tooltip('show');
        });
</script>*@