@model IEnumerable<CwcExim.Models.Menu>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <script type="text/javascript">

        var categoryId;

        function LoadView(ActionUrl, id) {


            $.ajax({
                type: 'GET',
                url: '@Url.Action("SetMenuId", "Ppg_CWCImport")',
                data: { id: id },
                cache: false,
                success: function (result) {
                    // disable express option if delivery type is Electronic
                    $('.sidebar-nav li ul').css('display', 'none');
                    try {
                        $('#DivBody').html('');
                        $('#DivBody').load('/' + ActionUrl);
                    } catch (ex) {


                    }
                }
            });
            //   document.write('<%Session["Temp"] = "Welcome Mamu";%>');

        }

    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <div id="DivMenu">
            <ul class="nav sidebar-nav">
                @*<li class="Menu_txt">Menu</li>*@

                <li class="Menu_txt">
                    <input type="text" class="sideSrchPnl" placeholder="Search Menu e.g. mdm" />
                </li>

                @{
                    var idx = 0;
                    foreach (CwcExim.Models.Menu Menu in Model)
                    {
                        var id1 = Menu.MenuId;
                        if (Menu.ParentMenuId == 0)
                        {
                            var liid = "menuitem" + idx.ToString();
                            if (Menu.ActionUrl != "")
                            {
                                <li class="menu-head" id="@liid" onclick="MenuAccordion('@idx.ToString()')"><a href="#" onclick="LoadView('@Menu.ActionUrl','@id1')">@Menu.MenuName</a></li>
                            }
                            else
                            {
                                <li class="menu-head" id="@liid" onclick="MenuAccordion('@idx.ToString()')">
                                    <a class="plus_sign sign" href="#">@Menu.MenuName</a>
                                    <ul class="hide" id="tgl">
                                        @foreach (CwcExim.Models.Menu Child in Model)
                        {
                            if (Child.ParentMenuId == Menu.MenuId)
                            {
                                                <li><a href="#" onclick="LoadView('@Child.ActionUrl','@id1')">@Child.MenuName</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            idx += 1;
                        }
                    }
                }
            </ul>
        </div>
    </nav>
    <div id="page-content-wrapper">
        @*<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span id="Menu_btn" class="fa fa-2x fa-chevron-circle-left"></span>
            </button>*@
        <div id="DivBody"></div>

        @*<div class="footer">
                <div class="col-md-offset-0-5 col-md-11">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="alft">© Information 2017 Central Warehousing Corporation. All Rights Reserved</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="arht">Designed, Developed & Maintained by <a href="http://score.co.in/" target="_blank">Score Information Technologies Ltd.</a></p>
                    </div>
                </div>
            </div>*@

    </div>

    <script>
        $('#lang').css("display", "none");
        $('#fixednav').addClass('Scnav_lock');
        $(document).ready(function () {
            LoadCompanyBranchMDetails();
            @*if (@Session["BranchId"] == "1") {
                $('#aftr_kand').css('display', 'block');
            }
            if (@Session["BranchId"] == "2") {
                $('#aftr_kol').css('display', 'block');
            }
            if (@Session["BranchId"] == "3") {
                $('#aftr_ppg_uat').css('display', 'block');
            }
            if (@Session["BranchId"] == "4") {
                $('#aftr_hyd').css('display', 'block');
            }
            if (@Session["BranchId"] == "5") {
                $('#aftr_chn').css('display', 'block');
            }
            if (@Session["BranchId"] == "6") {
                $('#aftr_dsh').css('display', 'block');
            }
            if (@Session["BranchId"] == "7") {
                $('#aftr_wfld').css('display', 'block');
            }
            if (@Session["BranchId"] == "8") {
                $('#aftr_dnode').css('display', 'block');
            }*@

            $(".navbar").addClass("disabled");

            //$('.navbar').css({"border-top-color": "#ff874c",
            //    "border-top-width":"1px",
            //    "border-top-style":"solid",
            //});

            function LoadCompanyBranchMDetails() {

                $.ajax({
                    url: '/MainDashBoard/LoadCompany',
                    type: 'GET',
                    dataType: 'json',
                    success: function (d) {
                        debugger
                        var $row = $('<p/>');

                        $("#LoadBranchAfterLogin").html(d.BranchName);
                    },
                    failure: function () {
                        alert('something wrong happen');
                    }
                });

            }

            $('.top-nav').css('height', '66px');

            var trigger = $('.hamburger'),
                winWidth = $(window).width(),
                overlay = $('.overlay'),
               isClosed = true;

            $(document).ready(function () {
                trigger.click(function () {
                    hamburger_cross();
                });
                trigger.click();
                $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
                });
                $('[data-toggle="offcanvas"]').click();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    $('#page-content-wrapper').css("width", "100%");
                    $('#page-content-wrapper').animate({ left: 0 });
                    //if ($('#Menu_btn').hasClass('fa-chevron-circle-left')) {
                    //    $('#Menu_btn').removeClass('fa-chevron-circle-left');
                    //}
                    $('#Menu_btn').addClass('fa-bars').css("color", "");
                    //$('.hamburger').css("margin-left", "-3px");
                    $('.Menu_txt').css("display", "none");
                    $('.footer').css("width", "100%");
                    $('.alft').css("text-align", "left");
                    $('.arht').css("text-align", "right");
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    $('#page-content-wrapper').width(winWidth - 300);
                    $('#page-content-wrapper').css('left', '220px');
                    //if ($('#Menu_btn').hasClass('fa-bars')) {
                    //    $('#Menu_btn').removeClass('fa-bars');
                    //}
                    //$('#Menu_btn').addClass('fa-chevron-circle-left').css("color", "#fe9b35");

                    //$('.hamburger').css("margin-left", "-32px");
                    $('.Menu_txt').css("display", "block");
                    $('.footer').css("width", "calc(100% - 220px)");
                    isClosed = true;
                }
            }
        });
        $(function () {
            $('.sidebar-nav li a').click(function () {
                $(this).addClass('navactive');
                $('.sidebar-nav li a').not(this).removeClass('navactive');
            });
        });
        function LoadChildMenu(a) {
            ActiveteMinus();
            $('.plus_sign').toggleClass('minus_sign');
            $('.sidebar-nav li ul').css('display', 'none');
            $('#' + a.id + ' ul').css('display', 'block');

        }

        //function ActiveteMinus() {
        //    var menus = document.getElementsByClassName('menus');
        //    for (var i = 0; i < menus.length; i++) {
        //        var item = menus[i].children[0];
        //        if ($(item).hasClass('plus_sign')) {
        //            $(item).removeClass('plus_sign').addClass('minus_sign');
        //        }
        //    }
        //}
    </script>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    var MenuAccordion = function (elementId) {
        //var allItems = document.getElementsByClassName('menu-head');
        //for (var i = 0; i < allItems.length; i++) {
        //    if (allItems[i].children[1] !== undefined) {
        //        var item = allItems[i].children[0];
        //        if ($(item).hasClass('minus_sign')) {
        //            $(item).removeClass('minus_sign').addClass('plus_sign');
        //        }
        //        allItems[i].children[1].classList.remove('show');
        //        allItems[i].children[1].classList.add('hide');
        //    }
        //}
        if (document.getElementById('menuitem' + elementId).children[1] !== undefined) {
            var item = document.getElementById('menuitem' + elementId).children[0];
            $(item).toggleClass('plus_sign');
            $(item).toggleClass('minus_sign');
            //$(item).removeClass('plus_sign').addClass('minus_sign');
            document.getElementById('menuitem' + elementId).children[1].classList.toggle('hide');
            document.getElementById('menuitem' + elementId).children[1].classList.toggle('show');
        }
    };

    $("ul#tgl li a").click(function (e) {
        e.stopPropagation();
    });
</script>

