@model CwcExim.Areas.Master.Models.HDBChemical

<script>
        var TimeInSeconds;
        $(document).ready(function () {
            TimeInSeconds = 5000;
        });
        function LoadChemicalPage() {
            $('#DivBody').load('/Master/HDBMaster/CreateChemical');
        }
        function ChemicalOnSuccess(data) {
            debugger;
            if (data.Status == 1) {
                if ($('#DivCountryMsg').hasClass('logErrMsg'))
                    $('#DivCountryMsg').removeClass('logErrMsg').addClass('logSuccMsg');
                $('#DivCountryMsg').html(data.Message);
               
                LoadChemicalPage()
            }
            else if (data.Status == 2) {
                 $('[data-valmsg-for="ChemicalName"]').html('<span>' + data.Message + '</span>');
                
            }
            else if (data.Status == 3) {
                $('[data-valmsg-for="ChemicalName"]').html('<span>' + data.Message + '</span>');
               
            }
            else {
                if ($('#DivCountryMsg').hasClass('logSuccMsg'))
                    $('#DivCountryMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                $('#DivCountryMsg').html(data.Message);
            }
        }
        function ChemicalOnFailure() { }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are you sure you want to save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "ChemicalOnSuccess";
    options.OnFailure = "ChemicalOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditChemicalDetail", "HDBMaster", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        @Html.HiddenFor(m => m.ChemicalId)
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Chemical Master</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.ChemicalName, new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-4">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.ChemicalName, "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.ChemicalName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" id="BtnChemicalSave" value="Save" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="BtnCountryCancel" value="Cancel" class="btn log_Btn_sm" onclick="LoadChemicalPage()" />
                        </div>
                    </div>
                    <div class="logSuccMsg SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivCountryMsg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
