@model IEnumerable<CwcExim.Areas.Master.Models.HDBHoliday>
<script>
        $(document).ready(function(){
            var TblGodown=$('#TblGodown').DataTable({
                "bFilter":false,
                "bInfo":false,
                "pageLength": 50,
                "aoColumns":[
                           {"sName":"SL No","width":"8%"},
                           {"sName":"Holiday Name"},
                           {"sName":"View","bSortable":false,"width":"10%"},
                           { "sName": "Edit", "bSortable": false, "width": "10%" },
                           { "sName": "Delete", "bSortable": false, "width": "10%" },
                          ]
            });
            new $.fn.dataTable.FixedHeader(TblGodown);
        });
        function LoadGodownPage(){
            $('#DivBody').load('/Master/HDBMaster/CreateHoliday');
        }
        function ViewChemical(Id){
            $('#DivBody').load('/Master/HDBMaster/ViewHoliday?Id='+Id);
        }
        function EditChemical(Id){
            $('#DivBody').load('/Master/HDBMaster/EditHoliday?Id='+Id);
        }

        function DeleteHoliday(Id) {
            debugger;
            var Confirm = confirm("Are you sure you want to Delete?");
            if (Confirm == true) {
                var Token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '@Url.Action("DeleteHoliDayDetails", "HDBMaster", new { areas= "Master" }) ',
                    type: 'POST',
                    data: { Id:Id },
                    headers: { "__RequestVerificationToken": Token },
                    dataType: 'JSON',
                    success: function (data) {
                        alert(data.Message);
                        if (data.Status == 1) {
                            $('#DivBody').load('/Master/HDBMaster/CreateHoliday');
                           
                            
                        }
                    }
                });
            }
        }
</script>
<table id="TblGodown" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("HoliDay_ description")</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
            

        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.Discription)</td>
                   <td style="text-align:center"><a href="#" onclick="ViewChemical(@item.Id)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditChemical(@item.Id)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeleteHoliday(@item.Id)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                   
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>

