@model CwcExim.Areas.Master.Models.HDBYardVM
<script>
    function LoadYardPage() {
        $('#DivBody').load('/Master/HDBMaster/CreateYard');
    }
</script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Yard Master</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Yard Name:</label>
                            </div>
                            <div class="col-md-5">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.MstYard.YardName, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.MstYard.YardName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label class="InputLabel">Location Name:</label>
                            </div>
                            <div class="col-md-2-5">
                                <span class="ReQSimbol">*</span>
                                <input type="text" name="LocationName" id="LocationName" class="form-control" maxlength="30" onkeypress="ValidateLocationName(event)" />
                                @Html.ValidationMessage("LocationName", "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1">
                                <label class="InputLabel">Row (x):</label>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                <input type="text" name="Row" id="Row" class="form-control" data-val-regex-pattern="^[a-zA-Z]*$" data-val-regex="Row Must Contain Only Alphabets" maxlength="10" style="text-transform:uppercase" onkeypress="ValidateRow(event)" />
                                @Html.ValidationMessage("Row", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1" style="padding-right:0px;">
                                <label class="InputLabel">Column (y):</label>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                <input type="text" name="Column" id="Column" class="form-control" data-val-range-min="1" data-val-range="Column Should Be More Than 0 And Less Than 100000000000" data-val-range-max="99999999999" maxlength="11" onkeypress="ValidateColumn(event)" />
                                @Html.ValidationMessage("Column", "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5">
                                <input type="button" value="Add" id="BtnYardLocation" name="BtnYardLocation" class="btn log_Btn_sm" onclick="AddLocationDetail()" />
                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2" style="text-align:center">
                            <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadYardPage()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12" id="DivTblLocation">
                            <table class="table table-bordered table-striped dataTable Form_Input">
                                <thead>
                                    <tr>
                                        <th>Location Name</th>
                                        <th style="text-align:center;width:10%;">Stack </th>
                                        <th style="text-align:center;width:10%;">Godown </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    foreach (var item in Model.LstYard)
                                    {
                                            <tr>
                                                <td>@Html.DisplayFor(m=>item.LocationName)</td>
                                                <td style="text-align:center">@Html.DisplayFor(m=>item.Row)</td>
                                                <td style="text-align:center">@Html.DisplayFor(m=>item.Column)</td>
                                            </tr>
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
