@model CwcExim.Areas.Master.Models.HDBBank

<script>
    function LoadBankPage() {
        $('#DivBody').load('/Master/HDBMaster/CreateBank');
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Bank Master</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.AccountNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.AccountNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.AccountNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-3">
                            @Html.LabelFor(m => m.LedgerNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.LedgerNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.LedgerNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.LedgerName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.LedgerName, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.Address, new { @class = "InputLabel", @readonly = "readonly" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5">
                            @Html.TextAreaFor(m => m.Address, new { style = "width:100%;height:75px;", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.IFSC, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.IFSC, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-3">
                            @Html.LabelFor(m => m.Branch, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.Branch, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <label>Phone No:</label>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-1">
                            @Html.LabelFor(m => m.FaxNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.FaxNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.Email, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" class="btn log_Btn_sm" s value="Back" onclick="LoadBankPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




