@model IEnumerable<CwcExim.Areas.Bond.Models.WljDepositApp>

<script>
    $(function () {
        var TblDepositApp = $('#TblDepositApp').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "Deposit No", "bSortable": false, },
                       { "sName": "Deposit Date", "bSortable": false, },
                       { "sName": "Sac No", "bSortable": false, },
                       { "sName": "Sac Date", "bSortable": false, },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "Print", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblDepositApp);
    });

    function EditDepositApp(DepositAppId) {
        $('#DivBody').load('/Bond/WljBond/EditDepositApp?DepositAppId=' + DepositAppId);
    }
    function ViewDepositApp(DepositAppId) {
        $('#DivBody').load('/Bond/WljBond/ViewDepositApp?DepositAppId=' + DepositAppId);
    }

    function PreviewDepositApp(DepositAppId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Bond/WljBond/PrintDepositeApp',
            type: 'POST',
            data: { DepositAppId: DepositAppId },
            dataType: 'JSON',
            headers: { "__RequestVerificationToken": Token },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
            }
        });
    }

</script>

<table id="TblDepositApp" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Deposit No</th>
            <th>Deposit Date</th>
            <th>Sac No</th>
            <th>Sac Date</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("Print")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.DepositNo)</td>
                    <td>@Html.DisplayFor(m => item.DepositDate)</td>
                    <td>@Html.DisplayFor(m => item.SacNo)</td>
                    <td>@Html.DisplayFor(m => item.SacDate)</td>
                    <td class="text-center"><a href="#" onclick="ViewDepositApp(@item.DepositAppId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="EditDepositApp(@item.DepositAppId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PreviewDepositApp(@item.DepositAppId)"><i class="fa fa-file-pdf-o Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
