@model CwcExim.Areas.Export.Models.Ppg_ExportDestuffing
<script src="~/Areas/Export/Scripts/App/Services/Ppg_ExpDestuffService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/Ppg_ExportDestuffCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('DestuffingAppDiv'), ['CWCApp']);

    //document.getElementById('LocationSearch').addEventListener('keyup', debounce(function () {
    //    if (document.getElementById('SearchPartyText').value != "")
    //        angular.element('#YardInvoiceController').scope().SearchPartyList();
    //    else
    //        angular.element('#YardInvoiceController').scope().LoadPartyList();
    //}, 800));
</script>
<style>
    .ang_srch { 
        top: 25%;
        right: 6px;
        height: 21px; 
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    .loctn .ReQSimbol {
        margin-left: -3px;
        top: 4px;
    }
</style>
<div class="container-fluid" id="DestuffingAppDiv" ng-controller="Ppg_ExpDestuffCtrl">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Export Destuffing</h4>
                    </div>
                </div>
                @*@using (Ajax.BeginForm("AddEditOBLEntry", "Ppg_OblEntry", new AjaxOptions
                    {
                        Confirm = "Are you sure you want to save?",
                        HttpMethod = "POST",
                        OnSuccess = "JobOrderOnSuccess",
                        OnFailure = "JobOrderOnFailure"
                    }))*@
                @{
                    @*@Html.AntiForgeryToken()*@
                    @Html.HiddenFor(m => m.DestuffingId)
                    @Html.HiddenFor(m => m.StringifiedText)
                    @Html.HiddenFor(m => m.RefNo)
                    @Html.Hidden("RefDate")
                    @Html.HiddenFor(m => m.ShippingLineId)
                     @Html.Hidden("OperationType")


                    if (ViewBag.ListOfContainerNo != null)
                    {
                        <input type = "hidden" id="hdnListOfContainerNo" value="@ViewBag.ListOfContainerNo" />
                    }
                    else
                    {
                        <input type = "hidden" id="hdnListOfContainerNo" value="" />
                    }
                    <div id="DivJOHdr" class="Form_Space_bottom">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Export Destuffing No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.DestuffingNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.Destuffingdate, new { @size = 10, @maxlength = 10, @onkeyup = "check()", @onblur = "checkdate()", @readonly = true })
                                    <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.Destuffingdate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input_sm", @readonly = true })
                                    <span class="search" id="ContainerNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerNoModal"></i></span>
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.Size, new { @class = "form-control input_sm", @readonly = true })
                                    <div class="field-validation-error" id="DivMsges" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CFS Code:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input_sm", @readonly = true })
                                    @*<span class="search" id="CFSSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CFSModal"></i></span>*@
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Godown Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.GodownName, "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                    @Html.HiddenFor(m => m.GodownId)
                                    @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                      
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input_sm", @rows = "3", @maxlength = "1000" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                   

                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivDestuffingDet" ng-hide="DestuffDetails.length==0">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="20%">Shipping Bill No</th>
                                            <th width="8%">SB Date</th>
                                            <th width="4%">Exporter</th>
                                            <th width="15%">Cargo Desc</th>
                                            <th width="10%">Commodity</th>
                                            <th width="10%">Cargo Type</th>
                                            <th width="5%">Weight(Kg)</th>
                                            <th width="5%">CUM</th>
                                            <th width="5%">Unit</th>
                                            <th width="8%">FOB</th>                                           
                                            <th width="5%">SQM</th>
                                          
                                            @*<th class="text-center" style="width:10%;">View</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in DestuffDetails">
                                            <td>
                                                {{$index+1}}
                                            </td>
                                            <td width="10%"><input type="text" ng-model="j.SBNo" ng-disabled="true" /> </td>
                                            @*<td width="8%">
                                                    <input type="text" ng-model="j.OBL_Date"
                                                           name="date"
                                                           placeholder="dd/mm/yyyy"
                                                           onkeyup="var v = this.value;
                                                    if (v.match(/^\d{2}$/) !== null) {
                                                    this.value = v + '/';
                                                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                                    this.value = v + '/';
                                                    }"
                                                           maxlength="10" />
                                                </td>*@
                                            <td>
                                                <input type="text" id="date{{$index}}" ng-model="j.SBDate" name="date" placeholder="dd/mm/yyyy"
                                                       onkeyup="check(this.id)" onblur="checkdate(this.id)" ng-disabled="true" />
                                                <span class="field-validation-error" id="ErrddlValidType_date{{$index}}"></span>


                                            </td>

                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.Exporter" id="Exporter_{{$index}}" ng-disabled="true" required />
                                                <input type="text" ng-hide="true" ng-model="j.EXPId" />
                                            </td>
                                            <td width="15%">
                                                <textarea class="col-xs-12" style="padding:3px; resize:none;" ng-model="j.cargoDesc" ng-disabled="true" cols="2"></textarea>
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.Commodity" id="Commodity_{{$index}}" ng-disabled="true" required />
                                                <input type="text" ng-hide="true" ng-model="j.CommodityId" />
                                                @*<span class="ang_srch" id="CommoditySerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.Commoditymodal" ng-click="onCommodityChange($index)" data-toggle="modal" data-target="#CommodityModal"></i></span>*@
                                            </td>
                                            <td width="10%">
                                                <select ng-model="j.CargoType" ng-disabled="true" required>
                                                    <option value=0>--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}} </option>
                                                </select>
                                            </td>
                                            <td width="5%"><input type="text" ng-model="j.GrWt" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>

                                            <td width="5%"><input type="text" ng-model="j.CUM" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.Unit" ng-disabled="true" onkeypress="return isNumber(event)" />
                                            </td>

                                            <td width="5%">
                                                <input type="text" ng-model="j.FOB" ng-disabled="true" onkeypress="return isDecimalNumber(event)" />
                                            </td>
                                           
                                            <td width="5%"><input type="text" ng-disabled="true" ng-model="j.UnReservedSQM" onkeypress="return isDecimalNumber(event)" ng-disabled="SQMDisable" /></td>
                                           

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" ng-click="DestuffingSave()" disabled="disabled" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllField()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div><br /></div>

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-2">
                            <input type="button" id="btnShowList" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-offset-5 col-md-2" style="text-align:right;">
                        </div>
                        @*<div class="col-md-3">
                                @Html.TextBox("ContSearch", "", new { placeholder = "Container/CBT No" })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="SearchContainer()"></i></span>
                            </div>*@
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-5 col-md-4" style="text-align:right;">
                            <label>Container / CBT  :</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBox("containersearchtxt")
                            @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                            <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="LoadLoadedContainerRequestSearch()"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12" id="DivListOfDestuffing">
                            <table class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <td>Sl No</td>
                                        <td>Destuffing No</td>
                                        <td>Destuffing Date</td>
                                        <td>Container/CBT No</td>
                                        <td>CFS Code</td>                                       
                                        <td>Edit</td>
                                        <td>View</td>
                                        <td>Delete</td> 
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="ContainerNoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Container / CBT No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ContainerNobox" type="text" />
                    <ul class="navList" id="lstContainerNo"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CFSModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of CFS</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="CFSBox" type="text" />
                    <ul class="navList" id="lstCFS"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="GodownModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Godown</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="GodownBox" type="text" />
                    <ul class="navList" id="lstGodown">
                        @{
                            if (ViewBag.GodownList != null)
                            {
                                foreach (var item in ViewBag.GodownList)
                                {
                                    <li id="@item.GodownId">@item.GodownName</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShippingLineModal1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of ShippingLine</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ShippingLineBox" type="text" />
                    <ul class="navList" id="lstShippingLine">
                        @{
                            if (ViewBag.ShippingLineList != null)
                            {
                                foreach (var item in ViewBag.ShippingLineList)
                                {
                                    <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ExporterModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseExporter()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List Of Exporter</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Exporter Name Or Party Code " id="Expbox" type="text" autofocus />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchExpByPartyCode()"></i></span>

                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Exporter Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>

                    <div id="slim_scroll_3">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleExp">
                            @{
                                if (ViewBag.lstExp != null)
                                {
                                    foreach (var item in ViewBag.lstExp)
                                    {
                                        <tr onclick="SelectExporter(@item.ExporterId,'@item.ExporterName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ExporterName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.ExpState != null && Convert.ToBoolean(ViewBag.ExpState) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreExp()" class="btn log_Btn_sm" id="btnLoadExp">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreExp()" class="btn log_Btn_sm" id="btnLoadExp" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseExporter()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal fade" id="ExporterModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Exporter</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="ExporterBox" type="text" />
                        <ul class="navList" id="lstExporter">
                            @{
                                if (ViewBag.ListOfExporter != null)
                                {
                                    foreach (var item in ViewBag.ListOfExporter)
                                    {
                                        <li id="@item.EXPEximTraderId">@item.ExporterName</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="modal fade" id="CommodityModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Commodity</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="CommodityBox" type="text" />
                    <ul class="navList" id="lstCommodity">
                        @{
                            if (ViewBag.ListOfCommodity != null)
                            {
                                foreach (var item in ViewBag.ListOfCommodity)
                                {
                                    <li id="@item.CommodityId">@item.CommodityName</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShippingLineModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Shipping Line Name Or Party Code" id="ShpngLinebox" type="text" autofocus />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>

                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Shipping Line Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>

                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                            @{
                                if (ViewBag.LstShippingLine != null)
                                {
                                    foreach (var item in ViewBag.LstShippingLine)
                                    {
                                        <tr onclick="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName','@item.GodownId','@item.GodownName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.SLAState != null && Convert.ToBoolean(ViewBag.SLAState) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrader()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal fade" id="LocationModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Location</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="LocationBox" type="text" />
                        <ul class="navList" id="lstLocation">
                                <li ng-repeat="item in LocationList" ng-click="SelectLoaction(item)">
                                    <input type="checkbox">
                                    {{item.LocationName}}

                                </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    <div class="modal fade" id="LocationModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Godown Wise Location</h4>
                </div>
                <div class="modal-body popup_body">
                    <div class="row">
                        <div class="form-group Form_Input" id="DivLocationDet">
                            @*@{
                                    foreach (var item in Model.lstGdnWiseLctn)
                                    {
                                        @Html.Label(item.Row + " " + item.Column, new { @for = item.LocationId })
                                        @Html.CheckBox(@item.LocationId.ToString())
                                    }
                                }*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>

    $(function () {
        debugger;
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });
    $('#Destuffingdate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onSelect: function (dateText) {
            var From = $('#RefDate').val();
            var To = $('#Destuffingdate').val().toString("dd/mm/yyyy");
            var SF = From.split('/');
            var ST = To.split('/');
            var STyear = ST[2].split(" "); //Split Time and Year From InvoiceDate;
            //var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
            //var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
            var FromDate = SF[1] + '/' + SF[0] + '/' + SF[2]; // Createing Date In DD/MM/YYYY;
            var ToDate = ST[1] + '/' + ST[0] + '/' + STyear[0]; // Createing Date In DD/MM/YYYY;
            var dt1 = new Date(FromDate);
            var dt2 = new Date(ToDate);
            if (dt1 > dt2) {
                alert("Destuffing Date Can't be Less than Stuffing Date or Loaded Container Request Date !!");
                return false;
            }
            else
                return true;
        },
        onClose: function () {
            $('[data-valmsg-for="Destuffingdate"]').html('');
        }
    });
    $("#Destuffingdate").datepicker("setDate", new Date());
    //$('#Destuffingdate')

    function isDecimalNumber(event) {
        let charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    var ListOfContainerNo = [];
    $('#ContainerNoSerach').on("click", function () {
        debugger;
        $.ajax({
            url: "/Export/Loni_CWCExportV2/GetContainerNoForExportDestuffing",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfContainerNo = data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.CFSCode + ' onclick="FillContainerBox(&quot;' + item.ContainerNo + '&quot;,&quot;' + item.Size + '&quot;,&quot;' + item.CFSCode + '&quot;,&quot;' + item.ShippingLineId + '&quot;,&quot;' + item.ShippingLine + '&quot;,&quot;' + item.RefNo + '&quot;,&quot;' + item.RefDate + '&quot;,&quot;' + item.SType + '&quot;,&quot;' + item.GodownId + '&quot;,&quot;' + item.GodownName + '&quot;,&quot;' + item.OperationType + '&quot;)">' + item.ContainerNo + '</li>';
                    });
                    $('#lstContainerNo').html(Html);
                }
            }

        });
    });

    function FillContainerBox(ContainerNo, Size, CFSCode, ShippingLineId, ShippingLine, RefNo, RefDate, Stype, Gid, Gname, OperationType) {
        debugger;
        //var ContainerNo=ContainerNo.id==''?ContainerNo:ContainerNo.id;
        $('#ContainerNo').val(ContainerNo);
        $('#Size').val(Size);
        $('#CFSCode').val(CFSCode);
        $('#ShippingLineId').val(ShippingLineId);
        $('#ShippingLineName').val(ShippingLine);
        $('#RefNo').val(RefNo);
        $('#RefDate').val(RefDate);
        if (Stype == "R")
            $("#ReservedSpace").prop("checked", true);
        if (Stype == "G")
            $("#GeneralSpace").prop("checked", true);
        $('#GodownId').val(Gid);
        $('#GodownName').val(Gname);
        $('#OperationType').val(OperationType);
        $("#ContainerNoModal").modal("hide");
        angular.element('#DestuffingAppDiv').scope().GetSBDetails();
        angular.element('#DestuffingAppDiv').scope().$apply();
    }
    $('#ContainerNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainerNo > li').show();
        else {
            $('#lstContainerNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    var ListOfCFS = [];
    $('#CFSSerach').on("click", function () {
        debugger;
        $.ajax({
            url: "/Export/Loni_CWCExportV2/GetContainerNoForExportDestuffing",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfContainerNo = data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.CFSCode + ' onclick="FillCFSBox(&quot;' + item.ContainerNo + '&quot;,&quot;' + item.ContainerStuffingId + '&quot;,&quot;' + item.CFSCode + '&quot;,&quot;' + item.Size + '&quot;)">' + item.CFSCode + '</li>';
                    });
                    $('#lstCFS').html(Html);
                }
            }

        });
    });
    function FillCFSBox(ContainerNo, Size, CFSCode, ShippingLineId, ShippingLine, RefNo, RefDate) {
        debugger;
        //var ContainerNo=ContainerNo.id==''?ContainerNo:ContainerNo.id;
        $('#ContainerNo').val(ContainerNo);
        $('#Size').val(Size);
        $('#CFSCode').val(CFSCode);
        $('#ShippingLineId').val(ShippingLineId);
        $('#ShippingLineName').val(ShippingLine);
        $('#RefNo').val(RefNo);
        $('#RefDate').val(RefDate);
        $("#CFSModal").modal("hide");
        angular.element('#DestuffingAppDiv').scope().GetSBDetails();
        angular.element('#DestuffingAppDiv').scope().$apply();
    }

  
    $('#CFSBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCFS > li').show();
        else {
            $('#lstCFS > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#GodownBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodown > li').show();
        else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstGodown > li').on("click", function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).attr('id'));
        $("#GodownModal").modal("hide");
        angular.element(document.querySelector('[ng-controller="Dnd_ExpDestuffCtrl"]')).scope().
     ClearLoaction();
    });

    $('#ShippingLineBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstShippingLine > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });


    $('#lstCommodity > li').on("click", function () {
        debugger;
        var CommodityName = $(this).text();
        var CommodityId = $(this).attr('id');
        angular.element(document.querySelector('[ng-controller="Dnd_ExpDestuffCtrl"]')).scope().
     SelectCommodity(CommodityId, CommodityName);
    });

    $('#CommodityBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCommodity > li').show();
        else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#lstExporter > li').on("click", function () {
        debugger;
        var Exporter = $(this).text();
        var ExpId = $(this).attr('id');
        angular.element(document.querySelector('[ng-controller="Dnd_ExpDestuffCtrl"]')).scope().
         SelectExporter(ExpId, Exporter);
    });

    $('#ExporterBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstExporter > li').show();
        else {
            $('#lstExporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#LocationSearch').on("click", function () {

        debugger;
        var GodownId = $('#GodownId').val();
        $.ajax({
            url: "/Export/Loni_CWCExportV2/GetLocationDetailsByGodownId",
            type: "GET",
            data: { GodownId: GodownId },
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfLocation = data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.CFSCode + ' onclick="FillLocationBox(&quot;' + item.ContainerNo + '&quot;,&quot;' + item.Size + '&quot;,&quot;' + item.CFSCode + '&quot;)">' + item.ContainerNo + '</li>';
                    });
                    $('#lstContainerNo').html(Html);
                }
            }

        });
    });

    $('#LocationBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstLocation > li').show();
        else {
            $('#lstLocation > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function OnClickSpace(Type) {
        angular.element(document.querySelector('[ng-controller="Dnd_ExpDestuffCtrl"]')).scope().
     SelectSpace(Type);
    }

    function ShowList() {
        $('#ContSearch').val("");
        $('#DivListOfDestuffing').load('/Export/Loni_CWCExportV2/GetDestuffingEntryList');
    }

    if ($('#DestuffingId').val() > 0) {
        //$('#btnReset').attr('disabled', true);
        // $('#btnResetJO').attr('disabled', true);
        //$('#btnShowDetails').attr('disabled', true);
        debugger;
        $('#Size').attr('readonly', true);
        $('#CFSSerach').css('display', 'none');
        $('#ContainerNoSerach').css('display', 'none');
        $('#btnShowList').css('visibility', 'hidden');
        $('#DivListOfDestuffing').css('visibility', 'hidden');
        if ($('#SpaceType').val() == 'ReservedSpace') {
            $("#ReservedSpace").prop("checked", true);
        }
    }
    function ResetAllField() {
        $('#DivBody').load('/Export/Loni_CWCExportV2/CreateExportDestuffing');
    }

    function CheckBoxChange() {
        debugger;
        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '')
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);

        angular.element('#DestuffingAppDiv').scope().GetLocation(Locationtext);
        angular.element('#DestuffingAppDiv').scope().$apply();
    }

    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    var Page = 0;
    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Export/Loni_CWCExportV2/LoadCCINShippingLine',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function SearchByPartyCode() {
        debugger;
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Export/Loni_CWCExportV2/SearchCCINShippingLineByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstShippingLine, function (item, elem) {
                            html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    function SelectShippingLine(ShippingLineId, ShippingLineName, GodownId, GodownName) {
        $('#ShippingLineName').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        //$('#GodownId').val(GodownId);
        //$('#GodownName').val(GodownName);
        $("#ShippingLineModal").modal("hide");
        $('#ShpngLinebox').val('');
        $('[data-valmsg-for="ShippingLineName"]').html('<span></span>');
        LoadEximTrader();

    }

    function LoadEximTrader() {
        Page = 0;
        $.ajax({
            url: '/Export/Loni_CWCExportV2/LoadCCINShippingLine',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;,' + elem.GodownId + ',&quot;' + elem.GodownName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function CloseEximTrader() {
        $('#ShpngLinebox').val('');
        $("#ShippingLineModal").modal("hide");
        LoadEximTrader();
    }



    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('ShpngLinebox').addEventListener('keyup', debounce(function () {
        SearchByPartyCode()
    }, 800));
    var Page = 0;

    function LoadMoreExp() {
        debugger;
        $.ajax({
            url: '/Export/Loni_CWCExportV2/LoadExporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstExp, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ExporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleExp tbody').html(html);
                    else
                        $('#tbleExp tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadExp').prop('disabled', false);
                    else $('#btnLoadExp').prop('disabled', true);
                }
            }
        });
    }

    function LoadExporter() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/Dnd_CWCExport/LoadExporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstExp, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ExporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tbleExp tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadExp').prop('disabled', false);
                    else $('#btnLoadExp').prop('disabled', true);
                }
            }
        });
    }

    function SearchExpByPartyCode() {
        debugger;
        if ($('#Expbox').val() != '') {
            $.ajax({
                url: '/Export/Loni_CWCExportV2/SearchExporterByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Expbox').val() },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstExp, function (item, elem) {
                            html += '<tr onclick="SelectExporter(' + elem.ExporterId + ',&quot;' + elem.ExporterName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ExporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleExp tbody').html('');
                        $('#tbleExp tbody').html(html);
                        $('#btnLoadExp').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleExp tbody').html('');
                        Page = -1;
                        $('#btnLoadExp').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadExporter();
    }
    function SelectExporter(ExporterId, ExporterName) {
        debugger;


        var Exporter = ExporterName;
        var ExpId = ExporterId;
        angular.element(document.querySelector('[ng-controller="Dnd_ExpDestuffCtrl"]')).scope().
         SelectExporter(ExpId, Exporter);
        $('#ExporterName').val(ExporterName);
        $('#ExporterId').val(ExporterId);
        $("#ExporterModal").modal("hide");
        $('#Expbox').val('');
        $('[data-valmsg-for="ExporterName"]').html('');
        LoadExporter();
    }
    function CloseExporter() {
        $('#Expbox').val('');
        $("#ExporterModal").modal("hide");
        LoadExporter();
    }

    document.getElementById('Expbox').addEventListener('keyup', debounce(function () {
        SearchExpByPartyCode()
    }, 800));


    $(function () {
        $('#slim_scroll_3').slimScroll({
            allowPageScroll: true
        });
    });
    function LoadLoadedContainerRequestSearch() {
        if ($('#containersearchtxt').val().trim() == '') {
            alert('Enter Container for searching');
            return;
        }
        $('#tblArrayContDet').html('');
        var containersearch = encodeURI($('#containersearchtxt').val().trim());
        // $('#CCINEntryList').empty();
        $('#DivListOfDestuffing').load('/Export/Loni_CWCExportV2/DestuffingEntrySr?Search=' + containersearch);

    }
</script>
