@model IEnumerable<CwcExim.Models.City>
<script>
    $(document).ready(function () {
        var TblCity = $('#TblCity').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "View", "bSortable": false, "width": "3%" },
                    { "sName": "Edit", "bSortable": false, "width": "3%" },
                    { "sName": "Delete", "bSortable": false, "width": "3%" },
                    { "sName": "SL No", "width": "8%" },
                    { "sName": "Country Name", "bSortable": false },
                    { "sName": "State Name", "bSortable": false },
                    { "sName": "City Name" },
                    { "sName": "City Alias", "bSortable": false },
                    
            ]
        });
        new $.fn.dataTable.FixedHeader(TblCity);
    });
    function LoadCityPage()
    {
        $('#DivBody').load( '/City/CreateCity');
    }
    function ViewCity(CityId){
        $('#DivBody').load( '/City/ViewCity?CityId='+CityId);
    }
    function EditCity(CityId){
        $('#DivBody').load( '/City/EditCity?CityId='+CityId);
    }
    function DeleteCity(CityId){
        debugger;
        var Confirm=confirm("Are You Sure You Want To Delete?")
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/City/DeleteCityDetail',
                headers: { '__RequestVerificationToken': Token },
                type:'POST',
                data:{CityId:CityId},
                dateType:'JSON',
                async:false,
                success:function(data){
                    if(data.Status==1){
                        LoadCityPage();
                    }
                    else if(data.Status==3 || data.Status==4){
                        alert(data.Message);
                    }
                    else{
                        alert(data.Message);
                    }
                }
            });
        }
    }
</script>
<table id="TblCity" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.CountryId)</th>
            <th>@Html.DisplayNameFor(m => m.StateId)</th>
            <th>@Html.DisplayNameFor(m => m.CityName)</th>
            <th>@Html.DisplayNameFor(m => m.CityAlias)</th>            
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach(var item in Model)
            { 
            <tr>
                <td style="text-align:center"><div class="table_icon"><a href="#" onclick="ViewCity(@item.CityId)"><i class="fa fa-eye"></i></a></div></td>
                <td style="text-align:center"><div class="table_icon"><a href="#" onclick="EditCity(@item.CityId)"><i class="fa fa-pencil"></i></a></div></td>
                <td style="text-align:center"><div class="table_icon"><a href="#" onclick="DeleteCity(@item.CityId)"><i class="fa fa-trash-o"></i></a></div></td>
                <td style="text-align:center">@SerialNo</td>
                <td>@Html.DisplayFor(m => item.CountryName)</td>
                <td>@Html.DisplayFor(m => item.StateName)</td>
                <td>@Html.DisplayFor(m=>item.CityName)</td>
                <td>@Html.DisplayFor(m=>item.CityAlias)</td>
            </tr>
                SerialNo = SerialNo + 1;
            }
          }
    </tbody>
</table>