
@model CwcExim.Areas.Auction.Models.Dnd_NocDetails
<style>
    .Date_Img img {
        right: 14px !important;
    }

    .search {
        right: 17px;
    }
</style>

<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>
@{
    AjaxOptions options = new AjaxOptions();
    //options.Confirm = "Are You Sure You Want To Save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "NOCOnSuccess";
    options.OnFailure = "NOCFailure";
    options.InsertionMode = InsertionMode.InsertAfter;

}
@using (Ajax.BeginForm("NOCDetails", "Dnd_Auction", options))
{
    @Html.AntiForgeryToken()
    //'/Auction/Bid/BidFinalization'
   
   
<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>NOC Details</h4>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5">
                        @Html.RadioButtonFor(m => m.AuctionDestruction, "Auction", new { @id = "txtAuction", @checked = "true" })
                        <label for="txtAuction"><i class="circle"></i><span>Auction</span></label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.RadioButtonFor(m => m.AuctionDestruction, "Destruction", new { @id = "txtDestruction" })
                        <label for="txtDestruction"><i class="circle"></i><span>Destruction</span></label>
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                      
                    </div>
                    <div class="col-md-2-5">
                       
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1">
                        @Html.RadioButtonFor(m => m.Type, "Shipbill", new { @id = "txtShipbill", @onclick = "ChangeRefType()",@checked="true" })
                        <label for="txtShipbill"><i class="circle"></i><span>ShipBill</span></label>
                    </div>
                    <div class="col-md-1-5">
                        @Html.RadioButtonFor(m => m.Type, "OBL", new { @id = "txtOBL", @onclick= "ChangeRefType()" })
                        <label for="txtOBL"><i class="circle"></i><span>OBL</span></label>
                    </div>
                    <div class="col-md-1-5">
                        @Html.RadioButtonFor(m => m.Type, "CONTAINER", new { @id = "txtContainer", @onclick = "ChangeRefType()" })
                        <label for="txtContainer"><i class="circle"></i><span>CONTAINER</span></label>
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                        <label>Ref No <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.EditorFor(model => model.RefNo, new { htmlAttributes = new { @readonly = true } })
                        <span class="search" id="NoticeNoModalid"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLShipBillModal"></i></span>
                        @Html.ValidationMessageFor(m => m.RefNo, "", new { @class = "Error_Msg" })
                    </div>
                </div>
            </div>
         
            <div class="row SignUp_space_top2">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5">
                        <label>Request No <span style="color:red;">*</span></label>
                      
                    </div>
                    <div class="col-md-2-5">
                        @Html.EditorFor(model => model.NocNo, new { htmlAttributes = new { @readonly = true } })
                        @Html.ValidationMessageFor(m => m.NocNo, "", new { @class = "Error_Msg" })
                    </div>
                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                        <label>Request Date <span style="color:red;">*</span></label>
                    </div>
                    <div class="col-md-2-5 Date_Img">
                        @Html.EditorFor(model => model.NocDate, new { htmlAttributes = new { placeholder = "dd/mm/yyyy", @readonly = true } })
                        @Html.ValidationMessageFor(m => m.NocDate, "", new { @class = "Error_Msg", Value = DateTime.Today.ToString("dd/MM/yyyy") })
                    </div>
                    </div>
                </div>
          
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5">
                        <label>Remarks1</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextAreaFor(x=>x.Remarks1, new { htmlAttributes = new { rows = 4, columns = 20 , @autocomplete = "off" } })
                        @Html.ValidationMessageFor(m => m.Remarks1, "", new { @class = "Error_Msg" })
                    </div>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5">
                        <label>Remarks2</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextAreaFor(x => x.Remarks2, new { htmlAttributes = new { rows = 4, columns = 20, @autocomplete = "off" } })
                        @Html.ValidationMessageFor(m => m.Remarks2, "", new { @class = "Error_Msg" })
                    </div>
                </div>
            </div>

            <div class="row SignUp_space_bottom SignUp_space_top">
                <div class="col-md-12">
                    <div class="stoke"></div>
                </div>
            </div>
            <div class="logSuccMsg Form_Space_bottom" id="msgDiv" style="background-color:transparent"></div>
            <div class="row" style="padding-bottom:15px;">
                <div class="col-md-offset-4 col-md-2">
                    <button id="btnSave" type="submit" class="btn log_Btn_sm">Save</button>                  
                </div>


                <div class="col-md-2">
                    <input type="button" value="Reset" class="btn log_Btn_sm" id="btnReset" onclick="Reset()" />
                    <input type="button" value="Cancel" class="btn log_Btn_sm hidden" id="btnCancel" onclick="Cancel()" />
                </div>
            </div>
            <div class="row SignUp_space_top2 SignUp_space_bottom2">
                <div class="col-md-12">
                    <div class="stoke"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 SignUp_space_bottom">
                    <div id="DivNoticeList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(model => model.RefDate)
    @Html.HiddenFor(model => model.NocID)
}
<div id="OBLShipBillModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Ref No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="txtRefNoForSearch" type="text" />
                <ul class="navList" id="lstRefNoFor">
                  
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

<script>

    

    $(document).ready(function () {
        $("#NocDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            minDate: 0,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#NocDate").datepicker().datepicker("setDate", new Date());

        LoadNOCList();
        PopulateData(2);
        $('#btnCancel').addClass('hidden');
    });

    function ChangeRefType()
    {
        debugger;
        if($('#txtShipbill').is(":checked"))
        {
           
            PopulateData(2);
        }
        else if ($('#txtOBL').is(":checked"))
        {
          
            PopulateData(1);
        }
        else
        {
            PopulateData(3);
        }

    }

    function PopulateData(flag) {

        $.ajax({
            type: 'GET',
            url: '/Auction/Dnd_Auction/GetRefNoForNoc?Flag=' + flag + '',
            dataType: 'JSON',
            success: function (data) {
                debugger;

                var jsonData = '';
                $('#lstRefNoFor').html('');
                if (data != null && data.length > 0) {

                    for(var i=0;i<data.length;i++)
                    {
                        jsonData = jsonData + '<li id=' + data[i].RefDate + ' onclick="GetRefNoDetails(this)">' + data[i].RefNo + '</li>';
                    }
                    $('#lstRefNoFor').html(jsonData);
                }
                else {
                    $('#lstRefNoFor').html('');
                }

            }
        });
    }


    function GetRefNoDetails(elem)
    {
        debugger;
        $('#RefDate').val($(elem).attr('id'));
        $('#RefNo').val($(elem).text());
        $("#OBLShipBillModal").modal("hide");
    }

    function NOCOnSuccess(data) {

        debugger;
        if (data.Status == 1 || data.Status == 2) {
            TableArray = [];
            if ($('#msgDiv').hasClass('logErrMsg'))
                $('#msgDiv').removeClass('logErrMsg').addClass('logSuccMsg text-center');
            $('#msgDiv').html(data.Message);
            $('#NocNo').val(data.Data);
            //Reset();
            LoadNOCList();
            setTimeout(Reset, 3000);
            //GetExitThroughGateList();
        }

        else {
            if ($('#msgDiv').hasClass('logSuccMsg'))
                $('#msgDiv').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#msgDiv').html(data.Message);
        }
    }
    function NOCFailure() {
        alert("Error");
        //LoadBiFinalization();
    }

    function Reset() {
        $('#DivBody').load('/Auction/Dnd_Auction/MarkForNotice');
        PopulateData();
        LoadMarkedList();
    }

    function LoadNOCList() {
        $('#DivNoticeList').load('/Auction/Dnd_Auction/GetNocList?NocID=0');
    }

    $('#txtRefNoForSearch').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstRefNoFor > li').show();
        else {
            $('#lstRefNoFor > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });


    function EditNocData(NocID)
    {
       
        $.ajax({
            type: 'GET',
            url: '/Auction/Dnd_Auction/GetNocListForEdit?NocID=' + NocID + '',
            dataType: 'JSON',
            success: function (data) {
                $('#DivNoticeList').load('/Auction/Dnd_Auction/GetNocList?NocID=' + NocID + '');
                $('#RefDate').val(data[0].RefDate);
                $('#RefNo').val(data[0].RefNo);
                $('#NocNo').val(data[0].NocNo);
                $('#NocID').val(data[0].NocID);
                $('#NocDate').val(data[0].NocDate);
                $('#Remarks1').val(data[0].Remarks1);
                $('#Remarks2').val(data[0].Remarks2);
                $('#btnReset').addClass('hidden');
                $('#btnCancel').removeClass('hidden');
                if (data[0].Flag == 1)
                {
                    $('#txtOBL').prop('checked', true);
                    $('#Type').val('OBL');
                    PopulateData(1);
                }
                else if(data[0].Flag == 2)
                 {
                    $('#txtShipbill').prop('checked', true);
                    $('#Type').val('Shipbill');
                    PopulateData(2);
                }
                else if(data[0].Flag == 3)
                {
                    $('#txtContainer').prop('checked', true);
                    $('#Type').val('CONTAINER');
                    PopulateData(2);
                }

                if (data[0].AuctionDestruction == 'Auction') {
                    $('#txtAuction').prop('checked', true);
                    $('#AuctionDestruction').val('Auction');
                    //PopulateData(1);
                }
                else {
                    $('#txtDestruction').prop('checked', true);
                    $('#AuctionDestruction').val('Destruction');
                   // PopulateData(2);
                }

            }
        });
    }

    function DeleteNocData(NocID)
    {
        var r = confirm("Are You Sure You Want To Delete?");
        if (r == true) {
            $.ajax({
                type: 'GET',
                url: '/Auction/Dnd_Auction/DeleteNoc?NocID=' + NocID + '',
                dataType: 'JSON',
                success: function (data) {
                    $('#msgDiv').html(data.Message);
                    $('#btnReset').removeClass('hidden');
                    $('#btnCancel').addClass('hidden');
                    setTimeout(Reset, 3000);
                }
            });
        }
       
    }
    function Reset()
    {
        $('#DivBody').load('/Auction/Dnd_Auction/NOCDetails');
    }
    function Cancel() {
        $('#DivBody').load('/Auction/Dnd_Auction/NOCDetails');
    }

</script>

