

@if (ViewBag.Payer != null)
{
    <input type="hidden" id="hdnPayee" value="@ViewBag.Payer" />
}
else
{
    <input type="hidden" id="hdnPayee" value="" />
}



@using (Ajax.BeginForm("AddEditMiscInvoice", "Kol_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "MiscInvoice" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("MiscInvModelJson")
    @Html.Hidden("CGSTPer")
    @Html.Hidden("SGSTPer")
    @Html.Hidden("IGSTPer")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")
    @Html.Hidden("SACCode")
    @Html.Hidden("ServiceType")
    @Html.Hidden("SEZValue")
    @Html.ValidationSummary()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Misc.Invoice</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2_5">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2_5">
                                <div class="boolean-container">
                                    @Html.RadioButton("PartyType", "Importer", new { id = "Importer", @onclick = "IVParty('Importer')" })
                                    <label for="Importer"><i class="circle"></i><span>Importer</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("PartyType", "Exporter", new { id = "Exporter", @onclick = "IVParty('Exporter')" })
                                    <label for="Exporter"><i class="circle"></i><span>Exporter</span></label>
                                </div>
                            </div>


                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("PartyType", "CHA", new { id = "CHA", @onclick = "IVParty('CHA')" })
                                    <label for="CHA"><i class="circle"></i><span>CHA</span></label>
                                </div>
                            </div>



                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("PartyType", "Ledger", new { id = "Ledger", @onclick = "IVParty('Ledger')" })
                                    <label for="Ledger"><i class="circle"></i><span>Ledger Holder</span></label>
                                </div>
                            </div>

                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("PartyType", "All", new { id = "All", @checked = true, @onclick = "IVParty('All')" })
                                    <label for="All"><i class="circle"></i><span>All</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-1-5">
                                <label>Invoice Date:</label>
                            </div>
                            <div class="col-md-2 Date_Img">
                                @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                            </div>
                            <div class="col-md-1-5" style="display:none;">
                                <label>Delivery Date:</label>
                            </div>
                            <div class="col-md-2 Date_Img" style="display:none;">
                                @Html.TextBox("DeliveryDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Party Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.Hidden("PartyId")
                                @Html.TextBox("PartyName", "", new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                <span style="color:red" id="ErrPartyName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Payer Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.Hidden("PayeeId")
                                @Html.TextBox("PayeeName", "", new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>
                                <span style="color:red" id="ErrPayeeName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("GSTNo", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>


                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Size:</label>
                            </div>
                            <div class="col-md-2">

                                @Html.DropDownList("Size", new List<SelectListItem> {
                       new SelectListItem { Text="20",Value="20"},
                       new SelectListItem { Text="40",Value="40"}
                   }, "----Select----", new { @class = "form-contol input-sm dropdown" })
                                @Html.ValidationMessage("Size", "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>SEZ</label>
                            </div>
                            <div class="col-md-4 col_cus_3">
                                @Html.DropDownList("SEZ", new List<SelectListItem>
                               {
                                new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }
                                }, "----Select----", new { @class = "form-control input-sm" })
                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Purpose:</label>
                            </div>
                            <div class="col-md-4">

                                @Html.Hidden("PurposeCode")
                                @Html.Hidden("PurposeCharge")
                                @if (ViewBag.PurposeList != null)
                                {
                                    @Html.DropDownList("Purpose", (List<SelectListItem>)ViewBag.PurposeList, "--Select--", new { @class = "form-control input-sm dropdown" })
                                }
                                else
                                {
                                    @Html.DropDownList("Purpose", new List<SelectListItem> { }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                }
                                <span style="color:red" id="ErrPurpose"></span>
                            </div>

                        </div>
                    </div>


                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> SacCode:</label>
                            </div>
                            <div class="col-md-4">

                                @Html.Hidden("SacCode")
                                @Html.Hidden("SacGst")
                                @Html.TextBox("Sac", "", new { @readonly = true })
                                <span style="color:red" id="ErrSac"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Amount:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("amount", "", new { @class = "form-control input-sm", @onblur = "return caltotal();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                <span style="color:red" id="Erramount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> CGST:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("cgst", "", new
                                   { @*@onblur = "return caltax();",*@ @readonly = true,
                                       onkeypress = "return AllowOnlyDecimal(event)",
                                       maxlength = "11"
                                   })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label> SGST:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("sgst", "", new
                                   { @*@onblur = "return caltax();",*@ @readonly = true,
                                       onkeypress = "return AllowOnlyDecimal(event)",
                                       maxlength = "11"
                                   })
                            </div>

                            <div class="col-md-1-5 col_cus_2">
                                <label> IGST:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("IGST", "", new
                                   { @*@onblur = "return caltax();",*@ @readonly = true,
                                       onkeypress = "return AllowOnlyDecimal(event)",
                                       maxlength = "11"
                                   })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Total:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("total", "", new { @readonly = true })
                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Round Up:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("round_up", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> Invoice Amount:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("InvoiceAmt", "", new { @readonly = true })
                            </div>

                        </div>
                    </div>
                   
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Narration:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextArea("Naration", new { @style = "height:75px;", @maxlength = "500" })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivMiscInvMsg" style="background-color:transparent"></div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-1-5 col-md-2">
                            <input type="button" value="Save" onclick="BindJson()" class="btn log_Btn_sm" id="btnSave" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" id="BtnGenerateIRN" class="btn log_Btn_sm" value="Generate IRN" onclick="GenerateIRN()" disabled="disabled" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Print" class="btn log_Btn_sm" onclick="Print()" id="btnPrint" disabled />
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-offset-4 col-md-2">
                                <input type="text" placeholder="Search by Invoice No" id="SearchInvoiceNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" placeholder="Date (dd/mm/yyyy)" id="SearchInvoiceDate" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12" id="DivListOfInvoice">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <td>Sl No</td>
                                            <td>Invoice No</td>
                                            <td>Invoice Date</td>
                                            <td>Party Name</td>
                                            <td>Print</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @{
                        if (ViewBag.PaymentParty != null)
                        {
                            foreach (var item in ViewBag.PaymentParty)
                            {
                                <li id="@item.PartyId" onclick="selectParty('@item.PartyId','@item.PartyName','@item.GSTNo','@item.Address','@item.State','@item.StateCode')">@item.PartyName  - @item.PartyAlias</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payer</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @{
                        if (ViewBag.PaymentPayer != null)
                        {
                            foreach (var item in ViewBag.PaymentPayer)
                            {
                                <li id="@item.PartyId" onclick="selectPayee('@item.PartyId','@item.PartyName')">@item.PartyName - @item.PartyAlias</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var partytype = 5;

    function IVParty(ptype) {
        if (ptype == "Importer") {
            partytype = 1;
        }
        else if (ptype == "Exporter") {
            partytype = 2;
        }
        else if (ptype == "CHA") {
            partytype = 3;
        }

        else if (ptype == "Ledger") {
            partytype = 4;
        }

        else if (ptype == "All") {
            partytype = 5;
        }



        $('#PartyName').val('');

        $('#GSTNo').val('');
        $('#PayeeName').val('');

        $.ajax({
            url: '/CashManagement/Kol_CashManagement/LoadPartyonSelection',
            type: 'GET',
            data: { PTYpe: partytype },
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    //debugger;
                    var html = '';

                    $.each(data.Data, function (item, elem) {

                        debugger;
                        html += '<li  onclick="selectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GSTNo + '&quot;,&quot;' + elem.Address + '&quot;,&quot;' + elem.State + '&quot;,&quot;' + elem.StateCode + '&quot;);" >' + elem.PartyName + ' - ' + elem.PartyAlias + '</li>';

                    });
                    $('#lstParty').html(html);
                }
            }
        });

    }
    $(document).ready(function () {
        $('#DeliveryDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }
        });

        $('#InvoiceDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }
        });
    });
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(PartyId, PartyName, GSTNo, Address, State, StateCode) {
        debugger;
        $('#PartyId').val(PartyId);
        $('#PartyName').val(PartyName);
        $('#GSTNo').val(GSTNo);
        $('#hdnAddress').val(Address);
        $('#hdnState').val(State);
        $('#hdnStateCode').val(StateCode);
        if ($('#MiscInvModelJson').val() != null && $('#MiscInvModelJson').val() != '' && $('#MiscInvModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#MiscInvModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();
            $('#MiscInvModelJson').val(JSON.stringify(rawJson));
        }
        document.getElementById("ErrPartyName").innerHTML = "";
        var PayeeJson = JSON.parse($('#hdnPayee').val());

        var Payee = $.grep(PayeeJson, function (item) { return item.PartyId == PartyId; })[0];
        if (typeof (Payee) == 'undefined') {
        }
        else {
            $('#PayeeId').val(PartyId);
            $('#PayeeName').val(PartyName);
        }
        $("#PartyModal").modal("hide");
    }
    function selectPayee(PartyId, PartyName) {
        $('#PayeeId').val(PartyId);
        $('#PayeeName').val(PartyName);
        $("#PayeeModal").modal("hide");
    }
    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        TaxType = Type;
        $('#DivBody').load('/CashManagement/Kol_CashManagement/CreateMiscInvoice?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else {
        $('#Bill').prop('checked', true);
        $('#cgst').val(0);
        //$('#cgst').prop('readonly', true);
        $('#sgst').val(0);
        //$('#sgst').prop('readonly', true);
        $('#IGST').val(0);
        //$('#IGST').prop('readonly', true);
    }
    $('#Purpose').change(function () {
        debugger;
        if ($('#PartyName').val() == '') {
            $('#ErrPartyName').html('Fill Out This Field');
            $('#Purpose').val("");
            return false;
        }
        if ($('#PayeeName').val() == '') {
            $('#ErrPayeeName').html('Fill Out This Field');
            $('#Purpose').val("");
            return false;
        }

        var PurValue = $("#Purpose option:selected").text();
        var SacCode = $('#Purpose').val();
        $('#PurposeCharge').val(PurValue);
        $('#PurposeCode').val(SacCode);

        $('#ErrPartyName,#ErrPayeeName,#ErrPurpose').html('');
        $('#Sac').val(SacCode);
        if ($('#PurposeCharge').val() != '') {
            if ($('#PurposeCharge').val() == "De Stuffing  of Import Cargo in to the Container") {
                if ($('#Size').val() == '') {
                    alert("Please select Size when Destuffing Charges");
                    $('#Purpose').val('');
                    $('#Sac').val('');
                    $('#SacCode').val('');

                    return false;
                }
            }

            $('#Sac').val(SacCode);
            $('#SacCode').val(SacCode);
            $('#SacGst').val(0);
        }
        else {
            $('#Sac').val('');
            $('#SacCode').val('');
            $('#SacGst').val('');
        }

        getAmount(PurValue);

        // caltotal();
    });
    $('#Sac').change(function () {
        debugger;
        if ($('#PartyName').val() == '') {
            $('#ErrPartyName').html('Fill Out This Field');
            $('#Purpose').val("");
            return false;
        }
        if ($('#PayeeName').val() == '') {
            $('#ErrPayeeName').html('Fill Out This Field');
            $('#Purpose').val("");
            return false;
        }

        var SacValue = $('#Sac').val().split('-')[0];
        var SacGst = $('#Sac').val().split('-')[1];
        $('#SacCode').val(SacValue);
        $('#SacGst').val(SacGst);

        $('#ErrPartyName,#ErrPayeeName,#ErrPurpose,#ErrSac').html('');

        // caltotal();


    });


    var flagvalue = 0;
    function getAmount(purpose) {

        debugger;
        $.ajax({
            url: '/CashManagement/Kol_CashManagement/GetInvoiceAmount',
            type: 'POST',
            async: false,
            datatype: JSON,
            data: { purpose: purpose, Size: $('#Size').val() },
            success: function (data) {

                debugger;
                if (data != undefined || data != null) {
                    debugger;
                    flagvalue = 1;
                    $('#amount').val(data.Amount);
                    $('#amount').focus();

                }
                else {
                    alert("fail");
                }
            }
        });


        if (flagvalue == 0) {
            $('#amount').val(0);
            $('#amount').focus();
        }
    }


    //calculate total amount
    function caltotal() {
        debugger;
        if ($('#amount').val() == "") {
            $('#amount').val("0.00");
            $('#round_up').val(0.00);
            $('#total').val(0.00);
            $('#cgst').val('0.00');
            $('#sgst').val('0.00');
            $('#IGST').val('0.00');
            $("#InvoiceAmt").val('0.00');
            return false;
        }

        if ($('#Sac').val() == "") {
            alert("Please Select SacCode");
            return false;
        }
        var amt = $('#amount').val();
        var round = Math.ceil(amt) - amt;
        var rounduptot = Math.ceil(amt);

        $('#round_up').val(round.toFixed(2));
        $('#total').val(rounduptot);
        $('#cgst').val('0.00');
        $('#sgst').val('0.00');
        $('#IGST').val('0.00');

        purpose = $('#PurposeCharge').val();
        purposecode = $('#PurposeCode').val();
        SacValue = $('#SacCode').val();
        GST = $('#SacGst').val();
        InvoiceType = $("input[name='InvoiceType']:checked").val();;
        PartyId = $('#PartyId').val();
        Amount = $('#amount').val();

        $.ajax({
            url: '/CashManagement/Kol_CashManagement/GetMiscInvoiceAmount',
            type: 'POST',
            async: false,
            datatype: JSON,
            data: { purpose: purpose, purposecode: purposecode, SAC: SacValue, GST: GST, InvoiceType: InvoiceType, SEZ: $('#SEZ').val(), PartyId: PartyId, Amount: Amount },
            success: function (data) {
                debugger;
                if (data != undefined || data != null) {
                    populateJsondata(data);
                    $('#PartySearch,#PayeeSearch').css('display', 'none');
                    $(':radio:not(:checked)').attr('disabled', true);
                    $("#Size").prop("disabled", true);
                    $('#SEZValue').val($('#SEZ').val());
                    $('#SEZ').prop("disabled", true);
                }
                else {
                    alert("fail");
                }
            }
        });
        document.getElementById("Erramount").innerHTML = "";
    }
    function populateJsondata(data) {
        debugger;
        $("#cgst").val(data.CGST);
        $("#sgst").val(data.SGST);
        $("#IGST").val(data.IGST);
        $("#CGSTPer").val(data.CGSTPer);
        $("#SGSTPer").val(data.SGSTPer);
        $("#IGSTPer").val(data.IGSTPer);
         $("#round_up").val(data.Round_up);
        //$("#round_up").val(0);
        $("#total").val(data.Total);
        $("#SACCode").val(data.SACCode);
        $("#InvoiceAmt").val(data.InvoiceAmt);
       // $("#InvoiceAmt").val(data.Total);
        $('#cgst').prop('readonly', true);
        $('#sgst').prop('readonly', true);
        $('#IGST').prop('readonly', true);
        $('#round_up').prop('readonly', true);
        $('#total').prop('readonly', true);
    }

    //calculate tax

    function caltax() {
        var cgst = $('#cgst').val();
        var sgst = $('#sgst').val();
        var igst = $('#IGST').val();
        var amt = $('#amount').val();
        if (amt != '') {
            var totamt = 0;
            if (cgst == '')
                cgst = 0;


            if (sgst == '')
                sgst = 0;

            if (igst == '')
                igst = 0;


            totamt = parseFloat(amt) + parseFloat(cgst) + parseFloat(sgst) + parseFloat(igst);

            var round = Math.ceil(totamt) - totamt;
            var rounduptot =Math.ceil(totamt);

            $('#round_up').val(round.toFixed(2));
            $('#total').val(rounduptot);

            if (cgst > 0 || sgst > 0) {
                $('#IGST').prop('readonly', true);
            }

            if (igst > 0) {
                cgst = 0;
                sgst = 0;
                $('#cgst').prop('readonly', true);
                $('#sgst').prop('readonly', true);
            }

        }
    }


    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivMiscInvMsg').hasClass('logErrMsg'))
                $('#DivMiscInvMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#InvoiceNo').val(data.Data);
            var AppValues = data.Data.split(",")
            $('#InvoiceNo').val(AppValues[0]);
            $('#ServiceType').val(AppValues[1]);
            $('#BtnGenerateIRN').removeAttr('disabled');
            $('#DivMiscInvMsg').html(data.Message);
            if (data.Data == "")
                $('#btnPrint').attr('disabled');
            else
                $('#btnPrint').removeAttr('disabled');
        }
        else {
            $('#btnPrint').attr('disabled');
            if ($('#DivMiscInvMsg').hasClass('logSuccMsg'))

                $('#DivMiscInvMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMiscInvMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {
        $('#DivBody').load('/CashManagement/Kol_CashManagement/CreateMiscInvoice');
    }

    function BindJson() {

        debugger;
        if ($('#PartyName').val() == '') {
            $('#ErrPartyName').html('Fill Out This Field');
            return false;
        }
        else if ($('#PayeeName').val() == '') {
            $('#ErrPayeeName').html('Fill Out This Field');
            return false;
        }
        else if ($('#Purpose').val() == '') {
            $('#ErrPurpose').html('Fill Out This Field');
            return false;
        }
        else if ($('#amount').val() == '') {
            $('#Erramount').html('Fill Out This Field');
            return false;
        }
        else if ($('#amount').val() == '0') {
            alert("Amount Should Be Greater Than 0");
            return false;
        }
        else {
            var InvoiceAmt = parseFloat($('#InvoiceAmt').val());
            if (InvoiceAmt < 0) {
                alert("InvoiceAmount should not be negative");
                return false;
            }

            var conf = confirm("Do you want to save ?");
            if (conf) {
                $('#btnSave').prop('disabled', true);
                try {
                    $('#btnSave').attr('disabled', true);
                    var data = {
                        InvoiceId: 0,
                        InvoiceDate: $('#InvoiceDate').val(),
                        DeliveryDate: $('#DeliveryDate').val(),
                        InvoiceType: TaxType,
                        PartyId: $('#PartyId').val(),
                        PartyName: $('#PartyName').val(),
                        PayeeId: $('#PayeeId').val(),
                        PayeeName: $('#PayeeName').val(),
                        PartyGST: $('#GSTNo').val(),
                        Purpose: $('#Purpose').val(),
                        Amount: $('#amount').val(),
                        CGST: $('#cgst').val(),
                        SGST: $('#sgst').val(),
                        IGST: $('#IGST').val(),
                        Round_up: $('#round_up').val(),
                        Total: $('#total').val(),
                        "InvoiceAmt": $('#InvoiceAmt').val(),
                        Naration: $('#Naration').val(),
                        InvoiceHtml: "",
                        CGSTPer: $('#CGSTPer').val(),
                        SGSTPer: $('#SGSTPer').val(),
                        IGSTPer: $('#IGSTPer').val(),
                        ChargeName: $('#Purpose :selected').text(),
                        "Address": $('#hdnAddress').val(),
                        "State": $('#hdnState').val(),
                        "StateCode": $('#hdnStateCode').val(),
                        "SACCode": $('#SACCode').val()
                    };
                    $('#MiscInvModelJson').val(JSON.stringify(data));
                    var rawJson = JSON.parse($('#MiscInvModelJson').val());

                    rawJson.InvoiceId = 0;
                    rawJson.InvoiceType = TaxType;
                    rawJson.InvoiceDate = $('#InvoiceDate').val();
                    rawJson.DeliveryDate = $('#DeliveryDate').val();
                    rawJson.PartyId = $('#PartyId').val();
                    rawJson.PartyName = $('#PartyName').val();
                    rawJson.PayeeId = $('#PayeeId').val();
                    rawJson.PayeeName = $('#PayeeName').val();
                    rawJson.PartyGST = $('#GSTNo').val();

                    rawJson.Purpose = $('#PurposeCharge').val();
                    rawJson.PurposeCode = $('#PurposeCode').val();
                    rawJson.Amount = $('#amount').val();
                    rawJson.CGST = $('#cgst').val();
                    rawJson.SGST = $('#sgst').val();
                    rawJson.IGST = $('#IGST').val();
                    rawJson.Round_up = $('#round_up').val();
                    rawJson.Total = $('#total').val();
                    rawJson.Naration = $('#Naration').val();
                    rawJson.InvoiceHtml = "";
                    $('#MiscInvModelJson').val(JSON.stringify(rawJson));
                  //  rawJson.CompanyDetails.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                   // rawJson.CompanyDetails.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //rawJson.ROAddress = (rawJson.ROAddress).replace(/\<br/>\/g, '#$');
                    rawJson.InvoiceHtml = "";
                    $('#MiscInvoice').submit();
                }
                catch (e) {
                    $('#btnSave').removeAttr('disabled');
                }
            }
        }
    }

    function Print() {
        var invoiceno = $('#InvoiceNo').val();
        if (invoiceno == '') {
            alert('No Invoice No.');
            return;
        }

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetBulkInvoiceReportNew", "ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'MiscInv',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'ASSESSMENT SHEET LCL',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function Validate() {;
        var date = document.getElementById("SearchInvoiceDate").value.split("/");
        var day = date[0];
        var month = date[1];
        var dateString = document.getElementById("SearchInvoiceDate").value;
        var regex = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
        //if (regex.test(dateString) || dateString.length == 0) {
        //    alert("Please enter correct date");
        //    return false;
        //}
        if (day > 31) {
            alert("Please enter correct date");
            return false;
        }
        else
            if (month > 12) {
                alert("Please enter correct Month");
                return false;
            }
        return true;
    }
    function ShowList() {
        debugger;
        $('#SearchInvoiceNo').val("");
        $('#SearchInvoiceDate').val("");
        $('#DivListOfInvoice').load('/CashManagement/Kol_CashManagement/ListOfMiscInvoice?Module=MiscInv');
    }
    function SearchInvoice() {
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true)
            $('#DivListOfInvoice').load('/CashManagement/Kol_CashManagement/ListOfMiscInvoice?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + "&Module=MiscInv");
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/CashManagement/Kol_CashManagement/ListOfMiscInvoice?InvoiceNo=' + InvoiceNo + "&Module=MiscInv");
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/CashManagement/Kol_CashManagement/ListOfMiscInvoice?InvoiceDate=' + InvoiceDate + "&Module=MiscInv");
    }
</script>

<script>

   
   

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }


    function GenerateIRN() {
        $.ajax({
            url: '/Import/CWCImport/GetIRNForYardInvoice',
            type: 'POST',
            data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#ServiceType').val() },
            // headers:{"__RequestVerificationToken":Token},
            dataType: 'JSON',
            success: function (data) {

                alert(data.Message);
            }
        });
    }


    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
</script>