@model IEnumerable<CwcExim.Areas.CashManagement.Models.ReceiptVoucherModel>

<div>
    
    <script>
        $(document).ready(function () {
            var table = $('#DivTblReceiptVoucherList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "Action", "bSortable": false, "width": "5%" },
                    { "sName": "Voucher No", "bSortable": false, "width": "15%" },
                    { "sName": "Voucher Date", "bSortable": false },
                    { "sName": "Purpose", "bSortable": false },
                    { "sName": "Amount", "bSortable": false },
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
        function Print(RecptId, vno, vdt, vps, amt, nrt) {
            debugger;
            //window.open("../../Docs/ReceiptVoucher/" + RecptId + "/ReceiptVoucher.pdf?t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
            var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='text-align:center;'>CENTRAL WAREHOUSING CORPORATION (FORMAT-X)<br/>Principal Place of Business:___________________<br/>Receipt Voucher<br/><p style='text-align:right;'>ORIGINAL FOR RECIPIENT</p></th></tr></thead> <tbody> <tr><td><table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse: collapse;'><tbody><tr><td style='border:1px solid #000;'>Details of Service Provider</td><td style='border:1px solid #000;'>Details of Service Receiver</td></tr><tr><td style='border:1px solid #000;'>Name : <span>Central Warehouse</span></td><td style='border:1px solid #000;'>Voucher No: <span>" + vno/*$('#VoucherNo').val()*/ + "</span></td></tr><tr><td style='border:1px solid #000;'>Warehouse Address:<span></span></td><td style='border:1px solid #000;'>Voucher Date:<span>" + vdt/*$('#PaymentDate').val()*/ + "</span></td></tr><tr><td style='border:1px solid #000;'>City:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State Code:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>GSTIN:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>PAN:<span></span></td><td style='border:1px solid #000;'></td></tr></tbody></table> </td></tr><tr><td style='border-bottom:1px solid #000;padding-top:40pt;font-size:9pt;'><strong>Receipt Purpose:</strong><span>" + vps/*$('#Purpose option:selected').text()*/ + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Receipt Amount:</strong>					<span>" + amt/*$('#Amount').val()*/ + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Narration:</strong><span>" + nrt/*$('#Narration').val()*/ + "</span></td></tr></tbody></table>";
            var PostData = new FormData();
            PostData.append("ReceiptId", RecptId);
            PostData.append("Page1", html1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateReceiptVoucher", "Kol_CashManagement", new { area = "CashManagement" })',
                data: PostData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + '?t=' + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                }
            });
        }
    </script>
    <table id="DivTblReceiptVoucherList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
                <th>Voucher No</th>
                <th>Voucher Date</th>
                <th>Purpose</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;"><div class="table_icon"><a href="#" onclick="Print('@item.ReceiptId','@item.VoucherNo','@item.PaymentDate','@item.Purpose','@item.Amount','@item.Narration.Replace("\r\n","<br/>")')"><i class="fa fa-print" aria-hidden="true"></i></a></div></td>
                    <td>@Html.DisplayFor(modelItem => item.VoucherNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>                    
                </tr>                
            }
        </tbody>
    </table>
</div>

