@model CwcExim.Areas.CashManagement.Models.TransactionStatusEnquiry

<style>
    #AcknowledgementModal .modal-content{
        width: 80%;
    }

    #AcknowledgementModal h5 {
        margin-bottom: 2rem;        
    }

    #AcknowledgementModal h5:last-child{
        border:0;
        margin-bottom:0;
    }

    #AcknowledgementModal .modal-footer button {
        float: left;
        width: 20%;        
    }
</style>

<div class="container-fluid">
    <div class="col-md-11 col-md-offset-0-5">
        <div class="Head_h4">
            @using (Ajax.BeginForm("GetTransactionStatusEnquiryCcavn", "Kol_CashManagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccess", LoadingElementDuration = 1000, LoadingElementId = "divProgress" }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <h4>Transaction Status Enquiry</h4>
                    </div>
                </div>
                @Html.AntiForgeryToken()

                <div class="row Form_Space_top">
                    <div class="Form_Input form-group">
                        <div class="col-md-2">
                            <label>Invoice No:</label>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.HiddenFor(x => x.InvoiceId)
                            @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                            @Html.ValidationMessageFor(m => m.InvoiceNo)
                            <span class="search" id="FromINV" onclick="LoadInvoiceNo()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#FromInvoiceList"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-4 SignUp_space_bottom">
                        <input type="submit" class="btn log_Btn_sm" value="Payment Status" id="btnSaveInvoice" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Reset" id="btnResetInvoice" onclick="RefreshPage()" />
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div id="DivSDRefundList"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="modal fade" id="FromInvoiceList" role="dialog">
    <div class="modal-dialog">
        Modal content
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Invoice No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Invoicebox" type="text" />
                <ul class="navList" id="lstInvoice"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade mTabindex" id="FromInvoiceList" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Invoice No</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                @*<input placeholder="Search By Shipping Line Name Or Party Code" id="ShpngLinebox" type="text" tabindex="200" autofocus />*@
                <input placeholder="Search Me" id="Invoicebox" type="text" />
                @*<span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>*@

                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Invoice No</th>                           
                        </tr>
                    </thead>
                </table>

                <div id="slim_scroll">
                    <table tabindex="201" class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                      
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                       
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrader()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AcknowledgementModal" role="dialog">
    <div class="modal-dialog">
        <input type="hidden" id="OrderId" />
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Acknowledgement</h4>
            </div>
            <div class="modal-body popup_body" id="tblsucess">
                <div class="row" style="border-bottom: 1px dashed #ccc; padding-bottom: 10px;">
                    <div class="col-md-6">
                        <h6><b>Transaction ID :</b> <span id="TransactionID"></span></h6>
                    </div>
                    <div class="col-md-6">
                        <h6><b>Transaction Date & Times :</b> <span id="TransactionDateTime"></span></h6>
                    </div>
                </div> 
                
                <div class="row" style="border-bottom: 1px dashed #ccc; padding-bottom: 10px;">
                    <div class="col-md-6">
                        <h6><b>Amount :</b> <span id="TransactionAmount"></span></h6>
                    </div>
                    <div class="col-md-6">
                        <h6><b>Status :</b> <span id="TransactionStatus"></span></h6>
                    </div>
                </div>                                                                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <button type="button" class="btn log_Btn_sm" style="margin-left: 29%;" onclick="SaveReportPdf()">Print</button>
                    <button type="button" class="btn log_Btn_sm" onclick="Back()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden"  value="" id="hdnOrderId"/>
<input type="hidden" value="" id="hdntracking_id" />
<input type="hidden" value="" id="hdnbank_ref_no" />
<input type="hidden" value="" id="hdnorder_status" />
<input type="hidden" value="" id="hdnamount" />
<input type="hidden" value="" id="hdntrans_date" />

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    var TimeInSeconds = 5000;
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
       
    });
    function RefreshPage() {
        $('#InvoiceId').val(0);
        $('#InvoiceNo').val('');
    }
    function LoadInvoiceNo() {
        debugger;
        $('#tbleSline').html("");
        $.ajax({
            url: '/CashManagement/Kol_CashManagement/GetInvoiceListForTransactionStatusEnquiry',
            type: 'GET',
            data: { InvoiceNo: '', Page: 0 },
            success: function (data) {
                debugger;
                var html = '';
                $.each(data, function (item, elem) {

                    html += '<tr><td onclick="SelectInvoiceNo(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)">' + elem.InvoiceNo + '</td></tr>';
                });
                $('#tbleSline').html(html);
            }
        });
    }

    function SearchInvoiceNo(InvoiceNo) {
        //debugger;
        $('#tbleSline').html("");
        $.ajax({
            url: '/CashManagement/Kol_CashManagement/GetInvoiceListForTransactionStatusEnquiry',
            type: 'GET',
            data: { InvoiceNo: InvoiceNo, Page: 0 },
            success: function (data) {
                //debugger;
                var html = '';
                $.each(data, function (item, elem) {
                    html += '<tr><td onclick="SelectInvoiceNo(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)">' + elem.InvoiceNo + '</td></tr>';
                });
                $('#tbleSline').html(html);
            }
        });
    }

    function SelectInvoiceNo(InvoiceId, InvoiceNo) {
        $('#InvoiceId').val(InvoiceId);
        $('#InvoiceNo').val(InvoiceNo);
        $('#FromInvoiceList').modal('hide');
    }

    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('Invoicebox').addEventListener('keyup', debounce(function () {
        var InvoiceNo = $('#Invoicebox').val();
        SearchInvoiceNo(InvoiceNo);
    }, 800));

    function OnSuccess(data) {
        debugger;
        if (data.Status == "1") {


            var a = data.resdata;
            var jsondata = JSON.parse(data.resdata);
            $('#TransactionStatus').text(data.Message);
            $('#hdnOrderId').val(jsondata.order_no);
            $('#hdntracking_id').val(jsondata.reference_no);
            $('#hdnbank_ref_no').val(jsondata.order_bank_ref_no);
            $('#hdnorder_status').val(data.Message);
            $('#hdntrans_date').val(jsondata.order_date_time);
            $('#hdnamount').val(jsondata.order_amt);


            $('#OrderId').val(jsondata.order_no);
            $('#TransactionID').text(jsondata.order_no);
            $('#TransactionDateTime').text(jsondata.order_date_time);
            $('#TransactionAmount').text(jsondata.order_amt);
            $('#TransactionStatus').text(data.Message);
            // alert(a);
            $('#AcknowledgementModal').modal('show');
        }
        else if(data.Status=="2")
        {
            alert('Something Worng...');
        }
        else if(data.Status=="3")
        {
            alert('Duplicate entry')
        }


        //if (data.Status == 'SUCCESS') {
        //    $('#btnSaveInvoice').prop('disabled', true);
        //    RefreshPage();
        //}
        //else {

        //    $('#btnSaveInvoice').prop('disabled', false);
        //}
    }
    function OnFailure() {
        alert("Something went wrong , Please check data");
    }


    function Back()
    {
        $('#AcknowledgementModal').modal('hide');
    }

    function CloseEximTrader()
    {
        $('#FromInvoiceList').modal('hide');
    }
    var page = 0;
    function LoadMoreEximTrader()
    {
        page = page + 1;
        $.ajax({
            url: '/CashManagement/Kol_CashManagement/GetInvoiceListForTransactionStatusEnquiry',
            type: 'GET',
            data: { InvoiceNo: '', Page: page },
            success: function (data) {
                //debugger;
                var html = '';
                $.each(data, function (item, elem) {
                    html += '<tr><td onclick="SelectInvoiceNo(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)">' + elem.InvoiceNo + '</td></tr>';
                });
                $('#tbleSline').append(html);
            }
        });
    }


    function SaveReportPdf() {
        var PostData = new FormData();

        var html = "";
        html = html + '<h6 style="text-align:center;"><img src="~/Content/Images/green_tick.png" /></h6>';
       
            html = html + '<h3 style="text-align:center; color:#2fab73; font-size:22px; font-weight:normal;">Acknowledgement</h3>';
      
       
        html = html + '<div id="tblsucess">';
        html = html + '<table cellspacing="0" cellpadding="10" style="width:90%; border: 1px solid #656565; color:#656565; font-size:14px; margin:15px auto 0; font-family: Arial, Helvetica, sans-serif;">';
        html = html + '<tbody>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Order ID :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">' + $('#hdnOrderId').val() + '</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Tracking ID :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">' + $('#hdntracking_id').val() + '</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Bank Reference No :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">' + $('#hdnbank_ref_no').val() + '</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Order Status :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">' + $('#hdnorder_status').val() + '</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-bottom:1px solid #656565; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Amount :</th>';
        html = html + '<td style="padding:10px 0; border-bottom:1px solid #656565;" align="right" colspan="6" width="50%">' + $('#hdnamount').val() + '</td>';
        html = html + '</tr>';
        html = html + '<tr>';
        html = html + '<th style="padding:10px 0; border-right:1px solid #656565;" align="left" colspan="6" width="50%">Transaction Date :</th>';
        html = html + '<td style="padding:10px 0;" align="right" colspan="6" width="50%">' + $('#hdntrans_date').val() + '</td>';
        html = html + '</tr>';
        html = html + '</tbody>';
        html = html + '</table>';
        html = html + '</div>';
       
        var PostData = new FormData();
        PostData.append("Page", html);

        PostData.append("OrderId", $('#OrderId').val());

     //   PostData.append("Page", $('#tblsucess').html());
       // PostData.append("OrderId", $('#OrderId').val());

        // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDeStuffingReportPDF", "Kol_CashManagement", new { area = "CashManagement" })',
           // headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>

@Scripts.Render("~/bundles/jqueryval")


