@model CwcExim.Areas.CashManagement.Models.CancelInvoice


  <script>
   
    function ReloadCancelInvoice() {
        $('#DivBody').load('/CashManagement/Amd_CashManagement/CancelInvoice');
    }

</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
@using (Ajax.BeginForm("AddEditCancleInvoice", "Amd_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "CancelInvoiceOnSuccess", OnFailure = "CancelInvoiceOnFailure" }, new { @Id = "CancelInvoiceForm" }))
               
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CancelDate)
                    <div id="divCancelInvoice">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Cancel Invoice</h4>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Invoice No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.Irn)
                                    @Html.HiddenFor(m => m.InvoiceId)
                                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input-sm", @readonly = true })
                                    
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Invoice Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.InvoiceDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Amount:</label>
                                </div>
                                <div class="col-md-2-5">                                
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control input-sm", @readonly = true })  
                                </div>
                                
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Party Name</label>
                                </div>
                                <div class="col-md-10-5">                                   
                                    @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = true })                                                                    
                                </div>
                            </div>                            
                        </div>   
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Cancel Reason:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CancelReason, new { @class = "form-control input-sm", @readonly = true })                               
                                </div>

                            </div>
                        </div>
                                            
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Remarks :</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10 Error_Msg">
                                    @Html.TextAreaFor(m => m.CancelRemarks, new { @style = "height:75px;", @readonly = true })                                
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Exit" onclick="ReloadCancelInvoice()" />
                        </div>                     

                    </div>
                    <div class="logSuccMsg" style="background-color:transparent" id="DivCancelInvoiceMsg"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivCancelInvoiceErrMsg"></div>
                }
                @Scripts.Render("~/bundles/jqueryval")


            </div>
        </div>
    </div>
</div>




