@model IEnumerable<CwcExim.Areas.Report.Models.IRNResponseModel>

<style>
    .text-right {
        text-align: right;
    }
</style>

<table class="table table-bordered table-striped" id="tblInvoiceInfo" style="width:100%">
    <thead>
        <tr>
            <th class="text-center" width="50px">@Html.DisplayName("Sl No")</th>
            <th width="70px">Date</th>
            <th width="100px">Invoice No</th>
            <th width="70px">Invoice Ref No</th>
            <th width="70px">IRN Response</th>
            <th width="70px">Error Message</th>

        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@SerialNo</td>
                    <td>@item.IRNDate</td>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.IRNRefNo</td>
                    <td>@item.IRNResponse</td>
                    <td>@item.ErrorMessage</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
@*<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>*@
<script>
    $(document).ready(function () {
        var tblInvoiceInfo = $('#tblInvoiceInfo').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 10,
            "aoColumns": [
                { "sName": "SL No", "class": "text-center", "width": "50px" },
                { "sName": "Date", "width": "70px" },
                { "sName": "Invoice No", "width": "70px" },
                { "sName": "IRN Ref No", "width": "100px" },
                { "sName": "IRN Response", "bSortable": false, "width": "70px" },
                { "sName": "Error Message", "bSortable": false, "width": "70px" },

            ]
        });
        new $.fn.dataTable.FixedHeader(tblInvoiceInfo);
    });


    //var Page = 0;
    //function LoadMoreListData() {
    //    debugger;
    //    //Page = Page + 1;

    //    var PeriodFrom = $("#PeriodFrom").val();
    //    var PeriodTo = $("#PeriodTo").val();
    //    var invNo = $("#InvoiceNumber").val().trim();
    //    var PartyGSTNo = $("#PartyGSTNo").val().trim();
    //    var PartyName = $("#PartyName").val().trim();
    //    var RefInvoiceNo = $("#RefInvoiceNo").val().trim();
    //    if (PartyName != "") {
    //        PartyName = PartyName.replace(/\s/g, "");
    //    }
    //    $.ajax({
    //        url: '/Report/LNSM_ReportCWC/GetLoadMoreCreditNote',
    //        type: 'GET',
    //        dataType: 'JSON',
    //        data: { Page: Page + 1, PeriodFrom: PeriodFrom, PeriodTo, invNo: invNo, PartyGSTNo: PartyGSTNo, PartyName: PartyName, RefInvoiceNo: RefInvoiceNo},
    //        success: function (data) {
    //            debugger;
    //            if (data != null && data != '' && data != undefined && data.length > 0) {
    //                Page++;
    //                var html = '';
    //                var dt = $('#tblInvoiceInfo').dataTable();
    //                var len = dt.fnGetData().length;
    //                $.each(data, function (i, item) {
    //                    debugger;
    //                    len++;
    //                    dt.fnAddData([
    //                    len,
    //                    [item.InvoiceNumber],
    //                    [item.RefInvoiceNo],
    //                    [item.InvoiceDate],
    //                    [item.PartyGSTNo],
    //                    [item.PartyName],
    //                    [item.TotalAmt],
    //                    ['<a href="#" onclick=PrintInvoiceDetails(' + [item.InvoiceId] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],
    //                    ]);
    //                });
    //            }
    //            else {
    //                alert('No more data available');
    //            }
    //        }
    //    });
    //}





</script>

