@model IEnumerable<CwcExim.Areas.Report.Models.LNSM_JsonRespnStatusModel>

<style>
    .text-right {
        text-align: right;
    }
</style>
<table id="" class="table table-striped table-bordered nowrap dataTable no-footer" cellspacing="0" style="width: 100%;">
    <thead>
        <tr role="row">
            <th style="width: 115px;">SL NO</th>
            <th style="width: 115px;">Particulars</th>
            <th style="width: 331px;">Transaction Date</th>
            <th style="width: 246px;">Status</th>
            <th style="width: 170px;text-align: center;">JSON</th>
            <th style="width: 170px;text-align: center;">Response JSON</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@SerialNo</td>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.InvoiceDate</td>
                    <td>@item.Message</td>
                    <td style="text-align: center;"><a href="#" style="color: #000; font-size: 16px;"><i class="fa fa-download" aria-hidden="true" onclick="PrintJson(@item.InvoiceId)"></i></a></td>
                    <td style="text-align: center;"><a href="#" style="color: #000; font-size: 16px;"><i class="fa fa-download" aria-hidden="true"  onclick="PrintJsonResponse(@item.InvoiceId)"  ></i></a></td>

                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
@*<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>*@
<script>
    $(document).ready(function () {
        var tblInvoiceInfo = $('#tblInvoiceInfo').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 10,
            "aoColumns": [
                { "sName": "SL No", "class": "text-center", "width": "50px" },
                { "sName": "Particulars", "width": "70px" },
                { "sName": "Transaction Date", "width": "70px" },
                { "sName": "Status", "width": "100px" },
          
                { "sName": "JSON", "width": "100px" },
                { "sName": "Response JSON", "width": "100px" },
            ]
        });
        new $.fn.dataTable.FixedHeader(tblInvoiceInfo);
    });


    @*var Page = 0;
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;

        var PeriodFrom = $("#PeriodFrom").val();
        var PeriodTo = $("#PeriodTo").val();
        var invNo = $("#InvoiceNumber").val().trim();
        var PartyGSTNo = $("#PartyGSTNo").val().trim();
        var PartyName = $("#PartyName").val().trim();
        var RefInvoiceNo = $("#RefInvoiceNo").val().trim();
        if (PartyName != "") {
            PartyName = PartyName.replace(/\s/g, "");
        }
        $.ajax({
            url: '/Report/LNSM_ReportCWC/GetLoadMoreCreditNote',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1, PeriodFrom: PeriodFrom, PeriodTo, invNo: invNo, PartyGSTNo: PartyGSTNo, PartyName: PartyName, RefInvoiceNo: RefInvoiceNo},
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblInvoiceInfo').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
                        len,
                        [item.InvoiceNumber],
                        [item.RefInvoiceNo],
                        [item.InvoiceDate],
                        [item.PartyGSTNo],
                        [item.PartyName],
                        [item.TotalAmt],
                        ['<a href="#" onclick=PrintInvoiceDetails(' + [item.InvoiceId] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],
                        ]);
                    });
                }
                else {
                    alert('No more data available');
                }
            }
        });
    }



    function PrintInvoiceDetails(InvoiceId) {

        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetCreditNotePrint", "LNSM_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: { CRNoteId: InvoiceId },
            success: function (data) {
                debugger;
                //if (data.Status == 1) {
                //    debugger;
                //    window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                //}
                if (data.Status == 1) {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }*@

    function PrintJson(id) {
        debugger;
        var type = $("#IntType").val();
        if (type == "IRN") {
            location.href = "/LNSM_ReportCWC/GetJsonStringFile?InvoiceId=" + id;

        }
        else
        {
            location.href = "/LNSM_ReportCWC/GetReciptJsonStringFile?InvoiceId=" + id;

        }

    }
    function PrintJsonResponse(id) {

        debugger;
        var type = $("#IntType").val();
        if (type == "IRN") {
            location.href = "/LNSM_ReportCWC/GetJsonResponseStringFile?InvoiceId=" + id;

        }
        else {
            location.href = "/LNSM_ReportCWC/GetJsonResponseCashReciptString?InvoiceId=" + id;

        }

    }
</script>

