@model IEnumerable<CwcExim.Areas.Report.Models.LNSM_InvoiceInformation>

<style>
    .text-right{
        text-align: right;
    }
</style>

<table class="table table-bordered table-striped" id="tblInvoiceInfo" style="width:100%">
    <thead>
        <tr>
            <th class="text-center" width="50px">@Html.DisplayName("Sl No")</th>
            <th width="70px">Invoice No</th>
            <th width="100px">Ref. Invoice No</th>
            <th width="70px">Invoice Date</th>
            <th width="70px">GST No</th>
            <th width="150px">Party Name</th>
            <th class="text-right" width="100px">Amount</th>
            <th class="text-center" width="30px">Print</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@SerialNo</td>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.RefInvoiceNo</td>
                    <td>@item.InvoiceDate</td>
                    <td>@item.PartyGSTNo</td>
                    <td>@item.PartyName</td>
                    <td>@item.TotalAmt</td>
                    <td class="text-center"><a href="#" onclick="PrintInvoiceDetails('@item.InvoiceId')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    $(document).ready(function () {
        var tblInvoiceInfo = $('#tblInvoiceInfo').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 10,
            "aoColumns": [
                       { "sName": "SL No", "class": "text-center", "width": "50px" },
                       { "sName": "Invoice No", "width": "70px" },
                       { "sName": "Ref. Invoice No", "width": "100px" },
                       { "sName": "Invoice Date", "bSortable": false, "width": "70px" },
                       { "sName": "GST No", "bSortable": false, "width": "70px" },
                       { "sName": "Party Name", "bSortable": false, "width": "150px" },
                       { "sName": "Amount", "class": "text-right", "bSortable": false, "width": "100px" },
                       { "sName": "Print", "bSortable": false, "width": "30px" },
            ]
        });
        new $.fn.dataTable.FixedHeader(tblInvoiceInfo);
    });


    var Page = 0;
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;

        var PeriodFrom = $("#PeriodFrom").val();
        var PeriodTo = $("#PeriodTo").val();
        var invNo = $("#InvoiceNumber").val().trim();
        var PartyGSTNo = $("#PartyGSTNo").val().trim();
        var PartyName = $("#PartyName").val().trim();
        if (PartyName != "") {
            PartyName = PartyName.replace(/\s/g, "");
        }
        $.ajax({
            url: '/Report/LNSM_ReportCWC/GetLoadMoreInvoiceInformation',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1, PeriodFrom: PeriodFrom, PeriodTo, invNo: invNo, PartyGSTNo: PartyGSTNo, PartyName: PartyName },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblInvoiceInfo').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
                        len,
                        [item.InvoiceNumber],
                        [item.RefInvoiceNo],
                        [item.InvoiceDate],
                        [item.PartyGSTNo],
                        [item.PartyName],
                        [item.TotalAmt],
                        ['<a href="#" onclick=PrintInvoiceDetails(' + [item.InvoiceId] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],
                        ]);
                    });
                }
                else {
                    alert('No more data available');
                }
            }
        });
    }



    function PrintInvoiceDetails(InvoiceId) {

        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetInvoiceInformationPrint", "LNSM_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: { InvoiceId: InvoiceId },
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    debugger;
                    window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }
            }
        });
    }
</script>

