@model CwcExim.Areas.GateOperation.Models.VIZGatePass
<script src="~/Areas/GateOperation/Scripts/App/Controllers/VIZ_GatePassCtrl.js"></script>
<div id="gatepass" ng-controller="VIZ_GatePassCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>View Gate Pass</h4>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.StringifyData)
                    @Html.HiddenFor(m => m.VehicleXml)
                    @Html.HiddenFor(m => m.GatePassId)
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Gate Pass No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GatePassNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                <label>Gate Pass Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.GatePassDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                <label>Delivery Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:50px;", @disabled = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Importer/Exporter Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ImpExpName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Shipping Line Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Excepted date and time of departure:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                <label>Expected date and time of arrival at next location:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div id="DivDestuffingDet" class="Head_h5">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container/OBL No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })*@
                                    <input name="ContainerNo" type="text" ng-model="FilterContainer" id="ContainerNo" class="form-control input-sm" readonly />
                                </div>
                                <div class="col-md-1-5">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Size", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5" style="display:none;">
                                    <div class="boolean-container">
                                        @Html.CheckBox("Reefer", false, new { @disabled = true })
                                        <label><i class="square"></i><span>Reefer</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("CargoDescription", "", new { @style = "width:100%;height:100px;", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("CargoType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="HAZ",Value="1"},
                                            new SelectListItem { Text="Non HAZ",Value="2"},
                                             new SelectListItem { Text="ODC",Value="3"}
                                        }, "----Select----", new { @class = "form-control input-sm dropdown", @disabled = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1">
                                    <label style="display:none;">Vehicle No:</label>
                                </div>
                                <div class="col-md-3 Date_Img">
                                    @Html.TextBox("VehicleNo", "", new { @class = "form-control input-sm", @style = "display:none;" })
                                    <input type="button" id="btnMultiVehicles" class="btn log_Btn_sm" value="View Vehicle Nos" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>No of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfPackages", "", new { @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                    <label>Weight:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Weight", "", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Location:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Location", "", new { @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                    <label>Port Of Dispatch:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("PortOfDispatch", "", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("Index")
                        <div class="row">
                            <div class="col-md-12" id="DivContDet">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-2 col-md-2">
                            <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnDT" class="btn log_Btn_sm" value="CIM DP" onclick="SendDT()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Vehicle And Packages Modal-->
    <div id="VehicleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Vehicle And Packages</h4>
                </div>
                <div class="modal-body popup_body">
                    {{FilterContainer}}
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>VehicleNo</th>
                                <th>Packages</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in Vehicles | filter: { ContainerNo : FilterContainer }">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{v.VehicleNo}}
                                </td>
                                <td>
                                    {{v.Package}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        //******************************************************************************************
        //var VehicleList = [];
        angular.bootstrap(document.getElementById('gatepass'), ['CWCApp']);
        $('#btnMultiVehicles').on('click', function () {

            if ($('#ContainerNo').val() != '') {
                $('#VehicleModal').modal();
            };

        });
        //******************************************************************************************
    var ContainerDetails = [];
    $(function () {
        ContainerDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyData)));
        if (ContainerDetails != null)
            GenerateTable();
    });
    function GenerateTable() {
        var html = '';
        html = '<table class="table table-bordered table-striped dataTable" id="tblContainer"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container No</th><th>Container Size</th><th style="display:none;">Reefer</th><th>Vehicle No</th><th class="text-center" style="width:10%;">View</th></tr></thead><tbody>';
        $.each(ContainerDetails, function (i, elem) {
            html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td style="display:none;">' + (elem.IsReefer == true ? 'Reefer' : 'Non Reefer') + '</td><td>' + elem.VehicleNo + '</td><td class="text-center" style="width:10%;"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivContDet').html(html);
    }
    $('#btnBack').on("click", function () {
        $('#DivBody').load('/GateOperation/VIZ_GatePass/CreateGatePass');
    });
    function EditContainerDet(i) {
        $('#ContainerNo,#Size,#CargoDescription,#NoOfPackages,#Location').val('');
        $('#IsReefer').prop('checked', false);
        $('#ContainerNo').val(ContainerDetails[i].ContainerNo);
        $('#Size').val(ContainerDetails[i].Size);
        $('#CargoDescription').val(ContainerDetails[i].CargoDescription);
        (ContainerDetails[i].CargoType > 0) ? $('#CargoType').val(ContainerDetails[i].CargoType) : $('#CargoType').val('');
        $('#Weight').val(ContainerDetails[i].Weight);
        $('#NoOfPackages').val(ContainerDetails[i].NoOfUnits);
        (ContainerDetails[i].IsReefer) ? $('#Reefer').prop('checked', true) : $('#Reefer').prop('checked', false);
        ContainerDetails[i].VehicleNo == '' ? '' : $('#VehicleNo').val(ContainerDetails[i].VehicleNo);
        ContainerDetails[i].Location == '' ? '' : $('#Location').val(ContainerDetails[i].Location);
        ContainerDetails[i].PortOfDispatch == '' ? '' : $('#PortOfDispatch').val(ContainerDetails[i].PortOfDispatch);
        $('#Index').val(i);
    }


    function SendDT() {
        var GatePassId = $('#GatePassId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/GateOperation/VIZ_GatePass/SendDP",
            type: "POST",
            dataType: "JSON",
            data: { GatePassId: GatePassId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#btnDT').prop('disabled', true);
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }
</script>


