@model CwcExim.Models.PaymentGatewayRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .payment_detail {
        background: #fff;
        padding: 5%;
        border-radius: 20px;
        margin-top: 20px;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .submit_btn {
        width: 40%;
        display: block;
        margin: auto;
        font-size: 11pt;
        text-transform: uppercase;
    }

    .payment_status {
        background: #fff;
        box-shadow: 0px 0px 8px 3px #f9e0c8;
        padding: 4rem;
        margin: 2rem 0;
        border: 1px solid #ccc;
    }

        .payment_status h6, .payment_status h3 {
            text-align: center;
            text-transform: uppercase;
        }

        .payment_status h6 {
            font-size: 50pt;
        }
</style>

<div id="DivOperation" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4 payment_detail" style="display:none;">
                <form action="DoPayment" method="post" id="frmDP">
                    @*@Html.BeginForm("DoPayment", "PaymentGateway", FormMethod.Post)
                        {*@

                    @*<table width="40%" height="100" border='1' align="center"><caption><font size="4" color="blue"><b>Integration Kit</b></font></caption></table>*@

                    <table cellspacing='0' cellpadding='0' style='width:90%; margin:auto; font-family: Arial, Helvetica, sans-serif;'>
                        <tbody>
                            <tr><th colspan="12" style="text-transform:uppercase; font-weight:bold; color:#858585; border-bottom-style: double;">Compulsory information</th></tr>
                            <tr><td><br /></td></tr>
                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Tid :</td>*@
                                            <td><input class="form-control" type="hidden" name="tid" id="tid" value="@Model.tid" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Merchant Id :</td>*@
                                            <td><input class="form-control" type="hidden" name="merchant_id" value="@Model.merchant_id" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Order Id :</td>
                                            <td><input class="form-control" type="text" name="order_id" value="@Model.order_id" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Amount :</td>
                                            <td><input class="form-control" type="text" name="amount" value="@Model.amount" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Currency :</td>
                                            <td><input class="form-control" type="text" name="currency" value="INR" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Redirect URL :</td>*@
                                            <td><input class="form-control" type="hidden" name="redirect_url" value="@Model.redirect_url" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Cancel URL :</td>*@
                                            <td><input class="form-control" type="hidden" name="cancel_url" value="@Model.cancel_url" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Language :</td>*@
                                            <td><input class="form-control" type="hidden" name="language" value="EN" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                            <tr><td><br /><br /></td></tr>
                            <tr><th colspan="12" style="text-transform:uppercase; font-weight:bold; color:#858585; border-bottom-style: double;">Billing Information(optional):</th></tr>
                            <tr><td><br /></td></tr>
                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing Name :</td>
                                            <td><input class="form-control" type="text" name="billing_name" value="@Model.billing_name" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing Address :</td>
                                            <td><input class="form-control" type="text" name="billing_address" value="@Model.billing_address" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing City :</td>
                                            <td><input class="form-control" type="text" name="billing_city" value="@Model.billing_city" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing State	:</td>
                                            <td><input class="form-control" type="text" name="billing_state" value="@Model.billing_state" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing Zip :</td>
                                            <td><input class="form-control" type="text" name="billing_zip" value="@Model.billing_zip" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing Country :</td>
                                            <td><input class="form-control" type="text" name="billing_country" value="@Model.billing_country" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing Tel :</td>
                                            <td><input class="form-control" type="text" name="billing_tel" value="@Model.billing_tel" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            <td width="150px">Billing Email	:</td>
                                            <td><input class="form-control" type="text" name="billing_email" value="test@gmail.com" readonly="readonly" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                            @*<tr><td><br /><br /></td></tr>
                                <tr><th colspan="12" style="text-transform:uppercase; font-weight:bold; color:#858585; border-bottom-style: double;">Shipping information(optional)</th></tr>
                                <tr><td><br /></td></tr>
                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Shipping Name :</td>
                                                <td><input class="form-control" type="text" name="delivery_name" value="Chaplin" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Shipping Address :</td>
                                                <td><input class="form-control" type="text" name="delivery_address" value="room no.701 near bus stand" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Shipping City	:</td>
                                                <td><input class="form-control" type="text" name="delivery_city" value="Hyderabad" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Shipping State :</td>
                                                <td><input class="form-control" type="text" name="delivery_state" value="Andhra" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Shipping Zip :</td>
                                                <td><input class="form-control" type="text" name="delivery_zip" value="425001" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Shipping Country :</td>
                                                <td><input class="form-control" type="text" name="delivery_country" value="India" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>*@

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Shipping Tel :</td>*@
                                            <td><input class="form-control" type="hidden" name="delivery_tel" value="@Model.delivery_tel" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Merchant Param1 :</td>*@
                                            <td><input class="form-control" type="hidden" name="merchant_param1" value="@Model.merchant_param1" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Merchant Param2 :</td>*@
                                            <td><input class="form-control" type="hidden" name="merchant_param2" value="additional Info." /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Merchant Param3 :</td>*@
                                            <td><input class="form-control" type="hidden" name="merchant_param3" value="additional Info." /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Merchant Param4 :</td>*@
                                            <td><input class="form-control" type="hidden" name="merchant_param4" value="additional Info." /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10px"></td>
                                <td width="45%" colspan="6">
                                    <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                        <tr>
                                            @*<td width="150px">Merchant Param5 :</td>*@
                                            <td><input class="form-control" type="hidden" name="merchant_param5" value="additional Info." /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- EMI section start -->
                            <tr><td><br /><br /></td></tr>
                            @*<tr>
                                    <td colspan="12">
                                        <div id="emi_div" style="display: none">
                                            <table cellspacing='0' cellpadding='0' align="center" style='width:80%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                                <tbody>
                                                    <tr><th colspan="12" style="text-transform:uppercase; font-weight:bold; color:#858585; border-bottom-style: double;">EMI Section</th></tr>
                                                    <tr><td><br /></td></tr>
                                                    <tr>
                                                        <td width="45%" colspan="6">
                                                            <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                                                <tr>
                                                                    <td width="150px">Emi plan id: </td>
                                                                    <td><input class="form-control" readonly="readonly" type="text" id="emi_plan_id" name="emi_plan_id" value="" /> </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="10px"></td>
                                                        <td width="45%" colspan="6">
                                                            <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                                                <tr>
                                                                    <td width="150px">Emi tenure id: </td>
                                                                    <td><input class="form-control" readonly="readonly" type="text" id="emi_tenure_id" name="emi_tenure_id" value="" />  </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="45%" colspan="6">
                                                            <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                                                <tr>
                                                                    <td width="150px">Pay Through</td>
                                                                    <td>
                                                                        <select class="form-control" name="emi_banks" id="emi_banks"></select>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="10px"></td>
                                                        <td width="45%" colspan="6">
                                                            <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <div id="emi_duration" class="span12">
                                                                            <span class="span12 content-text emiDetails">EMI Duration</span>
                                                                            <table id="emi_tbl" cellpadding="0" cellspacing="0" border="1"></table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="45%" colspan="6">
                                                            <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                                                <tr>
                                                                    <td id="processing_fee" colspan="2"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="10px"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>*@
                            <!-- EMI section end -->
                            @*<tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Card Type :</td>
                                                <td><input class="form-control" type="text" id="card_type" name="card_type" value="" readonly="readonly" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Card Name :</td>
                                                <td><select class="form-control" name="card_name" id="card_name"> <option value="">Select Card Name</option> </select> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Data Accepted At </td>
                                                <td><input class="form-control" type="text" id="data_accept" name="data_accept" readonly="readonly" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Card Number: </td>
                                                <td><input class="form-control" type="text" id="card_number" name="card_number" value="4012001037141112" />e.g. 4111111111111111 </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Expiry Year: </td>
                                                <td><input class="form-control" type="text" name="expiry_year" value="2022" />e.g. 2027</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">CVV Number:</td>
                                                <td><input class="form-control" type="text" name="cvv_number" value="123" />e.g. 328</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Issuing Bank:</td>
                                                <td><input class="form-control" type="text" name="issuing_bank" value="Test" />e.g. State Bank Of India</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Mobile Number:</td>
                                                <td><input class="form-control" type="text" name="mobile_number" value="9051649500" />e.g. 9770707070</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>*@


                            @*<tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">MMID:</td>
                                                <td><input class="form-control" type="text" name="mm_id" value="" />e.g. 1234567</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">OTP:</td>
                                                <td><input class="form-control" type="text" name="otp" value="123456" />e.g. 123456</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td width="45%" colspan="6">
                                        <table cellspacing='0' cellpadding='0' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'>
                                            <tr>
                                                <td width="150px">Promotions:</td>
                                                <td><select class="form-control" name="promo_code" id="promo_code"> <option value="">All Promotions &amp; Offers</option> </select> </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10px"></td>
                                </tr>*@

                            <tr>
                                <td colspan="12"><input class="btn btn-primary submit_btn" type="submit" value="CheckOut"></td>
                            </tr>
                        </tbody>
                    </table>



                    <script src="~/Scripts/json.js"></script>
                    <script src="~/Scripts/jquery-1.7.2.min.js"></script>

                    @*}*@
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        $('#frmDP').submit();
    });
</script>