@model CwcExim.Models.YardVM
<script>
    function LoadYardPage() {
        $('#DivBody').load('/Yard/CreateYard');
    }
</script>
    
        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Yard Master</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="ReQSimbol">*</span>
                                    <label>Yard Name:</label>
                                    @Html.TextBoxFor(m => m.MstYard.YardName, new { @class = "" })
                                    @Html.ValidationMessageFor(m => m.MstYard.YardName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                        </div>
                        <div class="d-flex justify-content-left mt10">
                            <input type="button" class="btn btn-primary mr-2 btn-100px" value="Back" onclick="LoadYardPage()">
                        </div>
                        <div class="row mt10">
                            <div class="col-sm-12 col-md-12" id="DivTblLocation">
                                <table class="table table-bordered table-striped dataTable Form_Input">
                                    <thead>
                                        <tr>
                                            <th>Location Name</th>
                                            <th style="text-align:center;width:10%;">Row (X)</th>
                                            <th style="text-align:center;width:10%;">Column (Y)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.LstYard)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(m => item.LocationName)</td>
                                                    <td style="text-align:center">@Html.DisplayFor(m => item.Row)</td>
                                                    <td style="text-align:center">@Html.DisplayFor(m => item.Column)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
