@model CwcExim.Areas.Master.Models.PPGLocation

<script>
        var TimeInSeconds;
        $(document).ready(function () {
            TimeInSeconds = 5000;
        });
        function LoadLocationPage() {
            $('#DivBody').load('/Master/PPGLocation/CreateLocation');
        }
        function LocationOnSuccess(data) {
            if (data.Status == 1) {
                if ($('#DivCountryMsg').hasClass('logErrMsg'))
                    $('#DivCountryMsg').removeClass('logErrMsg').addClass('logSuccMsg');
                $('#DivCountryMsg').html(data.Message);
                setTimeout(LoadLocationPage, TimeInSeconds);
            }
            else if (data.Status == 2) {
                $('[data-valmsg-for="CountryName"]').html('<span>' + data.Message + '</span>');
            }
            else if (data.Status == 3) {
                $('[data-valmsg-for="CountryAlias"]').html('<span>' + data.Message + '</span>');
            }
            else {
                if ($('#DivCountryMsg').hasClass('logSuccMsg'))
                    $('#DivCountryMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                $('#DivCountryMsg').html(data.Message);
            }
        }
        function LocationOnFailure() { }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are you sure you want to save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "LocationOnSuccess";
    options.OnFailure = "LocationOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditLocationDetail", "PPGLocation", options))
{
    @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.LocationId)

        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Location Master</h4>
                        </div>
                    </div>
                    <div class="content_wrp">

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="ReQSimbol">*</span>
                                    <label>Location Name:</label>
                                   @Html.TextBoxFor(m => m.LocationName, "", new { @class = "" })
                                   @Html.ValidationMessageFor(m => m.LocationName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <span class="ReQSimbol">*</span>
                                <label>Location Alias:</label>
                                @Html.TextBoxFor(m => m.LocationAlias, "", new { @class = "" })
                                @Html.ValidationMessageFor(m => m.LocationAlias, "", new { @class = "Error_Msg" })
                            </div>
                        </div>

                        @*<div class="row">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @Html.LabelFor(m => m.LocationName, new { @class = "InputLabel" })
                                </div>
                                <div class="col-md-4">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.LocationName, "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.LocationName, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-1 col-md-1-5 col_cus_2">
                                    @Html.LabelFor(m => m.LocationAlias)
                                </div>
                                <div class="col-md-2">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.LocationAlias, "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.LocationAlias, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>

                        <div class="d-flex justify-content-left">
                            <input type="submit" class="btn btn-primary mr-1 btn-100px" value="Save" id="BtnCountrySave">
                            <input type="button" class="btn btn-primary-border btn-100px" value="Cancel" onclick="LoadLocationPage()" id="BtnCountryCancel">
                        </div>

                        @*<div class="row SignUp_space_bottom">
                            <div class="col-md-offset-4 col-md-2" style="text-align:center">
                                <input type="submit" id="BtnCountrySave" value="Save" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="BtnCountryCancel" value="Cancel" class="btn log_Btn_sm" onclick="LoadLocationPage()" />
                            </div>
                        </div>*@

                        <div class="logSuccMsg SignUp_space_bottom2" style="background-color:transparent">
                            <div id="DivCountryMsg"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")