<script>
    @{
        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";
        options.OnFailure = "RptConsumerListDtlOnFailure";
        options.OnSuccess = "BulkInvoiceReportSuccess";
        options.InsertionMode = InsertionMode.InsertAfter;
    }
    //$(function () {

    //    $("#PeriodFrom").datepicker({
    //        dateFormat: "dd/mm/yy",
    //        showOn: "button",
    //        buttonImage: "/Content/images/calendar.png",
    //        buttonImageOnly: true,
    //        buttonText: "Select date",
    //        changeMonth: true,
    //        changeYear: true,
    //        showAnima: "fadein",
    //        onClose: function () {
    //            $(".Date_Img .Error_Msg").text("");
    //        }
    //    });
    //    $("#PeriodTo").datepicker({
    //        dateFormat: "dd/mm/yy",
    //        showOn: "button",
    //        buttonImage: "/Content/images/calendar.png",
    //        buttonImageOnly: true,
    //        buttonText: "Select date",
    //        changeMonth: true,
    //        changeYear: true,
    //        showAnima: "fadein",
    //        onClose: function () {
    //            $(".Date_Img .Error_Msg").text("");
    //        }
    //    });
    //});

</script>

@using (Html.BeginForm("GETBulkInvoiceDownload", "Loni_ReportCWC", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Bulk Invoice Download</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Month:</label>
                                </div>
                                <div class="col-md-4 col_cus_2_5">
                                    @Html.DropDownList("Month", new List<SelectListItem> {
                                       new SelectListItem { Text="January",Value="1"},
                                       new SelectListItem {Text="February",Value="2" },
                                       new SelectListItem {Text="March",Value="3" },
                                       new SelectListItem {Text="April",Value="4" },
                                       new SelectListItem {Text="May",Value="5" },
                                       new SelectListItem {Text="June",Value="6" },
                                       new SelectListItem {Text="July",Value="7" },
                                       new SelectListItem {Text="August",Value="8" },
                                       new SelectListItem {Text="September",Value="9" },
                                       new SelectListItem {Text="October",Value="10" },
                                       new SelectListItem {Text="November",Value="11" },
                                       new SelectListItem {Text="December",Value="12" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("Month", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 padding_rt">
                                    <label>Year:</label>
                                </div>
                                <div class="col-md-4 col_cus_2_5">
                                    @Html.DropDownList("Year", ((List<SelectListItem>)ViewBag.lstYear), "----Select----")
                                    @Html.ValidationMessage("Year", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    function PreviewValidate() {
        if ($('#Month').val() == "" && $('#Year').val() == "") {
            alert("Select Month and Year !!");
            return false;
        }
        if ($('#Month').val() != "" && $('#Year').val() == "") {
            alert("Select Year !!");
            return false;
        }
        if ($('#Month').val() == "" && $('#Year').val() != "") {
            alert("Select Month !!");
            return false;
        }
        else
            return true;
    }
    $('#ReceiptBox').keyup(function () {
    });

    //loadBtn.addEventListener("click", function (e) {
    //    display.innerText = "0";
    //    this.disabled = true;
    //    this.innerHTML = "Downloading...";
    //    //download();
    //    download_file('http://localhost:52750/doc/DASHBOARDIMAGES.rar', 'sample.rar');
    //});





    function download_file(fileURL, fileName) {
        // for non-IE
        if (!window.ActiveXObject) {
            var save = document.createElement('a');
            save.href = fileURL;
            save.target = '_blank';
            alert(fileURL);

            var filename = fileURL.substring(fileURL.lastIndexOf("/") + 1);
            save.download = fileName || filename;
            if (navigator.userAgent.toLowerCase().match(/(ipad|iphone|safari)/) && navigator.userAgent.search("Chrome") < 0) {
                document.location = save.href;
                // window event not working here
            } else {
                var evt = new MouseEvent('click', {
                    'view': window,
                    'bubbles': true,
                    'cancelable': false
                });
                save.dispatchEvent(evt);
                (window.URL || window.webkitURL).revokeObjectURL(save.href);
            }
        }

            // for IE < 11
        else if (!!window.ActiveXObject && document.execCommand) {
            var _window = window.open(fileURL, '_blank');
            _window.document.close();
            _window.document.execCommand('SaveAs', true, fileName || fileURL)
            _window.close();
        }
    }


    function RptConsumerListDtlOnFailure() {
        alert("No Data");
    }
    function BulkInvoiceReportSuccess(data) {
        debugger
        $('#DivDwnldWavMsg').html('');
        if (data.Status == 1) {
            alert(data.Data);
            Filename=data.Data
            alert(Filename)
            download_file(Filename, 'BULKINVOICE.zip');

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }

</script>





