@model CwcExim.Areas.Report.Models.Ppg_GatePassReport


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetGatePassReport", "Loni_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Gate Pass Report</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label for="FromDate" class="InputLabel">Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Form_Space_top">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Module:</label>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.Module, "Import", new { @class = "", @id = "Import" })
                                            <label for="Import"><i class="circle"></i><span>Import</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.Module, "Export", new { @class = "", @id = "Export" })
                                            <label for="Export"><i class="circle"></i><span>Export</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.Module, "All", new { @class = "", @id = "All", @checked = true })
                                            <label for="All"><i class="circle"></i><span>All</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Form_Space_top">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Type:</label>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "FCL", new { @class = "", @id = "FCL" })
                                            <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "LCL", new { @class = "", @id = "LCL" })
                                            <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.LCLFCL, "All", new { @class = "", @id = "AllType", @checked = true })
                                            <label for="AllType"><i class="circle"></i><span>All</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Form_Space_top">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Location:</label>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.GodownYard, "Godown", new { @class = "", @id = "Godown", @onchange = "SelectGodown()" })
                                            <label for="Godown"><i class="circle"></i><span>Godown</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.GodownYard, "Yard", new { @class = "", @id = "Yard", @onchange = "SelectGodown()" })
                                            <label for="Yard"><i class="circle"></i><span>Yard</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.GodownYard, "EmptyYard", new { @class = "", @id = "EmptyYard", @onchange = "SelectGodown()" })
                                            <label for="EmptyYard"><i class="circle"></i><span>EmptyYard</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.GodownYard, "All", new { @class = "", @id = "AllLocation", @checked = true, @onchange = "SelectGodown()" })
                                            <label for="AllLocation"><i class="circle"></i><span>All</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Form_Space_top hidden" id="divGodown">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Godown:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.DropDownListFor(m => m.LocationName, new SelectList(ViewBag.ListOfGodown, "Value", "Text"), "----Select----")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        //if ($('#Godown').is(':checked') && $('#GodownId').val()=='')
        //{
        //    $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Select Godown');
        //    return false;
        //}
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    function SaveReportPdf(data) {
        debugger;
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();
        var Html = '<div style="text-align: center;border: 1px solid #000;">Gate Pass Report From ' + FormDate + ' To ' + ToDate + '</div>'
        Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;'><thead><tr><th style='border:1px solid #000;text-align:center;'>Gate Pass No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Gate Pass Date</th><th style='border:1px solid #000;text-align:center;'>Vehicle No</th><th style='border:1px solid #000;text-align:center;'>Container / OBL No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Container Size</th><th style='border:1px solid #000;text-align:center;'>LCLFCL</th><th style='border:1px solid #000;text-align:center;'>Vessel Name</th><th style='border:1px solid #000;text-align:center;'>Voyage No</th><th style='border:1px solid #000;text-align:center;'>Rotation No</th><th style='border:1px solid #000;text-align:center;'>Line No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Shipping Seal Line No</th><th style='border:1px solid #000;text-align:center;'>Custom Seal Line No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Importer/Exporter</th><th style='border:1px solid #000;text-align:center;'>CHA Name</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Shipping Line</th><th style='border:1px solid #000;text-align:center;'>BOE No/SB No/WR No</th><th style='border:1px solid #000;text-align:center;'>Date</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>No of Packages</th><th style='border:1px solid #000;text-align:center;'>Weight</th><th style='border:1px solid #000;text-align:center;'>Location Name</th><th style='border:1px solid #000;text-align:center;'>Nature of Goods</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>ICD Code</th><th style='border:1px solid #000;text-align:center;'>IN Date</th><th style='border:1px solid #000;text-align:center;'>Type of Container</th><th style='border:1px solid #000;text-align:center;'>Type of Seal Cutting</th>";
        Html += "</tr></thead><tbody>";
        for (i = 0; i < data.Data.length; i++) {
            Html += "<tr><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].GatePassNo + "</td><td style='border:1px solid #000;text-align:center;'>" + data.Data[i].GatePassDate + "</td><td style='border:1px solid #000;text-align:left;'>";
            Html += "" + data.Data[i].VehicleNo + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].ContainerNo + "</td><td style='border:1px solid #000;text-align:center;'>" + data.Data[i].ContainerSize + "</td><td style='border:1px solid #000;text-align:center;'>" + data.Data[i].LCLFCL + "</td><td style='border:1px solid #000;text-align:left;'>";
            Html += "" + data.Data[i].VesselName + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].VoyageNo + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].RotationNo + "</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>" + data.Data[i].LineNo + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].ShippingSealLineNo + "</td><td style='border:1px solid #000;text-align:left;'>";
            Html += "" + data.Data[i].CustomSealLineNo + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].ImporterExporter + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].CHAName + "</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>" + data.Data[i].ShippingLine + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].BOENoOrSBNoOrWRNo + "</td><td style='border:1px solid #000;text-align:center;'>";
            Html += "" + data.Data[i].Date + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].NoOfPackages + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].Weight + "</td><td style='border:1px solid #000;text-align:left;'>";
            Html += "" + data.Data[i].LocationName + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].NatureOfGoods + "</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>" + data.Data[i].ICDCode + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].InDate + "</td><td style='border:1px solid #000;text-align:center;'>";
            Html += "" + data.Data[i].ContainerType + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].SealCutingType + "</td> <td></td> <td></td> <td></td></tr>";

        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
        // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateGatePassReportPDF", "Loni_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }
    function SelectGodown() {
        debugger;
        if ($('#Godown').is(':checked')) {
            $('#divGodown').removeClass('hidden');
        }
        else if ($('#Yard').is(':checked')) {
            $('#divGodown').addClass('hidden');
            $('#LocationName').val('');
        }
        else if ($('#AllLocation').is(':checked')) {
            $('#divGodown').addClass('hidden');
            $('#LocationName').val('');

        }
    }
</script>



