@model CwcExim.Areas.Report.Models.PpgSDDetReport
@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptSDDtlOnFailure";
    options.OnSuccess = "RptSDDetReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#FromDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#ToDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
<style>
       #tblParty.dataTable tbody > tr > td {
        cursor:pointer;
    }
    .slimScrollDiv { height:300px; }
    .table.tblhd{
        border-bottom:0;
    }
    .slim_tble{
        width:100%;
        table-layout: fixed;
    }
    .txt_wrp{
         overflow:hidden; 
         word-wrap:break-word;
    }
</style>

@using (Ajax.BeginForm("GetSDDetReport", "Loni_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4> Party Wise SD Statement</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">

                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "FromDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label for="FromDate" class="InputLabel">Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "ToDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Party:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Party, "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                    @Html.HiddenFor(m => m.PartyId)
                                    @Html.ValidationMessageFor(m => m.Party, "", new { @class = "Error_Msg" })
                                </div>
                                </div>
                            </div>
                                <div class="row SignUp_space_top SignUp_space_bottom">
                                    <div class="stoke"></div>
                                </div>
                                <div class="row SignUp_space_bottom">
                                    <div class="col-md-offset-5 col-md-2">
                                        <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                                    </div>
                                </div>
                                <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="modal fade" id="PartyModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content popup_modal" style="width:80%;">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" onclick="CloseParty()"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Party</h4>
                    </div>
                    <div class="modal-body popup_body" style="position:relative;">
                        <input placeholder="Search By Party Or Party Code" id="PartyBox" type="text" />
                        <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchParty()"></i></span> 
                        <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                            <thead>
                                <tr>
                                    <th colspan="8" width="80%">Party</th>
                                    <th colspan="4" width="20%">Party Code</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="slim_scroll">
                            <table class="table dataTable table-bordered table-striped slim_tble" id="tblParty">
                                @{
                                    if (ViewBag.LstParty != null)
                                    {
                                        foreach (var item in ViewBag.LstParty)
                                        {
                                            <tr onclick="SelectParty(@item.PartyId,'@item.Party')">
                                                <td colspan="8" width="80%" class="txt_wrp">@item.Party</td>
                                                <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-5">
                                @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                                {
                                    <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMoreParty">Load More Data</button>
                                }
                                else
                                {
                                    <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMoreParty" disabled>Load More Data</button>
                                }
                            </div>
                            <div class="col-md-offset-3 col-md-4">
                                <button type="button" class="btn log_Btn_sm" onclick="CloseParty()">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


}
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
   </script>
<script>
    $(function () {
    });

    $('#BtnPreview').on("click", function () {
        debugger;
        var Status = true;
        if ($('#FromDate').val() == "") {
            $('[data-valmsg-for="FromDate"]').html('<span>Fill Out This Field</span>');
            return false;
        }

        if ($('#ToDate').val() == "") {
            $('[data-valmsg-for="ToDate"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#Party').val() == "") {
            $('[data-valmsg-for="Party"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        $('#DivDwnldWavMsg').html('');
        var From = $('#FromDate').val();
        var To = $('#ToDate').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Period To must be greater than Period From');
            return false;
        }
        return true;
    });
    function RptSDDtlOnFailure() { }
    function RptSDDetReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        debugger;
        if (data.Status == 1) {
            window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }

    var Page=0;

    function LoadMoreParty() {
        debugger;
        $.ajax({
            url: '/Report/Loni_ReportCWC/LoadParty',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstParty, function (item, elem) {
                        debugger;
                        html += '<tr  onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.Party + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.Party + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tblParty tbody').html(html);
                    else
                        $('#tblParty tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadMoreParty').prop('disabled', false);
                    else $('#btnLoadMoreParty').prop('disabled', true);
                }
            }
        });
    }


    function LoadParty() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Report/Loni_ReportCWC/LoadParty',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstParty, function (item, elem) {
                        debugger;
                        html += '<tr  onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.Party + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.Party + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tblParty tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreParty').prop('disabled', false);
                    else $('#btnLoadMoreParty').prop('disabled', true);
                }
            }
        });
    }

    function SelectParty(PartyId, Party) {
        debugger;
        $('#Party').val(Party);
        $('#PartyId').val(PartyId);
        $("#PartyModal").modal("hide");
        $('#PartyBox').val('');
        LoadParty();
    }

    function SearchParty() {
        debugger;
        if ($('#PartyBox').val() != '') {
            $.ajax({
                url: '/Report/Loni_ReportCWC/SearchParty',
                type: 'GET',
                data: { PartyCode: $('#PartyBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        debugger;
                        var html = '';
                        $.each(data.Data.LstParty, function (item, elem) {
                            debugger;
                            html += '<tr  onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.Party + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.Party + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tblParty tbody').html('');
                        $('#tblParty tbody').html(html);
                        $('#btnLoadMoreParty').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tblParty tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreParty').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadParty();
    }

    function CloseParty() {
        $('#PartyBox').val('');
        $("#PartyModal").modal("hide");
        LoadParty();
    }

</script>





