@model CwcExim.Models.GodownRight
<script src="~/Scripts/LeftList.js"></script>

@{
    Layout = null;
}


<style>
    .table_bk {
        width: 49%;
        float: left;
        border-color:#f7a654;
    }
</style>
<script type="text/javascript">


    //function CanViewCheckbox()
    //{
    //    ActionCheck = true;
    //}

    function ActionChecked() {
        ActionCheck = true;
    }

    function SaveAccessRights() {

        debugger;
        $('#SpnResult').html('');
        if (ActionCheck == false) {
            alert("You have not checked or unchecked anything!");
            return false;
        }


    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divProgress").css("display", "none");
    });

    function OnBegin() {
    }
    function OnComplete() {
    }

    function OnSuccess(data) {
        if (data.Status == 1) {
            alert("Godown Rights assigned successfully.");
            LoadAccessRight();
        }
        else {
            $('#SpnResult').html(data.Message);
        }
    }

    function OnFailure() {
    }
    function LoadAccessRight() {
        $('#DivBody').load('/GodownRights/Load');
    }



    function Clear() {
        $('select').each(function () {
            $(this).find('option[value=""]').attr('selected', true);
        });

    }
</script>

@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are you sure you want to save?";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
}

@using (Ajax.BeginForm("AddEditGodownRightsList", "GodownRights", options))
{
    @Html.AntiForgeryToken()
    <div class="panel table_bk">
        <table class="table1 table-condensed Table_Text_Align Access_RightList" style="border:none;">
            <thead>
                <tr>
                    <th class="col-md-6">@Html.DisplayName("Godown List")</th>
                    <th class="col-md-1-5">@Html.DisplayName("IsAllowed")</th>
                </tr>
            </thead>
        </table>
        <div class="Left_list">
            <div class="div-table-content Left_List_con">
                <table class="table table-condensed Table_Text_Align Access_RightList" style="border:none;">
                    <tbody>
                        @for (int i = 0; i < Model.lstGodown.Count(); i++)
                        {
                            if (Model.lstGodown[i].Godown == "Godown")
                            {
                                var vrid = "lstGodown_" + i.ToString() + "__IsAllowed";

                                <tr>
                                    <td class="col-md-6">
                                        @Html.DisplayFor(m => m.lstGodown[i].GodownName)
                                        @Html.HiddenFor(m => m.lstGodown[i].GodownId)
                                        @Html.HiddenFor(m => m.lstGodown[i].SrlNo)
                                        @Html.HiddenFor(m => m.lstGodown[i].Godown)
                                    </td>
                                    <td class="col-md-1-5">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.lstGodown[i].IsAllowed, new { @onclick = "ActionChecked()" })
                                            <label for="@vrid" style="text-align:center;"><i class="square"></i></label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel table_bk" style="float:right;">
        <table class="table1 table-condensed Table_Text_Align Access_RightList" style="border:none;">
            <thead>
                <tr>
                    <th class="col-md-6">@Html.DisplayName("Yard List")</th>
                    <th class="col-md-1-5">@Html.DisplayName("IsAllowed")</th>
                </tr>
            </thead>
        </table>
        <div class="Left_list">
            <div class="div-table-content Left_List_con">
                <table class="table table-condensed Table_Text_Align Access_RightList" style="border:none;">
                    <tbody>
                        @for (int i = 0; i < Model.lstGodown.Count(); i++)
                        {
                            if (Model.lstGodown[i].Godown == "Yard")
                            {
                                var vrid = "lstGodown_" + i.ToString() + "__IsAllowed";

                                <tr>
                                    <td class="col-md-6">
                                        @Html.DisplayFor(m => m.lstGodown[i].GodownName)
                                        @Html.HiddenFor(m => m.lstGodown[i].GodownId)
                                        @Html.HiddenFor(m => m.lstGodown[i].SrlNo)
                                        @Html.HiddenFor(m => m.lstGodown[i].Godown)
                                    </td>
                                    <td class="col-md-1-5">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.lstGodown[i].IsAllowed, new { @onclick = "ActionChecked()" })
                                            <label for="@vrid" style="text-align:center;"><i class="square"></i></label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row SignUp_space_bottom">
        <div class="col-md-offset-5 col-md-2" style="text-align:center">
            <input id="btnSave" type="submit" value="Save" class="btn btn-primary mr-1 btn-100px" onclick="return SaveAccessRights();" />
        </div>
    </div>
}