@{
    Layout = null;
}

@model IEnumerable<CwcExim.Areas.Auction.Models.HDB_EMDReceived>
<style>
    #TblEMDReceived {
        table-layout: fixed;
    }

        #TblEMDReceived tr td {
            word-break: break-word;
        }

    table.dataTable.nowrap th {
        white-space: normal;
    }
</style>
<script>
    $(document).ready(function () {
        var TblEMDReceived = $('#TblEMDReceived').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                  { "sName": "SL. No.", "width": "5%" },
                    { "sName": "EMD Received No" },
                    { "sName": "BID No" },
                    { "sName": "OBL No." },
                    { "sName": "Shipping Bill No." },
                    { "sName": "Container No." },
                    { "sName": "Party Name" },
                    { "sName": "Amount" },
                    { "sName": "Party Name" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblEMDReceived);
    });


</script>
<table id="TblEMDReceived" class="table table-striped table-bordered nowrap dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Sr. No.</th>
            <th class="text-center">EMD Received No</th>
            <th class="text-center">BID No</th>
            <th class="text-center">OBL No.</th>
            <th class="text-center">Shipping Bill No.</th>
            <th class="text-center">Container No.</th>
            <th class="text-center">Party Name</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Valid Upto</th>
          
        </tr>
    </thead>
    <tbody>
        @{
            var i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@Html.DisplayFor(m => item.EMDReceivedNo)</td>
                    <td>@Html.DisplayFor(m => item.BIDNo)</td>
                    <td>@Html.DisplayFor(m => item.OBL)</td>
                    <td>@Html.DisplayFor(m => item.ShippBillNo)</td>
                    <td>@Html.DisplayFor(m => item.Container)</td>
                    <td>@Html.DisplayFor(m => item.PartyName)</td> 
                    <td>@Html.DisplayFor(m => item.AdvancePaid)</td>
                    <td>@Html.DisplayFor(m => item.ValidUpTo)</td>                   
                </tr>
                i++;
            }
        }
    </tbody>
</table>