@model CwcExim.Areas.GateOperation.Models.DSRGatePass
<script src="~/Areas/GateOperation/Scripts/App/Controllers/DSRGatePassCtrl.js"></script>

<style>
    .add_btn {
        background: #fff;
        padding: 3px 10px;
        color: #333;
        border: 1px solid #333;
    } 
</style>     
<div id="gatepass" ng-controller="DSRGatePassCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Gate Pass</h4>
                        </div>
                    </div>
                    @using (Ajax.BeginForm("AddEditGatePass", "DSR_GatePass", new AjaxOptions
                {
                    Confirm = "Are you sure you want to save?",
                    HttpMethod = "POST",
                    OnSuccess = "GatePassOnSuccess",
                    OnFailure = "GatePassOnFailure",
                }))
                {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.StringifyData)
                        @Html.HiddenFor(m => m.VehicleXml)
                        @Html.HiddenFor(m => m.GatePassId)
                        @Html.Hidden("Module")
                        //@Html.Hidden("GatepassId")
                        @Html.Hidden("IsEdit")
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Gate Pass No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.GatePassNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                    <label>Gate Pass Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.GatePassDate, new { @class = "form-control input-sm", @onkeyup = "checks()", @onblur = "checkdat()", @maxlength = "16" })
                                    <div class="field-validation-error" id="Msges" style="background-color:transparent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Invoice No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.InvoiceId)
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true, @onkeydown = "PopupActivate('InvoiceModal');" })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.InvoiceNo)
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                    <label>Delivery Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CHA Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.CHAName, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Importer / Exporter Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.ImpExpName, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Shipping Line Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Excepted date and time of departure:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DepartureDate)
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                    <label>Expected date and time of arrival at next location:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.ArrivalDate)
                                </div>
                            </div>
                        </div>
                        <div id="DivDestuffingDet" class="Head_h5">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Container/OBL No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @*@Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })*@
                                        <input name="ContainerNo" type="text" ng-model="FilterContainer" id="ContainerNo" class="form-control input-sm" readonly />
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4">
                                        <label>Size:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Size", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5" style="display:none;">
                                        <div class="boolean-container">
                                            @Html.CheckBox("Reefer", false, new { @disabled = true })
                                            <label><i class="square"></i><span>Reefer</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextArea("CargoDescription", "", new { @style = "width:100%;height:100px;", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Cargo Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("CargoType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="HAZ",Value="1"},
                                            new SelectListItem { Text="Non HAZ",Value="2"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1">
                                        <label style="display:none;">Vehicle No:</label>
                                    </div>
                                    <div class="col-md-3 Date_Img">
                                        @Html.TextBox("VehicleNo", "", new { @class = "form-control input-sm", @style = "display:none;" })
                                        <input type="button" id="btnMultiVehicles" class="btn log_Btn_sm" value="Enter Vehicle Nos" />
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>No of Packages:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("NoOfPackages", "", new { @readonly = true })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                        <label>Weight:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Weight", "", new { @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Location:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Location", "", new {@readonly = true })
                                    </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                        <label>Port Of Dispatch:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("PortOfDispatch", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="CHENNAI",Value="CHN"},
                                            new SelectListItem { Text="Chennai Other CFS",Value="CHNO"},
                                            new SelectListItem { Text="Cochin",Value="CPT"},
                                            new SelectListItem { Text="ICD - Bangalore",Value="ICD"},
                                            new SelectListItem { Text="KPATNAM",Value="KAPT"},
                                            new SelectListItem { Text="TUTICORIN",Value="TPT"},
                                            new SelectListItem { Text="Virugumbakam",Value="VRG"},
                                            new SelectListItem { Text="MUNDRA",Value="MUNDRA"},
                                            new SelectListItem { Text="KANDLA",Value="KANDLA"},
                                            new SelectListItem { Text="JNPT",Value="JNPT"},
                                            new SelectListItem { Text="HAZIRA",Value="HAZIRA"},
                                            new SelectListItem { Text="PIPAVA",Value="PIPAVA"},
                                            new SelectListItem { Text="MBPT",Value="MBPT"},
                                            new SelectListItem { Text="RCT",Value="RCT"},
                                            new SelectListItem { Text="NSICT",Value="NSICT"},
                                            new SelectListItem { Text="GTI",Value="GTI"},
                                            new SelectListItem { Text="ICD VARNAMA",Value="ICDVARNAMA"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })

                                    </div>
                                </div>
                            </div>
                            <div class="row SignUp_space_bottom">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="button" id="btnAdd" class="btn log_Btn_sm" value="Add" onclick="AddContainer()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="btnDtlReset" class="btn log_Btn_sm" value="Reset" onclick="ResetDtlDetails()" />
                                </div>
                               
                            </div>
                            @Html.Hidden("Index")
                            
                            <div class="row">
                                <div class="col-md-12" id="DivContDet">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-3 col-md-2">
                                <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnDT" class="btn log_Btn_sm" value="CIM DP" disabled onclick="SendDP()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetDetails()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnPrint" class="btn log_Btn_sm" value="Print" onclick="Print()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg" id="DivErrMsg" style="background-color:transparent"></div>
                        @*<div class="row">
                           <div class="col-md-2 SignUp_space_bottom">
                                <input type="button" id="BtnGateEntryByTrainListLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadGPList()" />
                           </div>
                        </div>*@

                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-2">
                                    <input type="button" id="BtnGateEntryByTrainListLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadGPList()" />
                                </div>
                                <div class="col-md-offset-3 col-md-4" style="text-align:right;">
                                    <label>GatePassNo/InvoiceNo:</label>
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBox("GatePassNoInvoiceNo")
                                    @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="GetListOfGatePassNoInvoiceNo()"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                                    <div id="tblEntryDet"></div>
                           </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivGPList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="InvoiceModal" class="modal fade mTabindex" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="InvoiceModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Invoice No.</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="InvoiceNobox" type="text" tabindex="401"/>
                    <ul class="navList" id="lstInvoice">
                        @{
                            if (ViewBag.InvoiceNoList != null)
                            {
                                var tabvalue = 401;
                                foreach (var item in ViewBag.InvoiceNoList)
                                {
                                    <li tabindex="@tabvalue" id="@item.InvoiceId" onkeypress="SelectInvoice(this,'@item.Module')" onclick="SelectInvoice(this,'@item.Module')">@item.InvoiceNo</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="InvoiceModalClose()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--Vehicle And Packages Modal-->
    <div id="VehicleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="Close()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Vehicle And Packages</h4>
                </div>
                <div class="modal-body popup_body">
                    {{FilterContainer}}
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>VehicleNo</th>
                                <th>Packages</th>
                                <th><a class="add_btn" href="#" ng-click="Add()"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in Vehicles | filter: { ContainerNo : FilterContainer }">
                                <td>{{$index+1}}</td>
                                <td>
                                    <input type="text" ng-model="v.VehicleNo" />
                                </td>
                                <td>
                                    <input type="number" ng-model="v.Package" />
                                </td>
                                <td>
                                    <button ng-click="Delete(v)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="text" ng-model="Vehicle.VehicleNo" />
                                    </td>
                                    <td>
                                        <input type="number" ng-model="Vehicle.Package" />
                                    </td>
                                    <td>

                                        <button ng-click="ok()" value="ok"></button>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="Close()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#GatePassDate').focus();
    var ContainerDetails = [];
    var Module = '';
    //******************************************************************************************
    var VehicleList = [];
    angular.bootstrap(document.getElementById('gatepass'), ['CWCApp']);
    $('#btnMultiVehicles').on('click', function () {
        debugger;
        angular.element(document.querySelector('[ng-controller="DSRGatePassCtrl"]')).scope().
        ClearTable();
        // angular.element('#DSRGatePassCtrl').scope().[].l = 0;
        angular.element(document.querySelector('[ng-controller="DSRGatePassCtrl"]')).scope().$apply();
        if ($('#ContainerNo').val() != '') {
            $('#VehicleModal').modal();
        };

    });
    //******************************************************************************************

    $(function () { GenerateBlankTable(); });
    $('#GatePassDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    $('#DepartureDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    $('#ArrivalDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    function GenerateBlankTable() {
        tablehtml = '';
        var tablehtml = '<table class="table table-bordered table-striped dataTable" id="tblEntryDet"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Gate Pass No</th><th>Gate Pass Date</th><th style="display:none;">Invoice No</th><th>Is Cancelled</th><th class="text-center" style="width:10%;">Edit</th><th class="text-center" style="width:10%;">View</th><th class="text-center" style="width:10%;">Delete</th><th class="text-center" style="width:10%;">Preview</th><th class="text-center" style="width:10%;">IWBPrint</th><th class="text-center" style="width:10%;">Cancel</th></tr></thead><tbody>';
        $('#tblEntryDet').html(tablehtml);
    }
    function LoadGPList() {
        $('#tblEntryDet').html('');
        $('#DivGPList').load('/GateOperation/DSR_GatePass/ListOfGatePass');
    }
    function Print() {
        debugger;
        var GatePassId = $('#GatePassId').val();

        var Token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/GateOperation/DSR_GatePass/GatePassPrint',
            type: 'POST',
            data: { GatePassId: GatePassId },
            dataType: 'JSON',
            headers: { '__RequestVerificationToken': Token },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }

    function GatePassOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            $('#DivSucMsg').html(data.Message);
            var Module = $('#Module').val();
            $('#GatePassId').val(data.Data);
            //var GatePassId = $('#GatePassId').val(data.Data);
            $('#btnPrint').removeAttr('disabled');
            $('#btnSave').attr('disabled', true);
            if (Module.substring(0, 3) == 'EXP') {
                $('#btnDT').prop('disabled', false);
            }
            //setTimeout(function () { $('#DivBody').load('/GateOperation/DSR_GatePass/CreateGatePass'); }, 5000);
            //setTimeout(function () { $('#DivSucMsg').html(''); }, 5000);
        }
        else {
            $('#DivErrMsg').html(data.Message);
            setTimeout(function () { $('#DivSucMsg').html(''); }, 5000);
        }
    }
    function impJOOnFailure() { }
    $('#InvoiceNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoice > li').show();
        else {
            $('#lstInvoice > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function SelectInvoice(elem, Module) {
        $('#InvoiceId').val(elem.id);
        $('#InvoiceNo').val(elem.innerHTML);
        $('#Module').val(Module);
        $("#InvoiceModal").modal("hide");
        GetDetailsAgainstInvoiceId(elem.id);
        $('#Remarks').focus();
    }

      


    function InvoiceModalClose() {
        $("#InvoiceModal").modal("hide");
        $("#InvoiceNoBox").val('');
        $('#InvoiceNo').focus();
    }

    function GetDetailsAgainstInvoiceId(InvoiceId) {
        $.ajax({
            url: '/GateOperation/DSR_GatePass/GetDetAgainstInvoice',
            type: 'GET',
            data: { InvoiceId: InvoiceId },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                $('#DivContDet').html('');
                if (data.Data != null && data.Data != undefined) {
                    $('#CHAName').val(data.Data.CHAName);
                    $('#ImpExpName').val(data.Data.ImpExpName);
                    $('#ShippingLineName').val(data.Data.ShippingLineName);
                    $('#DeliveryDate').val(data.Data.DeliveryDate);
                    $('#Module').val(data.Data.Module);
                    Module = data.Data.Module;
                    ContainerDetails = data.Data.lstContainerDet;
                    GenerateTable();
                }
            }
        });
    }
    function GenerateTable() {
        var html = '';
        html = '<table class="table table-bordered table-striped dataTable" id="tblContainer"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container No</th><th>Container Size</th><th style="display:none;">Reefer</th><th>Vehicle No</th><th class="text-center" style="width:10%;">Edit</th></tr></thead><tbody>';
        $.each(ContainerDetails, function (i, elem) {
            html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td style="display:none;">' + (elem.IsReefer == true ? 'Reefer' : 'Non Reefer') + '</td><td>' + elem.VehicleNo + '</td><td class="text-center" style="width:10%;"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivContDet').html(html);
    }
    $('#btnSave').on("click", function () {
        debugger;
        var Status = true;
        var mod = $('#Module').val();
        if (mod == 'IMPDeli' || mod == 'IMPYard' || mod == 'EC' || mod == 'BNDadv' || mod == 'BND') {
            $("#DepartureDate").rules("remove", "required");
            $("#ArrivalDate").rules("remove", "required");

        }
        if ($('#tblContainer tbody tr').length > 0) {
            if ($('#Module').val() == 'IMPDeli' || $('#Module').val() == 'IMPYard' || $('#Module').val() == 'BTT' || $('#Module').val() == 'BND' || $('#Module').val() == 'BNDadv' || $('#Module').val() == 'EC' || $('#Module').val() == 'EXPLod' || $('#Module').val() == 'EXP') {
                $.each(ContainerDetails, function (i, elem) {
                    if (elem.VehicleNo == '') {
                        Status = false;
                        return false;
                    }
                });


            }
            if (Status == true) {
                $('#DivErrMsg').html('');
                $('#StringifyData').val(JSON.stringify(ContainerDetails));
                //return false;
            }
            else {
                $('#DivErrMsg').html('Please Edit the record and Enter vehicle no.');
                //setTimeout(function(){$('#DivErrMsg').html('');},5000);
                return false;
            }
        }
    });
    function ResetDetails() {
        $('#DivContDet').html('');
        $('#Remarks,#InvoiceNo,#InvoiceId,#CHAName,#ImpExpName,#ShippingLineName,#DeliveryDate').val('');
        $('#DivBody').load('/GateOperation/DSR_GatePass/CreateGatePass');       
        ResetDtlDetails();
    }
    function EditContainerDet(i) {
        debugger;
        $('#ContainerNo,#Size,#CargoDescription,#NoOfPackages').val('');
        $('#IsReefer').prop('checked', false);
        $('#ContainerNo').val(ContainerDetails[i].ContainerNo);
        $('#Size').val(ContainerDetails[i].Size);
        $('#Location').val(ContainerDetails[i].Location);
        $('#CargoDescription').val(ContainerDetails[i].CargoDescription);
        (ContainerDetails[i].CargoType > 0) ? $('#CargoType').val(ContainerDetails[i].CargoType) : $('#CargoType').val('');
        $('#Weight').val(ContainerDetails[i].Weight);
        $('#NoOfPackages').val(ContainerDetails[i].NoOfUnits);
        (ContainerDetails[i].IsReefer) ? $('#Reefer').prop('checked', true) : $('#Reefer').prop('checked', false);
        ContainerDetails[i].VehicleNo == '' ? '' : $('#VehicleNo').val(ContainerDetails[i].VehicleNo);
        ContainerDetails[i].Location == '' ? '' : $('#Location').val(ContainerDetails[i].Location);
        ContainerDetails[i].PortOfDispatch == '' ? '' : $('#PortOfDispatch').val(ContainerDetails[i].PortOfDispatch);
        $('#Index').val(i);
        if (ContainerDetails[i].VehicleNo != '') {
            $('#IsEdit').val(1);
        }
        $('#ContainerNo').trigger('input'); // Use for Chrome/Firefox/Edge
        $('#ContainerNo').trigger('change');
    }
    function AddContainer() {
        var k = $('#Index').val();
        if (k != '') {
            ContainerDetails[k].VehicleNo = $('#VehicleNo').val();
            ContainerDetails[k].CargoType = ($('#CargoType').val() == '') ? 0 : $('#CargoType').val();
            ContainerDetails[k].Location = $('#Location').val();
            ContainerDetails[k].PortOfDispatch = $('#PortOfDispatch').val();
            ResetDtlDetails();
            GenerateTable();
            $('#Index').val('');
            $('#IsEdit').val('');
        }
    }
    function ResetDtlDetails() {
        $('#ContainerNo,#Size,#CargoDescription,#CargoType,#VehicleNo,#Weight,#NoOfPackages,#Location,#PortOfDispatch').val('');
        $('#Reefer').prop('checked', false);
        $('#Index').val('');
    }

    $(document).ready(function () {

        $('#btnPrint').attr('disabled', true);
        $('#btnSave').removeAttr('disabled');
    });

    function PopupActivate(Id) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');

            if (Id == "InvoiceModal") {                
                $('#InvoiceNobox').focus();
            }
            
        }
    }

    $('#InvoiceModal').on('shown.bs.modal', function () {
        $('#InvoiceNobox').focus();
    });

    $('.mTabindex').keydown(function (e) {
        //debugger;
        var $focusable = $(this).find("[tabindex]:not([tabindex='-1'])");
        if ($focusable.last().is(":focus") && !e.shiftKey && e.key == "Tab") {
            e.preventDefault();
            $focusable.first().focus();
        }
        else
            if ($focusable.first().is(":focus") && e.shiftKey && e.key == "Tab") {
                e.preventDefault();
                $focusable.last().focus();
            }
    });
    function checks() {
        debugger;

        $('#GatePassDate').val($('#GatePassDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

    }
    function checkdat() {
        debugger;
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        var hh = today.getHours();
        var mu = today.getMinutes();       

        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        if (hh < 10) {
            hh = '0' + hh;
        }
        if (mu < 10) {
            mu = '0' + mu;
        }
        

        var date = dd + '/' + mm + '/' + yyyy;
        var time = hh + ':' + mu;
        var dateTime = date;
        if ($('#GatePassDate').val() != '') {
            var result = moment($('#GatePassDate').val(), "DD/MM/YYYY HH:mm", true).isValid();
            if (!result) {
                $('#Msges').html('Incorrect Date');
                setTimeout(function () { $('#Msges').html(''); }, 3000);
                $('#GatePassDate').val(dateTime);
            }
        }

    }

    function GetListOfGatePassNoInvoiceNo() {
        debugger;
        $('#tblEntryDet').hide();

        if ($('#GatePassNoInvoiceNo').val().trim() == '') {
            alert('Enter OBL or IGM  Number for searching');
            return;
        }
        var GatepassNoInvoiceNo = encodeURI($('#GatePassNoInvoiceNo').val().trim());
        //alert(party);
        //$('#OblEntryList').load('/Import/Ppg_OblEntry/ListOfOBLEntry');
        $('#DivGPList').load('/GateOperation/DSR_GatePass/ListOfGatePassSearch?GatepassNo=' + GatepassNoInvoiceNo);//$('#PartyCode').val().replace(' ', '+')
    }

    function SendDP() {
        debugger;
        var GatePassId = $('#GatePassId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/GateOperation/DSR_GatePass/SendDP",
            type: "POST",
            dataType: "JSON",
            data: { GatePassId: GatePassId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#btnDT').prop('disabled', true);
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }

</script>
