
 @model IEnumerable<CwcExim.Areas.GateOperation.Models.DSR_RevalidateDOValidity>

<script>
        $(document).ready(function(){
            var tblDVD = $('#tblDVD').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 10,
                "aoColumns": [
                      { "sName": "SL No", "width": "8%" },
                      { "sName": "Invoice No" },
                      { "sName": "Update Date" },
                      { "sName": "Old DO Validity Date", "bSortable": false },
                      { "sName": "New DO Validity Date", "bSortable": false }
                        
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).addClass("text-center");
                    $('td:eq(2),td:eq(3),td:eq(4)', nRow).addClass("text-center");
                    $('td:eq(0)', nRow).css("width", "10px");
                    $('td:eq(1)', nRow).css("width", "50px");
                    $('td:eq(2)', nRow).css("width", "50px");
                    $('td:eq(3)', nRow).css("width", "50px");
                    $('td:eq(4)', nRow).css("width", "50px");
                  

                }
            });
            new $.fn.dataTable.FixedHeader(tblDVD);
        });

</script>
<table id="tblDVD" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            
            <th style="text-align:center">Invoice No</th>
            <th style="text-align:center">Update Date</th>
            <th style="text-align:center">Old DO Validity Date</th>
            <th style="text-align:center">New DO Validity Date</th>
           
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>                    
                    <td>@Html.DisplayFor(m => item.InvoiceNo)</td>
                    <td>@Html.DisplayFor(m => item.RevalidateDate)</td>
                    <td>@Html.DisplayFor(m => item.ExpiryDT)</td>
                    <td>@Html.DisplayFor(m => item.ExtendDT)</td>                   
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>

<script>
   var Page = 0;
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        $.ajax({
            url: '/GateOperation/DSR_GatePass/LoadListOfExtendDOValidity',
            type: 'GET',
            dataType: 'JSON',
            data:
                { Page: Page + 1, InvoiceNo: InvoiceNo },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblDVD').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
                        len,
                        [item.InvoiceNo],
                        [item.RevalidateDate],
                        [item.ExpiryDT],
                        [item.ExtendDT],

                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }

</script>