@model IEnumerable<CwcExim.Areas.Master.Models.PPGEximTrader>
    <script>
        var Page = 0;
        $(document).ready(function(){
            var TblEximTrader = $('#TblEximTrader').DataTable({
                "bFilter":false,
                "bInfo": false,
                "pageLength": 50,
                "aoColumns":[
                             {"sName":"Edit","bSortable":false,"width":"3%"},
                             {"sName":"View","bSortable":false,"width":"3%"},                             
                             {"sName":"Delete","bSortable":false,"width":"3%"},
                             {"sName":"SL No","width":"5%"},
                             {"sName":"Type","width":"8%"},
                             {"sName":"Party Code","bSortable":false,"width":"10%"},
                             {"sName":"Name","width":"10%"},
                             {"sName":"Email","bSortable":false,"width":"10%"},
                             {"sName":"Contact Person","bSortable":false,"width":"10%"},
                             {"sName":"GST No","bSortable":false,"width":"10%"},                             
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).addClass("text-center");
                    $('td:eq(7),td:eq(8),td:eq(9)', nRow).addClass("text-center");
                    $('td:eq(0)', nRow).css("width", "3%");
                    $('td:eq(1)', nRow).css("width", "3%");
                    $('td:eq(2)', nRow).css("width", "3%");
                    $('td:eq(3)', nRow).css("width", "10%");
                    $('td:eq(4)', nRow).css("width", "10%");
                    $('td:eq(5)', nRow).css("width", "10%");
                    $('td:eq(6)', nRow).css("width", "10%");
                    $('td:eq(7)', nRow).css("width", "5%");
                    $('td:eq(8)', nRow).css("width", "5%");
                    $('td:eq(9)', nRow).css("width", "5%");
                }
            });
            new $.fn.dataTable.FixedHeader(TblEximTrader);
        });
        function LoadEximTraderPage(){
           
            $('#DivBody').load('/Master/PPGEximTrader/CreateEximTrader');
        }
        function ViewEximTrader(EximTraderId){
            $('#DivBody').load('/Master/PPGEximTrader/ViewEximTrader?EximTraderId='+EximTraderId);
        }
        function EditEximTrader(EximTraderId){
            $('#DivBody').load('/Master/PPGEximTrader/EditEximTrader?EximTraderId='+EximTraderId);
        }

        function DeleteEximTrader(EximTraderId) {
            var Confirm = confirm("Are You Sure You Want To Delete?");
            if (Confirm == true) {
                var Token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '/EximTrader/DeleteEximTraderDetail',
                    headers: { '__RequestVerificationToken': Token },
                    data: { EximTraderId: EximTraderId },
                    type: 'POST',
                    dataType: 'JSON',
                    async: false,
                    success: function (data) {
                        if (data.Status == 1) {
                            LoadEximTraderPage();
                        }
                        else if (data.Status == 2 || data.Status == 3 || data.Status == 4) {
                            alert(data.Message);
                        }
                    }
                });
            }
        }

        function LoadMoreListData() {
            debugger;
            //Page = Page + 1;
            $.ajax({
                url: '/Master/PPGEximTrader/LoadEximTraderMoreListData',
                type: 'GET',
                dataType: 'JSON',
                data: { Page: Page + 1 },
                success: function (data) {                    
                    debugger;
                    if (data != null && data != '' && data != undefined && data.length > 0) {
                        Page++;
                        var html = '';
                        var dt = $('#TblEximTrader').dataTable();
                        var len = dt.fnGetData().length;
                        $.each(data, function (i, item) {
                            debugger;
                            len++;
                            dt.fnAddData([
            ['<div class="table_icon"><a href="#" onclick=EditEximTrader(' + [item.EximTraderId] + ')><i class="fa fa-pencil"></i></a></div>'],
            ['<div class="table_icon"><a href="#" onclick=ViewEximTrader(' + [item.EximTraderId] + ')><i class="fa fa-eye"></i></a></div>'],            
            ['<div class="table_icon"><a href="#" onclick=DeleteEximTrader(' + [item.EximTraderId] + ')><i class="fa fa-trash-o"></i></a></div>'],
            len,
            [item.Type],
            [item.PartyCode],
            [item.EximTraderName],
            [item.Email],
            [item.ContactPerson],
            [item.GSTNo],           
                            ]);
                        });
                    }
                    else alert('No more data available');
                }
            });
        }

</script>
<table id="TblEximTrader" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center; width:3%;">@Html.DisplayName("Edit")</th>
            <th style="text-align:center; width:3%;">@Html.DisplayName("View")</th>            
            <th style="text-align:center; width:3%;">@Html.DisplayName("Delete")</th>
            <th style="text-align:center; width:5%;">@Html.DisplayName("SL No")</th>
            <th style="width:8%;">@Html.DisplayNameFor(m => m.Type)</th>            
            <th style="width:10%;">@Html.DisplayName("Party Code")</th>
            <th style="width:10%;">@Html.DisplayName("Name")</th>
            <th style="width:10%;">@Html.DisplayNameFor(m => m.Email)</th>
            <th style="width:10%;">@Html.DisplayNameFor(m => m.ContactPerson)</th>
            <th style="width:10%;">@Html.DisplayName("GST No")</th>            
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;"><div class="table_icon"><a href="#" onclick="EditEximTrader(@item.EximTraderId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td style="text-align:center;"><div class="table_icon"><a href="#" onclick="ViewEximTrader(@item.EximTraderId)"><i class="fa fa-eye"></i></a></div></td>
                    <td style="text-align:center;"><div class="table_icon"><a href="#" onclick="DeleteEximTrader(@item.EximTraderId)"><i class="fa fa-trash-o"></i></a></div></td>
                    <td style="text-align:center;">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.Type)</td>                    
                    <td>@item.PartyCode</td>
                    <td>@item.EximTraderName</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.ContactPerson)</td>
                    <th>@Html.DisplayFor(m => item.GSTNo)</th>                    
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>

<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
