@model IEnumerable<CwcExim.Areas.Master.Models.DndEximTraderFinanceControl>
<script>
    $(document).ready(function(){
        var TblEximFinanceControl= $('#TblEximFinanceControl').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "SL No","width":"8%" },
                    { "sName": "Exim Trader Name" },
                    { "sName": "Address", "bSortable": false },
                    { "sName": "Credit Limit", "bSortable": false }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblEximFinanceControl);
    });
 

</script>
<table id="TblEximFinanceControl" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.EximTraderName)</th>
            <th>@Html.DisplayNameFor(m => m.Address)</th>
            <th>@Html.DisplayNameFor(m => m.CreditLimit)</th>

        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.EximTraderName)</td>
                    <td>@Html.DisplayFor(m => item.Address)</td>
                    <td>@Html.DisplayFor(m => item.CreditLimit)</td>

                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>


