@model CwcExim.Models.ExpenseCodeWiseHSN

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        debugger;
        TimeInSeconds = 5000;
        GetExpHSNList();
    });
    function GetExpHSNList() {
        debugger;
        $('#DivCreateExpHSN #DivExpHSNList').load('/ExpenseHead/GetExpCodeWiseHSNList');
    }
    function ResetExpHSN() {
        debugger;
        $('#DivCreateExpHSN #DivExpHSNErrMsg').html('');
        $('#DivCreateExpHSN #DivExpHSNMsg').html('');
        $('[data-valmsg-for]').html('<span></span>');
        $('#DivCreateExpHSN #HSNCode').val('');
        $('#DivCreateExpHSN #ExpenseCode').val('');
    }
    function ExpHSNOnSuccess(data) {
        debugger;
        $('#DivCreateExpHSN #DivExpHSNErrMsg').html('');
        if (data.Status == 1) {
            $('#DivCreateExpHSN #DivExpHSNMsg').html(data.Message);
            setTimeout(ResetExpHSN, TimeInSeconds);
            GetExpHSNList();
        }
        else {
            $('#DivCreateExpHSN #DivExpHSNErrMsg').html(data.Message);
        }
    }
    function ExpHSNOnFailure() { }
</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ExpHSNOnSuccess";
    options.OnFailure = "ExpHSNOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

<div id="DivCreateExpHSN">
    <div class="row">
        <div class="col-md-12">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12 cwc_body">
                    <h5>Expense Code Wise HSN</h5><span class="triangle"></span>
                </div>
            </div>

            @using (Ajax.BeginForm("AddExpCodeWiseHSNDet", "ExpenseHead", options))
            {
                @Html.AntiForgeryToken()
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="ReQSimbol">*</span>
                            <label>Expense Code:</label>
                            @Html.DropDownListFor(m => m.ExpenseCode, new SelectList(Model.LstExpenseCode, "ExpenseCode", "ExpenseCode"), "---Select---")
                            @Html.ValidationMessageFor(m => m.ExpenseCode, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-6">
                        <span class="ReQSimbol">*</span>
                        <label>HSN Code:</label>
                        @Html.DropDownListFor(m => m.HSNCode, new SelectList(Model.LstHSN, "HSNCode", "HSNCode"), "---Select---")
                        @Html.ValidationMessageFor(m => m.HSNCode, "", new { @class = "Error_Msg" })
                    </div>
                </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="submit" class="btn btn-primary mr-1 btn-100px" value="Save">
                        <input type="button" class="btn btn-primary-border btn-100px" value="Reset" onclick="ResetExpHSN()">
                    </div>

                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom" style="background-color:transparent">
                        <div id="DivExpHSNMsg"></div>
                    </div>
                    <div id="DivExpHSNErrMsg" class="logErrMsg" style="background-color:transparent"></div>
            }
            <div class="row">
                <div class="col-md-12 SignUp_space_bottom">
                    <div id="DivExpHSNList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")