@model CwcExim.Models.ExpenseHead
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        debugger;
        TimeInSeconds = 5000;
    });
    function LoadExpenseHeadPage() {
        debugger;
        $('#DivExpenseHead').load('/ExpenseHead/CreateExpenseHead');
    }
    function ExpOnSuccess(data) {
        $('#DivExpErrMsg').html("");
        debugger;
        if (data.Status == 1) {
            $('#DivExpMsg').html(data.Message);
            setTimeout(LoadExpenseHeadPage, 5000);
        }
        else {
            $('#DivExpErrMsg').html(data.Message);
        }
    }
    function ExpOnFailure() {
    }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ExpOnSuccess";
    options.OnFailure = "ExpOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditExpenseHeadDetail", "ExpenseHead", options))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ExpenseHeadId)
    <div class="row">
        <div class="col-md-12">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12 cwc_body">
                    <h5>Expense Head</h5><span class="triangle"></span>
                </div>
            </div>

            <div class="row Form_Space_top">
                <div class="col-md-3">
                    <div class="form-group">
                        <span class="ReQSimbol">*</span>
                        <label>Expense Head:</label>
                        @Html.TextBoxFor(m => m.ExpHead, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.ExpHead, "", new { @class = "Error_Msg" })
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <span class="ReQSimbol">*</span>
                    <label>Expense Code:</label>
                    @Html.TextBoxFor(m => m.ExpenseCode, new { @class = "" })
                    @Html.ValidationMessageFor(m => m.ExpenseCode, "", new { @class = "Error_Msg" })
                </div>
            </div>

            <div class="row">
                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
            </div>
            <div class="d-flex justify-content-left">
                <input type="submit" class="btn btn-primary mr-1 btn-100px" value="Save">
                <input type="button" class="btn btn-primary-border btn-100px" value="Cancel" onclick="LoadExpenseHeadPage()">
            </div>

            <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                <div id="DivExpMsg"></div>
            </div>
            <div id="DivExpErrMsg" class="logErrMsg" style="background-color:transparent"></div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
