
@model IEnumerable<CwcExim.Models.ExpenseCodeWiseHSN>
   
 <script>

     $(document).ready(function () {
         var TblExpHSN = $('#TblExpHSN').DataTable({
             "bFilter": false,
             "bInfo": false,
             "pageLength": 50,
             "aoColumns": [
                        { "sName": "SL No", "width": "8%" },
                        { "sName": "Expense Code" },
                        { "sName": "HSN Code" }
             ]
         });
         new $.fn.dataTable.FixedHeader(TblExpHSN);
     });
 </script>
<table id="TblExpHSN" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("Expense Code")</th>
            <th>@Html.DisplayName("HSN Code")</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach(var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo.</td>
                    <td>@item.ExpenseCode</td>
                    <td>@item.HSNCode</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>