<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Manual I02</h4>
                    </div>
                </div>
                <div class="row Form_Space_top AdvDiv">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Container No. :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                            <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="LoadCFSCode();" data-target="#CFSCodeModal"></i></span>
                            @Html.Hidden("EntryId", "0")
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>ICD Code :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("CFSCode", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Size :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownList("Size", new List<SelectListItem> { new SelectListItem { Text="20",Value="20"},
                           new SelectListItem { Text = "40",Value="40" } }, "----Select-----")
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top AdvDiv">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Transport Mode :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownList("TransportMode", new List<SelectListItem> { new SelectListItem { Text="Train",Value="T"},
                           new SelectListItem { Text = "Road",Value="R" } }, "----Select-----")
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>FCL / LCL :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownList("ContainerLoadType", new List<SelectListItem> { new SelectListItem { Text="FCL",Value="FCL"},
                           new SelectListItem { Text = "LCL",Value="LCL" } }, "----Select-----")
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Weight :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("Weight", "", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Wagon No. </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("WagonNo", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Entry Date : </label>
                        </div>
                        <div class="col-md-2-5 Date_Img">
                            @Html.TextBox("EntryDate", "", new { @class = "form-control input-sm" ,@readonly=true})
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>SLA Alias : </label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("SLA", "", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Train /Vehicle No. </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("TrainNo", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Destination </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("DestRailStationCode", "", new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Port Code Origin </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("PortName", "", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label for="CBT">CBT </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            <div class="boolean-container">
                                <input type="checkbox" id="CBT" name="CBT" />
                                <label for="CBT"><i class="square" style="margin-left:10px;"></i></label>
                            </div>
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">

                        </div>
                        <div class="col-md-2-5">

                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gateway Port Code </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("GatewayPortCode", "")
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <table class="table table-bordered table-striped dataTable" id="tblTP">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>SMTP No</th>
                                    <th>SMTP Date</th>
                                    <th>Add</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                        <input type="button" id="btnSave" class="btn log_Btn_sm" value="Save" onclick="SaveData()" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 SignUp_space_bottom">
                        <input type="button" value="Show List" class="btn log_Btn_sm" onclick="LoadList()" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivEntryDet"></div>
                    </div>
                </div>
            </div>
            <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="CFSCodeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container no. and ICD Code</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Container no. or CFSCode" id="SearchCFSCode" type="text" />
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="6" width="50%">Container no.</th>
                            <th colspan="6" width="50%">ICD Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scrollCFS">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tblCFSCode">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        GenerateEntryTable();
        $('#slim_scrollCFS').slimScroll({
            allowPageScroll: true
        });
        $('#EntryDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein"
        });
    });

    function SelectContainer(i) {
        $('#CFSCode').val($('#tblCFSCode tbody tr:eq(' + i + ') td:eq(1)').text());
        $('#ContainerNo').val($('#tblCFSCode tbody tr:eq(' + i + ') td:eq(0)').text());
        PopulateCFSCodeDetails();
        $('#CFSCodeModal').modal('hide');
        $('#SearchCFSCode').val('');
    }
    $('#SearchCFSCode').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tblCFSCode > tbody > tr').show();
        else {
            $('#tblCFSCode >tbody > tr').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function LoadCFSCode() {
        $.ajax({
            url: '/Icegate/Loni_Icegate/GetContainerListForI02',
            type: 'GET',
            data: { 'CFSCode': '' },
            success: function (data) {
                if (data.Status == 1) {
                    var html = '';
                    $.each(data.Data, function (i, elem) {
                        html += '<tr onclick=SelectContainer(' + i + ')><td  colspan="6" width="50%">' + elem.ContainerNo + '</td><td  colspan="6" width="50%">' + elem.CFSCode + '</td></tr>';
                    });
                    $('#tblCFSCode tbody').html(html);
                }
            }
        });
    }
    function PopulateCFSCodeDetails()
    {
        $('#ContainerNo,#Size,#SLA,#TransportMode,#EntryDate,#ContainerLoadType,#TrainNo,#WagonNo').val('');
        $('#Weight').val('0');
        $.ajax({
            url: '/Icegate/Loni_Icegate/GetContainerDtlForI02',
            type: 'GET',
            data: { 'CFSCode': $('#CFSCode').val() },
            success: function (data) {
                if (data.Status == 1) {
                    $('#ContainerNo').val(data.Data.Cont[0].Value);
                    $('#CFSCode').val(data.Data.Cont[1].Value);
                    $('#Size').val(data.Data.Cont[2].Value);
                    $('#SLA').val(data.Data.Cont[3].Value);
                    $('#TransportMode').val(data.Data.Cont[4].Value);
                    $('#EntryDate').val(data.Data.Cont[5].Value);
                    $('#ContainerLoadType').val(data.Data.Cont[6].Value);
                    $('#TrainNo').val(data.Data.Cont[7].Value);
                    $('#WagonNo').val(data.Data.Cont[8].Value);
                    $('#Weight').val(data.Data.Cont[9].Value);
                    $('#DestRailStationCode').val(data.Data.Cont[10].Value);
                    $('#EntryId').val(data.Data.Cont[11].Value);
                    $('#PortName').val(data.Data.Cont[12].Value);
                    $('#CBT').prop("checked", (data.Data.Cont[13].Value == 1 ? true : false));
                    $('#GatewayPortCode').val(data.Data.Cont[14].Value);
                    var html = '';
                    var count = 0;
                    $('#tblTP tbody').html('');
                    if (data.Data.lstTP.length > 0) {
                        $('#tblTP tbody').html('');
                        $.each(data.Data.lstTP, function (i, elem) {
                            html = '<tr><td>' + (count + 1) + '</td><td><input type="text" value="' + elem.SMTPNo + '"/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text"  id="datepick' + count + '" readonly value="' + elem.SMTPDate + '"/></div></div></td><td><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove"></i></td></tr>';
                            $('#tblTP tbody').append(html);
                            $('#datepick' + count).datepicker({
                                dateFormat: "dd/mm/yy",
                                showOn: "button",
                                buttonImage: "/Content/images/calendar.png",
                                buttonImageOnly: true,
                                buttonText: "Select date",
                                changeMonth: true,
                                changeYear: true,
                                showAnima: "fadein"
                            });
                            count++;
                        });
                    }
                    else {
                        html += '<tr><td>' + (count + 1) + '</td><td><input type="text" value=""/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text" id="datepick' + count + '" readonly value=""/></div></div></td><td><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove"></i></td></tr>';
                        $('#tblTP tbody').html(html);
                        $('#datepick' + count).datepicker({
                            dateFormat: "dd/mm/yy",
                            showOn: "button",
                            buttonImage: "/Content/images/calendar.png",
                            buttonImageOnly: true,
                            buttonText: "Select date",
                            changeMonth: true,
                            changeYear: true,
                            showAnima: "fadein"
                        });
                        count++;
                    }

                }
            }
        });
    }
    function AddTPRow() {
        var count = $('#tblTP tbody tr').length;
        var html = '<tr><td>' + (count + 1) + '</td><td><input type="text" value=""/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text" id="datepick' + count + '" readonly value=""/></div></div></td><td><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove edit"></i></td></tr>';
        $('#tblTP tbody').append(html);
        $('#datepick' + count).datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein"
        });
    }
    function RemoveTPRow(j) {
        if ($('#tblTP tbody tr').length == 1) {
            alert("At least one record is required.");
        }
        else {
            var SMTPJson = [];
            for (var i = 0; i < $('#tblTP tbody tr').length; i++) {
                if (j != i) {
                    SMTPJson.push(
                        {
                            "SMTPNo": $('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val(),
                            "SMTPDate": $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val(),
                        });
                }
            }
            var html = "";
            var count = 0;
            $('#tblTP tbody').html(html);
            $.each(SMTPJson, function (i, elem) {
                html = '<tr><td>' + (count + 1) + '</td><td><input type="text" value="' + elem.SMTPNo + '"/></td><td><div class="col-md-12 row"><div class="Date_Img"><input type="text" id="datepick' + count + '" readonly value="' + elem.SMTPDate + '"/></div></div></td><td><i onclick="AddTPRow()" class="fa fa-plus"></i></td><td><i onclick="RemoveTPRow(' + count + ')" class="fa fa-remove"></i></td></tr>';
                $('#tblTP tbody').append(html);
                $('#datepick' + count).datepicker({
                    dateFormat: "dd/mm/yy",
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.png",
                    buttonImageOnly: true,
                    buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    showAnima: "fadein"
                });
                count++;
            });
        }

    }
    function SaveData() {
        if (ValidateData()) {
            var postjson = [];
            for (var i = 0; i < $('#tblTP tbody tr').length; i++) {
                var jsonObj =
                    {
                        "ID": "0",
                        "MessageType": "F",
                        "ModeOfTransport": $('#TransportMode').val(),
                        "CustomHouseCode": "INPPG6",
                        "SMTPNo": $('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val(),
                        "SMTPDate": $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val(),
                        "Train_VehicleNo": $('#TrainNo').val(),
                        "Train_VehicleDate": $('#EntryDate').val(),
                        "WagonNo": $('#WagonNo').val(),
                        "ContainerNo": $('#ContainerNo').val(),
                        "CFSCode": $('#CFSCode').val(),
                        "ShippingLineCode": $('#SLA').val(),
                        "Weight": $('#Weight').val(),
                        "PortCodeOrigin": (($('#PortName').val()==""||$('#PortName').val()==null||$('#PortName').val()==undefined)?"":$('#PortName').val()),
                        "DestRailStationCode": $('#DestRailStationCode').val(),
                        "GatewayPortCode": $('#GatewayPortCode').val(),
                        "CarrierAgencyCode": ($('#Size').val()=="20"?"2210":"4410"),
                        "BondNo": "",
                        "ISOCode": "",
                        "ContainerStatus": $('#ContainerLoadType').val(),
                        "EntryId": $('#EntryId').val(),
                        "FileName": "",
                        "CBT": ($('#CBT').is(':checked') ? 1 : 0)
                    };
                postjson.push(jsonObj);
            }
            //alert(postjson);
            //console.log(postjson);
            var Token = $('input[name="__RequestVerificationToken"]').val();
            //alert('/Icegate/Loni_Icegate/ManualI02FileCreate');
            $.ajax({
                url: '/Icegate/Loni_Icegate/ManualI02FileCreate',
                type: 'POST',
                data: { "lstData": postjson },
                headers: { "__RequestVerificationToken": Token },
                success: function (data) {
                    if (data.Status == 1)
                    {
                        alert(data.Message);
                        $('#DivBody').load('/Icegate/Loni_Icegate/ManualI02FileCreate');
                    }
                    else alert(data.Message);
                },
                error:function(data)
                {
                    alert(data);
                    console.log(data);
                }
            });
        }
    }
    function ValidateData() {
        if ($('#ContainerNo').val() == '') {
            alert('Select Container No. / ICD Code');
            return false;
        }
        else if ($('#TransportMode').val() == '') {
            alert('Select Transport Mode');
            return false;
        }
        else if ($('#Train_VehicleNo').val() == '') {
            alert('Enter Train No / Vehicle No');
            return false;
        }
            //else if ($('#WagonNo').val() == '' && $('#TransportMode').val()=='T') {
            //    alert('Enter Wagon No.');
            //    return false;
            //}
        else if ($('#SLA').val() == '') {
            alert('Enter Shipping Line Alias.');
            return false;
        }
        else if ($('#Weight').val() == '' ){//|| parseFloat($('#Weight').val()) == '0') {
            alert('Enter Weight');
            return false;
        }
        else if ($('#Size').val() == '') {
            alert('Select Size');
            return false;
        }
        else if ($('#ContainerLoadType').val() == '') {
            alert('Select FCL / LCL');
            return false;
        }
        else if (CheckEmptyTable() == false) {
            alert("Fill all SMTP No");
            return false;
        }
        else if (CheckDistinctSMTPNo() == false) {
            alert("Fill all Distinct SMTP No");
            return false;
        }
        
        return true;
    }
    function CheckEmptyTable() {
        var count = $('#tblTP tbody tr').length;
        var i = 0;
        for (; i < count; i++) {
            if ($('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val() == "") {
                return false;
            }
            if ($('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val() == "") {
                return false;
            }
        }
    }
    function CheckDistinctSMTPNo() {
        var SMTPJson = [];
        for (var i = 0; i < $('#tblTP tbody tr').length; i++) {
            if ($('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val() != '' &&
                $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val() != '') {
                SMTPJson.push(
                {
                    "SMTPNo": $('#tblTP tbody tr:eq(' + i + ') td:eq(1) input[type="text"]').val(),
                    "SMTPDate": $('#tblTP tbody tr:eq(' + i + ') td:eq(2) input[type="text"]').val(),
                });
            }

        }
        if ($('#tblTP tbody tr').length != SMTPJson.map(x=>x.SMTPNo).unique().length) {
            return false;
        }
        return true;
    }
    Array.prototype.unique = function () {
        let arr = [];
        for (let i = 0; i < this.length; i++) {
            if (this[i] != "") {
                if (!arr.includes(this[i])) {
                    arr.push(this[i]);
                }
            }
        }
        return arr;
    }
    function LoadList()
    {
        $('#DivEntryDet').load('/Icegate/Loni_Icegate/ListManualI02');
    }
    function GenerateEntryTable()
    {
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>Container No</th><th>ICDCode</th><th>Size</th><th>Manual Date</th><th>Vehicle No</th><th>Sla Alias</th><th class="text-center">View</th><th class="text-center">Download</th><th class="text-center">Resend</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#DivEntryDet').html(tablehtml);
    }
</script>