@model CwcExim.Areas.Icegate.Models.IcegateManualE07ViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>View Manual E07</h4>
                    </div>
                </div>
                <div class="row Form_Space_top AdvDiv">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Container No. :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>ICD Code :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Size :</label>
                        </div>
                        <div class="col-md-2-5">
                           @Html.TextBoxFor(m => m.CarrierAgencyCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top AdvDiv">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Transport Mode :</label>
                        </div>
                        <div class="col-md-2-5">
                           @Html.TextBoxFor(m => m.ModeOfTransport, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>FCL / LCL :</label>
                        </div>
                        <div class="col-md-2-5">
                           @Html.TextBoxFor(m => m.ContainerStatus, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Weight :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Wagon No. </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WagonNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Destination </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.DestRailStationCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>SLA Alias : </label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ShippingLineCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Train / Vehicle No. </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Train_VehicleNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>

                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gate Pass Date </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Train_VehicleDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>

                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Port Code Origin </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.PortCodeOrigin, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gateway Port Code </label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GatewayPortCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <table class="table table-bordered table-striped dataTable" id="tblTP">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Shippingbill No</th>
                                    <th>Shippingbill Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var Serial = 1;
                                    foreach (var data in Model.lstDtl)
                                    {
                                        <tr>
                                            <td>@Serial</td>
                                            <td>@data.SMTPNo</td>
                                            <td>@data.SMTPDate</td>
                                        </tr>
                                        Serial = Serial + 1;
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                        <input type="button" id="btnSave" class="btn log_Btn_sm" value="Back" onclick="$('#DivBody').load('/Icegate/Loni_Icegate/ManualE07FileCreate');" />
                    </div>
                </div>
            </div>
            <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
        </div>
    </div>
</div>
