@model IEnumerable<CwcExim.Areas.Master.Models.DSRCommodity>
    <script>
        var Page = 0;
        $(document).ready(function(){
            var TblCommodity= $('#TblCommodity').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 50,
                "aoColumns": [
                        { "sName": "SL No" ,"width": "5%"},
                        { "sName": "Commodity Name","width": "20%" },
                        { "sName": "Commodity Alias", "bSortable": false,"width": "10%" },
                        { "sName": "View", "bSortable": false, "width": "5%" },
                        { "sName": "Edit", "bSortable": false, "width": "5%" },
                        { "sName": "Delete", "bSortable": false, "width": "5%" }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).addClass("text-center");
                    $('td:eq(3),td:eq(4),td:eq(5)', nRow).addClass("text-center");
                    $('td:eq(0)', nRow).css("width", "5%");
                    $('td:eq(1)', nRow).css("width", "20%");
                    $('td:eq(2)', nRow).css("width", "10%");
                    $('td:eq(3)', nRow).css("width", "5%");
                    $('td:eq(4)', nRow).css("width", "5%");
                    $('td:eq(5)', nRow).css("width", "5%");
                }
            });
            new $.fn.dataTable.FixedHeader(TblCommodity);
        });
        function LoadCommodityPage(){
            $('#DivBody').load( '/Master/DSRCommodity/CreateCommodity');
        }
        function ViewCommodity(CommodityId){
            $('#DivBody').load( '/Master/DSRCommodity/ViewCommodity?CommodityId='+CommodityId);
        }
        function EditCommodity(CommodityId){
            $('#DivBody').load( '/Master/DSRCommodity/EditCommodity?CommodityId='+CommodityId);
        }
        function DeleteCommodity(CommodityId){
            var Confirm=confirm("Are you sure you want to delete?");
            if(Confirm==true){
                var Token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url:'/Master/DSRCommodity/DeleteCommodityDetail',
                    type:'POST',
                    headers: { '__RequestVerificationToken': Token },
                    data:{CommodityId:CommodityId},
                    dataType:'JSON',
                    async:false,
                    success:function(data){
                        if(data.Status==1)
                        {
                            LoadCommodityPage();
                        }
                        if(data.Status==0)
                        {
                            $('#DivCommodityErrMsg').html("Already in used");
                        }
                    }
                });
            }
        }

        function LoadMoreListData() {
            debugger;
            //Page = Page + 1;
            $.ajax({
                url: '/Master/DSRCommodity/LoadListMoreData',
                type: 'GET',
                dataType: 'JSON',
                data: { Page: Page + 1 },
                success: function (data) {
                    debugger;
                    if (data != null && data != '' && data != undefined && data.length > 0) {
                        Page++;
                        var html = '';
                        var dt = $('#TblCommodity').dataTable();
                        var len = dt.fnGetData().length;
                        $.each(data, function (i, item) {
                            debugger;
                            len++;
                            dt.fnAddData([
            len,
            [item.CommodityName],
            [item.CommodityAlias],
            ['<a href="#" onclick=ViewCommodity(' + [item.CommodityId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
            ['<a href="#" onclick=EditCommodity(' + [item.CommodityId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
            ['<a href="#" onclick=DeleteCommodity(' + [item.CommodityId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
                            ]);
                        });
                    }
                    else alert('No more data available');
                }
            });
        }

    </script>
<table id="TblCommodity" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center; width:5%;">@Html.DisplayName("SL No")</th>
            <th style="width:20%;">@Html.DisplayNameFor(m=>m.CommodityName)</th>
            <th style="width:10%;">@Html.DisplayNameFor(m=>m.CommodityAlias)</th>
            <th style="text-align:center; width:5%;">@Html.DisplayName("View")</th>
            <th style="text-align:center; width:5%;">@Html.DisplayName("Edit")</th>
            <th style="text-align:center; width:5%;">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach(var item in Model)
            {
                <tr>
                    <td style="text-align:center; width:5%;">@SerialNo</td>
                    <td style="width:20%;">@Html.DisplayFor(m=>item.CommodityName)</td>
                    <td style="width:10%;">@Html.DisplayFor(m=>item.CommodityAlias)</td>
                    <td style="text-align:center; width:5%;"><a href="#" onclick="ViewCommodity(@item.CommodityId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center; width:5%;"><a href="#" onclick="EditCommodity(@item.CommodityId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center; width:5%;"><a href="#" onclick="DeleteCommodity(@item.CommodityId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
