@model IEnumerable<CwcExim.Models.PDAOpening>

<script>
    $(document).ready(function(){
        var TblPDA=$('#TblPDA').DataTable({
            "bFilter":false,
            "bInfo":false,
            "pageLength": 50,
            "aoColumns":[
                {"sName":"SL No","width":"8%"},
                {"sName":"Folio No","bSortable": false },
                {"sName":"Party"},
                {"sName":"Date","width":"15%"},
                {"sName":"Amount","width":"15%"},
                {"sName":"View","bSortable":false,"width":"10%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblPDA);
    });
    function ViewPDAOpening(PDAId){
        debugger;
        $('#DivBody').load('/PDAOpening/ViewPDAOpening?PDAId='+PDAId);
    }
</script>

<table id="TblPDA" class="table table-striped table-bordered nowrap"cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m=>m.FolioNo)</th>
            <th>@Html.DisplayNameFor(m=>m.EximTraderName)</th>
            <th>@Html.DisplayNameFor(m=>m.Date)</th>
            <th>@Html.DisplayNameFor(m=>m.Amount)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m=>item.FolioNo)</td>
                    <td>@Html.DisplayFor(m=>item.EximTraderName)</td>
                    <td>@Html.DisplayFor(m=>item.Date)</td>
                    <td>@Html.DisplayFor(m=>item.Amount)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewPDAOpening(@item.PDAId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>