@model IEnumerable<CwcExim.Areas.Export.Models.Hdb_CartingWorkOrder>

<script>
    var Page = 0;
    $(function(){
        var TblCartingWorkOrder=$('#TblCartingWorkOrder').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       {"sName":"Work Orde No","bSortable":false},
                       {"sName":"WorkOrderDate","bSortable":false},
                       {"sName":"CartingNo","bSortable":false},
                       {"sName":"CartingDate","bSortable":false},
                       {"sName":"SBNo","bSortable":false},
                       {"sName":"SBDate","bSortable":false},
                        {"sName":"CHA","bSortable":false},
                       {"sName":"Edit","bSortable":false,"width":"10%"},
                       {"sName":"View","bSortable":false,"width":"10%"},
                       {"sName":"Delete","bSortable":false,"width":"10%"},
                       {"sName":"Preview","bSortable":false,"width":"10%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblCartingWorkOrder);
    });
    function LoadWorkOrderPage(){
        $('#DivBody').load('/Hdb_CWCExport/CreateCartingWorkOrder');
    }
    function EditWorkOrder(CartingWorkOrderId){
        debugger;
        $('#DivBody').load('/Hdb_CWCExport/EditCartingWorkOrder?CartingWorkOrderId='+CartingWorkOrderId);
    }
    function ViewWorkOrder(CartingWorkOrderId){
        debugger;
        $('#DivBody').load('/Hdb_CWCExport/ViewCartingWorkOrder?CartingWorkOrderId='+CartingWorkOrderId);
    }
    function DeleteWorkOrder(CartingWorkOrderId){
        var Confirm=confirm("Are You Sure You Want To Delete?");
        var Token = $('input[name="__RequestVerificationToken"]').val();
        if(Confirm==true){
            $.ajax({
                url:'/Export/Hdb_CWCExport/DeleteCartingWorkOrder',
                type:'POST',
                headers:{'__RequestVerificationToken':Token},
                data:{CartingWorkOrderId:CartingWorkOrderId},
                dataType:'JSON',
                async:false,
                success:function(data){
                    debugger;
                    if(data.Status==1){
                        LoadWorkOrderPage();
                    }
                    else
                        alert(data.Message);
                }
            });
        }
    }
    function PreviewWorkOrder(CartingWorkOrderId)
    {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url:'/Export/Hdb_CWCExport/PreviewCartingWorkOrder',
            type:'POST',
            headers:{'__RequestVerificationToken':Token},
            data:{CartingWorkOrderId:CartingWorkOrderId},
            dataType:'JSON',
            async:false,
            success:function(data){
                if(data.Status==1){
                    window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
                }
                else
                    alert(data.Message);
            }
        });
    }

    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Export/Hdb_CWCExport/LoadListMoreDataWorkOrder',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#TblCartingWorkOrder').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.WorkOrderNo],
        [item.WorkOrderDate],
        [item.CartingNo],
        [item.CartingDate],
        [item.SBNo],
        [item.SBDate],
        [item.CHA],
        ['<a href="#"  class="text-center" onclick=EditWorkOrder(' + [item.CartingWorkOrderId] + ')><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a>'],
        ['<a href="#" class="text-center" onclick=ViewWorkOrder(' + [item.CartingWorkOrderId] + ')><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a>'],
          ['<a href="#" class="text-center" onclick=DeleteWorkOrder(' + [item.CartingWorkOrderId] + ')><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a>'],
            ['<a href="#" class="text-center"  onclick=PreviewWorkOrder(' + [item.CartingWorkOrderId] + ')><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>'],

                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
</script>

<table id="TblCartingWorkOrder" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Work Order No</th>
            <th>Work Order Date</th>
            <th>Carting No</th>
            <th>Carting Date</th>
            <th>SB Name</th>
            <th>SB Date</th>
            <th>CHA</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.WorkOrderNo)</td>
                    <td>@Html.DisplayFor(m => item.WorkOrderDate)</td>
                    <td>@Html.DisplayFor(m => item.CartingNo)</td>
                    <td>@Html.DisplayFor(m => item.CartingDate)</td>
                    <td>@Html.DisplayFor(m => item.SBNo)</td>
                    <td>@Html.DisplayFor(m => item.SBDate)</td>
                    <td>@Html.DisplayFor(m => item.CHA)</td>
                    <td class="text-center"><a href="#" onclick="EditWorkOrder(@item.CartingWorkOrderId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewWorkOrder(@item.CartingWorkOrderId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteWorkOrder(@item.CartingWorkOrderId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PreviewWorkOrder(@item.CartingWorkOrderId)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>