@model CwcExim.Areas.Export.Models.HDBLoadContReq
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
    @using (Ajax.BeginForm("AddEditLoadContReq", "Hdb_CWCExport", new AjaxOptions
    {
       // Confirm = "Are you sure you want to Save?",
        HttpMethod = "POST",
        OnSuccess = "contReqOnSuccess",
        OnFailure = "contReqFailure",
        InsertionMode = InsertionMode.InsertAfter
    }, new { @id = "submitform" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.LoadContReqId)
        @Html.HiddenFor(m => m.StringifyData)
        @Html.HiddenFor(m => m.IsConfirm)
        <div class="row">
            <div class="col-md-12">
                <h4>Loaded Container Request</h4>
            </div>
        </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container/CBT Request No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.LoadContReqNo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4-5 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Container/CBT Request Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.LoadContReqDate, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2"><labe>Transportation:</labe></div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.DropDownListFor(m => m.Transportation, new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text="CWC",Value="CWC"},
                                                                new SelectListItem { Text="Franchiese",Value="Franchiese"},
                                                            }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessageFor(m => m.Transportation, "", new { @class = "ErrorMsg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.HiddenFor(m => m.CHAId)
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                                <span class="search" id="CHASerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-offset-0-5 col-md-1">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.IsODC, new { @id = "chkDS" })
                                    <label for="chkDS"><i class="square"></i><span>IsODC</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divDestination" class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Final Destination location:</label>
                            </div>
                            <div class="col-md-4-5">
                                @*<span class="ReQSimbol">*</span>*@
                                @Html.HiddenFor(m => m.FinalDestinationLocationID)
                                @Html.TextBoxFor(m => m.FinalDestinationLocation, new { @class = "form-control input_sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DestinationModal" onclick="GetFinalDestination()"></i></span>
                                @Html.ValidationMessageFor(m => m.FinalDestinationLocation, "", new { @class = "Error_Msg" })
                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input_sm", @maxlength = 500, @style = "width:100%;height:100px;" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_4">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContComeFrom", "1", new { @class = "", @id = "rbGatewayPort", @checked = true, onclick = "RbnGatewayPort()" })
                                    <label for="rbGatewayPort"><i class="circle"></i><span>Gateway Port</span></label>
                                </div>
                            </div>

                            <div class="col-md-2-5 col_cus_4">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContComeFrom", "2", new { @class = "", @id = "rbLocalIcd", onclick = "RbnLocalIcd()" })
                                    <label for="rbLocalIcd"><i class="circle"></i><span>Local ICD</span></label>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div id="DivPort">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Port Name:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("PortName", "", new { @class = "form-control input-sm", @readonly = "readonly" })
                                        @Html.Hidden("PortId")
                                        <span class="search" id="PortSearch"><i class="fa fa-search" id="search" aria-hidden="true" data-toggle="modal" data-target="#myPortModal"></i></span>
                                        @Html.ValidationMessage("PortName", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div id="DivDistance">
                                    <div class="col_cus_2 col-md-1-5 col-md-offset-4">
                                        <label>Distance:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m=>m.Distance, "", new { @class = "form-control input-sm", maxlength = "19", onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("Distance", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">


                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Printing Charge:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("IsPrinting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Yes",Value="Yes"},
                                            new SelectListItem { Text="No",Value="No"},

                                        }, "----Select----", new { @class = "form-control input-sm dropdown", @onchange = "HidePrintTxt()" })
                                        @Html.ValidationMessage("IsPrinting", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBox("NoOfPrint", "0", new { @class = "form-control input-sm", @min = "1", @style = "display:none;", @onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10", @onfocus = "hideMsg(this);" })
                                        <span class="field-validation-error" id="ErrCasualLabour"></span>
                                    </div>
                                   

                                </div>
                            </div>



                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">


                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Custom Examination Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("CustomExaminationType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Open",Value="Open"},
                                            new SelectListItem { Text="Seal Checking",Value="SealChecking"},

                                        }, "----Select----", new { @class = "form-control input-sm dropdown", @onchange = "HidePrintTxt()" })
                                        @Html.ValidationMessage("CustomExaminationType", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBox("NoOfPrint", "0", new { @class = "form-control input-sm", @min = "1", @style = "display:none;", @onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10", @onfocus = "hideMsg(this);" })
                                        <span class="field-validation-error" id="ErrCasualLabour"></span>
                                    </div>
                                    

                                </div>
                            </div>
                            <div class="modal fade" id="myPortModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content popup_modal">
                                        <div class="modal-header popup_header">
                                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <h4 class="modal-title">List of Port</h4>
                                        </div>
                                        <div class="modal-body popup_body">
                                            <input placeholder="Search Me" id="PortBox" type="text" />
                                            <ul class="navList" id="lstPortName">
                                                @*@{
                                                        if (ViewBag.ListOfPort != null)
                                                        {
                                                            foreach (var item in ViewBag.ListOfPort)
                                                            {
                                                                <li id="@item.PortId">@item.PortName</li>
                                                            }
                                                        }
                                                    }*@
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row">
                                                <div class="col-md-offset-6 col-md-6">
                                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div id="DivShipping" class="Head_h5 Form_Space_top">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Container/CBT Details</h5>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Exporter:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.Hidden("ExporterId")
                                            @Html.TextBox("ExporterName", "", new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search" id="ExporterSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                            @Html.ValidationMessage("ExporterId", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Shipping Line:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.Hidden("ShippingLineId")
                                            @Html.TextBox("ShippingLineName", "", new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                            @Html.ValidationMessage("ShippingLineId", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Container/CBT No:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_10">
                                            @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm" })
                                            @Html.ValidationMessage("ContainerNo", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Size:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownList("Size", new List<SelectListItem> {
                                    new SelectListItem { Text="20",Value="20"},
                                    new SelectListItem { Text="40",Value="40"}})
                                            @Html.ValidationMessage("Size", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1 col_cus_1_5">
                                            <div class="boolean-container">
                                                @Html.CheckBox("IsReefer")
                                                <label for="IsReefer"><i class="square"></i><span>Reefer</span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col_cus_1_5">
                                            <div class="boolean-container">
                                                @Html.CheckBox("IsInsured")
                                                <label for="IsInsured"><i class="square"></i><span>Insured</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Shipping Bill No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", maxlength = "30" })
                                            @Html.ValidationMessage("ShippingBillNo", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1 col_cus_1_5">
                                            <div class="boolean-container">
                                                @Html.CheckBox("IsSEZ")
                                                <label for="IsSEZ"><i class="square"></i><span>SEZ</span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-3-5 padding_rt">
                                            <label>Shipping Bill Date:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5 Date_Img">
                                            @Html.TextBox("ShippingBillDate", "", new { @class = "form-control input-sm", @readonly = true })
                                            @Html.ValidationMessage("ShippingBillDate", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Commodity:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.Hidden("CommodityId")
                                            @Html.TextBox("CommodityName", "", new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search" id="SearchCommodity"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                            @Html.ValidationMessage("CommodityId", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Cargo Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownList("CargoType", new List<SelectListItem>
                                {
                                   new SelectListItem { Text="Non HAZ",Value="2",Selected=true},
                                    new SelectListItem { Text="HAZ",Value="1"}
                                }, new { @class = "form-control input-sm dropdown", @onblur = "ClearErrMsg(this)" })
                                            @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div id="DivShippingSeal" class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Container Load Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownList("ContLoadType", new List<SelectListItem> {
                                    new SelectListItem { Text="FCL",Value="FCL"},
                                    new SelectListItem { Text="LCL",Value="LCL"}}, "---Select---", new { @class = "form-control input-sm dropdown" })
                                            @Html.ValidationMessage("ContLoadType", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                            <label>Custom Seal:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5">
                                            @Html.TextBox("CustomSeal", "", new
                               {
                                   @class = "form-control input-sm",
                                   @maxlength = "30"
                               })
                                            @Html.ValidationMessage("CustomSeal", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div id="divPackage" class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>SCMTR Package Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @*<span class="ReQSimbol">*</span>*@
                                            @Html.DropDownList("SCMTRPackageType", new List<SelectListItem>
                                                    {
                                                        new SelectListItem { Text="Package",Value="P"},
                                                        new SelectListItem { Text="Liquid Bulk",Value="LB"},
                                                        new SelectListItem { Text="Dry Bulk",Value="DB"}
                                                    }, new { @class = "form-control input-sm dropdown" })
                                            @Html.ValidationMessage("SCMTRPackageType", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                            <label>Equipment Seal Type:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5">
                                            @*<span class="ReQSimbol">*</span>*@
                                            @Html.DropDownList("EquipmentSealType", new List<SelectListItem>
                                                {
                                                   new SelectListItem { Text="Bottle-Seal",Value="BTSL"},
                                                   new SelectListItem { Text="E-Seal",Value="ESEAL"},
                                                   new SelectListItem { Text="Others",Value="OTH"},
                                                }, new { @class = "form-control input-sm dropdown" })
                                            @Html.ValidationMessage("EquipmentSealType", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>

                                <div id="divEquipment" class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Equipment Status:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @*<span class="ReQSimbol">*</span>*@
                                            @Html.DropDownList("EquipmentStatus", new List<SelectListItem>
                                                {
                                                   new SelectListItem { Text="Intact",Value="94"},
                                                   new SelectListItem { Text="Damaged",Value="218"}
                                                }, new { @class = "form-control input-sm dropdown" })
                                            @Html.ValidationMessage("EquipmentStatus", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                            <label>Equipment QUC:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_2_5">
                                            @*<span class="ReQSimbol">*</span>*@
                                            @Html.DropDownList("EquipmentQUC", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text="Package",Value="PKG"},
                                                    new SelectListItem { Text="Kilogram",Value="KGS"},
                                                }, new { @class = "form-control input-sm dropdown" })
                                            @Html.ValidationMessage("EquipmentQUC", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Cargo Description:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextArea("CargoDescription", "", new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @onblur = "ClearErrMsg(this)", maxlength = "500" })
                                            @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>No of Units:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", maxlength = "10" })
                                            @Html.ValidationMessage("NoOfUnits", new { @class = "Error_Msg" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                            <label>Gross Weight:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("GrossWt", "", new { @onblur = "ClearErrMsg(this)", maxlength = "12" })
                                            @Html.ValidationMessage("GrossWt", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>FOB Value:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("FobValue", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", maxlength = "12" })
                                            @Html.ValidationMessage("FobValue", new { @class = "Error_Msg" })
                                        </div>

                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                            <label>Package Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownListFor(m => m.PackageType, new List<SelectListItem>
                                       {
                                            new SelectListItem { Text="Pallets",Value="Pallets"},
                                            new SelectListItem { Text="Carton",Value="Carton"},
                                            new SelectListItem { Text="Drums",Value="Drums"},
                                            new SelectListItem { Text="Bags",Value="Bags"},
                                            new SelectListItem { Text="Others",Value="Others"},

                                       }, "----Select----")
                                            @Html.ValidationMessageFor(m => m.PackageType, "", new { @class = "Error_Msg" })
                                            <div id="DivOthers" style="margin-top:5px;">
                                                <div class="Date_Img">
                                                    @Html.TextBoxFor(m => m.OtherPkgType, new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)" })
                                                    @Html.ValidationMessageFor(m => m.OtherPkgType, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Pack UOM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.Hidden("PackUQCId")
                                            @Html.Hidden("PackUQCCode")
                                            @Html.TextBox("PackUQCDescription", "", new { @class = "form-control input_sm", @readonly = true, onkeydown = "PopupActivate('PackUQCModal');" })
                                            @Html.ValidationMessage("PackUQCDescription", "", new { @class = "Error_Msg" })
                                            <span class="search" id="PackUQCSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PackUQCModal"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                           
                                        </div>
                                        <div class="col-md-2-5">
                                     
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                
                                <div class="row">
                                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                </div>
                                <div class="row SignUp_space_bottom">
                                    <div class="col-md-offset-4 col-md-2">
                                        <input type="button" id="btnAdd" class="btn log_Btn_sm" value="Add" onclick="AddContDet()" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetContDet()" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="tblArrayContDet"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                            </div>
                            <div class="row SignUp_space_top2">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllFields()" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 SignUp_space_bottom">
                                    <input type="button" id="BtnContainerListLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadList()" />
                                </div>
                            </div>
                            <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="DivLoadContList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
<div class="modal fade" id="CHAModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                        if (ViewBag.ListOfCHA != null)
                        {
                            foreach (var item in ViewBag.ListOfCHA)
                            {
                                <li id="@item.CHAEximTraderId">@item.CHAName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ExporterModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Exporter</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Exporterbox" type="text" />
                <ul class="navList" id="lstExporter">
                    @{
                        if (ViewBag.ListOfExporter != null)
                        {
                            foreach (var item in ViewBag.ListOfExporter)
                            {
                                <li id="@item.EXPEximTraderId">@item.ExporterName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade mTabindex" id="PackUQCModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ClosePackUQC()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of Pack UOM</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Pack UQC Name Or Pack UQC Code " id="PackUQCbox" type="text" tabindex="200" autofocus />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchPackUQCByCode()"></i></span>

                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Pack UOM Description</th>
                            <th colspan="4" width="20%">Pack UOM Code</th>
                        </tr>
                    </thead>
                </table>

                <div id="slim_scroll_3">
                    <table tabindex="201" class="table dataTable table-bordered table-striped slim_tble" id="tblePackUQC">
                        @{
                            if (ViewBag.lstPackUQC != null)
                            {
                                var tabvalue = 202;
                                foreach (var item in ViewBag.lstPackUQC)
                                {
                                    <tr tabindex="@tabvalue" onclick="SelectPackUQC(@item.PackUQCId,'@item.PackUQCDescription','@item.PackUQCCode')" onkeypress="SelectPackUQC(@item.PackUQCId,'@item.PackUQCDescription','@item.PackUQCCode')">
                                        <td colspan="8" width="80%" class="txt_wrp">@item.PackUQCDescription</td>
                                        <td colspan="4" width="20%" class="txt_wrp">@item.PackUQCCode</td>
                                    </tr>
                                    tabvalue++;
                                }
                            }
                        }

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.PackUQCState != null && Convert.ToBoolean(ViewBag.PackUQCState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePackUQC()" class="btn log_Btn_sm" id="btnLoadPackUQC">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePackUQC()" class="btn log_Btn_sm" id="btnLoadPackUQC" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ClosePackUQC()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Commodity</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Commoditybox" type="text" />
                <ul class="navList" id="lstCommodity">
                    @{
                        if (ViewBag.ListOfCommodity != null)
                        {
                            foreach (var item in ViewBag.ListOfCommodity)
                            {
                                <li id="@item.CommodityId">@item.CommodityName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Shippingbox" type="text" />
                <ul class="navList" id="lstShipping">
                    @{
                        if (ViewBag.ListOfShippingLine != null)
                        {
                            foreach (var item in ViewBag.ListOfShippingLine)
                            {
                                <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="DestinationModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="DestinationModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Final Destination</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="FinalDestinationBox" type="text" tabindex="401" />
                <ul class="navList" id="FinalDestinationList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="DestinationModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
      //  LoadList();
        $('#ShippingBillDate').val('@ViewBag.Currentdt');
        $('#LoadContReqId').val('0');
       
    });
    $(function () {
        
       
        $('#slim_scroll_3').slimScroll({
            allowPageScroll: true
        });
        
    });
    var ArrayContDet = [];
    function AddContDet() {
        if (ValidateContDet()) {
            var ContDet = {
                "ExporterId": $('#ExporterId').val(),
                "ShippingLineId": ($('#ShippingLineId').val() == '' ? 0 : $('#ShippingLineId').val()),
                "ContainerNo": $('#ContainerNo').val(),
                "Size": $('#Size').val(),
                "IsReefer": ($('#IsReefer').is(':checked') ? true : false),
                "IsInsured": ($('#IsInsured').is(':checked') ? true : false),
                "ShippingBillNo": $('#ShippingBillNo').val(),
                "ShippingBillDate": $('#ShippingBillDate').val(),
                "CommodityId": $('#CommodityId').val(),
                "CargoType": $('#CargoType').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "GrossWt": $('#GrossWt').val(),
                "NoOfUnits": $('#NoOfUnits').val(),
                "FoBValue": $('#FobValue').val(),
                "ExporterName": $('#ExporterName').val(),
                "ShippingLineName": $('#ShippingLineName').val(),
                "CommodityName": $('#CommodityName').val(),
                "PackageType": $('#PackageType').val(),
                "OtherPkgType": $('#OtherPkgType').val(),
                "EquipmentSealType": $('#EquipmentSealType').val(),
                "EquipmentStatus": $('#EquipmentStatus').val(),
                "EquipmentQUC": $('#EquipmentQUC').val(),
                "SCMTRPackageType": $('#SCMTRPackageType').val(),
                "ContLoadType": $('#ContLoadType').val(),
                "CustomSeal": $('#CustomSeal').val(),
                "PackUQCCode": $('#PackUQCCode').val(),
                "PackUQCDescription": $('#PackUQCDescription').val(),
                "IsSEZ": ($('#IsSEZ').is(':checked') ? true : false),
            };
            ArrayContDet.push(ContDet);
            $('#tblArrayContDet').html('');
            GenerateTable();
            ResetContDet();
            $('[data-valmsg-for]').html('');
        }
    }
    function GenerateTable() {
        var tablehtml = '<table id="tblArrayContDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>Container No</th><th>Size</th><th>Exporter</th><th>No of Units</th><th class="text-center">Edit</th><th class="text-center">View</th></tr></thead><tbody>';
        $.each(ArrayContDet, function (i, data) {
            tablehtml += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + data.ContainerNo + '</td><td>' + data.Size + '</td><td>' + data.ExporterName + '</td><td>' + data.NoOfUnits + '</td><td class="text-center"><a href="#" onclick="EditContDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td><td class="text-center"><a href="#" onclick="ViewContDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblArrayContDet').html(tablehtml);
    }
    function ResetContDet() {
        $('#ExporterId,#ShippingLineId,#ContainerNo,#ShippingBillNo,#CommodityId,#CargoDescription,#NoOfUnits,#FobValue,#GrossWt,#ExporterName,#ShippingLineName,#CommodityName,#CustomSeal').val('');
        $('#Size').val('20');
        $('#IsReefer,#IsInsured').prop("checked", false);
        $('#ShippingBillDate').val('@ViewBag.Currentdt');
        $('#CargoType').val('2');
        $('#PackageType').val('');
        $('#OtherPkgType').val('');
        $('#EquipmentSealType').val('BTSL');
        $('#EquipmentStatus').val('94');
        $('#EquipmentQUC').val('PKG');
        $('#SCMTRPackageType').val('P');
        $('#ContLoadType').val('---Select---');
        $('#DivOthers').hide();
        $('#btnAdd').prop("disabled", false);
        $('#IsSEZ').prop("checked", false);
    }
    function EditContDet(i) {
        $('#btnAdd').prop("disabled", false);
        $('#ExporterId').val(ArrayContDet[i].ExporterId);
        $('#ExporterName').val(ArrayContDet[i].ExporterName);
        $('#ShippingLineId').val(ArrayContDet[i].ShippingLineId);
        $('#ShippingLineName').val(ArrayContDet[i].ShippingLineName);
        $('#ContainerNo').val(ArrayContDet[i].ContainerNo);
        $('#Size').val(ArrayContDet[i].Size);
        $('#IsReefer').prop("checked", ArrayContDet[i].IsReefer);
        $('#IsInsured').prop("checked", ArrayContDet[i].IsInsured);
        $('#ShippingBillNo').val(ArrayContDet[i].ShippingBillNo);
        $('#ShippingBillDate').val(ArrayContDet[i].ShippingBillDate);
        $('#CommodityName').val(ArrayContDet[i].CommodityName);
        $('#CommodityId').val(ArrayContDet[i].CommodityId);
        $('#CargoType').val(ArrayContDet[i].CargoType);
        $('#CargoDescription').val(ArrayContDet[i].CargoDescription);
        $('#NoOfUnits').val(ArrayContDet[i].NoOfUnits);
        $('#GrossWt').val(ArrayContDet[i].GrossWt);
        $('#FobValue').val(ArrayContDet[i].FoBValue);
        $('#PackageType').val(ArrayContDet[i].PackageType);
        $('#OtherPkgType').val(ArrayContDet[i].OtherPkgType);
        $('#EquipmentSealType').val(ArrayContDet[i].EquipmentSealType);
        $('#EquipmentStatus').val(ArrayContDet[i].EquipmentStatus);
        $('#EquipmentQUC').val(ArrayContDet[i].EquipmentQUC);
        $('#SCMTRPackageType').val(ArrayContDet[i].SCMTRPackageType);
        $('#ContLoadType').val(ArrayContDet[i].ContLoadType);
        $('#CustomSeal').val(ArrayContDet[i].CustomSeal);
        $('#PackUQCCode').val(ArrayContDet[i].PackUQCCode);
        $('#PackUQCDescription').val(ArrayContDet[i].PackUQCDescription);
        $('#IsSEZ').prop("checked", ArrayContDet[i].IsSEZ);
        ArrayContDet.splice(i, 1);
        $('#tblArrayContDet').html('');
        GenerateTable();
    }
    function ViewContDet(i) {
        $('#ExporterName').val(ArrayContDet[i].ExporterName);
        $('#ShippingLineName').val(ArrayContDet[i].ShippingLineName);
        $('#ContainerNo').val(ArrayContDet[i].ContainerNo);
        $('#Size').val(ArrayContDet[i].Size);
        $('#IsReefer').prop("checked", ArrayContDet[i].IsReefer);
        $('#IsInsured').prop("checked", ArrayContDet[i].IsInsured);
        $('#ShippingBillNo').val(ArrayContDet[i].ShippingBillNo);
        $('#ShippingBillDate').val(ArrayContDet[i].ShippingBillDate);
        $('#CommodityName').val(ArrayContDet[i].CommodityName);
        $('#CargoType').val(ArrayContDet[i].CargoType);
        $('#CargoDescription').val(ArrayContDet[i].CargoDescription);
        $('#NoOfUnits').val(ArrayContDet[i].NoOfUnits);
        $('#GrossWt').val(ArrayContDet[i].GrossWt);
        $('#FobValue').val(ArrayContDet[i].FoBValue);
        $('#PackageType').val(ArrayContDet[i].PackageType);
        $('#OtherPkgType').val(ArrayContDet[i].OtherPkgType);
        $('#EquipmentSealType').val(ArrayContDet[i].EquipmentSealType);
        $('#EquipmentStatus').val(ArrayContDet[i].EquipmentStatus);
        $('#EquipmentQUC').val(ArrayContDet[i].EquipmentQUC);
        $('#SCMTRPackageType').val(ArrayContDet[i].SCMTRPackageType);
        $('#ContLoadType').val(ArrayContDet[i].ContLoadType);
        $('#CustomSeal').val(ArrayContDet[i].CustomSeal);
        $('#PackUQCCode').val(ArrayContDet[i].PackUQCCode);
        $('#PackUQCDescription').val(ArrayContDet[i].PackUQCDescription);
        $('#IsSEZ').prop("checked", ArrayContDet[i].IsSEZ);
        $('#btnAdd').prop("disabled", true);
    }
    function ValidateContDet() {
        var Status = true;
        $('[data-valmsg-for="ContainerNo"]').html('<span></span>');
        if ($('#ExporterId').val() == "") {
            $('[data-valmsg-for="ExporterId"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        if ($('#ContainerNo').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        if ($('#CargoDescription').val() == "") {
            $('[data-valmsg-for="CargoDescription"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        if ($('#CommodityId').val() == "") {
            $('[data-valmsg-for="CommodityId"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        if ($('#CargoType').val() == "") {
            $('[data-valmsg-for="CargoType"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        if ($('#NoOfUnits').val() == "") {
            $('[data-valmsg-for="NoOfUnits"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        if ($('#GrossWt').val() == "") {
            $('[data-valmsg-for="GrossWt"]').html('<span>Fill Out This Field<span>');
            Status = false;

        }
        if ($('#FobValue').val() == "") {
            $('[data-valmsg-for="FobValue"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PackUQCCode').val() == "") {
            $('[data-valmsg-for="PackUQCDescription"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        var ContainerNo = $('#ContainerNo').val();
        //if (ContainerNo != "")
        //{
        //    $.each(ArrayContDet, function (i, elem) {
        //        if (elem.ContainerNo == ContainerNo)
        //        {
        //            $('[data-valmsg-for="ContainerNo"]').html('<span>Duplicate Container No.</span>');
        //            Status = false;
        //            return false;
        //        }
        //    });
        //}
        return Status;
    }
    function ClearErrMsg(elem) {
        $('[data-valmsg-for="' + elem.id + '"]').html('');
    }
    $('#btnSave').on("click", function () {
        var Status = true;
        if ($('#tblArrayContDet tbody tr').html() == null || $('#tblArrayContDet tbody tr').html() == undefined) {
            Status = false;
            $('#DivMsg').html('Add the record to Save');
        }

        if (Status == true)
            $('#StringifyData').val(JSON.stringify(ArrayContDet));
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
        return Status;
    });
    function contReqOnSuccess(data) {
        if (data.Status == 1 || data.Status == 2 || data.Status == 3) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
        }
        else if (data.Status == 4) {
            var conf = confirm('FOB value is more than Party bond value.Shall we allow?');
            if (conf) {
                $('#IsConfirm').val('YES');
                $('#submitform').submit();
            }
        }

        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivBody').load('/Export/Hdb_CWCExport/CreateLoadContainerRequest'); }, 5000);
    }
    function contReqFailure()
    { }

    function HidePrintTxt() {
        debugger;
        if ($('#IsPrinting').val() == "Yes") {
            $('#NoOfPrint').css("display", "block");
            $('#NoOfPrint').val("1");
        }
        else {
            $('#NoOfPrint').val("0");
            $('#NoOfPrint').css("display", "none");
        }
    }

    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }

    function ResetAllFields() {
        $('[data-valmsg-for]').html('');
        $('input[type="text"],Select,textarea').val('');
        // $('#ApplicationDate,#ShippingBillDate').val('Model.ApplicationDate');
        $('#tblShippingDet').html('');
        $('#StringifyData').val('');
        ArrayShippingDet = [];
    }
    function LoadList() {
        $('#DivLoadContList').load('/Export/Hdb_CWCExport/ListLoadContainerRequest');
    }

    function LoadMorePackUQC() {
        debugger;
        $.ajax({
            url: '/Export/Hdb_CWCExport/LoadPackUQCList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstPackUQC, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tblePackUQC tbody').html(html);
                    else
                        $('#tblePackUQC tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.PackUQCState == true)
                        $('#btnLoadPackUQC').prop('disabled', false);
                    else $('#btnLoadPackUQC').prop('disabled', true);
                }
            }
        });
    }

    function LoadPackUQC() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/Hdb_CWCExport/LoadPackUQCList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstPackUQC, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                        tabvalue++;
                    });

                    $('#tblePackUQC tbody').html(html);

                    if (data.Data.PackUQCState == true)
                        $('#btnLoadPackUQC').prop('disabled', false);
                    else $('#btnLoadPackUQC').prop('disabled', true);
                }
            }
        });
    }

    function SearchPackUQCByCode() {
        debugger;
        if ($('#PackUQCbox').val() != '') {
            $.ajax({
                url: '/Export/Hdb_CWCExport/SearchPackUQCByCode',
                type: 'GET',
                data: { PartyCode: $('#PackUQCbox').val() },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var tabvalue = 202;
                        $.each(data.Data.lstPackUQC, function (item, elem) {
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                            tabvalue++;
                        });
                        $('#tblePackUQC tbody').html('');
                        $('#tblePackUQC tbody').html(html);
                        $('#btnLoadPackUQC').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tblePackUQC tbody').html('');
                        Page = -1;
                        $('#btnLoadPackUQC').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadPackUQC();
    }
    function SelectPackUQC(PackUQCId, PackUQCDescription, PackUQCCode) {
        debugger;
        $('#PackUQCDescription').val(PackUQCDescription);
        $('#PackUQCCode').val(PackUQCCode);
        $('#PackUQCId').val(PackUQCId);
        $("#PackUQCModal").modal("hide");
        $('#PackUQCbox').val('');
        $('[data-valmsg-for="PackUQCDescription"]').html('');
        LoadPackUQC();
        $('#Package').focus();
    }
    function ClosePackUQC() {
        debugger;
        $('#PackUQCbox').val('');
        $("#PackUQCModal").modal("hide");
        LoadPackUQC();
    }

</script>
<script>
    $('#LoadContReqDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ApplicationDate']").html('');
        }
    });
    $('#ShippingBillDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ShippingBillDate']").html('');
        }
    });
    $('#CHAbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCHA > li').show();
        else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCHA > li').on("click", function () {
        $('#CHAName').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAModal").modal("hide");
    });
    $('#Exporterbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstExporter > li').show();
        else {
            $('#lstExporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstExporter > li').on("click", function () {
        $('#ExporterName').val($(this).text());
        $('#ExporterId').val($(this).attr('id'));
        $("#ExporterModal").modal("hide");
    });
    $('#Commoditybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCommodity > li').show();
        else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCommodity > li').on("click", function () {
        $('#CommodityName').val($(this).text());
        $('#CommodityId').val($(this).attr('id'));
        $("#CommodityModal").modal("hide");
    });
    $('#Shippingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShipping > li').show();
        else {
            $('#lstShipping > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstShipping > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });

    $("#DivOthers").hide();
    $('#PackageType').change(function () {        
        var val = $(this).find(":selected").text();
        if (val == 'Others') {
            $('#DivOthers').show();

        }
        else {
            $('#DivOthers').hide();
        }
    })
    $('#PortSearch').on("click", function () {
        $.ajax({
            url: "/Export/Hdb_CWCExport/GetPortList",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        Html += '<li id=' + item.PortId + ' onclick="FillPortTxtBox(' + item.PortId + ',&quot;' + item.PortName + '&quot;)">' + item.PortName + '</li>';
                    });
                    $('#lstPortName').html(Html);
                }
            }
        });
    });
    function FillPortTxtBox(PortId, PortName) {
        debugger;
        $('#PortName').val(PortName);
        $('#PortId').val(PortId);
        $("#myPortModal").modal("hide");
    }
    $('#PortBox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPortName > li').show();
        else {
            $('#lstPortName > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#DivDistance').hide();
    function RbnGatewayPort() {
        debugger;
        $('#DivPort').show();
        $('#DivDistance').hide();
        $('#Distance').val(0);
    }
    function RbnLocalIcd() {
        debugger;
        $('#DivPort').hide();
        $('#DivDistance').show();
        $('#PortId').val(0);
        $('#PortName').val('');
    }

    function GetFinalDestination() {
        $.ajax({
            url: '/Export/Hdb_CWCExport/GetFinalDestination',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#FinalDestinationList').html('');
                    var html = '';
                    var tab = 401;
                    var jsondata = JSON.parse(JSON.stringify(data));
                    $.each(jsondata, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' onkeypress="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)" onclick="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)">' + item.CustodianCode + '</li>';
                    });

                    $('#FinalDestinationList').html(html);

                }
            }
        });
    }

    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    document.getElementById('FinalDestinationBox').addEventListener('keyup', debounce(function () {
        debugger;
        SearchFinalDestination();
    }, 1200));

    function SearchFinalDestination() {
        var CustodianName = $('#FinalDestinationBox').val();
        $.ajax({
            url: '/Export/Hdb_CWCExport/GetFinalDestination',
            type: 'GET',
            data: { CustodianName: CustodianName },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#FinalDestinationList').html('');
                    var html = '';
                    var tab = 401;
                    var jsondata = JSON.parse(JSON.stringify(data));
                    $.each(jsondata, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' onkeypress="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)" onclick="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)">' + item.CustodianCode + '</li>';
                    });
                    $('#FinalDestinationList').html(html);
                }
            }
        });
    }


    function SelectFinalDestination(CustodianId, CustodianCode) {
        debugger;
        var dt = CustodianCode;
        var dtvalue = dt.split("-");
        var dtval = dtvalue[0];
        $('#FinalDestinationLocationID').val(CustodianId);
        $('#FinalDestinationLocation').val(dtval);
        $('#DestinationModal').modal("hide");
    }
    function DestinationModalClose() {
        $('#DestinationModal').modal("hide");
        $('#DestinationModal .navList > li').show();
        $('#DestinationBox').val('');
    }

    $('#DestinationModal').on('shown.bs.modal', function () {
        $('#FinalDestinationBox').focus();
    });
</script>
