@if (ViewBag.InvoiceList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.InvoiceList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}
<input type="hidden" id="hdnSupplyType" value="" />

@if (ViewBag.PaymentPayee != null)
{
    <input type="hidden" id="hdnPayee" value="@ViewBag.PaymentPayee" />
    <input type="hidden" id="hdnPayerState" value="@ViewBag.StatePayer" />
}
else
{
    <input type="hidden" id="hdnPayee" value="" />
    <input type="hidden" id="hdnPayerState" value="" />
}
<script src="~/Areas/Export/Scripts/App/Services/ReeferService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/ReeferCtrl.js"></script>
<style>
    #ContainerModal .modal-content {
        width: 100%;
    }
</style>
@Html.AntiForgeryToken()
<div id="DivReefer" ng-controller="RefInvoiceCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Reefer Plugin Request</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col_cus_2_5 col-md-offset-1-5 col_cus_offset_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Reefer Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" id="ReeferInvNo" ng-model="ReeferInvNo" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="hidden" id="InvoiceId" ng-model="InvoiceId" />
                                <input type="text" id="InvoiceNo" ng-model="InvoiceNo" readonly="readonly" />
                                <span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#invoicemodal"></i></span>
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>Export Under:</label>
                            </div>
                            <div class="col-md-2-5">
                                <select ng-model="ExportUnder" ng-disabled="IsCalculated==1" class="form-control input-sm">
                                    <option value="">----Select----</option>
                                    <option value="SEZWP">SEZWP</option>
                                    <option value="SEZWOP">SEZWOP</option>
                                </select>
                            </div>
                            <div class="col-md-1-5  col_cus_offset_3 col_cus_2">
                                <label>Delivery Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @*@Html.Hidden("HdnDate", DateTime.Now.ToString("dd/MM/yyyy HH:mm"))*@
                                <input type="text" ng-model="InvoiceDate" id="InvoiceDate" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Distance:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" id="Distance" ng-disabled="IsCalculated==1" ng-model="Distance" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Exporter Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input type="hidden" id="ExporterId" ng-model="ExporterId" />
                                <input type="text" id="ExporterName" ng-model="ExporterName" readonly="readonly" />
                                @*<span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input type="hidden" id="CHAId" ng-model="CHAId" />
                                <input type="text" id="CHAName" ng-model="CHAName" readonly="readonly" />
                                @*<span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Party Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input type="hidden" id="PartyId" ng-model="PartyName" />
                                <input type="text" id="PartyId" ng-model="PartyName" readonly="readonly" />
                                @*<span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Payer Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input type="hidden" id="PayeeId" ng-model="PayeeId" />
                                <input type="text" id="PayeeName" ng-model="PayeeName" readonly="readonly" />
                                <span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayerModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" id="GSTNo" ng-model="GSTNo" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-4 col-md-3">
                            <input type="button" value="Container Select" data-target="#ContainerModal" data-toggle="modal" class="btn log_Btn_sm" />
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="col-md-12">
                            <table id="tblContainer" class="table table-bordered dataTable nowrap table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:8%;" class="text-center">Sl No</th>
                                        <th>CFS No</th>
                                        <th>Container No</th>
                                        <th>Size</th>
                                        <th>Reefer</th>
                                        <th>Plug-In Datetime</th>
                                        <th>Plug-Out Datetime</th>
                                        <th>Shift</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListOfCont">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.CFSCode}}</td>
                                        <td>{{item.ContainerNo}}</td>
                                        <td>{{item.Size}}</td>
                                        <td>
                                            <span ng-if="item.Reefer==true">Yes</span>
                                            <span ng-if="item.Reefer==false">No</span>
                                        </td>
                                        <td>{{item.PlugInDatetime}}</td>
                                        <td>{{item.PlugOutDatetime}}</td>
                                        <td>{{item.Shift}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Charges</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in InvoiceObj.lstPostPaymentChrg">
                                            <td>{{c.Clause}}.{{c.ChargeName}} </td>
                                            @*<td style="text-align:right;"><input type="text" ng-blur="ReCalculate(c,$index)" readonly ng-model="c.Taxable" /> </td>*@
                                            <td style="text-align:right;"><input type="text"  readonly ng-model="c.Taxable" /> </td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.IGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.IGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.CGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.CGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.SGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.SGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.Total" readonly /></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" class="text-right">Total Value:</td>
                                            <td style="text-align:right;">
                                                {{InvoiceObj.AllTotal | number : 2}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="text-right">Round Up:</td>
                                            <td style="text-align:right;">
                                                {{InvoiceObj.RoundUp | number : 2}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                            <td style="text-align:right;">
                                                {{InvoiceObj.InvoiceAmt | number : 2}}
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5">
                                <textarea type="text" style="height:75px;" maxlength="500" ng-model="InvoiceObj.Remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent">{{Message}}</div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-1-5 col-md-2">
                            <input type="button" id="btnSave" value="Save" ng-click="AddEditReeferInv()" ng-disabled="IsCalculated==0 || InvoiceObj.InvoiceAmt==0" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" value="Generated IRN" class="btn log_Btn_sm" onclick="GenerateIRN()" id="btnGeneratedIRN" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintInvoice()" id="btnPrint" disabled />
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                            </div>

                            <div class="col-md-2">
                                <input type="text" placeholder="Search by Invoice No" id="SearchInvoiceNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" placeholder="Date (dd/mm/yyyy)" id="SearchInvoiceDate" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12" id="DivListOfInvoice">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <td>Sl No</td>
                                            <td>Invoice No</td>
                                            <td>Invoice Date</td>
                                            <td>Party Name</td>
                                            <td>Print</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="invoicemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Invoice No.</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Invnobox" type="text" ng-model="SearchInvNo" />
                    <ul class="navList" id="lstInvNo">
                        <li ng-repeat="p in InvoiceList | filter:{InvoiceNo:SearchInvNo}" ng-click="SelectInvoiceNo(p)">{{p.InvoiceNo}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="PayeeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">           
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Payer</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Payeebox" type="text" ng-model="SearchParty" />
                    <ul class="navList" id="lstPayee">
                        <li ng-repeat="p in PayeeList|filter:{PayeeName:SearchParty}" ng-click="SelectPayee(p)">{{p.PayeeName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div id="PayerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal" style="width:100%;">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="ClosePayer()" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Payer</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Payer Name Or Payer Address" id="Payerbox" type="text" ng-model="PayerCode" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchPayerByPayerCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd1" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="4" width="40%">Payer Name</th>
                                <th colspan="8" width="60%">Payer Address</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tblePayer">
                            <tbody>
                                <tr ng-repeat="p in PayerList" ng-click="SelectPayer(p)">
                                    <td colspan="4" width="40%" class="txt_wrp">{{p.PartyName}} </td>
                                    <td colspan="8" width="60%" class="txt_wrp">{{p.PartyCode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">

                            <button ng-disabled="!StatePayer" type="button" style="width:100%; margin-left:0;" ng-click="LoadMorePayer()" class="btn log_Btn_sm" id="btnLoadMore">Load More Payer</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="ClosePayer()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ContainerModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="CalculateCharges()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of ContainerNo</h4>
                </div>
                <div class="modal-body popup_body">
                    <table id="lstcfsCode" class="dataTable table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>CFS Code</th>
                                <th>Container No.</th>
                                <th>Plug-In Datetime</th>
                                <th>Plug-Out Datetime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ConatinersList">
                                <td>
                                    <div class="boolean-container">
                                        <input type="checkbox" ng-disabled="IsCalculated==1" ng-model="item.Selected" id={{item.CFSCode}} /><label for={{item.CFSCode}}>
                                            <i class="square" style="margin-left:10px;"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>{{item.CFSCode}} </td>
                                <td>{{item.ContainerNo}}</td>
                                <td>
                                    <div class="row"><div class="col-md-12 Date_Img"><input type="text" datepicker ng-model="item.PlugInDatetime" readonly /></div></div>
                                    <span style="color:red;" ng-if="item.Selected==true && item.PlugInDatetime==''">Select Plug-In Datetime</span>
                                </td>
                                <td>
                                    <div class="row"><div class="col-md-12 Date_Img"><input type="text" datepicker ng-model="item.PlugOutDatetime" readonly /></div></div>
                                    <span style="color:red;" ng-if="item.Selected==true && item.PlugOutDatetime==''">Select Plug-Out Datetime</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="CalculateCharges()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });            
    });
</script>
<script>
    var Page = 0;
    var Page1 = 0;
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        angular.bootstrap(document.getElementById('DivReefer'), ['CWCApp']);
        //$('#InvoiceDate').datetimepicker({
        //    showOn: "button",
        //    buttonImage: "/Content/images/calendar.png",
        //    buttonImageOnly: true,
        //    dateFormat: "dd/mm/yy",
        //    altField: "#slider_example_4andHalf_alt",
        //    altFieldTimeOnly: false,
        //    onClose: function () {
        //        $(".Date_Img .Error_Msg").text("");
        //        $('[data-valmsg-for="Data"]').html('<span></span>');
        //    }
        //});
    });
    var Type = '@ViewData["InvType"]';
    Type == 'Tax' ? $('#Tax').prop('checked', true) : $('#Bill').prop('checked', true);
    function IVType(val) {
        $('#DivBody').load('/Export/Hdb_CWCExport/CreateReeferPluginRequest?type=' + val);
    }
    function ResetField() {
        $('#DivBody').load('/Export/Hdb_CWCExport/CreateReeferPluginRequest');
    }


    function GenerateIRN() {
        debugger;

        var InvoiceNo = $('#ReeferInvNo').val();
         var SupplyType = $('#hdnSupplyType').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetIRNForExportInvoice", "Hdb_CWCExport", new { Area = "Export" }) ',
            type: 'POST',
            data: {
                InvoiceNo: InvoiceNo,
               SupplyType:SupplyType
            },
            success: function (data) {
                if (data.Status == 1) {
                    alert("IRN has been generated sucessfully");
                    $('#btnPrint').removeAttr("disabled");
                }
                else
                    
                    alert(data.Message);
                $('#btnPrint').removeAttr("disabled");

            }
        });
    };


    function PrintInvoice() {
        var ReeferInvNo = $('#ReeferInvNo').val();
        if (ReeferInvNo != '' && ReeferInvNo != null) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "Hdb_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: ReeferInvNo,
                    InvoiceModule: 'EXPREF',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'Reefer Invoice',
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Data);
                }
            });
        }
    }

    function ShowList() {
        $('#SearchInvoiceNo').val("");
        $('#SearchInvoiceDate').val("");
        $('#SearchContainerNo').val("");
        $('#DivListOfInvoice').load('/Export/Hdb_CWCExport/ListOfExpInvoice?Module=EXPREF');
    }
    function SearchInvoice() {
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();

        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "")
            $('#DivListOfInvoice').load('/Export/Hdb_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + "&Module=EXPREF");
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/Export/Hdb_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + "&Module=EXPREF");
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Export/Hdb_CWCExport/ListOfExpInvoice?InvoiceDate=' + InvoiceDate + "&Module=EXPREF");
    }
</script>