@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}
<input type="hidden" id="hdnSupplyType"  />

@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
    <input type="hidden" id="hdnPartyState" value="@ViewBag.State" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
    <input type="hidden" id="hdnPartyState" value="" />
}
@if (ViewBag.PaymentPayee != null)
{
    <input type="hidden" id="hdnPayee" value="@ViewBag.PaymentPayee" />
    <input type="hidden" id="hdnPayerState" value="@ViewBag.StatePayer" />
}
else
{
    <input type="hidden" id="hdnPayee" value="" />
    <input type="hidden" id="hdnPayerState" value="" />
}

@*<style>
        .slimScrollDiv {
            height: 300px !important;
        }

        #slim_scroll {
            height: 300px !important;
        }

        #slim_scroll_1 {
            height: 300px !important;
        }

        #tbleCommodity.dataTable tbody > tr > td {
            cursor: pointer;
        }

        #tbleImp.dataTable tbody > tr > td {
            cursor: pointer;
        }

        .table.tblhd {
            border-bottom: 0;
        }

        .table.tblhd1 {
            border-bottom: 0;
        }

        .modal {
            padding-top: 70px;
        }
    </style>*@

<script src="~/Areas/Export/Scripts/App/Services/Hdb_BttContrainerForStuffedServices.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/Hdb_BttContainerForStuffCtrl.js"></script>
<div id="DivBTTCont" ng-controller="BttContCtrlForStuffed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>BTT Container Payment Sheet - Factory Stuffed</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col_cus_2_5 col-md-offset-1-5 col_cus_offset_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="hidden" id="InvoiceId" ng-model="InvoiceId" />
                                <input type="text" id="InvoiceNo" ng-model="InvoiceNo" readonly="readonly" />
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Delivery Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.Hidden("hdndate", DateTime.Now.ToString("dd/MM/yyyy hh:mm"))
                                <input type="text" ng-model="InvoiceDate" id="InvoiceDate" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>No Of Casual Labour Supplied:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" id="CasualLabour" ng-disabled="IsCalculated==1" ng-model="CasualLabour" />
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_2">
                                <label>Export Under:</label>
                            </div>
                            <div class="col-md-2">
                                <select id="ExportUnder" ng-model="ExportUnder" ng-disabled="IsCalculated==1" class="form-control input-sm">
                                    <option value="">----Select----</option>
                                    <option value="SEZWP">SEZWP</option>
                                    <option value="SEZWOP">SEZWOP</option>
                                   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Party Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input type="hidden" id="PartyId" ng-model="PartyId" />
                                <input type="text" id="PartyName" ng-model="PartyName" readonly="readonly" />
                                <span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Payer Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input type="hidden" id="PartyId" ng-model="PayeeId" />
                                <input type="text" id="PartyName" ng-model="PayeeName" readonly="readonly" />
                                <span class="search" ng-hide="IsCalculated==1"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayerModal"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">


                            <div class="col-md-1-5 col_cus_2">
                                <label>Printing Charge:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownList("IsPrinting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Yes",Value="Yes"},
                                            new SelectListItem { Text="No",Value="No"},

                                        }, "----Select----", new { @class = "form-control input-sm dropdown", @onchange = "HidePrintTxt()" })
                                @Html.ValidationMessage("IsPrinting", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("NoOfPrint", "0", new { @class = "form-control input-sm", @min = "1", @style = "display:none;", @onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10", @onfocus = "hideMsg(this);" })
                                <span class="field-validation-error" id="ErrCasualLabour"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" id="GSTNo" ng-model="GSTNo" readonly="readonly" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" value="Container Select" data-target="#ContainerModal" data-toggle="modal" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="col-md-12">
                            <table id="tblContainer" class="table table-bordered dataTable nowrap table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:8%;" class="text-center">Sl No</th>
                                        <th>CFS No</th>
                                        <th>Container No</th>
                                        <th>Size</th>
                                        <th>Insured</th>
                                        <th>In Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ContainerPopulate">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td>{{item.CFSCode}}</td>
                                        <td>{{item.ContainerNo}}</td>
                                        <td>{{item.Size}}</td>
                                        <td>
                                            <input type="checkbox" ng-disabled="true" ng-checked="{{item.Insured}}" /><label>
                                                <i class="square" style="margin-left:10px;"></i>
                                            </label>
                                        </td>
                                        <td>
                                            {{item.ArrivalTime}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>CWC Charges</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in CWCCharge">
                                            <td>{{c.Clause}}.{{c.ChargeName}} </td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.Taxable" /> </td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.IGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.IGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.CGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.CGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.SGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.SGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.Total" readonly /></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        @*<tr>
                                                <td colspan="8" class="text-right">Total Value:</td>
                                                <td style="text-align:right;">
                                                    {{InvoiceObj.AllTotal | number : 2}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" class="text-right">Round Up:</td>
                                                <td style="text-align:right;">
                                                    {{InvoiceObj.RoundUp | number : 2}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                                <td style="text-align:right;">
                                                    {{InvoiceObj.InvoiceAmt | number : 2}}
                                                </td>
                                            </tr>*@
                                        <tr>
                                            <td colspan="8" class="text-right">Total :</td>
                                            <td style="text-align:right;">
                                                <input type="text" ng-model="InvoiceObj.CWCTotal" readonly />
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom2 SignUp_space_top2">
                        <div class="col-md-offset-2 col-md-4">
                            <button type="button" class="btn log_Btn_sm" data-toggle="modal" ng-disabled="IsShowHT==1" data-target="#HnTModal">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show H&amp;T Charges
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button id="btnAddExtraHT" type="button" class="btn log_Btn_sm" data-toggle="modal" ng-disabled="IsShowHT==0||(InvoiceNo!='' && Invoice!=null)" data-target="#NewHnTModal">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Extra H&amp;T
                            </button>
                        </div>
                    </div>
                    <div class="Head_h5" ng-hide="IsShowHT==0">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>HT Charges</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblHTCharges" class="table table-bordered table-striped dataTable Table_center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="c in HTCharge">
                                            <td>{{c.Clause}}.{{c.ChargeName}} </td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.Taxable" /> </td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.IGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.IGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.CGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.CGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.SGSTPer" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.SGSTAmt" readonly /></td>
                                            <td style="text-align:right;"><input type="text" ng-model="c.Total" readonly /></td>
                                            <td style="text-align:right;" ng-click="DeleteHT($index)"><i class="fa fa-close Edit"></i></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" class="text-right">Total :</td>
                                            <td style="text-align:right;">
                                                <input type="text" ng-model="InvoiceObj.HTTotal" readonly />
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top" ng-hide="IsShowHT==0">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                <label>Total Value:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_3">
                                <input type="text" readonly="readonly" ng-model="InvoiceObj.AllTotal" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top" ng-hide="IsShowHT==0">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                <label>Round Up:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_3">
                                <input type="text" readonly="readonly" ng-model="InvoiceObj.RoundUp" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top" ng-hide="IsShowHT==0">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                <label>Invoice Value:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_3">
                                <input type="text" readonly="readonly" ng-model="InvoiceObj.InvoiceAmt" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5">
                                <textarea type="text" style="height:75px;" maxlength="500" ng-model="InvoiceObj.Remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent">{{Message}}</div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-1-5 col-md-2">
                            <input type="button" id="btnSave" value="Save" ng-click="AddEditBTTContPS()" ng-disabled="IsShowHT==0 || InvoiceObj.InvoiceAmt==0|| (InvoiceNo!=''&&InvoiceNo!=null)" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" value="Generated IRN" class="btn log_Btn_sm" onclick="GenerateIRN()" id="btnGeneratedIRN" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintInvoice()" id="btnPrint" ng-disabled="InvoiceNo==''||InvoiceNo==null" />
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                               <input type="button" class="btn log_Btn_sm" value="Show List" onclick="GetAllList()" />
                            </div>
                          
                        </div>
                         

                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12">
                               <div id="DivList">

                               </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="PayeeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Payer</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="Payeebox" type="text" ng-model="SearchPayee" />
                        <ul class="navList" id="lstPayee">
                            <li ng-repeat="payee in PayeeList|filter:{PartyName:SearchPayee}" ng-click="SelectPayee(payee)">{{payee.PartyName}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    @*<div id="PartyModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Party</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="Partybox" type="text" ng-model="SearchParty" />
                        <ul class="navList" id="lstParty">
                            <li ng-repeat="p in PartyList|filter:{PartyName:SearchParty}" ng-click="SelectParty(p)">{{p.PartyName}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="PartyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal" style="width:100%;">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="CloseParty()" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Party</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Party Name Or Party Address" id="Partybox" type="text" ng-model="PartyCode" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchPartyByPartyCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="4" width="40%">Party Name</th>
                                <th colspan="8" width="60%">Party Address</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                            <tbody>
                                <tr ng-repeat="p in PartyList" ng-click="SelectParty(p)">
                                    <td colspan="4" width="40%" class="txt_wrp">{{p.PartyName}} </td>
                                    <td colspan="8" width="60%" class="txt_wrp">{{p.PartyCode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">

                            <button ng-disabled="!State" type="button" style="width:100%; margin-left:0;" ng-click="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMore">Load More Party</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="CloseParty()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="PayerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal" style="width:100%;">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="ClosePayer()" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Payer</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Payer Name Or Payer Address" id="Payerbox" type="text" ng-model="PayerCode" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchPayerByPayerCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd1" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="4" width="40%">Payer Name</th>
                                <th colspan="8" width="60%">Payer Address</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tblePayer">
                            <tbody>
                                <tr ng-repeat="p in PayerList" ng-click="SelectPayer(p)">
                                    <td colspan="4" width="40%" class="txt_wrp">{{p.PartyName}} </td>
                                    <td colspan="8" width="60%" class="txt_wrp">{{p.PartyCode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">

                            <button ng-disabled="!StatePayer" type="button" style="width:100%; margin-left:0;" ng-click="LoadMorePayer()" class="btn log_Btn_sm" id="btnLoadMorePayer">Load More Payer</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="ClosePayer()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ContainerModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="CalculateCharges()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Container No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input type="text" placeholder="Search by CFS Code or Container" ng-model="ContFilter" />
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="2" width="20%" class="txt_wrp"></th>
                                <th colspan="5" width="40%" class="txt_wrp">CFS Code</th>
                                <th colspan="5" width="40%" class="txt_wrp">Container No.</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_2">
                        <table class="table dataTable table-bordered slim_tble" id="lstcfsCode">
                            <tbody>
                                <tr ng-repeat="item in ContList|filter:ContFilter">
                                    <td colspan="2" width="20%" class="txt_wrp">
                                        <div class="boolean-container">
                                            <input type="checkbox" ng-disabled="IsCalculated==1" ng-model="item.Selected" id={{item.CFSCode}} /><label for={{item.CFSCode}}>
                                                <i class="square" style="margin-left:10px;"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td colspan="5" width="40%" class="txt_wrp">{{item.CFSCode}} </td>
                                    <td colspan="5" width="40%" class="txt_wrp">{{item.ContainerNo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="CalculateCharges()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="HnTModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" ng-click="ShowHT()" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of H&amp;T Charges</h4>
                </div>
                <div class="modal-body popup_body">
                    <div id="slim_scroll_3">
                        <table class="table dataTable table-bordered slim_tble">
                            <tbody>
                                <tr ng-repeat="item in HTList">
                                    <td colspan="2" width="15%" class="txt_wrp">
                                        <div class="boolean-container">
                                            <input type="checkbox" ng-model="item.Selected" id={{"HT"+item.Clause}} />
                                            <label for={{"HT"+item.Clause}}>
                                                <i class="square" style="margin-left:10px;"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td colspan="10" width="85%" class="txt_wrp">{{item.Clause}}({{item.ChargeName}})</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="ShowHT()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="NewHnTModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" ng-click="AddextraHT()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of H&amp;T Charges</h4>
                </div>
                <div class="modal-body popup_body">
                    <div id="slim_scroll_4">
                        <table class="table dataTable table-bordered slim_tble">
                            <tbody>
                                <tr ng-repeat="item in NewHTList">
                                    <td colspan="2" width="15%" class="txt_wrp">
                                        <div class="boolean-container">
                                            <input type="checkbox" ng-model="item.Selected" id={{"HT1"+item.Clause}} /><label for={{"HT1"+item.Clause}}>
                                                <i class="square" style="margin-left:10px;"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td colspan="10" width="85%" class="txt_wrp">{{item.Clause}}({{item.ChargeName}}) </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" ng-click="AddextraHT()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_3').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_4').slimScroll({
            allowPageScroll: true
        });
    });
</script>

<script>

    //function LoadParty() {

    //    Page = 0;
    //    $.ajax({
    //        url: '/Export/Hdb_CWCExport/LoadPartyList',
    //        type: 'GET',
    //        data: { PartyCode: "", Page: Page },
    //        success: function (data) {
    //            if (data.Status == 1) {

    //                var html = '';
    //                $.each(data.Data.lstParty, function (item, elem) {

    //                    html += '<tr onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.Address + '&quot;,&quot;' + elem.State + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.GSTNo + '&quot;)"><td colspan="4" width="40%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="8" width="60%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
    //                });

    //                $('#tbleParty tbody').html(html);

    //                if (data.Data.State == true)
    //                    $('#btnLoadMore').prop('disabled', false);
    //                else $('#btnLoadMore').prop('disabled', true);
    //            }
    //        }
    //    });
    //}

    //function LoadMoreParty() {

    //    $.ajax({
    //        url: '/Export/Hdb_CWCExport/LoadPartyList',
    //        type: 'GET',
    //        data: { PartyCode: "", Page: Page + 1 },
    //        success: function (data) {
    //            if (data.Status == 1) {

    //                var html = '';
    //                $.each(data.Data.lstParty, function (item, elem) {

    //                    html += '<tr onclick="SelectParty('+elem+')"><td colspan="4" width="40%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="8" width="60%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
    //                });
    //                if (Page == -1)
    //                    $('#tbleParty tbody').html(html);
    //                else
    //                    $('#tbleParty tbody').append(html);
    //                Page++;


    //                if (data.Data.State == true)
    //                    $('#btnLoadMore').prop('disabled', false);
    //                else $('#btnLoadMore').prop('disabled', true);
    //            }
    //        }
    //    });
    //}
    //function SearchPartyByPartyCode() {

    //    if ($('#Partybox').val() != '') {
    //        $.ajax({
    //            url: '/Export/Hdb_CWCExport/SearchPartyNameByPartyCode',
    //            type: 'GET',
    //            data: { PartyCode: $('#Partybox').val() },
    //            success: function (data) {
    //                if (data.Status == 1) {
    //                    var html = '';
    //                    $.each(data.Data.lstParty, function (item, elem) {
    //                        html += '<tr onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.Address + '&quot;,&quot;' + elem.State + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.GSTNo + '&quot;)"><td colspan="8" width="40%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="60%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
    //                    });
    //                    $('#tbleParty tbody').html('');
    //                    $('#tbleParty tbody').html(html);
    //                    $('#btnLoadMore').prop('disabled', true);
    //                    Page = -1;
    //                }
    //                else {
    //                    $('#tbleParty tbody').html('');
    //                    Page = -1;
    //                    $('#btnLoadMore').prop('disabled', false);
    //                }

    //            }
    //        });
    //    }
    //    else
    //        LoadParty();
    //}

    //function CloseParty() {
    //    $('#Partybox').val('');
    //    $("#PartyModal").modal("hide");
    //    LoadParty();
    //}
</script>

<script>
    var Page = 0;
    var Page1 = 0;
    $(document).ready(function () {
        angular.bootstrap(document.getElementById('DivBTTCont'), ['CWCApp']);
        $('#InvoiceDate').datetimepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            altField: "#slider_example_4andHalf_alt",
            altFieldTimeOnly: false,
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
    });
    var Type = '@ViewData["InvType"]';
    Type == 'Tax' ? $('#Tax').prop('checked', true) : $('#Bill').prop('checked', true);
    function IVType(val) {
        $('#DivBody').load('/Export/Hdb_CWCExport/CreateBTTContPaymentSheetForContainer?type=' + val);
    }
    function GetAllList() {
        $('#DivList').load('/Export/Hdb_CWCExport/GetAllFactoryStuffInvoice');
    }
    function HidePrintTxt() {
        debugger;
        if ($('#IsPrinting').val() == "Yes") {
            $('#NoOfPrint').css("display", "block");
            $('#NoOfPrint').val("1");
        }
        else {
            $('#NoOfPrint').val("0");
            $('#NoOfPrint').css("display", "none");
        }
    }

    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }

    function GenerateIRN() {
        debugger;

        var InvoiceNo = $('#InvoiceNo').val();
         var SupplyType = $('#hdnSupplyType').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetIRNForExportInvoice", "Hdb_CWCExport", new { Area = "Export" }) ',
            type: 'POST',
            data: {
                InvoiceNo: InvoiceNo,
                 SupplyType:SupplyType
            },
            success: function (data) {
                if (data.Status == 1) {
                    alert("IRN has been generated sucessfully");
                    $('#btnPrint').removeAttr("disabled");
                }
                else
                    alert(data.Message);
                $('#btnPrint').removeAttr("disabled");

            }
        });
    };
    function PrintInvoice() {
        var InvoiceNo = $('#InvoiceNo').val();
        if (InvoiceNo != '' && InvoiceNo != null) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "Hdb_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: InvoiceNo,
                    InvoiceModule: 'BTTCONTStuff',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: "BTT Container Invoice - Factory stuffed"
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Data);
                }
            });
        }
    }

</script>
