@model IEnumerable<CwcExim.Areas.Export.Models.Hdb_PackingApplication>
<table id="tblPackingList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("Packing No")</th>
            <th>@Html.DisplayName("Vehicle No")</th>
            <th>@Html.DisplayName("Entry Date")</th>
            <th>@Html.DisplayName("Party Name")</th>
            <th>@Html.DisplayName("No of Items")</th>
            <th>@Html.DisplayName("Material Type")</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Print Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@data.PackingNo</td>
                    <td>@data.VehicleNo</td>
                    <td>@data.EntryDate</td>
                    <td>@data.PartyName</td>
                    <td>@data.NoofItems</td>
                    <td>@data.MaterialType</td>
                    <td class="text-center"><a href="#" onclick="EditPacking(@data.Packingapplicationid)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewPacking(@data.Packingapplicationid)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeletePacking(@data.Packingapplicationid)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PrintPreviewPackingApp(@data.Packingapplicationid)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblPackingList = $('#tblPackingList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No" },
                       { "sName": "Packing No", "bSortable": false },
                       { "sName": "Vehicle No", "bSortable": false },
                       { "sName": "Entry Date", "bSortable": false },
                       { "sName": "Party Name", "bSortable": false },
                       { "sName": "No Of Items", "bSortable": false },
                       { "sName": "Material Type", "bSortable": false },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Delete", "bSortable": false, "width": "10%" },
                       { "sName": "Print Preview", "bSortable": false, "width": "10%" },

            ]
        });
        new $.fn.dataTable.FixedHeader(tblPackingList);
    });

    function ViewPacking(Packingapplicationid) {
        $('#DivBody').load('/Export/Hdb_CWCExport/ViewPacking?Packingapplicationid=' + Packingapplicationid);
    }
    function EditPacking(Packingapplicationid) {
        $('#DivBody').load('/Export/Hdb_CWCExport/EditPacking?Packingapplicationid=' + Packingapplicationid);
    }
    function DeletePacking(Packingapplicationid) {
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("DeletePacking", "Hdb_CWCExport", new { areas="Export"}) ',
                type: 'POST',
                data: { Packingapplicationid: Packingapplicationid },
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                success: function (data) {
                    alert(data.Message);
                    if (data.Status == 1) LoadPackingApplicationList();
                }
            });
        }
    }
    function PrintPreviewCartingApp(Packingapplicationid) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("PrintPackingApp", "Hdb_CWCExport", new { areas="Export"}) ',
            type: 'POST',
            data: { Packingapplicationid: Packingapplicationid },
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
            }
        });
    }
  
</script>


