@model List<CwcExim.Areas.Export.Models.PartyBondList>
<script>

    $(document).ready(function () {
        var TblPartyBond = $('#TblPartyBond').DataTable({
            "bFilter": false,
            "bInfo":false,
            "aoColumns": [
                {"sName":"SL No","width":"8%"},
                             {"sName":"TrNo"},
                             {"sName":"TrDate"},
                             {"sName":"PartyName","bSortable":false,"width":"20%"},
                             {"sName":"Value","bSortable":false},
                             {"sName":"ValidUpto","bSortable":false,"width":"10%"},
                             {"sName":"View","bSortable":false,"width":"10%"},
                              {"sName":"Edit","bSortable":false,"width":"10%"},
            ],
        });
        new $.fn.dataTable.FixedHeader(TblPartyBond);
    });
        function LoadPartyBond(){
            $('#DivBody').load('/Export/Hdb_CWCExport/CreatePartyBond');
        }
        function EditPartyBond(PartyBondId){
            $('#DivBody').load('/Export/Hdb_CWCExport/EditPartyBond?PartyBondId='+PartyBondId);
        }
        function ViewPartyBond(PartyBondId){
            $('#DivBody').load('/Export/Hdb_CWCExport/ViewPartyBond?PartyBondId='+PartyBondId);
        }
       
</script>
<table id="TblPartyBond" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("Tr No")</th>
            <th>@Html.DisplayName("Tr Date")</th>
            <th>@Html.DisplayName("Party Name")</th>
            <th>@Html.DisplayName("Value")</th>
            <th>@Html.DisplayName("Valid Upto")</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@item.TrNo</td>
                    <td>@item.TrDate</td>
                    <td>@item.PartyName</td>
                    <td>@item.Value</td>
                    <td>@item.ValidUpto</td>
                    <td style="text-align:center"><a href="#" onclick="ViewPartyBond(@item.PartyBondId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditPartyBond(@item.PartyBondId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>