@model CwcExim.Areas.Export.Models.Hdb_StuffingRequest
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">

                <div class="row ">
                    <div class="col-md-12">
                        <h4>Stuffing Request</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Request No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.StuffingReqNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Request Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2" style="padding-right:0px">
                            @Html.LabelFor(m => m.CHA, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Stuffing Type:</label>
                        </div>
                        <div class="col-md-1 padding_rt">
                            <div class="boolean-container">
                                @Html.RadioButtonFor(m => m.StuffingType, "FCL", new { @class = "", @id = "FCL", @disabled = true })
                                <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                            </div>
                        </div>
                        <div class="col-md-1 padding_rt">
                            <div class="boolean-container">
                                @Html.RadioButtonFor(m => m.StuffingType, "LCL", new { @class = "", @id = "LCL", @disabled = true })
                                <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                            </div>
                        </div>
                        <div class="col-md-offset-4-5 col-md-1-5 col_cus_2">
                            <label>Destination:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Destination, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Destination, "", new { @class = "ErrorMsg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Movement:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.Movement, new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text="CWC",Value="1"},
                                                                new SelectListItem { Text="Own Transport (FR)",Value="2"},
                                                            }, "----Select----", new { @class = "form-control input-sm dropdown" })
                            @Html.ValidationMessageFor(m => m.Movement, "", new { @class = "ErrorMsg" })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5 col_cus_2">
                            <label>Type Of Trip:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownListFor(m => m.TypeOfTrip, new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text="Single",Value="1"},
                                                                new SelectListItem { Text="Round",Value="2"},
                                                            }, "----Select----", new { @class = "form-control input-sm dropdown" })
                            @Html.ValidationMessageFor(m => m.TypeOfTrip, "", new { @class = "ErrorMsg" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Stuffing Details</h5>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Carting No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CartingRegisterNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    
                <div>
                <div class="modal fade" id="CartingModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal" style="width:100%;">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">Carting Details</h4>
                            </div>
                            <div class="modal-body popup_body">
                                @*<input placeholder="Search Me" id="SearchCHAHdr" type="text" />*@
                                <div id="DivCartingDetails">
                                    @Html.Hidden("StuffingReqDtlId")
                                    @Html.Hidden("CartingRegisterDtlId")
                                                                      
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Shipping Bill No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm" })
                                            </div>
                                            <div class="col-md-2 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>Shipping Date:</label>
                                            </div>
                                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                                @Html.TextBox("ShippingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Exporter:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.Hidden("ExporterId")
                                                @Html.TextBox("ExporterName", "", new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>CHA:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.Hidden("CHANameId")
                                                @Html.TextBox("CHAName", "", new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Cargo Description:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.TextArea("CargoDescription", new { @style = "height:100px;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Cargo Type:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.DropDownList("CargoType", new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text="HAZ",Value="1"},
                                                                new SelectListItem { Text="Non HAZ",Value="2"},
                                                            }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>No of Units:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessage("NoOfUnits", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>Gross Weight:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessage("GrossWeight", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>FOB:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Fob", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2">
                                                <label>CUM:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Cum", "", new
                                                       {
                                                           @class = "form-control input-sm",
                                                           @readonly = true
                                                       })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Pack UOM:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.Hidden("PackUQCId")
                                                @Html.Hidden("PackUQCCode")
                                                @Html.TextBox("PackUQCDescription", "", new { @class = "form-control input_sm", @readonly = true, tabindex = 18, onkeydown = "PopupActivate('PackUQCModal');" })
                                                @Html.ValidationMessage("PackUQCDescription", new { @class = "Error_Msg" })
                                                @*<span class="search" id="PackUQCSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PackUQCModal"></i></span>*@
                                            </div>

                                        </div>
                                    </div>
                                    @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Remaining Units:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("RNoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Remaining Weight:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("RGrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>

                                    <input type="hidden" name="cominv" id="cominv">
                                </div>

                            </div>*@

                                    <div class="row">
                                        <div class="SignUp_space_bottom SignUp_space_top"></div>
                                    </div>

                                    <div class="row Form_Space_bottom">
                                        <div class="col-md-offset-5 col-md-2" style="text-align:center">
                                            <input type="button" value="Add" class="btn log_Btn_sm" onclick="AddRequestDtl()" id="BtnAddStuffingDtl" disabled />
                                        </div>
                                    </div>
                                    <div class="logErrMsg" id="DivTblStuffingErrMsg" style="background-color:transparent"></div>
                                    @*<div class="row">
                                <div class="col-md-12">
                                    <table id="TblStuffingReq" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:8%;">Sl No</th>
                                                <th>Carting No</th>
                                                <th>Shipping Bill No</th>
                                                <th>Shipping Bill Date</th>
                                                <th>Exporter</th>
                                                <th>CHA</th>
                                                <th>Commodity Invoice No</th>
                                                <th class="text-center" style="width:10%;">Edit</th>
                                                <th class="text-center" style="width:10%;">View</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>*@
                                    <div class="row">
                                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-9 col-md-3">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="TblStuffingReq" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">Sl No</th>
                                    <th>Carting No</th>
                                    <th>Shipping Bill No</th>
                                    <th>Shipping Bill Date</th>
                                    <th>Exporter</th>
                                    <th>CHA</th>
                                    @*<th>Commodity Invoice No</th>*@
                                    
                                    <th class="text-center" style="width:10%;">View</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div id="DivContainerDet">
                    @Html.Hidden("StuffingReqContrId")
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container / CBT No.:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessage("ContainerNo", "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5">
                                <label>Shipping Bill:</label>
                            </div>
                            <div class="col-md-3-5 col_cus_3">
                                @Html.TextBox("CommodityName", "", new { @class = "form-control input-sm dropdown", @readonly = true })
                                @*@Html.ValidationMessage("CommodityName", "", new { @class = "Error_Msg" })*@
                            </div>
                            <div class="col-md-1">
                                <label>Size:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("Size", "", new { @class = "form-control input-sm dropdown", @readonly = true })
                                @*@Html.DropDownList("Size", new List<SelectListItem>
                        {
                            new SelectListItem { Text="20",Value="20"},
                            new SelectListItem { Text="40",Value="40"},
                            new SelectListItem { Text="ODC",Value="ODC"},
                        }, "----Select----", new { @class = "form-control input-sm dropdown" })*@
                                @Html.ValidationMessage("Size", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("ShippingLine", "", new { @class = "form-control input-sm" })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                @Html.Hidden("ShippingLineId")
                                @Html.ValidationMessage("ShippingLine", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Stuffing Qty:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("StuffQuantity", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", onkeypress = "return AllowOnlyInteger(event)", maxlength = "11" })
                                @Html.ValidationMessage("StuffQuantity", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Stuffing Weight:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("StuffWeight", "", new { @class = "form-control input-sm", @onblurr = "ClearErrMsg(this)", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                @Html.ValidationMessage("StuffWeight", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>FOB Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("StuffFOBValue", "", new { @onblur = "ClearErrMsg(this)" })
                                @Html.ValidationMessage("StuffFOBValue", new { })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Seal No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("SealNo", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", maxlength = "30" })
                                @Html.ValidationMessage("SealNo", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2-5 col-md-offset-3 col_cus_offset_3 col_cus_2">
                                <label>Consolidator/Forwarder Name:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.Hidden("ForwarderId", new { @value = "0" })
                                @Html.TextArea("ForwarderName", "", new { @class = "form-control input-sm", @readonly = true, @onblur = "ClearErrMsg(this)" })
                                <span class="search" id="TSAForwarderSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TSAForwarderModal"></i></span>
                                @Html.ValidationMessage("ForwarderName", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_4">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContComeFrom", "1", new { @class = "", @id = "rbGatewayPort", @checked = true, onclick = "RbnGatewayPort()" })
                                    <label for="rbGatewayPort"><i class="circle"></i><span>Gateway Port</span></label>
                                </div>
                            </div>

                            <div class="col-md-2-5 col_cus_4">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContComeFrom", "2", new { @class = "", @id = "rbLocalIcd", onclick = "RbnLocalIcd()" })
                                    <label for="rbLocalIcd"><i class="circle"></i><span>Local ICD</span></label>
                                </div>
                            </div>

                            <div class="col-md-offset-3 col-md-1-5 col_cus_2">
                                <label>Container Type:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("ContainerType", new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text="Container",Value="1"},
                                                                new SelectListItem { Text="CBT",Value="2"},
                                                            }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessage("ContainerType", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div id="DivPort">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Port Name:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("PortName", "", new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.Hidden("PortId")
                                    <span class="search" id="PortSearch"><i class="fa fa-search" id="search" aria-hidden="true" data-toggle="modal" data-target="#myPortModal"></i></span>
                                    @Html.ValidationMessage("PortName", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div id="DivDistance">
                                <div class="col_cus_2 col-md-1-5">
                                    <label>Distance:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Distance", "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessage("Distance", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_bottom">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Add" class="btn log_Btn_sm" onclick="AddContainerDtl()" disabled id="BtnAddContainer" />
                    </div>
                </div>
                <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="TblStuffingContr" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">Sl No</th>
                                    <th>Container No</th>
                                    <th>Size</th>
                                    <th>Commodity</th>
                                    <th>Stuffing Qty</th>
                                    
                                    <th class="text-center" style="width:10%;">View</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>

                <div class="row">
                    <div class="SignUp_space_top"></div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Total Quantity:</label>
                        </div>
                        <div class="col-md-2-5">
                            @*<input class="form-control input-sm" id="ttlQuantity" maxlength="11" name="ttlQuantity" type="text" value="" disabled>*@
                            @Html.TextBoxFor(m => m.ttlQuantity, new {@readonly=true })
                        </div>
                        <div class="col-md-1-5 col_cus_2">
                            <label>Total Weight</label>
                        </div>
                        <div class="col-md-2-5">
                            @*<input class="form-control input-sm" id="ttlWeight" maxlength="11" name="ttlWeight" type="text" value="" disabled>*@
                            @Html.TextBoxFor(m => m.ttlWeight, new { @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2">
                            <label>Total Value</label>
                        </div>
                        <div class="col-md-2-5">
                            @*<input class="form-control input-sm" id="ttlValue" maxlength="11" name="ttlValue" type="text" value="" disabled>*@
                            @Html.TextBoxFor(m => m.ttlValue, new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Back" class="btn log_Btn_sm" id="btnBack" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var RequestDet = [];
    var ContainerDet = [];
    $(function () {
        RequestDet=@Html.Raw(Json.Encode(Model.LstStuffing));
        ContainerDet=@Html.Raw(Json.Encode(Model.LstStuffingContainer));
        GenerateTable1();
        GenerateContrTable();
    });
    $('#btnBack').on("click",function()
    {
        $('#DivBody').load( '/Export/Hdb_CWCExport/CreateStuffingRequest');
    });
    function GenerateTable1() {
        var html = '';
        $.each(RequestDet, function (i, elem) {
            html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + elem.CartingRegisterNo + '</td><td>' + elem.ShippingBillNo + '</td><td>' + elem.ShippingDate + '</td><td>' + elem.Exporter + '</td><td>' + elem.CHA + '</td><td class="text-center"><a href="#" onclick="ViewStuffingReq(' + i + ')"><i class="fa fa-search-plus Edit" data-toggle="modal" data-target="#CartingModal"></i></a></td></tr>';
        });
        $('#TblStuffingReq > tbody').html('');
        $('#TblStuffingReq > tbody').html(html);
    }
    function GenerateContrTable() {
        debugger;
        var html = '',ttlQuantity=0,ttlWeight=0,ttlValue=0;
        if (ContainerDet.length!=0)
        {
            $.each(ContainerDet, function (i, elem) {
                html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td>' + elem.CommodityName + '</td><td>' + elem.StuffQuantity + '</td><td class="text-center"><a href="#" onclick="ViewContainerDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
                ttlQuantity+=parseInt(elem.StuffQuantity);
                ttlWeight+=parseFloat(elem.StuffWeight);
                ttlValue+=parseFloat(elem.StuffFOBValue);
            });
            $('#TblStuffingContr > tbody').html('');
            $('#TblStuffingContr > tbody').html(html);
            $('#TblStuffingContr').show();
            $('#ttlQuantity').val(ttlQuantity);
            $('#ttlWeight').val(ttlWeight);
            $('#ttlValue').val(ttlValue);
        }
        else {

            $('#TblStuffingContr').hide();
            $('#ttlQuantity').val(ttlQuantity);
            $('#ttlWeight').val(ttlWeight);
            $('#ttlValue').val(ttlValue);
        }

    }
    function ViewStuffingReq(idx) {
        $('#CartingRegisterNo').val(RequestDet[idx].CartingRegisterNo);
        $('#StuffingReqDtlId').val(RequestDet[idx].StuffingReqDtlId);
        $('#StuffingReqId').val(RequestDet[idx].StuffingReqId);
        $('#CartingRegisterDtlId').val(RequestDet[idx].CartingRegisterDtlId);
        $('#ShippingBillNo').val(RequestDet[idx].ShippingBillNo);
        $('#ShippingDate').val(RequestDet[idx].ShippingDate);
        $('#ExporterId').val(RequestDet[idx].ExporterId);
        $('#ExporterName').val(RequestDet[idx].Exporter);
        $('#CHAName').val(RequestDet[idx].CHA);
        $('#CargoDescription').val(RequestDet[idx].CargoDescription);
        RequestDet[idx].CargoType==1?$('#CargoType').val('HAZ'):$('#CargoType').val('Non HAZ');
        $('#NoOfUnits').val(RequestDet[idx].NoOfUnits);
        $('#GrossWeight').val(RequestDet[idx].GrossWeight);
        $('#RNoOfUnits').val(RequestDet[idx].RQty);
        $('#RGrossWeight').val(RequestDet[idx].RWt);
        $('#Fob').val(RequestDet[idx].Fob);
        //$('#ContainerType').val(RequestDet[idx].ContainerType);
        $('#Cum').val(RequestDet[idx].Cum);
        //$('#Distance').val(RequestDet[idx].Distance);
        //$('#PortId').val(RequestDet[idx].PortId);
        //$('#ContComeFrom').val(RequestDet[idx].ContComeFrom);
        //$('#PortName').val(RequestDet[idx].PortName);
        $('#CargoType').val(RequestDet[idx].CargoType);
        //if (RequestDet[idx].ContComeFrom == 1) {
        //    $('#DivPort').show();
        //    $('#DivDistance').hide();
        //    $('#rbGatewayPort').prop("checked", true);
        //}
        //else {
        //    $('#DivPort').hide();
        //    $('#DivDistance').show();
        //    $('#rbLocalIcd').prop("checked", true);
        //}

        $('#PackUQCCode').val(RequestDet[idx].PackUQCCode);
        $('#PackUQCDescription').val(RequestDet[idx].PackUQCDescription);
    }
    function ViewContainerDet(idx) {
        debugger;
        $('#CommodityName').val(ContainerDet[idx].CommodityName);
        $('#ContainerNo').val(ContainerDet[idx].ContainerNo);
        $('#Size').val(ContainerDet[idx].Size);
        $('#ShippingLine').val(ContainerDet[idx].ShippingLine);
        $('#StuffQuantity').val(ContainerDet[idx].StuffQuantity);
        $('#StuffWeight').val(ContainerDet[idx].StuffWeight);
        $('#StuffFOBValue').val(ContainerDet[idx].StuffFOBValue);
        $('#ForwarderName').val(ContainerDet[idx].ForwarderName);
        $('#ForwarderId').val(ContainerDet[idx].ForwarderId);
        $('#SealNo').val(ContainerDet[idx].SealNo);
        if (ContainerDet[idx].ContComeFrom == 1) {
            $('#DivPort').show();
            $('#DivDistance').hide();
            $('#rbGatewayPort').prop("checked", true);
        }
        else {
            $('#DivPort').hide();
            $('#DivDistance').show();
            $('#rbLocalIcd').prop("checked", true);
        }
        $('#ContainerType').val(ContainerDet[idx].ContainerType);
        $('#Distance').val(ContainerDet[idx].Distance);
        $('#PortId').val(ContainerDet[idx].PortId);
        $('#ContComeFrom').val(ContainerDet[idx].ContComeFrom);
        $('#PortName').val(ContainerDet[idx].PortName);
    }
</script>