@model CwcExim.Areas.Export.Models.PartyBond
<script>  
    function LoadPartyBond() {
        debugger;
        $('#DivPartyBond').load('/Export/Hdb_CWCExport/CreatePartyBond');
    }
</script>

<div id="DivPartyBond" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                    <div>
                        @Html.HiddenFor(m => m.PartyBondId)
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-12">
                                <h4>Party Bond</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.TrNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.TrNo, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.TrNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5">
                                    @Html.LabelFor(m => m.TrDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.TrDate, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.TrDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.PartyName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.PartyName, "", new { @class = "Error_Msg" })
                                    @Html.HiddenFor(m => m.PartyId)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.Value, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Value, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.Value, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5">
                                    @Html.LabelFor(m => m.ValidUpto, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.ValidUpto, new { @class = "form-control input-sm", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.ValidUpto, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2" style="text-align:center">
                                <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadPartyBond()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" style="background-color:transparent">
                            <div id="DivPartyBondMsg"></div>
                        </div>
                        <div id="DivPartyBondErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                    </div>

            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
