
@model CwcExim.Areas.Export.Models.LEOPage
<style>
    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<script>

    function PopupActivate(Id) {
        //debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');

            //if (Id == "CHAModal") {
            //    ChaNameSerach();
            //}

            //if (Id == "ShippingLineModal") {
            //    ShippingLineSerach();
            //}

            //if (Id == "PortDestModal") {
            //    PortOfDestSerach();
            //}
            //if (Id == "CommodityModal") {
            //    CommoditySerach();
            //}

            if (Id == "CountryModal") {
                CountrySearch();
                $('#CountryBox').focus();
            }
            if (Id == "ExporterModal") {
                //debugger;
                $('#Expbox').focus();
            }

            if (Id == "PackUQCModal") {
                //debugger;
                $('#PackUQCbox').focus();
            }

            if (Id == "ShippingLineModal") {
                //debugger;
                // ShippingLineSerach();
                $('#ShpngLinebox').focus();
            }

            if (Id == "CHAModal") {
                //debugger;
                // ChaNameSerach();
                $('#Chabox').focus();
            }

            if (Id == "PortDestModal") {
                //debugger;
                PortOfDestSerach();
                $('#PortDestbox').focus();
            }

            if (Id == "PortModal") {
                //debugger;
                PortOfDestSerach();
                $('#Portbox').focus();
            }

            if (Id == "CommodityModal") {
                //debugger;
                CommoditySerach();
                $('#CommodityBox').focus();
            }
            if (Id == "SBNoModal") {
                //debugger;
                ShippingBillSerach();
                $('#SBNobox').focus();
            }
        }

    }


    function GetContainerStuffList() {
        $('#SearchSBNo').val('');
        $('#CCINEntryList').load('/Export/Hdb_CWCExport/ListOfLEO');
    }

    $(document).ready(function () {
        $('#ShipBillNo').focus();
    });

    @*function SelectExporter(Exporterid,ExporterName)
    {
        $('#ExporterId').val(Exporterid);
        $('#ExporterName').val(ExporterName);
        $('#ExporterModal').modal('hide');
        $('#ShippingLineName').focus();
    }*@

    function ExporterModalClose() {
        $('#ExporterModal').modal('hide');
        $('#ExporterName').focus();
        $('#Exporterbox').val('');
        $('#lstExporter > li').show();
    }

    //function selectCHA(Chaid, chaname)
    //{
    //    //debugger;
    //    $('#CHAId').val(Chaid);
    //    $('#CHAName').val(chaname);
    //    $('#CHAModal').modal('hide');
    //    $('#ConsigneeName').focus();
    //}

    @* function CHAModalClose() {
        $('#CHAModal').modal('hide');
        $('#CHAName').focus();
        $('#CHAbox').val('');
        $('#lstCHA > li').show();
    }*@
    //function PaymentMode() {
    //    var PaymentMode = $('#hdnPaymentMode').val();
    //    alert(PaymentMode);
    //}
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>LEO Entry</h4>
                    </div>
                    @*<input type="hidden" id="hdnPaymentMode" value="@ViewBag.PaymentMode" />*@
                </div>
                @using (Ajax.BeginForm("AddEditLEO", "Hdb_CWCExport", new AjaxOptions
                {

                    HttpMethod = "POST",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure"
                }, new { id = "frmCCINEntry" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)

                    @*@Html.HiddenFor(m => m.InvoiceId)
                        @Html.HiddenFor(m => m.PartySDBalance)
                        @Html.HiddenFor(m => m.IsInGateEntry)
                        @Html.HiddenFor(m => m.OTEHr)*@
                if (ViewBag.check != null)
                {
                    <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
                }
                else
                {
                    <input type="hidden" id="hdnShippingLineList" value="" />
                }
                if (ViewBag.ListOfSBNo != null)
                {
                    <input type="hidden" id="hdnShippingBillList" value="@ViewBag.ListOfSBNo" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnShippingBillList" value="" />
                    }

                    if (ViewBag.ListOfPort != null)
                    {
                        <input type="hidden" id="hdnPortName" value="@ViewBag.PortName" />
                        <input type="hidden" id="hdnPortId" value="@ViewBag.PortId" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnPortName" value="" />
                        <input type="hidden" id="hdnPortId" value="" />
                        <input type="hidden" id="hdnListOfPort" value="" />
                    }

                    <div class="panel with-nav-tabs panel-primary cwc_panel" style="margin-top: 15px;">

                        @*<div class="panel-heading cwc_panel_heading">
                                <ul class="nav nav-tabs" id="DivTabs">
                                    <li class="active"><a href="#DivCCIN" data-toggle="tab" onclick="SetActiveTab('CCIN')">CCIN</a></li>
                                    <li><a href="#DivInvoice" data-toggle="tab" onclick="SetActiveTab('Invoice')">Invoice</a></li>
                               </ul>
                            </div>*@

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="DivCCIN">
                                    <div id="DivJOHdr" class="Form_Space_bottom">

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1 col_cus_2">
                                                    <label>SB No:</label>
                                                </div>
                                                <div class="col-md-2">
                                                    @*  <input type="text" placeholder="Search by Ship bill No" id="SearchSBNo" maxlength="50" />*@
                                                    @Html.TextBoxFor(m => m.ShipBillNo, new { @class = "form-control input_sm", @readonly = true, tabindex = 1 })

                                                </div>
                                                <div class="col-md-1-5 col_cus_2  col-md-offset-1">
                                                    <label>SB Date:</label>
                                                </div>
                                                <div class="col-md-2 Date_Img">
                                                    @Html.TextBoxFor(m => m.ShipBillDate, new { @class = "form-control input_sm", @readonly = true, tabindex = 2 })
                                                    @*<input type="text" placeholder="Search by CCIN No" id="SearchCCINNo" maxlength="50" />*@
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="button" value="Search" onclick="SearchBYShippingbill()" class="btn log_Btn_sm" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1 col_cus_2">
                                                    <label>MCIN:</label>
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.TextBoxFor(m => m.MCIN, new { @class = "form-control input_sm", @readonly = true, tabindex = 1 })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-3-5 col-md-2">
                          @*  <input type="button" id="btnSave" class="btn log_Btn_sm" onclick="return validate();" value="Save" tabindex=24 />*@
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="ResetAllField()" tabindex=25 />
                        </div>
                        @*<div class="col-md-2">
                                <input type="button" id="btnPrint" class="btn log_Btn_sm" value="Print" onclick="PrintInvoice()" disabled style="display:none;" tabindex  = 24 />
                            </div>*@

                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                @*<div class="row">
                    <div class="col-md-2">
                        <input type="button" id="BtnCCINEntryLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadCCINEntryList()" tabindex=26 />
                    </div>
                    <div class="col-md-2 col-md-offset-6">
                        <input type="text" placeholder="Search by Ship bill No/MCIN" id="SearchSBNo" maxlength="50" />
                    </div>

                    <div class="col-md-2">
                        <input type="button" value="Search" onclick="SearchSBNo()" class="btn log_Btn_sm" />
                    </div>
                </div>*@
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="tblEntryDet"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="CCINEntryList"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_3').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_sb').slimScroll({
            allowPageScroll: true
        });
    });

    //$(function () {
    //    // document.getElementById('CargoType').value = "2";
    //    //debugger;
    //    //var ListOfPort =JSON.parse($('#hdnListOfPort').val());
    //    //var returnedData = $.grep(ListOfPort, function (element, index) {
    //    //    return element.PortName == "ICD PPG";
    //    //});
    //    //document.getElementById('PortOfLoadingName').value = $('#hdnPortName').val();  //returnedData[0].PortId;
    //    //document.getElementById('PortOfLoadingId ').value = $('#hdnPortId').val();  //returnedData[0].PortName;]
    //    GenerateEntryTable();
    //    // $('#PortOfLoadingName').val($('#hdnPortName').val());  //returnedData[0].PortId;
    //    // $('#PortOfLoadingId').val($('#hdnPortId').val());
    //    // Decimal Number
    //    $("#Weight,#FOB").keydown(function (e) {
    //        if (e.keyCode == 190 || e.keyCode == 110) {
    //            if ($(this).val().indexOf('.') >= 0) {
    //                e.preventDefault();
    //            }
    //        }
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number or character
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
    //            e.preventDefault();
    //        }
    //    });

    //    // Integer Number
    //    $("#Package").keydown(function (e) {
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number or character
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
    //            e.preventDefault();
    //        }
    //    });

    //    // Text Box
    //    $("#SBNo").keydown(function (e) {
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number or character
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
    //            e.preventDefault();
    //        }
    //    });

    //    // Text Box with space
    //    $("#ConsigneeName").keydown(function (e) {
    //        //alert(e.keyCode);
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if (e.keyCode == 32) {
    //            return true;
    //        }
    //        else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number or character
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
    //            e.preventDefault();
    //        }
    //    });

    //    // Text Box with space and (),./-&|
    //    $("#ConsigneeAdd").keydown(function (e) {
    //        //alert(e.keyCode);
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if (e.keyCode == 32 || e.keyCode == 48 || e.keyCode == 57 || e.keyCode == 188 || e.keyCode == 191 || e.keyCode == 189 || e.keyCode == 55 || e.keyCode == 220) {
    //            return true;
    //        }
    //        else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number or character
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
    //            e.preventDefault();
    //        }
    //    });

    //    // LoadCCINEntryList();

    //    if ($('#Id').val() > 0) {
    //        //debugger;
    //        //   GetStateList();
    //        // GetCityList();
    //        //debugger;
    //        $('#btnReset').attr('disabled', true);
    //        if ($('#IsInGateEntry').val() == 1) {
    //            $('#btnSave').attr('disabled', true);
    //            $('#btnPrint').attr('disabled', false);
    //        }
    //        else {
    //            $('#btnSave').attr('disabled', false);
    //            $('#btnPrint').attr('disabled', true);
    //        }
    //        ////  ChargeDetails();
    //        var OTEHr = Number($('#OTEHr').val());
    //        $('#OTHr').val(OTEHr);
    //        if (OTEChargeName == "Over Time Export") {
    //            //CalcTax(OTEChargeId);
    //            CalcTaxForEdit(OTEChargeId);
    //        }
    //    }
    //});

    function validate() {
        //debugger;

        var IsValid = true;

        if ($('#ShipBillNo').val() == null || $('#ShipBillNo').val() == '') {
            IsValid = false;
        }
        if ($('#ShipBillDate').val() == null || $('#ShipBillDate').val() == '') {
            IsValid = false;
        }
        //if ($('#SBType').val() == null || $('#SBType').val() == '----Select----' || $('#SBType').val() == '') {
        //    IsValid = false;
        //}
        if ($('#MCIN').val() == null || $('#MCIN').val() == '') {
            IsValid = false;
        }




        if (IsValid) {

            /*if (parseFloat($('#PartySDBalance').val())==0)
            {
                return true;
            }
            else
            {
                if (parseFloat($('#PartySDBalance').val()) < parseFloat($('#InvoiceValue').val())) {
                    alert("This Party has insufficient SD Balance to save the Invoice.");
                    return false;
                }
                else {
                    return true;
                }
            }*/



            if (confirm("Are You Sure You Want To Save?")) {
                $('#btnSave').attr('disabled', true);
                //    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                //   $.each(rawJson.lstPostPaymentChrg, function (i, item) {
                //debugger;
                //     if (item.ChargeId.toString().indexOf('_') != -1) {
                //        item.ChargeId = Number(item.ChargeId.split('_')[0]);
                //   }
                //  });

                // $('#PaymentSheetModelJson').val(JSON.stringify(rawJson.lstPostPaymentChrg));
                // rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                // $('#PaymentSheetModelJson').val(JSON.stringify(rawJson.lstPostPaymentChrg));

                $('#btnSave').submit();
            }



        }
        else {

            alert("Please fill all the mandatory fields in CCIN");
            return false;
        }




    }


    function OnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
            $('#CCINNo').val(data.Data);
            //setTimeout(ResetAllField, 3000);
            //    $('#InvoiceNo').val(data.Data.split('#')[1]);
            $('#DivErrMsg').html('');
            $('#btnReset').attr('disabled', false);
            //$('#btnPrint').removeAttr('disabled');
            $('#btnPrint').prop("disabled", false);
            //    $('#btnSave').attr('disabled', true);
            //  $('#btnPrint').attr('disabled', false);
            //setTimeout(ResetAllField, 3000);
            // LoadCCINEntryList();
        }
        else {
            $('#DivErrMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 3000);
    }


    function OnFailure() { }

    function ResetAllField() {
        $('#DivBody').load('/Export/Hdb_CWCExport/LeoEntry');
    }



    function GenerateEntryTable() {
        tablehtml = '';
        //var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>SB No:</th><th>SB Date</th> <th>MCIN</th><th class="text-center">Edit</th><th class="text-center">View</th></tr></thead><tbody>';
        //tablehtml += '</tbody></table>';
        $('#tblEntryDet').html(tablehtml);
    }
    $('#ShipBillDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="SBDate"]').html('');
        },
        onSelect: function () {
            $('#SBType').focus();
        }
    });
    function SearchBYShippingbill() {
        debugger;

        if ($('#ShipBillNo').val() == '' || $('#ShipBillDate').val() == '') {
            alert("Please Enter SB_NO and SB_Date");
            return false;
        }
        else {

            $.ajax({
                url: '/Export/Hdb_CWCExport/SearchMCIN',
                type: 'GET',
                data: { SBNo: $('#ShipBillNo').val(), SBDATE: $('#ShipBillDate').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $('#MCIN').val(data.Data.leo.MCIN);
                        $('#Id').val(data.Data.leo.Id);

                    }
                    else {
                        $('#MCIN').val("");
                        $('#Id').val(0);
                    }

                }
            });
        }

    }







</script>


