@model CwcExim.Areas.Export.Models.Hdb_CartingRegister
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Carting Register</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Carting No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CartingRegisterNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Register Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.RegisterDate, new { @class = "from-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                           <label>Application No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>*@
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Application Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "from-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                           <label>Carting Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("CartingType","",new { @readonly=true})
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Commodity Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("CommodityType", "", new { @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.GodownName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4 col_cus_4">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        @*<div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_2 col_cus_2 padding_rt">
                            <label>Stuffing Request Date:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.RequestDate, "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", maxlength = "30", @readonly = true })
                            @Html.ValidationMessageFor(m => m.RequestDate)
                        </div>*@
                    </div>
                    
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div id="DivShippingDetails" style="display:none;" class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Carting Details</h5>
                        </div>
                    </div>
                    @Html.Hidden("CartingAppDtlId")
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Bill No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Shipping Bill Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBox("ShippingBillDate", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Exporter:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("Exporter", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("CargoDescription", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Commodity:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_1_5 col_cus_2">
                                <label>Cargo Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CargoType", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Marks & No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("MarksAndNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>No of Units:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Weight:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Weight", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>CUM:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CUM", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Actual Pkgs received:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ActualQty", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Space occupied:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("SQM", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>FOB Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("FOBValue", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Actual Weight:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ActualWeight", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Location:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("Location", "", new { @class = "form-control input-sm", @readonly = true })
                                <span id="LocationSearch" @*style="display:none;"*@ class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>
                            </div>

                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Storage Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownList("Storage", new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Open",Value="Open"},
                                    new SelectListItem { Text="Covered",Value="Covered"}
                                }, "----Select----", new { })
                                @Html.ValidationMessage("Storage")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top" style="display:none;">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_1_5">
                            <label style="word-wrap: break-word;">Consolidator / Forwarder Name:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.Hidden("ForwarderId")
                            @Html.Hidden("ForwarderName", "", new { @class = "form-control input-sm", @readonly = true, @onblur = "ClearErrMsg(this)" })
                            @*@Html.TextBox("ForwarderName", "", new { @class = "form-control input-sm" })*@
                            @*@Html.ValidationMessage("ForwarderName", new { @class = "Error_Msg" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">

                            <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center" width="8%;">@Html.DisplayName("SL No")</th>
                                        <th>@Html.DisplayName("Shipping Bill No")</th>
                                        <th width="15%;">@Html.DisplayName("Shipping Bill Date")</th>
                                        <th>@Html.DisplayName("Exporter")</th>
                                        <th class="text-center" width="10%;">@Html.DisplayName("View")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var Serial = 1;
                                        foreach (var item in Model.lstRegisterDtl)
                                        {
                                            <tr>
                                                <td class="text-center">@Serial.ToString()</td>
                                                <td>@item.ShippingBillNo</td>
                                                <td>@item.ShippingDate</td>
                                                <td>@item.Exporter</td>
                                                <td class="text-center"><a href="#"><i class="fa fa-search-plus Edit" onclick="ViewShippingDetails(@item.CartingAppDtlId)"></i></a></td>
                                            </tr>
                                            Serial++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function()
        {
            debugger;
            '@Model.CartingType'==1?$('#CartingType').val('Manual'):('@Model.CartingType'==2?$('#CartingType').val('Mechanical'):('@Model.CartingType'==3?$('#CartingType').val('Mechanical and Manual'):$('#CartingType').val('')));
            '@Model.CommodityType'==1?$('#CommodityType').val('General'):('@Model.CommodityType'==2?$('#CommodityType').val('Heavy/Scrape'):$('#CommodityType').val(''));
        });
        var Html=@Html.Raw(Json.Encode(Model.lstRegisterDtl));
        $('#btnBack').on("click", function ()
        {
            $('#DivBody').load( '/Export/Hdb_CWCExport/CreateCartingRegister');
        });
        function ViewShippingDetails(CartingAppDtlId)
        {
            $('#DivShippingDetails').css("display", "block");
            $.each(Html,function(i,data)
            {
                if(data.CartingAppDtlId==CartingAppDtlId)
                {
                    $('#ShippingBillNo').val(data.ShippingBillNo);
                    $('#ShippingBillDate').val(data.ShippingDate);
                    $('#Exporter').val(data.Exporter);
                    $('#CargoDescription').val(data.CargoDescription);
                    $('#Commodity').val(data.CommodityName);
                    if(data.CargoType==1)$('#CargoType').val('HAZ');
                    else $('#CargoType').val('Non HAZ');
                    $('#MarksAndNo').val(data.MarksAndNo);
                    $('#NoOfUnits').val(data.NoOfUnits);
                    $('#Weight').val(data.Weight);
                    $('#CUM').val(data.CUM);
                    $('#ActualQty').val(data.ActualQty);
                    $('#SQM').val(data.SQM);
                    $('#FOBValue').val(data.FoBValue);
                    $('#ActualWeight').val(data.ActualWeight);
                    $('#Location').val(data.Location);
                    $('#Storage').val(data.Storage);
                    $('#ForwarderName').val(data.ForwarderName);
                    return false;
                }
            });
        }
    </script>

