@model CwcExim.Areas.Export.Models.StuffingRequest

<script>
    $('#ShippingDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ShippingBillDate']").html('');
        }
    });
    $('#RequestDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ShippingBillDate']").html('');
        }
    });
    //$('#box').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#myModal .navList > li').show();
    //    } else {
    //        $('#myModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});
    //$('#CartingRegList > li').on("click", function () {
    //    $('#CartingRegisterNo').val($(this).text());
    //    $('#CartingRegisterId').val($(this).attr('id'));
    //    $("#myModal").modal("hide");
    //    GetStuffingDetails($(this).attr('id'));
    //});
    $('#ShippingLineBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ShippingLineModal .navList > li').show();
        } else {
            $('#ShippingLineModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ShippingLineList li').on("click", function () {
        $('#ShippingLine').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });
    //$('#ContainerBox').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#ContainerModal .navList > li').show();
    //    } else {
    //        $('#ContainerModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});
    //$('#ContainerList  li').on("click", function () {
    //    $('#ContainerNo').val($(this).text());
    //    $("#ContainerModal").modal("hide");
    //    GetContainerDet($(this).text());
    //});
    $('#LstExporter li').on("click", function () {
        $('#ExporterName').val($(this).text());
        $('#ExporterId').val($(this).attr('id'));
        $("#ExporterModal").modal("hide");
    });
    $('#SearchExporter').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ExporterModal .navList > li').show();
        } else {
            $('#ExporterModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ListOfShippingNo li').on("click", function () {
        $('#ShippingBillNo').val($(this).text());
        $("#ShippingModal").modal("hide");
    });
    $('#SearchShippingNo').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ShippingModal .navList > li').show();
        } else {
            $('#ShippingModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ListOfCHA li').on("click", function () {
        $('#CHA').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAHdrModal").modal("hide");ListOfCHA
    });
    $('#SearchCHAHdr').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CHAHdrModal .navList > li').show();
        } else {
            $('#CHAHdrModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#LstCHA li').on("click", function () {
        $('#CHAName').val($(this).text());
        $('#CHANameId').val($(this).attr('id'));
        $("#CHAModal").modal("hide");
    });
    $('#SearchCHA').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CHAModal .navList > li').show();
        } else {
            $('#CHAModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    function StuffingReqOnSuccess(data) {
        if (data.Status == 1 /*||data.Status == 2*/ )
        {
            $('#DivStuffingMsg').html(data.Message);
            LoadStuffingRequestPage();
        }
        else
        {
            $('#DivStuffingErrMsg').html(data.Message);
        }
    }


    $('#Foreignbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#FlinerNameModal .navList > li').show();
        } else {
            $('#FlinerNameModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#lstForeign li').on("click", function () {
        $('#FlinerName').val($(this).text());
       
        $("#FlinerNameModal").modal("hide");
    });
    $('#btnSubmit').on("click", function ()
    {
        debugger;
        $('#DivStuffingErrMsg').html('');
        var flagv = 0;
        if (RequestDet.length > 0) {

            $.each(RequestDet, function (i, item) {
                debugger;
                if (item.PackUQCDescription == '') {
                    //alert('Plase select Pack UQC');
                    flagv = 1;
                }

            });
        }
        if (flagv==1)
        {           
            $('#DivStuffingErrMsg').html('Plase select Pack UQC');
            return false;
        }

        //$('#StuffingXML').val(JSON.stringify(RequestDet));
        if ($('#TblStuffingReq >tbody').html() == '') {
            $('#DivTblStuffingErrMsg').html('Please Add Atleast One Record In Order To Save Stuffing Request Detail');
            return false;
        }
        else if ($('#TblStuffingContr >tbody').html() == '') {
            $('#DivTblContrErrMsg').html('Please Add Atleast One Record In Order To Save Stuffing Request Detail');
            return false;
        }
        else if($('#ShippingBillNo').val()!='' && $('#BtnAddStuffingDtl').prop("disabled")==false){
            $('#DivTblStuffingErrMsg').html('Please Add The Above Records');
            return false;
        }
        else if($('#ContainerNo').val()!='' && $('#BtnAddContainer').prop("disabled")==false){
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
            return false;
        }
        else
        { 
            $('#StuffingXML').val(JSON.stringify(RequestDet));
            $('#ContainerXML').val(JSON.stringify(ContainerDet));
        }
    });
    function LoadStuffingRequestPage()
    {
        $('#DivBody').load( '/Export/CWCExport/CreateStuffingRequest');
    }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "StuffingReqOnSuccess";
    options.OnFailure = "StuffingReqOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div id="DivEditStuffingReq" class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("AddEditStuffingReq", "CWCExport", options))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ContainerXML)
                    @Html.HiddenFor(m => m.StuffingXML)
                    @Html.Hidden("CFSCode")
                    @Html.HiddenFor(m=>m.StuffingReqId)
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Stuffing Request</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Request No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.StuffingReqNo, new { @class = "form-control input-sm",@readonly=true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                               <label>Request Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.CHA, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHA, new { @class = "form-control input-sm" })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAHdrModal"></i></span>
                                @Html.HiddenFor(m => m.CHAId)
                                @Html.ValidationMessageFor(m => m.CHA, "", new { @class = "ErrorMsg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "height:100px" })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "ErrorMsg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                               <label>Stuffing Type:</label>
                            </div>
                            <div class="col-md-1 padding_rt">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.StuffingType, "FCL", new { @class = "", @id = "FCL" })
                                    <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                </div>
                            </div>
                            <div class="col-md-1 padding_rt">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.StuffingType, "LCL", new { @class = "", @id = "LCL" })
                                    <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Stuffing Details</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Carting No:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.CartingRegisterNo, new {@class="form-control input-sm",@disabled=false })
                                    @Html.HiddenFor(m => m.CartingRegisterId)
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="DivCartingDetails">
                                @Html.Hidden("CartingRegisterDtlId")
                                @Html.Hidden("StuffingReqDtlId")
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt" >
                                            <label>Shipping Bill No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm" @*, @readonly = true*@,maxlength="30",onkeypress = "return ValidateData(event)"
                                       })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                            <label>Shipping Date:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5 Date_Img">
                                            @Html.TextBox("ShippingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Exporter:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.Hidden("ExporterId")
                                            @Html.TextBox("ExporterName", "", new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>CHA:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.Hidden("CHANameId")
                                            @Html.TextBox("CHAName", "", new { @class = "form-control input-sm", @readonly = true })
                                            <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2 padding_rt">
                                            <label>Cargo Description:</label>
                                        </div>
                                        <div class="col-md-10-5 col_cus_10">
                                            @Html.TextArea("CargoDescription", new { @style = "width:100%;height:100px;",maxlength="1000" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Cargo Type:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.DropDownList("CargoType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="HAZ",Value="1"},
                                            new SelectListItem { Text="Non HAZ",Value="2"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                            @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>No of Units:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", onkeypress = "return AllowOnlyInteger(event)", maxlength = "11" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                            <label>Gross Weight:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm",@onblur="ClearErrMsg(this)",onkeypress="return AllowOnlyDecimal(event)", maxlength = "11" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>FOB:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBox("Fob", "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                            <label>Pack UOM:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.HiddenFor(m => m.PackUQCId)
                                            @Html.HiddenFor(m => m.PackUQCCode)
                                            @Html.TextBoxFor(m => m.PackUQCDescription, new { @class = "form-control input_sm", @readonly = true, tabindex = 18, onkeydown = "PopupActivate('PackUQCModal');" })
                                            @Html.ValidationMessageFor(m => m.PackUQCDescription, "", new { @class = "Error_Msg" })
                                            <span class="search" id="PackUQCSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PackUQCModal"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row Form_Space_bottom">
                                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                                        <input type="button" value="Add" class="btn log_Btn_sm" onclick="AddRequestDtl()" disabled id="BtnAddStuffingDtl"/>
                                    </div>
                                </div>
                                <div class="logErrMsg" id="DivTblStuffingErrMsg" style="background-color:transparent"></div>
                                @*<div class="logSuccMsg Form_Space_bottom" id="DivSuccMsg" style="color:transparent"></div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="TblStuffingReq" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width:8%;">Sl No</th>
                                                    <th>Carting No</th>
                                                    <th>Shipping Bill No</th>
                                                    <th>Shipping Bill Date</th>
                                                    <th>Exporter</th>
                                                    <th>CHA</th>
                                                    <th class="text-center" style="width:10%;">Edit</th>
                                                    <th class="text-center" style="width:10%;">View</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                </div>
                            </div>
                                <div id="DivContainerDet">
                                    @Html.Hidden("StuffingReqContrId")
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Container No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessage("ContainerNo", "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5">
                                                <label>Commodity:</label>
                                            </div>
                                            <div class="col-md-3-5 col_cus_3">
                                                @Html.TextBox("CommodityName", "",new { @class = "form-control input-sm dropdown", @readonly = true })
                                                @*@Html.ValidationMessage("CommodityName", "", new { @class = "Error_Msg" })*@
                                            </div>
                                            <div class="col-md-1">
                                                <label>Size:</label>
                                            </div>
                                            <div class="col-md-2">
                                                @Html.TextBox("Size", "", new { @class= "form-control input-sm dropdown",@readonly=true })
                                                @*@Html.DropDownList("Size", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="20",Value="20"},
                                            new SelectListItem { Text="40",Value="40"},
                                            new SelectListItem { Text="ODC",Value="ODC"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })*@
                                                @Html.ValidationMessage("Size", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Foreign Liner Name:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">

                                                @Html.TextBox("FlinerName", "", new { @class = "form-control input-sm" })
                                                <span class="search" id="FlinerNameSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#FlinerNameModal"></i></span>
                                                @Html.ValidationMessage("FlinerName")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Vessel:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Vessel", "", new { @class = "form-control input-sm" })
                                                @Html.ValidationMessage("Vessel", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>Voyage:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Voyage", "", new { @class = "form-control input-sm" })
                                                @Html.ValidationMessage("Voyage", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Shipping Line:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.TextBox("ShippingLine", "", new { @class = "form-control input-sm" })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                                @Html.Hidden("ShippingLineId")
                                                @Html.ValidationMessage("ShippingLine", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Stuffing Qty:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("StuffQuantity", "", new { @class = "form-control input-sm",@onblur="ClearErrMsg(this)", onkeypress = "return AllowOnlyInteger(event)", maxlength = "11" })
                                                @Html.ValidationMessage("StuffQuantity", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>Stuffing Weight:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("StuffWeight", "", new { @class = "form-control input-sm",@onblurr="ClearErrMsg(this)", onkeypress = "return AllowOnlyDecimal(event)",maxlength="11" })
                                                @Html.ValidationMessage("StuffWeight", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_bottom">
                                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                                        <input type="button" value="Add" class="btn log_Btn_sm" onclick="AddContainerDtl()" disabled id="BtnAddContainer"/>
                                    </div>
                                </div>
                                <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                                @*<div class="logSuccMsg Form_Space_bottom" id="DivSuccMsg" style="color:transparent"></div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="TblStuffingContr" class="table table-striped table-bordered dataTable nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width:8%;">Sl No</th>
                                                    <th>Container No</th>
                                                    <th>Size</th>
                                                    <th>Commodity</th>
                                                    <th class="text-center" style="width:10%;">Edit</th>
                                                    <th class="text-center" style="width:10%;">View</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" value="Save" class="btn log_Btn_sm" id="btnSubmit" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Back" class="btn log_Btn_sm" onclick="loadstuffingpage()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivStuffingMsg" style="background-color:transparent"></div>
                            <div class="logErrMsg" id="DivStuffingErrMsg" style="background-color:transparent"></div>
                }
                <div id="DivStuffingErrMsg" class="logErrMsg SignUp_space_bottom2 Form_Space_top" style="color:transparent;"></div>
                @*<div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                         Modal content
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Carting No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="box" type="text" />
                                <ul class="navList" id="CartingRegList">
                                    @{
                                        if (ViewBag.CartingRegNoList != null)
                                        {
                                            foreach (var item in ViewBag.CartingRegNoList)
                                            {
                                                <li id="@item.Value">@item.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="modal fade" id="ShippingLineModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Shipping Line</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="ShippingLineBox" type="text" />
                                <ul class="navList" id="ShippingLineList">
                                    @{
                                        if (ViewBag.ShippingLineList != null)
                                        {
                                            foreach (var item in ViewBag.ShippingLineList)
                                            {
                                                <li id="@item.Value">@item.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal fade" id="ContainerModal" role="dialog">
                    <div class="modal-dialog">
                         Modal content
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Container No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="ContainerBox" type="text" />
                                <ul class="navList" id="ContainerList">
                                    @{
                                        if (ViewBag.ContainerList != null)
                                        {
                                            foreach (var item in ViewBag.ContainerList)
                                            {
                                                <li id="@item.Value">@item.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="modal fade" id="ExporterModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List Of Exporter</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="SearchExporter" type="text" />
                                <ul class="navList" id="LstExporter">
                                    @{
                                        if (ViewBag.ListOfExporter != null)
                                        {
                                            foreach (var data in ViewBag.ListOfExporter)
                                            {
                                                <li id="@data.Value">@data.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CHAModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List Of CHA</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="SearchCHA" type="text" />
                                <ul class="navList" id="LstCHA">
                                    @{
                                        if (ViewBag.ListOfCHA != null)
                                        {
                                            foreach (var data in ViewBag.ListOfCHA)
                                            {
                                                <li id="@data.Value">@data.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ShippingModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List Of Shipping Bill No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="SearchShippingNo" type="text" />
                                <ul class="navList" id="ListOfShippingNo">
                                    @{
                                        if (ViewBag.ListOfShippingNo != null)
                                        {
                                            foreach (var data in ViewBag.ListOfShippingNo)
                                            {
                                                <li id="@data.Value">@data.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CHAHdrModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List Of Shipping Bill No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="SearchCHAHdr" type="text" />
                                <ul class="navList" id="ListOfCHA">
                                    @{
                                        if (ViewBag.ListOfCHA != null)
                                        {
                                            foreach (var data in ViewBag.ListOfCHA)
                                            {
                                                <li id="@data.Value">@data.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="FlinerNameModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Foreign Liner Name</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Foreignbox" type="text" />
                                <ul class="navList" id="lstForeign">
                                    @{
                                        if (ViewBag.ForeignLinerList != null)
                                        {
                                            foreach (var item in ViewBag.ForeignLinerList)
                                            {
                                                <li id="@item.Value">@item.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade mTabindex" id="PackUQCModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" onclick="ClosePackUQC()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List Of Pack UOM</h4>
                            </div>
                            <div class="modal-body popup_body" style="position:relative;">
                                <input placeholder="Search By Pack UQC Name Or Pack UQC Code " id="PackUQCbox" type="text" tabindex="200" autofocus />
                                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchPackUQCByCode()"></i></span>

                                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                    <thead>
                                        <tr>
                                            <th colspan="8" width="80%">Pack UOM Description</th>
                                            <th colspan="4" width="20%">Pack UOM Code</th>
                                        </tr>
                                    </thead>
                                </table>

                                <div id="slim_scroll_3">
                                    <table tabindex="201" class="table dataTable table-bordered table-striped slim_tble" id="tblePackUQC">
                                        @{
                                            if (ViewBag.lstPackUQC != null)
                                            {
                                                var tabvalue = 202;
                                                foreach (var item in ViewBag.lstPackUQC)
                                                {
                                                    <tr tabindex="@tabvalue" onclick="SelectPackUQC(@item.PackUQCId,'@item.PackUQCDescription','@item.PackUQCCode')" onkeypress="SelectPackUQC(@item.PackUQCId,'@item.PackUQCDescription','@item.PackUQCCode')">
                                                        <td colspan="8" width="80%" class="txt_wrp">@item.PackUQCDescription</td>
                                                        <td colspan="4" width="20%" class="txt_wrp">@item.PackUQCCode</td>
                                                    </tr>
                                                    tabvalue++;
                                                }
                                            }
                                        }

                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        @if (ViewBag.PackUQCState != null && Convert.ToBoolean(ViewBag.PackUQCState) == true)
                                        {
                                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePackUQC()" class="btn log_Btn_sm" id="btnLoadPackUQC">Load More Data</button>
                                        }
                                        else
                                        {
                                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePackUQC()" class="btn log_Btn_sm" id="btnLoadPackUQC" disabled>Load More Data</button>
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn log_Btn_sm" onclick="ClosePackUQC()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    var RequestDet = [];
    var ContainerDet = [];
    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_3').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        debugger;
        RequestDet=@Html.Raw(Json.Encode(Model.LstStuffing));
        ContainerDet=@Html.Raw(Json.Encode(Model.LstStuffingContainer));
        GenerateTable();
        GenerateContrTable();
       // $('#DivCartingDetails input[type="text"]').prop("readonly", true);
      //  $('#DivCartingDetails select,#DivCartingDetails textarea').prop("disabled", true);
        if ('@ViewData["IsExporter"]' == 'True') {
            $('#ExporterName').val('@ViewData["ExporterName"]');
            $('#ExporterId').val('@ViewData["EximTraderId"]');
            var EximTraderId= '@ViewData["EximTraderId"]';
            var ExporterName = '@ViewData["ExporterName"]';
            $('#LstExporter').html('<li id=' + @ViewData["EximTraderId"] +' onclick="FillExporterDet(\'' + EximTraderId + '\',\'' + ExporterName + '\')">@ViewData["ExporterName"]</li>');
        }
        if ('@ViewData["IsCHA"]' == 'True') {
            $('#CHANameId').val('@ViewData["CHAId"]');
            $('#CHAName').val('@ViewData["CHA"]');
            $('#CHAId').val('@ViewData["CHAId"]');
            $('#CHA').val('@ViewData["CHA"]');
            var CHAId='@ViewData["CHAId"]';
            var CHA='@ViewData["CHA"]';
            $('#LstCHA').html('<li id=' + @Model.CHAId +' onclick="FillCHADet(\'' + CHAId + '\',\'' + CHA + '\')">@Model.CHA</li>');
            $('#ListOfCHAHdr').html('<li id=' + @Model.CHAId +' onclick="FillCHAHdrDet(\'' + CHAId + '\',\'' + CHA + '\')">@Model.CHA</li>');
        }
    });
    function FillExporterDet(EximTraderId, ExporterName) {
        debugger;
        $('#ExporterName').val(ExporterName);
        $('#ExporterId').val(EximTraderId);
        $("#ExporterModal").modal("hide");
    }
    function FillCHAHdrDet(CHAId, CHA) {
        debugger;
        $('#CHAId').val(CHAId);
        $('#CHA').val(CHA);
        $("#CHAHdrModal").modal("hide");
    }
    function FillCHADet(CHAId, CHA) {
        debugger;
        $('#CHANameId').val(CHAId);
        $('#CHAName').val(CHA);
        $("#CHAModal").modal("hide");
    }
    function AddRequestDtl() {
        debugger;
        $('#DivTblStuffingErrMsg').html('');
        if ($('#CargoType').val() == '') {
            $('[data-valmsg-for="CargoType"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        else if ($('#PackUQCDescription').val() == '') {
            $('[data-valmsg-for="PackUQCDescription"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        //if(ValidateFunction())
        
       //if (parseInt($('#StuffQuantity').val()) > parseInt($('#NoOfUnits').val()))
       // {
       //     $('[data-valmsg-for="StuffQuantity"]').html('<span>Stuff Quantity Cannot Be More Than No Of Units.</span>');
       // }
       // else if(parseFloat($('#StuffWeight').val()) > parseFloat($('#GrossWeight').val()))
       // {
       //     $('[data-valmsg-for="StuffQuantity"]').html('<span>Stuff Weight Cannot Be More Than Gross Weight.</span>');
       // }
       // else if ($('#ContainerNo').val() == '') {
       //     $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
       //     return false;
       // }
        //else if($('#Size').val()==''){
        //    $('[data-valmsg-for="Size"]').html('<span>Fill Out This Field</span>');
        //    return false;
        //}
        //else if($('#ShippingLine').val()==''){
        //    $('[data-valmsg-for="ShippingLine"]').html('<span>Fill Out This Field</span>');
        //    return false;
        //}
        //else
       // {
            var Data = {
                CartingRegisterNo:$('#CartingRegisterNo').val(),
                StuffingReqDtlId: $('#StuffingReqDtlId').val(),
                StuffingReqId: $('#StuffingReqId').val(),
                CartingRegisterDtlId: $('#CartingRegisterDtlId').val(),
                ShippingBillNo: $('#ShippingBillNo').val(),
                ShippingDate: $('#ShippingDate').val(),
                ExporterId: $('#ExporterId').val(),
                Exporter: $('#ExporterName').val(),
                CHAId: $('#CHANameId').val(),
                CHA: $('#CHAName').val(),
                CargoDescription:$('#CargoDescription').val(),
                CargoType: $('#CargoType').val(),
                NoOfUnits: $('#NoOfUnits').val(),
                GrossWeight: $('#GrossWeight').val(),
                Fob: $('#Fob').val(),
                PackUQCCode: $('#PackUQCCode').val(),
                PackUQCDescription: $('#PackUQCDescription').val()
            };
            RequestDet.push(Data);
            GenerateTable();
            $('#DivCartingDetails').find('input:text,select,textarea').val('');
           // $('#CartingRegisterNo').val('');
            $('#DivCartingDetails').find('input:hidden').val('');
            $('#BtnAddStuffingDtl').prop("disabled", true);
           // $('#DivCartingDetails input[type="text"]').prop("readonly", true);
           // $('#DivCartingDetails select,#DivCartingDetails textarea').prop("disabled", true);
        //}
    }
    function ValidateFunction()
    {

    }
    function GenerateTable() {

        
        debugger;
        if (RequestDet.length != 0) {
            var html = '';
            $.each(RequestDet, function (i, elem) {
                html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' +elem.CartingRegisterNo + '</td><td>' + elem.ShippingBillNo + '</td><td>' + elem.ShippingDate + '</td><td>' + elem.Exporter + '</td><td>' + elem.CHA + '</td><td class="text-center"><a href="#" onclick="EditStuffingReq(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td><td class="text-center"><a href="#" onclick="ViewStuffingReq(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
            });
            $('#TblStuffingReq > tbody').html('');
            $('#TblStuffingReq > tbody').html(html);
            $('#TblStuffingReq').show();
        }
        else {
            $('#TblStuffingReq').hide();
        }
    }
    function GenerateContrTable() {
        debugger;
        var html = '';
        if (ContainerDet.length!=0)
        {
            $.each(ContainerDet, function (i, elem) {
                html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td>' + elem.CommodityName + '</td><td class="text-center"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td><td class="text-center"><a href="#" onclick="ViewContainerDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
            });
            $('#TblStuffingContr > tbody').html('');
            $('#TblStuffingContr > tbody').html(html);
            $('#TblStuffingContr').show();
        }
        else {
            $('#TblStuffingContr').hide();
        }
        
    }
    function loadstuffingpage()
    {
        $('#DivBody').load( '/Export/CWCExport/CreateStuffingRequest');
    }
    function ViewStuffingReq(idx) {
        if($('#BtnAddStuffingDtl').prop("disabled")==true)
        {
            $('#BtnAddStuffingDtl').prop("disabled", true);
            $('#StuffingReqDtlId').val(RequestDet[idx].StuffingReqDtlId);
            $('#StuffingReqId').val(RequestDet[idx].StuffingReqId);
            $('#CartingRegisterDtlId').val(RequestDet[idx].CartingRegisterDtlId);
            $('#ShippingBillNo').val(RequestDet[idx].ShippingBillNo);
            $('#ShippingDate').val(RequestDet[idx].ShippingDate);
            $('#ExporterId').val(RequestDet[idx].ExporterId);
            $('#ExporterName').val(RequestDet[idx].Exporter);
            $('#CHAName').val(RequestDet[idx].CHA);
            $('#CargoDescription').val(RequestDet[idx].CargoDescription);
            $('#CargoType').val(RequestDet[idx].CargoType);
            $('#NoOfUnits').val(RequestDet[idx].NoOfUnits);
            $('#GrossWeight').val(RequestDet[idx].GrossWeight);
            $('#Fob').val(RequestDet[idx].Fob);
            $('#PackUQCCode').val(RequestDet[idx].PackUQCCode);
            $('#PackUQCDescription').val(RequestDet[idx].PackUQCDescription);
        }
        else{
            $('#DivTblStuffingErrMsg').html('Please Add The Above Records');
        }
    }
    function EditStuffingReq(idx) {
        debugger;
        if($('#BtnAddStuffingDtl').prop("disabled")==true)
        {
            $('#BtnAddStuffingDtl').prop("disabled", false);
            $('#StuffingReqDtlId').val(RequestDet[idx].StuffingReqDtlId);
            $('#StuffingReqId').val(RequestDet[idx].StuffingReqId);
            $('#CartingRegisterDtlId').val(RequestDet[idx].CartingRegisterDtlId);
            $('#CartingRegisterNo').val(RequestDet[idx].CartingRegisterNo);
            $('#ShippingBillNo').val(RequestDet[idx].ShippingBillNo);
            $('#ShippingDate').val(RequestDet[idx].ShippingDate);
            $('#ExporterId').val(RequestDet[idx].ExporterId);
            $('#ExporterName').val(RequestDet[idx].Exporter);
            $('#CHANameId').val(RequestDet[idx].CHAId);
            $('#CHAName').val(RequestDet[idx].CHA);
            $('#CargoDescription').val(RequestDet[idx].CargoDescription);
            $('#CargoType').val(RequestDet[idx].CargoType);
            $('#NoOfUnits').val(RequestDet[idx].NoOfUnits);
            $('#GrossWeight').val(RequestDet[idx].GrossWeight);
            $('#Fob').val(RequestDet[idx].Fob);
            $('#PackUQCCode').val(RequestDet[idx].PackUQCCode);
            $('#PackUQCDescription').val(RequestDet[idx].PackUQCDescription);
            RequestDet.splice(idx, 1);
            GenerateTable();
        }
        else{
            $('#DivTblStuffingErrMsg').html('Please Add The Above Records');
        }
        
       // $('#DivCartingDetails input[type="text"]').prop("readonly", false);
       // $('#DivCartingDetails select,#DivCartingDetails textarea').prop("disabled", false);
       // $('#ContainerNo').prop('readonly',true);
    }

    function ViewContainerDet(idx) {
        debugger;
        if($('#BtnAddContainer').prop("disabled")==true){
            $('#BtnAddContainer').prop("disabled", true);
            $('#StuffingReqContrId').val(ContainerDet[idx].StuffingReqContrId);
            $('#CommodityName').val(ContainerDet[idx].CommodityName);
            $('#ContainerNo').val(ContainerDet[idx].ContainerNo);
            $('#Size').val(ContainerDet[idx].Size);
            $('#FlinerName').val(ContainerDet[idx].ForeignLiner);
            $('#Vessel').val(ContainerDet[idx].Vessel);
            $('#Voyage').val(ContainerDet[idx].Voyage);
            $('#ShippingLine').val(ContainerDet[idx].ShippingLine);
            $('#StuffQuantity').val(ContainerDet[idx].StuffQuantity);
            $('#StuffWeight').val(ContainerDet[idx].StuffWeight);
            $('#CFSCode').val(ContainerDet[idx].CFSCode);
        }
        else{
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
        }
    }
    function EditContainerDet(idx) {
        debugger;
        if($('#BtnAddContainer').prop("disabled")==true){
            $('#BtnAddContainer').prop("disabled", false);
            $('#StuffingReqContrId').val(ContainerDet[idx].StuffingReqContrId);
            $('#CommodityName').val(ContainerDet[idx].CommodityName);
            $('#ContainerNo').val(ContainerDet[idx].ContainerNo);
            $('#Size').val(ContainerDet[idx].Size);
            $('#ShippingLineId').val(ContainerDet[idx].ShippingLineId);
            $('#FlinerName').val(ContainerDet[idx].ForeignLiner);
            $('#Vessel').val(ContainerDet[idx].Vessel);
            $('#Voyage').val(ContainerDet[idx].Voyage);
            $('#ShippingLine').val(ContainerDet[idx].ShippingLine);
            $('#StuffQuantity').val(ContainerDet[idx].StuffQuantity);
            $('#StuffWeight').val(ContainerDet[idx].StuffWeight);
            $('#CFSCode').val(ContainerDet[idx].CFSCode);
            ContainerDet.splice(idx, 1);
            GenerateContrTable();
        }
        else{
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
        }
       
        // $('#DivCartingDetails input[type="text"]').prop("readonly", false);
        // $('#DivCartingDetails select,#DivCartingDetails textarea').prop("disabled", false);
    }

    function AddContainerDtl() {
        debugger;
        $('#DivTblContrErrMsg').html('');
        $('[data-valmsg-for]').html('<span></span>');
        if ($('#CommodityName').val() == '') {
            $('[data-valmsg-for="CommodityName"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        else if ($('#ContainerNo').val() == '') {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        else if ($('#ShippingLine').val() == '') {
            $('[data-valmsg-for="ShippingLine"]').html('<span>Fill Out This Field</span>');
            return false;
        }
            //else if (parseInt($('#StuffQuantity').val()) > parseInt($('#NoOfUnits').val())) {
            //    $('[data-valmsg-for="StuffQuantity"]').html('<span>Stuff Quantity Cannot Be More Than No Of Units.</span>');
            //    return false;
            //}
            //else if (parseFloat($('#StuffWeight').val()) > parseFloat($('#GrossWeight').val())) {
            //    $('[data-valmsg-for="StuffWeight"]').html('<span>Stuff Weight Cannot Be More Than Gross Weight.</span>');
            //    return false;
            //}
       
            //else if($('#Size').val()==''){
            //    $('[data-valmsg-for="Size"]').html('<span>Fill Out This Field</span>');
            //    return false;
            //}
       
        else {
            var Data = {
                StuffingReqContrId: $('#StuffingReqContrId').val(),
                CommodityName: $('#CommodityName').val(),
                ContainerNo: $('#ContainerNo').val(),
                Size: $('#Size').val(),
                ShippingLineId: $('#ShippingLineId').val(),
                ShippingLine: $('#ShippingLine').val(),
                StuffQuantity: $('#StuffQuantity').val(),
                StuffWeight: $('#StuffWeight').val(),
                ForeignLiner: $('#FlinerName').val(),
                Vessel: $('#Vessel').val(),
                Voyage: $('#Voyage').val(),
                CFSCode: $('#CFSCode').val()
            };
            ContainerDet.push(Data);
            GenerateContrTable();
            $('#DivContainerDet').find('input:text,select,textarea').val('');
            $('#DivContainerDet').find('input:hidden').val('');
            $('#BtnAddContainer').prop("disabled", true);
            // $('#DivContainerDet input[type="text"]').prop("readonly", true);
            // $('#DivCartingDetails select,#DivCartingDetails textarea').prop("disabled", true);
        }
    }
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function ValidateData(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if (CharCode == 32) {
            return true;
        }
        if ((CharCode > 31 & CharCode < 48) || (CharCode > 57 & CharCode < 65) || (CharCode > 90 & CharCode < 97) || (CharCode > 122)) {
            evt.preventDefault();
            return false;
        }
        return true;
    }
    function ClearErrMsg(elem){
        $('[data-valmsg-for=" '+ elem.id +' "]').html('<span></span>');
    }
    function ResetStuffingReq() {

    }
    //function GetStuffingDetails(CartingRegisterId)
    //{
    //    debugger;
    //    $.ajax({
    //        url:  '/Export/CWCExport/GetCartRegDetForStuffingReq',
    //        type: 'GET',
    //        dataType: 'JSON',
    //        data: { CartingRegisterId: CartingRegisterId },
    //        success:function(data)
    //        {
    //            debugger;
    //            if(data.Status==1)
    //            {
    //                RequestDet = data.Data;
    //                GenerateTable();
    //                $('#TblStuffingReq').show();
    //            }
    //        }
    //    });
    //}
    //function GetContainerDet(ContainerNo)
    //{
    //    $.ajax({
    //        url:  '/Export/CWCExport/GetContainerDet',
    //        type: 'GET',
    //        dataType: 'JSON',
    //        data: { ContainerNo: ContainerNo },
    //        success: function (data)
    //        {
    //            if (data.Status == 1)
    //            {
    //                debugger;
    //                $('#Size').val(data.Data.Size);
    //                $('#ShippingLineId').val(data.Data.ShippingLineId);
    //                $('#GrossWeight').val(data.Data.GrossWeight);
    //                $('#ShippingLine').val(data.Data.ShippingLine);
    //            }
    //        }
    //    });
    //}
    function LoadMorePackUQC() {
        debugger;
        $.ajax({
            url: '/Export/CWCExport/LoadPackUQCList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstPackUQC, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                        tabvalue++;
                    });
                    if (Page == -1)
                        $('#tblePackUQC tbody').html(html);
                    else
                        $('#tblePackUQC tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.PackUQCState == true)
                        $('#btnLoadPackUQC').prop('disabled', false);
                    else $('#btnLoadPackUQC').prop('disabled', true);
                }
            }
        });
    }

    function LoadPackUQC() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/CWCExport/LoadPackUQCList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tabvalue = 202;
                    $.each(data.Data.lstPackUQC, function (item, elem) {
                        html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                        tabvalue++;
                    });

                    $('#tblePackUQC tbody').html(html);

                    if (data.Data.PackUQCState == true)
                        $('#btnLoadPackUQC').prop('disabled', false);
                    else $('#btnLoadPackUQC').prop('disabled', true);
                }
            }
        });
    }

    function SearchPackUQCByCode() {
        debugger;
        if ($('#PackUQCbox').val() != '') {
            $.ajax({
                url: '/Export/CWCExport/SearchPackUQCByCode',
                type: 'GET',
                data: { PartyCode: $('#PackUQCbox').val() },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var tabvalue = 202;
                        $.each(data.Data.lstPackUQC, function (item, elem) {
                            html += '<tr tabindex=' + tabvalue + ' onclick="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)" onkeypress="SelectPackUQC(' + elem.PackUQCId + ',&quot;' + elem.PackUQCDescription + '&quot,&quot;' + elem.PackUQCCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PackUQCDescription + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PackUQCCode + '</td></tr>';
                            tabvalue++;
                        });
                        $('#tblePackUQC tbody').html('');
                        $('#tblePackUQC tbody').html(html);
                        $('#btnLoadPackUQC').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tblePackUQC tbody').html('');
                        Page = -1;
                        $('#btnLoadPackUQC').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadPackUQC();
    }
    function SelectPackUQC(PackUQCId, PackUQCDescription, PackUQCCode) {
        debugger;
        $('#PackUQCDescription').val(PackUQCDescription);
        $('#PackUQCCode').val(PackUQCCode);
        $('#PackUQCId').val(PackUQCId);
        $("#PackUQCModal").modal("hide");
        $('#PackUQCbox').val('');
        $('[data-valmsg-for="PackUQCDescription"]').html('');
        LoadPackUQC();
        $('#Package').focus();
    }
    function ClosePackUQC() {
        debugger;
        $('#PackUQCbox').val('');
        $("#PackUQCModal").modal("hide");
        LoadPackUQC();
    }
</script>