@model CwcExim.Areas.Export.Models.JobOrder
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Job Order</h4>
                    </div>
                </div>

                @Html.HiddenFor(m => m.StringifiedText)
                <div id="DivJOHdr" class="Form_Space_bottom">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.ContainerType, "1", new { @class = "", @id = "rbEC",@disabled=true})
                                    <label for="rbEC"><i class="circle"></i><span>Empty Container</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.ContainerType, "2", new { @class = "", @id = "rbLC", @disabled = true })
                                    <label for="rbLC"><i class="circle"></i><span>Loaded Container</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Job Order No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.JobOrderNo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Job Order Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.JobOrderDate, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Reference No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control input_sm", @maxlength = 30, @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Reference Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ReferenceDate, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>From Location:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FromLocation, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_offset_0_5 col-md-offset-1 padding_rt">
                                <label>To Location:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ToLocation, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Pick Up Ref No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.PickUpRefNo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Pick Up Ref Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.PickUpRefDate, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input_sm", @style = "width:100%;height:100px;", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>No of Containers:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.NoOfContainer, new { @class = "form-control input_sm" })
                                @Html.ValidationMessageFor(m => m.NoOfContainer, "", new { @class = "Error_Msg", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DivJobOrderDtl" class="Head_h5">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ContainerNo", "", new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Container Size:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ContainerSize", "", new { @class = "form-control input_sm dropdown", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label for="Reefer">Reefer:</label>
                            </div>
                            <div class="col-md-1">
                                <div class="boolean-container">
                                    @Html.CheckBox("Reefer",new {@disabled=true })
                                    <label for="Reefer"><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table id="tblJODet" class="table table-striped table-bordered dataTable">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">Sl No</th>
                                    <th>Container No</th>
                                    <th>Container Size</th>
                                    <th>Type</th>
                                    <th class="text-center" style="width:10%;">View</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_top2 SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ArrayJODetails = [];
    $(function () {
        var SerializedData = @Html.Raw(Json.Encode(Model.StringifiedText));
        if(SerializedData!=null)
        {
            ArrayJODetails=$.parseJSON(SerializedData);
            GenerateTable();
        }
        else
        {
            $('#tblJODet').show();
        }
    });
    function GenerateTable() {
        var html = '';
        $.each(ArrayJODetails, function (i, item) {
            html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ContainerNo + '</td><td>' + item.ContainerSize + '</td><td>' + ((item.Reefer == 1) ? "Reefer" : "Non Reefer") + '</td><td class="text-center"><a href="#" onclick="ViewJODet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        $('#tblJODet tbody').html(html);
        $('#tblJODet').show();
    }
    function ViewJODet(i) {
        $('#ContainerNo').val(ArrayJODetails[i].ContainerNo);
        $('#ContainerSize').val(ArrayJODetails[i].ContainerSize),
        ArrayJODetails[i].Reefer == 1 ? $('#Reefer').prop('checked', true) : $('#Reefer').prop('checked', false);
    }
    $('#btnBack').on("click",function()
    {
        $('#DivBody').load( '/Export/CWCExport/CreateJobOrder');
    });
</script>