@model CwcExim.Models.State
<script>
        var TimeInSeconds;
        $(document).ready(function () {
            TimeInSeconds = 5000;
            GetStateList();
        });
        function GetStateList() {
            $('#DivStateList').load('/State/GetStateList');
        }
        function ResetValidation() {
            $('.field-validation-error').each(function () {
                $(this).html("");
            })
        }
        function StateReset() {
            debugger;
            ResetValidation();
            $('#StateName').val('');
            $('#StateAlias').val('');
            $('#CountryId').val('');
            $('#DivStateMsg').val('');
            $('[data-valmsg-for="StateName"]').html('<span></span>');
            $('[data-valmsg-for="StateAlias"]').html('<span></span>');
        }
        function StateOnSuccess(data) {
            debugger;
            if (data.Status == 1) {
                $('#DivStateMsg').html(data.Message);
                setTimeout(StateReset, TimeInSeconds);
                GetStateList();
            }
            else if (data.Status == 2) {
                $('[data-valmsg-for="StateName"]').html('<span>'+data.Message+'</span>');
            }
            else if (data.Status == 3) {
                $('[data-valmsg-for="StateAlias"]').html('<span>'+data.Message+'</span>');
            }
            else {
                $('#DivStateMsg').html(data.Message);
            }
        }
        function StateOnFailure(){}
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are you sure you want to save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "StateOnSuccess";
    options.OnFailure = "StateOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditStateDetail", "State", options))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>State Master</h4>
                    </div>
                </div>

                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="ReQSimbol">*</span>
                                <label>Country Name:</label>
                                @if (Model.LstCountry.Count > 0)
                                {
                                    @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.LstCountry, "CountryId", "CountryName"), "---Select---", new { @class = " dropdown" })
                                    @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.CountryId, Enumerable.Empty<SelectListItem>(), "----Select----")
                                    @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                }
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <span class="ReQSimbol">*</span>
                            <label>State Name:</label>
                            @Html.TextBoxFor(m => m.StateName, "", new { @class = "" })
                            @Html.ValidationMessageFor(m => m.StateName, "", new { @class = "Error_Msg" })
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                <span class="ReQSimbol">*</span>
                                <label>State Alias:</label>
                                @Html.TextBoxFor(m => m.StateAlias, "", new { @class = "" })
                                @Html.ValidationMessageFor(m => m.StateAlias, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                   <label>Country Name:</label>
                                </div>
                                <div class="col-md-4 col_cus_3">
                                    <span class="ReQSimbol">*</span>
                                    @if (Model.LstCountry.Count > 0)
                                    {
                                        @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.LstCountry, "CountryId", "CountryName"), "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.CountryId, Enumerable.Empty<SelectListItem>(), "----Select----")
                                        @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                    }
                                </div>
                                <div class="col-md-1-5 col-md-offset-1 col_cus_2">
                                    <label>State Name:</label>
                                </div>
                                <div class="col-md-4 col_cus_3">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.StateName, "", new { @class="form-control input-sm"})
                                    @Html.ValidationMessageFor(m => m.StateName, "", new { @class="Error_Msg"})
                                </div>

                            </div>
                        </div>*@

                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                   <label>State Alias:</label>
                                </div>
                                <div class="col-md-2">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.StateAlias, "", new { @class="form-control input-sm"})
                                    @Html.ValidationMessageFor(m => m.StateAlias, "", new { @class="Error_Msg"})
                                </div>
                            </div>
                        </div>*@
                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="submit" class="btn btn-primary mr-1 btn-100px" value="Save">
                        <input type="button" class="btn btn-primary-border btn-100px" value="Reset" onclick="StateReset()">
                    </div>

                    @*<div class="row">
                            <div class="col-md-offset-4 col-md-2" style="text-align:center">
                                <input type="submit" value="Save" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Reset" onclick="StateReset()" />
                            </div>
                        </div>*@
                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivStateMsg"></div>
                    </div>

                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <div id="DivStateList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")