@model IEnumerable<CwcExim.Models.State>
    <script>
        $(document).ready(function () {
            var TblState = $('#TblState').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 50,
                "aoColumns": [
                        { "sName": "View", "bSortable": false, "width": "3%" },
                        { "sName": "Edit", "bSortable": false, "width": "3%" },
                        { "sName": "Delete", "bSortable": false, "width": "3%" },
                        { "sName": "SL No","width": "8%" },
                        { "sName": "Country Name", "bSortable": false },
                        { "sName": "State Name" },
                        { "sName": "State Alias", "bSortable": false },                       
                ]
            });
            new $.fn.dataTable.FixedHeader(TblState);
        });
        function LoadStatePage()
        {
            $('#DivBody').load('/State/CreateState');
        }
        function ViewState(StateId) {
            $('#DivBody').load('/State/ViewState?StateId=' + StateId);
        }
        function EditState(StateId) {
            $('#DivBody').load('/State/EditState?StateId=' + StateId);
        }
        function DeleteState(StateId) {
            debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            var Confirm = confirm("Are You Sure You Want To Delete?");
            if (Confirm == true) {
                $.ajax({
                    url: '/State/DeleteStateDetail',
                    headers: { '__RequestVerificationToken': Token },
                    type: 'POST',
                    data: { StateId:StateId },
                    async: false,
                    dataType: 'JSON',
                    success: function (data) {
                        debugger;
                        if (data.Status == 1) {
                            LoadStatePage();
                        }
                        else if(data.Status==2 || data.Status==3 || data.Status==4 || data.Status==5 ){
                            alert(data.Message);
                        }
                        else{
                            alert(data.Message);
                        }
                    }
                });
            }
        }
    </script>
<table id="TblState" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
<thead>
    <tr>
        <th style="text-align:center">@Html.DisplayName("View")</th>
        <th style="text-align:center">@Html.DisplayName("Edit")</th>
        <th style="text-align:center">@Html.DisplayName("Delete")</th>
        <th style="text-align:center">@Html.DisplayName("SL No")</th>
        <th>Country Name</th>
        <th>@Html.DisplayNameFor(m=>m.StateName)</th>
        <th>@Html.DisplayNameFor(m=>m.StateAlias)</th>        
    </tr>
</thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach(var item in Model)
            {
                <tr>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="ViewState(@item.StateId)"><i class="fa fa-eye"></i></a></div></td>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="EditState(@item.StateId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="DeleteState(@item.StateId)"><i class="fa fa-trash-o"></i></a></div></td>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.CountryName)</td>
                    <td>@Html.DisplayFor(m=>item.StateName)</td>
                    <td>@Html.DisplayFor(m=>item.StateAlias)</td>                    
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>