@model CwcExim.Areas.Master.Models.DSRChargeName

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetChargeNameList();
        TimeInSeconds = 3000;
    });
    function GetChargeNameList() {
        debugger;
        $('#DivChargeNameList').load('/Master/DSRMaster/GetChargeNameList');
    }
    function ResetValidation() {
        $('.field-validation-error').each(function () {
            $(this).html("");
        })
    }
    function ChargeNameReset() {
        debugger;
        ResetValidation();
        $('[data-valmsg-for="ChargeName"]').html('<span></span>');
        $('[data-valmsg-for="ChargeCode"]').html('<span></span>');
        $('#ChargeName').val('');
        $('#IsMisc').prop("checked", false);
        $('#ChargeCode').val('');
        $('#DivChargeNameMsg').html("");
    }
    //$('#BtnChargeNameSave').on("click", function () {
    //    //alert('kk');
    //    debugger;
    //    $('#BtnChargeNameSave').prop('disabled', true);
    //});
    function ChargeNameOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            if ($('#DivChargeNameMsg').hasClass('logErrMsg'))
                $('#DivChargeNameMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivChargeNameMsg').html(data.Message);
            setTimeout(ChargeNameReset, TimeInSeconds);
            GetChargeNameList();

        }
        else if (data.Status == 2) {
            $('[data-valmsg-for="ChargeName"]').html('<span>' + data.Message + '</span>');
        }
        else if (data.Status == 3) {
            $('[data-valmsg-for="ChargeCode"]').html('<span>' + data.Message + '</span>');
        }
        else {
            if ($('#DivChargeNameMsg').hasClass('logSuccMsg'))
                $('#DivChargeNameMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivChargeNameMsg').html(data.Message);
        }
    }
    function ChargeNameOnFailure() { }


</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "ChargeNameOnSuccess";
    options.OnFailure = "ChargeNameOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("AddEditChargeNameDetail", "DSRMaster", options))
                {
                    @Html.AntiForgeryToken()
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Charge Name Master</h4>
                        </div>
                    </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        Charge Name:
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.ChargeName, "", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.ChargeName, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-1 col-md-1-5 col_cus_2">
                                        Charge Code:
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.ChargeCode, "", new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_1">
                                        <label>Misc. Invoice :</label>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.IsMisc)
                                            <label for="IsMisc"><i class="square"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                </div>
                                <div class="row SignUp_space_bottom">
                                    <div class="col-md-offset-4 col-md-2" style="text-align:center">
                                        <input type="submit" id="BtnChargeNameSave" value="Save" class="btn log_Btn_sm" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" id="BtnChargeNameReset" value="Reset" class="btn log_Btn_sm" onclick="ChargeNameReset()" />

                                    </div>
                                </div>
                                <div class="logSuccMsg SignUp_space_bottom2" style="background-color:transparent">
                                    <div id="DivChargeNameMsg"></div>
                                </div>
                }
                <div class="row">
                    <div class="col-md-12 SignUp_space_bottom">
                        <div id="DivChargeNameList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
