@model IEnumerable<CwcExim.Areas.Master.Models.DSRPort>

<script>
    $(document).ready(function(){
        var TblPort = $('#TblPort').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "SL No","width": "8%" },
                    { "sName": "Port Name" },
                    { "sName": "Port Alias", "bSortable": false },
                    { "sName": "Country Name", "bSortable": false },
                    { "sName": "State Name", "bSortable": false },
                    { "sName": "View", "bSortable": false, "width": "10%" },
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblPort);
    });
    function LoadPortPage(){
        $('#DivBody').load('/Master/DSRMaster/CreatePort');
    }
    function ViewPort(PortId){
        $('#DivBody').load('/Master/DSRMaster/ViewPort?PortId='+PortId);
    }
    function EditPort(PortId){
        $('#DivBody').load('/Master/DSRMaster/EditPort?PortId='+PortId);
    }
    function DeletePort(PortId){
        //debugger;
        var Confirm=confirm("Are You Sure You Want To Delete?")
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'/Master/DSRMaster/DeletePortDetail',
                headers:{'__RequestVerificationToken':Token},
                dataType:'JSON',
                type:'POST',
                data:{PortId:PortId},
                async:false,
                success:function(data){
                    if(data.Status==1){
                        alert("Port has been deleted successfully");
                        LoadPortPage();
                    }
                    else if(data.Status==2)
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }
</script>
<table id="TblPort" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.PortName)</th>
            <th>@Html.DisplayNameFor(m => m.PortAlias)</th>
            <th>@Html.DisplayNameFor(m => m.CountryId)</th>
            <th>@Html.DisplayNameFor(m => m.StateId)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.PortName)</td>
                    <td>@Html.DisplayFor(m => item.PortAlias)</td>
                    <td>@Html.DisplayFor(m => item.CountryName)</td>
                    <td>@Html.DisplayFor(m => item.StateName)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewPort(@item.PortId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditPort(@item.PortId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeletePort(@item.PortId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
