@model IEnumerable<CwcExim.Areas.Master.Models.DSRMiscellaneous>

<script>
    $(document).ready(function(){
        var TblMiscellaneous=$('#TblMiscellaneous').DataTable({
            "bFilter":false,
            "bInfo":false,
            "pageLength": 50,
            "aoColumns":[
                {"sName":"SL No","width":"8%"},
                {"sName":"Fumigation"},
                {"sName":"Washing"},
                {"sName":"Reworking"},
                {"sName":"Bagging"},
                {"sName":"Palletizing"},
                 {"sName":"PrintingCharges"},
                {"sName":"Edit","bSortable":false,"width":"10%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblMiscellaneous);
    });
    function EditMiscellaneous(MiscellaneousId){
        $('#DivMiscellaneous').load('/Master/DSRMaster/EditMiscellaneous?MiscellaneousId='+MiscellaneousId);
    }
</script>

<table id="TblMiscellaneous" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.Fumigation)</th>
            <th>@Html.DisplayNameFor(m => m.Washing)</th>
            <th>@Html.DisplayNameFor(m => m.Reworking)</th>
            <th>@Html.DisplayNameFor(m => m.Bagging)</th>
            <th>@Html.DisplayNameFor(m => m.Palletizing)</th>
            <th>@Html.DisplayNameFor(m => m.PrintingCharges)</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.Fumigation)</td>
                    <td>@Html.DisplayFor(m => item.Washing)</td>
                    <td>@Html.DisplayFor(m => item.Reworking)</td>
                    <td>@Html.DisplayFor(m => item.Bagging)</td>
                    <td>@Html.DisplayFor(m => item.Palletizing)</td>
                    <td>@Html.DisplayFor(m => item.PrintingCharges)</td>
                    <td style="text-align:center"><a href="#" onclick="EditMiscellaneous(@item.MiscellaneousId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>