@model IEnumerable<CwcExim.Areas.Master.Models.DSRCWCReefer>
<table id="tblReeferList" width="100%" class="table table-striped table-bordered nowrap">
    <thead>
        <tr>
            <th style="text-align:center;">@Html.DisplayName("SL No")</th>
            <th style="text-align:center;">@Html.DisplayNameFor(m => m.EffectiveDate)</th>
            <th>@Html.DisplayNameFor(m => m.ElectricityCharge)</th>
            <th>@Html.DisplayName("Container/CBT Size")</th>
            <th style="text-align:center;">@Html.DisplayName("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;">@Serial.ToString()</td>
                    <td style="text-align:center;">@item.EffectiveDate</td>
                    <td>@item.ElectricityCharge</td>
                    <td>@item.ContainerSize</td>
                    <td style="text-align:center;"><a href="#" onclick="EditInsurance(@item.ReeferChrgId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblReeferList = $('#tblReeferList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                { "sName": "SL No","width": "10%"},
                { "sName": "Efective Date","bSortable":false },
                { "sName": "Electricity Charge" },
                { "sName": "Container Size" },
                { "sName": "Edit", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(tblReeferList);
    });
    function EditInsurance(ReeferChrgId)
    {
        $('#DivReefer').load('/Master/DSRMaster/EditReefer?ReeferChrgId=' + ReeferChrgId);
    }
</script>
