
@model CwcExim.Areas.Master.Models.DSRPartyInsurance

<script>

    function LoadPartyInsurancePage() {
        debugger;
        $('#DivBody').load('/Master/WFLDMaster/CreatePartyInsurance');
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Party Insurance</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">


                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Party Name:</label>
                        </div>
                        <div class="col-md-5">                           
                            @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input_sm", @readonly = true })
                            <span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div>&nbsp;</div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Period:</label>

                            @*@Html.HiddenFor(m => m.PartyInsuranceId)*@
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.InsuranceFrom, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.InsuranceFrom, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label> - </label>

                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.InsuranceTo, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.InsuranceTo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadPartyInsurancePage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


