@model IEnumerable<CwcExim.Areas.Master.Models.DSRYard>
<script>
    $(document).ready(function(){
        var TblYard=$('#TblYard').DataTable({
            "bFilter":false,
            "bInfo":false,
            "pageLength": 50,
            "aoColumns":[
                {"sName":"Sl No","width":"8%"},
                {"sName":"Yard Name"},
                {"sName":"View","bSortable":false,"width":"10%"},
                {"sName":"Edit","bSortable":false,"width":"10%"},
                {"sName":"Delete","bSortable":false,"width":"10%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblYard);
    });
    function LoadYardPage(){
        $('#DivBody').load('/Master/DSRMaster/CreateYard');
    }
    function ViewYard(YardId) {
        debugger;
        $('#DivBody').load('/Master/DSRMaster/ViewYard?YardId='+YardId);
    }
    function EditYard(YardId){
        $('#DivBody').load('/Master/DSRMaster/EditYard?YardId='+YardId);
    }


    function DeleteYard(YardId){
        debugger;
        var Confirm=confirm("Are You Sure You Want To Delete?");
        if(Confirm==true){
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'/DSRMaster/DeleteYardDetail',
                type:'POST',
                headers:{"__RequestVerificationToken":Token},
                data:{YardId:YardId},
                dataType:'JSON',
                async:false,
                success:function(data){
                    debugger;
                    if(data.Status==1){
                        LoadYardPage();
                    }
                    if (data.Status==0) {
                        $('#DivYardErrMsg').html("Already in used");
                    }
                },
                error:function(data){
                    debugger;
                }
            });
        }
    }
</script>
<table id="TblYard" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("Sl No")</th>
            <th>@Html.DisplayName("Yard Name")</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.YardName)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewYard(@item.YardId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditYard(@item.YardId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeleteYard(@item.YardId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>

