@model IEnumerable<CwcExim.Models.Vehicle>
    <script>
        $(document).ready(function(){
            var TblVehicle= $('#TblVehicle').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 50,
                "aoColumns": [
                        { "sName": "Edit", "bSortable": false, "width": "3%" },
                        { "sName": "View", "bSortable": false, "width": "3%" },                        
                        { "sName": "Delete", "bSortable": false, "width": "3%" },
                        { "sName": "SL No","width": "8%" },
                        { "sName": "Vehicle Number" },
                        { "sName": "Vehicle Weight", "bSortable": false },                        
                ]
            });
            new $.fn.dataTable.FixedHeader(TblVehicle);
        });
        function LoadCountryPage(){
            $('#DivBody').load('/Vehicle/EnterVehicleDtls');
        }
        function ViewCountry(VehicleId)
        {
            $('#DivBody').load('/Vehicle/ViewSingleVehicle?VehicleId='+VehicleId);
        }
        function EditCountry(VehicleId){
            $('#DivBody').load('/Vehicle/EditSingleVehicle?VehicleId='+VehicleId);
        }
        function DeleteCountry(VehicleId){
            var Confirm=confirm("Are you sure you want to delete?")
            if(Confirm==true)
            {
                var Token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url:'/Vehicle/DeleteVehicleDetail',
                    headers: { '__RequestVerificationToken': Token },
                    type:'POST',
                    async:false,
                    dataType:'JSON',
                    data:{VehicleId:VehicleId},
                    success:function(data){
                        debugger;
                        if(data.Status==1)
                        {
                            LoadCountryPage();
                        }
                        else if(data.Status==3 || data.Status==4 || data.Status==5 || data.Status==6 || data.Status==7)
                        {
                            alert(data.Message);
                        }
                        else {
                            alert(data.Message);
                        }
                    }
                });
                //$('#DivBody').load('/Country/DeleteCountryDetail?VehicleId='+VehicleId);
            }
        }
    </script>
<table id="TblVehicle" class="table table-striped table-bordered nowrap" cellspacing="0"width="100%">
    <thead>
        <tr>            
            <th style="text-align:center;">@Html.DisplayName("Edit")</th>
            <th style="text-align:center;">@Html.DisplayName("View")</th>
            <th style="text-align:center;">@Html.DisplayName("Delete")</th>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>Vehicle Number</th>
            <th>Vehicle Weight</th>            
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach (var item in Model)
            {
        <tr>            
            <td style="text-align:center"><a href="#" class="table_icon" onclick="EditCountry(@item.VehicleMasterId)"><i class="fa fa-pencil"></i></a></td>
            <td style="text-align:center"><a href="#" class="table_icon" onclick="ViewCountry(@item.VehicleMasterId)"><i class="fa fa-eye"></i></a></td>
            <td style="text-align:center"><a href="#" class="table_icon" onclick="DeleteCountry(@item.VehicleMasterId)"><i class="fa fa-trash-o"></i></a></td>
            <td style="text-align:center">@SerialNo</td>
            <td>@Html.DisplayFor(m=>item.VehicleNumber)</td>
            <td>@Html.DisplayFor(m=>item.VehicleWeight)</td>            
        </tr>
        SerialNo = SerialNo+ 1;
            }
            }
    </tbody>
</table>