@model IEnumerable<CwcExim.Areas.Master.Models.PpgThcFscV2>

<script>
    $(document).ready(function () {
        var TblHTCharges = $('#TblHTCharges').DataTable({
            "autoWidth": false,
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                { "sName": "SL No", "width": "20px" },
                { "sName": "Effective Date", "width": "50px", "bSortable": false },
                { "sName": "Operation Type", "width": "50px", "bSortable": false },
                { "sName": "Operation Code", "width": "100px", "bSortable": false },
                { "sName": "FCL/LCL", "width": "50px", "bSortable": false },
                { "sName": "Transport From", "width": "50px", "bSortable": false },
                { "sName": "Port Name", "width": "100px", "bSortable": false },
                { "sName": "(Ft/Metric) Range", "width": "100px", "bSortable": false },
                { "sName": "CWC Rate", "width": "50px" },
                { "sName": "Container Details", "width": "50px", "bSortable": false },
                { "sName": "View", "bSortable": false, "width": "40px" },
                { "sName": "Edit", "bSortable": false, "width": "40px" }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).css("width", "20px");
                $('td:eq(1)', nRow).css("width", "50px");
                $('td:eq(2)', nRow).css("width", "50px");
                $('td:eq(3)', nRow).css("width", "100px");
                $('td:eq(4)', nRow).css("width", "50px");
                $('td:eq(5)', nRow).css("width", "50px");
                $('td:eq(6)', nRow).css("width", "100px");
                $('td:eq(7)', nRow).css("width", "100px");
                $('td:eq(8)', nRow).css("width", "50px");
                $('td:eq(9)', nRow).css("width", "50px");
                $('td:eq(10)', nRow).css("width", "40px");
                $('td:eq(11)', nRow).css("width", "40px");
            }
        });
        new $.fn.dataTable.FixedHeader(TblHTCharges);
    });

    function ViewHTCharges(FscThcId) {
        $('#DivTHCFSCCharge').load('/Master/PPGThcFscChargesV2/ViewFscThc?FscThcId=' + FscThcId);
    }
    function EditHTCharges(FscThcId) {
        $('#DivTHCFSCCharge').load('/Master/PPGThcFscChargesV2/EditFscThc?FscThcId=' + FscThcId);
    }
</script>

<table id="TblHTCharges" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center;width:20px;">@Html.DisplayName("SL No")</th>
            <th style="width:50px">@Html.DisplayNameFor(m => m.EffectiveDate)</th>
            <th style="width:50px">Operation Type</th>
            <th style="width:100px">@Html.DisplayNameFor(m => m.OperationCode)</th>
            <th style="width:50px">@Html.DisplayName("FCL/LCL")</th>
            <th style="width:50px">@Html.DisplayName("Transport From")</th>
            <th style="width:100px">@Html.DisplayName("Port Name")</th>
            <th style="width:100px">@Html.DisplayName("(Ft/Metric) Range")</th>
            <th style="width:50px">@Html.DisplayName("CWC Rate")</th>
            <th style="width:50px">@Html.DisplayName("Container Details")</th>
            <th style="text-align:center;width:40px;">@Html.DisplayName("View")</th>
            <th style="text-align:center;width:40px;">@Html.DisplayName("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;width:20px;">@SerialNo</td>
                    <td style="width:50px">@Html.DisplayFor(m => item.EffectiveDate)</td>
                    @if (item.OperationType == 1)
                    {
                        <td style="width:50px">Import</td>
                    }
                    else if (item.OperationType == 2)
                    {
                        <td style="width:50px">Export</td>
                    }
                    else if (item.OperationType == 3)
                    {
                        <td style="width:50px">General</td>
                    }
                    else if (item.OperationType == 4)
                    {
                        <td style="width:50px">Import (RMS)</td>
                    }
                    else
                    {
                        <td style="width:50px"></td>
                    }
                    <td style="width:80px">@Html.DisplayFor(m => item.OperationDesc)</td>
                    <td style="width:50px">@item.ContainerLoadType</td>
                    <th style="width:50px">@item.TransportFrom</th>
                    <th style="width:100px">@item.LocationName</th>
                    <td style="width:100px">@item.FromMetric.ToString("0.##") - @item.ToMetric.ToString("0.##")</td>
                    <td style="width:50px">@item.RateCWC.ToString("0.##")</td>
                    @if (item.CommodityType == 1)
                    {
                        <td style="width:50px">@item.Size.ToString() Haz</td>
                    }
                    else
                    {
                        <td style="width:50px">@item.Size.ToString() Non Haz</td>
                    }
                    <td style="text-align:center;width:40px;"><a href="#" onclick="ViewHTCharges(@item.THCFSCChargesId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center;width:40px;"><a href="#" onclick="EditHTCharges(@item.THCFSCChargesId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>
