@model CwcExim.Areas.CashManagement.Models.CreditNote
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Credit Note</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddCreditNote", "WFLD_CashManagement", new AjaxOptions
                {
                 
                    HttpMethod = "POST",
                    OnSuccess = "CROnSuccess",
                    OnFailure = "CROnFailure"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.CRNoteId)
                    @Html.HiddenFor(m => m.ChargesJson)
                    @Html.HiddenFor(m => m.PartyId)
                    @Html.HiddenFor(m => m.PayeeId)
                    @Html.HiddenFor(m => m.SupplyType)
                    @Html.HiddenFor(m => m.PartyState)
                    @Html.HiddenFor(m => m.PartyStateCode)
                    @Html.HiddenFor(m => m.PartyAddress)
                   // @Html.HiddenFor(m => m.PartyGSTNo)
                    @Html.HiddenFor(m => m.CRNoteId)
                    @Html.HiddenFor(m => m.InvoiceId)
                    @Html.HiddenFor(m => m.Module)
                    @Html.HiddenFor(m => m.InvoiceType)
                    @Html.HiddenFor(m => m.InvoiceDate)
                    @Html.Hidden("GST")
                    <div id="DivJOHdr" class="Form_Space_bottom">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Credit Note No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CRNoteNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-2-5" style="padding-right:0px;">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    @Html.TextBoxFor(m => m.CRNoteDate, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Invoice No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input_sm", @readonly = true })
                                    <span class="search" id="SrchInvoiceNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal"  onclick="SearchInvoice();" data-target="#InvoiceNoModal"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Party:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Payer Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>GST Number:</label>
                                </div>
                                <div class="col-md-4-5">
                                    @Html.TextBoxFor(m => m.PartyGSTNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblChargesDet" class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center" style="width:8%;">Sl No</th>
                                            <th rowspan="2" class="text-center">Particulars</th>
                                            <th rowspan="2" class="text-center">SAC</th>
                                            <th rowspan="2" class="text-center">Value</th>
                                            <th rowspan="2" class="text-center">Return Value</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th rowspan="2" class="text-center" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">%</th>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">%</th>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">%</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="11" class="text-right">Total</td>
                                            <td class="text-right">@Html.TextBoxFor(m => m.TotalAmt, new { @readonly = true ,@id= "Total"})</td>
                                        </tr>
                                        <tr>
                                            <td colspan="11" class="text-right">Roundup</td>
                                            <td class="text-right">@Html.TextBoxFor(m => m.RoundUp, new { @readonly = true,@id= "Roundup" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="11" class="text-right">Grand Total</td>
                                            <td class="text-right">@Html.TextBoxFor(m => m.GrandTotal, new { @readonly = true })</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5" style="padding-right:0px;">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextAreaFor(m => m.Remarks, new { maxlength = 500, @class = "form-control input_sm", @style = "width:100%;height:100px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_top2 SignUp_space_bottom2">
                            <div class="col-md-offset-3 col-md-2">
                                <input type="submit"  id="btnSave" class="btn log_Btn_sm" value="Save" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="LoadPage();" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="btnIRN" class="btn log_Btn_sm" value="Generate IRN" onclick="GenerateIRN();" disabled />
                            </div>
                            @*<div class="col-md-2">
                                <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" />
                            </div>*@
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <input type="button" id="ShowList" class="btn log_Btn_sm" value="ShowList" onclick="LoadList()" />
                            </div>
                            <div class="col-md-offset-5 col-md-3">
                                <input type="text" placeholder="Search by Credit Note No." id="SearchCreditNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Search" onclick="SearchCreditNoteNo()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-12">
                            <div id="DivListofCR"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   @* <div class="modal fade" id="InvoiceNoModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title"> Choose Invoice No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Invoicebox" type="text" />
                    <ul class="navList" id="lstInvoice"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="modal fade mTabindex" id="InvoiceNoModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseInvoice()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Choose Invoice No</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Invoice No search" id="Invoicebox" type="text" tabindex="401" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchInvoice()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="10" width="100%">InvoiceNo</th>

                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                            <tbody>
                                @{
                                    if (ViewBag.lstInvcNo != null)
                                    {
                                        var tabvalue = 401;
                                        var tab = 0;
                                        var u = "_";
                                        foreach (var item in ViewBag.lstInvcNo)
                                        {
                                            <tr tabindex="@tabvalue@u@tab" onkeypress="FillDetails('@item.InvoiceId','@item.InvoiceNo')" onclick="FillDetails('@item.InvoiceId', '@item.InvoiceNo')">
                                                <td colspan="10" width="100%" class="txt_wrp">@item.InvoiceNo</td>

                                            </tr>
                                            tab++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.StateCr != null && Convert.ToBoolean(ViewBag.StateCr) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreInvoice()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreInvoice()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseInvoice()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript">
        var old_html = "";
        $(function () {
            $('#slim_scroll').slimScroll({
                allowPageScroll: true
            });
           
        });

    </script>
    <script>
        $("#CRNoteDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
       
        $(function () {
            $('#Total,#CRNoteId,#Roundup,#GrandTotal').val('0');
            $('#CRNoteDate').val('@ViewBag.CurrentDate');
            //$('#DivListofCR').load('/CashManagement/WFLD_CashManagement/ListOfCRNote');
        });
        function LoadList()
        {
            $('#SearchCreditNo').val('');
            $('#DivListofCR').load('/CashManagement/WFLD_CashManagement/ListOfCRNote');
        }
        $('#Invoicebox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstInvoice > li').show();
            else {
                $('#lstInvoice > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });
        $('#lstInvoice > li').on("click", function () {
            $('#InvoiceNo').val($(this).text());
            $('#InvoiceId').val($(this).attr('id'));
            $("#InvoiceNoModal").modal("hide");
         //   FillDetails();
        });
        function FillDetails(InvoiceId, InvoiceNo) {

            $('#InvoiceNo').val(InvoiceNo);
            $('#InvoiceId').val(InvoiceId);

            $("#InvoiceNoModal").modal("hide");
            $.ajax({
                url: '/CashManagement/WFLD_CashManagement/GetInvoiceDetailsForCreaditNote',
                type: 'GET',
                data: { InvoiceId: InvoiceId },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        $('#Total,#Roundup,#GrandTotal').val('0');
                        $('#PartyId').val(data.Data.PartyId);
                        $('#PartyState').val(data.Data.PartyState);
                        $('#PartyStateCode').val(data.Data.PartyStateCode);
                        $('#PartyAddress').val(data.Data.PartyAddress);
                        $('#PartyGSTNo').val(data.Data.PartyGSTNo);
                        $('#Module').val(data.Data.Module);
                        $('#InvoiceType').val(data.Data.InvoiceType);
                        $('#InvoiceDate').val(data.Data.InvoiceDate);
                        $('#PartyName').val(data.Data.PartyName);
                        $('#PayeeId').val(data.Data.PayeeId);
                        $('#PayeeName').val(data.Data.PayeeName);
                        $('#SupplyType').val(data.Data.SupplyType);
                        var html = '';
                        $.each(data.Data.lstInvoiceCarges, function (i, item) {
                            if ($('#GST').val() == '') {
                                if (Number(item.Taxable) > 0) {
                                    if (Number(item.IGSTAmt) > 0)
                                    {
                                        $('#GST').val('IGST');
                                    }
                                    else if (Number(item.CGSTAmt)> 0)
                                    {
                                        $('#GST').val('CGST/SGST');
                                    }
                                    else
                                    {
                                        $('#GST').val('');
                                    }
                                }
                            }
                            item.IGSTAmt = 0;
                            item.CGSTAmt = 0;
                            item.SGSTAmt = 0;
                            html += '<tr><td>' + (i + 1) + '</td>';
                            html += '<td>' + item.ChargeName + '</td>';
                            html += '<td>' + item.SACCode + '</td>';
                            html += '<td><input type="text" readonly id="txtTaxable' + item.ChargesTypeId + '" value="' + item.Taxable + '" /></td>';
                            html += '<td><input type="number" step="any" style="width: 100%;padding: 3px;" id="txtRetValue' + item.ChargesTypeId + '" value="0" onblur="Calculate(' + item.ChargesTypeId + ')" /></td>';
                            html += '<td><input type="text" readonly id="txtCGSTPer' + item.ChargesTypeId + '" value="' + item.CGSTPer + '" /></td>';
                            html += '<td><input type="text" readonly id="txtCGSTAmt' + item.ChargesTypeId + '" value="0" /></td>';
                            html += '<td><input type="text" readonly  id="txtSGSTPer' + item.ChargesTypeId + '" value="' + item.SGSTPer + '" /></td>';
                            html += '<td><input type="text" readonly id="txtSGSTAmt' + item.ChargesTypeId + '" value="0" /></td>';
                            html += '<td><input type="text" readonly id="txtIGSTPer' + item.ChargesTypeId + '" value="' + item.IGSTPer + '" /></td>';
                            html += '<td><input type="text" readonly id="txtIGSTAmt' + item.ChargesTypeId + '" value="0" /></td>';
                            html += '<td><input type="text" readonly id="txtTotal' + item.ChargesTypeId + '" value="0" /></td></tr>';
                        });
                        $('#tblChargesDet tbody').html(html);
                        $('#ChargesJson').val(JSON.stringify(data.Data.lstInvoiceCarges));
                    }
                    else {

                    }
                }
            });

        }
        function Calculate(ChargesTypeId) {
            debugger;
            var ChargesJson = JSON.parse($('#ChargesJson').val());
            var item = $.grep(ChargesJson, function (elem) { return elem.ChargesTypeId == ChargesTypeId; })[0];
            var GST = $('#GST').val();
            var RetValue = Number($('#txtRetValue' + ChargesTypeId).val()).toFixed(2);
            var Value = Number($('#txtTaxable' + ChargesTypeId).val()).toFixed(2);
            if (Number(Value) >= Number(RetValue)) {
                var Total;
                if (GST == 'IGST') {
                    var IP = $('#txtIGSTPer' + ChargesTypeId).val();
                    var Amt =(Number((Number(RetValue) / 100) * Number(IP))).toFixed(2);
                    $('#txtIGSTAmt' + ChargesTypeId).val(Amt);
                    Total = Number(Number(Amt) + Number(RetValue)).toFixed(2);

                    item.IGSTAmt = Amt;
                }
                else if (GST == 'CGST/SGST') {
                    //var CP = $('#txtCGSTPer' + ChargesTypeId).val();
                    //var AmtC =Number((RetValue / 100) * CP).toFixed(2);
                    //$('#txtCGSTAmt' + ChargesTypeId).val(AmtC);

                    //var SP = $('#txtSGSTPer' + ChargesTypeId).val();
                    //var AmtS =Number((RetValue / 100) * SP).toFixed(2);
                    //$('#txtSGSTAmt' + ChargesTypeId).val(AmtS);

                    //Total = Number(Number(AmtC) + Number(AmtS) + Number(RetValue)).toFixed(2);

                    //item.CGSTAmt = AmtC;
                    //item.SGSTAmt = AmtS;

                    debugger;
                    var CGP = $('#txtCGSTPer' + ChargesTypeId).val();  
                    var TotalCGP = CGP * 2;
                    var TotalAmount = (Number((RetValue / 100) * TotalCGP).toFixed(2));
                    var AmountPer = (TotalAmount / 2).toFixed(5);
                    var Amt = Number(AmountPer).toFixed(2);
                    $('#txtCGSTAmt' + ChargesTypeId).val(Amt);
                    $('#txtSGSTAmt' + ChargesTypeId).val(Amt);
                    Total = Number(Number(Amt) + Number(Amt) + Number(RetValue)).toFixed(2);
                    item.CGSTAmt = AmountPer;
                    item.SGSTAmt = AmountPer;

                }
                else
                {
                    var TotalAmount = (Number((RetValue / 100)).toFixed(2));
                    var Amt = 0;
                    $('#txtCGSTAmt' + ChargesTypeId).val(0);
                    $('#txtSGSTAmt' + ChargesTypeId).val(0);
                    Total = Number(Number(Amt) + Number(Amt) + Number(RetValue)).toFixed(2);
                    item.CGSTAmt = 0;
                    item.SGSTAmt = 0;
                }
                $('#txtTotal' + ChargesTypeId).val(Total);
                var TTotal = 0;
                $('#tblChargesDet tbody tr').each(function (i, item) {
                    TTotal = Number(TTotal) + Number($(item).find('td').eq(11).children('input[type="text"]').val());
                });
                $('#Total').val(Number(TTotal).toFixed(2));
                var GrandTotal = (TTotal);
                $('#GrandTotal').val(GrandTotal.toFixed(2))
                var Roundup = Number(GrandTotal) - Number(TTotal);
                $('#Roundup').val(Number(Roundup).toFixed(2));

                item.RetValue = RetValue;
                item.Total = Total;
                $('#ChargesJson').val(JSON.stringify(ChargesJson));
            }
            else {
                //$('#txtIGSTPer' + ChargesTypeId).val('0');
                $('#txtIGSTAmt' + ChargesTypeId).val('0');
                $('#txtCGSTAmt' + ChargesTypeId).val('0');
                $('#txtSGSTAmt' + ChargesTypeId).val('0');
                $('#txtTotal' + ChargesTypeId).val('0');

                item.IGSTAmt = 0;
                item.CGSTAmt = 0;
                item.SGSTAmt = 0;
                item.Total = 0;
                item.RetValue = 0;

                var TTotal = 0;
                $('#tblChargesDet tbody tr').each(function (i, item) {
                    TTotal = Number(TTotal) + Number($(item).find('td').eq(11).children('input[type="text"]').val());
                });
                $('#Total').val(Number(TTotal).toFixed(2));
                var GrandTotal = (TTotal);
                $('#GrandTotal').val(GrandTotal.toFixed(2))
                var Roundup = Number(GrandTotal) - Number(TTotal);
                $('#Roundup').val(Number(Roundup).toFixed(2));
                $('#ChargesJson').val(JSON.stringify(ChargesJson));
                alert('Return Value Cannot be greater then Value');
            }
        }
        function LoadPage()
        {
            $('#DivBody').load('/CashManagement/WFLD_CashManagement/CreateCreditNote');
        }
        function CROnFailure() { }
        function CROnSuccess(data) {
            debugger;
            if (data.Status == 1) {
                $('#DivSucMsg').html(data.Message);
                $('#CRNoteNo').val(data.Data);
                $('#btnSave').attr('disabled', true);
                $('#btnIRN').removeAttr("disabled");
             //   setTimeout(function () { LoadPage(); },3000);
            }
            else {
                $('#DivErrMsg').html(data.Message);
            }
           // setTimeout(function () { $('#DivSucMsg,#DivErrMsg').html(''); }, 5000);
        }
        function SearchCreditNoteNo() {
            var InvoiceNo = $('#SearchCreditNo').val().trim();
            if (InvoiceNo == "")
                alert("Enter Credit Note No. to Search");
            else
                $('#DivListofCR').load('/CashManagement/WFLD_CashManagement/SearchCreditNote?Search=' + InvoiceNo);


        }
          $('#btnSave').on("click", function () {

            if ($('#InvoiceNo').val() == '')
            {
                alert("Please select Invoice No.");
                return false;
            }

            if ($('#GrandTotal').val() == '0' || $('#GrandTotal').val() == '')
            {
                alert("Credit Note should not be saved zero or blank amount");
                return false;
            }
            debugger;

            if (confirm("Are You Sure You Want To Save?")) {
                $('#btnSave').attr('disabled', true);
                $('#btnSave').submit();
            }

        });

       /*   function InvoiceNoSerach() {


              debugger;
              $.ajax({
                  url: '/CashManagement/WFLD_CashManagement/GetInvoiceNoForDebitCreditNote',
                  type: 'GET',
                  dataType: 'JSON',
                  data: { CRDR: "C" },
                  success: function (data) {
                      debugger;
                      if (data != '') {
                          //  $('#hdnShippingBillList').val(data.Data);
                          //var EcJson = JSON.parse(data.Data);
                          var html = '';
                          var TabValue = 51;
                          $.each(data.Data, function (i, item) {
                              html += '<li tabindex=' + TabValue + ' id="' + item.InvoiceId + '" onkeypress="FillDetails(' + item.InvoiceId + ',&quot;' + item.InvoiceNo + '&quot;);" onclick="FillDetails(' + item.InvoiceId + ',&quot;' + item.InvoiceNo + '&quot;);">' + item.InvoiceNo + '</li>';
                              TabValue++;
                          });
                          $('#lstInvoice').html(html);
                      }
                  }
              });
          }*/




          function GenerateIRN() {

              $('.modalloader').show();
              debugger;
              $.ajax({
                  url: '/CashManagement/WFLD_CashManagement/GetGenerateIRNCreditNote',
                  type: 'POST',
                  dataType: 'JSON',
                  data: { CrNoteNo: $('#CRNoteNo').val(), SupplyType: $('#SupplyType').val(),Type: "CRN", CRDR: "C" },
                  success: function (data) {
                      debugger;
                      if (data != '') {
                          debugger;
                          $('.modalloader').hide();
                          if (data.Status == 1) {

                              alert("IRN has been generated successfully")
                             
                              $('#btnIRN').attr('disabled', true);
                          }
                          else {
                              alert(data.Message);
                              $('#btnIRN').attr('disabled', true);
                          }
                         
                      }
                      else
                      {
                          alert(data.Message);
                          $('#btnIRN').attr('disabled', true);
                      }
                  }
              });
          }


        


          var Page = 0;

          function LoadInvoice() {
              debugger;
              Page = 0;
              $.ajax({
                  url: '/CashManagement/WFLD_CashManagement/LoadcreditInvoiceLists',
                  type: 'GET',
                  data: { invoiceno: "", Page: Page },
                  success: function (data) {
                      if (data.Status == 1) {
                          debugger;
                          var html = '';
                          var tab = 401;
                          $.each(data.Data.lstInvcNo, function (item, elem) {
                              debugger;
                              html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)" onclick="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)"><td colspan="10" width="100%" class="txt_wrp">' + elem.InvoiceNo + '</td></tr>';
                              //  html += '<li tabindex=' + TabValue + ' id="' + elem.InvoiceId + '" onkeypress="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;);" onclick="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;);">' + elem.InvoiceNo + '</li>';
                              //  html += '<li tabindex=' + TabValue + ' id="' + item.InvoiceId + '" onkeypress="FillDetails(' + item.InvoiceId + ',&quot;' + item.InvoiceNo + '&quot;);" onclick="FillDetails(' + item.InvoiceId + ',&quot;' + item.InvoiceNo + '&quot;);">' + item.InvoiceNo + '</li>';
                          });

                          $('#tbleParty tbody').html(html);

                          if (data.Data.StateCr == true)
                              $('#btnLoadMore').prop('disabled', false);
                          else $('#btnLoadMore').prop('disabled', true);
                      }
                  }
              });
          }
          // var Page = 0;
          function LoadMoreInvoice() {
              debugger;
              $.ajax({
                  url: '/CashManagement/WFLD_CashManagement/LoadcreditInvoiceLists',
                  type: 'GET',
                  data: { invoiceno: "", Page: Page + 1 },
                  success: function (data) {
                      if (data.Status == 1) {
                          debugger;
                          var html = '';
                          var tab = 401;
                          $.each(data.Data.lstInvcNo, function (item, elem) {
                              debugger;
                              html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)" onclick="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)"><td colspan="10" width="100%" class="txt_wrp">' + elem.InvoiceNo + '</td></tr>';
                              // html += '<li tabindex=' + TabValue + ' id="' + elem.InvoiceId + '" onkeypress="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;);" onclick="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;);">' + elem.InvoiceNo + '</li>';
                              // html += '<li tabindex=' + TabValue + ' id="' + item.InvoiceId + '" onkeypress="FillDetails(' + item.InvoiceId + ',&quot;' + item.InvoiceNo + '&quot;);" onclick="FillDetails(' + item.InvoiceId + ',&quot;' + item.InvoiceNo + '&quot;);">' + item.InvoiceNo + '</li>';
                              // html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)" onclick="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.ContainerNo + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.CFSCode + '</td></tr>';
                          });
                          if (Page == -1)
                              $('#tbleParty tbody').html(html);
                          else
                              $('#tbleParty tbody').append(html);
                          Page++;

                          debugger;
                          if (data.Data.StateCr == true)
                              $('#btnLoadMore').prop('disabled', false);
                          else $('#btnLoadMore').prop('disabled', true);
                      }
                  }
              });
          }
          /*$('#Partybox').on('keyup', function (e) {
          function Partyboxkeyup(e)
          {
              if ((e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 13 || e.keyCode == 46 || e.keyCode == 47)
              {
                  SearchPartyByPartyCode();
              }
          }
          });*/
          function SearchInvoice() {
              debugger;
              if ($('#Containerbox').val() != '') {
                  $.ajax({
                      url: '/CashManagement/WFLD_CashManagement/SearchInvoice',
                      type: 'GET',
                      data: { invoiceno: $('#Invoicebox').val() },
                      success: function (data) {
                          if (data.Status == 1) {
                              var html = '';
                              var tab = 401;
                              $.each(data.Data.lstInvcNo, function (item, elem) {
                                  //  html += '<tr tabindex=' + TabValue +'_'+ ' id="' + elem.InvoiceId + '" onkeypress="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;);" onclick="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;);">' + elem.InvoiceNo + '</li>';
                                  html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)" onclick="FillDetails(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)"><td colspan="10" width="100%" class="txt_wrp">' + elem.InvoiceNo + '</td></tr>';
                              });
                              $('#tbleParty tbody').html('');
                              $('#tbleParty tbody').html(html);
                              $('#btnLoadMore').prop('disabled', true);
                              Page = -1;
                          }
                          else {
                              $('#tbleParty tbody').html('');
                              Page = -1;
                              $('#btnLoadMore').prop('disabled', false);
                          }

                      }
                  });
              }
              else
                  LoadInvoice();
          }

          function CloseInvoice() {
              $('#Invoicebox').val('');
              $("#InvoiceNoModal").modal("hide");
              LoadInvoice();
              // $('#PartyName').focus();
          }
          function debounce(func, wait, immediate) {
              var timeout;
              return function () {
                  var context = this, args = arguments;
                  var later = function () {
                      timeout = null;
                      if (!immediate) func.apply(context, args);
                  };
                  var callNow = immediate && !timeout;
                  clearTimeout(timeout);
                  timeout = setTimeout(later, wait);
                  if (callNow) func.apply(context, args);
              };
          };

          document.getElementById('Invoicebox').addEventListener('keyup', debounce(function () {
              SearchInvoice()
          }, 800));
    </script>
