@if (ViewBag.InvoiceList != null)
{
    <input type="hidden" id="hdnInvoice" value="@ViewBag.InvoiceList" />
}
else
{
    <input type="hidden" id="hdnInvoice" value="" />
}
@if (ViewBag.SACList != null)
{
    <input type="hidden" id="hdnSACList" value="@ViewBag.SACList" />
}
else
{
    <input type="hidden" id="hdnSACList" value="" />
}
@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}

@using (Ajax.BeginForm("AddEditBondAdvPaymentSheet", "WFLD_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("PaymentSheetModelJson")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Bond Advamced Payment Sheet</h4>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                                    <div class="boolean-container">
                                        @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                        <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                    </div>
                                </div>
                                <div class="col-md-2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                        <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Invoice No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                    <label>Delivery Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                                </div>
                            </div>
                        </div>*@

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.Hidden("InvoiceId")
                                @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                                <span class="search" id="invoicesearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Invoice Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                            </div>
                        </div>
                    </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>SAC No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.HiddenFor(m => m.StuffingReqId)*@
                                    @Html.Hidden("StuffingReqId")
                                    @*@Html.TextBoxFor(m => m.StuffingReqNo, new { @readonly = true })*@
                                    @Html.TextBox("StuffingReqNo", "", new { @readonly = true })
                                    @*<span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>*@
                                    @*@Html.ValidationMessageFor(m => m.StuffingReqNo)*@
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @*@Html.TextBoxFor(m => m.StuffingReqDate, new { @readonly = true })*@
                                    @Html.TextBox("StuffingReqDate", "", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Party Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @*@Html.HiddenFor(m => m.PartyId)*@
                                    @Html.Hidden("PartyId")
                                    @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                    @Html.TextBox("PartyName", "", new { @readonly = true })
                                    <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                    @*@Html.ValidationMessageFor(m => m.PartyName)*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Payer Name:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @*@Html.HiddenFor(m => m.PayeeId)*@
                                    @Html.Hidden("PayeeId")
                                    @*@Html.TextBoxFor(m => m.PayeeName, new { @readonly = true })*@
                                    @Html.TextBox("PayeeName", "", new { @readonly = true })
                                    <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>
                                    @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label> GST No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("GSTNo", "", new { @readonly = true })
                                </div>
                                <div class="col-md-1-5">
                                    <label>Upto Date:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("UptoDate", "", new { @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_1">
                                    <label>Area:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("AreaReserved", "", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="stoke"></div>
                        </div>
                        @*<div class="row SignUp_space_bottom2">
                            <div class="form-group Form_Input">
                                <div class="col-md-offset-4-5 col-md-3">
                                    <input type="button" class="btn log_Btn_sm" onclick="ContainerSelect()" value="Show Charges" />
                                </div>
                            </div>
                        </div>*@
                        <div class="row Form_Space_bottom2" style="visibility:hidden">
                            <div class="col-md-12">
                                <table id="tblContainer" style="position:fixed;top:-900px;" class="table table-bordered dataTable nowrap table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:8%;" class="text-center">Sl No</th>
                                            <th>CFS No</th>
                                            <th>Container No</th>
                                            <th>Size</th>
                                            <th>Reefer</th>
                                            <th>Insured</th>
                                            <th>DO Date</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>CWC Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">Total:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCChrg" value="0" readonly></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">CWC TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row Form_Space_top" style="visibility:hidden;position:fixed;top:-900px;">
                                <div class="col-md-12">
                                    <h5>H & T Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top" style="visibility:hidden;position:fixed;top:-900px;">
                                <div class="col-md-12">
                                    <table id="tblHTCharges" class="table table-bordered table-striped dataTable Table_center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">Total:</td>
                                                <td class="Table_right"><input type="text" id="TOTHTChrg" value="0" readonly></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="HTTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">H&amp;T TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTHTTDS" value="0" readonly></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>TDS Deduction:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.RoundUp, new { @onblur = "CalcInvoice()" })*@
                                        @Html.TextBox("TotalTDS", "0", new { @onblur = "CalcInvoice()", @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>TDS Collection:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.RoundUp, new { @onblur = "CalcInvoice()" })*@
                                        @Html.TextBox("TotalTDSCol", "0", new { @onblur = "CalcInvoice1()", @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Total Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.AllTotal, new { @readonly = true })*@
                                        @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Round Up:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.RoundUp, new { @onblur = "CalcInvoice()" })*@
                                        @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;", @readonly = true })
                                        @*@Html.TextBox("RoundUp", "0", new { @onblur = "CalcInvoice()", @style = "text-align:right;" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Invoice Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.InvoiceValue, new { @readonly = true })*@
                                        @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @*@Html.TextAreaFor(m=>m.Remarks,new { @style = "height:75px;" })*@
                                    @Html.TextArea("Remarks", new { @style = "height:75px;",@maxlength="500" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-3 col-md-2">
                                <input type="button" value="Save" onclick="BindJson()" class="btn log_Btn_sm" id="btnSave" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Print" class="btn log_Btn_sm" onclick="Print()" id="btnPrint" disabled />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")

<div id="InvoiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Invoice No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="invoicebox" type="text" />
                <ul class="navList" id="lstInvoice">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="stuffingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Stuffing Request</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payer</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        InvoiceBinding();
        StuffingReqBinding();
        PartyBinding();
        PayeeBinding();
    });

    function InvoiceBinding() {
        if ($('#hdnInvoice').val() != '') {
            var InvoiceJson = JSON.parse($('#hdnInvoice').val());
            var html = '';
            $.each(InvoiceJson, function (i, item) {
                html += '<li id="' + item.InvoiceId + '" onclick="selectInvoice(' + item.InvoiceId + ');">' + item.InvoiceNo + '</li>';
            });
            $('#lstInvoice').html(html);
        }
    }

    $('#invoicebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoice > li').show();
        else {
            $('#lstInvoice > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectInvoice(id) {
        debugger;
        var InvoiceJson = JSON.parse($('#hdnInvoice').val());
        var Invoice = $.grep(InvoiceJson, function (item) { return item.InvoiceId == id; })[0];
        $('#InvoiceId').val(Invoice.InvoiceId);
        $('#InvoiceNo').val(Invoice.InvoiceNo);
        $('#InvoiceDate').val(Invoice.InvoiceDate);
        $.ajax({
            url: '/CashManagement/WFLD_CashManagement/GetBondAdvancedInvoiceDetails',
            type: 'GET',
            data: { InvoiceId: id },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status != 1) {
                    alert("No data found");
                }
                else {
                    $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
                    $('#ContainerJson').val(JSON.stringify(data.Containers));
                    BindDataOnStartUp();
                }
            },
            fail: function () {
                alert("Error");
            }
        });

        //$('#PartyId').val(StuffingRequest.CHAId);
        //$('#PartyName').val(StuffingRequest.CHAName);
        //$('#PayeeId').val(StuffingRequest.CHAId);
        //$('#PayeeName').val(StuffingRequest.CHAName);
        //$('#GSTNo').val(StuffingRequest.CHAGSTNo);
        //$('#hdnAddress').val(StuffingRequest.Address);
        //$('#hdnState').val(StuffingRequest.State);
        //$('#hdnStateCode').val(StuffingRequest.StateCode);
        //$('#hdnDeliveryType').val(StuffingRequest.DeliveryType);
        //
        //$('#tblContainer tbody').html('');
        //ContainerBinding(id);
        $("#InvoiceModal").modal("hide");
    }

    function BindDataOnStartUp() {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        TaxType = rawJson.InvoiceType;
        $('#PartyId').val(rawJson.PartyId);
        $('#PartyName').val(rawJson.PartyName);
        $('#PayeeId').val(rawJson.PayeeId);
        $('#PayeeName').val(rawJson.PayeeName);
        $('#GSTNo').val(rawJson.PartyGST);
        $('#hdnAddress').val(rawJson.PartyAddress);
        $('#hdnState').val(rawJson.PartyState);
        $('#hdnStateCode').val(rawJson.PartyStateCode);
        $('#hdnDeliveryType').val(rawJson.DeliveryType);
        $('#InvoiceDate').val(rawJson.DeliveryDate);
        $('#StuffingReqDate').val(rawJson.RequestDate);
        $('#StuffingReqId').val(rawJson.RequestId);
        $('#StuffingReqNo').val(rawJson.RequestNo);
        $('#Remarks').val(rawJson.Remarks);

        $('#UptoDate').val(rawJson.UptoDate);
        $('#AreaReserved').val(rawJson.Area);


        //cwc binding
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
        html = '';
        var TotalCWC = 0;
        $.each(CWCCharge, function (i, item) {
            TotalCWC += item.Total;
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)"/></td>'
                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
        });
        $('#tblCWCCharges tbody').html(html);
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));

        $('#btnSave').removeAttr('disabled');
        rawJson.TotalAmt = rawJson.CWCAmtTotal;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));

        CalcTax(1);
    }

    function StuffingReqBinding() {
        debugger;
        if ($('#hdnSACList').val() != '') {
            var StuffingJson = JSON.parse($('#hdnSACList').val());
            var html = '';
            $.each(StuffingJson, function (i, item) {
                html += '<li id="' + item.DepositAppId + '" onclick="selectStuffing(' + item.DepositAppId + ');">' + item.DepositNo + '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectStuffing(id) {
        debugger;
        var StuffingJson = JSON.parse($('#hdnSACList').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.DepositAppId == id; })[0];
        $('#StuffingReqId').val(StuffingRequest.DepositAppId);
        $('#StuffingReqNo').val(StuffingRequest.DepositNo);
        $('#StuffingReqDate').val(StuffingRequest.SacDate);
        $('#PartyId').val(StuffingRequest.ImporterId);
        $('#PartyName').val(StuffingRequest.ImporterName);
        $('#PayeeId').val(StuffingRequest.ImporterId);
        $('#PayeeName').val(StuffingRequest.ImporterName);
        $('#hdnAddress').val(StuffingRequest.Address);
        $('#hdnState').val(StuffingRequest.State);
        $('#hdnStateCode').val(StuffingRequest.StateCode);
        $('#GSTNo').val(StuffingRequest.GSTNo);
        $('#UptoDate').val(StuffingRequest.ValidUpto);
        $('#AreaReserved').val(StuffingRequest.AreaReserved);
        //ContainerSelect();
        $("#stuffingModal").modal("hide");
    }

    function PartyBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstParty').html(html);
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        $('#PartyName').val(Party.PartyName);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();
            rawJson.PartyAddress = $('#hdnAddress').val();
            rawJson.PartyState = $('#hdnState').val();
            rawJson.PartyStateCode = $('#hdnStateCode').val();
            rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
            rawJson.lstPostPaymentChrg= 
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
        ReCalculateInvoice();
        
    }

    function ReCalculateInvoice() {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        $.each(rawJson.lstPostPaymentChrg, function (i, item) {
            if (rawJson.InvoiceType == "Tax") {
                if (rawJson.PartyStateCode == rawJson.CompStateCode) {
                    CP = Number(item.CGSTPer);
                    SP = Number(item.SGSTPer);
                }
                else {
                    IP = Number(item.IGSTPer);
                }
            }
            item.IGSTAmt = Number((item.Amount * (IP / 100)).toFixed(2));
            item.CGSTAmt = Number((item.Amount * (CP / 100)).toFixed(2));
            item.SGSTAmt = Number((item.Amount * (SP / 100)).toFixed(2));
            item.Total = Number((item.Amount + item.IGSTAmt + item.CGSTAmt + item.SGSTAmt).toFixed(2));
        });
        $.each(rawJson.lstPostPaymentChrg, function (i, item) {
            $('#' + item.ChargeId).val(item.Amount);
            $('#IGSTP' + item.ChargeId).val(item.IGSTPer);
            $('#IGSTA' + item.ChargeId).val(item.IGSTAmt);
            $('#CGSTP' + item.ChargeId).val(item.CGSTPer);
            $('#CGSTA' + item.ChargeId).val(item.CGSTAmt);
            $('#SGSTP' + item.ChargeId).val(item.SGSTPer);
            $('#SGSTA' + item.ChargeId).val(item.SGSTAmt);
            $('#TOT' + item.ChargeId).val(item.Total);
        });
    }

    function PayeeBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstPayee').html(html);
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Party.PartyName);
        $("#PayeeModal").modal("hide");
    }
</script>
<script>

    function CalcTax(elem) {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var MAmt = Number($('#' + elem).val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        if (rawJson.InvoiceType == "Tax") {
            if (rawJson.PartyStateCode == rawJson.CompStateCode) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }
        }
        $('#IGSTA' + elem).val((MAmt * (IP / 100)).toFixed(2));
        $('#CGSTA' + elem).val((MAmt * (CP / 100)).toFixed(2));
        $('#SGSTA' + elem).val((MAmt * (SP / 100)).toFixed(2));
        $('#TOT' + elem).val((MAmt + Number((MAmt * (IP / 100)).toFixed(2)) + Number((MAmt * (CP / 100)).toFixed(2)) + Number((MAmt * (SP / 100)).toFixed(2))).toFixed(2));
        var selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId == elem; })[0];
        selectedItem.Amount = Number(MAmt.toFixed(2));
        //selectedItem.IGSTPer = IP;
        selectedItem.IGSTAmt = Number((MAmt * (IP / 100)).toFixed(2));
        //selectedItem.CGSTPer = CP;
        selectedItem.CGSTAmt = Number((MAmt * (CP / 100)).toFixed(2));
        //selectedItem.SGSTPer = SP;
        selectedItem.SGSTAmt = Number((MAmt * (SP / 100)).toFixed(2));
        selectedItem.Total = Number($('#TOT' + elem).val());

        var TotalCWC = 0;
        var CWCAmt = 0;
        var TotalCGST = 0;
        var TotalSGST = 0;
        var TotalIGST = 0;
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        $.each(CWCCharge, function (i, item) {
            TotalCWC += item.Total;
            CWCAmt += item.Amount;
            TotalCGST += item.CGSTAmt;
            TotalSGST += item.SGSTAmt;
            TotalIGST += item.IGSTAmt;
        });
        rawJson.CWCAmtTotal = CWCAmt;   // added
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
        rawJson.CWCTotal = TotalCWC; // added
        $('#TOTCWCTDS').val(((CWCAmt * rawJson.CWCTDSPer) / 100).toFixed(2));
        //  $('#TOTCWCTDS').val(((CWCAmt * 10) / 100).toFixed(2)); removed

        var TotalHT = 0;
        var HTAmt = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

        $.each(HTCharge, function (i, item) {
            TotalHT += item.Total;
            HTAmt += item.Amount;
            TotalCGST += item.CGSTAmt;
            TotalSGST += item.SGSTAmt;
            TotalIGST += item.IGSTAmt;
        });

        rawJson.HTAmtTotal = HTAmt;
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        $('#TOTHTTDS').val(((HTAmt * rawJson.HTTDSPer) / 100).toFixed(2));

        //  $('#TOTHTChrg').val((TotalHT).toFixed(2));     removed
        //  $('#TOTHTTDS').val(((HTAmt * 2) / 100).toFixed(2));    removed

        rawJson.TotalCGST = TotalCGST;
        rawJson.TotalSGST = TotalSGST;
        rawJson.TotalIGST = TotalIGST;
        rawJson.TotalAmt = CWCAmt + HTAmt;
        //  $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));    removed
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcInvoice();
    }

    function CalcInvoice() {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var CWCTotal = rawJson.CWCAmtTotal;//Number($('#TOTCWCChrg').val());
        var CWCTDSPer = Number($('#CWCTDSPer').val());
        var CurCWCTds = (CWCTotal * CWCTDSPer) / 100;
        $('#TOTCWCTDS').val(CurCWCTds.toFixed(2));
        var HTTotal = rawJson.HTAmtTotal; //Number($('#TOTHTChrg').val());
        var HTTDSPer = Number($('#HTTDSPer').val());
        var CurHTTds = (HTTotal * HTTDSPer) / 100;
        $('#TOTHTTDS').val(CurHTTds.toFixed(2));

        debugger;
        $('#TotalTDS').val((CurCWCTds + CurHTTds).toFixed(2));
        $('#TotalTDSCol').val((CurCWCTds + CurHTTds).toFixed(2));

        rawJson.CWCTDSPer = CWCTDSPer;
        rawJson.CWCTDS = CurCWCTds;
        rawJson.HTTDSPer = HTTDSPer;
        rawJson.HTTDS = CurHTTds;
        rawJson.TDS = (CurCWCTds + CurHTTds);
        rawJson.TDSCol = Number($('#TotalTDSCol').val());
        rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal + Number($('#TotalTDSCol').val())) - (CurCWCTds + CurHTTds);
        var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
        rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);
        rawJson.RoundUp = round;

        $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
        $('#RoundUp').val(round.toFixed(2));
        $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));

    }


    function CalcInvoice1() {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var TDSCol_New = Number($('#TotalTDSCol').val());
        if (TDSCol_New > rawJson.TDS.toFixed(2)) {
            alert("Invalid TDS collection");
            rawJson.TDSCol = 0;
            setTimeout(function () {
                $('#TotalTDSCol').val(0);
                $('#TotalTDSCol').focus().select();
            }, 100);
        }
        else {
            rawJson.TDSCol = Number($('#TotalTDSCol').val());
            rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal + Number($('#TotalTDSCol').val())) - (rawJson.CWCTDS + rawJson.HTTDS);
            var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
            rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);
            rawJson.RoundUp = round;
            $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
            $('#RoundUp').val(round.toFixed(2));
            $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
    }

    function BindJson() {
        
        var conf = confirm("Do you want to save ?");
        if (conf) {
            try {
                var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                rawJson.InvoiceId = $('#InvoiceId').val();
                rawJson.InvoiceNo = $('#InvoiceNo').val();
                rawJson.InvoiceType = "Tax";
                rawJson.InvoiceDate = $('#InvoiceDate').val();
                rawJson.RequestId = $('#StuffingReqId').val();
                rawJson.RequestNo = $('#StuffingReqNo').val();
                rawJson.RequestDate = $('#StuffingReqDate').val();
                rawJson.PartyId = $('#PartyId').val();
                rawJson.PartyName = $('#PartyName').val();
                rawJson.PayeeId = $('#PayeeId').val();
                rawJson.PayeeName = $('#PayeeName').val();
                rawJson.PartyGST = $('#GSTNo').val();
                rawJson.Remarks = $('#Remarks').val();
                rawJson.PartyAddress = $('#hdnAddress').val();
                rawJson.PartyState = $('#hdnState').val();
                rawJson.PartyStateCode = $('#hdnStateCode').val();
                rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                //rawJson.ROAddress = (rawJson.ROAddress).replace(/\<br/>\/g, '#$');
                rawJson.InvoiceHtml = InvoiceHtml(rawJson);
                // rawJson.InvoiceHtml = "";
                $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                $('form#PaymentSheetForm').submit();
            }
            catch (e) {
            }
        }
        
        /*  var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
          rawJson.InvoiceId = 0;
          rawJson.InvoiceType = TaxType;
          rawJson.InvoiceDate = $('#InvoiceDate').val();
          rawJson.RequestId = $('#StuffingReqId').val();
          rawJson.RequestNo = $('#StuffingReqNo').val();
          rawJson.RequestDate = $('#StuffingReqDate').val();
          rawJson.PartyId = $('#PartyId').val();
          rawJson.PartyName = $('#PartyName').val();
          rawJson.PayeeId = $('#PayeeId').val();
          rawJson.PayeeName = $('#PayeeName').val();
          rawJson.PartyGST = $('#GSTNo').val();
          rawJson.Remarks = $('#Remarks').val();
          rawJson.PartyAddress = $('#hdnAddress').val();
          rawJson.PartyState = $('#hdnState').val();
          rawJson.PartyStateCode = $('#hdnStateCode').val();
          rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
          rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
          $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
          $('form#PaymentSheetForm').submit();  */

    }

</script>
<script>
    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnPrint').removeAttr('disabled');
          //  setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }
    function PaymentOnFailure(data) {
        //debugger;
        //alert(data.reponseText);
    }
    function ResetField() {
        $('#DivBody').load('/CashManagement/WFLD_CashManagement/EditBondAdvanced');
    }
</script>
<script>

    function InvoiceHtml(actualJson) {
        var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft' /></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>" + actualJson.ROAddress + "</td><td style='font-weight:600;'>" + actualJson.CompanyName + "<br />" + actualJson.CompanyAddress + "<br />" + actualJson.EmailAddress + "</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        //var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft'/></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>REGIONAL OFFICE, KOLKATA<br />CMC BUILDING, PHASE-1, 6TH FLOOR, NEW MARKET COMPLEX,<br />15 N, NELLIE SENGUPTA SARANI, KOLKATA - 700087</td><td style='font-weight:600;'>CONTAINER FREIGHT STATION<br />18, COAL DOCK ROAD,<br />KOLKATA - 700043<br />E-mail ID : manager_cfs@yahoo.in</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        html1 += "<td><span>" + actualJson.PartyName + "</span></td></tr><tr><td>Address</td><td><span>" + actualJson.PartyAddress + "</span></td></tr><tr><td>State</td><td><span>" + actualJson.PartyState + "</span></td></tr><tr><td>State Code</td><td><span>" + actualJson.PartyStateCode + "</span></td></tr><tr><td>GSTIN/ Unique ID</td><td><span>" + actualJson.PartyGST + "</span></td></tr></tbody></table>";
        html1 += "</td><td></td></tr><tr><td colspan='2'><b>Invoice No. <span>" + actualJson.InvoiceNo + "</span></b></td><td style='vertical-align:top;text-align: center;'><b>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></b></td>";
        html1 += "</tr><tr><td colspan='2'><table><tr><td style='vertical-align:top;width:50%;'><table style='width:100%;float: left;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;'><thead><tr><th style='border:1px solid #000;'>CONTAINER NO.</th><th style='border:1px solid #000;'>SIZE</th><th style='border:1px solid #000;'>ARRIVAL DT.</th><th style='border:1px solid #000;'>CARGO TYPE</th></tr></thead><tbody>";
        //$.each(actualJson.lstPostPaymentCont, function (i, item) {
        //    html1 += "<tr><td style='border:1px solid #000;text-align:center;'><span>" + item.ContainerNo + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Size + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.ArrivalDate + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + (item.CargoType == 1 ? "Haz" : "Non-Haz") + "</span></td></tr>";
        //});
        html1 += "</tbody></table></td><td style='vertical-align:top;width:50%;'><table style='width:100%;float:right;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;border-left-style: none;'><tbody><tr><td>";
        html1 += "Shipping Line. <span></span><br/>CFS Code No. <span></span><br/>Date & Time of Carting (FN/AN): <span></span><br/>Date & Time of Stuffing (FN/AN)/ Delivery. <span> / " + actualJson.InvoiceDate + "</span><br/>Name of Exporter. <span>" + actualJson.PartyName + "</span><br/>BOE No./Date <span>" + actualJson.BOENo + "/" + actualJson.BOEDate + "</span><br/>Name of CHA. <span>" + actualJson.CHAName + "</span><br/>No of Packages. <span>" + actualJson.TotalNoOfPackages + "</span><br/>Total Gross Weight. <span>" + actualJson.TotalGrossWt + "</span><br/>Gross Weight per Package. <span>" + actualJson.TotalWtPerUnit + "</span><br/>Storage space occupied(" + actualJson.TotalSpaceOccupiedUnit + ") <span>" + actualJson.Area + "</span><br/>Chargeable period for Storage space.";
        html1 += "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;margin-top:10pt;'><tr><td>(a) Date & Time of Stuffing(FN/AN)</td></tr><tr><td>(b) Date of Delivery " + actualJson.InvoiceDate + "</td></tr><tr><td>(c) Customs Examination Date " + actualJson.ApproveOn + "</td></tr></table></td></tr></tbody></table></td></tr></table></td></tr></tbody></table></td></tr>";
        html1 += "<tr><td colspan='3'>Value of Cargo (CIF Value + Duty + Penalty) Rs.<span>" + Number(actualJson.CIFValue + actualJson.Duty) + "</span></td></tr></tbody></table>";

        var html2 = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding-right:20pt;padding-bottom:50pt;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;'>Particulars</th><th style='border:1px solid #000;'>SAC</th><th style='border:1px solid #000;'>Value</th><th style='border:1px solid #000;'>TDS</th><th style='border:1px solid #000;text-align:center;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;'>Taxes</th><th style='border:1px solid #000;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>CGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>SGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>IGST</th><th style='border:1px solid #000;'></th></tr><tr><th style='border:1px solid #000;border-top:none;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th></tr></thead><tbody>";
        var cwcCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'CWC'; });
        $.each(cwcCharges, function (i, item) {
            html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
            //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        });

        html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>CWC TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'>" + actualJson.CWCTDS.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        var htCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'HT'; });
        //html2 += "<tr><td style='border:1px solid #000;'><b><br />B. H&T Charges :-</b></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        $.each(htCharges, function (i, item) {
            html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
            //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        });

        html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>H&T TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'>" + actualJson.HTTDS.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        //html2 += "<tr><td>H&T TDS</td><td></td><td></td><td>" + actualJson.HTTDS + "</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>";

        html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TDS.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST.toFixed(2) + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal.toFixed(2) + "</span></td></tr>";
        //html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TDS + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + ((actualJson.CWCTotal * 10 / 100) + (actualJson.HTTotal * 2 / 100)).toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal + "</span></td></tr>";
        html2 += "<tr><td>Round Up</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.RoundUp.toFixed(2) + "</span></td></tr>";
        html2 += "<tr><td>Grand Total(Rounded)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.InvoiceAmt.toFixed(2) + "</span></td></tr>";
        //html2 += "<tr><td colspan='12'><br/><br/>FIGURE IN WORDS: <span>" + CurrentcyToWord(actualJson.InvoiceAmt.toFixed(2)) + "</span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'><b>REMARKS:<span>" + actualJson.Remarks + "</span></b></td></tr>";

        html2 += "<tr><td colspan='12'>TDS Deduction : " + actualJson.TDS.toFixed(2) + "<br/>TDS Collection : " + actualJson.TDSCol.toFixed(2) + "<br/><br/>FIGURE IN WORDS: <span>" + CurrentcyToWord(actualJson.InvoiceAmt.toFixed(2)).toUpperCase() + "</span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'><b>REMARKS:<span>" + actualJson.Remarks + "</span></b></td></tr>";

        html2 += "</tbody><tfoot><tr><td colspan='4'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table>";

        return btoa(html1 + '<>' + html2);
    }

    function Print() {
        debugger;
        var actualJson = JSON.parse($('#PaymentSheetModelJson').val());
        var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft' /></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>" + actualJson.ROAddress + "</td><td style='font-weight:600;'>" + actualJson.CompanyName + "<br />" + actualJson.CompanyAddress + "<br />" + actualJson.EmailAddress + "</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        //var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft'/></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>REGIONAL OFFICE, KOLKATA<br />CMC BUILDING, PHASE-1, 6TH FLOOR, NEW MARKET COMPLEX,<br />15 N, NELLIE SENGUPTA SARANI, KOLKATA - 700087</td><td style='font-weight:600;'>CONTAINER FREIGHT STATION<br />18, COAL DOCK ROAD,<br />KOLKATA - 700043<br />E-mail ID : manager_cfs@yahoo.in</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        html1 += "<td><span>" + actualJson.PartyName + "</span></td></tr><tr><td>Address</td><td><span>" + actualJson.PartyAddress + "</span></td></tr><tr><td>State</td><td><span>" + actualJson.PartyState + "</span></td></tr><tr><td>State Code</td><td><span>" + actualJson.PartyStateCode + "</span></td></tr><tr><td>GSTIN/ Unique ID</td><td><span>" + actualJson.PartyGST + "</span></td></tr></tbody></table>";
        html1 += "</td><td></td></tr><tr><td colspan='2'><b>Invoice No. <span>" + actualJson.InvoiceNo + "</span></b></td><td style='vertical-align:top;text-align: center;'><b>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></b></td>";
        html1 += "</tr><tr><td colspan='2'><table><tr><td style='vertical-align:top;width:50%;'><table style='width:100%;float: left;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;'><thead><tr><th style='border:1px solid #000;'>CONTAINER NO.</th><th style='border:1px solid #000;'>SIZE</th><th style='border:1px solid #000;'>ARRIVAL DT.</th><th style='border:1px solid #000;'>CARGO TYPE</th></tr></thead><tbody>";
        //$.each(actualJson.lstPostPaymentCont, function (i, item) {
        //    html1 += "<tr><td style='border:1px solid #000;text-align:center;'><span>" + item.ContainerNo + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Size + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.ArrivalDate + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + (item.CargoType == 1 ? "Haz" : "Non-Haz") + "</span></td></tr>";
        //});
        html1 += "</tbody></table></td><td style='vertical-align:top;width:50%;'><table style='width:100%;float:right;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;border-left-style: none;'><tbody><tr><td>";
        html1 += "Shipping Line. <span></span><br/>CFS Code No. <span></span><br/>Date & Time of Carting (FN/AN): <span></span><br/>Date & Time of Stuffing (FN/AN)/ Delivery. <span> / " + actualJson.InvoiceDate + "</span><br/>Name of Exporter. <span>" + actualJson.PartyName + "</span><br/>BOE No./Date <span>" + actualJson.BOENo + "/" + actualJson.BOEDate + "</span><br/>Name of CHA. <span>" + actualJson.CHAName + "</span><br/>No of Packages. <span>" + actualJson.TotalNoOfPackages + "</span><br/>Total Gross Weight. <span>" + actualJson.TotalGrossWt + "</span><br/>Gross Weight per Package. <span>" + actualJson.TotalWtPerUnit + "</span><br/>Storage space occupied(SQM) <span>" + actualJson.Area + "</span><br/>Chargeable period for Storage space.";
        html1 += "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;margin-top:10pt;'><tr><td>(a) Date & Time of Stuffing(FN/AN)</td></tr><tr><td>(b) Date of Delivery " + actualJson.InvoiceDate + "</td></tr><tr><td>(c) Customs Examination Date " + actualJson.ApproveOn + "</td></tr></table></td></tr></tbody></table></td></tr></table></td></tr></tbody></table></td></tr>";
        html1 += "<tr><td colspan='3'>Value of Cargo (CIF Value + Duty + Penalty) Rs.<span>" + Number(actualJson.CIFValue + actualJson.Duty) + "</span></td></tr></tbody></table>";

        var html2 = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding-right:20pt;padding-bottom:50pt;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;'>Particulars</th><th style='border:1px solid #000;'>SAC</th><th style='border:1px solid #000;'>Value</th><th style='border:1px solid #000;'>TDS</th><th style='border:1px solid #000;text-align:center;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;'>Taxes</th><th style='border:1px solid #000;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>CGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>SGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>IGST</th><th style='border:1px solid #000;'></th></tr><tr><th style='border:1px solid #000;border-top:none;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th></tr></thead><tbody>";
        var item = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'CWC'; })[0];
        //$.each(cwcCharges, function (i, item) {
        //    html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
        //    //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        //});   




        html2 += "<tr><td style='border:1px solid #000;'>1. Entry Fee</td><td style='border:1px solid #000;'><span>996711</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>1A. Custom Revenue</td><td style='border:1px solid #000;'><span>998599</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>2(1). Ground Rent Empty</td><td style='border:1px solid #000;'><span>996729</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>2(2). Ground Rant Loaded</td><td style='border:1px solid #000;'><span>996729</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>3. Plug-in Charges for Reefer Container</td><td style='border:1px solid #000;'><span>996729</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>5. Insurance Charges</td><td style='border:1px solid #000;'><span>996729</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>6. Others</td><td style='border:1px solid #000;'><span>998599</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>7. Port Charges</td><td style='border:1px solid #000;'><span>998599</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";
        html2 += "<tr><td style='border:1px solid #000;'>8. Weighment Charges</td><td style='border:1px solid #000;'><span>998599</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0%</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td><td style='border:1px solid #000;text-align:right;'><span>0</span></td></tr>";




        html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>CWC TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'>" + actualJson.CWCTDS.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        var htCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'HT'; });
        //html2 += "<tr><td style='border:1px solid #000;'><b><br />B. H&T Charges :-</b></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        $.each(htCharges, function (i, item) {
            html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
            //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        });

        html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>H&T TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'>" + actualJson.HTTDS.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        //html2 += "<tr><td>H&T TDS</td><td></td><td></td><td>" + actualJson.HTTDS + "</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>";

        html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TDS.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST.toFixed(2) + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal.toFixed(2) + "</span></td></tr>";
        //html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TDS + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + ((actualJson.CWCTotal * 10 / 100) + (actualJson.HTTotal * 2 / 100)).toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal + "</span></td></tr>";
        html2 += "<tr><td>Round Up</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.RoundUp.toFixed(2) + "</span></td></tr>";
        html2 += "<tr><td>Grand Total(Rounded)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.InvoiceAmt.toFixed(2) + "</span></td></tr>";
        html2 += "<tr><td colspan='12'><br/><br/>FIGURE IN WORDS: <span>" + CurrentcyToWord(actualJson.InvoiceAmt.toFixed(2)) + "</span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'><b>REMARKS:<span>" + actualJson.Remarks + "</span></b></td></tr>";

        html2 += "<tr><td colspan='12'>TDS Deduction : " + actualJson.TDS.toFixed(2) + "<br/>TDS Collection : " + actualJson.TDSCol.toFixed(2) + "<br/><br/>FIGURE IN WORDS: <span>" + CurrentcyToWord(actualJson.InvoiceAmt.toFixed(2)).toUpperCase() + "</span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'><b>REMARKS:<span>" + actualJson.Remarks + "</span></b></td></tr>";

        html2 += "</tbody><tfoot><tr><td colspan='4'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table>";
        
        var PostData = new FormData();
        PostData.append("type", "export");
        PostData.append("id", $('#InvoiceNo').val());
        PostData.append("page", html1);
        PostData.append("npage", html2);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF", "CWCImport", new { area = "Import" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open(data.Message + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }
</script>

