@model IEnumerable<CwcExim.Areas.CashManagement.Models.WFLDOAAddMoney>
<div>

    <script>
        var Page = 0;
        $(document).ready(function () {
            var table = $('#DivTblAddMoneyToOAList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "Sl No", "bSortable": true, "width": "25%" },
                   // { "sName": "Party Name", "bSortable": false, "width": "25%" },
                    { "sName": "Receipt No", "bSortable": false, "width": "25%" },
                    { "sName": "Receipt Date", "bSortable": false, "width": "15%" },
                    { "sName": "Action", "bSortable": false, "width": "10%" }
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
        //function Print(PVId) {
        //    window.open("../../Docs/PaymentVoucher/" + PVId + "/PaymentVoucher.pdf?t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
        //}
        function Print(ReceiptNo) {
            debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkReceiptReport", "WFLD_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    ReceiptNumber: ReceiptNo,
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Message);
                }
            });
        }

        function LoadMoreData()
        {
             $.ajax({
                 url: '/CashManagement/WFLD_CashManagement/LoadMoreListOfOAAddMoney',
            type: 'GET',
            data: { ReceiptNo: "", Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#DivTblAddMoneyToOAList').dataTable();
                    var len = dt.fnGetData().length;

                    $.each(data, function (i, item) {
                        debugger;
                        //var CFS= item.ContainerNo;
                        //CFS = CFS.split('(')[0];
                        // var ContainerNo = ContainerNo.Split('(')[1].ToString().Substring(0, item.ContainerNo.Split('(')[1].Length - 1)
                        len++;
                        dt.fnAddData([
        len,
        [item.ReceiptNo],
        [item.TransDate],
        ['<a href="#" onclick=Print(' + [item.ReceiptNo] + ')><i class="fa fa-print"></i></a>']

                        ]);
                    });
                }
                else alert('No more data available');
                
               
            }
        });
        }


    </script>
    <table id="DivTblAddMoneyToOAList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sl No</th>
                @*<th>Party Name</th>*@
                <th>Receipt No</th>
                <th>Receipt Date</th>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody id="tbltbody">
            @{
                var SerialNo = 1;

                foreach (var item in Model)
                {

                    <tr>
                        <td>@SerialNo.ToString()</td>
                        @*<td>@Html.DisplayFor(modelItem => item.PartyName)</td>*@
                        <td>@Html.DisplayFor(modelItem => item.ReceiptNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransDate)</td>
                        <td style="text-align:center;"><a href="#" onclick="Print('@item.ReceiptNo')"><i class="fa fa-print" aria-hidden="true"></i></a></td>
                    </tr>
                    SerialNo = SerialNo + 1;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td><button onclick="LoadMoreData()" class="btn log_Btn_sm">Load More</button></td>
            </tr>
         
        </tfoot>
    </table>
</div>

