@model IEnumerable<CwcExim.Areas.CashManagement.Models.OnlinePaymentReceipt>

<table id="tblOPReceiptDtl" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">SL. No.</th>
            <th>Payer Name</th>
            <th>Payment Date</th>
            <th>Reference No.</th>
            <th>Payer Remarks</th>
            <th>Amount Paid</th>
            <th>Receipt No</th>
            <th>Cash Receipt</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            if (Model != null)
            {
                foreach (var data in Model)
                {
                    <tr>
                        <td class="text-center">@Serial.ToString()</td>
                        <td>@data.PayerName</td>
                        <td>@data.PaymentDate</td>
                        <td>@data.ReferenceNo</td>
                        <td>@data.PayerRemarks</td>
                        <td>@data.AmountPaid</td>
                        <td>@data.ReceiptNo</td>
                        <td class="text-center"><a href="#" onclick="PreviewReceipt('@data.ReceiptNo')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                    </tr>
                    Serial++;
                }
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblOPReceiptDtl = $('#tblOPReceiptDtl').DataTable({
            "bFilter": false,
            "bInfo": false,
            "bPaginate": false,
            "aoColumns": [
                       { "sName": "SL. No.","bSortable": false, "width": "8%" },
                       { "sName": "Payer Name", "bSortable": false },
                       { "sName": "Payment Date", "bSortable": false, "width": "15%" },
                       { "sName": "Reference No", "bSortable": false, "width": "20%" },
                       { "sName": "Payer Remarks", "bSortable": false },
                       { "sName": "Amount Paid", "bSortable": false, "width": "10%" },
                       { "sName": "Receipt No", "bSortable": false, "width": "15%" },
                       { "sName": "Cash Receipt", "bSortable": false, "width": "10%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblOPReceiptDtl);
    });

    function PreviewReceipt(ReceiptNumber) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkReceiptReport", "WFLD_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ReceiptNumber:ReceiptNumber
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
</script>
