@model IEnumerable<CwcExim.Models.DesignationMaster>

@{
    ViewBag.Title = "DesignationList";
    Layout = null;
}

<div>
    <script type="text/javascript">
        function LoadEditView(DesignationId) {
            $('#DivBody').load('/DesignationMaster/EditDesignation?DesignationId=' + DesignationId);
        }
   </script>
    <script>
        $(document).ready(function () {
            var table = $('#DivTblDesignationList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "SerialNo","width":"5%" },
                    { "sName": "Designation" },
                    { "sName": "HigherAuthorityName"},
                    { "sName": "Action","bSortable":false,"width":"5%" }
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });

    </script>
    <table id="DivTblDesignationList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GeneratedSerialNo)</th>
                <th>@Html.DisplayNameFor(model => model.Designation)</th>
                <th>@Html.DisplayNameFor(model => model.HigherAuthorityName)</th>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GeneratedSerialNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                    <td>@Html.DisplayFor(modelItem => item.HigherAuthorityName)</td>
                    <td style="text-align:center;"><a href="#"  onclick="LoadEditView(@item.DesignationId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

    @*<div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.GeneratedSerialNo)
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Designation)
            </div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.HigherAuthorityName)
            </div>
          
            <div class="col-md-1">
                @Html.DisplayName("Action")
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.GeneratedSerialNo)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Designation)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.HigherAuthorityName)
                </div>
                
                <div class="col-md-1">
                    <a href="#" onclick="LoadEditView(@item.DesignationId)">Edit</a>
                </div>
            </div>
        }
    </div>*@
</div>
