@model IEnumerable<CwcExim.Areas.GateOperation.Models.ExitThroughGateDetails>
<table class="table table-bordered table-striped dataTable" id="tblGateExitDetailsList">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("Container/BL/SB No")</th>
            <th>@Html.DisplayNameFor(m => m.ShippingLine)</th>                  
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            @*<th>@Html.DisplayName("Delete")</th>*@
        </tr>
    </thead>
    <tbody>
       @{
           var SerialNo = 1;
           foreach (var elem in Model)
           {
            <tr>
                <td class="text-center">@SerialNo.ToString()</td>
                <td>@elem.ContainerNo</td>
                <td>@elem.ShippingLine</td>
                
              
                <td class="text-center"><a href="#" onclick="EditGateExitDetails(@elem.ExitIdDtls)"><i class="fa fa-pencil-square Edit"></i></a></td>
                <td class="text-center"><a href="#" onclick="ViewGateExitDetails(@elem.ExitIdDtls)"><i class="fa fa-search-plus Edit"></i></a></td>
                @*<td><a href="#" onclick="DeleteGateEntryDet(@elem.ExitIdHeader)"><i class="fa fa-window-close-o"></i></a></td>*@
               
            </tr>
               SerialNo = SerialNo + 1;
           }
           }
    </tbody>
</table>
<script>

    //$(document).ready(function(){
    //    var TblGateEntry = $('#tblGateExitDetailsList').DataTable({
    //        "bFilter": false,
    //        "bInfo": false,
    //        "pageLength": 50,
    //        "aoColumns": [
    //            { "sName": "SL No", "width": "8%" },
    //            { "sName": "Container No" },
    //            { "sName": "ShippingLine" },                               
    //            { "sName": "View", "bSortable": false, "width": "10%" },
    //            { "sName": "Edit", "bSortable": false, "width": "10%" }
                
    //        ]
    //    });
    //    new $.fn.dataTable.FixedHeader(TblGateEntry);
    //});

    function LoadExitThroughGateList() {
        debugger;
        $('#DivGateExitList').load('/GateOperation/HDB_CWCGateExit/CreateExitThroughGate');
    }
    function EditGateExitDetails(ExitIdDtls) {
        //$('#DivBody').load('/GateOperation/kol_CWCGateExit/EditExitThroughGateDetails?ExitIdDtls=' + EntryId);EditGateExitDtls
        //alert("edit");
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/GateOperation/HDB_CWCGateExit/EditExitThroughGateDetails',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'text',
            data: { ExitIdDtls: ExitIdDtls},
            async: false,
            success: function (data) {
                //alert(data);
                if (data != null && data != "" && data != undefined) {
                   
                    $("#EditGateExitDtls").html('');
                    $("#EditGateExitDtls").html(data);
                   // alert("ui");
                    EditBtnDisabl();
                }
                else {
                    $("#EditGateExitDtls").html('');

                }
            }
        });
    }


    function EditBtnDisabl() {
        var buttonValueEdit = $('#ViewFlagEdit').val();
        //alert(buttonValueEdit);
        if (buttonValueEdit != null && buttonValueEdit != "") {

            if (buttonValueEdit == "Edit") {
                //$("#DetailsEditSave").hide();
                $("#btnAddExitThroughGateDet").hide();
            }
        }
    }
    function ViewGateExitDetails(ExitIdDtls) {
        //$('#EditGateExitDtls').load('/GateOperation/kol_CWCGateExit/ViewExitThroughGatDetls?ExitIdDtls=' + ExitIdDtls);

        //alert("View");
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/GateOperation/HDB_CWCGateExit/ViewExitThroughGatDetls',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'text',
            data: { ExitIdDtls: ExitIdDtls },
            async: false,
            success: function (data) {
                 //alert(data);
                if (data != null && data != "" && data != undefined) {
                    $("#EditGateExitDtls").html('');
                    $("#EditGateExitDtls").html(data);
                    $("#shippingLineId1").val($("#shippingLineId").val());
                    //alert($("#shippingLineId").val());
                    BtnDisabl();
                }
                else {
                    $("#EditGateExitDtls").html('');

                }
            }
        });
    }



    function BtnDisabl() {
        var buttonValue = $('#ViewFlag').val();
        //alert(buttonValue);
        if (buttonValue != null && buttonValue != "") {

            if (buttonValue == "v") {
                $("#DetailsEditSave").hide();
                $("#btnAddExitThroughGateDet").hide();
            }
        }
    }
    @*function DeleteGateEntryDet(EntryId) {      
        
        var Confirm = confirm("Are you sure you want to delete?")
        debugger;
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({                
                url: '@Url.Action("DeleteEntryThroughGate", "kol_CWCGateExit", new { Area = "GateOperation" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: { EntryId: EntryId },                
                success: function (data) {
                    if (data.Status == 1) {

                        debugger;
                        if(data.Status==1)
                        {
                            LoadExitThroughGateList();
                        }                       
                        else {
                            alert(data.Message);
                        }

                    }
                }
            });
        }
    }*@

</script>