@model CwcExim.Areas.Import.Models.DestuffingWO
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Work Order</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddEditDeStuffWO", "CWCImport", new AjaxOptions
            {
                Confirm = "Are you sure you want to Save?",
                HttpMethod = "POST",
                OnSuccess = "impDSWOOnSuccess",
                OnFailure = "impDSWOOnFailure",
            }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.StringifyXML)
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.DeStuffingId)
                                @Html.TextBox("ContainerNo","", new { @class = "form-control input-sm", @readonly = true, @id = "ContainerNoHdr" })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#contmodal"></i></span>
                                @Html.ValidationMessage("ContainerNoHdr")
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Work Order No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.WorkOrderNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                               <label>Work Order Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.WorkOrderDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                               <label>Application No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                               <label>Application Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                               <label>Godown Name:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.HiddenFor(m => m.GodownId)
                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                @Html.ValidationMessageFor(m => m.GodownName)
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.DeliveryType, "1", new { @id = "rbCar", @disabled = true })
                                    <label for="rbCar"><i class="circle"></i><span>Cargo Delivery</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.DeliveryType, "2", new { @id = "rbCon", @disabled = true })
                                    <label for="rbCon"><i class="circle"></i><span>Container Delivery</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                               <label>Godown Location:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.HiddenFor(m => m.GodwnWiseLctnIds)
                                @Html.TextBoxFor(m => m.GodwnWiseLctnNames, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#gdwnwiselocationmodal"></i></span>
                                @Html.ValidationMessageFor(m => m.GodwnWiseLctnNames)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.Vessel, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-10-5">
                            @Html.TextBoxFor(m => m.Vessel, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.Voyage, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-4-5">
                            @Html.TextBoxFor(m => m.Voyage, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>*@
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                               <label>Rotation:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Rotation, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new {@maxlength=500, @style = "width:100%;height:100px;" })
                            </div>
                        </div>
                    </div>
                    <div id="DivWODtl" class="Head_h5 Form_Space_top">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>CFS Code:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CFSCode", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ContainerNoDtl", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Size", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Line No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>BOE No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOENo", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_2 col_cus_offset_3 col-md-1-5">
                                    <label>BOE Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Vessel:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("Vessel", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @Html.Label("Voyage", new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("Voyage", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>CHA Name &amp; Address:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("CHA", "", new { @class = "form-control input-sm", @readonly = true,@style="height:75px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Importer Name &amp; Address:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("Importer", "", new { @class = "form-control input-sm", @readonly = true, @style = "height:75px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("CargoDescription", "", new { @class = "form-control input-sm", @readonly = true, @style = "height:75px;" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>No of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                    <label>Gross Weight:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12" id="DivCntnDet">
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetImpJODetails()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivDeStuffWOList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="GodownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" type="text" />
                <ul class="navList" id="lstGodown">
                    @{
                        if (ViewBag.ListOfGodown != null)
                        {
                            foreach (var item in ViewBag.ListOfGodown)
                            {
                                <li id="@item.Value" onclick="SelectGodown(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gdwnwiselocationmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div id="lstGdwnWiseLctn">
                    @*@{
                            foreach (var item in ViewBag.ListOfBlNo)
                            {
                                <li id="@item.Value">@item.Text</li>
                            }
                        }*@
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container</h4>
            </div>
            <div class="modal-body popup_body">

                <input placeholder="Search Me" id="contbox" type="text" />
                <ul class="navList" id="lstCnt">
                    @{
                        if (ViewBag.ListOfCont != null)
                        {
                            foreach (var item in ViewBag.ListOfCont)
                            {
                                <li id="@item.Value" onclick="SelectContainer(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    var ContDetails = [];
    $(function () {
        LoadDestuffWOList();
    });
    $('#WorkOrderDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    function LoadDestuffWOList() {
        $('#DivDeStuffWOList').load('/Import/CWCImport/ListDeStuffWO');
    }
    function impDSWOOnSuccess(data)
    {
        if (data.Status == 1) {
            $('#DivSucMsg').html(data.Message);
            setTimeout(function () { $('#DivBody').load('/Import/CWCImport/CreateDeStuffWO'); }, 5000);
        }
        else
        {
            $('#DivErrMsg').html(data.Message);
            setTimeout(function () { $('#DivErrMsg').html(''); }, 5000);
        }
    }
    function impDSWOOnFailure() { }
    $('#Godownbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodown > li').show();
        else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#contbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCnt > li').show();
        else {
            $('#lstCnt > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function SelectGodown(data) {
        $('#GodownId').val(data.id);
        $('#GodownName').val(data.innerText);
        $("#GodownModal").modal("hide");
        GetGodownWiseLocation();
    }
    function SelectContainer(data) {
        debugger;
        $('#DeStuffingId').val(data.id);

        $('#ContainerNoHdr').val((data.innerText).split('-')[0]);
        $('#contmodal').modal("hide");
        $.ajax({
            url: '/Import/CWCImport/GetConatinerWiseWODet',
            type: 'GET',
            data: { DestuffingId: data.id },
            dataType: 'JSON',
            success: function (data) {
                if (data.Hdr != null) {
                    $('#ApplicationNo').val(data.Hdr.ApplicationNo);
                    $('#ApplicationDate').val(data.Hdr.ApplicationDate);
                    $('#ShippingLine').val(data.Hdr.ShippingLine);
                    $('#Rotation').val(data.Hdr.Rotation);
                    if (data.Hdr.DeliveryType == 1) $('#rbCar').prop('checked', true);
                    else $('#rbCon').prop('checked', true);
                    ContDetails = data.dtl;
                    GenerateTable();
                }
            }
        });
    }
    function GenerateTable() {
        var html = '';
        html = '<table class="table table-striped table-bordered dataTable" id="tblContainerDet"><thead><tr><th>SL No</th><th>CFS No</th><th>Container No</th><th class="text-center">View</th><th class="text-center">Delete</th></tr></thead><tbody>';
        $.each(ContDetails, function (i, elem) {
            html += '<tr><td>' + (i + 1) + '</td><td>' + elem.CFSCode + '</td><td>' + elem.ContainerNo + '</td><td class="text-center"><a href="#" onclick="ViewContainerDet(' + elem.DestuffingDtlId + ')"><i class="fa fa-search-plus Edit"></i></a></td><td class="text-center"><a href="#" onclick="DeleteContainerDet(' + elem.DestuffingDtlId + ')"><i class="fa fa-window-close-o Delete"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivCntnDet').html(html);
    }
    function ViewContainerDet(DestuffingDtlId) {
        $('#CFSCode,#ContainerNoDtl,#Size,#LineNo,#BOENo,#BOEDate,#Vessel,#Voyage,#CHA,#Importer,#CargoDescription,#NoOfPackages,#GrossWeight').val('');
        $.each(ContDetails, function (i, elem) {
            if (elem.DestuffingDtlId == DestuffingDtlId) {
                $('#CFSCode').val(elem.CFSCode);
                $('#ContainerNoDtl').val(elem.ContainerNo);
                $('#Size').val(elem.Size);
                $('#LineNo').val(elem.LineNo);
                $('#BOENo').val(elem.BOENo);
                $('#BOEDate').val(elem.BOEDate);
                $('#Vessel').val(elem.Vessel);
                $('#Voyage').val(elem.Voyage);
                $('#CHA').val(elem.CHAName);
                $('#Importer').val(elem.ImporterName);
                $('#CargoDescription').val(elem.CargoDescription);
                $('#NoOfPackages').val(elem.NoOfPackages);
                $('#GrossWeight').val(elem.GrossWeight);

                return false;
            }
        });
    }
    function DeleteContainerDet(DestuffingDtlId) {
        $.each(ContDetails, function (i, elem) {
            if (elem.DestuffingDtlId == DestuffingDtlId) {
                ContDetails.splice(i, 1);
                GenerateTable();
                return false;
            }
        });
    }
    function GetGodownWiseLocation() {
        var GodownId = $('#GodownId').val();
        $.ajax({
            url: '/Import/CWCImport/GetGodownWiseLocation',
            dataType: 'JSON',
            type: 'GET',
            data: { GodownId: GodownId },
            success: function (data) {
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, elem) {
                        $('#GodwnWiseLctnNames,#GodwnWiseLctnIds').val('');
                        //if (elem.IsOccupied)
                        //    html += '<div class="col-md-3"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'y" name="' + elem.LocationId + '" onclick="SelectLocation()" disabled/><label for="' + elem.LocationId + 'y"><i class="square">' + elem.LocationName + '</i></label></div></div>';
                        //else
                            html += '<div class="col-md-3"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'y" name="' + elem.LocationId + '" onclick="SelectLocation()" /><label for="' + elem.LocationId + 'y"><i class="square">' + elem.LocationName + '</i></label></div></div>';
                    });
                    $('#lstGdwnWiseLctn').html(html);
                }
            }
        });
    }
    function SelectLocation() {
        var data = '';
        var inf = '';
        $('#lstGdwnWiseLctn').find('input:checked').each(function () {
            if (data == '')
                data = $(this).prop('name');
            else
                data = data + ',' + $(this).prop('name');
            if (inf == '')
                inf = $('label[for="' + $(this).prop('id') + '"]').text();
            else
                inf = inf + ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        });
        $('#GodwnWiseLctnIds').val(data);
        $('#GodwnWiseLctnNames').val(inf);
    }
    $('#btnSave').on("click", function () {
        if ($('#ContainerNoHdr').val() == '')
        {
            alert("Select Container No.");
            return false;
        }
        if ($('#tblContainerDet tbody tr').length > 0)
            $('#StringifyXML').val(JSON.stringify(ContDetails));
        else {
            alert('Container Details are not available to save');
            return false;
        }
    });
    function ResetImpJODetails()
    {
        $('#CFSCode,#ContainerNoDtl,#Size,#LineNo,#BOENo,#BOEDate,#Vessel,#Voyage,#CHA,#Importer,#CargoDescription,#NoOfPackages,#GrossWeight').val('');
        $('#lstGdwnWiseLctn,#DivCntnDet').html('');
        $('#ContainerNoHdr,#ApplicationNo,#ApplicationDate,#GodownName,#GodwnWiseLctnNames,#ShippingLine,#Rotation,#Remarks').val('');
        $('#rbCar,#rbCon').prop('checked', false);
    }
</script>
