@model IEnumerable<CwcExim.Areas.Import.Models.CstmAppraiseWorkOrder>

<script>
    $(function(){
        var TblCstmAppraiseWorkOrder = $('#TblCstmAppraiseWorkOrder').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       { "sName":"Work Order No","bSortable":false },
                       { "sName":"Work Order Date" ,"bSortable":false},
                       {"sName":"Edit","bSortable":false,"width":"10%"},
                       {"sName":"View","bSortable":false,"width":"10%"},
                       {"sName":"Delete","bSortable":false,"width":"10%"},
                       { "sName": "Preview", "bSortable": false, "width": "10%" }
                      ]
        });
        new $.fn.dataTable.FixedHeader(TblCstmAppraiseWorkOrder);
    });
    function LoadCstmAppraiseWorkOrder() {
        $('#DivBody').load( '/Import/CWCImport/CreateCstmAppraiseWorkOrder');
    }
    function EditCstmAppraiseWorkOrder(CstmAppraiseWorkOrderId) {
        debugger;
        $('#DivBody').load( '/Import/CWCImport/EditCstmAppraiseWorkOrder?CstmAppraiseWorkOrderId=' + CstmAppraiseWorkOrderId);
    }
    function ViewCstmAppraiseWorkOrder(CstmAppraiseWorkOrderId) {
        debugger;
        $('#DivBody').load( '/Import/CWCImport/ViewCstmAppraiseWorkOrder?CstmAppraiseWorkOrderId=' + CstmAppraiseWorkOrderId);
    }
    function DeleteCstmAppraiseWorkOrder(CstmAppraiseWorkOrderId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        var Confirm=confirm("Are You Sure You Want To Delete?");
        if(Confirm==true){
            $.ajax({
                url:  '/Import/CWCImport/DeleteCstmAppraiseWorkOrder',
                type:'POST',
                headers:{'__RequestVerificationToken':Token},
                data: { CstmAppraiseWorkOrderId: CstmAppraiseWorkOrderId },
                dataType:'JSON',
                async:false,
                success:function(data){
                    debugger;
                    if(data.Status==1){
                        LoadCstmAppraiseWorkOrder();
                    }
                    else if(data.Status==2||data.Status==3){
                        alert(data.Message);
                    }
                }
            });
        }
    }

    function PreviewCustomAppraisement(CstmAppraiseWorkOrderId){
        debugger;
        var Token=$('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url:'/Import/CWCImport/PrintCustomAppraisement',
            type:'POST',
            dataType:'JSON',
            data:{CstmAppraiseWorkOrderId:CstmAppraiseWorkOrderId},
            headers:{"__RequestVerificationToken":Token},
            success:function(data){
                if(data.Status==1){
                    window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
                }
            }

        });
    }
</script>

<table id="TblCstmAppraiseWorkOrder" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Work Order No</th>
            <th>Work Order Date</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.CstmAppraiseWorkOrderNo)</td>
                    <td>@Html.DisplayFor(m => item.WorkOrderDate)</td>
                    <td class="text-center"><a href="#" onclick="EditCstmAppraiseWorkOrder(@item.CstmAppraiseWorkOrderId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewCstmAppraiseWorkOrder(@item.CstmAppraiseWorkOrderId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteCstmAppraiseWorkOrder(@item.CstmAppraiseWorkOrderId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PreviewCustomAppraisement(@item.CstmAppraiseWorkOrderId)"><i class="fa fa-file-pdf-o Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
