@model CwcExim.Areas.Import.Models.InternalMovement
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Internal Movement-Import</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddEditInternalMovement", "CWCImport", new AjaxOptions
            {
                Confirm = "Are you sure you want to Save?",
                HttpMethod = "POST",
                OnSuccess = "MovementOnSuccess",
                OnFailure = "MovementOnFailure",
            }))
            {
                    @Html.AntiForgeryToken()
                    <div id="DivEditMovement">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Movement No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                                    @Html.HiddenFor(m=>m.MovementId)
                                    @Html.TextBoxFor(m => m.MovementNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Movement Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.MovementDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>BOE No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.BOENo, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.BOENo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-offset-4 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>BOE Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.BOEDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextAreaFor(m => m.CargoDescription, new { @style = "height:100px;width:100%", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>No Of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.NoOfPackages, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-1-5 col-md-1-5 col_cus_2  padding_rt">
                                    <label>Gross Wt:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>From Godown:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.FromGodownId)
                                    @Html.TextBoxFor(m => m.OldGodownName, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2">
                                    <label>To Godown:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.ToGodownId)
                                    @Html.TextBoxFor(m => m.NewGodownName, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.NewGodownName)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Old Location:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.OldLocationIds)
                                    @Html.TextBoxFor(m => m.OldLctnNames, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>New Location:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.HiddenFor(m => m.NewLocationIds)
                                    @Html.TextBoxFor(m => m.NewLctnNames, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#gdwnwiselocationmodal"></i></span>
                                    @Html.ValidationMessageFor(m => m.NewLctnNames)
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="BtnCancel" class="btn log_Btn_sm" value="Cancel" onclick="LoadPage()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivMovementList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="GodownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" type="text" />
                <ul class="navList" id="lstGodown">
                    @{
                        if (ViewBag.ListOfGodown != null)
                        {
                            foreach (var item in ViewBag.ListOfGodown)
                            {
                                <li id="@item.Value" onclick="SelectGodown(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gdwnwiselocationmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div id="lstGdwnWiseLctn">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="BOENoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
         Modal content
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of BOE No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="BOENobox" type="text" />
                <ul class="navList" id="BOENoList">
                    @{
                        if (ViewBag.BOENoList != null)
                        {
                            foreach (var item in ViewBag.BOENoList)
                            {
                                <li id="@item.Value" onclick="SelectBOENo(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@Scripts.Render("~/bundles/jqueryval")
<script>

    $(function () {
        debugger;
        var NewLctnNames = '@Model.NewLctnNames';
        var NewLocationIds = '@Model.NewLocationIds';
        GetGodownWiseLocation();
        $('#NewLocationIds').val(NewLocationIds);
        $('#NewLctnNames').val(NewLctnNames);
        var selectedlctn = '@Model.NewLocationIds'.split(',');
        $(selectedlctn).each(function (i, elem) {
            $('#' + elem + 'y').prop('checked', true);
        });
        //$.each(data, function (i, elem) {
        //    $('#NewLctnNames,#NewLocationIds').val('');
        //    html += '<div class="col-md-3"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'y" name="' + elem.LocationId + '" onclick="SelectLocation()" /><label for="' + elem.LocationId + 'y"><i class="square">' + elem.LocationName + '</i></label></div></div>';
        //});
        //$('#lstGdwnWiseLctn').html(html);
    })
    $('#MovementDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    //function GetMovementList() {
    //    $('#DivMovementList').load('/Import/CWCImport/GetInternalMovementList');
    //}
    function MovementOnSuccess(data) {
        $('#DivErrMsg').html('');
        if (data.Status == 1) {
            $('#DivSucMsg').html(data.Message);
            setTimeout(function () { $('#DivBody').load('/Import/CWCImport/CreateInternalMovement'); }, 5000);
        }
        else {
            $('#DivErrMsg').html(data.Message);
            // setTimeout(function () { $('#DivErrMsg').html(''); }, 5000);
        }
    }
    function MovementOnFailure() { }
    $('#Godownbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodown > li').show();
        else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#BOENobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#BOENoList > li').show();
        else {
            $('#BOENoList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function LoadPage() {
        $('#DivBody').load('/Import/CWCImport/CreateInternalMovement');
    }
    function SelectGodown(data) {
        $('#ToGodownId').val(data.id);
        $('#NewGodownName').val(data.innerText);
        $("#GodownModal").modal("hide");
        GetGodownWiseLocation();
    }
    //function SelectBOENo(data) {
    //    $('#DestuffingEntryDtlId').val(data.id);
    //    $('#BOENo').val(data.innerText);
    //    $("#BOENoModal").modal("hide");
    //    GetBOENoDetails(data.id);
    //}
    function GetGodownWiseLocation() {
        var GodownId = $('#ToGodownId').val();
        $.ajax({
            url: '/Import/CWCImport/GetGodownWiseLocation',
            dataType: 'JSON',
            type: 'GET',
            data: { GodownId: GodownId },
            async: false,
            success: function (data) {
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, elem) {
                        $('#NewLctnNames,#NewLocationIds').val('');
                        html += '<div class="col-md-3"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'y" name="' + elem.LocationId + '" onclick="SelectLocation()" /><label for="' + elem.LocationId + 'y"><i class="square">' + elem.LocationName + '</i></label></div></div>';
                    });
                    $('#lstGdwnWiseLctn').html(html);
                }
            }
        });
    }
    //function GetBOENoDetails(DestuffingEntryDtlId) {
    //    $.ajax({
    //        url: "/Import/CWCImport/GetBOENoDetails",
    //        type: "GET",
    //        dataType: "JSON",
    //        data: { DestuffingEntryDtlId: DestuffingEntryDtlId },
    //        async:false,
    //        success: function (data) {
    //            if (data.Status == 1) {
    //                $('#BOEDate').val(data.Data.BOEDate);
    //                $('#CargoDescription').val(data.Data.CargoDescription);
    //                $('#NoOfPackages').val(data.Data.NoOfPackages);
    //                $('#GrossWeight').val(data.Data.GrossWeight);
    //                $('#FromGodownId').val(data.Data.FromGodownId);
    //                $('#OldLocationIds').val(data.Data.OldLocationIds);
    //                $('#OldLctnNames').val(data.Data.OldLctnNames);
    //                $('#OldGodownName').val(data.Data.OldGodownName);
    //            }
    //        }
    //    });
    //}
    function SelectLocation() {
        debugger;
        var data = '';
        var inf = '';
        $('#lstGdwnWiseLctn').find('input:checked').each(function () {
            if (data == '')
                data = $(this).prop('name');
            else
                data = data + ',' + $(this).prop('name');
            if (inf == '')
                inf = $('label[for="' + $(this).prop('id') + '"]').text();
            else
                inf = inf + ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        });
        $('#NewLocationIds').val(data);
        $('#NewLctnNames').val(inf);
    }
</script>

