
@model IEnumerable<CwcExim.Areas.Import.Models.DestuffingAppList>

<script>
    $(function(){
        var TblDestuffingApp = $('#TblDestuffingApp').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       { "sName": "Destuffing No","bSortable":false },
                       { "sName": "Destuffing Date","bSortable":false },
                        { "sName": "BOE No","bSortable":false },
                         { "sName": "CHA","bSortable":false },
                          { "sName": "Importer","bSortable":false },
                       {"sName":"Edit","bSortable":false,"width":"10%"},
                       {"sName":"View","bSortable":false,"width":"10%"},
                       {"sName":"Delete","bSortable":false,"width":"10%"}
                      ]
        });
        new $.fn.dataTable.FixedHeader(TblDestuffingApp);
    });
    function LoadDestuffing() {
        $('#DivBody').load('/Import/CWCImport/CreateDestuffingApp');
    }
    function EditDestuffingApp(DestuffingId) {
        debugger;
        $('#DivBody').load('/Import/CWCImport/EditDestuffingApp?DestuffingId=' + DestuffingId);
    }
    function ViewDestuffingApp(DestuffingId) {
        debugger;
        $('#DivBody').load('/Import/CWCImport/ViewDestuffingApp?DestuffingId=' + DestuffingId);
    }
    function DeleteDestuffingApp(DestuffingId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        var Confirm=confirm("Are You Sure You Want To Delete?");
        if(Confirm==true){
            $.ajax({
                url: '/Import/CWCImport/DeleteDestuffingApp',
                type:'POST',
                headers:{'__RequestVerificationToken':Token},
                data: { DestuffingId: DestuffingId },
                dataType:'JSON',
                async:false,
                success:function(data){
                    debugger;
                    if(data.Status==1){
                        LoadDestuffing();
                    }
                    else if(data.Status==2)
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }
</script>

<table id="TblDestuffingApp" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Destuffing No</th>
            <th>Destuffing Date</th>
            <th>BOE No</th>
            <th>CHA</th>
            <th>Importer</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.DestuffingNo)</td>
                    <td>@Html.DisplayFor(m => item.DestuffingDate)</td>
                    <td>@Html.DisplayFor(m=>item.BOENo)</td>
                    <td>@Html.DisplayFor(m=>item.CHA)</td>
                    <td>@Html.DisplayFor(m=>item.Importer)</td>
                    <td class="text-center"><a href="#" onclick="EditDestuffingApp(@item.DestuffingId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewDestuffingApp(@item.DestuffingId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteDestuffingApp(@item.DestuffingId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
