@model IEnumerable<CwcExim.Areas.Import.Models.ListDestuffingWO>
<table id="tblDSWO" class="table table-striped table-bordered dataTable" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>@Html.DisplayName("WorkOrder No")</th>
            <th>@Html.DisplayName("Application No")</th>
            <th>@Html.DisplayName("Application Date")</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@item.WorkOrderNo</td>
                    <td>@item.ApplicationNo</td>
                    <td>@item.ApplicationDate</td>
                    <td class="text-center"><a href="#" onclick="EditDSWO(@item.DeStuffingWOId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewDSWO(@item.DeStuffingWOId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteDSWO(@item.DeStuffingWOId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PreviewDSWO(@item.DeStuffingWOId)"><i class="fa fa-file-pdf-o Edit" aria-hidden="true"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblDSWO = $('#tblDSWO').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "WorkOrder No","bSortable":false},
                       { "sName": "Application No", "bSortable": false },
                       { "sName": "Application Date", "bSortable": false,"width": "15%"},
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Delete", "bSortable": false, "width": "10%" },
                       {"sName":"Preview","bSortable":false,"width":"10%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(tblDSWO);
    });
    function EditDSWO(DeStuffingWOId)
    {
        $('#DivBody').load('/Import/CWCImport/EditDeStuffWO?DeStuffingWOId=' + DeStuffingWOId);
    }
    function ViewDSWO(DeStuffingWOId)
    {
        $('#DivBody').load('/Import/CWCImport/ViewDeStuffWO?DeStuffingWOId=' + DeStuffingWOId);
    }
    function DeleteDSWO(DeStuffingWOId)
    {
        var Confirm = confirm("Are you sure you want to Delete?");
        if(Confirm==true)
        {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Import/CWCImport/DeleteDeStuffWO',
                type: 'POST',
                data: { DeStuffingWOId: DeStuffingWOId },
                dataType: 'JSON',
                headers:{'__RequestVerificationToken':Token},
                success: function (data)
                {
                    if (data.Status == 1)
                        $('#DivBody').load('/Import/CWCImport/CreateDeStuffWO')
                    else
                        alert(data.Message);
                }
            });
        }
    }

    function PreviewDSWO(DeStuffingWOId){
        var Token=$('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url:'/Import/CWCImport/PrintDestuffingWO',
            type:'POST',
            dataType:'JSON',
            data:{DeStuffingWOId:DeStuffingWOId},
            headers:{"__RequestVerificationToken":Token},
            success:function(data){
                if(data.Status==1){
                    window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
                }
            }
        });
    }

</script>