<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            <div class="panel with-nav-tabs panel-primary cwc_panel">
                <div class="panel-heading cwc_panel_heading">
                    <ul class="nav nav-tabs" id="DivTabs">
                        <li class="active" onclick="activeli(this);">@Ajax.ActionLink("Yard Payment Sheet", "CreateContPaymentSheetTab", "CWCImport",new { area= "Import" },new AjaxOptions { HttpMethod="GET", InsertionMode=InsertionMode.Replace, UpdateTargetId= "tentativeRt" })</li>@*<a href="#tentativeRt" onclick="" data-toggle="tab">Yard Payment Sheet</a>*@
                        <li onclick="activeli(this);">@Ajax.ActionLink("De-stuffing Payment Sheet", "CreateDestuffingPaymentSheetTab", "CWCImport", new { area = "Import" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tentativeRt" })</li>
                        <li onclick="activeli(this);">@Ajax.ActionLink("Delivery Payment Sheet", "CreateDeliveryPaymentSheetTab", "Kol_CWCImport", new { area = "Import" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tentativeRt" })</li>
                        <li onclick="activeli(this);">@Ajax.ActionLink("Empty Container Payment Sheet", "CreateEmptyContPaymentSheetTab", "CWCImport", new { area = "Import" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tentativeRt" })</li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tentativeRt">
                            @Html.Action("CreateContPaymentSheetTab", "CWCImport",new { area= "Import", type= "Tax" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function activeli(elem) {
        $("#DivTabs li").removeClass('active');
        $("#DivTabs li").removeClass('active');
        $(elem).addClass('active');
    }
</script>