@model CwcExim.Areas.Import.Models.DestuffingWO
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>View Work Order</h4>
                    </div>
                </div>
            @Html.HiddenFor(m => m.StringifyXML)
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Work Order No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.WorkOrderNo, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                        <label>Work Order Date:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5 Date_Img">
                        @Html.TextBoxFor(m => m.WorkOrderDate, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Application No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                        <label>Application Date:</label>
                    </div>
                    <div class="col-md-2 col_cus_2_5">
                        @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                       <label>Godown Name:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                    <div class="col-md-2 col_cus_3">
                        <div class="boolean-container">
                            @Html.RadioButtonFor(m => m.DeliveryType, "1", new { @id = "rbCar", @disabled = true })
                            <label for="rbCar"><i class="circle"></i><span>Cargo Delivery</span></label>
                        </div>
                    </div>
                    <div class="col-md-2 col_cus_3">
                        <div class="boolean-container">
                            @Html.RadioButtonFor(m => m.DeliveryType, "2", new { @id = "rbCon", @disabled = true })
                            <label for="rbCon"><i class="circle"></i><span>Container Delivery</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                       <label>Godown Location:</label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.GodwnWiseLctnNames, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Shipping Line:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        @Html.LabelFor(m => m.Rotation, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Rotation, new { @class = "form-control input-sm", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Remarks:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "InputLabel", @style = "width:100%;height:100px;", @disabled = true })
                    </div>
                </div>
            </div>
            <div id="DivWODtl" class="Head_h5 Form_Space_top">
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>CFS Code:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("CFSCode", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Container No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("ContainerNoDtl", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>Size:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("Size", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Line No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>BOE No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("BOENo", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>BOE Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                           <label>Vessel:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBox("Vessel", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                           <label>Voyage:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBox("Voyage", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>CHA Name &amp; Address:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBox("CHA", "", new { @class = "form-control input-sm", @readonly = true,@style="height:75px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Importer Name &amp; Address:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBox("Importer", "", new { @class = "form-control input-sm", @readonly = true, @style = "height:75px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextArea("CargoDescription", "", new { @class = "form-control input-sm", @readonly = true , @style = "height:75px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>No of Packages:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>Gross Weight:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="col-md-12" id="DivCntnDet">
                </div>
            </div>
                <div class="row SignUp_space_top SignUp_space_bottom">
                    <div class="stoke"></div>
                </div>
            <div class="row SignUp_space_bottom2">
                <div class="col-md-offset-5 col-md-2">
                    <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadDestuffingWO()" />
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    var ContDetails = [];
    $(function () {
        ContDetails = JSON.parse(@Html.Raw(Json.Encode(Model.StringifyXML)));
        GenerateTable();
    });
    function GenerateTable() {
        var html = '';
        html = '<table class="table table-striped table-bordered dataTable" id="tblContainerDet"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>CFS No</th><th>Container No</th><th class="text-center" style="width:10%;">View</th></tr></thead><tbody>';
        $.each(ContDetails, function (i, elem) {
            html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + elem.CFSCode + '</td><td>' + elem.ContainerNo + '</td><td class="text-center"><a href="#" onclick="ViewContainerDet(' + elem.DestuffingDtlId + ')"><i class="fa fa-pencil-square Edit"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivCntnDet').html(html);
    }
    function LoadDestuffingWO()
    {
        $('#DivBody').load('/Import/CWCImport/CreateDeStuffWO');
    }
    function ViewContainerDet(DestuffingDtlId) {
        $.each(ContDetails, function (i, elem) {
            $('#CFSCode,#ContainerNoDtl,#Size,#LineNo,#BOENo,#BOEDate,#Vessel,#Voyage,#CHA,#Importer,#CargoDescription,#NoOfPackages,#GrossWeight').val('');
            if (elem.DestuffingDtlId == DestuffingDtlId) {
                $('#CFSCode').val(elem.CFSCode);
                $('#ContainerNoDtl').val(elem.ContainerNo);
                $('#Size').val(elem.Size);
                $('#LineNo').val(elem.LineNo);
                $('#BOENo').val(elem.BOENo);
                $('#BOEDate').val(elem.BOEDate);
                $('#Vessel').val(elem.Vessel);
                $('#Voyage').val(elem.Voyage);
                $('#CHA').val(elem.CHAName);
                $('#Importer').val(elem.ImporterName);
                $('#CargoDescription').val(elem.CargoDescription);
                $('#NoOfPackages').val(elem.NoOfPackages);
                $('#GrossWeight').val(elem.GrossWeight);
                return false;
            }
        });
    }
</script>
