@model CwcExim.Areas.Import.Models.Destuffing

<script>
    var ArrayOfDestuffing = [];
    $(function () {
        $('#TblDestuffingDet').hide();
        ArrayOfDestuffing=@Html.Raw(Json.Encode(Model.LstDestuffing));
        GenerateDestuffingTable();
    });


    function ReloadDestuffingPage() {
        $('#DivBody').load('/Import/CWCImport/CreateDestuffingApp');
    }

    function GenerateDestuffingTable() {
        debugger;
        $('#TblDestuffingDet').hide();
        var Html = '';
        if (ArrayOfDestuffing.length != 0) {
            $.each(ArrayOfDestuffing, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td class="text-center"><a href="#" onclick="ViewDestuffing(' + i + ')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDestuffingDet>tbody').html(Html);
            $('#TblDestuffingDet').show();
        }
    }



    function ViewDestuffing(Index) {
        debugger;
        $('#ContainerNo').val(ArrayOfDestuffing[Index].ContainerNo);
        $('#CFSCode').val(ArrayOfDestuffing[Index].CFSCode);
        $('#Size').val(ArrayOfDestuffing[Index].Size);
        $('#LCLFCL').val(ArrayOfDestuffing[Index].LCLFCL);
        $('#LineNo').val(ArrayOfDestuffing[Index].LineNo);
        $('#BOENo').val(ArrayOfDestuffing[Index].BOENo);
        $('#BOEDate').val(ArrayOfDestuffing[Index].BOEDate);
        $('#CHANameId').val(ArrayOfDestuffing[Index].CHANameId);
        $('#CHA').val(ArrayOfDestuffing[Index].CHA);
        $('#ImporterId').val(ArrayOfDestuffing[Index].ImporterId);
        $('#Importer').val(ArrayOfDestuffing[Index].Importer);
        $('#CargoDescription').val(ArrayOfDestuffing[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfDestuffing[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfDestuffing[Index].GrossWeight);
        $('#Duty').val(ArrayOfDestuffing[Index].Duty);
        $('#CIFValue').val(ArrayOfDestuffing[Index].CIFValue);
        $('#WithoutDOSealNo').val(ArrayOfDestuffing[Index].WithoutDOSealNo);
        $('#Vessel').val(ArrayOfDestuffing[Index].Vessel);
        $('#Voyage').val(ArrayOfDestuffing[Index].Voyage);
        $('#DestuffingDtlId').val(ArrayOfDestuffing[Index].DestuffingDtlId);
        ArrayOfDestuffing[Index].IsInsured == 0 ? $('#IsInsured').prop("checked", false) : $('#IsInsured').prop("checked", true);
       // $('#CustomAppraisementDtlId').val(ArrayOfDestuffing[Index].CustomAppraisementDtlId);
    }




</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "DestuffingOnSuccess";
    options.OnFailure = "DestuffingOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                    <div >
                        @Html.HiddenFor(m => m.DestuffingXML)
                        @Html.Hidden("DestuffingDtlId")
                        @Html.HiddenFor(m => m.DestuffingId)
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Destuffing Application</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Container", "", new { @class = "form-control input-sm", @readonly = true })
                                    @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Destuffing No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.DestuffingNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Destuffing Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img col_cus_2_5">
                                    @Html.TextBoxFor(m => m.DestuffingDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DestuffingDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div id="DivShippingLine" class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CHA:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.HiddenFor(m => m.CHAId)
                                    @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAHdrModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div id="DivRotation" class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Rotation:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>FOB:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Fob, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.Fob, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                    <label>Gross Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.GrossDuty, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.GrossDuty, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("DeliveryType", "1", new { @class = "", @id = "CargoDelivery", @disabled = true })
                                        <label for="CargoDelivery"><i class="circle"></i><span>Cargo Delivery</span></label>
                                    </div>
                                </div>
                                <div class="col-md-2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("DeliveryType", "2", new { @class = "", @id = "ContainerDelivery", @disabled = true })
                                        <label for="ContainerDelivery"><i class="circle"></i><span>Container Delivery</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("IsDO", "1", new { @class = "", @id = "WithDo", @disabled = true })
                                        <label for="WithDo"><i class="circle"></i><span>With Do</span></label>
                                    </div>
                                </div>
                                <div class="col-md-2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("IsDO", "2", new { @class = "", @id = "WithoutDO", @disabled = true })
                                        <label for="WithoutDO"><i class="circle"></i><span>Without DO</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="DivDestuffingDet" class="Head_h5">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>CFS Code:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("CFSCode", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Container No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                        @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>*@
                                    </div>
                                    <div class="col-md-1">
                                        <label>Size:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2">
                                        @Html.DropDownList("Size", new List<SelectListItem> {
                                       new SelectListItem { Text="20",Value="20"},
                                       new SelectListItem {Text="40",Value="40" },
                                       new SelectListItem {Text="ODC",Value="ODC" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                        @Html.ValidationMessage("Size", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-0-5">
                                        <label>FCL/LCL:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("LCLFCL", new List<SelectListItem>{
                                        new SelectListItem {Text="FCL",Value="FCL" },
                                        new SelectListItem {Text="LCL",Value="LCL" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Voyage:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Voyage", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("Voyage", "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Line No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("LineNo", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div id="DivVessel" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Vessel:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBox("Vessel", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("Vessel", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>BOE No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("BOENo", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>BOE Date:</label>
                                    </div>
                                    <div class="col-md-2 Date_Img col_cus_2_5">
                                        @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>CHA Name And Address:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextArea("CHA", "", new { @class = "form-control input-sm", @readonly = true, @style = "width:100%;height:75px" })
                                        @Html.Hidden("CHANameId")
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Importer Name And Address:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextArea("Importer", "", new { @class = "form-control input-sm", @readonly = true, @style = "width:100%;height:75px" })
                                        @Html.Hidden("ImporterId")
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextArea("CargoDescription", "", new { @style = "width:100%;height:100px", @disabled = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>No of Packages:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Gross Weight:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>CIF Value:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("CIFValue", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Duty:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Duty", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Without DO Seal No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("WithoutDOSealNo", "", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label for="IsInsured">Insured:</label>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="boolean-container">
                                            @Html.CheckBox("IsInsured")
                                            <label for="IsInsured"><i class="square"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="button" id="BtnAddDestuffing" class="btn log_Btn_sm" value="Add" onclick="SaveDestuffingDtl()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn log_Btn_sm" value="Reset" />
                                </div>
                            </div>*@
                            <div id="DivDestuffingTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                            <table class="table table-striped table-bordered dataTable" id="TblDestuffingDet" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:10%;">@Html.DisplayName("SL No")</th>
                                        <th class="text-center">@Html.DisplayName("CFS No")</th>
                                        <th class="text-center">@Html.DisplayName("Container No")</th>
                                        <th class="text-center" style="width:10%;">@Html.DisplayName("View")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Back" onclick="ReloadDestuffingPage()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" style="background-color:transparent" id="DivDestuffingMsg"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivDestuffingErrMsg"></div>
            </div>
        </div>
    </div>
</div>






















































