@model CwcExim.Areas.Bond.Models.DndSpaceAvailCertExtend

<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivEditSpaceAvailExt">
                @using (Ajax.BeginForm("AddEditSpaceAvailCertExtend", "DndBond", new AjaxOptions { Confirm = "Are You Sure You Want To Save?", HttpMethod = "POST", OnSuccess = "SpaceAvailExtOnSuccess", OnFailure = "SpaceAvailExtOnFailure" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.SpaceappId)
                    @Html.HiddenFor(m => m.SpaceAvailCertExtId)
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Space Availability Certificate (Extend)</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>SAC No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.SacNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="SacSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SacModal"></i></span>
                                @Html.ValidationMessageFor(m => m.SacNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>SAC Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.SacDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.SacDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Area reserved (in Sq meters):</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.AreaReserved, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.AreaReserved, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Valid Upto:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ValidUpto, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ValidUpto, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Extend On:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ExtendOn, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ExtendOn, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4-5 col_cus_offset_3 col_cus_2">
                                <label>Extend Upto:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ExtendUpto, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ExtendUpto, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Application No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                @Html.LabelFor(m => m.ApplicationDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.ImporterName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ImporterName, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSpaceAvailExtSave" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Cancel" onclick="LoadSpaceAvailExt()" />
                        </div>
                    </div>
                    <div style="background-color:transparent" id="DivSpaceAvailExtMsg" class="logSuccMsg"></div>
                    <div style="background-color:transparent" id="DivSpaceAvailExtErrMsg" class="logErrMsg"></div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>

    $('#ExtendOn').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ValidUpto']").html('');
        }
    });

    var d=new Date(@Model.ValidUpto.ToString().Split('/')[2],@Model.ValidUpto.ToString().Split('/')[1]-1,@Model.ValidUpto.ToString().Split('/')[0]);
    d.setDate(d.getDate()+13);

    $('#ExtendUpto').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='SacDate']").html('');
        },
        minDate:d
    });

    function LoadSpaceAvailExt() {
        $('#DivBody').load('/Bond/DndBond/CreateSpaceAvailCertExtend');
    }

    function SpaceAvailExtOnSuccess(data) {
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSpaceAvailExtMsg').html(data.Message);
            setTimeout(LoadSpaceAvailExt, 5000);
        }
        else {
            $('#DivSpaceAvailExtErrMsg').html(data.Message);
        }
    }

    function SpaceAvailExtOnFailure() { }

    $('#BtnSpaceAvailExtSave').on("click", function () {
        debugger;
        if ($('#SacNo').val() == '') {
            $('[data-valmsg-for="SacNo"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        var ExtendOn = $('#ExtendOn').val();
        var ExtendUpto = $('#ExtendUpto').val();
        var ExtendOnDate = ExtendOn.split('/');
        var ExtendUptoDate = ExtendUpto.split('/');
        var ExtendOnDt = new Date(ExtendOnDate[2], (Number(ExtendOnDate[1]) - 1), ExtendOnDate[0]);
        var ExtendUptoDt = new Date(ExtendUptoDate[2], (Number(ExtendUptoDate[1]) - 1), ExtendUptoDate[0]);
        if (ExtendOnDt > ExtendUptoDt) {
            $('[data-valmsg-for="ExtendUpto"]').html('<span>Extend Upto Date Must Be Greater Than Extend On Date</span>');
            return false;
        }
    });

</script>

