@model CwcExim.Models.Announcement
<script>

    function EditAnnouncement(AnnounceId) {
        $('#DivBody').load('/Announcement/EditAnnounce?AnnounceId=' + AnnounceId);
    }
    $(document).ready(function () {
        var table = $('#AnnounceTable').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                { "sName": "Sl No", "width": "10%" },
                { "sName": "Title" },
                { "sName": "IsActive", "bSortable": false },
                { "sName": "Start Date", "bSortable": false },
                 { "sName": "End Date", "bSortable": false },
                { "sName": "Action", "bSortable": false }
            ],
            //"fnDrawCallback": function (oSettings) {
            //    $('[data-toggle="tooltip"]').tooltip();
            //}
            //responsive: true
        });
    });
</script>


@if (ViewBag.IsData == true)
{
      <table id="AnnounceTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Title</th>
                                    <th>IsActive</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var SerialNo = 1;
                                    foreach (var item in Model.LstAnnounce)
                                {
                                    <tr>
                                        <td>@SerialNo.ToString()</td>
                                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                       <td style="text-align:center"><a href="#" data-toggle="tooltip" data-placement="left" title="Edit" onclick="EditAnnouncement(@item.AnnounceId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                                    </tr>
                                        SerialNo += 1;
                                    }
                                }
                            </tbody>
                        </table>
              
}

