@model CwcExim.Models.Announcement
@{
    AjaxOptions objAjaxOpt = new AjaxOptions();
    objAjaxOpt.Confirm = "Are you sure you want to Save/Publish?";
    objAjaxOpt.HttpMethod = "POST";
    objAjaxOpt.OnSuccess = "AnnounceOnSuccess";
    objAjaxOpt.OnFailure = "AnnounceOnFailure";
    objAjaxOpt.InsertionMode = InsertionMode.InsertAfter;
}

<script>
    $(function () {
        $("#StartDate,#EndDate").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
</script>
@using (Ajax.BeginForm("AddEditAnnounce", "Announcement", objAjaxOpt))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.AnnounceId)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 ClearFix">
                <div class="row Con_Heading SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Add Announcement Details</h4>
                        <div class="Heading_Stoke"></div>
                    </div>
                </div>
                @*<div class="row">
                        <h4 style="background-color:#03364F;padding:3px;color:#fff;font-weight:600;text-align:left;margin:0px;padding:5px 10px;">Add Announcement Details</h4>
                    </div>*@
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(m => m.Title, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-md-10-5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(m => m.Description, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-md-10-5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(m => m.StartDate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-md-2-5 Date_Img">
                            <span class="ReQSimbol">*</span>
                            <span>@Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-sm", @readonly = true })</span>
                            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5">
                            <small>@Html.LabelFor(m => m.EndDate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-md-2-5 Date_Img">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(m => m.IsActive, new { @class = "InputLabel" })</small>
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(m=>m.IsActive,new { @class= "RegCheck",@style="margin-left:0px !important;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-4 col-md-2" style="text-align:center">
                        <input type="submit" id="BtnAnnounceSave" style="width:100%;" name="Command" value="Save" onclick="return valid()" class="btn Log_Btn" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="BtnAnnounceSubmit" style="width:100%;" name="Command" value="Publish" class="btn Log_Btn" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8" style="text-align:center;color:red;font-size:11px;">
                        <span id="SpnResult"></span>
                    </div>
                </div>
                <div class="logSuccMsg" style="background-color:transparent">
                    <div id="DivAnnounceMsg"></div>
                </div>
            </div>
        </div>

        <div id="divMsg"></div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    function valid()
    {
        debugger;
        var SD = new Date();
        var ED = new Date();
        SD = $('#StartDate').val();
        ED = $('#EndDate').val();
        if(ED<SD)
        {
            $("span[data-valmsg-for='EndDate']").html("<span for='EndDate'>End Date must be greater than or equal to Start Date</span>");
            return false;
        }
        return true;
    }
    function AnnounceOnFailure() { }
    function AnnounceOnSuccess(data)
    {
        debugger;
        if(data.Status==1)
        {
            $('#AnnounceId').val(data.Data);
            $('#BtnAnnounceSave').prop("disabled", true);
            $('#BtnAnnounceSubmit').prop("disabled", false);
            if ($('#DivAnnounceMsg').parent().hasClass('logErrMsg'))
                $('#DivAnnounceMsg').parent().removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivAnnounceMsg').html(data.Message);
        }
        else if(data.Status==2)
        {
            $('#BtnAnnounceSave').prop("disabled", true);
            $('#BtnAnnounceSubmit').prop("disabled", true);
            if ($('#DivAnnounceMsg').parent().hasClass('logErrMsg'))
                $('#DivAnnounceMsg').parent().removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivAnnounceMsg').html(data.Message);
        }
        else {
            $('#DivAnnounceMsg').html(data.Message);
        }
    }
</script>