@model IEnumerable<CwcExim.Areas.Export.Models.SpecialOperationReq>
<script type="text/javascript">
        $(document).ready(function(){
            $('#TblEximTrader').DataTable({
                "bFilter":false,
                "bInfo":false,
                "pageLength": 50,
                "aoColumns":[
                             {"sName":"SL No","width":"8%"},
                             {"sName":"ContainerNo"},
                             {"sName":"CFSCode"},
                             {"sName":"Size","bSortable":false},
                             {"sName":"SpclOprtnReqNo","bSortable":false,"width":"20%"},
                             {"sName":"PermissionDate"},                      
                             {"sName":"Edit","bSortable":false,"width":"10%"},
                             {"sName":"View","bSortable":false,"width":"10%"},                             
                             {"sName":"Delete","bSortable":false,"width":"10%"}
                ]
            });
            new $.fn.dataTable.FixedHeader(TblEximTrader);
        });
        function LoadSpecialOperationReqPage(){
            $('#DivBody').load('/Export/Dnode_CWCSpcloperationReq/SpclOperationRequest');
        }
        function ViewSpecialOperationReq(SpclOprtnReqId) {
            $('#DivBody').load('/Export/Dnode_CWCSpcloperationReq/ViewOperation?SpclOprtnReqId=' + SpclOprtnReqId);
        }
        function EditSpecialOperationReq(SpclOprtnReqId) {
            $('#DivBody').load('/Export/Dnode_CWCSpcloperationReq/EditSpclReq?SpclOprtnReqId=' + SpclOprtnReqId);
        }
        function DeleteSpecialOperationReq(SpclOprtnReqId){
            var Confirm=confirm("Are You Sure You Want To Delete?");
            if(Confirm==true){

                var Token=$('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '/Export/Dnode_CWCSpcloperationReq/DeleteSpcloperationReq',
                    headers:{'__RequestVerificationToken':Token},
                    data: { SpclOprtnReqId: SpclOprtnReqId },
                    type:'POST',
                    dataType:'JSON',
                    async:false,
                    success:function(data){
                        debugger;
                        if(data.Status==1){
                            alert(data.Message);
                            LoadSpecialOperationReqPage();
                        }
                        else if(data.Status==2||data.Status==3||data.Status==4){
                            alert(data.Message);
                        }
                    }
                });
            }
        }
</script>
<table id="TblEximTrader" class="table table-bordered table-striped nowrap" cellspacing="0">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.ContainerNo)</th>
            <th>@Html.DisplayNameFor(m => m.CFSCode)</th>
            <th>@Html.DisplayNameFor(m => m.Size)</th>
            <th>@Html.DisplayNameFor(m => m.SpclOprtnReqNo)</th>
            <th>@Html.DisplayNameFor(m => m.PermissionDate)</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>            
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@item.ContainerNo</td>
                    <td>@item.CFSCode</td>
                    <td>@item.Size</td>
                    <td>@item.SpclOprtnReqNo</td>
                    <td>@item.PermissionDate</td>
                    <td style="text-align:center"><a href="#" onclick="EditSpecialOperationReq(@item.SpclOprtnReqId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="ViewSpecialOperationReq(@item.SpclOprtnReqId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>                    
                    <td style="text-align:center"><a href="#" onclick="DeleteSpecialOperationReq(@item.SpclOprtnReqId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>