<!DOCTYPE html>
@*@{
        var BranchId = Session["BranchId"];
    }*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Images/favicon.gif" type="image/gif" sizes="16x16">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/unobtrusive")
    @*@Scripts.Render("~/Scripts/timepicker_slider.js");*@
    <script src="~/Scripts/timepicker_slider.js"></script>
    <script src="~/Scripts/md5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="~/Scripts/SmartDate.js"></script>

    <style>
        .top_header {
            background-color: #feecd8;
            padding-top: 1%;
        }

            .top_header img {
                width: 90%;
            }

        .logo_sec {
            margin-top: 10px;
        }

        .date_time {
            font-size: 11px;
        }

        #Time {
            width: auto;
        }

        .efct_logo {
            color: #f60200;
            font-family: 'Noto Sans TC', sans-serif;
            font-style: italic;
            position: relative;
            font-size: 24px;
        }

            .efct_logo img {
                width: 32.1%;
            }

            .efct_logo span {
                position: absolute;
                top: 5px;
                right: 40px;
                border: 1px solid red;
                width: 18px;
                height: 18px;
                font-size: 8px;
                border-radius: 50%;
                line-height: 17px;
                font-style: normal;
                text-align: center;
                font-weight: bold;
            }

        .brnch_name {
            font-size: 13px;
            text-transform: uppercase;
            padding-left: 5px;
            position: absolute;
            bottom: -37px;
            z-index: 999;
        }
    </style>
</head>
<body ondragstart="return false;" ondrop="return false;">
    <div id="wrapper">
        @if (Session["LoginUser"] == null)
        {
            <div class="top_header">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul class="logo_sec hidden-sm hidden-xs" style="padding:0;">
                        <li id="divBranch">
                            <h4 style="margin: -9px 0 0">
                                <span class="eng">
                                    @*<span class="cwc_welcome">Welcome to</span>*@
                                    <span class="efct_logo" id="efct_8" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">8.0</label></span>
                                    <span class="efct_logo" id="efct_9" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">9.0</label></span>
                                    <span class="efct_logo" id="efct_10" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">10.0</label></span>
                                    <span class="efct_logo" id="efct_11" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">11.0</label></span>
                                    <span class="efct_logo" id="efct_12" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">12.0</label></span>
                                    <span class="efct_logo" id="efct_13" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">13.0</label></span>
                                    <span class="efct_logo" id="efct_14" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">14.0</label></span>
                                    <span class="efct_logo" id="efct_15" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">15.0</label></span>
                                    <span class="efct_logo" id="efct_16" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">16.0</label></span>
                                    <span class="efct_logo" id="efct_17" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">17.0</label></span>
                                    <span class="efct_logo" id="efct_18" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">18.0</label></span>
                                    <span class="efct_logo" id="efct_19" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">19.0</label></span>
                                    <span class="efct_logo" id="efct_20" style="display:none;"><img src="~/Content/Images/effect_logo.png" /> <label style="font-weight:normal; font-style:normal; font-size: 32px; vertical-align: -webkit-baseline-middle;">20.0</label></span>
                                </span>
                            </h4>
                            <h4>
                                <label class="brnch_name">
                                    <span class="cwc_portal" id="LoadBrachType">
                                    </span>
                                    <span class="cwc_portal" id="LoadBrachName">
                                    </span>
                                </label>
                            </h4>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-7 col-sm-5 col-md-5 col-lg-5" style="text-align:center;"><img src="~/Content/Images/cwc-head.png" /></div>
                <div class="col-xs-5 col-sm-3 col-md-3 col-md-offset-1" style="text-align:right;">
                    <ul class="logo_sec">
                        <li class="col-xs-6 col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2" style="padding-right:0;"><a target="_blank" href="http://swachhbharatmission.gov.in/sbmcms/index.htm"><img src="~/Content/Images/SwachhBharat-Logo.png"></a></li>
                        <li class="col-xs-6 col-sm-5 col-md-5 col-lg-5" style="padding-right:0;"><a target="_blank" href="http://www.digitalindia.gov.in/"><img src="~/Content/Images/di_logo.png"></a></li>
                        <br class="clearfix" />
                    </ul>
                    <div class="clearfix"></div>
                    <p class="date_time"><span id="Date"></span> <span style="color:#fe9b35;">|</span> <span id="Time"></span></p>
                </div>
                <div class="clearfix"></div>
            </div>

        }
        <nav id="fixednav" class="navbar topNav">
            <div class="top-bar">
                <div class="navbar-header">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span id="Menu_btn" class="fa fa-2x fa fa-bars"></span>
                    </button>
                    @*<a class="visible-sm visible-xs navbar-brand">
                            <div>
                                <h4 id="divMobilBranch">
                                    <span class="eng">
                                        <span class="cwc_welcome">Welcome to</span><br />
                                        <span class="cwc_portal" id="LoadBrachTypeMobile" style="font-size:20px;">
                                        </span>
                                        <span class="cwc_portal" style="font-size:20px;text-transform:uppercase;padding-left:5px;" id="LoadBrachNameMobile">

                                        </span>
                                    </span>
                                </h4>
                            </div>
                        </a>*@
                    @if (Session["LoginUser"] != null)
                    {
                        <a class="navbar-brand">
                            <div class="logoWrap clearfix">
                                <img src="~/Content/Images/CWCPDF.PNG">
                                <span>|</span>
                                <div class="float-left">
                                    <h6>Exim Management System</h6>
                                    <h4 id="LoadBranchAfterLogin"></h4>
                                </div>
                            </div>

                            <ul class="aftr_lgn_branch hidden-sm hidden-xs">
                                <li id="divAfterLoginBranch">
                                    <h4>
                                        <span class="cwc_portal" id="LoadBranchAfterLogin" style="font-size:12px;text-transform:uppercase;">
                                        </span>
                                    </h4>
                                </li>
                            </ul>
                        </a>
                        <div style="text-align:right;margin-left:896px;margin-top:10px; display: none;">
                            <a href="javascript:void(0)" onclick="UserManualPage()" style="color:black;">User Manual</a>
                        </div>
                    }
                    <div class="dropdown visible-xs pull-right Mob_vs">
                        <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Home</a></li>
                            @if (Convert.ToInt32(Session["BranchId"]) == 2)
                            {
                                <li><a href="javascript:void(0)" onclick="TrackContainernPage()">Track your container</a></li>
                            }
                            @if (Convert.ToInt32(Session["BranchId"]) == 3)
                            {
                                <li><a href="javascript:void(0)" onclick="TrackContainernPageForPpg()">Track your container</a></li>
                            }
                            <li class="visible-xs"><a href="javascript:void(0)">Exim</a></li>
                            <li class="visible-xs"><a href="javascript:void(0)">Notification</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Login / Signup</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav navbar-nav hidden-xs pull-right navbar-log">
                    @*<li><a href="#" id="lang"><span class="l2">In English</span><span class="l1">हिंदी में</span></a></li>
                        <li><a href="#" class="font-button plus">A+</a></li>
                        <li><a href="#" class="font-button minus">A-</a></li>*@
                    @Html.Partial("_LoginPartial")
                    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                    @*<li><a href="#" onclick="LoadLoginPage()">Login</a></li>*@
                </ul>

                <button type="button" class="btn proNamebtn hidden-xs"><i class="fa fa-th" aria-hidden="true"></i> Exim</button>

                <button type="button" class="btn notifyIcon hidden-xs"><i class="fa fa-bell-o" aria-hidden="true"></i></button>

                <ul style="" class="nav navbar-nav navbar-center hidden-xs topRhtMenu" id="menubar">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (Convert.ToInt32(Session["BranchId"]) == 2)
                    {
                        <li><a href="javascript:void(0)" onclick="TrackContainernPage()">Track your container</a></li>
                    }
                    @if (Convert.ToInt32(Session["BranchId"]) == 3)
                    {
                        <li><a href="javascript:void(0)" onclick="TrackContainernPageForPpg()">Track your container</a></li>
                    }
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>*@
                </ul>
                @*<ul><li><a href="javascript:void(0)" onclick="UserManualPage()">User Manual</a></li></ul>*@
                @*<ul style="margin: 0 0 0 30px; float:right;" class="nav navbar-nav navbar-center hidden-xs" id="">
                        <li><a href="#">User Manual</a></li>
                    </ul>*@


            </div>
        </nav>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>

    <div id="trackcontainer" class="modal">
        <div class="modal-content log_modal_big">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivTrackContainer">
                </div>
            </div>
        </div>
    </div>

    <div id="DivSignupModal" class="modal">
        <div class="modal-content log_modal_big">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivSignUp">
                </div>
            </div>
        </div>
    </div>
    <div id="DivLoginModal" class="modal">
        <div class="modal-content log_modal">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivLogIn">
                </div>
            </div>
        </div>
    </div>
    <div id="DivUserCreationModal" class="modal">
        <div class="modal-content log_modal_big">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivUserCreation">
                </div>
            </div>
        </div>
    </div>
    <div id="DivForgotPasswordModal" class="modal">
        <div class="modal-content log_modal">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivForgotPassword">
                </div>
            </div>
        </div>
    </div>

    @*<div id="myModal" class="modalloader" style="display:none">
            <div class="modalloader-content">
                <div id="loading" style="width:100%;height:100%">
                    <img style="width:100%;height:100%" src="~/Content/Loader.gif" />
                </div>
            </div>
        </div>*@
    <div id="myModal" class="modalloader" style="display:none">
        <div class="modalloader-content">
            <div class='loader'>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--text'></div>
            </div>
        </div>
    </div>
    <div id="DivChangePasswordModal" class="modal">
        <div class="modal-content log_modal">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivChangePassword">
                </div>
            </div>
        </div>
    </div>

    <div id="DivEditProfileModal" class="modal">
        <div class="modal-content log_modal" style="width:50% !important;">
            <div class="modal-body" style="padding:0px;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div id="DivEditProfile">
                </div>
            </div>
        </div>
    </div>

    <div id="divUserManualModal" class="modal">
        <div class="modal-content log_modal_big" style="width: 30% !important;">
            <div class="modal-body" style="padding:0;">
                <button type="button" class="close" style="margin:5px 15px;" data-dismiss="modal"><i class="fa fa-times" style="color:#000;" aria-hidden="true"></i></button>
                <div class="row">
                    <div class="col-md-12 SignUp_head">
                        <h4>User  Manual</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-bottom:0px;">
                        <div class="singup_body clearfix">
                            <div class="Head_h4">
                                <div style="width:50%; margin: auto;">
                                    <div class="col-sm-12 Form_Space_top">
                                        <a href="javascript:void(0);" onclick="downloadFile()" style="text-align:center; text-decoration: none;">
                                            <img src="~/Content/Images/download_icon.png" style="width: 100%;" />
                                            <h5 style="text-transform: uppercase; margin: 0;">Download File</h5>
                                        </a>
                                    </div>
                                    <progress id="downloadProgress" value="0" max="100"></progress>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pageContent" style="display:none">
        <!-- All page content goes here. -->
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (Session["BrowserIdentity"] != null)
    {
        <script>
            window.sessionStorage.setItem('BrowserIdentity', '@Session["BrowserIdentity"].ToString()');
        </script>
    }

    <script src="~/Scripts/jquery.maskedinput.js"></script>

    <script type="text/javascript">

        var WebsiteUrl = '@System.Configuration.ConfigurationManager.AppSettings["WebsiteUrl"]';
        var closing = false;
        $(function () {
            $("a,input[type=submit]").click(function () { closing = false; });
            $(document).keydown(function (event) {
                if (event.altKey)
                    closing = true;
                else
                    closing = false;

            });
            //WebsiteUrl
            $("body").mouseover(function () {
                closing = false;
            }).mouseout(function () {
                closing = true;
            });
            //$(window).on('beforeunload', function () {
            //    if (closing) {
            //        jQuery.ajax({ url:  "/User/ClearSession", async: false });
            //    }
            //});
        });

        $(document).ajaxStart(function () {

            $('.modalloader').show();
        });
        $(document).ajaxComplete(function () {

        });
        $(document).ajaxSuccess(function () {
            $('.modalloader').hide();  // hide loading indicator
        });
        $(document).ajaxStop(function () {

            $('.modalloader').hide();  // hide loading indicator
        });
        $(document).ajaxError(function () {
            $('.modalloader').hide();  // hide loading indicator
        });

        var TrackConModal = document.getElementById('trackcontainer');
        var LoginModal = document.getElementById('DivLoginModal');
        var SignupModal = document.getElementById('DivSignupModal');
        var UserCreationModal = document.getElementById('DivUserCreationModal');
        var ForgotPasswordModal = document.getElementById('DivForgotPasswordModal');
        var UserManualModal = document.getElementById('divUserManualModal');

        $('.close').on("click", function () {
            TrackConModal.style.display = "none";
            LoginModal.style.display = "none";
            SignupModal.style.display = "none";
            UserCreationModal.style.display = "none";
            ForgotPasswordModal.style.display = "none";
            UserManualModal.style.display = "none";
        });
        //$(document).ajaxSend(function (e, xhr) {

        //    $.ajax({
        //        url: '/MainDashBoard/CheckSession',
        //        type: 'GET',
        //        global: false,
        //        success: function (Session) {

        //            if (Session.Status == 0) {
        //                $('#sidebar-wrapper').hide();
        //                $('input[type="button"').hide();
        //                $('.hamb-top').hide();
        //                $('.hamb-middle').hide();
        //                $('.hamb-bottom').hide();
        //                xhr.abort();
        //                window.location.replace('/MainDashBoard/Index');

        //            }
        //        },
        //        dataType: 'json'
        //    });
        //});

        $(document).ready(function () {
            function disableBack() { window.history.forward() }

            window.onload = disableBack();
            window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
            //window.onload = DetectPopupBlocker;

            $(this).bind("contextmenu", function (e) {
                e.preventDefault();
            });


            $(document).on('focus', ':input', function () {
                $(this).attr('autocomplete', 'off');
            });
        });

        //Load Change Password View
        function ChangePassword() {
            debugger;
            try {
                $('#DivChangePassword').load('/User/ChangePassword');
                $('#DivChangePasswordModal').show();
            }
            catch (e) {
                consol.log(e.message);
            }

        }

        function TrackContainernPage() {
            $('#trackcontainer').show();
            $('#DivTrackContainer').load('/Report/RptContainerStatus/LoadContainerStatus');
            // =BranchId
        }

        function TrackContainernPageForPpg() {
            $('#trackcontainer').show();
            $('#DivTrackContainer').load('/Report/RptContainerStatus/LoadContainerStatusForPpg');
            // =BranchId
        }

        //user manual
        function UserManualPage()
        {
            $('#divUserManualModal').show();
        }

        function downloadFile()
        {
            var fileUrl = '/Docs/USER MANUAL.zip';
            var xhr = new XMLHttpRequest();

            xhr.open('GET', fileUrl, true);
            xhr.responseType = 'blob';

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var blob = xhr.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'USER MANUAL.zip';

                    // Create a click event on the link to trigger the download
                    var clickEvent = new MouseEvent('click', {
                        bubbles: true,
                        cancelable: true,
                        view: window
                    });

                    link.dispatchEvent(clickEvent);
                }
            };

            xhr.onprogress = function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    updateProgressBar(percentComplete);
                }
            };

            xhr.send();
        }

        function updateProgressBar(percent) {
            var progressBar = document.getElementById('downloadProgress');
            progressBar.value = percent;
        }
        // Get the modal

        $('.close').on("click", function () {
            $('#DivChangePasswordModal').hide();
            $('#DivEditProfileModal').hide();
        });

        window.onclick = function (event) {
            if (event.target == $('#DivChangePasswordModal')) {
                backdrop: 'static'
            }
            if (event.target == $('#DivEditProfileModal')) {
                backdrop: 'static'
            }
        }


        function DetectPopupBlocker() {
            var windowUrl = 'about:blank';
            var windowId = 'TestPopup_' + new Date().getTime();
            var windowFeatures = 'left=0,top=0,width=1px,height=1px';
            //var windowRef = window.open(windowUrl, windowId, windowFeatures);
            var windowRef = window.open(null, "", windowFeatures);
            if (!windowRef) {
                alert('A popup blocker was detected. Please turn it off to use this application.');
            }
            else {
                // No popup blocker was detected...
                windowRef.close();
                document.getElementById('pageContent').style.display = 'block';
            }
        }

    </script>
    <noscript>
        <center>
            <h1>
                <font color=red>
                    <b>
                        This application uses JavaScript for its functionality. Please close your browser, enable JavaScript, and re-load this page to continue.
                    </b>
                </font>
            </h1>
        </center>
    </noscript>
    <script>
        function LoginWithId() {
            var ObjData = new Object();
            ObjData.LoginWithId = $('#TxtLoginId').val();
            if ($('#TxtLoginId').val() == '') {
                $('#DivLoginErr').html("Please Enter User Id");
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: "/User/CheckUser",
                    contentType: 'application/json',
                    dataType: "Json",
                    data: JSON.stringify(ObjData),
                    success: function (data) {

                        if (data.Status == 1) {

                            $('#DivSignUp').load('/User/SignUp?LoginWithId=' + $('#TxtLoginId').val());
                            $('#DivSignupModal').show();
                            $('#DivLoginModal').hide();

                        }
                        else {
                            $('#DivLoginErr').html(data.Msg);
                        }
                    }
                });
            }

        }

        function LoginWithoutId() {
            $('#DivUserCreation').load('/User/UserCreation');
            $('#DivUserCreationModal').show();
            $('#DivLoginModal').hide();

        }
        function Encrypt() {
            debugger;
            $('#HdnLoginPassword').val(md5($('#HdnLoginPassword').val()));
            //$('#HdnLoginPassword').val(md5($('#HdnLoginPassword').val()));

            return true;
        }

        function ForgotPassword() {
            $('#DivForgotPassword').load('/User/ForgotPassword');
            $('#DivForgotPasswordModal').show();
            $('#DivLoginModal').hide();
        }

        // Get the modal
        var TrackConModal = document.getElementById('trackcontainer');
        var LoginModal = document.getElementById('DivLoginModal');
        var SignupModal = document.getElementById('DivSignupModal');
        var UserCreationModal = document.getElementById('DivUserCreationModal');
        var ForgotPasswordModal = document.getElementById('DivForgotPasswordModal');
        $('.close').on("click", function () {
            TrackConModal.style.display = "none";
            LoginModal.style.display = "none";
            SignupModal.style.display = "none";
            UserCreationModal.style.display = "none";
            ForgotPasswordModal.style.display = "none";
        });

        window.onclick = function (event) {
            if (event.target == SignupModal) {
                backdrop: 'static'
            }
            if (event.target == TrackConModal) {
                TrackConModal.style.display = "none";
            }
            if (event.target == LoginModal) {
                LoginModal.style.display = "none";
            }
            if (event.target == UserCreationModal) {
                backdrop: 'static'
            }
            if (event.target == ForgotPasswordModal) {
                backdrop: 'static'
            }
        }
        function OnSuccess(data) {

            $('#DivLoginErr').html("");
            if (data.Status == 1) {

                if (data.RoleId == 1 || data.RoleId == 2) {
                    window.location = '/Admin/Index';
                }
                else {
                    // window.location = '/UserDashBoard/Index';
                    window.location = '/UserDashBoard/Index';
                }

            }
            else {
                $('#DivLoginErr').html(data.Msg);
                $("#LoginPassword").val("");
                if (data.Status == -2) {
                    //$('#btnLogin').hide();
                    //LoadCaptchaView();
                }
            }
        }
        function OnFailure() {
            $("#divMsg").append("<h3>Ajax request failed.</h3>");
        }
        $(document).ready(function () {
            //$('#demo').marquee({ direction: 'vertical', delay: 100, timing: 50 });

            $('#myCarousel').carousel({
                interval: 4000
            });
            //language change
            var lan = true;
            $('#lang').on('click', function () {

                if (lan) {
                    $('.l1').css("display", "none");
                    $('.l2').css("display", "block");
                    $('.eng').css("display", "none");
                    $('.hindi').css("display", "block");
                    lan = false;
                }
                else {
                    $('.l2').css("display", "none");
                    $('.l1').css("display", "block");
                    $('.hindi').css("display", "none");
                    $('.eng').css("display", "block");
                    lan = true;
                }
            });
            // scroll slides on mouse scroll
            $('#myCarousel').bind('mousewheel DOMMouseScroll', function (e) {

                if (e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
                    $(this).carousel('prev');
                }
                else {
                    $(this).carousel('next');
                }
            });

            //scroll slides on swipe for touch enabled devices

            $("#myCarousel").on("touchstart", function (event) {

                var yClick = event.originalEvent.touches[0].pageY;
                $(this).one("touchmove", function (event) {

                    var yMove = event.originalEvent.touches[0].pageY;
                    if (Math.floor(yClick - yMove) > 1) {
                        $(".carousel").carousel('next');
                    }
                    else if (Math.floor(yClick - yMove) < -1) {
                        $(".carousel").carousel('prev');
                    }
                });
                $(".carousel").on("touchend", function () {
                    $(this).off("touchmove");
                });
            });
            $(function () {
                $(".font-button").bind("click", function () {
                    var size = parseInt($('body').css("font-size"));
                    if ($(this).hasClass("plus")) {
                        size = size + 2;
                        if (size >= 12) {
                            size = 14;
                        }
                    } else {
                        size = size - 2;
                        if (size <= 10) {
                            size = 10;
                        }
                    }
                    $('body').css("font-size", size);
                });
            });

            $('.sidebar-nav li a').click(function () {
                $(this).addClass('navactive');
                $('.sidebar-nav li a').not(this).removeClass('navactive');
            });


            if (@Session["BranchId"] == 1)
            {
                $('#efct_8').show();
            }

            else if (@Session["BranchId"] == 2)
            {
                $('#efct_9').show();
            }

            else if (@Session["BranchId"] == 3)
            {
                $('#efct_10').show();
            }

            else if (@Session["BranchId"] == 4)
            {
                $('#efct_11').show();
            }

            else if (@Session["BranchId"] == 5)
            {
                $('#efct_12').show();
            }

            else if (@Session["BranchId"] == 6)
            {
                $('#efct_13').show();
            }

            else if (@Session["BranchId"] == 9)
            {
                $('#efct_13').show();
            }

            else if (@Session["BranchId"] == 7)
            {
                $('#efct_14').show();
            }

            else if (@Session["BranchId"] == 12)
            {
                $('#efct_15').show();
            }

            else if (@Session["BranchId"] == 10)
            {
                $('#efct_16').show();
            }

            else if (@Session["BranchId"] == 13)
            {
                $('#efct_18').show();
            }

            else if (@Session["BranchId"] == 14)
            {
                $('#efct_19').show();
            }

            else if (@Session["BranchId"] == 15)
            {
                $('#efct_20').show();
            }


        });
        @*var SubDomain = '@System.Configuration.ConfigurationManager.AppSettings["SubDomain"]';
    var BranchId = '@System.Configuration.Session["BranchId"]';*@
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var t_sdate = dd + '/' + mm + '/' + yyyy;
        var sptdate = String(t_sdate).split("/");
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var myMonth = sptdate[1];
        var myDay = sptdate[0];
        var myYear = sptdate[2];
        var combineDatestr = myDay + "-" + months[myMonth - 1] + "-" + myYear;
        $("#Date").html(combineDatestr);

        $(function () {
            var time = new Date();
            time = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
            $("#Time").html(time);
            var t = setTimeout(startTime, 100);

        });
        function startTime() {
            var time = new Date();
            time = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
            $("#Time").html(time);
            setTimeout(startTime, 100);
        }
    </script>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularScript/App.js"></script>
</body>
</html>