@model CwcExim.Areas.CashManagement.Models.WFLD_ReservationIndividual
@*@if (ViewBag.PaymentParty != null)
    {
        <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
    }
    else
    {
        <input type="hidden" id="hdnPartyPayee" value="" />
    }
    @if (ViewBag.ChemicalLst != null)
    {
        <input type="hidden" id="hdnChemical" value="@ViewBag.ChemicalLst" />
    }
    else
    {
        <input type="hidden" id="hdnChemical" value="" />
    }*@
@using (Ajax.BeginForm("AddEditRevInvoiceIndividual", "WFLD_CashManagement",
                new AjaxOptions
                {
                    HttpMethod = "POST",

                    OnSuccess = "PaymentOnSuccess",
                    OnFailure = "PaymentOnFailure"
                }
                @*, new { @Id = "FumiInvoice" }*@))
{
    @Html.AntiForgeryToken()
  
 
    @Html.Hidden("ReservationInvModelJson")

    <style>
        #tblParty.dataTable tbody > tr > td {
            cursor: pointer;
        }

        #tblPayee.dataTable tbody > tr > td {
            cursor: pointer;
        }
    </style>


    <div id="DivCreateStuffingReq" class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Reservation Invoice Individual</h4>
                        </div>
                    </div>
                  
                 

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">

                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-3-5 col_cus_offset_3 col_cus_2">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                                @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                @Html.TextBoxFor(m => m.DeliveryDate, new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm"),tabindex=1 })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>Select Space Type:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.HiddenFor(m => m.ReservationChargesXML)
                                @Html.HiddenFor(m => m.Round_up)
                                @Html.HiddenFor(m => m.InvoiceAmt)
                                @Html.HiddenFor(m => m.Total)
                                @Html.HiddenFor(m => m.CGST)
                                @Html.HiddenFor(m => m.SGST)
                                @Html.HiddenFor(m => m.IGST)
                                @Html.HiddenFor(m =>m.SpaceType)
                                @Html.Hidden("SezValue")
                                @Html.Hidden("ServiceType")
                                @Html.Hidden("hdnModule")
                                @Html.DropDownListFor(m => m.OperationType, new List<SelectListItem> {
                       new SelectListItem { Text="General",Value="General"},
                       new SelectListItem { Text="High Secured",Value="High Secured"},
                        new SelectListItem { Text="Air Conditioned",Value="Air Conditioned"}
                   }, "----Select----", new { @class = "form-contol input-sm dropdown", tabindex = 2 })
                                @Html.ValidationMessageFor(m => m.OperationType, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>Godown Name:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.HiddenFor(m => m.GodownId)

                                @*@Html.HiddenFor(m => m.PartyId)*@
                             
                                @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true , tabindex =3, onkeydown = "PopupActivate('ContainerModal');" })

                                <span class="search" id="ContainerSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                @*<span style="color:red" id="ErrPartyName"></span>*@
                            </div>


                            <div class="col-md-1-5 col-md-offset-1-5 col_cus_offset_3 col_cus_2">
                                <label>Godown Type:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                                @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                @Html.TextBoxFor(m => m.GodownType, new { @readonly = true })
                            </div>
                        </div>
                    </div>

            

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>From Date:</label>
                            </div>
                            <div class="col-md-2 Date_Img">
                                @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.FromDate, new { @readonly = true, tabindex = 4, Value = DateTime.Now.ToString("dd/MM/yyyy") })
                                @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })


                               </div>
                            <div class="col-md-1-5">
                                <label>To Date:</label>
                            </div>
                            <div class="col-md-2 Date_Img">
                                @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                                @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                @Html.TextBoxFor(m => m.ToDate, new { @readonly = true, tabindex = 5,Value = DateTime.Now.ToString("dd/MM/yyyy") })
                                @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })


                                </div>

                            <div class="col-md-1-5 col_cus_2">
                                <label>AREA(SQM):</label>
                            </div>
                            <div class="col-md-2">
                                @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.SQM,"0", new { tabindex = 6 })
                                @Html.ValidationMessageFor(m => m.SQM, "", new { @class = "Error_Msg" })


                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>Cargo Type:</label>
                            </div>
                            <div class="col-md-2">                             
                                @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem> {
                       new SelectListItem { Text="NON-HAZ",Value="2"},
                       new SelectListItem { Text="HAZ",Value="1"},                       
                         new SelectListItem { Text="ODC",Value="3"}
                   }, new { @class = "form-contol input-sm dropdown", tabindex = 7})
                            </div>
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(x=>x.Term, new { tabindex = 8 })
                                    <label for="Term"><i class="square"></i><span>Term</span></label>
                                </div>
                                </div>
                            </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>Party Name:</label>
                            </div>
                            <div class="col-md-5">
                                @*@Html.HiddenFor(m => m.PartyId)*@
                                @Html.HiddenFor(m => m.PartyId)
                                @Html.HiddenFor(m =>m.StateCode)
                                @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", tabindex = 9, @readonly = true,onkeydown = "PopupActivate('PartyModal');" })

                                <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                @Html.ValidationMessageFor(m => m.PartyName, "", new { @class = "Error_Msg" })
                                @*<span style="color:red" id="ErrPartyName"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>Payee Name:</label>
                            </div>
                            <div class="col-md-5">
                                @*@Html.HiddenFor(m => m.PayeeId)*@
                                @Html.HiddenFor(m => m.PayeeId)
                                @*@Html.TextBoxFor(m => m.PayeeName, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control input-sm", @readonly = true, tabindex = 10,@onfocus = "hideMsg(this)", onkeydown = "PopupActivate('PayeeModal');" })

                                <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>

                                @Html.ValidationMessageFor(m => m.PayeeName, "", new { @class = "Error_Msg" })
                                @*<span style="color:red" id="ErrPayeeName"></span>*@
                            </div>
                        </div>
                    </div>



                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label> Place Of Supply:</label>
                            </div>
                            <div class="col-md-2">
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.PlaceOfSupply, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5">
                              <label>SEZ:</label>
                            </div>  
                            <div class="col-md-2">
                                @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                            </div>  

                        </div>
                    </div>



                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-2">
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })
                            </div>
                            <div class="col-md-3-5">
                                <input class="btn log_Btn_sm" aria-hidden="true" data-toggle="modal" data-target="#Containerdtl" id="CalculateBtn" type="button" tabindex = 9 value="Calculate" onclick="GenerateInvoice()" />
                            </div>

                        </div>
                    </div>

                    

                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Charges</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">HSNCode</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="9" class="text-right">Total:</td>
                                            <td><input type="text" id="TOTCWCChrg" value="0" class="text-right"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col-md-1-5">
                                <label>Total Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col-md-1-5">
                                <label>Round Up:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-8 col-md-1-5">
                                <label>Invoice Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @*@Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;" })*@
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;", @maxlength = "500", tabindex = 10 })
                            </div>
                        </div>
                    </div>




                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivMiscInvMsg" style="background-color:transparent"></div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-1-5 col-md-2">
                            <input type="button" value="Save" class="btn log_Btn_sm" id="btnSave" tabindex =11 />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()"  tabindex = 12/>
                        </div>
                        <div class="col-md-3">
                            <input type="button" id="BtnGenerateIRN" class="btn log_Btn_sm" value="Generate IRN" onclick="GenerateIRN()" disabled="disabled" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Print" class="btn log_Btn_sm" onclick="Print()" id="btnPrint" disabled tabindex = 13 />
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-offset-4 col-md-2">
                                <input type="text" placeholder="Search by Invoice No" id="SearchInvoiceNo" />
                            </div>
                            <div class="col-md-2">
                                <input type="text" placeholder="Date (dd/mm/yyyy)" id="SearchInvoiceDate" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12" id="DivListOfInvoice">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <td>Sl No</td>
                                            <td>Invoice No</td>
                                            <td>Invoice Date</td>
                                            <td>Party Name</td>
                                            <td>Print</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivDeliveryAppList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#slim_scroll').slimScroll({
                allowPageScroll: true
            });

            $('#OperationType').focus();
        });

        $(function () {
            $('#slim_scroll_1').slimScroll({
                allowPageScroll: true
            });
        });

        function PopupActivate(Id) {
            debugger;
            var CharCode;
            if (window.event) {
                CharCode = window.event.keyCode;
            }
            else {
                CharCode = evt.which;
            }

            if (CharCode == 32) {


                if (Id == "ContainerModal") {
                    loadGodown();
                }

                if (Id == "PartyModal") {
                    LoadParty();
                }

                if (Id == "PayeeModal") {
                    LoadPayee();
                }
                


                $('#' + Id).modal('show');
                if (Id == "ContainerModal") {
                    debugger;
                    $('#Containerbox').focus();
                }

                if (Id == "PartyModal") {
                    debugger;
                    $('#boxParty').focus();
                }

                if (Id == "PayeeModal") {
                    debugger;
                    $('#boxPayee').focus();
                }

                           }




        }

        $('#ContainerModal').on('shown.bs.modal', function () {
            $('#Containerbox').focus();

        });
        $('#PartyModal').on('shown.bs.modal', function () {
            $('#boxParty').focus();

        });
        $('#PayeeModal').on('shown.bs.modal', function () {
            $('#boxPayee').focus();

        });
    </script>

    <div id="ContainerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Godown</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Containerbox" tabindex="100" type="text" />
                    <ul class="navList" id="lstContainer">
                        @*@{
                            foreach (var item in Model.lstGodownList)
                            {
                            <li id="@item.GodownId">@item.GodownName</li>
                            }
                            }*@
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="modal fade" id="PartyModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseParty()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Party</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Party Name Or Party Code" id="boxParty" type="text" tabindex="200" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Party Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tblParty">
                            <tbody>
                                @if (ViewBag.lstParty != null)
                                {
                                    foreach (var i in ViewBag.lstParty)
                                    {

                                        <tr onclick="SelectEximTrader(@i.EximTraderId,'@i.EximTraderName','@i.GSTNo','@i.StateCode','@i.StateName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@i.EximTraderName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@i.PartyCode</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMoreParty">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMoreParty" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <button type="button" style="width:100%; margin-left:0;" class="btn log_Btn_sm" onclick="CloseParty()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="PayeeModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="ClosePayee()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Payee</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Party Name Or Party Code" id="boxPayee" type="text" tabindex="300" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPayeeCode()"></i></span>

                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Payee Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>

                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tblPayee">
                            <tbody>
                                @if (ViewBag.lstExim != null)
                                {
                                    foreach (var i in ViewBag.lstExim)
                                    {
                                        <tr onclick="SelectEximTrader(@i.EximTraderId,'@i.EximTraderName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@i.EximTraderName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@i.PartyCode</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadMorePayee">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadMorePayee" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <button type="button" style="width:100%; margin-left:0;" class="btn log_Btn_sm" onclick="ClosePayee()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    var TimeInSeconds;
    $(document).ready(function () {
       
        TimeInSeconds = 5000;
        $('#DeliveryDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }



        });

        $('#FromDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }



        });

        $('#ToDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }



        });

        // PartyBinding();
        //  PayeeBinding();
        //   ChemicalBinding();
    });

    $("#DeliveryDate").on('keypress', function () {

        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            $("#DeliveryDate").datepicker("show");
        }
    });

    $("#FromDate").on('keypress', function () {

        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            $("#FromDate").datepicker("show");
        }
    });

    $("#ToDate").on('keypress', function () {

        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            $("#ToDate").datepicker("show");
        }
    });
    function SelectEximTrader(EximTraderId, EximTraderName) {
        $('#EximTraderName').val(EximTraderName);
        $('#EximTraderId').val(EximTraderId);
        $("#PayeeModal").modal("hide");
        $("#PartyModal").modal("hide");
        $('#box').val('');
        LoadEximTrader();
    }
    function PartyBinding() {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstParty').html(html);
    }
   $('#btnSave').on("click", function () {
       debugger;
       if ($('#PartyName').val() == '') {
           // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
           $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
           return false;
       }
       else if ($('#PayeeName').val() == '') {
           //   $('[data-valmsg-for="PayeeName"]').html('<span>Fill Out This Field</span>');
           $('[data-valmsg-for="PayeeName"]').html('<span>Fill Out This Field</span>');
           return false;
       }
       else if ($('#OperationType').val() == '') {
           $('[data-valmsg-for="OperationType"]').html('<span>Fill Out This Field</span>');
           return false;
       }

    
           $('#SezValue').val($('#SEZ').val());
     
     

        if (confirm("Are You Sure You Want To Save?")) {
            $('#btnSave').attr('disabled', true);
            debugger;
            $('#ReservationChargesXML').val(JSON.stringify(chargearr));
          
            $('#btnSave').submit();
        }

    });

    var ContData = "";
    $('#ContainerSearch').on("click", function () {
        debugger;
        var Sptype = $('#OperationType').val();
        $.ajax({
            url: '@Url.Action("ListOfGodown", "VLDA_CashManagement", new { Area = "CashManagement" })',
            dataType: 'JSON',
            type: 'GET',
            data: {
                SpaceType: Sptype
            },
            success: function (data) {
                debugger;

                var html = '';
                ContData = data;
                var tabvalue = 101;
                $.each(data, function (i, item) {
                    html += '<li tabindex=' + tabvalue + '  id="' + item.GodownId + '" onkeypress="GetGodownDetailsKeyPress(this)"      onclick="GetGodownDetails(this)">' + item.GodownName + '</li>';
                    tabvalue++;
                });
                $('#lstContainer').html(html);
            }
        });

    });


    function loadGodown()
    {

        $.ajax({
            url: '@Url.Action("ListOfGodown", "VLDA_CashManagement", new { Area = "CashManagement" })',
            dataType: 'JSON',
            type: 'GET',
            data: {
                SpaceType: Sptype
            },
            success: function (data) {
                debugger;

                var html = '';
                ContData = data;
                var tabvalue = 101;
                $.each(data, function (i, item) {
                    html += '<li tabindex=' + tabvalue + '  id="' + item.GodownId + '" onkeypress="GetGodownDetailsKeyPress(this)"      onclick="GetGodownDetails(this)">' + item.GodownName + '</li>';
                    tabvalue++;
                });
                $('#lstContainer').html(html);
            }
        });
    }

    function GetGodownDetailsKeyPress(elem) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 13) {
            var con = $(elem).text();
            
            $('#GodownName').val(con);
            $('#GodownId').val($(elem).attr('id'))
            var conDetails = $.grep(ContData, function (item) { return item.GodownId == $(elem).attr('id') })[0];

            $('#GodownType').val(conDetails.OperationType);
           



            $("#ContainerModal").modal("hide");
            $('#FromDate').focus();
        }
    }
    


    function GetGodownDetails(elem) {
        debugger;
        var con = $(elem).text();
       
        $('#GodownName').val(con);
        $('#GodownId').val($(elem).attr('id'))
        var conDetails = $.grep(ContData, function (item) { return item.GodownId == $(elem).attr('id') })[0];

        $('#GodownType').val(conDetails.OperationType);




        $("#ContainerModal").modal("hide");
        $('#FromDate').focus();
    }

    var PartyDet = "";
    $('#PartySearch').on("click", function () {
        debugger;
        LoadParty();
        @*$.ajax({
            url: '@Url.Action("ListOfParty", "Ppg_CashManagement", new { Area = "CashManagement" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                PartyDet = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.PartyId + '" " onclick="GetParty(this)">' + item.PartyName + '</li>';
                });
                $('#lstParty').html(html);
            },

            error: function (response) {
                debugger;
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });*@

    });
    function GetParty(elem) {
        debugger;
        $('#PartyName').val($(elem).text());
        $('#PartyId').val($(elem).attr('id'))


        var PartyDetails = $.grep(PartyDet, function (item) { return item.PartyId == $(elem).attr('id') })[0];
        $('#GSTNo').val(PartyDetails.GstNo);
        $('#StateCode').val(PartyDetails.StateCode);
        $("#PartyModal").modal("hide");


    }


    $('#PayeeSearch').on("click", function () {
        debugger;
        LoadPayee();
        @*$.ajax({
            url: '@Url.Action("ListOfParty", "Ppg_CashManagement", new { Area = "CashManagement" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;

                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.PartyId + '" " onclick="GetPayee(this)">' + item.PartyName + '</li>';
                });
                $('#lstPayee').html(html);
            }
        });*@

    });
    function GetPayee(elem) {
        debugger;
        $('#PayeeName').val($(elem).text());
        $('#PayeeId').val($(elem).attr('id'))

        $("#PayeeModal").modal("hide");

    }



    $('#ChargeSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ListOfCharge", "VLDA_CashManagement", new { Area = "CashManagement" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;

                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.ChargeId + '" " onclick="GetCharge(this)">' + item.ChargeName + '</li>';
                });
                $('#lstCharge').html(html);
            }
        });

    });
    function GetCharge(elem) {
        debugger;
        $('#ChargeName').val($(elem).text());
        $('#ChargeId').val($(elem).attr('id'))

        $("#ChargeModal").modal("hide");
        GetAmount($('#ChargeId').val(), $('#ChargeName').val(), $('#Size').val(), $('#FromDate').val(), $('#ToDate').val());
    }

    $('#Chargebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCharge > li').show();
        else {
            $('#lstCharge > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });


    function GetAmount(cid, cname, size, fromdt, todt) {
        $.ajax({
            url: '@Url.Action("GetAmount", "VLDA_CashManagement", new { Area = "CashManagement" })',
            dataType: 'JSON',
            type: 'GET',
            data: {
                ChargeId: cid, ChargeName: cname, Size: size, FromDate: fromdt, ToDate: todt
            },
            success: function (data) {
                debugger;
                $('#Amount').val(data);


            }
        });
    }

   
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });



    $('#Containerbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainer > li').show();
        else {
            $('#lstContainer > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

   


   
    function selectParty(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        $('#PartyName').val(Party.PartyName);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#MiscInvModelJson').val() != null && $('#MiscInvModelJson').val() != '' && $('#MiscInvModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#MiscInvModelJson').val());

            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.GSTNo = $('#GSTNo').val();

            $('#MiscInvModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
        $('[data-valmsg-for="PartyName"]').html('<span></span>');

        var val = $('#FumigationChargeType').val();

        if (val == "Cargo" || val == "Container") {
            FumigationChargeType = $('#FumigationChargeType').val();
            InvoiceType = $("input[name='InvoiceType']:checked").val();;
            PartyId = $('#PartyId').val();
            Fumigation(FumigationChargeType, InvoiceType, PartyId);
        }

    }
    
    $('#btnGet').on("click", function () {
        debugger;

        $('#btnAddFormOneDet').prop("disabled", true);

        InvoiceType = $("input[name='InvoiceType']:checked").val();;
        PartyId = $('#PartyId').val();
        var Tamt = 0;
        $.each(ArrayOfChemicalDetails, function (i, item) {
            Tamt = Tamt + parseFloat(item.Amount);

        });


        TotalChrgAmount = Tamt;



        $.ajax({
            url: '/CashManagement/VLDA_CashManagement/GetDebitInvoice',
            type: 'POST',
            async: false,
            datatype: JSON,
            data: { InvoiceType: InvoiceType, PartyId: PartyId, TotalChrgAmount: TotalChrgAmount, Charges: $('#ChargeNM').val() },
            success: function (data) {
                // debugger;
                if (data != undefined || data != null) {
                    // debugger;
                    //alert(data);

                    populateJsondata(data);


                }
                else {
                    alert("fail");
                    //  $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGate');
                }

            }
        });

    })

    function populateJsondata(data) {
        debugger;
        $("#TotalChrgAmount").val(data.TotalChrgAmount);
        $("#CGST").val(data.CGST);

        $("#SGST").val(data.SGST);
        $("#IGST").val(data.IGST);

        $("#Round_up").val(data.Round_up);
        $("#IGSTPER").val(data.IGSTPER);
        $("#SGSTPER").val(data.SGSTPER);
        $("#CGSTPER").val(data.CGSTPER);
        $("#Total").val(data.Total);


    }
    function PayeeBinding() {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());

        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstPayee').html(html);
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Party.PartyName);
        $("#PayeeModal").modal("hide");
        $('[data-valmsg-for="PayeeName"]').html('<span></span>');
    }

   
    //calculate total amount
    function caltotal() {
        var amt = $('#Amount').val();
        var round =0;
        var rounduptot = amt;

        $('#Round_up').val(round.toFixed(2));
        $('#Total').val(rounduptot);
        $('#CGST').val('0.00');
        $('#SGST').val('0.00');
        $('#IGST').val('0.00');
    }

    //calculate tax

    function caltax() {
        var cgst = $('#CGST').val();
        var sgst = $('#SGST').val();
        var igst = $('#IGST').val();
        var amt = $('#Amount').val();
        if (amt != '') {
            var totamt = 0;
            if (cgst == '')
                cgst = 0;


            if (sgst == '')
                sgst = 0;

            if (igst == '')
                igst = 0;


            totamt = parseFloat(amt) + parseFloat(cgst) + parseFloat(sgst) + parseFloat(igst);

            var round = 0;
            var rounduptot = totamt;

            $('#Round_up').val(round.toFixed(2));
            $('#Total').val(rounduptot);

            if (cgst > 0 || sgst > 0) {
                $('#IGST').prop('readonly', true);
            }

            if (igst > 0) {
                cgst = 0;
                sgst = 0;
                $('#CGST').prop('readonly', true);
                $('#SGST').prop('readonly', true);
            }

        }
    }
    var ArrayOfChemicalDetails = [];
    var TotalAmt = 0;
    function AddChemical() {




        if (ValidateChemicalDet()) {
            $('#ErrChemicalName,#ErrQuantity').html('');

            var ChemicalDetails = {
                "ChargeId": $('#ChargeId').val(),
                "ChargeName": $('#ChargeName').val(),
                "Amount": $('#Amount').val()

            };
            /*if (EditIndex > -1)
                ArrayOfContainerDetails.splice(EditIndex, 1, ContainerDetails);
            else*/

            var flag = 0;
            $('#ChargeNM').val($('#ChargeName').val());
            $.each(ArrayOfChemicalDetails, function (i, item) {
                if (item.ChargeId == ChemicalDetails.ChargeId) {
                    flag = 1;

                }

            });


            if (flag == 0) {
                ArrayOfChemicalDetails.push(ChemicalDetails);
                // TotalAmt = parseFloat(TotalAmt)+ parseFloat($('#Amount').val());
            }
            else alert('Charge already exists')

            $('#tblCheDet').html('');

            $('#ChargeName, #Amount').val('');
            GenerateTable();
            //  $('#TotalChrgAmount').val(TotalAmt)
            //ResetFormOneDet();
            // ResetFormOneDetPartial();
        }
    }

    //function GenerateTable() {
    //    var tablehtml = '<table id="tblCheDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
    //        + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Chemical Name</th><th>Quantity</th><th style="width:10%;text-align:center;">Edit</th><th style="width:10%;text-align:center;">View</th></tr>'
    //        + '</thead><tbody>';
    //    $.each(ArrayOfChemicalDetails, function (i, data) {
    //        tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ChemicalName + '</td><td>' + data.Quantity + '</td>'
    //            + '<td style="text-align:center;"><a href="#" onclick="EditChemicalDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td>'
    //            + '<td style="text-align:center;"><a href="#" onclick="ViewChemicalDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
    //    });
    //    tablehtml += '</tbody></table>';
    //    $('#tblCheDet').html(tablehtml);

    //    if (ArrayOfChemicalDetails.length > 0) {
    //        $('#ChemicalDetails').val(JSON.stringify(ArrayOfChemicalDetails));
    //    }
    //    else {
    //        $('#ChemicalDetails').val('');
    //    }
    //}

    function GenerateTable() {
        var tablehtml = '<table id="tblCheDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Charge Name</th><th>Amount</th><th style="width:10%;text-align:center;">Edit</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfChemicalDetails, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ChargeName + '</td><td>' + data.Amount + '</td>'
                + '<td style="text-align:center;"><a href="#" onclick="EditChemicalDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblCheDet').html(tablehtml);

        if (ArrayOfChemicalDetails.length > 0) {
            $('#ChemicalDetails').val(JSON.stringify(ArrayOfChemicalDetails));
        }
        else {
            $('#ChemicalDetails').val('');
        }
    }

    function ResetChemical() {

        $('#ChargeName, #Amount').val('');

    }


    function ResetChemicalDet() {

        $('#Container').val('');


    }

    function EditChemicalDet(i) {
        debugger;
        if ($('#ChargeName').val() == '') {
            $('#btnAddFormOneDet').prop("disabled", false);
            $('#ChargeName').val(ArrayOfChemicalDetails[i].ChargeName);
            $('#ChargeId').val(ArrayOfChemicalDetails[i].ChargeId);
            $('#Amount').val(ArrayOfChemicalDetails[i].Amount);

            ArrayOfChemicalDetails.splice(i, 1);
            GenerateTable();
        }
        else
            alert('Cannot see the second edit as already first edit opened');

    }
    function ViewChemicalDet(i) {
        if ($('#ChargeName').val() == '') {
            $('#ChargeId').val(ArrayOfChemicalDetails[i].ChargeId);
            $('#ChargeName').val(ArrayOfChemicalDetails[i].ChargeName);
            $('#Amount').val(ArrayOfChemicalDetails[i].Amount);
            $('#btnAddFormOneDet').prop("disabled", true);
        }
        else
            alert('Cannot see the second view as already first view opened');
    }
    function hideMsg(elem) {
        $(elem).parent().find(".field-validation-error").html(" ");
    }
    function ValidateChemicalDet() {
        debugger;
        var Status = true;
        if ($('#ChargeName').val() == "") {
            $('#ErrChemicalName').html('Fill Out This Field');
            Status = false;
        }

        if ($('#Amount').val() == "") {
            $('#ErrQuantity').html('Fill Out This Field');
            Status = false;
        }
        return Status;
    }
    function PaymentOnSuccess(data) {

        if (data.Status == 1 || data.Status == 2) {
            debugger;
            if ($('#DivMiscInvMsg').hasClass('logErrMsg'))
                $('#DivMiscInvMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            var AppValues = data.Data.InvoiceNo.split(",")
            $('#InvoiceNo').val(AppValues[0]);
            $('#ServiceType').val(AppValues[1]);

            $('#BtnGenerateIRN').removeAttr('disabled');



         //   $('#InvoiceNo').val(data.Data.InvoiceNo);

           
            $('#DivMiscInvMsg').html(data.Message);
            $('#btnPrint').removeAttr('disabled');
            $('#btnSave').attr('disabled', true);
            //setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivMiscInvMsg').hasClass('logSuccMsg'))
                $('#DivMiscInvMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#btnPrint').attr('disabled');
            $('#DivMiscInvMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {

        $('#DivBody').load('/CashManagement/VLDA_CashManagement/CreateReservationInvIndividual');
    }

    function BindJson() {
        debugger;
        if ($('#PartyName').val() == '') {
            // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
            $('[data-valmsg-for="PartyName"]').html('Fill Out This Field');
            return false;
        }
        else if ($('#PayeeName').val() == '') {
            //   $('[data-valmsg-for="PayeeName"]').html('<span>Fill Out This Field</span>');
            $('[data-valmsg-for="PayeeName"]').html('Fill Out This Field');
            return false;
        }
        else if ($('#Container').val() == '') {
            $('[data-valmsg-for="Container"]').html('<span>Fill Out This Field</span>');
            return false;
        }


        else {



            var conf = confirm("Do you want to save ?");

            if (conf) {
                try {
                    $('#btnSave').attr('disabled', true);


                    var data = {
                        InvoiceId: 0,
                        DeliveryDate: $('#DeliveryDate').val(),
                        InvoiceType: TaxType,
                        PartyId: $('#PartyId').val(),
                        PartyName: $('#PartyName').val(),
                        PayeeId: $('#PayeeId').val(),
                        PayeeName: $('#PayeeName').val(),
                        GSTNo: $('#GSTNo').val(),
                        Container: $('#Container').val(),
                        //  Size: $('#Size').val(),
                        Naration: $('#Naration').val(),
                        Amount: $('#amount').val(),
                        CGST: $('#cgst').val(),
                        SGST: $('#sgst').val(),
                        IGST: $('#IGST').val(),
                        IGSTPER: $('#IGSTPER').val(),
                        CGSTPER: $('#CGSTPER').val(),
                        SGSTPER: $('#SGSTPER').val(),

                        Round_up: $('#round_up').val(),
                        Total: $('#total').val()


                    };


                    $('#FumigationInvModelJson').val(JSON.stringify(data));
                    var rawJson = JSON.parse($('#FumigationInvModelJson').val());

                    rawJson.InvoiceId = 0;
                    rawJson.InvoiceType = TaxType;
                    rawJson.DeliveryDate = $('#DeliveryDate').val();
                    rawJson.PartyId = $('#PartyId').val();
                    rawJson.PartyName = $('#PartyName').val();
                    rawJson.PayeeId = $('#PayeeId').val();
                    rawJson.PayeeName = $('#PayeeName').val();
                    rawJson.GSTNo = $('#GSTNo').val();
                    rawJson.Container = $('#Container').val();
                    //   rawJson.Size = $('#Size').val();
                    rawJson.Amount = $('#amount').val();
                    rawJson.CGST = $('#cgst').val();
                    rawJson.SGST = $('#sgst').val();
                    rawJson.IGST = $('#IGST').val();
                    rawJson.Round_up = $('#round_up').val();
                    rawJson.Total = $('#total').val();
                    //  rawJson.RoundUp = Number(rawJson.Round_up.toFixed(2));
                    //  rawJson.Total = Number(rawJson.Total);
                    rawJson.Remarks = $('#Remarks').val();
                    //var ChemicalData =
                    //    {
                    //        ChemicalId: $('#ChemicalId').val(),
                    //        ChemicalName: $('#ChemicalName').val(),
                    //        Quantity: $('#Quantity').val(),
                    //    }


                    //$('#ChemicalDetails').val(JSON.stringify(ArrayOfChemicalDetails));


                    $('#ChargeXML').val(JSON.stringify(ArrayOfChemicalDetails));
                    $('#FumigationInvModelJson').val(JSON.stringify(rawJson));

                    $('form#FumiInvoice').submit();

                }
                catch (e) {
                    $('#btnSave').removeAttr('disabled');
                }
            }
        }
    }




    //Printing Misc. Invoice

    function Print() {
        /*
         var actualJson = JSON.parse($('#MiscInvModelJson').val());
         var amountinwords = CurrentcyToWord(actualJson.Total);
         var html1 = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='3' style='text-align:center;vertical-align:bottom;font-size:8pt;'>CENTRAL WAREHOUSING CORPORATION<br/>(A GOVT. OF INDIA UNDERTAKING)<br/><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></th></tr></thead><tbody><tr><td style='vertical-align: top;border:1px solid #000;padding: 5px;'><span style='font-weight: 600;'>Regional Office(Ahmedabad)</span>,<br/>Regional Manager,<br/>Central Warehousing Corporation,<br/>Mahalaxmi Char Rasta,<br/>Opp.Unnati Vidyalaya, Paladi,<br/>Ahmedabad-380 007</td><td style='vertical-align: top;border:1px solid #000;padding: 5px;'><span style='font-weight: 600;'>KOLKATA CWC</span>, <br/>18, COLD DOCK ROAD<br/>KOLKATA - 700043<br/>manager_cfs@yahoo.in<br/><br/>GSTIN- <span>19AAACC1206D2ZC</span><br/>PAN No.- <span>AAACC1206D</span><br/>State Code- <span>19</span></td><td style='vertical-align: top;border:1px solid #000;padding: 3px 5px;'><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;'><thead><tr><td colspan='2'><span style='font-weight: 600;text-decoration: underline;'>Details of Receiver ( Billed to)</span></td></tr></thead><tbody><tr><td style='width:20%;font-weight: 600;'>Name:</td><td><span>" + actualJson.PartyName + "</span></td></tr><tr><td style='width:20%;font-weight: 600;'>Address:</td><td><span></span></td></tr><tr><td style='width:20%;font-weight: 600;'>State:</td><td><span></span></td></tr><tr><td style='width:20%;font-weight: 600;'>State Code:</td><td><span></span></td></tr><tr><td style='width:20%;font-weight: 600;'>GSTIN/ Unique ID:</td><td><span>" + actualJson.PartyGST + "</span></td></tr></tbody></table></td></tr></tbody></table><table style='width:99.7%;margin-left:0.15%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;padding:5px;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding:5px;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;padding: 5px;'>Particulars</th><th style='border:1px solid #000;padding: 5px;'>SAC</th><th style='border:1px solid #000;padding: 5px;'>Value</th><th style='border:1px solid #000;padding: 5px;'>TDS</th><th style='border:1px solid #000;text-align:center;padding: 5px;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;padding: 5px;'>Taxes</th><th style='border:1px solid #000;padding: 5px;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;padding: 5px;'></th><th rowspan='2' style='border:1px solid #000;padding: 5px;'></th><th rowspan='2' style='border:1px solid #000;padding: 5px;'>" + actualJson.Amount + "</th><th rowspan='2' style='border:1px solid #000;padding: 5px;'></th><th rowspan='2' style='border:1px solid #000;padding: 5px;'></th><th style='border:1px solid #000;padding: 5px;'>Rate</th><th style='border:1px solid #000;padding: 5px;'>CGST</th><th style='border:1px solid #000;padding: 5px;'>Rate</th><th style='border:1px solid #000;padding: 5px;'>SGST</th><th style='border:1px solid #000;padding: 5px;'>Rate</th><th style='border:1px solid #000;padding: 5px;'>IGST</th><th style='border:1px solid #000;padding: 5px;'></th></tr></thead><tbody><tr><td style='border:1px solid #000;padding-left: 5px;'>" + actualJson.Purpose + "</td><td style='border:1px solid #000;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span>" + actualJson.CGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span>" + actualJson.SGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span>" + actualJson.IGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span>" + actualJson.Total + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td></tr><tr><td colspan='12'>&nbsp;</td></tr><tr><td style='border:1px solid #000;padding-left: 5px;'><b>Grand Total</b></td><td style='border:1px solid #000;padding: 3px 5px;'></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Amount + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'>0.00</td><td style='border:1px solid #000;padding: 3px 5px;'></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.CGST + "</span></td><td style='border:1px solid #000;padding: 3px 5px;'></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.SGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.IGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Total + "</span></td></tr><tr><td colspan='11' style='border:1px solid #000;padding-left: 5px;'><b>Round Up</b></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Round_up + "</span></td></tr><tr><td colspan='11' style='border:1px solid #000;padding-left: 5px;'><b>Grand Total(Rounded)</b></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Total + "</span></td></tr><tr><td colspan='12' style='border:1px solid #000;padding-left: 5px;font-weight:600;'>TDS Deduction :  <br/>TDS Collection :  <br/> <br/>FIGURE IN WORDS: <span>"+amountinwords+" </span></td></tr><tr><td colspan='12' style='padding:5pt 5pt 50pt 5pt;'> <b>REMARKS: <span>" + actualJson.Naration + "</span> </b></td></tr></tbody><tfoot><tr><td colspan='4' style='padding-left: 5px;'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><tbody><tr><td style='padding: 5px;'><b>Invoice No.<span>" + actualJson.InvoiceNo + "</span></b></td><td style='vertical-align:top;text-align: right;padding: 5px;'><b>Date: <span></span></b></td></tr><tr><td colspan='2'><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse: collapse;'><thead><tr><th style='border:1px solid #000;text-align: left;padding: 5px;'>Container No.</th><th style='border:1px solid #000;padding: 5px;'>CFS Code</th><th style='border:1px solid #000;padding: 5px;'>Size</th><th style='border:1px solid #000;padding: 5px;'>Arrival</th><th style='border:1px solid #000;padding: 5px;'>Non-Haz</th><th style='border:1px solid #000;padding: 5px;'>Destuffing</th><th style='border:1px solid #000;padding: 5px;'>Bill of Entry</th><th style='border:1px solid #000;padding: 5px;'>Delivery</th><th style='border:1px solid #000;padding: 5px;'>Customs Examination</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td></tr></tbody></table></td></tr><tr><td colspan='2'><table style='width:100%;font-size:6.5pt;font-family:Verdana,Arial,San-serif;border-collapse: collapse;'><tbody><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Shipping Line:</td><td><span> </span></td><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Name of Importer:</td><td><span></span></td></tr><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Name of CHA.:</td><td><span></span></td><td style='width:25%;font-weight: 600;padding: 3px 5px;'>No. of Packages:</td><td><span></span></td></tr><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Total Gross Weight:</td><td><span></span></td><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Gross Weight per Package:</td><td><span></span></td></tr><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Storage space occupied():</td><td><span></span></td></tr></tbody></table></td></tr><tr><td colspan='2' style='font-weight: 600;padding: 8px 5px;'>Value of Cargo (CIF Value + Duty + Penalty) Rs. <span></span></td></tr></tbody></table>";


         var PostData = new FormData();
         PostData.append("type", "Misc.Inv");
         PostData.append("id", $('#InvoiceNo').val());
         PostData.append("page", html1);
        // PostData.append("npage", html2);*/
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetBulkInvoiceReport", "VLDA_ReportCWC", new { area = "Report" })',
            headers: { "__RequestVerificationToken": Token },
            data: {
                InvoiceNumber: $('#InvoiceNo').val(),
                InvoiceModule: 'RESINDIV',
                          PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'RESERVATION INVOICE (INDIVIDUAL)',
            },
            dataType: 'JSON',
            success: function (data) {
                window.open(data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }

    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }

    function SearchByPartyCode() {
        if ($('#GodownId').val() == "") {
            alert("Please Select Godown Name");
            $("#GodownName").focus();
        }
        else {
            var Gid = $('#GodownId').val();
            if ($('#boxParty').val() != '') {
                $.ajax({
                    url: '/VLDA_CashManagement/SearchByPartyCodeReservation',
                    type: 'GET',
                    data: { PartyCode: $('#boxParty').val(), GodownId: Gid },
                    success: function (data) {
                        if (data.Status == 1) {
                            var html = '';
                            var TabValue = 201;
                            $.each(data.Data.lstExim, function (i, elem) {
                                html += '<tr  tabindex=' + TabValue + ' onkeypress="SelectPartykeypress(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.StateName + '&quot;)" onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.StateName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                                TabValue++;
                            });
                            $('#tblParty tbody').html('');
                            $('#tblParty tbody').html(html);
                            $('#btnLoadMoreParty').prop('disabled', false);
                            Page = -1;
                        }
                        else {
                            $('#tblParty tbody').html('');
                            Page = -1;
                            $('#btnLoadMoreParty').prop('disabled', false);
                        }

                    }
                });
            }
            else
                LoadParty();
        }
    }

    function LoadMoreParty() {
        if ($('#GodownId').val() == "") {
            alert("Please Select Godown Name");
            $("#GodownName").focus();
        }
        else {
            var Gid = $('#GodownId').val();
            debugger;
            $.ajax({
                url: '/VLDA_CashManagement/LoadPartyForReservation',
                type: 'GET',
                data: { PartyCode: "", Page: Page + 1, GodownId: Gid },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var TabValue = 201;
                        $.each(data.Data.lstExim, function (i, elem) {
                            html += '<tr tabindex=' + TabValue + ' onkeypress="SelectPartykeypress(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.StateName + '&quot;)" onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.StateName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                            TabValue++;
                        });
                        if (Page == -1)
                            $('#tblParty tbody').html(html);
                        else
                            $('#tblParty tbody').append(html);
                        Page++;

                        if (data.Data.State == true)
                            $('#btnLoadMoreParty').prop('disabled', false);
                        else $('#btnLoadMoreParty').prop('disabled', true);
                    }
                }
            });
        }
    }
    function LoadParty() {


        if ($('#GodownId').val() == "") {
            alert("Please Select Godown Name");
            $("#GodownName").focus();
        }
        else {
            var Gid = $('#GodownId').val();
            debugger;
            Page = 0;
            $.ajax({
                url: '/VLDA_CashManagement/LoadPartyForReservation',
                type: 'GET',
                data: { PartyCode: "", Page: Page, GodownId: Gid },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var TabValue = 201;
                        $.each(data.Data.lstExim, function (i, elem) {
                            html += '<tr tabindex=' + TabValue + ' onkeypress="SelectPartykeypress(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.StateName + '&quot;)" onclick="SelectParty(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;,&quot;' + elem.StateName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                            TabValue++;
                        });
                        $('#tblParty tbody').html(html);
                        if (data.Data.State == true)
                            $('#btnLoadMoreParty').prop('disabled', false);
                        else $('#btnLoadMoreParty').prop('disabled', true);
                    }
                }
            });
        }
    }

    function SearchByPayeeCode() {


        if ($('#GodownId').val() == "") {
            alert("Please Select Godown Name");
            $("#GodownName").focus();
        }
        else {
            var Gid = $('#GodownId').val();
            if ($('#boxPayee').val() != '') {
                $.ajax({
                    url: '/VLDA_CashManagement/SearchByPayeeCodeReservation',
                    type: 'GET',
                    data: { PartyCode: $('#boxPayee').val(), GodownId: Gid },
                    success: function (data) {
                        if (data.Status == 1) {
                            var html = '';
                            var TabValue = 301;
                            $.each(data.Data.lstExim, function (i, elem) {
                                html += '<tr  tabindex=' + TabValue + ' onkeypress="SelectPayeekeypress(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;)"  onclick="SelectPayee(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                                TabValue++;
                            });
                            $('#tblPayee tbody').html('');
                            $('#tblPayee tbody').html(html);
                            $('#btnLoadMorePayee').prop('disabled', false);
                            Page = -1;
                        }
                        else {
                            $('#tblPayee tbody').html('');
                            Page = -1;
                            $('#btnLoadMorePayee').prop('disabled', false);
                        }

                    }
                });
            }
            else
                LoadPayee();
        }
    }

    function LoadMorePayee() {
        if ($('#GodownId').val() == "") {
            alert("Please Select Godown Name");
            $("#GodownName").focus();
        }
        else {
            var Gid = $('#GodownId').val();
            debugger;
            $.ajax({
                url: '/VLDA_CashManagement/LoadPayeeReservation',
                type: 'GET',
                data: { PartyCode: "", Page: Page + 1, GodownId: Gid },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var TabValue = 301;
                        $.each(data.Data.lstExim, function (i, elem) {
                            html += '<tr  tabindex=' + TabValue + ' onkeypress="SelectPayeekeypress(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;)"  onclick="SelectPayee(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                            TabValue++;
                        });
                        if (Page == -1)
                            $('#tblPayee tbody').html(html);
                        else
                            $('#tblPayee tbody').append(html);
                        Page++;

                        if (data.Data.State == true)
                            $('#btnLoadMorePayee').prop('disabled', false);
                        else $('#btnLoadMorePayee').prop('disabled', true);
                    }
                }
            });
        }
    }
        function LoadPayee() {
            debugger;
            if ($('#GodownId').val() == "") {
                alert("Please Select Godown Name");
                $("#GodownName").focus();
            }
            else {
                var Gid = $('#GodownId').val();
                Page = 0;
                $.ajax({
                    url: '/VLDA_CashManagement/LoadPayeeReservation',
                    type: 'GET',
                    data: { PartyCode: "", Page: Page, GodownId: Gid },
                    success: function (data) {
                        debugger;
                        if (data.Status == 1) {
                            var html = '';
                            var TabValue = 301;
                            $.each(data.Data.lstExim, function (i, elem) {
                                html += '<tr tabindex=' + TabValue + ' onkeypress="SelectPayeekeypress(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;)" onclick="SelectPayee(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;,&quot;' + elem.GstNo + '&quot;,&quot;' + elem.StateCode + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                                TabValue++;
                            });
                            $('#tblPayee tbody').html(html);
                            if (data.Data.State == true)
                                $('#btnLoadMorePayee').prop('disabled', false);
                            else $('#btnLoadMorePayee').prop('disabled', true);
                        }
                    }
                });
            }
        }
    function CloseParty() {
        debugger;
        $('#boxParty').val('');
        $("#PartyModal").modal("hide");
        LoadParty();
    }

    function ClosePayee() {
        $('#boxPayee').val('');
        $("#PayeeModal").modal("hide");
        LoadPayee();
    }

    function SelectParty(PartyId, PartyName, GstNo, StateCode,StateName) {
        debugger;
        $('#PartyName').val(PartyName);
        $('#PartyId').val(PartyId);
        $('#GSTNo').val(GstNo);
        $('#StateCode').val(StateCode);
        $('#PlaceOfSupply').val(StateName);
      //  $('#PayeeId').val(PartyId);
      //  $('#PayeeName').val(PartyName);
        //LoadParty();
        $("#PartyModal").modal("hide");
        $('#boxParty').val('');
        $('#PayeeName').focus();
    }


    function SelectPartykeypress(PartyId, PartyName, GstNo, StateCode,StateName) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 13) {
            debugger;
            $('#PartyName').val(PartyName);
            $('#PartyId').val(PartyId);
            $('#GSTNo').val(GstNo);
            $('#StateCode').val(StateCode);
            $('#PlaceOfSupply').val(StateName);
         //   $('#PayeeId').val(PartyId);
          //  $('#PayeeName').val(PartyName);
            //LoadParty();
            $("#PartyModal").modal("hide");
            $('#boxParty').val('');
            $('#PayeeName').focus();
        }
    }


    
    function SelectPayee(PartyId, PartyName, GstNo, StateCode) {
        debugger;
        $('#PayeeName').val(PartyName);
        $('#PayeeId').val(PartyId);
        //LoadEximTrader();
        $("#PayeeModal").modal("hide");
        $('#boxPayee').val('');
    }


    function SelectPayeekeypress(PartyId, PartyName, GstNo, StateCode) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 13) {
            $('#PayeeName').val(PartyName);
            $('#PayeeId').val(PartyId);
            //LoadEximTrader();
            $("#PayeeModal").modal("hide");
            $('#boxPayee').val('');
            $('#CalculateBtn').focus();
        }
    }

    var chargearr = [];

    function GenerateInvoice()
    {
        debugger;

        if($('#OperationType').val()=="")
        {
            alert("Please select Space Type");
        }
        else if($('#GodownName').val()=="")
        {
            alert("Please select Godown");
        }
        else if ($('#PartyName').val() == "") {
            alert("Please select Party Name");
        }
        else if (($('#SQM').val() == "" || $('#SQM').val() < 25) && $('#GodownType').val()=='Bond') {
            alert("Please select SQM or Mimimum put 25 for Bond Godown");
        }

        else if (($('#SQM').val() == "" || $('#SQM').val() < 50) && $('#GodownType').val() == 'Export') {
            alert("Please select SQM or Mimimum put 50 for Export Godown");
        }

        else if ($('#PayeeName').val() == "" ) {
            alert("Please select Payee Name");
        }
        else 
        {
            var longtermflag=0;
            if ($('#Term').is(':checked') == true)
            {
                longtermflag = 1;
                $('[name="Term"]').val(true);
            }
            else
            {
                $('[name="Term"]').val(false);
            }

            $.ajax({
                url: '/VLDA_CashManagement/CreateReservationInvoicesIndividual',
                type: 'GET',
                data: {
                    DeliveryDate: $('#DeliveryDate').val(),
                    SpaceType: $('#OperationType').val(),
                    Godown_Id: $('#GodownId').val(),
                    Godown_Name: $('#GodownName').val(),
                    Godown_Type: $('#GodownType').val(),
                    From_Date: $('#FromDate').val(),
                    To_Date: $('#ToDate').val(),
                    SQM: $('#SQM').val(),
                    PartyId: $('#PartyId').val(),
                    CargoType: $('#CargoType').val(),
                    SEZ: $('#SEZ').val(),
                    longTerm: longtermflag
                    
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data != null && data != 'undefined') {
                        debugger;
                       

                     
                     //   $('#OperationType').prop("disabled", true);
                      //  $('#OperationType').attr("readonly", "readonly");
                        //  $('#SQM').prop("disabled", true);
                        $('#SpaceType').val($('#OperationType').val());
                        $('#SQM').attr('readonly', true);
                        $('#OperationType').prop("disabled", true);

                        $('#CargoType').attr("style", "pointer-events: none;");
                        $('#Term').prop("disabled", true);
                        $('#SEZ').prop("disabled", true);
                        //CWC Charge Binding
                        debugger;
                     //   var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                        html = '';
                        var TotalCWC = 0;
                        $.each(data.Data, function (i, item) {

                            var RevDetails = {
                                "chargeName":"Reservation",
                                "Amount": item.Amount,
                                "SacCode":item.SacCode,
                                "CGSTPer": item.CGSTPer,
                                "CGST": item.CGST,
                                "SGSTPer": item.SGSTPer,
                                "SGST": item.SGST,
                                "IGSTPer": item.IGSTPer,
                                "IGST": item.IGST,
                                "Total": item.Total,
                       

                        };
                            chargearr.push(RevDetails);
                            TotalCWC += item.Total;
                            //html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                            html += '<tr><td>Reservation</td>'
                                 + '<td><input class="text-right" id="HSN' + i + '" type="text" value="' + item.SacCode + '" readonly /></td>'
                                    + '<td><input class="text-right" id="' + i + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + i + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + i + '" type="text" value="' + item.IGST.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + i + '" type="text" value="' + item.CGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + i + '" type="text" value="' + item.CGST.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + i + '" type="text" value="' + item.SGSTPer + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + i + '" type="text" value="' + item.SGST.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + i + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';

                            $('#RoundUp').val((item.RoundOff).toFixed(2));
                            $('#Round_up').val((item.RoundOff).toFixed(2));
                            $('#InvoiceAmt').val((item.InvoiceAmt).toFixed(2));
                            $('#Total').val((item.Amount));
                            $('#CGST').val((item.CGST));
                            $('#IGST').val((item.IGST));
                            $('#SGST').val((item.SGST));
                            $('#InvoiceValue').val((item.InvoiceAmt).toFixed(2));
                            
                        });
                        
                      

                        $('#tblCWCCharges tbody').html(html);
                        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
                        $('#AllTotal').val((TotalCWC).toFixed(2));
                        
                        $('.search').css('display', 'none');
                        $('#DeliveryDate').parent().find('img').css('display', 'none');
                        $('#FromDate').parent().find('img').css('display', 'none');
                        $('#ToDate').parent().find('img').css('display', 'none');

                        //$('#btnAddExtraHT').removeAttr('disabled');
                        //CalcTax(1);
                    }
                    else {
                        $('#ReservationInvModelJson').val('');
                      
                        $('#tblCWCCharges tbody').html('');
                     
                        $('#TOTCWCChrg').val('');
                       
                        $('#AllTotal').val('');
                        $('#RoundUp').val('');
                    }
                }
            });
        }

    }

    function ShowList() {
        $('#hdnModule').val('RESINDIV');
        $('#SearchInvoiceNo').val("");
        $('#SearchInvoiceDate').val("");
        $('#DivListOfInvoice').load('/Export/VLDA_CWCExport/ListOfExpInvoice?Module=RESINDIV');
    }

    function SearchInvoice() {
        $('#hdnModule').val('RESINDIV');
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true)
            $('#DivListOfInvoice').load('/Export/VLDA_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + "&Module=RESINDIV");
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/Export/VLDA_CWCExport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + "&Module=RESINDIV");
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Export/VLDA_CWCExport/ListOfExpInvoice?InvoiceDate=' + InvoiceDate + "&Module=RESINDIV");
    }

    function Validate() {
        debugger;
        var date = document.getElementById("SearchInvoiceDate").value.split("/");
        var day = date[0];
        var month = date[1];
        var dateString = document.getElementById("SearchInvoiceDate").value;
        var regex = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
        //if (regex.test(dateString) || dateString.length == 0) {
        //    alert("Please enter correct date");
        //    return false;
        //}
        if (day > 31) {
            alert("Please enter correct date");
            return false;
        }
        else
            if (month > 12) {
                alert("Please enter correct Month");
                return false;
            }
        return true;
    }


    function GenerateIRN() {
        $.ajax({
            url: '/Import/VLDA_CWCImport/GetIRNForYardInvoice',
            type: 'POST',
            data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#ServiceType').val() },
            // headers:{"__RequestVerificationToken":Token},
            dataType: 'JSON',
            success: function (data) {

                alert(data.Message);
            }
        });
    }
</script>

