@model IEnumerable<CwcExim.Areas.CashManagement.Models.WFLD_NewPaymentValucherModel>

<div>

    <script>
        $(document).ready(function () {
            var table = $('#DivTblPaymentVoucherList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "Sr", "width": "10%" },
                    { "sName": "Voucher No", "bSortable": false, "width": "20%" },
                    { "sName": "Voucher Date", "bSortable": false, "width": "15%" },
                    { "sName": "Receipt Voucher No", "bSortable": false, "width": "30%" },
                    { "sName": "Amount", "bSortable": false },
                    { "sName": "Action", "bSortable": false, "width": "10%" }
                ],

                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
        function Print(PVId) {
             debugger;
                var Token = $('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: "/CashManagement/VLDA_CashManagement/PaymentVoucherPrint",
                    type: "POST",
                    data: { PVId: PVId },
                    headers: { "__RequestVerificationToken": Token },
                    dataType: "JSON",
                    async: false,
                    success: function (data) {
                        debugger;
                        if (data.Status = 1) {
                            window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                        }
                        else {
                            alert(data.Message);
                        }
                    }
                });
            }
            //window.open("../../Docs/PaymentVoucher/" + PVId + "/PaymentVoucher.pdf?t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');

    </script>
    <table id="DivTblPaymentVoucherList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Voucher No</th>
                <th>Voucher Date</th>
                <th>Receipt Voucher No</th>
                <th>Amount</th>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @{var a = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@a</td>
                        <td>@Html.DisplayFor(modelItem => item.VoucherNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReceiptVoucherNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                        <td style="text-align:center;"><a href="#" onclick="Print('@item.PVHeadId')"><i class="fa fa-print" aria-hidden="true"></i></a></td>
                    </tr>
                    a++;
                }
            }
        </tbody>
    </table>
</div>


