@model CwcExim.Areas.CashManagement.Models.WFLD_ReceiptVoucherModel

@using (Ajax.BeginForm("ReceiptVoucher", "VLDA_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", LoadingElementDuration = 1000, LoadingElementId = "divProgress" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m=>m.ReceiptId,new { @Value=0})
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Receipt Voucher</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.VoucherNo)
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                @Html.TextBoxFor(m => m.VoucherNo,new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.VoucherNo)
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                @Html.LabelFor(m => m.PaymentDate)
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                                @Html.TextBoxFor(m => m.PaymentDate)
                                @Html.ValidationMessageFor(m => m.PaymentDate)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Purpose)
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <select id="Purpose" name="Purpose">
                                    <option value="Imprest">Imprest</option>
                                    <option value="Temporary Advance">Temporary Advance</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.Purpose)
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 classTemporary hidden">
                                Expenses For
                            </div>
                            <div class="col-md-2 hidden classTemporary Error_Msg"> 
                                @Html.DropDownListFor(m => m.ExpenseId, new SelectList(ViewBag.ExpenseList, "Value", "Text"), "----Select----", new { @class = "form-control input_sm dropdown" })
                                @Html.ValidationMessageFor(m => m.ExpenseId, "", new { @class = "Error_Msg" })
                              
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Amount)
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                               @Html.TextBoxFor(m=>m.Amount)
                                @Html.ValidationMessageFor(m => m.Amount)
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">

                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.InstrumentNo)
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.InstrumentNo)                             
                               
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">

                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                            </div>
                        </div>
                    </div>        
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.InstrumentDate)
                            </div> 
                            <div class="col-md-2-5 Date_Img Error_Msg">
                                @Html.TextBoxFor(m => m.InstrumentDate, new { @placeholder = "dd/mm/yyyy" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">

                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                            </div>
                        </div>
                    </div>                                                                               
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Narration)
                            </div>
                            <div class="col-md-10-5 col_cus_10 Error_Msg">
                                @Html.TextAreaFor(m => m.Narration, new { @style = "height:75px;" })
                                @Html.ValidationMessageFor(m => m.Narration)
                            </div>
                        </div>
                    </div>                   
                    <div class="row">
                        <div class="stoke SignUp_space_top2 SignUp_space_bottom2">
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-3 col-md-2">
                            <button type="button" class="btn log_Btn_sm" id="BtnSave" onclick="check();" >Save</button>
                        </div>
                        <div class="col-md-2">
                            <button type="reset" class="btn log_Btn_sm" onclick="ResetForm()">Reset</button>
                        </div>
                        <div class="col-md-2">
                            <button id="BtnPrint" type="button" class="btn log_Btn_sm" onclick="Print()" disabled>Print</button>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div id="DivReceiptVoucherList" class="col-md-12 ClearFix SignUp_space_bottom">
                        </div>
                    </div>
                </div>
            </div>            
        </div>        
    </div>
}

<div class="modal fade" id="PartyModal" role="dialog">
    @*<div class="modal-dialog">

         Modal content
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                        foreach (var item in ViewBag.Parties)
                        {
                            <li id="@item.PartyId">@item.PartyName</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $("#PaymentDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    $("#InstrumentDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $("#PaymentDate").datepicker("setDate", new Date());
    $(function () {
        GetReceiptList();
    });

    function OnSuccess(data) {
        debugger;
        alert(data.Message);
        if (data.Status==1) {
            var DATAS = (data.Data);
           
            $('#ReceiptId').val(DATAS.id);
            $('#VoucherNo').val(DATAS.VoucherNo);
          
            $('#BtnPrint').prop('disabled', false);
            GetReceiptList();
        }
    }
    $('#Purpose').change(function () {
        debugger;
        if ($('#Purpose').val() == 'Temporary Advance')
        {
            $('.classTemporary').removeClass('hidden');
        }
        else
        {
            $('.classTemporary').addClass('hidden');
        }
       
    });
   

    function ResetForm() {
        $('#DivBody').load('@Url.Action("ReceivedVoucher", "VLDA_CashManagement", new { area = "CashManagement" })');
    }

    function GetReceiptList() {
        $('#DivReceiptVoucherList').load('@Url.Action("GetReceiptVoucherList", "VLDA_CashManagement", new { area = "CashManagement" })');
    }

    function Print() {              
        //var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='text-align:center;'>CENTRAL WAREHOUSING CORPORATION (FORMAT-X)<br/>Principal Place of Business:___________________<br/>Receipt Voucher<br/><p style='text-align:right;'>ORIGINAL FOR RECIPIENT</p></th></tr></thead> <tbody> <tr><td><table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse: collapse;'><tbody><tr><td style='border:1px solid #000;'>Details of Service Provider</td><td style='border:1px solid #000;'>Details of Service Receiver</td></tr><tr><td style='border:1px solid #000;'>Name : <span>Central Warehouse</span></td><td style='border:1px solid #000;'>Voucher No: <span>" + $('#VoucherNo').val() + "</span></td></tr><tr><td style='border:1px solid #000;'>Warehouse Address:<span>Kadugodi, Bengaluru, Whitefield Road</span></td><td style='border:1px solid #000;'>Voucher Date:<span>" + $('#PaymentDate').val() + "</span></td></tr><tr><td style='border:1px solid #000;'>City:<span>Banglore</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State:<span>Karnataka</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State Code:<span>07</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>GSTIN:<span>07AAACC1206D1ZI</span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>PAN:<span>AAACC1206D</span></td><td style='border:1px solid #000;'></td></tr></tbody></table> </td></tr><tr><td style='border-bottom:1px solid #000;padding-top:40pt;font-size:9pt;'><strong>Receipt Purpose:</strong><span>" + $('#Purpose option:selected').text() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Receipt Amount:</strong>					<span>" + $('#Amount').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Instrument No:</strong><span>" + $('#InstrumentNo').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Instrument Date:</strong><span>" + $('#InstrumentDate').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Narration:</strong><span>" + $('#Narration').val() + "</span></td></tr></tbody></table>";

        //var html1 = "<table cellspacing='0' cellpadding='5' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 5px;'><thead>";
        //html1 += "<tr><td valign='top'><img align='right' src='IMGSRC' width='90'/></td>";
        //html1 += "<td width='70%' valign='top' align='center'><h1 style='font-size: 16px; margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION (FORMAT-X)</h1>";
        //html1 += "<label style='font-size: 7pt;'>(A Govt. of India Undertaking) </label><br />";
        //html1 += "<span style='font-size: 7pt; padding-bottom: 10px;'>107-109 , EPIP Zone , KIADB Industrial Area <br/> Whitefield , Bengaluru - 560066</span><br/><label style='font-size: 7pt;'>Email - cwcwfdcfs@gmail.com</label><br />";
        //html1 += "<label style='font-size: 7pt;'>Principal Place of Business:___________________</label><br />";
        //html1 += "<label style='font-size: 7pt; font-weight:bold;'>RECEIPT VOUCHER</label>";
        //html1 += "</td>";
        //html1 += "<td valign='top'><img align='right' src='ISO' width='100'/></td>";
        //html1 += "</tr>";
        //html1 += "</thead></table>";

        //html1 += "<table cellpadding='5' style='width:100%; font-size:7pt; font-family:Verdana,Arial,San-serif; margin-top:20px; border:1px solid #000; border-bottom:0; border-collapse:collapse;'><tbody>";

        //html1 += "<tr><th colspan='12' style='border-bottom:1px solid #000; text-align:center;'>Receipt Voucher</th></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Date of Receipt</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>"+$('#PaymentDate').val()+"</span></td></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Received from</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>CENTRAL WAREHOUSING CORPORATION,Regional Office Bangalore</span></td></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Purpose</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>" + $('#Purpose option:selected').text() + "</span></td></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Instrument No</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>" + $('#InstrumentNo').val() + "</span></td></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Instrument Date</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>" + $('#InstrumentDate').val() + "</span></td></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Amount</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>" + $('#Amount').val() + "</span></td></tr>";

        //html1 += "<tr><th colspan='6' width='50%' style='border-bottom:1px solid #000; border-right:1px solid #000;'>Narration</th>";
        //html1 += "<td colspan='6' width='50%' style='border-bottom:1px solid #000;'><span>" + $('#Narration').val() + "</span></td></tr>";

        //html1 += "</tbody></table>";
        var Token = $('input[name="__RequestVerificationToken"]').val();
        var PostData = new FormData();
        PostData.append("ReceiptId", $('#ReceiptId').val());
   
           // PostData.append("Page1", html1);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PrintVoucher", "VLDA_CashManagement", new { area = "CashManagement" })',
            data: PostData,
            headers: { "__RequestVerificationToken": Token },
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.Status == 1){
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                }
                else {
                    alert(data.Message);
                }
            }
        });             
    }
    @*function PrintVoucher() {
        $('#DivBody').load('@Url.Action("PrintVoucher", "WFLD_CashManagement",new { area = "CashManagement" })');
    }*@
    function check()
    {
        if ($('#Purpose').val() == 'Temporary Advance' && $('#ExpenseId').val()=='')
        {
            $('span[data-valmsg-for="ExpenseId"]').text('Fill Out This Field');
        }
        else
        {
            $('#BtnSave').prop("disabled", true);
            $('#BtnSave').submit();
        }
       
    }

</script>