@model CwcExim.Areas.Import.Models.CargoSeize
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Cargo Seize</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddEditCargoSeize", "Loni_CWCImport", new AjaxOptions
                {
                Confirm = "Are you sure you want to save?",
                HttpMethod = "POST",
                OnSuccess = "OnSuccess",
                OnFailure = "OnFailure"
                }, new { id = "frmCargoSeize" }))
                {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.BOEDate)


                <div class="Form_Space_bottom">

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>OBL No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.OBLNo, new { @class = "form-control input_sm", @readonly = true })
                                @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                                @Html.ValidationMessageFor(m => m.OBLNo, "", new { @class = "Error_Msg" })
                                <span class="search" id="OBLNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLNoModal"></i></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>OBL Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.OBLDate, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container / CBT No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>ICD Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>Size:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.ContainerSize, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Godown No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.GodownId)
                                @Html.TextBoxFor(m => m.GodownNo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>BOE:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.BOEDate)
                                @Html.TextBoxFor(m => m.BOENo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>Line No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.LineNo, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo:</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.CargoDescription, new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10">
                                @Html.HiddenFor(m => m.CHAId)
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                                @*<span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10">
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                                @*<span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                               
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>Seize:</label>
                            </div>
                            <div class="col-md-1">
                                <div class="boolean-container">
                                    @Html.HiddenFor(x => x.SeizeHoldStatus)
                                    @Html.CheckBoxFor(m => m.IsSeize, new { @onclick = "SeizeHoldStatusChecked('IsHold')" })
                                    <label for="IsSeize"><i class="square"></i></label>
                                </div>
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>Hold:</label>
                            </div>
                            <div class="col-md-1">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.IsHold, new { @onclick = "SeizeHoldStatusChecked('IsSeize')" })
                                    <label for="IsHold"><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;", @maxlength = "500" })
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_top2">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="submit" id="btnSave" class="btn log_Btn_sm" onclick="return validate();" value="Save" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllField()" />
                    </div>
                </div>
                <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div id="CargoSeizeList"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="OBLNoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of OBL No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="OBLNobox" type="text" />
                <ul class="navList" id="lstOBLNo">
                    @{
                    if (ViewBag.ListOfOBLNo != null)
                    {
                    foreach (var item in ViewBag.ListOfOBLNo)
                    {
                    <li id="@item.DestuffingEntryDtlId">@item.OBLNo</li>
                    }
                    }
                    else
                    {
                    <li></li>
                    }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLinebox" type="text" />
                <ul class="navList" id="lstShippingLine">
                    @{
                    if (ViewBag.ListOfShippingLine != null)
                    {
                    foreach (var item in ViewBag.ListOfShippingLine)
                    {
                    <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                    }
                    }
                    else
                    {
                    <li></li>
                    }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CHAModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Name</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                    if (ViewBag.ListOfCHA != null)
                    {
                    foreach (var item in ViewBag.ListOfCHA)
                    {
                    <li id="@item.CHAEximTraderId">@item.CHAName</li>
                    }
                    }
                    else
                    {
                    <li></li>
                    }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<script>

    $(function () {

        LoadCargoSeizeList();
        if ($('#Id').val() > 0) {
            $('#btnReset').attr('disabled', true);
            $('.search').css('display', 'none');
            debugger
            if ($('#SeizeHoldStatus').val() == 2) {
                $("#IsSeize").attr('disabled', true);
                $("#IsHold").attr('disabled', true);
                $('#Remarks').attr('disabled', true);
                $('#btnSave').attr('disabled', true);
            }
        }



    });

    $('#OBLNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstOBLNo > li').show();
        else {
            $('#lstOBLNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstOBLNo > li').on("click", function () {
        $('#OBLNo').val($(this).text());
        $('#DestuffingEntryDtlId').val($(this).attr('id'));
        LoadOBLDetails();
        $("#OBLNoModal").modal("hide");
    });
    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstShippingLine > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });
    $('#CHAbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCHA > li').show();
        } else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#lstCHA li').on("click", function () {
        $('#CHAName').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAModal").modal("hide");
    });

    function SeizeHoldStatusChecked(id) {
        $('#' + id).prop('checked', false);
    }

    function LoadOBLDetails() {

        $.ajax({
            url: '/Import/Loni_CWCImport/GetOBLDetails',
            type: 'Get',
            data: { DestuffingEntryDtlId: $('#DestuffingEntryDtlId').val() },
            async: false,
            success: function (data) {
                if (data != null) {
                    debugger;
                    $('#OBLDate').val(data.OBLDate);
                    $('#BOENo').val(data.BOENo);
                    $('#BOEDate').val(data.BOEDate);
                    $('#LineNo').val(data.LineNo);
                    $('#CargoDescription').val(data.CargoDescription);
                    $('#ContainerNo').val(data.ContainerNo);
                    $('#ContainerSize').val(data.ContainerSize);
                    $('#CFSCode').val(data.CFSCode);
                    $('#ShippingLineId').val(data.ShippingLineId);
                    $('#ShippingLineName').val(data.ShippingLineName);
                    $('#CHAId').val(data.CHAId);
                    $('#CHAName').val(data.CHAName);
                    $('#GodownId').val(data.GodownId);
                    $('#GodownNo').val(data.GodownNo);

                }
            }
        });
    }

    function LoadCargoSeizeList() {
        $('#CargoSeizeList').load('/Import/Loni_CWCImport/ListOfCargoSeize');
    }

    function OnSuccess(data) {
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
            $('#DivErrMsg').html('');
            $('#btnReset').attr('disabled', false);
            $('#btnSave').attr('disabled', true);
            setTimeout(ResetAllField, 3000);
            LoadCargoSeizeList();
        }
        else {
            $('#DivErrMsg').html(data.Message);
        }
        // setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 5000);
    }

    function OnFailure() { }

    function ResetAllField() {
        $('#DivBody').load('/Import/Loni_CWCImport/CargoSeize');
    }

</script>