@model IEnumerable<CwcExim.Areas.Import.Models.PpgCustomAppraisement>


<script>
    debugger;
    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.lstMenu[0].CanEdit == 1) {
        //$('.edit').css('display', 'block');      
        //$('.edit').disabled=false;
    } else {
        //$('.edit').css('display', 'none');
        $('.edit').removeAttr('onclick');
        $('.edit').attr('onclick', 'return false');
    }

    if (r2.lstMenu[0].CanDelete == 1) {
        //$('.delete').css('display', 'block');

    } else {
        //$('.delete').css('display', 'none');

        $('.delete').removeAttr('onclick');
        $('.delete').attr('onclick', 'return false');
    }

    if (r2.lstMenu[0].CanView == 1) {
        //$('.view').css('display', 'block');

    } else {
        //$('.view').css('display', 'none');
        $('.view').removeAttr('onclick');
        $('.view').attr('onclick', 'return false');
    }

    var SubDomain;
    $(function(){
        SubDomain = '@System.Configuration.ConfigurationManager.AppSettings["SubDomain"]';
        var TblCustomAppraisement = $('#TblCustomAppraisement').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       { "sName": "AppraisementNo No", "bSortable": false },
                       { "sName": "AppraisementNo Date", "bSortable": false },
                       {"sName":"Edit","bSortable":false,"width":"10%"},
                       {"sName":"View","bSortable":false,"width":"10%"},
                       {"sName":"Delete","bSortable":false,"width":"10%"}
                      ]
        });
        new $.fn.dataTable.FixedHeader(TblCustomAppraisement);
    });
    function LoadCustomAppraisement() {
        $('#DivBody').load( '/Import/Ppg_CWCImport/CreateCustomAppraisement');
    }
    function EditCustomAppraisement(CustomAppraisementId) {
        debugger;
        $('#DivBody').load( '/Import/Ppg_CWCImport/EditCustomAppraisement?CustomAppraisementId=' + CustomAppraisementId);
    }
    function ViewCustomAppraisement(CustomAppraisementId) {
        debugger;
        $('#DivBody').load( '/Import/Ppg_CWCImport/ViewCustomAppraisement?CustomAppraisementId=' + CustomAppraisementId);
    }
    function DeleteCustomAppraisement(CustomAppraisementId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        var Confirm=confirm("Are You Sure You Want To Delete?");
        if(Confirm==true){
            $.ajax({
                url:  '/Import/Ppg_CWCImport/DeleteCustomAppraisement',
                type:'POST',
                headers:{'__RequestVerificationToken':Token},
                data: { CustomAppraisementId: CustomAppraisementId },
                dataType:'JSON',
                async:false,
                success:function(data){
                    debugger;
                    if(data.Status==1){
                        alert("Custom Appraisement Application Record has been deleted");
                        LoadCustomAppraisement();
                    }
                    else if (data.Status == 2) {
                        alert(data.Message);
                    }
                }
            });
        }
    }


</script>

<table id="TblCustomAppraisement" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Appraisement No</th>
            <th>Appraisement Date</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>

        </tr>
    </thead>
    <tbody>
@{ 
    var SerialNo = 1;
    foreach (var item in Model)
    {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.AppraisementNo)</td>
                    <td>@Html.DisplayFor(m => item.AppraisementDate)</td>
                   
                    <td class="text-center" ><a href="#" class="edit" onclick="EditCustomAppraisement(@item.CustomAppraisementId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                  
                    @*<td class="text-center"><a href="#" onclick='alert("Did not permission to edit");'><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>*@
                  
                      <td class="text-center"><a href="#" class="view" onclick="ViewCustomAppraisement(@item.CustomAppraisementId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" class="delete" onclick="DeleteCustomAppraisement(@item.CustomAppraisementId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>

                </tr>
                SerialNo++;
            }
        
            }
    </tbody>
</table>

