@model IEnumerable<CwcExim.Areas.Import.Models.FCLtoLCLConversion>

<table class="table table-bordered table-striped" id="tblImpSCList">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Container / CBT No.</th>
            <th>ICD Code</th>
            <th>Invoice No.</th>
            <th>Size</th>
            <th>Gate In Date</th>
            <th>Cargo Type</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Print")</th>
            @*<th class="text-center">@Html.DisplayName("Delete")</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Serial</td>
                    <td>@item.ContainerNo</td>
                    <td>@item.CFSCode</td>
                    <td>@item.InvoiceNo</td>
                    <td>@item.Size</td>
                    <td>@item.GateInDate</td>
                    <td>@item.ContainerClass</td>
                    <td class="text-center"><a href="#" class="edit"  onclick="EditFCLtoLCLConversionbyId(@item.FCLtoLCLConversionId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" class="view" onclick="ViewFCLtoLCLConversionbyId(@item.FCLtoLCLConversionId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PrintInvoiceByNo('@item.InvoiceNo')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                    @*<td class="text-center"><a href="#"  onclick="DeleteFCLtoLCLConversion(@item.FCLtoLCLConversionId)"><i class="fa fa-window-close-o Delete"></i></a></td>*@
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>

    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.CanEdit == 1) {
        //$('.edit').css('display', 'block');
        //$('.edit').disabled=false;
    } else {
        //$('.edit').css('display', 'none');
        $('.edit').removeAttr('onclick');
        $('.edit').attr('onclick', 'return false');
    }

    if (r2.CanDelete == 1) {
        //$('.delete').css('display', 'block');

    } else {
        //$('.delete').css('display', 'none');

        $('.delete').removeAttr('onclick');
        $('.delete').attr('onclick', 'return false');
    }

    if (r2.CanView == 1) {
        //$('.view').css('display', 'block');

    } else {
        //$('.view').css('display', 'none');
        $('.view').removeAttr('onclick');
        $('.view').attr('onclick', 'return false');
    }
    

    $(document).ready(function () {
        var tblImpJOList = $('#tblImpSCList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "Sl No","width": "8%" },
                       { "sName": "Container / CBT No.", "bSortable": false },
                       { "sName": "ICD Code", "bSortable": false },
                       { "sName": "Invoice No", "bSortable": false },
                       { "sName": "Size", "bSortable": false, },
                       { "sName": "Gate In Date", "bSortable": false, },
                       { "sName": "Container Class", "bSortable": false, },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Print", "bSortable": false, "width": "10%" },
                       //{ "sName": "Delete", "bSortable": false, "width": "10%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblImpJOList);
    });

    function ViewFCLtoLCLConversionbyId(FCLtoLCLConversionId) {
        debugger;
        $('#DivBody').load('/Import/PpG_CWCImport/ViewFCLtoLCLConversionbyId?FCLtoLCLConversionId=' + FCLtoLCLConversionId);
    }
    function EditFCLtoLCLConversionbyId(FCLtoLCLConversionId) {
        debugger;
        $('#DivBody').load('/Import/PpG_CWCImport/EditFCLtoLCLConversionbyId?FCLtoLCLConversionId=' + FCLtoLCLConversionId);
    }
    @*function PrintFCLtoLCLConversion(InvoiceId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("FCLToLCLConversionInvoicePrint", "PpG_CWCImport", new { Area = "Import" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: { InvoiceID: InvoiceId },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }*@
    function PrintInvoiceByNo(invoiceno) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'GE',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'FCL To LCL Conversion',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
    function DeleteFCLtoLCLConversion(FCLtoLCLConversionId) {
        debugger;
        var Confirm = confirm("Are you sure you want to delete?");
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Import/PpG_CWCImport/DeleteFCLtoLCLConversion',
                type:'GET',
                data: { FCLtoLCLConversionId: FCLtoLCLConversionId },
                headers:{"__RequestVerificationToken":Token},
                dataType:'JSON',
                success:function(data)
                {
                    if(data.Status==1){
                        alert(data.Message);
                        $('#DivBody').load('/Import/PpG_CWCImport/AddFCLtoLCLConversion');
                    }
                    else if (data.Status == 2) {
                        alert(data.Message);
                        $('#DivBody').load('/Import/PpG_CWCImport/AddFCLtoLCLConversion');
                    }
                    else if (data.Status == 3) {
                        alert(data.Message);
                        $('#DivBody').load('/Import/PpG_CWCImport/AddFCLtoLCLConversion');
                    }
                    else
                        alert(data.Message);
                }
            });
        }
    }
</script>