@model IEnumerable<CwcExim.Areas.Import.Models.PPG_ImportJobOrderList>

<table class="table table-bordered table-striped dataTable" id="tblImpJOList">
    <thead>
        <tr>
            <th class="text-center" style="width:5%;">@Html.DisplayName("SL No")</th>
            <th style="width:10%;">Job Order No</th>
            <th style="width:10%;">Job Order Date</th>
            <th style="width:10%;">Train No</th>
            <th class="text-center" style="width:5%;">@Html.DisplayName("Edit")</th>
            <th class="text-center" style="width:5%;">@Html.DisplayName("View")</th>
            <th class="text-center" style="width:5%;">@Html.DisplayName("Delete")</th>
            <th class="text-center" style="width:5%;">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center" style="width:5%;">@Serial</td>
                    <td style="width:10%;">@item.JobOrderNo</td>
                    <td style="width:10%;">@item.JobOrderDate</td>
                    <td style="width:10%;">@item.TrainNo</td>
                    <td class="text-center" style="width:5%;"><a href="#" class="edit" onclick="EditImpJODet(@item.ImpJobOrderId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center" style="width:5%;"><a href="#" class="view" onclick="ViewImpJODet(@item.ImpJobOrderId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center" style="width:5%;"><a href="#" class="delete"  onclick="DeleteImpJODet(@item.ImpJobOrderId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td class="text-center" style="width:5%;"><a href="#" onclick="PrintImpJODet(@item.ImpJobOrderId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>

<script>
    var Page = 0;
    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.lstMenu[0].CanEdit == 1) {
        //$('.edit').css('display', 'block');
        //$('.edit').disabled=false;
    } else {
        //$('.edit').css('display', 'none');
        $('.edit').css('pointer-events','none');
       // $('.edit').attr('onclick', 'return false');
    }

    if (r2.lstMenu[0].CanDelete == 1) {
        //$('.delete').css('display', 'block');

    } else {
        //$('.delete').css('display', 'none');

     //   $('.delete').removeAttr('onclick');
        //  $('.delete').attr('onclick', 'return false');
        $('.delete').css('pointer-events', 'none');
    }

    if (r2.lstMenu[0].CanView == 1) {
        //$('.view').css('display', 'block');

    } else {
        //$('.view').css('display', 'none');
     //   $('.view').removeAttr('onclick');
        // $('.view').attr('onclick', 'return false');
        $('.view').css('pointer-events', 'none');
    }

    $(document).ready(function () {
        var tblImpJOList = $('#tblImpJOList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "Sl No","width": '5%'},
                       { "sName": "Job Order No", "bSortable": false , "width":'10%'},
                       { "sName": "Job Order Date", "bSortable": false, "width":'10%' },
                       { "sName": "Train No", "bSortable": false ,"width": '10%'},
                       { "sName": "Edit", "bSortable": false ,"width": '5%'},
                       { "sName": "View", "bSortable": false ,"width": '5%'},
                       { "sName": "Delete", "bSortable": false ,"width": '5%'},
                        { "sName": "Preview", "bSortable": false ,"width": '5%'}
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "5%");
                $('td:eq(1)', nRow).css("width", "10%");
                $('td:eq(2)', nRow).css("width", "10%");
                $('td:eq(3)', nRow).css("width", "10%");
                $('td:eq(4)', nRow).css("width", "5%");
                $('td:eq(5)', nRow).css("width", "5%");
                $('td:eq(6)', nRow).css("width", "5%");
                $('td:eq(7)', nRow).css("width", "5%");
                $('td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6),td:eq(7),td:eq(8)', nRow).addClass("text-center");
            }
        });
        new $.fn.dataTable.FixedHeader(tblImpJOList);
    });
    function EditImpJODet(ImpJobOrderId)
    {
        $('#DivBody').load('/Import/PpG_CWCImport/EditJobOrder?ImpJobOrderId='+ImpJobOrderId);
    }
    function ViewImpJODet(ImpJobOrderId)
    {
        $('#DivBody').load('/Import/PpG_CWCImport/ViewJobOrder?ImpJobOrderId=' + ImpJobOrderId);
    }
    function DeleteImpJODet(ImpJobOrderId)
    {
        var Confirm = confirm("Are you sure you want to delete?");
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Import/PpG_CWCImport/DeleteJobOrder',
                type:'POST',
                data:{ImpJobOrderId:ImpJobOrderId},
                headers:{"__RequestVerificationToken":Token},
                dataType:'JSON',
                success:function(data)
                {
                    if(data.Status==1)
                    {
                        alert("Job Order has been deleted successfully");
                        $('#DivBody').load('/Import/PpG_CWCImport/CreateJobOrder');
                    }
                    else
                        alert(data.Message);
                }
            });
        }
    }
    function PrintImpJODet(ImpJobOrderId)
    {
        debugger;
        var Token=$('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Import/PpG_CWCImport/PrintJO',
            type:'POST',
            data:{ImpJobOrderId:ImpJobOrderId},
            headers:{"__RequestVerificationToken":Token},
            dataType:'JSON',
            success:function(data)
            {
                if(data.Status==1)
                    window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
                else
                    alert(data.Message);
            }
        });

    }
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Import/PpG_CWCImport/LoadListMoreData',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblImpJOList').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.JobOrderNo],
        [item.JobOrderDate],
        [item.TrainNo],
        ['<a href="#" onclick=EditImpJODet(' + [item.ImpJobOrderId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#" onclick=ViewImpJODet(' + [item.ImpJobOrderId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
        ['<a href="#" onclick=DeleteImpJODet(' + [item.ImpJobOrderId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
        ['<a href="#" onclick=PrintImpJODet(' + [item.ImpJobOrderId] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
</script>