@model IEnumerable<CwcExim.Areas.Import.Models.ppg_ContainerAmendment>
<table class="table table-striped table-bordered" id="tblRegDtl" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px" rowspan='2' class="text-center">@Html.DisplayName("SL No")</th>
            <th style="width:100px" rowspan='2'>Amendment No</th>
            <th style="width:80px" rowspan='2'>Amendment Date</th>
            <th style="width:100px" rowspan='2'>Container No</th>
            <th style="width:200px" colspan='2' class="text-center">OLD</th>
            <th style="width:200px" colspan='2' class="text-center">NEW</th>

        </tr>
        <tr>
            <th style="width:100px" class="text-center">Container Size</th>
            <th style="width:100px" class="text-center">Shipping Line Name</th>

            <th style="width:100px" class="text-center">Container Size</th>
            <th style="width:100px" class="text-center">Shipping Line Name</th>

        </tr>
    </thead>
    <tbody>
        @{ var SerialNo = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td style="width:10px" class="text-center">@SerialNo.ToString()</td>
                    <td style="width:100px">@data.AmendNo</td>
                    <td style="width:80px">@data.AmendDate</td>
                    <td style="width:100px">@data.ContainerNo</td>

                    <td style="width:100px" class="text-center">@data.OldContainerSize</td>
                    <td style="width:100px" class="text-center">@data.OldShippingLineName</td>

                    <td style="width:100px" class="text-center">@data.newContainerSize</td>
                    <td style="width:100px" class="text-center">@data.NewShippingLineName</td>

                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    /*
    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.CanEdit == 1) {

    } else {
        $('.edit').removeAttr('onclick');
        $('.edit').attr('onclick', 'return false');
    }

    if (r2.CanDelete == 1) {

    } else {
        $('.delete').removeAttr('onclick');
        $('.delete').attr('onclick', 'return false');
    }

    if (r2.CanView == 1) {
    }
    else {
        $('.view').removeAttr('onclick');
        $('.view').attr('onclick', 'return false');
    }

    */
    $(document).ready(function () {
        var tblRegDtl = $('#tblRegDtl').DataTable({
            "autoWidth": false,
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "10px" },
                       { "sName": "Amendment No", "bSortable": false ,"width":"100px"},
                       { "sName": "Amendment Date", "bSortable": false ,"width":"100px"},
                       { "sName": "Container No", "bSortable": false ,"width":"100px"},
                       { "sName": "Old Container Size", "bSortable": false ,"width":"100px"},
                       { "sName": "Old Shipping Line Name", "bSortable": false ,"width":"100px"},
                        { "sName": "New Container Size", "bSortable": false ,"width":"100px"},
                       { "sName": "New Shipping Line Name", "bSortable": false ,"width":"100px"}


            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull)
            {
                $('td:eq(0)', nRow).css("width", "10px");
                $('td:eq(1)', nRow).css("width", "100px");
                $('td:eq(2)', nRow).css("width", "80px");
                $('td:eq(3)', nRow).css("width", "100px");
                $('td:eq(4)', nRow).css("width", "80px");
                $('td:eq(5)', nRow).css("width", "100px");
                $('td:eq(6)', nRow).css("width", "80px");
                $('td:eq(7)', nRow).css("width", "100px");


            }
        });
        new $.fn.dataTable.FixedHeader(tblRegDtl);
    });

    
</script>


