@model IEnumerable<CwcExim.Areas.Import.Models.TrainSummaryUpload>
<table class="table table-bordered table-striped" id="tblTrainSummary" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Train No</th>
            <th>Train Date</th>
            <th>Port Name</th>
            <th>Upload Date</th>
            <th class="text-center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.TrainNo</td>
                    <td>@item.TrainDate</td>
                    <td>@item.PortName</td>
                    <td>@item.UploadDate</td>
                    <td class="text-center"><a href="#" onclick="ViewTrainSummary(@item.TrainSummaryUploadId,'@item.TrainNo','@item.TrainDate','@item.PortName')"><i class="fa fa-search-plus Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblTrainSummary= $('#tblTrainSummary').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "10%" },
                       { "sName": "Train No" },
                       { "sName": "Train Date", "bSortable": false },
                       { "sName": "Port Name" },
                       { "sName": "Upload Date" },
                       { "sName": "View", "bSortable": false, "width": "9%" },
            ]
        });
        new $.fn.dataTable.FixedHeader(tblTrainSummary);
    });
    function ViewTrainSummary(TrainSummaryUploadId,TrainNo,TrainDate,PortName)
    {
        $.ajax({
            type: 'GET',
            url: '/Import/Ppg_CWCImport/GetTrainSummaryDetails',
            data : {TrainSummaryUploadId:TrainSummaryUploadId},
            dataType: 'JSON',
            success: function (data) {
                if (data != null) {
                    debugger;
                    TrainSummaryUploadListFromXL = [];
                    TrainSummaryUploadListFromXL = data;
                    CanDelete = false;
                    $('#TrainNo').val(TrainNo);
                    $('#TrainDate').val(TrainDate);
                    $('#PortName').val(PortName);
                    PopulateGrid();
                    $('#btnSave').attr('disabled', true);
                    $('#btnUpload').attr('disabled', true);
                }
            }
        });
    }


</script>

