@model CwcExim.Areas.Import.Models.FCLtoLCLConversion

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FCL/LCL Conversion</h4>
                        <input type="hidden" id="ViewContainerList" name="ContainerList" value="" />
                        @*@if (ViewBag.CHAShippingLineList != null)
                            {
                                <input type="hidden" id="cha" value="@ViewBag.CHAShippingLineList.ToString()" />
                            }
                            else
                            {
                                <input type="hidden" id="cha" value="@ViewBag.CHAShippingLineList.ToString()" />
                            }*@
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @*@Html.LabelFor(m => m.ContainerNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>*@
                            <label class="InputLabel" for="ContainerNo">Container / CBT No. :</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.HiddenFor(m => m.FCLtoLCLConversionId, new { @value = "0" })
                            @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                            @*<span class="search" id="ContainerSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>*@
                            @*@Html.ValidationMessageFor(m => m.ShiCargo Type:ppingLineName)*@
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.CFSCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.CFSCode)
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.VesselName)*@
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.GateInDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2 Date_Img">
                            @*@Html.TextBox("GateInDate", "", new { @class = "form-control input-sm", placeholder = "dd/mm/yyyy", @readonly = true, @onfocus = "hideMsg(this);" })*@
                            @Html.TextBoxFor(m => m.GateInDate, new { @class = "InputLabel", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.VesselName)*@
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                            <label class="InputLabel">SLA :</label>
                        </div>
                        <div class="col-md-2">
                            @Html.HiddenFor(m => m.SALId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.SAL, new { @class = "form-control input-sm", @readOnly = true })
                            @*<span class="search" id="SALSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SALModal"></i></span>*@
                            @*@Html.ValidationMessageFor(m => m.PortCharge)*@
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">Cargo Type<span class="LabelColon">:</span></div>
                        <div class="col-md-2-5 col_cus_2_5">
                            @Html.DropDownListFor(m => m.ContainerClassId, new List<SelectListItem>
                            {
                            new SelectListItem { Text="Has",Value="1"},
                            new SelectListItem { Text="Non-Has",Value="2"},
                            }, "----Select----", new { @class = "form-control input-sm", @disabled = true })
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.OldOBLType, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.DropDownListFor(m => m.OldOBLType, new List<SelectListItem>
                            {
                            new SelectListItem { Text="FCL",Value="FCL",Selected=true},
                            }, new { @class = "form-control input-sm", @disabled = true })
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.NewOBLType, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2">
                            @Html.DropDownListFor(m => m.NewOBLType, new List<SelectListItem>
                            {
                            new SelectListItem { Text="LCL",Value="LCL",Selected=true},
                            }, new { @class = "form-control input-sm", @disabled = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="Form_Space_top"></div>

            <div class="Head_h4">
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.PartyPdaCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.HiddenFor(m => m.PartyPdaId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.PartyPdaCode, new { @class = "form-control input-sm", @readOnly = true })
                            @*<span class="search" id="CHAShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAShippingLineModal"></i></span>*@
                            @*@Html.ValidationMessageFor(m => m.PortCharge)*@
                        </div>
                    </div>
                </div>
                @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label> DSTF Charge:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.DSTFCharge, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.DSTFCharge)
                            </div>

                            <div class="col-md-1 col_cus_2">
                                @Html.LabelFor(m => m.AmmendCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.AmmendCharge, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.AmmendCharge)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">

                            <div class="clearfix"></div>
                            <div class="Form_Space_top"></div>
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.CGSTCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                @Html.HiddenFor(m => m.IGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.CGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.SGSTPer, new { @value = "0" })

                                @Html.HiddenFor(m => m.DSTFOperationId, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFChargeType, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFIGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFCGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFSGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFIGSTCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFCGSTCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFSGSTCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFAmount, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFTaxable, new { @value = "0" })
                                @Html.HiddenFor(m => m.DSTFTotalAmount, new { @value = "0" })

                                @Html.HiddenFor(m => m.AmmendOperationId, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendChargeType, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendIGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendCGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendSGSTPer, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendIGSTCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendCGSTCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendSGSTCharge, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendAmount, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendTaxable, new { @value = "0" })
                                @Html.HiddenFor(m => m.AmmendTotalAmount, new { @value = "0" })

                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CGSTCharge, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.CGSTCharge)
                            </div>

                            <div class="col-md-1 col_cus_2">
                                @Html.LabelFor(m => m.SGSTCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-1-5">
                                @Html.TextBoxFor(m => m.SGSTCharge, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.SGSTCharge)
                            </div>

                            <div class="col-md-1 col_cus_2">
                                @Html.LabelFor(m => m.IGSTCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-1-5">
                                @Html.TextBoxFor(m => m.IGSTCharge, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.IGSTCharge)
                            </div>

                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.TotalAmount, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-1-5">
                                @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.TotalAmount)
                            </div>
                            <div class="clearfix"></div>
                            <div class="Form_Space_top"></div>

                        </div>
                    </div>*@

                <div class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Charges</h5>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Charges</th>
                                        <th rowspan="2">Value</th>
                                        <th colspan="2" class="text-center">IGST</th>
                                        <th colspan="2" class="text-center">CGST</th>
                                        <th colspan="2" class="text-center">SGST</th>
                                        <th rowspan="2" style="width:15%;">Total</th>
                                    </tr>
                                    <tr>
                                        <th>%</th>
                                        <th>Amt</th>
                                        <th>%</th>
                                        <th>Amt</th>
                                        <th>%</th>
                                        <th style="border-right:1px solid #ddd;">Amt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @Html.HiddenFor(m => m.DSTFOperationId, new { @value = "0" })
                                        @Html.HiddenFor(m => m.DSTFChargeType, new { @value = "0" })
                                        <td>@Html.TextBoxFor(m => m.DSTFChargeName, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFIGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFIGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFCGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFCGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFSGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFSGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.DSTFTotalAmount, new { @class = "form-control input-sm", @readonly = true })</td>
                                    </tr>
                                    <tr>
                                        @Html.HiddenFor(m => m.AmmendOperationId, new { @value = "0" })
                                        @Html.HiddenFor(m => m.AmmendChargeType, new { @value = "0" })
                                        <td>@Html.TextBoxFor(m => m.AmmendChargeName, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendIGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendIGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendCGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendCGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendSGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendSGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.AmmendTotalAmount, new { @class = "form-control input-sm", @readonly = true })</td>
                                    </tr>
                                    <tr>
                                        @Html.HiddenFor(m => m.LOLOperationId, new { @value = "0" })
                                        @Html.HiddenFor(m => m.LOLChargeType, new { @value = "0" })
                                        <td>@Html.TextBoxFor(m => m.LOLChargeName, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLIGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLIGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLCGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLCGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLSGSTPer, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLSGSTCharge, new { @class = "form-control input-sm", @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => m.LOLTotalAmount, new { @class = "form-control input-sm", @readonly = true })</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" class="text-right">Total:</td>
                                        <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                            @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control input-sm", @readonly = true })
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td colspan="8" style="text-align:right;">TDS:</td>
                                            <td><input type="text" id="TOTCWCTDS" value="0" onblur="CalcInvoice()"></td>
                                        </tr>*@
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="Form_Space_top"></div>
            </div>

            <div class="row">
                <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                    <input type="submit" id="btnBack" class="btn log_Btn_sm" value="Back" />
                </div>
                @*<div class="col-md-2">
                        <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllFields()" />
                    </div>*@
            </div>

            <div class="row">
                <div class="col-md-12" id="DivScList">
                </div>
            </div>

            <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
            <div class="row">
                <div class="col-md-12">
                    <div id="divFormOneList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>

    $('#btnBack').on("click", function () {
        $('#DivBody').load('/Import/Ppg_CWCImport/AddFCLtoLCLConversion');
    });
</script>
