@model CwcExim.Areas.Import.Models.PPG_FormOneModel

<div class="Head_h4">
    <div class="row">
        <div class="col-md-12">
            <h4>Form - 1</h4>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2">
                @Html.HiddenFor(m => m.FormOneId, new { @value = "0" })
                @Html.LabelFor(m => m.FormOneNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.FormOneNo, new { @class = "form-control input-sm", @readonly = true })
            </div>
            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                @Html.LabelFor(m => m.FormOneDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2 col_cus_2_5">
                @Html.TextBoxFor(m => m.FormOneDate, new { @class = "form-control input-sm", @readonly = true })
            </div>
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2 padding_rt">
                <label>Shipping Line Name:</label>
            </div>
            <div class="col-md-10-5 col_cus_10">
                @Html.HiddenFor(m => m.ShippingLineId, new { @value = "0" })
                @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input-sm", @readonly = true })
                <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                @Html.ValidationMessageFor(m => m.ShippingLineName)
            </div>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2 padding_rt">
                @Html.LabelFor(m => m.VesselName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-10-5 col_cus_10">
                @Html.TextBoxFor(m => m.VesselName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.VesselName)
            </div>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2">
                @Html.LabelFor(m => m.VoyageNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.VoyageNo, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.VoyageNo)
            </div>
            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                @Html.LabelFor(m => m.RotationNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.RotationNo, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.RotationNo)
            </div>
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2 padding_rt">
                @Html.LabelFor(m => m.PortName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-4 col_cus_3">
                @Html.HiddenFor(m => m.PortOfDischargeId, new { @value = "0" })
                @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input-sm", @readonly = true })
                <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PODModal"></i></span>
                @Html.ValidationMessageFor(m => m.PortName)
            </div>
            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 padding_rt">
                @Html.LabelFor(m => m.PortCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.PortCharge, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.PortCharge)
            </div>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2 padding_rt">
                <label>Port Charge Amount:</label>
            </div>
            <div class="col-md-2-5">
                @Html.TextBoxFor(m => m.PortChargeAmt, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.PortChargeAmt)
            </div>
        </div>
    </div>

    <div class="Head_h5">
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Container No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.Hidden("FormOneDetailId", 0)
                    @Html.TextBox("txtContainerNo", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                    <span class="field-validation-error" id="ErrContainerNo"></span>
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                    <label>Container Size:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.DropDownList("ddlContainerSize", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="20",Value="20"},
                                        new SelectListItem { Text="40",Value="40"},
                                        
                                        }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                    <span class="field-validation-error" id="ErrContainerSize"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                @*<div class="col-md-1-5 col_cus_2">
                    <label>Reefer:</label>
                </div>
                <div class="col-md-1 padding_rt">
                    <div class="boolean-container">
                        @Html.CheckBox("IsReefer")
                        <label for="IsReefer"><i class="square"></i></label>
                    </div>
                </div>*@
                <div class="col-md-1 col_cus_1_5 padding_rt">
                    <label>Flat Reck:</label>
                </div>
                <div class="col-md-1 padding_rt">
                    <div class="boolean-container">
                        @Html.CheckBox("IsFlatReck")
                        <label for="IsFlatReck"><i class="square"></i></label>
                    </div>
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-3-5">
                    <label>Seal No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBox("txtSealNo", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                    <span class="field-validation-error" id="ErrSealNo"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Line No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBox("txtLineNo", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                    <span class="field-validation-error" id="ErrLineNo"></span>
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                    <label>Marks & No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBox("txtMarksNo", "", new { @class = "form-control input-sm" })
                    <span id="ErrMarksNo"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>CHA Name & Address:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.Hidden("CHAId", "0")
                    @Html.TextArea("txtCHAName", "", new { @class = "form-control input-sm", @readonly = true })
                    <span class="search" id="CHASearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                    <span id="ErrCHAName"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Importer Name & Address:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.Hidden("ImporterId", new { @value = "0" })
                    @Html.TextArea("txtImporterName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                    <span class="search" id="ImporterSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                    <span class="field-validation-error" id="ErrImporterName"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Cargo Description:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.TextArea("txtCargoDesc", "", new { @class = "form-control input-sm", @style = "height:75px;", @onfocus = "hideMsg(this);" })
                    <span class="field-validation-error" id="ErrCargoDesc"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Commodity:</label>
                </div>
                <div class="col-md-4 col_cus_3">
                    @Html.Hidden("CommodityId", new { @value = "0" })
                    @Html.TextBox("txtCommodity", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                    <span class="search" id="CommoditySearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                    <span class="field-validation-error" id="ErrCommodity"></span>
                </div>

                <div class="col-md-1-5 col_cus_2">
                    <label>BL No.:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBox("BLNO","", new { @class = "form-control input-sm" })
                    @*@Html.ValidationMessageFor(m => m.BLNo)*@
                </div>
            </div>
        </div>


        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Cargo Type:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.DropDownList("ddlCargoType", new List<SelectListItem>
                {

                new SelectListItem { Text="HAZ",Value="1"},
                new SelectListItem { Text="NonHAZ",Value="2"},
                }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                    <span class="field-validation-error" id="ErrCargoType"></span>
                </div>
                <div class="col-md-1 padding_rt">
                    <div class="boolean-container">
                        @Html.RadioButton("LCLFCL", "FCL", new { @class = "", @id = "rbFCL", @checked = true })
                        <label for="rbFCL"><i class="circle"></i><span>FCL</span></label>
                    </div>
                </div>
                <div class="col-md-1 padding_rt">
                    <div class="boolean-container">
                        @Html.RadioButton("LCLFCL", "LCL", new { @class = "", @id = "rbLCL" })
                        <label for="rbLCL"><i class="circle"></i><span>LCL</span></label>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2 padding_rt">
                <label>Date of Landing:</label>
            </div>
            <div class="col-md-2 col_cus_2_5 Date_Img">
                @Html.TextBox("txtDateOfLanding", "", new { @class = "form-control input-sm", placeholder = "dd/mm/yyyy", @readonly = true, @onfocus = "hideMsg(this);" })
                <span id="ErrDateOfLanding"></span>
            </div>
        </div>
    </div>
    <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-1-5 col_cus_2">
                <label>Remarks:</label>
            </div>
            <div class="col-md-10-5 col_cus_10">
                @Html.TextArea("txtRemarks", "", new { @class = "form-control input-sm", @style = "height:100px;" })
                <span id="ErrRemarks"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
    </div>
    <div class="row"><div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
   
        <input type="submit" id="btnBack" class="btn log_Btn_sm" value="Back" />
        @*<input type="button" id="btnAddFormOneDet" class="btn log_Btn_sm" value="Add" onclick="AddFormOneDet()" />*@
    </div>

</div>

    <div class="row Form_Space_top Form_Space_bottom">
        <div class="col-md-12">
            <table class="table table-striped table-bordered dataTable" id="tblFormOneDet" style="width:100%;"></table>
        </div>
    </div>

    <div>
        @Html.HiddenFor(m => m.FormOneDetailsJS)
        @Html.ValidationMessageFor(m => m.FormOneDetailsJS)
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        //GetFormOne();
        //GetFormOneList();
        TimeInSeconds = 5000;

    });

    $('#Shippingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShipping > li').show();
        else {
            $('#lstShipping > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstShipping > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });
    $('#PODbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPOD > li').show();
        else {
            $('#lstPOD > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstPOD > li').on("click", function () {
        $('#PortName').val($(this).text());
        $('#PortOfDischargeId').val($(this).attr('id'));
        $("#PODModal").modal("hide");
    });
    $('#CHAbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCHA > li').show();
        else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCHA > li').on("click", function () {
        $('#txtCHAName').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAModal").modal("hide");
    });
    $('#Impbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstImp > li').show();
        else {
            $('#lstImp > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstImp > li').on("click", function () {
        $('#txtImporterName').val($(this).text());
        $('#ImporterId').val($(this).attr('id'));
        $("#ImporterModal").modal("hide");
    });
    $('#Commoditybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCommodity > li').show();
        else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCommodity > li').on("click", function () {
        $('#txtCommodity').val($(this).text());
        $('#CommodityId').val($(this).attr('id'));
        $("#CommodityModal").modal("hide");
    });
</script>
<script>

    var EditIndex = -1;
    var ArrayOfContainerDetails = [];
    var obj;
    $(document).ready(function () {
        debugger;
        ArrayOfContainerDetails = $.parseJSON($('#FormOneDetailsJS').val());
        GenerateTable();
    });
    function AddFormOneDet() {
        if (ValidateFormOneDet()) {
            var ContainerDetails = {
                "FormOneDetailID": $('#FormOneDetailId').val(),
                "ContainerNo": $('#txtContainerNo').val(),
                "ContainerSize": $('#ddlContainerSize option:selected').val(),
                "Reefer": $('#IsReefer').is(':checked') ? 1 : 0,
                "FlatReck": $('#IsFlatReck').is(':checked') ? 1 : 0,
                "SealNo": $('#txtSealNo').val(),
                "LineNo": $('#txtLineNo').val(),
                "MarksNo": $('#txtMarksNo').val(),
                "CHAId": $('#CHAId').val(),
                "CHAName": $('#txtCHAName').val(),
                "ImporterId": $('#ImporterId').val(),
                "ImporterName": $('#txtImporterName').val(),
                "CargoDesc": $('#txtCargoDesc').val(),
                "CommodityId": $('#CommodityId').val(),
                "CommodityName": $('#txtCommodity').val(),
                "CargoType": $('#ddlCargoType option:selected').val(),
                "DateOfLanding": $('#txtDateOfLanding').val(),
                "Remarks": $('#txtRemarks').val()
            };
            if (EditIndex > -1)
                ArrayOfContainerDetails.splice(EditIndex, 1, ContainerDetails);
            else
                ArrayOfContainerDetails.push(ContainerDetails);
            $('#tblFormOneDet').html('');
            GenerateTable();
            ResetFormOneDet();
        }
    }
    function ValidateFormOneDet() {
        debugger;
        var Status = true;
        if ($('#txtContainerNo').val() == "") {
            $('#ErrContainerNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlContainerSize option:selected').text() == "----Select----") {
            $('#ErrContainerSize').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtSealNo').val() == "") {
            $('#ErrSealNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtLineNo').val() == "") {
            $('#ErrLineNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtMarksNo').val() == "") {
            $('#ErrMarksNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCHAName').val() == "") {
            $('#ErrCHAName').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtImporterName').val() == "") {
            $('#ErrImporterName').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCargoDesc').val() == "") {
            $('#ErrCargoDesc').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCommodity').val() == "") {
            $('#ErrCommodity').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlCargoType option:selected').text() == "----Select----") {
            $('#ErrCargoType').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtDateOfLanding').val() == "") {
            $('#ErrDateOfLanding').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtRemarks').val() == "") {
            $('#ErrRemarks').html('Fill Out This Field');
            Status = false;
        }

        setTimeout(function () { $('span[id*="Err"]').html(''); }, 2000);
        return Status;
    }
    function GenerateTable() {
        var tablehtml = '<table id="tblFormOneDet" class="table table-striped table-bordered" style="width:100%;">'
            + '<thead><tr><th style="text-align:center;">SL No</th><th>Container No</th><th>Container Size</th><th>Line No</th><th>Date of Landing</th><th style="text-align:center;">View</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfContainerDetails, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ContainerNo + '</td><td>' + data.ContainerSize + '</td><td>' + data.LineNo + '</td><td>' + data.DateOfLanding + '</td>'
                + '<td style="text-align:center;width:10%;"><a href="#" onclick="ViewFormOneDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblFormOneDet').html(tablehtml);

        if (ArrayOfContainerDetails.length > 0) {
            $('#FormOneDetailsJS').val(JSON.stringify(ArrayOfContainerDetails));
        }
        else {
            $('#FormOneDetailsJS').val('');
        }
    }
    function ResetFormOneDet() {
        $('#FormOneDetailId, #CHAId, #ImporterId, #CommodityId').val('0');
        $('#txtContainerNo, #txtSealNo, #txtLineNo, #txtMarksNo, #txtCHAName, #txtImporterName, #txtCargoDesc, #txtCommodity, #txtDateOfLanding, #txtRemarks').val('');
        $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#ddlContainerSize, #ddlCargoType').prop('selectedIndex', 0);
        $('#btnAddFormOneDet').prop("disabled", false);
    }
    function EditFormOneDet(i) {
        debugger;
        $('#btnAddFormOneDet').prop("disabled", false);
        $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
        $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
        $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
        $('#IsReefer').prop('checked', (ArrayOfContainerDetails[i].Reefer == 1 ? true : false));
        $('#IsFlatReck').prop('checked', (ArrayOfContainerDetails[i].FlatReck == 1 ? true : false));
        $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
        $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
        $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
        $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
        $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
        $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
        $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
        $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
        $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
        $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
        $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').prop("selected", true);
        $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
        $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
        EditIndex = i;
        GenerateTable();
    }
    function ViewFormOneDet(i) {
        debugger;
        if (ArrayOfContainerDetails[i].LCLFCL=="FCL")
        {
            $('#rbFCL')[0].checked = true;
        }
        else
        {
            $('#rbLCL')[0].checked = true;
        }
        $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
        $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
        $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').attr("selected", "selected");
        $('#IsReefer').attr('checked', ArrayOfContainerDetails[i].Reefer == 1 ? true : false);
        $('#IsFlatReck').attr('checked', ArrayOfContainerDetails[i].FlatReck == 1 ? true : false);
        $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
        $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
        $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
        $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
        $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
        $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
        $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
        $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
        $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
        $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
        $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').attr("selected", "selected");
        $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
        $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
       
        $('#BLNO').val(ArrayOfContainerDetails[i].BLNo);
        $('#btnAddFormOneDet').prop("disabled", true);
    }

    function ResetAllFields() {
        GetFormOne();
    }

    $('#btnBack').on("click", function () {
        $('#DivBody').load('/Import/Ppg_CWCImport/CreateFormOne');
    });
</script>
