@model  CwcExim.Areas.Import.Models.VIZInvoiceYard
@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}
@*@if (ViewBag.PaymentParty != null)
    {
        <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
    }
    else
    {
        <input type="hidden" id="hdnPartyPayee" value="" />
    }*@

@if (ViewBag.RightsList != null)
{
    <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
}
else
{
    <input type="hidden" id="hdnRights" value="" />
}

<input type="hidden" id="hdnBOL" value="" />

@*<script src="~/Scripts/AngularScript/App.js"></script>*@
<script src="~/Areas/Import/Scripts/App/Services/VIZYardInvoiceService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/VIZYardInvoiceCtrl.js"></script>
<style>
    #tbleParty.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tblePayee.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<script>

    $('#InvoiceDate').focus();
    angular.bootstrap(document.getElementById('YardAppDiv'), ['CWCApp']);
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('SearchPartyText').addEventListener('keyup', debounce(function () {
        if (document.getElementById('SearchPartyText').value != "")
            angular.element('#YardInvoiceController').scope().SearchPartyList();
        else
            angular.element('#YardInvoiceController').scope().LoadPartyList();
    }, 800));


    document.getElementById('SearchCHAText').addEventListener('keyup', debounce(function () {
        if (document.getElementById('SearchCHAText').value != "")
            angular.element('#YardInvoiceController').scope().SearchPartyList();
        else
            angular.element('#YardInvoiceController').scope().LoadPartyList();
    }, 800));


    document.getElementById('SearchPayeeText').addEventListener('keyup', debounce(function () {
        if (document.getElementById('SearchPayeeText').value != "")
            angular.element('#YardInvoiceController').scope().SearchPayeeList();
        else
            angular.element('#YardInvoiceController').scope().LoadPayeeList();
    }, 800));
    $('#InvoiceDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    $('#DeliveryDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#InvoiceNo').val(data.Data.InvoiceNo);
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnPrint').removeAttr('disabled');
            //setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg')) {
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                $('#btnSave').removeAttr('disabled');
            }
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {
        debugger;
        $('#DivBody').load('/Import/Wfld_CWCImport/CreateYardPaymentSheet');
    }

    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        debugger;
        TaxType = Type;
        $('#DivBody').load('/Import/VIZ_CWCImport/CreateYardPaymentSheet?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else
        $('#Bill').prop('checked', true);

    /* function checkyard() {

         if ($('#CustApprove').prop('checked') == true) {
             $('#Approved').prop('checked', false);
             $('#CustApprove').prop('checked', true);
         }


     }*/
    /*  function check()
      {
          //  $('#Approve').prop('checked', true);
          debugger;
          // alert($('#Approved').prop('checked'));


          // if ($('#Approved').prop('checked') == true) {
          //  $('#CustApprove').prop('checked', false);
          //  $('#Approved').prop('checked', true);
          // }
          if ($('#Approved').prop('checked') == true) {
              $('#Approved').prop('checked', true);
              $('#CustApprove').prop('checked', false);
          }

         else if ($('#CustApprove').prop('checked') == true) {
              $('#CustApprove').prop('checked', true);
              $('#Approved').prop('checked', false);
          }


          else
              $('#CustApprove').prop('checked', true);


      }*/

    function PrintInvoice() {
        debugger;
        var invoiceno = $('#InvoiceNo').val();

        //if (invoiceno == '')
        //{
        //    alert('No Invoice No');
        //    return;
        //}

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Wfld_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetBulkInvoiceReport", "VIZ_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'IMPYard',
                PartyId: $('#PartyId').val(),
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'ASSESSMENT SHEET YARD',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }



</script>



@using (Ajax.BeginForm("AddEditContPaymentSheet", "VIZ_CWCImport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("IsPartyStateInCompState")
    @Html.HiddenFor(m => m.lstContWiseAmountXML)
    @Html.HiddenFor(m => m.lstOperationCFSCodeWiseAmountXML)
    @Html.HiddenFor(m => m.lstPostPaymentChrgXML)
    @Html.HiddenFor(m => m.lstPostPaymentChrgBreakupXML)
    @Html.HiddenFor(m => m.lstPostPaymentContXML)
    @Html.HiddenFor(m => m.lstPrePaymentContXML)
    @Html.Hidden("BillToParty")
    <input type="hidden" id="hdnAddress" ng-model="hdnAddress" />
    <input type="hidden" id="hdnState" ng-model="hdnState" />
    <input type="hidden" id="hdnStateCode" ng-model="hdnStateCode" />
    <input type="hidden" id="hdnDeliveryType" ng-model="hdnDeliveryType" />

    @Html.Hidden("PaymentSheetModelJson")
    <div id="YardAppDiv">
        <div ng-controller="VIZYardInvoiceCtrl" id="YardInvoiceController">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-0-5 col-md-11">
                        <div class="Head_h4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Yard Invoice (FCL)</h4>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                                        <div class="boolean-container">
                                            @*@Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })*@
                                            @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')", @tabindex = 1 })
                                            <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col_cus_3">
                                        <div class="boolean-container">
                                            @*@Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })*@
                                            @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')", @tabindex = 2 })
                                            <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <label>Invoice No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                                            @Html.TextBox("InvoiceNo", "", new { @readonly = true})*@
                                        <input name="InvoiceNo" id="InvoiceNo" type="text" ng-model="InvoiceNo" readonly tabindex=3 />
                                    </div>

                                    <div class="col-md-1-5">
                                        <label>Invoice Date:</label>
                                    </div>
                                    <div class="col-md-2-5 Date_Img">

                                        @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm"), @tabindex = 4 })

                                    </div>
                                    <div class="col-md-1-5">
                                        <label>Delivery Date:</label>
                                    </div>
                                    <div class="col-md-2  Date_Img">
                                        @*@Html.TextBoxFor(m => m.DeliveryDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                        @Html.TextBox("DeliveryDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm"), @tabindex = 5 })

                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Application No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        <input type="hidden" id="StuffingReqId" ng-model="StuffingReqId" />
                                        <input type="text" id="StuffingReqNo" ng-model="StuffingReqNo" readonly tabindex=6 onkeydown="PopupActivate('stuffingModal');" />
                                        <span class="search" id="stuffingsearch" ng-show="!IsContSelected"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onkeydown="PopupActivate('stuffingModal');" data-target="#stuffingModal"></i></span>

                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Date:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5">
                                        <input type="text" id="StuffingReqDate" ng-model="StuffingReqDate" readonly tabindex=7 />
                                    </div>
                                </div>
                            </div>
                            @*div class="row Form_Space_top">ng-click="GetAppNo();"
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>OBL No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            <input name="OBLNo" id="OBLNo" type="text" ng-model="OBLNo" readonly />
                                        </div>
                                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                            <label>Container No:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                            <input name="ContainerNo" id="ContainerNo" type="text" ng-model="ContainerNo" readonly />

                                        </div>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 col_cus_2">
                                            <label>Seal Cutting Date:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5">
                                            <input name="SealCutDate" id="SealCutDate" type="text" ng-model="SealCutDate" readonly />
                                        </div>
                                        <div class="col-md-1 col_cus_2 col-md-offset-0-5">
                                            <label>No Of Pkg:</label>
                                        </div>
                                        <div class="col-md-2 col_cus_2_5">
                                            @Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                            <input name="NoOfPkg" id="NoOfPkg" type="text" ng-model="NoOfPkg" readonly />

                                        </div>
                                        <div class="col-md-1-5 col-md-offset-1 col_cus_offset_1 col_cus_2">
                                            <label>Gross Wait:</label>
                                        </div>
                                        <div class="col-md-2-5">
                                            @Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                            <input name="GrWait" id="GrWait" type="text" ng-model="GrWait" readonly />

                                        </div>
                                    </div>
                                </div>*@
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>CHA Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <input type="hidden" id="CHAId" ng-model="CHAId" />
                                        <input type="text" id="CHAName" ng-model="CHAName" readonly tabindex=8 onkeydown="PopupActivate('CHAModal');" />
                                        <span class="search" id="CHASearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" ng-click="LoadCHAList()" data-target="#CHAModal" onkeydown="PopupActivate('CHAModal');"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Party Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <input type="hidden" id="PartyId" ng-model="PartyId" />
                                        <input type="text" id="PartyName" ng-model="PartyName" readonly tabindex=9 onkeydown="PopupActivate('PartyModal');" />
                                        <span class="search" id="PartySearch" ng-show="!IsContSelected"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" ng-click="LoadPartyList();" data-target="#PartyModal"></i></span>
                                        @*@Html.ValidationMessageFor(m => m.PartyName)*@
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Payer Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <input type="hidden" id="PayeeId" ng-model="PayeeId" />
                                        <input type="text" id="PayeeName" ng-model="PayeeName" readonly tabindex=10 onkeydown="PopupActivate('PayeeModal');" />
                                        <span class="search" id="PayeeSearch" ng-show="!IsContSelected"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" ng-click="LoadPayeeList();" data-target="#PayeeModal"></i></span>
                                        @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label> GST No:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="GSTNo" ng-model="GSTNo" readonly tabindex=11 />
                                    </div>

                                    <div class="col-md-1-5 padding_rt">
                                        <label>Payment Mode:</label>
                                    </div>
                                    <div class="col-md-1 col_cus_2">
                                        <div class="col-md-1" style="padding-top: 3px;">

                                            {{InvoiceObj.PaymentMode}}
                                        </div>

                                    </div>


                                    @*<div class="col-md-offset-1-5 col-md-1-5 padding_rt">
                                            <label>Factory Destuffing:</label>
                                        </div>
                                        <div class="col-md-1 col_cus_2">
                                            <div class="boolean-container">
                                                @Html.CheckBox("CustApprove", new { @id = "CustApprove" ,@checked = true, @onchange = "checkyard()" })
                                                <label for="CustApprove" style="text-align:center;"><span></span><i class="square"></i></label>
                                            </div>
                                        </div>

                                        <div class="col-md-offset-1-5 col-md-1-5 padding_rt">
                                            <label>Direct Destuffing:</label>
                                        </div>
                                        <div class="col-md-1 col_cus_2">
                                            <div class="boolean-container">
                                                @Html.CheckBox("Approved", new { @id = "Approved" ,@onchange="check()"})
                                                <label for="Approved" style="text-align:center;"><span></span><i class="square"></i></label>
                                            </div>
                                        </div>*@

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-2 col_cus_2">
                                                <div class="boolean-container">
                                                    @*@Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })*@
                                                    @Html.RadioButton("Approvetype", "CustApprove", new { id = "CustApprove", @checked = true, @tabindex = 12 })
                                                    <label for="CustApprove"><i class="circle"></i><span>Factory Destuffing</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col_cus_3">
                                                <div class="boolean-container">
                                                    @*@Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })*@
                                                    @Html.RadioButton("Approvetype", "Approved", new { id = "Approved", @tabindex = 13 })
                                                    <label for="Approved"><i class="circle"></i><span>Direct Destuffing</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="col-md-3 col_cus_4">
                                            <input class="btn log_Btn_sm" aria-hidden="true" data-toggle="modal" data-target="#Containerdtl" type="button" value="Container Details" />
                                        </div>*@
                                </div>
                            </div>





                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label> Place Of Supply:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="PlaceOfSupply" ng-model="PlaceOfSupply" />
                                    </div>

                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label> OT Hours:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" id="OTHours" ng-model="OTHours" tabindex=14 />
                                    </div>
                                    <div class="col-md-1-5 padding_rt">
                                        <label>Distance (KM):</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2">
                                        <input name="Distance" id="Distance" type="text" ng-model="Distance" value="0" tabindex=15 />
                                    </div>
                                    <div class="col-md-1-5 padding_rt">
                                        <label>No of Vehicles:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2">
                                        <input name="NoOfVehicles" id="NoOfVehicles" type="text" ng-model="NoOfVehicles" value="1" tabindex=16 />
                                    </div>



                                </div>
                            </div>








                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">

                                    <div class="col-md-2 col_cus_2">
                                        @Html.CheckBox("OwnMovement", false, new { id = "OwnMovement", @checked = false, tabindex = 17 })
                                        <label for="OwnMovement"><i class="square"></i><span>Own Movement</span></label>
                                        @*<input name="OwnMovement" id="OwnMovement" type="checkbox" ng-model="OwnMovement" value="0" />*@
                                    </div>

                                    <div class="col-md-2 col_cus_2">
                                        @Html.CheckBox("InsuredParty", false, new { id = "InsuredParty", @checked = false, tabindex = 18 })
                                        <label for="InsuredParty"><i class="square"></i><span>Insured Party</span></label>
                                        @*<input name="InsuredParty" id="InsuredParty" type="checkbox" ng-model="InsuredParty"  />*@
                                    </div>

                                    <div class="col-md-3 col_cus_3">
                                        @Html.CheckBox("YardBond", false, new { id = "YardBond", @checked = false, tabindex = 19 })
                                        <label for="YardBond"><i class="square"></i><span>Yard to Bond Conversion</span></label>
                                        @*<input name="InsuredParty" id="InsuredParty" type="checkbox" ng-model="InsuredParty" />*@
                                    </div>
                                    <div class="col-md-1-5">
                                        <label>SEZ</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                                    </div>




                                    <div class="col-md-offset-2 col-md-4 col_cus_4">
                                        <input id="btncont" class="btn log_Btn_sm" aria-hidden="true" data-toggle="modal" data-target="#Containerdtl" type="button" value="Container / CBT Details" tabindex=21 />
                                    </div>
                                </div>
                            </div>


                            <div class="row Form_Space_top Form_Space_bottom">
                                <div class="col-md-12">
                                    <table id="tblContainer" class="table table-bordered table-striped dataTable">
                                        <thead>
                                            <tr>
                                                <th style="width:5%;">Sl No</th>
                                                <th>CFS Code</th>
                                                <th>Container / CBT No</th>
                                                <th>Size</th>
                                                <th>Reefer</th>
                                                <th>Insured</th>
                                                <th>Cargo Type</th>
                                                <th>OBL No</th>
                                                <th>No Of Pkg</th>
                                                <th>Gr Wait</th>
                                                <th>Seal Cutting Date</th>
                                                <th>DO Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="c in InvoiceObj.lstPostPaymentCont">
                                                <td>{{$index+1}}</td>
                                                <td>{{c.CFSCode}}</td>
                                                <td>{{c.ContainerNo}}</td>
                                                <td>{{c.Size}}</td>
                                                <td>
                                                    <span ng-if="c.Reefer==1">Yes</span>
                                                    <span ng-if="c.Reefer==0">No</span>
                                                </td>
                                                <td>
                                                    <span ng-if="c.Insured==1">Yes</span>
                                                    <span ng-if="c.Insured==0">No</span>
                                                </td>
                                                <td>
                                                    <span ng-if="c.CargoType==1">Haz</span>
                                                    <span ng-if="c.CargoType==2">Non Haz</span>
                                                    <span ng-if="c.CargoType==3">ODC</span>
                                                </td>
                                                <td>{{c.OBLNo}}</td>
                                                <td>{{c.NoOfPackages}}</td>
                                                <td>{{c.GrossWt}}</td>
                                                <td>{{c.SealCutDate}}</td>
                                                <td></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Importers:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <textarea id="Importers" ng-model="InvoiceObj.ImporterExporter" readonly ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="Head_h5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>CWC Charges</h5>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="col-md-12">
                                        <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Charges</th>
                                                    <th rowspan="2">Value</th>
                                                    <th colspan="2" class="text-center">IGST</th>
                                                    <th colspan="2" class="text-center">CGST</th>
                                                    <th colspan="2" class="text-center">SGST</th>
                                                    <th rowspan="2" style="width:15%;">Total</th>
                                                </tr>
                                                <tr>
                                                    <th>%</th>
                                                    <th>Amt</th>
                                                    <th>%</th>
                                                    <th>Amt</th>
                                                    <th>%</th>
                                                    <th style="border-right:1px solid #ddd;">Amt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr ng-repeat="c in CWCChargeList">
                                                        <td ng-if="c.Clause=='GRL'">{{c.ChargeName}} [{{c.Clause}}]({{Nday}} Days) </td>
                                                        <td ng-if="c.Clause!='GRL'">{{c.ChargeName}} [{{c.Clause}}]</td>
                                                        <td style="text-align:right;">{{c.Taxable | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.IGSTPer | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.IGSTAmt | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.CGSTPer | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.CGSTAmt | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.SGSTPer | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.SGSTAmt | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.Total | number : 2}}</td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="8" class="text-right">Total:</td>
                                                    <td style="font-weight:bold;text-align:right;">
                                                        <input type="text" id="TOTCWCChrg" value="0" style="text-align:right;" readonly>
                                                        @*{{InvoiceObj.AllTotal | number : 2}}*@
                                                </tr>
                                                @*<tr>
                                                        <td colspan="8" style="text-align:right;">TDS:</td>
                                                        <td><input type="text" id="TOTCWCTDS" value="0" onblur="CalcInvoice()"></td>
                                                    </tr>*@
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="row SignUp_space_bottom2 SignUp_space_top2">
                                <div class="col-md-offset-2 col-md-4">
                                    <button type="button" id="btnShowHT" class="btn log_Btn_sm" data-toggle="modal" data-target="#HnTModal">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show H&amp;T Charges
                                    </button>
                                    @*<input class="btn log_Btn_sm" aria-hidden="true" data-toggle="modal" data-target="#HnTModal" type="button" value="Show H&amp;T Charges" />*@
                                </div>
                                <div class="col-md-4">
                                    <button id="btnAddExtraHT" type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#NewHnTModal" disabled>
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Extra H&amp;T
                                    </button>
                                    @*<input class="btn log_Btn_sm" aria-hidden="true" data-toggle="modal" data-target="#NewHnTModal" type="button" value="Add Extra H&amp;T" disabled />*@
                                </div>
                            </div>
                            @*HT Charges*@
                            <div class="Head_h5 hide" id="rest-charge-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>H &amp; T Charges</h5>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="col-md-12">
                                        <table id="tblHTCharges" class="table table-bordered table-striped dataTable Table_center">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Charges</th>
                                                    <th rowspan="2">Value</th>
                                                    <th colspan="2" class="text-center">IGST</th>
                                                    <th colspan="2" class="text-center">CGST</th>
                                                    <th colspan="2" class="text-center">SGST</th>
                                                    <th rowspan="2" style="width:15%;">Total</th>
                                                    <th rowspan="2" class="text-center" style="width:15px;"></th>
                                                </tr>
                                                <tr>
                                                    <th>%</th>
                                                    <th>Amt</th>
                                                    <th>%</th>
                                                    <th>Amt</th>
                                                    <th>%</th>
                                                    <th style="border-right:1px solid #ddd;">Amt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr ng-repeat="c in HTChargeList">
                                                        <td>{{c.ChargeName}} [{{c.Clause}}]</td>
                                                        <td style="text-align:right;">{{c.Taxable | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.IGSTPer | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.IGSTAmt | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.CGSTPer | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.CGSTAmt | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.SGSTPer | number : 2}}</td>
                                                        <td style="text-align:right;">{{c.SGSTAmt | number : 2}}</td>
                                                        <td style="text-align:right;">

                                                        {{c.Total | number : 2}}

                                                        </td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="8" class="text-right">Total:</td>
                                                    <td><input type="text" id="TOTHTChrg" value="0" class="text-right" readonly></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @*HT Charges*@
                            @*Total Charges*@
                            <div class="Head_h5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Total Charges</h5>
                                    </div>
                                </div>
                                <div class="row Form_Space_top">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped dataTable Table_center">
                                            <tfoot>
                                                <tr>
                                                    <td colspan="8" class="text-right">Total Value:</td>
                                                    <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                                        @*{{InvoiceObj.AllTotal | number : 2}}*@
                                                        @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="8" class="text-right">Round Up:</td>
                                                    <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                                        @*{{InvoiceObj.RoundUp | number : 2}}*@
                                                        @Html.TextBox("RoundUp", "0", new { @readonly = true, @style = "text-align:right;" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                                    <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                                        @*{{InvoiceObj.InvoiceAmt | number : 2}}*@
                                                        @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @*Total Charges*@
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <label>Remarks:</label>
                                    </div>
                                    <div class="col-md-10-5">
                                        <textarea id="Remarks" ng-model="Remarks" style="height:75px;" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row SignUp_space_bottom SignUp_space_top">
                                <div class="stoke"></div>
                            </div>
                            <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent">{{Message}}</div>
                            <div class="row SignUp_space_bottom2">
                                <div class="col-md-offset-3 col-md-2">
                                    <input type="button" id="btnSave" value="Save" ng-click="SubmitInvoice()" class="btn log_Btn_sm" disabled />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="Generate IRN" class="btn log_Btn_sm" ng-click="GenerateIRN()" id="btnGeneratedIRN" disabled />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintInvoice()" id="btnPrint" disabled />
                                </div>
                            </div>



                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-2">
                                        <input type="button" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                                    </div>
                                    <div class="col-md-offset-1 col-md-5">
                                        <input type="text" placeholder="Search by Invoice No/Container No/Assessment No" id="SearchInvoiceNo" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="Date (dd/mm/yyyy)" id="SearchInvoiceDate" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" value="Search" onclick="SearchInvoice()" class="btn log_Btn_sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-12" id="DivListOfInvoice">
                                        <table class="table table-bordered table-striped dataTable">
                                            <thead>
                                                <tr>
                                                    <td>Sl No</td>
                                                    <td>Invoice No</td>
                                                    <td>Invoice Date</td>
                                                    <td>Party Name</td>
                                                    <td>Print</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div id="stuffingModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Custom Appraisement No</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="stuffingbox" type="text" ng-model="searchReqno" tabindex=30 />
                            <ul tabindex=31 class="navList" id="lststuffing">
                                @*@{
                                    foreach (var item in Model.lstGodownList)
                                    {
                                    <li id="@item.GodownId">@item.GodownName</li>
                                    }
                                    }*@
                                <li tabindex={{32+$index}} ng-repeat="r in ReqNos | filter: { HBLNo : searchReqno   } " ng-click="SelectReqNo(r)" ng-keypress="SelectReqNo(r)">{{r.HBLNo}}</li>

                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="PartyModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="LoadPartyList()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Party</h4>
                        </div>
                        <div class="modal-body popup_body" style="position:relative;">
                            <input placeholder="Search By Party Name Or Party Code" type="text" ng-model="SearchPartyText" id="SearchPartyText" tabindex="200" />
                            <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchPartyList()"></i></span>
                            <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                <thead>
                                    <tr>
                                        <th colspan="8" width="80%">Party Name</th>
                                        <th colspan="4" width="20%">Party Code</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="slim_scroll">
                                <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                                    <tbody>
                                        <tr tabindex={{$index+201}} ng-repeat="item in PartyList" ng-keypress="SelectParty(item)" ng-click="SelectParty(item)">
                                            <td colspan="8" width="80%" class="txt_wrp">{{item.PartyName}}</td>
                                            <td colspan="4" width="20%" class="txt_wrp">{{item.PartyCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" style="width:100%; margin-left:0;" ng-click="LoadMorePartyList()" class="btn log_Btn_sm" ng-disabled="!btnParty">Load More Data</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal" ng-click="LoadPartyList()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="PayeeModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="LoadPayeeList()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Payer</h4>
                        </div>
                        <div class="modal-body popup_body" style="position:relative;">
                            <input placeholder="Search By Party Name Or Party Code" type="text" ng-model="SearchPayeeText" id="SearchPayeeText" tabindex="300" />
                            <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchPayeeList()"></i></span>
                            <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                <thead>
                                    <tr>
                                        <th colspan="8" width="80%">Party Name</th>
                                        <th colspan="4" width="20%">Party Code</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="slim_scroll_1">
                                <table class="table dataTable table-bordered table-striped slim_tble" id="tblePayee">
                                    <tbody>
                                        <tr tabindex={{$index+301}} ng-repeat="item in PayeeList" ng-keypress="SelectPayee(item)" ng-click="SelectPayee(item)">
                                            <td colspan="8" width="80%" class="txt_wrp">{{item.PartyName}}</td>
                                            <td colspan="4" width="20%" class="txt_wrp">{{item.PartyCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" style="width:100%; margin-left:0;" ng-click="LoadMorePayeeList()" ng-keypress="LoadMorePayeeList()" class="btn log_Btn_sm" ng-disabled="!btnPayee">Load More Data</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal" ng-click="LoadPayeeList()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Containerdtl" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true" ng-click="ContainerSelect()"></i></button>
                            <h4 class="modal-title">List of Container / CBT</h4>
                        </div>
                        <div class="modal-body popup_body">

                            <table id="lstcfsCode" class="table table-bordered">
                                <tbody>
                                    <tr ng-repeat="item in conatiners">
                                        <td>
                                            <div class="boolean-container">
                                                <input type="checkbox" ng-model="item.Selected" id={{item.CFSCode}} /><label for={{item.CFSCode}}>
                                                    <i class="square" style="margin-left:10px;"></i>
                                                </label>
                                            </div>
                                        </td>
                                        <td>{{item.CFSCode}} </td>
                                        <td>{{item.ContainerNo}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal" ng-click="ContainerSelect()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="HnTModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of H&amp;T Charges</h4>
                        </div>
                        <div class="modal-body popup_body">
                            @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                            <ul class="navList" id="lstHT">
                                @*@{
                                    foreach (var item in Model.lstGodownList)
                                    {
                                    <li id="@item.GodownId">@item.GodownName</li>
                                    }
                                    }*@
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="BindHnTCharges()">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="NewHnTModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of H&amp;T Charges</h4>
                        </div>
                        <div class="modal-body popup_body">
                            @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                            <ul class="navList" id="lstNewHT">
                                @*@{
                                    foreach (var item in Model.lstGodownList)
                                    {
                                    <li id="@item.GodownId">@item.GodownName</li>
                                    }
                                    }*@
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddHnTCharges()">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="CHAModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of CHA</h4>
                        </div>
                        <div class="modal-body popup_body" style="position:relative;">
                            <input placeholder="Search By Party Name Or Party Code" type="text" ng-model="SearchCHAText" id="SearchCHAText" tabindex="100" />
                            <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchCHAList()"></i></span>
                            <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                <thead>
                                    <tr>
                                        <th colspan="8" width="80%">CHA Name</th>
                                        <th colspan="4" width="20%">CHA Code</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="slim_scroll12">
                                <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                                    <tbody>
                                        <tr tabindex={{$index+102}} ng-repeat="item in CHAList | filter : SearchCHAText" ng-click="SelectCHAList(item)" ng-keypress="SelectCHAList(item)">
                                            <td colspan="8" width="80%" class="txt_wrp">{{item.CHAName}}</td>
                                            <td colspan="4" width="20%" class="txt_wrp">{{item.PartyCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" style="width:100%; margin-left:0;" ng-click="LoadMoreCHAList()" class="btn log_Btn_sm">Load More Data</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll12').slimScroll({
            allowPageScroll: true
        });



    });
    var indx = 0;
    function BindHnTCharges() {
        debugger;
        try {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
            var rowCount = rawJson.lstPostPaymentChrg.length;
            var html = '';
            var TotalHT = 0;
            var htWithOutTax = 0;
            var TaxId = 1;
            //var htcharge = [];
            for (var i = 0; i < $("#lstHT li").length; i++) {
                if ($('#chkAHT' + i).prop("checked")) {
                    var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                    //htcharge.push(item);
                    item.ChargeId = item.ChargeId + indx;
                    TaxId = item.ChargeId;
                    rawJson.lstPostPaymentChrg.push(item);
                    TotalHT += item.Total;
                    htWithOutTax += item.Amount;
                    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                        + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly  /></td>'
                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                        + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                    rowCount += 1;
                    indx += 1;
                }
            }
            $('#tblHTCharges tbody').html(html);
            $('#TOTHTChrg').val((TotalHT).toFixed(2));
            $('#rest-charge-details').removeClass('hide');
            $('#btnSave').removeAttr('disabled');
            rawJson.HTTotal = TotalHT;
            rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
            rawJson.HTAmtTotal = htWithOutTax;
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
            $('#btnAddExtraHT').removeAttr('disabled');
            $('#btnShowHT').prop('disabled', true);
            $('#btnsave').removeAttr('disabled');
            CalcTax(TaxId);
        }
        catch (e) { console.log('BindHnTCharges : ' + e.message); }
    }

    function AddHnTCharges() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var rowCount = rawJson.lstPostPaymentChrg.length;
        var html = '';
        var TaxId = 1;
        var TotalHT = 0;
        var htWithOutTax = 0;
        indx = 0;
        for (var i = 0; i < $("#lstNewHT li").length; i++) {
            if ($('#chkNHT' + i).prop("checked")) {
                $('#chkNHT' + i).removeAttr('checked');
                var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                item.ChargeId = item.ChargeId + indx;
                TaxId = item.ChargeId;
                rawJson.lstPostPaymentChrg.push(item);
                TotalHT += item.Total;
                htWithOutTax += item.Amount;
                rowCount += 1;
                html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                    + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';

                indx += 1;
            }
        }
        $('#tblHTCharges tbody').append(html);
        rawJson.HTTotal += TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal += htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(0);
    }

    function RemoveHT(idx) {
        debugger;


        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        rawJson.lstPostPaymentChrg.splice(idx, 1);
        //var rowCount = rawJson.lstPostPaymentChrg.length;
        var rowCount = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; }).length;
        var html = '';
        var TaxId = 1;
        var TotalHT = 0;
        var htWithOutTax = 0;
        indx = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
        $.each(HTCharge, function (i, item) {
            TotalHT += item.Total;
            item.ChargeId = item.ChargeId;
            TaxId = item.ChargeId;
            htWithOutTax += item.Amount;
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
            rowCount += 1;
        });
        var rowLength = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; }).length;
        if (rowLength <= 0) {
            $('#tblHTCharges tbody').html('');
            rawJson.HTTotal = 0;
        }
        else {
            $('#tblHTCharges tbody').html(html);
            rawJson.HTTotal = TotalHT;
        }


        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal = htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
       CalcTax(0);
    }


    function CalcTax(elem) {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var MAmt = Number($('#' + elem).val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        //if (rawJson.InvoiceType == "Tax") {
        if (TaxType == "Tax") {
            /*if (rawJson.PartyStateCode == rawJson.CompStateCode) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }*/
          /*  if (parseFloat(rawJson.lstPostPaymentChrg[0].CGSTAmt) > 0 || parseFloat(rawJson.lstPostPaymentChrg[0].SGSTAmt) > 0) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else if (parseFloat(rawJson.lstPostPaymentChrg[0].IGSTAmt) > 0) {
                IP = Number($('#IGSTP' + elem).val());
            }*/


            if ($('#IsPartyStateInCompState').val() == "true") {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }
        }
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

     //   $('#IGSTA' + elem).val((MAmt * (IP / 100)).toFixed(2));
     //   $('#CGSTA' + elem).val((MAmt * (CP / 100)).toFixed(2));
     //   $('#SGSTA' + elem).val((MAmt * (SP / 100)).toFixed(2));
      //  $('#TOT' + elem).val((MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100))).toFixed(2));
        /*
        var selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId == elem; })[0];
        if (selectedItem == undefined)
            selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId + '_' + (indx - 1) == elem; })[0];
        selectedItem.Amount = MAmt;
        selectedItem.Taxable = MAmt;
        //selectedItem.IGSTPer = IP;
        selectedItem.IGSTAmt = MAmt * (IP / 100);
        //selectedItem.CGSTPer = CP;
        selectedItem.CGSTAmt = MAmt * (CP / 100);
        //selectedItem.SGSTPer = SP;
        selectedItem.SGSTAmt = MAmt * (SP / 100);
        selectedItem.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));
        */


        var TotalCWC = 0;
        //var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        rawJson.TotalCGST = 0;
        rawJson.TotalSGST = 0;
        rawJson.TotalIGST = 0;
        rawJson.TotalAmt = 0;

        $.each(CWCCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalCWC += item.Total;
        });
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
        //$('#TOTCWCTDS').val(((TotalCWC * 10) / 100).toFixed(2));
        rawJson.CWCTotal = TotalCWC;
        var TotalHT = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

        $.each(HTCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalHT += item.Total;
        });
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        //$('#TOTHTTDS').val(((TotalHT * 2) / 100).toFixed(2));
        rawJson.HTTotal = TotalHT;
        $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));
        rawJson.AllTotal = (TotalCWC + TotalHT);
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcInvoice();
    }
    function CalcInvoice() {
        debugger;
        var Total = Number($('#AllTotal').val());
        var cwcTDS = 0;// Number($('#TOTCWCTDS').val());
        var htTDS = 0;//Number($('#TOTHTTDS').val());
        var grandTDS = 0;//cwcTDS + htTDS;
        //$('#TotalTDS').val(grandTDS.toFixed(2));
        //var RoundUp = Number($('#RoundUp').val());
        var RoundUp = 0;

        $('#InvoiceValue').val((Total - (grandTDS + RoundUp)).toFixed(2));
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        //console.clear();
        //console.log(JSON.stringify(rawJson));
        //rawJson.AllTotal = Total;
        rawJson.CWCTDS = cwcTDS;
        rawJson.HTTDS = htTDS;
        rawJson.TDS = grandTDS;
        rawJson.RoundUp = RoundUp;
        rawJson.InvoiceAmt = rawJson.AllTotal - (rawJson.TDS + rawJson.RoundUp);

        rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal);
        var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;

       // var round = 0;

        rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);
        //rawJson.InvoiceAmt = rawJson.AllTotal;

        console.log(rawJson.AllTotal.toFixed(2));
        console.log(round.toFixed(2));
        $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
        $('#RoundUp').val(round.toFixed(2));
        $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        //$('#rest-charge-details').removeClass('hide');
        debugger;


        // $('#DeliApp_DeliveryAppDtlXml').val(JSON.stringify(ArrayOfDeliveryApp));
        //$('#lstContWiseAmount').push(JSON.stringify(rawJson.lstContWiseAmount));




        $('#lstContWiseAmountXML').val(JSON.stringify(rawJson.lstContWiseAmount));
        $('#lstOperationCFSCodeWiseAmountXML').val(JSON.stringify(rawJson.lstOperationCFSCodeWiseAmount));
        $('#lstPostPaymentChrgXML').val(JSON.stringify(rawJson.lstPostPaymentChrg));
        $('#lstPostPaymentChrgBreakupXML').val(JSON.stringify(rawJson.lstPostPaymentChrgBreakup));
        $('#lstPostPaymentContXML').val(JSON.stringify(rawJson.lstPostPaymentCont));
        $('#lstPrePaymentContXML').val(JSON.stringify(rawJson.lstPrePaymentCont));
    }




    function ShowList() {
        $('#SearchInvoiceNo').val("");
        $('#SearchInvoiceDate').val("");
        $('#DivListOfInvoice').load('/Import/VIZ_CWCImport/ListOfExpInvoice?Module=IMPYard');
    }
    function SearchInvoice() {
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "")
            alert("Enter Invoice No./Container No./Assessment No. or Invoice Date to Search");
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true)
            $('#DivListOfInvoice').load('/Import/VIZ_CWCImport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + "&Module=IMPYard");
        else if ($('#SearchInvoiceNo').val() != "")
            $('#DivListOfInvoice').load('/Import/VIZ_CWCImport/ListOfExpInvoice?InvoiceNo=' + InvoiceNo + "&Module=IMPYard");
        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Import/VIZ_CWCImport/ListOfExpInvoice?InvoiceDate=' + InvoiceDate + "&Module=IMPYard");
    }
    function Validate() {
        debugger;
        var date = document.getElementById("SearchInvoiceDate").value.split("/");
        var day = date[0];
        var month = date[1];
        var dateString = document.getElementById("SearchInvoiceDate").value;
        var regex = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
        //if (regex.test(dateString) || dateString.length == 0) {
        //    alert("Please enter correct date");
        //    return false;
        //}
        if (day > 31) {
            alert("Please enter correct date");
            return false;
        }
        else
            if (month > 12) {
                alert("Please enter correct Month");
                return false;
            }
        return true;
    }


    function checkInvoicedate() {
        debugger;
        if ($('#InvoiceDate').val() != '') {

            var result = moment($('#InvoiceDate').val(), "dd/MM/yyyy HH:mm", true).isValid();
            if (!result) {
               alert("Incorrect Date")
                setTimeout(function () { $('#DivMsgs').html(''); }, 5000);
                $('#InvoiceDate').val('');
                $('#InvoiceDate').focus();
            }
        }
    }

    function PopupActivate(Id) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            if (Id == "stuffingModal") {
                debugger;
                $("#stuffingModal").modal('show');
            }

            if (Id == "CHAModal") {
                debugger;
                angular.element('#YardInvoiceController').scope().LoadCHAList();


                $("#CHAModal").modal('show');
            }




            $('#' + Id).modal('show');
            if (Id == "MyModal") {
                debugger;
                $('#box').focus();
            }

            if (Id == "PartyModal") {
                debugger;

                angular.element('#YardInvoiceController').scope().LoadPartyList();


                $("#PartyModal").modal('show');
            }


            if (Id == "PayeeModal") {
                debugger;

                angular.element('#YardInvoiceController').scope().LoadPayeeList();


                $("PayeeModal").modal('show');
            }

            if (Id == "CHAModal") {
                debugger;
                $('#SearchCHAText').focus();
            }

            if (Id == "PortDestModal") {
                debugger;
                $('#PortDestbox').focus();
            }


            if (Id == "PortModal") {
                debugger;
                $('#Portbox').focus();
            }

            if (Id == "CommodityModal") {
                debugger;
                $('#CommodityBox').focus();
            }
            if (Id == "SBNoModal") {
                debugger;
                $('#SBNoBox').focus();
            }
            if (Id == "ExporterModal") {
                debugger;
                $('#Exporterbox').focus();
            }
        }




    }

    $('#stuffingModal').on('shown.bs.modal', function () {
        $('#stuffingbox').focus();

    });



    $('#PartyModal').on('shown.bs.modal', function () {

        $('#SearchPartyText').focus();

    });

    $('#CHAModal').on('shown.bs.modal', function () {
        $('#SearchCHAText').focus();

    });
    $('#PayeeModal').on('shown.bs.modal', function () {
        $('#SearchPayeeText').focus();

    });
    $('#PortModal').on('shown.bs.modal', function () {
        $('#Portbox').focus();

    });

    $('#CommodityModal').on('shown.bs.modal', function () {
        $('#CommodityBox').focus();

    });

    $('#SBNoModal').on('shown.bs.modal', function () {
        $('#SBNoBox').focus();

    });

    $('#ExporterModal').on('shown.bs.modal', function () {
        $('#Exporterbox').focus();

    });

    $('#ContainerNoModal').on('shown.bs.modal', function () {
        $('#ContainerNobox').focus();

    });

    $('#stuffingModal').on('hidden.bs.modal', function () {
        $('#CHAName').focus();
    });
    $('#CHAModal').on('hidden.bs.modal', function () {
        $('#PartyName').focus();
    });

    $('#PartyModal').on('hidden.bs.modal', function () {
        $('#PayeeName').focus();
    });
    $('#PayeeModal').on('hidden.bs.modal', function () {
        $('#OTHours').focus();
    });

</script>
