@model CwcExim.Areas.Import.Models.VIZ_CustomAppraisement

<script>
    var ArrayOfCustomAppraisement = [];
    var TimeInSeconds;
    var SubDomain;
    var ArrayOfDeliveryOrd = [];
    $(function () {
        debugger;
        $('#BtnAddDeliveryOrd').hide();
        SubDomain = '@System.Configuration.ConfigurationManager.AppSettings["SubDomain"]';
        ArrayOfCustomAppraisement=@Html.Raw(Json.Encode(Model.LstAppraisementVIZ));
        ArrayOfDeliveryOrd=@Html.Raw(Json.Encode(Model.LstCustomAppraisementOrdDtl));
        GenerateCstmAppraiseTable();
        GenerateDeliveryOrdTable();
    });

    function ReloadCstmAppraise() {
        $('#DivBody').load( '/Import/VIZ_CWCImport/CreateCustomAppraisement');
    }


    function GenerateCstmAppraiseTable() {
        $('#TblCustomAppraisementDet').hide();
        var Html = '';
        if (ArrayOfCustomAppraisement.length != 0) {
            $.each(ArrayOfCustomAppraisement, function (i, item) {
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.OBLNo + '</td><td>' + item.BOENo + '</td><td class="text-center"><a href="#" onclick="ViewCstmAppraise(' + i + ')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblCustomAppraisementDet>tbody').html(Html);
            $('#TblCustomAppraisementDet').show();
        }
    }

    function ViewCstmAppraise(Index) {
        debugger;
        $('#ContainerNo').val(ArrayOfCustomAppraisement[Index].ContainerNo);
        $('#CFSCode').val(ArrayOfCustomAppraisement[Index].CFSCode);
        $('#Size').val(ArrayOfCustomAppraisement[Index].Size);
        $('#LCLFCL').val(ArrayOfCustomAppraisement[Index].LCLFCL);
        $('#LineNo').val(ArrayOfCustomAppraisement[Index].LineNo);
        $('#BOENo').val(ArrayOfCustomAppraisement[Index].BOENo);
        $('#BOEDate').val(ArrayOfCustomAppraisement[Index].BOEDate);
        $('#OBLNo').val(ArrayOfCustomAppraisement[Index].OBLNo);
        $('#OBLDate').val(ArrayOfCustomAppraisement[Index].OBLDate);
        $('#CHANameId').val(ArrayOfCustomAppraisement[Index].CHANameId);
        $('#CHA').val(ArrayOfCustomAppraisement[Index].CHA);
        $('#CHAId').val(ArrayOfCustomAppraisement[Index].CHAId);
        $('#ImporterId').val(ArrayOfCustomAppraisement[Index].ImporterId);
        $('#Importer').val(ArrayOfCustomAppraisement[Index].Importer);
        $('#CargoDescription').val(ArrayOfCustomAppraisement[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayOfCustomAppraisement[Index].NoOfPackages);
        $('#GrossWeight').val(ArrayOfCustomAppraisement[Index].GrossWeight);
        $('#Duty').val(ArrayOfCustomAppraisement[Index].Duty);
        $('#CIFValue').val(ArrayOfCustomAppraisement[Index].CIFValue);
        $('#WithoutDOSealNo').val(ArrayOfCustomAppraisement[Index].WithoutDOSealNo);
        $('#Vessel').val(ArrayOfCustomAppraisement[Index].Vessel);
        $('#Voyage').val(ArrayOfCustomAppraisement[Index].Voyage);
        $('#CustomAppraisementDtlId').val(ArrayOfCustomAppraisement[Index].CustomAppraisementDtlId);
        ArrayOfCustomAppraisement[Index].ContainerType == 0 ? $('#ContainerType').val('') : $('#ContainerType').val(ArrayOfCustomAppraisement[Index].ContainerType);
        ArrayOfCustomAppraisement[Index].CargoType == 0 ? $('#CargoType').val('') : $('#CargoType').val(ArrayOfCustomAppraisement[Index].CargoType);
        //ArrayOfCustomAppraisement[Index].ContainerType == 0 ? $('#ContainerType').val('') : $('#ContainerType').val(ArrayOfCustomAppraisement[Index].ContainerType);
        //$('#CargoType').val(ArrayOfCustomAppraisement[Index].CargoType);
        ArrayOfCustomAppraisement[Index].Reefer == 0 ? $('#Reefer').prop("checked", false) : $('#Reefer').prop("checked", true);
        //  ArrayOfCustomAppraisement[Index].RMS == 0 ? $('#RMS').prop("checked", false) : $('#RMS').prop("checked", true);
        ArrayOfCustomAppraisement[Index].HeavyScrap == 0 ? $('#HeavyScrap').prop("checked", false) : $('#HeavyScrap').prop("checked", true);
        ArrayOfCustomAppraisement[Index].AppraisementPerct == 0 ? $('#AppraisementPerct').val('') : $('#AppraisementPerct').val(ArrayOfCustomAppraisement[Index].AppraisementPerct);
        // ArrayOfCustomAppraisement[Index].RMSValue = $('#RMSValue').val(ArrayOfCustomAppraisement[Index].RMSValue);

        $('#RMSValue').val(ArrayOfCustomAppraisement[Index].RMSValue);
    }


    //****************************************************************************************************

    function GenerateDeliveryOrdTable() {
        debugger;


        if ($("#WithDo").prop("checked")) {

            $('#DivDeliveryOrderDetails').css('display','block');
            $('#TblDeliveryAppOrd').hide();
            var Html = '';
            if (ArrayOfDeliveryOrd.length != 0) {
                $.each(ArrayOfDeliveryOrd, function (i, item) {
                    debugger;
                    Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.IssuedBy + '</td><td>' + item.DeliveredTo + '</td><td class="text-center"><a href="#" onclick="ViewDeliveryOrdDtl(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
                });
                $('#TblDeliveryAppOrd>tbody').html(Html);
                $('#TblDeliveryAppOrd').show();
            }
            //  $("DivDeliveryOrderDetails").show();
        }


        if ($("#WithoutDO").prop("checked")) {
            //  $("DivDeliveryOrderDetails").hide();
            $('#DivDeliveryOrderDetails').css('display','none');
        }

    }
    function ResetDeliveryOrdDet() {
        debugger;
        $('[data-valmsg-for="IssuedBy"]').html('');
        $('[data-valmsg-for="CargsDelivered"]').html('');
        $('#ErrddlValidType').html('');
        $('#DivDeliveryOrderDetails').find('input:text,textarea').val('');

        $('#ddlValidType').prop("selectedIndex", 0);

    }


    function ViewDeliveryOrdDtl(Index) {
        debugger;
        $('#BtnAddDeliveryOrd').hide();
        $('#DivDeliveryOrdTblErrMsg').html('');
        //if ($('#BtnAddDeliveryOrd').prop("disabled") == true) {

        $('#IssuedBy').val(ArrayOfDeliveryOrd[Index].IssuedBy);
        $('#CargsDelivered').val(ArrayOfDeliveryOrd[Index].DeliveredTo);
        $('#ddlValidType').val(ArrayOfDeliveryOrd[Index].ValidType);
        $('#ValidDate').val(ArrayOfDeliveryOrd[Index].ValidDate);

        //   ArrayOfDeliveryOrd.splice(Index, 1);
        // GenerateDeliveryOrdTable();
        //}
        //else {
        //    $('#DivDeliveryOrdTblErrMsg').html('Please Add The Above Records');
        //}

    }
    function ValidDt(vtype) {
        debugger;
        if (vtype.value == "Open") {
            $("#ValidDate").datepicker("option", "disabled", true);
            $("#ValidDate").val("");
        }
        else {

            $("#ValidDate").datepicker("option", "disabled", false);
        }
    }

</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div>
                    @Html.HiddenFor(m => m.CustomAppraisementId)
                    @Html.HiddenFor(m => m.CAOrdDtlXml)
                    @Html.Hidden("CustomAppraisementDtlId")
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Custom Appraisement Application</h4>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Application For:</label>
                                </div>

                                <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("ApplicationForApp", "1", new { @class = "", @id = "AppMent", @checked = true })
                                        <label for="AppMent"><i class="circle"></i><span>Appraisement</span></label>
                                    </div>
                                </div>
                                <div class="col-md-2 col_cus_3">
                                    <div class="boolean-container">
                                        @Html.RadioButton("ApplicationForApp", "2", new { @class = "", @id = "DestuffingApp" })
                                        <label for="DestuffingApp"><i class="circle"></i><span>DeStuffing</span></label>
                                    </div>
                                </div>

                            </div>
                        </div>*@
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Appraisement No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.AppraisementNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-2 col-md-offset-3-5 col_cus_2_5 col_cus_offset_2_5">
                                <label>Appraisement Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.AppraisementDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.AppraisementDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div id="DivShippingLine" class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.HiddenFor(m => m.CHAId)
                                @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Vessel:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">

                                @Html.TextBoxFor(m => m.Vessel, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.Vessel, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div id="DivRotation" class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Voyage:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.Voyage, "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.Voyage, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Rotation:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>FOB:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.Fob, "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.Fob, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Gross Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.GrossDuty, "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.GrossDuty, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("DeliveryType", "1", new { @class = "", @id = "CargoDelivery", @checked = true })
                                    <label for="CargoDelivery"><i class="circle"></i><span>Cargo Delivery</span></label>
                                </div>
                            </div>
                            <div class="col-md-3 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("DeliveryType", "2", new { @class = "", @id = "ContainerDelivery" })
                                    <label for="ContainerDelivery"><i class="circle"></i><span>Container / CBT Delivery</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("IsDO", "1", new { @class = "", @id = "WithDo", @checked = true })
                                    <label for="WithDo"><i class="circle"></i><span>With DO</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("IsDO", "2", new { @class = "", @id = "WithoutDO" })
                                    <label for="WithoutDO"><i class="circle"></i><span>Without DO</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="DivCustomAppraisementDet" class="Head_h5">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CFS Code:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CFSCode", "", new { @class = "form-control input-sm", @readonly = true })
                                    @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                        @Html.ValidationMessage("ContainerNo", new { @class = "Error_Msg" })*@
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container / CBT No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                    @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>*@
                                    @Html.ValidationMessage("ContainerNo", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.DropDownList("Size", new List<SelectListItem> {
                                       new SelectListItem { Text="20",Value="20"},
                                       new SelectListItem {Text="40",Value="40" },
                                       new SelectListItem {Text="ODC",Value="ODC" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                    @Html.ValidationMessage("Size", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5">
                                    <label>FCL / LCL:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("LCLFCL", new List<SelectListItem>{
                                        new SelectListItem {Text="FCL",Value="FCL" },
                                        new SelectListItem {Text="LCL",Value="LCL" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container / CBT Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("ContainerType", new List<SelectListItem> {
                                       new SelectListItem { Text="Empty Container / CBT",Value="1"},
                                       new SelectListItem {Text="Loaded Container / CBT",Value="2" }
                                       //new SelectListItem {Text="Cargo",Value="3" },
                                       //new SelectListItem {Text="RMS",Value="4" },
                                       //new SelectListItem {Text="Non RMS",Value="5" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("ContainerType", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 padding_rt">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("CargoType", new List<SelectListItem>{
                                        new SelectListItem {Text="HAZ",Value="1" },
                                        new SelectListItem {Text="Non HAZ",Value="2" },
                                         new SelectListItem {Text="ODC",Value="3" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                </div>
                                <div class="col-md-1-5 padding_rt">
                                    <label>RMS:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("RMSValue", new List<SelectListItem>{
                                        new SelectListItem {Text="Exim",Value="1" ,Selected=true},
                                        new SelectListItem {Text="RMS Exim",Value="2" },
                                        new SelectListItem {Text="RMS Non Exim",Value="3" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("RMSValue", "", new { @class = "Error_Msg" })
                                </div>
                                @*<div class="col-md-1-5">
                                        <div class="boolean-container">
                                            <input type="checkbox" id="Reefer" />
                                            <label for="Reefer"><i class="square"></i><span>Reefer</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5">
                                        <div class="boolean-container">
                                            <input type="checkbox" id="RMS" />
                                            <label for="RMS"><i class="square"></i><span>RMS</span></label>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Voyage:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Voyage", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("Voyage", "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Line No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("LineNo", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Heavy Scrap:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        <div class="boolean-container">
                                            <input type="checkbox" id="HeavyScrap" />
                                            <label for="HeavyScrap"><i class="square"></i></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 padding_rt">
                                        <label>Appraisement Percent:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("AppraisementPerct", new List<SelectListItem>{
                                           new SelectListItem {Text="100%",Value="2" },
                                            new SelectListItem {Text="25%",Value="1" }
                                          }, new { @class = "form-control input-sm dropdown" })
                                    </div>
                                </div>
                            </div>
                            <div id="DivVessel" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Vessel:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBox("Vessel", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("Vessel", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>*@
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>OBL No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("OBLNo", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>OBL Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBox("OBLDate", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessage("OBLDate", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>BOE No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("BOENo", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>BOE Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>CHA Name And Address:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("CHA", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.Hidden("CHANameId")
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Importer Name And Address:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("Importer", "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.Hidden("ImporterId")
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("CargoDescription", "", new { @style = "width:100%;height:100px", @disabled = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>No of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Gross Weight(Kg):</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("GrossWeight", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CIF Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("CIFValue", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Duty:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Duty", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Without DO Seal No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("WithoutDOSealNo", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label for="IsInsured">Is Insured:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.CheckBox("IsInsured")
                                        <label for="IsInsured"><i class="square"></i></label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                        </div>
                        <div id="DivCustomAppraisementTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered dataTable" id="TblCustomAppraisementDet" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                            <th>@Html.DisplayName("CFS Code")</th>
                                            <th>@Html.DisplayName("Container / CBT No")</th>
                                            <th>@Html.DisplayName("OBL No")</th>
                                            <th>@Html.DisplayName("BOE No")</th>
                                            <th class="text-center" style="width:10%;">@Html.DisplayName("View")</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="DivDeliveryOrderDetails" class="Head_h5">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2 padding_rt">
                                <label>Do Issued By:</label>
                            </div>
                            <div class="col-md-2-5">

                                @Html.TextBox("IssuedBy", "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessage("IssuedBy", "", new { @class = "Error_Msg" })


                            </div>
                            <div class="col-md-2-5">
                                <label>Cargs. Delivered To:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBox("CargsDelivered", "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessage("CargsDelivered", "", new { @class = "Error_Msg" })



                            </div>


                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2-5 col_cus_2">
                                <label>Valid Type</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownList("ddlValidType", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="Open",Value="Open"},
                                        new SelectListItem { Text="Closed",Value="Closed"},

                                        }, "----Select----", new { @class = "form-control input-sm", @onchange = "ValidDt(this);" })
                                <span class="field-validation-error" id="ErrddlValidType"></span>
                            </div>
                            <div class="col-md-2-5">
                                <label>Do Valid Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">

                                @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("ValidDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy") })

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                    </div>
                    <div class="row">
                        <input type="button" id="BtnAddDeliveryOrd" class="btn log_Btn_sm" value="Add" onclick="SaveDeliveryOrdDtl()" />
                        <div class="col-md-offset-5 col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetDeliveryOrdDet()" />
                        </div>
                    </div>
                    <div id="DivDeliveryOrdTblErrMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                    <table class="table table-striped table-bordered dataTable" id="TblDeliveryAppOrd" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="text-center">@Html.DisplayName("SL No")</th>
                                <th>@Html.DisplayName("Issued By")</th>
                                <th>@Html.DisplayName("Cargo. Delivered")</th>
                                <th class="text-center">@Html.DisplayName("View")</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>


                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="ReloadCstmAppraise()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

