@model IEnumerable<CwcExim.Areas.Master.Models.PPGRentReservationModel>
<script>
        $(document).ready(function(){
            $('#TblEximTrader').DataTable({
                "bFilter":false,
                "bInfo":false,
                "aoColumns":[
                             {"sName":"Edit","bSortable":false,"width":"3%"},
                             {"sName":"View","bSortable":false,"width":"3%"},                             
                             {"sName":"Delete","bSortable":false,"width":"3%"},
                             {"sName":"SL No","width":"8%"},
                             {"sName":"Type"},
                             {"sName":"Name"},
                             {"sName":"Email","bSortable":false,"width":"20%"},
                             {"sName":"Contact Person","bSortable":false},                             
                ]
            });
            new $.fn.dataTable.FixedHeader(TblEximTrader);
        });
        function LoadRentReservationPage(){
            $('#DivBody').load('/Master/PPGRentReservationParty/CreateRentReservationParty');
        }
        function ViewRentReservation(RentReservationId){
            $('#DivBody').load('/Master/PPGRentReservationParty/ViewRentReservationParty?RentReservationId='+RentReservationId);
        }
        function EditRentReservation(RentReservationId){
            $('#DivBody').load('/Master/PPGRentReservationParty/EditRentReservationParty?RentReservationId='+RentReservationId);
        }
        function DeleteRentReservation(RentReservationId){
            var Confirm=confirm("Are You Sure You Want To Delete?");
            if(Confirm==true){
                var Token=$('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url:'/PPGRentReservationParty/DeleteRentReservationDetail',
                    headers:{'__RequestVerificationToken':Token},
                    data:{RentReservationId:RentReservationId},
                    type:'POST',
                    dataType:'JSON',
                    async:false,
                    success:function(data){
                        if(data.Status==1){
                            LoadRentReservationPage();
                        }
                        else if(data.Status==2||data.Status==3||data.Status==4){
                            alert(data.Message);
                        }
                    }
                });
            }
        }
</script>
<table id="TblEximTrader" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>            
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.Type)</th>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>@Html.DisplayNameFor(m => m.ContactPerson)</th>            
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>                    
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="EditRentReservation(@item.PartyId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="ViewRentReservation(@item.PartyId)"><i class="fa fa-eye"></i></a></div></td>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="DeleteRentReservation(@item.PartyId)"><i class="fa fa-trash-o"></i></a></div></td>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.Type)</td>
                    <td>@item.PartyName</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.ContactPerson)</td>                    
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>