@model CwcExim.Models.SAC
@using (Ajax.BeginForm("AddSacDetail", "SAC", new AjaxOptions
{
    Confirm = "Are you sure you want to Save?",
    HttpMethod = "POST",
    OnSuccess = "sacOnSuccess",
    OnFailure = "sacOnFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>GST Against SAC</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.SACCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.SACCode, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.SACCode, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Description:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.Description, new {  @style = "width:100%;height:75px;" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.GST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.GST, new { @class = "from-control input-sm" })
                                @Html.ValidationMessageFor(m => m.GST, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.CESS, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.CESS, new { @class = "from-control input-sm" })
                                @Html.ValidationMessageFor(m => m.CESS, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>*@
                    <div class="row ">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" id="BtnSave" value="Save" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" value="Reset" class="btn log_Btn_sm" onclick="Clear()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" id="DivMsg" style="background-color:transparent;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivSACList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () { LoadSACList(); });
    function LoadSACList() {
        $('#DivSACList').load('/SAC/GetAllSAC');
    }
    function Clear() {
        $('input[type="text"],textarea').val('');
        $('[data-valmsg-for]').html('');
    }
    function sacOnSuccess(data) {
        if (data.Status == 1) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            Clear();
            LoadSACList();
        }
        else if (data.Status == 2) {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg')
            $('#DivMsg').html(data.Message);
        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg')
            $('#DivMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
    }
    function sacOnFailure() { }
</script>
