@model CwcExim.Models.SAC

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>GST Against SAC</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.SACCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.SACCode, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                           <label>Description:</label>
                        </div>
                        <div class="col-md-10-5">
                            @Html.TextAreaFor(m => m.Description, new {  @style = "width:100%;height:75px;" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.GST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.GST, new { @class = "from-control input-sm" })
                        </div>
                    </div>
                </div>
                @*<div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            @Html.LabelFor(m => m.CESS, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.CESS, new { @class = "from-control input-sm" })
                        </div>
                    </div>
                </div>*@
                <div class="row ">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" id="BtnBack" value="Back" onclick="LoadSACPage()" class="btn log_Btn_sm" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () { $('input[type="text"],textarea').prop('readonly', true);});
    function LoadSACPage()
    {
        $('#DivBody').load('/SAC/CreateSAC');
    }
</script>
