@model CwcExim.Areas.Export.Models.VIZ_ContainerStuffing
<style>
    .table-striped > tbody > tr > td > input[type=text], .table-striped > tbody > tr > td > select, .table-striped > tfoot > tr > td > input[type=text], .table-striped > tfoot > tr > td > select {
        width: auto !important;
    }
</style>
<script>
    var ArrayOfContainerStuff = [];
    var ArrayOfSCMTR=[];
    var ContrainerStuffingId=@Model.ContainerStuffingId;
    $(function () {
        debugger;
        TimeInSeconds = 5000;
        ArrayOfContainerStuff=@Html.Raw(Json.Encode(Model.LstppgStuffingDtl));
        ArrayOfSCMTR=@Html.Raw(Json.Encode(Model.LstSCMTRDtl));
        GenerateContainerStuffTable();
        var radioValue = $("#TransportMode").val();
        if (radioValue == 2) {

            document.getElementById("SelfMovement").checked = true;
        }
        else {

            document.getElementById("CWCMovement").checked = true;
        }
    });
    function GenerateContainerStuffTable() {
        debugger;
        $('#TblContainerStuffing').hide();
        var Html = '';
        var HtmlSCMTR = '';
        if (ArrayOfContainerStuff.length != 0) {
            $.each(ArrayOfContainerStuff, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ContainerNo + '</td><td>' + item.ShippingBillNo + '</td><td>' + item.ShippingDate + '</td><td>' + item.Exporter + '</td><td>' + item.StuffQuantity + '</td><td>' + item.StuffWeight + '</td><td class="text-center"><a href="#" onclick="ViewContainerStuff(' + i + ')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblContainerStuffing>tbody').html(Html);
            $('#TblContainerStuffing').show();
            if (ArrayOfSCMTR.length != 0) {
                $.each(ArrayOfSCMTR, function (i, item) {
                    debugger;
                    HtmlSCMTR += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ReportingpartyCode + '</td><td>' + item.Equipmenttype + '</td><td>' + item.ContainerID + '</td><td>' + item.EquipmentSize + '</td><td>' + item.EquipmentLoadStatus + '</td><td>' + item.FinalDestinationLocation + '</td><td>' + item.EventDate + '</td><td>' + item.EquipmentSealType + '</td><td>' + item.EquipmentSealNo + '</td><td>' + item.EquipmentStatus + '</td><td>' + item.CargoSequenceNo + '</td><td>' + item.DocumentType + '</td><td>' + item.ShipmentLoadStatus + '</td><td>' + item.PackageType + '</td><td>' + item.EquipmentSerialNo + '</td><td>' + item.DocumentSerialNo + '</td><td>' + item.DocumentReferenceNo + '</td><td>' + item.DocumentTypeCode + '</td></tr>';
                });


                $('#TblSCMTR>tbody').html(HtmlSCMTR);

                $('#TblSCMTR').show();
            }
        }
    }


    function TransPortModeFunc() {
        var Radio = $('input[name=Mode]:checked').val();
        if (Radio == "CWC Movement") {
            $('#TransportMode').val(1);
            document.getElementById("CWCMovement").checked = true;
        }
        else {
            $('#TransportMode').val(2);
            document.getElementById("SelfMovement").checked = true;
        }
    }


    function ViewContainerStuff(Index) {
        debugger;
        $('#BtnAddContainerStuff').prop("disabled", true);
        // if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
        //$('#DivShippingDetails').find('input').prop("disabled", true);
        $('#SearchContainerNo').css("display", "none");
        $('#ContainerNo').val(ArrayOfContainerStuff[Index].ContainerNo);
        $('#CFSCode').val(ArrayOfContainerStuff[Index].CFSCode);
        $('#Size').val(ArrayOfContainerStuff[Index].Size);
        $('#ContOrigin').val(ArrayOfContainerStuff[Index].ContOrigin);
        $('#Via').val(ArrayOfContainerStuff[Index].ContVia);
        $('#ShippingLineId').val(ArrayOfContainerStuff[Index].ShippingLineId);
        $('#ShippingLine').val(ArrayOfContainerStuff[Index].ShippingLine);
        $('#ShippingSeal').val(ArrayOfContainerStuff[Index].ShippingSeal);
        $('#CustomSeal').val(ArrayOfContainerStuff[Index].CustomSeal);
        $('#' + ArrayOfContainerStuff[Index].StuffingType + '').prop("checked", true);
        // $('#StuffingType').val(ArrayOfCartingRegDtl[Index].StuffingType);
        $('#ShippingBillNo').val(ArrayOfContainerStuff[Index].ShippingBillNo);
        $('#ShippingDate').val(ArrayOfContainerStuff[Index].ShippingDate);
        $('#CHAId').val(ArrayOfContainerStuff[Index].CHAId);
        $('#ExporterId').val(ArrayOfContainerStuff[Index].ExporterId);
        $('#CHA').val(ArrayOfContainerStuff[Index].CHA);
        $('#Exporter').val(ArrayOfContainerStuff[Index].Exporter);
        $('#CargoDescription').val(ArrayOfContainerStuff[Index].CargoDescription);
        $('#Consignee').val(ArrayOfContainerStuff[Index].Consignee);
        $('#MarksNo').val(ArrayOfContainerStuff[Index].MarksNo);
        $('#Fob').val(ArrayOfContainerStuff[Index].Fob);
        $('#StuffQuantity').val(ArrayOfContainerStuff[Index].StuffQuantity);
        $('#StuffWeight').val(ArrayOfContainerStuff[Index].StuffWeight);
        $('#StuffingReqDtlId').val(ArrayOfContainerStuff[Index].StuffingReqDtlId);
        $('#ContainerStuffingDtlId').val(ArrayOfContainerStuff[Index].ContainerStuffingDtlId);
        // $('#Insured').val(ArrayOfContainerStuff[Index].Insured);
        ArrayOfContainerStuff[Index].Insured == 1 ? $('#Insured').prop("checked", true) : $('#Insured').prop("checked", false);

        $('#ContClass').val(ArrayOfContainerStuff[Index].ContClass == null ? 'General' : ArrayOfContainerStuff[Index].ContClass);
        ArrayOfContainerStuff[Index].OutGauge == 1 ? $('#IsOutGauge').prop("checked", true) : $('#IsOutGauge').prop("checked", false);
        $('#CBM').val(ArrayOfContainerStuff[Index].CBM);
        $('#SQM').val(ArrayOfContainerStuff[Index].SQM);
        $('#EquipmentSealType').val(ArrayOfContainerStuff[Index].EquipmentSealType);
        $('#EquipmentStatus').val(ArrayOfContainerStuff[Index].EquipmentStatus);
        $('#EquipmentQUC').val(ArrayOfContainerStuff[Index].EquipmentQUC);


        //}
        //else {
        // $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        // }
    }

    function LoadContainerStuffing() {
        $('#DivBody').load( '/Export/VIZ_CWCExport/CreateContainerStuffing');
    }
    function SendViewSF() {
        debugger;
        var ContainerStuffingId =$('#ContainerStuffingId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/Export/VIZ_CWCExport/SendSF",
            type: "POST",
            dataType: "JSON",
            data: { ContainerStuffingId: ContainerStuffingId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#BtnCIMSF').prop('disabled', true);
                    //location.href = '/Export/WFLD_CWCExport/DownloadFile?Path='+data.Path+'&FileName=' + data.Data;
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }
    function PrintInvoiceByNo() {
        debugger;
        InvoiceNoGRE=$('#InvoiceNoGRE').val();
        InvoiceNoINS=$('#InvoiceNoINS').val();
        InvoiceNoSTO=$('#InvoiceNoSTO').val();
        InvoiceNoHND=$('#InvoiceNoHND').val();
        InvoiceNoGENSP=$('#InvoiceNoGENSP').val();

        debugger;
        if (InvoiceNoGRE != '') {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "VIZ_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: InvoiceNoGRE,
                    InvoiceModule: 'EXPCSGRE',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'Container Stuffing',
                },
                success: function (data) {
                    if (data.Status == 1) {
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    }
                    else
                        alert(data.Data);
                }
            });
        }
        if(InvoiceNoINS != ''){
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "VIZ_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: InvoiceNoINS,
                    InvoiceModule: 'EXPCSINS',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'Container Stuffing',
                },
                success: function (data) {
                    if (data.Status == 1) {
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    }
                    else
                        alert(data.Data);
                }
            });
        }
        @*if(InvoiceNoSTO != ''){
                $.ajax({
                    url: '@Url.Action("GetBulkInvoiceReport", "WFLD_ReportCWC", new { Area = "Report" }) ',
                    headers: { "__RequestVerificationToken": Token },
                    dataType: 'JSON',
                    type: 'POST',
                    data: {
                        InvoiceNumber: InvoiceNoSTO,
                        InvoiceModule: 'EXPCSSTO',
                        PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                        PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                        InvoiceModuleName: 'Container Stuffing',
                    },
                    success: function (data) {
                        if (data.Status == 1) {
                            window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");

                        }
                        else
                            alert(data.Data);
                    }
                });
            }*@
        if (InvoiceNoHND != '') {
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "VIZ_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: InvoiceNoHND,
                    InvoiceModule: 'EXPCSHND',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'Container Stuffing',
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Data);
                }
            });
        }

        if (InvoiceNoGENSP != '') {
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "VIZ_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: InvoiceNoGENSP,
                    InvoiceModule: 'EXPCSGEN',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'Container Stuffing',
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Data);
                }
            });
        }


    }
</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ContainerStuffingOnSuccess";
    options.OnFailure = "ContainerStuffingOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div class="container-fluid">


    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            @using (Ajax.BeginForm("AddEditContainerStuffingDet", "VIZ_CWCExport", options))
            {
                @Html.AntiForgeryToken()

                <div class="panel with-nav-tabs panel-primary cwc_panel">
                    <div class="panel-heading cwc_panel_heading">
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a href="#DivContainerStuffing" data-toggle="tab">Container /CBT Stuffing</a></li>
                            @*<li><a href="#DivInvoice" data-toggle="tab">SCMTR INFO</a></li>*@
                        </ul>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="DivContainerStuffing">
                                <div>
                                    @Html.HiddenFor(m => m.StuffingReqId)
                                    @Html.Hidden("StuffingReqDtlId")
                                    @Html.Hidden("ContainerStuffingDtlId")
                                    @Html.HiddenFor(m => m.ContainerStuffingId)
                                    @Html.HiddenFor(m => m.TransportMode)

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Transport Mode:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                <div class="boolean-container">
                                                    @Html.RadioButton("Mode", "CWC Movement", new { @id = "CWCMovement", @checked = true, @onclick = "TransPortModeFunc();" })
                                                    <label for="CWCMovement"><i class="circle"></i><span>CWC Movement</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-2-5">
                                                <div class="boolean-container">
                                                    @Html.RadioButton("Mode", "Self Movement", new { @id = "SelfMovement", @onclick = "TransPortModeFunc();" })
                                                    <label for="SelfMovement"><i class="circle"></i><span>Self Movement</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Request No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.StuffingReqNo, new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DivModalStuffingReqNo"></i></span>
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                <label>Request Date:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2_5">
                                                @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessageFor(m => m.RequestDate, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Stuffing No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.StuffingNo, new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessageFor(m => m.StuffingNo, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>Stuffing Date:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                                @Html.TextBoxFor(m => m.StuffingDate, new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessageFor(m => m.StuffingDate, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivContainerNo" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Container /CBT No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>CFS Code:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("CFSCode", "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@ })
                                                @Html.ValidationMessage("CFSCode", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivContainerSize" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Container /CBT Size:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Size", "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true
                                           })
                                            </div>
                                            <div class="col-md-1 padding_rt">
                                                <div class="boolean-container">
                                                    @Html.RadioButton("StuffingType", "FCL", new { @class = "", @id = "FCL", @disabled = true })
                                                    <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-1 padding_rt">
                                                <div class="boolean-container">
                                                    @Html.RadioButton("StuffingType", "LCL", new { @class = "", @id = "LCL", @disabled = true })
                                                    <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-0-5 col-md-3" style="display:none">
                                                <div class="boolean-container">
                                                    @Html.CheckBoxFor(m => m.DirectStuffing, new { @id = "chkDS", @disabled = true })
                                                    <label for="chkDS"><i class="square"></i><span>Direct Stuffing</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 col-md-1-5 col_cus_5">
                                                <label>POD:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.POD, "", new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div id="DivContainerSize" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Origin:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.ContOrigin, "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true
                                           })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>Country of destination :</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.CountryName, "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true
                                           })

                                                @*@Html.ValidationMessage("POL", new { @class = "Error_Msg" })*@
                                            </div>

                                            <div class="col-md-offset-1 col-md-1 col_cus_2" style="display:none;">
                                                <label>Via:</label>
                                            </div>
                                            <div class="col-md-2-5" style="display:none;">
                                                @Html.TextBoxFor(m => m.ContVia, "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true
                                           })
                                            </div>
                                        </div>
                                    </div>


                                    <div id="DivShippingLine" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Shipping Line:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("ShippingLine", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.Hidden("ShippingLineId")
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                <label>POL:</label>

                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBoxFor(m => m.ContPOL, "", new { @class = "form-control input-sm dropdown", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivShippingSeal" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Shipping Seal:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("ShippingSeal", "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true
                                           })
                                            </div>
                                            <div class="col-md-1-5 col_cus_offset_4 col-md-offset-4 padding_rt">
                                                <label>Custom Seal:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("CustomSeal", "", new
                                           {
                                               @class = "form-control input-sm",
                                               @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@ })
                                                @Html.ValidationMessage("CustomSeal", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Container Class:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.DropDownList("ContClass", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text="General",Value="General"},
                                                   new SelectListItem { Text="Open Top",Value="Open Top"},
                                                    new SelectListItem { Text="Flat Rec",Value="Flat Rec"},
                                                    new SelectListItem { Text="ODC",Value="ODC"}
                                                }, new { @class = "form-control input-sm dropdown", @onblur = "ClearErrMsg(this)" })
                                                @Html.ValidationMessage("ContClass", new { @class = "Error_Msg" })
                                            </div>

                                            <div class="col-md-1 col_cus_1_5">
                                                <div class="boolean-container">
                                                    @Html.CheckBox("IsOutGauge")
                                                    <label for="IsOutGauge"><i class="square"></i><span>OutGauge</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divDestination" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Final Destination location:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.HiddenFor(m => m.CustodianId)
                                                @Html.TextBoxFor(m => m.CustodianCode, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                <label>Equipment Seal Type:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2_5">
                                                @Html.DropDownList("EquipmentSealType", new List<SelectListItem>
                                                {
                                                   new SelectListItem { Text="Bottle-Seal",Value="BTSL"},
                                                   new SelectListItem { Text="E-Seal",Value="ESEAL"},
                                                   new SelectListItem { Text="Others",Value="OTH"},
                                                }, new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessage("EquipmentSealType", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divEquipment" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Equipment Status:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.DropDownList("EquipmentStatus", new List<SelectListItem>
                                                {
                                                   new SelectListItem { Text="Intact",Value="94"},
                                                   new SelectListItem { Text="Damaged",Value="218"}
                                                }, new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessage("EquipmentStatus", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                <label>Equipment QUC:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2_5">
                                                @Html.DropDownList("EquipmentQUC", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text="Package",Value="PKG"},
                                                    new SelectListItem { Text="Kilogram",Value="KGS"},
                                                }, new { @class = "form-control input-sm dropdown" })
                                                @Html.ValidationMessage("EquipmentQUC", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Remarks:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px", @disabled = true })
                                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivContainerStuffingDetails" class="Head_h5">
                                        @*@Html.Hidden("CartingAppDtlId")
                                            @Html.Hidden("LocationDetails")*@
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Shipping Bill No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("ShippingBillNo", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Shipping Bill Date:</label>
                                                </div>
                                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                                    @Html.TextBox("ShippingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>CHA:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.Hidden("CHAId")
                                                    @Html.TextBox("CHA", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Exporter:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.Hidden("ExporterId")
                                                    @Html.TextBox("Exporter", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Consignee:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextBox("Consignee", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Cargo Description:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextArea("CargoDescription", "", new
                                               {
                                                   @style = "width:100%;height:100px",
                                                   @readonly = true
                                               })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Marks & No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("MarksNo", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                    <label>FOB Value:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("Fob", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Stuffed Qty:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("StuffQuantity", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                    <label>Stuffed Wt (kg):</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("StuffWeight", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)"*@ })
                                                    @*@Html.ValidationMessage("CUM", new { @class = "Error_Msg" })*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>CBM:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.CBM, new { @class = "form-control input-sm", @onkeypress = "return AllowOnlyDecimal(event)" })
                                                </div>

                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>SQM:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input-sm", @onkeypress = "return AllowOnlyDecimal(event)" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>MCINPCIN:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.MCINPCIN, new { @class = "form-control input-sm", @readonly = true })
                                                </div>

                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Insured:</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="boolean-container">
                                                        <input type="checkbox" id="Insured" />
                                                        <label for="Insured"><i class="square"></i></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Reefer:</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="boolean-container">
                                                        <input type="checkbox" id="Refer" />
                                                        <label for="Refer"><i class="square"></i></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <div class="col-md-offset-4 col-md-2">
                                                    <input type="button" id="BtnAddContainerStuff" class="btn Log_Btn" style="width:100%;" value="Add" onclick="SaveContainerStuffingDtl()" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="button" class="btn Log_Btn" style="width:100%" value="Reset" />
                                                </div>
                                            </div>*@
                                        <div id="DivContainerStuffingTblErrMsg" class="logErrMsg Form_Space_bottom Form_Space_top" style="background-color:transparent"></div>
                                        <table class="table table-striped table-bordered dataTable" id="TblContainerStuffing" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">@Html.DisplayName("SL No")</th>
                                                    <th>@Html.DisplayName("Container No")</th>
                                                    <th>@Html.DisplayName("Shipping Bill No")</th>
                                                    <th>@Html.DisplayName("Shipping Bill Date")</th>
                                                    <th>@Html.DisplayName("Exporter")</th>
                                                    <th>@Html.DisplayName("Stuffed Qty")</th>
                                                    <th>@Html.DisplayName("Stuffed Wt")</th>
                                                    <th class="text-center">@Html.DisplayName("View")</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="DivInvoice">
                                <div style="overflow-x:auto;">
                                    <table class="table table-striped table-bordered dataTable" id="TblSCMTR">
                                        <thead>
                                            <tr>
                                                <th width="2%">Sl No</th>
                                                @*<th width="5%">Cont/CBT No</th>
                                                    <th width="2%">SB No.</th>*@
                                                <th width="5%">Reporting party Code</th>
                                                <th width="5%">Equip.type</th>
                                                <th width="5%">Equip. ID</th>
                                                <th width="5%">Equip. Size</th>
                                                <th width="5%">Equip.Load Status</th>
                                                <th width="5%">Final Dest.Location</th>
                                                <th width="5%">Event Date</th>
                                                <th width="5%">Equip.seal Type</th>
                                                <th width="5%">Equip.Seal No.</th>
                                                <th width="5%">Equip. Status</th>
                                                <th width="5%">Cargo Seq. No.</th>
                                                <th width="5%">Doc.Type</th>
                                                <th width="5%">Ship.Load Status</th>
                                                <th width="5%">Pkg. Type</th>
                                                <th width="5%">Equip.Serial No.</th>
                                                <th width="5%">Doc.Serial no..</th>
                                                <th width="5%">Doc.Reference No.</th>
                                                <th width="5%">Doc.Type Code</th>

                                                @*<th width="3%" class="text-center">Action</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr ng-repeat="j in OblEntryDetails">
                                                    <td width="2%">
                                                        {{$index+1}}<input type="hidden" ng-model="j.ID" /><input type="hidden" ng-model="j.AddID" />
                                                        <input type="hidden" ng-model="j.DetailsID" />
                                                    </td>
                                                    <td width="5%"><input type="text" ng-model="j.ContainerNo" ng-blur="onchangetext(j);" maxlength="15" /></td>
                                                    <td width="2%">
                                                        <select ng-model="j.ContainerSize" required>
                                                            <option value="">--Select--</option>
                                                            <option value="{{s.id}}" ng-repeat="s in ContainerSizeList">{{s.ContainerSize}}</option>
                                                        </select>
                                                    </td>
                                                    <td width="5%">
                                                        <input type="text" ng-model="j.NoOfPkg" onkeypress="return isNumber(event)" />
                                                    </td>
                                                    <td width="5%"><input type="text" ng-model="j.GR_WT" onkeypress="return isDecimalNumber(event)" /></td>

                                                    <td style="position:relative;">
                                                        <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" required />
                                                        <input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
                                                        <span class="search" style="top: 6px; right: 13px;" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.ShippingLineModal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                                    </td>
                                                    <td width="3%" style="text-align:center;">
                                                        <input type="hidden" ng-model="j.IsProcessed" />
                                                        <a href="#" ng-click="Delete($index,j)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>*@
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadContainerStuffing()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="BtnCIMSF" class="btn log_Btn_sm" value="CIM SF" onclick="SendViewSF()" />
                        </div>
                        <div class="col-md-2" style="display:none;">
                            <input type="button" id="BtnPrint" class="btn log_Btn_sm" value="Print" onclick="PrintInvoiceByNo()" />
                        </div>
                    </div>

                    <div class="logSuccMsg" style="background-color:transparent" id="DivContainerStuffingMsg"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivContainerStuffingErrMsg"></div>

                </div>
            }
            @Scripts.Render("~/bundles/jqueryval")
            <div class="row">
                <div class="col-md-12">
                    <div id="DivContainerStuffingList"></div>
                </div>
            </div>
        </div>
    </div>







    @*<div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div>
                    @Html.HiddenFor(m => m.StuffingReqId)
                    @Html.Hidden("StuffingReqDtlId")
                    @Html.Hidden("ContainerStuffingDtlId")
                    @Html.HiddenFor(m => m.ContainerStuffingId)
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Container Stuffing</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Request No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.StuffingReqNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DivModalStuffingReqNo"></i></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Request Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.RequestDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Stuffing No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.StuffingNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.StuffingNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Stuffing Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.StuffingDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.StuffingDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div id="DivContainerNo" class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>CFS Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBox("CFSCode", "", new
                               {
                                   @class = "form-control input-sm",
                                   @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@ @*})*@
                                @*@Html.ValidationMessage("CFSCode", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivContainerSize" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Container Size:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("Size", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                            </div>
                                            <div class="col-md-1 padding_rt">
                                                <div class="boolean-container">
                                                    @Html.RadioButton("StuffingType", "FCL", new { @class = "", @id = "FCL", @disabled = true })
                                                    <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-1 padding_rt">
                                                <div class="boolean-container">
                                                    @Html.RadioButton("StuffingType", "LCL", new { @class = "", @id = "LCL", @disabled = true })
                                                    <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-0-5 col-md-3">
                                                <div class="boolean-container">
                                                    @Html.CheckBoxFor(m => m.DirectStuffing, new { @id = "chkDS", @disabled = true })
                                                    <label for="chkDS"><i class="square"></i><span>Direct Stuffing</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivShippingLine" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Shipping Line:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.TextBox("ShippingLine", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.Hidden("ShippingLineId")
                                            </div>
                                        </div>
                                    </div>
                                    <div id="DivShippingSeal" class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Shipping Seal:</label>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBox("ShippingSeal", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                            </div>
                                            <div class="col-md-1-5 col_cus_offset_0_5 col-md-offset-1 padding_rt">
                                                <label>Custom Seal:</label>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBox("CustomSeal", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@ @*})*@
                                                @*@Html.ValidationMessage("CustomSeal", new { @class = "Error_Msg" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2">
                                                                <label>Remarks:</label>
                                                            </div>
                                                            <div class="col-md-10-5 col_cus_10">
                                                                @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px", @disabled = true })
                                                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="DivContainerStuffingDetails">*@
                                                @*@Html.Hidden("CartingAppDtlId")
                                                    @Html.Hidden("LocationDetails")*@
                                                @*<div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                                <label>Shipping Bill No:</label>
                                                            </div>
                                                            <div class="col-md-2-5">
                                                                @Html.TextBox("ShippingBillNo", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                                <label>Shipping Bill Date:</label>
                                                            </div>
                                                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                                                @Html.TextBox("ShippingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2">
                                                                <label>CHA:</label>
                                                            </div>
                                                            <div class="col-md-10-5 col_cus_10">
                                                                @Html.Hidden("CHAId")
                                                                @Html.TextBox("CHA", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2">
                                                                <label>Exporter:</label>
                                                            </div>
                                                            <div class="col-md-10-5 col_cus_10">
                                                                @Html.Hidden("ExporterId")
                                                                @Html.TextBox("Exporter", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2">
                                                                <label>Consignee:</label>
                                                            </div>
                                                            <div class="col-md-10-5 col_cus_10">
                                                                @Html.TextBox("Consignee", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                                <label>Cargo Description:</label>
                                                            </div>
                                                            <div class="col-md-10-5 col_cus_10">
                                                                @Html.TextArea("CargoDescription", "", new
                                                               {
                                                                   @style = "width:100%;height:100px",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2">
                                                                <label>Marks & No:</label>
                                                            </div>
                                                            <div class="col-md-2-5">
                                                                @Html.TextBox("MarksNo", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                                <label>FOB Value:</label>
                                                            </div>
                                                            <div class="col-md-2-5">
                                                                @Html.TextBox("Fob", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row Form_Space_top">
                                                        <div class="form-group Form_Input">
                                                            <div class="col-md-1-5 col_cus_2">
                                                                <label>Stuffed Qty:</label>
                                                            </div>
                                                            <div class="col-md-2-5">
                                                                @Html.TextBox("StuffQuantity", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true
                                                               })
                                                            </div>
                                                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                                <label>Stuffed Wt:</label>
                                                            </div>
                                                            <div class="col-md-2-5">
                                                                @Html.TextBox("StuffWeight", "", new
                                                               {
                                                                   @class = "form-control input-sm",
                                                                   @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)"*@ @*})*@
                                                                @*@Html.ValidationMessage("CUM", new { @class = "Error_Msg" })*@
                                                                @*</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row Form_Space_top">
                                                                        <div class="form-group Form_Input">
                                                                            <div class="col-md-1-5 col_cus_2">
                                                                                <label>Insured:</label>
                                                                            </div>
                                                                            <div class="col-md-1 padding_rt">
                                                                                <div class="boolean-container">
                                                                                    <input type="checkbox" id="Insured" disabled />
                                                                                    <label for="Insured"><i class="square"></i></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="row">
                                                                            <div class="col-md-offset-4 col-md-2">
                                                                                <input type="button" id="BtnAddContainerStuff" class="btn Log_Btn" style="width:100%;" value="Add" onclick="SaveContainerStuffingDtl()" />
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <input type="button" class="btn Log_Btn" style="width:100%" value="Reset" />
                                                                            </div>
                                                                        </div>*@
                                                                @*<div id="DivContainerStuffingTblErrMsg" class="logErrMsg Form_Space_bottom Form_Space_top" style="background-color:transparent"></div>
                                                                                        <table class="table table-striped table-bordered dataTable" id="TblContainerStuffing" style="width:100%;">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th class="text-center">@Html.DisplayName("SL No")</th>
                                                                                                    <th>@Html.DisplayName("Shipping Bill No")</th>
                                                                                                    <th>@Html.DisplayName("Shipping Bill Date")</th>
                                                                                                    <th>@Html.DisplayName("Exporter")</th>
                                                                                                    <th>@Html.DisplayName("Stuffed Qty")</th>
                                                                                                    <th>@Html.DisplayName("Stuffed Wt")</th>
                                                                                                    <th class="text-center">@Html.DisplayName("View")</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody></tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                                                                                        <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadContainerStuffing()" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>*@
                                                            </div>

