@if (ViewBag.SACList != null)
{
    <input type="hidden" id="hdnSACList" value="@ViewBag.SACList" />
}
else
{
    <input type="hidden" id="hdnSACList" value="" />
}
@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}

@using (Ajax.BeginForm("AddEditBondUnloadPaymentSheet", "HdbBond", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("PaymentSheetModelJson")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")

    @Html.Hidden("UnloadingId")
    @Html.Hidden("Weight")
    @Html.Hidden("CIFValue")
    @Html.Hidden("Duty")

    @Html.Hidden("Units")
    @Html.Hidden("IsInsured")
    @Html.Hidden("DepositDate")
    @Html.Hidden("BOENo")
    @Html.Hidden("BOEDate")

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Bond Delivery Payment Sheet / Invoice</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                                <div class="boolean-container">
                                    @*@Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick="IVType('Tax')" })*@
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @*@Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })*@
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>Delivery Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Bond No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.HiddenFor(m => m.StuffingReqId)*@
                                @Html.Hidden("StuffingReqId")
                                @*@Html.TextBoxFor(m => m.StuffingReqNo, new { @readonly = true })*@
                                @Html.TextBox("StuffingReqNo", "", new { @readonly = true })
                                <span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>
                                @*@Html.ValidationMessageFor(m => m.StuffingReqNo)*@
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @*@Html.TextBoxFor(m => m.StuffingReqDate, new { @readonly = true })*@
                                @Html.TextBox("StuffingReqDate", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>No Of Casual Labour Supplied:</label>
                            </div>
                            <div class="col-md-2">
                                @*@Html.TextBoxFor(m => m.StuffingReqDate, new { @readonly = true })*@
                                @Html.TextBox("NoOfCasualLabourSupplied", "", new { @class = "form-control input-sm", onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Party Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @*@Html.HiddenFor(m => m.PartyId)*@
                                @Html.Hidden("PartyId")
                                @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                @Html.TextBox("PartyName", "", new { @readonly = true })
                                <span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                @*@Html.ValidationMessageFor(m => m.PartyName)*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Payee Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @*@Html.HiddenFor(m => m.PayeeId)*@
                                @Html.Hidden("PayeeId")
                                @*@Html.TextBoxFor(m => m.PayeeName, new { @readonly = true })*@
                                @Html.TextBox("PayeeName", "", new { @readonly = true })
                                <span class="search" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>
                                @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label> GST No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBox("GSTNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-1-5">
                                <label>Upto Date:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBox("UptoDate", "", new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_1">
                                <label>Area:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBox("AreaReserved", "", new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom2 SignUp_space_top2">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom2">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-4-5 col-md-3">
                                <input type="button" class="btn log_Btn_sm" onclick="ContainerSelect()" value="Show Charges" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_bottom2" style="visibility:hidden">
                        <div class="col-md-12">
                            <table id="tblContainer" style="position:fixed;top:-900px;" class="table table-bordered dataTable nowrap table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:8%;" class="text-center">Sl No</th>
                                        <th>CFS No</th>
                                        <th>Container No</th>
                                        <th>Size</th>
                                        <th>Reefer</th>
                                        <th>Insured</th>
                                        <th>DO Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>CWC Charges</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" style="text-align:right;">Total:</td>
                                            <td class="Table_right"><input type="text" id="TOTCWCChrg" value="0" readonly></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">CWC TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                            </tr>*@
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="col-md-offset-2 col-md-4">
                                <button type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#HnTModal">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show H&amp;T Charges
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button id="btnAddExtraHT" type="button" class="btn log_Btn_sm" data-toggle="modal" data-target="#NewHnTModal" disabled>
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Extra H&amp;T
                                </button>
                            </div>
                        </div>
                        <section id="rest-charge-details" class="hide">
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <h5>H & T Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblHTCharges" class="table table-bordered table-striped dataTable Table_center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">Total:</td>
                                                <td class="Table_right"><input type="text" id="TOTHTChrg" value="0" readonly></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            @*<div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                            <label>TDS Deduction:</label>
                                        </div>
                                        <div class="col-md-2-5 col_cus_3">
                                            @Html.TextBox("TotalTDS", "0", new { @onblur = "CalcInvoice()", @readonly = true, @style = "text-align:right;" })
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Total Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.AllTotal, new { @readonly = true })*@
                                        @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Round Up:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.RoundUp, new { @onblur = "CalcInvoice()" })*@
                                        @Html.TextBox("RoundUp", "0", new { @style = "text-align:right;", @readonly = true })
                                        @*@Html.TextBox("RoundUp", "0", new { @onblur = "CalcInvoice()", @style = "text-align:right;" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Invoice Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @*@Html.TextBoxFor(m => m.InvoiceValue, new { @readonly = true })*@
                                        @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>




                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @*@Html.TextAreaFor(m=>m.Remarks,new { @style = "height:75px;" })*@
                                @Html.TextArea("Remarks", new { @style = "height:75px;" })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-3 col-md-2">
                            <input id="btnSave" type="button" value="Save" onclick="BindJson()" class="btn log_Btn_sm" disabled/>
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintInvoice();" id="btnPrint" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}



<div id="HnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="BindHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NewHnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstNewHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<div id="stuffingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Bond No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payee</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        //$("#InvoiceDate").datepicker({
        //    dateFormat: "dd/mm/yy",
        //    showOn: "button",
        //    buttonImage: "/Content/images/calendar.png",
        //    buttonImageOnly: true,
        //    buttonText: "Select date",
        //    changeMonth: true,
        //    changeYear: true,
        //    showAnima: "fadein",
        //    onClose: function () {
        //        $(".Date_Img .Error_Msg").text("");
        //        $('[data-valmsg-for="Data"]').html('<span></span>');
        //    }
        //});

        $('#InvoiceDate').datetimepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            altField: "#slider_example_4andHalf_alt",
            altFieldTimeOnly: false,
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });

        StuffingReqBinding();
        PartyBinding();
        PayeeBinding();
    });

    function StuffingReqBinding() {
        debugger;
        if ($('#hdnSACList').val() != '') {
            var StuffingJson = JSON.parse($('#hdnSACList').val());
            var html = '';
            $.each(StuffingJson, function (i, item) {
                //html += '<li id="' + item.DepositAppId + '" onclick="selectStuffing(' + item.DepositAppId + ');">' + item.DepositNo + '</li>';
                html += '<li id="' + item.DepositAppId + '" onclick="selectStuffing(' + item.UnloadingId + ');">' + item.BondNo + ' - '+ item.AreaReserved+' SQM'+' - '+item.Units+' Nos -'+item.Weight+' Qtl'+ '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectStuffing(id) {
        debugger;
        var StuffingJson = JSON.parse($('#hdnSACList').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.UnloadingId == id; })[0];


        $('#StuffingReqId').val(StuffingRequest.DepositAppId);
       // $('#StuffingReqNo').val(StuffingRequest.DepositNo);
        $('#StuffingReqNo').val(StuffingRequest.BondNo);
        $('#StuffingReqDate').val(StuffingRequest.SacDate);
        $('#PartyId').val(StuffingRequest.ImporterId);
        $('#PartyName').val(StuffingRequest.ImporterName);
        $('#PayeeId').val(StuffingRequest.ImporterId);
        $('#PayeeName').val(StuffingRequest.ImporterName);
        $('#hdnAddress').val(StuffingRequest.Address);
        $('#hdnState').val(StuffingRequest.State);
        $('#hdnStateCode').val(StuffingRequest.StateCode);
        $('#GSTNo').val(StuffingRequest.GSTNo);
        $('#UptoDate').val(StuffingRequest.ValidUpto);
        $('#AreaReserved').val(StuffingRequest.AreaReserved);

        $('#UnloadingId').val(StuffingRequest.UnloadingId);
        $('#Weight').val(StuffingRequest.Weight);
        $('#CIFValue').val(StuffingRequest.CIFValue);
        $('#Duty').val(StuffingRequest.Duty);
        $('#Units').val(StuffingRequest.Units);
        $('#IsInsured').val(StuffingRequest.IsInsured);
        $('#DepositDate').val(StuffingRequest.DepositDate);
        $('#BOENo').val(StuffingRequest.BOENo);
        $('#BOEDate').val(StuffingRequest.BOEDate);

        //ContainerSelect();
        $("#stuffingModal").modal("hide");
    }

    function PartyBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstParty').html(html);
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        $('#PartyName').val(Party.PartyName);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();
            rawJson.PartyAddress = $('#hdnAddress').val();
            rawJson.PartyState = $('#hdnState').val();
            rawJson.PartyStateCode = $('#hdnStateCode').val();
            rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
    }

    function PayeeBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstPayee').html(html);
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Party.PartyName);
        $("#PayeeModal").modal("hide");
    }
</script>
<script>

    function ContainerSelect() {
        debugger;
        $.ajax({
            url: '/Bond/HdbBond/GetBondUnloadPaymentSheet',
            type: 'GET',
            data: {
                InvoiceDate: $('#InvoiceDate').val(),
                InvoiceType: TaxType,
                StuffingReqId: parseInt($('#StuffingReqId').val()),
                DeliveryType: 0,
                StuffingReqNo: $('#StuffingReqNo').val(),
                StuffingReqDate: $('#StuffingReqDate').val(),
                UptoDate: $('#UptoDate').val(),
                Area: parseFloat($('#AreaReserved').val()),
                PartyId: $('#PartyId').val(),
                PartyName: $('#PartyName').val(),
                PartyAddress: $('#hdnAddress').val(),
                PartyState: $('#hdnState').val(),
                PartyStateCode: $('#hdnStateCode').val(),
                PartyGST: $('#GSTNo').val(),
                PayeeId: $('#PayeeId').val(),
                PayeeName: $('#PayeeName').val(),
                weight: $('#Weight').val(),
                CIFValue: $('#CIFValue').val(),
                Duty: $('#Duty').val(),
                Units: $('#Units').val(),
                IsInsured: $('#IsInsured').val(),
                DepositDate: $('#DepositDate').val(),
                BOENo: $('#BOENo').val(),
                BOEDate: $('#BOEDate').val(),
                UnloadingId: $('#UnloadingId').val(),
                CasualLabour: $('#NoOfCasualLabourSupplied').val(),
                InvoiceId: 0,

            },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != null && data != 'undefined') {
                    $('#PaymentSheetModelJson').val(JSON.stringify(data));
                    //Container Binding
                    var html = '';
                    var html1 = '';
                    //All H&T binding in modal
                    var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                    $.each(HTCharge, function (i, item) {



                        var result = $.grep(data.ActualApplicable, function (e) { return e == item.Clause; });
                        if (result.length == 0) {
                            html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        }
                        else {
                            html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" checked data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        }
                        html1 += '<li id="liNHT' + i + '"><div class="boolean-container"><input id="chkNHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkNHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                    });
                    $('#lstHT').html(html);
                    $('#lstNewHT').html(html1);
                    $('#rest-charge-details').addClass('hide');
                    //Container Binding
                    html = '';
                    $.each(data.lstPostPaymentCont, function (i, item) {
                        html += '<tr><td>' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.Size + '</td><td>';//
                        if (item.Reefer == 1) {
                            html += '<input type="checkbox" checked disabled id="chk' + i + '" /><label for="chk' + i + '"><i class="square" style="margin-left:10px;"></i></label></td><td>' + (item.Insured == 0 ? 'No' : 'Yes') + '</td><td></td></tr>';
                        }
                        else {
                            html += '<input type="checkbox" disabled id="chk' + i + '" /><label for="chk' + i + '"><i class="square" style="margin-left:10px;"></i></label></td><td>' + (item.Insured == 0 ? 'No' : 'Yes') + '</td><td></td></tr>';
                        }
                    });
                    $('#tblContainer tbody').html(html);

                    //CWC Charge Binding
                    debugger;
                    var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                    html = '';
                    html = '';
                    var TotalCWC = 0;
                    $.each(CWCCharge, function (i, item) {
                        TotalCWC += item.Total;
                        html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" /></td>'
                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                    });
                    $('#tblCWCCharges tbody').html(html);
                    $('#TOTCWCChrg').val((TotalCWC).toFixed(2));

                    $('.search').css('display', 'none');
                    $('#InvoiceDate').parent().find('img').css('display', 'none');
                }
                else {
                    $('#PaymentSheetModelJson').val('');
                    $('#tblContainer tbody').html('');
                    $('#tblCWCCharges tbody').html('');
                    $('#tblHTCharges tbody').html('');
                    $('#TOTCWCChrg').val('');
                    $('#TOTHTChrg').val('');
                    $('#AllTotal').val('');
                    $('#RoundUp').val('');
                }
            }
        });
    }


    function BindHnTCharges() {
        debugger;
        try{
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
            var rowCount = rawJson.lstPostPaymentChrg.length;
            var html = '';
            var TotalHT = 0;
            var htWithOutTax = 0;
            //var htcharge = [];
            for (var i = 0; i < $("#lstHT li").length; i++) {
                if ($('#chkAHT' + i).prop("checked")) {
                    var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                    //htcharge.push(item);
                    rawJson.lstPostPaymentChrg.push(item);
                    TotalHT += item.Total;
                    htWithOutTax += item.Amount;
                    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                        + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '"  /></td>'
                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                        + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                    rowCount += 1;
                }
            }
            $('#tblHTCharges tbody').html(html);
            $('#TOTHTChrg').val((TotalHT).toFixed(2));
            $('#rest-charge-details').removeClass('hide');
            $('#btnSave').removeAttr('disabled');
            rawJson.HTTotal = TotalHT;
            rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
            rawJson.HTAmtTotal = htWithOutTax;
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
            $('#btnAddExtraHT').removeAttr('disabled');
            CalcTax(1);
        }
        catch (e) { console.log('BindHnTCharges : '+e.message); }
    }

    var indx = 0;
    function AddHnTCharges() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var rowCount = rawJson.lstPostPaymentChrg.length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        for (var i = 0; i < $("#lstNewHT li").length; i++) {
            if ($('#chkNHT' + i).prop("checked")) {
                $('#chkNHT' + i).removeAttr('checked');
                var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                item.ChargeId = item.ChargeId + '_' + indx;
                rawJson.lstPostPaymentChrg.push(item);
                TotalHT += item.Total;
                htWithOutTax += item.Amount;
                html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '"  /></td>'
                                    + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                    + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                    + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                rowCount += 1;
                indx += 1;
            }
        }
        $('#tblHTCharges tbody').append(html);
        rawJson.HTTotal += TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal += htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        debugger;
        CalcTax(1);
    }

    function RemoveHT(idx) {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        rawJson.lstPostPaymentChrg.splice(idx, 1);
        var rowCount = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; }).length;
        var html = '';
        var TotalHT = 0;
        var htWithOutTax = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
        $.each(HTCharge, function (i, item) {
            TotalHT += item.Total;
            htWithOutTax += item.Amount;
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '"  /></td>'
                                + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
            rowCount += 1;
        });
        $('#tblHTCharges tbody').html(html);
        rawJson.HTTotal = TotalHT;
        rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
        rawJson.HTAmtTotal = htWithOutTax;
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcTax(1);
    }

    function CalcTax(elem) {
        debugger;
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var MAmt = Number($('#' + elem).val());
        var IP = 0;
        var CP = 0;
        var SP = 0;
        if (rawJson.InvoiceType == "Tax") {
            if (rawJson.PartyStateCode == rawJson.CompStateCode) {
                CP = Number($('#CGSTP' + elem).val());
                SP = Number($('#SGSTP' + elem).val());
            }
            else {
                IP = Number($('#IGSTP' + elem).val());
            }
        }
        $('#IGSTA' + elem).val((MAmt * (IP / 100)).toFixed(2));
        $('#CGSTA' + elem).val((MAmt * (CP / 100)).toFixed(2));
        $('#SGSTA' + elem).val((MAmt * (SP / 100)).toFixed(2));
        $('#TOT' + elem).val((MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100))).toFixed(2));
        var selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId == elem; })[0];
        if (selectedItem == undefined)
            selectedItem = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeId + '_' + (indx - 1) == elem; })[0];

        if (selectedItem != undefined) {
            selectedItem.Amount = MAmt;
            selectedItem.Taxable = MAmt;
            //selectedItem.IGSTPer = IP;
            selectedItem.IGSTAmt = MAmt * (IP / 100);
            //selectedItem.CGSTPer = CP;
            selectedItem.CGSTAmt = MAmt * (CP / 100);
            //selectedItem.SGSTPer = SP;
            selectedItem.SGSTAmt = MAmt * (SP / 100);
            selectedItem.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));
        }
        var TotalCWC = 0;
        var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

        rawJson.TotalCGST = 0;
        rawJson.TotalSGST = 0;
        rawJson.TotalIGST = 0;
        rawJson.TotalAmt = 0;

        $.each(CWCCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalCWC += item.Total;
        });
        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));
        //$('#TOTCWCTDS').val(((TotalCWC * 10) / 100).toFixed(2));
        rawJson.CWCTotal = TotalCWC;
        var TotalHT = 0;
        var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

        $.each(HTCharge, function (i, item) {
            rawJson.TotalAmt += item.Amount;
            rawJson.TotalCGST += item.CGSTAmt;
            rawJson.TotalSGST += item.SGSTAmt;
            rawJson.TotalIGST += item.IGSTAmt;
            TotalHT += item.Total;
        });
        $('#TOTHTChrg').val((TotalHT).toFixed(2));
        //$('#TOTHTTDS').val(((TotalHT * 2) / 100).toFixed(2));
        rawJson.HTTotal = TotalHT;
        $('#AllTotal').val((TotalCWC + TotalHT).toFixed(2));
        rawJson.AllTotal = (TotalCWC + TotalHT);
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        CalcInvoice();
    }

    function CalcInvoice() {
        var Total = Number($('#AllTotal').val());
        var cwcTDS = 0;// Number($('#TOTCWCTDS').val());
        var htTDS = 0;//Number($('#TOTHTTDS').val());
        var grandTDS = 0;//cwcTDS + htTDS;
        //$('#TotalTDS').val(grandTDS.toFixed(2));
        var RoundUp = Number($('#RoundUp').val());
        $('#InvoiceValue').val((Total - (grandTDS + RoundUp)).toFixed(2));
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        console.clear();
        console.log(JSON.stringify(rawJson));
        //rawJson.AllTotal = Total;
        rawJson.CWCTDS = cwcTDS;
        rawJson.HTTDS = htTDS;
        rawJson.TDS = grandTDS;
        rawJson.RoundUp = RoundUp;
        rawJson.InvoiceAmt = rawJson.AllTotal - (rawJson.TDS + rawJson.RoundUp);

        rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal);
        var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
        rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);

        $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
        $('#RoundUp').val(round.toFixed(2));
        $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
    }

    function CalcInvoice1() {
        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        var TDSCol_New = Number($('#TotalTDSCol').val());
        if (TDSCol_New > rawJson.TDS.toFixed(2)) {
            alert("Invalid TDS collection");
            rawJson.TDSCol = 0;
            setTimeout(function () {
                $('#TotalTDSCol').val(0);
                $('#TotalTDSCol').focus().select();
            }, 100);
        }
        else {
            rawJson.TDSCol = Number($('#TotalTDSCol').val());
            rawJson.AllTotal = (rawJson.CWCTotal + rawJson.HTTotal + Number($('#TotalTDSCol').val())) - (rawJson.CWCTDS + rawJson.HTTDS);
            var round = Math.ceil(rawJson.AllTotal) - rawJson.AllTotal;
            rawJson.InvoiceAmt = Math.ceil(rawJson.AllTotal);
            rawJson.RoundUp = round;
            $('#AllTotal').val(rawJson.AllTotal.toFixed(2));
            $('#RoundUp').val(round.toFixed(2));
            $('#InvoiceValue').val(rawJson.InvoiceAmt.toFixed(2));
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
    }

    function BindJson() {
        var conf = confirm("Do you want to save ?");
        if (conf) {
            try {
                debugger;
                $('#btnSave').attr('disabled', true);
                var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                rawJson.InvoiceId = 0;
                rawJson.InvoiceType = TaxType;
                rawJson.InvoiceDate = $('#InvoiceDate').val();
                rawJson.RequestId = $('#StuffingReqId').val();
                rawJson.RequestNo = $('#StuffingReqNo').val();
                rawJson.RequestDate = $('#StuffingReqDate').val();
                //rawJson.InvoiceType = $('#InvoiceType').val();

                rawJson.PartyId = $('#PartyId').val();
                rawJson.PartyName = $('#PartyName').val();
                rawJson.PayeeId = $('#PayeeId').val();
                rawJson.PayeeName = $('#PayeeName').val();
                rawJson.PartyGST = $('#GSTNo').val();
                rawJson.Remarks = $('#Remarks').val();
                rawJson.PartyAddress = $('#hdnAddress').val();
                rawJson.PartyState = $('#hdnState').val();
                rawJson.PartyStateCode = $('#hdnStateCode').val();
                rawJson.RoundUp = parseFloat($('#RoundUp').val());
                rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                rawJson.TotalAmt = Number(rawJson.TotalAmt.toFixed(2));
                rawJson.TotalDiscount = Number(rawJson.TotalDiscount.toFixed(2));
                rawJson.TotalTaxable = Number(rawJson.TotalAmt.toFixed(2));
                rawJson.TotalCGST = Number(rawJson.TotalCGST.toFixed(2));
                rawJson.TotalSGST = Number(rawJson.TotalSGST.toFixed(2));
                rawJson.TotalIGST = Number(rawJson.TotalIGST.toFixed(2));
                rawJson.CWCAmtTotal = Number(rawJson.CWCAmtTotal.toFixed(2));
                rawJson.CWCTotal = Number(rawJson.CWCTotal.toFixed(2));
                rawJson.HTAmtTotal = Number(rawJson.HTAmtTotal.toFixed(2));
                rawJson.HTTotal = Number(rawJson.HTTotal.toFixed(2));
                rawJson.AllTotal = Number(rawJson.AllTotal.toFixed(2));
                rawJson.RoundUp = Number(rawJson.RoundUp.toFixed(2));

                $.each(rawJson.lstPostPaymentChrg, function (i, item) {
                    item.Rate = Number(item.Rate.toFixed(2));
                    item.Amount = Number(item.Amount.toFixed(2));
                    item.Discount = Number(item.Discount.toFixed(2));
                    item.Taxable = Number(item.Taxable.toFixed(2));
                    item.IGSTPer = Number(item.IGSTPer.toFixed(2));
                    item.IGSTAmt = Number(item.IGSTAmt.toFixed(2));
                    item.CGSTPer = Number(item.CGSTPer.toFixed(2));
                    item.CGSTAmt = Number(item.CGSTAmt.toFixed(2));
                    item.SGSTPer = Number(item.SGSTPer.toFixed(2));
                    item.SGSTAmt = Number(item.SGSTAmt.toFixed(2));
                    item.Total = Number(item.Total.toFixed(2));
                });


                $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                // console.log(rawJson);
                $('form#PaymentSheetForm').submit();
            }
            catch (e) {
                $('#btnSave').removeAttr('disabled');
            }
        }
    }


    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        debugger;
        TaxType = Type;
        $('#DivBody').load('/Bond/HdbBond/BondUnloadPaymentSheet?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else
        $('#Bill').prop('checked', true);
</script>
<script>
    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#InvoiceNo').val(data.Data.InvoiceNo);
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnSave').attr('disabled');
            $('#btnPrint').removeAttr('disabled');
          //  setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {
        //$('#DivBody').load('/Import/Kdl_CWCExport/CreateContPaymentSheet'); // added
        $('#DivBody').load('/Bond/HdbBond/BondUnloadPaymentSheet');
    }
</script>
<script>

    function PrintInvoice() {
        debugger;
        var invoiceno = $('#InvoiceNo').val();

        //if (invoiceno == '')
        //{
        //    alert('No Invoice No');
        //    return;
        //}

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetBulkInvoiceReport", "Hdb_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'BND',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'Bond Delivery Payment Invoice',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }




</script>


