@model CwcExim.Areas.Bond.Models.HdbBondWODeli
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivBondApp">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Edit Work Order</h4>
                    </div>
                </div>
                @Html.HiddenFor(m => m.BondWOId)
                @Html.HiddenFor(m => m.DepositAppId)
              @* <div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-offset-1-5 col_cus_offset_2 col-md-1-5">
                <div class="boolean-container">
                    @Html.RadioButton("WorkOrderFor", "U", false, new { @id = "rbUnloading", @disabled = true })
                    <label for="rbUnloading"><i class="circle"></i><span>Unloading</span></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="boolean-container">
                    @Html.RadioButton("WorkOrderFor", "D", false, new { @id = "rbDelivery", @disabled = true })
                    <label for="rbDelivery"><i class="circle"></i><span>Delivery</span></label>
                </div>
            </div>
        </div>
    </div>*@ 
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.WorkOrderNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WorkOrderNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Work Order Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.WorkOrderDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.BondNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.BondDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2">
                            @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.WRNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.WRDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2" id="DivDeliveryNo">
                            @Html.LabelFor(m => m.DeliveryNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.DeliveryNo, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.GodownName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>SAC No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.SacNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>SAC Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SacDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Units, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Units, new { @class = "form-control input-sm"@*, @readonly = true*@ })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.Weight, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input-sm"@*, @readonly = true*@ })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSave" onclick="SaveDetails()" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" id="BtnBack" />
                    </div>
                </div>
                <div id="DivWOMsg" class="logSuccMsg" style="background-color:transparent"></div>
                <div id="DivWOMsgErr" class="logErrMsg" style="background-color:transparent"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        debugger;
        if ('@Model.WorkOrderFor' == 'U' || '@Model.WorkOrderFor' == 'u') {
            $('#DivDeliveryNo').css("visibility", "hidden");
            $('#DeliveryNo').css("visibility", "hidden");
        }
    });
    $('#WorkOrderDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='WorkOrderDate']").html('');
        }
    });
    $('#BtnBack').on('click', function () {
        if ('@Model.WorkOrderFor' == 'U' || '@Model.WorkOrderFor' == 'u') {
            $('#DivBody').load('/Bond/HdbBond/CreateWOForUnloading');
        }
        else
        {
            $('#DivBody').load('/Bond/HdbBond/CreateWOForDelivery');
        }
    });

    function SaveDetails() {
        var DepositAppId = Number($('#DepositAppId').val());
        var Units = $('#Units').val();
        var Weight = $('#Weight').val();
        var BondWOId = Number($('#BondWOId').val());
        if (DepositAppId > 0) {
            if ($('#Units').val() == '') {
                alert('Enter Cargo Units');
                return false;
            }
            if ($('#Weight').val() == '') {
                alert('Enter Cargo Weight');
                return false;
            }
            var DeliveryNo = $.trim($('#DeliveryNo').val());
            if (DeliveryNo == '' & $('#rbUnloading').prop("checked") == false) {
                alert('Enter Delivery No');
                return false;
            }
                var Confirm = confirm("Are you sure you want to Save?");
                var Val = $('input[name="__RequestVerificationToken"]').val();
                if (Confirm == true) {
                    var WorkOrderFor = $('#rbUnloading').is(':checked') ? 'U' : 'D';
                    var PD = new FormData();
                    PD.append("BondWOId", BondWOId);
                    PD.append("DepositAppId", DepositAppId);
                    PD.append("DeliveryNo", DeliveryNo);
                    PD.append("WorkOrderDate", $('#WorkOrderDate').val());
                    PD.append("WOType", WorkOrderFor);
                    PD.append("CargoUnits", Units);
                    PD.append("CargoWeight", Weight);
                    $.ajax({
                        url: '/Bond/HdbBond/AddEditWODeli',
                        type: 'POST',
                        data: PD,
                        dataType: 'JSON',
                        processData: false,
                        contentType: false,
                        headers: { "__RequestVerificationToken": Val },
                        success: function (data) {
                            debugger;
                            if (data.Status == 2) {
                                $('#DivWOMsg').html(data.Message);
                                if ('@Model.WorkOrderFor' == 'U' || '@Model.WorkOrderFor' == 'u') {
                                    setTimeout(function () { $('#DivBody').load('/Bond/HdbBond/CreateWOForUnloading'); }, 5000);
                                }
                                else
                                {
                                    setTimeout(function () { $('#DivBody').load('/Bond/HdbBond/CreateWOForDelivery'); }, 5000);

                                }
                            }
                            else
                                $('#DivWOMsgErr').html(data.Message);
                        }
                    });
                }
            }
            //else
            //    alert('Enter Delivery No');

        else
            alert('Select Bond No.');
    }



</script>
