@model CwcExim.Areas.Master.Models.PPGSac
@using (Ajax.BeginForm("AddSacDetail", "PPGSac", new AjaxOptions
{
    Confirm = "Are you sure you want to Save?",
    HttpMethod = "POST",
    OnSuccess = "sacOnSuccess",
    OnFailure = "sacOnFailure"
}))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>GST Against SAC</h4>
                        </div>
                    </div>

                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="ReQSimbol">*</span>
                                    @Html.LabelFor(m => m.SACCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    @Html.TextBoxFor(m => m.SACCode, new { @placeholder = "Enter SAC" })
                                    @Html.ValidationMessageFor(m => m.SACCode, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="ReQSimbol">*</span>
                                    @Html.LabelFor(m => m.GST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    @Html.TextBoxFor(m => m.GST, new { @placeholder = "Enter GST %" })
                                    @Html.ValidationMessageFor(m => m.GST, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="ReQSimbol">*</span>
                                    @Html.LabelFor(m => m.CESS, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    @Html.TextBoxFor(m => m.CESS, new { @placeholder = "Enter CESS %" })
                                    @Html.ValidationMessageFor(m => m.CESS, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description:</label>
                                    @Html.TextAreaFor(m => m.Description, new { @style = "width:100%;height:75px;" })
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>

                        <div class="d-flex justify-content-left">
                            <input type="submit" class="btn btn-primary mr-1 btn-100px" id="BtnSave" value="Save">
                            <input type="button" class="btn btn-primary-border btn-100px" id="btnReset" value="Reset" onclick="Clear()">
                        </div>

                        <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" id="DivMsg" style="background-color:transparent;"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="DivSACList"></div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () { LoadSACList(); });
    function LoadSACList() {
        $('#DivSACList').load('/Master/PPGSac/GetAllSAC');
    }
    function Clear() {
        $('input[type="text"],textarea').val('');
        $('[data-valmsg-for]').html('');
    }
    function sacOnSuccess(data) {
        if (data.Status == 1) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            Clear();
            LoadSACList();
        }
        else if (data.Status == 2) {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg')
            $('#DivMsg').html(data.Message);
        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg')
            $('#DivMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
    }
    function sacOnFailure() { }
</script>
