@{
    Layout = null;
}
@model IEnumerable<CwcExim.Areas.Auction.Models.HDB_MarkedNotice>
<script>
    $(document).ready(function () {
        var TblMarkedNotice = $('#TblMarkedNotice').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                    { "sName": "SLNo", "width": "7%" },
                    { "sName": "LOT No", "width": "15%" },
                    { "sName": "Notice No" },
                    { "sName": "Marked On", "bSortable": false, "width": "15%" },
            ]
        });
        new $.fn.dataTable.FixedHeader(TblMarkedNotice);
    });
</script>

<style>
    #TblMarkedNotice tr th, #TblMarkedNotice tr td{
        word-break: break-all;
        border-top:none;
    }
</style>

<table id="TblMarkedNotice" class="table table-striped table-bordered nowrap dataTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:5%;">SL No.</th>
            <th style="text-align:center;width:20%;">LOT No</th>
            <th style="text-align:center;width:20%;">Lot Date</th>
            <th style="width:50%;">
                <table style="width:100%;">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:10%;text-align:left;border-right: 1px solid #dddddd;">Notice No</th>
                            <th class="text-center" style="width:10%;text-align:left;border-right: 1px solid #dddddd;">Notice Date</th>
                            <th class="text-center" style="width:10%;text-align:left;border-right: 1px solid #dddddd;">Party</th>
                            <th class="text-center" style="width:10%;text-align:left;border-right: 1px solid #dddddd;">OBL No</th>
                            <th class="text-center" style="width:10%;text-align:left;border-right: 1px solid #dddddd;">Shipbill No</th>
                        </tr>
                    </thead>
                </table>
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model)
            {
                i = i + 1;
                <tr>
                    <td style="width:5%;">@i</td>
                    <td style="width:20%;">@Html.DisplayFor(m => item.LOTNo)</td>
                    <td style="width:20%;">@Html.DisplayFor(m => item.MarkedOn)</td>
                    <td style="width:50%;">
                        <table style="width:100%;">
                            @foreach (var itemMarkedNoticeDetailsList in item.MarkedNoticeDetailsList)
                            {
                                <tr>
                                    <td style="width:10%;border-right: 1px solid #dddddd;">@Html.DisplayFor(m => itemMarkedNoticeDetailsList.NoticeNo)</td>
                                    <td style="width:10%;border-right: 1px solid #dddddd;">@Html.DisplayFor(m => itemMarkedNoticeDetailsList.AuctionNoticeDate)</td>
                                    <td style="width:10%;border-right: 1px solid #dddddd;">@Html.DisplayFor(m => itemMarkedNoticeDetailsList.PartyName)</td>
                                    <td style="width:10%;border-right: 1px solid #dddddd;">@Html.DisplayFor(m => itemMarkedNoticeDetailsList.OBL)</td>
                                    <td style="width:10%;border-right: 1px solid #dddddd;">@Html.DisplayFor(m => itemMarkedNoticeDetailsList.Shipbill)</td>
                                </tr>
                            }
                        </table>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>




