@model IEnumerable<CwcExim.Areas.GateOperation.Models.Dnd_ExitThroughGateHeader>
<table class="table table-bordered table-striped" id="tblGateEntryList">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.GateExitNo)</th>
            <th>@Html.DisplayNameFor(m => m.GateExitDateTime)</th>
            <th>@Html.DisplayNameFor(m=> m.GatePassNo)</th>   
            <th>@Html.DisplayNameFor(m => m.InvoiceNo)</th>
            <th>@Html.DisplayNameFor(m => m.ContainerNo)</th>
            <th>@Html.DisplayNameFor(m => m.VehicleNo)</th>       
            @*<th class="text-center">@Html.DisplayName("Edit")</th>*@
            <th class="text-center">@Html.DisplayName("View")</th>
            @*<th class="text-center">@Html.DisplayName("Delete")</th>*@
            <th class="text-center">@Html.DisplayName("Print")</th>
        </tr>
    </thead>
    <tbody>
       @{
           var SerialNo = 1;
           foreach (var elem in Model)
           {
            <tr>
                <td class="text-center">@SerialNo.ToString()</td>
                <td>@elem.GateExitNo</td>
                <td>@elem.GateExitDateTime</td>
                <td>@elem.GatePassNo</td>
                <td>@elem.InvoiceNo</td>
                <td>@elem.ContainerNo</td>
                <td>@elem.VehicleNo</td>
                @*<td class="text-center"><a href="#" onclick="EditGateExit(@elem.ExitIdHeader)"><i class="fa fa-pencil-square Edit"></i></a></td>*@
                <td class="text-center"><a href="#" onclick="ViewGateExitDet(@elem.ExitIdHeader)"><i class="fa fa-search-plus Edit"></i></a></td>
                @*<td class="text-center"><a href="#" onclick="DeleteGateExitDet(@elem.ExitIdHeader)"><i class="fa fa-window-close-o Delete"></i></a></td>*@
                @if (elem.InvoiceNo == "")
                {
                    <td class="text-center"></td>
                }
                else
                {
                    <td class="text-center"><a href="#" onclick="PrintInvoice('@elem.InvoiceNo','@elem.Module')"><i class="fa fa-file-pdf-o Print"></i></a></td>
                }
               
            </tr>
               SerialNo = SerialNo + 1;
           }
           }
    </tbody>
</table>
<script>

    $(document).ready(function(){
        var TblGateEntry= $('#tblGateEntryList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                { "sName": "SL No", "width": "8%" },
                { "sName": "Gate Exit No" },
                { "sName": "Gate Exit Date Time", "width": "15%" },
                { "sName": "Gate Pass No" },
                { "sName": "Invoice No" },
                { "sName": "Container No" },
                { "sName": "Vehicle No" },
                //{ "sName": "View", "bSortable": false, "width": "10%" },
                { "sName": "Edit", "bSortable": false, "width": "10%" },
                //{ "sName": "Delete", "bSortable": false, "width": "10%" }
                { "sName": "Print", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblGateEntry);
    });

    function LoadExitThroughGateList() {
        debugger;
        $('#DivGateEntryList').load('/GateOperation/Dnd_CWCGateExit/CreateExitThroughGate');
    }
    function EditGateExit(ExitId) {
        debugger;
        $('#DivBody').load('/GateOperation/Dnd_CWCGateExit/EditExitThroughGate?ExitIdHdr=' + ExitId);
    }
    function ViewGateExitDet(ExitId) {
        // alert("View");
        debugger;
        $('#DivBody').load('/GateOperation/Dnd_CWCGateExit/ViewExitThroughGate?ExitIdHdr=' + ExitId);
    }



    function DeleteGateExitDet(ExitId) {

        var Confirm = confirm("Are you sure you want to delete?")
        debugger;
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("DeleteExitThroughGate", "Dnd_CWCGateExit", new { Area = "GateOperation" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: { ExitId: ExitId },
                success: function (data) {
                    if (data.Status == 1) {

                        debugger;

                        if(data.Status==1)
                        {
                            GateExitOnSuccess(data);
                            //LoadExitThroughGateList();
                            //GetExitThroughGateList();
                        }
                        else {
                            alert(data.Message);
                        }

                    }
                }
            });
        }
    }

    function PrintInvoice(InvoiceNo, Module) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "Dnd_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: InvoiceNo,
                InvoiceModule: Module,
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: Module,
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });        
    }

    function GetExitThroughGateList() {
        debugger;
        //$('#DivGateExitList').load('/GateOperation/kol_CWCGateExit/EntryThroughGateList');
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/GateOperation/Dnd_CWCGateExit/getExitHeaderList',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'text',
            async: false,
            success: function (data) {
                // alert(data);
                if (data != null && data != "" && data != undefined) {
                    $("#DivGateExitList").html('');
                    $("#DivGateExitList").html(data);
                }
                else {
                    $("#DivGateExitList").html('');

                }
            }
        });
    }
    function GateExitOnSuccess(data) {

        debugger;
        if (data.Status == 1) {
            GetExitThroughGateList();
            if ($('#DivExitThroughGateMsg').hasClass('logErrMsg'))
                $('#DivExitThroughGateMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivExitThroughGateMsg').html(data.Message);
            setTimeout(LoadGateExitView, TimeInSeconds);
            // LoadGateExitView();

           // LoadExitThroughGateList();

        }
            //else if (data.Status == 2) {
            //    $('[data-valmsg-for="CountryName"]').html('<span>' + data.Message + '</span>');
            //}
            //else if (data.Status == 3) {
            //    $('[data-valmsg-for="CountryAlias"]').html('<span>' + data.Message + '</span>');
            //}
        else {
            if ($('#DivExitThroughGateMsg').hasClass('logSuccMsg'))
                $('#DivExitThroughGateMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivExitThroughGateMsg').html(data.Message);
            setTimeout(LoadGateExitView, TimeInSeconds);
        }
    }

    function LoadGateExitView() {
        $('#DivBody').load('/GateOperation/Dnd_CWCGateExit/CreateExitThroughGate');
    }
</script>