@model IEnumerable<CwcExim.Areas.Export.Models.WFLD_ReeferInvoiceList>
<table class="table table-striped table-bordered" id="tblReeferInvoicelst" style="width:100%;">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Invoice No</th>
            <th>Invoice Date</th>
            <th>Party Name</th>
            <th>Container No</th>
            <th>Size</th>
            <th class="text-center">@Html.DisplayName("Print")</th>
            
        </tr>
    </thead>
    <tbody>
        @{ var SerialNo = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo.ToString()</td>
                    <td>@data.InvoiceNo</td>
                    <td>@data.InvoiceDate</td>
                    <td>@data.PartyName</td>
                    <td>@data.ContainerNo</td>
                    <td>@data.Size</td>
                    <td><a href="#" onclick="PrintInv('@data.InvoiceNo')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>


    $(document).ready(function () {
        var tblReeferInvoicelst = $('#tblReeferInvoicelst').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "8%" },
                       { "sName": "Invoice No", "bSortable": false },
                       { "sName": "Invoice Date", "bSortable": false },
                       { "sName": "Party Name", "bSortable": false },
                       { "sName": "Container No" },
                       { "sName": "Size", "bSortable": false, "width": "8%" },
                       { "sName": "Print", "bSortable": false, "width": "10%" },

            ]
        });
        new $.fn.dataTable.FixedHeader(tblReeferInvoicelst);
    });

    function PrintInv(InvoiceNo)
    {
       
     
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "WFLD_ReportCWC", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: InvoiceNo,
                    InvoiceModule: 'EXPREF',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'Reefer Invoice',
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Data);
                }
            });
        
    }

</script>

