
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>EGM E07 Upload</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">  
                        @*<div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Train No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBox("TrainNo", "", new { @class = "form-control", })
                            </div>
                            <div class="col-md-1-5">
                                <label>Train Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBox("TrainDate", DateTime.Now.ToString("dd/MM/yyyy HH:mm"), new { @disabled = "disabled" })
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label>Port:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBox("PortName", "", new { @disabled = "disabled" })
                                <span class="search" id="SrchInvoiceNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PortModal"></i></span>
                                <input type="hidden" id="PortId" value="0" />
                            </div>
                        </div>*@
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Select File:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.TextBox("PostedFile", "", new { type = "file", @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Upload" onclick="Upload()" class="btn log_Btn_sm" id="btnUpload" />
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div id="divTrainSummaryUpload" class="row Form_Space_top Form_Space_bottom">
                        <div class="col-md-12">
                            <table id="tblEGMUpload" class="table table-bordered table-striped dataTable" style="table-layout: fixed; overflow: hidden; word-break: break-word; font-size:11px;">
                                <thead>
                                    <tr>
                                        <th style="width:4%;" class="text-center">Sl No</th>
                                        <th style="width:6%;">MSG Type</th>
                                        <th style="width:5%;">Mode</th>
                                        <th style="width:8%;">Cust_H_code</th>
                                        <th style="width:8%;">Container / No</th>
                                        <th style="width:8%;">SB No</th>
                                        <th style="width:8%;">SB Date</th>
                                        <th style="width:8%;">Vechicle NO</th>
                                        <th style="width:8%;">Vechicle Date</th>
                                        <th style="width:8%;">S line Code</th>
                                        <th style="width:8%;">Weight</th>                                        
                                        <th style="width:8%;">Destport Code</th>                                       
                                        <th style="width:6%;">Origin Rail Code</th>
                                        <th style="width:8%;">ISO CODE</th>
                                        <th style="width:8%;">G_PORT CODE</th>
                                        <th style="width:6%;">StaOFCont</th>
                                        @*<th>Ct Tare</th>
                                            <th>Cargo Wt</th>
                                            <th>Gross Wt</th>
                                            <th>Ct Status</th>
                                            <th>Destination</th>
                                            <th>Smtp No</th>
                                            <th>Received Date</th>
                                            <th>Genhaz</th>*@
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" value="Save" onclick="SaveUploadData()" class="btn log_Btn_sm" id="btnSave" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllField()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divTrainSummaryUploadList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PortModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title"> Choose Port Name</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Portbox" type="text" />
                <ul class="navList" id="lstPort"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>

    //$(function () {

    //    $("#TrainNo").keydown(function (e) {
    //        // Allow: backspace, delete, tab, escape, enter and .
    //        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
    //            // Allow: Ctrl+A, Command+A
    //            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
    //            // Allow: home, end, left, right, down, up
    //            (e.keyCode >= 35 && e.keyCode <= 40)) {
    //            // let it happen, don't do anything
    //            return;
    //        }
    //        // Ensure that it is a number or character
    //        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
    //            e.preventDefault();
    //        }
    //    });

    //    $('#TrainDate').datetimepicker({
    //        showOn: "button",
    //        buttonImage: "/Content/images/calendar.png",
    //        buttonImageOnly: true,
    //        dateFormat: "dd/mm/yy",
    //        altField: "#slider_example_4andHalf_alt",
    //        altFieldTimeOnly: false,
    //        onClose: function () {
    //            $(".Date_Img .Error_Msg").text("");
    //            $('[data-valmsg-for="Data"]').html('<span></span>');
    //        }
    //    });
    //    GetPortList();
    //    ListOfTrainSummary();
    //});

    function GetPortList() {
        $.ajax({
            type: 'GET',
            url: '/Export/WFLD_CWCExport/GetPortList',
            dataType: 'JSON',
            success: function (data) {
                var html = '';
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        html += '<li id="' + data[i].PortId + '" onclick="selectPort(' + data[i].PortId + ',\'' + data[i].PortName + '\');">' + data[i].PortName + '</li>';
                    }
                }
                else {
                    html = '<li></li>';
                }

                $('#lstPort').html(html);
            }
        });
    }

    function ResetAllField() {
        $('#DivBody').load('/Export/WFLD_CWCExport/ICEGATEE07ExcelUpload');
    }

    //function ListOfTrainSummary() {
    //    $('#divTrainSummaryUploadList').load('/Export/WFLD_CWCExport/ListOfTrainSummary');
    //}

    var EGMUploadListFromXL = [];
    var CanDelete = true;

    function Upload() {
        //if ($('#TrainNo').val() == null || $('#TrainNo').val() == '') {
        //    alert('Please enter Train No.');
        //    return false;
        //}
        //if ($('#PortName').val() == null || $('#PortName').val() == '') {
        //    alert('Please choose Port Name.');
        //    return false;
        //}
        debugger;

        if ($("#PostedFile")[0].files.length > 0) {
            var uploadedFile = $("#PostedFile")[0].files[0];
            var uploadedFileExtentionArray = uploadedFile.name.split('.');
            var uploadedFileExtention = uploadedFileExtentionArray[uploadedFileExtentionArray.length - 1];
            if (!(uploadedFileExtention == 'xls' || uploadedFileExtention == 'xlsx')) {
                alert('Please select only Excel file.');
                return false;
            }
        }
        else {
            alert('Please select an Excel file.');
            return false;
        }

        var fdata = new FormData();
        fdata.append('PostedFile', $("#PostedFile")[0].files[0]);

        $.ajax({
            type: 'POST',
            //  url: '/Export/WFLD_CWCExport/CheckUpload?TrainNo=' + $('#TrainNo').val().toString(),
            url: '/Export/WFLD_CWCExport/CheckUploadEO7',
            data: fdata,
            dataType: 'JSON',
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (data) {
                $('#DivDwnldWavMsg').html('')
                debugger;
                if (data.Status == 1) {  
                    debugger;

                    //if (confirm("This Train No already exist. Do you want to replace the data?")) {
                        EGMUploadListFromXL = [];
                        EGMUploadListFromXL = data.Data;
                        PopulateGrid();
                        $('#btnSave').attr('disabled', false);

                    //}
                }
                //else if (data.Status == 0) {
                //    TrainSummaryUploadListFromXL = [];
                //    TrainSummaryUploadListFromXL = data.Data;
                //    PopulateGrid();
                //    $('#btnSave').attr('disabled', false);
                //}
                //else if (data.Status == 2) {
                //    TrainSummaryUploadListFromXL = [];
                //    TrainSummaryUploadListFromXL = data.Data;
                //    PopulateGrid();
                //    $('#btnSave').attr('disabled', true);
                //}
                else if (data.Status == -1) {
                    $('#DivDwnldWavMsg').html("No data in Excel File.").removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -2) {
                    $('#DivDwnldWavMsg').html("Uploaded Excel file is wrong.").removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -3) {
                    alert('Please select only Excel file.');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -4) {
                    alert('Please select an Excel file.');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -5) {
                    alert('Please enter Container / CBT No for all the row in the Excel file.');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status ==52) {
                    alert('Excel File Name Length Should not be more than  50 character.');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else {
                    $('#DivDwnldWavMsg').html("Error in Uploading File.").removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#tblEGMUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
            }
        });

    }

    function PopulateGrid() {
        debugger;
        var html = '';
        $.each(EGMUploadListFromXL, function (i, item) {
            debugger;
            var sl = i+1;
            html += '<tr><td>' + sl + '</td>'
                    + '<td>' + item.MESSAGETYPE + '</td>'
                    + '<td>' + item.MODEOFTRANSPORT + '</td>'
                    + '<td>' + item.CUSTOMSHOUSECODE + '</td>'
                    + '<td>' + item.CONTAINERNO + '</td>'
                    + '<td>' + item.SBNO + '</td>'
                    + '<td>' + item.SBDATE + '</td>'
                    + '<td>' + item.VECHICLENO + '</td>'
                    + '<td>' + item.VECHICLEDEPARTUREDATE + '</td>'
                    + '<td>' + item.SHIPPINGLINECODE + '</td>'
                    + '<td>' + item.WEIGHT + '</td>'
                    + '<td>' + item.DESTINATIONPORTCODE + '</td>'
                    + '<td>' + item.ORIGINRAILSTATIONCODE + '</td>'
                    + '<td>' + item.ISOCODE + '</td>'
                    + '<td>' + item.GATEWAYPORTCODE + '</td>'
                    + '<td>' + item.STATUSOFCONTAINER + '</td></tr>';
                  
                    //+ '<td class="text-center"><a href="#" onclick="Delete(' + item.SrNo + ')"><i class="fa fa-window-close-o Delete"></i></a></td></tr>';
        });
        $('#tblEGMUpload tbody').html(html);
        $('#btnSave').attr('disabled', (EGMUploadListFromXL.length == 0));
    }

    function Delete(SrNo) {
        debugger;
        if (CanDelete) {
            var index = 0;
            for (var i = 0; i < TrainSummaryUploadListFromXL.length; i++) {
                if (TrainSummaryUploadListFromXL[i].SrNo == SrNo) {
                    index = i;
                    break;
                }
            }
            TrainSummaryUploadListFromXL.splice(index, 1);
            PopulateGrid();
        }
    }

    function SaveUploadData() {
        debugger;

        var E07SummaryUpload = {
            //TrainNo: $('#TrainNo').val().toString(),
            //TrainDate: $('#TrainDate').val().toString(),
            //PortId: parseInt($('#PortId').val()),
            EGMSummaryList: JSON.stringify(EGMUploadListFromXL)
        };

        $.ajax({
            url: '/Export/WFLD_CWCExport/SaveUploadE07Data',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            url: '/Export/WFLD_CWCExport/SaveUploadE07Data',
         //   url: '/Auction/Auction/SaveAuctionIssueNotice?objTrainSummaryUpload=' + JSON.stringify(Data),
            data: E07SummaryUpload,
         //  data: JSON.stringify(Data),
            success: function (data) {
                
                debugger;
                if (data.Status == 1) {
                    $('#DivDwnldWavMsg').html("Total sucess.:" + data.Data.TotalSusess + "-Total Failure:" + data.Data.Totalfalure).removeClass('logErrMsg').addClass('logErrMsg');


                    alert('Data Saved successfully.');
                    //$.each(EGMUploadListFromXL, function (i, item) {
                      //  if (item.Status != 2) {
                       //     item.StatusDesc = "Saved";
                        //}
                    //});
                    //CanDelete = false;
                    //PopulateGrid();
                    $('#btnSave').attr('disabled', true);
                    $('#btnUpload').attr('disabled', true);
                    setTimeout(ResetAllField, 4000);
                    //ListOfTrainSummary();
                }
                else {
                    alert('Error');
                }
            }
        });
    }

    function selectPort(id, portName) {
        debugger;
        $('#PortName').val(portName);
        $('#PortId').val(id);
        $("#PortModal").modal("hide");
    }

    $('#Portbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstPort > li').show();
        } else {
            $('#lstPort > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

</script>

