
        @model IEnumerable<CwcExim.Areas.Export.Models.WFLD_PostPalletizationCBM>
        <script>
        var Page = 0;
        var Flag = 0;
        $(document).ready(function () {            
            var tblPostPalletizationCBM= $('#tblPostPalletizationCBM').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 10,
                "aoColumns": [
                        { "sName": "SL No","width": "8%" },
                        { "sName": "Update Date" },
                        { "sName": "SB No", "bSortable": false },
                        { "sName": "Qty", "bSortable": false },
                        { "sName": "Reserved CBM", "bSortable": false },
                        { "sName": "General CBM", "bSortable": false },
                        
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(0)', nRow).addClass("text-center");
                    $('td:eq(3),td:eq(4),td:eq(5)', nRow).addClass("text-center");
                    $('td:eq(0)', nRow).css("width", "8%");
                    $('td:eq(3)', nRow).css("width", "10%");
                    $('td:eq(4)', nRow).css("width", "10%");
                    $('td:eq(5)', nRow).css("width", "10%");                    
                }
            });
            new $.fn.dataTable.FixedHeader(tblPostPalletizationCBM);           
        });
        
        //$("#tblPostPalletizationCBM").on("draw.dt", function () {
        //    $(this).find(".dataTables_empty").parents('tbody').empty();
        //}).DataTable;

        function LoadMoreListData() {
            debugger;
            
            var URL = '/Export/WFLD_CWCExport/GetLoadMoreGetPostPalletizationCBMList';

                $.ajax({
                    url: URL,
                    type: 'GET',
                    dataType: 'JSON',
                    data: { Page: Page + 1 },
                    success: function (data) {
                        debugger;
                        if (data != null && data != '' && data != undefined && data.length > 0) {
                            Page++;
                            var html = '';
                            var dt = $('#tblPostPalletizationCBM').dataTable();
                            var len = dt.fnGetData().length;
                            $.each(data, function (i, item) {
                                debugger;
                                len++;
                                dt.fnAddData([
                                len,
                                [item.UpdateDate],
                                [item.SBNo],
                                [item.Qty],
                                [item.ReservedCBM],
                                [item.GeneralCBM],
                                ]);
                            });
                        }
                        else alert('No more data available');
                    }
                });
            }
            
       
       
    </script>
<table id="tblPostPalletizationCBM" class="table table-striped table-bordered nowrap" cellspacing="0"width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>Update Date</th>
            <th>SB No</th>
            <th>Qty</th>
            <th>Reserved CBM</th>
            <th>General CBM</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach (var item in Model)
            {
        <tr>
            <td style="text-align:center">@SerialNo</td>
            <td>@Html.DisplayFor(m=>item.UpdateDate)</td>
            <td>@Html.DisplayFor(m=>item.SBNo)</td>
            <td>@Html.DisplayFor(m => item.Qty)</td>
            <td>@Html.DisplayFor(m => item.ReservedCBM)</td>
            <td>@Html.DisplayFor(m => item.GeneralCBM)</td>
            
        </tr>
        SerialNo = SerialNo+ 1;
            }
            }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>