
@model CwcExim.Areas.Import.Models.Wlj_SealCutting

@using (Ajax.BeginForm("AddEditSealCutting", "Wlj_CWCImport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "SealCuttingOnSuccess", OnFailure = "SealCuttingeOnFailure" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("PaymentSheetModelJson")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Seal Cutting</h4>
                            @Html.HiddenFor(m => m.ViewBLList, new { @value = "0" })
                            @Html.HiddenFor(m => m.lstPostPaymentChrgBreakup)
                            @Html.HiddenFor(m => m.lstPostPaymentChrgBreakupAmt, new { @value = "0" })

                            <input type="hidden" id="ViewContainerList" name="ContainerList" value="" />
                            @if (ViewBag.RightsList != null)
                {
                                <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
                            }
                            else
                            {
                                <input type="hidden" id="hdnRights" value="" />
                            }

                            @if (ViewBag.GodownList != null)
                {
                                <input type="hidden" id="ViewGodownList" name="GodownList" value=@ViewBag.GodownList.ToString() />
                            }
                            else
                            {
                                <input type="hidden" id="ViewGodownList" name="GodownList" value="" />
                            }

                            @*@if (ViewBag.CHAShippingLineList != null)
                                {
                                    <input type="hidden" id="cha" value="@ViewBag.CHAShippingLineList.ToString()" />
                                }
                                else
                                {*@
                            <input type="hidden" id="ViewCHAShippingLine" value="" />
                            @*}*@
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.HiddenFor(m => m.SealCuttingId, new { @value = "0" })
                                @Html.LabelFor(m => m.SealCuttingNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.SealCuttingNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.TransactionDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2 col_cus_2 Date_Img">
                                @Html.TextBoxFor(m => m.TransactionDate, new { @size = 10, @maxlength = 10, @onkeyup = "check()", @onblur = "checkdate()" })
                                <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                            </div>
                            <div class="col-md-offset-0-5 col-md-1-5 col_cus_2">
                                @*@Html.LabelFor(m => m.ContainerNo, new { @class = "InputLabel" })<span class="LabelColon"></span>*@
                                <label class="InputLabel" for="ContainerNo">Container / CBT No</label>
                            </div>
                            <div class="col-md-2">
                                @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                                @Html.HiddenFor(m => m.OBLId, new { @value = "0" })
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="ContainerNoSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                @*@Html.ValidationMessageFor(m => m.ShippingLineName)*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                Size<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.size, new { @class = "form-control input-sm", @readonly = true })
                                @*@Html.ValidationMessageFor(m => m.VesselName)*@
                            </div>
                            <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.GateInDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2 col_cus_2 Date_Img">
                                @*@Html.TextBox("GateInDate", "", new { @class = "form-control input-sm", placeholder = "dd/mm/yyyy", @readonly = true, @onfocus = "hideMsg(this);" })*@
                                @Html.TextBoxFor(m => m.GateInDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>
                                @*@Html.ValidationMessageFor(m => m.VesselName)*@
                            </div>
                            <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                                <label>CFS Code:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.CFSCode)
                                @*@Html.HiddenFor(m=>m.LCLFCL)*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                LCL/FCL<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.LCLFCL, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.CustomSealNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2 col_cus_2">
                                @Html.HiddenFor(m => m.CustomSealId, new { @value = "0" })
                                @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input-sm" })
                                @*@Html.ValidationMessageFor(m => m.CustomSealNo)*@
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                @Html.LabelFor(m => m.GodownNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.GodownId, new { @value = "0" })
                                @Html.TextBoxFor(m => m.GodownNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="GodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                @*@if (Model.LCLFCL == "LCL") {
                                        @Html.ValidationMessageFor(m => m.GodownNo)
                                    }*@
                            </div>
                            <div class="col-md-offset-0-5 col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.CHAShippingLine, new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-2">
                                @Html.HiddenFor(m => m.CHAShippingLineId, new { @value = "0" })
                                @Html.TextBoxFor(m => m.CHAShippingLine, new { @class = "form-control input-sm", @readOnly = true })
                                <span class="search" id="CHAShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAShippingLineModal"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="Form_Space_top"></div>

                    @*<div class="Head_h4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Payment Information (For LCL)</h4>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.CHAShippingLine, new { @class = "InputLabel" })
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.HiddenFor(m => m.CHAShippingLineId, new { @value = "0" })
                                        @Html.TextBoxFor(m => m.CHAShippingLine, new { @class = "form-control input-sm", @readOnly = true })
                                        <span class="search" id="CHAShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAShippingLineModal"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label> SD Details : Folio No.:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.FolioNo, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.FolioNo)
                                    </div>
                                    <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 padding_rt">
                                        @Html.LabelFor(m => m.Balance, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.Balance, new { @class = "form-control input-sm", @readOnly = true })
                                        @Html.ValidationMessageFor(m => m.Balance)
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.InvoiceNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input-sm",@readOnly=true })
                                        @Html.ValidationMessageFor(m => m.InvoiceNo)
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.GroundRent, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.GroundRent, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.GroundRent)
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.CGST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(m => m.CGSTPer, new { @value = "0", @readonly = true })
                                    </div>
                                    <div class="col-md-1 padding_lt">
                                        @Html.TextBoxFor(m => m.CGST, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.CGST)
                                    </div>


                                    <div class="col-md-1 col_cus_2">
                                        @Html.LabelFor(m => m.SGST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(m => m.SGSTPer, new { @value = "0", @readonly = true })

                                        @Html.ValidationMessageFor(m => m.SGST)
                                    </div>

                                    <div class="col-md-1 padding_lt">
                                        @Html.TextBoxFor(m => m.SGST, new { @class = "form-control input-sm", @readonly = true })
                                    </div>

                                    <div class="col-md-1 col_cus_2">
                                        @Html.LabelFor(m => m.IGST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-1">
                                        @Html.TextBoxFor(m => m.IGSTPer, new { @value = "0", @readonly = true })

                                        @Html.ValidationMessageFor(m => m.IGST)
                                    </div>
                                    <div class="col-md-1 padding_lt">
                                        @Html.TextBoxFor(m => m.IGST, new { @class = "form-control input-sm", @readonly = true })
                                    </div>

                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.TotalAmount, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-1 padding_lt">
                                        @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.TotalAmount)
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    @*<div class="Form_Space_top"></div>*@

                    @*<div class="Head_h4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>OBL/HBL Details</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="Form_Space_top"></div>
                                <div class="col-md-12" id="DivOBLList">
                                    <table class="table table-bordered table-hover dataTable Table_center" id="tblOBLList">
                                       <thead>
                                                <tr>
                                                    <th class="text-center">@Html.DisplayName("SL No")</th>
                                                    <th>OBL No.</th>
                                                    <th>OBL Date</th>
                                                    <th>Cargo Type</th>
                                                    <th>No Of Package</th>
                                                    <th>Gross Wt.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var Serial = 1;
                                                    if (ViewBag.OBLList != null)
                                                    {
                                                        foreach (var item in ViewBag.OBLList)
                                                        {
                                                      <tr>
                                                          <td class="text-center">@Serial</td>
                                                          <td>@item.OBL_No</td>
                                                          <td>@item.BLDate</td>
                                                          <td>@item.CargoType</td>
                                                          <td>@item.NO_PKG</td>
                                                          <td>@item.BLDate</td>
                                                          <td>@item.GR_WT</td>
                                                      </tr>
                                                           Serial++;
                                                        }
                                                    }
                                                 }
                                            </tbody>
                                    </table>
                                </div>
                                <div class="Form_Space_top"></div>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                            <input type="button" id="btnSave" class="btn log_Btn_sm" value="Save" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllFields()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
                    <div class="row">
                        <div class="col-md-2 SignUp_space_bottom">
                            <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" onclick="GetSCList()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="tblEntryDet"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="DivScList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="row">
            <div class="col-md-12">
                <div id="divFormOneList"></div>
            </div>
        </div>*@


    <div id="ShippingLineModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Shippingbox" type="text" />
                    <ul class="navList" id="lstShipping">
                        @*@{
                                foreach (var item in Model.lstShippingLine)
                                {
                                    <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                                }
                            }*@
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="PODModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Port</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="PODbox" type="text" />
                    <ul class="navList" id="lstPOD">
                        @if (ViewBag.Godownist != null)
                        {
                            foreach (var item in ViewBag.Godownist)
                            {
                                <li id="@item.GodownId">@item.GodownName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="BLModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of B/L</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="BLbox" type="text" />
                        <ul class="navList" id="lstBL">
                            @*@if (ViewBag.BLList != null)
                                {
                                    foreach (var item in ViewBag.BLList)
                                    {
                                        <li id="@item.BLId">@item.BLNo</li>
                                    }
                                }*@
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="modal fade" id="ContainerModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Container / CBT</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Containerbox" type="text" />
                                <ul class="navList" id="lstContainer">
                                    @*@if (ViewBag.ContainerList != null)
                                        {
                                            foreach (var item in ViewBag.ContainerList)
                                            {
                                                <li id="@item.ContainerId">@item.ContainerName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="GodownModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Godown</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Godownbox" type="text" />
                                <ul class="navList" id="lstGodown">
                                    @if (ViewBag.GodownList != null)
                                    {
                                        foreach (var item in ViewBag.GodownList)
                                        {
                                            <li id="@item.GodownId">@item.GodownNo</li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CHAShippingLineModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of CHA/Shipping Line</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="CHAShippingLinebox" type="text" />
                                <ul class="navList" id="lstCHAShippingLine">
                                    @*@{
                                            foreach (var item in Model.lstCHA)
                                            {
                                                <li id="@item.CHAId">@item.CHAName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ImporterModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Importer</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Impbox" type="text" />
                                <ul class="navList" id="lstImp">
                                    @*@{
                                            foreach (var item in Model.lstImporter)
                                            {
                                                <li id="@item.ImporterId">@item.ImporterName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CommodityModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Commodity</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Commoditybox" type="text" />
                                <ul class="navList" id="lstCommodity">
                                    @*@{
                                            foreach (var item in Model.lstCommodity)
                                            {
                                                <li id="@item.CommodityId">@item.CommodityName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
}
@Scripts.Render("~/bundles/jqueryval")

<script>
    var TimeInSeconds;
    var ViewContainerList = [];
    //var ViewBLList = [];
    var ViewCHAShippingLine = [];
    $(document).ready(function () {
        debugger;
        GenerateBlankTable();
        //GetFormOne();
        //FillListByContainer();
        //ResetAllFields();
        //GetSCList();
        TimeInSeconds = 5000;
        $("#TransactionDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });

        r2 = JSON.parse($("#hdnRights").val());
        if (r2.CanAdd == 0) {
            $('#btnSave').prop('disabled', true);
        }
    });

    function checkdate() {
        debugger;
        var result = moment($('#TransactionDate').val(), "DD/MM/YYYY", true).isValid();
        if (!result) {
            $('#DivMsgs').html('Incorrect Date');
            setTimeout(function () { $('#DivMsgs').html(''); }, 5000);
            $('#TransactionDate').val('');
        }
    }
    $('#btnSave').on('click', function () {
        debugger;
        var x = $('#LCLFCL').val();

        if (x == 'LCL') {

            if ($('#TransactionDate').val() == '') {
                alert('Select Transaction Date');
                return false;
            }
            if ($('#GodownId').val() == '0') {
                alert('Select Godown.');
                return false;
            }
            if ($('#CHAShippingLineId').val() == '0') {
                alert('Select CHA/Shipping Line.');
                return false;
            }
            if (confirm("Are You Sure You Want To Save?")) {
                $('#btnSave').prop('disabled', true);
                $('#btnSave').submit();
                return true;
            }
        }
        else {
            if ($('#TransactionDate').val() == '') {
                alert('Select Transaction Date');
                return false;
            }
            if (confirm("Are You Sure You Want To Save?")) {
                $('#btnSave').prop('disabled', true);
                $('#btnSave').submit();
                return true;
            }




        }

    });


    $('#Godownbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodown > li').show();
        else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#GodownSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ListOfGodownData", "Wfld_CWCImport", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                //$('#ViewContainerList').val(data);
                //ViewBLList = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.GodownId + '" " onclick="GodownHide(this)">' + item.GodownNo + '</li>';
                });
                $('#lstGodown').html(html);
            }
        });

    });

    function GenerateBlankTable() {
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>Seal Cutting No</th><th>Seal Cutting Date</th><th>Invoice No</th><th>Container / CBT No</th><th>Size</th><th>Gate In Date</th><th>CFS Code</th><th>Godown No</th><th class="text-center">View</th><th class="text-center">Edit</th><th class="text-center">Delete</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#tblEntryDet').html(tablehtml);
    }
    /* $('#lstGodown > li').on("click", function () {
         $('#GodownNo').val($(this).text());
         $('#GodownId').val($(this).attr('id'));
         $("#GodownModal").modal("hide");
     });*/

    $('#BLbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstBL > li').show();
        else {
            $('#lstBL > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    var dates = [];
    var sorted;
    var minDate;
    function GenerateLstBL(OBLId, impobldtlId, OBLFCLLCL) {
        debugger;
        $.ajax({

            url: '@Url.Action("ListOfBLData", "Wfld_CWCImport", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            data: { OBLId: OBLId, impobldtlId: impobldtlId, OBLFCLLCL: OBLFCLLCL },
            success: function (data) {
                debugger;

                $('#ViewBLList').val(JSON.stringify(data));
                var html = '';
                html += '<thead><tr><th class="text-center">SL No</th><th>OBL/HBL No.</th><th>OBL/HBL Date</th><th>Cargo Type</th>'
                html += '<th>No Of Package</th><th>Gross Wt.</th></tr></thead>'
                $.each(data, function (i, item) {
                    debugger;
                    dates.push(new Date(item.BLDate.split('/')[2], item.BLDate.split('/')[1] - 1, item.BLDate.split('/')[0]));
                    i = i + 1;
                    html += '<tr>';
                    html += ' <td class="text-center">' + i + '</td>';
                    html += ' <td class="text-center">' + item.BLNo + '</td>';
                    html += ' <td class="text-center">' + item.BLDate + '</td>';
                    html += ' <td class="text-center">' + item.CargoType + '</td>';
                    html += ' <td class="text-center">' + item.NO_PKG + '</td>';
                    html += ' <td class="text-center">' + item.GR_WT + '</td>';
                    html += '</tr>';
                });
                $('#tblOBLList').html(html);
                GetMinDateinBlDates(dates);

            }
        });
        debugger;

    };
    function GetMinDateinBlDates(dates) {
        debugger;
        var min = dates[0];
        for (var i = 1; i <= dates.length - 1; i++) {
            if (dates[i] < min)
                min = dates[i];
        }
        $("#TransactionDate").datepicker("option", "minDate", min);
    }
    //var maxDate = sorted[sorted.length - 1];
    //$("#TransactionDate").datepicker("option", "minDate", minDate);
    //function GetBLDate(elem) {
    //    $('#BLNo').val($(elem).text());
    //    $('#BLId').val($(elem).attr('id'));
    //    debugger;
    //    var parties = ViewBLList; //JSON.parse($('#ViewBLList').val());
    //    var payby = $.grep(parties, function (item) { return item.BLId == $('#BLId').val(); })[0];

    //    $('#BLDate').val(payby.BLDate);
    //    $('#BlDetailId').val(payby.BlDetailId);

    //    $('#ContainerId').val(0);
    //    $('#ContainerNo').val('');
    //    $('#size').val('');
    //    $('#GateInDate').val('');
    //    $('#CFSCode').val('');
    //    $('#CustomSealNo').val('');

    //    GenerateLstContainer($('#BLId').val());
    //    $("#BLModal").modal("hide");
    //}
    $('#Containerbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainer > li').show();
        else {
            $('#lstContainer > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#ContainerNoSearch').on("click", function () {
        debugger;
        //if (BLId == null || BLId == '' || BLId == 0) {
        //    if ($('#DivMsg').hasClass('logErrMsg'))
        //        $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
        //    $('#DivMsg').html("Pease Select BL No.");
        //}
        //else {
        $.ajax({
            url: '@Url.Action("ListOfContainer", "Wfld_CWCImport", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;

                ViewContainerList = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.ContainerId + '" " onclick="GetContainerSize(this)">' + item.ContainerNo + '</li>';
                });
                $('#lstContainer').html(html);
            }
        });
        //}

    });

    function GetContainerSize(elem) {
        $('#ContainerNo').val($(elem).text());
        $('#ContainerId').val($(elem).attr('id'));
        debugger;
        var parties = ViewContainerList; //JSON.parse($('#ViewContainerList').val());
        var payby = $.grep(parties, function (item) { return item.ContainerNo == $('#ContainerNo').val(); })[0];
        var OBLFCLLCL = 'LCL';
        var impobldtlId = payby.impobldtlId;
        var impContType = payby.LCLFCL;
        if (impobldtlId > 0 && impContType != 'LCL') {
            OBLFCLLCL = 'FCL'
        }
        $('#OBLId').val(payby.OBLId);
        $('#size').val(payby.size);
        $('#GateInDate').val(payby.GateInDate);
        $('#CFSCode').val(payby.CFSCode);
        $('#CustomSealNo').val(payby.CustomSealNo);
        $('#LCLFCL').val(payby.LCLFCL);
        GenerateLstBL($('#OBLId').val(), impobldtlId, OBLFCLLCL);

        $("#ContainerModal").modal("hide");
    }
    //function CalculateGroundRent() {
    //    debugger;
    //    var TransactionDate = $('#TransactionDate').val();
    //    //$("#TransactionDate").datepicker("option", "disabled", true);
    //    var GateInDate = $('#GateInDate').val();
    //    var ContainerNo = $('#ContainerNo').val();
    //    var CFSCd=$('#CFSCode').val();
    //    var size = $('#size').val();
    //    var CHAShippingLineId = $('#CHAShippingLineId').val();
    //    var OBLType = $('#OBLType').val();
    //    if (GateInDate == '' || GateInDate == null || ContainerNo == '' || ContainerNo == null ) {
    //        if ($('#DivMsg').hasClass('logErrMsg'))
    //            $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
    //        $('#DivMsg').html("Please Fill Up Gate In Date,Container / CBT No and Size");
    //    }
    //    else {
    //        $.ajax({
    //            url: '/Import/Wfld_CWCImport/GetInvoiceDtlForSealCutting',
    //            type: 'GET',
    //            data: {
    //                TransactionDate: TransactionDate, GateInDate: GateInDate, ContainerNo: ContainerNo, size: size,
    //                CHAShippingLineId: CHAShippingLineId,CFSCode:CFSCd, OBLType: 2
    //            },
    //            success: function (data) {
    //                debugger;
    //                if (data != null || data != undefined) {
    //                    debugger;
    //                    $('#PaymentSheetModelJson').val(JSON.stringify(data));
    //                    $('#Balance').val(data.Balance);
    //                    $('#GroundRent').val(data.GroundRent);
    //                    $('#CGST').val(data.CGST);
    //                    $('#SGST').val(data.SGST);
    //                    $('#IGST').val(data.IGST);
    //                    $('#CGSTPer').val(data.CGSTPer);
    //                    $('#SGSTPer').val(data.SGSTPer);
    //                    $('#IGSTPer').val(data.IGSTPer);
    //                    $('#TotalAmount').val(data.TotalAmount);
    //                    $('#Balance').val(data.lstObldt[0].Balance);
    //                    $('#lstPostPaymentChrgBreakupAmt').val(JSON.stringify(data.lstPostPaymentChrgBreakup));
    //                    $('#lstPostPaymentChrgBreakup').val(data.lstPostPaymentChrgBreakup);
    //                    var lstbreakup = [];
    //                    $.each(data.lstPostPaymentChrgBreakup, function (i, item) {
    //                        lstbreakup.push(item);
    //                    });

    //                    $('#lstPostPaymentChrgBreakup').val(lstbreakup);
    //                    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());

    //                    rawJson.CustomSealId = $('#CustomSealId').val();
    //                    rawJson.CustomSealNo = $('#CustomSealNo').val();
    //                    rawJson.GodownId = $('#GodownId').val();
    //                    rawJson.GodownNo = $('#GodownNo').val();
    //                    rawJson.CHAShippingLineId = $('#CHAShippingLineId').val();
    //                    rawJson.CHAShippingLine = $('#CHAShippingLine').val();
    //                    rawJson.FolioNo = $('#FolioNo').val();

    //                    rawJson.BLId = $('#BLId').val();
    //                    rawJson.BlDetailId = $('#BlDetailId').val();
    //                    rawJson.BLNo = $('#BLNo').val();
    //                    rawJson.BLDate = $('#BLDate').val();
    //                    rawJson.OBLType = $('#OBLType').val();
    //                    rawJson.Balance = $('#Balance').val();
    //                    $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));

    //                }
    //            }
    //        });
    //    }
    //}

    function ResetAllFields() {
        $('#SealCuttingId, #ShippingLineId, #ContainerId, #BLId, #GodownId', 'CustomSealId').val('');
        $('#GodownNo').val('');
        $('#ContainerNo').val('');
        $('#CustomSealNo').val('');
        $('#CHAShippingLine').val('');
        $('#GroundRent').val('');
        $('#CGST').val('');
        $('#SGST').val('');
        $('#IGST').val('');
        $('#CGSTPer').val('');
        $('#SGSTPer').val('');
        $('#IGSTPer').val('');
        $('#TotalAmount').val('');
        $('#size').val('');
        $('#OBlType').val(2);
        $('#BLNo').val('');
        $('#BLDate').val('');
        $('#InvoiceNo').val('');
        $('#FolioNo').val('');
        $('#Balance').val('');
        $('#TransactionDate').val('@Model.TransactionDate');
        $('#GateInDate').val('');
        $('#CFSCode').val('');
        $('#lstContainer').val('');

        $('#DivBody').load('/Import/Wfld_CWCImport/AddSealCuting');

    }
    //GenerateLstGodown();
    //function GenerateLstGodown() {
    //    debugger;
    //    if ($('#ViewGodownList').val() != null && $('#ViewGodownList').val() != "") {
    //        $('#ViewGodownList').val();
    //        var parties = JSON.parse($('#ViewGodownList').val());
    //        if (parties != null) {
    //            var html = '';
    //            $.each(parties, function (i, item) {
    //                html += '<li id="' + item.GodownId + '" " onclick="GodownHide(this)">' + item.GodownNo + '</li>';
    //            });
    //            $('#lstGodown').html(html);
    //        }
    //        else {
    //            alert("No Data Found");
    //            $('#GodownNo').val('');

    //        }

    //    }

    //}
    function GodownHide(elem) {
        $('#GodownNo').val($(elem).text());
        $('#GodownId').val($(elem).attr('id'))
        debugger;

        $("#GodownModal").modal("hide");
    }
    $('#CHAShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCHAShippingLine > li').show();
        else {
            $('#lstCHAShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //GenerateLstCHAShippingLine();
    //function GenerateLstCHAShippingLine() {

    //    if ($('#cha').val() != null && $('#cha').val() != "") {
    //        var j = JSON.stringify($('#cha').val());
    //        var conertedJson = JSON.parse(j);
    //        var parties = JSON.parse($('#cha').val());
    //        if (parties != null) {
    //            var html = '';
    //            $.each(parties, function (i, item) {
    //                html += '<li id="' + item.CHAShippingLineId + '" " onclick="GetCHAShippingLine(this)">' + item.CHAShippingLine + '</li>';
    //            });
    //            $('#lstCHAShippingLine').html(html);
    //        }
    //        else {
    //            alert("No Data Found");
    //            $('#CHAShippingLineNo').val('');
    //        }
    //    }
    //}
    $('#CHAShippingLineSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ListOfCHAShippingLineData", "Wfld_CWCImport", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                //$('#ViewContainerList').val(data);
                ViewCHAShippingLine = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.CHAShippingLineId + '" " onclick="GetCHAShippingLine(this)">' + item.CHAShippingLine + '</li>';
                });
                $('#lstCHAShippingLine').html(html);
            }
        });

    });
    function GetCHAShippingLine(elem) {

        $('#CHAShippingLine').val($(elem).text());
        $('#CHAShippingLineId').val($(elem).attr('id'))
        debugger;
        // var parties = ViewCHAShippingLine;//JSON.parse($('#cha').val());
        // var payby = $.grep(parties, function (item) { return item.CHAShippingLineId == $('#CHAShippingLineId').val(); })[0];

        //$('#Balance').val(payby.Balance);
        // $('#FolioNo').val(payby.FolioNo);
        // CalculateGroundRent();
        $("#CHAShippingLineModal").modal("hide");
    }

    function SealCuttingOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            //ResetAllFields();
            //GetSCList();
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html("Seal Cutting Saved Successfully");

            setTimeout(LoadSealCuting, TimeInSeconds);

        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }

    }

    function SealCuttingeOnFailure(data) {
        if ($('#DivMsg').hasClass('logErrMsg'))
            $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
        $('#DivMsg').html("Fail to Save Seal Cutting ");
    }
    function LoadSealCuting() {
        debugger;
        $('#DivBody').load('/Import/Wfld_CWCImport/AddSealCuting');
    }
    function GetSCList() {
        debugger;
        $('#tblEntryDet').html('');
        $('#DivScList').load('/Import/Wfld_CWCImport/GetListOfSealCuttingDetails');
    }
    function check() {
        debugger;
        //alert(elm);
        $('#TransactionDate').val($('#TransactionDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }

</script>
@*<script>

        function FillListByContainer()
        {
            var ContainerName = $('#searchContainer').val();
            //alert(ContainerName);
            if (ContainerName == "") {
                GetFormOneList();

            }
            else {
                GetFormOneListByContainerNumber(ContainerName);
            }

        }
        function GetFormOneListByContainerNumber(ContainerName) {
            debugger;
            $('#divFormOneList').load('/Import/Kol_CWCImport/Kol_GetFormOneList?ContainerName=' + ContainerName);
        }

        function GetFormOneList() {
            debugger;
            $('#divFormOneList').load( '/Import/Kol_CWCImport/Kol_GetFormOneList');
        }
        $('#Shippingbox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstShipping > li').show();
            else {
                $('#lstShipping > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });
        $('#lstShipping > li').on("click", function () {
            $('#ShippingLineName').val($(this).text());
            $('#ShippingLineId').val($(this).attr('id'));
            $("#ShippingLineModal").modal("hide");
        });
        $('#PODbox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstPOD > li').show();
            else {
                $('#lstPOD > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });
        $('#lstPOD > li').on("click", function () {
            $('#PortName').val($(this).text());
            $('#PortOfDischargeId').val($(this).attr('id'));
            $("#PODModal").modal("hide");
        });
        $('#CHAbox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstCHA > li').show();
            else {
                $('#lstCHA > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });
        $('#lstCHA > li').on("click", function () {
            $('#txtCHAName').val($(this).text());
            $('#CHAId').val($(this).attr('id'));
            $("#CHAModal").modal("hide");
        });
        $('#Impbox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstImp > li').show();
            else {
                $('#lstImp > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });
        $('#lstImp > li').on("click", function () {
            $('#txtImporterName').val($(this).text());
            $('#ImporterId').val($(this).attr('id'));
            $("#ImporterModal").modal("hide");
        });
        $('#Commoditybox').keyup(function () {
            var val = $(this).val().toLowerCase();
            if (val == "")
                $('#lstCommodity > li').show();
            else {
                $('#lstCommodity > li').each(function () {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
                });
            }
        });
        $('#lstCommodity > li').on("click", function () {
            $('#txtCommodity').val($(this).text());
            $('#CommodityId').val($(this).attr('id'));
            $("#CommodityModal").modal("hide");
        });
    </script>
    <script>
        var EditIndex = -1;
        var ArrayOfContainerDetails = [];
        function AddFormOneDet() {
            var dateOfLanding=$('#txtDateOfLanding').val();
            if(dateOfLanding =="" || dateOfLanding==undefined)
            {
                dateOfLanding="0";
            }

            if (ValidateFormOneDet()) {
                var ContainerDetails = {
                    "FormOneDetailID": $('#FormOneDetailId').val(),
                    "ContainerNo": $('#txtContainerNo').val(),
                    "ContainerSize": $('#ddlContainerSize option:selected').val(),
                    "Reefer": $('#IsReefer').is(':checked') ? 1 : 0,
                    "FlatReck": $('#IsFlatReck').is(':checked') ? 1 : 0,
                    "SealNo": $('#txtSealNo').val(),
                    "LineNo": $('#txtLineNo').val(),
                    "MarksNo": $('#txtMarksNo').val(),
                    "CHAId": $('#CHAId').val() == null ? 0 : $('#CHAId').val(),     //added.
                    "CHAName": $('#txtCHAName').val(),
                    "ImporterId": $('#ImporterId').val(),
                    "ImporterName": $('#txtImporterName').val(),
                    "CargoDesc": $('#txtCargoDesc').val(),
                    "CommodityId": $('#CommodityId').val(),
                    "CommodityName": $('#txtCommodity').val(),
                    "CargoType": $('#ddlCargoType option:selected').val(),
                    "DateOfLanding":dateOfLanding,
                    "Remarks": $('#txtRemarks').val()
                };
                /*if (EditIndex > -1)
                    ArrayOfContainerDetails.splice(EditIndex, 1, ContainerDetails);
                else*/
                    ArrayOfContainerDetails.push(ContainerDetails);

                $('#tblFormOneDet').html('');
                GenerateTable();
                //ResetFormOneDet();
                ResetFormOneDetPartial();
            }
        }
        function ValidateFormOneDet() {
            debugger;
            var Status = true;
            if ($('#txtContainerNo').val() == "") {
                $('#ErrContainerNo').html('Fill Out This Field');
                Status = false;
            }
            if ($('#ddlContainerSize option:selected').text() == "----Select----") {
                $('#ErrContainerSize').html('Fill Out This Field');
                Status = false;
            }
            if ($('#txtSealNo').val() == "") {
                $('#ErrSealNo').html('Fill Out This Field');
                Status = false;
            }
            if ($('#txtLineNo').val() == "") {
                $('#ErrLineNo').html('Fill Out This Field');
                Status = false;
            }
            //if ($('#txtMarksNo').val() == "") {
            //    $('#ErrMarksNo').html('Fill Out This Field');
            //    Status = false;
            //}
            //if ($('#txtCHAName').val() == "") {
            //    $('#ErrCHAName').html('Fill Out This Field');
            //    Status = false;
            //}
            if ($('#txtImporterName').val() == "") {
                $('#ErrImporterName').html('Fill Out This Field');
                Status = false;
            }
            if ($('#txtCargoDesc').val() == "") {
                $('#ErrCargoDesc').html('Fill Out This Field');
                Status = false;
            }
            if ($('#txtCommodity').val() == "") {
                $('#ErrCommodity').html('Fill Out This Field');
                Status = false;
            }
            if ($('#ddlCargoType option:selected').text() == "----Select----") {
                $('#ErrCargoType').html('Fill Out This Field');
                Status = false;
            }
            //if ($('#txtDateOfLanding').val() == "") {
            //    $('#ErrDateOfLanding').html('Fill Out This Field');
            //    Status = false;
            //}
            //if ($('#txtRemarks').val() == "") {
            //    $('#ErrRemarks').html('Fill Out This Field');
            //    Status = false;
            //}

            //setTimeout(function () { $('span[id*="Err"]').html(''); }, 2000);
            return Status;
        }
        function GenerateTable() {
            var tablehtml = '<table id="tblFormOneDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
                + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Container No</th><th>Container Size</th><th>Line No</th><th>Date of Landing</th><th style="width:10%;text-align:center;">Edit</th><th style="width:10%;text-align:center;">View</th></tr>'
                + '</thead><tbody>';
            $.each(ArrayOfContainerDetails, function (i, data) {
                tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ContainerNo + '</td><td>' + data.ContainerSize + '</td><td>' + data.LineNo + '</td><td>' + data.DateOfLanding + '</td>'
                    + '<td style="text-align:center;"><a href="#" onclick="EditFormOneDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td>'
                    + '<td style="text-align:center;"><a href="#" onclick="ViewFormOneDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
            });
            tablehtml += '</tbody></table>';
            $('#tblFormOneDet').html(tablehtml);

            if (ArrayOfContainerDetails.length > 0) {
                $('#FormOneDetailsJS').val(JSON.stringify(ArrayOfContainerDetails));
            }
            else {
                $('#FormOneDetailsJS').val('');
            }
        }
        function ResetFormOneDetPartial() {
            // removed $('#FormOneDetailId, #CHAId').val('0');
            //addedd
            $('#FormOneDetailId').val('0');
            //
            //removed  $('#txtContainerNo, #txtSealNo, #txtMarksNo, #txtCHAName, #txtCargoDesc, #txtDateOfLanding, #txtRemarks').val('');
            //added
            if ($('input[name=LCLFCL]:checked').val() == 'FCL') {
                $('#txtContainerNo, #txtSealNo, #txtMarksNo, #txtDateOfLanding, #txtRemarks').val('');
            }
            else {
                 $('#txtContainerNo, #txtSealNo, #txtMarksNo, #txtCargoDesc, #txtDateOfLanding, #txtRemarks').val('');
            }

            //
            $('#IsReefer, #IsFlatReck').attr('checked', false)
            $('#ddlContainerSize').prop('selectedIndex', 0);
            $('#btnAddFormOneDet').prop("disabled", false);
        }

        function ResetFormOneDet() {
            $('#FormOneDetailId, #CHAId, #ImporterId, #CommodityId').val('0');
            $('#txtContainerNo, #txtSealNo, #txtLineNo, #txtMarksNo, #txtCHAName, #txtImporterName, #txtCargoDesc, #txtCommodity, #txtDateOfLanding, #txtRemarks').val('');
            $('#IsReefer, #IsFlatReck').attr('checked', false)
            $('#ddlContainerSize, #ddlCargoType').prop('selectedIndex', 0);
            $('#btnAddFormOneDet').prop("disabled", false);
        }

        function EditFormOneDet(i) {
            debugger;
            if ($('#txtContainerNo').val() == '') {
                $('#btnAddFormOneDet').prop("disabled", false);
                $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
                $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
                $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
                $('#IsReefer').prop('checked', (ArrayOfContainerDetails[i].Reefer == 1 ? true : false));
                $('#IsFlatReck').prop('checked', (ArrayOfContainerDetails[i].FlatReck == 1 ? true : false));
                $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
                $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
                $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
                $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
                $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
                $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
                $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
                $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
                $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
                $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
                $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').prop("selected", true);
                $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
                $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
                ArrayOfContainerDetails.splice(i, 1);
                GenerateTable();
            }
            else
                alert('Please add the earlier record to edit');
        }
        function ViewFormOneDet(i) {
            $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
            $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
            $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').attr("selected", "selected");
            $('#IsReefer').attr('checked', ArrayOfContainerDetails[i].Reefer == 1 ? true : false);
            $('#IsFlatReck').attr('checked', ArrayOfContainerDetails[i].FlatReck == 1 ? true : false);
            $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
            $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
            $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
            $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
            $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
            $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
            $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
            $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
            $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
            $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
            $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').attr("selected", "selected");
            $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
            $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);

            $('#btnAddFormOneDet').prop("disabled", true);
        }


        function FormOneOnSuccess(data) {
            debugger;
            if (data.Status == 1 || data.Status == 2) {
                if ($('#DivFormOneMsg').hasClass('logErrMsg'))
                    $('#DivFormOneMsg').removeClass('logErrMsg').addClass('logSuccMsg');
                $('#DivFormOneMsg').html(data.Message);
                setTimeout(GetFormOne, TimeInSeconds);
                //ResetAllFields();
                GetFormOneList();
            }
            else {
                if ($('#DivFormOneMsg').hasClass('logSuccMsg'))
                    $('#DivFormOneMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                $('#DivFormOneMsg').html(data.Message);
            }
        }
        function FormOneOnFailure() {
            alert("Error");
        }
        function ValidateGrid() {
            if ($('#FormOneDetailsJS').val() == '') {
                alert('Container Details Must Have Data.');
                return false;
            }
            //else if ($('#FormOneDetailsJS').val()) {

            //}
            else {
                var flag = false;
                var ContainerJArray = JSON.parse($('#FormOneDetailsJS').val());
                $.each(ContainerJArray, function (i, item) {
                    if (item.DateOfLanding == '') {
                        flag = true;
                        return false;
                    }
                });
                //if (flag) {
                //    alert('Container Details Must Have Date Of Landing.');
                //    return false;
                //}
                //else {
                //    return true;
                //}
            }
        }
    </script>
    <script>
        function ValidateData(evt) {
            var CharCode;
            if (window.event) {
                CharCode = window.event.keyCode;
            }
            else {
                CharCode = evt.which;
            }
            if (CharCode == 32) {
                return true;
            }
            if ((CharCode > 31 & CharCode < 48) || (CharCode > 57 & CharCode < 65) || (CharCode > 90 & CharCode < 97) || (CharCode > 122)) {
                evt.preventDefault();
                return false;
            }
            return true;
        }
        function AllowOnlyDecimal(evt) {
            var CharCode;
            if (window.event) {
                CharCode = window.event.keyCode;
            }
            else {
                CharCode = evt.which;
            }
            if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
                return true;
            }
            else {
                evt.preventDefault;
                return false;
            }
        }
        function AllowOnlyInteger(evt) {
            var CharCode;
            if (window.event) {
                CharCode = window.event.keyCode;
            }
            else {
                CharCode = evt.which;
            }
            if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
                return true;
            }
            else {
                evt.preventDefault;
                return false;
            }
        }

        function hideMsg(elem) {
            $(elem).parent().find(".field-validation-error").html(" ");
        }
    </script>*@

@*<script type="text/javascript">
        function FillListByContainer()
        {
            var ContainerName = $('#searchContainer').val();
            //alert(ContainerName);
            if (ContainerName == "") {
                GetFormOneList();

            }
            else {
                GetFormOneListByContainerNumber(ContainerName);
            }

        }
        function GetFormOneListByContainerNumber(ContainerName) {
            debugger;
            $('#divFormOneList').load('/Import/Kol_CWCImport/Kol_GetFormOneList?ContainerName=' + ContainerName);
        }

    </script>*@
