@model CwcExim.Areas.Import.Models.WljDestuffingEntry
<style>
    #tbleCha.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

@{

    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "DestuffingEntryOnSuccess";
    options.OnFailure = "DestuffingEntryOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

<style>
    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        border-right-width: 1px;
    }
</style>
<style>
    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("AddEditDestuffingEntry", "Wlj_CWCImport", options))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.DestuffingEntryXML)
                    @Html.HiddenFor(m => m.DestuffingEntryId)
                    @Html.HiddenFor(m => m.TallySheetId)
                    @Html.HiddenFor(m => m.ContainerId)
                    @Html.Hidden("TallySheetDtlId")
                    @Html.HiddenFor(m => m.Size)
                    @Html.HiddenFor(m => m.CFSCode)
                    @Html.HiddenFor(m => m.GodownId)
                    @Html.Hidden("TallySheetArea")
                    {
                        if (ViewBag.RightsList != null)
                        {
                            <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
                        }
                        else
                        {
                            <input type="hidden" id="hdnRights" value="" />
                        }
                    }
                    <div id="DivAddDestuffingEntry">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Destuffing</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container / CBT No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ContainerNo, "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                    <label>Start Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Destuffing No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                    <label>Destuffing Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.DestuffingEntryDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DestuffingEntryDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.ShippingLine, "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                    @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CHA:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.CHA, "", new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                    @Html.HiddenFor(m => m.CHAId)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Rotation:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Rotation, "", new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                @*<div class="col-md-3">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.DeliveryType, "1", new { @id = "Container", @checked = true })
                                            <label for="Container"><i class="circle"></i>Container Delivery</label>
                                        </div>
                                    </div>*@

                                <div class="col-md-3">
                                    <div class="boolean-container">
                                        @Html.RadioButtonFor(m => m.DeliveryType, "2", new { @id = "Cargo", @checked = true })
                                        <label for="Cargo"><i class="circle"></i>Cargo Delivery</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-3">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.DOType, "1", new { @id = "WithDO", @checked = true })
                                            <label for="WithDO"><i class="circle"></i>With DO</label>
                                        </div>
                                    </div>
                                        <div class="col-md-3">
                                        <div class="boolean-container">
                                            @Html.RadioButtonFor(m => m.DOType, "2", new { @id = "WithoutDO" })
                                            <label for="WithoutDO"><i class="circle"></i>Without DO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div id="DivDestuffingEntryDet" class="Head_h5">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>OBL/HBL No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("BOLNo", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("BOLNo", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                        <label>OBL/HBL Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBox("BOLDate", "", new { @class = "form -control input-sm", @readonly = true })
                                        @Html.ValidationMessage("BOLDate", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Line No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("LineNo", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-2-5 col-md-1-5 col_cus_2">
                                        <label>Commodity:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                        <input type="hidden" id="CommodityId" />
                                        @Html.ValidationMessage("Commodity", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Vessel:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBox("Vessel","", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessage("Vessel", "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-1 col-md-1-5 col_cus_2">
                                        <label>Voyage:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBox("Voyage", "", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessage("Voyage", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5">
                                        @Html.TextArea("CargoDescription", "", new { @class = "form-control input-sm", @disabled = true })
                                        @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">


                                    <div class="col-md-1-5 col_cus_2">Cargo Type<span class="LabelColon">:</span></div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        @Html.DropDownList("CargoType", new List<SelectListItem>
                                {
                                new SelectListItem { Text="Haz",Value="1"},
                                new SelectListItem { Text="Non-Haz",Value="2"},
                                }, "----Select----", new { @class = "form-control input-sm" })
                                    </div>

                                    </div>
                                </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>No of Packages:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_10">
                                                @Html.TextBox("NoOfPackages", "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                                <label>Received Packages:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2_5">
                                                @Html.TextBox("ReceivedPackages", "", new { @class = "form -control input-sm", min = 1 })
                                                @Html.ValidationMessage("ReceivedPackages", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Gross Weight(Kg):</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_10">
                                                @Html.TextBox("GrossWeight", "", new { @class = "form -control input-sm", @readonly = true })
                                                @Html.ValidationMessage("GrossWeight", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                                <label>Destuffing Weight(Kg):</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2_5">
                                                @Html.TextBox("DestuffingWeight", "", new { @class = "form -control input-sm" })
                                                @Html.ValidationMessage("DestuffingWeight", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>UOM:</label>
                                            </div>
                                            <div class="col-md-1-5 col_cus_10">
                                                @Html.DropDownList("UOM", new List<SelectListItem> { new SelectListItem { Text = "SQM", Value = "SQM" } })
                                                @*@Html.TextBox("UOM", "", new { @class = "form -control input-sm", @readonly = true })*@
                                                @Html.ValidationMessage("UOM", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-5">
                                                <label>OBL Wise Destuffing Date:</label>
                                            </div>
                                            <div class="col-md-2-5 Date_Img">
                                                @Html.TextBox("OBLWiseDestuffingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessage("OBLWiseDestuffingDate", "", new { @class = "Error_Msg" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                                <label>Remarks:</label>
                                            </div>
                                            <div class="col-md-10-5 col_cus_10">
                                                @Html.TextArea("Remarks", "", new { @style = "width:100%;height:75px", @maxlength = 500 })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>Location:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_2">
                                                @Html.TextBox("GodownWiseLocationNames", "", new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search" id="LocationSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>
                                                @Html.Hidden("GodownWiseLocationIds")
                                                @Html.ValidationMessage("GodownWiseLocationNames", "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4">
                                                <label>Area:</label>
                                            </div>
                                            <div class="col-md-2-5 col_cus_3">
                                                @Html.TextBox("Area", "", new { @class = "form-control input-sm" })
                                                @Html.ValidationMessage("Area", "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>BOE No:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("BOENo", "", new { @class = "form -control input-sm", @onblur = "GetCIFDuty()" })
                                                @Html.ValidationMessage("BOENo", "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4">
                                                <label>BOE Date:</label>
                                            </div>
                                            <div class="col-md-2-5 Date_Img">
                                                @Html.TextBox("BOEDate", "", new { @class = "form-control input-sm", @readonly = true })
                                                @Html.ValidationMessage("BOEDate", "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-1-5 col_cus_2">
                                                <label>CIF Value:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("CIFValue", "", new { @class = "form -control input-sm" })
                                                @Html.ValidationMessage("CIFValue", "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1-5 col-md-offset-4">
                                                <label>Gross Duty:</label>
                                            </div>
                                            <div class="col-md-2-5">
                                                @Html.TextBox("GrossDuty", "", new { @class = "form-control input-sm" })
                                                @Html.ValidationMessage("GrossDuty", "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-2">
                                            <input type="button" id="BtnAddDestuffingEntry" class="btn log_Btn_sm" value="Add" onclick="SaveDestuffingEntryDtl()" disabled />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" class="btn log_Btn_sm" value="Reset" id="btnReset" onclick="ResetDestuffingEntryDet()" />
                                        </div>
                                    </div>
                                    <div id="DivDestuffingEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>
                                    <table class="table table-striped table-bordered dataTable slim_tble" id="TblDestuffingEntryDet" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th colspan="2" width="15%" class="text-center">@Html.DisplayName("OBL/HBL")</th>
                                                <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Line No")</th>
                                                <th rowspan="2" width="15%" class="text-center">@Html.DisplayName("Cargo Description")</th>
                                                <th rowspan="2" width="10%" class="text-center">Area <br /> ( Generated From TallySheet )</th>
                                                <th rowspan="2" width="5%" class="text-center">@Html.DisplayName("Area")</th>
                                                <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Received Packages")</th>
                                                <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Destuffing Weight(Kg)")</th>
                                                <th rowspan="2" width="5%" class="text-center">@Html.DisplayName("Edit")</th>
                                                <th rowspan="2" width="5%" class="text-center">@Html.DisplayName("View")</th>
                                            </tr>
                                            <tr>
                                                <th width="50px" class="text-center">No.</th>
                                                <th width="50px" class="text-center">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody align="center"></tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                                    <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveDestuffingEntry" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ReloadDestuffingEntryPage()" />
                                </div>
                            </div>
                            <div class="logSuccMsg" style="background-color:transparent" id="DivDestuffingEntryMsg"></div>
                            <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivDestuffingEntryErrMsg"></div>
                            }
                            @Scripts.Render("~/bundles/jqueryval")

                        </div>

            <div class="row Form_Space_top Form_Space_bottom">
                <div class="form-group Form_Input">
                    <div class="col-md-2">
                        <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" onclick="GetDestuffingEntryList()" style="margin-left:0;" />
                    </div>
                    <div class="col-md-offset-7 col-md-3">
                        @Html.TextBox("ContainerNoSearch", "", new { placeholder = "Search By Container / CBT" })
                        <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="SearchByContainerNo()"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tblEntryDet"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivDestuffingEntryList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });
</script>



<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="form-group Form_Input" id="DivLocationDet"></div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:80%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Commodity</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Commodity Name " id="CommodityBox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th>Commodity Name</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_2">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleCommodity">
                        @{
                            if (ViewBag.LstCommodity != null)
                            {
                                foreach (var item in ViewBag.LstCommodity)
                                {
                                    <tr onclick="SelectCommodity(@item.CommodityId,'@item.CommodityName')">
                                        <td class="txt_wrp">@item.CommodityName</td>
                                        @*<td colspan="4" width="40%">@item.PartyCode</td>*@
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-5">
                        @if (ViewBag.CommodityState != null && Convert.ToBoolean(ViewBag.CommodityState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseCommodity()">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ContainerModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container / CBT No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ContainerBox" type="text" />
                <ul class="navList" id="ContainerList">
                    @{
                        if (ViewBag.ContainerList != null)
                        {
                            foreach (var item in ViewBag.ContainerList)
                            {
                                <li id="@item.TallySheetId">@item.ContainerNo</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseEximTrade()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Name</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Shipping Line Name Or Party Code" id="ShpngLinebox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Shipping Line Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                        <tbody>
                            @{
                                if (ViewBag.lstShippingLine != null)
                                {
                                    foreach (var item in ViewBag.lstShippingLine)
                                    {
                                        <tr onclick="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrade()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CHAModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCHA()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Name</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By CHA Name Or Party Code" id="Chabox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchChaByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">CHA Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_1">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleCha">
                        @{
                            if (ViewBag.lstCHA != null)
                            {
                                foreach (var item in ViewBag.lstCHA)
                                {
                                    <tr onclick="SelectCHA(@item.CHAId,'@item.CHAName')">
                                        <td colspan="8" width="80%" class="txt_wrp">@item.CHAName</td>
                                        <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.CHAState != null && Convert.ToBoolean(ViewBag.CHAState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCHA()" class="btn log_Btn_sm" id="btnLoadCHA">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCHA()" class="btn log_Btn_sm" id="btnLoadCHA" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseCHA()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ArrayLst = [];
    var r2;
    $(function () {
        TimeInSeconds = 5000;
        GenerateBlankTable();
        //GetDestuffingEntryList();
        $('#TblDestuffingEntryDet').hide();
        r2 = JSON.parse($("#hdnRights").val());
        if (r2.CanAdd == 0) {
            $('#BtnSaveDestuffingEntry').prop('disabled', true);
        }
        //$("#OBLWiseDestuffingDate").datepicker("option", "maxDate", '@DateTime.Now.ToString("yyyy-MM-dd")');
    });
    $('#DestuffingEntryDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DestuffingEntryDate']").html('');
        }
    });

    $('#StartDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='StartDate']").html('');
        }
    });
    $('#BOEDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='DestuffingEntryDate']").html('');
            GetCIFDuty();
        }
    });
    $('#OBLWiseDestuffingDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        maxDate:new Date(@DateTime.Today.Year,((@DateTime.Today.Month)-1),@DateTime.Today.Day),
        onClose: function () {

        }
    });

    function SelectShippingLine(ShippingLineId, ShippingLineName) {
        debugger;
        $('#ShippingLine').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        $("#ShippingLineModal").modal("hide");
        $('#ShpngLinebox').val('');
        LoadEximTrader();
    }
    var Page = 0;

    function SearchByPartyCode() {
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/Wlj_CWCImport/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }


    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/Wlj_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function LoadEximTrader() {
        Page = 0;
        $.ajax({
            url: '/Import/Wlj_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function CloseEximTrade() {
        $('#ShpngLinebox').val('');
        $("#ShippingLineModal").modal("hide");
        LoadEximTrader();
    }
    //$('#ShippingLineBox').keyup(function () {
    //    var valThis = $(this).val().toLowerCase();
    //    if (valThis == "") {
    //        $('#ShippingLineModal .navList > li').show();
    //    } else {
    //        $('#ShippingLineModal .navList > li').each(function () {
    //            var text = $(this).text().toLowerCase();
    //            (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
    //        });
    //    };
    //});
    //$('#ShippingLineList li').on("click", function () {
    //    $('#ShippingLine').val($(this).text());
    //    $('#ShippingLineId').val($(this).attr('id'));
    //    $("#ShippingLineModal").modal("hide");
    //});
    @*function openCommodity(){
        debugger;
        $.ajax({
            url: '@Url.Action("GetAllCommodity", "Ppg_OblEntry", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                var html = '';
                $.each(data, function (i, item) {
                    debugger;
                    html += '<li id="' + item.CommodityId + '" " onclick="selectcommodity(this)">' + item.Commodity + '</li>';
                });
                $('#lstCommodity').html(html);
            }
        });
    }*@
    function SelectCommodity(CommodityId, CommodityName) {
        $('#Commodity').val(CommodityName);
        $('#CommodityId').val(CommodityId);
        $('#CommodityModal').modal('hide');
        $('#CommodityBox').val('');
        LoadCommodity();
    }

    function LoadMoreCommodity() {
        debugger;
        $.ajax({
            url: '/Import/Wlj_CWCImport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td class="txt_wrp">' + elem.CommodityName + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Import/Wlj_CWCImport/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td class="txt_wrp">' + elem.CommodityName + '</td></tr>';
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Import/Wlj_CWCImport/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;)"><td class="txt_wrp">' + elem.CommodityName + '</td></tr>';
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
    }

    $('#ContainerBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ContainerModal .navList > li').show();
        } else {
            $('#ContainerModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ContainerList li').on("click", function () {
        debugger;
        var ContainerNo = ($(this).text().split('(')[1].split('-')[0]);
        $('#Size').val(($(this).text()).split(')')[0].split('-')[1]);
        $('#CFSCode').val(($(this).text()).split('(')[1].split('-')[0]);
        $('#ContainerNo').val($(this).text().split('(')[0])
        $('#TallySheetId').val($(this).attr('id'));
        $("#ContainerModal").modal("hide");
        $('#DivDestuffingEntryTblMsg').html('');
        ResetDestuffingEntryDet();
        //$('#OBLWiseDestuffingDate').val('@DateTime.Now.ToString("dd/MM/yy")');
        GetContainerDet($(this).attr('id'));
    });

    function GetContainerDet(i) {
        debugger;
        $.ajax({
            url: '/Import/Wlj_CWCImport/GetCntrDetForDestuffingEntry',
            type: 'GET',
            dataType: 'JSON',
            data: { TallySheetId: i },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    $('#GodownId').val(data.Data.lstdynamic[0].GodownId);
                    $('#ContainerId').val(data.Data.lstdynamic[0].ContainerId);
                    if (data.Data.lstdynamichdr.length > 0) {
                        $('#CHAId').val(data.Data.lstdynamichdr[0].CHAId);
                        $('#CHA').val(data.Data.lstdynamichdr[0].CHAName);
                        $('#Rotation').val(data.Data.lstdynamichdr[0].RotationNo);
                    }
                    ArrayLst = data.Data.lstdynamic;
                    var html = "";
                    $.each(data.Data.lstdynamicloc, function (i, elem) {
                        html += '<div style="float:left;"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'g" name="' + elem.LocationId + '" onclick="SelectLocation()" /><label for="' + elem.LocationId + 'g"><i class="square"></i><span>' + elem.LocationName + '</span></label></div></div>';
                    });
                    $('#DivLocationDet').html(html);
                    if (data.Data.ShippingLine != null || data.Data.ShippingLine != undefined || data.Data.ShippingLine != '') {
                        $('#ShippingLineId').val(data.Data.ShippingLine.split(',')[0]);
                        $('#ShippingLine').val(data.Data.ShippingLine.split(',')[1]);
                        $("#DestuffingEntryDate").datepicker("option", "minDate", data.Data.ShippingLine.split(',')[2]);
                    }
                    GenerateDestuffingEntryTable();
                }
            }
        });
    }

    function SelectLocation() {
        var data = '';
        var inf = '';
        $('#DivLocationDet').find('input:checked').each(function () {
            if (data == '')
                data = $(this).prop('name');
            else
                data = data + ',' + $(this).prop('name');
            if (inf == '')
                inf = $('label[for="' + $(this).prop('id') + '"]').text();
            else
                inf = inf + ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        });
        $('#GodownWiseLocationIds').val(data);
        $('#GodownWiseLocationNames').val(inf);
    }
    function GetDestuffingEntryList() {
        debugger;
        $('#tblEntryDet').html('');
        $('#DivDestuffingEntryList').load('/Import/Wlj_CWCImport/GetDestuffingEntryList');
    }
    function ReloadDestuffingEntryPage() {
        $('#DivBody').load('/Import/Wlj_CWCImport/CreateDestuffingEntry');
    }
    function ResetDestuffingEntryDet() {
        $('#DivDestuffingEntryDet').find('input:text,textarea').val('');
        $('#DivDestuffingEntryDet').find('input:hidden').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            $(this).prop("checked", false);
        });
    }

    function SearchByContainerNo() {
        debugger;
        $('#tblEntryDet').hide();
        $('#DivDestuffingEntryList').load('/Import/Wlj_CWCImport/GetDestuffingEntryListSearch?ContainerNo=' + $('#ContainerNoSearch').val().trimLeft());
    }
    //function selectcommodity(cid,cname){
    //    $('#Commodity').val(cname);
    //    $('#CommodityId').val(cid);
    //    $('#CommodityModal').modal('hide');
    //}
    function GenerateDestuffingEntryTable() {
        $('#TblDestuffingEntryDet').hide();
        $('#TblDestuffingEntryDet>tbody').html('');
        var Html = '';
        if (ArrayLst.length != 0) {
            $.each(ArrayLst, function (i, item) {
                Html += '<tr><td width="50px" class="text-center txt_wrp">' + item.BOLNo + '</td><td width="50px" class="txt_wrp">' + item.BOLDate + '</td><td width="6%" class="txt_wrp">' + item.LineNo + '</td><td width="15%" class="txt_wrp">' + item.CargoDescription + '</td><td width="10%" class="txt_wrp">' + item.TallySheetArea + '</td><td width="5%" class="txt_wrp">' + ((item.Area == null || item.Area == undefined) ? 0 : item.Area) + '</td><td width="10%" class="txt_wrp">' + item.ReceivedPackages + '</td><td width="10%" class="txt_wrp">' + item.DestuffingWeight + '</td><td width="5%" class="text-center"><a href="#" onclick="EditDestuffingEntry(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td width="5%" class="text-center"><a href="#" onclick="ViewDestuffingEntry(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblDestuffingEntryDet>tbody').html(Html);
            $('#TblDestuffingEntryDet').show();
        }
    }

    function GenerateBlankTable() {
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>Destuffing No</th><th>Destuffing Date</th><th>ICD Code</th><th>Container / CBT No</th><th>CHA</th><th>Shipping Line</th><th class="text-center">View</th><th class="text-center">Edit</th><th class="text-center">Delete</th><th class="text-center">Print</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#tblEntryDet').html(tablehtml);
    }
    //$('#linkId').click(function ($e) {
    //    $e.preventDefault();

    //});
    //function DeleteDestuffingEntry(Index) {
    //    debugger;
    //    if (ArrayLst.length == 1) {
    //        alert('Atleast one obl is mandatory for destuffing entry');
    //        return false;
    //    }
    //    ArrayLst.splice(Index, 1);
    //    GenerateDestuffingEntryTable();
    //}
    function ViewDestuffingEntry(Index) {
        debugger;
        $('#BtnAddDestuffingEntry').prop("disabled", true);
        $('#LocationSearch').css("display", "none");
        $('#TallySheetDtlId').val(ArrayLst[Index].TallySheetDtlId);
        $('#TallySheetArea').val(ArrayLst[Index].TallySheetArea);
        $('#BOLNo').val(ArrayLst[Index].BOLNo);
        $('#BOLDate').val(ArrayLst[Index].BOLDate);
        $('#LineNo').val(ArrayLst[Index].LineNo);
        $('#Commodity').val(ArrayLst[Index].Commodity);
        $('#CommodityId').val(ArrayLst[Index].CommodityId);
        $('#CargoDescription').val(ArrayLst[Index].CargoDescription);
        $('#NoOfPackages').val(ArrayLst[Index].NoOfPackages);
        $('#ReceivedPackages').val(ArrayLst[Index].ReceivedPackages);
        $('#UOM').val(ArrayLst[Index].UOM);
        $('#GrossWeight').val(ArrayLst[Index].GrossWeight);
        $('#DestuffingWeight').val(ArrayLst[Index].DestuffingWeight);
        $('#Remarks').val(ArrayLst[Index].Remarks);
        $('#GodownWiseLocationNames').val(ArrayLst[Index].GodownWiseLocationNames);
        $('#GodownWiseLocationIds').val(ArrayLst[Index].GodownWiseLocationIds);
        $('#Area').val(ArrayLst[Index].Area);
        $('#CIFValue').val(ArrayLst[Index].CIFValue);
        $('#GrossDuty').val(ArrayLst[Index].GrossDuty);
        $('#BOENo').val(ArrayLst[Index].BOENo);
        $('#BOEDate').val(ArrayLst[Index].BOEDate);
        $('#OBLWiseDestuffingDate').val(ArrayLst[Index].OBLWiseDestuffingDate);
        $('#CargoType').val(ArrayLst[Index].CargoType);
        $('#Vessel').val(ArrayLst[Index].Vessel);
        $('#Voyage').val(ArrayLst[Index].Voyage);
    }
    function EditDestuffingEntry(Index) {
        debugger;
        if ($('#BtnAddDestuffingEntry').is(":disabled") == true) {
            $('#btnReset').prop("disabled", true);
            $('#BtnAddDestuffingEntry').prop("disabled", false);
            $('#LocationSearch').css("display", "block");
            $('#DivLocationDet').find('input[type="checkbox"]:checked').prop("checked", false);
            $('#TallySheetDtlId').val(ArrayLst[Index].TallySheetDtlId);
            $('#TallySheetArea').val(ArrayLst[Index].TallySheetArea);
            $('#BOLNo').val(ArrayLst[Index].BOLNo);
            $('#BOLDate').val(ArrayLst[Index].BOLDate);
            $('#LineNo').val(ArrayLst[Index].LineNo);
            $('#Commodity').val(ArrayLst[Index].Commodity);
            $('#CommodityId').val(ArrayLst[Index].CommodityId);
            $('#CargoDescription').val(ArrayLst[Index].CargoDescription);
            $('#NoOfPackages').val(ArrayLst[Index].NoOfPackages);
            $('#ReceivedPackages').val(ArrayLst[Index].ReceivedPackages);
            $('#UOM').val(ArrayLst[Index].UOM);
            $('#GrossWeight').val(ArrayLst[Index].GrossWeight);
            $('#DestuffingWeight').val(ArrayLst[Index].DestuffingWeight);
            $('#Remarks').val(ArrayLst[Index].Remarks);
            $('#GodownWiseLocationNames').val(ArrayLst[Index].GodownWiseLocationNames);
            $('#GodownWiseLocationIds').val(ArrayLst[Index].GodownWiseLocationIds);
            $('#Area').val(ArrayLst[Index].Area);
            $('#CIFValue').val(ArrayLst[Index].CIFValue);
            $('#GrossDuty').val(ArrayLst[Index].GrossDuty);
            $('#BOENo').val(ArrayLst[Index].BOENo);
            $('#BOEDate').val(ArrayLst[Index].BOEDate);
            $('#OBLWiseDestuffingDate').val(ArrayLst[Index].OBLWiseDestuffingDate);
            $('#CargoType').val(ArrayLst[Index].CargoType);
            $('#Vessel').val(ArrayLst[Index].Vessel);
            $('#Voyage').val(ArrayLst[Index].Voyage);
   
            if (ArrayLst[Index].LocationDetails != null && ArrayLst[Index].LocationDetails != undefined) {
                var split = ArrayLst[Index].LocationDetails.split(',');
                $(split).each(function (j, data) {
                    $('#' + data + 'g').prop('checked', true);
                });
            }
            ArrayLst.splice(Index, 1);
            GenerateDestuffingEntryTable();
        }
        else {
            $('#DivDestuffingEntryTblMsg').html('Please add above record');
            setTimeout(function () { $('#DivDestuffingEntryTblMsg').html(''); }, 1000);
        }
    }

    function SaveDestuffingEntryDtl() {
        debugger;
        $('[data-valmsg-for="GodownWiseLocationNames"]').html('<span></span>');
        $('[data-valmsg-for="Area"]').html('<span></span>');
        $('[data-valmsg-for="ReceivedPackages"]').html('<span></span>');
        if ($('#GodownWiseLocationNames').val() == '') {
            $('[data-valmsg-for="GodownWiseLocationNames"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#GodownWiseLocationNames').val() != '' && $('#Area').val() == '0') {
            $('[data-valmsg-for="Area"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#Area').val() == '' || $('#Area').val() <1) {
            $('[data-valmsg-for="Area"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        if ($('#ReceivedPackages').val()<1) {
            $('[data-valmsg-for="ReceivedPackages"]').html('<span>Enter Received Package More Than 0 </span>');
            return false;
        }
        if ($('#ContainerNo').val() != "") {
            debugger;
            var DestuffingEntryDtl = {
                "TallySheetDtlId": $('#TallySheetDtlId').val(),
                "BOLNo": $('#BOLNo').val(),
                "BOLDate": $('#BOLDate').val(),
                "LineNo": $('#LineNo').val(),
                "CommodityId": $('#CommodityId').val(),
                "Commodity": $('#Commodity').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "NoOfPackages": $('#NoOfPackages').val(),
                "ReceivedPackages": $('#ReceivedPackages').val() == "" ? 0 : $('#ReceivedPackages').val(),
                "UOM": $('#UOM').val(),
                "GrossWeight": $('#GrossWeight').val(),
                "DestuffingWeight": $('#DestuffingWeight').val() == "" ? 0 : $('#DestuffingWeight').val(),
                "TallySheetArea": $('#TallySheetArea').val(),
                "Area": $('#Area').val() == "" ? 0 : $('#Area').val(),
                "GodownWiseLocationIds": $('#GodownWiseLocationIds').val(),
                "GodownWiseLocationNames": $('#GodownWiseLocationNames').val(),
                "Remarks": $('#Remarks').val(),
                "CIFValue": ($('#CIFValue').val() == '' ? 0 : $('#CIFValue').val()),
                "GrossDuty": ($('#GrossDuty').val() == '' ? 0 : $('#GrossDuty').val()),
                "BOENo": $('#BOENo').val(),
                "BOEDate": $('#BOEDate').val(),
                "OBLWiseDestuffingDate": $('#OBLWiseDestuffingDate').val(),
                "CargoType":$('#CargoType').val(),
                "Vessel":$('#Vessel').val(),
                "Voyage":$('#Voyage').val()
            }
            ArrayLst.push(DestuffingEntryDtl);
            $('#BtnAddDestuffingEntry').prop("disabled", true);
            $('#btnReset').prop("disabled", false);
            ResetDestuffingEntryDet();
            GenerateDestuffingEntryTable();
            }
            
        else {
            $('#DivDestuffingEntryTblMsg').html('Please Select A Container No In Order To Add Details');
            }

    }
    $('#BtnSaveDestuffingEntry').on("click", function () {
        //var flg=0
        //$.each(ArrayLst, function (i, item) {
        //    if (item.Area == null || item.Area == undefined || item.Area==0) {
        //        flg = 1;
        //    }
        //});
        //if (flg == 1) {
        //    alert('Please fill up area for related OBL');
        //    return false;
        //}
        if ($('#BtnAddDestuffingEntry').prop("disabled") == false) {
            $('#DivDestuffingEntryTblMsg').html('Please Add The Above Records');
            return false;
        }
        $('#DivDestuffingEntryTblMsg').html('');
        if ($('#TblDestuffingEntryDet >tbody').html() != "") {
            if (ArrayLst.length != 0) {
                $('#DestuffingEntryXML').val(JSON.stringify(ArrayLst));
            }
        }
        $('[data-valmsg-for="StartDate"]').html('<span></span>');
        if ($('#StartDate').val() == '') {
            $('[data-valmsg-for="StartDate"]').html('<span>Please Select Start Date</span>');
            return false;
        }
    });
    function DestuffingEntryOnSuccess(data) {
        if (data.Status == 1) {
            $('#DivDestuffingEntryMsg').html(data.Message);

        }
        else {
            $('#DivDestuffingEntryErrMsg').html(data.Message);
        }
        setTimeout(ReloadDestuffingEntryPage, 5000);
    }

    function DestuffingEntryOnFailure() { }
    function GetCIFDuty() {
        if (
                $('#BOENo').val() != '' &&
                $('#BOEDate').val() != '' &&
                ($('#CIFValue').val() == '' || $('#CIFValue').val() == '0') &&
                ($('#GrossDuty').val() == '' || $('#GrossDuty').val() == '0')
            ) {
            $.ajax({
                url: '/Import/Wlj_CWCImport/GetCIFandDutyForBOE',
                type: 'GET',
                data: { "BOENo": $('#BOENo').val(), "BOEDate": $('#BOEDate').val() },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        $('#CIFValue').val(data.Data.CIFValue);
                        $('#GrossDuty').val(data.Data.GrossDuty);
                    }
                }
            });
        }
    }

    function LoadMoreCHA() {
        debugger;
        $.ajax({
            url: '/Import/Wlj_CWCImport/LoadCHAList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstCHA, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCha tbody').html(html);
                    else
                        $('#tbleCha tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadCHA').prop('disabled', false);
                    else $('#btnLoadCHA').prop('disabled', true);
                }
            }
        });
    }

    function LoadCHA() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Import/Wlj_CWCImport/LoadCHAList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstCHA, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tbleCha tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadCHA').prop('disabled', false);
                    else $('#btnLoadCHA').prop('disabled', true);
                }
            }
        });
    }

    function SelectCHA(CHAId, CHAName) {
        debugger;
        $('#CHA').val(CHAName);
        $('#CHAId').val(CHAId);
        $("#CHAModal").modal("hide");
        $('#Chabox').val('');
        LoadCHA();
    }
  

    function SearchChaByPartyCode() {
        if ($('#Chabox').val() != '') {
            $.ajax({
                url: '/Import/Wlj_CWCImport/CHASearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Chabox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstCHA, function (item, elem) {
                            html += '<tr onclick="SelectCHA(' + elem.CHAId + ',&quot;' + elem.CHAName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleCha tbody').html('');
                        $('#tbleCha tbody').html(html);
                        $('#btnLoadCHA').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCha tbody').html('');
                        Page = -1;
                        $('#btnLoadCHA').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCHA();
    }

    function CloseCHA() {
        $('#Chabox').val('');
        $("#CHAModal").modal("hide");
        LoadCHA();
    }

</script>