@model CwcExim.Areas.Import.Models.ImportBondConversion

@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}

<style>
    .sec_dvsn_area {
        border: 1px solid #f7a654;
    }

    .sec_dvsn {
        border-left: 1px solid #f7a654;
        width: 50%;
        float: left;
    }

        .sec_dvsn h4 {
            border-bottom: 1px solid #f7a654;
            background: none;
            padding: 10px;
            margin: 0;
            color: #fe9b35;
        }

    .sec_dvsn_wrp {
        padding: 8px;
    }

     .slimScrollDiv {
        height: 300px;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleImp.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "BondConvOnSuccess";
    options.OnFailure = "BondConvOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

@using (Ajax.BeginForm("AddEditImportBondConversionYard", "Wlj_CWCImport", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-12">
                                <h4>Transfer of Import Yard to Bond</h4>
                            </div>
                        </div>

                        <div class="row Form_Space_top SignUp_space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Transfer No :</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.MovementNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-5">
                                    <label>Date :</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @*<input class="form-control" type="text" id="MovementDate" readonly="readonly" />*@
                                    @Html.TextBox("MovementDate",DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.MovementDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="sec_dvsn_area">
                            <div class="sec_dvsn" style="border-left:0;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>FROM</h4>
                                    </div>
                                </div>
                                <div class="sec_dvsn_wrp">

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>OBL / HBL NO :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.HiddenFor(m => m.DestuffingId)
                                                @Html.TextBoxFor(m => m.OBLNo, new { @class = "form-control input_sm", @readonly = true })
                                                <span class="search" id="OBLSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="OBL" data-target="#OBLModal"></i></span>
                                                @Html.ValidationMessageFor(m=>m.OBLNo)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>OBL / HBL Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.OBLDate, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top" style="display:none;">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Godown Name :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.HiddenFor(m => m.FromGodownId)
                                                @Html.TextBoxFor(m => m.FromGodownName, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row Form_Space_top" style="display:none;">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Location :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.HiddenFor(m => m.FromLocationId)
                                                @Html.TextBoxFor(m => m.FromLocationName, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>No of Pkg :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Weight(kg) :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>SQM :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input_sm" })
                                                @Html.ValidationMessageFor(m=>m.SQM)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>CUM :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CUM, new { @class = "form-control input_sm",  @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>CIF :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CIF, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>DUTY :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.Duty, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sec_dvsn">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>TO</h4>
                                    </div>
                                </div>
                                <div class="sec_dvsn_wrp">
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Godown Name :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6">
                                                @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#godownModal"></i></span>
                                                @Html.HiddenFor(m => m.GodownId)
                                                @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Location :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6">
                                                @*<input class="form-control input-sm" id="location" name="location" readonly="true" type="text" value="">
                                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>*@
                                                @Html.HiddenFor(m => m.LocationId)
                                                @Html.TextBoxFor(m => m.Location, "", new { @class = "form-control input-sm", @readonly = true })
                                                <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                                                @*@Html.ValidationMessage("Location", new { @class = "Error_Msg" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>SAC No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6">
                                                @Html.HiddenFor(m => m.SACId)
                                                @Html.TextBoxFor(m => m.SACNo, "", new { @class = "form-control input-sm", @readonly = true })
                                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SacModal"></i></span>
                                                @Html.ValidationMessageFor(m => m.SACNo, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>SAC Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_6 Date_Img">
                                                @Html.TextBoxFor(m => m.SACDate, "", new { @class = "form-control input-sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>WR No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input_sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>WR Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5 Date_Img">
                                                @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Bond No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input_sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Bond Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5 Date_Img">
                                                @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Custom Bond No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CustomBondNo, new { @class = "form-control input_sm" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Custom Bond Date :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5 Date_Img">
                                                @Html.TextBoxFor(m => m.CustomBondDate, new { @class = "form-control input_sm", @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Form_Space_top">
                                        <div class="form-group Form_Input">
                                            <div class="col-md-3 padding_rt">
                                                <label>Custom Seal No :</label>
                                            </div>
                                            <div class="col-md-6 col_cus_5">
                                                @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input_sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ClearFix"></div>
                        </div>

                        <div class="row SignUp_space_top SignUp_space_bottom"></div>


                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" value="Save" name="Command" class="btn log_Btn_sm" id="BtnSave" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="GetMovementList()" />
                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 SignUp_space_bottom">
                            <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" onclick="GetMovementList()" />
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-5 col-md-4" style="text-align:right;">
                                <label>OBLNo:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBox("imptobond")
                                @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                                <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="GetMovementListSerch()"></i></span>

                            </div>
                        </div>
                    </div>
                  

                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivMovementList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
</script>

<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                        @*@{
                                foreach (var item in Model.lstGdnWiseLctn)
                                {
                                    @Html.Label(item.Row + " " + item.Column, new { @for = item.LocationId })
                                    @Html.CheckBox(@item.LocationId.ToString())
                                }
                            }*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="OBLModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of OBL</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="OBLBox" type="text" />
                <ul class="navList" id="lstOBL">
                    @{
                        if (ViewBag.OBLList != null)
                        {
                            foreach (var item in ViewBag.OBLList)
                            {
                                <li id="@item.DestuffingId">@item.OBLNo</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="LocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Location</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Locationbox" type="text" />
                <ul class="navList" id="LocationList">
                    @*  @{
                            if (ViewBag.SacNoList != null)
                            {
                                foreach (var item in ViewBag.SacNoList)
                                {
                                    <li id="@item.SpaceappId" onclick="onSacNoClick(@item.EntryId,@item.SpaceappId,'@item.SacNo')">@item.SacNo</li>
                                }
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SacModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:80%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseSac()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SAC No</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By SAC No" id="SacBox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchSAC()"></i></span>

                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="12" width="100%">SAC No</th>
                        </tr>
                    </thead>
                </table>

                <div id="slim_scroll">
                    <table class="table dataTable table-bordered table-striped" id="tbleSac">
                        @{
                            if (ViewBag.SacList != null)
                            {
                                foreach (var item in ViewBag.SacList)
                                {
                                    <tr onclick="SelectSac(@item.SACId,'@item.SACNo','@item.SACDate')">
                                        <td colspan="12" width="100%">@item.SACNo</td>

                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="godownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" type="text" />
                <ul class="navList" id="lstGodown">
                    @{
                        if (ViewBag.GodownList != null)
                        {
                            foreach (var item in ViewBag.GodownList)
                            {
                                <li id="@item.GodownId">@item.GodownName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        //GetMovementList();

        $("#MovementDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#WRDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#BondDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

        $("#CustomBondDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

    


    });
    function GetMovementList() {
        debugger;
        $('#DivMovementList').load('/Import/Wlj_CWCImport/GetBondMovementListForYard');
    }
    $('#OBLBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstOBL > li').show();
        } else {
            $('#lstOBL > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#lstOBL li').on("click", function () {
        debugger;
        var obl = $(this).text().split('_');
        $('#OBLNo').val(obl[0]);
        $('#OBLDate').val(obl[1]);
        var destuffingId=$(this).attr('id');
        $('#DestuffingId').val($(this).attr('id'));
        $("#OBLModal").modal("hide");
        GetOBLDet(destuffingId, obl[0]);
    });

    $('#Godownbox').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstGodown > li').show();
        } else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    function GetMovementListSerch() {
        debugger;
        $('#tblEntryDet').hide();

        if ($('#imptobond').val().trim() == '') {
            alert('Enter OBL  Number for searching');
            return;
        }
        var obl = encodeURI($('#imptobond').val().trim());
        //alert(party);
        //$('#OblEntryList').load('/Import/Ppg_OblEntry/ListOfOBLEntry');
        $('#DivMovementList').load('/Import/Wlj_CWCImport/GetBondMovementListForYardSerch?obl=' + obl);//$('#PartyCode').val().replace(' ', '+')
    }
    //function GetLoaction(destuffingId) {
    //    $.ajax({
    //        url: '/Import/Wlj_CWCImport/GetLocationForBondTransfer',
    //        type: 'GET',
    //        dataType: 'JSON',
    //        data: { destuffingId: destuffingId },
    //        success: function (data) {
    //            if (data.Status == 1) {
    //                var Html = '';
    //                $.each(data.Data, function (i, item) {
    //                    Html += '<li onclick="FillLocationBox(' + item.FromLocationId + ',' + item.DestuffingEntryId + ',&quot;' + item.FromLocationName + '&quot;)">' + item.FromLocationName + '</li>';
    //                });
    //                $('#LocationList').html(Html);
    //            }
    //        }
    //    });
    //}

    function SelectSac(SACId, SACNo,SacDate) {
        debugger;
        $('#SACId').val(SACId);
        $('#SACNo').val(SACNo);
        $('#SACDate').val(SacDate);
        $('#SacModal').modal('hide');
        $('#SacBox').val('');
        //LoadCommodity();
    }
    function SearchSAC()
    {
        var SacBox = $('#SacBox').val();
        $.ajax({
            url: '/Import/Wlj_CWCImport/GetSacNo',
            type: 'GET',
            dataType: 'JSON',
            data: { "SacNo": SacBox },
            success: function (data) {
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        Html += '<tr onclick="SelectSac(' + item.SACId + ',&quot;' + item.SACNo + '&quot;,&quot;' + item.SACDate + '&quot;)"><td colspan="12" width="100%">' + item.SACNo + '</td></tr>';
                    });
                    $('#tbleSac').html(Html);
                }
            }
        });
    }
    $('#Locationbox').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#LocationModal .navList > li').show();
        } else {
            $('#LocationModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    function CloseSac() {
        $('#SacBox').val('');
        $("#SacModal").modal("hide");
        LoadCommodity();
    }

    function GetOBLDet(DestuffingEntryId,OBLNo) {
        $.ajax({
            url: '/Import/Wlj_CWCImport/GetOBLDetailsByYard',
            type: 'GET',
            async: false,
            datatype: JSON,
            data: { "DestuffingEntryId": DestuffingEntryId, "OBLNo": OBLNo },
            success: function (data) {
                if (data.Status == 1) {
                    $('#FromGodownId').val(data.Data.FromGodownId);
                    $('#FromGodownName').val(data.Data.FromGodownName);
                    $('#FromLocationId').val(data.Data.FromLocationId);
                    $('#FromLocationName').val(data.Data.FromLocationName);
                    $('#NoOfPkg').val(data.Data.NoOfPkg);
                    $('#Weight').val(data.Data.Weight);
                    $('#SQM').val(data.Data.SQM);
                    $('#CUM').val(data.Data.CUM);
                    $('#CIF').val(data.Data.CIF);
                    $('#Duty').val(data.Data.Duty);
                }
            }
        });
    }


    $('#LocationSearch').on('click', function () {
        if ($('#GodownName').val() == '' ) {
            $('[data-valmsg-for="Location"]').html('<span>Select Godown.</span>');
        } else {
            $('#LocationModal').modal();
        }
    });

    $('#lstGodown li').on("click", function () {
        debugger;
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).attr('id'));
        $('#LocationId').val("");
        $('#Location').val("");
        var gid = $(this).attr('id');
        $('[data-valmsg-for="Location"]').html('<span></span>');

        $.ajax({

            url: '/Export/AMD_CWCExport/GetLocationDetailsByGodownId',
            type: 'GET',
            data: { GodownId: gid },
            dataType: 'JSON',
            success: function (data) {

                LocationDetails = data;
                //console.log(data);
                LocationDet();
            }
        });

        $('#godownModal').modal('hide');
    });

    function GodownBinding() {
        if ($('#hdnGodownList').val() != '') {
            var GodownJson = JSON.parse($('#hdnGodownList').val());
            var html = '';
            $.each(GodownJson, function (i, item) {
                html += '<li id="' + item.GodownId + '" onclick="selectGodown(' + item.GodownId + ');">' + item.GodownName + '</li>';
            });
            $('#lstGodown').html(html);

        }
    }

    function LocationDet() {

        debugger;
        var htm = '';
        $.each(LocationDetails, function (i, data) {
            //if (data.IsOccupied)
            //    htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" disabled id="' + data.LocationId + '"/><label for="' + data.LocationId + '">' + data.Row + ' ' + data.Column + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
            //else
            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange()" id="Loc' + data.LocationId + '"/><label for="Loc' + data.LocationId + '">' + data.LocationName + '<i class="square" style="margin-left:10px;"></i></label></div></div>';
        });
        $('#DivLocationDet').html(htm);
    }

    function CheckBoxChange() {
        debugger;
        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '') {
                Locationtext = $('label[for="' + $(this).prop('id') + '"]').text();
            }
            else {
                Locationtext += ',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);


        var LctnDet = $('#DivLocationDet').find('input[type="checkbox"]:checked');
        if (LctnDet != null && LctnDet != undefined) {
            var Det = '';
            $(LctnDet).each(function () {
                if (Det == '')
                    Det += $(this).prop('id').substring(3);
                else
                    Det += ',' + $(this).prop('id').substring(3);
            });
            $('#LocationId').val(Det);
        }

    }

    function BondConvOnSuccess(Data) {
        debugger;
        $('#DivErrMsg').html('');
        if (Data.Status == 1) {
            $('#DivSucMsg').html(Data.Message);
            $('#savbtn').attr('disabled', 'disabled');
            //$('#btnPrint').removeAttr('disabled');
            setTimeout(function () { $('#DivBody').load('/Import/Wlj_CWCImport/ImportBondConversionYard'); }, 5000);
        }
        else {
            $('#DivErrMsg').html(Data.Message);
            // setTimeout(function () { $('#DivErrMsg').html(''); }, 5000);
        }
    }
    function BondConvOnFailure() {

    }

    function ResetMovement() {
        debugger;
        @*$('#DivAddMovement').find('input:text,textarea').val('');
        $('#DivAddMovement').find('input:hidden').val('');
        $('#lstGdwnWiseLctn').html('');
        $('#DivSucMsg').html('');
        $('#DivErrMsg').html('');
        //$('#MovementDate').val('@ViewBag.CurrentDate');
        $('[data-valmsg=for]').html('<span></span>');*@
    }
</script>