@model IEnumerable<CwcExim.Areas.Master.Models.PPGMiscellaneous>
   
<script>
    $(document).ready(function(){
        var TblMiscellaneous=$('#TblMiscellaneous').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                {"sName":"SL No","width":"8%"},
                {"sName":"Fumigation"},
                //{"sName":"Washing"},
                {"sName":"Reworking"},
                //{"sName":"Bagging"},
                { "sName": "Palletizing" },
                  { "sName": "Printing" },
                    { "sName": "Banking" },
                      { "sName": "PhotoCopy" },
                        { "sName": "ChequeReturn" },
                          { "sName": "Others" },
                 { "sName": "FumigationCharges" },
                {"sName":"Edit","bSortable":false,"width":"10%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblMiscellaneous);
    });
    function EditMiscellaneous(MiscellaneousId){
        $('#DivMiscellaneous').load('/Master/LoniCWCCharges/EditMiscellaneous?MiscellaneousId='+MiscellaneousId);
    }
</script>

<table id="TblMiscellaneous" class="table table-striped table-bordered nowrap"cellspacing="0"width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m=>m.Fumigation)</th>
            @*<th>@Html.DisplayNameFor(m=>m.Washing)</th>*@
            <th>@Html.DisplayNameFor(m=>m.Reworking)</th>
            @*<th>@Html.DisplayNameFor(m=>m.Bagging)</th>*@
            <th>@Html.DisplayNameFor(m=>m.Palletizing)</th>
            <th>@Html.DisplayNameFor(m => m.Printing)</th>
            <th>@Html.DisplayNameFor(m => m.Banking)</th>
            <th>@Html.DisplayNameFor(m => m.PhotoCopy)</th>
            <th>@Html.DisplayNameFor(m => m.ChequeReturn)</th>
            <th>@Html.DisplayNameFor(m => m.Others)</th>
            <th>@Html.DisplayNameFor(m => m.FumigationChargeType)</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m=>item.Fumigation)</td>
                    @*<td>@Html.DisplayFor(m=>item.Washing)</td>*@
                    <td>@Html.DisplayFor(m=>item.Reworking)</td>
                    @*<td>@Html.DisplayFor(m=>item.Bagging)</td>*@
                    <td>@Html.DisplayFor(m=>item.Palletizing)</td>
                    <td>@Html.DisplayFor(m => item.Printing)</td>
                    <td>@Html.DisplayFor(m => item.Banking)</td>
                    <td>@Html.DisplayFor(m => item.PhotoCopy)</td>
                    <td>@Html.DisplayFor(m => item.ChequeReturn)</td>
                    <td>@Html.DisplayFor(m => item.Others)</td>
                    <td>@Html.DisplayFor(m => item.FumigationChargeType)</td>
                    <td style="text-align:center"><a href="#" onclick="EditMiscellaneous(@item.MiscellaneousId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>