@model IEnumerable<CwcExim.Areas.Master.Models.PpgStorageCharge>

<script>
    $(document).ready(function(){
        var TblStorageCharge=$('#TblStorageCharge').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                {"sName":"SL No","width": "7%"},
                { "sName": "Effective Date", "bSortable": false,"width": "12%" },
                { "sName": "WarehouseType", "bSortable": false},
                { "sName": "Sq Meter Per Week", "width": "8%" },
                //{ "sName": "Per Month","width": "8%" },
                //{ "sName": "Per Days","width": "8%" },
                { "sName": "Cubic Meter Per Day", "width": "8%" },
                //{ "sName": "Per Month","width": "8%" },
                //{ "sName": "Metric Ton","width": "8%" },
                { "sName": "Days Range", "bSortable": false },
                { "sName": "SurCharge", "bSortable": false },
                {"sName":"Edit","bSortable":false,"width": "8%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblStorageCharge);
    });
    function EditStorageCharge(StorageChargeId){
        $('#DivStorageCharge').load('/Master/LoniCWCCharges/EditStorageCharge?StorageChargeId='+StorageChargeId);
    }
</script>

<table id="TblStorageCharge"class="table table-bordered table-striped nowrap table_sorting table-responsive"cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align:center;">@Html.DisplayName("SL No")</th>
                <th>@Html.DisplayName("Effective Date")</th>
                <th style="text-align:center;">@Html.DisplayNameFor(m=>m.WarehouseType)</th>
                <th style="text-align:center;">Sq Meter Per Week</th>
                <th style="text-align:center;">Cubic Meter Per Day</th>
                @*<th>Metric Ton</th>*@
                <th style="text-align:center;">@Html.DisplayName("Days Range")</th>
                <th style="text-align:center;">@Html.DisplayName("SurCharge")</th>
                <th>@Html.DisplayName("Edit")</th>
            </tr>
            @*<tr>
                <th>Per Week</th>
                <th>Per Month</th>
                <th>Per Days</th>
                <th>Per Week</th>
                <th style="border-right:1px solid #ddd;">Per Month</th>
            </tr>*@
        </thead>
        <tbody>
            @{
                var SerialNo = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center">@SerialNo</td>
                        <td style="text-align:center">@item.EffectiveDate</td>
                        <td style="text-align:center">@Html.DisplayFor(m => item.WarehouseTypeName)</td>
                        <td>@item.RateSqMPerWeek</td>
                        @*<td>@item.RateSqMPerMonth</td>*@
                        <td>@item.RateCubMeterPerDay</td>
                        @*<td>@item.RateCubMeterPerWeek</td>
                        <td>@item.RateCubMeterPerMonth</td>
                        <td>@item.RateMeterPerDay</td>*@
                        <td style="text-align:center">@item.DaysRangeFrom-@item.DaysRangeTo</td>
                        <td style="text-align:center">@item.SurCharge</td>
                        <td style="text-align:center"><a href="#" onclick="EditStorageCharge(@item.StorageChargeId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    </tr>
                    SerialNo += 1;
                }
            }
        </tbody>
    </table>