
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script>
    $(function () {
        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
</script>
@using (Ajax.BeginForm("PrintContainerStuffingReprint", "Dnd_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Stuffing Request RePrint</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">

                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Stuff Req:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @* @if (ViewBag.LstStuff != null)
            {
                @Html.DropDownList("StuffId", new SelectList(ViewBag.LstStuff, "StuffId", "Stuff"), "---Select---", new { @class = "form-control input-sm dropdown", @onchange = "PrintPendency()" })
            }
            else
            {
                @Html.DropDownList("StuffId", Enumerable.Empty<SelectListItem>(), "---Select---", new { @class = "form-control input-sm dropdown" })
            }
            @Html.ValidationMessage("StuffId", "", new { @class = "Error_Msg" })*@
                                       @* @Html.Hidden("StuffId");
    @Html.TextBox("Stuff","", new { @class = "form-control input_sm", @disabled = true })
    <span class="search" id="StuffSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#StuffModal"></i></span>
    @Html.ValidationMessage("StuffId", "", new { @class = "Error_Msg" })*@
                                        @Html.Hidden("StuffId")
                                        @Html.TextBox("Stuff","", new { @class = "form-control input_sm", @disabled = true })
                                        <span class="search" id="StuffSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#StuffModal"></i></span>
                                        @Html.ValidationMessage("StuffId", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="StuffModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content popup_modal">
                                    <div class="modal-header popup_header">
                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        <h4 class="modal-title">List of Stuffing Request No</h4>
                                    </div>
                                    <div class="modal-body popup_body">
                                        <input placeholder="Search By Container" id="StuffBox" type="text" />
                                        <ul class="navList" id="lstStuff"></ul>
                                     
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-offset-6 col-md-6">
                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            @*<div class="col-md-offset-5 col-md-2">
                                    <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                                </div>*@
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>

    function PrintPendency() {
        debugger;
        var ContainerStuffingId = $('#StuffId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Report/Dnd_ReportCWC/PrintContainerStuffingReprint',
            type: 'POST',
            data: { ContainerStuffingId: ContainerStuffingId },
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        })
    };
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        debugger;
        if (data.Status == 1) {
            window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }
    $('#StuffBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstStuff > li').show();
        else {
            $('#lstStuff > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#StuffSearch').on("click", function () {
        debugger;
        $.ajax({
            url: "/Report/Dnd_ReportCWC/GetStuffList",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.Stuff + ' onclick="FillStuffBox(&quot;' + item.Stuff + '&quot;,' + item.StuffId + ')">' + item.Stuff + '</li>';
                    });
                    $('#lstStuff').html(Html);
                    //}
                }
            }

        });
    });

    function FillStuffBox(Stuff, StuffId) {
        debugger;
        //var PortName=PortName.id==''?PortName:PortName.id;
        $('#Stuff').val(Stuff);
        $('#StuffId').val(StuffId);
        $("#StuffModal").modal("hide");
        PrintPendency()
    }
</script>







