@model CwcExim.Models.EditWBDEDUser


    <script type="text/javascript">
        $(document).ready(function () {
            $("#divProgress").css("display", "none");
        });

        function OnBegin() {

        }
        function OnComplete() {

        }
        function OnSuccess(data) {
            if (data.Status == 1) {
                LoadUserList();
            }
            else if (data.Status == -1) {
                $('#SpnResult').html("Please fill all the required fields");
            }
            else {
                $('#SpnResult').html(data.Message);
            }
        }
        function OnFailure() {

        }
        function LoadUserList() {
            $('#DivBody').load('/User/UserList');
        }
        function LoadPage() {
            $('#DivBody').load('/User/UserList')
        }
        //function Clear() {
        //    $('input[type="text"],select]').val('');
        //    $('input[type="checkbox"]').val('');
        //}
    </script>

    @{

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";
        options.Confirm = "Are you sure you want to Update?";
        options.OnBegin = "OnBegin";
        options.OnComplete = "OnComplete";
        options.OnFailure = "OnFailure";
        options.OnSuccess = "OnSuccess";
        options.LoadingElementDuration = 1000;
        options.LoadingElementId = "divProgress";
        options.UpdateTargetId = "divResponse";
        options.InsertionMode = InsertionMode.InsertAfter;
    }

    @using (Ajax.BeginForm("EditWBDEDUser", "User", options))
    {

        @Html.AntiForgeryToken()

        
            <div class="row">
                <div class="col-md-12">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Edit User Details</h4>
                            </div>
                        </div>
                        <div class="content_wrp">
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        @Html.LabelFor(m => m.Name, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.TextBoxFor(m => m.Name, new { autocomplete = "off" })
                                        @Html.HiddenFor(m => m.Uid)
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </div>
                                </div>
                                    <div class="col-md-3 col-md-offset-6">
                                        <label>Login Id:</label>
                                        @Html.TextBoxFor(m => m.LoginId, new { @disabled = "disabled" })
                                    </div>                                
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        @Html.LabelFor(m => m.RoleName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.RoleList, "RoleId", "RoleName"), "----Select----")
                                        @Html.ValidationMessageFor(m => m.RoleId)
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        @Html.LabelFor(m => m.MobileNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.TextBoxFor(m => m.MobileNo, new { autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.MobileNo)
                                    </div>
                                </div>
                                    <div class="col-md-3 col-md-offset-6">
                                        <span class="ReQSimbol">*</span>
                                        @Html.LabelFor(m => m.Email, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                        @Html.TextBoxFor(m => m.Email, new { autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-1">
                                        <label>In Active:</label>
                                    </div>
                                    <div class="col-sm-4  col-md-4" id="DivRadio ">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.IsBlocked, new { @class = "", @id = "IsBlocked" })
                                            <label for="IsBlocked"><i class="square"></i></label>
                                        </div>
                                        @*@Html.CheckBoxFor(m => m.IsBlocked, new { @class = "RegCheck" })*@
                                        @Html.ValidationMessageFor(m => m.IsBlocked)
                                    </div>
                                </div>
                            </div>
                            <div class="row SignUp_space_top">
                                <div class="stoke"></div>
                            </div>
                            <div class="SignUp_space_top SignUp_space_bottom">
                                <div class="d-flex justify-content-left">
                                    <input type="submit" value="Update" class="btn btn-primary mr-1 btn-100px" />
                                    <input type="button" value="Cancel" class="btn btn-primary-border btn-100px" onclick="LoadPage();" />
                                </div>
                            </div>
                            <div class="row SignUp_space_bottom2">
                                <div class="col-md-12" style="text-align:center">
                                    <span id="SpnResult" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div id="divMsg"></div>
        <div id="divProgress"></div>
    }
@Scripts.Render("~/bundles/jqueryval")

