@model CwcExim.Models.WbdedForcedUser

@{
    Layout = null;
}

@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are you sure you want to Update?";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementDuration = 1000;
    options.LoadingElementId = "divProgress";
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("EditWbdedForcedUser", "User", options))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal">
                <div class="row Con_Heading SignUp_space_bottom ClearFix">
                    <div class="col-md-12">
                        <h4>Update Consumer</h4>
                        <div class="Heading_Stoke" style="width:21%;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(model => model.Name, new { @class = "control-label" })</small>
                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.HiddenFor(m => m.Uid)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-1">
                            <small>@Html.LabelFor(model => model.LoginId, new { @class = "control-label" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(model => model.LoginId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(model => model.MobileNo, new { @class = "control-label" })</small>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-1">
                            <small>@Html.LabelFor(model => model.Email, new { @class = "control-label" })</small>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(model => model.Address, new { @class = "control-label" })</small>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", id = "txtAddress" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-1" style="padding-right:0px;">
                            <small>@Html.LabelFor(model => model.RegistrationNo, new { @class = "control-label" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            @Html.TextBoxFor(model => model.RegistrationNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <small>@Html.LabelFor(model => model.DistrictName, new { @class = "control-label" })</small>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            @Html.DropDownListFor(m => m.DistrictId, new SelectList(Model.DistrictList, "DistrictId", "DistrictName"), "-----Select-----", new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5 col-md-offset-1">
                            <small>@Html.LabelFor(model => model.PinCode, new { @class = "control-label" })</small>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row SignUp_space_top SignUp_space_bottom ClearFix">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" value="Update" class="btn Log_Btn log" />
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-12 stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
        <div id="DivWbdedForcedUserList">
        </div>
    </div>
    <div id="divProgress"></div>
}
@Scripts.Render("~/bundles/jqueryval")
<div id="DivConfirmMsg" class="logSuccMsg"style="background-color:transparent;"></div>
<div id="DivErrMsg" class="logErrMsg" style="background-color:transparent;"></div>

<script type="text/javascript">
        $(document).ready(function () {
            $("#divProgress").css("display", "none");
        });

        function OnBegin() {

        }
        function OnComplete() {

        }
        function OnSuccess(data) {
            if (data.Status == 1)
            {
                LoadForcedUserList();
            }
            else if (data.Status == -1)
            {
                $('#DivErrMsg').html("Please fill all the required fields");
            }
            else
            {
                $('#DivErrMsg').html(data.Message);
            }
        }
        function OnFailure() {

        }
        function LoadForcedUserList() {
            $('#DivBody').load('/User/ForcedUserCreation');
        }

</script>
