@model CwcExim.Models.SecondaryUser


<script type="text/javascript">

    function Resetallfield() {
        $('#DivBody').load('/User/createsecondaryuser')
    }
        $(document).ready(function () {
            $("#divProgress").css("display", "none");
        });

        function OnBegin() {

        }
        function OnComplete() {

        }
        function OnSuccess(data) {
            if (data.Status == 1) {
              //  $('#SpnResult').html(data.Message);

                $('#DivSucMsg').html(data.Message).show().delay(5000).fadeOut();
                //LoadUserList();
            }
            else if (data.Status == -1) {
                $('#SpnResult').html("Please fill all the required fields");
            }
            else {
                $('#SpnResult').html(data.Message);
            }
        }
        function OnFailure() {

        }
        function LoadUserList() {
            $('#CCINEntryList').load('/User/ExternalUserList')

            $('#DivBody').load('/User/UserList');
          //  $('#DivBody').load('/User/UserList');
        }
        function LoadPage() {
            $('#DivBody').load('/User/createsecondaryuser');
        }
        //function Clear() {
        //    $('input[type="text"],select]').val('');
        //    $('input[type="checkbox"]').val('');
        //}
</script>

@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are you sure you want to Save?";
    options.OnBegin = "OnBegin";
    options.OnComplete = "OnComplete";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.LoadingElementDuration = 1000;
    options.LoadingElementId = "divProgress";
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.InsertAfter;
}

@using (Ajax.BeginForm("AddEditExtarnalUser", "User", options))
{

    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4> View Secondary Extarnal  User</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-sm-2  col-md-2">
                                <label>Primary User:</label>
                            </div>
                            <div class="col-sm-4  col-md-4">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm", autocomplete = "off", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.Uid)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="col-sm-2  col-md-2">
                                <label>Login Id:</label>
                            </div>
                            <div class="col-sm-4  col-md-4">
                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control input-sm" , @disabled = "disabled" })
                            </div>
                        </div>
                    </div>



                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-sm-2 col-md-2">
                                @Html.LabelFor(m => m.MobileNo, new { @class = "InputLabel", @disabled = "disabled" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <span class="ReQSimbol">*</span>@Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control input-sm", autocomplete = "off", @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.MobileNo)
                            </div>
                            <div class="col-sm-2 col-md-2">
                                @Html.LabelFor(m => m.Email, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <span class="ReQSimbol">*</span>@Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", autocomplete = "off" , @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                    </div>

                    <div class="row SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_top SignUp_space_bottom">
                        @*<div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" value="Save" class="btn log_Btn_sm" />
                        </div>*@
                        <div class="col-md-2" style="text-align:center">
                            <input type="button" value="Cancel" class="btn log_Btn_sm" onclick="LoadPage();" />
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-12" style="text-align:center">
                            <span id="SpnResult" style="color:red"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="divMsg"></div>
        <div id="divProgress"></div>
        <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>


        <div class="row">
            @*<div class="col-md-2 SignUp_space_bottom">
                <input type="button" id="BtnCCINEntryLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadUserList()" />
            </div>*@
            @*<input type="text" id="ccinsearchtxt" placeholder="CCIN No./SB No" />
                <div class="col-md-2 SignUp_space_bottom">
                    <input type="button" id="ccinsearchbtn" value="Search" class="btn log_Btn_sm" onclick="Loadccinsearch()" />
                    </div>*@
        </div>

        @*<div class="row">
                <div class="col-md-12">
                    <div id="CCINEntryList"></div>
                </div>
            </div>*@
    </div>
}
@Scripts.Render("~/bundles/jqueryval")







