@model CwcExim.Models.EditWBDEDUser
<div>    
        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>View User Details</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })<span class="LabelColon">:</span>
                                    @Html.TextBoxFor(m => m.Name)
                                </div>
                            </div>
                                <div class="col-md-3 col-md-offset-6">
                                    <label>Login Id:</label>
                                    @Html.TextBoxFor(m => m.LoginId)
                                </div>                            
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Role:</label>
                                    @*if (Model.RoleList != null && Model.RoleList.Count() > 0)
                        {
                            @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.RoleList, "RoleId", "RoleName"), "----Select----", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "Error_Msg" })
                        }
                        else
                        {
                            <select class="form-control" data-val="true" data-val-number="The field District must be a number." data-val-required="Fill Out This Field" id="DistrictId" name="DistrictId">
                                <option value="">-----Select-----</option>
                            </select>
                                <span class="field-validation-valid SignUpErr" data-valmsg-for="RoleId" data-valmsg-replace="true"></span>
                        }*@
                                    @Html.TextBoxFor(m => m.RoleName)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MobileNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    @Html.TextBoxFor(m => m.MobileNo)
                                </div>
                            </div>
                                <div class="col-md-3 col-md-offset-6">
                                    @Html.LabelFor(m => m.Email, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    @Html.TextBoxFor(m => m.Email, new { autocomplete = "off" })
                                </div>                            
                        </div>
                        <div class="row">
                            <div class="form-group Form_Input">
                                <div class="col-md-1">
                                    <label>In Active:</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="boolean-container">
                                        @Html.CheckBoxFor(m => m.IsBlocked, new {@disabled = "disabled" })
                                        <label for="IsBlocked"><i class="square"></i></label>
                                    </div>
                                    @*@Html.CheckBoxFor(m=>m.IsBlocked,new { @class="RegChech",@disabled="disabled"})*@
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        @*<div class="row">
                <div class="col-md-12  col-md-12">
                    <p class="SignUp_space_top" style="font-size:12px;color:#000;">
                        <b>N.B.:</b>
                        * The fields marked with (*) are mandatory
                        * Password must contain at least : 1 Lowercase character, 1 Upper Case character and 1 numeric digit. Special Character is optional and only specified ones are allowed : @('@') # . _ - $,
                        Password should be minimum 8 characters and maximum 20 characters long.
                    </p>
                </div>
            </div>*@
                        <div class="SignUp_space_top SignUp_space_bottom">
                            <div class="d-flex justify-content-left">
                                <input type="button" value="Back" class="btn btn-primary mr-1 btn-100px" onclick="LoadUserList()" />
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
</div>
<script>
    $(function () { $('input[type="text"]').prop('readonly', true); });
    function LoadUserList()
    {
        $('#DivBody').load('/User/UserList');
    }
</script>
