@model IEnumerable<CwcExim.Models.WbdedForcedUser>

@{
    Layout = null;
}

<div>
    <script type="text/javascript">
        function LoadEditView(LoginId) {
            $('#DivBody').load('/User/EditWbdedForcedUser?LoginId=' + LoginId);

        }
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#DivTblUserList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                    { "sName": "Serial No:"},
                    { "sName": "Name", "bSortable": false },
                    { "sName": "LoginId", "bSortable": false },
                    { "sName": "RegistrationNo:", "bSortable": false },
                    { "sName": "Mobile No:", "bSortable": false },
                    { "sName": "Email:", "bSortable": false },
                    { "sName": "Address:", "bSortable": false,"width":"20%"},
                    { "sName": "DistrictName:", "bSortable": false },
                    { "sName": "PinCode:", "bSortable": false },
                    { "sName": "Action", "bSortable": false }
                ],
                //responsive: true
            });

            new $.fn.dataTable.FixedHeader(table);
        });
   </script>

    <table id="DivTblUserList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m=>m.GeneratedSerialNo)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.LoginId)</th>               
                <th>@Html.DisplayNameFor(m => m.RegistrationNo)</th>
                <th>@Html.DisplayNameFor(m => m.MobileNo)</th>                
                <th>@Html.DisplayNameFor(m => m.Email)</th>
                <th>@Html.DisplayNameFor(m => m.Address)</th>
                <th>@Html.DisplayNameFor(m =>m.DistrictName)</th>
                <th>@Html.DisplayNameFor(m => m.PinCode)</th>
                <th style="text-align:center;">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.GeneratedSerialNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.LoginId)</td>                   
                    <td>@Html.DisplayFor(modelItem => item.RegistrationNo)</td>                    
                    <td>@Html.DisplayFor(modelItem => item.MobileNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.DistrictName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PinCode)</td>                                     
                    <td style="text-align:center;"><a href="#" onclick="LoadEditView('@item.LoginId')"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
            }
            @Scripts.Render("~/bundles/jqueryval")
        </tbody>
    </table>
    </div>
