@model IEnumerable<CwcExim.Areas.Import.Models.LNSM_TrainSummaryUpload>
<table class="table table-bordered table-striped" id="tblTrainSummary" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Train No</th>
            <th>Train Date</th>
            <th>Start Location</th>
            <th>Destination</th>
            <th>Upload Date</th>
            <th class="text-center">@Html.DisplayName("View")</th>            
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.TrainNo</td>
                    <td>@item.TrainDate</td>
                    <td>@item.StartLocation</td>
                    <td>@item.Destination</td>
                    <td>@item.UploadDate</td>
                    <td class="text-center"><a href="#" onclick="ViewTrainSummary('@item.TrainSummaryUploadId','@item.TrainNo','@item.TrainDate')"><i class="fa fa-search-plus Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblTrainSummary= $('#tblTrainSummary').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "10%" },
                       { "sName": "Train No" },
                       { "sName": "Train Date", "bSortable": false },
                       { "sName": "Start Location" },
                       { "sName": "Destination" },
                       { "sName": "Upload Date" },
                       { "sName": "View", "bSortable": false, "width": "5%" },                       
            ]
        });
        new $.fn.dataTable.FixedHeader(tblTrainSummary);
    });
    function ViewTrainSummary(TrainSummaryUploadId,TrainNo,TrainDate)
    {
        angular.element(document.getElementById('DivTrnSumryTKD')).scope().ViewTrainSummary(TrainSummaryUploadId,TrainNo,TrainDate);
    }
    function PrintTrainSummary(TrainNo, TrainSummaryUploadId)
    {
        $.ajax({
            url: '/Import/Loni_CWCImportV2/PrintTrainSummary',
            type: 'POST',
            dataType: 'JSON',
            data: { 'TrainNo': TrainNo, 'TrainSummaryUploadId': TrainSummaryUploadId },
            success:function(data)
            {
                if(data.Status==1)
                {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                }
            }
        });
    }
</script>

