@model CwcExim.Areas.Import.Models.Ppg_OBLSpilt
<script src="~/Areas/Import/Scripts/App/Services/Loni_OBLSpiltService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/Loni_OBLSpiltCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('OBLSpiltAppDiv'), ['CWCApp']);
</script>

<style>
    .ang_srch {
        top: 25%;
        right: 6px;
        height: 21px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    #DivFormOneDet {
        height: 584px;
        overflow-x: hidden;
    }

    .slimScrollDiv {
        height: 300px;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleImp.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<style>
    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="OBLSpiltAppDiv" ng-controller="OBLSpiltCtrl">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL Split</h4>
                    </div>
                </div>
               
                    @Html.AntiForgeryToken()
                 
                <div class="Form_Space_bottom">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Split No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(x => x.SpiltNo, new { @class = "form-control", @readonly = true, @ng_model = "SpiltNo" })

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>Split Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(m => m.SpiltDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OBL No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(x => x.OBLNo, new { @class = "form-control", @readonly = true, @ng_model = "OBLNo" })
                                <span class="search" id="OBLNoSearch" ng-click="GetOBLList()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLNoModal"></i></span>
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">

                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">



                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">OBL</th>
                                            <th width="8%">OBL Date</th>
                                            <th width="15%">Cargo Desc</th>
                                            <th width="15%">Commodity</th>
                                            <th width="5%">No. of PKG</th>
                                            <th width="5%">GR WT(Kg)</th>
                                            <th>Importer Name</th>
                                            <th>SMTP No</th>
                                            <th>SMTP Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{oblDetailsJsonData.OBLNo}}</td>
                                            <td>{{oblDetailsJsonData.SpiltOBLDate}}</td>
                                            <td>{{oblDetailsJsonData.CargoDesc}}</td>
                                            <td>{{oblDetailsJsonData.CommodityName}}</td>
                                            <td>{{oblDetailsJsonData.NoOfPkg}}</td>
                                            <td>{{oblDetailsJsonData.GRWT}}</td>
                                            <td>{{oblDetailsJsonData.ImporterName}}</td>
                                            <td>{{oblDetailsJsonData.SMPTNo}}</td>
                                            <td>{{oblDetailsJsonData.SMPTDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>

                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OBL No:</label>

                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.SpiltOBLNo, new { @class = "form-control", @ng_model = "SpiltOBLNo" })
                                @Html.ValidationMessageFor(m => m.SpiltOBLNo)

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>OBL Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(m => m.SpiltOBLDate, new { @class = "InputLabel", @readonly = true, @ng_model = "SpiltOBLDate" })<span class="LabelColon"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo Desc:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CargoDesc, new { @class = "form-control", @ng_model = "CargoDesc" })
                                @Html.ValidationMessageFor(m => m.CargoDesc)
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>Commodity:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Error_Msg">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(m => m.CommodityName, new { @class = "form-control", @readonly = true, @ng_model = "CommodityName" })
                                <span class="search" id="CommoditySearch"><i class="fa fa-search" style="color: black;" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                @Html.HiddenFor(m => m.CommodityId, new { @class = "form-control", @readonly = true, @ng_model = "CommodityId" })
                                @Html.ValidationMessageFor(m => m.CommodityId)

                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>No Of Pkg:</label>
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control", @ng_model = "NoOfPkg" })
                                @Html.ValidationMessageFor(m => m.NoOfPkg)

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>GR WT:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.GRWT, new { @class = "form-control", @ng_model = "GRWT" })
                                @Html.ValidationMessageFor(m => m.GRWT)

                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Importer Name:</label>
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <span class="ReQSimbol">*</span>

                                @Html.TextBoxFor(x => x.ImporterName, new { @class = "form-control", @readonly = true, @ng_model = "ImporterName" })
                                <span class="search" id="ImporterNameSearch"><i class="fa fa-search"  style="color: black;" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                                @Html.HiddenFor(m => m.ImporterId, new { @class = "form-control", @readonly = true, @ng_model = "ImporterId" })
                                @Html.ValidationMessageFor(m => m.ImporterId)
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt " style="display:none">
                                <label>Line No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 " style="display:none">
                                @Html.TextBoxFor(m => m.LineNo, new { @class = "form-control", @ng_model = "LineNo" })

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>SMTP No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(x => x.SMPTNo, new { @class = "form-control", @ng_model = "SMPTNo" })

                            </div>

                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>SMTP Date:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">

                                @Html.TextBoxFor(m => m.SMPTDate, new { @class = "InputLabel", @readonly = true, @ng_model = "SMPTDate" })<span class="LabelColon"></span>

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt  ">

                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">


                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" id="btnAddJO" class="btn log_Btn_sm" value="Add" ng-click="AddOblEntry()">
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnResetJO" class="btn log_Btn_sm" value="Reset" ng-click="ResetOblDet()">
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">OBL</th>
                                            <th width="8%">OBL Date</th>
                                            <th width="15%">Cargo Desc</th>
                                            <th width="15%">Commodity</th>
                                            <th width="5%">No. of PKG</th>
                                            <th width="5%">GR WT(Kg)</th>
                                            <th>Importer Name</th>                                           
                                            <th>SMTP No</th>
                                            <th>SMTP Date</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="i in SpiltDetails">
                                            <td>{{i.SpiltOBL}}</td>
                                            <td>{{i.SpiltOBLDate}}</td>
                                            <td>{{i.SpiltCargoDesc}}</td>
                                            <td>{{i.SpiltCommodityName}}</td>
                                            <td>{{i.SpiltPkg}}</td>
                                            <td>{{i.SpiltWT}}</td>
                                            <td>{{i.SpiltImporter}}</td>                                           
                                            <td>{{i.SpiltSMPTNo}}</td>
                                            <td>{{i.SpiltSMPTDate}}</td>
                                            <td><a href="#" ng-click="Delete($index)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">

                        <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row">

                        <div class="col-md-offset-4 col-md-2" style="text-align:center">


                            <input id="btnSave" type="submit" value="Save" class="btn log_Btn_sm" ng-click="OBLSpiltSave()">

                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" ng-click="ResetImpOBLSpilt()">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                           
                        </div>
                    </div>
                    <div class="row">


                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <input type="button" class="btn log_Btn_sm" value="Show List" ng-click="GetAllSpiltList()" />
                            </div>
                            <div class="col-md-2-5">
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>OBL No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Error_Msg ">

                                <input type="text" placeholder="Search OBL No" class="form-control" id="txtOBLNo" />

                                <span class="search" id="OBLNoSearch" onclick="GetOBLDetailsBySearch()"><i class="fa fa-search"  style="color: black;" aria-hidden="true"></i></span>
                                <span class="field-validation-valid" data-valmsg-for="SearchOBLNo" data-valmsg-replace="true"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">

                            <div id="divlist">

                            </div>
                        </div>
                    </div>

                </div>




            </div>

                </div>
    </div>


    <div class="modal fade" id="OBLNoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of OBL No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="OBLNobox" ng-model="OBLNobox" type="text" />
                    <ul class="navList" id="lstOBLNo" >
                      
                       <li ng-click="GetOBLSpiltDetails(i.SpiltOBLNo,i.SpiltOBLDate,i.IsFCL)" ng-repeat="i in oblJsonData |filter:OBLNobox" >{{i.SpiltOBLNo}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ContainerNoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Container / CBT No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ContainerNobox" type="text" />
                    <ul class="navList" id="lstContainerNo"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PortModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Port</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="PortBox" type="text" />
                    <ul class="navList" id="lstPort"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CountryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Country</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="CountryBox" type="text" />
                    <ul class="navList" id="lstCountry"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ShippingLineModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search By Shipping Line Name Or Party Code" id="ShpngLinebox" type="text" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>

                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Shipping Line Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                            @{
                                if (ViewBag.lstShippingLine != null)
                                {
                                    foreach (var item in ViewBag.lstShippingLine)
                                    {
                                        <tr onclick="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrader()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ImporterModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseImporter()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Importer Name</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Importer Name Or Party Code" id="Impbox" type="text" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchImporterByPartyCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Importer Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleImp">
                            @{
                                if (ViewBag.lstImporter != null)
                                {
                                    foreach (var item in ViewBag.lstImporter)
                                    {
                                        <tr onclick="SelectImporter(@item.ImporterId,'@item.ImporterName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ImporterName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.ImpState != null && Convert.ToBoolean(ViewBag.ImpState) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreImporter()" class="btn log_Btn_sm" id="btnLoadImp">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreImporter()" class="btn log_Btn_sm" id="btnLoadImp" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseImporter()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CommodityModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content popup_modal" style="width:80%;">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Commodity</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Commodity Name" id="CommodityBox" type="text" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th>Commodity Name</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_2">
                        <table class="table dataTable table-bordered table-striped" id="tbleCommodity">
                            @{
                                if (ViewBag.LstCommodity != null)
                                {
                                    foreach (var item in ViewBag.LstCommodity)
                                    {
                                        <tr onclick="SelectCommodity(@item.CommodityId,'@item.CommodityName','@item.CommodityType')">
                                            <td>@item.CommodityName</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-5">
                            @if (ViewBag.CommodityState != null && Convert.ToBoolean(ViewBag.CommodityState) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-offset-3 col-md-4">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseCommodity()">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>

<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });

        $('#SpiltDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#SpiltOBLDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#IGMDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#SMPTDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        //$('#SMPTDate').datepicker( "setDate", new Date());
       // $('#IGMDate').datepicker( "setDate", new Date());
        $('#SpiltOBLDate').datepicker( "setDate", new Date());
        $('#SpiltDate').datepicker( "setDate", new Date());

        $('#NoOfPkg').ForceNumeric();
        $('#GRWT').ForceNumeric(); 

    });


   


    function SelectImporter(ImporterId, ImporterName) {
        $('#ImporterName').val(ImporterName);
        $('#ImporterId').val(ImporterId);
        $("#ImporterModal").modal("hide");
        $('#Impbox').val('');
        LoadImporter();
    }

    function LoadMoreImporter() {
        debugger;
        $.ajax({
            url: '/Import/Loni_OblEntryV2/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        //html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName + '&quot;)"><td>' + elem.ImporterName + '</td></tr>';
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';

                    });
                    if (Page == -1)
                        $('#tbleImp tbody').html(html);
                    else
                        $('#tbleImp tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadImporter() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Import/Loni_OblEntryV2/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleImp tbody').html(html);

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    function SearchImporterByPartyCode() {
        if ($('#Impbox').val() != '') {
            $.ajax({
                url: '/Import/Loni_OblEntryV2/SearchImporterByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Impbox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstImporter, function (item, elem) {
                            html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleImp tbody').html('');
                        $('#tbleImp tbody').html(html);
                        $('#LoadMoreImporter').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleImp tbody').html('');
                        Page = -1;
                        $('#LoadMoreImporter').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadImporter();
    }

    function CloseImporter() {
        $('#Impbox').val('');
        $("#ImporterModal").modal("hide");
        LoadImporter();
    }

    function SelectCommodity(CommodityId, CommodityName,CommodityType) {
        $('#CommodityName').val(CommodityName);
        $('#CargoType').val(CommodityType);
        $('#CommodityId').val(CommodityId);
        $("#CommodityModal").modal("hide");
        $('#CommodityBox').val('');
        LoadCommodity();
    }

    function LoadMoreCommodity() {
        debugger;
        $.ajax({
            url: '/Import/Loni_OblEntryV2/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Import/Loni_OblEntryV2/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Import/Loni_OblEntryV2/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
    }
    function GetOBLDetailsBySearch() {
        if ($('#txtOBLNo').val() != '') {
            $('span[data-valmsg-for="SearchOBLNo"]').text('');
            $('#divlist').load('/Import/Loni_CWCImportV2/ListOBLSpilt?OBLNo=' + $('#txtOBLNo').val() + '');

        }
        else {
            $('span[data-valmsg-for="SearchOBLNo"]').text('Fill out this field');
        }
    }
  
</script>




