@{
    if (ViewBag.ShippingLine != null)
    {
        <input type="hidden" value="@ViewBag.ShippingLine" id="hdnShipping" />
    }
    else
    {
        <input type="hidden" value="" id="hdnShipping" />
    }
    if (ViewBag.State != null)
    {
        <input type="hidden" value="@ViewBag.State" id="hdnState" />
    }
    else
    {
        <input type="hidden" value="false" id="hdnState" />
    }
}
<script type="text/javascript" src="~/Areas/Import/Scripts/App/Controllers/Loni_TrnSumryTKDCtrlV2.js"></script>
<script type="text/javascript" src="~/Areas/Import/Scripts/App/Services/Loni_TrnSumryTKDSrvcV2.js"></script>
<script type="text/javascript" src="~/Scripts/ng-file-upload12.2.3.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    angular.bootstrap(document.getElementById('DivTrnSumryTKD'), ['CWCApp']);
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
</script>

<style>
    .ang_srch {
        top: 3%;
        right: 7px;
        height: 19px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    .table.dataTable {
        text-align: center;
    }

    .table.dataTable thead tr th {
        text-align: center;
    }

    #tbleParty.dataTable tbody > tr > td {
        cursor: pointer;
        text-align:left;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

<div id="DivTrnSumryTKD" class="container-fluid" ng-controller="TrainSummaryTKDCtrl">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Train Summary Upload(TKD)</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Train No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                <input type="text" ng-model="TrainNo" id="TrainNo" ng-readonly="IsUploaded ==1" />
                            </div>
                            <div class="col-md-1-5 col-md-offset-1">
                                <label>Train Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @*<input type="text" ng-model="TrainDate" id="TrainDate" readonly="readonly" />*@
                                <input type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" readonly id="txtDate" />
                            </div>
                            <div class="col-md-1 col_cus_2 col-md-offset-1">
                                <label>Port:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                <input type="text" ng-model="PortName" id="PortName" disabled="disabled" />
                                <span class="search" ng-hide="IsUploaded ==1" ng-click="PopulatePortList()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PortModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Select File:</label>
                            </div>
                            <div class="col-md-7">
                                <input type="file" ng-model="file" ng-disabled="IsUploaded ==1" ngf-select="UploadFiles($files)" class="form-control" />
                            </div>
                            <div class="col-md-2" style="padding-left: 0;">
                                <input style="margin: 4px 0 0;" type="button" value="Upload" ng-disabled="IsUploaded ==1" ng-click="UploadFinal()" class="btn log_Btn_sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>SEZ</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                            </div>
                            </div>
                        </div>
                            <br /><div class="logSuccMsg Form_Space_bottom" ng-model="Message" style="background-color:transparent;"></div><br />
                            <div id="divTrainSummaryUpload" class="row Form_Space_top Form_Space_bottom">
                                <div class="col-md-12">
                                    <table id="tblTrainSummaryUpload" ng-hide="TrainSummaryList.length==0" class="table table-bordered table-striped dataTable">
                                        <thead>
                                            <tr>
                                                <th rowspan='2' style="width:3%;" class="text-center">Sl No</th>
                                                @*<th>Wagon No</th>*@
                                                <th colspan='4' style="width:10%; text-align:center; border-bottom-width: 1px;">Container</th>
                                                <th rowspan='2' style="width:10%; text-align:left;">S Line</th>
                                                <th rowspan='2' style="width:5%">Status</th>
                                                <th rowspan='2' style="width:15%">Payee</th>
                                                <th rowspan='2' style="width:7%">Invoice No</th>
                                                <th rowspan='2' style="width:5%">Total Invoice Amount</th>
                                                <th rowspan='2' style="width:5%">Cargo Type</th>
                                                <th rowspan='2' style="width:7%">Save</th>
                                            </tr>
                                            <tr>
                                                <th style="width:10%">No</th>
                                                <th style="width:3%">Size</th>
                                                <th style="width:10%">Line Seal No</th>
                                                <th style="width:10%; border-right-width: 1px;">Commodity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in TrainSummaryList">
                                                <td>{{$index+1}}</td>
                                                @*<td>{{data.Wagon_No}}</td>*@
                                                <td>{{data.Container_No}}</td>
                                                <td>{{data.CT_Size}}</td>
                                                <td>{{data.Line_Seal_No}}</td>
                                                <td>{{data.Cont_Commodity}}</td>
                                                <td style="text-align:left;">{{data.S_Line}}</td>
                                                <td>{{data.Ct_Status}}</td>
                                                <td>
                                                    <div style="position:relative;">
                                                        <input type="text" id="PayeeName_{{$index}}" readonly="readonly" ng-model="data.PayeeName" />
                                                        <span class="ang_srch" ng-hide="data.InvoiceNo!=''" ng-click="SelectIndex($index)">
                                                            <i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>{{data.InvoiceNo}}</td>
                                                <td>{{data.InvoiceAmt}}</td>
                                                <td>{{data.Genhaz}}</td>
                                                <td><input style="width:90%; margin-left:0;" type="button" value="Save" class="btn log_Btn_sm" ng-click="SaveInvoice($index)" ng-hide="data.InvoiceNo!=''" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row SignUp_space_top SignUp_space_bottom">
                                <div class="stoke"></div>
                            </div>
                            <div class="row SignUp_space_bottom">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="button" value="Reset" onclick="$('#DivBody').load('/Import/Ppg_CWCImportV2/TrainSummaryUploadTKD')" class="btn log_Btn_sm" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" id="BtnGenerateIRN" class="btn log_Btn_sm" value="Generate IRN" ng-click="GenerateIRN()" disabled="disabled" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="ShowList" onclick="$('#divTrainSummaryUploadList').load('/Import/Ppg_CWCImportV2/ListOfTrainSummaryTKD')" class="btn log_Btn_sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="divTrainSummaryUploadList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal fade" id="PortModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title"> Choose Port Name</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" ng-model="Portbox" id="Portbox" type="text" />
                    <ul class="navList" id="lstPort">
                        <li ng-repeat="data in PortList|filter:{PortName:Portbox}" ng-click="SelectPort(data)">{{data.PortName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal fade" id="PayeeModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title"> Choose Payee Name</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" ng-model="EximTraderNamebox" id="EximTraderNamebox" type="text" />
                        <ul class="navList" id="lstPort">
                            <li ng-repeat="data in lstShipping" ng-click="SelectShippingLine(data)">{{data.EximTraderName}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="PayeeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="LoadShippingList()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Choose Payee Name</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Party Name Or Party Code" type="text" ng-model="PartyCode" id="PartyCode" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" ng-click="SearchPartyList()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;text-align:left;">
                        <thead>
                            <tr>
                                <th colspan="8" style="text-align:left;" width="80%">Party Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                            <tbody>
                                <tr ng-repeat="item in lstShipping" ng-click="SelectShippingLine(item)">
                                    <td colspan="8" width="80%" class="txt_wrp">{{item.EximTraderName}}</td>
                                    <td colspan="4" width="20%" class="txt_wrp">{{item.EximTraderAlias}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" style="width:100%; margin-left:0;" ng-click="LoadMoreShippingList()" class="btn log_Btn_sm" ng-disabled="!State">Load More Data</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal" ng-click="LoadShippingList()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#TrainNo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });
        
        $('#txtDate').datetimepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            timeFormat: 'HH:mm',
            altField: "#slider_example_4andHalf_alt",
            altFieldTimeOnly: false,
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        //GetPortList();
        //ListOfTrainSummary();
    });
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('PartyCode').addEventListener('keyup', debounce(function () {
        if (document.getElementById('PartyCode').value != "")
            angular.element('#DivTrnSumryTKD').scope().SearchPartyList();
        else
            angular.element('#DivTrnSumryTKD').scope().LoadShippingList();
    }, 800));
    /*
    function GetPortList() {
        $.ajax({
            type: 'GET',
            url: '/Import/Ppg_CWCImport/GetPortList',
            dataType: 'JSON',
            success: function (data) {
                var html = '';
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        html += '<li id="' + data[i].PortId + '" onclick="selectPort(' + data[i].PortId + ',\'' + data[i].PortName + '\');">' + data[i].PortName + '</li>';
                    }
                }
                else {
                    html = '<li></li>';
                }

                $('#lstPort').html(html);
            }
        });
    }




    var TrainSummaryUploadListFromXL = [];
    var CanDelete = true;

    function Upload() {
        if ($('#TrainNo').val() == null || $('#TrainNo').val() == '') {
            alert('Please enter Train No.');
            return false;
        }
        if ($('#PortName').val() == null || $('#PortName').val() == '') {
            alert('Please choose Port Name.');
            return false;
        }
        debugger;

        if ($("#PostedFile")[0].files.length > 0) {
            var uploadedFile = $("#PostedFile")[0].files[0];
            var uploadedFileExtentionArray = uploadedFile.name.split('.');
            var uploadedFileExtention = uploadedFileExtentionArray[uploadedFileExtentionArray.length - 1];
            if (!(uploadedFileExtention == 'xls' || uploadedFileExtention == 'xlsx')) {
                alert('Please select only Excel file.');
                return false;
            }
        }
        else {
            alert('Please select an Excel file.');
            return false;
        }

        var fdata = new FormData();
        fdata.append('PostedFile', $("#PostedFile")[0].files[0]);

        $.ajax({
            type: 'POST',
            url: '/Import/Ppg_CWCImport/CheckUpload?TrainNo=' + $('#TrainNo').val().toString(),
            data: fdata,
            dataType: 'JSON',
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (data) {
                $('#DivDwnldWavMsg').html('')
                debugger;
                if (data.Status == 1) {

                    if (confirm("This Train No already exist. Do you want to replace the data?")) {
                        TrainSummaryUploadListFromXL = [];
                        TrainSummaryUploadListFromXL = data.Data;
                        PopulateGrid();
                        $('#btnSave').attr('disabled', false);

                    }
                }
                else if (data.Status == 0) {
                    TrainSummaryUploadListFromXL = [];
                    TrainSummaryUploadListFromXL = data.Data;
                    PopulateGrid();
                    $('#btnSave').attr('disabled', false);
                }
                else if (data.Status == 2) {
                    TrainSummaryUploadListFromXL = [];
                    TrainSummaryUploadListFromXL = data.Data;
                    PopulateGrid();
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -1) {
                    $('#DivDwnldWavMsg').html("No data in Excel File.").removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#tblTrainSummaryUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -2) {
                    $('#DivDwnldWavMsg').html("Uploaded Excel file is wrong.").removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#tblTrainSummaryUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -3) {
                    alert('Please select only Excel file.');
                    $('#tblTrainSummaryUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -4) {
                    alert('Please select an Excel file.');
                    $('#tblTrainSummaryUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else if (data.Status == -5) {
                    alert('Please enter Container / CBT No for all the row in the Excel file.');
                    $('#tblTrainSummaryUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
                else {
                    $('#DivDwnldWavMsg').html("Error in Uploading File.").removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#tblTrainSummaryUpload tbody').html('');
                    $('#btnSave').attr('disabled', true);
                }
            }
        });

    }

    function PopulateGrid() {
        var html = '';
        $.each(TrainSummaryUploadListFromXL, function (i, item) {
            html += '<tr><td>' + item.SrNo + '</td>'
                   // + '<td>' + item.Wagon_No + '</td>'
                    + '<td>' + item.Container_No + '</td>'
                    + '<td>' + item.CT_Size + '</td>'
                    + '<td>' + item.Line_Seal_No + '</td>'
                    + '<td>' + item.Cont_Commodity + '</td>'
                    + '<td>' + item.S_Line + '</td>'
                    //+ '<td>' + item.Ct_Tare + '</td>'
                    //+ '<td>' + item.Cargo_Wt + '</td>'
                    //+ '<td>' + item.Gross_Wt + '</td>'
                    //+ '<td>' + item.Ct_Status + '</td>'
                    //+ '<td>' + item.Destination + '</td>'
                    //+ '<td>' + item.Smtp_No + '</td>'
                    //+ '<td>' + item.Received_Date + '</td>'
                    //+ '<td>' + item.Genhaz + '</td>'
                    + '<td>' + item.StatusDesc + '</td>'
                    + '<td class="text-center"><a href="#" onclick="Delete(' + item.SrNo + ')"><i class="fa fa-window-close-o Delete"></i></a></td></tr>';
        });
        $('#tblTrainSummaryUpload tbody').html(html);
        $('#btnSave').attr('disabled', (TrainSummaryUploadListFromXL.length == 0));
    }

    function Delete(SrNo) {
        debugger;
        if (CanDelete) {
            var index = 0;
            for (var i = 0; i < TrainSummaryUploadListFromXL.length; i++) {
                if (TrainSummaryUploadListFromXL[i].SrNo == SrNo) {
                    index = i;
                    break;
                }
            }
            TrainSummaryUploadListFromXL.splice(index, 1);
            PopulateGrid();
        }
    }

    function SaveUploadData() {
        debugger;

        var TrainSummaryUpload = {
            TrainNo: $('#TrainNo').val().toString(),
            TrainDate: $('#TrainDate').val().toString(),
            PortId: parseInt($('#PortId').val()),
            TrainSummaryList: JSON.stringify(TrainSummaryUploadListFromXL)
        };

        $.ajax({
            url: '/Import/Ppg_CWCImport/SaveUploadData',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            url: '/Import/Ppg_CWCImport/SaveUploadData',
            //   url: '/Auction/Auction/SaveAuctionIssueNotice?objTrainSummaryUpload=' + JSON.stringify(Data),
            data: TrainSummaryUpload,
            //  data: JSON.stringify(Data),
            success: function (data) {
                if (data == 1) {

                    alert('Data Saved successfully.');
                    $.each(TrainSummaryUploadListFromXL, function (i, item) {
                        if (item.Status != 2) {
                            item.StatusDesc = "Saved";
                        }
                    });
                    CanDelete = false;
                    PopulateGrid();
                    $('#btnSave').attr('disabled', true);
                    $('#btnUpload').attr('disabled', true);
                    setTimeout(ResetAllField, 4000);
                    //ListOfTrainSummary();
                }
                else {
                    alert('Error');
                }
            }
        });
    }

    function selectPort(id, portName) {
        debugger;
        $('#PortName').val(portName);
        $('#PortId').val(id);
        $("#PortModal").modal("hide");
    }

    $('#Portbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstPort > li').show();
        } else {
            $('#lstPort > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    */
</script>