@model IEnumerable<CwcExim.Areas.Import.Models.ImportBondConversion>

<script>

    $(function(){
        var TblInternalMovement = $('#TblInternalMovement').DataTable({
            "bFilter":false,
            "bInfo":false,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       { "sName": "Movement No" },
                       { "sName": "Movement Date","bSortable":false },
                       { "sName": "OBL No" },
                       { "sName": "OBL Date" ,"bSortable":false },
                       { "sName": "To Godown" ,"bSortable":false },
                       {"sName":"Edit","bSortable":false,"width":"10%"},
                       {"sName":"View","bSortable":false,"width":"10%"}
                      // {"sName":"Delete","bSortable":false,"width":"10%"}
                        //{"sName":"Print","bSortable":false,"width":"10%"}
                      ]
        });
        new $.fn.dataTable.FixedHeader(TblInternalMovement);
    });
    function LoadInternalMovement() {
        $('#DivBody').load('/Import/VRN_CWCImport/ImportBondConversionYard');
    }
    function EditInternalMovement(MovementId) {
        debugger;
        $('#DivBody').load('/Import/VRN_CWCImport/EditBondConversionMovementYard?MovementId=' + MovementId);
    }
    function ViewInternalMovement(MovementId) {
        debugger;
        $('#DivBody').load('/Import/VRN_CWCImport/ViewImportBondConversionYard?MovementId=' + MovementId);
    }


</script>

<table id="TblInternalMovement" class="table table-striped table-bordered nowrap dataTable no-footer" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Movement No</th>
            <th>Movement Date</th>
            <th>OBL No</th>
            <th>OBL Date</th>
            <th>To Godown</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            @*<th class="text-center">@Html.DisplayName("Delete")</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.MovementNo)</td>
                    <td>@Html.DisplayFor(m => item.MovementDate)</td>
                    <td>@Html.DisplayFor(m => item.OBLNo)</td>
                    <td>@Html.DisplayFor(m => item.OBLDate)</td>
                    <td>@Html.DisplayFor(m => item.GodownName)</td>
                    <td class="text-center"><a href="#" class="edit" onclick="EditInternalMovement(@item.MovementId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td class="text-center"><a href="#" class="view" onclick="ViewInternalMovement(@item.MovementId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    @*<td class="text-center"><a href="#" class="delete" onclick="DeleteInternalMovement(@item.MovementId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>*@
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>

