<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Container Wise Custom Appraisement</h4>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Appraisement No:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="AppraisementNo" name="AppraisementNo" readonly="True" type="text" value="">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_2_5 col_cus_2_5">
                            <label>Appraisement Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            <input class="form-control input-sm" id="AppraisementDate" name="AppraisementDate" type="text" value="" autocomplete="off">                            
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Container No:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="ContainerNO" name="ContainerNO" readonly="True" tabindex="20" type="text" value="">
                            <span class="search" id="IssuePartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#IssuePartyModal"></i></span>
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Size:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">  
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label> Package:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Weight:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Value:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Duty:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Manual:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Mechanical:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 padding_rt">
                            <label>Custom Seal No:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>Shipping Line Seal No:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" type="text" value="" autocomplete="off">
                        </div>
                    </div>
                </div>       

                <div id="DivCustomAppraisementDet" class="Head_h5">                                      

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>OBL No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="OBLNo" name="OBLNo" tabindex="19" type="text" value="">
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerOBLModal"></i></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>OBL Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                <input class="form-control input-sm" id="OBLDate" name="OBLDate" readonly="True" tabindex="20" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>BOE No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="BOENo" name="BOENo" tabindex="21" type="text" value="">
                                <span class="search" onclick="GetBOEDetail()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target=""></i></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>BOE Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                <input class="form-control input-sm" id="BOEDate" name="BOEDate" readonly="True" tabindex="23" type="text" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CIF Value:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="CIFValue" name="CIFValue" tabindex="29" type="text" value="">
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Duty:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="Duty" maxlength="11" name="Duty" tabindex="30" type="text" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>No of Packages:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="NoOfPackages" name="NoOfPackages" tabindex="27" type="text" value="">
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Gross Weight(Kg):</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="GrossWeight" name="GrossWeight" tabindex="28" type="text" value="">
                            </div>
                        </div>
                    </div>   

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Importer:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input class="form-control input-sm" id="Importer" name="Importer" readonly="True" type="text" value="">
                                <span class="search" id="ImporterSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                             </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input class="form-control input-sm" id="ShippingLine" name="ShippingLine" readonly="True" type="text" value="">
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Foreign line :</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input class="form-control input-sm" id="" name="" readonly="True" type="text" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <span class="ReQSimbol">*</span>
                                <input class="form-control input-sm" data-val="true" data-val-required="Fill Out This Field" id="CHAName" name="CHAName" readonly="True" type="text" value="">
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAHdrModal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Vessel:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input class="form-control input-sm" id="Vessel" name="Vessel" tabindex="4" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div id="DivRotation" class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Voyage:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="Voyage" name="Voyage" tabindex="5" type="text" value="">
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Rotation:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="Rotation" name="Rotation" tabindex="6" type="text" value="">
                            </div>
                        </div>
                    </div>

                    @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <textarea cols="20" id="CargoDescription" name="CargoDescription" readonly="True" rows="2" style="width:100%;height:100px" tabindex="26"></textarea>
                            </div>
                        </div>
                    </div>*@                    

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Line No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="LineNo" name="LineNo" tabindex="16" type="text" value="">

                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Exam Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                <select class="form-control input-sm dropdown" data-val="true" data-val-number="The field RMSValue must be a number." data-val-required="The RMSValue field is required." id="RMSValue" name="RMSValue" tabindex="17" autocomplete="off">
                                    <option value="1">Upto 25%</option>
                                    <option value="2">Beyond 25% </option>
                                    <option value="3">RMS Non Exim</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @*<div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Without DO Seal No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="WithoutDOSealNo" maxlength="45" name="WithoutDOSealNo" tabindex="31" type="text" value="">
                            </div>
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" id="BtnAddCustomAppraisement" class="btn log_Btn_sm" value="Add" tabindex="32">
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" tabindex="33">
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered dataTable" id="" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:8%;">SL No</th>
                                        <th>CFS Code</th>
                                        <th>Container / CBT No</th>
                                        <th>OBL No</th>
                                        <th>BOE No</th>
                                        <th class="text-center" style="width:10%;">Edit</th>
                                        <th class="text-center" style="width:10%;">View</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="DivDeliveryOrderDetails" class="Head_h5">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Do Issued By:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input class="form-control input-sm" id="IssuedBy" name="IssuedBy" type="text" value="">
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                <label>Cargs. Delivered To:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                <input class="form-control input-sm" id="CargsDelivered" name="CargsDelivered" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Do Valid Date:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                <input value="" id="ValidDate" name="ValidDate" readonly="True" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" id="BtnAddDeliveryOrd" class="btn log_Btn_sm" value="Add" onclick="SaveDeliveryOrdDtl()">
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetDeliveryOrdDet()">
                        </div>
                    </div>
                    <table class="table table-striped table-bordered dataTable" id="" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="text-center">SL No</th>
                                <th>Issued By</th>
                                <th> Delivered</th>
                                <th>Edit</th>
                                <th class="text-center">View</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                    <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveCustomAppraisement" tabindex="34">
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetAllFields()" tabindex="35">
                </div>
            </div>

            @Scripts.Render("~/bundles/jqueryval")
            <div class="row">
                <div class="col-md-12">
                    <div id="DivCustomAppraisementList"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mTabindex" id="ContainerOBLModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of OBL No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ContainerOBLBox" type="text" tabindex="2" />
                <ul class="navList" id="ContainerOBLList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" id="btnOblModalClose" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="CHAHdrModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCHA()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of CHA</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By CHA Name Or Party Code " id="Chabox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true"></i></span>

                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">CHA Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>

                <div id="slim_scroll_1">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleCha">
                        @{
                            if (ViewBag.lstCHA != null)
                            {
                                var tabvalue = 401;
                                var tab = 0;
                                var u = "_";
                                foreach (var item in ViewBag.lstCHA)
                                {
                                    <tr tabindex="@tabvalue@u@tab" onclick="SelectCHA(@item.CHAId,'@item.CHAName')" onkeypress="SelectCHA(@item.CHAId,'@item.CHAName')">
                                        <td colspan="8" width="80%" class="txt_wrp">@item.CHAName</td>
                                        <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                    </tr>
                                    tab++;
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.CHAState != null && Convert.ToBoolean(ViewBag.CHAState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCHA()" class="btn log_Btn_sm" id="btnLoadCHA">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCHA()" class="btn log_Btn_sm" id="btnLoadCHA" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnCHAModalClose" class="btn log_Btn_sm" onclick="CloseCHA()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Shipping Line Name Or Party Code" id="ShpngLinebox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true"></i></span>

                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Shipping Line Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>

                <div id="slim_scroll">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                        @{
                            if (ViewBag.lstShippingLine != null)
                            {
                                var tabvalue = 1001;
                                var tab = 0;
                                var u = "_";
                                foreach (var item in ViewBag.lstShippingLine)
                                {
                                    <tr tabindex="@tabvalue@u@tab" onclick="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')" onkeypress="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')">
                                        <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                        <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                    </tr>
                                    tab++;
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrader()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ContainerModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container / CBT No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ContainerBox" type="text" />
                <ul class="navList" id="ContainerList">
                    @*@{
                            if (ViewBag.ContainerList != null)
                            {
                                foreach (var item in ViewBag.ContainerList)
                                {
                                    <li id="@item.Value">@item.Text</li>
                                }
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="CHADtlModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseCHAdtl()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of CHA</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By CHA Name Or Party Code" id="ChaDtlbox" type="text" tabindex="11" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick=SearchChaDtlByPartyCode()></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">CHA Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_2">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleChaDtl">
                        @{
                            if (ViewBag.lstCHA != null)
                            {
                                var tabvalue = 401;
                                var tab = 0;
                                var u = "_";
                                foreach (var item in ViewBag.lstCHA)
                                {
                                    <tr tabindex="@tabvalue@u@tab" onclick="SelectCHAdtl(@item.CHAId,'@item.CHAName')" onkeypress="SelectCHAdtl(@item.CHAId,'@item.CHAName')">
                                        <td colspan="8" width="80%" class="txt_wrp">@item.CHAName</td>
                                        <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                    </tr>
                                    tab++;
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.CHAState != null && Convert.ToBoolean(ViewBag.CHAState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCHAdtl()" class="btn log_Btn_sm" id="btnLoadCHAdtl">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCHAdtl()" class="btn log_Btn_sm" id="btnLoadCHAdtl" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseCHAdtl()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ImporterModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseImporter()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Importer Name</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Importer Name Or Party Code" tabindex="2001" id="Impbox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Importer Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_3">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleImp">
                        @{
                            if (ViewBag.lstImporter != null)
                            {
                                var tabvalue = 2001;
                                var tab = 0;
                                var u = "_";
                                foreach (var item in ViewBag.lstImporter)
                                {
                                    <tr tabindex="@tabvalue@u@tab" onkeypress="SelectImporter(@item.ImporterId,'@item.ImporterName')" onclick="SelectImporter(@item.ImporterId,'@item.ImporterName')">
                                        <td colspan="8" width="80%" class="txt_wrp">@item.ImporterName</td>
                                        <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                    </tr>
                                    tab++;
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.ImpState != null && Convert.ToBoolean(ViewBag.ImpState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreImporter()" class="btn log_Btn_sm" id="btnLoadImp">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreImporter()" class="btn log_Btn_sm" id="btnLoadImp" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseImporter()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="IssuePartyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="IssuePartyClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of issued by</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Party Code" tabindex="15001" id="IssuePartybox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchIssuePartyByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Party Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_4">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleIssueParty">
                        <tbody>
                            @{
                                if (ViewBag.lstIssueParty != null)
                                {
                                    var tabvalue = 15001;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.lstIssueParty)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="SelectIssueParty('@item.ImporterName')" onclick="SelectIssueParty('@item.ImporterName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ImporterName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.ImpState != null && Convert.ToBoolean(ViewBag.ImpState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreIssueParty()" class="btn log_Btn_sm" id="btnLoadIssueParty">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreIssueParty()" class="btn log_Btn_sm" id="btnLoadIssueParty" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="IssuePartyClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ModalCargoParty" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CargoPartyClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of issued by</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Party Code" id="CargoPartybox" type="text" tabindex="18001" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCargoPartyByPartyCode()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="8" width="80%">Party Name</th>
                            <th colspan="4" width="20%">Party Code</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_5">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleCargoParty">
                        <tbody>
                            @{
                                if (ViewBag.lstIssueParty != null)
                                {
                                    var tabvalue = 15001;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.lstIssueParty)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="SelectIssueParty('@item.ImporterName')" onclick="SelectIssueParty('@item.ImporterName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ImporterName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.ImpState != null && Convert.ToBoolean(ViewBag.ImpState) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCargoParty()" class="btn log_Btn_sm" id="btnLoadCargoParty">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCargoParty()" class="btn log_Btn_sm" id="btnLoadCargoParty" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CargoPartyClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#AppraisementDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onSelect: function (dateText) {
            dateText = $('#AppraisementDate').datepicker({ dateFormat: 'MM/dd/yyyy' }).val();
            var dt = dateText.split("/");
            var dt1 = dt[1] + "/" + dt[0] + "/" + dt[2];
        }
    });

    $('#OBLDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onSelect: function (dateText) {
            dateText = $('#OBLDate').datepicker({ dateFormat: 'MM/dd/yyyy' }).val();
            var dt = dateText.split("/");
            var dt1 = dt[1] + "/" + dt[0] + "/" + dt[2];
        }
    });

    $('#BOEDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onSelect: function (dateText) {
            dateText = $('#BOEDate').datepicker({ dateFormat: 'MM/dd/yyyy' }).val();
            var dt = dateText.split("/");
            var dt1 = dt[1] + "/" + dt[0] + "/" + dt[2];
        }
    });

    $('#ValidDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onSelect: function (dateText) {
            dateText = $('#ValidDate').datepicker({ dateFormat: 'MM/dd/yyyy' }).val();
            var dt = dateText.split("/");
            var dt1 = dt[1] + "/" + dt[0] + "/" + dt[2];
        }
    });
    
</script>