@model CwcExim.Areas.Import.Models.DSR_JobOrder

<script src="~/Areas/Import/Scripts/App/Services/DSRJobOrderService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/DSRJobOrderCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('DSRJobOrderAppDiv'), ['CWCApp']);
</script>
<style>
    #DivFormOneDet {
        min-height: 50px;
        overflow-x: hidden;
    }

    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slim_tble {
        width: 100%;
        table-layout: fixed;
    }

    .txt_wrp {
        overflow: hidden;
        word-wrap: break-word;
    }

    .brdr_sec table.table-bordered.dataTable th, .brdr_sec table.table-bordered.dataTable td {
        font-size: 0.7em !important;
        padding: 4px 7px;
    }

    .brdr_sec .table-striped > tbody > tr > td > input[type=text], .brdr_sec .table-striped > tbody > tr > td > select, .brdr_sec .table-striped > tfoot > tr > td > input[type=text], .brdr_sec .table-striped > tfoot > tr > td > select {
        font-size: 0.8em;
        padding: 3px 2px;
    }
</style>

@if (ViewBag.jdate != null)
{
    <input type="hidden" id="jdt" value="@ViewBag.jdate" />
}
else
{
    <input type="hidden" id="jdt" value="" />
}
@{

    if (ViewBag.RightsList != null)
    {
        <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
    }
    else
    {
        <input type="hidden" id="hdnRights" value="" />
    }

    if (ViewBag.ListOfTrainPick != null)
    {
        <input type="hidden" id="hdnTrainNo" value="@ViewBag.ListOfTrainPick" />
    }
    else
    {
        <input type="hidden" id="hdnTrainNo" value="" />
    }

    if (ViewBag.ListOfTrain != null)
    {
        <input type="hidden" id="hdnTrain" value="@ViewBag.ListOfTrain" />
    }
    else
    {
        <input type="hidden" id="hdnTrain" value="" />
    }
    if (ViewBag.ListOfShippingLine != null)
    {
        <input type="hidden" id="hdnShipping" value="@ViewBag.ListOfShippingLine" />
    }
    else
    {
        <input type="hidden" id="hdnShipping" value="" />
    }
}
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.StringifyXML)
@Html.HiddenFor(m => m.deleteXML)
@Html.HiddenFor(m => m.ImpJobOrderId)


<div id="DSRJobOrderAppDiv" ng-controller="DSRJobOrderCtrl">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Job Order</h4>
                        </div>
                    </div>

                    <div class="row Form_Space_top" style="padding:0 10px;">
                        <div class="form-group Form_Input">

                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Job Order No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.JobOrderNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.HiddenFor(m => m.ImpJobOrderId)
                                @Html.ValidationMessageFor(m => m.JobOrderNo, "", new { @class = "Error_Msg" })
                            </div>

                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Job Order Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">

                                <input type="text" id="JobOrderDate"
                                       name="date"
                                       placeholder="dd/mm/yyyy" readonly="readonly"
                                        />

                                <span style="color:red" id="ErrJobOrderDate"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-4 col_cus_4">
                                <div class="boolean-container">
                                    @Html.RadioButton("rdSummary", "rdWithSummary", new { id = "rdWithSummary" })
                                    <label for="rdWithSummary"><i class="circle"></i><span>With Summary</span></label>
                                    @Html.HiddenFor(m => m.TrainSummaryID)
                                    @Html.Hidden("FormOneDetailId")
                                    <input type="hidden" id="WithoutsummaryCheck" />
                                    <input type="hidden" id="WithsummaryCheck" />
                                    <input type="hidden" id="InvoiceType" />
                                </div>
                            </div>
                            <div class="col-md-4 col_cus_4">
                                <div class="boolean-container">
                                    @Html.RadioButton("rdSummary", "rdWithOutSummary", new { id = "rdWithOutSummary" })
                                    <label for="rdWithOutSummary"><i class="circle"></i><span>WithOut Summary</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax" })
                                    <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>

                                </div>
                            </div>
                            <div class="col-md-2 col_cus_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", })
                                    <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- Add---->
                    <div id="divTraderModal" style="display:none">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5">                                   
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })                                    
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>POL:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.HiddenFor(m => m.PolId)
                                    @Html.TextBoxFor(m => m.PolName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Importer Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.HiddenFor(m => m.ImporterId)                                   
                                    @Html.TextBoxFor(m => m.ImporterName, new { @class = "form-control input_sm", @readonly = true})                                    
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CHA:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.HiddenFor(m => m.CHAId)                                    
                                    @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true})                                    
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Party Name:</label>
                                </div>
                                <div class="col-md-10-5">                                   
                                    @Html.HiddenFor(m => m.PartyId)
                                    @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input_sm", @readonly = true})                                    
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Payee Name:</label>
                                </div>
                                <div class="col-md-10-5">                                   
                                    @Html.HiddenFor(m => m.PayerId)                                    
                                    @Html.TextBoxFor(m => m.PayerName, new { @class = "form-control input-sm", @readonly = true })                                    
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Port:</label>
                                </div>
                                <div class="col-md-10-5">                                    
                                    @Html.HiddenFor(m => m.PortId)
                                    @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input_sm", @readonly = true})                                    
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Remarks:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---- End -->

                    




                    <div class="row Form_Space_top" style="padding:0 10px;" id="divTrainSearch">
                        <div class="form-group Form_Input">
                            @Html.HiddenFor(m => m.TrainSummaryID)
                            @Html.Hidden("FormOneDetailId")
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Train No.:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.Hidden("TNo")
                                @Html.TextBoxFor(m => m.TrainNo, new { @class = "form-control input-sm", @readonly = true })
                                <span class="search" id="TrainNoSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#blNomodal"></i></span>
                                @Html.ValidationMessageFor(m => m.TrainNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Train Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.Hidden("TrainDt")
                                @*@Html.TextBoxFor(m => m.TrainDate, DateTime.Now.ToString("dd/MMM/yyyy hh:mm"), new { @class = "form-control input-sm", @readonly = true})*@
                                <input type="text" id="TrainDate"
                                       name="date"
                                       placeholder="dd/mm/yyyy" readonly="readonly"
                                        />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="brdr_sec">
                       
                        <div class="Form_Space_top">
                            
                            <div id="DivFormOneDet">
                                <table class="table table-bordered table-striped dataTable" style="width:100%;" ng-hide="JODetails.length==0">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="8%">Container</th>
                                            <th width="4%">Size</th>
                                            <th id="thSline" style="display:none">Shipping Line</th>
                                            <th id="thSlineNo" style="display:none" width="5%">Shipping Line No</th>

                                            <th id="thParty" style="display:none">Party</th>
                                            @*<th>CHA /Importer</th>*@
                                            <th id="thPayer" style="display:none">Payer</th>
                                            <th id="thImporter" style="display:none">Importer</th>
                                            <th>Cargo Type</th>
                                            <th width="4%" ng-if="!ActiveControl">Load Type</th>
                                            <th width="4%" ng-if="!ActiveControl">ODC Type</th>
                                            <th id="thPort" style="display:none">Port</th>
                                            <th id="thPol" style="display:none">POL</th>
                                            <th>Gross Wt.(Kg)</th>
                                            <th id="thRemarks" style="display:none">Remarks</th>
                                            <th ng-if="ActiveControl">Amount</th>
                                            <th ng-if="ActiveControl">GST</th>
                                            <th ng-if="ActiveControl">Round up</th>
                                            <th width="10%" ng-if="ActiveControl">Invoice Amt</th>
                                            <th ng-if="!ActiveControl">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in JODetails">
                                            <td>{{$index+1}}</td>
                                            <td width="8%"><input type="text" ng-model="j.Container_No" ng-disabled="ActiveControl" ng-blur="CheckContainerNo(j.Container_No,$index)" /></td>
                                            @*<td width="4%"><input type="text" ng-model="j.CT_Size" ng-disabled="{{ActiveControl}}" /></td>*@
                                            <td width="7%">
                                                <input type="text" ng-model="j.CT_Size" required ng-disabled="ActiveControl"/>               
                                            </td>
                                            <td ng-show="j.Showhidden" style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.Slmodal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#slmodal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
                                            </td>
                                            <td ng-show="j.Showhidden" width="5%"><input type="text" ng-model="j.S_Line" ng-disabled="ActiveControl" /></td>

                                            <td ng-show="j.Showhidden" style="position:relative;">
                                                <input type="text" ng-model="j.ImporterName" id="ImporterName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.CHAModal" ng-click="onCHAChange($index)" data-toggle="modal" data-target="#CHAModal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.ImporterId" />
                                            </td>
                                            <td ng-show="j.Showhidden" style="position:relative;">
                                                <input type="text" ng-model="j.PayerName" id="PayerName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.PayerModal" ng-click="onPayerChange($index)" data-toggle="modal" data-target="#PayerModal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.PayerId" />
                                            </td>
                                            <td ng-show="j.Showhidden" style="position:relative;">
                                                <input type="text" ng-model="j.NewImporterName" id="NewImporterName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.NewImporterName" ng-click="onPayerChange($index)" data-toggle="modal" data-target="#PayerModal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.NewImporterName" />
                                            </td>
                                            <td width="6%">
                                                <select ng-model="j.CargoType" required ng-disabled="true">
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}}</option>
                                                </select>

                                            </td>

                                            <td width="6%" ng-if="!ActiveControl">
                                                <select ng-model="j.Ct_Status" ng-disabled="ActiveControl">
                                                    <option value="">--Select--</option>
                                                    <option value="{{t.id}}" ng-repeat="t in ContainerLoadTypeList">{{t.ContainerLoadType}}</option>
                                                </select>
                                            </td>
                                            <td width="6%" ng-if="!ActiveControl">
                                                <select ng-model="j.Ct_ODC" ng-disabled="ActiveControl">
                                                    <option value="">--Select--</option>
                                                    <option value="{{t.id}}" ng-repeat="t in ContainerODCTypeList">{{t.ContainerODCType}}</option>
                                                </select>
                                            </td>

                                            <td ng-show="j.Showhidden">
                                                <select ng-model="j.PortId" ng-options="p.PortId as p.PortName for p in TransportFromList" ng-disabled="ActiveControl"></select>
                                            </td>
                                            <td ng-show="j.Showhidden">
                                                <select ng-model="j.PolId" ng-options="p.PortId as p.PortName for p in TransportFromList" ng-disabled="ActiveControl"></select>
                                            </td>

                                            <td><input type="text" ng-model="j.Gross_Wt" onkeypress="return isDecimalNumber(event)" ng-disabled="ActiveControl" /></td>
                                            <td ng-show="j.Showhidden" ><input type="text" ng-model="j.Remarks" ng-disabled="true" /></td>
                                            <td ng-if="ActiveControl"><input type="text" ng-model="j.Taxable" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td ng-if="ActiveControl"><input type="text" ng-model="j.GST" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td ng-if="ActiveControl"><input type="text" ng-model="j.Roundup" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td width="8%" ng-if="ActiveControl"><input type="text" ng-model="j.InvoiceAmt" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td style="text-align:center;" ng-if="!ActiveControl"><a href="javascript:void(0);" ng-hide="!JODetails.length" ng-click="Delete($index)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="DivFormOneDett" style="display:none;">
                                <table class="table table-bordered table-striped dataTable" style="width:100%;" ng-hide="JODetails.length==0">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="8%">Container</th>
                                            <th width="4%">Size</th>
                                            <th>Shipping Line</th>
                                            <th width="5%">Shipping Line No</th>
                                            <th>Party</th>
                                            <th>Payer</th>
                                            <th>Importer</th>
                                            <th>Cargo Type</th>
                                            <th width="4%" ng-if="!ActiveControl">Load Type</th>
                                            <th width="8%">ODC Type</th>
                                            <th>Port</th>
                                            <th>POL</th>
                                            <th>Gross Wt.(Kg)</th>
                                            <th ng-if="!ActiveControl">Remarks</th>
                                            <th ng-if="ActiveControl">Amount</th>
                                            <th ng-if="ActiveControl">GST</th>
                                            <th ng-if="ActiveControl">Round up</th>
                                            <th width="10%" ng-if="ActiveControl">Invoice Amt</th>
                                            <th ng-if="!ActiveControl">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in JOViewDetails">
                                            <td>{{$index+1}}</td>
                                            <td width="8%"><input type="text" ng-model="j.Container_No" ng-disabled="ActiveControl" ng-blur="CheckContainerNo(j.Container_No,$index)" /></td>                                           
                                            <td width="7%">
                                                <input type="text" ng-model="j.CT_Size" id="CT_Size{{$index}}" ng-disabled="true" required />

                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.Slmodal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#slmodal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
                                            </td>
                                            <td width="5%"><input type="text" ng-model="j.ShippingLineNo" ng-disabled="ActiveControl" /></td>

                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ImporterName" id="ImporterName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.CHAModal" ng-click="onCHAChange($index)" data-toggle="modal" data-target="#CHAModal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.ImporterId" />
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.PayerName" id="PayerName_{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.PayerModal" ng-click="onPayerChange($index)" data-toggle="modal" data-target="#PayerModal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.PayerId" />
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.NewImporterName" id="NewImporterName{{$index}}" ng-disabled="true" required />
                                                <span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.NewImporterModal" ng-click="onImporterChange($index)" data-toggle="modal" data-target="#NewImporterModal" ng-hide="ActiveControl"></i></span>
                                                <input type="text" ng-hide="true" ng-model="j.NewImporterId" />
                                            </td>
                                            <td width="6%">
                                                <select ng-model="j.CargoType" required ng-disabled="ActiveControl">
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}}</option>
                                                </select>

                                            </td>


                                            <td width="6%" ng-if="!ActiveControl">
                                                <select ng-model="j.Ct_Status" ng-disabled="ActiveControl">
                                                    <option value="">--Select--</option>
                                                    <option value="{{t.id}}" ng-repeat="t in ContainerLoadTypeList">{{t.ContainerLoadType}}</option>
                                                </select>
                                            </td>
                                            <td width="8%">
                                                <select ng-model="j.Ct_ODC" ng-disabled="ActiveControl">
                                                    <option value="">--Select--</option>
                                                    <option value="{{t.id}}" ng-repeat="t in ContainerODCTypeList">{{t.ContainerODCType}}</option>
                                                </select>
                                            </td>

                                            <td>
                                                <select ng-model="j.PortId" ng-options="p.PortId as p.PortName for p in TransportFromList" ng-disabled="ActiveControl"></select>



                                            </td>
                                            <td>
                                                <select ng-model="j.PolId" ng-options="p.PortId as p.PortName for p in TransportFromList" ng-disabled="ActiveControl"></select>



                                            </td>

                                            <td><input type="text" ng-model="j.Gross_Wt" onkeypress="return isDecimalNumber(event)" ng-disabled="ActiveControl" /></td>
                                            <td ng-if="!ActiveControl"><input type="text" ng-model="j.Remarks" /></td>
                                            <td ng-if="ActiveControl"><input type="text" ng-model="j.Taxable" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td ng-if="ActiveControl"><input type="text" ng-model="j.GST" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td ng-if="ActiveControl"><input type="text" ng-model="j.Roundup" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td width="8%" ng-if="ActiveControl"><input type="text" ng-model="j.Total" ng-disabled="true" onkeypress="return isDecimalNumber(event)" /></td>
                                            <td style="text-align:center;" ng-if="!ActiveControl"><a href="javascript:void(0);" ng-hide="!JODetails.length" ng-click="Delete($index)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">


                            </div>
                        </div>

                        <div class="row" id="divAddNewRow" style="display:none;">
                            <div class="col-md-offset-4 col-md-2" style="text-align:center">
                                <input type="button" id="AddJobOrd" value="Add Row" onclick="AddJoborder()" class="btn log_Btn_sm" />
                            </div>

                        </div>

                    </div>


                    <div class="row">
                        <div class="SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row">


                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" id="btnPrint" value="Print" class="btn log_Btn_sm" onclick="OnJobOrderPrint()" />

                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Cancel" class="btn log_Btn_sm" ng-click="ResetImpJODetails()" />
                        </div>

                    </div>

                    <div class="logSuccMsg" style="background-color:transparent" id="DivJobOrder"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivJobOrderErrMsg"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="tblEntryDet"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 SignUp_space_bottom">
                            <div id="DivYardList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $('#btnPrint').attr("disabled", false);
    $('#btnPrint').prop('disabled', false);
    var FormOneDetails = [];
    var DeleteOneDetails = [];
    var dt;
    $(function () {
        debugger;       

        $('#JobOrderDate').val('@Model.JobOrderDate.ToString("dd/MM/yyyy")');
        $('#TrainDate').val('@Model.TrainDate.ToString("dd/MM/yyyy")');
        FormOneDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyXML)));
        DeleteOneDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.deleteXML)));
        //GenerateTable();
    });

    
    function OnJobOrderPrint() {
        debugger;
        if ($('#ImpJobOrderId').val() != 0) {


            debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Report/DSR_ReportCWC/PrintJOInvoice',
                type: 'POST',
                data: { ImpJobOrderId: $('#ImpJobOrderId').val() },
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Message);
                }
            });
            PrintImpJODet($('#ImpJobOrderId').val());

        }
    }
    function PrintImpJODet(ImpJobOrderId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Import/DSR_CWCImport/PrintJO',
            type: 'POST',
            data: { ImpJobOrderId: ImpJobOrderId },
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }
    
    $('#Invoice').removeAttr('disabled');
    $('#btnSave').prop('disabled', true);

   

    function checklenrem() {
        if ($('#Remarks').val().length > 200) {
            $('#ErrRemarks').html('Exceed Max langth 200 characters');
            return false;
        }
        else {
            $('#ErrRemarks').html('');
        }
    }

    function checklencar() {
        if ($('#CargoDescription').val().length > 200) {
            $('#ErrCargoDescription').html('Exceed Max langth 200 characters');
            return false;
        }
        else {
            $('#ErrCargoDescription').html('');
        }
    }

    function AddJoborder() {
        debugger;



        angular.element('#DSRJobOrderAppDiv').scope().GetBlankTrainDetails();
        angular.element('#DSRJobOrderAppDiv').scope().$apply();


    }



    function ResetJobOrder() {
        $('#CNNo, #size, #CSNo, #SLNo,#SLine,#Remarks,#CargoDescription').val('');
        $('#GWeg,#NPckg').val('0');
        //  $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#CrType, #CLType,#TransportForm').prop('selectedIndex', 0);
        //   $('#btnAddFormOneDet').prop("disabled", false);
    }
    

    function checklenrem() {
        if ($('#Remarks').val().length > 200) {
            $('#ErrRemarks').html('Exceed Max langth 200 characters');
            return false;
        }
        else {
            $('#ErrRemarks').html('');
        }
    }

    function checklencar() {
        if ($('#CargoDescription').val().length > 200) {
            $('#ErrCargoDescription').html('Exceed Max langth 200 characters');
            return false;
        }
        else {
            $('#ErrCargoDescription').html('');
        }
    }

    function GenerateTable() {
        var html = '';
        $('#StringifyXML').val(JSON.stringify(FormOneDetails));
        if (FormOneDetails != null) {
            html = '<table class="table table-bordered table-striped dataTable"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container / CBT No</th><th>Container / CBT Size</th><th>Custom Seal No</th><th style="width:15%;">Cargo Type</th><th>Commodity</th><th style="text-align:center; width:10%;">Edit</th></tr></thead><tbody>';
            $.each(FormOneDetails, function (i, elem) {
                html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.Container_No + '</td><td>' + elem.CT_Size + '</td><td>' + elem.CustomSealNo + '</td><td>' + elem.CargoType + '</td><td>' + elem.Cont_Commodity + '</td><td class="text-center"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td></tr>';
            });
            html += '</tbody></table>';
            $('#DivFormOneDet').html('');
            $('#DivFormOneDet').html(html);
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Container / CBT details data is not found for this job order');
        }
    }
    var flagg = 0;

    function EditContainerDet(i) {
        debugger;

        if (flagg == 0) {
            flagg = 1;

            $('#AddJobOrd').prop("disabled", false);
            $('#TrainSummarySerial').val(FormOneDetails[i].TrainSummarySerial);
            $('#TrainSummaryID').val(FormOneDetails[i].TrainSummaryID);
            $('#TNo').val(FormOneDetails[i].TrainNo);
            $('#TrainDt').val(FormOneDetails[i].TrainDate);
            $('#PortID').val(FormOneDetails[i].PortId);
            $('#TransportForm').val(FormOneDetails[i].TransportForm);
            $('#CNNo').val(FormOneDetails[i].Container_No);
            $('#size').val(FormOneDetails[i].CT_Size);
            $('#CSNo').val(FormOneDetails[i].CustomSealNo);
            $('#SLNo').val(FormOneDetails[i].ShippingLineNo);
            $('#SlineId').val(FormOneDetails[i].ShippingLineId);
            $('#SLine').val(FormOneDetails[i].ShippingLineName);
            $('#CrType').val(FormOneDetails[i].CargoType);
            $('#CLType').val(FormOneDetails[i].ContainerLoadType);
            $('#NPckg').val(FormOneDetails[i].NoOfPackages);
            $('#GWeg').val(FormOneDetails[i].Gross_Wt);
            $('#Remarks').val(FormOneDetails[i].Remarks);
            $('#CargoDescription').val(FormOneDetails[i].CargoDescription);
            $('#Wagon_No').val(FormOneDetails[i].Wagon_No);
            $('#Line_Seal_No').val(FormOneDetails[i].Line_Seal_No);
            $('#Cont_Commodity').val(FormOneDetails[i].Cont_Commodity);
            $('#Ct_Tare').val(FormOneDetails[i].Ct_Tare);
            $('#Cargo_Wt').val(FormOneDetails[i].Cargo_Wt);
            $('#Ct_Status').val(FormOneDetails[i].Ct_Status);
            $('#Destination').val(FormOneDetails[i].Destination);
            $('#Smtp_No').val(FormOneDetails[i].Smtp_No);
            $('#Received_Date').val(FormOneDetails[i].Received_Date);
            $('#Genhaz').val(FormOneDetails[i].Genhaz);
            FormOneDetails.splice(i, 1);
            GenerateTable();
        }
        else {
            alert("Add Current Container / CBT");
        }

    }


    function SaveDetails() {
        debugger;
        alert("1");
        var joborderdt = $('#JobOrderDate').val();
        var traindate = $('#TrainDate').val();

        if ($('#TrainNo').val() == '') {
            // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
            //  $('#ErrPartyName').html('Fill Out This Field');
            return false;
        }
        else if (joborderdt < traindate) {
            alert("Job Order Date should not be less from TrainDate");
            $('#JobOrderDate').val('');
            //   $('#ErrJobOrderDate').html('Job Order Date should not be less from TrainDate');
            return false;

        }


        else if (FormOneDetails.length <= 0) {
            $('#PickUpLocation').val('');
            alert("Container / CBT should not be blank");
            return false;
        }
        else {



            $('#StringifyXML').val(JSON.stringify(FormOneDetails));
            return true;
        }
    }


    function DeleteContainerDet(FormOneDetailId) {
        var Confirm = confirm("Are You Sure You Want To Delete?");
        if (Confirm == true) {


            //  LocationDetailArray.splice(Index, 1);

            FormOneDetails.splice(FormOneDetailId, 1);
            //  FormOneDetails.pop(FormOneDetailId);
            GenerateTable();
        }

    }


    //function LoadJOList() {
    //    $('#DivYardList').load('/Import/DSR_CWCImport/ListOfJobOrderDetails');
    //}
    function impJOOnSuccess(data) {
        if (data.Status == 1) {

            $('#DivJobOrder').html(data.Message);
            ResetImpJODetails();
            //   LoadJOList();
        }
        else {
            $('#DivJobOrderErrMsg').html(data.Message);
        }
        setTimeout(LoadImpJO, 5000);
    }
    function impJOOnFailure() { }

    function SaveDetails() {
        $('#StringifyXML').val(JSON.stringify(FormOneDetails));
    }
    function ResetImpJODetails() {
        $('#lstYard,#lstYardWiseLctn').html('');
        $('#lstTrainNoNo #' + $('#FormOneId').val()).remove();
        $('#FormOneId,#FormOneDetailId').val('');
        $('#PickUpLocation,#Remarks,#TrainNo,#TrainDate,#JobOrderNo').val('');
        $('#DivFormOneDet').html('');
        $('.data-valmsg-summary').html('');
        $('#JobOrderDate').val('@Model.JobOrderDate');
        FormOneDetails = [];
    }
    function LoadImpJO() {
        $('#DivBody').load('/Import/DSR_CWCImport/CreateJobOrder');
    }


    function DeleteContainerDet(FormOneDetailId) {
        debugger;
        var Confirm = confirm("Are You Sure You Want To Delete?");
        if (Confirm == true) {
            //  LocationDetailArray.splice(Index, 1);

            FormOneDetails.splice(FormOneDetailId, 1);

            GenerateTable();
        }

    }
</script>

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
</script>

