@model CwcExim.Areas.Import.Models.DSR_OBLSpilt



<style>
    .ang_srch {
        top: 25%;
        right: 6px;
        height: 21px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    #DivFormOneDet {
        height: 584px;
        overflow-x: hidden;
    }

    .slimScrollDiv {
        height: 300px;
    }

    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    #tbleImp.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>
<style>
    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="OBLSpiltAppDiv">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL Split</h4>
                    </div>
                </div>


                <div class="Form_Space_bottom">
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Split No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(x => x.SpiltNo, new { @class = "form-control", @readonly = true, })

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">
                                <label>Split Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">
                                @Html.TextBoxFor(m => m.SpiltDate, new { @class = "InputLabel", @readonly = true })<span class="LabelColon"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OBL No:</label>
                            </div>
                            <div class="col-md-2-5">                              
                                @Html.TextBoxFor(x => x.OBLNo, new { @class = "form-control", @readonly = true })

                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt ">

                            </div>
                            <div class="col-md-2 col_cus_2_5  Date_Img">



                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>OBL</th>
                                            <th>OBL Date</th>                                           
                                            <th>No. of PKG</th>
                                            <th>GR WT(Kg)</th>
                                            <th>Value</th>
                                            <th>Duty</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.OBLNo</td>
                                            <td>@Model.OBLNoDate</td>                                           
                                            <td>@Model.NoOfPkg</td>
                                            <td>@Model.GRWT</td>
                                            <td>@Model.Value</td>
                                            <td>@Model.Duty</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Container No</th>
                                            <th>Size</th>
                                            <th>CFS Code</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyContainer">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>OBL</th>
                                            <th>OBL Date</th>                                          
                                            <th>No. of PKG</th>
                                            <th>GR WT(Kg)</th>
                                            <th>Value</th>
                                            <th>Duty</th>
                                            <th>Action</th>
                                         


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model.lstSpiltOBLDetails)
                                        {
                                            <tr>
                                                <td>@i.SpiltOBL</td>
                                                <td>@i.SpiltOBLDate</td>
                                            
                                                <td>@i.SpiltPkg</td>
                                                <td>@i.SpiltWT</td>
                                                <td>@i.SpiltValue</td>
                                                <td>@i.SpiltDuty</td>
                                                <td><a href="#" onclick="ViewData('@i.SpiltOBL')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                                               
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">

                        <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row">

                        <div class="col-md-offset-4 col-md-2" style="text-align:center">

                            <input type="submit" value="Back" class="btn log_Btn_sm" onclick="BackSpilt()">


                        </div>
                        <div class="col-md-2">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-1-5 col_cus_2 padding_rt">

                        </div>
                    </div>
                    <div class="row">

                        <div id="divlist">

                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>

  <input type="hidden" id="SpiltData"  value="@ViewBag.SpiltData" />



</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>

<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });

        $('#SpiltDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#SpiltOBLDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#IGMDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        $('#SMPTDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            }
        });

        //$('#SMPTDate').datepicker( "setDate", new Date());
       // $('#IGMDate').datepicker( "setDate", new Date());
        $('#SpiltOBLDate').datepicker( "setDate", new Date());
        $('#SpiltDate').datepicker( "setDate", new Date());

        $('#NoOfPkg').ForceNumeric();
        $('#GRWT').ForceNumeric();

    });



    function BackSpilt()
    {
        $('#DivBody').load('/Import/DSR_CWCImport/OBLSplit');
    }


    function ViewData(OBL)
    {
        $('#tbodyContainer').html('');
        var html = '';
        var jsonlst = [];
        debugger;
        if($('#SpiltData').val()!='')
        {
            var JsonData = JSON.parse($('#SpiltData').val());
            $.each(JsonData.lstSpiltContainerDetails, function (i, data) {
                if(data.SpiltOBLNO==OBL)
                {
                    html += '<tr><td>'+data.SpiltContainerNo+'</td><td>'+data.SpiltSize+'</td><td>'+data.SpiltCFSCode+'</td></tr>';
                }

            });
            $('#tbodyContainer').html(html);

        }
      
    }
   
</script>




