@model CwcExim.Areas.Pest.Models.DSRChemicalConsumption

<script>

        function LoadChemicalPage() {
            $('#DivBody').load('/Pest/DSR_Pest/CreateChemicalConsumption');
        }

</script>

@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Chemical Consumption</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label style="padding-left: 10px">Date:</label>
                            </div>
                            <div class="col-md-2 Date_Img">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.Date, new { @class = "form-control input-sm", @id = "Date", @readonly = true })
                                @Html.ValidationMessageFor(m => m.Date, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label  style="padding-left: 10px">Chemical Name:</label>
                            </div>
                            <div class="col-md-5">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.ChemicalName, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ChemicalName, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label  style="padding-left: 10px">Quantity:</label>
                            </div>
                            <div class="col-md-3">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.Quantity, "", new { @class = "form-control input-sm", onkeypress = "return AllowOnlyInteger(event)", @onblur = "ClearErrMsg(this)", maxlength = "10", @readonly = true })
                                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label  style="padding-left: 10px">Batch No.:</label>
                            </div>
                            <div class="col-md-3">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.BatchNo, "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", maxlength = "50", @readonly = true })
                                @Html.ValidationMessageFor(m => m.BatchNo, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label  style="padding-left: 10px">Expiry Date:</label>
                            </div>
                            <div class="col-md-2 Date_Img">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.ExpiryDate, "", new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ExpiryDate, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @onblur = "ClearErrMsg(this)", @style = "width:100%;height:100px;", @maxlength = 1000, @readonly = true })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="button" id="BtnCountryBack" value="Back" class="btn log_Btn_sm" onclick="LoadChemicalPage()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


