
@model IEnumerable<CwcExim.Areas.CashManagement.Models.VRN_ReceiptDetails>
<table id="tblCashReceiptList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">SL. No.</th>
            <th>Receipt No.</th>
            <th>Receipt Date</th>
            <th>Party Name</th>
            <th>Amount</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            if (Model != null)
            {
                foreach (var data in Model)
                {
                    <tr>
                        <td class="text-center">@Serial.ToString()</td>
                        <td>@data.ReceiptNo</td>
                        <td>@data.ReceiptDate</td>
                        <td>@data.PartyName</td>
                        <td>@data.TotalValue</td>
                        <td class="text-center"><a href="#" onclick="ViewAddSD('@data.Id')"><i class="fa fa-search-plus Edit"></i></a></td>
                    </tr>
                    Serial++;
                }
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblCashReceiptList = $('#tblCashReceiptList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL. No." },
                       { "sName": "Receipt No.", "bSortable": false },
                       { "sName": "Receipt Date", "bSortable": false },
                       { "sName": "Party Name", "bSortable": false, },
                       { "sName": "Amount", "bSortable": false, },
                       { "sName": "Print", "bSortable": false, "width": "10%" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblCashReceiptList);
    });
    function PreviewCRnote(ReceiptNumber) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkReceiptReport", "VRN_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ReceiptNumber: ReceiptNumber,
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }


    function Print() {

        var printTable = "<table cellspacing='0' cellpadding='5' style='width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0;'><tbody>";
        printTable += "<tr><td valign='top'><img align='right' src='IMGSRC' width='90'/></td>";
        printTable += "<td width='150%' valign='top' align='center'><h1 style='font-size: 20px; line-height: 30px;margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION</h1>";
        // printTable +="<label style='display: block; font-size: 13px; line-height: 22px;'>(A Govt. of India Undertaking) </label><br />";
        printTable += "<span style='font-size: 12px; padding-bottom: 10px;'>(A Govt. of India Undertaking)</span> <br/> <span style='font-size: 12px; padding-bottom: 10px;'>Plot No. 50 to 54, Phase-III (B), Verna Indl. Estate, <br/> Verna Salgette, South Goa, GOA-403722</span>";
        printTable += "<br /><label style='font-size: 14px; font-weight:bold;'>Cash Deposit to PD Account Voucher</label>";
        printTable += "</td></tr>";

        printTable += "<tr><td colspan='12'><table style=' border: 1px solid #000; padding: 10px; width:100%; margin-bottom: 10px;'cellspacing='0' cellpadding='5'>";
        printTable += "<tbody><tr><td><table style='width:100%; margin-bottom: 10px;' cellspacing='0' cellpadding='5'>";
        printTable += "<tbody><tr><td colspan='9' width='80%' style='font-size: 13px; line-height: 26px;'>";
        printTable += "<label style='font-weight: bold;'>No.</label> <span>" + $('#ReceiptNo').val() + "</span></td>";
        printTable += "<td colspan='3' width='20%' style='font-size: 13px; line-height: 26px; float:right;'><label style='font-weight: bold;'>Date : </label> <span>" + $('#TransDate').val() + "</span></td>";
        printTable += "</tr>";
        printTable += "<tr><td colspan='9' style='font-size: 13px; line-height: 26px;'><label style='font-weight: bold;'>By : </label><span>" + $('#PartyName').val() + "</span></td><td colspan='3' style='font-size: 13px; line-height: 26px;'><label style='font-weight: bold;'>Folio No : </label><span>" + $('#FolioNo').val() + "</span></td></tr>";
        printTable += "<tr><td colspan='12' style='font-size: 13px; line-height: 26px;'><label style='font-weight: bold;'>Party Address : </label><span>" + $('#Address').val() + "</span></td></tr>";
        printTable += "</tbody></table>";
        printTable += "</td></tr><tr><td><hr/></td></tr>";

        printTable += "<tr><td><table style=' border: 1px solid #000; border-bottom: 0; width:70%;' align='center' cellspacing='0' cellpadding='5'>";
        printTable += "<thead>";
        printTable += "<tr><th rowspan='2' style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: center; width: 60px;'>Mode</th>";
        printTable += "<th rowspan='2' style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: center; width: 140px;'>Drawee Bank</th>";
        printTable += "<th colspan='2' style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: center; width: 100px;'>Instrument</th>";
        printTable += "<th rowspan='2' style='border-bottom: 1px solid #000; font-size: 12px; text-align: center; width: 50px;'>Amount</th>";
        printTable += "</tr>";
        printTable += "<tr><th style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: center; width: 80px;'>No</th>";
        printTable += "<th style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: center; width: 100px;'>Date</th></tr>";
        printTable += "</thead><tbody>";
        for (var i = 0; i < 5; i++) {
            printTable += "<tr><td style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 10px; text-align: center;'>" + $('#Details_' + i + '__Type').val() + "</td>";
            printTable += "<td style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 10px; text-align: center;'>" + $('#Details_' + i + '__Bank').val() + "</td>";
            printTable += "<td style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 10px; text-align: center;'>" + $('#Details_' + i + '__InstrumentNo').val() + "</td>";
            printTable += "<td style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 10px; text-align: center;'>" + $('#Details_' + i + '__Date').val() + "</td>";
            printTable += "<td style='border-bottom: 1px solid #000; font-size: 10px; text-align: center;'>" + +Number($('#Details_' + i + '__Amount').val()).toFixed(2) + "</td>";
            printTable += "</tr>";
        }


        //html.Append("<tr>");
        //html.Append("<td colspan='4' style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: right; font-weight: bold;'>TDS</td>");
        //html.Append("<td colspan='1' style='border-bottom: 1px solid #000; font-size: 10px; text-align: center; width: 50px;'>" + item.TdsAmount.ToString() + "</td></tr>");


        //Total
        printTable += "<tr><td colspan='4' style='border-right: 1px solid #000; border-bottom: 1px solid #000; font-size: 12px; text-align: right; font-weight: bold;'>Total Payment Receipt Amount</td>";
        printTable += "<td colspan='1' style='border-bottom: 1px solid #000; font-size: 10px; text-align: center; width: 50px;'>" + Number($('#txtTotal').val()).toFixed(2) + "</td></tr>";
        printTable += "</tbody></table></td></tr>";
        printTable += "</tbody></table>";


        printTable += "</td></tr><tr><td colspan='12'>";
        printTable += "<table style='border-top: 1px solid #000; border-left: 1px solid #000; width: 100%; margin-bottom: 10px; border-right: 1px solid #000; border-bottom: 1px solid #000;' cellspacing='0' cellpadding='10'>";
        printTable += "<tbody><tr>";
        printTable += "<th style='font-size: 12px; text-align: left; padding: 5px;' colspan='12'>In Words : " + CurrentcyToWord(Number($('#txtTotal').val()).toFixed(2)) + "</th></tr>";
        printTable += "</tbody></table>";

        printTable += "<table style='width: 100%; margin-bottom: 80px;' cellspacing='0' cellpadding='10'>";
        printTable += "<tbody>";
        printTable += "<tr><td width='10%' valign='top' align='right' style='font-size:13px;'><b>Remarks : </b></td><td colspan='2' width='85%' style='font-size:12px; line-height:22px;'></td></tr>";
        //html.Append("<td style='font-size: 12px; text-align: left; padding: 5px;' colspan='12'><b>Remarks : </b> " + item.Remarks + "</td></tr>");
        printTable += "</tbody></table>";

        printTable += "<table style='width: 100%; margin-bottom: 10px;' cellspacing='0' cellpadding='10'><tbody><tr>";
        printTable += "<th style='width:60%;'></th>";
        printTable += "<th style='border-top: 1px solid #000; font-size: 12px; text-align: center; padding: 5px;'>For Central Warehousing Corporation</th>";
        printTable += "</tr></tbody></table></td></tr></tbody></table>";

        var PostData = new FormData();
        PostData.append("page", printTable);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF1", "VRN_CashManagement", new { area = "CashManagement" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open("/Docs/AddMoneyReceipt/" + data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }

    function ViewAddSD(PDAACId) {
        debugger;
        $('#DivBody').load('/CashManagement/VRN_CashManagement/ViewAddToSD?PdaAcId=' + PDAACId);
    }
</script>

