@model CwcExim.Areas.Export.Models.Kol_ContainerStuffing
<style>
    .table-striped > tbody > tr > td > input[type=text], .table-striped > tbody > tr > td > select, .table-striped > tfoot > tr > td > input[type=text], .table-striped > tfoot > tr > td > select {
        width: auto !important;
    }
</style>
<script>
    var ArrayOfContainerStuff = [];
    var TimeInSeconds;
    //var ArrayOfSCMTR=[];
    $(function () {
        debugger;
        TimeInSeconds = 5000;
        
    });

    $('#StuffingDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='StuffingDate']").html('');
        }
    });
    $('#ShippingDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='StuffingDate']").html('');
        }
    });

    function ResetAllFields() {
        ArrayOfContainerStuff = [];
        $('#DivEditContainerStuffing').find('input:text,textarea').val('');
        $('#DivEditContainerStuffing #DivContainerStuffingMsg').html('');
        $('#DivEditContainerStuffing #DivContainerStuffingErrMsg').html('');
        $('[data-valmsg-for]').html('<span><span>');
        $('#DivEditContainerStuffing #TblContainerStuffing >tbody').html('');
        $('#TblContainerStuffing').hide();
        $('#DivContainerStuffingMsg').html('');
        $('#DivContainerStuffingErrMsg').html('');
    }
    

    $('#ShippingLineBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ShippingLineModal .navList > li').show();
        } else {
            $('#ShippingLineModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ShippingLineList li').on("click", function () {
        $('#ShippingLine').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });

    $('#LstExporter li').on("click", function () {
        debugger;
        $('#Exporter').val($(this).text());
        $('#ExporterId').val($(this).attr('id'));
        $("#ExporterModal").modal("hide");
    });
    $('#SearchExporter').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ExporterModal .navList > li').show();
        } else {
            $('#ExporterModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#ListOfCHAHdr li').on("click", function () {
        debugger;
        $('#CHA').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAHdrModal").modal("hide");
    });
    $('#SearchCHAHdr').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CHAHdrModal .navList > li').show();
        } else {
            $('#CHAHdrModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

   
    function SaveContainerStuffingDtl() {
        debugger;
        $('#DivContainerStuffingTblErrMsg').html('');
        if ($('#ContainerNo').val() != "") {
             var StuffingType=$('#FCL').prop("checked")==true? "FCL" :"LCL"
             var ContainerStuffingDtl = {
            "ContainerNo" : $('#ContainerNo').val(),
            "CFSCode" :$('#CFSCode').val(),
            "Size":$('#Size').val(),
            "ShippingLineId":$('#ShippingLineId').val(),
            "ShippingLine":$('#ShippingLine').val(),
            "ShippingSeal":$('#ShippingSeal').val(),
            "CustomSeal": $('#CustomSeal').val(),
            "StuffingType": StuffingType,
            "ShippingBillNo": $('#ShippingBillNo').val(),
            "ShippingDate": $('#ShippingDate').val(),
            "CHAId":$('#CHAId').val(),
            "ExporterId":$('#ExporterId').val(),
            "CHA": $('#CHA').val(),
            "Exporter": $('#Exporter').val(),
            "CargoDescription": $('#CargoDescription').val(),
            "Consignee": $('#Consignee').val(),
            "MarksNo": $('#MarksNo').val() == "" ? 0 : $('#MarksNo').val(),
            "Fob": $('#Fob').val() == "" ? 0 : $('#Fob').val(),
            "StuffQuantity": $('#StuffQuantity').val() == "" ? 0 : $('#StuffQuantity').val(),
            "StuffWeight": $('#StuffWeight').val() == "" ? 0 : $('#StuffWeight').val(),
            "StuffingReqDtlId": $('#StuffingReqDtlId').val(),
            "Insured": $('#Insured').is(':checked') == true ? 1 : 0,
             "ContainerStuffingDtlId": $('#ContainerStuffingDtlId').val(),
             "EquipmentSealType": $('#EquipmentSealType').val(),
             "EquipmentStatus": $('#EquipmentStatus').val(),
             "EquipmentQUC": $('#EquipmentQUC').val(),
        }
        ArrayOfContainerStuff.push(ContainerStuffingDtl);
         
        $.each(ArrayOfContainerStuff, function (i, item) {
            //debugger;
            if (item.ContainerNo == $('#ContainerNo').val()) {
                item.ShippingSeal = $('#ShippingSeal').val();
                item.CustomSeal = $('#CustomSeal').val();
                item.EquipmentQUC = $('#EquipmentQUC').val();
                item.EquipmentStatus = $('#EquipmentStatus').val();
                item.EquipmentSealType = $('#EquipmentSealType').val();
            }
        });
        ResetConatinerStuffDet();
        GenerateContainerStuffTable();
        $('#BtnAddContainerStuff').prop("disabled", true);
        }
        else {
            $('#DivContainerStuffingTblErrMsg').html('Please Select A Container No In Order To Add Details');
           
        }
    }

    function ResetConatinerStuffDet() {
        debugger;
        $('#DivContainerStuffingDetails').find('input:text,textarea').val('');
        $('#DivEditContainerStuffing #Size').val('');
        $('#FCL').prop("checked", false);
        $('#LCL').prop("checked", false);
        $('#DivContainerStuffingDetails #Insured').prop("checked", false);
        $('#DivContainerNo').find('input:text').val('');
        $('#DivContainerSize').find('input:text').val('');
        $('#DivShippingLine').find('input:text').val('');
        $('#DivShippingSeal').find('input:text').val('');
        $('#SearchContainerNo').css("display", "none");
        $('#EquipmentSealType').val('BTSL');
        $('#EquipmentStatus').val('94');
        $('#EquipmentQUC').val('PKG');
    }

    function GenerateContainerStuffTable() {
        debugger;
        $('#TblContainerStuffing').hide();
        var Html = '';
        var HtmlScmtr='';
        if (ArrayOfContainerStuff.length != 0) {
            $.each(ArrayOfContainerStuff, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ShippingBillNo + '</td><td>' + item.ShippingDate + '</td><td>' + item.Exporter + '</td><td>' + item.StuffQuantity + '</td><td>' + item.StuffWeight + '</td><td class="text-center"><a href="#" onclick="EditContainerStuff(' + i + ')"><i class="fa fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center"><a href="#" onclick="ViewContainerStuff(' + i + ')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblContainerStuffing>tbody').html(Html);
            $('#TblContainerStuffing').show();
        }



    }

    function EditContainerStuff(Index) {
        debugger;
        if ($('#BtnAddContainerStuff').prop("disabled") == true) {
            $('#DivContainerStuffingTblErrMsg').html('');
            $('#SearchContainerNo').css("display", "block");
            $('#BtnAddContainerStuff').prop("disabled", false);
            $('#ContainerNo').val(ArrayOfContainerStuff[Index].ContainerNo);
            $('#CFSCode').val(ArrayOfContainerStuff[Index].CFSCode);
            $('#Size').val(ArrayOfContainerStuff[Index].Size);
            $('#ShippingLineId').val(ArrayOfContainerStuff[Index].ShippingLineId);
            $('#ShippingLine').val(ArrayOfContainerStuff[Index].ShippingLine);
            $('#ShippingSeal').val(ArrayOfContainerStuff[Index].ShippingSeal);
            $('#CustomSeal').val(ArrayOfContainerStuff[Index].CustomSeal);
            $('#' + ArrayOfContainerStuff[Index].StuffingType + '').prop("checked", true);
            $('#ShippingBillNo').val(ArrayOfContainerStuff[Index].ShippingBillNo);
            $('#ShippingDate').val(ArrayOfContainerStuff[Index].ShippingDate);
            $('#CHAId').val(ArrayOfContainerStuff[Index].CHAId);
            $('#ExporterId').val(ArrayOfContainerStuff[Index].ExporterId);
            $('#CHA').val(ArrayOfContainerStuff[Index].CHA);
            $('#Exporter').val(ArrayOfContainerStuff[Index].Exporter);
            $('#CargoDescription').val(ArrayOfContainerStuff[Index].CargoDescription);
            $('#Consignee').val(ArrayOfContainerStuff[Index].Consignee);
            $('#MarksNo').val(ArrayOfContainerStuff[Index].MarksNo);
            $('#Fob').val(ArrayOfContainerStuff[Index].Fob);
            $('#StuffQuantity').val(ArrayOfContainerStuff[Index].StuffQuantity);
            $('#StuffWeight').val(ArrayOfContainerStuff[Index].StuffWeight);
            $('#StuffingReqDtlId').val(ArrayOfContainerStuff[Index].StuffingReqDtlId);
            if (ArrayOfContainerStuff[Index].EquipmentSealType != null) {
                $('#EquipmentSealType').val(ArrayOfContainerStuff[Index].EquipmentSealType);
            }
            if (ArrayOfContainerStuff[Index].EquipmentStatus != null) {
                $('#EquipmentStatus').val(ArrayOfContainerStuff[Index].EquipmentStatus);
            }
            if (ArrayOfContainerStuff[Index].EquipmentQUC != null) {
                $('#EquipmentQUC').val(ArrayOfContainerStuff[Index].EquipmentQUC);
            }
            ArrayOfContainerStuff[Index].Insured == 1 ? $('#Insured').prop("checked", true) : $('#Insured').prop("checked", false);
            $('#ContainerStuffingDtlId').val(ArrayOfContainerStuff[Index].ContainerStuffingDtlId);
            ArrayOfContainerStuff.splice(Index, 1);
            GenerateContainerStuffTable();
        }
        else {
            $('#DivContainerStuffingTblErrMsg').html('Please Add The Above Records');
        }

    }

   
    function ViewContainerStuff(Index) {
        debugger;
        if ($('#BtnAddContainerStuff').prop("disabled") == true)
        {
            $('#DivContainerStuffingTblErrMsg').html('');
            $('#BtnAddContainerStuff').prop("disabled", true);
            // if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
            //$('#DivShippingDetails').find('input').prop("disabled", true);
            $('#SearchContainerNo').css("display", "none");
            $('#ContainerNo').val(ArrayOfContainerStuff[Index].ContainerNo);
            $('#CFSCode').val(ArrayOfContainerStuff[Index].CFSCode);
            $('#Size').val(ArrayOfContainerStuff[Index].Size);
            $('#ShippingLineId').val(ArrayOfContainerStuff[Index].ShippingLineId);
            $('#ShippingLine').val(ArrayOfContainerStuff[Index].ShippingLine);
            $('#ShippingSeal').val(ArrayOfContainerStuff[Index].ShippingSeal);
            $('#CustomSeal').val(ArrayOfContainerStuff[Index].CustomSeal);
            $('#' + ArrayOfContainerStuff[Index].StuffingType + '').prop("checked", true);
            // $('#StuffingType').val(ArrayOfCartingRegDtl[Index].StuffingType);
            $('#ShippingBillNo').val(ArrayOfContainerStuff[Index].ShippingBillNo);
            $('#ShippingDate').val(ArrayOfContainerStuff[Index].ShippingDate);
            $('#CHAId').val(ArrayOfContainerStuff[Index].CHAId);
            $('#ExporterId').val(ArrayOfContainerStuff[Index].ExporterId);
            $('#CHA').val(ArrayOfContainerStuff[Index].CHA);
            $('#Exporter').val(ArrayOfContainerStuff[Index].Exporter);
            $('#CargoDescription').val(ArrayOfContainerStuff[Index].CargoDescription);
            $('#Consignee').val(ArrayOfContainerStuff[Index].Consignee);
            $('#MarksNo').val(ArrayOfContainerStuff[Index].MarksNo);
            $('#Fob').val(ArrayOfContainerStuff[Index].Fob);
            $('#StuffQuantity').val(ArrayOfContainerStuff[Index].StuffQuantity);
            $('#StuffWeight').val(ArrayOfContainerStuff[Index].StuffWeight);
            $('#StuffingReqDtlId').val(ArrayOfContainerStuff[Index].StuffingReqDtlId);
            $('#ContainerStuffingDtlId').val(ArrayOfContainerStuff[Index].ContainerStuffingDtlId);
            if (ArrayOfContainerStuff[Index].EquipmentSealType != null) {
                $('#EquipmentSealType').val(ArrayOfContainerStuff[Index].EquipmentSealType);
            }
            if (ArrayOfContainerStuff[Index].EquipmentStatus != null) {
                $('#EquipmentStatus').val(ArrayOfContainerStuff[Index].EquipmentStatus);
            }
            if (ArrayOfContainerStuff[Index].EquipmentQUC != null) {
                $('#EquipmentQUC').val(ArrayOfContainerStuff[Index].EquipmentQUC);
            }
            // $('#Insured').val(ArrayOfContainerStuff[Index].Insured);
            ArrayOfContainerStuff[Index].Insured == 1 ? $('#Insured').prop("checked", true) : $('#Insured').prop("checked", false);
        }
        else{
            $('#DivContainerStuffingTblErrMsg').html('Please Add The Above Records');
        }

    }

    $('#BtnSaveContainerStuff').on("click", function () {
        debugger;
        
        $('#DivContainerStuffingTblErrMsg').html('');
        if ($('#ContainerNo').val() == "" && $('#TblContainerStuffing >tbody').html()!="") {
            if (ArrayOfContainerStuff.length != 0) {
                $('#StuffingXML').val(JSON.stringify(ArrayOfContainerStuff));
            }
        }
        else if($('#ContainerNo').val() != "" && $('#BtnAddContainerStuff').prop("disabled")==true){
            if (ArrayOfContainerStuff.length != 0) {
                $('#StuffingXML').val(JSON.stringify(ArrayOfContainerStuff));
            }
        }
        else {
            $('#DivContainerStuffingTblErrMsg').html('Please Add The Above Records');
            return false;
        }

        if ($('#FinalDestinationLocation').val() == "" || $('#FinalDestinationLocation').val() == null) {
            alert('Please Fill Up Final Destination location');
            return false;
        }
       
    });

    function ContainerStuffingOnSuccess(data) {
        if (data.Status == 1) {
            $('#DivContainerStuffingMsg').html(data.Message);
            //setTimeout(LoadContainerStuffing, TimeInSeconds);
            $('#BtnSaveContainerStuff').prop("disabled", true);
            $('#BtnCIMSF').removeAttr('disabled');
        }
        else {
            $('#DivContainerStuffingErrMsg').html(data.Message);
        }
    }

    function ContainerStuffingOnFailure() { }
    function LoadContainerStuffing() {
        $('#DivBody').load( '/Export/Kol_CWCExport/AmendmentContainerStuffing');
    }

    function GetFinalDestination() {
        $.ajax({
            url: '/Export/Kol_CWCExport/GetFinalDestination',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#FinalDestinationList').html('');
                    var html = '';
                    var tab = 401;
                    var jsondata = JSON.parse(JSON.stringify(data));
                    $.each(jsondata, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' onkeypress="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)" onclick="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)">' + item.CustodianCode + '</li>';
                    });

                    $('#FinalDestinationList').html(html);

                }
            }
        });
    }

    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };

    document.getElementById('DestinationBox').addEventListener('keyup', debounce(function () {
        debugger;
        SearchFinalDestination();
    }, 1200));




    function SearchFinalDestination() {
        var CustodianName = $('#DestinationBox').val();
        $.ajax({
            url: '/Export/Kol_CWCExport/GetFinalDestination',
            type: 'GET',
            data: { CustodianCode: CustodianName },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#FinalDestinationList').html('');
                    var html = '';
                    var tab = 401;
                    var jsondata = JSON.parse(JSON.stringify(data));
                    $.each(jsondata, function (i, item) {
                        html += '<li tabindex=' + tab + '_' + i + ' onkeypress="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)" onclick="SelectFinalDestination(' + item.CustodianId + ',&quot;' + item.CustodianCode + '&quot;)">' + item.CustodianCode + '</li>';
                    });
                    $('#FinalDestinationList').html(html);
                }
            }
        });
    }


    function SelectFinalDestination(CustodianId, CustodianCode) {
        $('#FinalDestinationLocationId').val(CustodianId);
        $('#FinalDestinationLocation').val(CustodianCode);
        $('#modelFinalDestinationlocation').modal("hide");
    }
    function DestinationModalClose() {
        $('#modelFinalDestinationlocation').modal("hide");
        $('#DestinationModal .navList > li').show();
        $('#DestinationBox').val('');
    }

    function PopupActivate(Id) {
        debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');


            if (Id == "DivModalStuffingNo") {
                LoadStuffingForAmendment();
                $('#SearchStuffingNoBox').focus();
            }
            if (Id = "DestinationModal") {
                GetFinalDestination();
                $('#FinalDestinationBox').focus();
            }

        }
    }

    $('#DivModalStuffingNo').on('shown.bs.modal', function () {
        $('#SearchStuffingNoBox').focus();
    });

    function ModalStuffingNoClose() {
        $('#DivModalStuffingNo').modal("hide");
        $('#StuffingNo').focus();
        $('#SearchStuffingNoBox').val('');
    }


    function GetContainerStuffList() {
        $('#SearchCSNo').val('');
        $('#DivContainerStuffingList').load('/Export/Kol_CWCExport/AmendmentContainerStuffingList');
    }
    function SearchCSNo() {
        var SearchValue = $('#SearchCSNo').val().trim();
        $('#DivContainerStuffingList').load('/Export/Kol_CWCExport/AmendmentContainerStuffingList?SearchValue=' + SearchValue);
    }

    $('#SearchStuffingNo').on("click", function () {
        LoadStuffingForAmendment();
    });
    function LoadStuffingForAmendment() {
        Page = 0;
        $('#LstStuffingNo').html('');
        $.ajax({
            url: '/Export/Kol_CWCExport/GetStuffingNoForAmendment',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data.Data != '' && data.Data != null) {
                    var html = '';
                    var tab = 401;
                    var jsondata = JSON.parse(JSON.stringify(data.Data));
                    if (jsondata.length > 0) {
                        $.each(jsondata, function (i, item) {
                            html += '<li tabindex=' + tab + '_' + i + ' onkeypress="SelectContainerStuffing(' + item.ContainerStuffingId + ',&quot;' + item.StuffingNo + '&quot;,&quot;' + item.RequestDate + '&quot;)" onclick="SelectContainerStuffing(' + item.ContainerStuffingId + ',&quot;' + item.StuffingNo + '&quot;,&quot;' + item.StuffingDate + '&quot;)">' + item.StuffingNo + '</li>';
                        });
                    }
                    $('#LstStuffingNo').html(html);
                }

            }
        });
    }

    $('#SearchStuffingNoBox').keyup(function () {
        //debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#DivModalStuffingNo .navList > li').show();
        }
        else {
            $('#DivModalStuffingNo .navList > li').each(function () {
                //debugger;
                var Text = $(this).text().toLowerCase();
                (Text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    function SelectContainerStuffing(ContainerStuffingId, StuffingNo, StuffingDate) {
        debugger;
        $('#StuffingNo').val(StuffingNo);
        $('#ContainerStuffingId').val(ContainerStuffingId);
        $('#StuffingDate').val(StuffingDate);
        $('#DivModalStuffingNo').modal("hide");
        GetStuffingDetails(ContainerStuffingId);
        $('#BtnAddContainerStuff').prop("disabled", true);
        $('#StuffingDate').focus();
    }

    var cgtype = "Haz";
    function GetStuffingDetails(ContainerStuffingId) {
        ArrayOfContainerStuff = [];
        ArrayOfContainer = [];
        $.ajax({
            url: '/Export/Kol_CWCExport/GetStuffingDetailsForAmendment',
            type: 'GET',
            dataType: 'JSON',
            data: { ContainerStuffingId: ContainerStuffingId },
            success: function (data) {
                debugger;
                if (data != '' && data != null) {

                    $('#StuffingReqId').val(data.StuffingReqId);
                    $('#StuffingReqNo').val(data.StuffingReqNo);
                    $('#RequestDate').val(data.RequestDate);

                    $('#DirectStuffing').val(data.DirectStuffing);

                    $('#Via').val(data.Via);
                    $('#Vessel').val(data.Vessel);
                    $('#Voyage').val(data.Voyage);
                    $('#ForeignLiner').val(data.ForeignLiner);

                    $('#FinalDestinationLocation').val(data.FinalDestinationLocation);
                    $('#FinalDestinationLocationId').val(data.FinalDestinationLocationId);
                    $('#Remarks').val(data.Remarks);
                    ArrayOfContainerStuff = data.LstStuffingDtl;

                    GenerateContainerStuffTable();
                    $('#TblContainerStuffing').show();
                }
            }
        });
    }

    function SendSF() {
        debugger;
        var ContainerStuffingId = $('#ContainerStuffingId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/Export/Kol_CWCExport/SendSF",
            type: "POST",
            dataType: "JSON",
            data: { ContainerStuffingId: ContainerStuffingId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#BtnCIMSF').prop('disabled', true);
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }
</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ContainerStuffingOnSuccess";
    options.OnFailure = "ContainerStuffingOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("AddEditAmendmentContainerStuffing", "Kol_CWCExport", options))
                {
                    @Html.AntiForgeryToken()
                    <div id="DivEditContainerStuffingA">
                        @Html.HiddenFor(m => m.StuffingReqId)
                        @Html.HiddenFor(m => m.StuffingXML)
                        @Html.Hidden("StuffingReqDtlId")
                        @Html.Hidden("ContainerStuffingDtlId")
                      
                    </div>
                    <div class="panel with-nav-tabs panel-primary cwc_panel">
                        <div class="panel-heading cwc_panel_heading">
                            <ul class="nav nav-tabs" id="DivTabs">
                                <li class="active"><a href="#DivContainerStuffing" data-toggle="tab">Amendment Container Stuffing</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="DivContainerStuffing">
                                    <div id="DivAddContainerStuffing">

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Stuffing No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    <span class="ReQSimbol">*</span>
                                                    @Html.HiddenFor(m => m.ContainerStuffingId)
                                                    @Html.TextBoxFor(m => m.StuffingNo, new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('DivModalStuffingNo');" })
                                                    <span class="search" id="SearchStuffingNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DivModalStuffingNo"></i></span>
                                                    @Html.ValidationMessageFor(m => m.StuffingNo, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Stuffing Date:</label>
                                                </div>
                                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                                    @Html.TextBoxFor(m => m.StuffingDate, new { @class = "form-control input-sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.StuffingDate, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Request No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.StuffingReqNo, new { @class = "form-control input-sm", @readonly = true })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Request Date:</label>
                                                </div>
                                                <div class="col-md-2-5 col_cus_2_5">
                                                    @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control input-sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.RequestDate, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div id="DivContainerNo" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Container No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                    <label>CFS Code:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("CFSCode", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true@*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@})
                                                    @Html.ValidationMessage("CFSCode", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Foreign liner:</label>
                                                </div>
                                                <div class="col-md-4-5">
                                                    @Html.TextBoxFor(m => m.ForeignLiner)

                                                </div>
                                                <div class="col-md-1-5 col-md-offset-2 col_cus_offset_3 col_cus_2">
                                                    <label>Vessel:</label>
                                                </div>
                                                <div class="col-md-2-5 col_cus_2_5">
                                                    <span class="ReQSimbol"></span>
                                                    @Html.TextBoxFor(m => m.Vessel)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Via :</label>
                                                </div>
                                                <div class="col-md-4-5">
                                                    @Html.TextBoxFor(m => m.Via)

                                                </div>
                                                <div class="col-md-1-5 col-md-offset-2 col_cus_offset_3 col_cus_2">
                                                    <label>Voyage:</label>
                                                </div>
                                                <div class="col-md-2-5 col_cus_2_5">
                                                    <span class="ReQSimbol"></span>
                                                    @Html.TextBoxFor(m => m.Voyage)
                                                </div>
                                            </div>
                                        </div>

                                        <div id="DivContainerSize" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Container Size:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.DropDownList("Size", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="20",Value="20"},
                                            new SelectListItem { Text="40",Value="40"},
                                            new SelectListItem { Text="ODC",Value="ODC"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                                    @Html.ValidationMessage("Size", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="boolean-container">
                                                        @Html.RadioButton("StuffingType", "FCL", new { @class = "", @id = "FCL" })
                                                        <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="boolean-container">
                                                        @Html.RadioButton("StuffingType", "LCL", new { @class = "", @id = "LCL" })
                                                        <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-offset-0-5 col-md-3">
                                                    <div class="boolean-container">
                                                        @Html.CheckBoxFor(m => m.DirectStuffing, new { @id = "chkDS" })
                                                        <label for="chkDS"><i class="square"></i><span>Direct Stuffing</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivShippingLine" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Shipping Line:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextBox("ShippingLine", "", new { @class = "form-control input-sm", @readonly = true })
                                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                                    @Html.Hidden("ShippingLineId")
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivShippingSeal" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Shipping Seal:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBox("ShippingSeal", "", new
                                               {
                                                   @class = "form-control input-sm"
                                               })
                                                </div>
                                                <div class="col-md-1-5 col_cus_offset_0_5 col-md-offset-1 padding_rt">
                                                    <label>Custom Seal:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBox("CustomSeal", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @maxlength = "30"@*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@})
                                                    @Html.ValidationMessage("CustomSeal", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Remarks:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px" })
                                                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivShippingSeal" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Final Destination location:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(x => x.FinalDestinationLocation, "", new { @class = "form-control input-sm", @readonly = true })
                                                    <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="GetFinalDestination()" data-toggle="modal" data-target="#modelFinalDestinationlocation"></i></span>
                                                    @Html.HiddenFor(x => x.FinalDestinationLocationId)
                                                </div>
                                                <div class="col-md-1-5 col_cus_offset_0_5 col-md-offset-1 padding_rt">
                                                    <label>Equipment Seal Type:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("EquipmentSealType", new List<SelectListItem>
                                                   {
                                                   new SelectListItem { Text="Bottle-Seal",Value="BTSL"},
                                                   new SelectListItem { Text="E-Seal",Value="ESEAL"},
                                                   new SelectListItem { Text="Others",Value="OTH"},
                                                   }, new { @class = "form-control input-sm dropdown" })
                                                    @Html.ValidationMessage("EquipmentSealType", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>


                                        <div id="DivShippingSeal" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Equipment Status:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("EquipmentStatus", new List<SelectListItem>
                                                  {
                                                  new SelectListItem { Text="Intact",Value="94"},
                                                  new SelectListItem { Text="Damaged",Value="218"}
                                                  }, new { @class = "form-control input-sm dropdown" })
                                                    @Html.ValidationMessage("EquipmentStatus", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1-5 col_cus_offset_0_5 col-md-offset-1 padding_rt">
                                                    <label>Equipment QUC:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("EquipmentQUC", new List<SelectListItem>
                                                    {
                                                    new SelectListItem { Text="Package",Value="PKG"},
                                                    new SelectListItem { Text="Kilogram",Value="KGS"},
                                                    }, new { @class = "form-control input-sm dropdown" })
                                                    @Html.ValidationMessage("EquipmentQUC", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivContainerStuffingDetails" class="Head_h5">
                                         
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                                        <label>Shipping Bill No:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("ShippingBillNo", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @maxlength = "30"
                                                   })
                                                    </div>
                                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                        <label>Shipping Bill Date:</label>
                                                    </div>
                                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                                        @Html.TextBox("ShippingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>CHA:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.Hidden("CHAId")
                                                        @Html.TextBox("CHA", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAHdrModal"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Exporter:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.Hidden("ExporterId")
                                                        @Html.TextBox("Exporter", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Consignee:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.TextBox("Consignee", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @maxlength = "50"
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Cargo Description:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.TextArea("CargoDescription", "", new
                                                   {
                                                       @style = "width:100%;height:75px"
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Marks & No:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("MarksNo", "", new
                                                   {
                                                       @class = "form-control input-sm"
                                                   })
                                                    </div>
                                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                        <label>FOB Value:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("Fob", "", new
                                                   {
                                                       @class = "form-control input-sm"
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Stuffed Qty:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("StuffQuantity", "", new
                                                   {
                                                       @class = "form-control input-sm"
                                                   })
                                                    </div>
                                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                        <label>Stuffed Wt:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("StuffWeight", "", new
                                                   {
                                                       @class = "form-control input-sm"@*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)"*@})
                                                        @*@Html.ValidationMessage("CUM", new { @class = "Error_Msg" })*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Insured:</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="boolean-container">
                                                            <input type="checkbox" id="Insured" />
                                                            <label for="Insured"><i class="square"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-offset-4 col-md-2">
                                                    <input type="button" id="BtnAddContainerStuff" class="btn log_Btn_sm" value="Add" onclick="SaveContainerStuffingDtl()" disabled />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="button" class="btn log_Btn_sm" value="Reset" />
                                                </div>
                                            </div>
                                            <div id="DivContainerStuffingTblErrMsg" class="logErrMsg Form_Space_bottom Form_Space_top" style="background-color:transparent"></div>
                                            <table class="table table-striped table-bordered dataTable" id="TblContainerStuffing" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">@Html.DisplayName("SL No")</th>
                                                        <th>@Html.DisplayName("Shipping Bill No")</th>
                                                        <th>@Html.DisplayName("Shipping Bill Date")</th>
                                                        <th>@Html.DisplayName("Exporter")</th>
                                                        <th>@Html.DisplayName("Stuffed Qty")</th>
                                                        <th>@Html.DisplayName("Stuffed Wt")</th>
                                                        <th class="text-center">@Html.DisplayName("Edit")</th>
                                                        <th class="text-center">@Html.DisplayName("View")</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-2 SignUp_space_bottom">
                            <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSaveContainerStuff" />
                        </div>
                        <div class="col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="LoadContainerStuffing()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="BtnCIMSF" class="btn log_Btn_sm" disabled value="CIM SF" onclick="SendSF()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" style="background-color:transparent" id="DivContainerStuffingMsg"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivContainerStuffingErrMsg"></div>

                }
                @Scripts.Render("~/bundles/jqueryval")
            </div>
            <div class="row Form_Space_top">
                <div class="col-md-2">
                    <input type="button" id="btnContainerStuffList" value="Show List" class="btn log_Btn_sm" onclick="GetContainerStuffList()" />
                </div>
                <div class="col-md-offset-6 col-md-2">
                    <input type="text" placeholder="Search by Container Stuffing No" id="SearchCSNo" />
                </div>

                <div class="col-md-2">
                    <input type="button" value="Search" onclick="SearchCSNo()" class="btn log_Btn_sm" />
                </div>
            </div>
            <div class="row">
                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="DivContainerStuffingList"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="DivModalStuffingNo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ModalStuffingNoClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of Stuffing No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SearchStuffingNoBox" type="text" tabindex="=401" />
                <ul class="navList" id="LstStuffingNo"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ModalStuffingNoClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DivModalStuffingReqNo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of Request No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SearchReqNo" type="text" />
                <ul class="navList" id="LstRequestNo">
                    @{
                        if (ViewBag.LstRequestNo != null)
                        {
                            foreach (var data in ViewBag.LstRequestNo)
                            {
                                <li id="@data.Value">@data.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CHAHdrModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of CHA</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SearchCHAHdr" type="text" />
                <ul class="navList" id="ListOfCHAHdr">
                    @{
                        if (ViewBag.CHAList != null)
                        {
                            foreach (var data in ViewBag.CHAList)
                            {
                                <li id="@data.Value">@data.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ExporterModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List Of Exporter</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SearchExporter" type="text" />
                <ul class="navList" id="LstExporter">
                    @{
                        if (ViewBag.ListOfExporter != null)
                        {
                            foreach (var data in ViewBag.ListOfExporter)
                            {
                                <li id="@data.Value">@data.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLineBox" type="text" />
                <ul class="navList" id="ShippingLineList">
                    @{
                        if (ViewBag.ShippingLineList != null)
                        {
                            foreach (var item in ViewBag.ShippingLineList)
                            {
                                <li id="@item.Value">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ContainerModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ContainerBox" type="text" />
                <ul class="navList" id="ContainerList">
                    @*<li></li>*@
                    @*@{
                            if (ViewBag.ContainerList != null)
                            {
                                foreach (var item in ViewBag.ContainerList)
                                {
                                    <li id="@item.Value">@item.Text</li>
                                }
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mTabindex" id="modelFinalDestinationlocation" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="DestinationModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Final Destination</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="DestinationBox" type="text" tabindex="401" />
                <ul class="navList" id="FinalDestinationList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="DestinationModalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



