@model CwcExim.Areas.Export.Models.Kol_LoadShipBillNo
@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}
@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}

@using (Ajax.BeginForm("UpdateLoadedRqtData", "Kol_CWCExport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "UpdateLoadedRqtOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Loaded Cont Payment Sheet / Invoice</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Request No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.Hidden("StuffingReqId")
                                @*@Html.TextBoxFor(m => m.StuffingReqNo, new { @readonly = true })*@
                                @Html.TextBox("StuffingReqNo", "", new { @readonly = true })
                                <span class="search" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#stuffingModal"></i></span>
                                @*@Html.ValidationMessageFor(m => m.StuffingReqNo)*@
                            </div>
                     
                            <div class="col-md-1-5 col_cus_2">
                                <label>SB No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @*@Html.HiddenFor(m => m.SBNo)*@
                                @Html.TextBox("SBNo", "", new { @readonly = true })
                                <span class="search" id="SBNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBNoModal"></i></span>                   
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Package:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
             
                         
                                @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                @Html.TextBox("Pacakage", "")
                                @*<span class="search" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>*@
                                @*@Html.ValidationMessageFor(m => m.PartyName)*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Weight:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                            
                                @*@Html.TextBoxFor(m => m.PayeeName, new { @readonly = true })*@
                                @Html.TextBox("weight", "")
                                @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Pkg From :</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                        
                                @Html.TextBox("PacakageFrom", "")
                                @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Pkg To :</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBox("PacakageTo", "")
                                @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                    <div class="row SignUp_space_bottom2">
                        <div class="col-md-offset-1-5 col-md-2">
                            <input type="submit" value="Save" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                        </div>
                        <div class="col-md-3">
                            @*<input type="button" id="BtnGenerateIRN" class="btn log_Btn_sm" value="Generate IRN" onclick="GenerateIRN()" disabled="disabled" />*@
                        </div>
                        <div class="col-md-2">
                            @*<input type="button" value="Print" class="btn log_Btn_sm" onclick="Print()" id="btnPrint" disabled />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")
<div id="stuffingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Request</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mTabindex" id="SBNoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="SBNoModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipbill</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Shipbill" id="SBNobox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchShipbill()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="10" width="100%">ShippingbillNo</th>

                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_sb">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                        <tbody>
                            @*@{
                                if (ViewBag.ListOfSBNo != null)
                                {
                                    var tabvalue = 401;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.ListOfSBNo)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="selectSBNo('@item.SBNo')" onclick="selectSBNo('@item.SBNo')">
                                            <td colspan="10" width="100%" class="txt_wrp">@item.SBNo</td>

                                        </tr>
                                        tab++;
                                    }
                                }
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.StateShipbill != null && Convert.ToBoolean(ViewBag.StateShipbill) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreSb()" class="btn log_Btn_sm" id="btnLoadMorePayee">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreSb()" class="btn log_Btn_sm" id="btnLoadMorePayee" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseShipbill()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;


        StuffingReqBinding();
        PartyBinding();
        PayeeBinding();
    });

            function ResetField() {
        
                $('#PacakageFrom').val("");
                $('#PacakageTo').val("");
                $('#Pacakage').val("");
                $('#weight').val("");
            }


    function StuffingReqBinding() {
        debugger;
        if ($('#hdnStuffingReq').val() != '') {
            var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
            var html = '';
            $.each(StuffingJson, function (i, item) {
                html += '<li id="' + item.StuffingReqId + '" onclick="selectStuffing(' + item.StuffingReqId + ');">' + item.StuffingReqNo + '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectStuffing(id) {
        debugger;
        //added
        $('#tblContainer tbody').html('');
        //
        var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.StuffingReqId == id; })[0];
        $('#StuffingReqId').val(StuffingRequest.StuffingReqId);
        $('#StuffingReqNo').val(StuffingRequest.StuffingReqNo);

        $('#SBNo').val('');
        $("#stuffingModal").modal("hide");
        ContainerBinding(id);
        LoadSB(id);
    }
    function ContainerBinding(id) {
        debugger;
        $('#lstcfsCode tbody').html(''); // added since cont details not getting updated in case there is no container againt stuffreqid
        $.ajax({
            url: '/Export/Kol_CWCExport/GetLoadedPaymentSheetContainer',
            type: 'GET',
            data: { StuffingReqId: id },
            dataType: 'JSON',
            success: function (data) {
                debugger;

                $('#ContainerJson').val(data);
                debugger;
                ContainerJson = JSON.parse(data);
                var html = '';
                $.each(ContainerJson, function (i, item) {
                    if (item.Selected)
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" checked id="' + item.CFSCode + '"/><label for="' + item.CFSCode + '" style="text-align:center;"><i class="square"></i></label></div></td><td>' + item.CFSCode + '</td><td class="text-center">' + item.ContainerNo + '</td></tr>';
                    else
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" id="' + item.CFSCode + '"/><label for="' + item.CFSCode + '" style="text-align:center;"><i class="square"></i></label></div></td><td>' + item.CFSCode + '</td><td class="text-center">' + item.ContainerNo + '</td></tr>';
                });
                $('#lstcfsCode tbody').html(html);
            }
        });
    }




    var Page = 0;

    function LoadSB(id) {
        var StuffingReqId = $('#StuffingReqId').val();
        debugger;
        Page = 0;
        $.ajax({
            url: '/Export/Kol_CWCExport/LoadContainerSbLists',
            type: 'GET',
            data: { StuffingReqId: id, Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="selectSBNo(' + elem.SBNo + ')" onclick="selectSBNo( ' + elem.SBNo + ')"><td colspan="8" width="80%" class="txt_wrp">' + elem.SBNo + '</td></tr>';
                    });

                    $('#tbleParty tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMorePayee').prop('disabled', false);
                    else $('#btnLoadMorePayee').prop('disabled', true);
                }
            }
        });
    }
    var Page = 0;
    function LoadMoreSb() {
        debugger;
        $.ajax({
            url: '/Export/Kol_CWCExport/LoadSbLists',
            type: 'GET',
            data: { sb: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.LstSB, function (item, elem) {
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="selectSBNo(' + elem.SBNo + ')" onclick="selectSBNo( ' + elem.SBNo + ')"><td colspan="8" width="80%" class="txt_wrp">' + elem.SBNo + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleParty tbody').html(html);
                    else
                        $('#tbleParty tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadMorePayee').prop('disabled', false);
                    else $('#btnLoadMorePayee').prop('disabled', true);
                }
            }
        });
    }
    /*$('#Partybox').on('keyup', function (e) {
    function Partyboxkeyup(e)
    {
        if ((e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 13 || e.keyCode == 46 || e.keyCode == 47)
        {
            SearchPartyByPartyCode();
        }
    }
    });*/
    function SearchShipbill() {
        debugger;
        if ($('#SBNobox').val() != '') {
            $.ajax({
                url: '/Export/Kol_CWCExport/SearchShipbill',
                type: 'GET',
                data: { sb: $('#SBNobox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        var tab = 401;
                        $.each(data.Data.LstSB, function (item, elem) {
                            html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="selectSBNo(' + elem.SBNo + ')" onclick="selectSBNo( ' + elem.SBNo + ')"><td colspan="8" width="80%" class="txt_wrp">' + elem.SBNo + '</td></tr>';
                        });
                        $('#tbleParty tbody').html('');
                        $('#tbleParty tbody').html(html);
                        $('#btnLoadMorePayee').prop('disabled', true);
                        Page = -1;
                    }
                    else {
                        $('#tbleParty tbody').html('');
                        Page = -1;
                        $('#btnLoadMorePayee').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadSB();
    }




    function CloseShipbill() {
        $('#SBNobox').val('');
        $("#SBNoModal").modal("hide");
        LoadSB();
        // $('#PartyName').focus();
    }

    function selectSBNo(id) {
        debugger;
        $('#SBNo').val(id);
        if ($('#SBNo').val() > 0) {

            $.ajax({
                url: '/Export/Kol_CWCExport/GetLoadedSBNoBySBNo',
                type: 'Get',
                data: { SBNo: $('#SBNo').val() },
                async: false,
                success: function (data) {
                    if (data != null) {
                        debugger;
                     
                        $('#SBNo').val(data.SBNo);
                        GetDataByLoaderNoAndSBNo();
                     

                    }
                }
            });
        }

        $("#SBNoModal").modal("hide");
        $('[data-valmsg-for="SBNo"]').html('<span></span>');
    }
   

    function SBNoModalClose() {
        $("#SBNoModal").modal("hide");
        $('#SBNobox').val('');
        $('#SBNo').focus();
    }



    function GetDataByLoaderNoAndSBNo() {
        debugger;

        var LoaderNo = $('#StuffingReqId').val();
        var SBNo = $('#SBNo').val();
  /*      $('#SBNo').val(id);*/
            $.ajax({
                url: '/Export/Kol_CWCExport/GetLoadedAllData',
                type: 'Get',
                data: { SBNo: SBNo, LoaderNo: LoaderNo },
                async: false,
                success: function (data) {
                    debugger;
                    if (data != null) {
                        debugger;
                        $('#SBNo').val(data[0].SBNo);
                        $('#PacakageFrom').val(data[0].PacakageFrom);
                        $('#PacakageTo').val(data[0].PacakageTo);
                        $('#Pacakage').val(data[0].Pacakage);
                        $('#weight').val(data[0].weight);


                    }
                }
            });
        
    }

    function UpdateLoadedRqtOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            alert(data.Message);
            //if ($('#DivMsg').hasClass('logErrMsg'))
            //    $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            //$('#DivMsg').html(data.Message);
            // ResetAllFields();
            //LoadActualArrivalList();
            // setTimeout(function () { $('#DivMsg').html(''); }, 5000);

        }
        else {
            alert(data.Message);
            //if ($('#DivMsg').hasClass('logSuccMsg'))
            //    $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            //$('#DivMsg').html(data.Message);
        }

    }
</script>


