@model IEnumerable<CwcExim.Areas.GateOperation.Models.ListOfGP>

<table class="table table-bordered table-striped" id="tblGP">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>@Html.DisplayName("Gate Pass No")</th>
            <th>@Html.DisplayName("Gate Pass Date")</th>
            <th>@Html.DisplayName("Invoice No")</th>
            <th>@Html.DisplayName("Is Cancelled")</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
            <th class="text-center">@Html.DisplayName("Cancel")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@item.GatePassNo</td>
                    <td>@item.GatePassDate</td>
                    <th>@item.InvoiceNo</th>
                    <td>@item.IsCancelled</td>
                    <td class="text-center"><a href="#" onclick="EditGatePass(@item.GatePassId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewGatePass(@item.GatePassId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteGatePass(@item.GatePassId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PreviewGatePass(@item.GatePassId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="CancelGatePass(@item.GatePassId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    var Page = 0;
    $(document).ready(function () {
        var tblGP = $('#tblGP').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "Sl No", "width": "8%" },
                       { "sName": "Gate Pass No", "bSortable": false },
                       { "sName": "Gate Pass Date & Time", "bSortable": false },
                       { "sName": "Invoice No", "bSortable": false },
                       { "sName": "Is Cancelled", "bSortable": false },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Delete", "bSortable": false, "width": "10%" },
                       { "sName": "Preview", "bSortable": false, "width": "10%" },
                       { "sName": "Cancel", "bSortable": false, "width": "10%" },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                //$('td:eq(4),td:eq(7),td:eq(8),td:eq(9),td:eq(10)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "5%");
                $('td:eq(1)', nRow).css("width", "15%");
                $('td:eq(2)', nRow).css("width", "15%");
                $('td:eq(3)', nRow).css("width", "10%");
                $('td:eq(4)', nRow).css("width", "10%");
                $('td:eq(5)', nRow).css("width", "10%");
                $('td:eq(6)', nRow).css("width", "10%");
                $('td:eq(7)', nRow).css("width", "10%");
                $('td:eq(8)', nRow).css("width", "10%");
                $('td:eq(9)', nRow).css("width", "10%");
            }
        });
        new $.fn.dataTable.FixedHeader(tblGP);
    });
    
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/GateOperation/Loni_GatePass/LoadMoreListOfGatePass',
            type: 'GET',
            dataType: 'JSON',
            data:
                {Page: Page + 1},
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblGP').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.GatePassNo],
        [item.GatePassDate],
        [item.InvoiceNo],
        [item.IsCancelled],
        ['<a href="#" onclick=EditGatePass(' + [item.GatePassId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#" onclick=ViewGatePass(' + [item.GatePassId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
        ['<a href="#" onclick=DeleteGatePass(' + [item.GatePassId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
        ['<a href="#" onclick=PreviewGatePass(' + [item.GatePassId] + ')><i class="fa fa-print Print"></i></a>'],
        ['<a href="#" onclick=CancelGatePass(' + [item.GatePassId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }

    function EditGatePass(GatePassId) {
        $('#DivBody').load('/GateOperation/Loni_GatePass/EditGatePass?GatePassId=' + GatePassId);
    }
    function ViewGatePass(GatePassId) {
        $('#DivBody').load('/GateOperation/Loni_GatePass/ViewGatePass?GatePassId=' + GatePassId);
    }
    function DeleteGatePass(GatePassId) {
        
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/Loni_GatePass/DeleteGatePass',
                type: 'POST',
                data: { GatePassId: GatePassId },
                dataType: 'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data) {
                    debugger;
                    if (data.Status == 1){                       
                        $('#DivBody').load('/GateOperation/Loni_GatePass/CreateGatePass');
                        alert(data.Message);
                    }
                    else
                        alert(data.Message);
                }
            });
        }
    }
    function PreviewGatePass(GatePassId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/GateOperation/Loni_GatePass/GatePassPrint',
            type: 'POST',
            data: { GatePassId: GatePassId },
            dataType: 'JSON',
            headers: { '__RequestVerificationToken': Token },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }
    function CancelGatePass(GatePassId) {
        var Confirm = confirm("Are you sure you want to cancel?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/Loni_GatePass/CancelGatePass',
                type: 'POST',
                data: { GatePassId: GatePassId },
                dataType: 'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data)
                {
                    $('#DivBody').load('/GateOperation/Loni_GatePass/CreateGatePass');
                    alert(data.Message);
                }
            });
        }
    }
</script>