@model CwcExim.Areas.Export.Models.Dnd_CargoShiftingShipBillDetails

@if (ViewBag.ShippingLine != null)
{
    <input type="hidden" id="hdnShippingLine" value="@ViewBag.ShippingLine" />
}
else
{
    <input type="hidden" id="hdnShippingLine" value="" />
}

@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}

    <div class="container-fluid">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div id="DivAddCartingRegister">
                    @using (Ajax.BeginForm("AddEditCargoShiftingApproval", "Dnd_CWCExport", new AjaxOptions
                    {                        
                        HttpMethod = "POST",
                        OnSuccess = "RegisterOnSuccess",
                        OnFailure = "RegisterOnFailure",
                        Confirm = "Are You Sure Want To Save?",
                    }, new { @Id = "frmCartingReg" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CartingRegisterDtlId)
                        @Html.HiddenFor(m => m.RegisterDate)
                        @Html.HiddenFor(m => m.CargoShiftingId)
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Cargo Shifting Approval</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shifting No :</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ShiftingNo, new { @class = "form-control input-sm", @readonly = true })                                    
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Shifting Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @*<input class="form-control input-sm" id="ShiftngDate" name="ShiftngDate" readonly="true" type="text">*@
                                    @Html.TextBoxFor(m=>m.ShiftingDt, new{ @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Bill No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.ShippingBillNo, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.ShippingBillNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Shipping Bill Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.ShippingBillDate, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping line</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.HiddenFor(m => m.ShippinglineId)
                                    @Html.TextBoxFor(m => m.ShippingLineName, "", new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>No Of Pkg</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.ActualQty, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Weight:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.ActualWeight, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>FOB</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.FOB, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Area:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.SQM, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>From Godown:</label>
                                    </div>
                                    <div class="col-md-2-5">                                       
                                        @Html.TextBoxFor(m => m.FromGodownName, new { @class = "form-control input_sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>To Godown:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">                                       
                                        @Html.TextBoxFor(m => m.ToGodownName, new { @class = "form-control input-sm", @readonly = true })                                       
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top" style="display:none">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>From Location:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.HiddenFor(m => m.FromLocationId)
                                        @Html.TextBoxFor(m => m.FromLocationName, new { @class = "form-control input_sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>To Location:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBox("Location", "", new { @class = "form-control input-sm", @readonly = true })
                                        <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                                        @Html.ValidationMessage("Location", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top">

                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <label>Remarks:</label>
                                    </div>
                                    <div class="col-md-10-5">
                                        <textarea id="Remarks" style="height:75px;" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Approve:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        <div class="boolean-container">                                                
                                                @Html.CheckBoxFor(m => m.IsApproved)
                                                <label for="IsApproved"><i class="square"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_bottom">
                                <div class="col-md-offset-3 col-md-2">
                                    <input type="submit" id="BtnMOveCargoShp" class="btn log_Btn_sm" onclick="return Validate();" value="Move"/>
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="BtnResetCargoShp" class="btn log_Btn_sm" value="Reset" onclick="ResetPage()" />
                                </div>
                            </div>
                            <div id="DivShiftingRegMsg" class="logSuccMsg" style="background-color:transparent"></div>
                            <div id="DivShiftingRegErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                            }
                        </div>
                <div class="row">
                    <div class="col-md-2 SignUp_space_bottom">
                        <input type="button" id="BtnCargoShifting" value="Show List" class="btn log_Btn_sm" onclick="LoadRegisterList()" />
                    </div>

                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-4 col-md-2-5" style="text-align:right;">
                                <label>Shifting No./SB No. :</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBox("Shiftsearchtxt")
                                @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                                <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="LoadCartingSearch()"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="tblEntryDet"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivCargoShiftList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                        @*@{
                                foreach (var item in Model.lstGdnWiseLctn)
                                {
                                    @Html.Label(item.Row + " " + item.Column, new { @for = item.LocationId })
                                    @Html.CheckBox(@item.LocationId.ToString())
                                }
                            }*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Bill No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                <ul class="navList" id="CartingRegList">
                    @{
                        foreach (var item in Model.lstAppNo)
                        {
                            <li id="@item.CargoShiftingId">@item.ApplicationNo</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var LocationDetails = [];
    //$('#ShiftingDt').datetimepicker({
    //    showOn: "button",
    //    buttonImage: "/Content/images/calendar.png",
    //    buttonImageOnly: true,
    //    dateFormat: "dd/mm/yy",
    //    altField: "#slider_example_4andHalf_alt",
    //    altFieldTimeOnly: false,
    //    onClose: function () {
    //        $(".Date_Img .Error_Msg").text("");
    //        $('[data-valmsg-for="Data"]').html('<span></span>');
    //    }
    //});
   
    function ResetPage()
    {
        $('#DivBody').load('/Export/Dnd_CWCExport/CreateCargoShiftingApproval');
    }
    

    $('#box').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CartingRegList > li').show();
        } else {
            $('#CartingRegList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#CartingRegList li').on("click", function () {
        debugger;
        $('#ShippingBillNo').val($(this).text());
        $('#CargoShiftingId').val($(this).attr('id'));
        $("#myModal").modal("hide");
        $('[data-valmsg-for="ShippingBillNo"]').html('<span></span>');
        GetRegisterDetails($(this).attr('id'));
    });

    function GetRegisterDetails(CargoShiftingId) {
        debugger;
        $.ajax({
            url: '/Export/Dnd_CWCExport/GetApplicationDetForCargoShiftingApproval',
            type: 'GET',
            data: { CargoShiftingId: CargoShiftingId },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                $('#ShiftingNo').val(data.ShiftingNo)
                $('#ShiftingDt').val(data.ShiftingDt)
                $('#CartingRegisterDtlId').val(data.CartingRegisterDtlId);
                $('#ShippingBillDate').val(data.ShippingBillDate);
                $('#ShippingLineId').val(data.ShippingLineId);
                $('#ShippingLineName').val(data.ShippingLineName);
                $('#FromGodownId').val(data.FromGodownId);
                $('#FromGodownName').val(data.FromGodownName);                
                $('#ToGodownName').val(data.ToGodownName);
                $('#FromLocationId').val(data.FromLocationId);
                $('#FromLocationName').val(data.FromLocationName);
                $('#ActualQty').val(data.ActualQty);
                $('#ActualWeight').val(data.ActualWeight);
                $('#FOB').val(data.FOB);
                $('#SQM').val(data.SQM);
                $('#RegisterDate').val(data.RegisterDate);

                //ArrayOfCartingRegDtl = data.lstRegisterDtl;
                //GenerateCartingRegTable();
                //LocationDetails = data.lstGdnWiseLctn;
                //LocationDet();                
            }
        });
    }

    function RegisterOnSuccess(data) {
        if (data.Status == 1) {
            $('#DivShiftingRegMsg').html(data.Message);            
            setTimeout(ResetPage, 5000);
            $('#BtnMOveCargoShp,#BtnResetCargoShp').prop("disabled", false);            
        }
        else {
            $('#DivShiftingRegErrMsg').html(data.Message);
            setTimeout(function () { $('#DivShiftingRegErrMsg').html(''); }, 5000);
        }
    }
    function RegisterOnFailure() {

    }
    function LoadRegisterList() {
        debugger;
        $('#tblEntryDet').html('');
        $('#DivCargoShiftList').load('/Export/Dnd_CWCExport/ListShiftRegister');
    }

    function LoadCartingSearch() {
        if ($('#Shiftsearchtxt').val().trim() == '') {
            alert('Enter SB No. for searching');
            return;
        }
        $('#tblEntryDet').html('');
        var cartingsearch = encodeURI($('#Shiftsearchtxt').val().trim());
        // $('#CCINEntryList').empty();
        $('#DivCargoShiftList').load('/Export/Dnd_CWCExport/ListOfShiftingSearch?Search=' + cartingsearch);

    }
    function Validate() {
        debugger;
        $('#DivShiftingRegMsg').html('');
        //$('#BtnMOveCargoShp').prop("disabled", true);
        var IsValid = true;
        var FGod = $('#FromGodownName').val();
        var TGod = $('#ToGodownName').val();
        var From = $('#ShiftingDt').val().split(' ')[0];
        var To = $('#RegisterDate').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate < ToDate) {
            $('#DivShiftingRegMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Shifting Date must be greater than Carting Date');
            IsValid = false;
            $('#BtnMOveCargoShp').attr("disabled", false);
        }
        else {
            IsValid = true;
        }
        //check for same godown
        if (FGod == TGod)
        {
            $('#DivShiftingRegMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('From Godown and To Godown Cannot be Same');
            IsValid = false;
            $('#BtnMOveCargoShp').attr("disabled", false);
        }

        var x = document.getElementById("IsApproved").checked;
        if (x == false || x == undefined) {
            alert('Please select approve check box');
            IsValid = false;
        }

        return IsValid;
    }

</script>
@Scripts.Render("~/bundles/jqueryval")