@model CwcExim.Areas.Export.Models.Dnd_VesselInf
<script>



    $('#ETA').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ETA']").html('');
        }
    });
    $('#ETD').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='ETD']").html('');
        }
    });






</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                @using (Ajax.BeginForm("CreateVesselInformation", "Dnd_CWCExport", new AjaxOptions
                {
                    Confirm = "Are you sure you want to Save?",
                    HttpMethod = "POST",
                    OnSuccess = "CartingOnSuccess",
                    OnFailure = "CartingOnFailure",
                    InsertionMode = InsertionMode.InsertAfter
                }))


                {
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Vessel Information</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">

                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>VIA:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.VIA, new { @class = "form-control input_sm" })
                                @Html.ValidationMessageFor(m => m.VIA, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Vessel</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @* @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input_sm", @readonly = true })*@
                                @* @Html.ValidationMessageFor(m => m.ApplicationDate, "", new { @class = "Error_Msg" })*@
                                @Html.TextBoxFor(m => m.Vessel, new { @class = "form-control input_sm" })
                                @Html.ValidationMessageFor(m => m.Vessel, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>VIA:</label>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>VIA:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.ETD, new { @class = "form-control input_sm" })
                                        @Html.ValidationMessageFor(m => m.ETD, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>Vessel</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @* @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input_sm", @readonly = true })*@
                                        @* @Html.ValidationMessageFor(m => m.ApplicationDate, "", new { @class = "Error_Msg" })*@
                                        @Html.TextBoxFor(m => m.CutOfTime, new { @class = "form-control input_sm" })
                                        @Html.ValidationMessageFor(m => m.CutOfTime, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" disabled />
                        </div>



                    </div>
                    <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivCartingList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CHAModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

    </div>
</div>
<div class="modal fade" id="ExporterModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

    </div>
</div>
<div class="modal fade" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>











    $('#btnSave').on("click", function () {
        var Status = true;
        if ($('#ShippingBillNo').val() != "" || $('#CommInvNo').val() != "" || $('#PackingListNo').val() != "" || /*$('#Exporter').val() != "" ||*/
            $('#CargoDescription').val() != "" || $('#Commodity').val() != "" || $('#MarksAndNo').val() != "" || $('#NoOfUnits').val() != "" ||
            $('#Weight').val() != "" || $('#FobValue').val() != "" || $('#CargoType').val() != "") {
            $('#DivMsg').html('Add The Record To Save');
            Status = false;
        }
        else {
            if ($('#tblShippingDet>tbody').html() == '' || $('#tblShippingDet>tbody').html() == undefined) {
                $('#DivMsg').html('Add The Record To Save');
                Status = false;
            }
        }
        if (Status == true)
            $('#StringifyData').val(JSON.stringify(ArrayShippingDet));
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
        return Status;
    });
    function CartingOnSuccess(data) {
        if (data.Status == 1) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            ResetAllFields();
            LoadCartingAppList();
        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
    }
    function CartingOnFailure()
    { }
    function ResetAllFields() {
        $('[data-valmsg-for]').html('');
        $('input[type="text"],Select,textarea').val('');
        $('#ETA').val('');
        $('#ETD').val('');
        $('#tblShippingDet').html('');
        $('#StringifyData').val('');
        ArrayShippingDet = [];
        if ('@ViewData["IsExporter"]' == 'True') {
            $('#Exporter').val('@ViewData["ExporterName"]');
            $('#ExporterId').val('@ViewData["EximTraderId"]');
        }

        }


        $('#DivBody').load('/Export/Ppg_CWCExport/CreateCartingApplication');




</script>


