@model IEnumerable<CwcExim.Areas.Export.Models.Dnd_VesselInf>
<script>
    $(document).ready(function(){
        var TblVessel = $('#TblVessel').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "SL No", "width": "8%" },
                    //{ "sName": "VesselId" },
                    { "sName": "VIA" },
                    { "sName": "Vessel" },
                    { "sName": "Port Of Loading" },
                    //{ "sName": "PortOfLoadingName" },
                    { "sName": "ETA" },
                    { "sName": "ETD" },
                    { "sName": "CutOfTime" },
                    { "sName": "Edit", "bSortable": false, "width": "10%" },
                    { "sName": "View", "bSortable": false, "width": "10%" },                    
                    { "sName": "Delete", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblVessel);
    });

    function ViewVesselInfo(VesselId)
    {

        $('#DivBody').load('/Export/Dnd_CWCExport/ViewVesselInfo?VesselId=' + VesselId);
    }
    function EditVesselInfo(VesselId) {
        $('#DivBody').load('/Export/Dnd_CWCExport/EditVesselInfo?VesselId=' + VesselId);
    }
    function VesselInfo() {

        $('#DivBody').load('/Export/Dnd_CWCExport/CreateVesselInformation');
    }
    function DeleteVesselInfo(VesselId){
        var Confirm=confirm("Are you sure  to delete?")
        if(Confirm==true)
        {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Dnd_CWCExport/DeleteVesselInfo',
                headers: { '__RequestVerificationToken': Token },
                type:'POST',
                async:false,
                dataType:'JSON',
                data:{VesselId:VesselId},
                success:function(data){

                    if(data.Status==1)
                    {
                        alert(data.Message);
                        VesselInfo();
                    }
                    else if(data.Status==3 || data.Status==4 || data.Status==5 || data.Status==6 || data.Status==7)
                    {
                        alert(data.Message);
                    }
                    else {
                        alert(data.Message);
                    }
                }
            });

        }
    }
</script>
<table id="TblVessel" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            @*<th>VesselId</th>*@
            <th>VIA</th>
            <th>Vessel</th>
            <th>Port Of Loading</th>
            @*<th>PortOfLoadingName</th>*@
            <th>Expected Date Of Arrival</th>
            <th>Expected Date Of Departure</th>
            <th>Cut Off Time</th>
            <th style="text-align:center;">@Html.DisplayName("Edit")</th>
            <th style="text-align:center;">@Html.DisplayName("View")</th>            
            <th style="text-align:center;">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    @*<td>@Html.DisplayFor(m => item.VesselId)</td>*@
                    <td>@Html.DisplayFor(m => item.VIA)</td>
                    <td>@Html.DisplayFor(m => item.Vessel)</td>
                    <td>@Html.DisplayFor(m => item.PortOfLoadingName)</td>
                    @*<td>@Html.DisplayFor(m => item.PortOfLoadingName)</td>*@
                    <td>@Html.DisplayFor(m => item.ETA)</td>
                    <td>@Html.DisplayFor(m => item.ETD)</td>
                    <td>@Html.DisplayFor(m => item.CutOfTime)</td>
                    <td style="text-align:center"><a href="#" onclick="EditVesselInfo(@item.VesselId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="ViewVesselInfo(@item.VesselId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>                    
                    <td style="text-align:center"><a href="#" onclick="DeleteVesselInfo(@item.VesselId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
