@model IEnumerable <CwcExim.Areas.Export.Models.JobOrderList>

<table class="table table-bordered table-striped" id="tblJobOrder" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>@Html.DisplayNameFor(m => m.JobOrderNo)</th>
            <th>@Html.DisplayNameFor(m => m.JobOrderDate)</th>
            <th>@Html.DisplayNameFor(m => m.CHAName)</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.JobOrderNo</td>
                    <td>@item.JobOrderDate</td>
                    <td>@item.CHAName</td>
                    <td class="text-center"><a class="edit" href="#" onclick="EditJobOrder(@item.JobOrderId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a class="view" href="#" onclick="ViewJobOrder(@item.JobOrderId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a class="delete" href="#" onclick="DeleteJobOrder(@item.JobOrderId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PrintJODet(@item.JobOrderId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    
    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.lstMenu[0].CanEdit == 1) {
        //$('.edit').css('display', 'block');      
        //$('.edit').disabled=false;
    } else {
        //$('.edit').css('display', 'none');
        $('.edit').css('pointer-events','none');
        // $('.edit').attr('onclick', 'return false');
    }

    if (r2.lstMenu[0].CanDelete == 1) {
        //$('.delete').css('display', 'block');

    } else {
        //$('.delete').css('display', 'none');

        //   $('.delete').removeAttr('onclick');
        //  $('.delete').attr('onclick', 'return false');
        $('.delete').css('pointer-events', 'none');
    }

    if (r2.lstMenu[0].CanView == 1) {
        //$('.view').css('display', 'block');

    } else {
        //$('.view').css('display', 'none');
        //   $('.view').removeAttr('onclick');
        // $('.view').attr('onclick', 'return false');
        $('.view').css('pointer-events', 'none');
    }


    $(document).ready(function () {
        var tblJobOrder = $('#tblJobOrder').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "10%" },
                       { "sName": "Job Order No", "bSortable": false },
                       { "sName": "Job Order Date", "bSortable": false },
                       { "sName": "CHA" },
                       { "sName": "Edit", "bSortable": false, "width": "9%" },
                       { "sName": "View", "bSortable": false, "width": "9%" },
                       { "sName": "Delete", "bSortable": false, "width": "9%" },
                       { "sName": "Preview", "bSortable": false, "width": "9%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(tblJobOrder);
    });
    function EditJobOrder(JobOrderId)
    {
        $('#DivBody').load( '/Export/Ppg_CWCExport/EditJobOrder?JobOrderId=' + JobOrderId);
    }
    function ViewJobOrder(JobOrderId)
    {
        $('#DivBody').load( '/Export/Ppg_CWCExport/ViewJobOrder?JobOrderId=' + JobOrderId);
    }
    function DeleteJobOrder(JobOrderId)
    {
        var Confirm = confirm("Are you sure you want to delete?");
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Export/Ppg_CWCExport/DeleteJobOrder',
                type: 'POST',
                dataType: 'JSON',
                data: { JobOrderId: JobOrderId },
                headers:{"__RequestVerificationToken":Token},
                success: function (data) {
                    if(data.Status==1)
                    {
                        LoadJobOrderList();
                    }
                    else
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }
    function PrintJODet(JobOrderId)
    {
        var Token=$('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Export/Ppg_CWCExport/PrintJO',
            type:'POST',
            data:{JobOrderId:JobOrderId},
            headers:{"__RequestVerificationToken":Token},
            dataType:'JSON',
            success:function(data)
            {
                if(data.Status==1)
                    window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
                else
                    alert(data.Message);
            }
        });

    }
</script>

