@model CwcExim.Areas.Export.Models.DndExportEIR

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
        
                    <div class="row">
                        <div class="col-md-12">
                            <h4>EIR</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Container No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2 col-md-offset-1-5 col_cus_2 col_cus_offset_0_5 padding_rt">
                                <label>Gate Exit Date & Time:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.GateExitDate, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.GateExitDate, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.GateExitTime, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CFSCode:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CFSCOde, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.CFSCOde, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2 col-md-offset-1-5 col_cus_2 col_cus_offset_0_5 padding_rt">
                                <label>PortIn Date & Time:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.PortInDate, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.PortInDate, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                <div class="input-group clockpicker" data-placement="left" data-align="top">
                                    @Html.TextBoxFor(m => m.PortIntime, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Port Of Loading:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.PortOfLoading, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.PortOfLoading, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="stoke SignUp_space_top2 SignUp_space_bottom2"></div>
                        </div>
                            <div class="row">
                               
                                <div class="col-md-offset-4-5 col-md-2">
                                    <input type="button" id="btnReset" class="btn log_Btn_sm" value="Back" onclick="LoadEIRView()" />
                                </div>
                            </div>




                              

                                                      
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //LoadEIRList();
    });


  
    function LoadEIRView() {
        $('#DivBody').load('/Export/Dnd_CWCExport/CreateExportEIR');
    }

</script>


