@model CwcExim.Areas.Export.Models.Dnd_ExportDestuffing
<script src="~/Areas/Export/Scripts/App/Services/Dnd_ExpDestuffService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/Dnd_ExpDestuffCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('DestuffingAppDiv'), ['CWCApp']);

    //document.getElementById('LocationSearch').addEventListener('keyup', debounce(function () {
    //    if (document.getElementById('SearchPartyText').value != "")
    //        angular.element('#YardInvoiceController').scope().SearchPartyList();
    //    else
    //        angular.element('#YardInvoiceController').scope().LoadPartyList();
    //}, 800));
</script>
<style>
    .ang_srch {
        top: 25%;
        right: 6px;
        height: 21px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="DestuffingAppDiv" ng-controller="Dnd_ExpDestuffCtrl">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Export Destuffing</h4>
                    </div>
                </div>
                @*@using (Ajax.BeginForm("AddEditOBLEntry", "Ppg_OblEntry", new AjaxOptions
                    {
                        Confirm = "Are you sure you want to save?",
                        HttpMethod = "POST",
                        OnSuccess = "JobOrderOnSuccess",
                        OnFailure = "JobOrderOnFailure"
                    }))*@
                @{
                    @*@Html.AntiForgeryToken()*@
                    @Html.HiddenFor(m => m.DestuffingId)
                    @Html.HiddenFor(m => m.StringifiedText)  
                    <div id="DivJOHdr" class="Form_Space_bottom">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Export Destuffing No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.DestuffingNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.Destuffingdate, new { @size = 10, @maxlength = 10, @onkeyup = "check()", @onblur = "checkdate()", @readonly = true })
                                    <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.Destuffingdate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">




                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.Size, new { @class = "form-control input_sm", @readonly = true })
                                    <div class="field-validation-error" id="DivMsges" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CFS Code:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Godown Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.GodownName, "", new { @class = "form-control input-sm", @readonly = true })
                                    @Html.HiddenFor(m => m.GodownId)
                                    @Html.ValidationMessageFor(m => m.GodownName, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input_sm", @rows = "3", @maxlength = "1000", @readonly = true })
                                @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                                <div class="boolean-container">
                                    @Html.RadioButton("SpaceType", "ReservedSpace", new { id = "ReservedSpace", @disabled = true })
                                    <label for="ReservedSpace"><i class="circle"></i><span>Reserved Space</span></label>
                                </div>
                            </div>
                            <div class="col-md-2 col_cus_3">
                                <div class="boolean-container">
                                    @Html.RadioButton("SpaceType", "GeneralSpace", new { id = "GeneralSpace", @disabled=true})
                                    <label for="GeneralSpace"><i class="circle"></i><span>General Space</span></label>
                                </div>
                                @Html.HiddenFor(m => m.SpaceType, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivDestuffingDet" ng-hide="DestuffDetails.length==0">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="20%">Shipping Bill No</th>
                                            <th width="8%">SB Date</th>
                                            <th width="4%">Exporter</th>
                                            <th width="15%">Cargo Desc</th>
                                            <th width="10%">Commodity</th>
                                            <th width="10%">Cargo Type</th>
                                            <th width="5%">Weight(Kg)</th>
                                            <th width="5%">CUM</th>
                                            <th width="5%">Unit</th>
                                            <th width="8%">FOB</th>
                                            <th width="8%">Area Reserved</th>
                                            <th width="5%">Area Unreserved</th>
                                            <th>Location</th>
                                            @*<th class="text-center" style="width:10%;">View</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in DestuffDetails">
                                            <td>
                                                {{$index+1}}
                                            </td>
                                            <td width="10%"><input type="text" ng-model="j.SBNo" ng-disabled="true" /> </td>
                                            @*<td width="8%">
                                                    <input type="text" ng-model="j.OBL_Date"
                                                           name="date"
                                                           placeholder="dd/mm/yyyy"
                                                           onkeyup="var v = this.value;
                                                    if (v.match(/^\d{2}$/) !== null) {
                                                    this.value = v + '/';
                                                    } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                                    this.value = v + '/';
                                                    }"
                                                           maxlength="10" />
                                                </td>*@
                                            <td>
                                                <input type="text" id="date{{$index}}" ng-model="j.SBDate" name="date" placeholder="dd/mm/yyyy"
                                                       onkeyup="check(this.id)" ng-disabled="true" />

                                            </td>

                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.Exporter" id="Exporter_{{$index}}" ng-disabled="true" required />
                                                <input type="text" ng-hide="true" ng-model="j.EXPId" ng-disabled="true"  />
                                            </td>
                                            <td width="15%">
                                                <textarea class="col-xs-12" style="padding:3px; resize:none;" ng-model="j.cargoDesc" cols="2" ng-disabled="true"></textarea>
                                            </td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.Commodity" id="Commodity_{{$index}}" ng-disabled="true" required />
                                                <input type="text" ng-hide="true" ng-model="j.CommodityId" ng-disabled="true"  />
                                            </td>
                                            <td width="10%">
                                                <select ng-model="j.CargoType" ng-disabled="true"  required>
                                                    <option value=0>--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}}</option>
                                                </select>
                                            </td>
                                            <td width="5%"><input type="text" ng-model="j.GrWt" ng-disabled="true"/></td>

                                            <td width="5%"><input type="text" ng-model="j.CUM" ng-disabled="true" /></td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.Unit" ng-disabled="true" />
                                            </td>

                                            <td width="5%">
                                                <input type="text" ng-model="j.FOB" ng-disabled="true"/>
                                            </td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.ReservedSQM" ng-disabled="true" />
                                            </td>
                                            <td width="5%"><input type="text" ng-model="j.UnReservedSQM" ng-disabled="true" /></td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.Location" id="Location_{{$index}}" ng-disabled="true" required />
                                                <input type="text" ng-hide="true" ng-model="j.LocationId" ng-disabled="true" />
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="LoadDestuffingEntry()"/>
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div><br /></div>

               
            </div>

        </div>
    </div>

 
</div>

<script>
   
   
    function LoadDestuffingEntry() {
        $('#DivBody').load('/Export/Dnd_CWCExport/CreateExportDestuffing');
    }

</script>


