@model CwcExim.Areas.Export.Models.Dnd_ContainerStuffing

<script>
    var ArrayOfContainerStuff = [];
    $(function () {
        debugger;
        TimeInSeconds = 5000;
        ArrayOfContainerStuff=@Html.Raw(Json.Encode(Model.LstStuffing));
        GenerateContainerStuffTable();
        var radioValue = $("#TransportMode").val();
        if (radioValue == 2) {

            document.getElementById("Road").checked = true;
        }
        else {

            document.getElementById("Train").checked = true;
        }
    });
    function GenerateContainerStuffTable() {
        debugger;
        $('#TblContainerStuffing').hide();
        var Html = '';
        if (ArrayOfContainerStuff.length != 0) {
            $.each(ArrayOfContainerStuff, function (i, item) {
                debugger;
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ContainerNo + '</td><td>' + item.ShippingBillNo + '</td><td>' + item.ShippingDate + '</td><td>' + item.Exporter + '</td><td>' + item.StuffQuantity + '</td><td>' + item.StuffWeight + '</td><td class="text-center"><a href="#" onclick="ViewContainerStuff(' + i + ')"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td></tr>';
            });
            $('#TblContainerStuffing>tbody').html(Html);
            $('#TblContainerStuffing').show();
        }
    }




    function ViewContainerStuff(Index) {
        debugger;
        $('#BtnAddContainerStuff').prop("disabled", true);
       // if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
        //$('#DivShippingDetails').find('input').prop("disabled", true);
        $('#SearchContainerNo').css("display", "none");
        $('#ContainerNo').val(ArrayOfContainerStuff[Index].ContainerNo);
        $('#CFSCode').val(ArrayOfContainerStuff[Index].CFSCode);
        $('#Size').val(ArrayOfContainerStuff[Index].Size);
        $('#Origin').val(ArrayOfContainerStuff[Index].ContOrigin);
        $('#Via').val(ArrayOfContainerStuff[Index].ContVia);
        $('#ShippingLineId').val(ArrayOfContainerStuff[Index].ShippingLineId);
        $('#ShippingLine').val(ArrayOfContainerStuff[Index].ShippingLine);
        $('#ShippingSeal').val(ArrayOfContainerStuff[Index].ShippingSeal);
        $('#CustomSeal').val(ArrayOfContainerStuff[Index].CustomSeal);
        $('#' + ArrayOfContainerStuff[Index].StuffingType + '').prop("checked", true);
       // $('#StuffingType').val(ArrayOfCartingRegDtl[Index].StuffingType);
        $('#ShippingBillNo').val(ArrayOfContainerStuff[Index].ShippingBillNo);
        $('#ShippingDate').val(ArrayOfContainerStuff[Index].ShippingDate);
        $('#CHAId').val(ArrayOfContainerStuff[Index].CHAId);
        $('#ExporterId').val(ArrayOfContainerStuff[Index].ExporterId);
        $('#CHA').val(ArrayOfContainerStuff[Index].CHA);
        $('#Exporter').val(ArrayOfContainerStuff[Index].Exporter);
        $('#CargoDescription').val(ArrayOfContainerStuff[Index].CargoDescription);
        $('#Consignee').val(ArrayOfContainerStuff[Index].Consignee);
        $('#MarksNo').val(ArrayOfContainerStuff[Index].MarksNo);
        $('#Fob').val(ArrayOfContainerStuff[Index].Fob);
        $('#StuffQuantity').val(ArrayOfContainerStuff[Index].StuffQuantity);
        $('#StuffWeight').val(ArrayOfContainerStuff[Index].StuffWeight);
        $('#StuffingReqDtlId').val(ArrayOfContainerStuff[Index].StuffingReqDtlId);
        $('#ContainerStuffingDtlId').val(ArrayOfContainerStuff[Index].ContainerStuffingDtlId);
        // $('#Insured').val(ArrayOfContainerStuff[Index].Insured);
        ArrayOfContainerStuff[Index].Insured == 1 ? $('#Insured').prop("checked", true) : $('#Insured').prop("checked", false);
        ArrayOfContainerStuff[Index].Refer == 1 ? $('#Refer').prop("checked", true) : $('#Refer').prop("checked", false);
        ArrayOfContainerStuff[Index].IsOdc == 1 ? $('#IsOdc').prop("checked", true) : $('#IsOdc').prop("checked", false);
        Refer
        //}
        //else {
           // $('#DivCartingRegTblErrMsg').html('Please Add The Records');
       // }
    }

    function LoadContainerStuffing() {
        $('#DivBody').load( '/Export/Dnd_CWCExport/CreateContainerStuffing');
    }

</script>

@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ContainerStuffingOnSuccess";
    options.OnFailure = "ContainerStuffingOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<div class="container-fluid">


    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            @using (Ajax.BeginForm("AddEditContainerStuffingDet", "Dnd_CWCExport", options))
            {
                @Html.AntiForgeryToken()

                <div class="panel with-nav-tabs panel-primary cwc_panel">
                    <div class="panel-heading cwc_panel_heading">
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a href="#DivContainerStuffing" data-toggle="tab">Container /CBT Stuffing</a></li>
                            @*<li><a href="#DivInvoice" data-toggle="tab">Invoice</a></li>*@
                        </ul>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="DivContainerStuffing">
                                    <div>
                                        @Html.HiddenFor(m => m.StuffingReqId)
                                        @Html.Hidden("StuffingReqDtlId")
                                        @Html.Hidden("ContainerStuffingDtlId")
                                        @Html.HiddenFor(m => m.ContainerStuffingId)
                                        @Html.HiddenFor(m => m.TransportMode)
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Transport Mode:</label>
                                                </div>
                                                <div class="col-md-1-5">
                                                    <div class="boolean-container">
                                                        @Html.RadioButton("Mode", "By Road", new { @id = "Road", @onclick = "TransPortModeFunc();" })
                                                        <label for="Road"><i class="circle"></i><span>By Road</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1-5">
                                                    <div class="boolean-container">
                                                        @*@Html.RadioButton("Mode", "By Road", new { @id = "Road", @onclick = "TransPortModeFunc();" })
                                                            <label for="Road"><i class="circle"></i><span>By Road</span></label>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Request No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.StuffingReqNo, new { @class = "form-control input-sm", @readonly = true })
                                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DivModalStuffingReqNo"></i></span>
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                    <label>Request Date:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5">
                                                    @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control input-sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.RequestDate, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Stuffing No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.StuffingNo, new { @class = "form-control input-sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.StuffingNo, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                    <label>Stuffing Date:</label>
                                                </div>
                                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                                    @Html.TextBoxFor(m => m.StuffingDate, new { @class = "form-control input-sm", @readonly = true })
                                                    @Html.ValidationMessageFor(m => m.StuffingDate, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivContainerNo" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Container / CBT No:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                                </div>
                                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                    <label>CFS Code:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("CFSCode", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@ })
                                                    @Html.ValidationMessage("CFSCode", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivContainerSize" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                                    <label>Container / CBT Size:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBox("Size", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                                <div class="col-md-1 padding_rt">
                                                    <div class="boolean-container">
                                                        @Html.RadioButton("StuffingType", "FCL", new { @class = "", @id = "FCL", @disabled = true })
                                                        <label for="FCL"><i class="circle"></i><span>FCL</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 padding_rt">
                                                    <div class="boolean-container">
                                                        @Html.RadioButton("StuffingType", "LCL", new { @class = "", @id = "LCL", @disabled = true })
                                                        <label for="LCL"><i class="circle"></i><span>LCL</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-offset-0-5 col-md-3" style="display:none">
                                                    <div class="boolean-container">
                                                        @Html.CheckBoxFor(m => m.DirectStuffing, new { @id = "chkDS", @disabled = true })
                                                        <label for="chkDS"><i class="square"></i><span>Direct Stuffing</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-offset-2 col-md-1-5 col_cus_5">
                                                    <label>Port Of Discharge:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.PODischarge, "", new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>

                                        <div id="DivContainerSize" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                @*<div class="col-md-1-5 col_cus_2">
                                                    <label>Origin:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.ContOrigin, "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>*@
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>POL:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.POLName, "", new { @class = "form-control input-sm dropdown", @readonly = true })
                                                    @*@Html.ValidationMessage("POL", new { @class = "Error_Msg" })*@
                                                </div>
                                                <div class="col-md-offset-1 col-md-1 col_cus_2" style="display:none">
                                                    <label>Via:</label>
                                                </div>
                                                <div class="col-md-2-5" style="display:none">
                                                    @Html.TextBoxFor(m => m.ContVia, "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                                <div class="col-md-offset-4 col-md-1-5 col_cus_5">
                                                    <label>Port Of Destination:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.POD, "", new { @class = "form-control input_sm", @readonly = true })
                                                </div>
                                            </div>
                                        </div>


                                        <div id="DivShippingLine" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Shipping Line:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextBox("ShippingLine", "", new { @class = "form-control input-sm", @readonly = true })
                                                    @Html.Hidden("ShippingLineId")
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivShippingSeal" class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Shipping Seal:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBox("ShippingSeal", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true
                                               })
                                                </div>
                                                <div class="col-md-1-5 col_cus_offset_0_5 col-md-offset-1 padding_rt">
                                                    <label>Custom Seal:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBox("CustomSeal", "", new
                                               {
                                                   @class = "form-control input-sm",
                                                   @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal()"*@ })
                                                    @Html.ValidationMessage("CustomSeal", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5 col_cus_2">
                                                    <label>Remarks:</label>
                                                </div>
                                                <div class="col-md-10-5 col_cus_10">
                                                    @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:100px", @disabled = true })
                                                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="DivContainerStuffingDetails" class="Head_h5">
                                            @*@Html.Hidden("CartingAppDtlId")
                                                @Html.Hidden("LocationDetails")*@
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                                        <label>Shipping Bill No:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("ShippingBillNo", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                                        <label>Shipping Bill Date:</label>
                                                    </div>
                                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                                        @Html.TextBox("ShippingDate", "", new { @class = "form-control input-sm", @readonly = true })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>CHA:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.Hidden("CHAId")
                                                        @Html.TextBox("CHA", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Exporter:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.Hidden("ExporterId")
                                                        @Html.TextBox("Exporter", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Consignee:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.TextBox("Consignee", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                                        <label>Cargo Description:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_10">
                                                        @Html.TextArea("CargoDescription", "", new
                                                   {
                                                       @style = "width:100%;height:100px",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Marks & No:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("MarksNo", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                        <label>FOB Value:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("Fob", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Stuffed Qty:</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("StuffQuantity", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true
                                                   })
                                                    </div>
                                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                                        <label>Stuffed Wt (kg):</label>
                                                    </div>
                                                    <div class="col-md-2-5">
                                                        @Html.TextBox("StuffWeight", "", new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = true @*, maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)"*@ })
                                                        @*@Html.ValidationMessage("CUM", new { @class = "Error_Msg" })*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row Form_Space_top">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Insured:</label>
                                                    </div>
                                                    <div class="col-md-1 padding_rt">
                                                        <div class="boolean-container">
                                                            <input type="checkbox" id="Insured" disabled />
                                                            <label for="Insured"><i class="square"></i></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>Reefer:</label>
                                                    </div>
                                                    <div class="col-md-1 padding_rt">
                                                        <div class="boolean-container">
                                                            <input type="checkbox" id="Refer" disabled />
                                                            <label for="Refer"><i class="square"></i></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1-5 col_cus_2">
                                                        <label>ODC</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="boolean-container">
                                                            <input type="checkbox" id="IsOdc" disabled />
                                                            <label for="IsOdc"><i class="square"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div id="DivContainerStuffingTblErrMsg" class="logErrMsg Form_Space_bottom Form_Space_top" style="background-color:transparent"></div>
                                            <table class="table table-striped table-bordered dataTable" id="TblContainerStuffing" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">@Html.DisplayName("SL No")</th>
                                                        <th>@Html.DisplayName("Container No")</th>
                                                        <th>@Html.DisplayName("Shipping Bill No")</th>
                                                        <th>@Html.DisplayName("Shipping Bill Date")</th>
                                                        <th>@Html.DisplayName("Exporter")</th>
                                                        <th>@Html.DisplayName("Stuffed Qty")</th>
                                                        <th>@Html.DisplayName("Stuffed Wt")</th>
                                                        <th class="text-center">@Html.DisplayName("View")</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                                    </div>
                            </div>                          
                        </div>
                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadContainerStuffing()" />
                        </div>
                        
                    </div>

                    <div class="logSuccMsg" style="background-color:transparent" id="DivContainerStuffingMsg"></div>
                    <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivContainerStuffingErrMsg"></div>

                </div>
            }
            @Scripts.Render("~/bundles/jqueryval")
            <div class="row">
                <div class="col-md-12">
                    <div id="DivContainerStuffingList"></div>
                </div>
            </div>
        </div>
    </div>

 </div>
