@model IEnumerable<CwcExim.Areas.Export.Models.Dnd_Amendment>

<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Amendment No:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBox("AmendmentNo", Model.First().AmendmentNo, new { @class = "form-control input_sm", @readonly = true })
        </div>
        <div class="col-md-offset-4 col-md-1-5 col_cus_2">
            <label>Invoice No:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBox("InvoiceNo", Model.Last().InvoiceNo, new { @class = "form-control input_sm", @readonly = true })
        </div>
    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Date:</label>
        </div>
        <div class="col-md-2-5 col_cus_2_5 Date_Img1 ">
            @Html.TextBox("AmendmentDate", Model.First().AmendmentDate, new { @class = "form-control input_sm", @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Invoice Date:</label>
        </div>
        <div class="col-md-2-5 col_cus_2_5 Date_Img1 ">
            @Html.TextBox("InvoiceDate", Model.Last().InvoiceDate, new { @class = "form-control input_sm", @readonly = true })
        </div>
    </div>
</div>

<div class="Head_h4" style="margin-top:10px!important;">
    <div class="row">
        <div class="col-md-12">
            <h4 style="font-size: 16px;">Old Ship Bill Information</h4>
        </div>
    </div>
    <div class="row">
        <div class="form-group Form_Input">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped dataTable" style="width:100%; margin-top:10px!important;">
                    <thead>
                        <tr>
                            <th>Ship Bill No</th>
                            <th>Ship Bill Date</th>
                            <th>Party</th>
                            <th>Commodity</th>
                            <th>Weight</th>
                            <th>Pkg</th>
                            <th>Area</th>
                            <th>FOB Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Type == "OLD")
                            {
                                <tr>
                                    <td style="padding: 4px 13px;">@item.ShipBillNo</td>
                                    <td style="padding: 4px 13px;">@item.ShipBillDate</td>
                                    <td style="padding: 4px 13px;">@item.Exporter</td>
                                    <td style="padding: 4px 13px;">@item.Cargo</td>
                                    <td style="padding: 4px 13px;">@item.Weight</td>
                                    <td style="padding: 4px 13px;">@item.Pkg</td>
                                    <td style="padding: 4px 13px;">@item.Area</td>
                                    <td style="padding: 4px 13px;">@item.FOBValue</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
<div class="Head_h4" style="margin-top:10px!important;">
    <div class="row">
        <div class="col-md-12">
            <h4 style="font-size: 16px;">New Ship Bill Information</h4>
        </div>
    </div>
    <div class="row">
        <div class="form-group Form_Input">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped dataTable" style="width:100%; margin-top:10px!important;">
                    <thead>
                        <tr>
                            <th class="text-center">Ship Bill No</th>
                            <th>Ship Bill Date</th>
                            <th>Party</th>
                            <th>Commodity</th>
                            <th>Weight</th>
                            <th>Pkg</th>
                            <th>Area</th>
                            <th>FOB</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Type == "NEW")
                            {
                                <tr>
                                    <td style="padding: 4px 13px;">@item.ShipBillNo</td>
                                    <td style="padding: 4px 13px;">@item.ShipBillDate</td>
                                    <td style="padding: 4px 13px;">@item.Exporter</td>
                                    <td style="padding: 4px 13px;">@item.Cargo</td>
                                    <td style="padding: 4px 13px;">@item.Weight</td>
                                    <td style="padding: 4px 13px;">@item.Pkg</td>
                                    <td style="padding: 4px 13px;">@item.Area</td>
                                    <td style="padding: 4px 13px;">@item.FOBValue</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-2  SignUp_space_bottom">
        <br />
        <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="$('#DivBody').load('/Export/Dnd_CWCExport/Amendment')" />
    </div>
</div>