@model CwcExim.Areas.Export.Models.Dnd_AmendmentViewModel
<div class="col-md-offset-0-5 col-md-11">
    <div class="Head_h4">
        <div class="row">
            <div class="col-md-12">
                <h4>Shipping Bill Amendment</h4>
            </div>
        </div>


        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Invoice No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_4_5 col_cus_1_5 padding_rt">
                    <label>Invoice Date:</label>
                </div>
                <div class="col-md-2-5 col_cus_2_5">
                    @Html.TextBoxFor(m => m.InvoiceDate, new { @class = "form-control input_sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Ship Bill No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.ShipBillNo, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_4_5 col_cus_1_5 padding_rt">
                    <label>Date:</label>
                </div>
                <div class="col-md-2-5 col_cus_2_5 Date_Img2">
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control input_sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Exporter:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control input_sm", @readonly = true })
                </div>

            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Commodity:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control input_sm", @readonly = true })
                </div>

            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Weight:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_4_5 col_cus_1_5 padding_rt">
                    <label>Pkg:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.Pkg, new { @class = "form-control input_sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Ship Bill No:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.NewShipBillNo, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_4_5 col_cus_1_5 padding_rt">
                    <label>Date:</label>
                </div>
                <div class="col-md-2-5 Date_Img2">
                    @Html.TextBoxFor(m => m.ShipbillDate, new { @class = "form-control input_sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>FOB Value:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.FOB, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_4_5 col_cus_1_5 padding_rt">
                    <label>CHA Name:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input_sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Shipping Line:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1 col_cus_offset_0_5 col_cus_1_5 padding_rt">
                    <label>Country:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-0-5">
                    <label>POD:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.POD, new { @class = "form-control input_sm", @readonly = true })
                </div>                
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Godown:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input_sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_4_5 col_cus_1_5 padding_rt">
                    <label>Location:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control input_sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row SignUp_space_bottom SignUp_space_top">
            <div class="stoke"></div>
        </div>

        <div class="row">
            <div class="col-md-offset-5 col-md-2  SignUp_space_bottom">
                <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="$('#DivBody').load('/Export/Dnd_CWCExport/Amendment')" />
            </div>
        </div>

        <div class="row SignUp_space_bottom"></div>

    </div>
</div>