
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Abstract Report</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Month:</label>
                            </div>
                            <div class="col-md-4 col_cus_2_5">
                                @Html.DropDownList("Month", new List<SelectListItem> {
                                       new SelectListItem { Text="January",Value="1"},
                                       new SelectListItem {Text="February",Value="2" },
                                       new SelectListItem {Text="March",Value="3" },
                                       new SelectListItem {Text="April",Value="4" },
                                       new SelectListItem {Text="May",Value="5" },
                                       new SelectListItem {Text="June",Value="6" },
                                       new SelectListItem {Text="July",Value="7" },
                                       new SelectListItem {Text="August",Value="8" },
                                       new SelectListItem {Text="September",Value="9" },
                                       new SelectListItem {Text="October",Value="10" },
                                       new SelectListItem {Text="November",Value="11" },
                                       new SelectListItem {Text="December",Value="12" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown"})
                                @Html.ValidationMessage("Month", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 padding_rt">
                                <label>Year:</label>
                            </div>
                            <div class="col-md-4 col_cus_2_5">
                                @Html.DropDownList("Year", ((List<SelectListItem>)ViewBag.lstYear),"----Select----")
                                @Html.ValidationMessage("Year", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="button" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<script>


    $('#BtnPreview').on('click', function ()
    {
        debugger;
        var month = $('#Month').val();
        var year = $('#Year').val();
        if (PreviewValidate())
        {
            debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Report/Hdb_ReportCWC/GetAbstractReport',
                type: 'POST',
                data: { Month: month, Year: year },
                dataType:'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data) {
                    window.open(data.Message + '?_t' + (new Date().getTime()), "_blank");
                }
            });
        }
    });

    function PreviewValidate(){
        if ($('#Month').val() == "" && $('#Year').val() == "")
        {
            alert("Select Month and Year !!");
            return false;
        }
        if ($('#Month').val() != "" && $('#Year').val() == "")
        {
            alert("Select Year !!");
            return false;
        }
        if ($('#Month').val() == "" && $('#Year').val() != "") {
            alert("Select Month !!");
            return false;
        }
        else
        return true;
    }

</script>
