

<script>

    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Html.BeginForm("GetBIMonthlyReport", "Hdb_ReportCWC", FormMethod.Post))
{
  //  @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>BI-Monthly Report</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Month:</label>
                                </div>
                                <div class="col-md-4 col_cus_2_5">
                                    @Html.DropDownList("Month", new List<SelectListItem> {
                                       new SelectListItem { Text="January",Value="1"},
                                       new SelectListItem {Text="February",Value="2" },
                                       new SelectListItem {Text="March",Value="3" },
                                       new SelectListItem {Text="April",Value="4" },
                                       new SelectListItem {Text="May",Value="5" },
                                       new SelectListItem {Text="June",Value="6" },
                                       new SelectListItem {Text="July",Value="7" },
                                       new SelectListItem {Text="August",Value="8" },
                                       new SelectListItem {Text="September",Value="9" },
                                       new SelectListItem {Text="October",Value="10" },
                                       new SelectListItem {Text="November",Value="11" },
                                       new SelectListItem {Text="December",Value="12" }
                                       }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("Month", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 padding_rt">
                                    <label>Year:</label>
                                </div>
                                <div class="col-md-4 col_cus_2_5">
                                    @Html.DropDownList("Year", ((List<SelectListItem>)ViewBag.lstYear), "----Select----")
                                    @Html.ValidationMessage("Year", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            </div>
                                <div class="row Form_Space_top">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-1-5 padding_rt">
                                        
                                                        <label>Godown:</label>
                                                    </div>
                                                    <div class="col-md-10-5 col_cus_2_5">
                                                        @Html.Hidden("GodownId")
                                                        <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                                        @Html.TextBox("GodownName", "", new { @readonly = "true" })
                                                        @Html.ValidationMessage("GodownName", "", new { @class = "Error_Msg" })
                                                    </div>
                                                </div>
                                            </div>
                                        
                        

                                               @*<div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 padding_rt">
                                        <label>Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("ddlType", new List<SelectListItem>
                                            {
                                            new SelectListItem { Text="Invoice",Value="Inv"},
                                            new SelectListItem { Text="Credit",Value="C"},
                                            new SelectListItem { Text="Debit",Value="D"},
                                            new SelectListItem { Text="Unpaid",Value="Unpaid"},
                                            new SelectListItem { Text="Cancel Invoice",Value="CancelInv"}
                                            }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                                        <span class="field-validation-valid Error_Msg" data-valmsg-for="ddlType" data-valmsg-replace="true"></span>
                                    </div>

                                </div>
                            </div>*@

                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")









<div id="InvoiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Godown List</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="InvoiceListBox" type="text" />
                <ul class="navList" id="lstInvoiceList">
                    @{
                        if (ViewBag.ListOfGodown != null)
                        {
                            foreach (var item in ViewBag.ListOfGodown)
                            {
                                <li id="@item.GodownId">@item.GodownName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#InvoiceListBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoiceList > li').show();
        else {
            $('#lstInvoiceList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstInvoiceList li').on('click', function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).prop('id'));
        $('#InvoiceModal').modal('hide');
    });

    $('#BtnPreview').on('click', function ()
    {
        debugger;
        var month = $('#Month').val();
        var year = $('#Year').val();
        var GodownId = $('#GodownId').val();
        if (PreviewValidate())
        {
            debugger;
      //     var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Report/Hdb_ReportCWC/GetBIMonthlyReport',
                type: 'POST',
                data: { Month: month, Year: year,GodownId,GodownId },
                dataType:'JSON',
            //    headers: { '__RequestVerificationToken': Token },
              //  success: function (data) {
                  //  window.open(data.Message + '?_t' + (new Date().getTime()), "_blank");
             //   }
            });
        }
    });

    function PreviewValidate(){
        if ($('#Month').val() == "" && $('#Year').val() == "")
        {
            alert("Select Month and Year !!");
            return false;
        }
        if ($('#Month').val() != "" && $('#Year').val() == "")
        {
            alert("Select Year !!");
            return false;
        }
        if ($('#Month').val() == "" && $('#Year').val() != "") {
            alert("Select Month !!");
            return false;
        }
        else
        return true;
    }

</script>

