@using (Ajax.BeginForm("GetBondCargo", "Hdb_ReportCWC", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "PVSuccess",
    OnFailure = "PVFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Accounts Report for Import Cargo</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>As On:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBox("AsOnDate", "", new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessage("AsOnDate", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Godown:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_2_5">
                                    @Html.Hidden("GodownId")
                                    <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                    @Html.TextBox("GodownName", "", new { @class = "form-control", @readonly = true })
                                    @Html.ValidationMessage("GodownName", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="InvoiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Godown List</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="InvoiceListBox" type="text" />
                <ul class="navList" id="lstInvoiceList">
                    @{
                        if (ViewBag.ListOfGodown != null)
                        {
                            foreach (var item in ViewBag.ListOfGodown)
                            {
                                <li id="@item.GodownId">@item.GodownName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#AsOnDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    $('#BtnPreview').on("click", function ()
    {
        if($("#AsOnDate").val()=='')
        {
            alert("Select AsOnDate");
            return false;
        }
        else if ($("#GodownName").val() == '') {
            alert("Select Godown Name");
            return false;
        }
        return true;
    });
    $('#InvoiceListBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoiceList > li').show();
        else {
            $('#lstInvoiceList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstInvoiceList li').on('click', function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).prop('id'));
        $('#InvoiceModal').modal('hide');
    });
    function PVSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }
</script>
