@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;

}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetDailyCashBookReport", "Hdb_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Daily cash Book</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBox("PeriodFrom","", new { @class = "form -control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBox("PeriodTo","", new { @class = "form -control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        if (From == "")
        {
            alert("Select From Date");
            return false;
        }
        if (To == "")
        {
            alert("Select To Date");
            return false;
        }
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    function SaveReportPdf(data)
    {
        debugger;
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();
        //var Html = '<div style="text-align: center;border: 1px solid #000;">Daily cash Book From ' + FormDate + ' To ' + ToDate + '</div>'
        var Html = "<div style='float:left;'><img align='right' src='IMGSRC' width='90'/></div>";
        Html += "<div style='text-align:center; float:left; width:90%;'><h1 style='font-size: 22px; margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION</h1><label style='font-size: 12px;'>(A Govt. of India Undertaking)</label><br/><span style='font-size: 12px; padding-bottom: 10px;'>Container Freight Station, Kukatpally</span><br/><span style='font-size: 12px; padding-bottom: 10px;'>IDPL Road, Hyderabad - 37</span><br/><label style='font-size: 12px;'>Email - cfs.kukatpally@cewacor.nic.in</label>";
        Html += "<br/><label style='font-size: 14px; font-weight:bold;'>Daily cash Book From " + FormDate + " To " + ToDate + "</label></div>";
        Html += "<div style='float:right;'><img align='right' src='ISO' width='90'/></div>";
        Html += "<div><br/></div>";
        Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;'><thead> <tr><th style='border:1px solid #000;text-align:center;'>Sr.No.</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Receipt No</th><th style='border:1px solid #000;text-align:center;'>Party Name</th><th style='border:1px solid #000;text-align:center;'>CHQ NO</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Area</th><th style='border:1px solid #000;text-align:center;'>Esc St. Chrg </th><th style='border:1px solid #000;text-align:center;'>GRE</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>GRL</th><th style='border:1px solid #000;text-align:center;'>Reefer</th><th style='border:1px solid #000;text-align:center;'>STO</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>INS</th><th style='border:1px solid #000;text-align:center;'>Print</th><th style='border:1px solid #000;text-align:center;'>Royality</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>Franchiese</th><th style='border:1px solid #000;text-align:center;'>HT</th><th style='border:1px solid #000;text-align:center;'>LWB</th><th style='border:1px solid #000;text-align:center;'>IGST</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>CGST</th><th style='border:1px solid #000;text-align:center;'>SGST</th><th style='border:1px solid #000;text-align:center;'>Round Up</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>TOTAL CASH</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>TOTAL CHQ</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>TOTAL NEFT</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>TOTAL OTH</th><th style='border:1px solid #000;text-align:center;'>TDS</th><th style='border:1px solid #000;text-align:center;'>CR. TDS</th><th style='border:1px solid #000;text-align:center;'>Add Money To SD</th><th style='border:1px solid #000;text-align:center;'>Withdrawal From SD</th></tr></thead>";
         Html += "<tbody>";
         
        for (i = 0; i < data.Data.length;i++)
        {
            Html += "<tr>";
            if (i == data.Data.length-1)
                Html += "<td style='text-align: center;border: 1px solid #000;'>Total</td>";
            else
                Html += "<td style='text-align: center;border: 1px solid #000;'>" + (i+1) + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].CRNo + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Depositor + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].ChqNo + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Area + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].EscCharge + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].GRE + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].GRL + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Reefer + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].STO + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].INS + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Print + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Royality + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Franchiese + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].HT + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].LWB + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Igst + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Cgst + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Sgst + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Roundoff + "</td>";
            
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalCash + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalCheque + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalNEFT + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalOth + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Tds + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].CrTds + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].AddmonyToSd + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].RefundFromSd + "</td>";
            Html += "</tr>";
        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
       // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDailyCashBookReportPDF", "Hdb_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>


