@model CwcExim.Areas.Report.Models.Hdb_DailyTransactionReport



@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptDailyTransactionListDtlOnFailure";
    options.OnSuccess = "RptDailyTransactionReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    //"/" + SubDomain +
    $(function () {

        $("#DTRDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetDailyTransactionReportList", "Hdb_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="BranchType" value="@ViewBag.BranchType" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Daily Transaction Diary (Details)</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.DTRDate, new { @class = "form-control", @id = "DTRDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DTRDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@Scripts.Render("~/bundles/jqueryval")
<script>
    function RptDailyTransactionListDtlOnFailure() { }
    function RptDailyTransactionReportDetails(data) {
        debugger;
        $('#DivDwnldWavMsg').html('')

        debugger;
        if (data.Status == 1) {

            // debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function SaveReportPdf(data) {
        debugger;

        var DTRDate = $("#DTRDate").val();
        var PostData = new FormData();

        var sizeTwentyCount = 0;
        var sizeFortyCount = 0;

        var Html_Appeasement = [];
        Html_Appeasement.push('<table style="width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
        Html_Appeasement.push('<thead>');
        Html_Appeasement.push('<tr>');
        Html_Appeasement.push('<th style="text-align:center;width:80%;">CENTRAL WAREHOUSING CORPORATION<br/><span style="font-weight:400;padding:3px;">(A GOVT. OF INDIA UNDERTAKING)</span></th>');
        Html_Appeasement.push('<th></th>');
        Html_Appeasement.push('</tr>');
        Html_Appeasement.push('<tr>');
        Html_Appeasement.push('<th colspan="2" style="text-align:right;padding:3px;">'+$('#BranchType').val() + ',<span>MODEL</span> PORT</th>');
        Html_Appeasement.push('</tr>');
        Html_Appeasement.push('<tr>');
        Html_Appeasement.push('<th style="text-align:center;width:80%;padding:3px;">DAILY TRANSACTION DIARY</th>');
        Html_Appeasement.push('<th style="text-align:right;padding:3px;">Date: <span>' + DTRDate + '</span></th>');
        Html_Appeasement.push('</tr>');
        Html_Appeasement.push('</thead>');
        Html_Appeasement.push('</table><br/><br/>');

        Html_Appeasement.push('<table style="width:100%;repeat-header: yes;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
        Html_Appeasement.push('<thead>');
        Html_Appeasement.push('<tr>');
        Html_Appeasement.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">Appraisement For <span>' + DTRDate + '</span></th>');
        Html_Appeasement.push('</tr>');
        Html_Appeasement.push('<tr>');
        Html_Appeasement.push('<th style="text-align:center;border:1px solid #000;padding:3px;width:12%;">BOE No.</th><th style="text-align:center;border:1px solid #000;padding:3px;width:8%;">BOE Date</th> <th style="text-align:center;border:1px solid #000;padding:3px;width:15%;">Importer</th><th style="text-align:center;border:1px solid #000;padding:3px;">CHA</th><th style="text-align:center;border:1px solid #000;padding:3px;">CARGO</th><th style="text-align:center;border:1px solid #000;padding:3px;">Container No</th><th style="text-align:center;border:1px solid #000;padding:3px;">Size</th><th style="text-align:center;border:1px solid #000;padding:3px;width:5%;">Unit</th><th style="text-align:center;border:1px solid #000;padding:3px;width:8%;">WT</th><th style="text-align:center;border:1px solid #000;padding:3px;width:15%;">Remarks</th>');
        Html_Appeasement.push('</tr>');
        Html_Appeasement.push('</thead>');
        Html_Appeasement.push('<tbody>');

        if (data.Data.AppeasementSummaryList.length > 0) {
            for (var i = 0; i < data.Data.AppeasementSummaryList.length; i++) {
                Html_Appeasement.push('<tr>');
                Html_Appeasement.push('<td style="text-align:center;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].BOENo + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].BOEDate + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].Importer + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].CHA + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].Cargo + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].ContainerNo + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].Size + '</td>');
                Html_Appeasement.push('<td style="text-align:right;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].NoOfPackages + '</td>');
                Html_Appeasement.push('<td style="text-align:right;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].GrossWeight + '</td>');
                Html_Appeasement.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.AppeasementSummaryList[i].Remarks + '</td>');
                Html_Appeasement.push('</tr>');
            }
        }
        else {
            Html_Appeasement.push('<tr>');
            Html_Appeasement.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_Appeasement.push('</tr>');
        }

        Html_Appeasement.push('</tbody>');
        Html_Appeasement.push('</table>');


        var Html_DeStuffing = [];
        Html_DeStuffing.push('<table style="width:100%;repeat-header: yes;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
        Html_DeStuffing.push('<thead>');
        Html_DeStuffing.push('<tr>');
        Html_DeStuffing.push('<th colspan="11" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">De-Stuffing For <span>' + DTRDate + '</span></th>');
        Html_DeStuffing.push('</tr>');
        Html_DeStuffing.push('<tr>');
        Html_DeStuffing.push('<th style="text-align:center;border:1px solid #000;padding:3px;width:5%;">BOE No.</th><th style="text-align:center;border:1px solid #000;padding:3px;">BOE Date</th><th style="text-align:center;border:1px solid #000;padding:3px;width:15%;">Importer</th><th style="text-align:center;border:1px solid #000;padding:3px;">CHA</th><th style="text-align:center;border:1px solid #000;padding:3px;width:10%;">CARGO</th><th style="text-align:center;border:1px solid #000;padding:3px;width:7%;">Godown No.</th><th style="text-align:center;border:1px solid #000;padding:3px;width:9%;">Container No.</th><th style="text-align:center;border:1px solid #000;padding:3px;width:4%;">Size</th><th style="text-align:center;border:1px solid #000;padding:3px;width:5%;">Unit</th><th style="text-align:center;border:1px solid #000;padding:3px;width:8%;">WT</th><th style="text-align:center;border:1px solid #000;padding:3px;width:15%;">Remarks</th>');
        Html_DeStuffing.push('</tr>');
        Html_DeStuffing.push('</thead>');
        Html_DeStuffing.push('<tbody>');
        if (data.Data.DeStuffingSummaryList.length > 0) {
            for (var i = 0; i < data.Data.DeStuffingSummaryList.length; i++) {
                Html_DeStuffing.push('<tr>');
                Html_DeStuffing.push('<td style="text-align:center;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].BOENo + '</td>');
                Html_DeStuffing.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].BOEDate + '</td>');
                Html_DeStuffing.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].Importer + '</td>');
                Html_DeStuffing.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].CHA + '</td>');
                Html_DeStuffing.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].Cargo + '</td>');
                Html_DeStuffing.push('<td style="text-align:right;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].GodownId + '</td>');
                Html_DeStuffing.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].ContainerNo + '</td>');
                Html_DeStuffing.push('<td style="text-align:right;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].Size + '</td>');
                Html_DeStuffing.push('<td style="text-align:right;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].NoOfPackages + '</td>');
                Html_DeStuffing.push('<td style="text-align:right;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].DestuffingWeight + '</td>');
                Html_DeStuffing.push('<td style="text-align:left;border:1px solid #000;padding:3px;">' + data.Data.DeStuffingSummaryList[i].Remarks + '</td>');
                Html_DeStuffing.push('</tr>');
            }
        }
        else {
            Html_DeStuffing.push('<tr>');
            Html_DeStuffing.push('<td colspan="11" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_DeStuffing.push('</tr>');
        }

        Html_DeStuffing.push('</tbody>');
        Html_DeStuffing.push('</table>');


        var Html_Carting = [];
        Html_Carting.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_Carting.push('<thead>');
        Html_Carting.push('<tr>');
        Html_Carting.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">CARTING For <span>' + DTRDate + '</span></th>');
        Html_Carting.push('</tr>');
        Html_Carting.push('<tr>');
        Html_Carting.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;padding:3px;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;padding:3px;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;padding:3px;">S.B. Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;padding:3px;">Exporter Name</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;padding:3px;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;padding:3px;">Cargo</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;padding:3px;">Units</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;padding:3px;">Weight</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;padding:3px;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;padding:3px;">Remarks</th>');
        Html_Carting.push('</tr>');
        Html_Carting.push('</thead>');
        Html_Carting.push('<tbody>');
        if (data.Data.CartingSummaryList.length > 0) {
            for (var i = 0; i < data.Data.CartingSummaryList.length; i++) {
                var srNo = i + 1;
                Html_Carting.push('<tr>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].ShippingBillNo + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].ShippingBillDate + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].ExporterName + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].CHA + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].Cargo + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].Units + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].Weight + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].CartingType + '</td>');
                Html_Carting.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.CartingSummaryList[i].Remarks + ' MODEL</td>');
                Html_Carting.push('</tr>');
            }
        }
        else {
            Html_Carting.push('<tr>');
            Html_Carting.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_Carting.push('</tr>');
        }
        Html_Carting.push('</tbody>');
        Html_Carting.push('</table>');

        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.StuffingSummaryList.length > 0) {
            sizeTwentyCount = data.Data.StuffingSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.StuffingSummaryList[0].SizeForty;
        }


        var Html_Stuffing = [];
        Html_Stuffing.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_Stuffing.push('<thead>');
        Html_Stuffing.push('<tr>');
        Html_Stuffing.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">STUFFING (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_Stuffing.push('</tr>');
        Html_Stuffing.push('<tr>');
        Html_Stuffing.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Exporter</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_Stuffing.push('</tr>');
        Html_Stuffing.push('</thead>');
        Html_Stuffing.push('<tbody>');
        if (data.Data.StuffingSummaryList.length > 0) {
            for (var i = 0; i < data.Data.StuffingSummaryList.length; i++) {

                Html_Stuffing.push('<tr>');

                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_Stuffing.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_Stuffing.push('<tbody>');

                for (var j = 0; j < data.Data.StuffingSummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_Stuffing.push('<tr>');
                    Html_Stuffing.push('<td text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_Stuffing.push('</tr>');
                }
                Html_Stuffing.push('</tbody>');
                Html_Stuffing.push('</table>');
                Html_Stuffing.push('</td>');

                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].ShippingBillNo + '</td>');
                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].ShippingBillDate + '</td>');
                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].ExporterName + '</td>');
                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].CHA + '</td>');

                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_Stuffing.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_Stuffing.push('<tbody>');
                for (var j = 0; j < data.Data.StuffingSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_Stuffing.push('<tr>');
                    Html_Stuffing.push('<td text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_Stuffing.push('</tr>');
                }
                Html_Stuffing.push('</tbody>');
                Html_Stuffing.push('</table>');
                Html_Stuffing.push('</td>');

                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_Stuffing.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_Stuffing.push('<tbody>');
                for (var j = 0; j < data.Data.StuffingSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_Stuffing.push('<tr>');
                    Html_Stuffing.push('<td text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_Stuffing.push('</tr>');
                }
                Html_Stuffing.push('</tbody>');
                Html_Stuffing.push('</table>');
                Html_Stuffing.push('</td>');

                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].ShippingLine + '</td>');
                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].CartingType + '</td>');
                Html_Stuffing.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.StuffingSummaryList[i].Remarks + '</td>');
                Html_Stuffing.push('</tr>');
            }
        }
        else {
            Html_Stuffing.push('<tr>');
            Html_Stuffing.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_Stuffing.push('</tr>');
        }
        Html_Stuffing.push('</tbody>');
        Html_Stuffing.push('</table>');

        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.InportInSummaryList.length > 0) {
            sizeTwentyCount = data.Data.InportInSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.InportInSummaryList[0].SizeForty;
        }

        var Html_ImportIn = [];
        Html_ImportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_ImportIn.push('<thead>');
        Html_ImportIn.push('<tr>');
        Html_ImportIn.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">IMPORT LOADED TRANSPORTATION (IN) (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_ImportIn.push('</tr>');
        Html_ImportIn.push('<tr>');
        Html_ImportIn.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Importer</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_ImportIn.push('</tr>');
        Html_ImportIn.push('</thead>');
        Html_ImportIn.push('<tbody>');
        if (data.Data.InportInSummaryList.length > 0) {
            for (var i = 0; i < data.Data.InportInSummaryList.length; i++) {

                Html_ImportIn.push('<tr>');

                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ImportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ImportIn.push('<tbody>');

                for (var j = 0; j < data.Data.InportInSummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_ImportIn.push('<tr>');
                    Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_ImportIn.push('</tr>');
                }
                Html_ImportIn.push('</tbody>');
                Html_ImportIn.push('</table>');
                Html_ImportIn.push('</td>');

                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].ShippingBillNo + '</td>');
                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].ShippingBillDate + '</td>');
                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].ExporterName + '</td>');
                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].CHA + '</td>');

                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ImportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ImportIn.push('<tbody>');
                for (var j = 0; j < data.Data.InportInSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ImportIn.push('<tr>');
                    Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_ImportIn.push('</tr>');
                }
                Html_ImportIn.push('</tbody>');
                Html_ImportIn.push('</table>');
                Html_ImportIn.push('</td>');

                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ImportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ImportIn.push('<tbody>');
                for (var j = 0; j < data.Data.InportInSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ImportIn.push('<tr>');
                    Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_ImportIn.push('</tr>');
                }
                Html_ImportIn.push('</tbody>');
                Html_ImportIn.push('</table>');
                Html_ImportIn.push('</td>');

                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].ShippingLine + '</td>');
                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].CartingType + '</td>');
                Html_ImportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportInSummaryList[i].Remarks + '</td>');
                Html_ImportIn.push('</tr>');
            }
        }
        else {
            Html_ImportIn.push('<tr>');
            Html_ImportIn.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_ImportIn.push('</tr>');
        }
        Html_ImportIn.push('</tbody>');
        Html_ImportIn.push('</table>');


        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.InportOutSummaryList.length > 0) {
            sizeTwentyCount = data.Data.InportOutSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.InportOutSummaryList[0].SizeForty;
        }


        var Html_ImportOut = [];
        Html_ImportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_ImportOut.push('<thead>');
        Html_ImportOut.push('<tr>');
        Html_ImportOut.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">IMPORT LOADED TRANSPORTATION (OUT) (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_ImportOut.push('</tr>');
        Html_ImportOut.push('<tr>');
        Html_ImportOut.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Importer</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_ImportOut.push('</tr>');
        Html_ImportOut.push('</thead>');
        Html_ImportOut.push('<tbody>');
        if (data.Data.InportOutSummaryList.length > 0) {
            for (var i = 0; i < data.Data.InportOutSummaryList.length; i++) {

                Html_ImportOut.push('<tr>');

                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ImportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ImportOut.push('<tbody>');

                for (var j = 0; j < data.Data.InportOutSummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_ImportOut.push('<tr>');
                    Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_ImportOut.push('</tr>');
                }
                Html_ImportOut.push('</tbody>');
                Html_ImportOut.push('</table>');
                Html_ImportOut.push('</td>');

                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].ShippingBillNo + '</td>');
                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].ShippingBillDate + '</td>');
                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].ExporterName + '</td>');
                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].CHA + '</td>');

                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ImportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ImportOut.push('<tbody>');
                for (var j = 0; j < data.Data.InportOutSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ImportOut.push('<tr>');
                    Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_ImportOut.push('</tr>');
                }
                Html_ImportOut.push('</tbody>');
                Html_ImportOut.push('</table>');
                Html_ImportOut.push('</td>');

                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ImportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ImportOut.push('<tbody>');
                for (var j = 0; j < data.Data.InportOutSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ImportOut.push('<tr>');
                    Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_ImportOut.push('</tr>');
                }
                Html_ImportOut.push('</tbody>');
                Html_ImportOut.push('</table>');
                Html_ImportOut.push('</td>');

                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].ShippingLine + '</td>');
                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].CartingType + '</td>');
                Html_ImportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.InportOutSummaryList[i].Remarks + '</td>');
                Html_ImportOut.push('</tr>');
            }
        }
        else {
            Html_ImportOut.push('<tr>');
            Html_ImportOut.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_ImportOut.push('</tr>');
        }
        Html_ImportOut.push('</tbody>');
        Html_ImportOut.push('</table>');

        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.ExportInSummaryList.length > 0) {
            sizeTwentyCount = data.Data.ExportInSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.ExportInSummaryList[0].SizeForty;
        }

        var Html_ExportIn = [];
        Html_ExportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_ExportIn.push('<thead>');
        Html_ExportIn.push('<tr>');
        Html_ExportIn.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">EXPORT LOADED TRANSPORTATION (IN) (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_ExportIn.push('</tr>');
        Html_ExportIn.push('<tr>');
        Html_ExportIn.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Exporter</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_ExportIn.push('</tr>');
        Html_ExportIn.push('</thead>');
        Html_ExportIn.push('<tbody>');
        if (data.Data.ExportInSummaryList.length > 0) {
            for (var i = 0; i < data.Data.ExportInSummaryList.length; i++) {

                Html_ExportIn.push('<tr>');

                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ExportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ExportIn.push('<tbody>');

                for (var j = 0; j < data.Data.ExportInSummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_ExportIn.push('<tr>');
                    Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_ExportIn.push('</tr>');
                }
                Html_ExportIn.push('</tbody>');
                Html_ExportIn.push('</table>');
                Html_ExportIn.push('</td>');

                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].ShippingBillNo + '</td>');
                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].ShippingBillDate + '</td>');
                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].ExporterName + '</td>');
                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].CHA + '</td>');

                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ExportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ExportIn.push('<tbody>');
                for (var j = 0; j < data.Data.ExportInSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ExportIn.push('<tr>');
                    Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_ExportIn.push('</tr>');
                }
                Html_ExportIn.push('</tbody>');
                Html_ExportIn.push('</table>');
                Html_ExportIn.push('</td>');

                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ExportIn.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ExportIn.push('<tbody>');
                for (var j = 0; j < data.Data.ExportInSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ExportIn.push('<tr>');
                    Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_ExportIn.push('</tr>');
                }
                Html_ExportIn.push('</tbody>');
                Html_ExportIn.push('</table>');
                Html_ExportIn.push('</td>');

                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].ShippingLine + '</td>');
                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].CartingType + '</td>');
                Html_ExportIn.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportInSummaryList[i].Remarks + '</td>');
                Html_ExportIn.push('</tr>');
            }
        }
        else {
            Html_ExportIn.push('<tr>');
            Html_ExportIn.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_ExportIn.push('</tr>');
        }
        Html_ExportIn.push('</tbody>');
        Html_ExportIn.push('</table>');

        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.ExportOutSummaryList.length > 0) {
            sizeTwentyCount = data.Data.ExportOutSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.ExportOutSummaryList[0].SizeForty;
        }

        var Html_ExportOut = [];
        Html_ExportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_ExportOut.push('<thead>');
        Html_ExportOut.push('<tr>');
        Html_ExportOut.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">EXPORT LOADED TRANSPORTATION (OUT) (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_ExportOut.push('</tr>');
        Html_ExportOut.push('<tr>');
        Html_ExportOut.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Exporter</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_ExportOut.push('</tr>');
        Html_ExportOut.push('</thead>');
        Html_ExportOut.push('<tbody>');
        if (data.Data.ExportOutSummaryList.length > 0) {
            for (var i = 0; i < data.Data.ExportOutSummaryList.length; i++) {

                Html_ExportOut.push('<tr>');

                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ExportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ExportOut.push('<tbody>');

                for (var j = 0; j < data.Data.ExportOutSummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_ExportOut.push('<tr>');
                    Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_ExportOut.push('</tr>');
                }
                Html_ExportOut.push('</tbody>');
                Html_ExportOut.push('</table>');
                Html_ExportOut.push('</td>');

                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].ShippingBillNo + '</td>');
                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].ShippingBillDate + '</td>');
                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].ExporterName + '</td>');
                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].CHA + '</td>');

                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ExportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ExportOut.push('<tbody>');
                for (var j = 0; j < data.Data.ExportOutSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ExportOut.push('<tr>');
                    Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_ExportOut.push('</tr>');
                }
                Html_ExportOut.push('</tbody>');
                Html_ExportOut.push('</table>');
                Html_ExportOut.push('</td>');

                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_ExportOut.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_ExportOut.push('<tbody>');
                for (var j = 0; j < data.Data.ExportOutSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_ExportOut.push('<tr>');
                    Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_ExportOut.push('</tr>');
                }
                Html_ExportOut.push('</tbody>');
                Html_ExportOut.push('</table>');
                Html_ExportOut.push('</td>');

                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].ShippingLine + '</td>');
                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].CartingType + '</td>');
                Html_ExportOut.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.ExportOutSummaryList[i].Remarks + '</td>');
                Html_ExportOut.push('</tr>');
            }
        }
        else {
            Html_ExportOut.push('<tr>');
            Html_ExportOut.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_ExportOut.push('</tr>');
        }
        Html_ExportOut.push('</tbody>');
        Html_ExportOut.push('</table>');


        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.BONDUnloadingSummaryList.length > 0) {
            sizeTwentyCount = data.Data.BONDUnloadingSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.BONDUnloadingSummaryList[0].SizeForty;
        }

        var Html_BONDUnloading = [];
        Html_BONDUnloading.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_BONDUnloading.push('<thead>');
        Html_BONDUnloading.push('<tr>');
        Html_BONDUnloading.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">BOND UNLOADING (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_BONDUnloading.push('</tr>');
        Html_BONDUnloading.push('<tr>');
        Html_BONDUnloading.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Exporter</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_BONDUnloading.push('</tr>');
        Html_BONDUnloading.push('</thead>');
        Html_BONDUnloading.push('<tbody>');
        if (data.Data.BONDUnloadingSummaryList.length > 0) {
            for (var i = 0; i < data.Data.BONDUnloadingSummaryList.length; i++) {

                Html_BONDUnloading.push('<tr>');

                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_BONDUnloading.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_BONDUnloading.push('<tbody>');

                for (var j = 0; j < data.Data.BONDUnloadingSummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_BONDUnloading.push('<tr>');
                    Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_BONDUnloading.push('</tr>');
                }
                Html_BONDUnloading.push('</tbody>');
                Html_BONDUnloading.push('</table>');
                Html_BONDUnloading.push('</td>');

                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].ShippingBillNo + '</td>');
                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].ShippingBillDate + '</td>');
                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].ExporterName + '</td>');
                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].CHA + '</td>');

                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_BONDUnloading.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_BONDUnloading.push('<tbody>');
                for (var j = 0; j < data.Data.BONDUnloadingSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_BONDUnloading.push('<tr>');
                    Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_BONDUnloading.push('</tr>');
                }
                Html_BONDUnloading.push('</tbody>');
                Html_BONDUnloading.push('</table>');
                Html_BONDUnloading.push('</td>');

                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_BONDUnloading.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_BONDUnloading.push('<tbody>');
                for (var j = 0; j < data.Data.BONDUnloadingSummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_BONDUnloading.push('<tr>');
                    Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_BONDUnloading.push('</tr>');
                }
                Html_BONDUnloading.push('</tbody>');
                Html_BONDUnloading.push('</table>');
                Html_BONDUnloading.push('</td>');

                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].ShippingLine + '</td>');
                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].CartingType + '</td>');
                Html_BONDUnloading.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDUnloadingSummaryList[i].Remarks + '</td>');
                Html_BONDUnloading.push('</tr>');
            }
        }
        else {
            Html_BONDUnloading.push('<tr>');
            Html_BONDUnloading.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_BONDUnloading.push('</tr>');
        }
        Html_BONDUnloading.push('</tbody>');
        Html_BONDUnloading.push('</table>');

        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.BONDDeliverySummaryList.length > 0) {
            sizeTwentyCount = data.Data.BONDDeliverySummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.BONDDeliverySummaryList[0].SizeForty;
        }


        var Html_BONDDelivery = [];
        Html_BONDDelivery.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_BONDDelivery.push('<thead>');
        Html_BONDDelivery.push('<tr>');
        Html_BONDDelivery.push('<th colspan="10" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">BOND DELIVERY (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_BONDDelivery.push('</tr>');
        Html_BONDDelivery.push('<tr>');
        Html_BONDDelivery.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Shipping Bill No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Bill Date</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Exporter</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">CHA</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Manual/ Mechanical</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_BONDDelivery.push('</tr>');
        Html_BONDDelivery.push('</thead>');
        Html_BONDDelivery.push('<tbody>');
        if (data.Data.BONDDeliverySummaryList.length > 0) {
            for (var i = 0; i < data.Data.BONDDeliverySummaryList.length; i++) {

                Html_BONDDelivery.push('<tr>');

                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_BONDDelivery.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_BONDDelivery.push('<tbody>');

                for (var j = 0; j < data.Data.BONDDeliverySummaryList[i].ContainerInfoList.length; j++) {

                    var srNo = j + 1;
                    Html_BONDDelivery.push('<tr>');
                    Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + srNo + '</td>');
                    Html_BONDDelivery.push('</tr>');
                }
                Html_BONDDelivery.push('</tbody>');
                Html_BONDDelivery.push('</table>');
                Html_BONDDelivery.push('</td>');

                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].ShippingBillNo + '</td>');
                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].ShippingBillDate + '</td>');
                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].ExporterName + '</td>');
                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].CHA + '</td>');

                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_BONDDelivery.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_BONDDelivery.push('<tbody>');
                for (var j = 0; j < data.Data.BONDDeliverySummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_BONDDelivery.push('<tr>');
                    Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].ContainerInfoList[j].ContainerNo + '</td>');
                    Html_BONDDelivery.push('</tr>');
                }
                Html_BONDDelivery.push('</tbody>');
                Html_BONDDelivery.push('</table>');
                Html_BONDDelivery.push('</td>');

                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;border:1px solid #000;">');
                Html_BONDDelivery.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;">');
                Html_BONDDelivery.push('<tbody>');
                for (var j = 0; j < data.Data.BONDDeliverySummaryList[i].ContainerInfoList.length; j++) {
                    var srNo = j + 1;
                    Html_BONDDelivery.push('<tr>');
                    Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].ContainerInfoList[j].Size + '</td>');
                    Html_BONDDelivery.push('</tr>');
                }
                Html_BONDDelivery.push('</tbody>');
                Html_BONDDelivery.push('</table>');
                Html_BONDDelivery.push('</td>');

                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].ShippingLine + '</td>');
                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].CartingType + '</td>');
                Html_BONDDelivery.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.BONDDeliverySummaryList[i].Remarks + '</td>');
                Html_BONDDelivery.push('</tr>');
            }
        }
        else {
            Html_BONDDelivery.push('<tr>');
            Html_BONDDelivery.push('<td colspan="10" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_BONDDelivery.push('</tr>');
        }
        Html_BONDDelivery.push('</tbody>');
        Html_BONDDelivery.push('</table>');



        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        if (data.Data.EmptyInTransporterSummaryList.length > 0) {
            sizeTwentyCount = data.Data.EmptyInTransporterSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.EmptyInTransporterSummaryList[0].SizeForty;
        }


        var Html_EmptyInTransporter = [];
        Html_EmptyInTransporter.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_EmptyInTransporter.push('<thead>');
        Html_EmptyInTransporter.push('<tr>');
        Html_EmptyInTransporter.push('<th colspan="8" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">EMPTY TRANSPORTATION IN (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_EmptyInTransporter.push('</tr>');
        Html_EmptyInTransporter.push('<tr>');
        Html_EmptyInTransporter.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">From</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">To</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Transported By</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_EmptyInTransporter.push('</tr>');
        Html_EmptyInTransporter.push('</thead>');
        Html_EmptyInTransporter.push('<tbody>');
        if (data.Data.EmptyInTransporterSummaryList.length > 0) {
            for (var i = 0; i < data.Data.EmptyInTransporterSummaryList.length; i++) {

                Html_EmptyInTransporter.push('<tr>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + (i + 1) + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].FromDate + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].ToDate + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].ContainerNo + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].Size + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].ShippingLine + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].TransportedBy + '</td>');
                Html_EmptyInTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyInTransporterSummaryList[i].Remarks + '</td>');
                Html_EmptyInTransporter.push('</tr>');
            }
        }
        else {
            Html_EmptyInTransporter.push('<tr>');
            Html_EmptyInTransporter.push('<td colspan="8" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_EmptyInTransporter.push('</tr>');
        }
        Html_EmptyInTransporter.push('</tbody>');
        Html_EmptyInTransporter.push('</table>');


        sizeTwentyCount = 0;
        sizeFortyCount = 0;
        debugger;
        //EmptyOutTransporterSummaryList
        if (data.Data.EmptyOutTransporterSummaryList.length > 0) {
            sizeTwentyCount = data.Data.EmptyOutTransporterSummaryList[0].SizeTwenty;
            sizeFortyCount = data.Data.EmptyOutTransporterSummaryList[0].SizeForty;
        }


        var Html_EmptyOutTransporter = [];
        Html_EmptyOutTransporter.push('<table style="width:100%;repeat-header: yes;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;">');
        Html_EmptyOutTransporter.push('<thead>');
        Html_EmptyOutTransporter.push('<tr>');
        Html_EmptyOutTransporter.push('<th colspan="8" style="border:1px solid #000;text-align:center;font-weight:600;padding:5px;">EMPTY TRANSPORTATION OUT (' + sizeTwentyCount + 'x20) and (' + sizeFortyCount + 'x40) For <span>' + DTRDate + '</span></th>');
        Html_EmptyOutTransporter.push('</tr>');
        Html_EmptyOutTransporter.push('<tr>');
        Html_EmptyOutTransporter.push('<th style="border:1px solid #000;text-align:center;font-weight:600;width:5%;">Sr. No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">From</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">To</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:10%;">Container No.</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Size</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:8%;">Shipping Line (S/L)</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:7%;">Transported By</th><th style="border:1px solid #000;text-align:center;font-weight:600;width:15%;">Remarks</th>');
        Html_EmptyOutTransporter.push('</tr>');
        Html_EmptyOutTransporter.push('</thead>');
        Html_EmptyOutTransporter.push('<tbody>');
        if (data.Data.EmptyOutTransporterSummaryList.length > 0) {
            for (var i = 0; i < data.Data.EmptyOutTransporterSummaryList.length; i++) {

                Html_EmptyOutTransporter.push('<tr>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + (i + 1) + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].FromDate + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].ToDate + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].ContainerNo + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].Size + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].ShippingLine + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].TransportedBy + '</td>');
                Html_EmptyOutTransporter.push('<td style="border:1px solid #000;text-align:center;padding:3px;">' + data.Data.EmptyOutTransporterSummaryList[i].Remarks + '</td>');
                Html_EmptyOutTransporter.push('</tr>');
            }
        }
        else {
            Html_EmptyOutTransporter.push('<tr>');
            Html_EmptyOutTransporter.push('<td colspan="8" style="text-align:center;border:1px solid #000;padding:3px;">No data found.</td>');
            Html_EmptyOutTransporter.push('</tr>');
        }
        Html_EmptyOutTransporter.push('</tbody>');
        Html_EmptyOutTransporter.push('</table>');


        //Html_Stuffing.push('');
        //Html_Stuffing.push('');
        //Html_Stuffing.push('');
        //Html_Stuffing.push('');




        PostData.append("Page1", Html_Appeasement.join(''));
        PostData.append("Page2", Html_DeStuffing.join(''));
        PostData.append("Page3", Html_Carting.join(''));
        PostData.append("Page4", Html_Stuffing.join(''));
        PostData.append("Page5", Html_ImportIn.join(''));
        PostData.append("Page6", Html_ImportOut.join(''));
        PostData.append("Page7", Html_ExportIn.join(''));
        PostData.append("Page8", Html_ExportOut.join(''));
        PostData.append("Page9", Html_BONDUnloading.join(''));
        PostData.append("Page10", Html_BONDDelivery.join(''));
        PostData.append("Page11", Html_EmptyInTransporter.join(''));
        PostData.append("Page12", Html_EmptyOutTransporter.join(''));

        // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDailyTransactionPDF", "Hdb_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>


