<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Weekly Video Conference Report</h4>
                        </div>
                    </div>
                    @using (Ajax.BeginForm("WeeklyVCReport", "Hdb_ReportCWC", new { area = "Report" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @Id = "vcForm" }))
                    {
                        if (ViewBag.CompanyName != null)
                        {
                            <input type="hidden" id="hdnCompany" value="@ViewBag.CompanyName" />
                        }
                        if (ViewBag.CompanyAddress != null)
                        {
                            <input type="hidden" id="hdnCompanyAdd" value="@ViewBag.CompanyAddress" />
                        }

                        @Html.AntiForgeryToken()
                        <div class="row Form_Space_top">
                            <div class="Form_Input">
                                <div class="col-md-1-5">
                                    <label>From Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input type="text" id="VCFdate" name="VCFdate" />
                                </div>
                                <div class="col-md-1">
                                    <label>To Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input type="text" id="VCTdate" name="VCTdate" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn log_Btn_sm" onclick="GetVCDetails()">Show</button>
                                </div>
                            </div>
                        </div>

                        @Html.Hidden("VCID")
                        @Html.Hidden("Boom")
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center">Particulars</th>
                                            <th colspan="3" class="text-center">Capacity (in Mt)</th>
                                            <th colspan="3" class="text-center">Utilization (in Mt)</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="width:12%;">CFS</th>
                                            <th class="text-center" style="width:12%;">Bonded</th>
                                            <th class="text-center" style="width:12%;">Total</th>
                                            <th class="text-center" style="width:12%;">CFS</th>
                                            <th class="text-center" style="width:12%;">Bonded</th>
                                            <th class="text-center" style="width:12%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWcfscap" name="TWcfscap" type="text" class="text-right" /></td>
                                            <td><input id="TWbndcap" name="TWbndcap" type="text" class="text-right" /></td>
                                            <td><input id="TWtotalcap" name="TWtotalcap" type="text" class="text-right" /></td>
                                            <td><input id="TWcfsutl" name="TWcfsutl" type="text" class="text-right" /></td>
                                            <td><input id="TWbndutl" name="TWbndutl" type="text" class="text-right" /></td>
                                            <td><input id="TWtotalutl" name="TWtotalutl" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWcfscap" name="PWcfscap" type="text" class="text-right" /></td>
                                            <td><input id="PWbndcap" name="PWbndcap" type="text" class="text-right" /></td>
                                            <td><input id="PWtotalcap" name="PWtotalcap" type="text" class="text-right" /></td>
                                            <td><input id="PWcfsutl" name="PWcfsutl" type="text" class="text-right" /></td>
                                            <td><input id="PWbndutl" name="PWbndutl" type="text" class="text-right" /></td>
                                            <td><input id="PWtotalutl" name="PWtotalutl" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYcfscap" name="PYcfscap" type="text" class="text-right" /></td>
                                            <td><input id="PYbndcap" name="PYbndcap" type="text" class="text-right" /></td>
                                            <td><input id="PYtotalcap" name="PYtotalcap" type="text" class="text-right" /></td>
                                            <td><input id="PYcfsutl" name="PYcfsutl" type="text" class="text-right" /></td>
                                            <td><input id="PYbndutl" name="PYbndutl" type="text" class="text-right" /></td>
                                            <td><input id="PYtotalutl" name="PYtotalutl" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center">Particulars</th>
                                            <th colspan="2" class="text-center" style="width:17%;">Occupancy(%)</th>
                                            <th rowspan="2" class="text-center" style="width:17%;">Income (in Lacs)</th>
                                            <th rowspan="2" class="text-center" style="width:17%;">Comments on shortfall in achieving target</th>
                                        </tr>


                                        <tr>
                                           
                                            <th  class="text-center" style="width:17%;">CFS</th>
                                            <th  class="text-center" style="width:17%;">Bond</th>
                                         </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWocp" name="TWocp" type="text" class="text-right" /></td>
                                            <td><input id="TWobp" name="TWobp" type="text" class="text-right" /></td>

                                             <td><input id="TWinc" name="TWinc" type="text" class="text-right" /></td>
                                            <td><input id="TWrmks" name="" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWocp" name="PWocp" type="text" class="text-right" /></td>
                                            <td><input id="PWobp" name="PWobp" type="text" class="text-right" /></td>

                                            <td><input id="PWinc" name="PWinc" type="text" class="text-right" /></td>
                                            <td><input id="PWrmks" name="PWrmks" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYocp" name="PYocp" type="text" class="text-right" /></td>
                                            <td><input id="PYobp" name="PYobp" type="text" class="text-right" /></td>

                                              <td><input id="PYinc" name="PYinc" type="text" class="text-right" /></td>
                                            <td><input id="PYrmks" name="PYrmks" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">TUES Handling</th>
                                            <th class="text-center" style="width:13%;">Import(Tues)</th>
                                            <th class="text-center" style="width:13%;">Export(Tues)</th>
                                            <th class="text-center" style="width:13%;">Empty(Tues)</th>
                                            <th class="text-center" style="width:13%;">Total(Tues)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWimport" name="TWimport" type="text" class="text-right" /></td>
                                            <td><input id="TWexport" name="TWexport" type="text" class="text-right" /></td>
                                            <td><input id="TWempty" name="TWempty" type="text" class="text-right" /></td>
                                            <td><input id="TWtotaliee" name="TWtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWimport" name="PWimport" type="text" class="text-right" /></td>
                                            <td><input id="PWexport" name="PWexport" type="text" class="text-right" /></td>
                                            <td><input id="PWempty" name="PWempty" type="text" class="text-right" /></td>
                                            <td><input id="PWtotaliee" name="PWtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYimport" name="PYimport" type="text" class="text-right" /></td>
                                            <td><input id="PYexport" name="PYexport" type="text" class="text-right" /></td>
                                            <td><input id="PYempty" name="PYempty" type="text" class="text-right" /></td>
                                            <td><input id="PYtotaliee" name="PYtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">PCS Performance</th>
                                            <th class="text-center" style="width:13%;">PCS Income(New Business)</th>
                                            <th class="text-center" style="width:13%;">PCS Income(Existing Business)</th>
                                            <th class="text-center" style="width:13%;">Total</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="PCSNewCurr" name="PCSNewCurr" type="text" class="text-right" /></td>
                                            <td><input id="PCSExCurr" name="PCSExCurr" type="text" class="text-right" /></td>
                                            <td><input id="PCSNewCurrTot" name="PCSNewCurrTot" type="text" class="text-right" /></td>
                                           
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PCSNewPrev" name="PCSNewPrev" type="text" class="text-right" /></td>
                                            <td><input id="PCSExPrev" name="PCSExPrev" type="text" class="text-right" /></td>
                                            <td><input id="PCSNewPrevTot" name="PCSNewPrevTot" type="text" class="text-right" /></td>
                                           
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PCSNewYear" name="PCSNewYear" type="text" class="text-right" /></td>
                                            <td><input id="PCSExYear" name="PCSExYear" type="text" class="text-right" /></td>
                                            <td><input id="PCSTotYear" name="PCSTotYear" type="text" class="text-right" /></td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Particulars</th>
                                            <th class="text-center" style="width:20%;">Amount</th>
                                            <th class="text-center" style="width:20%;">Effort Made to Realise the outstanding CWC Dues</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input id="Prt1" name="Prt1" type="text" class="text-left" /></td>
                                            <td><input id="Amt1" name="Amt1" type="text" class="text-right" /></td>
                                            <td><input id="Efft1" name="Efft1" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td><input id="Prt2" name="Prt2" type="text" class="text-left" /></td>
                                            <td><input id="Amt2" name="Amt2" type="text" class="text-right" /></td>
                                            <td><input id="Efft2" name="Efft2" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td><input id="Prt3" name="Prt3" type="text" class="text-left" /></td>
                                            <td><input id="Amt3" name="Amt3" type="text" class="text-right" /></td>
                                            <td><input id="Efft3" name="Efft3" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-4 col-md-2">
                                <button type="submit" class="btn log_Btn_sm">Save</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnPrint" class="btn log_Btn_sm" onclick="Print()" disabled>Print</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#VCFdate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });
    $("#VCTdate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });
</script>
<script>
    function GetVCDetails() {
        try {
            $.ajax({
                url: '@Url.Action("GetVCDetails", "Hdb_ReportCWC", new { area = "Report" })',//'/Report/ReportCWC/GetVCDetails',
                type: 'GET',
                data: { date1: $('#VCFdate').val(), date2: $('#VCTdate').val() },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data == undefined || data == null) {
                        alert("Internal Error Occurs !!");
                    }
                    else {
                        if (data.Status != 1) {
                            alert(data.Message);
                        }
                        else {

                            var CName = "@ViewBag.CompanyName";
                            var CAddress = "@ViewBag.CompanyAddress";
                            $('#TWcfscap').val(data.Data[0].cfscap);
                            $('#TWbndcap').val(data.Data[0].bndcap);
                            $('#TWtotalcap').val((Number(data.Data[0].cfscap) + Number(data.Data[0].bndcap)).toFixed(4));
                            $('#TWcfsutl').val(data.Data[0].cfsutlz);
                            $('#TWbndutl').val(data.Data[0].bndutlz);
                            $('#TWtotalutl').val((Number(data.Data[0].cfsutlz) + Number(data.Data[0].bndutlz)).toFixed(4));

                            $('#PWcfscap').val(data.Data[1].cfscap);
                            $('#PWbndcap').val(data.Data[1].bndcap);
                            $('#PWtotalcap').val((Number(data.Data[1].cfscap) + Number(data.Data[1].bndcap)).toFixed(4));
                            $('#PWcfsutl').val(data.Data[1].cfsutlz);
                            $('#PWbndutl').val(data.Data[1].bndutlz);
                            $('#PWtotalutl').val((Number(data.Data[1].cfsutlz) + Number(data.Data[1].bndutlz)).toFixed(4));

                            $('#PYcfscap').val(data.Data[2].cfscap);
                            $('#PYbndcap').val(data.Data[2].bndcap);
                            $('#PYtotalcap').val(Number(data.Data[2].cfscap) + Number(data.Data[2].bndcap));
                            $('#PYcfsutl').val(data.Data[2].cfsutlz);
                            $('#PYbndutl').val(data.Data[2].bndutlz);
                            $('#PYtotalutl').val(Number(data.Data[2].cfsutlz) + Number(data.Data[2].bndutlz));

                            $('#TWocp').val(data.Data[0].OccupencyCFS);
                            $('#TWobp').val(data.Data[0].OccupencyBond);
                            $('#TWinc').val(Number(data.Data[0].Income).toFixed(2));
                            $('#PWocp').val(data.Data[1].OccupencyCFS);
                            $('#PWobp').val(data.Data[1].OccupencyBond);
                            $('#PWinc').val(Number(data.Data[1].Income).toFixed(2));
                            $('#PYocp').val(data.Data[2].OccupencyCFS);
                            $('#PYobp').val(data.Data[2].OccupencyBond);
                            $('#PYinc').val(Number(data.Data[2].Income).toFixed(2));

                            $('#TWimport').val(data.Data[0].Import);
                            $('#TWexport').val(data.Data[0].Export);
                            $('#TWempty').val(data.Data[0].Empty);
                            $('#TWtotaliee').val(Number(data.Data[0].Import) + Number(data.Data[0].Export) + Number(data.Data[0].Empty));
                            $('#PWimport').val(data.Data[1].Import);
                            $('#PWexport').val(data.Data[1].Export);
                            $('#PWempty').val(data.Data[1].Empty);
                            $('#PWtotaliee').val(Number(data.Data[1].Import) + Number(data.Data[1].Export) + Number(data.Data[1].Empty));
                            $('#PYimport').val(data.Data[2].Import);
                            $('#PYexport').val(data.Data[2].Export);
                            $('#PYempty').val(data.Data[2].Empty);
                            $('#PYtotaliee').val(Number(data.Data[2].Import) + Number(data.Data[2].Export) + Number(data.Data[2].Empty));


                            $('#PCSNewCurr').val(data.Data[0].CurrPCSIncome);
                            $('#PCSExCurr').val("0");
                            $('#PCSNewCurrTot').val(data.Data[0].CurrPCSIncome);

                            $('#PCSNewPrev').val(data.Data[0].PrevPCSIncome);
                            $('#PCSExPrev').val("0");
                            $('#PCSNewPrevTot').val(data.Data[0].PrevPCSIncome);

                            $('#PCSNewYear').val(data.Data[0].YearPCSIncome);
                            $('#PCSExYear').val("0");
                            $('#PCSTotYear').val(data.Data[0].YearPCSIncome);


                        }
                    }
                },
                error: function () {
                    alert("Internal Error Occurs !!");
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }
</script>
<script>
    function Print() {
        var fdt = $('#VCFdate').val();
        var tdt = $('#VCTdate').val();
        //var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='text-align:center;padding:5px;'>Weekly Report(" + fdt + " To " + tdt + ")</th></tr></thead></table><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th colspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Capacity (in Mt)</th><th colspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Utilization (in Mt)</th></tr><tr><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>CFS</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Bonded</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>CFS</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Bonded</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWtotalutl').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWtotalutl').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYtotalutl').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:12%;'>Occupancy(%)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Income (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:20%;'>Comments on shortfall in achieving target</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYrmks').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>TUES Handling</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Import(Tues)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Export(Tues)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Empty(Tues)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total(Tues)</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYtotaliee').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Amount</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Effort Made to Realise the outstanding CWC Dues</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft1').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft2').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft3').val() + "</span></td></tr></tbody></table>";

        var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse; margin:0 0 20px;'><thead>";
        html1 +="<tr><td valign='top'><img align='right' src='IMGSRC' width='50'/></td>";
        html1 +="<td width='180%' valign='top' align='center'><h1 style='font-size: 16px;margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION</h1>";
        html1 +="<label style='display: block; font-size: 7pt;'>(A Govt. of India Undertaking) </label><br />";        
        html1 +="<span style='font-size: 7pt; padding-bottom: 10px;'>Container Freight Station, Kukatpally <br/> IDPL Road, Hyderabad - 37</span><br/><label style='font-size: 7pt;'><b>Email -</b>  cwccfs@gmail.com</label>";
        html1 +="<br /><label style='font-size: 7pt; font-weight:bold;'>Weekly Report(" + fdt + " To " + tdt + ")</label>";
        html1 +="</td>";
        html1 +="<td valign='top'><img align='right' src='ISO' width='60'/></td>";
        html1 += "</tr>";
        html1 += "</thead></table>";

        html1 += "<table cellpadding='5' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse; border:1px solid #000;'>";
        html1 += "<thead>";
        html1 += "<tr><th style='border-right:1px solid #000;width:150px;'>ITEM</th>";
        html1 += "<th style='border-right:1px solid #000;width:80px;'>THIS WEEK</th>";
        html1 += "<th style='border-right:1px solid #000;width:80px;'>LAST WEEK</th>";
        html1 += "<th style='border-right:1px solid #000;width:150px;'>CORRESPONDING WEEK LAST YEAR</th>";
        html1 += "<th style='border-right:1px solid #000;width:200px;'>PROGRESSIVE TOTAL OF CURRENT</th>";
        html1 += "<th style='width:200px;'>THROUGHPUT OF 2018-19</th></tr>";
        html1 += "</thead>";
        html1 += "<tbody>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>Bonded Occupancy(in MT)</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWbndutl').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWbndutl').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYbndutl').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>CFS Occupancy(in MT)</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWcfsutl').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWcfsutl').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYcfsutl').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>CFS Occupancy in %</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWocp').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWocp').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYocp').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>Bonded Occupancy in %</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWobp').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWobp').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYobp').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>Income in LAKHS</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWinc').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWinc').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYinc').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "</tbody>";
        html1 += "</table>";

        html1 += "<table cellpadding='10' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse;'><thead>";
        html1 += "<tr><th>Capacity & Utilization Statement</th></tr>";
        html1 += "</thead></table>";

        html1 += "<table cellpadding='5' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse; border:1px solid #000;'>";
        html1 += "<thead>";
        html1 += "<tr><th rowspan='2' style='border-right:1px solid #000; width:45px;'>Center</th>";
        html1 += "<th colspan='2' style='border-right:1px solid #000; border-bottom:1px solid #000; width:95px;'>Owned</th>";
        html1 += "<th colspan='2' style='border-right:1px solid #000; border-bottom:1px solid #000; width:85px;'>Hired</th>";
        html1 += "<th rowspan='2' style='border-right:1px solid #000; width:80px;'>Management Units</th>";
        html1 += "<th rowspan='2' style='border-right:1px solid #000; width:150px;'>Total Capacity</th>";
        html1 += "<th rowspan='2' style='border-right:1px solid #000; width:200px;'>Utilization</th>";
        html1 += "<th rowspan='2' style='width:200px;'>Occupancy (in %)</th></tr>";
        html1 += "<tr><th style='border-right:1px solid #000; width:60px;'>Covered</th>";
        html1 += "<th style='border-right:1px solid #000; width:40px;'>Open</th>";
        html1 += "<th style='border-right:1px solid #000; width:75px;'>Covered</th>";
        html1 += "<th style='border-right:1px solid #000; width:20px;'>Open</th></tr>";
        html1 +="</thead>";
        html1 += "<tbody>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>CFS Kukatpally</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>0</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>0</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>6157</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>16725</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>0</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>22882</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWcfsutl').val() +"</td>";
        html1 += "<td style='border-top:1px solid #000;'>" + $('#TWocp').val() +"</td></tr>";
        html1 += "</tbody>";
        html1 += "</table>";

        html1 += "<table cellpadding='10' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse;'><thead>";
        html1 += "<tr><th>Container Handling at CFS/ICD </th></tr>";
        html1 += "</thead></table>";

        html1 += "<table cellpadding='5' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse; border:1px solid #000;'>";
        html1 += "<thead>";
        html1 += "<tr><th colspan='3' style='border-right:1px solid #000; border-bottom:1px solid #000; width:300px;'>Income (Rs. In Lac)</th>";
        html1 += "<th colspan='4' style='border-right:1px solid #000; border-bottom:1px solid #000; width:400px;'>Handling during this week (TEUs)</th>";
        html1 += "<th colspan='4' style='border-right:1px solid #000; border-bottom:1px solid #000; width:400px;'>Handling during last week (TEUs)</th>";
        html1 += "<th colspan='4' style='border-right:1px solid #000; border-bottom:1px solid #000; width:400px;'>Handling during corresponding period last year (TEUs)</th>";
        html1 += "<th colspan='1' style='border-right:1px solid #000; border-bottom:1px solid #000; width:100px;'>PROGRESSIVE SINCE APRIL 2019</th>";
        html1 += "<th colspan='1' style='border-bottom:1px solid #000; width:100px;'>Handling in 2018-19</th></tr>";

        html1 += "<tr><th style='border-right:1px solid #000; width:100px;'>This Week</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Last Week</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>This Week <br/> Last Year</th>";

        html1 += "<th style='border-right:1px solid #000; width:100px;'>Import</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Export</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Empty</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Total</th>";

        html1 += "<th style='border-right:1px solid #000; width:100px;'>Import</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Export</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Empty</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Total</th>";

        html1 += "<th style='border-right:1px solid #000; width:100px;'>Import</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Export</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Empty</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Total</th>";

        html1 += "<th style='border-right:1px solid #000; width:100px;'>Total (TEU)</th>";

        html1 += "<th style='width:100px;'>Total (TEU)</th></tr>";
        html1 += "</thead>";
        html1 += "<tbody>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWinc').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWinc').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYinc').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWimport').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWexport').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWempty').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#TWtotaliee').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWimport').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWexport').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWempty').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PWtotaliee').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYimport').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYexport').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYempty').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PYtotaliee').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "</tbody>";
        html1 += "</table>";

        html1 += "<table cellpadding='10' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse;'><thead>";
        html1 += "<tr><th>PCS PERFORMANCE</th></tr>";
        html1 += "</thead></table>";

        html1 += "<table cellpadding='5' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse; border:1px solid #000;'>";
        html1 += "<thead>";
        html1 += "<tr><th style='border-right:1px solid #000; width:100px;'>Target <br/> (19-20)</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Income</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Income this week</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Income last week</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Previous month this year</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Progressive since April 2019</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'>Treatment details</th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; width:100px;'></th>";
        html1 += "<th style='width:100px;'></th></tr>";

        html1 += "<tr><th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>New Business</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Existing Business</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Total</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'></th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Item</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Amount</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>This Week</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Last Week</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Previous Month This Year</th>";
        html1 += "<th style='border-right:1px solid #000; border-top:1px solid #000; width:100px;'>Others</th>";
        html1 += "<th style='border-top:1px solid #000; width:100px;'>Progressive Since April 19</th></tr>";

        html1 += "</thead>";
        html1 += "<tbody>";
        html1 += "<tr><td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PCSNewCurr').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>0</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PCSNewCurr').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PCSNewPrev').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>"+$('#PCSNewYear').val() +"</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>Container & Export Cargo Fumigation</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>" + $('#PCSNewCurr').val() + "</td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'></td>";
        html1 += "<td style='border-right:1px solid #000; border-top:1px solid #000;'>ESIC</td>";
        html1 += "<td style='border-top:1px solid #000;'></td></tr>";
        html1 += "</tbody>";
        html1 += "</table>";

        html1 += "<table cellpadding='10' style='width:100%; font-size:7pt; text-align:center; font-family:Verdana,Arial,San-serif; border-collapse:collapse;'><thead>";
        html1 += "<tr><th><span><br/></span></th></tr>";
        html1 += "<tr><th style='text-align:left;'>Remarks :</th></tr>";
        html1 += "<tr><td style='text-align:right;'>Manager - CFS</td></tr>";
        html1 += "</thead></table>";
        

        var PostData = new FormData();
        PostData.append("type", "vcreport");
        PostData.append("id", $('#VCID').val());
        PostData.append("page", html1);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF", "Hdb_ReportCWC", new { area = "Report" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open(data.Message + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }
</script>
<script>
    function OnSuccess(data) {
        alert(data.Message);
        if (data.Status == 1) {
            $('#VCID').val(data.Data);
            $('#btnPrint').removeAttr('disabled');
        }
    }
    function OnFailure(data) {
        alert("Internal Error Occurs");
    }
</script>
