@model IEnumerable<CwcExim.Areas.Import.Models.Ppg_DestuffingList>
<script>
    var Page = 0;
    $(function(){
        var TblDestuffingEntry = $('#TblDestuffingEntry').DataTable({
            "bFilter":false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns":[
                        {"sName":"Edit","bSortable":false,"width":"3%"},
                       {"sName":"View","bSortable":false,"width":"3%"},
                       {"sName":"Delete","bSortable":false,"width":"3%"},
                        {"sName":"Print","bSortable":false,"width":"3%"},
                       {"sName":"SL No","width":"5%"},
                       { "sName": "Destuffing No","bSortable":false,"width":"10%" },
                       { "sName": "Destuffing Date" ,"bSortable":false,"width":"10%"},
                       { "sName": "ICD Code" ,"bSortable":false,"width":"10%"},
                        { "sName": "Container / CBT No" ,"bSortable":false,"width":"10%"},
                        { "sName": "CHA","width":"5%" },
                       { "sName": "Shipping Line","width":"10%" }                      
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(4),td:eq(7),td:eq(8),td:eq(9),td:eq(10)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "3%");
                $('td:eq(1)', nRow).css("width", "3%");
                $('td:eq(2)', nRow).css("width", "3%");
                $('td:eq(3)', nRow).css("width", "3%");
                $('td:eq(4)', nRow).css("width", "5%");
                $('td:eq(5)', nRow).css("width", "5%");
                $('td:eq(6)', nRow).css("width", "10%");
                $('td:eq(7)', nRow).css("width", "5%");
                $('td:eq(8)', nRow).css("width", "5%");
                $('td:eq(9)', nRow).css("width", "5%");
                $('td:eq(10)', nRow).css("width", "5%");
            }
        });
        new $.fn.dataTable.FixedHeader(TblDestuffingEntry);
        var r2 = JSON.parse($("#hdnRights").val());
        if (r2.CanEdit == 1) {
            //$('.edit').css('display', 'block');
            //$('.edit').disabled=false;
        } else {
            //$('.edit').css('display', 'none');
            $('.edit').removeAttr('onclick');
            $('.edit').attr('onclick', 'return false');
        }

        if (r2.CanDelete == 1) {
            //$('.delete').css('display', 'block');

        } else {
            //$('.delete').css('display', 'none');

            $('.delete').removeAttr('onclick');
            $('.delete').attr('onclick', 'return false');
        }

        if (r2.CanView == 1) {
            //$('.view').css('display', 'block');

        } else {
            //$('.view').css('display', 'none');
            $('.view').removeAttr('onclick');
            $('.view').attr('onclick', 'return false');
        }
    });
    function LoadDestuffingEntry() {
        $('#DivBody').load('/Import/Ppg_CWCImport/CreateDestuffingEntry');
    }
    function EditDestuffingEntryDet(DestuffingEntryId) {
        $('#DivBody').load('/Import/Ppg_CWCImport/EditDestuffingEntry?DestuffingEntryId=' + DestuffingEntryId);
    }
    function ViewDestuffingEntryDet(DestuffingEntryId) {
        $('#DivBody').load('/Import/Ppg_CWCImport/ViewDestuffingEntry?DestuffingEntryId=' + DestuffingEntryId);
    }
    function DeleteDestuffingEntryDet(DestuffingEntryId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        var Confirm=confirm("Are You Sure You Want To Delete?");
        if(Confirm==true){
            $.ajax({
                url: '/Import/Ppg_CWCImport/DeleteDestuffingEntry',
                type:'POST',
                headers:{'__RequestVerificationToken':Token},
                data: { DestuffingEntryId: DestuffingEntryId },
                dataType:'JSON',
                async:false,
                success:function(data){
                    if(data.Status==1){
                        alert(data.Message);
                        $('#DivBody').load('/Import/Ppg_CWCImport/CreateDestuffingEntry');
                    }
                    else if(data.Status==2){
                        alert(data.Message);
                    }

                }
            });
        }
    }
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Import/PpG_CWCImport/LoadListMoreDataForDestuffingEntry',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#TblDestuffingEntry').dataTable();
                    var len = dt.fnGetData().length;
                  
                    $.each(data, function (i, item) {
                        debugger;
                        //var CFS= item.ContainerNo;
                        //CFS = CFS.split('(')[0];
                       // var ContainerNo = ContainerNo.Split('(')[1].ToString().Substring(0, item.ContainerNo.Split('(')[1].Length - 1)
                        len++;
                        dt.fnAddData([
        len,
        ['<div class="table_icon"><a href="#" onclick=EditDestuffingEntryDet(' + [item.DestuffingEntryId] + ')><i class="fa fa-pencil"></i></a></div>'],
        ['<div class="table_icon"><a href="#" onclick=ViewDestuffingEntryDet(' + [item.DestuffingEntryId] + ')><i class="fa fa-eye"></i></a></div>'],
        ['<div class="table_icon"><a href="#" onclick=DeleteDestuffingEntryDet(' + [item.DestuffingEntryId] + ')><i class="fa fa-trash-o"></i></a></div>'],
        ['<div class="table_icon"><a href="#" onclick=PrintDestuffingEntryDet(' + [item.DestuffingEntryId] + ')><i class="fa fa-print"></i></a></div>'],
        [item.DestuffingEntryNo],
        [item.DestuffingEntryDate],
        [item.ContainerNo.split('(')[0].toString()],
        [item.ContainerNo.split('(')[1].toString().substring(0, item.ContainerNo.split('(')[1].length - 1)],
        [item.CHA],
        [item.ShippingLine],        
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }

    function PrintDestuffingEntryDet(DestuffingEntryId){
        var Token=$('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url:"/Import/Ppg_CWCImport/PrintDestuffingSheet",
            type:"POST",
            data:{DestuffingEntryId:DestuffingEntryId},
            headers:{"__RequestVerificationToken":Token},
            dataType:"JSON",
            async:false,
            success:function(data){
                debugger;
                if(data.Status==1){
                    window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
                }
                else{
                    alert(data.Data);
                }
            }
        });
    }
</script>

<table id="TblDestuffingEntry" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:3%;" class="text-center">@Html.DisplayName("Edit")</th>
            <th style="width:3%;" class="text-center">@Html.DisplayName("View")</th>
            <th style="width:3%;" class="text-center">@Html.DisplayName("Delete")</th>
            <th style="width:3%;" class="text-center">@Html.DisplayName("Print")</th>
            <th style="width:5%;" class="text-center">@Html.DisplayName("SL No")</th>
            <th style="width:10%;">Destuffing No</th>
            <th style="width:10%;">Destuffing Date</th>
            <th style="width:10%;">ICD Code</th>
            <th style="width:10%;">Container / CBT No</th>
            <th style="width:5%;">CHA</th>
            <th style="width:10%;">Shipping Line</th>            
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a href="#" class="edit" onclick="EditDestuffingEntryDet(@item.DestuffingEntryId)"><i class="fa fa-pencil" aria-hidden="true"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" class="view" onclick="ViewDestuffingEntryDet(@item.DestuffingEntryId)"><i class="fa fa-eye" aria-hidden="true"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" class="delete" onclick="DeleteDestuffingEntryDet(@item.DestuffingEntryId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="PrintDestuffingEntryDet(@item.DestuffingEntryId)"><i class="fa fa-print" aria-hidden="true"></i></a></div></td>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.DestuffingEntryNo)</td>
                    <td>@Html.DisplayFor(m => item.DestuffingEntryDate)</td>
                    <td>@item.ContainerNo.Split('(')[0].ToString()</td>
                    <td>@item.ContainerNo.Split('(')[1].ToString().Substring(0, item.ContainerNo.Split('(')[1].Length-1)</td>
                    <td>@Html.DisplayFor(m => item.CHA)</td>
                    <td>@Html.DisplayFor(m => item.ShippingLine)</td>                    
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn btn-primary pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>


