@model CwcExim.Areas.Import.Models.PPG_FormOneModel

@using (Ajax.BeginForm("AddEditFormOne", "Ppg_CWCImport", new AjaxOptions { Confirm = "Are You Sure You Want To Save?", HttpMethod = "POST", OnBegin = "ValidateGrid", OnSuccess = "FormOneOnSuccess", OnFailure = "FormOneOnFailure" }))
{
    @Html.AntiForgeryToken();
    <div class="Head_h4">
        <div class="row">
            <div class="col-md-12">
                <h4>Form - 1</h4>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    @Html.HiddenFor(m => m.FormOneId, new { @value = "0" })
                    @Html.LabelFor(m => m.FormOneNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.FormOneNo, new { @class = "form-control input-sm", @readonly = true })
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                    @Html.LabelFor(m => m.FormOneDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2 col_cus_2_5">
                    @Html.TextBoxFor(m => m.FormOneDate, new { @class = "form-control input-sm", @readonly = true })
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Shipping Line Name:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.HiddenFor(m => m.ShippingLineId, new { @value = "0" })
                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input-sm", @readonly = true })
                    <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                    @Html.ValidationMessageFor(m => m.ShippingLineName)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    @Html.LabelFor(m => m.VesselName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.TextBoxFor(m => m.VesselName, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.VesselName)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    @Html.LabelFor(m => m.VoyageNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.VoyageNo, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.VoyageNo)
                </div>
                <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                    @Html.LabelFor(m => m.RotationNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.RotationNo, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.RotationNo)
                </div>
            </div>
        </div>

        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    @Html.LabelFor(m => m.PortName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-4 col_cus_3">
                    @Html.HiddenFor(m => m.PortOfDischargeId, new { @value = "0" })
                    @Html.TextBoxFor(m => m.PortName, new { @class = "form-control input-sm", @readonly = true })
                    <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PODModal"></i></span>
                    @Html.ValidationMessageFor(m => m.PortName)
                </div>
                <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 padding_rt">
                    @Html.LabelFor(m => m.PortCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.PortCharge, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.PortCharge)
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Port Charge Amount:</label>
                </div>
                <div class="col-md-2-5">
                    @Html.TextBoxFor(m => m.PortChargeAmt, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.PortChargeAmt)
                </div>
            </div>
        </div>

        <div class="Head_h5">
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Container No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.Hidden("FormOneDetailId", 0)
                        @Html.TextBox("txtContainerNo", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                        <span class="field-validation-error" id="ErrContainerNo"></span>
                    </div>
                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                        <label>Container Size:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.DropDownList("ddlContainerSize", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="20",Value="20"},
                                        new SelectListItem { Text="40",Value="40"},
                                     
                                        }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                        <span class="field-validation-error" id="ErrContainerSize"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    @*<div class="col-md-1-5 col_cus_2">
                        <label>Reefer:</label>
                    </div>
                    <div class="col-md-1 padding_rt">
                        <div class="boolean-container">
                            @Html.CheckBox("IsReefer")
                            <label for="IsReefer"><i class="square"></i></label>
                        </div>
                    </div>*@
                    <div class="col-md-1 col_cus_1_5 padding_rt">
                        <label>Flat Reck:</label>
                    </div>
                    <div class="col-md-1 padding_rt">
                        <div class="boolean-container">
                            @Html.CheckBox("IsFlatReck")
                            <label for="IsFlatReck"><i class="square"></i></label>
                        </div>
                    </div>
                    <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-3-5">
                        <label>Seal No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtSealNo", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                        <span class="field-validation-error" id="ErrSealNo"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Line No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtLineNo", "", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                        <span class="field-validation-error" id="ErrLineNo"></span>
                    </div>
                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                        <label>Marks & No:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("txtMarksNo", "", new { @class = "form-control input-sm" })
                        <span id="ErrMarksNo"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>CHA Name & Address:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.Hidden("CHAId", "0")
                        @Html.TextArea("txtCHAName", "", new { @class = "form-control input-sm", @readonly = true })
                        <span class="search" id="CHASearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                        <span id="ErrCHAName"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Importer Name & Address:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.Hidden("ImporterId", new { @value = "0" })
                        @Html.TextArea("txtImporterName", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                        <span class="search" id="ImporterSearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                        <span class="field-validation-error" id="ErrImporterName"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2 padding_rt">
                        <label>Cargo Description:</label>
                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextArea("txtCargoDesc", "", new { @class = "form-control input-sm", @style = "height:75px;", @onfocus = "hideMsg(this);" })
                        <span class="field-validation-error" id="ErrCargoDesc"></span>
                    </div>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Commodity:</label>
                    </div>
                    <div class="col-md-4 col_cus_3">
                        @Html.Hidden("CommodityId", new { @value = "0" })
                        @Html.TextBox("txtCommodity", "", new { @class = "form-control input-sm", @readonly = true, @onfocus = "hideMsg(this);" })
                        <span class="search" id="CommoditySearch" onclick="hideMsg(this);"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                        <span class="field-validation-error" id="ErrCommodity"></span>
                    </div>

                    <div class="col-md-1-5 col_cus_2">
                        <label>BL No.:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.TextBox("BLNO","", new { @class = "form-control input-sm" })
                        @*@Html.ValidationMessageFor(m => m.BLNo)*@
                    </div>
                </div>
            </div>


            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Cargo Type:</label>
                    </div>
                    <div class="col-md-2-5">
                        @Html.DropDownList("ddlCargoType", new List<SelectListItem>
                {

                new SelectListItem { Text="HAZ",Value="1"},
                new SelectListItem { Text="NonHAZ",Value="2"},
                }, "----Select----", new { @class = "form-control input-sm", @onfocus = "hideMsg(this);" })
                        <span class="field-validation-error" id="ErrCargoType"></span>
                    </div>
                    <div class="col-md-1 padding_rt">
                        <div class="boolean-container">
                            @Html.RadioButton("LCLFCL", "FCL", new { @class = "", @id = "rbFCL", @checked = true })
                            <label for="rbFCL"><i class="circle"></i><span>FCL</span></label>
                        </div>
                    </div>
                    <div class="col-md-1 padding_rt">
                        <div class="boolean-container">
                            @Html.RadioButton("LCLFCL", "LCL", new { @class = "", @id = "rbLCL" })
                            <label for="rbLCL"><i class="circle"></i><span>LCL</span></label>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2 padding_rt">
                    <label>Date of Landing:</label>
                </div>
                <div class="col-md-2 col_cus_2_5 Date_Img">
                    @Html.TextBox("txtDateOfLanding", "", new { @class = "form-control input-sm", placeholder = "dd/mm/yyyy", @readonly = true, @onfocus = "hideMsg(this);" })
                    <span id="ErrDateOfLanding"></span>
                </div>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-1-5 col_cus_2">
                    <label>Remarks:</label>
                </div>
                <div class="col-md-10-5 col_cus_10">
                    @Html.TextArea("txtRemarks", "", new { @class = "form-control input-sm", @style = "height:100px;" })
                    <span id="ErrRemarks"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-2  SignUp_space_bottom">
                <input type="button" id="btnAddFormOneDet" class="btn log_Btn_sm" value="Add" disabled onclick="AddFormOneDet()" />
            </div>
            <div class="col-md-2">
                <input type="button" id="btnResetFormOneDet" class="btn log_Btn_sm" value="Reset" onclick="ResetFormOneDet()" />
            </div>
        </div>

        <div class="row Form_Space_top Form_Space_bottom">
            <div class="col-md-12">
                <table class="table table-striped table-bordered dataTable" id="tblFormOneDet" style="width:100%;"></table>
            </div>
        </div>

        <div>
            @Html.HiddenFor(m => m.FormOneDetailsJS)
            @Html.ValidationMessageFor(m => m.FormOneDetailsJS)
        </div>
    </div>

    <div class="row">
        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
    </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
            </div>
            <div class="col-md-2">
                <input type="button" id="btnCancel" class="btn log_Btn_sm" value="Cancel" onclick="LoadImpForm1()" />  </div>
        </div>
        <div class="logSuccMsg" id="DivFormOneMsg" style="background-color:transparent"></div>

    <div id="ShippingLineModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Shippingbox" type="text" />
                    <ul class="navList" id="lstShipping">
                        @{
                            foreach (var item in Model.lstShippingLine)
                            {
                                <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="PODModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Port</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="PODbox" type="text" />
                    <ul class="navList" id="lstPOD">
                        @{
                            foreach (var item in Model.lstPOD)
                            {
                                <li id="@item.PODId">@item.PODName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CHAModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of CHA</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="CHAbox" type="text" />
                    <ul class="navList" id="lstCHA">
                        @{
                            foreach (var item in Model.lstCHA)
                            {
                                <li id="@item.CHAId">@item.CHAName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ImporterModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Importer</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Impbox" type="text" />
                    <ul class="navList" id="lstImp">
                        @{
                            foreach (var item in Model.lstImporter)
                            {
                                <li id="@item.ImporterId">@item.ImporterName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CommodityModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Commodity</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Commoditybox" type="text" />
                    <ul class="navList" id="lstCommodity">
                        @{
                            foreach (var item in Model.lstCommodity)
                            {
                                <li id="@item.CommodityId">@item.CommodityName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }
@Scripts.Render("~/bundles/jqueryval")
<script>
    var TimeInSeconds;
    var editflag = 0;
    $(document).ready(function () {
        //GetFormOne();
        //GetFormOneList();
        TimeInSeconds = 5000;
        $("#txtDateOfLanding").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage:  "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
    });

    $('#Shippingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShipping > li').show();
        else {
            $('#lstShipping > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstShipping > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#ShippingLineModal").modal("hide");
    });
    $('#PODbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPOD > li').show();
        else {
            $('#lstPOD > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstPOD > li').on("click", function () {
        $('#PortName').val($(this).text());
        $('#PortOfDischargeId').val($(this).attr('id'));
        $("#PODModal").modal("hide");
    });
    $('#CHAbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCHA > li').show();
        else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCHA > li').on("click", function () {
        $('#txtCHAName').val($(this).text());
        $('#CHAId').val($(this).attr('id'));
        $("#CHAModal").modal("hide");
    });
    $('#Impbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstImp > li').show();
        else {
            $('#lstImp > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstImp > li').on("click", function () {
        $('#txtImporterName').val($(this).text());
        $('#ImporterId').val($(this).attr('id'));
        $("#ImporterModal").modal("hide");
    });
    $('#Commoditybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCommodity > li').show();
        else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstCommodity > li').on("click", function () {
        $('#txtCommodity').val($(this).text());
        $('#CommodityId').val($(this).attr('id'));
        $("#CommodityModal").modal("hide");
    });
</script>
<script>

    var EditIndex = -1;
    var ArrayOfContainerDetails = [];
    var obj;
    $(document).ready(function () {
        debugger;
        ArrayOfContainerDetails = $.parseJSON($('#FormOneDetailsJS').val());

        GenerateTable();
    });
    function AddFormOneDet() {


        editflag = 0;
        var dateOfLanding = $('#txtDateOfLanding').val();
        if (dateOfLanding == "" || dateOfLanding == undefined) {
            dateOfLanding = "";
        }

        if (ValidateFormOneDet()) {

            var lclfcl = "";

            if ($('#rbFCL')[0].checked) {
                lclfcl = $('#rbFCL').val();
            }
            else {
                lclfcl = "LCL";
            }

            var ContainerDetails = {
                "FormOneDetailID": $('#FormOneDetailId').val(),
                "ContainerNo": $('#txtContainerNo').val(),
                "ContainerSize": $('#ddlContainerSize option:selected').val(),
                "Reefer": $('#IsReefer').is(':checked') ? 0 : 0,
                "FlatReck": $('#IsFlatReck').is(':checked') ? 1 : 0,
                "SealNo": $('#txtSealNo').val(),
                "LineNo": $('#txtLineNo').val(),
                "MarksNo": $('#txtMarksNo').val(),
                "CHAId": $('#CHAId').val(),
                "CHAName": $('#txtCHAName').val(),
                "ImporterId": $('#ImporterId').val(),
                "ImporterName": $('#txtImporterName').val(),
                "CargoDesc": $('#txtCargoDesc').val(),
                "CommodityId": $('#CommodityId').val(),
                "CommodityName": $('#txtCommodity').val(),
                "CargoType": $('#ddlCargoType option:selected').val(),
                "DateOfLanding": dateOfLanding,
                "Remarks": $('#txtRemarks').val(),
                "BLNo": $('#BLNO').val(),
                 "LCLFCL": lclfcl
            };
           // if (EditIndex > -1)
          //      ArrayOfContainerDetails.splice(EditIndex, 1, ContainerDetails);
           // else
                ArrayOfContainerDetails.push(ContainerDetails);
                $('#tblFormOneDet').html('');
             $('#btnAddFormOneDet').attr('disabled', 'disabled');
             //   $('#btnAddFormOneDet').prop("disabled", true);
            GenerateTable();
            //ResetFormOneDet();
            ResetFormOneDetPartial();
        }
    }
    function ValidateFormOneDet() {
        debugger;
        var Status = true;
        if ($('#txtContainerNo').val() == "") {
            $('#ErrContainerNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlContainerSize option:selected').text() == "----Select----") {
            $('#ErrContainerSize').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtSealNo').val() == "") {
            $('#ErrSealNo').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtLineNo').val() == "") {
            $('#ErrLineNo').html('Fill Out This Field');
            Status = false;
        }
        //if ($('#txtMarksNo').val() == "") {
        //    $('#ErrMarksNo').html('Fill Out This Field');
        //    Status = false;
        //}
        //if ($('#txtCHAName').val() == "") {
        //    $('#ErrCHAName').html('Fill Out This Field');
        //    Status = false;
        //}
        if ($('#txtImporterName').val() == "") {
            $('#ErrImporterName').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCargoDesc').val() == "") {
            $('#ErrCargoDesc').html('Fill Out This Field');
            Status = false;
        }
        if ($('#txtCommodity').val() == "") {
            $('#ErrCommodity').html('Fill Out This Field');
            Status = false;
        }
        if ($('#ddlCargoType option:selected').text() == "----Select----") {
            $('#ErrCargoType').html('Fill Out This Field');
            Status = false;
        }
        //if ($('#txtDateOfLanding').val() == "") {
        //    $('#ErrDateOfLanding').html('Fill Out This Field');
        //    Status = false;
        //}
        //if ($('#txtRemarks').val() == "") {
        //    $('#ErrRemarks').html('Fill Out This Field');
        //    Status = false;
        //}

        //setTimeout(function () { $('span[id*="Err"]').html(''); }, 2000);
        return Status;
    }
    function GenerateTable() {
        var tablehtml = '<table id="tblFormOneDet" class="table table-striped table-bordered dataTable" style="width:100%;">'
            + '<thead><tr><th style="width:8%;text-align:center;">SL No</th><th>Container No</th><th>Container Size</th><th>Line No</th><th>Date of Landing</th><th style="width:10%;text-align:center;">Edit</th><th style="width:10%;text-align:center;">View</th></tr>'
            + '</thead><tbody>';
        $.each(ArrayOfContainerDetails, function (i, data) {
            tablehtml += '<tr><td style="text-align:center;">' + (i + 1) + '</td><td>' + data.ContainerNo + '</td><td>' + data.ContainerSize + '</td><td>' + data.LineNo + '</td><td>' + data.DateOfLanding + '</td>'
                + '<td style="text-align:center;"><a href="#" onclick="EditFormOneDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td>'
                + '<td style="text-align:center;"><a href="#" onclick="ViewFormOneDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        tablehtml += '</tbody></table>';
        $('#tblFormOneDet').html(tablehtml);

        if (ArrayOfContainerDetails.length > 0) {
            $('#FormOneDetailsJS').val(JSON.stringify(ArrayOfContainerDetails));
        }
        else {
            $('#FormOneDetailsJS').val('');
        }
       // $('#btnAddFormOneDet').prop("disabled", "disabled");
    }
    function ResetFormOneDetPartial() {
        $('#FormOneDetailId, #CHAId').val('0');

        if ($('input[name=LCLFCL]:checked').val() == 'FCL') {
            $('#txtContainerNo, #txtSealNo, #txtMarksNo, #txtDateOfLanding, #txtRemarks').val('');
        }
        else {
            $('#txtContainerNo, #txtSealNo, #txtMarksNo, #txtCargoDesc, #txtDateOfLanding, #txtRemarks').val('');
        }

        $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#ddlContainerSize').prop('selectedIndex', 0);
        $('#btnAddFormOneDet').prop("disabled", "disabled");
    }

    function ResetFormOneDet() {
        $('#FormOneDetailId, #CHAId, #ImporterId, #CommodityId').val('0');
        $('#txtContainerNo, #txtSealNo, #txtLineNo, #txtMarksNo, #txtCHAName, #txtImporterName, #txtCargoDesc, #txtCommodity, #txtDateOfLanding, #txtRemarks').val('');
        $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#ddlContainerSize, #ddlCargoType').prop('selectedIndex', 0);
        $('#btnAddFormOneDet').prop("disabled", "disabled");
    }

    function EditFormOneDet(i) {



        debugger;
        if (editflag == 0) {

            if (ArrayOfContainerDetails[i].LCLFCL == "FCL") {
                $('#rbFCL')[0].checked = true;
            }
            else {
                $('#rbLCL')[0].checked = true;
            }
            $('#btnAddFormOneDet').prop("disabled", false);
            $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
            $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
            $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
            $('#IsReefer').prop('checked', (ArrayOfContainerDetails[i].Reefer == 1 ? false : false));
            $('#IsFlatReck').prop('checked', (ArrayOfContainerDetails[i].FlatReck == 1 ? true : false));
            $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
            $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
            $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
            $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
            $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
            $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
            $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
            $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
            $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
            $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
            $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').prop("selected", true);
            $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
            $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
            $('#BLNO').val(ArrayOfContainerDetails[i].BLNo);
            EditIndex = i;
            ArrayOfContainerDetails.splice(EditIndex, 1);
            editflag = 1;
            $('#btnAddFormOneDet').prop("disabled", false);
            GenerateTable();
        }
        else
        {
            alert("Please add previous container");
        }
    }
    function ViewFormOneDet(i) {
        $('#FormOneDetailId').val(ArrayOfContainerDetails[i].FormOneDetailID);
        $('#txtContainerNo').val(ArrayOfContainerDetails[i].ContainerNo);
        $('#ddlContainerSize option[value="' + ArrayOfContainerDetails[i].ContainerSize + '"]').prop("selected", true);
        $('#IsReefer').attr('checked', ArrayOfContainerDetails[i].Reefer == 1 ? false : false);
        $('#IsFlatReck').attr('checked', ArrayOfContainerDetails[i].FlatReck == 1 ? true : false);
        $('#txtSealNo').val(ArrayOfContainerDetails[i].SealNo);
        $('#txtLineNo').val(ArrayOfContainerDetails[i].LineNo);
        $('#txtMarksNo').val(ArrayOfContainerDetails[i].MarksNo);
        $('#CHAId').val(ArrayOfContainerDetails[i].CHAId);
        $('#txtCHAName').val(ArrayOfContainerDetails[i].CHAName);
        $('#ImporterId').val(ArrayOfContainerDetails[i].ImporterId);
        $('#txtImporterName').val(ArrayOfContainerDetails[i].ImporterName);
        $('#txtCargoDesc').val(ArrayOfContainerDetails[i].CargoDesc);
        $('#CommodityId').val(ArrayOfContainerDetails[i].CommodityId);
        $('#txtCommodity').val(ArrayOfContainerDetails[i].CommodityName);
        $('#ddlCargoType option[value="' + ArrayOfContainerDetails[i].CargoType + '"]').attr("selected", "selected");
        $('#txtDateOfLanding').val(ArrayOfContainerDetails[i].DateOfLanding);
        $('#txtRemarks').val(ArrayOfContainerDetails[i].Remarks);
        $('#BLNO').val(ArrayOfContainerDetails[i].BLNo);

        $('#btnAddFormOneDet').prop("disabled", true);
    }

    function ResetAllFields() {
        @*$('[data-valmsg-for]').html('');
        $('span [id*="Err"]').html('');
        $('input[type="text"],Select,textarea').val('');
        $('#FormOneId, #ShippingLineId, #PortOfDischargeId, #FormOneDetailId, #CHAId, #ImporterId, #CommodityId').val('0');
        $('input[type="checkbox"').prop('checked', false);
        $('#FormOneDate').val('@Model.FormOneDate');
        $('#tblFormOneDet').html('');
        ArrayOfContainerDetails = [];*@
        GetFormOne();
    }
    function FormOneOnSuccess(data) {
        if (data.Status == 1 || data.Status == 2 || data.Status == 3) {
            if ($('#DivFormOneMsg').hasClass('logErrMsg'))
                $('#DivFormOneMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivFormOneMsg').html(data.Message);
            setTimeout(GetFormOne, TimeInSeconds);
            //ResetAllFields();
            GetFormOneList();
        }
        else {
            if ($('#DivFormOneMsg').hasClass('logSuccMsg'))
                $('#DivFormOneMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivFormOneMsg').html(data.Message);
        }
    }
    function FormOneOnFailure() {
        alert("Error");
    }
    function ValidateGrid() {
        if ($('#FormOneDetailsJS').val() == '') {
            alert('Container Details Must Have Data.');
            return false;
        }
        else {
            var flag = false;
            var ContainerJArray = JSON.parse($('#FormOneDetailsJS').val());
            $.each(ContainerJArray, function (i, item) {
                if (item.DateOfLanding == '') {
                    flag = true;
                    return false;
                }
            });
            //if (flag) {
            //    alert('Container Details Must Have Date Of Landing.');
            //    return false;
            //}
            //else {
            //    return true;
            //}
        }
    }

    function hideMsg(elem) {
        $(elem).parent().find(".field-validation-error").html(" ");
    }

    function LoadImpForm1() {
        $('#DivBody').load('/Import/Ppg_CWCImport/CreateFormOne');
    }
</script>
