@if (ViewBag.ContainersList != null)
{
    <input type="hidden" id="hdnContainersList" value="@ViewBag.ContainersList" />
}
else
{
    <input type="hidden" id="hdnContainersList" value="" />
}
@if (ViewBag.ShippingLine != null)
{
    <input type="hidden" id="hdnShippingLine" value="@ViewBag.ShippingLine" />
}
else
{
    <input type="hidden" id="hdnShippingLine" value="" />
}
<input type="hidden" id="hdnCurDate" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" />

<script src="~/Areas/Import/Scripts/App/Services/EmpContTrnsService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/EmpContTrnsCtrl.js"></script>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>

    angular.bootstrap(document.getElementById('EmpContTrnsDiv'), ['CWCApp']);
    var genr = 0;
    $('#InvoiceDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    $('#EcCfsCodeBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainers > li').show();
        else {
            $('#lstContainers > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    function SelectPayee(PartyId, PartyName) {
        debugger;
        angular.element(document.querySelector('[ng-controller="EmpContTrnsCtrl"]')).scope().
         SelectPayee(PartyId, PartyName);
    }



    function LoadMorePayee() {
        debugger;
        $.ajax({
            url: '/Import/Ppg_CWCImport/LoadPayeeLists',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstParty, function (item, elem) {
                        debugger;
                        //html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName + '&quot;)"><td>' + elem.ImporterName + '</td></tr>';
                        html += '<tr onclick="SelectPayee(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';

                    });
                    if (Page == -1)
                        $('#tblePay tbody').html(html);
                    else
                        $('#tblePay tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#LoadMorePayee').prop('disabled', false);
                    else $('#LoadMorePayee').prop('disabled', true);
                }
            }
        });
    }

    var Page = 0;
    function LoadPayee() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Import/Ppg_CWCImport/LoadPayeeLists',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstParty, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectPayee(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tblePay tbody').html(html);

                    if (data.Data.State == true)
                        $('#LoadMorePayee').prop('disabled', false);
                    else $('#LoadMorePayee').prop('disabled', true);
                }
            }
        });
    }

    function SearchPayeeByPartyCode() {
        debugger;
        if ($('#Paybox').val() != '') {
            $.ajax({
                url: '/Import/Ppg_CWCImport/SearchPayeeNameByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Paybox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstParty, function (item, elem) {
                            html += '<tr onclick="SelectPayee(' + elem.PartyId + ',&quot;' + elem.PartyName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.PartyName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tblePay tbody').html('');
                        $('#tblePay tbody').html(html);
                        $('#LoadMorePayee').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tblePay tbody').html('');
                        Page = -1;
                        $('#LoadMorePayee').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadPayee();
    }

    function ClosePayee() {
        $('#Paybox').val('');
        $("#PayeeModal").modal("hide");
        LoadPayee();
    }

    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        TaxType = Type;
        $('#DivBody').load('/Import/Ppg_CwcImport/EmptyContainerTransferInv?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else
        $('#Bill').prop('checked', true);



    function PrintInvoice() {
        debugger;
        var invoiceno = $('#InvoiceNo').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'ECTrns',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'Empty Container Transfer',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('Paybox').addEventListener('keyup', debounce(function () {
        SearchPayeeByPartyCode();
    }, 800));

    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    })

</script>


<div id="EmpContTrnsDiv">
    <div ng-controller="EmpContTrnsCtrl">

        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Empty Container Transfer</h4>
                        </div>
                    </div>


                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="Radiocontainer">
                                        Tax Invoice
                                        @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="Radiocontainer">
                                        Bill Of Supply
                                        @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Invoice No:</label>
                                    <input id="InvoiceNo" ng-model="InvoiceNo" type="text" readonly />
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Delivery Date:</label>
                                    <div class="position-relative Date_Img">
                                        @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Container No:</label>
                                    <div class="position-relative">
                                        <input type="text" id="ContainerNo" readonly ng-model="ContainerNo" />
                                        <span class="input_icon" ng-show="InvoiceNo!=''"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerNoModal"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-1-5">
                                <div class="form-group">
                                    <label>Size:</label>
                                    <input type="text" id="Size" readonly ng-model="Size" />
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-1-5">
                                <div class="form-group">
                                    <label>Entry Date:</label>
                                    <div class="position-relative Date_Img">
                                        <input type="text" id="EntryDateTime" readonly ng-model="EntryDateTime" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>ICD Code:</label>
                                    <input id="CFSCode" ng-model="CFSCode" type="text" readonly />
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Destuff Date:</label>
                                    <div class="position-relative Date_Img">
                                        <input type="text" id="DestuffDate" ng-model="DestuffDate" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>From Shipping Line:</label>
                                    <input type="text" readonly id="FromShippingLineName" ng-model="FromShippingLineName" />
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>To Shipping Line:</label>
                                    <div class="position-relative">
                                        <input type="text" readonly id="ToShippingLineName" ng-model="ToShippingLineName" />
                                        <span class="input_icon" ng-show="InvoiceNo !=''"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Payee Name:</label>
                                    <div class="position-relative">
                                        <input type="text" readonly id="PayeeId" ng-model="PayeeName" />
                                        <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PayeeModal"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Place Of Supply:</label>
                                    <input type="text" readonly ng-model="PlaceOfSupply" />
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>SEZ:</label>
                                    @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "dropdown" })
                                    @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>GST No:</label>
                                    <input type="text" readonly ng-model="GstNo" />
                                </div>
                            </div>
                            <div class="col-md-2 UploadFileBtn">
                                <input type="button" id="btnShowDetails" class="btn btn-primary" ng-model="CalculateCharges" value="Calculate Charges" />
                            </div>
                        </div>

                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Invoiceobj.lstPostPaymentChrg">
                                                <td>{{item.ChargeName}} [{{item.Clause}}]</td>
                                                <td style="text-align:right;">{{item.Amount | number : 2}}</td>
                                                <td style="text-align:right;">{{item.IGSTPer | number : 2}}</td>
                                                <td style="text-align:right;">{{item.IGSTAmt | number : 2}}</td>
                                                <td style="text-align:right;">{{item.CGSTPer | number : 2}}</td>
                                                <td style="text-align:right;">{{item.CGSTAmt | number : 2}}</td>
                                                <td style="text-align:right;">{{item.SGSTPer | number : 2}}</td>
                                                <td style="text-align:right;">{{item.SGSTAmt | number : 2}}</td>
                                                <td style="text-align:right;">{{item.Total | number : 2}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8" class="text-right">Total:</td>
                                                <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                                    {{Invoiceobj.AllTotal | number : 2}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" class="text-right">Round Up:</td>
                                                <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                                    {{Invoiceobj.RoundUp | number : 2}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                                <td style="font-weight:bold;color:#ff0000;text-align:right;">
                                                    {{Invoiceobj.InvoiceAmt | number : 2}}
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remarks:</label>
                                    <textarea id="Remarks" style="height:75px;" maxlength="500" ng-model="IrrObj.Remarks"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>

                        <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent">{{Message}}</div>

                        <div class="d-flex justify-content-left">
                            <input type="button" id="btnSave" class="btn btn-primary mr-1 btn-100px" value="Save" ng-click="Save()" ng-disabled="">
                            <input type="button" class="btn btn-primary-border mr-1 btn-100px" value="Reset" ng-click="Reset()">
                            <input type="button" id="BtnGenerateIRN" class="btn btn-primary mr-1 btn-100px" value="Generate IRN" ng-click="GenerateIRN()" disabled="disabled">
                            <input type="button" id="btnPrint" class="btn btn-primary mr-1 btn-100px" value="Print" onclick="PrintInvoice()" ng-disabled="true">
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div id="ContainerNoModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Containers</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" type="text" id="EcCfsCodeBox" ng-model="searchContno" />
                        <ul class="navList" id="lstContainers">
                            <li ng-repeat="c in ContainersList | filter :{ContainerNo:searchContno}" ng-click="SelectContainer(c)">{{ c.CFSCode +'-'+ c.ContainerNo }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PayeeModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" onclick="ClosePayee()"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Payee Name</h4>
                    </div>
                    <div class="modal-body popup_body" style="position:relative;">
                        <input placeholder="Search By Payee Name Or Party Code" id="Paybox" type="text" />
                        <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchPayeeByPartyCode()"></i></span>
                        <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                            <thead>
                                <tr>
                                    <th colspan="8" width="80%">Payee Name</th>
                                    <th colspan="4" width="20%">Party Code</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="slim_scroll_1">
                            <table class="table dataTable table-bordered table-striped slim_tble" id="tblePay">
                                @{
                                    if (ViewBag.lstParty != null)
                                    {
                                        foreach (var item in ViewBag.lstParty)
                                        {
                                            <tr ng-click="SelectPayee(@item.PartyId,'@item.PartyName')">
                                                <td colspan="8" width="80%" class="txt_wrp">@item.PartyName</td>
                                                <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                            </tr>
                                        }
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                                {
                                    <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadImp">Load More Data</button>
                                }
                                else
                                {
                                    <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadImp" disabled>Load More Data</button>
                                }
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn log_Btn_sm" onclick="ClosePayee()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ShippingLineModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Shipping Line</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" type="text" ng-model="searchShipping" />
                        <ul class="navList" id="lstContainers">
                            <li ng-repeat="c in ShippingLine | filter :{ShippingLineName:searchShipping}" ng-click="SelectShippingLine(c)">{{c.ShippingLineName}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>