@model CwcExim.Areas.Import.Models.PPG_JobOrder
<script src="~/Areas/Import/Scripts/App/Services/JobOrderNewFormatService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/JobOrderNewFormatCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('JobOrderNewFormatService'), ['CWCApp']);
</script>
<style>
    #DivFormOneDet {
        height: 500px;
        overflow-x: hidden;
    }

    #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slim_tble {
        width: 100%;
        table-layout: fixed;
    }

    .txt_wrp {
        overflow: hidden;
        word-wrap: break-word;
    }
</style>

@{

    if (ViewBag.RightsList != null)
    {
        <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
    }
    else
    {
        <input type="hidden" id="hdnRights" value="" />
    }

    if (ViewBag.ListOfTrainPick != null)
    {
        <input type="hidden" id="hdnTrainNo" value="@ViewBag.ListOfTrainPick" />
    }
    else
    {
        <input type="hidden" id="hdnTrainNo" value="" />
    }

    if (ViewBag.ListOfTrain != null)
    {
        <input type="hidden" id="hdnTrain" value="@ViewBag.ListOfTrain" />
    }
    else
    {
        <input type="hidden" id="hdnTrain" value="" />
    }
    if (ViewBag.ListOfShippingLine != null)
    {
        <input type="hidden" id="hdnShipping" value="@ViewBag.ListOfShippingLine" />
    }
    else
    {
        <input type="hidden" id="hdnShipping" value="" />
    }

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.StringifyXML)
    @Html.HiddenFor(m=>m.ImpJobOrderId)
    <div id="JobOrderNewFormatService" ng-controller="JobOrderNewFormatCtrl">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-0-5 col-md-11">
                        <div class="Head_h4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4> Job Order By Train</h4>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Job Order No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                      @Html.TextBoxFor(m => m.JobOrderNo, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.HiddenFor(m => m.ImpJobOrderId)
                                    @Html.ValidationMessageFor(m => m.JobOrderNo, "", new { @class = "Error_Msg" })
                                    </div>

                                    <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 padding_rt">
                                        <label>Pickup Location:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5">
                                        @if (Model.lstpickup != null)
                                        {
                                            if (Model.lstpickup.Count > 0)
                                            {
                                                @Html.DropDownListFor(m => m.PickUpLocation, new SelectList(Model.lstpickup, "pickup_location", "pickup_location"), "---Select---", new { @class = "form-control input-sm dropdown" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.PickUpLocation, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control input-sm dropdown" })
                                            }
                                        }
                                        @Html.ValidationMessageFor(m => m.PickUpLocation, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 padding_rt">
                                        <label>Job Order Date:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.JobOrderDate, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control input-sm", @readonly = true })

                                      
                                        @Html.ValidationMessageFor(m => m.JobOrderDate, "", new { @class = "Error_Msg" })
                                    </div>

                                    <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 padding_rt">
                                        <label>Job Order Time:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5">
                                        <div class="input-group clockpicker" data-placement="left" data-align="top">
                                            <input type="text" id="JobOrderTime" name="JobOrderTime" class="form-control" value="@ViewBag.strTime" readonly="readonly" style="background-color:#fff;z-index:0;" />
                                           @* <input type="hidden" id="EditTime" name="EditTime" value="@ViewBag.strTime" />*@
                                            <span class="input-group-addon" style="padding:2px 10px;">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>  


                        

                         

                            <div class="row">
                                <div class="col-md-offset-5 col-md-2" style="text-align:center">
                                    <input type="button" value="Add Row" ng-show="ishide" class="btn log_Btn_sm" ng-click="AddJobOrderByRoad()" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="SignUp_space_bottom SignUp_space_top"></div>
                            </div>

                            <div class="brdr_sec">
                              
                                <div class="Form_Space_top">
                                    <div id="DivFormOneDet" ng-hide="JODetails.length==0">
                                        <table class="table table-bordered table-striped dataTable" style="width:100%;">
                                            <thead>
                                               
                                                <tr>
                                                    <th width="5%">Sl No</th>
                                                    <th>Container No</th>
                                                    <th>Size</th>
                                                    <th>Seal No</th>
                                                    <th>Cargo</th>
                                                    <th>Shipping Line</th>
                                                    <th>Tare Weight</th>
                                                    <th>Net Weight</th>
                                                    <th>Gross Weight</th>
                                                    <th>Type</th>
                                                    <th>Destination</th>
                                                    <th>TP No</th>
                                                    <th>TP Date</th>
                                                    <th width="8%" style="text-align:center;" ng-show="ishide">Action</th>
                                                </tr>
                                               
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in JODetails">
                                                    <td width="5%">{{$index+1}}<input type="hidden" ng-model="j.ID" /></td>
                                                    <td style="position:relative;">
                                                        <input type="text" ng-model="j.Container_No" id="ContainerNo{{$index}}" ng-disabled="true" required />
                                                     
                                                        <span id="ContainerNoSerach" class="search" style="top: 6px; right: 13px;" ><i  class="fa fa-search" aria-hidden="true" ng-model="j.Slmodal" ng-click="GetJobOrderContainerNo($index)" data-toggle="modal" data-target="#blNomodal"></i></span>
                                                    </td>
                                                    <td><input type="text" ng-model="j.CT_Size"  /></td>
                                                    <td><input type="text" ng-model="j.CustomSealNo"  /></td>
                                                    <td><input type="text" ng-model="j.CargoDescription"  /></td>
                                                    <td style="position:relative;"><input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" required />
<input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
<span class="search" style="top: 6px; right: 13px;" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.Slmodal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#slmodal"></i></span></td>
                                                    <td><input type="text" ng-model="j.Ct_Tare" onkeypress="return isDecimalNumber(event)"  /></td>
                                                    <td><input type="text" ng-model="j.Cargo_Wt" onkeypress="return isDecimalNumber(event)"  /></td>
                                                    <td><input type="text" ng-model="j.Gross_Wt" onkeypress="return isDecimalNumber(event)" /></td>
                                                    <td width="8%">
                                                        <select ng-model="j.ContainerLoadType">
                                                            <option value="">--Select--</option>
                                                            <option value="{{t.id}}" ng-repeat="t in ContainerLoadTypeList">{{t.ContainerLoadType}}</option>
                                                        </select>
                                                    </td>
                                                   
                                                    <td><input type="text" ng-model="j.Destination"  /></td>
                                                    <td><input type="text" ng-model="j.Smtp_No"  /></td>
                                                    <td><input type="text" ng-model="j.Received_Date"  /></td>
                                                    <td width="8%" style="text-align:center;" ng-show="ishide">
                                                        <a href="#" ng-click="Delete($index)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a>
                                                    </td>

                                              





                                                  
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="SignUp_space_bottom SignUp_space_top">


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-2" style="text-align:center">


                                    <input type="submit" id="BtnYardSubmit" value="Save" class="btn log_Btn_sm" ng-disabled="btnSaveFlag" ng-click="OnJobOrderSave()" /> @*onclick="datevalidation();"*@

                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Delete" ng-disabled="btnflag" class="btn log_Btn_sm" onclick="DeleteList()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Print" ng-disabled="btnflag" ng class="btn log_Btn_sm" onclick="Print()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Reset" class="btn log_Btn_sm" ng-click="ResetImpJODetails()" />
                                </div>

                            </div>

                            <div class="logSuccMsg" style="background-color:transparent" id="DivJobOrder"></div>
                            <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivJobOrderErrMsg"></div>


                            @*<div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                                    <div id="DivYardMsg"></div>
                                </div>

                                <div id="DivYardErrMsg" class="logErrMsg" style="background-color:transparent"></div>*@
                            <div class="row Form_Space_top Form_Space_bottom">
                                <div class="form-group Form_Input">
                                    <div class="col-md-2">
                                        <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" onclick="LoadJobOrderList()" />
                                    </div>
                                    <div class="col-md-offset-7 col-md-3">
                                        @Html.TextBox("ContainerNoSearch", "", new { placeholder = "Search By Container / CBT" })
                                        <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="SearchByContainerNo()"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="tblEntryDet"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 SignUp_space_bottom">
                                    <div id="DivYardList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Scripts.Render("~/bundles/jqueryval")
            <div id="blNomodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Container No.</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Containerbox" type="text" />
                            <ul class="navList" id="lstContainerNo">
                                @*@{
                                        if (ViewBag.ListOfTrain != null)
                                        {
                                            foreach (var item in ViewBag.ListOfTrain)
                                            {
                                                <li id="@item.TrainSummaryID">@item.TrainNo</li>
                                            }
                                        }
                                    }*@
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slmodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" onclick="CloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Shipping Line</h4>
                        </div>
                        <div class="modal-body popup_body" style="position:relative;">
                            <input placeholder="Search By Shipping Line Or Party Code" id="ShpngLinebox" type="text" />
                            <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>

                            <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                <thead>
                                    <tr>
                                        <th colspan="8" width="80%">Shipping Line Name</th>
                                        <th colspan="4" width="20%">Party Code</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="slim_scroll">
                                <table class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                                    @{
                                        if (ViewBag.lstShippingLine != null)
                                        {
                                            foreach (var item in ViewBag.lstShippingLine)
                                            {
                                                <tr ng-click="SelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')">
                                                    <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                                    <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                                    {
                                        <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                                    }
                                    else
                                    {
                                        <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrader()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
</script>

<script>
    $("#JobOrderDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
        twelvehour: true
    });

    function DeleteList() {
        debugger;
        var Confirm = confirm("Are you sure you want to delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Import/PpG_CWCImport/DeleteJobOrderNewFormat',
                type: 'POST',
                data: { ImpJobOrderId:  $('#ImpJobOrderId').val() },
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        alert("Job Order has been deleted successfully");
                        $('#DivBody').load('/Import/PpG_CWCImport/JobOrderNewFormat');
                    }
                    else
                        alert(data.Message);
                }
            });
        }
    }
    function Print() {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Import/PpG_CWCImport/PrintJONewFormat',
            type: 'POST',
            data: { ImpJobOrderId: $('#ImpJobOrderId').val() },
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });

    }






    function isDecimalNumber(event) {
        let charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('#Containerbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainerNo > li').show();
        else {
            $('#lstContainerNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
   

    var ListOfTrainNo = 0;
    $('#ContainerNoSerach').on("click", function () {
        debugger;
        $.ajax({
            url: "/Import/Ppg_CWCImport/GetAllContainerNo",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfTrainNo = data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.TrainNo + ' onclick="FillTrainBox(&quot;' + item.TrainNo + '&quot;,' + item.TrainSummaryID + ')">' + item.TrainNo + '</li>';
                    });
                    $('#lstContainerNo').html(Html);
                }
            }

        });
    });

    function FillTrainBox(TrainNo, TrainSummaryID) {
        debugger;
        //var ContainerNo=ContainerNo.id==''?ContainerNo:ContainerNo.id;
        $('#TrainNo').val(TrainNo);
        $('#TrainSummaryID').val(TrainSummaryID);
        $("#blNomodal").modal("hide");
        angular.element('#JobOrderAppDiv').scope().GetTrainDetails();
        angular.element('#JobOrderAppDiv').scope().$apply();
    }

    function FillContainerBox(TrainNo, TrainSummaryID)
    {
        debugger;
        angular.element('#JobOrderNewFormatService').scope().FillContainerBoxDetails(TrainNo, TrainSummaryID);
        angular.element('#JobOrderNewFormatService').scope().$apply();
    }


    function SearchByPartyCode() {
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/PpG_CWCImport/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    var Page = 0;
    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/PpG_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }
    function SelectSline(ShippingLineId, ShippingLineName) {
        angular.element(document.querySelector('[ng-controller="JobOrderNewFormatCtrl"]')).scope().
        SelectShippingLine(ShippingLineId, ShippingLineName);

    }
    function LoadEximTrader() {
        Page = 0;
        $.ajax({
            url: '/Import/PpG_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr  onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function CloseEximTrader() {
        $('#ShpngLinebox').val('');
        $("#slmodal").modal("hide");
        LoadEximTrader();
    }
    //$('#lstsline > li').on("click", function () {
    //    debugger;
    //    $('#SLine').val($(this).text().split('(')[0]);
    //    $('#ShippingLineName').val($(this).text().split('(')[0]);
    //    $('#SlineId').val($(this).attr('id'));
    //    $("#slmodal").modal("hide");
    //    //  GetTrainDetails();
    //});

    function checklenrem() {
        if ($('#Remarks').val().length > 200) {
            $('#ErrRemarks').html('Exceed Max langth 200 characters');
            return false;
        }
        else {
            $('#ErrRemarks').html('');
        }
    }

    function checklencar() {
        if ($('#CargoDescription').val().length > 200) {
            $('#ErrCargoDescription').html('Exceed Max langth 200 characters');
            return false;
        }
        else {
            $('#ErrCargoDescription').html('');
        }
    }
    function AddJoborder() {



        if ($('#Remarks').val().length > 200) {
            $('#ErrRemarks').html('Exceed Max langth 200 characters');
            return false;
        }
        else if ($('#CargoDescription').val().length > 200) {
            $('#ErrCargoDescription').html('Exceed Max langth 200 characters');
            return false;
        }
        else if ($('#CLType').val() == '') {
            $('#ErrContainerLoadType').html('Container / CBT Load Type should not be blank');
            return false;

        }
        else if ($('#CrType').val() == '') {
            $('#ErrCrType').html('Cargo Type should not be blank');
            return false;

        }
        else if ($('#SLine').val() == '') {
            $('#ErrShipping').html('Shipping Line should not be blank');
            return false;

        }
        else {
            $('#AddJobOrd').prop("disabled", "disabled");
            var TrainDetail = {
                "TrainSummarySerial": $('#TrainSummarySerial').val(),
                "TrainSummaryID": $('#TrainSummaryID').val(),
                "TrainNo": $('#TNo').val(),
                "TrainDate": $('#TrainDt').val(),
                "PortId": $('#PortID').val(),
                "Wagon_No": $('#Wagon_No').val(),
                "Container_No": $('#CNNo').val(),
                "CT_Size": $('#size').val(),
                "CustomSealNo": $('#CSNo').val(),
                "ShippingLineNo": $('#SLNo').val(),
                "ShippingLineId": $('#SlineId').val(),
                "ShippingLineName": $('#SLine').val(),
                "CargoType": $('#CrType').val(),
                "ContainerLoadType": $('#CLType').val(),
                "TransportForm": $('#TransportForm').val(),
                "NoOfPackages": $('#NPckg').val(),
                "Line_Seal_No": $('#Line_Seal_No').val(),
                "Cont_Commodity": $('#Cont_Commodity').val(),
                "S_Line": $('#Line_Seal_No').val(),
                "Ct_Tare": $('#Ct_Tare').val(),
                "Cargo_Wt": $('#Cargo_Wt').val(),
                "Gross_Wt": $('#GWeg').val(),
                "Ct_Status": $('#Ct_Status').val(),
                "Destination": $('#Destination').val(),
                "Smtp_No": $('#Smtp_No').val(),
                "Received_Date": $('#Received_Date').val(),
                "Genhaz": $('#Genhaz').val(),
                "Remarks": $('#Remarks').val(),
                "CargoDescription": $('#CargoDescription').val()
            }
        }
        flagg = 0;
        FormOneDetails.push(TrainDetail);

        GenerateTable();
        ResetJobOrder();
        // ResetFormOneDetPartial();

    }


    function ResetJobOrder() {
        $('#CNNo, #size, #CSNo, #SLNo,#SLine,#Remarks,#CargoDescription').val('');
        $('#GWeg,#NPckg').val('0');
        //  $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#CrType, #CLType,#TransportForm').prop('selectedIndex', 0);
        //   $('#btnAddFormOneDet').prop("disabled", false);
    }
    //function GetTrainDetails() {
    //    debugger;
    //    var TSumId = $('#TrainSummaryID').val();
    //    $.ajax({
    //        url: '/Import/Ppg_CWCImport/GetTrainDetl',
    //        dataType: 'JSON',
    //        type: 'GET',
    //        data: { TrainSumId: TSumId },
    //        success: function (data) {
    //            if (data != null) {
    //                var html = '';
    //                FormOneDetails = [];
    //                $.each(data, function (i, elem) {
    //                    $('#TrainNo').val(elem.TrainNo);
    //                    $('#TrainDate').val(elem.TrainDate).toString("dd/MMM/yyyy hh:mm");

    //                    var dt = $('#TrainDate').val().split("/");

    //                    var mm = "";
    //                    if (dt[1] == 'Jan') {
    //                        mm = "01";
    //                    }
    //                    if (dt[1] == 'Feb') {
    //                        mm = "02";
    //                    }
    //                    if (dt[1] == 'Mar') {
    //                        mm = "03";
    //                    }
    //                    if (dt[1] == 'Apr') {
    //                        mm = "04";
    //                    }
    //                    if (dt[1] == 'May') {
    //                        mm = "05";
    //                    }
    //                    if (dt[1] == 'Jun') {
    //                        mm = "06";
    //                    }
    //                    if (dt[1] == 'Jul') {
    //                        mm = "07";
    //                    }
    //                    if (dt[1] == 'Aug') {
    //                        mm = "08";
    //                    }
    //                    if (dt[1] == 'Sep') {
    //                        mm = "09";
    //                    }
    //                    if (dt[1] == 'Oct') {
    //                        mm = "10";
    //                    }
    //                    if (dt[1] == 'Nov') {
    //                        mm = "11";
    //                    }
    //                    if (dt[1] == 'Dec') {
    //                        mm = "12";
    //                    }

    //                    var tt = dt[2].split(" ");
    //                    var tt1 = tt[1].split(":");
    //                    var tt2 = 0;


    //                    var dt1 = mm + "/" + dt[0] + "/" + tt[0] + " " + tt[1];

    //                    var dt2 = new Date(dt1);
    //                    var ampm = dt2.getHours();
    //                    if (ampm < 12) {
    //                        tt2 = ampm + 12;
    //                    }
    //                    else {
    //                        tt2 = ampm;
    //                    }

    //                    var timm = tt2 + ":" + tt1[1];
    //                    var dt3 = mm + "/" + dt[0] + "/" + tt[0] + timm;

    //                    $('#trainCheck').val(dt1);


    //                    //   html += '<li id="' + elem.YardId + '" onclick="SelectYard(this)">' + elem.YardName + '</li>';

    //                    //  $('#lstYard').html(html);
    //                    var flag = 0;
    //                    $.each(FormOneDetails, function (i1, elem1) {

    //                        if (elem.Container_No == elem1.Container_No) {

    //                            flag = 1;

    //                        }
    //                    });

    //                    debugger;
    //                    var TransFormname = "";
    //                    if (flag == 0) {
    //                        var TrainDetail = {
    //                            "TrainSummarySerial": elem.TrainSummarySerial,
    //                            "TrainSummaryID": elem.TrainSummaryID,
    //                            "TrainNo": elem.TrainNo,
    //                            "TrainDate": elem.TrainDate,
    //                            "PortId": elem.PortId,
    //                            "Wagon_No": elem.Wagon_No,
    //                            "Container_No": elem.Container_No,
    //                            "CT_Size": elem.CT_Size,
    //                            "CustomSealNo": elem.Line_Seal_No,
    //                            "ShippingLineNo": elem.S_Line,
    //                            "ShippingLineId": elem.ShippingLineId,
    //                            "ShippingLineName": elem.ShippingLineName,
    //                            "CargoType": 'Non HAZ',
    //                            "ContainerLoadType": elem.Ct_Status,
    //                            "TransportForm": elem.TransportName,
    //                            "NoOfPackages": 0,
    //                            "Line_Seal_No": elem.Line_Seal_No,
    //                            "Cont_Commodity": elem.Cont_Commodity,
    //                            "S_Line": elem.S_Line,
    //                            "Ct_Tare": elem.Ct_Tare,
    //                            "Cargo_Wt": elem.Cargo_Wt,
    //                            "Gross_Wt": elem.Gross_Wt,
    //                            "Ct_Status": elem.Ct_Status,
    //                            "Destination": elem.Destination,
    //                            "Smtp_No": elem.Smtp_No,
    //                            "Received_Date": elem.Received_Date,
    //                            "Genhaz": elem.Genhaz,
    //                            "Remarks": "",
    //                            "CargoDescription": ""
    //                        }
    //                        FormOneDetails.push(TrainDetail);
    //                    }

    //                });
    //                ResetJobOrder();
    //                GenerateTable();
    //            }
    //        }
    //    });
    //}
    function GenerateTable() {
        var html = '';


        $('#StringifyXML').val(JSON.stringify(FormOneDetails));
        html = '<table class="table table-bordered table-striped dataTable"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container / CBT No</th><th>Container / CBT Size</th><th>Custom Seal No</th><th style="width:15%;">Cargo Type</th><th>Commodity</th><th style="text-align:center; width:10%;">Edit</th><th class="text-center" style="width:10%;">Delete</th></tr></thead><tbody>';

        if (FormOneDetails != null) {
            $.each(FormOneDetails, function (i, elem) {
                html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td><input type="text" id="ContainerNo_' + i + '" value="' + elem.Container_No + '"/></td><td><input type="text" id="Size_' + i + '" value="' + elem.CT_Size + '"/>';
                html += '</td><td><input type="text" id="CustomSealNo_' + i + '" value="' + elem.Line_Seal_No + '"/></td>';
                html += '<td><input type="text" id="ShippingLineNo_' + i + '" value="' + elem.S_Line + '"/></td>';
                html += '<td><input type="text" id="ShippingLineName_' + i + '" value="' + elem.ShippingLineName + '"/></td>';
                html += '<td><input type="text" id="ShippingLineId_' + i + '" value="' + elem.ShippingLineId + '"/></td>';
                html += '<td><select id="CargoType_' + i + '"><option value="0">--Select--</option><option value="0">HAZ</option><option value="0">Non-HAZ</option></select></td>';
                html += '<td><select id="ContainerLoadType_' + i + '"><option value="0">--Select--</option><option value="FCL">FCL</option><option value="LCL">LCL</option><option value="DD">DD</option></select></td>';
                html += '<td><input type="text" id="TransportForm_' + i + '" value="' + elem.TransportForm + '"/></td>';
                html += '<td><input type="text" id="GrossWt_' + i + '" value="' + elem.Gross_Wt + '"/></td>';
                html += '<td><input type="text" id="Remarks_' + i + '" value=""/></tdTransport Form>';
                html += '<td class="text-center"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td class="text-center" style="width:10%;"><a href="#" onclick="DeleteContainerDet(' + i + ')"><i class="fa fa-window-close-o Delete"></i></a></td></tr>';
            });
            html += '</tbody></table>';
            $('#DivFormOneDet').html('');
            $('#DivFormOneDet').html(html);
        }
        else {
            $('#DivDeliveryAppTblErrMsg').html('Container / CBT details data is not found for this job order');
        }

    }

    function DeleteContainerDet(FormOneDetailId) {
        debugger;
        var Confirm = confirm("Are You Sure You Want To Delete?");
        if (Confirm == true) {
            //  LocationDetailArray.splice(Index, 1);
            FormOneDetails.splice(FormOneDetailId, 1);
            GenerateTable();
        }

    }
    var flagg = 0;

    function EditContainerDet(i) {
        debugger;


        if (flagg == 0) {
            flagg = 1;
            $('#AddJobOrd').prop("disabled", false);
            $('#TrainSummarySerial').val(FormOneDetails[i].TrainSummarySerial);
            $('#TrainSummaryID').val(FormOneDetails[i].TrainSummaryID);
            $('#TNo').val(FormOneDetails[i].TrainNo);
            $('#TrainDt').val(FormOneDetails[i].TrainDate);
            $('#PortID').val(FormOneDetails[i].PortId);
            $('#TransportForm').val(FormOneDetails[i].TransportForm);
            $('#CNNo').val(FormOneDetails[i].Container_No);
            $('#size').val(FormOneDetails[i].CT_Size);
            $('#CSNo').val(FormOneDetails[i].CustomSealNo);
            $('#SLNo').val(FormOneDetails[i].ShippingLineNo);
            $('#SlineId').val(FormOneDetails[i].ShippingLineId);
            $('#SLine').val(FormOneDetails[i].ShippingLineName);
            $('#CrType').val(FormOneDetails[i].CargoType);
            $('#CLType').val(FormOneDetails[i].ContainerLoadType);
            $('#NPckg').val(FormOneDetails[i].NoOfPackages);
            $('#GWeg').val(FormOneDetails[i].Gross_Wt);
            $('#Remarks').val(FormOneDetails[i].Remarks);
            $('#CargoDescription').val(FormOneDetails[i].CargoDescription);
            $('#Wagon_No').val(FormOneDetails[i].Wagon_No);
            $('#Line_Seal_No').val(FormOneDetails[i].Line_Seal_No);
            $('#Cont_Commodity').val(FormOneDetails[i].Cont_Commodity);
            $('#Ct_Tare').val(FormOneDetails[i].Ct_Tare);
            $('#Cargo_Wt').val(FormOneDetails[i].Cargo_Wt);
            $('#Ct_Status').val(FormOneDetails[i].Ct_Status);
            $('#Destination').val(FormOneDetails[i].Destination);
            $('#Smtp_No').val(FormOneDetails[i].Smtp_No);
            $('#Received_Date').val(FormOneDetails[i].Received_Date);
            $('#Genhaz').val(FormOneDetails[i].Genhaz);
            FormOneDetails.splice(i, 1);
            GenerateTable();

        }

        else {
            alert("Add Current Container / CBT");
        }
    }

    //function LoadJOList() {
    //    $('#DivYardList').load('/Import/PpG_CWCImport/ListOfJobOrderDetails');
    //}
    function SearchByContainerNo() {
        debugger;
        if ($('#ContainerNoSearch').val().trim() == "" || $('#ContainerNoSearch').val().trim() == null) {
            LoadJobOrderList();
        }
        else {
            $('#tblEntryDet').hide();
            $('#DivYardList').load('/Import/Ppg_CWCImport/SearchListOfJobOrderDetailsNewFormat?ContainerNo=' + $('#ContainerNoSearch').val().trimLeft());
        }
    }

    function LoadJobOrderList() {
        debugger;
        $('#tblEntryDet').html('');
        $('#DivYardList').load('/Import/PpG_CWCImport/ListOfJobOrderDetailsNewFormat');
    }

    function impJOOnSuccess(data) {
        if (data.Status == 1) {
            $('#DivJobOrder').html(data.Message);
            setTimeout(function () {
                $('#DivBody').load('/Import/PpG_CWCImport/CreateJobOrder');
            }, 5000)
        }
        else {
            $('#DivJobOrderErrMsg').html(data.Message);
        }
        //if (data.Status == 1) {
        //    $('#DivJobOrder').html(data.Message);
        //    setTimeout(impJOOnSuccess, TimeInSeconds);
        //  // ResetImpJODetails();
        //  //    LoadJOList();
        //  //  $('#DivBody').load('/Import/PpG_CWCImport/CreateJobOrder');
        //}
        //else {
        //    $('#DivJobOrderErrMsg').html(data.Message);
        //}
        //  setTimeout(function () { $('#DivJobOrderErrMsg,#DivJobOrder').html(''); }, 5000);
    }
    function impJOOnFailure() { }

    function SaveDetails() {
        $('#StringifyXML').val(JSON.stringify(FormOneDetails));
    }


    function BindTrain(PickUp) {


        if ($('#hdnTrainNo').val() != '') {
            var TrainNoJson = JSON.parse($('#hdnTrainNo').val());
            var html = '';
            $.each(TrainNoJson, function (i, item) {
                //if (PickUp == item.PickUpLoc) {
                html += '<li id="' + item.TrainSummaryID + '" onclick="selectTrain(' + item.TrainSummaryID + ');">' + item.TrainNo + '</li>';
                //}
            });
            $('#TrainNo').val('');
            FormOneDetails = [];

            $('#lstTrainNoNo').html(html);
            $('#DivFormOneDet').html('');
            //  GenerateTable();
        }
    }

    function selectTrain(Tid) {
        $("#blNomodal").modal("hide");
        $.ajax({
            url: '/Import/Ppg_CWCImport/GetTrainDetl',
            dataType: 'JSON',
            type: 'GET',
            data: { TrainSumId: Tid },
            success: function (data) {
                if (data != null) {
                    var html = '';
                    FormOneDetails = [];
                    $.each(data, function (i, elem) {
                        $('#TrainNo').val(elem.TrainNo);
                        $('#TrainDate').val(elem.TrainDate).toString("dd/MMM/yyyy hh:mm");

                        //   html += '<li id="' + elem.YardId + '" onclick="SelectYard(this)">' + elem.YardName + '</li>';

                        //  $('#lstYard').html(html);
                        var flag = 0;
                        $.each(FormOneDetails, function (i1, elem1) {

                            if (elem.Container_No == elem1.Container_No) {

                                flag = 1;

                            }
                        });

                        debugger;
                        if (flag == 0) {
                            var TrainDetail = {
                                "TrainSummarySerial": elem.TrainSummarySerial,
                                "TrainSummaryID": elem.TrainSummaryID,
                                "TrainNo": elem.TrainNo,
                                "TrainDate": elem.TrainDate,
                                "PortId": elem.PortId,
                                "Wagon_No": elem.Wagon_No,
                                "Container_No": elem.Container_No,
                                "CT_Size": elem.CT_Size,
                                "CustomSealNo": elem.Line_Seal_No,
                                "ShippingLineNo": elem.S_Line,
                                "ShippingLineId": 0,
                                "ShippingLineName": "",
                                "CargoType": "",
                                "ContainerLoadType": "",
                                "TransportForm": elem.TransportName,
                                "NoOfPackages": 0,
                                "Line_Seal_No": elem.Line_Seal_No,
                                "Cont_Commodity": elem.Cont_Commodity,
                                "S_Line": elem.S_Line,
                                "Ct_Tare": elem.Ct_Tare,
                                "Cargo_Wt": elem.Cargo_Wt,
                                "Gross_Wt": elem.Gross_Wt,
                                "Ct_Status": elem.Ct_Status,
                                "Destination": elem.Destination,
                                "Smtp_No": elem.Smtp_No,
                                "Received_Date": elem.Received_Date,
                                "Genhaz": elem.Genhaz,
                                "Remarks": "",
                                "CargoDescription": ""
                            }
                            FormOneDetails.push(TrainDetail);
                        }

                    });
                    GenerateTable();
                }
            }
        });

    }


    function TrainBinding() {
        debugger;
        var TrainJson = JSON.parse($('#hdnTrain').val());
        var html = '';
        $.each(TrainJson, function (i, item) {
            html += '<li id="' + item.TrainSummaryID + '">' + item.TrainNo + '</li>';
        });


        $('#lstTrainNoNo').html(html);
    }
    function datevalidation() {
        debugger;

        var joborderdt = $('#joborderCheck').val();
        var traindate = $('#trainCheck').val();
        var jdt = new Date(joborderdt);

        var tdt = new Date(traindate);

        if ($('#TrainNo').val() == '') {
            // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
            //  $('#ErrPartyName').html('Fill Out This Field');
            return false;
        }
        else if (jdt < tdt) {
            alert("Job Order Date should not be less from TrainDate");
            $('#JobOrderDate').val('');
            //   $('#ErrJobOrderDate').html('Job Order Date should not be less from TrainDate');
            return false;

        }


        else if (FormOneDetails.length <= 0) {
            $('#PickUpLocation').val('');

            alert("Container / CBT should not be blank");
            return false;
        }

        else if (FormOneDetails.length > 0) {

            var flag = 0;
            $.each(FormOneDetails, function (i1, elem1) {

                if (elem1.ContainerLoadType == '' || elem1.CargoType == '' || elem1.ShippingLineName == '') {

                    flag = 1;

                }
            });

            if (flag == 1) {
                $('#PickUpLocation').val('');
                $('#DivDeliveryAppTblErrMsg').html('Please Edit Container / CBT details some fields are blank');
                return false;

            }
            else {
                return true;
            }

        }
        else {




            return true;
            //var conf = confirm("Do you want to save ?");

            //if (conf) {
            //    try {
            //        $('#btnSave').attr('disabled', true);
            //       // $('form#JobOrder').submit();

            //    }
            //    catch (e) {
            //        $('#btnSave').removeAttr('disabled');
            //    }
            //}
        }



    }

    function GenerateEntryTable() {
        tablehtml = '';
        var tablehtml = '<table id="tblEntryDet" class="table table-striped table-bordered dataTable" style="width:100%;"><thead><tr><th class="text-center">SL No</th><th>Job Order No</th><th>Job Order Date</th><th>Train No</th><th class="text-center">View</th><th class="text-center">Edit</th><th class="text-center">Delete</th><th class="text-center">Preview</th></tr></thead><tbody>';
        tablehtml += '</tbody></table>';
        $('#tblEntryDet').html(tablehtml);
    }
</script>
