@model CwcExim.Areas.Import.Models.SealCutting

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Seal Cutting</h4>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.HiddenFor(m => m.SealCuttingId, new { @value = "0" })
                            @Html.LabelFor(m => m.SealCuttingNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.SealCuttingNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.TransactionDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2 Date_Img">
                            @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2">
                            @*@Html.LabelFor(m => m.ContainerNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>*@
                            <label class="InputLabel" for="ContainerNo">Container / CBT No</label>
                        </div>
                        <div class="col-md-2">
                            @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.ShippingLineName)*@
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">Size<span class="LabelColon">:</span></div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.size, new { @class = "form-control input-sm", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.VesselName)*@
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.GateInDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2 Date_Img">
                            @Html.TextBoxFor(m => m.GateInDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.CFSCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">LCL/FCL<span class="LabelColon">:</span></div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.LCLFCL, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.CustomSealNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2">
                            @Html.HiddenFor(m => m.CustomSealId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.GodownNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.HiddenFor(m => m.GodownId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.GodownNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>

            <div class="Form_Space_top"></div>

            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Payment Information (For LCL)</h4>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CHAShippingLine, new { @class = "InputLabel" })
                        </div>
                        <div class="col-md-2-5">
                            @Html.HiddenFor(m => m.CHAShippingLineId, new { @value = "0" })
                            @Html.TextBoxFor(m => m.CHAShippingLine, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label> SD Details : Folio No.:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.FolioNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.Balance, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(m => m.Balance, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.InvoiceNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control input-sm", @readOnly = true })
                            @Html.ValidationMessageFor(m => m.InvoiceNo)
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.GroundRent, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GroundRent, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.GroundRent)
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.CGST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(m => m.CGSTPer, new { @value = "0", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.CGST)*@
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.CGST, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1 col_cus_2">
                            @Html.LabelFor(m => m.SGST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(m => m.SGSTPer, new { @value = "0", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.SGST)*@
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.SGST, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1 col_cus_2">
                            @Html.LabelFor(m => m.IGST, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(m => m.IGSTPer, new { @value = "0", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.IGST)*@
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.IGST, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.TotalAmount, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control input-sm", @readonly = true })
                            @*@Html.ValidationMessageFor(m => m.TotalAmount)*@
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>CBT DTF Amt</label><span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.CBTDTF, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.CBTDTF)
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>CBT DTF CGST:</label>
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(m => m.DTFCGSTPer, new { @value = "0", @readonly = true })
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.DTFCGST, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.DTFCGST)
                        </div>


                        <div class="col-md-1 col_cus_2">
                            <label>CBT DTF SGST:</label>
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(m => m.DTFSGSTPer, new { @value = "0", @readonly = true })
                        </div>

                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.DTFSGST, new { @class = "form-control input-sm", @readonly = true })
                        </div>

                        <div class="col-md-1 col_cus_2">
                            <label>CBT DTF IGST:</label>
                        </div>
                        <div class="col-md-1">
                            @Html.TextBoxFor(m => m.DTFIGSTPer, new { @value = "0", @readonly = true })
                            @Html.ValidationMessageFor(m => m.DTFIGST)
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.DTFIGST, new { @class = "form-control input-sm", @readonly = true })
                        </div>

                        <div class="col-md-1-5 col_cus_2">
                            <label>CBT DTF Total Amount:</label>
                        </div>
                        <div class="col-md-1 padding_lt">
                            @Html.TextBoxFor(m => m.DTFTotalAmount, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.DTFTotalAmount)
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        @*<div class="col-md-1 col_cus_2">
                    <label>Total CGST:</label>
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.TotalCGST, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.TotalCGST)
                </div>
                <div class="col-md-1 col_cus_2">
                    <label>Total SGST:</label>
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.TotalSGST, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.TotalSGST)
                </div>
                <div class="col-md-1 col_cus_2">
                    <label>Total IGST:</label>
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.TotalIGST, new { @class = "form-control input-sm", @readonly = true })
                    @Html.ValidationMessageFor(m => m.TotalIGST)
                </div>*@
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.InvoiceAmt, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.InvoiceAmt, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.InvoiceAmt)
                            @Html.HiddenFor(m => m.TotalTaxable)
                            @Html.HiddenFor(m => m.TotalCGST)
                            @Html.HiddenFor(m => m.TotalSGST)
                            @Html.HiddenFor(m => m.TotalIGST)
                        </div>
                    </div>
                </div>
            </div>

            <div class="Form_Space_top"></div>

            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL/HBL Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="Form_Space_top"></div>
                    <div class="col-md-12" id="DivOBLList">
                        <table class="table table-bordered table-hover dataTable Table_center" id="tblOBLList">
                            <thead>
                                <tr>
                                    <th class="text-center">@Html.DisplayName("SL No")</th>
                                    <th>OBL/HBL No.</th>
                                    <th>OBL/HBL Date</th>
                                    <th>Cargo Type</th>
                                    <th>No Of Package</th>
                                    <th>Gross Wt.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var Serial = 1;
                                    if (Model.lstObldt != null)
                                    {
                                        foreach (var item in Model.lstObldt)
                                        {
                                            <tr>
                                                <td class="text-center">@Serial</td>
                                                <td class="text-center">@item.BLNo</td>
                                                <td class="text-center">@item.BLDate</td>
                                                <td class="text-center">@item.CargoType</td>
                                                <td class="text-center">@item.NO_PKG</td>
                                                <td class="text-center">@item.GR_WT</td>
                                            </tr>
                                            Serial++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="Form_Space_top"></div>
                </div>
            </div>

            <div class="row">
                <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
            </div>

            <div class="row">
                <div class="col-md-offset-5 col-md-2 SignUp_space_bottom">
                    <input type="submit" id="btnBack" class="btn log_Btn_sm" value="Back" />
                </div>
            </div>
        </div>
    </div>
</div>
            <script>

                $('#btnBack').on("click", function () {

                    $('#DivBody').load('/Import/Ppg_CWCImport/AddSealCuting');
                });
            </script>
