@model CwcExim.Areas.Import.Models.PPG_Internal_Movement


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Internal Movement-Import</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div id="DivViewMovement">

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Movement No:</label>
                               @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                            @Html.HiddenFor(m => m.MovementId)
                            @Html.TextBoxFor(m => m.MovementNo, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Movement Date:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.MovementDate, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>OBL No:</label>
                                <div class="position-relative">
                                    @Html.TextBoxFor(m => m.BOENo, new { @readonly = true })
                                    <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#BOENoModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.BOENo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>OBL Date:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.BOEDate, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Cargo Description:</label>
                                @Html.TextAreaFor(m => m.CargoDescription, new { @style = "height:100px;width:100%", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>No Of Packages:</label>
                                @Html.TextBoxFor(m => m.NoOfPackages, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Gross Wt(Kg):</label>
                                @Html.TextBoxFor(m => m.GrossWeight, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Godown:</label>
                                @Html.HiddenFor(m => m.FromGodownId)
                                @Html.TextBoxFor(m => m.OldGodownName, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>To Godown:</label>
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.ToGodownId)
                                    @Html.TextBoxFor(m => m.NewGodownName, new { @readonly = true })
                                    <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.NewGodownName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Old Location:</label>
                                @Html.HiddenFor(m => m.OldLocationIds)
                                @Html.TextBoxFor(m => m.OldLctnNames, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>New Location:</label>
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.LocationId)
                                    @Html.HiddenFor(m => m.NewLctnNames)
                                    @Html.TextBoxFor(m => m.LocationName, new { @readonly = true })
                                    <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#gdwnwiselocationmodal"></i></span>
                                    @Html.ValidationMessageFor(m => m.LocationName)
                                </div>
                            </div>
                        </div>
                    </div>              

                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="button" id="BtnBack" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="LoadPage()">
                    </div>

                    <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="BOENoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
             Modal content
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of BOE No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="BOENobox" type="text" />
                    <ul class="navList" id="BOENoList">
                        @{
                            if (ViewBag.BOENoList != null)
                            {
                                foreach (var item in ViewBag.BOENoList)
                                {
                                    <li id="@item.Value" onclick="SelectBOENo(this)">@item.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script>
    function LoadPage() {
        $('#DivBody').load('/Import/Ppg_CWCImport/CreateInternalMovement');
    }
</script>

