@model CwcExim.Areas.Import.Models.PpgDestuffingEntry

<style>
    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        border-right-width: 1px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Destuffing</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div id="DivAddDestuffingEntry">

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Container / CBT No:</label>
                                <div class="position-relative">
                                    @Html.TextBoxFor(m => m.ContainerNo, "", new { @readonly = true })
                                    @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Start Date:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.StartDate, new { @readonly = true })
                                    @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Destuffing No:</label>
                                @Html.TextBoxFor(m => m.DestuffingEntryNo, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Destuffing Date:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.DestuffingEntryDate, new { @readonly = true })
                                    @Html.ValidationMessageFor(m => m.DestuffingEntryDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Shipping Line:</label>
                                @Html.TextBoxFor(m => m.ShippingLine, "", new { @readonly = true })
                                @Html.HiddenFor(m => m.ShippingLineId)
                                @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>CHA:</label>
                                @Html.TextBoxFor(m => m.CHA, "", new { @readonly = true })
                                @Html.HiddenFor(m => m.CHAId)
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Rotation:</label>
                                @Html.TextBoxFor(m => m.Rotation, "", new { })
                                @Html.ValidationMessageFor(m => m.Rotation, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="Radiocontainer">
                                    Cargo Delivery
                                    @Html.RadioButtonFor(m => m.DeliveryType, "2", new { @id = "Cargo", @disabled = true })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="DivDestuffingEntryDet" class="Head_h5">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>OBL/HBL No:</label>
                                    @Html.TextBox("BOLNo", "", new { @readonly = true })
                                    @Html.ValidationMessage("BOLNo", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>OBL/HBL Date:</label>
                                    <div class="position-relative Date_Img">
                                        @Html.TextBox("BOLDate", "", new { @readonly = true })
                                        @Html.ValidationMessage("BOLDate", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Line No:</label>
                                    @Html.TextBox("LineNo", "", new { @readonly = true })
                                    @Html.ValidationMessage("LineNo", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Commodity:</label>
                                    @Html.TextBox("Commodity", "", new { @readonly = true })
                                    @Html.ValidationMessage("Commodity", new { @class = "Error_Msg" })
                                    <input type="hidden" id="CommodityId" />
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Cargo Description:</label>
                                    @Html.TextArea("CargoDescription", "", new { @disabled = true })
                                    @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cargo Type:</label>
                                    @Html.DropDownList("CargoType", new List<SelectListItem>
                                {
                                new SelectListItem { Text="Haz",Value="1"},
                                new SelectListItem { Text="Non-Haz",Value="2"},
                                }, "----Select----", new { })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>No of Packages:</label>
                                    @Html.TextBox("NoOfPackages", "", new { @readonly = true })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Received Packages:</label>
                                    @Html.TextBox("ReceivedPackages", "", new { min = 1 })
                                    @Html.ValidationMessage("ReceivedPackages", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Gross Weight(Kg):</label>
                                    @Html.TextBox("GrossWeight", "", new { @readonly = true })
                                    @Html.ValidationMessage("GrossWeight", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Destuffing Weight(Kg):</label>
                                    @Html.TextBox("DestuffingWeight", "", new { })
                                    @Html.ValidationMessage("DestuffingWeight", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>UOM:</label>
                                    @Html.TextBox("UOM", "", new { @readonly = true })
                                    @Html.ValidationMessage("UOM", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>OBL Wise Destuffing Date:</label>
                                    <div class="position-relative Date_Img">
                                        @Html.TextBox("OBLWiseDestuffingDate", "", new { @class = "", @readonly = true })
                                        @Html.ValidationMessage("OBLWiseDestuffingDate", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remarks:</label>
                                    @Html.TextArea("Remarks", "", new { @style = "width:100%;height:75px", @maxlength = 500, @disabled = true })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Location:</label>
                                    @Html.TextBox("GodownWiseLocationNames", "", new { @readonly = true })
                                    @Html.Hidden("GodownWiseLocationIds")
                                    @Html.ValidationMessage("GodownWiseLocationNames", "", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Area:</label>
                                    @Html.TextBox("Area", "", new { @readonly = true })
                                    @Html.ValidationMessage("Area", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>BOE No:</label>
                                    @Html.TextBox("BOENo", "", new { @onblur = "GetCIFDuty()" })
                                    @Html.ValidationMessage("BOENo", "", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>BOE Date:</label>
                                    <div class="position-relative Date_Img">
                                        @Html.TextBox("BOEDate", "", new { @readonly = true })
                                        @Html.ValidationMessage("BOEDate", "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CIF Value:</label>
                                    @Html.TextBox("CIFValue", "", new { })
                                    @Html.ValidationMessage("CIFValue", "", new { @class = "Error_Msg" })
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Gross Duty:</label>
                                    @Html.TextBox("GrossDuty", "", new { @class = "" })
                                    @Html.ValidationMessage("GrossDuty", "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                        </div>

                        <div id="DivDestuffingEntryTblMsg" class="logErrMsg Form_Space_top Form_Space_bottom" style="background-color:transparent"></div>

                        <table class="table table-striped table-bordered dataTable slim_tble" id="TblDestuffingEntryDet" style="width:100%;">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="3%" class="text-center">@Html.DisplayName("View")</th>
                                    <th colspan="2" width="15%" class="text-center">@Html.DisplayName("OBL/HBL")</th>
                                    <th rowspan="2" width="6%" class="text-center">@Html.DisplayName("Line No")</th>
                                    <th rowspan="2" width="15%" class="text-center">@Html.DisplayName("Cargo Description")</th>
                                    <th rowspan="2" width="10%" class="text-center">Area <br /> ( Generated From TallySheet )</th>
                                    <th rowspan="2" width="5%" class="text-center">@Html.DisplayName("Area")</th>
                                    <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Received Packages")</th>
                                    <th rowspan="2" width="10%" class="text-center">@Html.DisplayName("Destuffing Weight(Kg)")</th>                                    
                                </tr>
                                <tr>
                                    <th width="50px" class="text-center">No.</th>
                                    <th width="50px" class="text-center">Date</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                @{
                                    foreach (var item in Model.lstDtl)
                                    {
                                        <tr>
                                            <td class="text-center"><div class="table_icon"><a href="#" onclick="ViewData(@item.DestuffingEntryDtlId)"><i class="fa fa-eye" aria-hidden="true"></i></a></div></td>
                                            <td class="text-center txt_wrp">@item.BOLNo</td>
                                            <td class="txt_wrp">@item.BOLDate</td>
                                            <td class="txt_wrp">@item.LineNo</td>
                                            <td class="txt_wrp">@item.CargoDescription</td>
                                            <td class="txt_wrp">@item.TallySheetArea</td>
                                            <td class="txt_wrp">@item.Area</td>
                                            <td class="txt_wrp">@item.ReceivedPackages</td>
                                            <td class="txt_wrp">@item.DestuffingWeight</td>                                            
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="submit" id="" class="btn btn-primary btn-100px" value="Back" onclick="PageReload()">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ArrayLst = [];
    $(function () {
        ArrayLst = @Html.Raw(Json.Encode(Model.lstDtl));
    });
    function PageReload() {
        $('#DivBody').load('/Import/Ppg_CWCImport/CreateDestuffingEntry');
    }
    function ViewData(i) {
        $.each(ArrayLst, function (z, elem) {
            if (i == elem.DestuffingEntryDtlId)
            {
                /* $('#TallySheetDtlId').val(elem.TallySheetDtlId);
                 $('#TallySheetArea').val(elem.TallySheetArea);*/
                $('#BOLNo').val(elem.BOLNo);
                $('#BOLDate').val(elem.BOLDate);
                $('#LineNo').val(elem.LineNo);
                $('#CommodityId').val(elem.CommodityId);
                $('#Commodity').val(elem.Commodity);
                $('#CargoDescription').val(elem.CargoDescription);
                $('#NoOfPackages').val(elem.NoOfPackages);
                $('#ReceivedPackages').val(elem.ReceivedPackages);
                $('#UOM').val(elem.UOM);
                $('#GrossWeight').val(elem.GrossWeight);
                $('#DestuffingWeight').val(elem.DestuffingWeight);
                $('#Remarks').val(elem.Remarks);
                $('#GodownWiseLocationNames').val(elem.GodownWiseLocationNames);
                $('#GodownWiseLocationIds').val(elem.GodownWiseLocationIds);
                $('#Area').val(elem.Area);
                $('#CIFValue').val(elem.CIFValue);
                $('#GrossDuty').val(elem.GrossDuty);
                $('#BOENo').val(elem.BOENo);
                $('#BOEDate').val(elem.BOEDate);
                $('#OBLWiseDestuffingDate').val(elem.OBLWiseDestuffingDate);
                $('#CargoType').val(elem.CargoType);
                return false;
            }
        });
    }
</script>