@model IEnumerable<CwcExim.Models.Contractor>
    <script>
        $(document).ready(function(){
            $('#TblContractor').DataTable({
                "bFilter":false,
                "bInfo":false,
                "pageLength": 50,
                "aoColumns":[
                             {"sName":"Edit","bSortable":false,"width":"3%"},
                             {"sName":"View","bSortable":false,"width":"3%"},                             
                             {"sName":"Delete","bSortable":false,"width":"3%"},
                             {"sName":"SL No","width":"8%"},
                             {"sName":"Contractor"},
                             {"sName":"Email","bSortable":false},
                             {"sName":"Contact Person","bSortable":false},                             
                ]
            });
            new $.fn.dataTable.FixedHeader(TblContractor);
        });
        function LoadContractorPage(){
            $('#DivBody').load('/Contractor/CreateContractor');
        }
        function ViewContractor(ContractorId){
            $('#DivBody').load('/Contractor/ViewContractor?ContractorId='+ContractorId);
        }
        function EditContractor(ContractorId){
            $('#DivBody').load('/Contractor/EditContractor?ContractorId='+ContractorId);
        }
        function DeleteContractor(ContractorId){
            var Confirm=confirm("Are You Sure You Want To Delete?");
            if(Confirm==true){
                var Token=$('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url:'/Contractor/DeleteContractorDetail',
                    headers:{"__RequestVerificationToken":Token},
                    data:{ContractorId:ContractorId},
                    type:'POST',
                    dataType:'JSON',
                    async:false,
                    success:function(data){
                        if(data.Status==1){
                            LoadContractorPage();
                        }
                    }
                });
            }
        }
    </script>
<table id="TblContractor" class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>            
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.ContractorName)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>@Html.DisplayNameFor(m => m.ContactPerson)</th>            
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="EditContractor(@item.ContractorId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="ViewContractor(@item.ContractorId)"><i class="fa fa-eye"></i></a></div></td>                    
                    <td style="text-align:center"><div class="table_icon"><a href="#" onclick="DeleteContractor(@item.ContractorId)"><i class="fa fa-trash-o"></i></a></div></td>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.ContractorName)</td>
                    <td>@Html.DisplayFor(m=>item.Email)</td>
                    <td>@Html.DisplayFor(m=>item.ContactPerson)</td>                    
                </tr>
                    SerialNo = SerialNo + 1;
            }
         }
    </tbody>
</table>