@model CwcExim.Models.Contractor
    <script>
        var TimeInSeconds;
        $(document).ready(function () {
            TimeInSeconds = 5000;
            GetContractorList();
        });
        function GetContractorList() {
            debugger;
            $('#DivContractorList').load('/Contractor/GetContractorList');
        }
        function ClearStateDropdown() {
            debugger;
            $('#StateId').html("");
            $('#StateId').append($('<option></option>').val("").html("---Select---"));
        }
        function ClearCityDropDown() {
            debugger;
            $('#CityId').html("");
            $('#CityId').append($('<option></option>').val("").html("---Select---"));
        }
        function GetStateList() {
            debugger;
            var CountryId = $('#CountryId').val();
            ClearCityDropDown();
            if (CountryId != "") {
                $.ajax({
                    url: '/City/GetStatesByCountry',
                    type: 'Get',
                    data: { CountryId: CountryId },
                    success: function (data) {
                        if (data.Status == 1) {
                            ClearStateDropdown();
                            $.each(data.Data, function (i,item) {
                                $('#StateId').append($('<option></option>').val(item.StateId).html(item.StateName));
                            });
                        }
                        else {
                            ClearStateDropdown();
                        }
                    }
                });
            }
            else {
                ClearStateDropdown();
            }
        }
        function GetCityList() {
            debugger;
            var StateId = $('#StateId').val();
            if (StateId != "") {
                $.ajax({
                    url: '/City/GetCitiesByState',
                    data: { StateId: StateId },
                    type: 'Get',
                    success: function (data) {
                        if (data.Status == 1) {
                            ClearCityDropDown();
                            $.each(data.Data, function (i, item) {
                                $('#CityId').append($('<option></option>').val(item.CityId).html(item.CityName));
                            });
                        }
                        else {
                            ClearCityDropDown();
                        }
                    }
                });
            }
            else {
                ClearCityDropDown();
            }
        }
        function ClearValidation() {
            $('.field-validation-error').each(function () {
                $(this).html("");
            });
        }
        function ResetContractor() {
            debugger;
            ClearValidation();
            ClearCityDropDown();
            ClearStateDropdown();
            $('#DivContractor #CountryId').val("");
            $('#DivContractor #ContractorName').val("");
            $('#DivContractor #ContractorAlias').val("");
            $('#DivContractor #Address').val("");
            $('#DivContractor #PinCode').val("");
            $('#DivContractor #PhoneNo').val("");
            $('#DivContractor #FaxNo').val("");
            $('#DivContractor #Email').val("");
            $('#DivContractor #ContactPerson').val("");
            $('#DivContractor #MobileNo').val("");
            $('#DivContractor #Pan').val("");
            $('#DivContractor #AadhaarNo').val("");
            $('#DivContractor #GSTNo').val("");
            $('#DivContractor #DivContractorMsg').html("");
        }
        function ContractorOnSuccess(data) {
            debugger;
            if (data.Status == 1) {
                if ($('#DivContractorMsg').hasClass('logErrMsg'))
                    $('#DivContractorMsg').removeClass('logErrMsg').addClass('logSuccMsg');
                $('#DivContractorMsg').html(data.Message);
                setTimeout(ResetContractor, TimeInSeconds);
                GetContractorList();
            }
            else if (data.Status == 2) {
                $('[data-valmsg-for="ContractorName"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 3) {
                $('[data-valmsg-for="ContractorAlias"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 4) {
                $('[data-valmsg-for="Email"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 5) {
                $('[data-valmsg-for="Pan"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 6) {
                $('[data-valmsg-for="AadhaarNo"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 7) {
                $('[data-valmsg-for="GSTNo"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 8) {
                $('[data-valmsg-for="PhoneNo"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 9) {
                $('[data-valmsg-for="MobileNo"]').html('<span>' + data.Message + '</option>');
            }
            else if (data.Status == 10) {
                $('[data-valmsg-for="FaxNo"]').html('<span>' + data.Message + '</option>');
            }
            else {
                if ($('#DivContractorMsg').hasClass('logSuccMsg'))
                    $('#DivContractorMsg').removeClass('logSuccMsg').addClass('logErrMsg');
                $('#DivContractorMsg').html(data.Message);
            }
        }
        function ContractorOnFailure() {

        }
    </script>
@{ 
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "ContractorOnSuccess";
    options.OnFailure = "ContractorOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}

        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Contractor Master</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        @using (Ajax.BeginForm("AddEditContractorDetail", "Contractor", options))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        <label>Contractor Name:</label>
                                        @Html.TextBoxFor(m => m.ContractorName, new { placeholder = "Enter Contractor Name" })
                                        @Html.ValidationMessageFor(m => m.ContractorName, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-6">
                                    <label>Contractor Alias:</label>
                                    @Html.TextBoxFor(m => m.ContractorAlias, new { placeholder = "Enter Contractor Alias" })
                                    @Html.ValidationMessageFor(m => m.ContractorAlias, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address:</label>
                                        @Html.TextAreaFor(m => m.Address, new { placeholder = "Enter Address", @style = "width:100%;height:75px" })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Country:</label>
                                        @if (ViewBag.Country != null)
                                        {
                                            @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Country, "CountryId", "CountryName"), "---Select---", new { @class = "dropdown", @onchange = "GetStateList()" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.CountryId, new SelectList("", "Value", "Text"), "---Select---", new { @class = "dropdown" })
                                        }
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>State:</label>
                                    @Html.DropDownListFor(m => m.StateId, new SelectList("", "Value", "Text"), "---Select---", new { @class = "dropdown", @onchange = "GetCityList()" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City:</label>
                                        @Html.DropDownListFor(m => m.CityId, new SelectList("", "Value", "Text"), "---Select---", new { @class = "dropdown" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Pincode:</label>
                                    @Html.TextBoxFor(m => m.PinCode, new { placeholder = "Enter Pincode" })
                                    @Html.ValidationMessageFor(m => m.PinCode, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone No:</label>
                                        @Html.TextBoxFor(m => m.PhoneNo, new { placeholder = "Enter Phone No" })
                                        @Html.ValidationMessageFor(m => m.PhoneNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Fax No:</label>
                                    @Html.TextBoxFor(m => m.FaxNo, new { placeholder = "Enter Fax No" })
                                    @Html.ValidationMessageFor(m => m.FaxNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        <label>Email Id:</label>
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email Id" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Contact Person:</label>
                                    @Html.TextBoxFor(m => m.ContactPerson, new { placeholder = "Enter Contact Person" })
                                    @Html.ValidationMessageFor(m => m.ContactPerson, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                          
                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mobile No:</label>
                                        @Html.TextBoxFor(m => m.MobileNo, new { placeholder = "Enter Mobile No" })
                                        @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <span class="ReQSimbol">*</span>
                                    <label>PAN:</label>
                                    @Html.TextBoxFor(m => m.Pan, new { placeholder = "Enter PAN" })
                                    @Html.ValidationMessageFor(m => m.Pan, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="ReQSimbol">*</span>
                                        <label>Aadhaar No:</label>
                                        @Html.TextBoxFor(m => m.AadhaarNo, new { placeholder = "Enter Aadhaar No" })
                                        @Html.ValidationMessageFor(m => m.AadhaarNo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <span class="ReQSimbol">*</span>
                                    <label>GST No:</label>
                                   @Html.TextBoxFor(m => m.GSTNo, new { placeholder = "Enter GST No" })
                                   @Html.ValidationMessageFor(m => m.GSTNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                            </div>
                            <div class="d-flex justify-content-left">
                                <input type="submit" class="btn btn-primary mr-1 btn-100px" value="Save">
                                <input type="button" class="btn btn-primary-border btn-100px" value="Reset" onclick="ResetContractor()">
                            </div>                          

                            <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                                <div id="DivContractorMsg"></div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 SignUp_space_bottom">
                                <div id="DivContractorList"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


@Scripts.Render("~/bundles/jqueryval")