@model CwcExim.Models.Contractor
<script>
    $(document).ready(function () {
        debugger;
        var PinCode = '@Model.PinCode';
        if (PinCode == "0") {
            $('#PinCode').val("");
        }
    });
    function LoadContractorPage() {
        debugger;
        $('#DivBody').load('/Contractor/CreateContractor');
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12">
                    <h4>Contractor Master</h4>
                </div>
            </div>
            <div class="content_wrp">

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Contractor Name:</label>
                            @Html.TextBoxFor(m => m.ContractorName, new { @class = "", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <label>Contractor Alias:</label>
                        @Html.TextBoxFor(m => m.ContractorAlias, new { @class = "", @readonly = "readonly" })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Address:</label>
                            @Html.TextAreaFor(m => m.Address, new { @style = "width:100%;height:75px", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Country:</label>
                            @if (Model.CountryId > 0)
                            {
                                @Html.DropDownListFor(m => m.CountryId, new List<SelectListItem> { new SelectListItem { Value = Model.CountryId.ToString(), Text = Model.CountryName.ToString() } }, new { @class = " dropdown", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.CountryId, new SelectList("", "Value", "Text"), "---Select---", new { @class = " dropdown", @disabled = "disabled" })
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>State:</label>
                        @if (Model.StateId > 0)
                        {
                            @Html.DropDownListFor(m => m.StateId, new List<SelectListItem> { new SelectListItem { Value = Model.StateId.ToString(), Text = Model.StateName.ToString() } }, new { @class = " dropdown", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.StateId, new SelectList("", "Value", "Text"), "---Select---", new { @class = " dropdown", @disabled = "disabled" })
                        }
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City:</label>
                            @if (Model.CityId > 0)
                            {
                                @Html.DropDownListFor(m => m.CityId, new List<SelectListItem> { new SelectListItem { Value = Model.CityId.ToString(), Text = Model.CityName.ToString() } }, new { @class = " dropdown", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.CityId, new SelectList("", "Value", "Text"), "---Select---", new { @class = " dropdown", @disabled = "disabled" })
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Pincode:</label>
                        @Html.TextBoxFor(m => m.PinCode, new { @class = "", @readonly = "readonly" })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Phone No:</label>
                            @Html.TextBoxFor(m => m.PhoneNo, new { @class = "", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Fax No:</label>
                        @Html.TextBoxFor(m => m.FaxNo, new { @class = "", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email Id:</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Contact Person:</label>
                        @Html.TextBoxFor(m => m.ContactPerson, new { @class = "", @readonly = "readonly" })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mobile No:</label>
                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>PAN:</label>
                        @Html.TextBoxFor(m => m.Pan, new { @class = "", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Aadhaar No:</label>
                            @Html.TextBoxFor(m => m.AadhaarNo, new { @class = "", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>GST No:</label>
                        @Html.TextBoxFor(m => m.GSTNo, new { @class = "", @readonly = "readonly" })
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="LoadContractorPage()">
                </div>

            </div>
        </div>
    </div>
</div>
