@model CwcExim.Areas.Import.Models.WFLDOBLWiseContainerEntry
<script src="~/Areas/Import/Scripts/App/Services/VLDAOBLWiseContainerService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/VLDAOBLWiseContainerCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('OBLWiseContainerEntryAppDiv'), ['CWCApp']);
</script>
<style>
    #DivFormOneDet {
        height: 396px;
        overflow-x: hidden;
    }
         #tbleCommodity.dataTable tbody > tr > td {
        cursor:pointer;
    }
    .slimScrollDiv { height:300px; }
    .table.tblhd{
        border-bottom:0;
    }
    .slim_tble{
        width:100%;
        table-layout: fixed;
    }
    .txt_wrp{
         overflow:hidden; 
         word-wrap:break-word;
    }
     #tbleSline.dataTable tbody > tr > td {
        cursor: pointer;
    }
          #tbleImp.dataTable tbody > tr > td {
        cursor:pointer;
    }
  
</style>
<div class="container-fluid" id="OBLWiseContainerEntryAppDiv" ng-controller="VLDAOBLWiseContainerEntryCtrl">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>OBL Wise Container / CBT Entry</h4>
                    </div>
                </div>
                @*@using (Ajax.BeginForm("AddEditOBLEntry", "Wfld_OblEntry", new AjaxOptions
                    {
                        Confirm = "Are you sure you want to save?",
                        HttpMethod = "POST",
                        OnSuccess = "JobOrderOnSuccess",
                        OnFailure = "JobOrderOnFailure"
                    }))*@
                @{
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.StringifiedText)
                    @Html.HiddenFor(m => m.impobldtlId)
                    @*@Html.HiddenFor(m => m.IsAlreadyUsed)*@
                    if (ViewBag.ListOfContainerNo != null) {
                        <input type="hidden" id="hdnListOfContainerNo" value="@ViewBag.ListOfContainerNo" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnListOfContainerNo" value="" />
                    }
                    <div id="DivJOHdr" class="Form_Space_bottom">

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>OBL/HBL No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @*@Html.HiddenFor(m => m.CFSCode)*@
                                    @Html.TextBoxFor(m => m.OBL_No, new { @class = "form-control input_sm",tabindex=1 })
                                    @*<span class="search" id="ContainerNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerNoModal"></i></span>*@
                                </div>
                                <div class="col-md-offset-0-5 col-md-2-5">
                                    <input type="button" id="btnShowDetails" tabindex=2 class="btn log_Btn_sm" ng-model="btnGet" ng-hide="Action" value="Show Details" ng-click="GetOBLDetails()" />
                                </div>
                                <div class="col-md-offset-1 col-md-1-5 col_cus_2 padding_rt">
                                    <label>OBL/HBL Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.OBL_Date, new { @size = 10, @maxlength = 10, @onkeyup = "check()", @onblur = "checkdate()" , tabindex = 3 })
                                    <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.OBL_Date, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                <label>SMTP No:</label>
                                </div>
                                <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.SMTPNo, new { @class = "form-control input_sm", tabindex = 4 })
                                @Html.ValidationMessageFor(m => m.SMTPNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>SMTP Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.SMTP_Date, new { @size = 10, @maxlength = 10, @onkeyup = "SMTPcheck()", @onblur = "checkSMTPdate()", tabindex = 5 })
                                    <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.SMTP_Date, "", new { @class = "Error_Msg" })
                                </div>
                                </div>
                                </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Cargo Description:</label>
                            </div>
                            <div class="col-md-10-5">
                                @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input_sm", @rows = "3", @maxlength = "1000", tabindex = 6})
                                @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                        </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Commodity:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.Commodity, "", new { @class = "form-control input-sm", @readonly = true, onkeydown = "CallCommodityModal()" ,tabindex = 7 })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                    @Html.HiddenFor(m => m.CommodityId)
                                    @Html.ValidationMessageFor(m => m.Commodity, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                                   {
                                       new SelectListItem {Text="HAZ",Value="1" },
                                       new SelectListItem {Text="Non-HAZ",Value="2" },
                                          new SelectListItem {Text="ODC",Value="3" }
                                   }, "----Select----", new { @class = "form-control input_sm dropdown", tabindex = 8 })
                                @Html.ValidationMessageFor(m => m.CargoType, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>No Of Pkg.:</label>
                                </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.NoOfPkg, new { @class = "form-control input_sm", tabindex = 9 })
                                @Html.ValidationMessageFor(m => m.NoOfPkg, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Pkg Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.PkgType, new { @class = "form-control input_sm", tabindex = 10 })
                                @Html.ValidationMessageFor(m => m.PkgType, "", new { @class = "Error_Msg" })
                                </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Gross Wt(Kg).:</label>
                                </div>
                                <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GR_WT, new { @class = "form-control input_sm", tabindex = 11 })
                                @Html.ValidationMessageFor(m => m.GR_WT, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                    <label>Importer Name:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.ImporterId)
                                    @Html.TextBoxFor(m => m.ImporterName, new { @class = "form-control input_sm", @readonly = true, tabindex = 12, onkeydown = "CallImporterModal()" })
                                    <span class="search" id="ImporterSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ImporterModal"></i></span>
                                </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <label>Movement Type:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.DropDownListFor(m => m.MovementType, new List<SelectListItem>
                               {
                                   new SelectListItem {Text="FCL",Value="FCL" }//,
                                                                               ////new SelectListItem {Text="LCL",Value="LCL" }
                                    },/* "----Select----",*/ new { @class = "form-control input_sm dropdown", tabindex = 13 })
                                @Html.ValidationMessageFor(m => m.MovementType, "", new { @class = "Error_Msg" })
                        </div>
                        </div>
                    </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                        <label>IGM No:</label>
                                </div>
                                <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.IGM_No, new { @class = "form-control input_sm", tabindex = 14 })
                                        @*@Html.ValidationMessageFor(m => m.IGM_No, "", new { @class = "Error_Msg" })*@
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>IGM Date:</label>
                                </div>
                                    <div class="col-md-2-5 Date_Img">
                                        @Html.TextBoxFor(m => m.IGM_Date, new { @size = 10, @maxlength = 10, @onkeyup = "checks()", @onblur = "checkdates()", tabindex = 15 })
                                        <div class="field-validation-error" id="DivMsges" style="background-color:transparent"></div>
                                        @*@Html.ValidationMessageFor(m => m.IGM_Date, "", new { @class = "Error_Msg" })*@
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                        <label>TP No:</label>
                                </div>
                                <div class="col-md-2-5">
                                        @Html.TextBoxFor(m => m.TPNo, new { @class = "form-control input_sm", tabindex = 16 })
                                        @Html.ValidationMessageFor(m => m.TPNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>TP Date:</label>
                                </div>
                                    <div class="col-md-2-5 Date_Img">
                                        @Html.TextBoxFor(m => m.TPDate, new { @size = 10, @maxlength = 10, @onkeyup = "chec()", @onblur = "checkdat()", tabindex = 17 })
                                        <div class="field-validation-error" id="DivMs" style="background-color:transparent"></div>
                                        @Html.ValidationMessageFor(m => m.TPDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>TSA No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.TSANo, new { @class = "form-control input_sm", tabindex = 18 })
                                    @Html.ValidationMessageFor(m => m.TSANo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>TSA Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBoxFor(m => m.TSA_Date, new { @size = 10, @maxlength = 10, @onkeyup = "chec()", @onblur = "checkdat()", tabindex = 19 })
                                    <div class="field-validation-error" id="DivMs" style="background-color:transparent"></div>
                                    @Html.ValidationMessageFor(m => m.TSA_Date, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CIF Value:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CIFValue, new { @class = "form-control input_sm", @value = 0, tabindex = 20 })
                                    @Html.ValidationMessageFor(m => m.CIFValue, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>CBM:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.AreaCBM, new { @class = "form-control input_sm", @value = 0, tabindex = 21 })                                    
                                    @Html.ValidationMessageFor(m => m.AreaCBM, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Country:</label>
                                </div>
                                <div class="col-md-2-5">
                                        @Html.DropDownListFor(m => m.CountryId, new List<SelectListItem>
                                   {
                                   }, "----Select----", new { @class = "form-control input_sm dropdown", tabindex = 22 })
                                        @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "Error_Msg" })
                                        @Html.HiddenFor(m => m.CountryName)
                                        @Html.HiddenFor(m => m.SelectCountryId)
                                </div>
                                    <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt col-md-1-5">
                                        <label>Port:</label>
                                </div>
                                <div class="col-md-2-5">
                                        @Html.DropDownListFor(m => m.PortId, new List<SelectListItem>
                               {
                               }, "----Select----", new { @class = "form-control input_sm dropdown", tabindex = 23 })

                                        @Html.ValidationMessageFor(m => m.PortId, "", new { @class = "Error_Msg" })
                                        @Html.HiddenFor(m => m.PortName)
                                        @Html.HiddenFor(m => m.SelectPortId)
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true, tabindex = 24, onkeydown="CallOBLShippingLineModal()" })
                                    <span class="search" id="OBLShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLShippingLineModal"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivFormOneDet" ng-hide="OblEntryDetails.length==0">
                                <table class="table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th width="2%">Sl No</th>
                                            <th width="5%">Container / CBT</th>
                                            <th width="5%">Container / CBT No</th>
                                            <th width="2%">Container / CBT Size</th>
                                            <th width="5%">No. of PKG</th>
                                            <th width="5%">GR WT</th>
                                            <th width="10%">Shipping Line</th>
                                            <th width="3%" class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in OblEntryDetails" >
                                                <td width="2%">
                                                    {{$index+1}}<input type="hidden" ng-model="j.ID" /><input type="hidden" ng-model="j.AddID" />
                                                <input type="hidden" ng-model="j.DetailsID" />
                                            </td>
                                            <td width="2%">
                                                <input type="hidden" id="ContType" />
                                                <select  ng-model="j.CONTCBT" ng-change="ChangeCONTCBT(j)" id="CONTCBT{{$index}}" required autofocus="autofocus"> @*ng-change="ChangeCONTCBT(j)"*@
                                                    <option value="">--Select--</option>
                                                    <option value="{{cc.id}}" ng-repeat="cc in CONTCBTList">{{cc.CONTCBT}}</option>
                                                </select>
                                            </td>
                                            <td  style="position:relative;">
                                               

                                                <input type="text" ng-model="j.ContainerNo" id="ContainerNo_{{$index}}"  ng-blur="onchangetext(j);"  ng-readonly="true" required onkeypress="CallContainerCbtNoModal()" />
                                               
                                                <span class="search" id="ContainerNoSerach" style="top: 5px;right: 10px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.ContainerNoModal" ng-click="onContainerNoChange($index)" data-toggle="modal" data-target="#ContainerCbtNoModal"></i></span>
                                            </td>
                                            
                                            
                                              <td width="2%">
                                                <select ng-model="j.ContainerSize"  id="ContSize{{$index}}" required>
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in ContainerSizeList">{{s.ContainerSize}}</option>
                                                </select>
                                            </td>
                                            <td width="5%">
                                                <input type="text" ng-model="j.NoOfPkg"  id="Pkg{{$index}}" onkeypress="return isNumber(event)" />
                                            </td>
                                            <td width="5%"><input type="text" ng-model="j.GR_WT" onkeypress="return isDecimalNumber(event)" /></td>
                                            
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-readonly="true" ng-keypress="CallShippingLineModal($index)" required />
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
                                                <span class="search" style="top: 6px; right: 13px;" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" ng-model="j.ShippingLineModal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                            </td>
                                                <td width="3%" style="text-align:center;">
                                                    <input type="hidden" ng-model="j.IsProcessed" />
                                                    <a href="#" ng-click="Delete($index,j)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        <div class="logErrMsg" id="DivTblContrErrMsg" style="background-color:transparent"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" id="btnAddJO" class="btn log_Btn_sm" value="Add" ng-click="AddOblEntry()"  tabindex = 25/>
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnResetJO" class="btn log_Btn_sm" value="Reset" ng-click="ResetJODet()" tabindex = 26 />
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_top2">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" ng-click="OnOBLEntrySave()" tabindex = 27 />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnReset" class="btn log_Btn_sm" value="Reset" onclick="ResetAllField()" tabindex = 28 />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>
                }
                <div class="row">
                    <div class="col-md-2 SignUp_space_bottom">
                        <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" tabindex="17" onclick="LoadOblEntryList()" />
                    </div>
                </div>
                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-5 col-md-4" style="text-align:right;">
                            <label>OBL No. / Container No. :</label>
                        </div>
                        <div class="col-md-3">
                            @Html.TextBox("oblsearchtxt")
                            @*<input id="PartyCode" name="PartyCode" type="text" value="gfh gf">*@
                            <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="LoadOBLSearch()"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="tblEntryDet"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="OblEntryList"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="ContainerNoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Container / CBT No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ContainerNobox" type="text" />
                    <ul class="navList" id="lstContainerNo">
                        @{
                            if (ViewBag.ListOfContainerNo != null)
                            {
                                foreach (var item in ViewBag.ListOfContainerNo)
                                {
                                    <li id="@item.Size">@item.ContainerNo</li>
                                }
                            }
                            else
                            {
                                <li></li>
                            }

                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="OBLShippingLineModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="OBLCloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search By Shipping Line Name Or Party Code" id="OBLShpngLinebox" type="text" tabindex="30" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="OBLSearchByPartyCode()"></i></span>

                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Shipping Line Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="OBLslim_scroll">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="OBLtbleSline">
                            @{
                                if (ViewBag.lstShippingLine != null)
                                {
                                    var tabindex = 31;
                                    foreach (var item in ViewBag.lstShippingLine)
                                    {
                                        <tr tabindex="@tabindex" onkeypress="OBLSelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')" onclick="OBLSelectShippingLine(@item.ShippingLineId,'@item.ShippingLineName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                        tabindex++;
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="OBLLoadMoreEximTrader()" class="btn log_Btn_sm" id="OBLbtnLoadMore">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="OBLLoadMoreEximTrader()" class="btn log_Btn_sm" id="OBLbtnLoadMore" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="OBLCloseEximTrader()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="ShippingLineModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseEximTrader()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Shipping Line Or Party Code" id="ShpngLinebox" type="text" tabindex="32" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByPartyCode()"></i></span>
                    
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Shipping Line Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleSline">
                            @{
                                if (ViewBag.lstShippingLine != null)
                                {
                                    var tabindex = 33;
                                    foreach (var item in ViewBag.lstShippingLine)
                                    {
                                        <tr tabindex="@tabindex" onkeypress="SelectSline(@item.ShippingLineId,'@item.ShippingLineName')" onclick="SelectSline(@item.ShippingLineId,'@item.ShippingLineName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ShippingLineName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseEximTrader()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="ContainerCbtNoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseContainer()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Container/CBT</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Container No/CBT" id="Containerbox" type="text" tabindex="31" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchByContainer()"></i></span>

                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Container No/CBT</th>
                               
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_1">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tblCont">
                           <tbody>

                           </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreEximTrader()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseContainer()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ImporterModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseImporter()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Importer Name</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Importer Name Or Party Code" id="Impbox" type="text" tabindex="29" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchImporterByPartyCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th colspan="8" width="80%">Importer Name</th>
                                <th colspan="4" width="20%">Party Code</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll_2">
                        <table class="table dataTable table-bordered table-striped slim_tble" id="tbleImp">
                            @{
                                if (ViewBag.lstImporter != null)
                                {
                                    var tabindex = 30;
                                    foreach (var item in ViewBag.lstImporter)
                                    {
                                        <tr tabindex="@tabindex" onkeypress="SelectImporter(@item.ImporterId,'@item.ImporterName')" onclick="SelectImporter(@item.ImporterId,'@item.ImporterName')">
                                            <td colspan="8" width="80%" class="txt_wrp">@item.ImporterName</td>
                                            <td colspan="4" width="20%" class="txt_wrp">@item.PartyCode</td>
                                        </tr>
                                        tabindex++;
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.ImpState != null && Convert.ToBoolean(ViewBag.ImpState) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreImporter()" class="btn log_Btn_sm" id="btnLoadImp">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreImporter()" class="btn log_Btn_sm" id="btnLoadImp" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseImporter()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CommodityModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content popup_modal" style="width:80%;">
                <div class="modal-header popup_header">
                    <button type="button" class="close" onclick="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Commodity</h4>
                </div>
                <div class="modal-body popup_body" style="position:relative;">
                    <input placeholder="Search By Commodity Name" id="CommodityBox" type="text" tabindex="28" />
                    <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchCommodityByPartyCode()"></i></span>
                    <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                        <thead>
                            <tr>
                                <th>Commodity Name</th>                                
                            </tr>
                        </thead>
                    </table>
                    <div id="slim_scroll">
                        <table class="table dataTable table-bordered table-striped" id="tbleCommodity">
                            @{
                                if (ViewBag.LstCommodity != null)
                                {
                                    var tabindex = 29;
                                    foreach (var item in ViewBag.LstCommodity)
                                    {
                                        <tr tabindex="@tabindex" onkeypress="SelectCommodity(@item.CommodityId,'@item.CommodityName','@item.CommodityType')" onclick="SelectCommodity(@item.CommodityId,'@item.CommodityName','@item.CommodityType')">
                                            <td>@item.CommodityName</td>
                                        </tr>
                                        tabindex++;
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-5">
                            @if (ViewBag.CommodityState != null && Convert.ToBoolean(ViewBag.CommodityState) == true)
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity">Load More Data</button>
                            }
                            else
                            {
                                <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreCommodity()" class="btn log_Btn_sm" id="btnLoadMoreCommodity" disabled>Load More Data</button>
                            }
                        </div>
                        <div class="col-md-offset-3 col-md-4">
                            <button type="button" class="btn log_Btn_sm" onclick="CloseCommodity()" tabindex="101">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#OBLslim_scroll').slimScroll({
            allowPageScroll: true
        });
        $('#OBL_No').focus();
    });

</script>
<script>
    $('#ContainerNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainerNo > li').show();
        else {
            $('#lstContainerNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    var ArrayJODetails = [];
    var ind = 0;
    @*function openCommodity(){
        debugger;
        $.ajax({
            url: '@Url.Action("GetAllCommodity", "Wfld_OblEntry", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                var html = '';
                $.each(data, function (i, item) {
                    debugger;
                    html += '<li id="' + item.CommodityId + '" " onclick="selectcommodity(this)">' + item.Commodity + '</li>';
                });
                $('#lstCommodity').html(html);
            }
        });
    }*@
    //function selectcommodity(cid,cname){
    //    $('#Commodity').val(cname);
    //    $('#CommodityId').val(cid);
    //    $('#CommodityModal').modal('hide');
    //}
    $(function () {

        $("#CargoType").change(function (e) {
            if ($("#CargoType").val()!=null || $("#CargoType").val()!=''|| $("#CargoType").val()!='----Select----') {
                $('[data-valmsg-for="CargoType"]').html('');
            }
            else {
                $('[data-valmsg-for="CargoType"]').html('Fill Out This Field');
            }

        });

        // Decimal Number
        $("#GR_WT").keydown(function (e) {
            if(e.keyCode==190 || e.keyCode==110){
                if($(this).val().indexOf('.')>=0){
                    e.preventDefault();
                }
            }
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Integer Number
        $("#NoOfPkg").keydown(function (e) {
            if(e.keyCode==190 || e.keyCode==110){
                if($(this).val().indexOf('.')>=0){
                    e.preventDefault();
                }
            }
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Text Box
        $("#ContainerNo,#IGM_No,#TPNo,#OBL_No,#LineNo,#SMTPNo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        // Text Box with space
        $("#CargoDescription,#PkgType").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if (e.keyCode == 32) {
                return true;
            }
            else if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        var SerializedData = @Html.Raw(Json.Encode(Model.StringifiedText));
        if(SerializedData!=null)
        {
            ArrayJODetails=$.parseJSON(SerializedData);
            //GenerateTable();
            //$('#tblJODet').show();
        }
        else {
            $('#tblJODet').hide();
        }

        GetPortList();
        GetAllCountry();
       // LoadOblEntryList();

        if ($('#Id').val()>0) {
            $('#btnReset').attr('disabled', true);
            $('#btnShowDetails').attr('disabled', true);
            $('#ContainerNo').attr('readonly', true);
            $('#ContainerSize').attr('readonly', true);
            $('#IGM_No').attr('readonly', true);
            $('#ContainerNoSerach').css('display', 'none');
        }
        else {
            $('#IGM_Date').datepicker({
                dateFormat: "dd/mm/yy",
                showOn: "button",
                buttonImage: "/Content/images/calendar.png",
                buttonImageOnly: true,
                buttonText: "Select date",
                changeMonth: true,
                changeYear: true,
                showAnima: "fadein",
                onClose: function () {
                    $('[data-valmsg-for="IGM_Date"]').html('');
                }
                ,
                onSelect: function ()
                {
                    // The "this" keyword refers to the input (in this case: #someinput)
                    $('#TPNo').focus();
                }
            });
        }

    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function isDecimalNumber(event) {
        let charCode = (event.which) ? event.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $('#TPDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="TPDate"]').html('');
        },
        onSelect: function ()
        {
            // The "this" keyword refers to the input (in this case: #someinput)
            $('#TSANo').focus();
        }
    });
    $('#TSA_Date').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="TSA_Date"]').html('');
        },
        onSelect: function ()
        {
            // The "this" keyword refers to the input (in this case: #someinput)
            $('#CIFValue').focus();
        }

    });

    $('#OBL_Date').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="OBL_Date"]').html('');
        },
        onSelect: function ()
        {
            // The "this" keyword refers to the input (in this case: #someinput)
            $('#SMTPNo').focus();
        }
    });

    $('#SMTP_Date').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="SMTP_Date"]').html('');
        },

        onSelect: function ()
        {
            // The "this" keyword refers to the input (in this case: #someinput)
            $('#CargoDescription').focus();
        }
    });

    function SearchByPartyCode() {
        if ($('#ShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/VLDA_CWCImport/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#ShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr  onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleSline tbody').html('');
                        $('#tbleSline tbody').html(html);
                        $('#btnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    function SearchByContainer() {
        debugger;
        if ($('#Containerbox').val() != '') {
            $.ajax({
                url: '/Import/VLDA_OblEntry/SearchByContainer',
                type: 'GET',
                data: { Container: $('#Containerbox').val(), ContCBT:$("#ContType").val()},
                success: function (data) {

                    debugger;
                    if (data.Status == 1) {
                        var html = '';
                        var tabindex=31;
                        $.each(data.Data, function (item, elem) {
                            debugger;
                            //Cont,Sid,Sname,NoOfPack,GrossWt,Size
                            html += '<tr tabindex='+tabindex+' onkeypress="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,' + elem.ShippingLineId + ',&quot;' + elem.ShippingLine + '&quot;,' + elem.NoOfPackages + ',' + elem.GrossWeight + ',&quot;' + elem.Size + '&quot;)" onclick="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,' + elem.ShippingLineId + ',&quot;' + elem.ShippingLine + '&quot;,' + elem.NoOfPackages + ',' + elem.GrossWeight + ',&quot;' + elem.Size + '&quot;)"><td>' + elem.ContainerNo + '</td></tr>';
                            tabindex++;
                        });

                        $('#tblCont tbody').html(html);
                    }
                    else {
                        $('#tblCont tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        
    }




    var Page = 0;
    function LoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/VLDA_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleSline tbody').html(html);
                    else
                        $('#tbleSline tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }
    function SelectSline(ShippingLineId, ShippingLineName) {
        debugger;
        angular.element("#OBLWiseContainerEntryAppDiv").scope().SelectShippingLine(ShippingLineId, ShippingLineName);

    }



    function SelectContainer(Cont,Sid,Sname,NoOfPack,GrossWt,Size) {
        debugger;
        angular.element("#OBLWiseContainerEntryAppDiv").scope().SelectContainer(Cont,Sid,Sname,NoOfPack,GrossWt,Size);

    }


    function LoadEximTrader() {
        Page = 0;
        $.ajax({
            url: '/Import/VLDA_CWCImport/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr  onclick="SelectSline(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#tbleSline tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function CloseEximTrader() {
        $('#ShpngLinebox').val('');
        $("#ShippingLineModal").modal("hide");
        LoadEximTrader();
    }


    function CloseContainer() {
        $('#Containerbox').val('');
        $("#ContainerCbtNoModal").modal("hide");
      
      //  LoadEximTrader();
    }
    
    function SelectCommodity(CommodityId, CommodityName,CommodityType) {
        $('#Commodity').val(CommodityName);
        $('#CargoType').val(CommodityType);
        $('#CommodityId').val(CommodityId);
        $("#CommodityModal").modal("hide");
        $('#CommodityBox').val('');
        LoadCommodity();
        $('#Commodity').focus();
    }

    function LoadMoreCommodity() {
        debugger;
        $.ajax({
            url: '/Import/VLDA_OblEntry/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleCommodity tbody').html(html);
                    else
                        $('#tbleCommodity tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadCommodity() {
        Page = 0;
        $.ajax({
            url: '/Import/VLDA_OblEntry/LoadCommodityList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.LstCommodity, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                    });
                    $('#tbleCommodity tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    else $('#btnLoadMoreCommodity').prop('disabled', true);
                }
            }
        });
    }

    function SearchCommodityByPartyCode() {
        if ($('#CommodityBox').val() != '') {
            $.ajax({
                url: '/Import/VLDA_OblEntry/SearchCommodityByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#CommodityBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstCommodity, function (item, elem) {
                            html += '<tr onclick="SelectCommodity(' + elem.CommodityId + ',&quot;' + elem.CommodityName + '&quot;,&quot;' + elem.CommodityType + '&quot;)"><td>' + elem.CommodityName + '</td></tr>';
                        });
                        $('#tbleCommodity tbody').html('');
                        $('#tbleCommodity tbody').html(html);
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleCommodity tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreCommodity').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadCommodity();
    }

    function CloseCommodity() {
        $('#CommodityBox').val('');
        $("#CommodityModal").modal("hide");
        LoadCommodity();
    }

    

    function GetPortList() {

        $.ajax({
            type: 'GET',
            url: '/Import/VLDA_OblEntry/GetPortList',
            dataType: 'JSON',
            success: function (data) {
                if (data != null) {
                    for (var i = 0; i < data.Data.length; i++) {
                        $('#PortId').append($("<option></option>").attr("value", data.Data[i].PortId).text(data.Data[i].PortName));
                    }
                }
                else {
                    $('#PortId').html('');
                }

                if ($('#SelectPortId').val() > 0) {
                    $('#PortId').val($('#SelectPortId').val());
                }

            }
        });
    }

    function GetAllCountry() {
        debugger;
        $.ajax({
            type: 'GET',
            url: '/Import/VLDA_OblEntry/GetAllCountry',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != null) {
                    for (var i = 0; i < data.Data.length; i++) {
                        $('#CountryId').append($("<option></option>").attr("value", data.Data[i].CountryId).text(data.Data[i].CountryName));
                    }
                }
                else {
                    $('#PortId').html('');
                }

                if ($('#SelectCountryId').val() > 0) {
                    $('#CountryId').val($('#SelectCountryId').val());
                }

            }
        });
    }

   // function LoadOblEntryList() {
      //  $('#tblEntryDet').html('');
       // $('#OblEntryList').load('/Import/VLDA_OblEntry/ListOfOBLWiseContainer');
   // }
    //function LoadOblEntryList() {
    //    $('#OblEntryList').load('/Import/VLDA_OblEntry/ListOfOBLEntry');
    //}
    $('#Containerbox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tblCont tbody > tr').show();
        else {
            $('#tblCont tbody > tr').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    var ListOfContainerNo=[];
    $('#lstContainerNo > li').on("click", function () {
        debugger;
        $('#ContainerNo').val($(this).text());
        //$('#CFSCode').val($(this).attr('id'));
        $('#ContainerSize').val($(this).attr('id'));

        ListOfContainerNo= @Html.Raw(Json.Encode(ViewBag.ListOfContainerNo));
        //var ListContainerNo=JSON.parse(ListOfContainerNo);

        var resultAarray = $.grep(ListOfContainerNo, function (item) {
            return item.ContainerNo==$('#ContainerNo').val();
        });
        $('#MovementType').val(resultAarray[0].MovementType);
        

        $("#ContainerNoModal").modal("hide");
    });

 

    function SelectImporter(ImporterId, ImporterName) {
        $('#ImporterName').val(ImporterName);
        $('#ImporterId').val(ImporterId);
        $("#ImporterModal").modal("hide");
        $('#Impbox').val('');
        $('#ImporterName').focus();
        LoadImporter();
    }

    function LoadMoreImporter() {
        debugger;
        $.ajax({
            url: '/Import/VLDA_OblEntry/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        //html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName + '&quot;)"><td>' + elem.ImporterName + '</td></tr>';
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';

                    });
                    if (Page == -1)
                        $('#tbleImp tbody').html(html);
                    else
                        $('#tbleImp tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    var Page=0;
    function LoadImporter() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Import/VLDA_OblEntry/LoadImporterList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstImporter, function (item, elem) {
                        debugger;
                        html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#tbleImp tbody').html(html);

                    if (data.Data.State == true)
                        $('#LoadMoreImporter').prop('disabled', false);
                    else $('#LoadMoreImporter').prop('disabled', true);
                }
            }
        });
    }

    function SearchImporterByPartyCode() {
        if ($('#Impbox').val() != '') {
            $.ajax({
                url: '/Import/VLDA_OblEntry/SearchImporterByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#Impbox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstImporter, function (item, elem) {
                            html += '<tr onclick="SelectImporter(' + elem.ImporterId + ',&quot;' + elem.ImporterName.replace(/\r?\n|\r/g,"") + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ImporterName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#tbleImp tbody').html('');
                        $('#tbleImp tbody').html(html);
                        $('#LoadMoreImporter').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleImp tbody').html('');
                        Page = -1;
                        $('#LoadMoreImporter').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadImporter();
    }

    function CloseImporter() {
        $('#Impbox').val('');
        $("#ImporterModal").modal("hide");
        LoadImporter();
    }


    function JobOrderOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
           // LoadOblEntryList();
            ResetAllField();
        }
        else if(data.Status == 3 || data.Status == 6){
            $('#DivSucMsg').html(data.Message);
            return false;
        }
        else {
            $('#DivErrMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivErrMsg,#DivSucMsg').html(''); }, 5000);
    }
    function JobOrderOnFailure() { }

    var isEditOpened=false;
    function LoadOblEntry() {
        $('#DivBody').load('/Import/VLDA_OblEntry/OBLWiseContainerEntry');
    }
    function ResetAllField() {
        ArrayJODetails = [];
        LoadOblEntry();
        $('#Id').val(0);
        $('#tblJODet').hide();
        $('#DivJOHdr input[type="text"]').val('');
        $('textarea').val('');
        $('#StringifiedText').val('');
        $('#MovementType').val('');
        $('#PortId').val('');
        $('#CountryId').val('');
        $('#btnReset').attr('disabled', false);
        $('#IGM_No').attr('readonly', false);
        $('#ContainerNoSerach').css('display', 'block');

        $('#IGM_Date').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="IGM_Date"]').html('');
            },
            onSelect: function ()
            {
                // The "this" keyword refers to the input (in this case: #someinput)
                $('#TPNo').focus();
            }
        });

    }
    //function ResetJODet() {
    //    $('#OBL_No,#OBL_Date,#LineNo,#SMTPNo,#NoOfPkg,#CargoDescription,#PkgType,#GR_WT,#ImporterName').val('');
    //    $('#CargoType').val(0);
    //    $('#btnAddJO').attr('disabled', false);
    //    $('#btnResetJO').attr('disabled', false);
    //}

    function AddJODet() {
        if (ValidateJODet()) {
            var JODetails = {
                OBLEntryId: 0,
                OBL_No: $('#OBL_No').val(),
                OBL_Date: $('#OBL_Date').val(),
                LineNo: $('#LineNo').val(),
                SMTPNo: $('#SMTPNo').val(),
                SMTP_Date: $('#SMTP_Date').val(),
                NoOfPkg: $('#NoOfPkg').val(),
                CargoType: $('#CargoType').val(),
                CargoDescription: $('#CargoDescription').val(),
                PkgType: $('#PkgType').val(),
                GR_WT: $('#GR_WT').val(),
                ImporterId: $('#ImporterId').val(),
                ImporterName: $('#ImporterName').val(),
            };
            ArrayJODetails.push(JODetails);
            GenerateTable();
            ResetJODet();
            isEditOpened=false;
            $('#btnResetJO').attr('disabled', false);
            $('#DivTblContrErrMsg').html('');
        }
    }
    function ValidateJODet() {
        var Result = true;
        if ($('#OBL_No').val() == null || $('#OBL_No').val() == '') {
            $('[data-valmsg-for="OBL_No"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#OBL_Date').val() == null || $('#OBL_Date').val() == '') {
            $('[data-valmsg-for="OBL_Date"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#CargoType').val() == null  || $('#CargoType').val() == '' || $('#CargoType').val() == '----Select----') {
            $('[data-valmsg-for="CargoType"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#PkgType').val() == null || $('#PkgType').val() == '') {
            $('[data-valmsg-for="PkgType"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        if ($('#GR_WT').val() == null || $('#GR_WT').val() == '') {
            $('[data-valmsg-for="GR_WT"]').html('<span>Fill Out This Field</span>');
            Result = false;
        }
        return Result;
    }
    //function GenerateTable() {
    //    var html = '';
    //    $.each(ArrayJODetails, function (i, item) {
    //        var cargoType = '';
    //        if (item.CargoType == 1) {
    //            cargoType = 'HAZ';
    //        }
    //        else if (item.CargoType == 2) {
    //            cargoType = 'NON-HAZ';
    //        }
    //        html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.OBL_No + '</td><td>' + item.OBL_Date + '</td><td>' + cargoType + '</td><td>' + item.NoOfPkg + '</td><td>' + item.GR_WT + '</td>'
    //          + '<td class="text-center"><a href="#" onclick="EditJODet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td><td class="text-center"><a href="#" onclick="ViewJODet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
    //    });
    //    $('#tblJODet tbody').html(html);
    //    $('#tblJODet').show();
    //}
    function EditJODet(i) {
        if (!isEditOpened)
        {
            $('#BtnAddContainer').prop("disabled", false);
            $('#OBL_No').val(ArrayJODetails[i].OBL_No);
            $('#OBL_Date').val(ArrayJODetails[i].OBL_Date);
            $('#LineNo').val(ArrayJODetails[i].LineNo);
            $('#SMTPNo').val(ArrayJODetails[i].SMTPNo);
            $('#SMTP_Date').val(ArrayJODetails[i].SMTP_Date);
            $('#NoOfPkg').val(ArrayJODetails[i].NoOfPkg);
            $('#CargoType').val(ArrayJODetails[i].CargoType);
            $('#CargoDescription').val(ArrayJODetails[i].CargoDescription);
            $('#PkgType').val(ArrayJODetails[i].PkgType);
            $('#GR_WT').val(ArrayJODetails[i].GR_WT);
            $('#ImporterName').val(ArrayJODetails[i].ImporterName);
            $('#btnAddJO').attr('disabled', false);
            ArrayJODetails.splice(i, 1);
            GenerateTable();
            isEditOpened=true;
            $('#btnResetJO').attr('disabled', true);

        }
        else {
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
        }
    }
    function ViewJODet(i) {
        if (!isEditOpened)
        {
            $('#OBL_No').val(ArrayJODetails[i].OBL_No);
            $('#OBL_Date').val(ArrayJODetails[i].OBL_Date);
            $('#LineNo').val(ArrayJODetails[i].LineNo);
            $('#SMTPNo').val(ArrayJODetails[i].SMTPNo);
            $('#SMTP_Date').val(ArrayJODetails[i].SMTP_Date);
            $('#NoOfPkg').val(ArrayJODetails[i].NoOfPkg);
            $('#CargoType').val(ArrayJODetails[i].CargoType);
            $('#CargoDescription').val(ArrayJODetails[i].CargoDescription);
            $('#PkgType').val(ArrayJODetails[i].PkgType);
            $('#GR_WT').val(ArrayJODetails[i].GR_WT);
            $('#ImporterName').val(ArrayJODetails[i].ImporterName);
            $('#btnAddJO').attr('disabled', true);
            $('#btnResetJO').attr('disabled', false);
        }
        else {
            $('#DivTblContrErrMsg').html('Please Add The Above Records');
        }
    }
    function checkdate() {
        debugger;
        if(  $('#OBL_Date').val()!='')
        {
     
            var result = moment($('#OBL_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMsgs').html('Incorrect Date');
                setTimeout(function () { $('#DivMsgs').html(''); }, 5000);
                $('#OBL_Date').val('');
            }
        }
    }

    function checkSMTPdate() {
        debugger;
        if(  $('#SMTP_Date').val()!='')
        {
     
            var result = moment($('#SMTP_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMsgs').html('Incorrect Date');
                setTimeout(function () { $('#DivMsgs').html(''); }, 5000);
                $('#SMTP_Date').val('');
            }
        }
    }
    
    function check() {
        debugger;
        //alert(elm);
        $('#OBL_Date').val($('#OBL_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        //$('#SMTP_Date').val($('#SMTP_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }

    function SMTPcheck() {
        debugger;
        //alert(elm);
       // $('#OBL_Date').val($('#OBL_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        $('#SMTP_Date').val($('#SMTP_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));

        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }
    function checkdates() {
        debugger;
        if(  $('#IGM_Date').val()!='')
        {
            var result = moment($('#IGM_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMsges').html('Incorrect Date');
                setTimeout(function () { $('#DivMsges').html(''); }, 5000);
                $('#IGM_Date').val('');
            }
        }
    }
    function checks() {
        debugger;
        //alert(elm);
        $('#IGM_Date').val($('#IGM_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }
    function checkdat() {
        debugger;
        if(  $('#TPDate').val()!='')
        {
            var result = moment($('#TPDate').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMs').html('Incorrect Date');
                setTimeout(function () { $('#DivMs').html(''); }, 5000);
                $('#TPDate').val('');
            }

            $('#TSANo').focus();
        }
        if(  $('#TSA_Date').val()!='')
        {
            var result = moment($('#TSA_Date').val(), "DD/MM/YYYY", true).isValid();
            if (!result) {
                $('#DivMs').html('Incorrect Date');
                setTimeout(function () { $('#DivMs').html(''); }, 5000);
               
            }

            $('#CIFValue').val('');

        }


       
    }






    function chec() {
        debugger;
        //alert(elm);
        $('#TPDate').val($('#TPDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        
        $('#TSA_Date').val($('#TSA_Date').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
    }
    function Change(evt){
        debugger;
        alert(evt);

    }

    // OBl Shipping line Start---

    var Page = 0;
    function OBLLoadMoreEximTrader() {
        debugger;
        $.ajax({
            url: '/Import/VLDA_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + ',&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#OBLtbleSline tbody').html(html);
                    else
                        $('#OBLtbleSline tbody').append(html);
                    Page++;

                    //if (data.Data.State == true)
                    //    $('#OBLbtnLoadMore').prop('disabled', false);
                    //else $('#OBLbtnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function OBLLoadEximTrader() {
        Page=0;
        $.ajax({
            url: '/Import/VLDA_OblEntry/LoadEximtradeList',
            type: 'GET',
            data: { PartyCode: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    $.each(data.Data.lstShippingLine, function (item, elem) {
                        debugger;
                        html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    $('#OBLtbleSline tbody').html(html);

                    //if (data.Data.State == true)
                    //    $('#OBLbtnLoadMore').prop('disabled', false);
                    //else $('#OBLbtnLoadMore').prop('disabled', true);
                }
            }
        });
    }

    function OBLSearchByPartyCode() {
        if ($('#OBLShpngLinebox').val() != '') {
            $.ajax({
                url: '/Import/VLDA_OblEntry/SearchByPartyCode',
                type: 'GET',
                data: { PartyCode: $('#OBLShpngLinebox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.lstShippingLine, function (item, elem) {
                            html += '<tr onclick="OBLSelectShippingLine(' + elem.ShippingLineId + ',&quot;' + elem.ShippingLineName + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.ShippingLineName + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                        });
                        $('#OBLtbleSline tbody').html('');
                        $('#OBLtbleSline tbody').html(html);
                        //$('#OBLbtnLoadMore').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tbleSline tbody').html('');
                        Page = -1;
                       // $('#OBLbtnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadEximTrader();
    }

    function OBLSelectShippingLine(ShippingLineId, ShippingLineName) {
        $('#ShippingLineName').val(ShippingLineName);
        $('#ShippingLineId').val(ShippingLineId);
        $("#OBLShippingLineModal").modal("hide");
        $('#OBLShpngLinebox').val('');
        $('#ShippingLineName').focus();
        OBLLoadEximTrader();
       
    }

    function OBLCloseEximTrader()
    {
        debugger;
        $('#OBLShpngLinebox').val('');
        $("#OBLShippingLineModal").modal("hide");        
        OBLLoadEximTrader();
    }

    function CallCommodityModal()
    {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            debugger;
            //LoadCountryModal();
            $("#CommodityModal").modal('show');
            $('#CommodityModal').on('shown.bs.modal', function () {
                $('#CommodityBox').focus();
            })
            var tabindex = 102;
            debugger;
            //$('#tbleSline  tr').each(function () {
            //    if (this.type != "hidden") {
            //        var $input = $(this);
            //        $input.attr("tabindex", tabindex);
            //        tabindex++;
            //    }
            //});
        }
    }


    $('#CommodityBox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tbleCommodity tbody > tr').show();
        else {
            $('#tbleCommodity tbody > tr').each(function () {
                var text = $(this).find('td').text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //OBL Shipping Line End ----  
    

    function CallImporterModal()
    {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            debugger;
            //LoadCountryModal();
            $("#ImporterModal").modal('show');
            $('#ImporterModal').on('shown.bs.modal', function () {
                $('#Impbox').focus();
            })
            var tabindex = 102;
            debugger;
            //$('#tbleSline  tr').each(function () {
            //    if (this.type != "hidden") {
            //        var $input = $(this);
            //        $input.attr("tabindex", tabindex);
            //        tabindex++;
            //    }
            //});
        }
    }


    $('#Impbox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tbleImp tbody > tr').show();
        else {
            $('#tbleImp tbody > tr').each(function () {
                var text = $(this).find('td').text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //OBL S


    function CallOBLShippingLineModal()
    {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

       
            debugger;
            //LoadCountryModal();
            $("#OBLShippingLineModal").modal('show');
            $('#OBLShippingLineModal').on('shown.bs.modal', function () {
                $('#OBLShpngLinebox').focus();
            })
            var tabindex = 102;
            debugger;
            //$('#tbleSline  tr').each(function () {
            //    if (this.type != "hidden") {
            //        var $input = $(this);
            //        $input.attr("tabindex", tabindex);
            //        tabindex++;
            //    }
            //});
        
    }


    function CallContainerCbtNoModal ()
    {
       
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {
            debugger;
            //LoadCountryModal();
            $("#ContainerCbtNoModal").modal('show');
            $('#ContainerCbtNoModal').on('shown.bs.modal', function () {
                $('#Containerbox').focus();
                $('#Containerbox').val('');
            })
            var tabindex = 102;
            debugger;
            //$('#tbleSline  tr').each(function () {
            //    if (this.type != "hidden") {
            //        var $input = $(this);
            //        $input.attr("tabindex", tabindex);
            //        tabindex++;
            //    }
            //});
        }
    }

    $('#OBLShpngLinebox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#OBLtbleSline tbody > tr').show();
        else {
            $('#OBLtbleSline tbody > tr').each(function () {
                var text = $(this).find('td').text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#ShpngLinebox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#tbleSline tbody > tr').show();
        else {
            $('#tbleSline tbody > tr').each(function () {
                var text = $(this).find('td').text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function LoadOblEntryList() {
        $('#tblEntryDet').html('');
        $('#OblEntryList').load('/Import/VLDA_OblEntry/ListOfOBLWiseContainer');
    }
    function LoadOBLSearch() {
        debugger;
        if ($('#oblsearchtxt').val().trim() == '') {
            alert('Enter OBL No/Container No. for searching');
            return;
        }
        $('#tblEntryDet').html('');
        var oblsearch = encodeURI($('#oblsearchtxt').val().trim());
        // $('#CCINEntryList').empty();
        $('#OblEntryList').load('/Import/VLDA_OblEntry/ListOfOBLWiseEntrySearch?Obl=' + oblsearch);
    }
    function PopupActivate(Id) {
        //debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else
        {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');


            //if (Id == "ContainerOBLModal") {
            //    SearchOBLWise();
            //    $('#ContainerOBLBox').focus();
            //}
            if (Id == "CHAHdrModal") {
                
                $('#Chabox').focus();
            }

            if (Id == "OBLShippingLineModal") {               
                $('#OBLShpngLinebox').focus();
            }

            if (Id == "ImporterModal") {
                $('#Impbox').focus();
            }
            if (Id == "CommodityModal") {
                $('#CommodityBox').focus();
            }
            if (Id == "CountryModal") {
                CountrySearch();
                $('#CountryBox').focus();
            }
            if (Id == "PortModal") {
                PortSearch();
                $('#PortBox').focus();
            }
            if (Id == "ShippingLineModal") {
                $('#ShpngLinebox').focus();
            }
            if(Id="ContainerCbtNoModal")
            {
                $('#Containerbox').focus();
            }
        }
    }

   
    $('#CHAHdrModal').on('shown.bs.modal', function () {
        $('#Chabox').focus();
    });

    $('#OBLShippingLineModal').on('shown.bs.modal', function () {
        $('#OBLShpngLinebox').focus();
    });

    $('#ImporterModal').on('shown.bs.modal', function () {
        $('#Impbox').focus();
    });

    $('#CommodityModal').on('shown.bs.modal', function () {
        $('#CommodityBox').focus();
    });

    $('#CountryModal').on('shown.bs.modal', function () {
        $('#CountryBox').focus();
    });

    $('#PortModal').on('shown.bs.modal', function () {
        $('#PortBox').focus();
    });
    $('#ShippingLineModal').on('shown.bs.modal', function () {
        $('#ShpngLinebox').focus();
    });
    $('#ContainerCbtNoModal').on('shown.bs.modal', function () {
        $('#Containerbox').focus();
    });

    $('#btnCommdityClose').click(function(){
        $('#CargoType').focus();
    });

    $('#btnCloseImporter').click(function(){
        $('#MovementType').focus();
    });

    $('#btnCommdityClose').click(function(){
        $('#CargoType').focus();
    });


    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };   

    document.getElementById('CommodityBox').addEventListener('keyup', debounce(function () {
        SearchCommodityByPartyCode()
    }, 800)); 

    document.getElementById('Impbox').addEventListener('keyup', debounce(function () {
        SearchImporterByPartyCode()
    }, 800));
    document.getElementById('OBLShpngLinebox').addEventListener('keyup', debounce(function () {
        OBLSearchByPartyCode()
    }, 800));

    document.getElementById('ShpngLinebox').addEventListener('keyup', debounce(function () {
        SearchByPartyCode()
    }, 800));

    document.getElementById('Containerbox').addEventListener('keyup', debounce(function () {
        SearchByContainer()
    }, 800));
   


</script>

