@model CwcExim.Models.Operation

<script>
    function LoadOperationPage() {
        $('#DivBody').load('/Operation/CreateOperation');
    }
</script>
    <div id="DivOperation">
    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Operation Master</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Type, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                @if (Model.Type == 1)
                                {
                                    @Html.DropDownListFor(m => m.Type, new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Import" } }, new { @class = "dropdown", @disabled = "disabled" })
                                }
                                else if (Model.Type == 2)
                                {
                                    @Html.DropDownListFor(m => m.Type, new List<SelectListItem> { new SelectListItem { Value = "2", Text = "Export" } }, "---Select---", new { @class = "dropdown", @disabled = "disabled" })
                                }
                                else if (Model.Type == 3)
                                {
                                    @Html.DropDownListFor(m => m.Type, new List<SelectListItem> { new SelectListItem { Value = "3", Text = "General" } }, "---Select---", new { @class = "dropdown", @disabled = "disabled" })
                                }
                                else if (Model.Type == 4)
                                {
                                    @Html.DropDownListFor(m => m.Type, new List<SelectListItem> { new SelectListItem { Value = "4", Text = "Import (RMS)" } }, new { @class = "dropdown", @disabled = "disabled" })
                                }
                                else if (Model.Type == 5)
                                {
                                    @Html.DropDownListFor(m => m.Type, new List<SelectListItem> { new SelectListItem { Value = "5", Text = "Import (Non RMS)" } }, new { @class = "dropdown", @disabled = "disabled" })
                                }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Code, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                @Html.TextBoxFor(m => m.Code, new { @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.SacCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            @Html.TextBoxFor(m => m.SacCode, "", new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Short Description:</label>
                                @Html.TextBoxFor(m => m.ShortDescription, new { @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.TextAreaFor(m => m.Description, new { @style = "width:100%;height:75px;", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="button" class="btn btn-primary btn-100px" value="Back" onclick="LoadOperationPage()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



