<script>
    $(function () {
        $("#FromDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#ToDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
</script>
@using (Ajax.BeginForm("GetBondGatePassReport", "VLDA_ReportCWC", new AjaxOptions { OnSuccess = "RegisterOnSuccess", HttpMethod = "POST", OnFailure = "RegisterOnFailure" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>BOND GATE PASS REPORT</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBox("FromDate", "", new { @class = "form-control", @id = "FromDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessage("FromDate", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label for="FromDate" class="InputLabel">Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBox("ToDate", "", new { @class = "form -control", @id = "ToDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessage("ToDate", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="btnPrint" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivONErrMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@Scripts.Render("~/bundles/jqueryval")
<script>
    function RegisterOnFailure() { }

    function RegisterOnSuccess(data)
    {
        $('#DivONErrMsg').html('')
        if (data.Status == 1)
        {
            window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
        }
        else {
            $('#DivONErrMsg').html(data.Message);
        }
    }
    $('#btnPrint').on("click", function () {

        var Status = true;
        if ($('#FromDate').val() == "") {
            $('[data-valmsg-for="FromDate"]').html('<span>Fill Out This Field</span>');
            return false;
        }

        if ($('#ToDate').val() == "") {
            $('[data-valmsg-for="ToDate"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        $('#DivONErrMsg').html('');
        var From = $('#FromDate').val();
        var To = $('#ToDate').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivONErrMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Period To must be greater than Period From');
            return false;
        }
        return true;
    });
</script>

