



@model CwcExim.Areas.Report.Models.WFLD_CustomDutyCollection


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("CustomDutyCollectionDetailReport", "VLDA_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>CUSTOM DUTY COLLECTION REPORT</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Year:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.DropDownListFor(m => m.Year, new List<SelectListItem>
                                   {
                                       new SelectListItem { Text="----Select----",Value=""},
                                       new SelectListItem { Text="2019",Value="2019"},
                                       new SelectListItem { Text="2020",Value="2020"},
                                       new SelectListItem { Text="2021",Value="2021"},
                                       new SelectListItem { Text="2022",Value="2022"},
                                       new SelectListItem { Text="2023",Value="2023" },
                                       new SelectListItem { Text="2024",Value="2024"},   //--------------------- changed 01-02-2024
                                        new SelectListItem { Text="2025",Value="2025"},
                                       new SelectListItem { Text="2026",Value="2026" },
                                       new SelectListItem { Text="2027",Value="2027"},
                                       new SelectListItem { Text="2028",Value="2028" },
                                       new SelectListItem { Text="2029",Value="2029"},
                                       new SelectListItem { Text="2030",Value="2030" },
                                        }, new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Month:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.DropDownListFor(m => m.Month, new List<SelectListItem>
                                   {
                                       new SelectListItem { Text="----Select----",Value=""},
                                       new SelectListItem { Text="January",Value="1"},
                                       new SelectListItem { Text="February",Value="2" },
                                       new SelectListItem { Text="March",Value="3" },
                                       new SelectListItem { Text="April",Value="4"},
                                       new SelectListItem { Text="May",Value="5" },
                                       new SelectListItem { Text="June",Value="6"},
                                       new SelectListItem { Text="July",Value="7" },
                                       new SelectListItem { Text="August",Value="8"},
                                       new SelectListItem { Text="September",Value="9" },
                                       new SelectListItem { Text="October",Value="10"},
                                       new SelectListItem { Text="November",Value="11" },
                                          new SelectListItem { Text="December",Value="12" },
                                        }, new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.Month, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            //  SaveReportPdf(data);
            if (data.Status == 1) {
                window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
            }

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    @*function SaveReportPdf(data) {
        debugger;
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();

        // Html += "<th style='border:1px solid #000;text-align:center;'>Tax</th><th style='border:1px solid #000;text-align:center;'>Non Tax</th><th style='border:1px solid #000;text-align:center;'>Tax</th><th style='border:1px solid #000;text-align:center;'>Non Tax</th>";
        // Html += "<th style='border:1px solid #000;text-align:center;'>CGST</th><th style='border:1px solid #000;text-align:center;'>SGST</th><th style='border:1px solid #000;text-align:center;'>IGST</th>";
        // Html += "<th style='border:1px solid #000;text-align:center;'>Tax</th><th style='border:1px solid #000;text-align:center;'>Non Tax</th><th style='border:1px solid #000;text-align:center;'>CGST</th>";
        // Html += "<th style='border:1px solid #000;text-align:center;'>SGST</th><th style='border:1px solid #000;text-align:center;'>IGST</th></tr></thead><tbody>";
       // var FormDate = $("#PeriodFrom").val();
       // var ToDate = $("#PeriodTo").val();
       // var PostData = new FormData();
        //var Html = '<div style="text-align: center;border: 1px solid #000;">Statement Of Empty Container Report From ' + FormDate + ' To ' + ToDate + '</div>'

        var Html = '<table cellspacing="0" cellpadding="5" style="width:100%; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 5px;"><tbody>'
        Html += "<tr><td valign='top'><img align='right' src='IMGSRC' width='90'/></td>";
        Html += "<td width='70%' valign='top' align='center'><h1 style='font-size: 16px; margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION</h1>";
        Html += "<label style='font-size: 7pt;'>(A Govt. of India Undertaking) </label><br />";
        Html += "<span style='font-size: 7pt; padding-bottom: 10px;'>107-109 , EPIP Zone , KIADB Industrial Area <br/> Whitefield , Bengaluru - 560066</span><br/><label style='font-size: 7pt;'>Email - cwcwfdcfs@gmail.com</label>";
        Html += "<br /><label style='font-size: 7pt; font-weight:bold;'>Empty Container In Register Report From " + FormDate + " To " + ToDate + "</label>";
        Html += "</td>";
        Html += "<td valign='top'><img align='right' src='ISO' width='100'/></td>";
        Html += "</tr>";
        Html += "</tbody></table>";

        Html += "<table cellpadding='5' style='width:100%;font-size:6.5pt;font-family:Verdana,Arial,San-serif;border: 1px solid #000;border-collapse: collapse;margin-top:10px;'>";
        Html += "<thead><tr>";
        Html += "<th style='border-right: 1px solid #000; width:3%;'>Sr.No.</th>";
        Html += "<th style='border-right: 1px solid #000; width:7%;'>CFSCode</th>";
        Html += "<th style='border-right: 1px solid #000; width:8%;'>Cont. No</th>";
        Html += "<th style='border-right: 1px solid #000; width:10%;'>In Date & Time</th>";
        Html += "<th style='border-right: 1px solid #000; width:5%;'>Size</th>";
        Html += "<th style='border-right: 1px solid #000; width:8%;'>Road/Rail</th>";
        Html += "<th style='border-right: 1px solid #000;'>Shipping Line</th>";
        //Html += "<th style='text-align: center;border: 1px solid #000;'>Date Of Arrival</th>";
        //Html += "<th style='text-align: center;border: 1px solid #000;'>Date Of Destuffing</th>";
        Html += "<th style='border-right: 1px solid #000; width:8%;'>Forwarder</th>";
        Html += "<th style='border-right: 1px solid #000; width:8%;'>Status</th>";
        Html += "<th style='border-right: 1px solid #000; width:8%;'>Cont. Class</th>";
        Html += "<th style='border-right: 1px solid #000; width:8%;'>Vehicle No.</th>";
        Html += "<th style='width:10%;'>Remarks</th>";
        Html += "</tr></thead>";

        Html += "<tbody>";

        var j = 0;
        for (i = 0; i < data.Data.length; i++) {
            debugger;
            j = j + 1;

            //Html += "<td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CwcChargeNonTAX + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CustomRevenueTAX + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CustomRevenueNonTAX + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].InsuranceTAX + "</td>";
            Html += '<tr><td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].SlNo + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].CFSCode + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].ContainerNo + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].DateOfArrival + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].Size + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].TransPort + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].ShippingLine + '</td>'
            //Html += '<td style="text-align: center;border: 1px solid #000;">' + data.Data[i].DateOfArrival + '</td>'
            //Html += '<td style="text-align: center;border: 1px solid #000;">' + data.Data[i].dateofdetuffing + '</td></tr>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;"></td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].Status + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].ContainerClass + '</td>'
            Html += '<td style="border-top: 1px solid #000;border-right: 1px solid #000;">' + data.Data[i].VehicleNo + '</td>'
            Html += '<td style="border-top: 1px solid #000;">' + data.Data[i].Remarks + '</td></tr>'
        }
        Html += "</tbody></table>"
       // Html.Replace("IMGSRC", Server.MapPath("~/Content/Images/CWCPDF.PNG"));
        PostData.append("Page", Html);
        // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateStatementOfEmptyContainerInRegisterPDF", "VLDA_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }*@

</script>







