@model CwcExim.Areas.Report.Models.WFLDChequeDD
@using (Ajax.BeginForm("GetDailyChequeDDReport", "VLDA_ReportCWC", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "PVSuccess",
    OnFailure = "PVFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Daily Cheque / DD Report</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">

                        </div>
                        @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Deposit Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @if (Model.DepositDetails != null)
                                    {
                                        if (Model.DepositDetails.Count > 0)
                                        {
                                            @Html.DropDownListFor(m => m.DepositDate, new SelectList(Model.DepositDetails, "DepositDateValue", "DepositDateValue"), "---Select---", new { @class = "form-control input-sm dropdown" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.DepositDate, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control input-sm dropdown" })
                                        }
                                    }
                                    @Html.ValidationMessageFor(m => m.DepositDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @*<label>Deposit Date:</label>*@
                                    <label>Receipt Date:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.HiddenFor(x=>x.DepositDate)
                                    @*<span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.DepositDate, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DivModalStuffingReqNo"></i></span>
                                    @Html.ValidationMessageFor(m => m.DepositDate, "", new { @class = "Error_Msg" })*@
                                    @Html.TextBoxFor(m => m.ReceiptDate, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#DivModalReceiptDate"></i></span>
                                    @Html.ValidationMessageFor(m => m.ReceiptDate, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                   
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 ">
                                   
                                </div>
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Select Receipt Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @if (Model.ReceiptDetails != null)
                                    {
                                        if (Model.ReceiptDetails.Count > 0)
                                        {
                                            @Html.DropDownListFor(m => m.ReceiptDate, new SelectList(Model.ReceiptDetails, "ReceiptDateValue", "ReceiptDateValue"), "---Select---", new { @class = "form-control input-sm dropdown" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.ReceiptDate, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control input-sm dropdown" })
                                        }
                                    }
                                    @Html.ValidationMessageFor(m => m.ReceiptDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>*@
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="DivModalReceiptDate" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List Of Receipt Date</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="SearchDepositDate" type="text" />
                    <ul class="navList" id="LstRequestNo">
                        @{
                            if (ViewBag.LstReceiptDate != null)
                            {
                                foreach (var data in ViewBag.LstReceiptDate)
                                {
                                    <li  onclick="ReceiptRequest('@data.ReceiptDateValue','@data.DepositDate')">@data.ReceiptDateValue</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script>
   // $(function () {
    //    $("#ReceiptDate").datepicker({
    //        dateFormat: "dd/mm/yy",
    //        showOn: "button",
    //        buttonImage: "/Content/images/calendar.png",
    //        buttonImageOnly: true,
    //        buttonText: "Select date",
    //        changeMonth: true,
    //        changeYear: true,
    //        showAnima: "fadein",
    //        onClose: function () {
    //            $(".Date_Img .Error_Msg").text("");
    //        }
    //    });

    //    $("#ReceiptDate").datepicker('setDate',new Date());
    //});




    $('#SearchDepositDate').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#LstRequestNo > li').show();
        else {
            $('#LstRequestNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstInvoiceList li').on('click', function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).prop('id'));
        $('#InvoiceModal').modal('hide');
    });
    function PVSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }
    $('#SearchDepositDate').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#DivModalStuffingReqNo .navList > li').show();
        }
        else {
            $('#DivModalStuffingReqNo .navList > li').each(function () {
                debugger;
                var Text = $(this).text().toLowerCase();
                (Text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    function ReceiptRequest(ReceiptDate,DepositeDate) {

        
        $('#ReceiptDate').val(ReceiptDate);
        $('#DepositDate').val(DepositeDate);
        $('#DivModalReceiptDate').modal("hide");
       // GetStuffingDetails(StuffingReqId);
       // $('#BtnAddContainerStuff').prop("disabled", true);
    }

</script>

