

@model CwcExim.Areas.Report.Models.Ppg_ThcRrReport


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetExportTHCRRReport", "VLDA_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Export THC & RR Report</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }


        return Status;
    }
    function SaveReportPdf(data)
    {
        debugger;
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();

        var Html = '<table style="width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;"><thead>'

        Html += "<div style='float:left; width:20%;'><img align='right' src='IMGSRC' width='90'/></div>";
        Html += "<div style='text-align:center; width:80%; float:left;'><h1 style='font-size: 22px; margin: 0; padding: 0;'>CENTRAL WAREHOUSING CORPORATION</h1><label style='font-size: 12px;'>(A Govt. of India Undertaking)</label><br/><span style='font-size:12px;'>ICD Patparganj-Delhi</span><br/><label style='font-size: 14px; font-weight:bold;'>Export THC & RR Report From " + FormDate + " To " + ToDate + "</label></div>";


        Html += "<tr><th style='border:1px solid #000;text-align:center;'>Sr.No.</th>";
        //Html += "<th style='border:1px solid #000;text-align:center;'>Receipt No</th><th style='border:1px solid #000;text-align:center;'>Party Name</th><th style='border:1px solid #000;text-align:center;'>CHQ NO</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>DATE</th><th style='border:1px solid #000;text-align:center;'>INVOICE NO.</th><th style='border:1px solid #000;text-align:center;'>SHIPPING LINE NAME</th><th style='border:1px solid #000;text-align:center;'>PAYEE CODE</th><th style='border:1px solid #000;text-align:center;'>DESTINATION PORT</th><th style='border:1px solid #000;text-align:center;'>CONTAINER NO.</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>CFS CODE</th><th style='border:1px solid #000;text-align:center;'>CONTAINER SIZE</th><th style='border:1px solid #000;text-align:center;'>TOTAL WEIGHT</th><th style='border:1px solid #000;text-align:center;'>TARE WEIGHT</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>RR AMOUNT</th><th style='border:1px solid #000;text-align:center;'>TOTAL RR GST AMOUNT</th><th style='border:1px solid #000;text-align:center;'>THC AMOUNT</th>";
         Html += "<th style='border:1px solid #000;text-align:center;'>TOTAL GST AMOUNT</th><th style='border:1px solid #000;text-align:center;'>GRAND TOTAL</th>";         
         Html += "</tr></thead>";
         Html += "<tbody>";   
         var j=0;
        for (i = 0; i < data.Data.length;i++)
        {
            debugger;
            j = j + 1;
            if (i == data.Data.length - 1)
            {
                j = "";
            }

            //Html += "<td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CwcChargeNonTAX + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CustomRevenueTAX + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CustomRevenueNonTAX + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].InsuranceTAX + "</td>";
            Html += "<tr>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + j + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].Date + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].InvoiceNo + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].ShippingLineName + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].PayeeCode + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].DestinationPort + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].ContainerNo + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].CFSCode + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].ContainerSize + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalWeight + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TareWeight + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].RRAmount + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalRRGstAmount + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].THCAmount + "</td>";
            Html += "<td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].TotalTHGstAmount + "</td><td style='text-align: center;border: 1px solid #000;'>" + data.Data[i].GrandTotal + "</td>";
            Html += "</tr>";
        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
       // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            beforeSend: function () {
                $('.modalloader').show();
            },
            url: '@Url.Action("GenerateExportTHCRRReportPDF", "VLDA_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            },
            complete: function () {
                $('.modalloader').hide();
            }
        });
    }

</script>




