@model CwcExim.Areas.Report.Models.InventoryReportModel
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetInventoryReportCargoContainer", "VLDA_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="BranchType" value="@ViewBag.BranchType" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Inventory Report For Cargo And Container</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                    </div>

                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                        <label>Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script>
        $('#BtnPreview').on("click", function () {
            //alert("in");
            //ValidateExitDet();
            $('#DivDwnldWavMsg').html('');
            var From = $('#PeriodFrom').val();
            var To = $('#PeriodTo').val();
            var SF = From.split('/');
            var ST = To.split('/');
            var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
            var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
            if (FromDate > ToDate) {
                $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
                return false;
            }
            return true;
        });
        function OnFailure() { }
        function OnSuccess(data) {
            $('#DivDwnldWavMsg').html('')
            //alert(data);
            debugger;
            if (data.Status == 1) {
                SaveReportPdf(data);
            }
            else {
                $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
            }
        }

        function SaveReportPdf(data) {
            debugger;
            var FormDate = $("#PeriodFrom").val();
            var ToDate = $("#PeriodTo").val();
            var PostData = new FormData();
            var Html = '<div style="text-align: center;border: 1px solid #000;">Inventory Report For Cargo And Container From Date ' + FormDate + ' To Date ' + ToDate + '</div>'
            Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><thead><tr><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + $('#BranchType').val() + " Code</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Party</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Container No.</th>";
            Html += "<th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Size</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Type</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Commodity</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Days at " + $('#BranchType').val() + "</th></tr></thead><tbody>";
            for (i = 0; i < data.Data.LstInventoryReportContainer.length; i++) {
                Html += "<tr><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].CFSCode + "</td><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].Party + "</td><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].ContainerNo + "</td><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].Size + "</td><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].Type + "</td><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].Commodity + "</td><td style='text-align:right;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportContainer[i].DaysAtCFS + "</td></tr>";
            }
            Html += "</tbody></table>"
            Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;margin-top:50px;'><thead><tr><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Party</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Cargo.</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Godown No.</th>";
            Html += "<th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Location</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Days at " + $('#BranchType').val() + "</th></tr></thead><tbody>";
            for (i = 0; i < data.Data.LstInventoryReportCargo.length; i++) {
                Html += "<tr><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportCargo[i].Party + "</td><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportCargo[i].Cargo + "</td><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportCargo[i].GodownNo + "</td><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportCargo[i].Location + "</td><td style='text-align:right;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + data.Data.LstInventoryReportCargo[i].DaysAtCFS + "</td></tr>";
            }



            Html += "</tbody></table>"
            PostData.append("Page", Html);
            // alert("PostData=" + PostData);
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateInventoryReportCargoContainerPDF", "VLDA_ReportCWC", new { area = "Report" })',
                headers: { '__RequestVerificationToken': Token },
                data: PostData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Status == 1) {
                        debugger;
                        window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                    }
                }
            });
        }
</script>

