@model IEnumerable<CwcExim.Areas.Report.Models.Wfld_E04Report>

<script>
    var Page = 0;
    $(function(){
        var TblContainerStuffList = $('#TblContainerStuffList').DataTable({
            "bFilter":false,
            "bInfo":false,
            "pageLength": 50,
            "aoColumns":[
                       {"sName":"SL No","width":"8%"},
                       {"sName":"SB No"},
                       {"sName":"SB Date"},                       
                       {"sName":"Exporter Name"},
                       {"sName":"Address, Address1, City, Pin"},                       
                       {"sName":"FOB Value"},
                       {"sName":"Port of Destination"},
                       {"sName":"Gateway Port"},                       
                       {"sName":"LEO Date"},                       
                       {"sName":"PCIN"},                       
                       {"sName":"View","bSortable":false,"width":"10%"},                       
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(4)', nRow).css("width", "150px");
                $('td:eq(10)', nRow).addClass("text-center");
                //$('td:eq(1),td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6))', nRow).addClass("text-center");
                //$('td:eq(0)', nRow).css("width", "10px");
                //$('td:eq(1)', nRow).css("width", "150px");
                //$('td:eq(2)', nRow).css("width", "150px");
                //$('td:eq(3)', nRow).css("width", "150px");
                //$('td:eq(4)', nRow).css("width", "150px");
                //$('td:eq(5)', nRow).css("width", "150px");
                //$('td:eq(6)', nRow).css("width", "150px");
            }
        });
        new $.fn.dataTable.FixedHeader(TblContainerStuffList);
    });
    function LoadContainerStuffingApproval() {
        $('#DivBody').load('/Report/VLDA_ReportCWC/E04DetailsReport');
    }
 
    function ViewE04Detail(ID) {
        debugger;
        $('#DivBody').load('/Report/VLDA_ReportCWC/ViewE04DetailsReport?ID=' + ID);
    }
  
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Report/VLDA_ReportCWC/LoadMoreE04List',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#TblContainerStuffList').dataTable();
                    var len = dt.fnGetData().length;

                    $.each(data, function (i, item) {
                        debugger;
                        //var CFS= item.ContainerNo;
                        //CFS = CFS.split('(')[0];
                        // var ContainerNo = ContainerNo.Split('(')[1].ToString().Substring(0, item.ContainerNo.Split('(')[1].Length - 1)
                        len++;
                        dt.fnAddData([
        len,        
        [item.SB_NO],
        [item.SB_DATE],                
        [item.EXP_NAME],
        [item.Address],        
        [item.FOB],
        [item.POD],
        [item.GATEWAY_PORT],        
        [item.LEO_DATE],                
        [item.PCIN],        
        ['<a href="#" onclick=ViewE04Detail(' + [item.ID] + ')><i class="fa fa-search-plus Edit"></i></a>'],        
                        ]);
                    });
                }
                else alert('No more data available');
            }

        });
    }
</script>

<table id="TblContainerStuffList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayName("SL No")</th>
            <th>SB No</th>
            <td>SB Date</td>            
            <td>Exporter Name</td>
            <td width="200px">Address, Address1, City, Pin</td>            
            <td>FOB Value</td>
            <td>Port of Destination</td>
            <td>Gateway Port</td>            
            <td>LEO Date</td>            
            <td>PCIN</td>            
            <th class="text-center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.SB_NO)</td>
                    <td>@Html.DisplayFor(m => item.SB_DATE)</td>                    
                    <td>@Html.DisplayFor(m => item.EXP_NAME)</td>
                    <td>@Html.DisplayFor(m => item.Address)</td>                    
                    <td>@Html.DisplayFor(m => item.FOB)</td>
                    <td>@Html.DisplayFor(m => item.POD)</td>
                    <td>@Html.DisplayFor(m => item.GATEWAY_PORT)</td>                    
                    <td>@Html.DisplayFor(m => item.LEO_DATE)</td>                    
                    <td>@Html.DisplayFor(m => item.PCIN)</td>
                    <td class="text-center"><a href="#" onclick="ViewE04Detail(@item.ID)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>




