@model IEnumerable<CwcExim.Areas.CashManagement.Models.LNSM_ChequeReturn>

<table class="table table-bordered table-striped" id="tblDisHonourCheque" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Receipt No</th>
            <th>Party</th>
            <th>Sd No</th>
            <th>Cheque Return Date</th>
            <th>Balance</th>
            <th>ChequeNo</th>
            <th>DraweeBank</th>
            <th>ChequeDate</th>
            <th>Amount</th>
            <th>Adjust Balance</th>
            <th class="text-center">@Html.DisplayName("Print")</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.AutoDisHonourRcptNo</td>
                    <td>@item.PartyName</td>
                    <td>@item.SdNo</td>
                    <td>@item.ChequeReturnDate</td>
                    <td>@item.Balance</td>
                    <td>@item.ChequeNo</td>
                    <td>@item.DraweeBank</td>
                    <td>@item.ChequeDate</td>
                    <td>@item.Amount</td>
                    <td>@item.AdjustedBalance</td>
                    <td class="text-center"><a href="#" onclick="PrintDisHonourReceiptNo('@item.AutoDisHonourRcptNo')"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    $(document).ready(function () {
        var tblDisHonourCheque = $('#tblDisHonourCheque').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                           { "sName": "SL No","width": "10%" },
                           { "sName": "Receipt No", "width": "10%" },
                           { "sName": "Party Name" },
                           { "sName": "Sd No", "bSortable": false },
                           { "sName": "Cheque Return Date", "bSortable": false },
                           { "sName": "Balance", "bSortable": false },
                           { "sName": "ChequeNo", "bSortable": false },
                           { "sName": "DraweeBank", "bSortable": false },
                           { "sName": "ChequeDate", "bSortable": false },
                           { "sName": "Amount", "bSortable": false },
                           { "sName": "Adjust Balance", "bSortable": false },
                           { "sName": "Print", "bSortable": false, "width": "9%" },
                        ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(11)', nRow).addClass("text-center");

            }
        });
        new $.fn.dataTable.FixedHeader(tblDisHonourCheque);
    });

    var Page = 0;
    function LoadMoreListData() {
        //debugger;

        var ReceiptNo = $('#SearchReceiptNo').val().trim();

        var URL = '/CashManagement/LNSM_CashManagement/GetLoadMoreChequeReturnList?ReceiptNo=' + ReceiptNo;

        $.ajax({
            url: URL,
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1, ReceiptNo: ReceiptNo },
            success: function (data) {
                //debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblDisHonourCheque').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        //debugger;
                        len++;
                        dt.fnAddData([
                        len,
                        [item.AutoDisHonourRcptNo],
                        [item.PartyName],
                        [item.SdNo],
                        [item.ChequeReturnDate],

                        [item.Balance],

                        [item.ChequeNo],
                        [item.DraweeBank],
                        [item.ChequeDate],
                        [item.Amount],
                        [item.AdjustedBalance],
                        ['<a href="#" onclick=PrintDisHonourReceiptNo(' + [item.AutoDisHonourRcptNo] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],

                        ]);
                    });
                }
                else alert('No more data available');
            }
        });


    }

    function PrintDisHonourReceiptNo(ReceiptNo) {
        //debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkReceiptReport", "LNSM_CashManagement", new { Area = "CashManagement" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                ReceiptNumber: ReceiptNo,
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });


    }

</script>

