@model CwcExim.Areas.CashManagement.Models.LNSM_ViewSDRefund
<div class="container-fluid">
    <div class="col-md-11 col-md-offset-0-5">
        <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>SD Closure</h4>
                    </div>
                </div>
                @Html.AntiForgeryToken()                
                @Html.HiddenFor(m => m.RecieptNo)
                @Html.HiddenFor(m => m.ClosureDate)
                    <div class="row Form_Space_top">
                        <div class="Form_Input form-group">
                            <div class="col-md-1-5 col_cus_2">

                                @Html.LabelFor(m => m.PartyName)
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.PartyName, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.PartyName)
                                @Html.HiddenFor(m => m.PartyAddress)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="Form_Input form-group">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Opening Balance:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2">
                                @Html.TextBoxFor(m => m.OpeningAmt, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.OpeningAmt)
                            </div>
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Refund Amount:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2 Error_Msg">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.RefundAmt, new { onkeypress = "return AllowOnlyDecimal(event)", @readonly = true })
                                @Html.ValidationMessageFor(m => m.RefundAmt)
                            </div>
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Closing Balance:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2">
                                @Html.TextBoxFor(m => m.ClosingAmt, new { @readonly = true})
                                @Html.ValidationMessageFor(m => m.ClosingAmt)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Bank Name:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2">
                                @Html.TextBoxFor(m => m.BankName, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.BankName)
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_4 padding_rt">
                                <label>Bank Branch:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2">
                                @Html.TextBoxFor(m => m.Branch, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.Branch)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Cheque No.:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2">
                                @Html.TextBoxFor(m => m.ChqNo, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.ChqNo)
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-4 col_cus_offset_4 padding_rt">
                                <label>Cheque Date.:</label>
                            </div>
                            <div class="col-md-2 col_cus_2 Date_Img">
                                @Html.TextBoxFor(m => m.ChqDate, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.ChqDate)
                            </div>
                        </div>
                    </div>
            <div class="row Form_Space_top">
                <div class="Form_Input form-group">
                    <div class="col-md-1-5 col_cus_2">
                        <label>Remarks:</label>

                    </div>
                    <div class="col-md-10-5 col_cus_10">
                        @Html.TextAreaFor(m => m.Remarks, new { @readonly = true })
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" value="Back" id="BtnSDRefundBack" onclick="LoadSDRefund()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" id="printButton"  value="Print" onclick="Print()" />
                        </div>
                    </div>
        </div>
    </div>
</div>


<script>
    function LoadSDRefund() {
        $('#DivBody').load('/CashManagement/LNSM_CashManagement/RefundFromPDA');
    }

    function Print() {


        debugger;
        var printTable = "<table style='width:100%;font-size:9pt;font-family:Verdana,Arial,San-serif;border-collapse: collapse;'><thead><tr><th colspan='12' style='text-align:center;vertical-align:bottom;font-size:8pt;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)<br/><span style='border-bottom:1px solid #000;font-weight:600;'>SD Closure<br/><br/></span></th></tr></thead>";
        printTable += "<tbody><tr><td colspan='12'><table style='width:100%;font-size:9pt;'><tbody><tr><td style='padding:5px 7px;border:1px solid #000;'><b>Receipt No.:</b> <span>" + $('#RecieptNo').val() + "</span></td><td style='padding:5px 7px;border:1px solid #000;'><b>Dated :</b> <span>" + $("#ClosureDate").val() + "</span></td>	</tr><tr><td style='padding:5px 7px;border:1px solid #000;'><b>Party Name :</b> <span>" + $('#PartyName').val() + "</span></td><td style='padding:5px 7px;border:1px solid #000;'><b>Opening Balance :</b> <span>" + $('#OpeningAmt').val().replace(/\,/g, "<br/>") + "</span></td></tr><tr><td style='padding:5px 7px;border:1px solid #000;'><b>Refund Amount :</b> <span>" + $("#RefundAmt").val() + "</span></td><td style='padding:5px 7px;border:1px solid #000;'><b>Closing Balance :</b> <span>" + $("#ClosingAmt").val() + "</span></td></tr><tr><td style='padding:5px 7px;border:1px solid #000;'><b>Bank Name :</b> <span>" + $("#BankName").val() + "</span></td><td style='padding:5px 7px;border:1px solid #000;'><b>Branch Name :</b> <span>" + $("#Branch").val() + "</span></td></tr><tr><td style='padding:5px 7px;border:1px solid #000;'><b>Cheque No.:</b> <span>" + $("#ChqNo").val() + "</span></td><td style='padding:5px 7px;border:1px solid #000;'><b>Cheque Date :</b><span>" + $("#ChqDate").val() + "</span></td></tr></tbody></table></td></tr>";
        printTable += "<tr><td><span><br/></span></td></tr><tr><th colspan='12'>Note : As per request SD A/c. closed.</th></tr> <tr><td colspan='12' style='text-align: right;'><b>Signature :</b> __________________________ <br/><br/> <b>Name of the signatory :</b> __________________________ <br/><br/> <b>Designation :</b> __________________________ </td></tr>";
        printTable += "<tr><td><br/><br/><br/><br/><br/></td></tr>  <tr><td colspan='12'> <b>To,</b> <br/> <span>&nbsp;&nbsp;</span> Manager, <br/> <span>&nbsp;&nbsp;</span> Central Warehousing Corporation, <br/> <span>&nbsp;&nbsp;</span> regional office Delhi</td></tr>";
        printTable += "<tr><td><br/><br/></td></tr>  <tr><th colspan='12'>Copied To :</th></tr>";
        printTable += "<tr><td colspan='12'><table style='width:100%;font-size:9pt;'><tbody><tr><td><br/></td></tr><tr><td width='3%' valign='top'>1.</td><td colspan='2' width='85%' style='line-height:22px;'>" + $('#PartyName').val() + " - " + $('#PartyAddress').val() + "</td></tr></tbody></table></td></tr>";
        printTable += "</tbody></table><br/><br/>";
       
        var PostData = new FormData();
        PostData.append("page", printTable);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF2", "LNSM_CashManagement", new { area = "CashManagement" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open("/Docs/PdaRefundReceipt/" + data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");             

            }
        });
    }
</script>

