@model IEnumerable<CwcExim.Areas.GateOperation.Models.EntryThroughGate>
<table class="table table-bordered table-striped" id="tblGateEntryList">
    <thead>
        <tr>
            <th>@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.CFSCode)</th>
            <th>@Html.DisplayNameFor(m => m.GateInNo)</th>
            <th>@Html.DisplayName("Gate In Date & Time")</th>
            <th>@Html.DisplayNameFor(m => m.ReferenceNo)</th>
            <th>@Html.DisplayName("Edit")</th>
            <th>@Html.DisplayName("View")</th>
            <th>@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @{var Serial = 1;
                foreach (var elem in Model)
                {
                    <td>@Serial.ToString()</td>
                    <td>@elem.CFSCode</td>
                    <td>@elem.GateInNo</td>
                    <td>@elem.EntryDateTime</td>
                    <td>@elem.ReferenceNo</td>
                    <td><a href="#" onclick="EditGateEntry(@elem.EntryId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td><a href="#" onclick="ViewGateEntryDet(@elem.EntryId)"><i class="fa fa-search-plus"></i></a></td>
                    <td><a href="#" onclick="DeleteGateEntryDet(@elem.EntryId)"><i class="fa fa-window-close-o"></i></a></td>
                }
            }
        </tr>
    </tbody>
</table>
<script>
    function EditGateEntry(EntryId) {
        $('#DivBody').load('/GateOperation/CWCGateOperation/EditEntryThroughGate?EntryId=' + EntryId);
    }
    function ViewGateEntryDet(EntryId) {
        $('#DivBody').load('/GateOperation/CWCGateOperation/ViewEntryThroughGate?EntryId=' + EntryId);
    }
    function DeleteGateEntryDet(EntryId) {
        var Confirm = Confirm('Are you sure you want to Delete?');
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/CWCGateOperation/DeleteEntryThroughGate',
                headers: { '__RequestVerificationToken': Token },
                type: 'POST',
                data: { EntryId: EntryId },
                dataType:'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        //GetEntryThroughGateList();
                        GateEntryDeleteSuccess(data);
                    }
                }
            });
        }
    }

    function GetEntryThroughGateList() {
        debugger;
       
        $('#DivGateEntryList').load( '/GateOperation/kol_CWCGateOperation/EntryThroughGateList');
    }
    function GateEntryDeleteSuccess(data) {
       
       // debugger;
        if (data.Status == 1 ) {
           // ResetGateEntry();
            if ($('#DivEntryThroughGateMsg').hasClass('logErrMsg'))
                $('#DivEntryThroughGateMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivEntryThroughGateMsg').html(data.Message);
            //setTimeout(CountryReset, TimeInSeconds);
            debugger;
            GetEntryThroughGateList();
        }         
        else {
            if ($('#DivEntryThroughGateMsg').hasClass('logSuccMsg'))
                $('#DivEntryThroughGateMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivEntryThroughGateMsg').html(data.Message);
        }
    }
</script>