
@model CwcExim.Areas.Report.Models.CargoDailyReport
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "CargoOnFailure";
    options.OnSuccess = "CargoOnSuccess";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script>
    $(function () {

        $("#FromDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="FromDate"]').html('<span><span>');
            }
        });
        $("#ToDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="ToDate"]').html('<span></span>');
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetCargoReportDetails", "ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Cargo Daily in Report</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>From Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "FromDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>To Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "ToDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivCargoErrMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        $('#DivCargoErrMsg').html('');
        var From = $('#FromDate').val();
        var To = $('#ToDate').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivCargoErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });

    function CargoOnFailure() { }

    function CargoOnSuccess(data) {
        $('#DivCargoErrMsg').html('')
        debugger;
        if (data.Status == 1) {
            debugger;
            SaveReportPdf(data);
        }
        else {
            $('#DivCargoErrMsg').html(data.Message);
        }
    }

    function SaveReportPdf(data)
    {
        debugger;
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var PostData = new FormData();
        var Html = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><thead><tr><th colspan='6' style='font-weight:600;font-size:10pt;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:5px;'>Cargo Daily In Report From " + FromDate + " To " + ToDate + "</th></tr><tr><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;width:10%;'>Date</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Vehicle No.</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;width:10%;'>WT</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;width:10%;'>No of Packages</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Commodity</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Party</th></tr></thead><tbody>";
        $.each(data.Data.LstCargoDaily, function (i, item) {
            Html += "<tr><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.RegisterDate + "</td><td style='text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.VehicleNo + "</td><td style='text-align:right;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.Weight + "</td><td style='text-align:right;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.NoOfPackages + "</td><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.Commodity + "</td><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.Party + "</td></tr>";
        });
        Html += "</tbody></table><br/><br/>"
        Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><thead>		<tr>			<th colspan='3' style='font-weight:600;font-size:10pt;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:5px;'>Summary</th>		</tr><tr><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Commodity</th><th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>Party</th>			<th style='font-weight:600;text-align:center;border:1px solid #000;border-bottom:1px solid #000;padding:3px;width:10%;'>WT</th></tr></thead><tbody>";
        $.each(data.Data.LstCargoSummary, function (i, item) {
            Html += "<tr><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.Commodity + "</td><td style='text-align:left;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.Party + "</td><td style='text-align:right;border:1px solid #000;border-bottom:1px solid #000;padding:3px;'>" + item.Weight + "</td></tr>";
        });
        Html += "</tbody></table>";
        PostData.append("Page", Html);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDFForCargoReport", "ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            async:false,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }
            }
        });
    }

</script>






