@model CwcExim.Areas.Report.Models.DeStuffingReportBig


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetDeStuffingReportBig", "ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>De-Stuffing Report</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label for="FromDate" class="InputLabel">Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
        //ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        var Status = true;
      
        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
        

        return Status;
    }
    function SaveReportPdf(data)
    {
        debugger;
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();
        var Html = '<div style="text-align: center;border: 1px solid #000;">De-Stuffing Report From ' + FormDate + ' To ' + ToDate + '</div>'
        Html += "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;'><thead><tr><th style='border:1px solid #000;text-align:center;'>De-Stuffing No</th><th style='border:1px solid #000;text-align:center;'>De-Stuffing Date</th><th style='border:1px solid #000;text-align:center;'>Container No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Container Size</th><th style='border:1px solid #000;text-align:center;'>CFS Code</th><th style='border:1px solid #000;text-align:center;'>Shipping Line</th><th style='border:1px solid #000;text-align:center;'>Vessel Name</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Voyage No</th><th style='border:1px solid #000;text-align:center;'>Rotation</th><th style='border:1px solid #000;text-align:center;'>S/L Seal No</th><th style='border:1px solid #000;text-align:center;'>Custom Seal No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>Line No</th><th style='border:1px solid #000;text-align:center;'>BOE No</th><th style='border:1px solid #000;text-align:center;'>BOE Date</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>BOL No</th><th style='border:1px solid #000;text-align:center;'>BOL Date</th><th style='border:1px solid #000;text-align:center;'>Marks & No</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>CHA</th><th style='border:1px solid #000;text-align:center;'>Importer</th><th style='border:1px solid #000;text-align:center;'>Cargo Description</th><th style='border:1px solid #000;text-align:center;'>Commodity</th><th style='border:1px solid #000;text-align:center;'>Cargo Type</th>";
        Html += "<th style='border:1px solid #000;text-align:center;'>No of Packet</th><th style='border:1px solid #000;text-align:center;'>Yard / Location No</th><th style='border:1px solid #000;text-align:center;'>Gross Wt</th><th style='border:1px solid #000;text-align:center;'>CIF Value</th><th style='border:1px solid #000;text-align:center;'>Duty</th></tr></thead><tbody>";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";
        //Html += "";<th style='border:1px solid #000;text-align:center;'>Container Size</th>
       
        
       // Html += "</tr></thead><tbody>";
        for (i = 0; i < data.Data.length;i++)
        {
            //Html += "<tr><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].GatePassNo + "</td><td style='border:1px solid #000;text-align:center;'>" + data.Data[i].GatePassDate + "</td><td style='border:1px solid #000;text-align:left;'>";
           
            Html += "<tr><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].DeStuffingNo+"</td><td style='border:1px solid #000;text-align:center;'>"+data.Data[i].DeStuffingDate+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].ContainerNo+"</td>";
            Html += "<td style='border:1px solid #000;text-align:center;'>"+data.Data[i].ContainerSize+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].CFSCode+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].ShippingLine+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].VesselName+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].VoyageNo+"</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>"+data.Data[i].Rotation+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].SlSealNo+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].CustomSealNO+"</td>";
            Html += "<td style='border:1px solid #000;text-align:center;'>"+data.Data[i].LineNo+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].BoeNo+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].BoeDate+"</td>";
            Html += "<td style='border:1px solid #000;text-align:center;'>"+data.Data[i].BolNo+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].BolDate+"</td><td style='border:1px solid #000;text-align:center;'>"+data.Data[i].MarksNo+"</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>"+data.Data[i].CHA+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].Importer+"</td><td style='border:1px solid #000;text-align:left;'>"+data.Data[i].CargoDescription+"</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>" + data.Data[i].Commodity + "</td><td style='border:1px solid #000;text-align:left;'>" + data.Data[i].CargoType + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].NoOfPackets + "</td>";
            Html += "<td style='border:1px solid #000;text-align:left;'>" + data.Data[i].YardLocation + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].Grossweight + "</td>";
            Html += "<td style='border:1px solid #000;text-align:right;'>" + data.Data[i].CIFValue + "</td><td style='border:1px solid #000;text-align:right;'>" + data.Data[i].Duty + "</td></tr>";
            //Html += "";<td style='border:1px solid #000;text-align:left;'>"+data.Data[i].+"</td>
            //Html += "";
            //Html += "";
            
        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
       // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateDeStuffingReportBigPDF", "ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>



