
@model IEnumerable<CwcExim.Areas.Import.Models.Dnd_OBLWiseContainerEntry>
<table class="table table-bordered table-striped" id="tblOblEntry" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>OBL/HBL No</th>
            <th>OBL/HBL Date</th>
            <th>IGM No</th>
            <th>IGM Date</th>
            <th>OBL/HBL Created Date</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.OBL_No</td>
                    <td>@item.OBL_Date</td>
                    <td>@item.IGM_No</td>
                    <td>@item.IGM_Date</td>
                    <td>@item.OBLCreateDate</td>
                    <td class="text-center"><a href="#" onclick="EditOBLEntry(@item.impobldtlId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteOBLEntry(@item.impobldtlId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    var Page = 0;
    $(document).ready(function () {
        var tblOblEntry = $('#tblOblEntry').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "SL No","width": "10%" },
                       { "sName": "OBL/HBL No" },
                       { "sName": "OBL/HBL Date", "bSortable": false },
                       { "sName": "IGM No" },
                       { "sName": "IGM Date" },
                       { "sName": "OBL/HBL CreateDate" },
                       { "sName": "Edit", "bSortable": false, "width": "9%" },
                       { "sName": "Delete", "bSortable": false, "width": "9%" },
            ]
        });
        new $.fn.dataTable.FixedHeader(tblOblEntry);
    });
    function EditOBLEntry(OBLEntryId)
    {
        $('#DivBody').load( '/Import/Dnd_OblEntry/OBLWiseContainerEntry?impobldtlId=' + OBLEntryId);
    }
    //function ViewJobOrder(OBLEntryId)
    //{
    //    $('#DivBody').load( '/Export/CWCExport/ViewJobOrder?JobOrderId=' + OBLEntryId);
    //}
    function DeleteOBLEntry(OBLEntryId,IsAlreadyUsed)
    {
        //if(IsAlreadyUsed==1){
        //    alert("Cannot Delete OBL Entry As It Already Exists In Another Page.");
        //    return false;
        //}
        var Confirm = confirm("Are you sure you want to delete?");
        if(Confirm==true)
        {
            var Token=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Import/Dnd_OblEntry/DeleteOBLWiseContainer',
                type: 'POST',
                dataType: 'JSON',
                data: { OBLEntryId: OBLEntryId },
                headers:{"__RequestVerificationToken":Token},
                success: function (data) {
                    if(data.Status==1)
                    {
                        alert("Data deleted successfully");
                        LoadOblEntryList();
                        //ResetAllField();
                    }
                    else
                    {
                        alert(data.Message);
                    }
                }
            });
        }
    }
    //function PrintJODet(JobOrderId)
    //{
    //    var Token=$('input[name="__RequestVerificationToken"]').val();
    //    $.ajax({
    //        url: '/Export/CWCExport/PrintJO',
    //        type:'POST',
    //        data:{JobOrderId:JobOrderId},
    //        headers:{"__RequestVerificationToken":Token},
    //        dataType:'JSON',
    //        success:function(data)
    //        {
    //            if(data.Status==1)
    //                window.open(data.Message+"?_t="+(new Date().getTime()),"_blank");
    //            else
    //                alert(data.Message);
    //        }
    //    });
    //}
    function LoadMoreListData() {
        debugger;
        //Page = Page + 1;
        $.ajax({
            url: '/Import/Dnd_OblEntry/LoadListMoreOBLData',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblOblEntry').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.ContainerNo],
        [item.ContainerSize],
        [item.IGM_No],
        [item.IGM_Date],
        [item.OBLCreateDate],
        ['<a href="#" onclick=EditOBLEntry(' + [item.Id] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#" onclick=DeleteOBLEntry(' + [item.Id] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
</script>

