@model CwcExim.Areas.Bond.Models.WfldBondAmendmentViewNodel
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivBondApp">
                @using (Ajax.BeginForm("BondAmendment", "VLDABond", new AjaxOptions
                {
                    Confirm = "Are you sure you want to Save?",
                    HttpMethod = "POST",
                    OnSuccess = "BondAmendOnSuccess",
                    OnFailure = "BondAmendOnFailure"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Bond Amendment</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Amendment No.</label> <span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.AmendNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col-md-1-5 col_cus_2 padding_rt">
                                <label>Amendment Date</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.AmendDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.objBondAmend.SACNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5 col_cus_10">
                                @Html.HiddenFor(m => m.objBondAmend.SpaceappId)
                                @Html.TextBoxFor(m => m.objBondAmend.SACNo, new { @class = "form-control input-sm", @readonly = true, @tabindex = 1, @onkeydown = "PopupActivate('SACModal');" })
                                <span class="search" onclick="LoadSACNo()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SACModal"></i></span>
                            </div>
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Old UOM</label> <span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.TextBoxFor(m => m.objBondAmend.OldUOM, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>New UOM</label> <span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.objBondAmend.NewUOM, new { @class = "form-control input-sm", @tabindex = 2 })
                            </div>
                        </div>
                    </div>
                    <table id="tblDeposite" class="table table-bordered table-striped dataTable" tabindex="3">
                        <thead>
                            <tr>
                                <td>Sl No.</td>
                                <td>Deposite App No.</td>
                                <td>Deposite Date</td>
                                <td>Bond No</td>
                                <td>Old Units</td>
                                <td>Old Weight</td>
                                <td>New Units</td>
                                <td>New Weight</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 1;
                                if (Model.lstBondAmendDtl != null)
                                {
                                    for (var j = 0; j < Model.lstBondAmendDtl.Count(); j++)
                                    {
                                        @Html.HiddenFor(m => Model.lstBondAmendDtl[j].DepositAppId)
                                        @Html.HiddenFor(m => Model.lstBondAmendDtl[j].UnloadingId)
                                        <tr>
                                            <td>@i</td>
                                            <td>@Model.lstBondAmendDtl[j].DepositNo</td>
                                            <td>@Model.lstBondAmendDtl[j].DepositDate</td>
                                            <td>@Model.lstBondAmendDtl[j].BondNo</td>
                                            <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].OldUnits, new { @readonly = true })</td>
                                            <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].OldWeight, new { @readonly = true })</td>
                                            <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].NewUnits, new { @tabindex = "3_1_" + j, onkeypress = "return AllowOnlyInteger(event)", @maxlength = "9" })</td>
                                            <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].NewWeight, new { @tabindex = "3_2_" + j, onkeypress = "return AllowOnlyDecimal(this)", @maxlength = "11" })</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="submit" class="btn log_Btn_sm" value="Save" id="BtnSave" tabindex="4" onclick="return Validate()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="$('#DivBody').load('/Bond/WFLDBond/BondAmendment')" />
                        </div>
                    </div>
                    <div id="DivMsg" class="logErrMsg" style="background-color:transparent"></div>
                                }
            </div>
            <div class="row Form_Space_top Form_Space_bottom">
                <div class="form-group Form_Input">
                    <div class="col-md-offset-8-5 col-md-3-5">
                        @Html.TextBox("Search", "", new { placeholder = "Search By Amendment / Bond No." })
                        <span class="search"><i class="fa fa-search" aria-hidden="true" onclick="ListSearch()"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 SignUp_space_bottom">
                    <input type="button" id="btnShowList" value="Show List" class="btn log_Btn_sm" onclick="ShowList()" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="DivBondAppList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="SACModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of SAC No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="SACbox" type="text" tabindex="100" />
                <ul class="navList" id="lstSAC"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () { $("#objBondAmend_SACNo").focus(); });
    function LoadSACNo() {
        $.ajax({
            'url': '/Bond/VLDABond/ListOfSACForAmend',
            type: 'GET',
            async: false,
            data: {},
            success: function (data) {
                if (data.Status == 1) {
                    var $list = $('#lstSAC');
                    $list.html('');
                    $.each(data.Data, function (i, elem) {
                        $list.append('<li tabindex="100_' + i + '" onclick="SelectSAC(' + elem.SpaceappId + ')" onkeypress="SelectSAC(' + elem.SpaceappId + ')" id="' + elem.SpaceappId + '">' + elem.SACNo + '</li>');
                    });
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
    $('#SACbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstSAC > li').show();
        } else {
            $('#lstSAC > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    function SelectSAC(SpaceappId) {
        $("#SACModal").modal("hide");
        setTimeout(function () { $('#DivBody').load('/Bond/VLDABond/BondAmendment?SpaceappId=' + SpaceappId); }, 500);
    }
    function PopupActivate(Id) {
        // debugger;
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }

        if (CharCode == 32) {

            $('#' + Id).modal('show');


            if (Id == "SACModal") {
                LoadSACNo();
            }
        }
    }
    $('#SACModal').on('shown.bs.modal', function () {
        $('#SACbox').focus();
    });
    function BondAmendOnSuccess(data) {
        if (data.Status == 1) {
            $('#AmendNo').val(data.Data);
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            setTimeout(function () { $('#DivBody').load('/Bond/VLDABond/BondAmendment'); }, 5000);
        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }
        setTimeout(function () { $('#DivMsg').html(''); }, 5000);
    }
    function BondAmendOnFailure() {

    }
    function Validate() {
        var flag = 0;
        if ($('#objBondAmend_NewUOM').val()=="") {
            flag = 1;
        }
        if ($('#tblDeposite tbody tr').length > 0) {
            for (var i = 0; i < $('#tblDeposite tbody tr').length; i++) {
                if ($('#lstBondAmendDtl_' + i + '__NewUnits').val() == '') {
                    flag = 1;
                }
                if ($('#lstBondAmendDtl_' + i + '__NewWeight').val() == '') {
                    flag = 1;
                }
            }
        }
        if (flag == 1) {
            alert('Please fill UOM and all the units and weight');
            return false;
        }
        flag = 0;
        if ($('#objBondAmend_OldUOM').val() != $('#objBondAmend_NewUOM').val()) {
            flag = 1;
        }
        if ($('#tblDeposite tbody tr').length > 0) {
            for (var i = 0; i < $('#tblDeposite tbody tr').length; i++) {
                if ($('#lstBondAmendDtl_' + i + '__OldUnits').val() != $('#lstBondAmendDtl_' + i + '__NewUnits').val()) {
                    flag = 1;
                }
                if ($('#lstBondAmendDtl_' + i + '__OldWeight').val() != $('#lstBondAmendDtl_' + i + '__NewWeight').val()) {
                    flag = 1;
                }
            }

        }
        if (flag == 0) {
            alert('Please do any changes to amend');
            return false;
        }
        else {
            return true;
        }
    }
    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function ListSearch()
    {
        if ($('#Search').val().trim()!='')
            $('#DivBondAppList').load('/Bond/VLDABond/SearchOfBondAmendment?Search=' + ($('#Search').val().trim()));
        else
            alert('Please enter the Amendment No. or SAC No. to search ')
    }
    function ShowList() {
        $('#Search').val('');
        $('#DivBondAppList').load('/Bond/VLDABond/ListOfBondAmendment');
    }
    $('#objBondAmend_NewUOM').on('blur', function () {
        $('#objBondAmend_NewUOM').val($('#objBondAmend_NewUOM').val().toUpperCase());
    });
</script>