@model CwcExim.Areas.Bond.Models.WfldBondAmendmentViewNodel
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivBondApp">
                <div class="row">
                    <div class="col-md-12">
                        <h4>View Bond Amendment</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Amendment No.</label> <span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.AmendNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col-md-1-5 col_cus_2 padding_rt">
                            <label>Amendment Date</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.AmendDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.objBondAmend.SACNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5 col_cus_10">
                            @Html.HiddenFor(m => m.objBondAmend.SpaceappId)
                            @Html.TextBoxFor(m => m.objBondAmend.SACNo, new { @class = "form-control input-sm", @readonly = true, @onkeydown = "PopupActivate('SACModal');" })
                            
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Old UOM</label> <span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.objBondAmend.OldUOM, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>New UOM</label> <span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.objBondAmend.NewUOM, new { @class = "form-control input-sm",  @readonly = true })
                        </div>
                    </div>
                </div>
                <table id="tblDeposite" class="table table-bordered table-striped dataTable" >
                    <thead>
                        <tr>
                            <td>Sl No.</td>
                            <td>Deposite App No.</td>
                            <td>Deposite Date</td>
                            <td>Bond No</td>
                            <td>Old Units</td>
                            <td>Old Weight</td>
                            <td>New Units</td>
                            <td>New Weight</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;
                            if (Model.lstBondAmendDtl != null)
                            {
                                for (var j = 0; j < Model.lstBondAmendDtl.Count(); j++)
                                {
                                    @Html.HiddenFor(m => Model.lstBondAmendDtl[j].DepositAppId)
                                    @Html.HiddenFor(m => Model.lstBondAmendDtl[j].UnloadingId)
                                    <tr>
                                        <td>@i</td>
                                        <td>@Model.lstBondAmendDtl[j].DepositNo</td>
                                        <td>@Model.lstBondAmendDtl[j].DepositDate</td>
                                        <td>@Model.lstBondAmendDtl[j].BondNo</td>
                                        <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].OldUnits, new { @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].OldWeight, new { @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].NewUnits, new { @readonly = true })</td>
                                        <td>@Html.TextBoxFor(m => Model.lstBondAmendDtl[j].NewWeight, new { @readonly = true })</td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Reset" id="BtnSave" onclick="$('#DivBody').load('/Bond/VLDABond/BondAmendment')" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>