@model CwcExim.Areas.Bond.Models.WFLDBondWODeli
<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            <div id="DivBondApp">
                <div class="row">
                    <div class="col-md-12">
                        <h4>View Work Order</h4>
                    </div>
                </div>
               @*<div class="row Form_Space_top">
        <div class="form-group Form_Input">
            <div class="col-md-offset-1-5 col_cus_offset_2 col-md-1-5">
                <div class="boolean-container">
                    @Html.RadioButton("WorkOrderFor", "U", false, new { @id = "rbUnloading", @disabled = true })
                    <label for="rbUnloading"><i class="circle"></i><span>Unloading</span></label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="boolean-container">
                    @Html.RadioButton("WorkOrderFor", "D", false, new { @id = "rbDelivery", @disabled = true })
                    <label for="rbDelivery"><i class="circle"></i><span>Delivery</span></label>
                </div>
            </div>
        </div>
    </div>*@ 
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            @Html.LabelFor(m => m.WorkOrderNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WorkOrderNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5 padding_rt">
                            <label>Work Order Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            @Html.TextBoxFor(m => m.WorkOrderDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.BondNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.BondNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.BondDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.BondDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.WRNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.WRNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.WRDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.WRDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2" id="DivDeliveryNo">
                            @Html.LabelFor(m => m.DeliveryNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.DeliveryNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.GodownName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Cargo Description:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-control input-sm", @style = "width:100%;height:100px;", @disabled = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>SAC No:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.SacNo, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            <label>SAC Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5">
                            @Html.TextBoxFor(m => m.SacDate, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            @Html.LabelFor(m => m.Units, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Units, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                            @Html.LabelFor(m => m.Weight, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        <div class="col-md-2-5">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" class="btn log_Btn_sm" value="Back" id="BtnSave" onclick="LoadPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function ()
    {
        if ('@Model.WorkOrderFor' == 'U' || '@Model.WorkOrderFor' == 'u')
        {
            $('#DivDeliveryNo').css("visibility", "hidden");
            $('#DeliveryNo').css("visibility", "hidden");
        }
           
    });
    function LoadPage()
    {
        if ('@Model.WorkOrderFor' == 'U' || '@Model.WorkOrderFor' == 'u') {
            $('#DivBody').load('/Bond/VLDABond/CreateWOForUnloading');
        }
        else {
            $('#DivBody').load('/Bond/VLDABond/CreateWOForDelivery');
        }
    }
</script>