
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Party Wise SD Balance</h4>
                    </div>
                </div>

                <div id="DivJOHdr" class="Form_Space_bottom">

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Party:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.Hidden("PartyId")
                                @Html.TextBox("PartyName", "", new { @class = "form-control input_sm", @readonly = true })
                                <span class="search" id="PartySerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                <input type="hidden" id="hdnBalanceDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBox("BalanceDate", "", new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Balance:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBox("Balance", "" , new { @class = "form-control input_sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>
                <div class="row SignUp_space_top2">
                    <div class="col-md-offset-4-5 col-md-3">
                        <input type="button" id="btnSave" class="btn log_Btn_sm" onclick="ShowBalance()" value="Show Balance" />
                    </div>
                </div>
                <div class="logSuccMsg Form_Space_top" id="DivSucMsg" style="background-color:transparent"></div>
                <div class="logErrMsg Form_Space_bottom" id="DivErrMsg" style="background-color:transparent"></div>


            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="PartyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @{
                        if (ViewBag.ListOfParty != null)
                        {
                            foreach (var item in ViewBag.ListOfParty)
                            {
                                <li id="@item.PartyId">@item.PartyName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>

    $(function () {
        $('#BalanceDate').val($('#hdnBalanceDate').val());
    });

    $('#BalanceDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="CCINDate"]').html('');
        }
    });

    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstParty > li').on("click", function () {
        $('#PartyName').val($(this).text());
        $('#PartyId').val($(this).attr('id'));
        $("#PartyModal").modal("hide");
    });

    function ShowBalance() {
        if ($('#PartyId').val() == 0) {
            alert("Please select Party");
            return false;
        }
        else {
            $.ajax({
                url: '/CashManagement/Chn_CashManagement/GetPartyWiseSDBalance',
                type: 'Get',
                data: { PartyId: $('#PartyId').val(), BalanceDate: $('#BalanceDate').val() },
                async: false,
                success: function (data) {
                    if (data != null) {
                        //debugger;
                        $('#Balance').val(parseFloat(data).toFixed(2));

                    }
                }
            });
        }
        
    }


</script>