@model CwcExim.Areas.CashManagement.Models.Chn_ReceiptVoucherModel
@using (Ajax.BeginForm("ReceiptVoucher", "Chn_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", LoadingElementDuration = 1000, LoadingElementId = "divProgress" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ReceiptId, new { @Value = 0 })
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Receipt Voucher</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.VoucherNo)
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                @Html.TextBoxFor(m => m.VoucherNo, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.VoucherNo)
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                @Html.LabelFor(m => m.PaymentDate)
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                                @Html.TextBoxFor(m => m.PaymentDate)
                                @Html.ValidationMessageFor(m => m.PaymentDate)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Purpose)
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                <select id="Purpose" name="Purpose">
                                    <option value="Imprest">Imprest</option>
                                    <option value="Temporary Advance">Temporary Advance</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.Purpose)
                            </div>
                            <div class="col-md-1-5 col-md-offset-4">

                            </div>
                            <div class="col-md-2 Date_Img Error_Msg">
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Amount)
                            </div>
                            <div class="col-md-2-5 Error_Msg">
                                @Html.TextBoxFor(m => m.Amount)
                                @Html.ValidationMessageFor(m => m.Amount)
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">

                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                            </div>
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.Party)
                                </div>
                                <div class="col-md-10-5">
                                    @Html.TextBoxFor(m => m.Party)
                                    <span class="search" id="CHASerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.Party)
                                </div>
                            </div>
                        </div>*@
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                @Html.LabelFor(m => m.Narration)
                            </div>
                            <div class="col-md-10-5 col_cus_10 Error_Msg">
                                @Html.TextAreaFor(m => m.Narration, new { @style = "height:75px;" })
                                @Html.ValidationMessageFor(m => m.Narration)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_top2 SignUp_space_bottom2">
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-3 col-md-2">
                            <button type="submit" class="btn log_Btn_sm">Save</button>
                        </div>
                        <div class="col-md-2">
                            <button type="reset" class="btn log_Btn_sm" onclick="ResetForm()">Reset</button>
                        </div>
                        <div class="col-md-2">
                            <button id="BtnPrint" type="button" class="btn log_Btn_sm" onclick="PrintVoucher()" disabled>Print</button>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div id="DivReceiptVoucherList" class="col-md-12 ClearFix SignUp_space_bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="PartyModal" role="dialog">
    @*<div class="modal-dialog">

             Modal content
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Party Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="CHAbox" type="text" />
                    <ul class="navList" id="lstCHA">
                        @{
                            foreach (var item in ViewBag.Parties)
                            {
                                <li id="@item.PartyId">@item.PartyName</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $("#PaymentDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $(function () {
        GetReceiptList();
    });

    function OnSuccess(data) {
        alert(data.Message);
        if (data.Status) {
            $('#ReceiptId').val(data.Id);
            $('#VoucherNo').val(data.Data);
            $('#BtnPrint').prop('disabled', false);
            GetReceiptList();
        }
    }

    function ResetForm() {
        $('#DivBody').load('@Url.Action("ReceivedVoucher", "Chn_CashManagement",new { area = "CashManagement" })');
    }

    function GetReceiptList() {
        $('#DivReceiptVoucherList').load('@Url.Action("GetReceiptVoucherList", "Chn_CashManagement", new { area = "CashManagement" })');
    }

    function PrintVoucher() {
        var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='text-align:center;'>CENTRAL WAREHOUSING CORPORATION (FORMAT-X)<br/>Principal Place of Business:___________________<br/>Receipt Voucher<br/><p style='text-align:right;'>ORIGINAL FOR RECIPIENT</p></th></tr></thead> <tbody> <tr><td><table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse: collapse;'><tbody><tr><td style='border:1px solid #000;'>Details of Service Provider</td><td style='border:1px solid #000;'>Details of Service Receiver</td></tr><tr><td style='border:1px solid #000;'>Name : <span>Central Warehouse</span></td><td style='border:1px solid #000;'>Voucher No: <span>" + $('#VoucherNo').val() + "</span></td></tr><tr><td style='border:1px solid #000;'>Warehouse Address:<span></span></td><td style='border:1px solid #000;'>Voucher Date:<span>" + $('#PaymentDate').val() + "</span></td></tr><tr><td style='border:1px solid #000;'>City:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State Code:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>GSTIN:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>PAN:<span></span></td><td style='border:1px solid #000;'></td></tr></tbody></table> </td></tr><tr><td style='border-bottom:1px solid #000;padding-top:40pt;font-size:9pt;'><strong>Receipt Purpose:</strong><span>" + $('#Purpose option:selected').text() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Receipt Amount:</strong>					<span>" + $('#Amount').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Narration:</strong><span>" + $('#Narration').val() + "</span></td></tr></tbody></table>";
        var PostData = new FormData();
        PostData.append("ReceiptId", $('#ReceiptId').val());
            PostData.append("Page1", html1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateReceiptVoucher", "Chn_CashManagement", new { area = "CashManagement" })',
                data: PostData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + '?t=' + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                }
            });
    }
</script>

