@model IEnumerable < CwcExim.Areas.CashManagement.Models.ChnSDRefundList>
<table id="TblSDRefundList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Closure Date</th>
            <th>Receipt No</th>
            <th>Party</th>
            <th>Amount</th>
            <th class="text-center">@Html.DisplayName("View")</th>
        </tr>
    </thead>
    <tbody> 
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.ClosureDate)</td>
                    <td>@Html.DisplayFor(m => item.RecieptNo)</td>
                    <td>@Html.DisplayFor(m => item.PartyName)</td>
                    <td>@Html.DisplayFor(m => item.RefundAmt)</td>
                    <td class="text-center"><a href="#" onclick="ViewSDRefund(@item.PDAACId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo++;
            }
        }

    </tbody>
</table>

<script>
    $(function () {
        var TblSDRefundList = $('#TblSDRefundList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "Closure Date" },
                       { "sName": "Receipt No" },
                       { "sName": "Party" },
                       { "sName": "Amount" },
                       { "sName": "View", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblSDRefundList);
    });

    function ViewSDRefund(PDAACId) {
        debugger;
        $('#DivBody').load('/CashManagement/Chn_CashManagement/ViewSDRefund?PdaAcId=' + PDAACId);
    }
</script>

