@model CwcExim.Areas.CashManagement.Models.TransactionStatusEnquiry
<script>


    var TimeInSeconds = 5000;
    function OnSuccess(data) {
        var a = data.Message;
        alert(a);
        if (data.Status != null && data.Data != "" && data.Data != undefined) {

            $('#BtnSaveCustomAppraisement').prop('disabled', true);
            RefreshPage();
        }
        else {

            $('#BtnSaveCustomAppraisement').prop('disabled', false);
        }
        //  setTimeout(RefreshPage, TimeInSeconds);
    }
    function OnFailure() {
        alert("Something went wrong , Please check data");


    }
   
</script>

<div class="container-fluid">
    <div class="col-md-11 col-md-offset-0-5">
        <div class="Head_h4">
            @using (Ajax.BeginForm("GetTransactionStatusEnquiry", "Loni_CashManagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccess", LoadingElementDuration = 1000, LoadingElementId = "divProgress" }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <h4>Transaction Status Enquiry</h4>
                    </div>
                </div>
                @Html.AntiForgeryToken()
               
                <div class="row Form_Space_top">
                    <div class="Form_Input form-group">
                        <div class="col-md-2">

                            <label>Invoice No:</label>

                        </div>
                        <div class="col-md-4">
                            <span class="ReQSimbol">*</span>
                            @Html.HiddenFor(x=>x.InvoiceId)
                            @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
                            @Html.ValidationMessageFor(m => m.InvoiceNo)
                            <span class="search" id="FromPDA" onclick="LoadInvoiceNo()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#FromPartyList"></i></span>
                        </div>
                    </div>
                </div>

               

                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-4 SignUp_space_bottom">
                            <input type="submit" class="btn log_Btn_sm" value="Payment Status" id="BtnSaveCustomAppraisement" onclick="return checkAmount()" />
                        </div>

                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" id="BtnResetCustomAppraisement" onclick="RefreshPage()" />
                        </div>

                    </div>

            }
            <div class="row">
                <div class="col-md-12">
                    <div id="DivSDRefundList"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="FromPartyList" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Invoice No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }

    function RefreshPage()
    {
        $('#InvoiceId').val(0);
        $('#InvoiceNo').val('');
    }
    function LoadInvoiceNo() {
        debugger;
       
            $.ajax({
                url: '/CashManagement/Loni_CashManagement/GetInvoiceListForTransactionStatusEnquiry',
                type: 'GET',
                data: { InvoiceNo: '', Page:1 },
                success: function (data) {
                    debugger;
                  
                        var html = '';
                        $.each(data, function (item, elem) {
                            html += '<li onclick="SelectInvoiceNo(' + elem.InvoiceId + ',&quot;' + elem.InvoiceNo + '&quot;)">' + elem.InvoiceNo + '</li>';
                        });
                        $('#tblePayee tbody').html('');
                        $('#lstCHA').html(html);
                       // $('#btnLoadPayee').prop('disabled', false);
                        Page = -1;
                   

                }
            });
      
    }

    function SelectInvoiceNo(InvoiceId, InvoiceNo)
    {
       
        $('#InvoiceId').val(InvoiceId);
        $('#InvoiceNo').val(InvoiceNo);
        $('#FromPartyList').modal('hide');

    }
</script>
@Scripts.Render("~/bundles/jqueryval")
