@model CwcExim.Areas.GateOperation.Models.GatePass
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Edit Gate Pass</h4>
                    </div>
                </div>
                @using (Ajax.BeginForm("AddEditGatePass", "CWCGatePass", new AjaxOptions
                {
                    Confirm = "Are you sure you want to save?",
                    HttpMethod = "POST",
                    OnSuccess = "GatePassOnSuccess",
                    OnFailure = "GatePassOnFailure",
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.GatePassId)
                    @Html.HiddenFor(m => m.StringifyData)
                    @Html.HiddenFor(m => m.Modul)
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Gate Pass No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GatePassNo, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                <label>Gate Pass Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.GatePassDate, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextAreaFor(m => m.Remarks, new { @style = "width:100%;height:50px;" })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>CHA Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.CHAName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Importer/Exporter Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ImpExpName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Shipping Line Name:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Invoice No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.HiddenFor(m => m.InvoiceId)
                                @Html.TextBoxFor(m => m.InvoiceNo)
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                @Html.ValidationMessageFor(m => m.InvoiceNo)
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Excepted date and time of departure:</label>
                            </div>
                            <div class="col-md-2-5 Date_Img">
                                @Html.TextBoxFor(m => m.DepartureDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.DepartureDate)
                            </div>
                            <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                                <label>Expected date and time of arrival at next location:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control input-sm", @readonly = true })
                                @Html.ValidationMessageFor(m => m.ArrivalDate)
                            </div>
                        </div>
                    </div>
                    <div id="DivDestuffingDet" class="Head_h5">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("ContainerNo", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5">
                                    <label>Size:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Size", "", new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5">
                                    <div class="boolean-container">
                                        @Html.CheckBox("Reefer", false, new { @disabled = true })
                                        <label><i class="square"></i><span>Reefer</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Cargo Description:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextArea("CargoDescription", "", new { @style = "width:100%;height:100px;", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Cargo Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("CargoType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="HAZ",Value="1"},
                                            new SelectListItem { Text="Non HAZ",Value="2"},
                                        }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                    <label>Vehicle No:</label>
                                </div>
                                <div class="col-md-2-5 Date_Img">
                                    @Html.TextBox("VehicleNo", "", new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>No of Packages:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("NoOfPackages", "", new { @readonly = true })
                                </div>
                                <div class="col-md-offset-4 col_cus_offset_3 col_cus_2 col-md-1-5">
                                    <label>Weight:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Weight", "", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Location:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBox("Location", "")
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="button" id="btnAdd" class="btn log_Btn_sm" value="Add" onclick="AddContainer()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="btnDtlReset" class="btn log_Btn_sm" value="Reset" onclick="ResetDtlDetails()" />
                            </div>
                        </div>
                        @Html.Hidden("Index")
                        <div class="row">
                            <div class="col-md-12" id="DivContDet">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-2 col-md-2">
                            <input type="submit" id="btnSave" class="btn log_Btn_sm" value="Save" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnDT" class="btn log_Btn_sm" value="CIM DP" disabled onclick="SendDT()" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Back" onclick="LoadGP()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg" id="DivErrMsg" style="background-color:transparent"></div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    var ContainerDetails = [];
    $(function () {
        ContainerDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyData)));
        if (ContainerDetails != null)
            GenerateTable();
    });
    $('#GatePassDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    $('#DepartureDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    $('#ArrivalDate').datetimepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    function LoadGP() {
        $('#DivBody').load('/GateOperation/CWCGatePass/CreateGatePass');
    }
    function GatePassOnSuccess(data) {
        if (data.Status == 1 || data.Status == 2) {
            $('#DivSucMsg').html(data.Message);
            var Module = $('#Modul').val();
            //  $('#GatepassId').val(data.Data);
            if (Module.substring(0, 3) == 'EXP') {
                $('#btnDT').prop('disabled', false);
            }
           // setTimeout(function () { LoadGP(); }, 5000);
        }
        else {
            $('#DivErrMsg').html(data.Message);
            setTimeout(function () { $('#DivErrMsg').html(''); }, 5000);
        }
    }
    function impJOOnFailure() { }
    function GenerateTable() {
        var html = '';
        html = '<table class="table table-bordered table-striped dataTable" id="tblContainer"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container No</th><th>Container Size</th><th>Reefer</th><th>Vehicle No</th><th class="text-center" style="width:10%;">Edit</th></tr></thead><tbody>';
        $.each(ContainerDetails, function (i, elem) {
            html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.ContainerNo + '</td><td>' + elem.Size + '</td><td>' + (elem.IsReefer == true ? 'Reefer' : 'Non Reefer') + '</td><td>' + elem.VehicleNo + '</td><td class="text-center" style="width:10%;"><a href="#" onclick="EditContainerDet(' + i + ')"><i class="fa fa-pencil-square Edit"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivContDet').html(html);
    }
    $('#btnSave').on("click", function () {
        var mod = $('#Modul').val();
        if (mod == 'IMPDeli' || mod == 'IMPYard' || mod == 'EC' || mod == 'ECGodn' || mod == 'ECYard' || mod == 'ECGateOut' || mod == 'IMPDest' || mod == 'ECGodn' || mod == 'ECOut' || mod == 'BND') {
            $("#DepartureDate").rules("remove", "required");
            $("#ArrivalDate").rules("remove", "required");

        }
        if ($('#tblContainer tbody tr').length > 0) {
            $('#StringifyData').val(JSON.stringify(ContainerDetails));
        }
    });
    function EditContainerDet(i) {
        $('#ContainerNo,#Size,#CargoDescription,#NoOfPackages,#Location').val('');
        $('#IsReefer').prop('checked', false);
        $('#ContainerNo').val(ContainerDetails[i].ContainerNo);
        $('#Size').val(ContainerDetails[i].Size);
        $('#CargoDescription').val(ContainerDetails[i].CargoDescription);
        (ContainerDetails[i].CargoType > 0) ? $('#CargoType').val(ContainerDetails[i].CargoType) : $('#CargoType').val('');
        $('#Weight').val(ContainerDetails[i].Weight);
        $('#NoOfPackages').val(ContainerDetails[i].NoOfUnits);
        (ContainerDetails[i].IsReefer) ? $('#Reefer').prop('checked', true) : $('#Reefer').prop('checked', false);
        ContainerDetails[i].VehicleNo == '' ? '' : $('#VehicleNo').val(ContainerDetails[i].VehicleNo);
        ContainerDetails[i].Location == '' ? '' : $('#Location').val(ContainerDetails[i].Location);
        $('#Index').val(i);
    }
    function AddContainer() {
        var k = $('#Index').val();
        if (k != '') {
            ContainerDetails[k].VehicleNo = $('#VehicleNo').val();
            ContainerDetails[k].CargoType = ($('#CargoType').val() == '') ? 0 : $('#CargoType').val();
            ContainerDetails[k].Location = $('#Location').val();
            ResetDtlDetails();
            GenerateTable();
            $('#Index').val('');
        }
    }
    function ResetDtlDetails() {
        $('#ContainerNo,#Size,#CargoDescription,#CargoType,#VehicleNo,#Weight,#NoOfPackages,#Location').val('');
        $('#Reefer').prop('checked', false);
        $('#Index').val('');
    }

    function SendDT() {
        var GatePassId = $('#GatePassId').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/GateOperation/CWCGatePass/SendDP",
            type: "POST",
            dataType: "JSON",
            data: { GatePassId: GatePassId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#btnDT').prop('disabled', true);
                    alert(data.Message);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }
</script>
