@model IEnumerable<CwcExim.Areas.GateOperation.Models.ListOfGP>
<table class="table table-bordered table-striped" id="tblGP">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>@Html.DisplayName("Gate Pass No")</th>
            <th>@Html.DisplayName("Gate Pass Date")</th>
            <th>@Html.DisplayName("Is Cancelled")</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Preview")</th>
            <th class="text-center">@Html.DisplayName("Cancel")</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@item.GatePassNo</td>
                    <td>@item.GatePassDate</td>
                    <td>@item.IsCancelled</td>
                    <td class="text-center"><a href="#" onclick="EditGatePass(@item.GatePassId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="ViewGatePass(@item.GatePassId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="DeleteGatePass(@item.GatePassId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                    <td class="text-center"><a href="#" onclick="PreviewGatePass(@item.GatePassId)"><i class="fa fa-file-pdf-o Edit"></i></a></td>
                    <td class="text-center"><a href="#" onclick="CancelGatePass(@item.GatePassId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblGP = $('#tblGP').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "Sl No", "width": "8%" },
                       { "sName": "Gate Pass No", "bSortable": false },
                       { "sName": "Gate Pass Date & Time", "bSortable": false },
                       { "sName": "Is Cancelled", "bSortable": false },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Delete", "bSortable": false, "width": "10%" },
                       { "sName": "Preview", "bSortable": false, "width": "10%" },
                       { "sName": "Cancel", "bSortable": false, "width": "10%" },
            ]
        });
        new $.fn.dataTable.FixedHeader(tblGP);
    });
    function EditGatePass(GatePassId) {
        $('#DivBody').load('/GateOperation/CWCGatePass/EditGatePass?GatePassId=' + GatePassId);
    }
    function ViewGatePass(GatePassId) {
        $('#DivBody').load('/GateOperation/CWCGatePass/ViewGatePass?GatePassId=' + GatePassId);
    }
    function DeleteGatePass(GatePassId) {
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/CWCGatePass/DeleteGatePass',
                type: 'POST',
                data: { GatePassId: GatePassId },
                dataType: 'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data) {
                    if (data.Status == 1)
                        $('#DivBody').load('/GateOperation/CWCGatePass/CreateGatePass');
                    else
                        alert(data.Message);
                }
            });
        }
    }
    function PreviewGatePass(GatePassId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/GateOperation/CWCGatePass/GatePassPrint',
            type: 'POST',
            data: { GatePassId: GatePassId },
            dataType: 'JSON',
            headers: { '__RequestVerificationToken': Token },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });
    }
    function CancelGatePass(GatePassId) {
        var Confirm = confirm("Are you sure you want to cancel?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/GateOperation/CWCGatePass/CancelGatePass',
                type: 'POST',
                data: { GatePassId: GatePassId },
                dataType: 'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data)
                {
                    $('#DivBody').load('/GateOperation/CWCGatePass/CreateGatePass');
                    alert(data.Message);
                }
            });
        }
    }
</script>