@model IEnumerable<CwcExim.Models.Godown>
    <script>
        $(document).ready(function(){
            var TblGodown=$('#TblGodown').DataTable({
                "bFilter":false,
                "bInfo":false,
                "pageLength": 50,
                "aoColumns":[
                           {"sName":"SL No","width":"8%"},
                           {"sName":"Godown Name"},
                           {"sName":"View","bSortable":false,"width":"10%"},
                           {"sName":"Edit","bSortable":false,"width":"10%"},
                           {"sName":"Delete","bSortable":false,"width":"10%"}
                          ]
            });
            new $.fn.dataTable.FixedHeader(TblGodown);
        });
        function LoadGodownPage(){
            $('#DivBody').load('/Godown/CreateGodown');
        } 
        function ViewGodown(GodownId){
            $('#DivBody').load('/Godown/ViewGodown?GodownId='+GodownId);
        }
        function EditGodown(GodownId){
            $('#DivBody').load('/Godown/EditGodown?GodownId='+GodownId);
        }
        function DeleteGodown(GodownId){
            debugger;
            var Confirm=confirm("Are You Sure You Want To Delete?");
            if(Confirm==true){
                var Token=$('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url:'/Godown/DeleteGodownDetail',
                    data:{GodownId,GodownId},
                    type:'POST',
                    headers:{"__RequestVerificationToken":Token},
                    dataType:'JSON',
                    async:false,
                    success:function(data){
                        debugger;
                        if(data.Status==1){
                            LoadGodownPage();
                        }
                    }
                });
            }
        }
    </script>
<table id="TblGodown"class="table table-bordered table-striped nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m=>m.GodownName)</th>
            <th style="text-align:center">@Html.DisplayName("View")</th>
            <th style="text-align:center">@Html.DisplayName("Edit")</th>
            <th style="text-align:center">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var SerialNo = 1;
            foreach(var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m=>item.GodownName)</td>
                    <td style="text-align:center"><a href="#" onclick="ViewGodown(@item.GodownId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="EditGodown(@item.GodownId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td style="text-align:center"><a href="#" onclick="DeleteGodown(@item.GodownId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>