
@model CwcExim.Areas.Report.Models.ContainerOutReport


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptConsumerListDtlOnFailure";
    options.OnSuccess = "RptInvoiceReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetContainerOutReport", "CHN_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Container Out Report</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Period From:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4 padding_rt">
                                        <label for="FromDate" class="InputLabel">Period To:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @Html.Label("Container Type", new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                               

                                    <span>
                                        @Html.DropDownListFor(m => m.LoadedEmpty, new List<SelectListItem> {
                               new SelectListItem { Value="Empty",Text="Empty"},
                               new SelectListItem {Value="Loaded",Text="Loaded" },
                               new SelectListItem { Value="LoadedEmpty",Text="All"}}, "----Select----", new { @class = "form-control input-sm dropdown" })
                                    </span>


                                    @Html.ValidationMessageFor(m => m.LoadedEmpty, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @Html.Label("Operation Type", new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2 col_cus_2_5">


                                    <span>
                                        @Html.DropDownListFor(m => m.ImportExport, new List<SelectListItem> {
                               new SelectListItem { Value="Import",Text="Import"},
                               new SelectListItem {Value="Export",Text="Export" },
                               new SelectListItem { Value="DirectDestuffing",Text="Direct De-Stuffing"}}, "----Select----", new { @class = "form-control input-sm dropdown" })
                                    </span>


                                    @Html.ValidationMessageFor(m => m.ImportExport, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        @*<div class="row Form_Space_top">
                                <div class="Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Import/Export:</label>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2">
                                        <div class="boolean-container">
                                            @Html.RadioButton("ImportExport", "Import", new { @class = "", @id = "Import" })
                                            <label for="Import"><i class="circle"></i><span>Import</span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5 col_cus_2_5">
                                        <div class="boolean-container">
                                            @Html.RadioButton("ImportExport", "Export", new { @class = "", @id = "Export", @checked = true })
                                            <label for="Export"><i class="circle"></i><span>Export</span></label>
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        //alert("in");
      // ValidateExitDet();
        $('#DivDwnldWavMsg').html('');
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        if ($('#LoadedEmpty').val() == "" || $('#LoadedEmpty').val() == "----Select----") {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Please enter Container Type');
            return false;
        }
        if ($('#ImportExport').val() == "" || $('#ImportExport').val() == "----Select----") {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Please enter Operation Type');
            return false;
        }
        return true;
    });
    function RptConsumerListDtlOnFailure() { }
    function RptInvoiceReportDetails(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            debugger;
            SaveReportPdf(data);

        }
        else {
            $('#DivDwnldWavMsg').html("No Data Found").removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }


    function ValidateExitDet() {
        debugger;
        var Status = true;

        if ($('#PeriodFrom').val() == "") {
            $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }

        if ($('#PeriodTo').val() == "") {
            $('[data-valmsg-for="txtGrossWeight"]').html('<span>Fill Out This Field</span>');
            Status = false;
        }
       
        return Status;
    }
    function SaveReportPdf(data)
    {
        var FormDate = $("#PeriodFrom").val();
        var ToDate = $("#PeriodTo").val();
        var PostData = new FormData();
        var Html = '<div style="text-align: center;border: 1px solid #000;">Container Out Report From ' + FormDate + ' To ' + ToDate + ' <br/> Size(20) - <span>' + data.Data.SizeTwenty + '</span>  &nbsp;&nbsp; Size(40) - <span>' + data.Data.SizeFouirty + '</span></div>'
        Html += "<table style='width:100%;font-size:9pt;font-family:Verdana,Arial,San-serif;border: 1px solid #000;border-collapse: collapse;margin-top:10px;'><thead><tr><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Date</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Container No</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Size</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Remarks</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Time</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Loaded / Empty</th><th style='text-align: center;border: 1px solid #000;font-weight: 600;'>Import/Export</th></tr></thead><tbody>";
        for (i = 0; i < data.Data.lstContainerOutReport.length; i++)
        {
            Html += '<tr><td style="text-align: center;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].Date + '</td><td style="text-align: left;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].ContainerNo + '</td><td style="text-align: center;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].Size + '</td><td style="text-align: left;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].Remarks + '</td><td style="text-align: center;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].Time + '</td><td style="text-align: center;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].LoadedEmpty + '</td><td style="text-align: center;border: 1px solid #000;">' + data.Data.lstContainerOutReport[i].ImportExport + '</td></tr>'
        }
        Html += "</tbody></table>"
        PostData.append("Page", Html);
       // alert("PostData=" + PostData);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateContainerOutReportPDF", "CHN_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {

                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }

            }
        });
    }

</script>







