

@model CwcExim.Areas.Report.Models.CHN_loadstufno


@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";

    options.InsertionMode = InsertionMode.InsertAfter;


}
<script>



</script>


@Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Job Order Search</h4>
                        </div>
                    </div>

                    @*<div style="position: absolute; top: 40px; background: #feefde; padding: 0px 5px; left: 56px;">
                        <label>Stuffing</label>
                    </div>*@
                    <div class="clearfix"></div>
                    <div class="Form_Space_top SignUp_space_bottom clearfix" style="border: 1px solid #ccc; padding: 10px 0px; margin-top: 20px;">
                        <div class="form-group Form_Input">
                            <div class="col-md-1 padding_rt">
                                <label>SF JOB No.:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Jobno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Jobno, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_4">
                                <button id="LoadInvoice" class="btn log_Btn_sm" ">Search</button>
                                @*<button id="LoadInvoice" class="btn log_Btn_sm" >Load Invoice List</button>*@
                                @*onclick="loadInvoiceLIst();"*@
                            </div>
                            <div class="col-md-1 padding_rt" style="padding-left: 0;">
                                <label>Stuffing No.:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Stufno, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 padding_rt">
                                <label>Load Container Request No. :</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                              @Html.TextBoxFor(m => m.Loadno, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @*<div style="position: absolute; top: 40px; background: #feefde; padding: 0px 5px; left: 56px;">
        <label>ASR</label>
    </div>*@
    <div class="clearfix"></div>
    <div class="Form_Space_top SignUp_space_bottom clearfix" style="border: 1px solid #ccc; padding: 10px 0px; margin-top: 20px;">
        <div class="form-group Form_Input">
            <div class="col-md-1 padding_rt">
                <label>ASR JOB No.:</label>
            </div>
            <div class="col-md-2 col_cus_2_5">
                @Html.TextBoxFor(m => m.Asrjobno, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Jobno, "", new { @class = "Error_Msg" })
            </div>
            <div class="col-md-1-5 col_cus_4">
                <button id="LoadASR" class="btn log_Btn_sm">Search</button>
                @*<button id="LoadInvoice" class="btn log_Btn_sm" >Load Invoice List</button>*@
                                @*onclick="loadInvoiceLIst();"*@
                            </div>
                            <div class="col-md-1 padding_rt" style="padding-left: 0;">
                                <label>Stuffing No.:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Asrstufno, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 padding_rt">
                                <label>Load Container Request No. :</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Asrloadno, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @*<div style="position: absolute; top: 40px; background: #feefde; padding: 0px 5px; left: 56px;">
                        <label>DP</label>
                    </div>*@
                    <div class="clearfix"></div>
                    <div class="Form_Space_top SignUp_space_bottom clearfix" style="border: 1px solid #ccc; padding: 10px 0px; margin-top: 20px;">
                        <div class="form-group Form_Input">
                            <div class="col-md-1 padding_rt">
                                <label>DP JOB No.:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Dpjobno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Jobno, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_4">
                                <button id="LoadDP" class="btn log_Btn_sm">Search</button>
                                @*<button id="LoadInvoice" class="btn log_Btn_sm" >Load Invoice List</button>*@
                                @*onclick="loadInvoiceLIst();"*@
                            </div>
                            <div class="col-md-1 padding_rt" style="padding-left: 0;">
                                <label>Gate Pass No.(Stuffing):</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Dpstugpno, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2-5 padding_rt">
                                <label>Gate Pass No.(Loaded Request) :</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Dplodgpno, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @*<div style="position: absolute; top: 40px; background: #feefde; padding: 0px 5px; left: 56px;">
                        <label>DT</label>
                    </div>*@
                    <div class="clearfix"></div>
                    <div class="Form_Space_top SignUp_space_bottom clearfix" style="border: 1px solid #ccc; padding: 10px 0px; margin-top: 20px;">
                        <div class="form-group Form_Input">
                            <div class="col-md-1 padding_rt">
                                <label>DT JOB No.:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Dtjobno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Jobno, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_4">
                                <button id="LoadDT" class="btn log_Btn_sm">Search</button>
                                @*<button id="LoadInvoice" class="btn log_Btn_sm" >Load Invoice List</button>*@
                                @*onclick="loadInvoiceLIst();"*@
                            </div>
                            <div class="col-md-1 padding_rt" style="padding-left: 0;">
                                <label>Gate Exit No.(Stuffing):</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Dtstugeno, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2-5 padding_rt">
                                <label>Gate Exit No.(Loaded Request) :</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.Dtlodgeno, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @*<table id="TblCustomAppraisement" class="table table-striped table-bordered nowrap dataTable" cellspacing="0" width="50%">
                            <thead>
                                <tr>
                                    <th width="100px">LoadedNo</th>
                                    <th width="100px">StuffingNo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mTabindex" id="ContainerModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseContainer()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="ContainerNo search" id="Containerbox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchContainer()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="6" width="50%">ContainerNo</th>
                            <th colspan="6" width="50%">CFSCode</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tbleParty">
                        <tbody>
                            @{
                                if (ViewBag.LstStuffing != null)
                                {
                                    var tabvalue = 401;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.LstStuffing)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="SelectContainer('@item.ContainerNo','@item.CFSCode')" onclick="SelectContainer('@item.ContainerNo','@item.CFSCode')">
                                            <td colspan="6" width="50%" class="txt_wrp">@item.ContainerNo</td>
                                            <td colspan="6" width="50%" class="txt_wrp">@item.CFSCode</td>
                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.StateCont != null && Convert.ToBoolean(ViewBag.StateCont) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMore">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreParty()" class="btn log_Btn_sm" id="btnLoadMore" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseContainer()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mTabindex" id="ShipbillModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="ClosePayee()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipbill</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By Shipbill" id="Shipbillbox" type="text" tabindex="401" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchShipbill()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th colspan="6" width="50%">ShippingbillNo</th>
                            <th colspan="6" width="50%">ShippingbillDate</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll_1">
                    <table class="table dataTable table-bordered table-striped slim_tble" id="tblePayee">
                        <tbody>
                            @{
                                if (ViewBag.LstStuff != null)
                                {
                                    var tabvalue = 401;
                                    var tab = 0;
                                    var u = "_";
                                    foreach (var item in ViewBag.LstStuff)
                                    {
                                        <tr tabindex="@tabvalue@u@tab" onkeypress="SelectShipbill('@item.shippingbillno','@item.shippingbillno')" onclick="SelectShipbill('@item.shippingbillno','@item.shippingbilldate')">
                                            <td colspan="6" width="50%" class="txt_wrp">@item.shippingbillno</td>
                                            <td colspan="6" width="50%" class="txt_wrp">@item.shippingbilldate</td>
                                        </tr>
                                        tab++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.StateShipbill != null && Convert.ToBoolean(ViewBag.StateShipbill) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadMorePayee">Load More Data</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMorePayee()" class="btn log_Btn_sm" id="btnLoadMorePayee" disabled>Load More Data</button>
                        }
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn log_Btn_sm" onclick="ClosePayee()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<script>

    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    })







    $('#LoadInvoice').on("click", function () {
        debugger;

        var jobno = $("#Jobno").val();
        var cfscode = $('#CFSCode').val();
        var shipbill = $("#shippingbillno").val();
        //  var InvoiceModule = $('#InvoiceModule :selected').val();
        //  $('#InvoiceNumber').val('');
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Report/CHN_ReportCWC/getloadstufsearch',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'JSON',
            data: { jobno: jobno },
            async: false,
            success: function (data) {
                //alert(data);
                debugger;
                var html = '';
                // PartyJson = JSON.parse(data);
                if (data.Status == 1) {
                    $.each(data.Data, function (i, item) {
                   //     html += '<tr><td class="txt_wrp">' + data.Data[i].loadstufreqno + '</td><td class="txt_wrp">' + data.Data[i].expstufreqno + '</td><td class="txt_wrp"></td></tr>';
                        $("#Stufno").val(data.Data[i].expstufreqno);
                        $("#Loadno ").val(data.Data[i].loadstufreqno);
                    });
                  //  $('#TblCustomAppraisement tbody').html(html);
                }
                else
                    alert("Stuffing/Loaded No not found");
            }
        });
    });


    $('#LoadASR').on("click", function () {
        debugger;

        var jobasrno = $("#Asrjobno").val();
       // var cfscode = $('#CFSCode').val();
       // var shipbill = $("#shippingbillno").val();
        //  var InvoiceModule = $('#InvoiceModule :selected').val();
        //  $('#InvoiceNumber').val('');
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Report/CHN_ReportCWC/getloadstufasrsearch',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'JSON',
            data: { jobasrno: jobasrno },
            async: false,
            success: function (data) {
                //alert(data);
                debugger;
                var html = '';
                // PartyJson = JSON.parse(data);
                if (data.Status == 1) {
                    $.each(data.Data, function (i, item) {
                      //  html += '<tr><td class="txt_wrp">' + data.Data[i].loadstufreqno + '</td><td class="txt_wrp">' + data.Data[i].expstufreqno + '</td><td class="txt_wrp"></td></tr>';
                        $("#Asrstufno").val(data.Data[i].expstufasrreqno);
                        $("#Asrloadno ").val(data.Data[i].loadstufasrreqno);
                    });
                 //   $('#TblCustomAppraisement tbody').html(html);
                }
                else
                    alert("Stuffing/Loaded No not found");
            }
        });
    });

    $('#LoadDP').on("click", function () {
        debugger;

        var jobdpno = $("#Dpjobno").val();
        // var cfscode = $('#CFSCode').val();
        // var shipbill = $("#shippingbillno").val();
        //  var InvoiceModule = $('#InvoiceModule :selected').val();
        //  $('#InvoiceNumber').val('');
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Report/CHN_ReportCWC/getloadstufdpsearch',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'JSON',
            data: { jobdpno: jobdpno },
            async: false,
            success: function (data) {
                //alert(data);
                debugger;
                var html = '';
                // PartyJson = JSON.parse(data);
                if (data.Status == 1) {
                    $.each(data.Data, function (i, item) {
                        //  html += '<tr><td class="txt_wrp">' + data.Data[i].loadstufreqno + '</td><td class="txt_wrp">' + data.Data[i].expstufreqno + '</td><td class="txt_wrp"></td></tr>';
                        $("#Dpstugpno").val(data.Data[i].expstufdpreqno);
                        $("#Dplodgpno ").val(data.Data[i].loadstufdpreqno);
                    });
                  //  $('#TblCustomAppraisement tbody').html(html);
                }
                else
                    alert("Gate Pass No not found");
            }
        });
    });

    $('#LoadDT').on("click", function () {
        debugger;

        var jobdtno = $("#Dtjobno").val();
      
        // var cfscode = $('#CFSCode').val();
        // var shipbill = $("#shippingbillno").val();
        //  var InvoiceModule = $('#InvoiceModule :selected').val();
        //  $('#InvoiceNumber').val('');
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/Report/CHN_ReportCWC/getloadstufdtsearch',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'JSON',
            data: { jobdtno: jobdtno },
            async: false,
            success: function (data) {
                //alert(data);
                debugger;
                var html = '';
                // PartyJson = JSON.parse(data);
                if (data.Status == 1) {
                    $.each(data.Data, function (i, item) {
                        //  html += '<tr><td class="txt_wrp">' + data.Data[i].loadstufreqno + '</td><td class="txt_wrp">' + data.Data[i].expstufreqno + '</td><td class="txt_wrp"></td></tr>';
                        $("#Dtstugpno").val(data.Data[i].expstufdtreqno);
                        $("#Dtlodgpno ").val(data.Data[i].loadstufdtreqno);
                    });
                  //  $('#TblCustomAppraisement tbody').html(html);
                }
                else
                    alert("Gate exit No not found");
            }
        });
    });



    function SelectContainer(ContainerNo, CFSCode) {
        debugger;
        //$('#ShippingLine').val(ShippingLineName);
        //$('#ShippingLineId').val(ShippingLineId);
        //$("#ShippingLineModal").modal("hide");
        // $('#ShpngLinebox').val('');
        // LoadEximTrader();
        $('#ContainerNo').val(ContainerNo);
        $('#CFSCode').val(CFSCode);
        // $('#PartyName').val(PartyName);
        // $('#GSTNo').val(GSTNo);
        // $('#hdnAddress').val(Address);
        //  $('#hdnState').val(StateName);
        // $('#PlaceOfSupply').val(StateName);


        $("#ContainerModal").modal("hide");
        $('#TblCustomAppraisement tbody').html('');
        LoadContainer();

    }

    var Page = 0;

    function LoadContainer() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Report/CHN_ReportCWC/LoadContainerLists',
            type: 'GET',
            data: { cont: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.LstStuffing, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)" onclick="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.ContainerNo + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.CFSCode + '</td></tr>';
                    });

                    $('#tbleParty tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }
    // var Page = 0;
    function LoadMoreParty() {
        debugger;
        $.ajax({
            url: '/Report/CHN_ReportCWC/LoadContainerLists',
            type: 'GET',
            data: { cont: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.LstStuffing, function (item, elem) {
                        debugger;
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)" onclick="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.ContainerNo + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.CFSCode + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tbleParty tbody').html(html);
                    else
                        $('#tbleParty tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadMore').prop('disabled', false);
                    else $('#btnLoadMore').prop('disabled', true);
                }
            }
        });
    }
    /*$('#Partybox').on('keyup', function (e) {
    function Partyboxkeyup(e)
    {
        if ((e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 65 && e.keyCode <= 90) || e.keyCode == 13 || e.keyCode == 46 || e.keyCode == 47)
        {
            SearchPartyByPartyCode();
        }
    }
    });*/
    function SearchContainer() {
        debugger;
        if ($('#Containerbox').val() != '') {
            $.ajax({
                url: '/Report/CHN_ReportCWC/SearchContainerNo',
                type: 'GET',
                data: { cont: $('#Containerbox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        var tab = 401;
                        $.each(data.Data.LstStuffing, function (item, elem) {
                            html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)" onclick="SelectContainer(&quot;' + elem.ContainerNo + '&quot;,&quot;' + elem.CFSCode + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.ContainerNo + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.CFSCode + '</td></tr>';
                        });
                        $('#tbleParty tbody').html('');
                        $('#tbleParty tbody').html(html);
                        $('#btnLoadMore').prop('disabled', true);
                        Page = -1;
                    }
                    else {
                        $('#tbleParty tbody').html('');
                        Page = -1;
                        $('#btnLoadMore').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadContainer();
    }

    function CloseContainer() {
        $('#Containerbox').val('');
        $("#ContainerModal").modal("hide");
        LoadContainer();
        // $('#PartyName').focus();
    }

    function SelectShipbill(shippingbillno, shippingbilldate) {
        $('#shippingbillno').val(shippingbillno);
        $('#shippingbilldate').val(shippingbilldate);
        $("#ShipbillModal").modal("hide");
        LoadPayee();
        // $('#btnGet').focus();
    }

    function LoadPayee() {
        debugger;
        Page = 0;
        $.ajax({
            url: '/Report/CHN_ReportCWC/LoadShipbillLists',
            type: 'GET',
            data: { shipbill: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.LstStuff, function (item, elem) {
                        debugger;
                        // html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectShipbill(&quot;' + elem.shipbillno + '&quot;,&quot;' + elem.shipbilldate + '&quot;)" onclick="SelectShipbill(&quot;' + elem.shipbillno + '&quot;,&quot;' + elem.shipbilldate + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.shipbillno + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.shipbilldate + '</td></tr>';
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectShipbill(&quot;' + elem.shippingbillno + '&quot;,&quot;' + elem.shippingbilldate + '&quot;)" onclick="SelectShipbill(&quot;' + elem.shippingbillno + '&quot;,&quot;' + elem.shippingbilldate + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.shippingbillno + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.shippingbilldate + '</td></tr>';
                    });

                    $('#tblePayee tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMorePayee').prop('disabled', false);
                    else $('#btnLoadMorePayee').prop('disabled', true);
                }
            }
        });
    }

    function LoadMorePayee() {
        debugger;
        $.ajax({
            url: '/Report/CHN_ReportCWC/LoadShipbillLists',
            type: 'GET',
            data: { shipbill: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    var html = '';
                    var tab = 401;
                    $.each(data.Data.LstStuff, function (item, elem) {
                        debugger;
                        //    html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectShipbill(&quot;' + elem.shipbillno + '&quot;,&quot;' + elem.shipbilldate + '&quot;)" onclick="SelectShipbill(&quot;' + elem.shipbillno + '&quot;,&quot;' + elem.shipbilldate + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.shipbillno + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.shipbilldate + '</td></tr>';
                        html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectShipbill(&quot;' + elem.shippingbillno + '&quot;,&quot;' + elem.shippingbilldate + '&quot;)" onclick="SelectShipbill(&quot;' + elem.shippingbillno + '&quot;,&quot;' + elem.shippingbilldate + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.shippingbillno + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.shippingbilldate + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tblePayee tbody').html(html);
                    else
                        $('#tblePayee tbody').append(html);
                    Page++;

                    debugger;
                    if (data.Data.State == true)
                        $('#btnLoadMorePayee').prop('disabled', false);
                    else $('#btnLoadMorePayee').prop('disabled', true);
                }
            }
        });
    }
    function SearchShipbill() {
        debugger;
        if ($('#Shipbillbox').val() != '') {
            $.ajax({
                url: '/Report/CHN_ReportCWC/SearchShipbill',
                type: 'GET',
                data: { shipbill: $('#Shipbillbox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        var tab = 401;
                        $.each(data.Data.LstStuff, function (item, elem) {
                            html += '<tr tabindex=' + tab + '_' + item + ' onkeypress="SelectShipbill(&quot;' + elem.shippingbillno + '&quot;,&quot;' + elem.shippingbilldate + '&quot;)" onclick="SelectShipbill(&quot;' + elem.shippingbillno + '&quot;,&quot;' + elem.shippingbilldate + '&quot;)"><td colspan="6" width="50%" class="txt_wrp">' + elem.shippingbillno + '</td><td colspan="6" width="50%" class="txt_wrp">' + elem.shippingbilldate + '</td></tr>';
                        });
                        $('#tblePayee tbody').html('');
                        $('#tblePayee tbody').html(html);
                        $('#btnLoadMorePayee').prop('disabled', true);
                        Page = -1;
                    }
                    else {
                        $('#tblePayee tbody').html('');
                        Page = -1;
                        $('#btnLoadMorePayee').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadPayee();
    }

    function ClosePayee() {
        $('#Shipbillbox').val('');
        $("#ShipbillModal").modal("hide");
        LoadPayee();
        //$('#PayeeName').focus();
    }
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    document.getElementById('Containerbox').addEventListener('keyup', debounce(function () {
        SearchContainer();
    }, 800));
    document.getElementById('Shipbillbox').addEventListener('keyup', debounce(function () {
        SearchShipbill();
    }, 800));

</script>
