<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Weekly Video Conference Report</h4>
                        </div>
                    </div>
                    @using (Ajax.BeginForm("WeeklyVCReport", "Chn_ReportCWC", new { area = "Report" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @Id = "vcForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row Form_Space_top">
                            <div class="Form_Input">
                                <div class="col-md-1-5">
                                    <label>From Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input type="text" id="VCFdate" name="VCFdate" />
                                </div>
                                <div class="col-md-1">
                                    <label>To Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input type="text" id="VCTdate" name="VCTdate" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn log_Btn_sm" onclick="GetVCDetails()">Show</button>
                                </div>
                            </div>
                        </div>

                        @Html.Hidden("VCID")
                        @Html.Hidden("Boom")
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center">Particulars</th>
                                            <th colspan="3" class="text-center">Capacity (in Sqm)</th>
                                            <th colspan="3" class="text-center">Utilization (in Sqm)</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" style="width:12%;">Open</th>
                                            <th class="text-center" style="width:12%;">Covered</th>
                                            <th class="text-center" style="width:12%;">Total</th>
                                            <th class="text-center" style="width:12%;">Open</th>
                                            <th class="text-center" style="width:12%;">Covered</th>
                                            <th class="text-center" style="width:12%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWcfscap" name="TWcfscap" type="text" class="text-right" /></td>
                                            <td><input id="TWbndcap" name="TWbndcap" type="text" class="text-right" /></td>
                                            <td><input id="TWtotalcap" name="TWtotalcap" type="text" class="text-right" /></td>
                                            <td><input id="TWcfsutl" name="TWcfsutl" type="text" class="text-right" /></td>
                                            <td><input id="TWbndutl" name="TWbndutl" type="text" class="text-right" /></td>
                                            <td><input id="TWtotalutl" name="TWtotalutl" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWcfscap" name="PWcfscap" type="text" class="text-right" /></td>
                                            <td><input id="PWbndcap" name="PWbndcap" type="text" class="text-right" /></td>
                                            <td><input id="PWtotalcap" name="PWtotalcap" type="text" class="text-right" /></td>
                                            <td><input id="PWcfsutl" name="PWcfsutl" type="text" class="text-right" /></td>
                                            <td><input id="PWbndutl" name="PWbndutl" type="text" class="text-right" /></td>
                                            <td><input id="PWtotalutl" name="PWtotalutl" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYcfscap" name="PYcfscap" type="text" class="text-right" /></td>
                                            <td><input id="PYbndcap" name="PYbndcap" type="text" class="text-right" /></td>
                                            <td><input id="PYtotalcap" name="PYtotalcap" type="text" class="text-right" /></td>
                                            <td><input id="PYcfsutl" name="PYcfsutl" type="text" class="text-right" /></td>
                                            <td><input id="PYbndutl" name="PYbndutl" type="text" class="text-right" /></td>
                                            <td><input id="PYtotalutl" name="PYtotalutl" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Particulars</th>
                                            <th class="text-center" style="width:17%;">Occupancy (Sqm)</th>
                                            <th class="text-center" style="width:17%;">Income (in Lacs)</th>
                                            <th class="text-center" style="width:17%;">Comments on shortfall in achieving target</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWocp" name="TWocp" type="text" class="text-right" /></td>
                                            <td><input id="TWinc" name="TWinc" type="text" class="text-right" /></td>
                                            <td><input id="TWrmks" name="" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWocp" name="PWocp" type="text" class="text-right" /></td>
                                            <td><input id="PWinc" name="PWinc" type="text" class="text-right" /></td>
                                            <td><input id="PWrmks" name="PWrmks" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYocp" name="PYocp" type="text" class="text-right" /></td>
                                            <td><input id="PYinc" name="PYinc" type="text" class="text-right" /></td>
                                            <td><input id="PYrmks" name="PYrmks" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Container Handling (Tues)</th>
                                            <th class="text-center" style="width:13%;">Import</th>
                                            <th class="text-center" style="width:13%;">Export</th>
                                            <th class="text-center" style="width:13%;">Empty</th>
                                            <th class="text-center" style="width:13%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWimport" name="TWimport" type="text" class="text-right" /></td>
                                            <td><input id="TWexport" name="TWexport" type="text" class="text-right" /></td>
                                            <td><input id="TWempty" name="TWempty" type="text" class="text-right" /></td>
                                            <td><input id="TWtotaliee" name="TWtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWimport" name="PWimport" type="text" class="text-right" /></td>
                                            <td><input id="PWexport" name="PWexport" type="text" class="text-right" /></td>
                                            <td><input id="PWempty" name="PWempty" type="text" class="text-right" /></td>
                                            <td><input id="PWtotaliee" name="PWtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYimport" name="PYimport" type="text" class="text-right" /></td>
                                            <td><input id="PYexport" name="PYexport" type="text" class="text-right" /></td>
                                            <td><input id="PYempty" name="PYempty" type="text" class="text-right" /></td>
                                            <td><input id="PYtotaliee" name="PYtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Particulars</th>
                                            <th class="text-center" style="width:20%;">Amount</th>
                                            <th class="text-center" style="width:20%;">Effort Made to Realise the outstanding CWC Dues</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input id="Prt1" name="Prt1" type="text" class="text-left" /></td>
                                            <td><input id="Amt1" name="Amt1" type="text" class="text-right" /></td>
                                            <td><input id="Efft1" name="Efft1" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td><input id="Prt2" name="Prt2" type="text" class="text-left" /></td>
                                            <td><input id="Amt2" name="Amt2" type="text" class="text-right" /></td>
                                            <td><input id="Efft2" name="Efft2" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td><input id="Prt3" name="Prt3" type="text" class="text-left" /></td>
                                            <td><input id="Amt3" name="Amt3" type="text" class="text-right" /></td>
                                            <td><input id="Efft3" name="Efft3" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-4 col-md-2">
                                <button type="submit" class="btn log_Btn_sm">Save</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnPrint" class="btn log_Btn_sm" onclick="Print()" disabled>Print</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#VCFdate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });
    $("#VCTdate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });
</script>
<script>
    function GetVCDetails() {
        try{
            $.ajax({
                url: '@Url.Action("GetVCDetails", "Chn_ReportCWC", new { area = "Report" })',//'/Report/ReportCWC/GetVCDetails',
                type: 'GET',
                data: { date1: $('#VCFdate').val(), date2: $('#VCTdate').val() },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data == undefined || data == null) {
                        alert("Internal Error Occurs !!");
                    }
                    else {
                        if (data.Status != 1) {
                            alert(data.Message);
                        }
                        else {
                            $('#TWcfscap').val(data.Data[0].cfscap);
                            $('#TWbndcap').val(data.Data[0].bndcap);
                            $('#TWtotalcap').val((Number(data.Data[0].cfscap) + Number(data.Data[0].bndcap)).toFixed(4));
                            $('#TWcfsutl').val(data.Data[0].cfsutlz);
                            $('#TWbndutl').val(data.Data[0].bndutlz);
                            $('#TWtotalutl').val((Number(data.Data[0].cfsutlz) + Number(data.Data[0].bndutlz)).toFixed(4));

                            $('#PWcfscap').val(data.Data[1].cfscap);
                            $('#PWbndcap').val(data.Data[1].bndcap);
                            $('#PWtotalcap').val((Number(data.Data[1].cfscap) + Number(data.Data[1].bndcap)).toFixed(4));
                            $('#PWcfsutl').val(data.Data[1].cfsutlz);
                            $('#PWbndutl').val(data.Data[1].bndutlz);
                            $('#PWtotalutl').val((Number(data.Data[1].cfsutlz) + Number(data.Data[1].bndutlz)).toFixed(4));

                            $('#PYcfscap').val(data.Data[2].cfscap);
                            $('#PYbndcap').val(data.Data[2].bndcap);
                            $('#PYtotalcap').val(Number(data.Data[2].cfscap) + Number(data.Data[2].bndcap));
                            $('#PYcfsutl').val(data.Data[2].cfsutlz);
                            $('#PYbndutl').val(data.Data[2].bndutlz);
                            $('#PYtotalutl').val((Number(data.Data[2].cfsutlz) + Number(data.Data[2].bndutlz)).toFixed(4));

                            $('#TWocp').val(data.Data[0].Occupency);
                            $('#TWinc').val(data.Data[0].Income);
                            $('#PWocp').val(data.Data[1].Occupency);
                            $('#PWinc').val(data.Data[1].Income);
                            $('#PYocp').val(data.Data[2].Occupency);
                            $('#PYinc').val(data.Data[2].Income);

                            $('#TWimport').val(data.Data[0].Import);
                            $('#TWexport').val(data.Data[0].Export);
                            $('#TWempty').val(data.Data[0].Empty);
                            $('#TWtotaliee').val(Number(data.Data[0].Import) + Number(data.Data[0].Export) + Number(data.Data[0].Empty));
                            $('#PWimport').val(data.Data[1].Import);
                            $('#PWexport').val(data.Data[1].Export);
                            $('#PWempty').val(data.Data[1].Empty);
                            $('#PWtotaliee').val(Number(data.Data[1].Import) + Number(data.Data[1].Export) + Number(data.Data[1].Empty));
                            $('#PYimport').val(data.Data[2].Import);
                            $('#PYexport').val(data.Data[2].Export);
                            $('#PYempty').val(data.Data[2].Empty);
                            $('#PYtotaliee').val(Number(data.Data[2].Import) + Number(data.Data[2].Export) + Number(data.Data[2].Empty));
                        }
                    }
                },
                error: function () {
                    alert("Internal Error Occurs !!");
                }
            });
        }
        catch(e)
        {
            console.log(e.message);
        }
    }
</script>
<script>
    function Print() {
        var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='text-align:center;padding:5px;'>Weekly Report</th></tr></thead></table><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th colspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Capacity (in Sqm)</th><th colspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Utilization (in Sqm)</th></tr><tr><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Open</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Covered</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Open</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Covered</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWtotalutl').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWtotalutl').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYtotalutl').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:12%;'>Occupancy</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Income (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:20%;'>Comments on shortfall in achieving target</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYrmks').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Container Handling (Tues)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Import</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Export</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Empty</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYtotaliee').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Amount</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Effort Made to Realise the outstanding CWC Dues</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft1').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft2').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft3').val() + "</span></td></tr></tbody></table>";

        var PostData = new FormData();
        PostData.append("type", "vcreport");
        PostData.append("id", $('#VCID').val());
        PostData.append("page", html1);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF", "Chn_ReportCWC", new { area = "Report" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open(data.Message + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }
</script>
<script>
    function OnSuccess(data) {
        alert(data.Message);
        if (data.Status == 1) {
            $('#VCID').val(data.Data);
            $('#btnPrint').removeAttr('disabled');
        }
    }
    function OnFailure(data) {
        alert("Internal Error Occurs");
    }
</script>

