@model CwcExim.Areas.Export.Models.Ppg_AmendmentViewModel
<style>
    #tbleCommodity.dataTable tbody > tr > td {
        cursor: pointer;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }

    .ship_bill_wrp {
        margin: 15px 10px;
    }

    .srch_fld {
        position: relative;
    }

        .srch_fld input[type='text'] {
            padding: 0 21px 0 0 !important;
        }

        .srch_fld .search {
            top: 6px;
            right: 12px;
            font-size: 13px;
        }

    .Date_Img img {
        right: 7px;
        top: 6px;
    }

    .Date_Img1 img {
        display: block;
        position: absolute;
        right: 17px;
        top: 2px;
        width: 20px;
    }

    .Date_Img2 img {
        display: block;
        position: absolute;
        right: 15px;
        top: 0px;
    }
</style>
<script src="~/Areas/Export/Scripts/App/Services/Ppg_AmendmentService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/Ppg_AmendmentCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('PpgAmendmentAppDiv'), ['CWCApp']);

</script>
<div id="PpgAmendmentAppDiv">
    <div class="row" ng-controller="Ppg_AmendmentCtrl" id="Ppg_AmendmentCtrl">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Shipping Bill Amendment</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    <div class="row clearfix">
                        <div class="panel with-nav-tabs panel-primary cwc_panel ship_bill_wrp">
                            <div class="panel-heading cwc_panel_heading">
                                <ul class="nav nav-tabs" id="DivTabs">
                                    <li class="active"><a href="#DivShipBillMerger" data-toggle="tab">Ship Bill Split & Merger</a></li>
                                    <li><a href="#DivShipBillAmendment" data-toggle="tab">Ship Bill Amendment</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="DivShipBillMerger">
                                        <div class="row Form_Space_top">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="Radiocontainer">
                                                        Merger
                                                        <input id="Merger" name="Amendment" ng-click="OnClickSpace('Merger')" type="radio" checked value="Merger">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="Radiocontainer">
                                                        Split
                                                        <input id="Split" name="Amendment" ng-click="OnClickSpace('Split')" type="radio" value="Split">
                                                        <input class="form-control input-sm" id="FlagMerger" name="FlagMerger" ng-model="FlagMerger" readonly="True" type="hidden" value="">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Amendment No:</label>
                                                </div>
                                                <input type="text" ng-model="AmendmentNO" ng-disabled="true" />
                                            </div>
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <label>Invoice No:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" ng-model="InvoiceNo" ng-disabled="true" />
                                                    <span class="input_icon" id="InvoiceNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#InvoiceModal"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Date:</label>
                                                </div>
                                                <div class="position-relative Date_Img">
                                                    <input type="text" ng-model="AmendDate" id="AmendDate" readonly />
                                                    <span ng-show="Flag" style="color:red;">*Required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <label>Invoice Date:</label>
                                                </div>
                                                <div class="position-relative Date_Img">
                                                    <input type="text" ng-model="InvoiceDate" id="InvoiceDate" readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Head_h4" style="margin-top:10px!important;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 style="font-size: 16px;">Old Ship Bill Information</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <table class="table table-bordered table-striped dataTable bigger_table" style="width:100%; margin-top:10px!important;">
                                                            <thead>
                                                                @*<tr>
                                                                        <th class="text-center">Ship Bill No</th>
                                                                        <th>Ship Bill Date</th>
                                                                        <th>Party</th>
                                                                        <th>Commodity</th>
                                                                        <th>Weight</th>
                                                                        <th>Pkg</th>
                                                                        <th>Area</th>
                                                                        <th>FOB Value</th>
                                                                        <th>Action</th>
                                                                    </tr>*@
                                                                <tr>
                                                                    <th style="width:8%;" class="text-center">Ship Bill No</th>
                                                                    <th style="width:7%;">Ship Bill Date</th>
                                                                    <th style="width:10%;">Party</th>
                                                                    <th style="width:10%;">Commodity</th>
                                                                    <th style="width:7%;">Weight</th>
                                                                    <th style="width:7%;">Pkg</th>
                                                                    <th style="width:6%;">Area</th>
                                                                    <th style="width:7%;">FOB</th>
                                                                    <th style="width:3%;">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="vertical-align: top;" class="text-center srch_fld">
                                                                        <div class="position-relative">
                                                                            <input type="text" id="txtix" ng-model="txtShipBillNo" readonly>
                                                                            <span class="input_icon" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBNoModal"></i></span>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: top;">{{ShipBillDate}}</td>
                                                                    <td style="vertical-align: top;">{{Party}}</td>
                                                                    <td style="vertical-align: top;">{{Cargo}}</td>
                                                                    <td style="vertical-align: top;">{{Weight}}</td>
                                                                    <td style="vertical-align: top;">{{Pkg}}</td>
                                                                    <td style="vertical-align: top;">{{Area}}</td>
                                                                    <td style="vertical-align: top;">{{FOB}}</td>
                                                                    <td style="vertical-align: top;" class="text-center">
                                                                        <div class="table_icon">
                                                                            <a href="javascript:void(0);" title="Add" ng-click="PushValueArray()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat="i in OldData">
                                                                    <td style="vertical-align: top;">{{i.OldShipBillNo}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldShipBillDate}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldParty}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldCargo}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldWeight}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldPkg}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldArea}}</td>
                                                                    <td style="vertical-align: top;">{{i.OldFOB}}</td>
                                                                    <td style="vertical-align: top;" class="text-center">
                                                                        <div class="table_icon">
                                                                            <a href="#" ng-click="DeleteOldShip($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="Head_h4" style="margin-top:10px!important;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 style="font-size: 16px;">New Ship Bill Information</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group Form_Input">
                                                    <div class="col-lg-12">
                                                        <table class="table table-bordered table-striped dataTable" style="width:100%; margin-top:10px!important;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:8%;" class="text-center">Ship Bill No</th>
                                                                    <th style="width:7%;">Ship Bill Date</th>
                                                                    <th style="width:15%;">Party</th>
                                                                    <th style="width:10%;">Commodity</th>
                                                                    <th style="width:7%;">Weight</th>
                                                                    <th style="width:7%;">Pkg</th>
                                                                    <th style="width:6%;">Area</th>
                                                                    <th style="width:7%;">FOB</th>
                                                                    <th style="width:2%;">Action</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr>
                                                                    <td><input type="text" id="txtNewShipBillNo" ng-model="txtNewShipBillNo"/></td>
                                                                    <td class="Date_Img" style="position:relative;"><input type="text" id="txtNewShipBillDate" ng-model="txtNewShipBillDate" readonly /></td>
                                                                    <td>
                                                                        <div class="position-relative">
                                                                            <input type="text" id="txtix" ng-model="txtNewPartyName" readonly>
                                                                            <span class="input_icon" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyModal"></i></span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="position-relative">
                                                                            <input type="text" id="txtix" ng-model="txtCommodity" readonly>
                                                                            <span class="input_icon" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                                                        </div>
                                                                    </td>
                                                                    <td><input type="number" ng-model="txtWeight"  min="0" /></td>
                                                                    <td><input type="number" ng-model="txtPkg"  min="0" /></td>
                                                                    <td><input type="number" ng-model="txtArea"  min="0" /></td>
                                                                    <td><input type="number" ng-model="txtFOB" min="0" /></td>
                                                                    <td><div class="table_icon"><a href="javascript:void(0);"  title="Add" ng-click="PushValueArrayNewInfo()"><i class="fa fa-plus-square" aria-hidden="true"></i></a></div></td>
                                                                </tr>
                                                                <tr ng-repeat="i in NewData">
                                                                    <td style="vertical-align: top;">{{i.NewInfoSBNo}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewInfoSBDate | date:'MM/dd/yyyy'}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewInfoPartyName}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewCommodityName}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewInfoWeight}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewInfoPkg}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewInfoArea}}</td>
                                                                    <td style="vertical-align: top;">{{i.NewInfoFOB}}</td>
                                                                    <td style="vertical-align: top;" class="text-center">
                                                                        <div class="table_icon">
                                                                            <a href="#" ng-click="DeleteNewInfoShip($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-left">
                                            <input type="submit" id="btnSave" class="btn btn-primary mr-1 btn-100px" value="Save" ng-click="saveAmendment()">
                                            <input type="button" id="btnReset" class="btn btn-primary-border mr-1 btn-100px" value="Reset" onclick="LoadView('Export/Ppg_CWCExport/Amendment','209')">
                                            <input type="button" class="btn btn-primary btn-100px" value="Show List" onclick="ShowSplitMergerAmendmentList()">
                                        </div>

                                        <div class="row SignUp_space_top2" style="text-align:center;">
                                            <span ng-model="saveinfo" style="font-size: 18px;font-weight: bolder;color: olive;">{{Saveinfo}}</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" id="tblAmendmentSplit">
                                                @*        <table id="tblAmendment" class="table table-bordered table-striped dataTable" style="width:98%;margin-left: 14px; margin-top:15px!important;">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>SL No</th>
                                                                <th>Amendment No</th>
                                                                <th>Amendment Date</th>
                                                                <th>View</th>

                                                        </thead>
                                                        <tbody>
                                                            <tr role="row" ng-repeat="i in AllAmendData">
                                                                <td class="text-center sorting_1">{{$index+1}}</td>
                                                                <td>{{i.AmendmentNo}}</td>
                                                                <td>{{i.AmendmentDate | date:'MM/dd/yyyy'}}</td>
                                                                <td style="text-align:center;"><a href="#" class="view" ng-click="ViewAmendDetails(i.AmendmentNo)"><i class="fa fa-search-plus Edit"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="DivShipBillAmendment">
                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Invoice No:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" placeholder="Search Invoice No" readonly ng-model="tabInvoiceNo" />
                                                    <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabInvoiceModal"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <label>Invoice Date:</label>
                                                </div>
                                                <input type="text" readonly ng-model="tabInvoiceDate" />
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Ship Bill No:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" placeholder="Search Ship Bill No" readonly ng-model="tabtxtShipBillNo" />
                                                    <span ng-show="tabtxtShipBillNoFlag" style="color:red;" class="ng-hide">*Required</span>
                                                    @*@Html.TextBoxFor(m => m.ShipBillNo, new { @class = "form-control input_sm", @readonly = true, @id = "tabtxtShipBillNo" })*@
                                                    <span class="input_icon" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBNoModalTab"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <label>Date:</label>
                                                </div>
                                                <div class="position-relative Date_Img">
                                                    <input type="text" id="tabtxtShipbillDate" ng-model="tabtxtShipbillDate" readonly />
                                                    <span ng-show="tabDateFlag" style="color:red;" class="ng-hide">*Required</span>
                                                    @*@Html.TextBoxFor(m => m.ShipbillDate, new { @class = "form-control", @readonly = true,@id= "tabtxtShipbillDate", @ngMode = "ShipbillDate" })*@
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>CCIN NO:</label>
                                                </div>
                                                <input type="text" readonly ng-model="tabtxtCCINNo" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Exporter:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" readonly placeholder="Search Exporter" ng-model="tabtxtExporterName" />
                                                    @*@Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control", @readonly = true, @ngMode= "ExporterName" })*@
                                                    <span class="input_icon" id="spExporterName"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabPartyModal"></i></span>
                                                    <span ng-show="tabExporterFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <label>ShippingLineName:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" readonly placeholder="Search ShippingLine Name" ng-model="tabtxtShippingLineName" />
                                                    @*@Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control", @readonly = true, @ngMode= "ExporterName" })*@
                                                    <span class="input_icon" id="spShippingLineName"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabShippingModal"></i></span>
                                                    <span ng-show="tabShippingLineFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Commodity:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" placeholder="Search Commodity" readonly id="txttabCargo" ng-model="txttabCargo" />
                                                    @*@Html.TextBoxFor(m => m.Cargo, new { @class = "form-control input_sm", @readonly = true, @ngMode = "Cargo" })*@
                                                    <span class="input_icon" id="spCargo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabCommodityModal"></i></span>
                                                    <span ng-show="tabCargoFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <label>Port Of Loading:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" placeholder="Search Port of Loading" readonly ng-model="tabtxtPortOfLoading" />
                                                    @*@Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control", @readonly = true, @ngMode= "ExporterName" })*@
                                                    <span class="input_icon" id="spSPortOfLoading"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabPortOfLoadingModal"></i></span>
                                                    <span ng-show="tabPortOfLoadingFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Weight:</label>
                                                </div>
                                                <input type="number" placeholder="Enter Weight" id="txttabWeight" ng-model="txttabWeight" />
                                                @* @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", @ngMode = "Weight" })*@
                                                <span ng-show="tabWeightFlag" style="color:red;" class="ng-hide">*Required</span>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1-5">
                                                <div class="form-group">
                                                    <label>Pkg:</label>
                                                </div>
                                                <input type="number" placeholder="Enter Pkg." id="txttabPkg" ng-model="txttabPkg" />
                                                @*@Html.TextBoxFor(m => m.Pkg, new { @class = "form-control",  @ngMode = "Pkg" })*@
                                                <span ng-show="tabPkgFlag" style="color:red;" class="ng-hide">*Required</span>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1-5">
                                                <div class="form-group">
                                                    <label>GodownName:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" placeholder="Enter Godown Name" readonly ng-model="tabtxtGodownName" />
                                                    <input type="hidden" readonly ng-model="txttabGodownId" />
                                                    @*@Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control", @readonly = true, @ngMode= "ExporterName" })*@
                                                    <span class="input_icon" id="spGodownName"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabGodownNameModal"></i></span>
                                                    <span ng-show="tabGodownNameFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Ship Bill No:</label>
                                                </div>
                                                <input type="text" placeholder="Enter Shipbill No" id="NewShipBillNo" ng-model="NewShipBillNo" />
                                                @*@Html.EditorFor(m => m.NewShipBillNo, new { @class = "form-control", ng_model = "NewShipBillNo" })*@
                                                <span ng-show="tabNewShipBillNoFlag" style="color:red;" class="ng-hide">*Required</span>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1-5">
                                                <div class="form-group">
                                                    <label>Date:</label>
                                                </div>
                                                <div class="position-relative Date_Img">
                                                    <input type="text" placeholder="Select Date" ng-model="tabShipBillDate" id="txttabNewShipbillDate" readonly />
                                                    @*@Html.EditorFor(m => m.ShipbillDate, new { @class = "form-control", ng_model = "ShipbillDate" })*@
                                                    <span ng-show="tabShipbillDateFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1-5">
                                                <div class="form-group">
                                                    <label>SB Type:</label>
                                                </div>
                                                <select id="NewSBType" name="NewSBType">
                                                    <option value="">Select One</option>
                                                    <option value="1">Baggage</option>
                                                    <option value="2">Duty Free Goods</option>
                                                    <option value="3">Cargo in Drawback</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>FOB Value:</label>
                                                </div>
                                                <input type="number" placeholder="Enter FOB Value"  ng-model="txttabFOB" id="txttabFOB" />
                                                @*@Html.TextBoxFor(m => m.FOB, new { @class = "form-control", @ngMode = "FOB" })*@
                                                <span ng-show="tabtabFOBFlag" style="color:red;" class="ng-hide">*Required</span>
                                            </div>
                                            <div class="col-md-3 col-md-offset-1-5">
                                                <div class="form-group">
                                                    <label>Port Of Destination:</label>
                                                </div>
                                                <div class="position-relative">
                                                    <input type="text" readonly placeholder="Enter Port of Destination" ng-model="tabtxtPortOfDest" />
                                                    @*@Html.TextBoxFor(m => m.ExporterName, new { @class = "form-control", @readonly = true, @ngMode= "ExporterName" })*@
                                                    <span class="input_icon" id="spSPortOfDest"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#tabPortOfDestModal"></i></span>
                                                    <span ng-show="tabPortOfDestFlag" style="color:red;" class="ng-hide">*Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row SignUp_space_top2" style="text-align:center;">
                                            <span style="font-size: 18px;font-weight: bolder;color: olive;">{{TabSaveinfo}}</span>
                                        </div>

                                        <div class="d-flex justify-content-left Form_Space_bottom">
                                            <input type="submit" id="btnSavee" class="btn btn-primary mr-1 btn-100px" value="Save" ng-click="SubmitTabData()">
                                            <input type="button" id="btnReset" class="btn btn-primary-border mr-1 btn-100px" value="Reset" ng-click="ResetAlltab()">
                                            <input type="button" class="btn btn-primary btn-100px" value="Show List" onclick="ShowAmendmentList()">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" id="tblAmendment">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="SBNoModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of SBNo</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Partybox" type="text" ng-model="searchSBNo" />
                            <ul class="navList" id="lstParty">
                                <li ng-repeat="p in AllSBIList | filter: {ShipBillNo : searchSBNo }" ng-click="GetCBDetailsBySbIdDate(p.ShipBillNo,p.ShipBillDate)">{{p.ShipBillNo}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="SBNoModalTab" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of SBNo</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Partybox" type="text" ng-model="searchSBNo" />
                            <ul class="navList" id="lstParty">
                                <li ng-repeat="p in AllSBIList | filter: {ShipBillNo : searchSBNo }" ng-click="tabGetCBDetailsBySbIdDate(p.ShipBillNo,p.ShipBillDate)">{{p.ShipBillNo}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="spOldShipBillNo" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Shipping Line Names</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="ShippingLinebox" type="text" />
                            <ul class="navList" id="lstShippingLine">
                                @*@{
                                        if (ViewBag.ListOfShippingLine != null)
                                        {
                                            foreach (var item in ViewBag.ListOfShippingLine)
                                            {
                                                <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                                            }
                                        }
                                        else
                                        {
                                            <li></li>
                                        }

                                    }*@
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="PartyModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Party</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Partybox" type="text" ng-model="searchParty" />
                            <ul class="navList" id="lstParty">
                                <li ng-repeat="p in AllParty | filter: {ExporterName : searchParty }" ng-click="ClickParty(p.EXPEximTraderId,p.ExporterName)">{{p.ExporterName}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div id="tabPartyModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Party</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Partybox" type="text" ng-model="tabsearchParty" />
                            <ul class="navList" id="lstParty">
                                <li ng-repeat="p in AllParty | filter: {ExporterName : tabsearchParty }" ng-click="tabClickParty(p.EXPEximTraderId,p.ExporterName)">{{p.ExporterName}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div id="tabShippingModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Shipping Line Name</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Shippingbox" type="text" ng-model="tabsearchShipping" />
                            <ul class="navList" id="lstShipping">
                                <li ng-repeat="p in AllShippingLine | filter: {ShippingLineName : tabsearchShipping }" ng-click="tabClickShipping(p.Id,p.ShippingLineName)">{{p.ShippingLineName}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tabPortOfLoadingModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Port Of Loading</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="PortOfLoadingbox" type="text" ng-model="tabPortOfLoading" />
                            <ul class="navList" id="lstPortOfLoading">
                                <li ng-repeat="p in AllPortLoading | filter: {PortName : tabPortOfLoading }" ng-click="tabClickPortOfLoading(p.PortId,p.PortName)">{{p.PortName}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tabGodownNameModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of GodownName</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="GodownNamebox" type="text" ng-model="tabGodownName" />
                            <ul class="navList" id="lstGodownName">
                                <li ng-repeat="p in AllGodownName | filter: {GodownName : tabGodownName }" ng-click="tabClickGodownName(p.GodownId,p.GodownName)">{{p.GodownName}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tabPortOfDestModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Port Of Destination</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="PortOfDestbox" type="text" ng-model="tabPortOfDest" />
                            <ul class="navList" id="lstPortOfDest">
                                <li ng-repeat="p in AllPortLoading | filter: {PortName : tabPortOfDest }" ng-click="tabClickPortOfDest(p.PortId,p.PortName)">{{p.PortName}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="CommodityModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content popup_modal" style="width:80%;">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" ng-click="CloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Commodity</h4>
                        </div>
                        <div class="modal-body popup_body" style="position:relative;">
                            <input placeholder="Search By Commodity Name" ng-model="CommodityBox" type="text" />
                            <span class="search" style="top: 18px;"><i class="fa fa-search" ng-click="searchCommodity()" aria-hidden="true"></i></span>
                            <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                <thead>
                                    <tr>
                                        <th colspan="8" width="80%">Commodity Name</th>

                                    </tr>
                                </thead>
                            </table>
                            <div id="slim_scroll">
                                <table class="table dataTable table-bordered table-striped">
                                    <tr ng-click="SelectCommodity(k.CommodityId,k.CommodityName)" ng-repeat="k in ListOfCommodityForAmendment.LstCommodity | filter:{CommodityName:CommodityBox}">
                                        <td colspan="8" width="80%">{{k.CommodityName}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-4">

                                    <button type="button" style="width:100%; margin-left:0;" ng-show="commflag" ng-click="LoadMoreCommodity()" class="btn btn-primary btn-100px" id="btnLoadMoreCommodity">Load More Data</button>


                                </div>
                                <div class="col-md-offset-5 col-md-3">
                                    <button type="button" class="btn btn-primary-border btn-100px" ng-click="CloseCommodity()">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="tabCommodityModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content popup_modal" style="width:80%;">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" ng-click="tabCloseCommodity()"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Commodity</h4>
                        </div>
                        <div class="modal-body popup_body" style="position:relative;">
                            <input placeholder="Search By Commodity Name" ng-model="tabCommodityBox" type="text" />
                            <span class="search" style="top: 18px;"><i class="fa fa-search" ng-click="searchCommoditytab()" aria-hidden="true"></i></span>
                            <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                                <thead>
                                    <tr>
                                        <th colspan="8" width="80%">Commodity Name</th>

                                    </tr>
                                </thead>
                            </table>
                            <div id="slim_scroll_1">
                                <table class="table dataTable table-bordered table-striped">
                                    <tr ng-click="tabSelectCommodity(k.CommodityId,k.CommodityName)" ng-repeat="k in tabListOfCommodityForAmendment.LstCommodity | filter:{CommodityName:tabCommodityBox}">
                                        <td colspan="8" width="80%">{{k.CommodityName}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" style="width:100%; margin-left:0;" ng-show="commflag" ng-click="LoadMoreCommoditytab()" class="btn btn-primary btn-100px" id="btnLoadMoreCommodity">Load More Data</button>

                                </div>
                                <div class="col-md-offset-5 col-md-3">
                                    <button type="button" class="btn btn-primary-border btn-100px" ng-click="tabCloseCommodity()">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="InvoiceModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Invoice No.</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Partybox" type="text" ng-model="InvNo" />
                            <ul class="navList">
                                <li ng-repeat="p in lstInvoice | filter: InvNo" ng-click="SelectInvoice(p)">{{p.InvoiceNo}} - {{p.InvoiceDate}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tabInvoiceModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content popup_modal">
                        <div class="modal-header popup_header">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">List of Invoice No.</h4>
                        </div>
                        <div class="modal-body popup_body">
                            <input placeholder="Search Me" id="Partybox" type="text" ng-model="tabInvNo" />
                            <ul class="navList">
                                <li ng-repeat="p in lstInvoice | filter: tabInvNo" ng-click="tabSelectInvoice(p)">{{p.InvoiceNo}} - {{p.InvoiceDate}}</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-offset-6 col-md-6">
                                    <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <input type="hidden" style="display:none;" ng-model="txttabCommodityID" value="0" />
            <input type="hidden" style="display:none;" ng-model="txttabPartyID" value="0" />
            <input type="hidden" style="display:none;" ng-model="txttabPortLoadingID" value="0" />
            <input type="hidden" style="display:none;" ng-model="txttabPortDestID" value="0" />
            <input type="hidden" style="display:none;" ng-model="txttabShippingID" value="0" />
            <input type="hidden" style="display:none;" ng-model="txttabCCINID" />
            <input type="hidden" style="display:none;" ng-model="txtOldShipbilldate" />



        </div>
    </div>
</div>

@if (ViewBag.ListOfSBNoAmendment != null)
{
    <input type="hidden" id="hdnListOfSBNoAmendment" value="@ViewBag.ListOfSBNoAmendment" />
}
else
{
    <input type="hidden" id="hdnListOfSBNoAmendment" value="" />
}
@if (ViewBag.ListOfExporterForAmendment != null)
{
    <input type="hidden" id="hdnListOfExporterForAmendment" value="@ViewBag.ListOfExporterForAmendment" />
}
else
{
    <input type="hidden" id="hdnListOfExporterForAmendment" value="" />
}



@if (ViewBag.ListOfShippingForAmendment != null)
{
    <input type="hidden" id="hdnListOShippingForAmendment" value="@ViewBag.ListOfShippingForAmendment" />
}
else
{
    <input type="hidden" id="hdnListOShippingForAmendment" value="" />
}


@if (ViewBag.ListOfPortLoadingForAmendment != null)
{
    <input type="hidden" id="hdnListOPortLoadingForAmendment" value="@ViewBag.ListOfPortLoadingForAmendment" />
}
else
{
    <input type="hidden" id="hdnListOPortLoadingForAmendment" value="" />
}




@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnListGodownListForAmendment" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnListGodownListForAmendment" value="" />
}


@if (ViewBag.ListOfCommodityForAmendment != null)
{
    <input type="hidden" id="hdnListOfCommodityForAmendment" value="@ViewBag.ListOfCommodityForAmendment" />
}
else
{
    <input type="hidden" id="hdnListOfCommodityForAmendment" value="" />
}
@if (ViewBag.ListOfInv != null)
{
    <input type="hidden" id="hdnListInvoice" value="@ViewBag.ListOfInv" />
}
else
{
    <input type="hidden" id="hdnListInvoice" value="" />
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });

        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });

    $(document).ready(function () {
        //ShowAmendmentList();
        //ShowSplitMergerAmendmentList();
        $('#AmendDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            defaultDate: new Date(),
            onClose: function () {
                $('[data-valmsg-for="AmendDate"]').html('');
            }
        });

        $('#AmendDate').datepicker("setDate", new Date());


        $('#BillDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="CCINDate"]').html('');
            }
        });




        $('#txtNewShipBillDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="txtNewShipBillDate"]').html('');
            }
        });

        $('#txtNewShipBillDate').datepicker("setDate", new Date());


        $('#ShipBillDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="CCINDate"]').html('');
            }
        });


        $('#tabtxtShipbillDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="CCINDate"]').html('');
            }
        });

        $('#tabtxtShipbillDate').datepicker("setDate", new Date());

        $('#txttabNewShipbillDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="CCINDate"]').html('');
            }
        });


    });

    $('#SBNobox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstSBNo > li').show();
        } else {
            $('#lstSBNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#lstSBNo li').on("click", function () {
        //debugger;
        $('#SBId').val($(this).attr('id'));
        var SBid = $(this).attr('id');
        var SbDate = $(this).attr('data-ttr');
        if ($('#SBId').val() > 0) {


        }

        $("#SBNoModal").modal("hide");
        $('[data-valmsg-for="SBNo"]').html('<span></span>');
    });
    function ShowSplitMergerAmendmentList() {
        $('#tblAmendmentSplit').load('/Export/Ppg_CWCExport/ListofMergeSplitAmendData');
    }
    function ShowAmendmentList() {
        $('#tblAmendment').load('/Export/Ppg_CWCExport/ListofAmendData');
    }
</script>

