<script src="~/Areas/Export/Scripts/App/Services/Ppg_CargoShiftingApprSrvc.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/Ppg_CargoShiftingApprCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('Ppg_CargoShiftingApproval'), ['CWCApp']);
</script>
<div id="Ppg_CargoShiftingApproval" ng-controller="Ppg_CargoShiftingApprCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Shifting Approval</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Shifting No:</label>
                            </div>
                            <div class="position-relative">
                                <input id="ShiftngNo" name="ShiftngNo" placeholder="Search Shifting No" readonly type="text" value="" ng-model="ShiftingNo">
                                <span class="input_icon" ng-hide="IsSaved" ng-click="LoadShiftingNo()"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShiftingNoModal"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Shifting Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                <input id="ShiftngDate" name="ShiftngDate" readonly type="text" ng-model="ShiftngDate">
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top" style="display:none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Invoice No :</label>
                            </div>
                            <input type="text" id="InvoiceNo" readonly ng-model="InvoiceNo" />
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Shifting Type:</label>
                            </div>
                            <select ng-model="ShiftingType" disabled="true" ng-change="onShiftingChange()">
                                <option value="0">----Select----</option>
                                <option value="{{t.Id}}" ng-repeat="t in ShiftingTypeList">{{t.ShiftingType}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>From Shipping:</label>
                            </div>
                            <input id="FrmShipping" name="FrmShipping" readonly="true" type="text" ng-model="ShippingLineNameF">
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>To Shipping:</label>
                            </div>
                            <input id="ToShipping" name="ToShipping" readonly="true" type="text" ng-model="ShippingLineNameT">
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Godown:</label>
                            </div>
                            <input id="FrmGodown" name="FrmGodown" readonly="true" type="text" ng-model="GodownNameF">
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>To Godown:</label>
                            </div>
                            <input id="ToGodown" name="ToGodown" readonly="true" type="text" ng-model="GodownNameT">
                        </div>
                    </div>

                    <div class="row Form_Space_top" style="display:none;">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Party</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <input class="form-control input_sm" id="Party" name="Party" readonly="true" type="text" ng-model="PartyName">
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top" style="display:none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>GST No:</label>
                            </div>
                            <input id="GstNo" name="GstNo" readonly="true" type="text" ng-model="GSTNo">
                        </div>
                    </div>

                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered dataTable bigger_table" id="tblShippingDetails" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:8%;">@Html.DisplayName("Entry No")</th>
                                        <th class="text-center">@Html.DisplayName("Carting Date")</th>
                                        <th class="text-center">@Html.DisplayName("Ship Bill No")</th>
                                        <th class="text-center">@Html.DisplayName("Ship Bill Date")</th>
                                        <th class="text-center">@Html.DisplayName("Package")</th>
                                        <th class="text-center">@Html.DisplayName("Gross Weight (Kg)")</th>
                                        <th class="text-center">@Html.DisplayName("SQM")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="s in shipbills">
                                        <td class="text-center">{{s.CartingRegisterNo}}</td>
                                        <td class="text-center">{{s.RegisterDate}}</td>
                                        <td class="text-center">{{s.ShippingBillNo}}</td>
                                        <td class="text-center">{{s.ShippingBillDate}}</td>
                                        <td class="text-center">{{s.ActualQty}}</td>
                                        <td class="text-center">{{s.ActualWeight}}</td>
                                        <td class="text-center">{{s.SQM}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-1">
                            <div class="form-group">
                            </div>
                            <label>Approve:</label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                            </div>
                            <input type="checkbox" id="IsApproved" ng-model="IsApproved" />
                            <label for="IsApproved"><i class="square"></i></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-left Form_Space_top">
                        <input type="button" id="btnSave" class="btn btn-primary mr-1 btn-100px" value="Save" ng-click="AddEditCargoShiftingApproval()" ng-disabled="!IsSelected">
                        <input type="button" class="btn btn-primary-border mr-1 btn-100px" value="Reset" onclick="$('#DivBody').load('/Export/Ppg_CWCExport/CargoShiftingApproval')">
                        <input type="button" class="btn btn-primary btn-100px" value="Show List" onclick="$('#DivlstData').load('/Export/Ppg_CWCExport/ListofCargoShiftingApproved')">
                    </div>

                    <div class="logSuccMsg" style="background-color:transparent">{{Message}}</div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div id="DivlstData">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShiftingNoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shifting No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ShiftingNoBox" type="text" ng-model="ShiftingNoBox" />
                    <ul class="navList" id="">
                        <li ng-repeat="p in lstShiftingNo | filter: {ShiftingNo : ShiftingNoBox }" ng-click="LoadShiftingDet(p.CargoShiftingId)">{{p.ShiftingNo}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
