@if (ViewBag.StuffingReqList != null)
{
    <input type="hidden" id="hdnStuffingReq" value="@ViewBag.StuffingReqList" />
}
else
{
    <input type="hidden" id="hdnStuffingReq" value="" />
}
@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}
 
@using (Ajax.BeginForm("AddEditLoadedContPaymentSheet", "Ppg_CWCExport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ContainerJson")
    @Html.Hidden("PaymentSheetModelJson")
    @Html.Hidden("hdnAddress")
    @Html.Hidden("hdnState")
    @Html.Hidden("hdnStateCode")
    @Html.Hidden("ServiceType")
    @Html.Hidden("SEZ1")

        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Payment Sheet / Invoice</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="Radiocontainer">
                                        Tax Invoice
                                        @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="Radiocontainer">
                                        Bill Of Supply
                                        @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Invoice No:</label>
                                </div>
                                @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Invoice Date:</label>
                                    <input type="hidden" id="GateEntryDate" />
                                    <input type="hidden" id="LoadedDateCheck" />
                                </div>
                                <div class="position-relative Date_Img">
                                    @Html.TextBox("InvoiceDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                                    <span style="color:red" id="ErrAppDate"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Loaded Container / CBT Request No:</label>
                                </div>
                                <div class="position-relative">
                                    @Html.Hidden("StuffingReqId")
                                    @Html.TextBox("StuffingReqNo", "", new {@placeholder= "Search Loaded Container / CBT Request No", @readonly = true })
                                    <span class="input_icon" id="stuffingsearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="ShowRequestNo();" data-target="#stuffingModal"></i></span>
                                    <span style="color:red" id="ErrStuffing"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Date:</label>
                                </div>
                                <div class="position-relative">
                                    @Html.TextBox("StuffingReqDate", "", new { @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Party Name:</label>
                                </div>
                                <div class="position-relative">
                                    @Html.Hidden("PartyId")
                                    @Html.TextBox("PartyName", "", new { @placeholder = "Search Party Name", @readonly = true })
                                    <span class="input_icon" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="ShowParty();" data-target="#PartyModal"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Payee Name:</label>
                                </div>
                                <div class="position-relative">
                                    @Html.Hidden("PayeeId")
                                    @Html.TextBox("PayeeName", "", new { @placeholder = "Search Payee Name", @readonly = true })
                                    <span class="input_icon" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="ShowParty();" data-target="#PayeeModal"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Move To:</label>
                                </div>
                                <div class="position-relative">
                                    @Html.Hidden("LocationId")
                                    @Html.TextBox("LocationName", "", new { @placeholder = "Search Move To", @readonly = true })
                                    <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="ShowLocation();" data-target="#LocationModal"></i></span>
                                    @Html.ValidationMessage("LocationName")
                                    <span style="color:red" id="ErrLocation"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Place Of Supply:</label>
                                </div>
                                @Html.TextBox("PlaceOfSupply", "", new { @readonly = true })
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> GST No:</label>
                                </div>
                                @Html.TextBox("GSTNo", "", new { @placeholder = "Enter GST No", @readonly = true })
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SEZ</label>
                                </div>
                                @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { })
                                @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label></label>
                                </div>
                                <input class="btn btn-primary btn-150px" aria-hidden="true" data-toggle="modal" data-target="#Containerdtl" type="button" value="Container / CBT Details" />
                            </div>
                        </div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="col-md-12">
                                <table id="tblContainer" class="table table-bordered dataTable nowrap table-striped bigger_table">
                                    <thead>
                                        <tr>
                                            <th style="width:8%;" class="text-center">Sl No</th>
                                            <th>ICD No</th>
                                            <th>Container / CBT No</th>
                                            <th>Size</th>
                                            <th>Insured</th>
                                            <th>DO Date</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>


                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>CWC Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center bigger_table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            @*<tr>
                                    <td colspan="8" style="text-align:right;">Total:</td>
                                    <td class="Table_right"><input type="text" id="TOTCWCChrg" value="0" readonly></td>
                                </tr>
                                <tr>
                                        <td colspan="8" style="text-align:right;">TDS %:</td>
                                        <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="text-align:right;">CWC TDS Amount:</td>
                                        <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                    </tr>*@
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-1 col-md-offset-9">
                                 <label>Total Value:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-1 col-md-offset-9">
                                <label>Round Up:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("RoundUp", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-1 col-md-offset-9">
                                @*<div class="form-group">
                                    <label></label>
                                </div>*@
                                <label>Invoice Value:</label>
                            </div>
                            <div class="col-md-2">
                                @*<div class="form-group">
                                    <label></label>
                                </div>*@
                                @Html.TextBox("InvoiceValue", "0", new { @readonly = true, @style = "text-align:right;" })
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remarks:</label>
                                </div>
                                @Html.TextArea("Remarks", new { @style = "height:75px;" })
                            </div>
                        </div>

                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>

                        <div class="d-flex justify-content-left">
                            <input type="button" id="btnsave" class="btn btn-primary mr-1 btn-100px" value="Save" onclick="BindJson()">
                            <input type="button" id="Reset" class="btn btn-primary-border mr-1 btn-100px" value="Reset" onclick="ResetField()">
                            <input type="button" id="BtnGenerateIRN" class="btn btn-primary mr-1 btn-100px" value="Generate IRN" onclick="GenerateIRN()" disabled="disabled">
                            <input type="button" id="btnPrint" class="btn btn-primary btn-100px" value="Print" onclick="PrintInvoice()">
                        </div>
                        <div class="d-flex justify-content-left Form_Space_top">
                            <input type="button" id="btnShowList" class="btn btn-primary mr-1 btn-100px" value="Show List" onclick="PopulatedInvoiceList()">
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="DivMovementList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


}

@Scripts.Render("~/bundles/jqueryval")

<div id="stuffingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Loaded Container / CBT Request</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="stuffingbox" type="text" />
                <ul class="navList" id="lststuffing">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payee</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Containerdtl" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal" onclick="ContainerSelect();"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container / CBT</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="cfscode" type="text" />
                    <ul class="navList" id="lstcfscode">

                        @{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }
                    </ul>*@
                <table id="lstcfsCode" class="table table-bordered">
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal" onclick="ContainerSelect();">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="HnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="BindHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="NewHnTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of H&amp;T Charges</h4>
            </div>
            <div class="modal-body popup_body">
                @*<input placeholder="Search Me" id="stuffingbox" type="text" />*@
                <ul class="navList" id="lstNewHT">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal" onclick="AddHnTCharges()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="LocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of New Location</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Locationbox" type="text" />
                <ul class="navList" id="LocationList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        $('#LoadedDateCheck').val(new Date());
        $('#InvoiceDate').datetimepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            altField: "#slider_example_4andHalf_alt",
            altFieldTimeOnly: false,
            onSelect: function (dateText) {
                dateText = $('#InvoiceDate').datepicker({ dateFormat: 'MM/dd/yyyy' }).val();
                var dt = dateText.split("/");
                var dt1 = dt[1] + "/" + dt[0] + "/" + dt[2];

                $('#LoadedDateCheck').val(dt1);
            },
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });

      //  StuffingReqBinding();
     //   PartyBinding();
     //   PayeeBinding();
    });

    function GenerateIRN() {
        $.ajax({
            url: '/Import/Ppg_CWCImport/GetIRNForYardInvoice',
            type: 'POST',
            data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#ServiceType').val() },
            // headers:{"__RequestVerificationToken":Token},
            dataType: 'JSON',
            success: function (data) {

                alert(data.Message);
            }
        });
    }


    function PopulatedInvoiceList()
    {
        $('#DivMovementList').load('/Export/Ppg_CWCExport/ListOfContainerLoadedInv'); $('#btnShowList').prop('disabled', true);
    }

    function StuffingReqBinding() {
        debugger;
        if ($('#hdnStuffingReq').val() != '') {
            var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
            var html = '';
            $.each(StuffingJson, function (i, item) {

                html += '<li id="' + item.StuffingReqId + '" onclick="selectStuffing(' + item.StuffingReqId + ');">' + item.StuffingReqNo + '</li>';
            });
            $('#lststuffing').html(html);
        }
    }
    $('#stuffingbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lststuffing > li').show();
        else {
            $('#lststuffing > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#Locationbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#LocationList > li').show();
        else {
            $('#LocationList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function ShowLocation() {
        debugger;
        $.ajax({
            url: '/Export/Ppg_CWCExport/GetLocationForMovement',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {

                    var EcJson = JSON.parse(data);
                    var html = '';
                    $.each(EcJson, function (i, item) {
                        html += '<li id="' + item.LocationId + '" onclick="SelectNewLocation(' + item.LocationId + ',&quot;' + item.LocationName + '&quot;);">' + item.LocationName + '</li>';
                    });
                    $('#LocationList').html(html);
                }
            }
        });
    }
    function SelectNewLocation(id, Name) {
        debugger;
        $('#LocationId').val(id);
        $('#LocationName').val(Name);
        $('#NewLctnNames').val(Name);
        $("#LocationModal").modal("hide");
        $('#ErrLocation').html('');
        //  GetInternalInvoice();
    }

    function selectStuffing(id) {
        debugger;
        var StuffingJson = JSON.parse($('#hdnStuffingReq').val());
        var StuffingRequest = $.grep(StuffingJson, function (item) { return item.StuffingReqId == id; })[0];
        $('#StuffingReqId').val(StuffingRequest.StuffingReqId);
        $('#StuffingReqNo').val(StuffingRequest.StuffingReqNo);
        $('#StuffingReqDate').val(StuffingRequest.StuffingReqDate);
        //   $('#ShippingLineNameValue').val(StuffingRequest.ShippingLineName);  removed
        //   $('#ExporterNameValue').val(StuffingRequest.ExporterName);     removed
        $('#PartyId').val(StuffingRequest.CHAId);
        $('#PartyName').val(StuffingRequest.CHAName);
        $('#PayeeId').val(StuffingRequest.CHAId);
        $('#PayeeName').val(StuffingRequest.CHAName);
        $('#hdnAddress').val(StuffingRequest.Address);
        $('#hdnState').val(StuffingRequest.State);
        $('#hdnStateCode').val(StuffingRequest.StateCode);
        $('#GSTNo').val(StuffingRequest.CHAGSTNo);
        $('#PlaceOfSupply').val(StuffingRequest.State);

        $('#GateEntryDate').val(StuffingRequest.GateEntryDateTime);
        $("#stuffingModal").modal("hide");
        ContainerBinding(id);
    }
    function ContainerBinding(id) {
        debugger;
        $('#lstcfsCode tbody').html(''); // added since cont details not getting updated in case there is no container againt stuffreqid
        $.ajax({
            url: '/Export/Ppg_CWCExport/GetLoadedPaymentSheetContainer',
            type: 'GET',
            data: { StuffingReqId: id },
            dataType: 'JSON',
            success: function (data) {
                debugger;

                $('#ContainerJson').val(data);
                debugger;
                ContainerJson = JSON.parse(data);
                var html = '';
                $.each(ContainerJson, function (i, item) {
                    if (item.Selected)
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" checked id="' + item.CFSCode + '"/><label for="' + item.CFSCode + '"><i class="square" style="margin-left:10px;"></i></label></div></td><td>' + item.ContainerNo + '</td></tr>';
                    else
                        html += '<tr><td><div class="boolean-container"><input type="checkbox" id="' + item.CFSCode + '"/><label for="' + item.CFSCode + '"><i class="square" style="margin-left:10px;"></i></label></div></td><td>' + item.ContainerNo + '</td></tr>';
                });
                $('#lstcfsCode tbody').html(html);
            }
        });
    }

    function PartyBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstParty').html(html);
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        $('#PartyName').val(Party.PartyName);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#PlaceOfSupply').val(Party.State);

        $('#hdnStateCode').val(Party.StateCode);
        if ($('#PaymentSheetModelJson').val() != null && $('#PaymentSheetModelJson').val() != '' && $('#PaymentSheetModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();
            rawJson.PartyAddress = $('#hdnAddress').val();
            rawJson.PartyState = $('#hdnState').val();
            rawJson.PartyStateCode = $('#hdnStateCode').val();
            rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
        }
        $("#PartyModal").modal("hide");
    }

    function PayeeBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#lstPayee').html(html);
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Party.PartyName);
        $("#PayeeModal").modal("hide");
    }
</script>
<script>

    function ContainerSelect() {
        debugger;
        $('#InvoiceDate').parent().find('img').css('display', 'none');
        ArrayContainer = [];
        $('#lstcfsCode tbody tr').each(function () {
            debugger;
            var Chk = $(this).find('input[type="checkbox"]');
            if ($(Chk).is(':checked')) {
                var Container = {
                    "CFSCode": $(Chk).attr('id')
                }
                ArrayContainer.push(Container);
            }
        });
        if (ArrayContainer.length > 0 && $('#InvoiceDate').val() != "") {
            $.ajax({
                url: '/Export/Ppg_CWCExport/GetLoadedContainerPaymentSheet',
                type: 'POST',
                data: {
                    InvoiceDate: $('#InvoiceDate').val(),
                    InvoiceType: TaxType,
                    StuffingReqId: parseInt($('#StuffingReqId').val()),
                    lstPaySheetContainer: ArrayContainer,
                    PayeeId: $('#PayeeId').val(),
                    PartyId: $('#PartyId').val(),
                    InvoiceId: 0,
                    SEZ:$('#SEZ').val(),
                    LocationId: $('#LocationId').val()

                },
                dataType: 'JSON',
                success: function (data) {
                    $('#SEZ1').val($('#SEZ').val());
                    debugger;
                    if (data != null && data != 'undefined') {
                        $('#PaymentSheetModelJson').val(JSON.stringify(data));
                        var html = '';
                        var html1 = '';
                        //All H&T binding in modal
                        // var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                        //$.each(HTCharge, function (i, item) {
                        //    var result = $.grep(data.ActualApplicable, function (e) { return e == item.Clause; });
                        //    if (result.length == 0) {
                        //        html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        //    }
                        //    else {
                        //        html += '<li id="liAHT' + i + '"><div class="boolean-container"><input id="chkAHT' + i + '" type="checkbox" checked data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkAHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        //    }
                        //    html1 += '<li id="liNHT' + i + '"><div class="boolean-container"><input id="chkNHT' + i + '" type="checkbox" data-val="' + btoa(JSON.stringify(item)) + '"/><label for="chkNHT' + i + '"><i class="square"></i> &nbsp; &nbsp; &nbsp;' + item.Clause + ' (<span style="font-size:8pt;">' + item.ChargeName + '</span>)' + '</label></div></li>';
                        //});
                        //$('#lstHT').html(html);
                        //$('#lstNewHT').html(html1);
                        //Container Binding
                        html = '';
                        $.each(data.lstPostPaymentCont, function (i, item) {
                            html += '<tr><td>' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.Size + '</td>';

                            html += '<td>' + (item.Insured == 0 ? 'No' : 'Yes') + '</td><td></td></tr>';


                        });
                        $('#tblContainer tbody').html(html);

                        $('#SEZ').prop('disabled',true);
                        //CWC Charge Binding
                        debugger;
                        //    var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                        html = '';
                        var tamt = 0;
                        $.each(data.lstPostPaymentChrg, function (i, item) {

                            tmat = tamt + item.Amount.toFixed(2);
                            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text"  value="' + item.Amount.toFixed(2) + '" readonly/></td>'
                                    + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                        });
                        $('#tblCWCCharges tbody').html(html);
                        //  $('#CWCTDSPer').val(data.CWCTDSPer.toFixed(2));
                        // $('#TOTCWCTDS').val(Math.round(data.CWCTDS.toFixed(2)));
                        debugger;
                        //HT Charge Binding*/
                        //var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                        //html = '';
                        //$.each(HTCharge, function (i, item) {
                        //    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                        //            + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                        //            + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                        //            + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                        //            + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                        //            + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                        //            + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                        //            + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                        //            + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                        //});
                        //$('#tblHTCharges tbody').html(html);
                        //$('#HTTDSPer').val(data.HTTDSPer.toFixed(2));
                        //$('#TOTHTTDS').val(Math.round(data.HTTDS.toFixed(2)));

                        //Total Charge Calculation

                        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                        var TotalCWC = 0;
                        //   var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

                        $.each(data.lstPostPaymentChrg, function (i, item) {
                            TotalCWC += item.Total;
                        });
                        $('#TOTCWCChrg').val((TotalCWC).toFixed(2));

                        //var TotalHT = 0;
                        //var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

                        //$.each(HTCharge, function (i, item) {
                        //    TotalHT += item.Total;
                        //});
                        //$('#TOTHTChrg').val((TotalHT).toFixed(2));

                        $('#AllTotal').val((TotalCWC).toFixed(2));

                        var AllTot = Math.ceil(TotalCWC);
                        var roundup = AllTot - TotalCWC;
                        //    $('#TotalTDS').val(Math.round(data.TDS.toFixed(2)));
                        // $('#TotalTDSCol').val(Math.round(data.TDSCol.toFixed(2)));
                        $('#RoundUp').val(roundup.toFixed(2));
                        $('#InvoiceValue').val(AllTot.toFixed(2));
                        data.InvoiceAmt = AllTot;
                        data.RoundUp = roundup;
                        data.TotalAmt = tmat;
                        //CalcInvoice();
                        $('.search').css('display', 'none');
                        $('#InvoiceDate').parent().find('img').css('display', 'none');
                        if (data.hasSDAvailableBalance == 0) {
                            alert("Your Invoice can not be saved due to SD Amount is low");

                            $('#btnsave').attr('disabled', 'disabled');
                        }
                        else {
                            $('#btnsave').removeAttr('disabled');
                        }


                    }
                    else {
                        $('#PaymentSheetModelJson').val('');
                        $('#tblContainer tbody').html('');
                        $('#tblCWCCharges tbody').html('');
                        $('#tblHTCharges tbody').html('');
                        $('#TOTCWCChrg').val('');
                        $('#TOTHTChrg').val('');
                        $('#AllTotal').val('');
                        $('#RoundUp').val('');
                    }
                }
            });
        }
        else {
            $('#PaymentSheetModelJson').val('');
            $('#tblContainer tbody').html('');
            $('#tblCWCCharges tbody').html('');
            $('#tblHTCharges tbody').html('');
            $('#TOTCWCChrg').val('');
            $('#TOTHTChrg').val('');
            $('#AllTotal').val('');
            $('#RoundUp').val('');
        }
    }



    function BindHnTCharges() {
        debugger;
        try {
            var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
            rawJson.lstPostPaymentChrg = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
            var rowCount = rawJson.lstPostPaymentChrg.length;
            var html = '';
            var TotalHT = 0;
            var htWithOutTax = 0;
            //var htcharge = [];
            for (var i = 0; i < $("#lstHT li").length; i++) {
                if ($('#chkAHT' + i).prop("checked")) {
                    var item = JSON.parse(atob($('#chkAHT' + i).attr('data-val')));
                    //htcharge.push(item);
                    rawJson.lstPostPaymentChrg.push(item);
                    TotalHT += item.Total;
                    htWithOutTax += item.Amount;
                    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                        + '<td><input class="text-right" id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                                        + '<td><input class="text-right" id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                        + '<td><input class="text-right" id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                        + '<td><input class="text-right" id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                                        + '<td><input class="text-right" id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                        + '<td><input class="text-right" id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td>'
                                        + '<td class="text-center" onclick="RemoveHT(' + rowCount + ')"><i class="fa fa-times Delete"></i></td></tr>';
                    rowCount += 1;
                }
            }
            $('#tblHTCharges tbody').html(html);
            $('#TOTHTChrg').val((TotalHT).toFixed(2));
            $('#rest-charge-details').removeClass('hide');
            $('#btnSave').removeAttr('disabled');
            rawJson.HTTotal = TotalHT;
            rawJson.TotalAmt = rawJson.CWCAmtTotal + htWithOutTax;
            rawJson.HTAmtTotal = htWithOutTax;
            $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
            $('#btnAddExtraHT').removeAttr('disabled');
            CalcTax(1);
        }
        catch (e) { console.log('BindHnTCharges : ' + e.message); }
    }

    var indx = 0;


    function BindJson() {
        var Appdt = $('#LoadedDateCheck').val();
        var GateEntryDt = $('#GateEntryDate').val();
        var jdt = new Date(Appdt);
        var tdt = new Date(GateEntryDt);        




     //   if (jdt >= tdt) {

            if ($('#StuffingReqNo').val() == '') {
                // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
                $('#ErrStuffing').html('Fill Out This Field');
                return false;
            }
            if ($('#InvoiceValue').val() <=0) {
                alert('Invoice Amount cannot be Zero or Negative');
                return false;
            }
            else {

                if (confirm("Are You Sure You Want To Save?")) {
                    try {
                        debugger;
                        $('#btnsave').attr('disabled', true);
                        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                        rawJson.InvoiceId = 0;
                        rawJson.InvoiceType = TaxType;
                        rawJson.InvoiceDate = $('#InvoiceDate').val();
                        rawJson.RequestId = $('#StuffingReqId').val();
                        rawJson.RequestNo = $('#StuffingReqNo').val();
                        rawJson.RequestDate = $('#StuffingReqDate').val();
                        rawJson.PartyId = $('#PartyId').val();
                        rawJson.PartyName = $('#PartyName').val();
                        rawJson.PayeeId = $('#PayeeId').val();
                        rawJson.PayeeName = $('#PayeeName').val();
                        rawJson.PartyGST = $('#GSTNo').val();
                        rawJson.Remarks = $('#Remarks').val();
                        rawJson.PartyAddress = $('#hdnAddress').val();
                        rawJson.PartyState = $('#hdnState').val();
                        rawJson.PartyStateCode = $('#hdnStateCode').val();
                        rawJson.MoveToId = $('#LocationId').val();


                        rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                        rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                        //  rawJson.InvoiceHtml = InvoiceHtml(rawJson);
                        //$.each(rawJson.lstPostPaymentChrg, function (i, item) {
                        //    if (item.ChargeId.toString().indexOf('_') != -1) {
                        //        item.ChargeId = Number(item.ChargeId.split('_')[0]);
                        //    }
                        //});
                        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                        console.log(rawJson);
                        $('form#PaymentSheetForm').submit();
                    }
                    catch (e) {
                        $('#btnsave').removeAttr('disabled');
                    }
                }
            }
        }
      //  else {

      //      $('#ErrAppDate').html('Invoice Date should not be less Gate Entry Date');
      //      return false;
      //  }

    

    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {
        debugger;
        TaxType = Type;
        $('#DivBody').load('/Export/Ppg_CWCExport/CreateLoadedContainerPaymentSheet?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else
        $('#Bill').prop('checked', true);
</script>
<script>
    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            //$('#InvoiceNo').val(data.Data.InvoiceNo);           
            var AppValues = data.Data.InvoiceNo.split(",")
            $('#InvoiceNo').val(AppValues[0]);
            $('#ServiceType').val(AppValues[1]);

            $('#BtnGenerateIRN').removeAttr('disabled');
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#btnsave').attr('disabled', 'disabled');
            $('#btnPrint').removeAttr('disabled');
            //  setTimeout(ResetField, TimeInSeconds);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {
        //$('#DivBody').load('/Import/Kdl_CWCExport/CreateContPaymentSheet'); // added
        $('#DivBody').load('/Export/Ppg_CWCExport/CreateLoadedContainerPaymentSheet');
    }



    function PrintInvoice() {


        debugger;
        var invoiceno = $('#InvoiceNo').val();

        //if (invoiceno == '')
        //{
        //    alert('No Invoice No');
        //    return;
        //}

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            /*url: 'Url.Action("YardInvoicePrint", "Ppg_CWCImport", new { Area = "Import" }) ',*/
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWCV2", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'EXPLod',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'Loaded Container Payment Sheet',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });



    
    }


    function ShowRequestNo() {
        debugger;
        $.ajax({
            url: '/Export/Ppg_CWCExport/GetRequestNoForLoadedContainer',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    
                    $('#hdnStuffingReq').val(data);
                    var EcJson = JSON.parse(data);
                    var html = '';
                   
                    $.each(EcJson, function (i, item) {

                        html += '<li id="' + item.StuffingReqId + '" onclick="selectStuffing(' + item.StuffingReqId + ');">' + item.StuffingReqNo + '</li>';
                    });
                    $('#lststuffing').html(html);
                   
                }
            }
        });
    }

    function ShowParty() {
        debugger;
        $.ajax({
            url: '/Export/Ppg_CWCExport/GetPartyForLoadedContainer',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {

                    $('#hdnPartyPayee').val(data);
                    var EcJson = JSON.parse(data);
                    var html = '';

                    $.each(EcJson, function (i, item) {

                        html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
                    });
                    $('#lstParty').html(html);
                    var html = '';

                    $.each(EcJson, function (i, item) {
                    html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';

                    });
                $('#lstPayee').html(html);
                }
            }
        });
    }

    
    

</script>
<script>




</script>