@if (ViewBag.ShippingLine != null)
{
    <input type="hidden" id="hdnShippingLine" value="@ViewBag.ShippingLine" />
}
else
{
    <input type="hidden" id="hdnShippingLine" value="" />
}

@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}

@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}
@if (ViewBag.GodownListF != null)
{
    <input type="hidden" id="hdnGodownListF" value="@ViewBag.GodownListF" />
}
else
{
    <input type="hidden" id="hdnGodownListF" value="" />
}
@if (ViewBag.RightsList != null)
{
    <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
}
else
{
    <input type="hidden" id="hdnRights" value="" />
}

<input type="hidden" id="hdnDate" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" />

<script src="~/Areas/Export/Scripts/App/Services/CargoShiftingService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/CargoShiftingCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('CargoShiftAppDiv'), ['CWCApp']);
</script>

<div id="CargoShiftAppDiv" ng-controller="CargoShiftingCtrl">
    <div class="container-fluid">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Cargo Shifting</h4>
                    </div>
                </div>
                
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Invoice No :</label>
                        </div>
                        <div class="col-md-2-5">
                            <input type="text" id="InvoiceNo" ng-disabled="true" ng-model="InvoiceNo"/>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Shifting No :</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="ShiftngNo" name="ShiftngNo" readonly="true" type="text" value="" ng-model="ShiftingNo">
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                            <label>Shifting Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img">
                            <input class="form-control input-sm" id="ShiftngDate" name="ShiftngDate" readonly="true" type="text" ng-model="ShiftngDate">
                        </div>
                    </div>
                </div>
               
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Shifting Type:</label>
                        </div>
                        <div class="col-md-2-5">
                            <select ng-model="ShiftingType" ng-change="onShiftingChange()" ng-disabled="isDisabled">
                                <option value="">--Select--</option>
                                <option value="{{t.Id}}" ng-repeat="t in ShiftingTypeList">{{t.ShiftingType}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>From Shipping</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            <input class="form-control input_sm" id="FrmShipping" name="FrmShipping" readonly="true" type="text" ng-model="ShippingLineNameF">
                            <span class="search"  id="FrmShippingSerach"><i class="fa fa-search" ng-show="IsShipping" aria-hidden="true" data-toggle="modal" id="f_shipping" ng-click="GetShippingLine();" data-target="#FromShippingModal"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>To Shipping</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            <input class="form-control input_sm" id="ToShipping" name="ToShipping" readonly="true" type="text" ng-model="ShippingLineNameT">
                            <span class="search"  id="ToShippingSerach"><i class="fa fa-search" ng-show="IsShipping"  aria-hidden="true" data-toggle="modal" id="t_shipping" ng-click="GetShippingLine();" data-target="#ToShippingModal"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>From Godown:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input_sm" id="FrmGodown" name="FrmGodown" readonly="true" type="text" ng-model="GodownNameF">
                            <span class="search"  id="FrmGodownSerach"><i class="fa fa-search" ng-show="IsGodown" aria-hidden="true" data-toggle="modal" id="f_Godown" ng-click="GetGodown();" data-target="#FrmGodownModal"></i></span>
                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                            <label>To Godown:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input_sm" id="ToGodown" name="ToGodown" readonly="true" type="text" ng-model="GodownNameT">
                            <span class="search"  id="ToGodownSerach"><i class="fa fa-search" ng-show="IsGodown" aria-hidden="true" data-toggle="modal" id="t_Godown" ng-click="GetGodownTo();" data-target="#ToGodownModal"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Party</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            <input class="form-control input_sm" id="Party" name="Party" readonly="true" type="text" ng-model="PartyName">
                            <input class="form-control input_sm" id="PartyId" name="PartyId" ng-hide="true" type="text" ng-model="PartyId">
                            <span class="search" ng-hide="IsCalculate" id="PartySerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="partyID" ng-click="GetParty();" data-target="#PartyModal"></i></span>
                        </div>
                    </div>
                </div>


                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Place Of Supply:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="PlaceOfSupply" name="PlaceOfSupply" readonly="true" type="text" ng-model="PlaceOfSupply">
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>GST No:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input-sm" id="GstNo" name="GstNo" readonly="true" type="text" ng-model="GSTNo">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top">
                        
                    </div>
                </div>

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">@Html.DisplayName("Entry No")</th>
                                    <th class="text-center">@Html.DisplayName("Carting Date")</th>
                                    <th class="text-center">@Html.DisplayName("Ship Bill No")</th>
                                    <th class="text-center">@Html.DisplayName("Ship Bill Date")</th>
                                    <th class="text-center">@Html.DisplayName("Package")</th>
                                    <th class="text-center">@Html.DisplayName("Gross Weight (Kg)")</th>
                                    <th class="text-center">@Html.DisplayName("SQM")</th>
                                    <th class="text-center">
                                        <div class="boolean-container">
                                            <input type="checkbox" id="AllChkbox" ng-disabled="IsCalculate" ng-model="CheckAll" ng-click="CheckCheckBox()"/>
                                            <label for="AllChkbox"><i class="square"></i></label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="s in shipbills">
                                    <td class="text-center">{{s.CartingRegisterNo}}</td>
                                    <td class="text-center">{{s.RegisterDate}}</td>
                                    <td class="text-center">{{s.ShippingBillNo}}</td>
                                    <td class="text-center">{{s.ShippingBillDate}}</td>
                                    <td class="text-center">{{s.ActualQty}}</td>
                                    <td class="text-center">{{s.ActualWeight}}</td>
                                    <td class="text-center">{{s.SQM}}</td>
                                    <td class="text-center">
                                        <div class="boolean-container">
                                            <input type="checkbox" id={{s.CartingRegisterDtlId}} ng-model="s.IsChecked" ng-disabled="IsCalculate" ng-click="UnCheckBox()"/>
                                            <label for={{s.CartingRegisterDtlId}}><i class="square"></i></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn log_Btn_sm" value="Calculate Invoice" ng-disabled="IsCalculate ||!CountShipBill()" ng-click="GetCargoShiftingInvoice()"/>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <table id="tblCargoShpCharges" class="table table-bordered table-striped dataTable Table_center">
                            <thead>
                                <tr>
                                    <th rowspan="2">Charges</th>
                                    <th rowspan="2">Value</th>
                                    <th colspan="2" class="text-center">IGST</th>
                                    <th colspan="2" class="text-center">CGST</th>
                                    <th colspan="2" class="text-center">SGST</th>
                                    <th rowspan="2" style="width:15%;">Total</th>
                                </tr>
                                <tr>
                                    <th>%</th>
                                    <th>Amt</th>
                                    <th>%</th>
                                    <th>Amt</th>
                                    <th>%</th>
                                    <th style="border-right:1px solid #ddd;">Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in InvoiceObj.lstPostPaymentChrg">
                                    <td>{{r.ChargeName}}[{{r.Clause}}]</td>
                                    <td style="text-align:right;">{{r.Taxable}}</td>
                                    <td style="text-align:right;">{{r.IGSTPer}}</td>
                                    <td style="text-align:right;">{{r.IGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.CGSTPer}}</td>
                                    <td style="text-align:right;">{{r.CGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.SGSTPer}}</td>
                                    <td style="text-align:right;">{{r.SGSTAmt}}</td>
                                    <td style="text-align:right;">{{r.Total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-right">Total Invoice Amount:</td>
                                    <td style="font-weight:bold;color:#ff0000;text-align:right;">{{InvoiceObj.InvoiceAmt}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5">
                            <label>Remarks:</label>
                        </div>
                        <div class="col-md-10-5">
                            <textarea id="Remarks" style="height:75px;" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_bottom">
                    <div class="col-md-offset-3 col-md-2">
                        <input type="button" id="BtnMOveCargoShp" class="btn log_Btn_sm" value="Move" ng-click="AddEditCargoShifting()" ng-disabled="disMove"/>
                    </div>
                    <div class="col-md-2">
                        <input type="button"  class="btn log_Btn_sm" value="Reset" onclick="ResetPage()" />
                    </div>
                    <div class="col-md-2">
                        <input type="button"  class="btn log_Btn_sm" value="Print" onclick="PrintInvoice()" ng-disabled="InvoiceNo==''||InvoiceNo==null" />
                    </div>
                </div>
                <div class="logSuccMsg" style="background-color:transparent">{{Message}}</div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FrmGodownModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Godown</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="FrmGodownModalbox" type="text" ng-model="FrmGodownModalbox" />
                    <ul class="navList" id="">
                        <li ng-repeat="g in GodownsF | filter :{ GodownName:FrmGodownModalbox }" ng-click="SelectGodownF(g)">{{g.GodownName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ToGodownModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Godown</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ToGodownbox" type="text" ng-model="ToGodownbox" />
                    <ul class="navList" id="">
                        <li ng-repeat="g in Godowns | filter :{ GodownName:ToGodownbox}" ng-click="SelectGodownT(g)">{{g.GodownName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FromShippingModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="FrmShippingbox" type="text" ng-model="FrmShippingbox" />
                    <ul class="navList" id="">
                        <li ng-repeat="p in ShippingLines | filter: {PartyName : FrmShippingbox }" ng-click="SelectShippingLineF(p)">{{p.PartyName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ToShippingModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ToShippingbox" type="text" ng-model="ToShippingbox" />
                    <ul class="navList" id="">
                        <li ng-repeat="p in ShippingLines | filter: {PartyName : ToShippingbox }" ng-click="SelectShippingLineT(p)">{{p.PartyName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PartyModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Party Names</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="PartyModalbox" type="text" ng-model="PartyModalbox" />
                    <ul class="navList" id="">
                        <li ng-repeat="p in PartyList | filter: {PartyName : PartyModalbox }" ng-click="SelectParty(p)">{{p.PartyName}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script>

    $('#ShiftngDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    var TaxType = '@ViewData["InvType"].ToString()';
    function ResetPage()
    {
        $('#DivBody').load('/Export/Ppg_CWCExport/CreateCargoShifting');
    }
    function PrintInvoice()
    {
        var invoiceno = $('#InvoiceNo').val();
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWC", new { Area = "Report" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: {
                InvoiceNumber: invoiceno,
                InvoiceModule: 'EXPCRGSHFT',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'CARGO SHIFTING',
            },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Data);
            }
        });
    }
</script>