@model IEnumerable<CwcExim.Areas.Export.Models.ppgExportTrainSummaryUpload>
<table class="table table-bordered table-striped" id="tblTrainSummary" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Train No</th>
            <th>Train Date</th>
            <th>Port Name</th>
            <th>Upload Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="ViewTrainSummary(@item.TrainSummaryUploadId,'@item.TrainNo','@item.TrainDate','@item.PortName')"><i class="fa fa-eye"></i></a></div></td>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.TrainNo</td>
                    <td>@item.TrainDate</td>
                    <td>@item.PortName</td>
                    <td>@item.UploadDate</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblTrainSummary= $('#tblTrainSummary').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "View", "bSortable": false, "width": "9%" },
                       { "sName": "SL No","width": "10%" },
                       { "sName": "Train No" },
                       { "sName": "Train Date", "bSortable": false },
                       { "sName": "Port Name" },
                       { "sName": "Upload Date" },
            ]
        });
        new $.fn.dataTable.FixedHeader(tblTrainSummary);
    });
    function ViewTrainSummary(TrainSummaryUploadId,TrainNo,TrainDate,PortName)
    {
        debugger;
        $.ajax({
            type: 'GET',
            url: '/Export/Ppg_CWCExport/GetTrainSummaryDetails',
            data : {TrainSummaryUploadId:TrainSummaryUploadId},
            dataType: 'JSON',
            success: function (data) {
                if (data != null) {
                    debugger;
                    TrainSummaryUploadListFromXL = [];
                    TrainSummaryUploadListFromXL = data;
                    CanDelete = false;
                    $('#TrainNo').val(TrainNo);
                    $('#TrainDate').val(TrainDate);
                    $('#PortName').val(PortName);
                    PopulateGrid();
                    $('#btnSave').attr('disabled', true);
                    $('#btnUpload').attr('disabled', true);
                }
            }
        });
    }
    function PopulateGrid() {
        var html = '';
        $.each(TrainSummaryUploadListFromXL, function (i, item) {
            html += '<tr><td class="text-center"><div class="table_icon"><a href="#" onclick="Delete(' + item.SrNo + ')"><i class="fa fa-window-close-o Delete"></i></a></div></td>'
                  +'<td class="text-center">' + item.SrNo + '</td>'
                   // + '<td>' + item.Wagon_No + '</td>'
                    + '<td class="text-center">' + item.ContainerNo + '</td>'
                    + '<td class="text-center">' + item.SZ + '</td>'
                    + '<td class="text-center">' + item.LineSeal + '</td>'
                    + '<td class="text-center">' + item.Commodity + '</td>'
                    + '<td class="text-center">' + item.SLine + '</td>'
                    //+ '<td>' + item.Ct_Tare + '</td>'
                    //+ '<td>' + item.Cargo_Wt + '</td>'
                    //+ '<td>' + item.Gross_Wt + '</td>'
                    //+ '<td>' + item.Ct_Status + '</td>'
                    //+ '<td>' + item.Destination + '</td>'
                    //+ '<td>' + item.Smtp_No + '</td>'
                    //+ '<td>' + item.Received_Date + '</td>'
                    //+ '<td>' + item.Genhaz + '</td>'
                    + '<td class="text-center">' + item.StatusDesc + '</td></tr>';
        });
        $('#tblTrainSummaryUpload tbody').html(html);
        $('#btnSave').attr('disabled', (TrainSummaryUploadListFromXL.length == 0));
    }

</script>


