@model IEnumerable<CwcExim.Areas.Export.Models.Ppg_CartingRegister>

<style>
    .fixedHeader-floating{
        display:none !important;
    }
</style>
<table class="table table-bordered table-striped" id="tblCrtRegisterDtl">
    <thead>
        <tr>
            <th style="width:10px;" class="text-center">@Html.DisplayName("Edit")</th>
            <th style="width:10px;" class="text-center">@Html.DisplayName("View")</th>
            <th style="width:10px;" class="text-center">@Html.DisplayName("Delete")</th>
            <th style="width:10px;" class="text-center">@Html.DisplayName("SL No")</th>
            <th style="width:100px;">@Html.DisplayNameFor(m => m.CartingRegisterNo)</th>
            <th style="width:100px;">Register Date</th>
            <th style="width:100px;">@Html.DisplayNameFor(m => m.ApplicationNo)</th>
            <th style="width:100px;">@Html.DisplayName("Shipping Bill No")</th>

        </tr>
    </thead>
    <tbody>
        @{ var SerialNo = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td style="width:10px;" class="text-center"><div class="table_icon"><a href="#" class="edit" onclick="EditRegisterDetails(@data.CartingRegisterId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td style="width:10px;" class="text-center"><div class="table_icon"><a href="#" class="view" onclick="ViewRegisterDetails(@data.CartingRegisterId)"><i class="fa fa-eye"></i></a></div></td>
                    <td style="width:10px;" class="text-center"><div class="table_icon"><a href="#" class="delete" onclick="DeleteRegisterDetails(@data.CartingRegisterId)"><i class="fa fa-trash-o"></i></a></div></td>
                    <td style="width:10px;"  class="text-center">@SerialNo.ToString()</td>
                    <td style="width:100px;">@data.CartingRegisterNo</td>
                    <td style="width:100px;">@data.RegisterDate</td>
                    <td style="width:100px;">@data.ApplicationNo</td>
                    <td style="width:100px;">@data.ShippingBillNo</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="btn btn-primary mr-1 btn-100px" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>

    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.CanEdit == 1) {
        
    } else {        
        $('.edit').removeAttr('onclick');
        $('.edit').attr('onclick', 'return false');
    }

    if (r2.CanDelete == 1) {
       
    } else {      
        $('.delete').removeAttr('onclick');
        $('.delete').attr('onclick', 'return false');
    }

    if (r2.CanView == 1) {
    }
    else {
        $('.view').removeAttr('onclick');
        $('.view').attr('onclick', 'return false');
    }


    $(document).ready(function () {
        var tblCrtRegisterDtl = $('#tblCrtRegisterDtl').DataTable({
            "autoWidth": false,
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                        { "sName": "Edit", "bSortable": false, "width": "10px" },
                       { "sName": "View", "bSortable": false, "width": "10px" },
                       { "sName": "Delete", "bSortable": false, "width": "10px" },
                       { "sName": "SL No","width": "10px" },
                       { "sName": "CartingRegisterNo", "bSortable": false,"width": "100px"  },
                       { "sName": "RegisterDate", "bSortable": false ,"width": "100px" },
                       { "sName": "ApplicationNo", "bSortable": false ,"width": "100px"},
                       { "sName": "ShippingBillNo" ,"width": "100px"},
                       //{ "sName": "PrintPreview", "bSortable": false, "width": "10%" },

            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull)
            {
                $('td:eq(0)', nRow).css("width", "10px");
                $('td:eq(0)', nRow).css("text-align", "center");
                $('td:eq(1)', nRow).css("width", "100px");
                $('td:eq(2)', nRow).css("width", "100px");
                $('td:eq(3)', nRow).css("width", "100px");
                $('td:eq(3)', nRow).css("text-align", "center");
                $('td:eq(4)', nRow).css("width", "100px");
                $('td:eq(5)', nRow).css("width", "10px");
                $('td:eq(6)', nRow).css("width", "10px");
                $('td:eq(7)', nRow).css("width", "10px");
            }
        });
        new $.fn.dataTable.FixedHeader(tblCrtRegisterDtl);
    });
    function DeleteRegisterDetails(CartingRegisterId)
    {
        var Status=confirm("Are you sure you want to Delete?");
        if(Status==true)
        {
            var Val=$('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'/Export/Ppg_CWCExport/DeleteCartingRegister',
                type:'POST',
                headers:{"__RequestVerificationToken":Val},
                data:{CartingRegisterId:CartingRegisterId},
                dataType:'JSON',
                success:function(data)
                {
                    if(data.Status==1)
                    {
                        alert(data.Message);
                        LoadCartingRegPage();
                    }
                    else
                        alert(data.Message);
                },
                
            });
        }
    }

    function LoadCartingRegPage(){
        $('#DivBody').load('/Export/Ppg_CWCExport/CreateCartingRegister');
    }
    function ViewRegisterDetails(CartingRegisterId)
    {
        $('#DivBody').load( '/Export/Ppg_CWCExport/ViewCartingRegister?CartingRegisterId='+CartingRegisterId);
    }
    function EditRegisterDetails(CartingRegisterId)
    {
        $('#DivBody').load( '/Export/Ppg_CWCExport/EditCartingRegister?CartingRegisterId='+CartingRegisterId);
    }

    function LoadMoreListData() {
        debugger;

        $.ajax({
            url: '/Export/Ppg_CWCExport/LoadMoreCartingList',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;

                if (Array.isArray(data) && data.length > 0) {
                    Page++;

                    var dt = $('#tblCrtRegisterDtl').DataTable();
                    var len = dt.data().length;

                    $.each(data, function (i, item) {
                        len++;

                        dt.row.add([
                            '<div class="table_icon"><a href="#" onclick="EditRegisterDetails(' + item.CartingRegisterId + ')"><i class="fa fa-pencil"></i></a></div>',
                            '<div class="table_icon"><a href="#" onclick="ViewRegisterDetails(' + item.CartingRegisterId + ')"><i class="fa fa-eye"></i></a></div>',
                            '<div class="table_icon"><a href="#" onclick="DeleteCartingRegister(' + item.CartingRegisterId + ')"><i class="fa fa-trash-o"></i></a></div>',
                            len,
                            item.CartingRegisterNo,
                            item.RegisterDate,
                            item.ApplicationNo,
                            item.ShippingBillNo
                        ]).draw(false);
                    });
                } else {
                    alert('No more data available');
                }
            },
            error: function (xhr, status, error) {
                console.error("AJAX error:", status, error);
                alert('Failed to load more data.');
            }
        });
    }

</script>
