@model IEnumerable<CwcExim.Areas.Export.Models.Ppg_CargoShiftingApproval>
<table class="table table-bordered table-striped" id="tblList" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Sl No")</th>
            <th class="text-center">Shifting No</th>
            <th class="text-center">Shifting Date</th>
            @*<th>Invoice No</th>*@
            <th class="text-center">From Godown Name</th>
            <th class="text-center">To Godown Name</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a href="#" class="view" onclick="ViewApprovalData(@data.CargoShiftingId)"><i class="fa fa-eye"></i></a></div></td>
                    <td class="text-center">@Serial.ToString()</td>
                    <td class="text-center">@data.ShiftingNo</td>
                    <td class="text-center">@data.ShiftingDt</td>
                    @*<th>@data.InvoiceNo</th>*@
                    <td class="text-center">@data.FromGodownName</td>
                    <td class="text-center">@data.ToGodownName</td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblList = $('#tblList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "View", "bSortable": false, "width": "9%" },
                       { "sName": "SL No", "width": "9%" },
                       { "sName": "Shifting No", "bSortable": false },
                       { "sName": "Shifting Date", "bSortable": false },
                       //{ "sName": "Invoice No", "bSortable": false },
                       { "sName": "From Godown Name", "bSortable": false },
                       { "sName": "To Godown Name", "bSortable": false }
            ]
        });
        new $.fn.dataTable.FixedHeader(tblList);
    });
    function ViewApprovalData(CargoShiftingId)
    {
        $('#DivBody').load('/Export/Ppg_CWCExport/ViewCargoShiftingApproval?CargoShiftingId=' + CargoShiftingId);
    }
</script>