@model IEnumerable<CwcExim.Areas.Export.Models.ListLoadContReq>
<table class="table table-bordered table-striped" id="tblContReq" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("Delete")</th>
            <th class="text-center">@Html.DisplayName("Print")</th>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayName("Container / CBT Request No")</th>
            <th>@Html.DisplayName("Container / CBT Request Date ")</th>
            <th>@Html.DisplayName("CHA")</th>
        </tr>
    </thead>
    <tbody>
        @{var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a class="edit" href="#" onclick="EditContReq(@item.LoadContReqId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a class="view" href="#" onclick="ViewContReq(@item.LoadContReqId)"><i class="fa fa-eye"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a class="delete" href="#" onclick="DelContReq(@item.LoadContReqId)"><i class="fa fa-trash-o"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a class="delete" href="#" onclick="PrintContReq(@item.LoadContReqId)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></div></td>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.LoadContReqNo</td>
                    <td>@item.LoadContReqDate</td>
                    <td>@item.CHAName</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        debugger;
     /*   var r2 = JSON.parse($("#hdnRights").val());
        if (r2.lstMenu[0].CanEdit == 1) {

        } else {
            $('.edit').removeAttr('onclick');
            $('.edit').attr('onclick', 'return false');
        }

        if (r2.lstMenu[0].CanDelete == 1) {

        } else {
            $('.delete').removeAttr('onclick');
            $('.delete').attr('onclick', 'return false');
        }

        if (r2.lstMenu[0].CanView == 1) {
        }
        else {
            $('.view').removeAttr('onclick');
            $('.view').attr('onclick', 'return false');
        }*/




        var tblContReq = $('#tblContReq').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                        { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Delete", "bSortable": false, "width": "10%" },
                       { "sName": "Print", "bSortable": false, "width": "10%" },
                       { "sName": "SL No","width": "8%" },
                       { "sName": "LoadContReqNo", "bSortable": false },
                       { "sName": "LoadContReqDate", "bSortable": false },
                       { "sName": "CHAName" }

            ]
        });
        new $.fn.dataTable.FixedHeader(tblContReq);
    });
    function EditContReq(LoadContReqId)
    {
        $('#DivBody').load('/Export/Ppg_CWCExport/EditLoadContainerRequest?LoadContReqId=' + LoadContReqId);
    }
    function ViewContReq(LoadContReqId)
    {
        $('#DivBody').load('/Export/Ppg_CWCExport/ViewLoadContainerRequest?LoadContReqId=' + LoadContReqId);
    }

    function DelContReq(LoadContReqId) {
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("DeleteLoadContReq", "Ppg_CWCExport", new { areas="Export"}) ',
                type: 'POST',
                data: { LoadContReqId: LoadContReqId },
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                success: function (data) {
                    alert(data.Message);
                    if (data.Status == 1)
                        $('#DivLoadContList').load('/Export/Ppg_CWCExport/ListLoadContainerRequest');
                }
            });
        }
    }

    function PrintContReq(LoadContReqId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/Export/Ppg_CWCExport/PrintLoadedRequest",
            type: "POST",  
            dataType: "JSON",
            data: { LoadContReqId: LoadContReqId },
            headers: { "__RequestVerificationToken": Token },
            async: false,
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                }
                else {
                    alert(data.Message);
                }
            }
        });
    }

  
</script>

