@model CwcExim.Areas.Export.Models.Ppg_AmendmentViewModel
<div class="content_wrp">
    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Invoice No:</label>
            </div>
            @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>Invoice Date:</label>
            </div>
            @Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true })
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Ship Bill No:</label>
            </div>
            @Html.TextBoxFor(m => m.ShipBillNo, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>Date:</label>
            </div>
            <div class="position-relative Date_Img">
                @Html.TextBoxFor(m => m.Date, new { @readonly = true })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
    </div>
    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Exporter:</label>
            </div>
            @Html.TextBoxFor(m => m.ExporterName, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>ShippingLineName:</label>
            </div>
            @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Commodity:</label>
            </div>
            @Html.TextBoxFor(m => m.Cargo, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>SB Type:</label>
            </div>
            @Html.TextBoxFor(m => m.SBTypeName, new { @readonly = true })
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Weight:</label>
            </div>
            @Html.TextBoxFor(m => m.Weight, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>Pkg:</label>
            </div>
            @Html.TextBoxFor(m => m.Pkg, new { @readonly = true })
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Ship Bill No:</label>
            </div>
            @Html.TextBoxFor(m => m.NewShipBillNo, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>Date:</label>
            </div>
            <div class="position-relative Date_Img">
                @Html.TextBoxFor(m => m.ShipbillDate, new { @readonly = true })
            </div>
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>FOB Value:</label>
            </div>
            @Html.TextBoxFor(m => m.FOB, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>Port Of Loading:</label>
            </div>
            @Html.TextBoxFor(m => m.PortOfLoading, new { @readonly = true })
        </div>
    </div>

    <div class="row Form_Space_top">
        <div class="col-md-3">
            <div class="form-group">
                <label>Port Of Destination:</label>
            </div>
            @Html.TextBoxFor(m => m.PortOfDest, new { @readonly = true })
        </div>
        <div class="col-md-3 col-md-offset-6">
            <div class="form-group">
                <label>Godown Name:</label>
            </div>
            @Html.TextBoxFor(m => m.GodownName, new { @readonly = true })
        </div>
    </div>

    <div class="d-flex justify-content-left Form_Space_top">
        <input type="button" id="btnBack" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="$('#DivBody').load('/Export/Ppg_CWCExport/Amendment')">
    </div>
</div>