@model CwcExim.Areas.Export.Models.PPGExportJobOrder

<script src="~/Areas/Export/Scripts/App/Services/JobOrderService.js"></script>
<script src="~/Areas/Export/Scripts/App/Controllers/JobOrderCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('JobOrderAppDiv'), ['CWCApp']);
</script>
<style>
    #DivFormOneDet {
        height: 500px;
        overflow-x: hidden;
    }
</style>

<div id="JobOrderAppDiv" ng-controller="JobOrderCtrl">

    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Job Order</h4>
                    </div>
                </div>
                <div class="content_wrp">
                    @Html.HiddenFor(m => m.StringifyXML)
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Pickup Location:</label>
                            </div>
                            @if (Model.lstpickup.Count > 0)
                            {
                                @Html.DropDownListFor(m => m.PickUpLocation, new SelectList(Model.lstpickup, "pickup_location", "pickup_location"), "---Select---", new { @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.PickUpLocation, Enumerable.Empty<SelectListItem>(), "----Select----", new { @disabled = "disabled" })
                            }
                            @Html.ValidationMessageFor(m => m.PickUpLocation, "", new { @class = "Error_Msg" })

                        </div>
                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                <label>Job Order No:</label>
                            </div>
                            @Html.TextBoxFor(m => m.JobOrderNo, new { @readonly = true })
                            @Html.HiddenFor(m => m.ImpJobOrderId)
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                <label>Job Order Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.JobOrderDate, new { @readonly = true })
                            </div>
                        </div>
                    </div>


                    <div class="row Form_Space_top">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Job Order For:</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="hidden" id="joborderCheck" />
                                <input type="hidden" id="trainCheck" />
                                <label class="Radiocontainer">
                                    Loaded Container / CBT
                                    @Html.RadioButtonFor(m => m.JobOrderFor, "2", new { @id = "rbLC", @checked = true })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Transport By:</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="Radiocontainer">
                                    Rail
                                    @Html.RadioButtonFor(m => m.TransportBy, "2", new { @id = "Rail", @checked = true })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        @Html.HiddenFor(m => m.TrainSummaryID)
                        @Html.Hidden("FormOneDetailId")
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Train No.:</label>
                            </div>
                            @Html.TextBoxFor(m => m.TrainNo, new { @readonly = true })
                            @Html.ValidationMessageFor(m => m.TrainNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Train Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                @Html.TextBoxFor(m => m.TrainDate, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="brdr_sec Form_Space_top">
                        <div ng-hide="true">
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label class="InputLabel" for="CNNo">Container / CBT No.</label><span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        <input class="form-control input-sm" id="CNNo" name="CNNo" type="text" value="" autocomplete="off" readonly>
                                    </div>

                                    <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>Size:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("size", new List<SelectListItem>{
                                        new SelectListItem {Text="20",Value="20" },
                                        new SelectListItem {Text="40",Value="40" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = "disabled" })
                                        @Html.ValidationMessage("size", "", new { @class = "Error_Msg" })



                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label class="InputLabel" for="CSNo">Custom Seal No.</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        <input class="form-control input-sm" id="CSNo" name="CSNo" type="text" value="" autocomplete="off">
                                    </div>

                                    <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label class="InputLabel" for="SLNo">Shipping Line No:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        <input class="form-control input-sm" id="SLNo" name="SLNo" type="text" value="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label class="InputLabel" for="SLine">Shipping Line:</label>
                                    </div>
                                    <div class="col-md-10-5">
                                        <input class="form-control input-sm" id="SLine" name="SLine" type="text" value="" readonly>
                                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#slmodal"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label class="InputLabel" for="CrType">Cargo Type</label><span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        @Html.DropDownList("CrType", new List<SelectListItem>{
                                        new SelectListItem {Text="HAZ",Value="HAZ" },
                                        new SelectListItem {Text="Non HAZ",Value="Non HAZ" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = "disabled" })
                                        @Html.ValidationMessage("CrType", "", new { @class = "Error_Msg" })


                                    </div>

                                    <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label class="InputLabel" for="CLType">Container / CBT Load Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("CLType", new List<SelectListItem>{
                                        new SelectListItem {Text="FCL",Value="FCL" },
                                        new SelectListItem {Text="LCL",Value="LCL" }
                                        ,
                                        new SelectListItem {Text="DD",Value="DD" }
                                      }, "---Select---", new { @class = "form-control input-sm dropdown", @disabled = "disabled" })
                                        @Html.ValidationMessage("CLType", "", new { @class = "Error_Msg" })


                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label class="InputLabel" for="TForm">Transport Form</label><span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        @Html.Hidden("PortID")
                                        @if (Model.lstPort.Count > 0)
                                        {
                                            @Html.DropDownList("TransportForm", new SelectList(Model.lstPort, "PortName", "PortName"), "---Select---", new { @class = "form-control input-sm dropdown" })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("TransportForm", Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control input-sm dropdown" })
                                        }
                                        @Html.ValidationMessage("TransportForm", "", new { @class = "Error_Msg" })


                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label class="InputLabel" for="NPckg">No of Packages</label><span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        <input class="form-control input-sm" id="NPckg" name="NPckg" type="text" value="" autocomplete="off">
                                    </div>
                                    <div class="col-md-offset-4 col-md-1-5 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label class="InputLabel" for="GWeg">Gross Weight(Kg)</label><span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5">
                                        <input class="form-control input-sm" id="GWeg" name="GWeg" type="text" value="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "InputLabel", @style = "width:100%;height:100px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label class="InputLabel" for="CargoDescription">Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <textarea cols="20" id="CargoDescription" name="CargoDescription" rows="2" style="width:100%;height:100px"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="SignUp_space_bottom SignUp_space_top"><div class="clearfix"></div></div>
                        </div>

                        <div class="Form_Space_top">
                            <div id="DivFormOneDet">
                                <table class="table table-striped table-bordered dataTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th width="10%">Container / CBT No.</th>
                                            <th width="5%">Size</th>
                                            <th width="10%">Shipping Line No</th>
                                            <th>Shipping Line</th>
                                            <th>Cargo Type</th>
                                            <th width="8%">Container / CBT Load Type</th>
                                            <th>Transport From</th>
                                            <th width="8%">Gross Wt.</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="j in JODetails">
                                            <td>{{$index+1}}</td>
                                            <td width="10%"><input type="text" ng-model="j.Container_No" ng-disabled="true" /></td>
                                            <td width="5%"><input type="text" ng-model="j.CT_Size" ng-disabled="true" /></td>
                                            <td width="10%"><input type="text" ng-model="j.S_Line" ng-disabled="true" /></td>
                                            <td style="position:relative;">
                                                <input type="text" ng-model="j.ShippingLineName" id="ShippingLineName_{{$index}}" ng-disabled="true" />
                                                @*<span class="search" style="top: 5px; right: 15px;"><i class="fa fa-search" aria-hidden="true" ng-model="j.Slmodal" ng-click="onShippingLineChange($index)" data-toggle="modal" data-target="#slmodal"></i></span>*@
                                                <input type="text" ng-hide="true" ng-model="j.ShippingLineId" />
                                            </td>
                                            <td>
                                                <select ng-model="j.CargoType" ng-disabled="true">
                                                    <option value="">--Select--</option>
                                                    <option value="{{s.id}}" ng-repeat="s in CargoTypeList">{{s.CargoType}}</option>
                                                </select>

                                            </td>
                                            <td width="8%">
                                                <select ng-model="j.Ct_Status" ng-disabled="true">
                                                    <option value="">--Select--</option>
                                                    <option value="{{t.id}}" ng-repeat="t in ContainerLoadTypeList">{{t.ContainerLoadType}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select ng-model="j.PortId" ng-options="p.PortId as p.PortName for p in TransportFromList" ng-disabled="true"></select>
                                            </td>
                                            <td width="8%"><input type="text" ng-model="j.Gross_Wt" ng-disabled="true" /></td>
                                            <td><input type="text" ng-model="j.Remarks" ng-disabled="true" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="SignUp_space_bottom SignUp_space_top"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="submit" id="btnBack" class="btn btn-primary btn-100px" value="Back" ng-click="AddOblEntry()">
                    </div>


                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivYardMsg"></div>
                    </div>

                    <div id="DivYardErrMsg" class="logErrMsg" style="background-color:transparent"></div>

                    <div class="row">
                        <div class="col-md-12 SignUp_space_bottom">
                            <div id="DivYardList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="blNomodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Train No.</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="TrainNobox" type="text" />
                    <ul class="navList" id="lstTrainNoNo">
                        @{
                            if (ViewBag.ListOfTrain != null)
                            {
                                foreach (var item in ViewBag.ListOfTrain)
                                {
                                    <li id="@item.TrainSummaryID">@item.TrainNo</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="slmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Shipping Line</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="ShpngLinebox" type="text" />
                    <ul class="lstsline">
                        @{
                            if (ViewBag.ListOfShippingLine != null)
                            {
                                foreach (var item in ViewBag.ListOfShippingLine)
                                {
                                    <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn btn-primary-border btn-100px" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var FormOneDetails = [];
    $(function () {
        $('#JobOrderDate').val('@Model.JobOrderDate.ToString("dd/MM/yyyy")');
        $('#TrainDate').val('@Model.TrainDate.ToString("dd/MM/yyyy")');
        FormOneDetails = $.parseJSON(@Html.Raw(Json.Encode(Model.StringifyXML)));
        //GenerateTable();
    });

    $('#ShpngLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#navList > li').show();
        else {
            $('#navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstsline > li').on("click", function () {
        debugger;
        $('#SLine').val($(this).text().split('(')[0]);
        $('#SlineId').val($(this).attr('id'));
        $("#slmodal").modal("hide");
        //  GetTrainDetails();
    });
    function ResetJobOrder() {
        $('#CNNo, #size, #CSNo, #SLNo,#SLine,#Remarks,#CargoDescription').val('');
        $('#GWeg,#NPckg').val('0');
        //  $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#CrType, #CLType,#TransportForm').prop('selectedIndex', 0);
        //   $('#btnAddFormOneDet').prop("disabled", false);
    }
    function ResetJobOrder() {
        $('#CNNo, #size, #CSNo, #SLNo,#SLine,#Remarks,#CargoDescription').val('');
        $('#GWeg,#NPckg').val('0');
        //  $('#IsReefer, #IsFlatReck').attr('checked', false)
        $('#CrType, #CLType,#TransportForm').prop('selectedIndex', 0);
        //   $('#btnAddFormOneDet').prop("disabled", false);
    }
    function ViewtContainerDet(i) {
        debugger;



        $('#TrainSummarySerial').val(FormOneDetails[i].TrainSummarySerial);
        $('#TrainSummaryID').val(FormOneDetails[i].TrainSummaryID);
        $('#TNo').val(FormOneDetails[i].TrainNo);
        $('#TrainDt').val(FormOneDetails[i].TrainDate);
        $('#PortID').val(FormOneDetails[i].PortId);
        $('#TransportForm').val(FormOneDetails[i].TransportForm);
        $('#CNNo').val(FormOneDetails[i].Container_No);
        $('#size').val(FormOneDetails[i].CT_Size);
        $('#CSNo').val(FormOneDetails[i].CustomSealNo);
        $('#SLNo').val(FormOneDetails[i].ShippingLineNo);
        $('#SlineId').val(FormOneDetails[i].ShippingLineId);
        $('#SLine').val(FormOneDetails[i].ShippingLineName);
        $('#CrType').val(FormOneDetails[i].CargoType);
        $('#CLType').val(FormOneDetails[i].ContainerLoadType);
        $('#NPckg').val(FormOneDetails[i].NoOfPackages);
        $('#GWeg').val(FormOneDetails[i].Gross_Wt);
        $('#Remarks').val(FormOneDetails[i].Remarks);
        $('#CargoDescription').val(FormOneDetails[i].CargoDescription);
        $('#Wagon_No').val(FormOneDetails[i].Wagon_No);
        $('#Line_Seal_No').val(FormOneDetails[i].Line_Seal_No);
        $('#Cont_Commodity').val(FormOneDetails[i].Cont_Commodity);
        $('#Ct_Tare').val(FormOneDetails[i].Ct_Tare);
        $('#Cargo_Wt').val(FormOneDetails[i].Cargo_Wt);
        $('#Ct_Status').val(FormOneDetails[i].Ct_Status);
        $('#Destination').val(FormOneDetails[i].Destination);
        $('#Smtp_No').val(FormOneDetails[i].Smtp_No);
        $('#Received_Date').val(FormOneDetails[i].Received_Date);
        $('#Genhaz').val(FormOneDetails[i].Genhaz);
        //FormOneDetails.splice(i, 1);
        //GenerateTable();


    }
    function GenerateTable() {
        var html = '';


        $('#StringifyXML').val(JSON.stringify(FormOneDetails));
        html = '<table class="table table-bordered table-striped dataTable"><thead><tr><th class="text-center" style="width:10%;">SL No</th><th>Container / CBT No</th><th>Container / CBT Size</th><th>Custom Seal No</th><th style="width:15%;">Cargo Type</th><th>Commodity</th><th style="text-align:center; width:10%;">View</th></tr></thead><tbody>';
        $.each(FormOneDetails, function (i, elem) {
            html += '<tr><td class="text-center" style="width:10%;">' + (i + 1) + '</td><td>' + elem.Container_No + '</td><td>' + elem.CT_Size + '</td><td>' + elem.CustomSealNo + '</td><td>' + elem.CargoType + '</td><td>' + elem.Cont_Commodity + '</td><td style="text-align:center;width:10%;"><a href="#" onclick="ViewtContainerDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
        });
        html += '</tbody></table>';
        $('#DivFormOneDet').html('');
        $('#DivFormOneDet').html(html);
    }
    $('#btnBack').on("click", function () {
        $('#DivBody').load('/Export/Ppg_CWCExport/CreateJobOrder');
    });



</script>
