@model CwcExim.Areas.Export.Models.Ppg_CartingRegister


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Carting Register</h4>
                </div>
            </div>
            @if (ViewBag.check != null)
            {
                <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
            }
            else
            {
                <input type="hidden" id="hdnShippingLineList" value="" />
            }
            <div class="content_wrp">
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Carting No:</label>
                        </div>
                        @Html.TextBoxFor(m => m.CartingRegisterNo, new { @placeholder = "Carting No", @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Register Date:</label>
                        </div>
                        <div class="position-relative Date_Img">
                            @Html.TextBoxFor(m => m.RegisterDate, new { @placeholder = "Register Date", @readonly = true })
                            @Html.ValidationMessageFor(m => m.RegisterDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>CCIN No:</label>
                        </div>
                        <div class="position-relative">
                            @Html.TextBoxFor(m => m.ApplicationNo, new { @placeholder = "Search CCIN No", @readonly = true })
                            <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span>
                            @Html.ValidationMessageFor(m => m.ApplicationNo, "", new { @class = "Error_Msg" })
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>CCIN Date:</label>
                        </div>
                        <div class="position-relative Date_Img">
                            @Html.TextBoxFor(m => m.ApplicationDate, new { @placeholder = "Select CCIN Date", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Carting Type:</label>
                        </div>
                        @Html.TextBox("CartingType", "", new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>Commodity Type:</label>
                        </div>
                        @Html.TextBox("CommodityType", "", new { @readonly = true })
                    </div>
                </div>


                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.CHAName, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Shipping Line:</label>
                        </div>
                        @Html.HiddenFor(m => m.ShippingLineId)
                        @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })

                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.GodownName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.GodownName, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                        </div>
                        @Html.TextBoxFor(m => m.Remarks, new { @style = "width:100%;", @disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="Radiocontainer">
                                Reserved Space
                                @Html.RadioButton("Space", "ReservedSpace", new { id = "ReservedSpace", @onclick = "OnClickSpace('ReservedSpace')" })
                                <span class="checkmark"></span>
                            </label>
                            <label class="Radiocontainer">
                                General Space
                                @Html.RadioButton("Space", "GeneralSpace", new { id = "GeneralSpace", @onclick = "OnClickSpace('GeneralSpace')" })
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top" style="display:none;">
                    <div class="form-group Form_Input">
                        <div class="col-md-2 col-md-offset-1-5 col_cus_offset_2 col_cus_2">
                            <div class="boolean-container">
                                @Html.RadioButton("Space", "ReservedSpace", new { id = "ReservedSpace", @onclick = "OnClickSpace('ReservedSpace')" })
                                <label for="ReservedSpace"><i class="circle"></i><span>Reserved Space</span></label>
                            </div>
                        </div>
                        <div class="col-md-2 col_cus_3">
                            <div class="boolean-container">
                                @Html.RadioButton("Space", "GeneralSpace", new { id = "GeneralSpace", @onclick = "OnClickSpace('GeneralSpace')" })
                                <label for="GeneralSpace"><i class="circle"></i><span>General Space</span></label>
                            </div>
                            @Html.HiddenFor(m => m.SpaceType, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div id="DivShippingDetails" style="display:none;" class="Head_h5">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Carting Details</h5>
                        </div>
                    </div>
                    @Html.Hidden("CartingAppDtlId")

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Shipping Bill No:</label>
                            </div>
                            @Html.TextBox("ShippingBillNo", "", new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Shipping Bill Date:</label>
                            </div>
                            @Html.TextBox("ShippingBillDate", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Exporter:</label>
                            </div>
                            @Html.TextBox("Exporter", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Cargo Description:</label>
                            </div>
                            @Html.TextBox("CargoDescription", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Commodity:</label>
                            </div>
                            @Html.TextBox("Commodity", "", new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Cargo Type:</label>
                            </div>
                            @Html.TextBox("CargoType", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Marks & No:</label>
                            </div>
                            @Html.TextBox("MarksAndNo", "", new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>No of Units:</label>
                            </div>
                            @Html.TextBox("NoOfUnits", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Weight (Kg):</label>
                            </div>
                            @Html.TextBox("Weight", "", new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>CUM:</label>
                            </div>
                            @Html.TextBox("CUM", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Actual Unit:</label>
                            </div>
                            @Html.TextBox("ActualQty", "", new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>SQM:</label>
                            </div>
                            @Html.TextBox("SQM", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>FOB Value:</label>
                            </div>
                            @Html.TextBox("FOBValue", "", new { @readonly = true })
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Gross Weight (Kg):</label>
                            </div>
                            @Html.TextBox("ActualWeight", "", new { @readonly = true })
                        </div>
                    </div>

                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Location:</label>
                            </div>
                            @Html.TextBox("Location", "", new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-12">

                        <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center" width="10%;">@Html.DisplayName("View")</th>
                                    <th class="text-center" width="8%;">@Html.DisplayName("SL No")</th>
                                    <th>@Html.DisplayName("Shipping Bill No")</th>
                                    <th width="15%;">@Html.DisplayName("Shipping Bill Date")</th>
                                    <th>@Html.DisplayName("Exporter")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var Serial = 1;
                                    foreach (var item in Model.lstRegisterDtl)
                                    {
                                        <tr>
                                            <td class="text-center"><div class="table_icon"><a href="#"><i class="fa fa-eye" onclick="ViewShippingDetails(@item.CartingAppDtlId,@Serial)"></i></a></div></td>
                                            <td class="text-center">@Serial</td>
                                            <td>@item.ShippingBillNo</td>
                                            <td>@item.ShippingDate</td>
                                            <td>@item.Exporter</td>
                                        </tr>
                                        Serial++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="button" id="btnBack" class="btn btn-primary mr-1 btn-100px" value="Back" />
                    </div>
                    @if (Model.IsShortCargo == 1)
                    {
                        <div class="col-md-3">
                            <input type="button" class="btn log_Btn_sm" value="Short Cargo List" data-toggle="modal" data-target="#ShortCargoModal" />
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ShortCargoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:100%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Short Cargo Details</h4>
            </div>
            <div class="modal-body popup_body">
                @{
                    if (Model.lstShortCargoDetails != null)
                    {
                <table id="tblShortCargo" class="table table-bordered table-striped dataTable" style="margin-top:10px !important;">
                    <thead>
                        <tr>
                            <th>Carting Date</th>
                            <th>Qty</th>
                            <th>Weight</th>
                            <th>SQM</th>
                            <th>FOB</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                                    foreach (var item in Model.lstShortCargoDetails)
                                    {
                                <tr>
                                    <td>@item.CartingDate</td>
                                    <td>@item.Qty</td>
                                    <td>@item.Weight</td>
                                    <td>@item.SQM</td>
                                    <td>@item.FOB</td>
                                </tr>
                                    }
                        }
                    </tbody>
                </table>
                                    }
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-9 col-md-3">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function()
    {
        '@Model.CartingType'==1?$('#CartingType').val('Manual'):('@Model.CartingType'==2?$('#CartingType').val('Mechanical'):$('#CartingType').val(''));
        '@Model.CommodityType'==1?$('#CommodityType').val('General'):('@Model.CommodityType'==2?$('#CommodityType').val('Heavy/Scrape'):$('#CommodityType').val(''));

        if ( $('#SpaceType').val() == 'ReservedSpace') {
            $('#SQM').attr("disabled", true);
            $('#ReservedSpace').prop("checked", true);
            $('#GeneralSpace').prop("checked", false);

        }
        else if ($('#SpaceType').val() == 'GeneralSpace') {
            $('#SQM').attr("disabled", false);
            $('#ReservedSpace').prop("checked", false);
            $('#GeneralSpace').prop("checked", true);
        }
        $('#ReservedSpace').attr("disabled", true);
        $('#GeneralSpace').attr("disabled", true);
    });
    var Html=@Html.Raw(Json.Encode(Model.lstRegisterDtl));
    $('#btnBack').on("click", function ()
    {
        $('#DivBody').load( '/Export/Ppg_CWCExport/CreateCartingRegister');
    });


    function ViewShippingDetails(CartingAppDtlId,sr)
    {
        $('#DivShippingDetails').css("display", "block");
        $.each(Html,function(i,data)
        {
            if(sr==i+1)
            {
                $('#ShippingBillNo').val(data.ShippingBillNo);
                $('#ShippingBillDate').val(data.ShippingDate);
                $('#Exporter').val(data.Exporter);
                $('#CargoDescription').val(data.CargoDescription);
                $('#Commodity').val(data.CommodityName);
                if(data.CargoType==1)$('#CargoType').val('HAZ');
                else $('#CargoType').val('Non HAZ');
                $('#MarksAndNo').val(data.MarksAndNo);
                $('#NoOfUnits').val(data.NoOfUnits);
                $('#Weight').val(data.Weight);
                $('#CUM').val(data.CUM);
                $('#ActualQty').val(data.ActualQty);
                $('#SQM').val(data.SQM);
                $('#FOBValue').val(data.FoBValue);
                $('#ActualWeight').val(data.ActualWeight);
                $('#Location').val(data.Location);
                return false;
            }
        });
    }
</script>