@model IEnumerable<CwcExim.Models.Godown>
@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "DTROnFailure";
    options.OnSuccess = "DTROnSuccess";
    options.InsertionMode = InsertionMode.InsertAfter;


}


<script>
    $(function () {

        $("#DTRDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    function DTROnFailure() { }
    function DTROnSuccess(data) {
        $('#DivDwnldWavMsg').html('')
        //alert(data);
        debugger;
        if (data.Status == 1) {

            window.open(data.Data + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
            //for (var i = 0; i < data.Data.length; i++) {
            //    window.open(data.Data[i] + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
            //}
        }
        else {
            $('#DivDwnldWavMsg').html(data.Data).removeClass('logSuccMsg').addClass('logErrMsg');
        }
    }
    function SelectGodown() {
        $('#GodownName').val($("#GodownId option:selected").text());
    }

</script>


@using (Ajax.BeginForm("GetDailyTransactioReport", "DSR_ReportCWC", options))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Daily Transaction Report</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-offset-1 col-md-1-5">
                                    @Html.RadioButton("Module", "Import", new { @class = "", @id = "Import", @checked = true })
                                    <label for="Import"><i class="circle"></i><span>Import</span></label>
                                </div>
                                <div class="col-md-1-5">
                                    @Html.RadioButton("Module", "Export", new { @class = "", @id = "Export"})
                                    <label for="Export"><i class="circle"></i><span>Export</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBox("DTRDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control", @id = "DTRDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-0-5">
                                    <label>Godown</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.Hidden("GodownName")
                                    @Html.DropDownList("GodownId",new SelectList(Model,"GodownId","GodownName"),"----Select----",new { @onchange="SelectGodown()"})
                                    @*<select id="GodownId">
                                        <option value=0>All</option>
                                        @foreach(var x in Model)
                                        {
                                            <option value=@x.GodownId>@x.GodownName</option>
                                        }
                                    </select>*@
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")