@model CwcExim.Areas.Import.Models.TrainDetl

@using (Ajax.BeginForm("GetLandingCertificateReport", "Ppg_ReportCWC", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CargoSuccess",

}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Landing Certificate</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Train No.:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.TrainNo, new { @class = "form-control", @readonly = true })
                                    <span class="search" id="TrainNoSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#blNomodal"></i></span>
                                    @Html.ValidationMessageFor(m => m.TrainNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Train Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.TrainDate, new { @class = "form-control",@readonly=true })
                                    <span class="search" id="TrainDateSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#TrainDatemodal"></i></span>
                                    @Html.ValidationMessageFor(m => m.TrainDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="blNomodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Train No.</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="TrainNobox" type="text" />
                <ul class="navList" id="lstTrainNoNo">
                    @*@{
                            if (ViewBag.ListOfTrain != null)
                            {
                                foreach (var item in ViewBag.ListOfTrain)
                                {
                                    <li id="@item.TrainSummaryID">@item.TrainNo</li>
                                }
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TrainDatemodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Date</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="TrainDatebox" type="text" />
                <ul class="navList" id="lstTrainDate">
                    @*@{
                            if (ViewBag.ListOfTrain != null)
                            {
                                foreach (var item in ViewBag.ListOfTrain)
                                {
                                    <li id="@item.TrainSummaryID">@item.TrainNo</li>
                                }
                            }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {

    });
    function CargoSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }

    var ListOfTrainNo = 0;
    $('#TrainNoSearch').on("click", function () {
        debugger;
        $('#TrainNo').val("");
        $('#TrainDate').val("");
       
        $.ajax({
            url: "/Report/Ppg_ReportCWC/GetAllTrainNo",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfTrainNo = data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.TrainNo + ' onclick="FillTrainBox(&quot;' + item.TrainNo + '&quot;,' + item.TrainSummaryID + ')">' + item.TrainNo + '</li>';
                    });
                    $('#lstTrainNoNo').html(Html);
                }
            }

        });
    });

    function FillTrainBox(TrainNo, TrainSummaryID) {
        debugger;
        //var ContainerNo=ContainerNo.id==''?ContainerNo:ContainerNo.id;
        $('#TrainNo').val(TrainNo);
        //$('#TrainSummaryID').val(TrainSummaryID);
        $("#blNomodal").modal("hide");
        //angular.element('#JobOrderAppDiv').scope().GetTrainDetails();
        //angular.element('#JobOrderAppDiv').scope().$apply();

        $.ajax({
            url: "/Report/Ppg_ReportCWC/GetTrainDateByTrainNo",
            type: "GET",
            dataType: "JSON",
            data: { TrainNo: TrainNo },
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    ListOfTrainNo = data.Data;
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li id=' + item.TrainDate + ' onclick="FillTrainDateBox(&quot;' + item.TrainDate + '&quot;)">' + item.TrainDate + '</li>';
                    });
                    $('#lstTrainDate').html(Html);
                }
            }
        });
    }
    $('#TrainNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstTrainNoNo > li').show();
        else {
            $('#lstTrainNoNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#TrainDatebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstTrainDate > li').show();
        else {
            $('#lstTrainDate > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#TrainDateSearch').on("click", function () {
        $('#TrainDate').val('');
    });
    function FillTrainDateBox(TrainDate) {
        debugger;
       
        $('#TrainDate').val(TrainDate);
        $("#TrainDatemodal").modal("hide");
    }
</script>



