@model CwcExim.Areas.Report.Models.ContainerStatus

<style>
    #page-content-wrapper {
        overflow-x: hidden;
    }
</style>
<script>
    var MSTContainerDet = [];

    $(function () {

        $('#TblContainerDetail').hide();
        @*if( Number(@Model.ShippingLineId) > 0){

            var ShippingLineName='@Model.ShippingLineName';
            var ShippingLineId=@Model.ShippingLineId;
            $('#ShippingLineId').val(ShippingLineId);
            $('#ShippingLineName').val(ShippingLineName);
        }*@
    });

    $('#ShippingLineBox').keyup(function () {

        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('MSTShippingLineModal .navList > li').show();
        } else {
            $('MSTShippingLineModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#ShippingLineList li').on("click", function () {

        $(' #ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        $("#MSTShippingLineModal").modal("hide");
        var ShippingLineId = $(this).attr('id');
        $('#ContainerNo').val('');
        $('#MSTContainerModal #ContainerList').html('');
        ResetStuffingReq();
        //GetContainerNoList(ShippingLineId);
    });
    $('#ContainerBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#MSTContainerModal .navList > li').show();
        } else {
            $('#MSTContainerModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    function FillContainerTxtbox(ContainerNo) {
        debugger;
        var ContainerNo = ContainerNo.id == undefined ? ContainerNo : ContainerNo.id

        $('#ContainerNo').val(ContainerNo);
        $("#MSTContainerModal").modal("hide");
        ResetStuffingReq();
        var ContNo = $('#ContainerNo').val();
        ContWiseLatestICD(ContNo);

    }

    function ContWiseLatestICD(ContNo) {
        debugger;
        $.ajax({
            url: "/Report/DSR_ReportCWC/GetContWiseLatestICD",
            type: "GET",
            dataType: "JSON",
            data: { ContainerNo: ContNo },
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data, function (i, item) {

                        $('#ICDCode').val(item.ICDCode);

                    });
                    // $('#DivTrackContainer #MSTContainerModal #ContainerList').html(Html);
                }
            }

        });

    }
    $('#ContainerNoSerach').on("click", function () {
        debugger;
        $.ajax({
            url: "/Report/DSR_ReportCWC/GetContainerNoList",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {

                        Html += '<li id=' + item.ContainerNo + ' onclick="FillContainerTxtbox(' + item.ContainerNo + ')">' + item.ContainerNo + '</li>';
                        // Html += "<li id=" + item.ContainerNo + " onclick='FillContainerTxtbox("  +  item.ContainerNo + ")'>"+ item.ContainerNo +"</li>";
                    });
                    $('#MSTContainerModal #ContainerList').html(Html);
                }
            }

        });
    });

    $('#ICDSearch').on("click", function () {
        debugger;
        var contNo = $('#ContainerNo').val();
        if (contNo == "") {
            alert("Select Container No");
            return false;
        }
        $.ajax({
            url: "/Report/DSR_ReportCWC/GetContWiseICDList",
            type: "GET",
            dataType: "JSON",
            data: { ContainerNo: contNo },
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    var Html = '';
                    $.each(data.Data, function (i, item) {
                        debugger
                        Html += '<li onclick="FillICDBox(&quot;' + item.ICDCode + '&quot;)">' + item.ICDCode + '</li>';
                    });
                    $('#ICDList').html(Html);
                }
            }

        });
    });

    function FillICDBox(ICDCode) {
        debugger;
        var ICD = ICDCode.split('-');
        $('#ICDCode').val(ICD[0]);
        $("#ICDModal").modal("hide");
        ResetAll();
        // GetIcegateSBDet(SBNo, Id);
    }

    $('#DivTrackContainer #ICDBox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#ICDModal .navList > li').show();
        } else {
            $('#ICDModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });


    function ResetStuffingReq() {

        $('#LineNo').val('');
        $('#AppraisementDate').val('');
        $('#DestuffingDate').val('');
        $('#DestuffingStartDate').val('');
        $('#StuffingDate').val('');
        $('#GatePassDate').val('');
        $('#GatePassNo').val('');
        $('#GateExitDate').val('');
        $('#GateEntryDate').val('');
        $('#Rotation').val('');
        $('#JobOrderDate').val('');
        $('#GodownName').val('');
        $('#Location').val('');
        $('#ICDCode').val('');
        $('#ShippingLineName').val('');
        $('#Size').val('');
        $('#TblContainerDetail >tbody').html('');
        $('#TblContainerDetail').hide();

        $('#TblEmptyContDtl  tbody').html('');
        $('#TblLoadedContDtl  tbody').html('');
        $('#TblEmptyContAssessDtl  tbody').html('');
        $('#TblMiscDtl  tbody').html('');
    }

    function ResetAll() {

        $('#LineNo').val('');
        $('#AppraisementDate').val('');
        $('#DestuffingDate').val('');
        $('#DestuffingStartDate').val('');
        $('#StuffingDate').val('');
        $('#GatePassDate').val('');
        $('#GatePassNo').val('');
        $('#GateExitDate').val('');
        $('#GateEntryDate').val('');
        $('#Rotation').val('');
        $('#JobOrderDate').val('');
        $('#GodownName').val('');
        $('#Location').val('');
        $('#ShippingLineName').val('');
        $('#Size').val('');
        $('#TblContainerDetail >tbody').html('');
        $('#TblContainerDetail').hide();

        $('#TblEmptyContDtl  tbody').html('');
        $('#TblLoadedContDtl  tbody').html('');
        $('#TblEmptyContAssessDtl  tbody').html('');
        $('#TblMiscDtl  tbody').html('');
    }

    $("#btnContainerStatus").on("click", function () {

        // var ShippingLineId = Number($('#DivTrackContainer #ShippingLineId').val());
        var ICDCode = $('#ICDCode').val();
        //if(!ShippingLineId >0){
        //    alert("Select Shipping Line");
        //    return false;
        //}
        if (ICDCode == "") {
            alert("Select ICD Code");
            return false;
        }

        $.ajax({
            url: "/Report/DSR_ReportCWC/GetContainerStatusDetail",
            type: "GET",
            dataType: "JSON",
            data: { ICDCode: ICDCode },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    MSTContainerDet = data.Data.LstContainer;

                    console.log(data.Data);
                    var $item = $('#TblEmptyContDtl tbody');
                    $item.html('');
                    $.each(data.Data.lstEmpty, function (i, elem) {
                        $item.append('<tr><td>' + elem.CFSCode + '</td><td>' + elem.OperationType + '</td><td>' + elem.InDate + '</td><td>' + elem.OutDate + '</td><td>' + elem.Origin + '</td><td>' + elem.DespatchCode + '</td><td>' + elem.Status + '</td></tr>');
                    });
                    $item = $('#TblLoadedContDtl tbody');
                    $item.html('');
                    $.each(data.Data.lstLoaded, function (i, elem) {
                        $item.append('<tr><td>' + elem.CFSCode + '</td><td>' + elem.OperationType + '</td><td>' + elem.InDate + '</td><td>' + elem.OutDate + '</td><td>' + elem.Origin + '</td><td>' + elem.DespatchCode + '</td><td>' + elem.IWBNo + '</td></tr>');
                    });

                    $item = $('#TblEmptyContAssessDtl tbody');
                    $item.html('');
                    $.each(data.Data.lstEmptyAsses, function (i, elem) {
                        $item.append('<tr><td>' + elem.CFSCode + '</td><td>' + elem.StartDate + ' - ' + elem.EndDate + '</td><td>' + elem.InvoiceNo + '</td><td>' + elem.ReceiptNo + '</td></tr>');
                    });
                    $item = $('#TblMiscDtl tbody');
                    $item.html('');
                    $.each(data.Data.lstMisc, function (i, elem) {
                        $item.append('<tr><td>' + elem.InvoiceNo + '</td><td>' + elem.InvoiceDate + '</td><td>' + elem.ReceiptNo + '</td></tr>');
                    });

                    GenerateTable();
                }
            }
        });
    });

    function GenerateTable() {

        $('#TblContainerDetail >tbody').html('');
        var Html = "";
        if (MSTContainerDet.length > 1) {
            $.each(MSTContainerDet, function (i, item) {
                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.GateEntryDate + '</td><td>' + item.LineNo + '</td><td>' + item.Rotation + '</td><td class="text-center"><a href="#" onclick="ViewContainerDet(' + i + ')"><i class="fa fa-search-plus Edit"></i></a></td></tr>';
            });
            $('#TblContainerDetail >tbody').html(Html);
            $('#TblContainerDetail').show();
        }
        else {
            $('#TblContainerDetail').hide();
            $('#LineNo').val(MSTContainerDet[0].LineNo);
            $('#AppraisementDate').val(MSTContainerDet[0].AppraisementDate);
            $('#DestuffingDate').val(MSTContainerDet[0].DestuffingDate);
            $('#DestuffingStartDate').val(MSTContainerDet[0].DestuffingStartDate);
            $('#StuffingDate').val(MSTContainerDet[0].StuffingDate);
            $('#GatePassDate').val(MSTContainerDet[0].GatePassDate);
            $('#GatePassNo').val(MSTContainerDet[0].GatePassNo);
            $('#GateExitDate').val(MSTContainerDet[0].GateExitDate);
            $('#GateEntryDate').val(MSTContainerDet[0].GateEntryDate);
            $('#Rotation').val(MSTContainerDet[0].Rotation);
            $('#JobOrderDate').val(MSTContainerDet[0].JobOrderDate);
            $('#GodownName').val(MSTContainerDet[0].GodownName);
            $('#Location').val(MSTContainerDet[0].Location);
            $('#ShippingLineName').val(MSTContainerDet[0].ShippingLineName);
            $('#Size').val(MSTContainerDet[0].Size);
            $('#ICDCode').val(MSTContainerDet[0].ICDCode);
        }
    }

    function ViewContainerDet(Index) {
        $('#LineNo').val(MSTContainerDet[Index].LineNo);
        $('#AppraisementDate').val(MSTContainerDet[Index].AppraisementDate);
        $('#DestuffingDate').val(MSTContainerDet[Index].DestuffingDate);
        $('#DestuffingStartDate').val(MSTContainerDet[Index].DestuffingStartDate);
        $('#StuffingDate').val(MSTContainerDet[Index].StuffingDate);
        $('#GatePassDate').val(MSTContainerDet[Index].GatePassDate);
        $('#GatePassNo').val(MSTContainerDet[Index].GatePassNo);
        $('#GateExitDate').val(MSTContainerDet[Index].GateExitDate);
        $('#GateEntryDate').val(MSTContainerDet[Index].GateEntryDate);
        $('#Rotation').val(MSTContainerDet[Index].Rotation);
        $('#JobOrderDate').val(MSTContainerDet[0].JobOrderDate);
        $('#GodownName').val(MSTContainerDet[0].GodownName);
        $('#Location').val(MSTContainerDet[0].Location);
        $('#ShippingLineName').val(MSTContainerDet[0].ShippingLineName);
        $('#Size').val(MSTContainerDet[0].Size);
        $('#ICDCode').val(MSTContainerDet[0].ICDCode);
    }

</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "StuffingReqOnSuccess";
    options.OnFailure = "StuffingReqOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}


@Html.HiddenFor(m => m.ShippingLineId)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Container Status</h4>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label class="InputLabel">Container No:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                            <span class="search" id="ContainerNoSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#MSTContainerModal"></i></span>
                            @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-1-5  col_cus_2 padding_rt">
                            <label>ICD Code:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("ICDCode", "", new { @class = "form-control input-sm", @readonly = true })
                            <span class="search" id="ICDSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ICDModal"></i></span>
                        </div>
                        <div class="col-md-2-5 col-md-offset-1 col_cus_8" style="text-align:center">
                            <input type="submit" value="Generate Details" class="btn log_Btn_sm" id="btnContainerStatus" style="width:100%; margin:0;" />
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Size:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBoxFor(m => m.Size, new { @class = "form-control input-sm", @readonly = true })
                            @*<span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#MSTShippingLineModal"></i></span>*@
                            @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Shipping Line:</label>
                        </div>
                        <div class="col-md-10-5 col_cus_10">
                            @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input-sm", @readonly = true })
                            @Html.ValidationMessageFor(m => m.ShippingLineName, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Line No:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextArea("LineNo", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Godown Name:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextArea("GodownName", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 padding_rt">
                            <label>Location:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextArea("Location", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Rotation:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("Rotation", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Job Order Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("JobOrderDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Stuffing Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("StuffingDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Appraisement Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("AppraisementDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2  padding_rt">
                            <label>Destuffing Start Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("DestuffingStartDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Destuffing End Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("DestuffingDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gate Entry Date & Time:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("GateEntryDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gate Pass No:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("GatePassNo", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gate Pass Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("GatePassDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Gate Exit Date & Time:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_4">
                            @Html.TextBox("GateExitDate", "", new { @class = "form-control input-sm", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="row Form_Space_top" id="DivTblConatiner">
                    <div class="col-md-12">
                        <table id="TblContainerDetail" class="table table-striped table-bordered nowrap dataTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                    <th>@Html.DisplayName("Gate In Date")</th>
                                    <th>Line No</th>
                                    <th>@Html.DisplayName("Rotation")</th>
                                    <th>@Html.DisplayName("View")</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Empty Container Details</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table id="TblEmptyContDtl" class="table table-striped table-bordered nowrap dataTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayName("CFSCode")</th>
                                        <th>@Html.DisplayName("EXP / IMP Type")</th>
                                        <th>@Html.DisplayName("In Date")</th>
                                        <th>@Html.DisplayName("Out Date")</th>
                                        <th>@Html.DisplayName("Origin")</th>
                                        <th>@Html.DisplayName("Despatch Code")</th>
                                        <th>@Html.DisplayName("Status")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Loaded Container Details</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table id="TblLoadedContDtl" class="table table-striped table-bordered nowrap dataTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayName("CFSCode")</th>
                                        <th>@Html.DisplayName("EXP / IMP Type")</th>
                                        <th>@Html.DisplayName("In Date")</th>
                                        <th>@Html.DisplayName("Out Date")</th>
                                        <th>@Html.DisplayName("Origin")</th>
                                        <th>@Html.DisplayName("Despatch Code")</th>
                                        <th>@Html.DisplayName("Forwarding /Inland way bill no")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Empty Container Assessment Details</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table id="TblEmptyContAssessDtl" class="table table-striped table-bordered nowrap dataTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayName("CFSCode")</th>
                                        <th>@Html.DisplayName("Payment Duration")</th>
                                        <th>@Html.DisplayName("Invoice No")</th>
                                        <th>@Html.DisplayName("Receipt No")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>[ICD Stuffing / Factory Stuffing / RCT Sealing] Payment Details</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <table id="TblMiscDtl" class="table table-striped table-bordered nowrap dataTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayName("Invoice No")
                                        <th>@Html.DisplayName("Invoice Date")</th>
                                        <th>@Html.DisplayName("Receipt No")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="logSuccMsg Form_Space_top" id="DivContMsg" style="background-color:transparent"></div>
                <div class="logErrMsg Form_Space_bottom" id="DivContErrMsg" style="background-color:transparent"></div>

                <div class="modal fade" id="MSTShippingLineModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Shipping Line</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="ShippingLineBox" type="text" />
                                <ul class="navList" id="ShippingLineList">
                                    @{
                                        if (ViewBag.ShippingLineList != null)
                                        {
                                            foreach (var item in ViewBag.ShippingLineList)
                                            {
                                                <li id="@item.Value">@item.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="MSTContainerModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Container No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="ContainerBox" type="text" />
                                <ul class="navList" id="ContainerList">
                                    @{
                                        if (ViewBag.ContainerList != null)
                                        {
                                            foreach (var item in ViewBag.ContainerList)
                                            {
                                                <li id="@item.Value" onclick="FillContainerTxtbox(@item.Value)">@item.Text</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="ICDModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of ICD Code</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="ICDBox" type="text" />
                                <ul class="navList" id="ICDList"></ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="padding-bottom:0px;">
        <div class="singup_body">

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")




