@model CwcExim.Areas.Report.Models.DSRPartyWiseLedger    
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "PartyLedgerOnFailure";
    options.OnSuccess = "PartyLedgerOnSuccess";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script>
    $(function () {

        $("#FromDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="FromDate"]').html('<span><span>');
            }
        });
        $("#ToDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $('[data-valmsg-for="ToDate"]').html('<span></span>');
            }
        });
    });

</script>
@using (Ajax.BeginForm("GetPartyWiseLedgerDetail", "DSR_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Party Wise Ledger</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>From Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "FromDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4">
                                    <label>To Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "ToDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Party Name:</label>
                                </div>
                                <div class="col-md-10-5">
                                    <div id="LoadedDiv">
                                        @Html.HiddenFor(m => m.PartyId, new { @value = "" })
                                        @Html.TextBoxFor(m => m.PartyName, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="PartyNameSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#PartyNameModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.PartyName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivPartyErrMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     }

    <div id="PartyNameModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Party List</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="PartyBox" type="text" />
                    <ul class="navList" id="PartyList">
                        @{
                            if (@ViewBag.PartyList != null)
                            {
                                foreach (var item in @ViewBag.PartyList)
                                {
                                    <li id="@item.Value">@item.Text</li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    $('#BtnPreview').on("click", function () {
        $('#DivPartyErrMsg').html('');
        var From = $('#FromDate').val();
        var To = $('#ToDate').val();
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
        if (FromDate > ToDate) {
            $('#DivPartyErrMsg').html('To Date must be greater than From Date');
            return false;
        }
        return true;
    });

    $('#PartyBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#PartyList > li').show();
        else {
            $('#PartyList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#PartyList > li').on("click", function () {
        $('#PartyName').val($(this).text());
        $('#PartyId').val($(this).attr('id'));
        $("#PartyNameModal").modal("hide");
    });

    function PartyLedgerOnFailure() { }
    function PartyLedgerOnSuccess(data) {
        $('#DivPartyErrMsg').html('')
        debugger;
        if (data.Status == 1) {
            debugger;
            SaveReportPdf(data);
        }
        else {
            $('#DivPartyErrMsg').html(data.Message);
        }
    }

    function SaveReportPdf(data)
    {
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var PartyName = $('#PartyName').val();
        var PostData = new FormData();
        var Html = "<table style='width:100%;font-size:9pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><thead><tr><th colspan='4' style='text-align:center;padding:5px;'>Party Wise Ledger From <span>" + FromDate + "</span> to <span>" + ToDate + "</span></th></tr><tr><th colspan='4' style='text-align:left;padding:5px;'>Party Name: <span>" + PartyName + "</span></th></tr><tr><th style='text-align:center;border:1px solid #000;padding:3px;width:15%;'>Date</th><th style='text-align:center;border:1px solid #000;padding:3px;'>Invoice No.</th><th style='text-align:center;border:1px solid #000;padding:3px;'>Cash Receipt No.</th><th style='text-align:center;border:1px solid #000;padding:3px;'>Amount</th></tr></thead><tbody>";
        $.each(data.Data, function (i, item) {
            Html += " <tr><td style='text-align:center;border:1px solid #000;padding:3px;'>" + item.ReceiptDate + "</td><td style='text-align:left;border:1px solid #000;padding:3px;'>" + item.InvoiceNo + "</td><td style='text-align:left;border:1px solid #000;padding:3px;'>" + item.ReceiptNo + "</td><td style='text-align:right;border:1px solid #000;padding:3px;'>" + item.Amount + "</td></tr>";
        });
        Html += "</tbody></table>"
        PostData.append("Page", Html);
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDFOfPartyWiseLedger", "DSR_ReportCWC", new { area = "Report" })',
            headers: { '__RequestVerificationToken': Token },
            data: PostData,
            async:false,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.Status == 1) {
                    debugger;
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }
            }
        });
    }

</script>




