@model CwcExim.Areas.Report.Models.Wlj_E04Report

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>LEO Detail (E04)</h4>
                        </div>
                    </div>                

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Custom Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CUSTOM_CD, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>SB No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.SB_NO, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>SB Date :</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.SB_DATE, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>IEC Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.IEC_CD, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>BI_No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.BI_NO, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>Exporter Name:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.EXP_NAME, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Address 1:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.EXP_ADD1, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>Address 2:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.EXP_ADD2, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>City:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CITY, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>PIN:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.PIN, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>CHA Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CHA_CODE, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>FOB:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.FOB, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>POD:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.POD, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>LEO NO:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.LEO_NO, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>LEO Date:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.LEO_DATE, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Etry No:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.ENTRY_NO, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>G Date:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.G_DATE, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>Transhipper Code:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.TRANSHIPPER_CODE, new { @readonly = true })
                            </div>
                        </div>
                    </div>
                   
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Gateway Port:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.GATEWAY_PORT, new { @readonly = true })
                            </div>
                            <div class="col-md-1-5 col-md-offset">
                                <label>PCIN:</label>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.PCIN, new { @readonly = true })
                            </div>                            
                        </div>
                    </div>
                   

                   
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>

                    <div class="row SignUp_space_bottom2">
                        
                        <div class="col-md-2">
                            <input type="button" value="Back" class="btn log_Btn_sm" onclick="ResetField()">
                        </div>
                    </div>
                    
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>

                    <div><br /></div>  

                   

                </div>
            </div>
        </div>
    </div>
</div>
           
@Scripts.Render("~/bundles/jqueryval")

<script>
   
    function ResetField() {
        $('#DivBody').load('/Report/Wlj_ReportCWC/E04DetailsReport');
    }
</script>

