
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Weekly Video Conference Report</h4>
                        </div>
                    </div>
                    @using (Ajax.BeginForm("WeeklyVCReport", "Wlj_ReportCWC", new { area = "Report" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @Id = "vcForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row Form_Space_top">
                            <div class="Form_Input">
                                <div class="col-md-1-5">
                                    <label>From Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input type="text" id="VCFdate" name="VCFdate" />
                                </div>
                                <div class="col-md-1">
                                    <label>To Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input type="text" id="VCTdate" name="VCTdate" />
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn log_Btn_sm" onclick="GetVCDetails()">Show</button>
                                </div>
                            </div>
                        </div>

                        @Html.Hidden("VCID")
                        @Html.Hidden("Boom")
                        @Html.Hidden("hdncfsutil")
                        @Html.Hidden("hdnbndutil")

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                               
                               

                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="3" class="text-center">Particulars</th>
                                            <th colspan="4" class="text-center">Capacity </th>
                                            <th colspan="4" class="text-center">Utilization</th>
                                        </tr>

                                        <tr>
                                            <th rowspan="2" class="text-center" >Open</th>
                                            <th colspan="2" class="text-center">Covered</th>
                                            <th rowspan="2" class="text-center">Total</th>
                                            <th rowspan="2" class="text-center" >Open</th>
                                            <th colspan="2" class="text-center" >Covered</th>
                                            <th rowspan="2" class="text-center">Total</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center"  style="width:8%;" >ICD</th>
                                            <th class="text-center" style="width:8%;">Bonded</th>
                                           <th class="text-center" style="width:16%;">ICD</th>
                                           <th class="text-center" style="width:16%;">Bonded</th>
                                          
                                        </tr>
                                        
                                       
                                    </thead>
                                 
                                    <tbody>
                                        <tr>
                                            <td>During Week(MT)</td>
                                            <td><input id="TWcfsopen" name="TWcfsopen" type="text" class="text-right" /></td>
                                            <td><input id="TWcfscov" name="TWcfscov" type="text" class="text-right" /></td>
                                            <td><input id="TWbndcov" name="TWbndcov" type="text" class="text-right" /></td>
                                            <td><input id="Totalcap" name="Totalcap" type="text" class="text-right" /></td>
                                            <td><input id="TWcfsopenutl" name="TWcfsopenutl" type="text" class="text-right" /></td>
                                           
                                            <td><input id="TWcfscovnutl" name="TWcfscovnutl" type="text" class="text-right" /></td>
                                            <td><input id="TWbndcovnutl" name="TWbndcovnutl" type="text" class="text-right" /></td>
                                            <td><input id="Totalutil" name="Totalutil" type="text" class="text-right" /></td>
                                        </tr>

                                        <tr>
                                            <td>During Week(SQM)</td>
                                            <td><input id="TWcfsopensqm" name="TWcfsopensqm" type="text" class="text-right" /></td>
                                            <td><input id="TWcfscovsqm" name="TWcfscovsqm" type="text" class="text-right" /></td>
                                            <td><input id="TWbndcovsqm" name="TWbndcovsqm" type="text" class="text-right" /></td>
                                            <td><input id="Totalcapsqm" name="Totalcapsqm" type="text" class="text-right" /></td>
                                            <td><input id="TWcfsopenutlsqm" name="TWcfsopenutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="TWcfscovnutlsqm" name="TWcfscovnutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="TWbndcovnutlsqm" name="TWbndcovnutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="Totalutilsqm" name="Totalutilsqm" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week(MT)</td>
                                            <td><input id="PWcfsopen" name="PWcfsopen" type="text" class="text-right" /></td>
                                            <td><input id="PWcfscov" name="PWcfscov" type="text" class="text-right" /></td>
                                            <td><input id="PWbndcov" name="PWbndcov" type="text" class="text-right" /></td>
                                            <td><input id="PWTotalcap" name="PWTotalcap" type="text" class="text-right" /></td>
                                            <td><input id="PWcfsopenutl" name="PWcfsopenutl" type="text" class="text-right" /></td>
                                            <td><input id="PWcfscovutl" name="PWcfscovutl" type="text" class="text-right" /></td>
                                            <td><input id="PWbndcovutl" name="PWbndcovutl" type="text" class="text-right" /></td>
                                            <td><input id="PWTotalutil" name="PWTotalutil" type="text" class="text-right" /></td>
                                        </tr>

                                        <tr>
                                            <td>During Previous Week(SQM)</td>
                                            <td><input id="PWcfsopensqm" name="PWcfsopensqm" type="text" class="text-right" /></td>
                                            <td><input id="PWcfscovsqm" name="PWcfscovsqm" type="text" class="text-right" /></td>
                                            <td><input id="PWbndcovsqm" name="PWbndcovsqm" type="text" class="text-right" /></td>
                                            <td><input id="PWTotalcapsqm" name="PWTotalcapsqm" type="text" class="text-right" /></td>
                                            <td><input id="PWcfsopenutlsqm" name="PWcfsopenutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="PWcfscovutlsqm" name="PWcfscovutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="PWbndcovutlsqm" name="PWbndcovutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="PWTotalutilsqm" name="PWTotalutilsqm" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year(MT)</td>
                                            <td><input id="PYcfsopen" name="PYcfsopen" type="text" class="text-right" /></td>
                                            <td><input id="PYcfscov" name="PYcfscov" type="text" class="text-right" /></td>
                                            <td><input id="PYbndcov" name="PYbndcov" type="text" class="text-right" /></td>
                                            <td><input id="PYTotalcap" name="PYTotalcap" type="text" class="text-right" /></td>
                                            <td><input id="PYcfsopenutl" name="PYcfsopenutl" type="text" class="text-right" /></td>
                                            <td><input id="PYcfscovutl" name="PYcfscovutl" type="text" class="text-right" /></td>
                                            <td><input id="PYbndcovutl" name="PYbndcovutl" type="text" class="text-right" /></td>
                                            <td><input id="PYTotalutil" name="PYTotalutil" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year(SQM)</td>
                                            <td><input id="PYcfsopensqm" name="PYcfsopensqm" type="text" class="text-right" /></td>
                                            <td><input id="PYcfscovsqm" name="PYcfscovsqm" type="text" class="text-right" /></td>
                                            <td><input id="PYbndcovsqm" name="PYbndcovsqm" type="text" class="text-right" /></td>
                                            <td><input id="PYTotalcapsqm" name="PYTotalcapsqm" type="text" class="text-right" /></td>
                                            <td><input id="PYcfsopenutlsqm" name="PYcfsopenutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="PYcfscovutlsqm" name="PYcfscovutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="PYbndcovutlsqm" name="PYbndcovutlsqm" type="text" class="text-right" /></td>
                                            <td><input id="PYTotalutilsqm" name="PYTotalutilsqm" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Particulars</th>
                                            <th class="text-center" style="width:10%;">Occupancy</th>
                                            <th class="text-center" style="width:10%;">Income (in Lacs)</th>
                                            <th class="text-center" style="width:10%;">Cont.Hand (in Lacs)</th>
                                            <th class="text-center" style="width:10%;">Bond (in Lacs)</th>
                                            <th class="text-center" style="width:10%;">DOC (in Lacs)</th>
                                            <th class="text-center" style="width:10%;">EGM (in Lacs)</th>
                                            <th class="text-center" style="width:17%;">Comments on shortfall in achieving target</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWocp" name="TWocp" type="text" class="text-right" /></td>
                                            <td><input id="TWinc" name="TWinc" type="text" class="text-right" /></td>
                                            <td><input id="TWCont" name="TWCont" type="text" class="text-right" /></td>
                                            <td><input id="TWBnd" name="TWBnd" type="text" class="text-right" /></td>
                                            <td><input id="TWDoc" name="TWDoc" type="text" class="text-right" /></td>
                                            <td><input id="TWEgm" name="TWEgm" type="text" class="text-right" /></td>
                                            <td><input id="TWrmks" name="" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWocp" name="PWocp" type="text" class="text-right" /></td>
                                            <td><input id="PWinc" name="PWinc" type="text" class="text-right" /></td>
                                            <td><input id="PWCont" name="PWCont" type="text" class="text-right" /></td>
                                            <td><input id="PWBnd" name="PWBnd" type="text" class="text-right" /></td>
                                            <td><input id="PWDoc" name="PWDoc" type="text" class="text-right" /></td>
                                            <td><input id="PWEgm" name="PWEgm" type="text" class="text-right" /></td>
                                            <td><input id="PWrmks" name="PWrmks" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYocp" name="PYocp" type="text" class="text-right" /></td>
                                            <td><input id="PYinc" name="PYinc" type="text" class="text-right" /></td>
                                            <td><input id="PYCont" name="PYCont" type="text" class="text-right" /></td>
                                            <td><input id="PYBnd" name="PYBnd" type="text" class="text-right" /></td>
                                            <td><input id="PYDoc" name="PYDoc" type="text" class="text-right" /></td>
                                            <td><input id="PYEgm" name="PYEgm" type="text" class="text-right" /></td>
                                            <td><input id="PYrmks" name="PYrmks" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Container Handling</th>
                                            <th class="text-center" style="width:13%;">Import</th>
                                            <th class="text-center" style="width:13%;">Export</th>
                                            <th class="text-center" style="width:13%;">Empty</th>
                                            <th class="text-center" style="width:13%;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>During Week</td>
                                            <td><input id="TWimport" name="TWimport" type="text" class="text-right" /></td>
                                            <td><input id="TWexport" name="TWexport" type="text" class="text-right" /></td>
                                            <td><input id="TWempty" name="TWempty" type="text" class="text-right" /></td>
                                            <td><input id="TWtotaliee" name="TWtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Previous Week</td>
                                            <td><input id="PWimport" name="PWimport" type="text" class="text-right" /></td>
                                            <td><input id="PWexport" name="PWexport" type="text" class="text-right" /></td>
                                            <td><input id="PWempty" name="PWempty" type="text" class="text-right" /></td>
                                            <td><input id="PWtotaliee" name="PWtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td>During Corresp. Week of Previous Year</td>
                                            <td><input id="PYimport" name="PYimport" type="text" class="text-right" /></td>
                                            <td><input id="PYexport" name="PYexport" type="text" class="text-right" /></td>
                                            <td><input id="PYempty" name="PYempty" type="text" class="text-right" /></td>
                                            <td><input id="PYtotaliee" name="PYtotaliee" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Particulars</th>
                                            <th class="text-center" style="width:20%;">Amount</th>
                                            <th class="text-center" style="width:20%;">Effort Made to Realise the outstanding CWC Dues</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input id="Prt1" name="Prt1" type="text" class="text-left" /></td>
                                            <td><input id="Amt1" name="Amt1" type="text" class="text-right" /></td>
                                            <td><input id="Efft1" name="Efft1" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td><input id="Prt2" name="Prt2" type="text" class="text-left" /></td>
                                            <td><input id="Amt2" name="Amt2" type="text" class="text-right" /></td>
                                            <td><input id="Efft2" name="Efft2" type="text" class="text-right" /></td>
                                        </tr>
                                        <tr>
                                            <td><input id="Prt3" name="Prt3" type="text" class="text-left" /></td>
                                            <td><input id="Amt3" name="Amt3" type="text" class="text-right" /></td>
                                            <td><input id="Efft3" name="Efft3" type="text" class="text-right" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom2 SignUp_space_top2">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-4 col-md-2">
                                <button type="submit" class="btn log_Btn_sm">Save</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnPrint" class="btn log_Btn_sm" onclick="Print()" disabled>Print</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#VCFdate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });
    $("#VCTdate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });
</script>
<script>
    function GetVCDetails() {
        try{
            $.ajax({
                url: '@Url.Action("GetVCDetails", "Wlj_ReportCWC", new { area = "Report" })',//'/Report/ReportCWC/GetVCDetails',
                type: 'GET',
                data: { date1: $('#VCFdate').val(), date2: $('#VCTdate').val() },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data == undefined || data == null) {
                        alert("Internal Error Occurs !!");
                    }
                    else {
                        if (data.Status != 1) {
                            alert(data.Message);
                        }
                        else {

                                                             


                            $('#TWcfsopen').val(data.Data[0].cfscapopen);
                            $('#TWcfscov').val(data.Data[0].cfscapclose);
                            $('#TWbndcov').val((Number(data.Data[0].bndcapclose)));
                            $('#Totalcap').val(data.Data[0].totcov);
                            $('#TWcfsopenutl').val(data.Data[0].cfsopenutlz);
                            $('#TWcfscovnutl').val(Number(data.Data[0].cfscloseutlzOrg) + " ( " + (Number(data.Data[0].cfscloseutlz)) + " % ) ");
                            $('#TWbndcovnutl').val(Number(data.Data[0].bndcloseutlzOrg) + " ( " + (Number(data.Data[0].bndcloseutlz)) + " % ) ");
                            $('#Totalutil').val((Number(data.Data[0].totutil)));

                            $('#hdncfsutil').val(Number(data.Data[0].cfscloseutlz));
                            $('#hdnbndutil').val(Number(data.Data[0].bndcloseutlz));

                            $('#TWcfsopensqm').val(data.Data[1].cfscapopen);
                            $('#TWcfscovsqm').val(data.Data[1].cfscapclose);
                            $('#TWbndcovsqm').val((Number(data.Data[1].bndcapclose)));
                            $('#Totalcapsqm').val(data.Data[1].totcov);
                            $('#TWcfsopenutlsqm').val(data.Data[1].cfsopenutlz);
                            $('#TWcfscovnutlsqm').val(Number(data.Data[1].cfscloseutlzOrg) + " ( " + (Number(data.Data[1].cfscloseutlz)) + " % ) ");
                            $('#TWbndcovnutlsqm').val(Number(data.Data[1].bndcloseutlzOrg) + " ( " + (Number(data.Data[1].bndcloseutlz)) + " % ) ");
                            $('#Totalutilsqm').val((Number(data.Data[1].totutil)));

                            $('#PWcfsopen').val(data.Data[2].cfscapopen);
                            $('#PWcfscov').val(data.Data[2].cfscapclose);
                            $('#PWbndcov').val((Number(data.Data[2].bndcapclose)));
                            $('#PWTotalcap').val(data.Data[2].totcov);
                            $('#PWcfsopenutl').val(data.Data[2].cfsopenutlz);
                            $('#PWcfscovutl').val(Number(data.Data[2].cfscloseutlzOrg) + " ( " + (Number(data.Data[2].cfscloseutlz)) + " % ) ");
                            $('#PWbndcovutl').val(Number(data.Data[2].bndcloseutlzOrg) + " ( " + (Number(data.Data[2].bndcloseutlz)) + " % ) ");
                            $('#PWTotalutil').val((Number(data.Data[2].totutil)));



                            $('#PWcfsopensqm').val(data.Data[3].cfscapopen);
                            $('#PWcfscovsqm').val(data.Data[3].cfscapclose);
                            $('#PWbndcovsqm').val((Number(data.Data[3].bndcapclose)));
                            $('#PWTotalcapsqm').val(data.Data[3].totcov);
                            $('#PWcfsopenutlsqm').val(data.Data[3].cfsopenutlz);
                            $('#PWcfscovutlsqm').val(Number(data.Data[3].cfscloseutlzOrg) + " ( " + (Number(data.Data[3].cfscloseutlz)) + " % ) ");
                            $('#PWbndcovutlsqm').val(Number(data.Data[3].bndcloseutlzOrg) + " ( " + (Number(data.Data[3].bndcloseutlz)) + " % ) ");
                            $('#PWTotalutilsqm').val((Number(data.Data[3].totutil)));



                            $('#PYcfsopen').val(data.Data[4].cfscapopen);
                            $('#PYcfscov').val(data.Data[4].cfscapclose);
                            $('#PYbndcov').val(Number(data.Data[4].bndcapclose));
                            $('#PYTotalcap').val(data.Data[4].totcov);
                            $('#PYcfsopenutl').val(data.Data[4].cfsopenutlz);
                            $('#PYcfscovutl').val(Number(data.Data[4].cfscloseutlzOrg) + " ( " + Number(data.Data[4].cfscloseutlz) + " % ) ");
                            $('#PYbndcovutl').val(Number(data.Data[4].bndcloseutlzOrg) + " ( " + Number(data.Data[4].bndcloseutlz) + " % ) ");
                            $('#PYTotalutil').val(Number(data.Data[4].totutil));

                            $('#PYcfsopensqm').val(data.Data[5].cfscapopen);
                            $('#PYcfscovsqm').val(data.Data[5].cfscapclose);
                            $('#PYbndcovsqm').val(Number(data.Data[5].bndcapclose));
                            $('#PYTotalcapsqm').val(data.Data[5].totcov);
                            $('#PYcfsopenutlsqm').val(data.Data[5].cfsopenutlz);
                            $('#PYcfscovutlsqm').val(Number(data.Data[5].cfscloseutlzOrg) + " ( " + Number(data.Data[5].cfscloseutlz) + " % ) ");
                            $('#PYbndcovutlsqm').val(Number(data.Data[5].bndcloseutlzOrg) + " ( " + Number(data.Data[5].bndcloseutlz) + " % ) ");
                            $('#PYTotalutilsqm').val(Number(data.Data[5].totutil));


                           
                            $('#TWocp').val(data.Data[0].totutil);
                            $('#TWinc').val(data.Data[0].Income);
                            $('#TWCont').val(data.Data[0].ContHand);
                            $('#TWBnd').val(data.Data[0].Bond);
                            $('#TWDoc').val(data.Data[0].Doc);
                            $('#TWEgm').val(data.Data[0].Egm);

                            $('#PWocp').val(data.Data[2].totutil);
                            $('#PWinc').val(data.Data[1].Income);
                            $('#PWCont').val(data.Data[1].ContHand);
                            $('#PWBnd').val(data.Data[1].Bond);
                            $('#PWDoc').val(data.Data[1].Doc);
                            $('#PWEgm').val(data.Data[1].Egm);
                            $('#PYocp').val(data.Data[4].totutil);
                            $('#PYinc').val(data.Data[2].Income);
                            $('#PYCont').val(data.Data[2].ContHand);
                            $('#PYBnd').val(data.Data[2].Bond);
                            $('#PYDoc').val(data.Data[2].Doc);
                            $('#PYEgm').val(data.Data[2].Egm);

                            $('#TWimport').val(data.Data[0].Import);
                            $('#TWexport').val(data.Data[0].Export);
                            $('#TWempty').val(data.Data[0].Empty);
                            $('#TWtotaliee').val(Number(data.Data[0].Import) + Number(data.Data[0].Export) + Number(data.Data[0].Empty));
                            $('#PWimport').val(data.Data[1].Import);
                            $('#PWexport').val(data.Data[1].Export);
                            $('#PWempty').val(data.Data[1].Empty);
                            $('#PWtotaliee').val(Number(data.Data[1].Import) + Number(data.Data[1].Export) + Number(data.Data[1].Empty));
                            $('#PYimport').val(data.Data[2].Import);
                            $('#PYexport').val(data.Data[2].Export);
                            $('#PYempty').val(data.Data[2].Empty);
                            $('#PYtotaliee').val(Number(data.Data[2].Import) + Number(data.Data[2].Export) + Number(data.Data[2].Empty));
                        }
                    }
                },
                error: function () {
                    alert("Internal Error Occurs !!");
                }
            });
        }
        catch(e)
        {
            console.log(e.message);
        }
    }
</script>
<script>
    function Print() {
        debugger;
        var FDt = $('#VCFdate').val();
        var TDt = $('#VCTdate').val();
        var Rdt = FDt + " TO " + TDt;
     //   var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='text-align:center;padding:5px;'>Weekly Report(" + Rdt + ")</th></tr></thead></table><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th colspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Capacity (in Bags)</th><th colspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Utilization (in Bags)</th></tr><tr><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>ICD</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Bonded</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>ICD</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Bonded</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWtotalutl').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWtotalutl').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYcfscap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYbndcap').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYtotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYbndutl').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYtotalutl').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:12%;'>Occupancy</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Income (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:20%;'>Comments on shortfall in achieving target</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYrmks').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Container Handling</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Import</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Export</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Empty</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYtotaliee').val() + "</span></td></tr></tbody></table><br/><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Amount</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Effort Made to Realise the outstanding CWC Dues</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft1').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft2').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft3').val() + "</span></td></tr></tbody></table>";
     //   var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='text-align:center;padding:5px;'>Weekly Report(" + Rdt + ")</th></tr></thead></table><br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th rowspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th colspan='4' style='border:1px solid #000;text-align:center;padding:3px;'>Capacity (in Bags)</th><th colspan='4' style='border:1px solid #000;text-align:center;padding:3px;'>Utilization (in Bags)</th></tr><tr><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Open</th><th colspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Covered</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Total</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Open</th><th colspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Covered</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px;'>Total</th></tr><tr><th class='text-center' style='width:8%;' >ICD</th><th class='text-center' style='width:8%;'>Bonded</th><th class='text-center' style='width:8%;'>ICD</th><th class='text-center' style='width:8%;'>Bonded</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;;width:8%;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#Totalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfscovnutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWbndcovnutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#Totalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalutil').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:12%;'>Occupancy</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Income (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:20%;'>Comments on shortfall in achieving target</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYrmks').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Container Handling</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Import</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Export</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Empty</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYtotaliee').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Amount</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Effort Made to Realise the outstanding CWC Dues</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft1').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft2').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft3').val() + "</span></td></tr></tbody></table>";
   //     var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='text-align:center;padding:5px;'>Weekly Report(" + Rdt + ")</th></tr></thead></table> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th rowspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th colspan='4' style='border:1px solid #000;text-align:center;padding:3px;'>Capacity </th><th colspan='4' style='border:1px solid #000;text-align:center;padding:3px;'>Utilization</th></tr><tr><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Open</th><th colspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Covered</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Total</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Open</th><th colspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Covered</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px;'>Total</th></tr><tr><th class='text-center' style='width:8%;'>ICD</th><th class='text-center' style='width:8%;'>Bonded</th><th class='text-center' style='width:8%;'>ICD</th><th class='text-center' style='width:8%;'>Bonded</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;;width:8%;'>During Week(MT)</td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#Totalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfscovnutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWbndcovnutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#Totalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;;width:8%;'>During Week(SQM)</td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfsopensqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfscovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWbndcovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#Totalcapsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWcfsopenutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfscovnutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWbndcovnutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#Totalutilsqm').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week(MT)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week(SQM)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopensqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalcapsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopenutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalutilsqm').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year(MT)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year(SQM)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopensqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalcapsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopenutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalutilsqm').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:12%;'>Occupancy</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Income (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:20%;'>Comments on shortfall in achieving target</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYinc').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYrmks').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Container Handling</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Import</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Export</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Empty</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYtotaliee').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Amount</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Effort Made to Realise the outstanding CWC Dues</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft1').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft2').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft3').val() + "</span></td></tr></tbody></table>";

        var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='text-align:center;padding:5px;'>Weekly Report(" + Rdt + ")</th></tr></thead></table> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th rowspan='3' style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th colspan='4' style='border:1px solid #000;text-align:center;padding:3px;'>Capacity</th><th colspan='4' style='border:1px solid #000;text-align:center;padding:3px;'>Utilization</th></tr><tr><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Open</th><th colspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Covered</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Total</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Open</th><th colspan='2' style='border:1px solid #000;text-align:center;padding:3px'>Covered</th><th rowspan='2' style='border:1px solid #000;text-align:center;padding:3px;'>Total</th></tr><tr><th class='text-center' style='width:8%;'>ICD</th><th class='text-center' style='width:8%;'>Bonded</th><th class='text-center' style='width:8%;'>ICD</th><th class='text-center' style='width:8%;'>Bonded</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;;width:8%;'>During Week(MT)</td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#Totalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfscovnutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWbndcovnutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#Totalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;;width:8%;'>During Week(SQM)</td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfsopensqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWcfscovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#TWbndcovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;;width:8%;'><span>" + $('#Totalcapsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWcfsopenutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWcfscovnutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#TWbndcovnutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;width:8%'><span>" + $('#Totalutilsqm').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week(MT)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week(SQM)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopensqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalcapsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfsopenutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWcfscovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWbndcovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWTotalutilsqm').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year(MT)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopen').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcov').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalcap').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopenutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovutl').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalutil').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year(SQM)</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopensqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalcapsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfsopenutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYcfscovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYbndcovutlsqm').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYTotalutilsqm').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:12%;'>Occupancy</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Income (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Cont Hand (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Bond (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Doc (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>EGM (in Lacs)</th><th style='border:1px solid #000;text-align:center;padding:3px;width:20%;'>Comments on shortfall in achieving target</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWinc').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWCont').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWBnd').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWDoc').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWEgm').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#TWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWinc').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWCont').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWBnd').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWDoc').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWEgm').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PWrmks').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYocp').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYinc').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYCont').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYBnd').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYDoc').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYEgm').val() + "</span></td><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#PYrmks').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Container Handling</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Import</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Export</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Empty</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Total</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#TWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Previous Week</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PWtotaliee').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'>During Corresp. Week of Previous Year</td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYimport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYexport').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYempty').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#PYtotaliee').val() + "</span></td></tr></tbody></table> <br/> <br/><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th style='border:1px solid #000;text-align:center;padding:3px;'>Particulars</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Amount</th><th style='border:1px solid #000;text-align:center;padding:3px;width:8%;'>Effort Made to Realise the outstanding CWC Dues</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt1').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft1').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt2').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft2').val() + "</span></td></tr><tr><td style='border:1px solid #000;text-align:left;padding:3px;'><span>" + $('#Prt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Amt3').val() + "</span></td><td style='border:1px solid #000;text-align:right;padding:3px;'><span>" + $('#Efft3').val() + "</span></td></tr></tbody></table>";
        var PostData = new FormData();
        PostData.append("type", "vcreport");
        PostData.append("id", $('#VCID').val());
        PostData.append("page", html1);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF", "ReportCWC", new { area = "Report" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open(data.Message + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }
</script>
<script>
    function OnSuccess(data) {
        debugger;
        alert(data.Message);
        if (data.Status == 1) {
            $('#VCID').val(data.Data);
            $('#btnPrint').removeAttr('disabled');
        }
    }
    function OnFailure(data) {
        alert("Internal Error Occurs");
    }
</script>
