@model CwcExim.Models.Commodity
<script>
    var TimeInSeconds = 5000;

    function CommodityCancel() {
        debugger;
        $('#DivBody').load('/Commodity/CreateCommodity');
    }
    function CommodityOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            if ($('#DivCommodityMsg').hasClass('logErrMsg'))
                $('#DivCommodityMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('[data-valmsg-for="CommodityName"]').html('<span></span>');
            $('[data-valmsg-for="CommodityAlias"]').html('<span></span>');
            $('#DivCommodityMsg').html(data.Message);
            setTimeout(CommodityCancel, 5000);
        }
        else if (data.Status == 2) {
            $('[data-valmsg-for="CommodityName"]').html('<span>' + data.Message + '</span>');
        }
        else if (data.Status == 3) {
            $('[data-valmsg-for="CommodityAlias"]').html('<span>' + data.Message + '</span>');
        }
        else {
            if ($('#DivCommodityMsg').hasClass('logSuccMsg'))
                $('#DivCommodityMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivCommodityMsg').html(data.Message);
        }
    }
    function CommodityOnFailure() {
    }
</script>
@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are you sure you want to Update?";
    options.HttpMethod = "POST";
    options.OnSuccess = "CommodityOnSuccess";
    options.OnFailure = "CommodityOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("AddEditCommodityDetail", "Commodity", options))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CommodityId)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Commodity Master</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                               <label>Commodity:</label>
                            </div>
                            <div class="col-md-4">
                                <span class="ReQSimbol">*</span>
                                @Html.TextBoxFor(m => m.CommodityName, "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.CommodityName, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-2 col_cus_2 padding_rt">
                                <label>Commodity Type:</label>
                            </div>
                            <div class="col-md-1 col_cus_1_5">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.CommodityType, "1", new { @class = "", @id = "rbHAZ" })
                                    <label for="rbHAZ"><i class="circle"></i><span>HAZ</span></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="boolean-container">
                                    @Html.RadioButtonFor(m => m.CommodityType, "2", new { @class = "", @id = "rbNonHAZ" })
                                    <label for="rbNonHAZ"><i class="circle"></i><span>Non HAZ</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-6 col-md-5">
                            @Html.ValidationMessageFor(m => m.CommodityType)
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                               @Html.LabelFor(m => m.CommodityAlias, new { @class = "InputLabel" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CommodityAlias, "", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.CommodityAlias, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col-md-offset-2 col_cus_2">
                                <label>Tax Exempted:</label>
                            </div>
                            <div class="col-md-1">
                                <div class="boolean-container">
                                    @Html.CheckBoxFor(m => m.TaxExempted)
                                    <label for="TaxExempted"><i class="square"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2" style="text-align:center">
                            <input type="submit" id="BtnCommoditySave" value="Save" class="btn log_Btn_sm" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="BtnCommodityCancel" value="Cancel" class="btn log_Btn_sm" onclick="CommodityCancel()" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_top SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivCommodityMsg"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivCommodityList">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")