@if (ViewBag.PaymentParty != null)
{
    <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
}
else
{
    <input type="hidden" id="hdnPartyPayee" value="" />
}
@using (Ajax.BeginForm("AddEditMiscInvoice", "Ppg_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "MiscInvoice" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("MiscInvModelJson")
    @Html.Hidden("SupplyType")
    @Html.ValidationSummary()
    
        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Misc.Invoice</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="Radiocontainer">
                                        Tax
                                        @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="Radiocontainer">
                                        Bill
                                        @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                        <span class="checkmark"></span>
                                    </label>
                                    @*<div class="boolean-container">
                                        @Html.RadioButtonFor(m => m.InvoiceType, "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                        @Html.RadioButton("InvoiceType", "Tax", new { id = "Tax", @checked = true, @onclick = "IVType('Tax')" })
                                        <label for="Tax"><i class="circle"></i><span>Tax Invoice</span></label>
                                    </div>
                                    <div class="boolean-container">
                                        @Html.RadioButtonFor(m => m.InvoiceType, "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                        @Html.RadioButton("InvoiceType", "Bill", new { id = "Bill", @onclick = "IVType('Bill')" })
                                        <label for="Bill"><i class="circle"></i><span>Bill Of Supply</span></label>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Invoice No:</label>
                                    @*@Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })*@
                                    @Html.TextBox("InvoiceNo", "", new { @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    <label>Delivery Date:</label>
                                </div>
                                <div class="position-relative Date_Img">
                                    @*@Html.TextBox("DeliveryDate","", new { @class = "form -control input-sm", @readonly = true })*@
                                    @*@Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true, Value = DateTime.Today.ToString("dd/MM/yyyy") })*@
                                    @Html.TextBox("DeliveryDate", "", new { @readonly = true, Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                                </div>
                            </div>                           
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Party Name:</label>
                                </div>
                                <div class="position-relative">
                                    @*@Html.HiddenFor(m => m.PartyId)*@
                                    @Html.Hidden("PartyId")
                                    @*@Html.TextBoxFor(m => m.PartyName, new { @readonly = true })*@
                                    @Html.TextBox("PartyName", "", new { @placeholder = "Party Name",@readonly = true })
                                    <span class="input_icon" id="PartySearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="PartyBinding();" data-target="#PartyModal"></i></span>
                                    @*@Html.ValidationMessageFor(m => m.PartyName)*@
                                    <span style="color:red" id="ErrPartyName"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Payee Name:</label>
                                </div>
                                <div class="position-relative">
                                    @*@Html.HiddenFor(m => m.PayeeId)*@
                                    @Html.Hidden("PayeeId")
                                    @*@Html.TextBoxFor(m => m.PayeeName, new { @readonly = true })*@
                                    @Html.TextBox("PayeeName", "", new { @placeholder = "Payee Name", @readonly = true })
                                    <span class="input_icon" id="PayeeSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="PayeeBinding();" data-target="#PayeeModal"></i></span>
                                    <span style="color:red" id="ErrPayeeName"></span>
                                    @*@Html.ValidationMessageFor(m => m.PayeeName)*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> GST No:</label>
                                </div>
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBox("GSTNo", "", new { @readonly = true })
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SEZ</label>
                                    @Html.DropDownList("SEZ", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---")
                                    @Html.ValidationMessage("SEZ", new { @class = "Error_Msg" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Purpose:</label>
                                </div>
                                @*@Html.DropDownList("Purpose", new List<SelectListItem>
                {
                    new SelectListItem { Text="Printing",Value="Printing"},
                     new SelectListItem { Text="Banking",Value="Banking"},
                       new SelectListItem { Text="Photocopy",Value="PhotoCopy"},
                         new SelectListItem { Text="Cheque Return",Value="ChequeReturn"},
                           new SelectListItem { Text="Others",Value="Others"}

                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                @Html.ValidationMessage("Purpose", "", new { @class = "Error_Msg" })*@
                                @if (ViewBag.PurposeList != null)
                                {
                                    @Html.DropDownList("Purpose", (List<SelectListItem>)ViewBag.PurposeList, "--Select--")
                                }
                                else
                                {
                                    @Html.DropDownList("Purpose", new List<SelectListItem> { }, "----Select----")
                                }
                                <span style="color:red" id="ErrPurpose"></span>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Amount:</label>
                                </div>
                                @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                @Html.TextBox("amount", "", new { @placeholder = "Amount", @onblur = "return caltotal();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                <span style="color:red" id="Erramount"></span>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> CGST:</label>
                                </div>
                                <div class="">
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("cgst", "", new { @placeholder = "CGST", @onblur = "return caltax();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> SGST:</label>
                                </div>
                                <div class="">
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("sgst", "", new { @placeholder = "SGST", @onblur = "return caltax();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> IGST:</label>
                                </div>
                                <div class="">
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("IGST", "", new { @placeholder = "IGST", @onblur = "return caltax();", onkeypress = "return AllowOnlyDecimal(event)", maxlength = "11" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Round Up:</label>
                                </div>
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("round_up", "", new { @readonly = true })                                
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Total:</label>
                                </div>
                                    @*@Html.TextBoxFor(m => m.GSTNo, new { @readonly = true })*@
                                    @Html.TextBox("total", "", new { @readonly = true })     
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Naration:</label>
                                </div>
                                    @*@Html.TextAreaFor(m => m.Remarks, new { @style = "height:75px;" })*@
                                    @Html.TextArea("Naration", new { @placeholder = "Enter Naration", @style = "height:75px;", @maxlength = "500" })                                
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivMiscInvMsg" style="background-color:transparent"></div>
                        <div class="SignUp_space_bottom2">
                            <div class="d-flex justify-content-left">
                                <input type="button" value="Save" onclick="BindJson()" class="btn btn-primary mr-1 btn-100px" id="btnSave" />
                                <input type="button" value="Reset" class="btn btn-primary-border mr-1 btn-100px" onclick="ResetField()" />
                                <input type="button" id="BtnGenerateIRN" class="btn btn-primary mr-1 btn-100px" value="Generate IRN" onclick="GenerateIRN()" disabled="disabled" />
                                <input type="button" value="Print" class="btn btn-primary mr-1 btn-100px" onclick="Print()" id="btnPrint" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

}
@Scripts.Render("~/bundles/jqueryval")

<div id="PartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Partybox" type="text" />
                <ul class="navList" id="lstParty">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PayeeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Payee</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Payeebox" type="text" />
                <ul class="navList" id="lstPayee">
                    @*@{
                        foreach (var item in Model.lstGodownList)
                        {
                        <li id="@item.GodownId">@item.GodownName</li>
                        }
                        }*@
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var FormOneDetails = [];
    var TimeInSeconds;
    $(document).ready(function () {
        TimeInSeconds = 5000;
        $('#DeliveryDate').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
            }
        });
      //  PartyBinding();
      //  PayeeBinding();
    });
    function PartyBinding() {
        $.ajax({
            url: '/CashManagement/Ppg_CashManagement/GetParty',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#hdnPartyPayee').val(data);
                   
                    var html = '';
                    var PartyJson = JSON.parse($('#hdnPartyPayee').val());
                    var html = '';
                    $.each(PartyJson, function (i, item) {
                        html += '<li id="' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
                    });
                    $('#lstParty').html(html);
                }
            }
        });
        
    }
    $('#Partybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstParty > li').show();
        else {
            $('#lstParty > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectParty(id) {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PartyId').val(Party.PartyId);
        $('#PartyName').val(Party.PartyName);
        $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        if ($('#MiscInvModelJson').val() != null && $('#MiscInvModelJson').val() != '' && $('#MiscInvModelJson').val() != 'undefined') {
            var rawJson = JSON.parse($('#MiscInvModelJson').val());

            rawJson.PartyId = $('#PartyId').val();
            rawJson.PartyName = $('#PartyName').val();
            rawJson.PartyGST = $('#GSTNo').val();

            $('#MiscInvModelJson').val(JSON.stringify(rawJson));
        }
        document.getElementById("ErrPartyName").innerHTML = "";
       
        $("#PartyModal").modal("hide");
    }

    function PayeeBinding() {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        $.ajax({
            url: '/CashManagement/Ppg_CashManagement/GetParty',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    $('#hdnPartyPayee').val(data);

                    var html = '';
                    var PartyJson = JSON.parse($('#hdnPartyPayee').val());
                    var html = '';
                    $.each(PartyJson, function (i, item) {
                        html += '<li id="' + item.PartyId + '" onclick="selectPayee(' + item.PartyId + ');">' + item.PartyName + '</li>';
                    });
                    $('#lstPayee').html(html);
                }
            }
        });
       
    }
    $('#Payeebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstPayee > li').show();
        else {
            $('#lstPayee > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function selectPayee(id) {
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        $('#PayeeId').val(Party.PartyId);
        $('#PayeeName').val(Party.PartyName);
        document.getElementById("ErrPayeeName").innerHTML = "";

        $("#PayeeModal").modal("hide");
    }

    var TaxType = '@ViewData["InvType"].ToString()';
    function IVType(Type) {

        TaxType = Type;
        $('#DivBody').load('/CashManagement/Ppg_CashManagement/CreateMiscInvoice?type=' + Type);
    }
    if (TaxType == 'Tax')
        $('#Tax').prop('checked', true);
    else {
        $('#Bill').prop('checked', true);
        $('#cgst').val(0);
        $('#cgst').prop('readonly', true);
        $('#sgst').val(0);
        $('#sgst').prop('readonly', true);
        $('#IGST').val(0);
        $('#IGST').prop('readonly', true);
    }



    $('#Purpose').change(function () {
        debugger;
        var val = $('#Purpose').val();
        
        purpose = $('#Purpose').val();
        InvoiceType = $("input[name='InvoiceType']:checked").val();;
        PartyId = $('#PartyId').val();
        document.getElementById("ErrPurpose").innerHTML = "";
      //  MiscInvCal(purpose, InvoiceType, PartyId);

    })

    function MiscInvCal(purpose, InvoiceType, PartyId) {


        $.ajax({
            url: '/CashManagement/Ppg_CashManagement/GetMiscInvoiceAmount',
            type: 'GET',
            async: false,
            datatype: JSON,
            data: { purpose: purpose, InvoiceType: InvoiceType, PartyId: PartyId },
            success: function (data) {
                // debugger;
                if (data != undefined || data != null) {
                    // debugger;
                    //alert(data);

                    populateJsondata(data);


                }
                else {
                    alert("fail");
                    //  $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGate');
                }

            }
        });

    }

    function populateJsondata(data) {
        debugger;
        $("#amount").val(data.Amount);
        $("#cgst").val(data.CGST);

        $("#sgst").val(data.SGST);
        $("#IGST").val(data.IGST);

        $("#round_up").val(data.Round_up);
        $("#total").val(data.Total);


    }






    //calculate total amount
    function caltotal() {
        if ($('#amount').val() == ".") {
            $('#amount').val("0.00");
        }
        var amt = $('#amount').val();
        var round = Math.ceil(amt) - amt;
        var rounduptot = Math.ceil(amt);

        $('#round_up').val(round.toFixed(2));
        $('#total').val(rounduptot);
        $('#cgst').val('0.00');
        $('#sgst').val('0.00');
        $('#IGST').val('0.00');

        purpose = $('#Purpose').val();



    
            debugger;


            InvoiceType = $("input[name='InvoiceType']:checked").val();;
            PartyId = $('#PartyId').val();
            Amount = $('#amount').val();
            $('.search').css('display', 'none');

            $.ajax({
                url: '/CashManagement/Ppg_CashManagement/GetMiscInvoiceAmount',
                type: 'POST',
                async: false,
                datatype: JSON,
                data: { purpose: purpose, InvoiceType: InvoiceType, PartyId: PartyId , Amount: Amount,SEZ:$('#SEZ').val() },
                success: function (data) {
                    // debugger;
                    if (data != undefined || data != null) {
                        // debugger;
                        //alert(data);

                        $('#SEZ').prop('disabled',true);
                        $('.search').css('display', 'none');
                        populateJsondata(data);


                    }
                    else {
                        alert("fail");
                        //  $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGate');
                    }

                }
            });

       



            document.getElementById("Erramount").innerHTML = "";






    }


    function populateJsondata(data) {
        debugger;
     //   $("#amount").val(data.TotalChrgAmount);
        $("#cgst").val(data.CGST);

        $("#sgst").val(data.SGST);
        $("#IGST").val(data.IGST);

        $("#round_up").val(data.Round_up);
        $("#total").val(data.Total);
        $('#cgst').prop('readonly', true);
        $('#sgst').prop('readonly', true);
        $('#IGST').prop('readonly', true);
        $('#round_up').prop('readonly', true);
        $('#total').prop('readonly', true);
    }

    //calculate tax

    function caltax() {
        var cgst = $('#cgst').val();
        var sgst = $('#sgst').val();
        var igst = $('#IGST').val();
        var amt = $('#amount').val();
        if (amt != '') {
            var totamt = 0;
            if (cgst == '')
                cgst = 0;


            if (sgst == '')
                sgst = 0;

            if (igst == '')
                igst = 0;


            totamt = parseFloat(amt) + parseFloat(cgst) + parseFloat(sgst) + parseFloat(igst);

            var round = Math.ceil(totamt) - totamt;
            var rounduptot = Math.ceil(totamt);

            $('#round_up').val(round.toFixed(2));
            $('#total').val(rounduptot);

            if (cgst > 0 || sgst > 0) {
                $('#IGST').prop('readonly', true);
            }

            if (igst > 0) {
                cgst = 0;
                sgst = 0;
                $('#cgst').prop('readonly', true);
                $('#sgst').prop('readonly', true);
            }

        }
    }


    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivMiscInvMsg').hasClass('logErrMsg'))
                $('#DivMiscInvMsg').removeClass('logErrMsg').addClass('logSuccMsg');

            var InvSupplyData = data.Data.InvoiceNo.split(',');
            $('#InvoiceNo').val(InvSupplyData[0]);
            $('#SupplyType').val(InvSupplyData[1]);
            $('#BtnGenerateIRN').removeAttr('disabled');
            $('#btnPrint').attr("disabled", false);
            $('#MiscInvModelJson').val(JSON.stringify(data.Data));
            $('#DivMiscInvMsg').html(data.Message);

            if (data.Data.InvoiceNo == "")
                $('#btnPrint').attr('disabled');
            else
                $('#BtnGenerateIRN').removeAttr('disabled');
            $('#btnPrint').attr("disabled", false);
            //$('#btnSave').attr('disabled', true);
            //setTimeout(ResetField, TimeInSeconds);
        }
        else {

            $('#btnPrint').attr('disabled');
            if ($('#DivMiscInvMsg').hasClass('logSuccMsg'))

                $('#DivMiscInvMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMiscInvMsg').html(data.Message);

           
        }
    }
    function PaymentOnFailure() {
        alert("Error");
    }
    function ResetField() {

        $('#DivBody').load('/CashManagement/Ppg_CashManagement/CreateMiscInvoice');
    }

    function BindJson() {
        debugger;
        if ($('#PartyName').val() == '') {
            // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
            $('#ErrPartyName').html('Fill Out This Field');
            return false;
        }
        else if ($('#PayeeName').val() == '') {
            //   $('[data-valmsg-for="PayeeName"]').html('<span>Fill Out This Field</span>');
            $('#ErrPayeeName').html('Fill Out This Field');
            return false;
        }
        else if ($('#Purpose').val() == '') {
            $('#ErrPurpose').html('Fill Out This Field');
            //$('[data-valmsg-for="Purpose"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        else if ($('#amount').val() == '') {
            //   $('[data-valmsg-for="amount"]').html('<span>Fill Out This Field</span>');
            $('#Erramount').html('Fill Out This Field');
            return false;
        }
        else {



            var conf = confirm("Do you want to save ?");

            if (conf) {
                try {
                    $('#btnSave').attr('disabled', true);


                    var data = {
                        InvoiceId: 0,
                        InvoiceDate: $('#DeliveryDate').val(),
                        DeliveryDate: $('#DeliveryDate').val(),
                        InvoiceType: TaxType,
                        PartyId: $('#PartyId').val(),
                        PartyName: $('#PartyName').val(),
                        PayeeId: $('#PayeeId').val(),
                        PayeeName: $('#PayeeName').val(),
                        PartyGST: $('#GSTNo').val(),
                        Purpose: $('#Purpose').val(),
                        Amount: $('#amount').val(),
                        CGST: $('#cgst').val(),
                        SGST: $('#sgst').val(),
                        IGST: $('#IGST').val(),
                        Round_up: $('#round_up').val(),
                        Total: $('#total').val(),
                        Naration: $('#Naration').val(),
                        InvoiceHtml: 0,
                        SEZ: $('#SEZ').val()
                    };


                    $('#MiscInvModelJson').val(JSON.stringify(data));
                    var rawJson = JSON.parse($('#MiscInvModelJson').val());

                    rawJson.InvoiceId = 0;
                    rawJson.InvoiceType = TaxType;
                    rawJson.DeliveryDate = $('#DeliveryDate').val();
                    rawJson.PartyId = $('#PartyId').val();
                    rawJson.PartyName = $('#PartyName').val();
                    rawJson.PayeeId = $('#PayeeId').val();
                    rawJson.PayeeName = $('#PayeeName').val();
                    rawJson.PartyGST = $('#GSTNo').val();
                    rawJson.Purpose = $('#Purpose').val();
                    rawJson.Amount = $('#amount').val();
                    rawJson.CGST = $('#cgst').val();
                    rawJson.SGST = $('#sgst').val();
                    rawJson.IGST = $('#IGST').val();
                    rawJson.Round_up = $('#round_up').val();
                    rawJson.Total = $('#total').val();
                    //  rawJson.RoundUp = Number(rawJson.Round_up.toFixed(2));
                    //  rawJson.Total = Number(rawJson.Total);
                    rawJson.Naration = $('#Naration').val();
                    rawJson.InvoiceHtml = InvoiceHtml(rawJson);


                    $('#MiscInvModelJson').val(JSON.stringify(rawJson));

                    $('form#MiscInvoice').submit();

                }
                catch (e) {
                    $('#btnSave').removeAttr('disabled');
                }
            }
        }
    }



    function InvoiceHtml(actualJson) {
        var amountinwords = CurrentcyToWord(actualJson.Total);
        var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'> <img style='width:50%;' src='IMGLeft' /></th><th style='width:60%;'></th><th style='width:20%;'> <img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION <br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'> <span style='border-bottom:1px solid #000;font-weight:600;'><br/>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN- <span></span> <br />PAN NO.- <span></span> <br />STATE CODE : <span></span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td><td> <span>" + actualJson.PartyName + "</span></td></tr><tr><td>Address</td><td> <span></span></td></tr><tr><td>State</td><td> <span></span></td></tr><tr><td>State Code</td><td> <span></span></td></tr><tr><td>GSTIN/ Unique ID</td><td> <span>" + actualJson.PartyGST + "</span></td></tr></tbody></table></td><td></td></tr><tr><td colspan='2'> <b>Invoice No. <span>" + actualJson.InvoiceNo + "</span> </b></td><td style='vertical-align:top;text-align: center;'> <b>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span> </b></td></tr><tr><td colspan='3'><table style='width:100%;float: left;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><tr><td style='vertical-align:top;width:50%;'><table style='width:100%;float: left;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;'><thead><tr><th style='border:1px solid #000;'>CONTAINER NO.</th><th style='border:1px solid #000;'>SIZE</th><th style='border:1px solid #000;'>ARRIVAL DT.</th><th style='border:1px solid #000;'>CARGO TYPE</th></tr></thead><tbody></tbody></table></td><td style='vertical-align:top;width:50%;'><table style='width:100%;float:right;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;border-left-style: none;'><tbody><tr><td style='padding-left: 10px;'>Shipping Line. <span></span> <br/>CFS Code No. <span></span> <br/>Date & Time of Arrival (FN/AN): <span></span> <br/>Date & Time of Destuffing (FN/AN)/ Delivery. <span></span> <br/>Name of Importer. <span></span> <br/>BOE No./Date <span></span> <br/>Name of CHA. <span></span> <br/>No of Packages. <span></span> <br/>Total Gross Weight. <span></span> <br/>Gross Weight per Package. <span></span> <br/>Storage space occupied() <span></span> <br/>Chargeable period for Storage space.<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;margin-top:10pt;'><tr><td>(a) Date & Time of Destuffing(FN/AN)</td></tr><tr><td>(b) Date of Delivery</td></tr><tr><td>(c) Customs Examination Date</td></tr></table></td></tr></tbody></table></td></tr></table></td></tr></tbody></table></td></tr><tr><td colspan='3'>Value of Cargo (CIF Value + Duty + Penalty) Rs. <span></span></td></tr></tbody></table><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding-right:20pt;padding-bottom:50pt;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;'>Particulars</th><th style='border:1px solid #000;'>SAC</th><th style='border:1px solid #000;'>Value</th><th style='border:1px solid #000;'>TDS</th><th style='border:1px solid #000;text-align:center;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;'>Taxes</th><th style='border:1px solid #000;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;'> " + actualJson.Purpose + "</th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'>" + actualJson.Amount + "</th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>CGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>SGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>IGST</th><th style='border:1px solid #000;'></th></tr><tr><th style='border:1px solid #000;border-top:none;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th></tr></thead><tbody><tr><td style='border:1px solid #000;padding-left:25px;'>CWC TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'>" + actualJson.CGST + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'>" + actualJson.SGST + "</td><td style='border:1px solid #000;'>" + actualJson.IGST + "</td><td style='border:1px solid #000;'>" + actualJson.Total + "</td></tr><tr><td style='border:1px solid #000;padding-left:25px;'>H&T TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr><tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'> <span></span></td><td style='border:1px solid #000;text-align:right;'> <span></span></td><td style='border:1px solid #000;text-align:right;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'> <span></span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'> <span></span></td><td style='border:1px solid #000;text-align:right;'> <span></span></td><td style='border:1px solid #000;text-align:right;'> <span></span></td><td style='border:1px solid #000;text-align:right;'> <span>" + actualJson.Total + "</span></td></tr><tr><td>Round Up</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'> <span>" + actualJson.Round_up + "</span></td></tr><tr><td>Grand Total(Rounded)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'> <span>" + actualJson.Total + "</span></td></tr><tr><td colspan='12'>TDS Deduction : <br/>TDS Collection : <br/> <br/>FIGURE IN WORDS: <span>" + amountinwords + "</span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'> <b>REMARKS: <span></span> </b></td></tr></tbody><tfoot><tr><td colspan='4'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table>";

        // var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft' /></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'></td><td style='font-weight:600;'><br /></td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span></span><br />PAN NO.- <span><span><br />STATE CODE : <span></span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        // //var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft'/></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>REGIONAL OFFICE, KOLKATA<br />CMC BUILDING, PHASE-1, 6TH FLOOR, NEW MARKET COMPLEX,<br />15 N, NELLIE SENGUPTA SARANI, KOLKATA - 700087</td><td style='font-weight:600;'>CONTAINER FREIGHT STATION<br />18, COAL DOCK ROAD,<br />KOLKATA - 700043<br />E-mail ID : manager_cfs@yahoo.in</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        //  html1 += "<td><span>" + actualJson.PartyName + "</span></td></tr><tr><td>Address</td><td><span></span></td></tr><tr><td>State</td><td><span></span></td></tr><tr><td>State Code</td><td><span></span></td></tr><tr><td>GSTIN/ Unique ID</td><td><span>" + actualJson.PartyGST + "</span></td></tr></tbody></table>";
        //  html1 += "</td><td></td></tr><tr><td colspan='2'><b>Invoice No. <span>" + actualJson.InvoiceNo + "</span></b></td><td style='vertical-align:top;text-align: center;'><b>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></b></td>";
        //  html1 += "</tr><tr><td colspan='2'><table><tr><td style='vertical-align:top;width:50%;'><table style='width:100%;float: left;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;'><thead><tr><th style='border:1px solid #000;'>CONTAINER NO.</th><th style='border:1px solid #000;'>SIZE</th><th style='border:1px solid #000;'>ARRIVAL DT.</th><th style='border:1px solid #000;'>CARGO TYPE</th></tr></thead><tbody>";
        //$.each(actualJson.lstPostPaymentCont, function (i, item) {
        //    html1 += "<tr><td style='border:1px solid #000;text-align:center;'><span>" + item.ContainerNo + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Size + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.ArrivalDate + " " + item.ArrivalTime + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + (item.CargoType == 1 ? "Haz" : "Non-Haz") + "</span></td></tr>";
        //});
        //   html1 += "</tbody></table></td><td style='vertical-align:top;width:50%;'><table style='width:100%;float:right;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;border-left-style: none;'><tbody><tr><td>";
        //   html1 += "Shipping Line. <span></span><br/>CFS Code No. <span></span><br/>Date & Time of Arrival (FN/AN): <span></span><br/>Date & Time of Destuffing (FN/AN)/ Delivery. <span></span><br/>Name of Importer. <span></span><br/>BOE No./Date <span></span><br/>Name of CHA. <span></span><br/>No of Packages. <span></span><br/>Total Gross Weight. <span></span><br/>Gross Weight per Package. <span></span><br/>Storage space occupied() <span></span><br/>Chargeable period for Storage space.";
        //   html1 += "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;margin-top:10pt;'><tr><td>(a) Date & Time of Destuffing(FN/AN)</td></tr><tr><td>(b) Date of Delivery</td></tr><tr><td>(c) Customs Examination Date</td></tr></table></td></tr></tbody></table></td></tr></table></td></tr></tbody></table></td></tr>";
        //   html1 += "<tr><td colspan='3'>Value of Cargo (CIF Value + Duty + Penalty) Rs.<span></span></td></tr></tbody></table>";

        // var html2 = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding-right:20pt;padding-bottom:50pt;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;'>Particulars</th><th style='border:1px solid #000;'>SAC</th><th style='border:1px solid #000;'>Value</th><th style='border:1px solid #000;'>TDS</th><th style='border:1px solid #000;text-align:center;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;'>Taxes</th><th style='border:1px solid #000;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>CGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>SGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>IGST</th><th style='border:1px solid #000;'></th></tr><tr><th style='border:1px solid #000;border-top:none;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th></tr></thead><tbody>";
        //var cwcCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'CWC'; });
        //$.each(cwcCharges, function (i, item) {
        //    html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
        //    //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        //});
        //  html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>CWC TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        //var htCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'HT'; });
        ////html2 += "<tr><td style='border:1px solid #000;'><b><br />B. H&T Charges :-</b></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        //$.each(htCharges, function (i, item) {
        //    html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
        //    //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        //});
        //   html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>H&T TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        //html2 += "<tr><td>H&T TDS</td><td></td><td></td><td>" + actualJson.HTTDS + "</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>";

        //  html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + /*actualJson.TDS.toFixed(2) +*/ "</span></td><td style='border:1px solid #000;text-align:right;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span></span></td></tr>";
        //html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TDS + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + ((actualJson.CWCTotal * 10 / 100) + (actualJson.HTTotal * 2 / 100)).toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal + "</span></td></tr>";
        // html2 += "<tr><td>Round Up</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span></span></td></tr>";
        // html2 += "<tr><td>Grand Total(Rounded)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span></span></td></tr>";
        //  html2 += "<tr><td colspan='12'>TDS Deduction : <br/>TDS Collection :<br/><br/>FIGURE IN WORDS: <span></span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'><b>REMARKS:<span></span></b></td></tr>";

        //  html2 += "</tbody><tfoot><tr><td colspan='4'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table>";
        debugger;
        // return btoa(html1 + '<>' + html2);
        return btoa(html1);
    }

    //Printing Misc. Invoice

    function Print() {
        /*
         var actualJson = JSON.parse($('#MiscInvModelJson').val());
         var amountinwords = CurrentcyToWord(actualJson.Total);
         var html1 = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='3' style='text-align:center;vertical-align:bottom;font-size:8pt;'>CENTRAL WAREHOUSING CORPORATION<br/>(A GOVT. OF INDIA UNDERTAKING)<br/><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></th></tr></thead><tbody><tr><td style='vertical-align: top;border:1px solid #000;padding: 5px;'><span style='font-weight: 600;'>Regional Office(Ahmedabad)</span>,<br/>Regional Manager,<br/>Central Warehousing Corporation,<br/>Mahalaxmi Char Rasta,<br/>Opp.Unnati Vidyalaya, Paladi,<br/>Ahmedabad-380 007</td><td style='vertical-align: top;border:1px solid #000;padding: 5px;'><span style='font-weight: 600;'>KOLKATA CWC</span>, <br/>18, COLD DOCK ROAD<br/>KOLKATA - 700043<br/>manager_cfs@yahoo.in<br/><br/>GSTIN- <span>19AAACC1206D2ZC</span><br/>PAN No.- <span>AAACC1206D</span><br/>State Code- <span>19</span></td><td style='vertical-align: top;border:1px solid #000;padding: 3px 5px;'><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;'><thead><tr><td colspan='2'><span style='font-weight: 600;text-decoration: underline;'>Details of Receiver ( Billed to)</span></td></tr></thead><tbody><tr><td style='width:20%;font-weight: 600;'>Name:</td><td><span>" + actualJson.PartyName + "</span></td></tr><tr><td style='width:20%;font-weight: 600;'>Address:</td><td><span></span></td></tr><tr><td style='width:20%;font-weight: 600;'>State:</td><td><span></span></td></tr><tr><td style='width:20%;font-weight: 600;'>State Code:</td><td><span></span></td></tr><tr><td style='width:20%;font-weight: 600;'>GSTIN/ Unique ID:</td><td><span>" + actualJson.PartyGST + "</span></td></tr></tbody></table></td></tr></tbody></table><table style='width:99.7%;margin-left:0.15%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;padding:5px;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding:5px;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;padding: 5px;'>Particulars</th><th style='border:1px solid #000;padding: 5px;'>SAC</th><th style='border:1px solid #000;padding: 5px;'>Value</th><th style='border:1px solid #000;padding: 5px;'>TDS</th><th style='border:1px solid #000;text-align:center;padding: 5px;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;padding: 5px;'>Taxes</th><th style='border:1px solid #000;padding: 5px;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;padding: 5px;'></th><th rowspan='2' style='border:1px solid #000;padding: 5px;'></th><th rowspan='2' style='border:1px solid #000;padding: 5px;'>" + actualJson.Amount + "</th><th rowspan='2' style='border:1px solid #000;padding: 5px;'></th><th rowspan='2' style='border:1px solid #000;padding: 5px;'></th><th style='border:1px solid #000;padding: 5px;'>Rate</th><th style='border:1px solid #000;padding: 5px;'>CGST</th><th style='border:1px solid #000;padding: 5px;'>Rate</th><th style='border:1px solid #000;padding: 5px;'>SGST</th><th style='border:1px solid #000;padding: 5px;'>Rate</th><th style='border:1px solid #000;padding: 5px;'>IGST</th><th style='border:1px solid #000;padding: 5px;'></th></tr></thead><tbody><tr><td style='border:1px solid #000;padding-left: 5px;'>" + actualJson.Purpose + "</td><td style='border:1px solid #000;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span>" + actualJson.CGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span>" + actualJson.SGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span>" + actualJson.IGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span>" + actualJson.Total + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'><span></span></td></tr><tr><td colspan='12'>&nbsp;</td></tr><tr><td style='border:1px solid #000;padding-left: 5px;'><b>Grand Total</b></td><td style='border:1px solid #000;padding: 3px 5px;'></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Amount + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'>0.00</td><td style='border:1px solid #000;padding: 3px 5px;'></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.CGST + "</span></td><td style='border:1px solid #000;padding: 3px 5px;'></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.SGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'></span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.IGST + "</span></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Total + "</span></td></tr><tr><td colspan='11' style='border:1px solid #000;padding-left: 5px;'><b>Round Up</b></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Round_up + "</span></td></tr><tr><td colspan='11' style='border:1px solid #000;padding-left: 5px;'><b>Grand Total(Rounded)</b></td><td style='border:1px solid #000;text-align:right;padding: 3px 5px;'> <span style='font-weight:600;'>" + actualJson.Total + "</span></td></tr><tr><td colspan='12' style='border:1px solid #000;padding-left: 5px;font-weight:600;'>TDS Deduction :  <br/>TDS Collection :  <br/> <br/>FIGURE IN WORDS: <span>"+amountinwords+" </span></td></tr><tr><td colspan='12' style='padding:5pt 5pt 50pt 5pt;'> <b>REMARKS: <span>" + actualJson.Naration + "</span> </b></td></tr></tbody><tfoot><tr><td colspan='4' style='padding-left: 5px;'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;'><tbody><tr><td style='padding: 5px;'><b>Invoice No.<span>" + actualJson.InvoiceNo + "</span></b></td><td style='vertical-align:top;text-align: right;padding: 5px;'><b>Date: <span></span></b></td></tr><tr><td colspan='2'><table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse: collapse;'><thead><tr><th style='border:1px solid #000;text-align: left;padding: 5px;'>Container No.</th><th style='border:1px solid #000;padding: 5px;'>CFS Code</th><th style='border:1px solid #000;padding: 5px;'>Size</th><th style='border:1px solid #000;padding: 5px;'>Arrival</th><th style='border:1px solid #000;padding: 5px;'>Non-Haz</th><th style='border:1px solid #000;padding: 5px;'>Destuffing</th><th style='border:1px solid #000;padding: 5px;'>Bill of Entry</th><th style='border:1px solid #000;padding: 5px;'>Delivery</th><th style='border:1px solid #000;padding: 5px;'>Customs Examination</th></tr></thead><tbody><tr><td style='border:1px solid #000;text-align:left;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td><td style='border:1px solid #000;text-align:center;padding: 3px 5px;'><span></span></td></tr></tbody></table></td></tr><tr><td colspan='2'><table style='width:100%;font-size:6.5pt;font-family:Verdana,Arial,San-serif;border-collapse: collapse;'><tbody><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Shipping Line:</td><td><span> </span></td><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Name of Importer:</td><td><span></span></td></tr><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Name of CHA.:</td><td><span></span></td><td style='width:25%;font-weight: 600;padding: 3px 5px;'>No. of Packages:</td><td><span></span></td></tr><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Total Gross Weight:</td><td><span></span></td><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Gross Weight per Package:</td><td><span></span></td></tr><tr><td style='width:25%;font-weight: 600;padding: 3px 5px;'>Storage space occupied():</td><td><span></span></td></tr></tbody></table></td></tr><tr><td colspan='2' style='font-weight: 600;padding: 8px 5px;'>Value of Cargo (CIF Value + Duty + Penalty) Rs. <span></span></td></tr></tbody></table>";


         var PostData = new FormData();
         PostData.append("type", "Misc.Inv");
         PostData.append("id", $('#InvoiceNo').val());
         PostData.append("page", html1);
        // PostData.append("npage", html2);*/
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWC", new { area = "Report" })',
            headers: { "__RequestVerificationToken": Token },
            data: {
                InvoiceNumber: $('#InvoiceNo').val(),
                InvoiceModule: 'MiscInv',
                PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                InvoiceModuleName: 'MISCELLANEOUS',
            },
            dataType:'JSON',
            success: function (data) {
                window.open(data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }

    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function GenerateIRN() {
        $.ajax({
            url: '/Import/Ppg_CWCImport/GetIRNForYardInvoice',
            type: 'POST',
            data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#SupplyType').val() },
            // headers:{"__RequestVerificationToken":Token},
            dataType: 'JSON',
            success: function (data) {

                if (data.Status == 1) {

                    alert("IRN has been generated successfully")
                    $('#btnPrint').attr("disabled", false);

                    $('#BtnGenerateIRN').attr("disabled", true);
                }
                else {
                    alert(data.Message);
                    $('#btnPrint').attr("disabled", false);
                    $('#BtnGenerateIRN').attr("disabled", true);
                }
            }
        });
    }

</script>
