@model IEnumerable<CwcExim.Areas.CashManagement.Models.PPGInterBalanceTransfer>
<table id="TblSDRefundList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("View")</th>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>Transfer Date</th>
            <th>From PartyName</th>
            <th>To PartyName</th>
            <th>Transfer Amount</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="ViewSDTransfer(@item.ID)"><i class="fa fa-eye" aria-hidden="true"></i></a></div></td>
                    <td class="text-center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.TransferDate)</td>
                    <td>@Html.DisplayFor(m => item.FromPartyName)</td>
                    <td>@Html.DisplayFor(m => item.ToPartyName)</td>
                    <td>@Html.DisplayFor(m => item.TransferBalance)</td>
                </tr>
                SerialNo++;
            }
        }

    </tbody>
</table>

<script>
    $(function () {
        var TblSDRefundList = $('#TblSDRefundList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "Transfer Date" },
                       { "sName": "From Party" },
                       { "sName": "To Party" },
                       { "sName": "Amount" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblSDRefundList);
    });

    function ViewSDTransfer(Id) {
        debugger;
        $('#DivBody').load('/CashManagement/Ppg_CashManagement/ViewInterBalanceTransfer?ID=' + Id);
    }
</script>


