@model IEnumerable<CwcExim.Areas.CashManagement.Models.CancelReceiptList>
<table id="tblList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">@Html.DisplayName("SL No")</th>
            <th>@Html.DisplayNameFor(m => m.ReceiptNo)</th>
            <th>@Html.DisplayNameFor(m => m.CancelledOn)</th>
            <th>@Html.DisplayNameFor(m => m.CancelledReason)</th>
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@data.ReceiptNo</td>
                    <td>@data.CancelledOn</td>
                    <td>@data.CancelledReason</td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblList = $('#tblList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No","width": "10%" },
                       { "sName": "ReceiptNo", "bSortable": false },
                       { "sName": "CancelledOn", "bSortable": false },
                       { "sName": "CancelledReason", "bSortable": false, }
            ]
        });
        new $.fn.dataTable.FixedHeader(tblList);
    });
</script>
