@model CwcExim.Areas.CashManagement.Models.Ppg_ReceiptVoucherModel

@using (Ajax.BeginForm("ReceiptVoucher", "Ppg_CashManagement", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", LoadingElementDuration = 1000, LoadingElementId = "divProgress" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m=>m.ReceiptId,new { @Value=0})
        <div class="row">
            <div class="col-md-12">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Receipt Voucher</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.VoucherNo)
                                    @Html.TextBoxFor(m => m.VoucherNo, new { @readonly = true })
                                    @Html.ValidationMessageFor(m => m.VoucherNo)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PaymentDate)
                                </div>
                                <div class="position-relative Date_Img">
                                    <input type="hidden" id="PaymentDateCheck" />
                                    @Html.TextBoxFor(m => m.PaymentDate, new { @placeholder = "Payment Date", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.PaymentDate, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrAppDate"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Purpose)
                                </div>
                                <div class="position-relative Error_Msg">
                                    <select id="Purpose" name="Purpose">
                                        <option value="Imprest">Imprest</option>
                                        <option value="Temporary Advance">Temporary Advance</option>
                                    </select>
                                    @Html.ValidationMessageFor(m => m.Purpose)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Amount)
                                </div>
                                <div class="position-relative Error_Msg">
                                    @Html.TextBoxFor(m => m.Amount, new { @placeholder ="Amount"})
                                    @Html.ValidationMessageFor(m => m.Amount)
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InstrumentNo)
                                    @Html.TextBoxFor(m => m.InstrumentNo, new { @placeholder = "Instrument No" })

                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InstrumentDate)
                                    <div class="position-relative Date_Img">
                                        <input type="hidden" id="InstrumentDateCheck" />
                                        @Html.TextBoxFor(m => m.InstrumentDate, new { @placeholder = "Instrument Date", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.InstrumentDate, "", new { @class = "Error_Msg" })
                                        <span style="color:red" id="ErrAppDate"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Narration)
                                    @Html.TextAreaFor(m => m.Narration, new { @placeholder = "Enter Narration", @style = "height:75px;" })
                                    @Html.ValidationMessageFor(m => m.Narration)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_top2 SignUp_space_bottom2">
                            </div>
                        </div>
                        <div class="d-flex justify-content-left">
                                <button type="submit" class="btn btn-primary mr-1 btn-100px">Save</button>
                                <button id="BtnPrint" type="button" class="btn btn-primary mr-1 btn-100px" onclick="PrintVoucher()" disabled>Print</button>  
                                <button type="reset" class="btn btn-primary-border btn-100px" onclick="ResetForm()">Reset</button>

                                                          
                        </div>
                        <div class="row Form_Space_top">
                            <div id="DivReceiptVoucherList" class="col-md-12 ClearFix SignUp_space_bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>      
}

<div class="modal fade" id="PartyModal" role="dialog">
    @*<div class="modal-dialog">

         Modal content
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                        foreach (var item in ViewBag.Parties)
                        {
                            <li id="@item.PartyId">@item.PartyName</li>
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $("#PaymentDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    $("#InstrumentDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });

    $(function () {
        GetReceiptList();
    });

    function OnSuccess(data) {
        alert(data.Message);
        if (data.Status) {
            $('#ReceiptId').val(data.Id);
            $('#VoucherNo').val(data.Data);
            $('#BtnPrint').prop('disabled', false);
            GetReceiptList();
        }
    }

    function ResetForm() {
        $('#DivBody').load('@Url.Action("ReceivedVoucher", "Ppg_CashManagement",new { area = "CashManagement" })');
    }

    function GetReceiptList() {
        $('#DivReceiptVoucherList').load('@Url.Action("GetReceiptVoucherList", "Ppg_CashManagement", new { area = "CashManagement" })');
    }

    function PrintVoucher() {              
        var html1 = "<table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='text-align:center;'>CENTRAL WAREHOUSING CORPORATION (FORMAT-X)<br/>Principal Place of Business:___________________<br/>Receipt Voucher<br/><p style='text-align:right;'>ORIGINAL FOR RECIPIENT</p></th></tr></thead> <tbody> <tr><td><table style='width:100%;font-size:10pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse: collapse;'><tbody><tr><td style='border:1px solid #000;'>Details of Service Provider</td><td style='border:1px solid #000;'>Details of Service Receiver</td></tr><tr><td style='border:1px solid #000;'>Name : <span>Central Warehouse</span></td><td style='border:1px solid #000;'>Voucher No: <span>" + $('#VoucherNo').val() + "</span></td></tr><tr><td style='border:1px solid #000;'>Warehouse Address:<span></span></td><td style='border:1px solid #000;'>Voucher Date:<span>" + $('#PaymentDate').val() + "</span></td></tr><tr><td style='border:1px solid #000;'>City:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>State Code:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>GSTIN:<span></span></td><td style='border:1px solid #000;'></td></tr><tr><td style='border:1px solid #000;'>PAN:<span></span></td><td style='border:1px solid #000;'></td></tr></tbody></table> </td></tr><tr><td style='border-bottom:1px solid #000;padding-top:40pt;font-size:9pt;'><strong>Receipt Purpose:</strong><span>" + $('#Purpose option:selected').text() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Receipt Amount:</strong>					<span>" + $('#Amount').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Instrument No:</strong><span>" + $('#InstrumentNo').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Instrument Date:</strong><span>" + $('#InstrumentDate').val() + "</span></td></tr><tr><td style='border-bottom:1px solid #000;padding-top:15pt;font-size:9pt;'><strong>Narration:</strong><span>" + $('#Narration').val() + "</span></td></tr></tbody></table>";
        var PostData = new FormData();
        PostData.append("ReceiptId", $('#ReceiptId').val());
            PostData.append("Page1", html1);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateReceiptVoucher", "Ppg_CashManagement", new { area = "CashManagement" })',
                data: PostData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Message + '?t=' + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                }
            });        
    }
</script>