@model IEnumerable<CwcExim.Areas.Master.Models.DNDCWCChargesGroundRent>
<table class="table table-bordered table-striped" id="TblGroundList" style="width:100%;">
    <thead>
        <tr>
            <th style="text-align:center;">@Html.DisplayName("SL No")</th>
            <th style="text-align:center;">@Html.DisplayName("Effective Date")</th>
            <th>@Html.DisplayName("Container/CBT Type")</th>
            <th>@Html.DisplayName("Container/CBT Details")</th>
            <th>@Html.DisplayNameFor(m => m.OperationType)</th>
            <th>@Html.DisplayName("Days Range")</th>
            <th>@Html.DisplayName("Rent Amount")</th>
            <th style="text-align:center;">@Html.DisplayName("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;">@SerialNo.ToString()</td>
                    <td>@item.EffectiveDate</td>
                    @if (item.ContainerType == 1)
                    {
                        <td>Empty Container</td>
                    }
                    else if (item.ContainerType == 2)
                    {
                        <td>Loaded Container</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (item.CommodityType == 1)
                    {
                        <td style="text-align:center;">HAZ @item.Size</td>
                    }
                    else
                    {
                        <td style="text-align:center;">Non HAZ @item.Size</td>
                    }
                    @if (item.OperationType == 1)
                    {
                        <td>Import</td>
                    }
                    else if (item.OperationType == 2)
                    {
                        <td>Export</td>
                    }
                    else if (item.OperationType == 3)
                    {
                        <td>OnWheelExport</td>
                    }
                    else if (item.OperationType == 4)
                    {
                        <td>Empty Export</td>
                    }
                    else if (item.OperationType == 5)
                    {
                        <td>Buffer Export</td>
                    }
                    else if (item.OperationType == 6)
                    {
                        <td>Export incentive</td>
                    }
                    else if (item.OperationType == 7)
                    {
                        <td>Special Destuffing</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@item.DaysRangeFrom-@item.DaysRangeTo</td>
                    <td>@item.RentAmount</td>
                    <td style="text-align:center;"><a href="#" onclick="EditGroundRent(@item.GroundRentId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var TblGroundList = $('#TblGroundList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                    { "sName": "SL No", "width": "10%" },
                    { "sName": "Effective Date" },
                    { "sName": "Container Type", },
                    { "sName": "Container Details", },
                    { "sName": "Operation Type" },
                    { "sName": "Days Range","bSortable":false },
                    { "sName": "Rent Amount","bSortable":false },
                    { "sName": "Edit", "bSortable": false, "width": "10%" }
            ]
        });
        new $.fn.dataTable.FixedHeader(TblGroundList);
    });
    function EditGroundRent(GroundRentId)
    {
        $('#DivGroundRent').load('/Master/DNODEMaster/EditGroundRent?GroundRentId='+GroundRentId);
    }
</script>
