@model CwcExim.Areas.Master.Models.CHNGodownVM
<script>
        function LoadGodownPage() {
            $('#DivBody').load('/Master/CHNMaster/CreateGodown');
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Godown Master</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>Godown Name:</label>
                        </div>
                        <div class="col-md-5">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.MstGodwon.GodownName, new { @class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2" style="text-align:center">
                        <input type="button" value="Back" class="btn log_Btn_sm" onclick="LoadGodownPage()" />
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div id="DivTblLocation" class="col-sm-12 col-md-12">
                        <table class="table table-striped table-bordered dataTable Form_Input">
                            <thead>
                                <tr>
                                    <th>Location Name:</th>
                                    <th style="text-align:center;width:10%;">Row (X)</th>
                                    <th style="text-align:center;width:10%;">Column (Y)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.LstLocation)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(m => item.LocationName)</td>
                                            <td style="text-align:center">@Html.DisplayFor(m => item.Row)</td>
                                            <td style="text-align:center">@Html.DisplayFor(m => item.Column)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
