
@model CwcExim.Areas.Report.Models.Ppg_E04Report

@*@{

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";

    }

    @using (Ajax.BeginForm("GetE04Search", "Loni_ReportCWCV2", options))
    {
        @Html.AntiForgeryToken()*@

<div class="container-fluid">
    <div class="row">

        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>LEO Details (E04)</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Ship Bill No:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.HiddenFor(m => m.ID)
                                @Html.TextBoxFor(m => m.SB_NO)
                            </div>
                            <div class="col-md-1-5">
                                <label>Exporter:</label>
                            </div>
                            <div class="col-md-2-5 col_cus_2_5">
                                @Html.TextBoxFor(m => m.EXP_NAME)
                            </div>
                            <div class="col-md-1-5">
                                <label>Ship Bill Date:</label>
                            </div>
                            <div class="col-md col_cus_2_5">
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.SB_DATE, new { @class = "form-control input_sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-4 col-md-2">
                            <input type="button" value="Search" class="btn log_Btn_sm" id="BtnSearch" onclick="GetE04SearchDetails()" />
                        </div>

                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="ResetAllFields()" />
                        </div>

                    </div>
                    <div class="logErrMsg Form_Space_bottom" id="DivPDAErrMsg" style="background-color:transparent;"></div>

                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-2">
                                <input type="button" id="btnShowList" value="Show List" onclick="ShowList()" class="btn log_Btn_sm" />
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="DivContainerStuffingList">
                            <table class="table table-bordered table-striped dataTable" style="width:100%; table-layout:fixed; word-break:break-word; overflow:hidden;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sl No</th>
                                        <th class="text-center">SB No</th>
                                        <th class="text-center">SB Date</th>
                                        <th class="text-center">Exporter Name</th>
                                        <th class="text-center" width="200px">Address, Address1, City, Pin</th>
                                        <th class="text-center">FOB Value</th>
                                        <th class="text-center">Port of Destination</th>
                                        <th class="text-center">Gateway Port</th>
                                        <th class="text-center">LEO Date</th>
                                        <th class="text-center">PCIN</th>
                                        <th class="text-center">View</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="DivContainerStuffingListNew">
                            <table class="table table-bordered table-striped dataTable" id="TblE04List" style="width:100%; table-layout:fixed; word-break:break-word; overflow:hidden;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sl No</th>
                                        <th class="text-center">SB No</th>
                                        <th class="text-center">SB Date</th>
                                        <th class="text-center">Exporter Name</th>
                                        <th class="text-center" width="200px">Address, Address1, City, Pin</th>
                                        <th class="text-center">FOB Value</th>
                                        <th class="text-center">Port of Destination</th>
                                        <th class="text-center">Gateway Port</th>
                                        <th class="text-center">LEO Date</th>
                                        <th class="text-center">PCIN</th>
                                        <th class="text-center">View</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*}*@
@Scripts.Render("~/bundles/jqueryval")
<script>


    $("#SB_DATE").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $("[data-valmsg-for='SB_DATE']").html('');
            }
        });

    function ShowList() {
        $('#TblE04List').hide();
            $('#DivContainerStuffingList').load('/Report/Loni_ReportCWCV2/GetE04List');
        }


        //$('#BtnSearch').on("click", function () {

        //    if ($('#SB_NO').val() == '' && $('#EXP_NAME').val() == '' && $('#SB_DATE').val() == '') {
        //        $('#DivPDAErrMsg').html("Please Enter Either Shipping Bill No or Shipping Bill Date or Exporter Name").removeClass('logSuccMsg').addClass('logErrMsg');
        //            return false;
        //        }
        //        else {
        //        $('#DivPDAErrMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('');
        //        //$('#DivContainerStuffingList').load(+'/Report/Loni_ReportCWCV2/GetE04List');
        //        }

        //    return true;
        //});

        function GetE04SearchDetails() {
            debugger;

            var SBNo = $('#SB_NO').val();
            var SBDate = $('#SB_DATE').val();
            var ExpName = $('#EXP_NAME').val();

            if ($('#SB_NO').val() == '' && $('#EXP_NAME').val() == '' && $('#SB_DATE').val() == '') {
                $('#DivPDAErrMsg').html("Please Enter Either Shipping Bill No or Shipping Bill Date or Exporter Name").removeClass('logSuccMsg').addClass('logErrMsg');
                return false;
            }
            else {
                $('#DivPDAErrMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('');
                //$('#DivContainerStuffingList').load(+'/Report/Loni_ReportCWCV2/GetE04List');


                $.ajax({
                    url: '/Report/Loni_ReportCWCV2/GetE04Search',
                    type: 'GET',
                    dataType: 'JSON',
                    data: {
                        SB_No: SBNo,
                        SB_Date: SBDate,
                        Exp_Name: ExpName
                    },
                    success: function (data) {
                        debugger;
                        if (data.Status == 1) {
                            debugger
                            var Html = '';
                            $.each(data.Data, function (i, item) {
                                Html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.SB_NO + '</td><td>' + item.SB_DATE + '</td><td>' + item.EXP_NAME + '</td><td>' + item.Address + '</td><td>' + item.FOB + '</td><td>' + item.POD + '</td><td>' + item.GATEWAY_PORT + '</td><td>' + item.LEO_DATE + '</td><td>' + item.PCIN + '</td><td class="text-center"><a href="#" onclick="ViewE04Detail(' + item.ID + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
                            });
                            $('#DivContainerStuffingList').empty();
                            //$('#DivContainerStuffingListNew').show();
                            $('#TblE04List>tbody').html(Html);
                            //$('#DivContainerStuffingList').html(Html);
                            $('#TblE04List').show();
                        }
                    }
                });
            }
        }

        function ViewE04Detail(ID) {
            debugger;
            $('#DivBody').load('/Report/Loni_ReportCWCV2/ViewE04DetailsReport?ID=' + ID);
        }

        function ResetAllFields() {
            $('#SB_NO').val('');
            $('#SB_DATE').val('');
            $('#EXP_NAME').val('');
        }

        $(document).ready(function () {
            $('#TblE04List').hide();
        });
</script>