@model CwcExim.Areas.GateOperation.Models.HDB_EntryThroughGate

@{
    AjaxOptions options = new AjaxOptions();
    //options.Confirm = "Are You Sure You Want To Save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "GateEntryOnSuccess";
    options.OnFailure = "GateEntryOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script type="text/javascript">
    var TimeInSeconds;
    $(document).ready(function () {
      // GetEntryThroughGateList();
        TimeInSeconds = 3000;
        var time = new Date();
        time = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
        document.getElementById("SysTime").value = time;
        var t = setTimeout(StartSysTime, 500);
        $('#ReferenceSearch').hide();
        $('#ContainerSearch').hide();
        $("#StuffType").attr("disabled", true);
        $('#divforwarder').hide();
        $("#DepositorName").attr("readonly", false);
        $('#lblCBT').hide();
        $('#lblCONT').show();
    });

    function GetEntryThroughGateList() {
        debugger;

        $('#DivGateEntryList').load('/GateOperation/HDB_CWCGateOperation/EntryThroughGateList');
    }
    function StartSysTime() {
        var time = new Date();
        time = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
        document.getElementById("SysTime").value = time;
        var t = setTimeout(StartSysTime, 500);
    }


</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4 postn_rel">
                @*@using (Ajax.BeginForm("", "", new AjaxOptions
                    {
                        Confirm = "Are you sure you want to Save?",
                        HttpMethod = "POST",
                        OnSuccess = "GateEntryOnSuccess",
                        OnFailure = "GateEntryOnFailure"
                    }))
                    {*@

                @using (Ajax.BeginForm("AddEditEntryThroughGate", "HDB_CWCGateOperation", options))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.HiddenFor(m=>m.JsonContainer)*@
                    @*<input type="hidden" id="JsonContainer" value="@ViewBag.JSONResult" name="JsonContainer" />*@
                    <input type="hidden" id="LoadedConStr" />
                    <input type="hidden" id="StuffConStr" />
                    <input type="hidden" id="lstGateEntryExport" name="lstGateEntryExport" value="@ViewBag.lstGateEntryExport" />
                    <input type="hidden" id="lstReferenceNumberList" name="lstReferenceNumberList" value="@ViewBag.lstReferenceNumberList" />
                    <input type="hidden" id="lstloadReferenceNumberList" name="lstloadReferenceNumberList" value="@ViewBag.lstloadReferenceNumberList" />
                    <input type="hidden" id="lstContList" name="lstContList" value="" />
                    <input type="hidden" id="lstChaName" name="lstChaName" value="@ViewBag.lstChaName" />
                    <input type="hidden" id="lstShippingLine" name="lstShippingLine" value="@ViewBag.lstShippingLine" />
                    <input type="hidden" id="lstForwarder" name="lstForwarder" value="@ViewBag.lstForwarder" />
                    //  @Html.HiddenFor(m=>m.OperationType)
                    @Html.HiddenFor(m => m.EntryId)
                    @Html.HiddenFor(m => m.OldCfsCode)
                    <div class="time_sec" onload="startTime()"><span id="Time"></span></div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Entry Through Gate</h4>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Operation Type:</label>
                            </div>
                            @*<div class="col-md-1-5">
                                    <div class="boolean-container">
                                        @Html.RadioButton("OperationType", "Import", new { @class = "", @id = "Import", @onclick = "GoToImport();" })
                                        <label for="Import"><i class="circle"></i><span>Import</span></label>
                                    </div>
                                </div>*@
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("OperationType", "Export", new { @class = "", @id = "Export", @checked = true, @onclick = "GoToExport();" })
                                    <label for="Export"><i class="circle"></i><span>Export</span></label>
                                </div>
                            </div>
                            @*<div class="col-md-1-5">
                                    <div class="boolean-container">
                                        @Html.RadioButton("OperationType", "Bond", new { @class = "", @id = "Bond", @onclick = "GoToBond();" })
                                        <label for="Bond"><i class="circle"></i><span>Bond</span></label>
                                    </div>
                                </div>*@

                            @*<div class="col-md-2">
                                    <div class="boolean-container">
                                        @Html.RadioButton("OperationType", "LoadedContainer", new { @class = "", @id = "LoadedContainer", @onclick = "GoToLoaadedContainer();" })
                                        <label for="LoadedContainer"><i class="circle"></i><span>Loaded Container</span></label>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>Container Type:</label>
                            </div>
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContainerType", "Empty", new { @class = "", @id = "Empty", @onclick = "GetRadioVal();", @checked = true })
                                    <label for="Empty"><i class="circle"></i><span>Empty</span></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContainerType", "LoadedCBT", new { @class = "", @id = "LoadedCBT", @onclick = "GetRadioVal();" })
                                    <label for="LoadedCBT"><i class="circle"></i><span>Loaded Vehicle</span></label>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContainerType", "Loaded", new { @class = "", @id = "Loaded", @onclick = "GetRadioVal();", })
                                    <label for="Loaded"><i class="circle"></i><span>Loaded Container</span></label>
                                </div>
                            </div>
                            <div class="col-md-1-5">
                                <div class="boolean-container">
                                    @Html.RadioButton("ContainerType", "BTT", new { @class = "", @id = "BTT", @onclick = "GetRadioVal();" })
                                    <label for="BTT"><i class="circle"></i><span>BTT</span></label>
                                </div>
                            </div>
                            @*<div class="col-md-1-5 col-md-offset-4">
                                    @Html.LabelFor(m => m.ContainerNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>

                                <div class="col-md-2-5" >
                                    <div id="LoadedDiv">
                                        @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                                        @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ContainerNo)
                                    </div>

                                </div>*@


                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                <label>Stuff Type</label>
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownListFor(m => m.StuffType, new List<SelectListItem>
                               {
                                new SelectListItem { Text="FactoryStuff",Value="FactoryStuff"},
                                new SelectListItem { Text="ContainerStuff",Value="ContainerStuff"},
                                }, "----Select----", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.StuffType, "", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5">
                                @Html.LabelFor(m => m.CFSCode, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                            </div>
                            <div class="col-md-2-5">
                                @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = "true" })
                                @Html.ValidationMessageFor(m => m.CFSCode, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                <label>System Date & Time:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.SystemDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.SystemDateTime, "", new { @class = "Error_Msg", Value = DateTime.Today.ToString("dd/MM/yyyy") })
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                <div id="DivSysTime">
                                    <input type="text" id="SysTime" name="SysTime" class="form-control" readonly="readonly" style="background-color:#fff;z-index:0;" />
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5">
                                    @Html.LabelFor(m => m.GateInNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.GateInNo, new { @class = "form-control input-sm", @readonly = "true" })
                                    @Html.ValidationMessageFor(m => m.GateInNo, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col_cus_2 col-md-offset-2-5 col_cus_offset_0_5 padding_rt">
                                    <label>Entry Date & Time:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.EntryDateTime, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.EntryDateTime, "", new { @class = "Error_Msg", Value = DateTime.Today.ToString("dd/MM/yyyy") })
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    <div class="input-group clockpicker" data-placement="left" data-align="top">
                                        <input type="text" id="time" name="time" class="form-control" value="00:00" readonly="readonly" style="background-color:#fff;z-index:0;" />
                                        <input type="hidden" id="EditTime" name="EditTime" value="@ViewBag.strTime" />
                                        <span class="input-group-addon" style="padding:2px 10px;">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        @Html.LabelFor(m => m.ReferenceNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.HiddenFor(m => m.ReferenceNoId, new { @value = "0" })
                                        @Html.TextBoxFor(m => m.ReferenceNo, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="ReferenceSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ReferenceModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ReferenceNo)
                                    </div>
                                    <div class="col-md-1-5 col_cus_2 col-md-offset-4-5 col_cus_offset_3 padding_rt">
                                        @Html.LabelFor(m => m.ReferenceDate, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Date_Img">
                                        @Html.TextBoxFor(m => m.ReferenceDate, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                                        @Html.ValidationMessageFor(m => m.ReferenceDate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5" id="divship" style="padding-right:0px;">
                                        @Html.LabelFor(m => m.ShippingLine, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div id="divshiptext" class="col-md-10-5">
                                        @*@Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })*@

                                        @Html.HiddenFor(m => m.ShippingLineId)
                                        @Html.TextBoxFor(m => m.ShippingLine, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="ShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ShippingLineModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ShippingLine, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>


                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.HiddenFor(m => m.CHAId)
                                        @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="ChaNameSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ChaNameModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                                    </div>
                                    @*<div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                                        </div>*@
                                </div>
                            </div>
                            <div id="divforwarder" class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label style="word-wrap: break-word;">Consolidator/Forwarder Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_8">
                                        @Html.HiddenFor(m => m.ForwarderId)
                                        @Html.TextBoxFor(m => m.ForwarderName, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="ChaNameSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ForwarderModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ForwarderName, "", new { @class = "Error_Msg" })
                                    </div>
                                    @*<div class="col-md-10-5 col_cus_10">
                                            @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.CHAName, "", new { @class = "Error_Msg" })
                                        </div>*@
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div id="lblCBT" class="col-md-1-5" style="padding-right:0px;">
                                        <label>CBT No:</label>
                                    </div>
                                    <div id="lblCONT" class="col-md-1-5" style="padding-right:0px;">
                                        <label>Container/CBT No:</label>
                                    </div>
                                    <div class="col-md-2-5" id="ContainerNo1Div">
                                        @Html.TextBoxFor(m => m.ContainerNo1, new { @class = "form-control input-sm", @onblur = "GetContForCBT()" })
                                        <span class="search" id="ContainerSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ContainerModal"></i></span>
                                        @Html.ValidationMessageFor(m => m.ContainerNo1, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div id="divsize" class="col-md-1" style="padding-right:0px;">
                                        @Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                    </div>
                                    <div id="divsizetext" class="col-md-2">
                                        @Html.DropDownListFor(m => m.Size, new List<SelectListItem>
                               {
                                new SelectListItem { Text="20",Value="20"},
                                new SelectListItem { Text="40",Value="40"}
                                }, "----Select----", new { @class = "form-control input-sm", @onblur = "ClearValidationMsg(this)" })
                                        @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div id="divref" class="col-md-1-5">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.Reefer)
                                            <label for="Reefer"><span style="margin: 0 5px 0 0;">Reefer:</span><i class="square"></i></label>
                                        </div>
                                    </div>
                                    <div class="col-md-1-5">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.CBT, new { @onclick = "GetContainerNoValue()" })
                                            <label for="CBT"><span style="margin: 0 5px 0 0;">CBT:</span><i class="square"></i></label>
                                        </div>
                                    </div>
                                    <div id="divodc" class="col-md-1-5">
                                        <div class="boolean-container">
                                            @Html.CheckBoxFor(m => m.IsODC)
                                            <label for="IsODC"><span style="margin: 0 5px 0 0;">ODC:</span><i class="square"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        <div class="row Form_Space_top">
                                            <div id="divcustom" class="form-group Form_Input">
                                                <div class="col-md-1-5" style="padding-right:0px;">
                                                    <label>Custom Seal No:</label>
                                                </div>
                                                <div id="divcustext" class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-cotrol input-sm" })
                                                    @Html.ValidationMessageFor(m => m.CustomSealNo, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1">
                                                    <label>FCL/LCL:</label>
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.DropDownListFor(m => m.LCLFCL, new List<SelectListItem>
                               {
                                new SelectListItem { Text="FCL",Value="FCL"},
                                new SelectListItem { Text="LCL",Value="LCL"}
                                }, "----Select----", new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(m => m.LCLFCL, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div id="divline" class="col-md-1-5 col-md-offset-1">
                                                    <label>Shipping Line No:</label>
                                                </div>
                                                <div id="linesealtext" class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.ShippingLineSealNo, new { @class = "form-cotrol input-sm" })
                                                    @Html.ValidationMessageFor(m => m.ShippingLineSealNo, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5">
                                                    @Html.LabelFor(m => m.VehicleNo, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.VehicleNo, new { @class = "form-cotrol input-sm" })
                                                    @Html.ValidationMessageFor(m => m.VehicleNo, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-1">
                                                    <label>Purpose:</label>
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.DropDownListFor(m => m.Purpose, new List<SelectListItem>
                               {
                                new SelectListItem { Text="Carting",Value="Carting"},
                                new SelectListItem { Text="Franchise",Value="Franchise"},
                                  new SelectListItem { Text="Stuffing",Value="Stuffing"},
                                    new SelectListItem { Text="Back to Town",Value="Backtotown"},
                                      new SelectListItem { Text="Reefer",Value="Reefer"}
                                }, "----Select----", new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(m => m.Purpose, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div id="divchallan" class="col-md-1-5 col-md-offset-1">
                                                    <label>Challan No:</label>
                                                </div>
                                                <div id="divchallantext" class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.ChallanNo, new { @class = "form-cotrol input-sm" })
                                                    @Html.ValidationMessageFor(m => m.ChallanNo, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <div class="form-group Form_Input">
                                                    <div class="col-md-2">
                                                        @Html.LabelFor(m => m.CargoDescription, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                                    </div>
                                                    <div class="col-md-10">
                                                        @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                                                        @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5">
                                                    @Html.LabelFor(m => m.CargoType, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.DropDownListFor(m => m.CargoType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="HAZ",Value="1"},
                                     new SelectListItem { Text="NON-HAZ",Value="2"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                                    @Html.ValidationMessageFor(m => m.CargoType, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5" style="padding-right:0px;">
                                                    <label>No of Packages:</label>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.NoOfPackages, new { @class = "form-control intpu-sm" })
                                                    @Html.ValidationMessageFor(m => m.NoOfPackages, "", new { @class = "Error_Msg" })
                                                </div>
                                                <div class="col-md-offset-4 col-md-1-5">
                                                    @Html.LabelFor(m => m.GrossWeight, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                                </div>
                                                <div class="col-md-2-5">
                                                    @Html.TextBoxFor(m => m.GrossWeight, new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(m => m.GrossWeight, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5" style="padding-right:0px;">
                                                    <label>Exporter Name:</label>
                                                </div>
                                                <div class="col-md-10-5">
                                                    @Html.TextBoxFor(m => m.DepositorName, new { @class = "form-control intpu-sm", @readonly = "true" })
                                                    @Html.ValidationMessageFor(m => m.DepositorName, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5">
                                                    @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                                </div>
                                                <div class="col-md-10-5">
                                                    @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control intpu-sm", @style = "width:100%;height:100px;" })
                                                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row Form_Space_top">
                                            <div class="form-group Form_Input">
                                                <div class="col-md-1-5" style="padding-right:0px;">
                                                    <label>Cargo Description:</label>
                                                </div>
                                                <div class="col-md-10-5">
                                                    @Html.TextAreaFor(m => m.CargoDescription, new { @class = "form-cotrol input-sm", @style = "width:100%;height:100px;" })
                                                    @Html.ValidationMessageFor(m => m.CargoDescription, "", new { @class = "Error_Msg" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-12 SignUp_space_bottom">
                                                <div class="col-md-offset-4 col-md-2">
                                                    <input type="submit" onclick="ValidedField();" value="Save" class="btn log_Btn_sm" id="BtnGateEntry" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="button" value="Reset" id="btnReset" class="btn log_Btn_sm" onclick="ResetGateEntry()" />
                                                </div>
                                            </div>
                                            <div class="logSuccMsg SignUp_space_bottom2" style="background-color:transparent">
                                                <div id="DivEntryThroughGateMsg"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2 SignUp_space_bottom">
                                                <input type="button" id="BtnGateEntryByTrainListLoad" value="Show List" class="btn log_Btn_sm" onclick="GetEntryThroughGateList()" />
                                            </div>
                                        </div>
                                        <div id="ContainerModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content popup_modal">
                                                    <div class="modal-header popup_header">
                                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        <h4 class="modal-title">Container</h4>
                                                    </div>
                                                    <div class="modal-body popup_body">
                                                        <input placeholder="Search Me" id="Containerbox" type="text" />
                                                        <ul class="navList" id="lstContainer">
                                                            @{
                                                                if (@ViewBag.Lstcontainer != null)
                                                                {
                                                                    foreach (var item in @ViewBag.Lstcontainer)
                                                                    {
                                                                        <li id="@item.ContainerName">@item.ContainerName</li>
                                                                    }
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col-md-offset-6 col-md-6">
                                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="ForwarderModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content popup_modal">
                                                    <div class="modal-header popup_header">
                                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        <h4 class="modal-title">List Of Consolidator/Forwarder</h4>
                                                    </div>
                                                    <div class="modal-body popup_body">
                                                        <input placeholder="Search Me" id="Forwarderbox" type="text" />
                                                        <ul class="navList" id="lstFor">
                                                            @*@{
                                                                    if (@ViewBag.ViewBag.lstReferenceNumberList != null)
                                                                    {
                                                                        foreach (var item in @ViewBag.ViewBag.lstReferenceNumberList)
                                                                        {
                                                                            <li id="@item.CartingAppId">@item.CartingNo</li>
                                                                        }
                                                                    }
                                                                }*@
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col-md-offset-6 col-md-6">
                                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="ChaNameModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content popup_modal">
                                                    <div class="modal-header popup_header">
                                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        <h4 class="modal-title">CHA Name</h4>
                                                    </div>
                                                    <div class="modal-body popup_body">
                                                        <input placeholder="Search Me" id="ChaNamebox" type="text" />
                                                        <ul class="navList" id="lstCha">
                                                            @*@{
                                                                    if (@ViewBag.ViewBag.lstReferenceNumberList != null)
                                                                    {
                                                                        foreach (var item in @ViewBag.ViewBag.lstReferenceNumberList)
                                                                        {
                                                                            <li id="@item.CartingAppId">@item.CartingNo</li>
                                                                        }
                                                                    }
                                                                }*@
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col-md-offset-6 col-md-6">
                                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="ReferenceModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content popup_modal">
                                                    <div class="modal-header popup_header">
                                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        <h4 class="modal-title">Reference Number</h4>
                                                    </div>
                                                    <div class="modal-body popup_body">
                                                        <input placeholder="Search Me" id="ReferenceNobox" type="text" />
                                                        <ul class="navList" id="lstReferenceNo">
                                                            @*@{
                                                                    if (@ViewBag.ViewBag.lstReferenceNumberList != null)
                                                                    {
                                                                        foreach (var item in @ViewBag.ViewBag.lstReferenceNumberList)
                                                                        {
                                                                            <li id="@item.CartingAppId">@item.CartingNo</li>
                                                                        }
                                                                    }
                                                                }*@
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col-md-offset-6 col-md-6">
                                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div id="ShippingLineModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content popup_modal">
                                                    <div class="modal-header popup_header">
                                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        <h4 class="modal-title">Shipping Line</h4>
                                                    </div>
                                                    <div class="modal-body popup_body">
                                                        <input placeholder="Search Me" id="ShippingLinebox" type="text" />
                                                        <ul class="navList" id="lstShipping">
                                                            @*@{
                                                                    if (@ViewBag.ViewBag.lstReferenceNumberList != null)
                                                                    {
                                                                        foreach (var item in @ViewBag.ViewBag.lstReferenceNumberList)
                                                                        {
                                                                            <li id="@item.CartingAppId">@item.CartingNo</li>
                                                                        }
                                                                    }
                                                                }*@
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col-md-offset-6 col-md-6">
                                                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                                }
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivGateEntryList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>

    function LoadGateEntryView() {
        $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGateExport');
    }

    function ValidedField() {

    }
    function ClearValidationMsg(TxtBoxId) {
        debugger;
        var TxtBoxId = TxtBoxId.id;
        $('[data-valmsg-for=' +  TxtBoxId + ']').html("<span></span>");
    }
    $('#Containerbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainer > li').show();
        else {
            $('#lstContainer > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    function GetContainerNoValue() {
        debugger;
        var Cont=$('#ContainerNo1').val();
        $('#VehicleNo').val(Cont);
    }

    function GetContForCBT()
    {
        //alert($('#CBT').val());
        if ($('#CBT').is(":checked"))
        {
            var Cont = $('#ContainerNo1').val();
            $('#VehicleNo').val(Cont);
        }

    }

    $('#ReferenceNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstReferenceNo > li').show();
        else {
            $('#lstReferenceNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    var ContainerName = "";

    $('#lstContainer > li').on("click", function () {
        $('#ContainerNo').val($(this).text());
        $('#ContainerId').val($(this).attr('id'));
        $("#ContainerModal").modal("hide");
        ContainerName = $('#ContainerNo').val();

        if (ContainerName != null && ContainerName !="")
        {
            //alert(ContainerName);
            AutoPopulate(ContainerName);
        }


    });


    function AutoPopulate(ContainerName)
    {
        debugger;
        $.ajax({
            url: '/GateOperation/HDB_CWCGateOperation/GetFieldsForContainer',
            type: 'GET',
            async: false,
           datatype:JSON,
            data: { ContainerName: ContainerName },
            success: function (data) {
                debugger;
                if (data != undefined || data != null) {
                    debugger;
                    //alert(data);

                    populateJsondata(data);
                    //$('.modal-backdrop').removeClass();
                    //
                    //$('#DivBody').html('');
                   // $('#DivBody').html(data);

                }
                else {
                    alert("fail");

                }

            }
        });

    }
    function populateJsondata(data)
    {
        $("#EntryDateTime").val(data.EntryDateTime);
        $("#ReferenceDate").val(data.ReferenceDate);

        $("#time").val(data.EntryTime);
        $("#ReferenceNo").val(data.ReferenceNo);

        $("#ShippingLine").val(data.ShippingLine);
        $("#CHAName").val(data.CHAName);
        $("#ContainerNo").val(data.ContainerNo);
        $("#Size").val(data.Size);
        $("#CargoType").val(data.CargoType);

    }

    function GetRadioVal()
    {
        debugger;
        var Radio = $('input[name=ContainerType]:checked').val();
        $("#ContainerNo1").attr("disabled", false);
        $("#ContainerType").val(Radio);

        // alert(Radio);
        $("#ContainerNo1").val('');
        $("#StuffType").attr("disabled", true);
       // $("#ContainerNo1").prop('readonly', true);
        if (Radio == "LoadedCBT") {
            $("#StuffType").val('');
            $("#StuffType").attr("disabled", true);
            $("#ContainerNo1").attr("disabled", false);
            //$("#LoadedDiv").show();
            //$("#EmptyDiv").hide();
            var Status = true;
            // alert(($("#txtContainerNo").val()));
            if ($('#EntryDateTime').val() == "") {
                $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
                Status = false;
            }
            if ($('#ReferenceDate').val() == "") {
                $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
                Status = false;
            }
            $('#ReferenceSearch').show();
            $('#ContainerSearch').hide();
            $('#CBT').prop('checked', true);
            $('#divcustext').hide();
            $('#divcustom').hide();
            $('#divsize').hide();
            $('#divsizetext').hide();
            $('#divchallan').hide();
            $('#divchallantext').hide();
            $('#divodc').hide();
            $('#divship').hide();
            $('#divshiptext').hide();
            $('#divline').hide();
            $('#linesealtext').hide();
            $('#divref').hide();
            $('#divforwarder').show();
            $('#lblCBT').show();
            $('#lblCONT').hide();

            $("#DepositorName").attr("readonly", true);







            GenerateLstReferenceNumber();
        }
        else if (Radio == "BTT") {

                $('#ReferenceSearch').hide();
                $('#ContainerSearch').hide();

                //$("#LoadedDiv").show();
                //$("#EmptyDiv").hide();
                var Status = true;
                // alert(($("#txtContainerNo").val()));
                if ($('#EntryDateTime').val() == "") {
                    $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
                    Status = false;
                }
                if ($('#ReferenceDate').val() == "") {
                    $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
                    Status = false;
                }
                $("#StuffType").removeAttr("readonly");
                $("#StuffType").attr("disabled", false);
                // $('#ReferenceSearch').show();
                $('#CBT').prop('checked', false);
                // $('#ContainerSearch').show();
                $('#divcustext').show();
                $('#divcustom').show();
                $('#divsize').show();
                $('#divsizetext').show();
                $('#divchallan').show();
                $('#divchallantext').show();
                $('#divodc').show();
                $('#divship').show();
                $('#divshiptext').show();
                $('#divline').show();
                $('#linesealtext').show();
                $('#divref').show();
                $('#CBT').prop('checked', false);
                $('#divforwarder').show();
                $('#lblCBT').hide();
                $('#lblCONT').show();
                $("#DepositorName").attr("readonly", true);



        }
     else   if (Radio == "Loaded") {
            $("#StuffType").val('');
            $("#StuffType").attr("disabled", true);
            $("#ContainerNo1").attr("disabled", false);
            //$("#LoadedDiv").show();
            //$("#EmptyDiv").hide();
            var Status = true;
            // alert(($("#txtContainerNo").val()));
            if ($('#EntryDateTime').val() == "") {
                $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
                Status = false;
            }
            if ($('#ReferenceDate').val() == "") {
                $('[data-valmsg-for="ContainerNo"]').html('<span>Fill Out This Field</span>');
                Status = false;
            }
            $('#ReferenceSearch').show();
            $('#ContainerSearch').show();
            $('#divcustext').show();
            $('#divcustom').show();
            $('#divsize').show();
            $('#divsizetext').show();
            $('#divchallan').show();
            $('#divchallantext').show();
            $('#divodc').show();
            $('#divship').show();
            $('#divshiptext').show();
            $('#divline').show();
            $('#linesealtext').show();
            $('#divref').show();
            $('#CBT').prop('checked', false);
            $('#lblCBT').hide();
            $('#lblCONT').show();
            $('#divforwarder').show();

            $("#DepositorName").attr("readonly", true);









            GenerateLstLoadReferenceNumber();
        }
      else  if (Radio == "Empty") {
            $('#ReferenceSearch').hide();
            $('#ContainerSearch').hide();
            $("#ContainerNo1").attr("disabled", false);
            $("#StuffType").val('');
            $("#StuffType").attr("disabled", true);
            $('#divcustext').show();
            $('#divcustom').show();
            $('#divsize').show();
            $('#divsizetext').show();
            $('#divchallan').show();
            $('#divchallantext').show();
            $('#divodc').show();
            $('#divship').show();
            $('#divshiptext').show();
            $('#divline').show();
            $('#linesealtext').show();
            $('#divref').show();
            $('#CBT').prop('checked', false);
            $('#divforwarder').hide();
            $('#lblCBT').hide();
            $('#lblCONT').show();
            $("#DepositorName").attr("readonly", false);
        }

        else {
          $("#DepositorName").attr("readonly", true)
          $("#ContainerNo1").val('');
          $('#lblCBT').hide();
          $('#lblCONT').show();
            $("#ContainerNo1").removeAttr("readonly");
        }

    }
    function ResetGateEntry() {
        $('input[type="text"],textarea,select').val('');
        $('input[type="checkbox"').prop('checked', false);
        $('[data-valmsg-for]').html('');
        var Today = new Date();
        var dd = (Today.getDate() < 10 ? ("0" + Today.getDate()) : (Today.getDate())) + "/" + ((Today.getMonth() + 1) < 10 ? ("0" + (Today.getMonth() + 1)) : (Today.getMonth() + 1))
            + "/" + Today.getFullYear();
        $('#SystemDateTime').val(dd);
    }
    //function GateEntryOnSuccess(data) { }
   // function GateEntryOnFailure() { }


    function GateEntryOnSuccess(data) {

        debugger;
        if (data.Status == 1 || data.Status == 2) {
            ResetGateEntry();
            if ($('#DivEntryThroughGateMsg').hasClass('logErrMsg'))
                $('#DivEntryThroughGateMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivEntryThroughGateMsg').html(data.Message);
            setTimeout(LoadGateEntryView, TimeInSeconds);
            GetEntryThroughGateList();
        }
        //else if (data.Status == 2) {
        //    $('[data-valmsg-for="CountryName"]').html('<span>' + data.Message + '</span>');
        //}
        //else if (data.Status == 3) {
        //    $('[data-valmsg-for="CountryAlias"]').html('<span>' + data.Message + '</span>');
        //}
        else {
            if ($('#DivEntryThroughGateMsg').hasClass('logSuccMsg'))
                $('#DivEntryThroughGateMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivEntryThroughGateMsg').html(data.Message);
        }
    }
    function GateEntryOnFailure() {
        alert("Error");
    }

    $("#EntryDateTime").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage:  "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $("#ReferenceDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage:  "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
        twelvehour: true
    });
    $(document).ready(function () {

        var editTime = $("#EditTime").val();
        //alert(editTime);
        if (editTime != null && editTime != "") {
            $("#time").val(editTime);
        }
        //alert($('input[name=OperationType]:checked').val());
    });

    //function GoToExport() {
    //    $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGateExport');
    //}

</script>

<script>
    GenerateLstReferenceNumber();
    function GenerateLstReferenceNumber() {
        debugger;
        if ($('#lstReferenceNumberList').val() != '') {
            debugger;
            var parties = JSON.parse($('#lstReferenceNumberList').val());
            var html = '';
            $.each(parties, function (i, item) {
                html += '<li id="' + item.CartingAppId + '" " onclick="GetPayByDetails(this)">' + item.CartingNo + '</li>';
            });
            $('#lstReferenceNo').html(html);

            var shippingLine = JSON.parse($('#lstShippingLine').val()); //JSON.parse('#lstShippingLine').val();
            var html1 = '';
            $.each(shippingLine, function (i, item) {
                html1 += '<li id="' + item.ShippingLineId + '" " onclick="GetShippingLine(this)">' + item.ShippingLine + '</li>';
            });
            $('#lstShipping').html(html1);
            var CHAName = JSON.parse($('#lstChaName').val()); //JSON.parse('#lstShippingLine').val();
            var html2 = '';
            $.each(CHAName, function (i, item) {
                html2 += '<li id="' + item.CHAId + '" " onclick="GetChaName(this)">' + item.CHAName + '</li>';
            });
            $('#lstCha').html(html2);
            var ForwarderName = JSON.parse($('#lstForwarder').val()); //JSON.parse('#lstShippingLine').val();
            var html3 = '';
            $.each(ForwarderName, function (i, item) {
                html3 += '<li id="' + item.ForwarderId + '" " onclick="GetForwarderName(this)">' + item.ForwarderName + '</li>';
            });
            $('#lstFor').html(html3);
        }
    }
    GenerateReferenceNumber();
    function GenerateReferenceNumber(data) {
        debugger;
        if (data != null && data!=undefined)
        {
            var html4 = '';
            $.each(data,function (i, item) {
                html4 += '<li id="' + item.LoadContReqId + '" " onclick="GetLoadName(this)">' + item.LoadContReqNo + '</li>';
            });
            $('#lstReferenceNo').html(html4);
        }

    }
    GenerateLoadNumber();
    function GenerateLoadNumber(data) {
        debugger;
        if (data != null && data != undefined) {
            var html4 = '';
            $.each(data, function (i, item) {
                html4 += '<li id="' + item.StuffingReqId + '" " onclick="GetLoadName(this)">' + item.StuffingReqNo + '</li>';
            });
            $('#lstReferenceNo').html(html4);
        }

    }

    GenerateLstLoadReferenceNumber();
    function GenerateLstLoadReferenceNumber() {
        if ($('#lstloadReferenceNumberList').val() != '') {
            debugger;
            var parties = JSON.parse($('#lstloadReferenceNumberList').val());
            var html7 = '';
            $.each(parties, function (i, item) {
                html7 += '<li id="' + item.LoadContReqId + '" " onclick="GetPayByLoadDetails(this)">' + item.LoadContReqNo + '</li>';
            });
            debugger;
            $('#lstReferenceNo').html(html7);

            var shippingLine = JSON.parse($('#lstShippingLine').val()); //JSON.parse('#lstShippingLine').val();
            var html8 = '';
            $.each(shippingLine, function (i, item) {
                html8 += '<li id="' + item.ShippingLineId + '" " onclick="GetShippingLine(this)">' + item.ShippingLine + '</li>';
            });
            $('#lstShipping').html(html8);
            var CHAName = JSON.parse($('#lstChaName').val()); //JSON.parse('#lstShippingLine').val();
            var html9 = '';
            $.each(CHAName, function (i, item) {
                html9 += '<li id="' + item.CHAId + '" " onclick="GetChaName(this)">' + item.CHAName + '</li>';
            });
            $('#lstCha').html(html9);
            var ForwarderName = JSON.parse($('#lstForwarder').val()); //JSON.parse('#lstShippingLine').val();
            var html10 = '';
            $.each(ForwarderName, function (i, item) {
                html10 += '<li id="' + item.ForwarderId + '" " onclick="GetForwarderName(this)">' + item.ForwarderName + '</li>';
            });
            $('#lstFor').html(html10);
        }

    }

    function GetPayByLoadDetails(elem) {

        debugger;
        var reqNo = $(elem).text().split('_');
        $('#ReferenceNo').val(reqNo[0]);
        $('#ReferenceNoId').val($(elem).attr('id'));
        var selectedReference = $('#ReferenceNo').val();
        $("#ReferenceModal").modal("hide");
        var loadRefId = $('#ReferenceNoId').val();
        if (loadRefId > 0) {
            getLoadedContainerList(loadRefId);
        }
        debugger;


        $('#CargoDescription').val('');

        $('#Reefer').prop('checked', false);

        $('#CargoType').val('');
        $('#NoOfPackages').val('');
        $('#ShippingLineName').val('');
        $('#Size').val('');
        $('#ContainerNo1').val('');
        $('#ShippingLine').val('');
        $('#ShippingLineId').val('');



    }


    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShipping > li').show();
        else {
            $('#lstShipping > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#StuffType').change(function () {
        debugger;
        $('#ReferenceSearch').show();
        $('#ContainerSearch').show();
        $('#CargoType').val('');
        $('#CHAName').val('');
        $('#CargoDescription').val('');
        $('#GrossWeight').val('');
        $('#NoOfPackages').val('');
        $('#DepositorName').val('');
        $('#ShippingLine').val('');
        $('#ReferenceDate').val('');
        $('#CHAName').val('');
        $('#CargoDescription').val('');
        $('#GrossWeight').val('');
        $('#NoOfPackages').val('');
        $('#CHA').val('');
        $('#ForwarderName').val('');
        $('#ReferenceNo').val('');
        $('#ContainerNo1').val('');
        var val = $('#StuffType').val();

            getstuff();

    })

        function getstuff() {
            debugger;
            StuffType = $('#StuffType').val();
        $.ajax({
            url: '/GateOperation/HDB_CWCGateOperation/GetStufftype',
            type: 'GET',
            async: false,
            datatype: JSON,
            data: { StuffType: StuffType },
            success: function (data) {
                debugger;
                if (data != undefined || data != null) {
                    debugger;
                    //alert(data);
                    if (StuffType == "ContainerStuff") {
                        populateloaddata(data);

                    }
                    else {
                        populatestuffdata(data);
                    }
                    //$('.modal-backdrop').removeClass();
                    //
                    //$('#DivBody').html('');
                    // $('#DivBody').html(data);

                }
                else {
                    alert("fail");

                }

            }
        });

    }
        function populatestuffdata(data) {
            debugger;

            GenerateReferenceNumber(data);


        }
        function populateloaddata(data) {
            debugger;

            GenerateLoadNumber(data);


        }

    function GetShippingLine(elem) {

        $('#ShippingLine').val($(elem).text());
        $('#ShippingLineId').val($(elem).attr('id'));
        $("#ShippingLineModal").modal("hide");
    }
    $('#ChaNamebox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCha > li').show();
        else {
            $('#lstCha > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function GetChaName(elem) {
        debugger;
        $('#CHAName').val($(elem).text());
        $('#CHAId').val($(elem).attr('id'));
        $("#ChaNameModal").modal("hide");
    }
    $('#Forwarderbox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstFor > li').show();
        else {
            $('#lstFor > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function GetLoadName(elem) {
        debugger;
        //alert(($(elem).text().split('-')[0]));
        //alert(($(elem).attr('id')));
        $('#ReferenceNo').val($(elem).text().split('-')[0]);
        //$('#ReferenceNo').val($(elem).text());
        $('#ReferenceNoId').val($(elem).attr('id'));
       // $('#ReferenceNoId').val($(elem).text().split('-')[0]);
        $("#ReferenceModal").modal("hide");
        var stufftype = $('#StuffType').val();
        if (stufftype == "FactoryStuff") {
            var loadRefId = $('#ReferenceNoId').val();
            if (loadRefId > 0) {
                getLoadContainerList(loadRefId);
            }
        }
        else
        {
            var stuffRefId = $('#ReferenceNoId').val();
            if (stuffRefId > 0) {
                getLoadedContainerStuffList(stuffRefId);
            }
        }
    }
    function GetForwarderName(elem) {
        debugger;
        $('#ForwarderName').val($(elem).text());
        $('#ForwarderId').val($(elem).attr('id'));
        $("#ForwarderModal").modal("hide");
    }
    function GetPayByDetails(elem) {
        debugger;
        var refNo = $(elem).text().split('_');
        $('#ReferenceNo').val(refNo[0]);
        $('#ReferenceNoId').val($(elem).attr('id'));
        var selectedReference = $('#ReferenceNo').val();
        $("#ReferenceModal").modal("hide");
        debugger;
        var parties = JSON.parse($('#lstGateEntryExport').val());
        var payby = $.grep(parties, function (item) { return item.ReferenceNo == selectedReference; })[0];
        if (payby != undefined) {
            $('#ReferenceDate').val(payby.ReferenceDate);
            //$('#ContainerSize').val(payby.ContainerSize);
            $('#CargoType').val(payby.CargoType);
            $('#CHAName').val(payby.CHAName);
            $('#CargoDescription').val(payby.CargoDescription);
            $('#GrossWeight').val(payby.Weight);
            $('#NoOfPackages').val(payby.NoOfUnits);
            $('#CHA').val(payby.CHAName);
            $("#DepositorName").val(payby.DepositorName);
            $("#ForwarderName").val(payby.ForwarderName);
            $('#VehicleNo').val(payby.VehicleNo);
            payby.Reefer == 1 ? $('#Reefer').prop("checked", true) : $('#Reefer').prop("checked", false);
            payby.IsODC == 1 ? $('#IsODC').prop("checked", true) : $('#IsODC').prop("checked", false);
        }
        else
        {

            $('#CargoType').val('');
            $('#CHAName').val('');
            $('#CargoDescription').val('');
            $('#GrossWeight').val('');
            $('#NoOfPackages').val('');
            $('#CHA').val('');
            $('#DepositorName').val('');

        }


    }
    function getLoadedContainerStuffList(stuffRefId) {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/GateOperation/HDB_CWCGateOperation/getLoadedContainerStuffList',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'text',
            data: { StuffRefId: stuffRefId },
            async: false,
            success: function (data) {
                // alert(data);
                debugger;
                if (data != null && data != "" && data != undefined) {
                    $("#StuffConStr").val('');
                    $("#StuffConStr").val(data);
                    populateStuffContainer();
                }
                else {
                    $("#StuffConStr").val('');

                }
            }
        });
    }
    function getLoadContainerList(LoadConRefId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/GateOperation/HDB_CWCGateOperation/getLoadedContainerList',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'text',
            data: { LoadContainerRefId: LoadConRefId },
            async: false,
            success: function (data) {
                // alert(data);
                debugger;
                if (data != null && data != "" && data != undefined) {
                    $("#LoadedConStr").val('');
                    $("#LoadedConStr").val(data);
                    populateContainer();
                }
                else {
                    $("#LoadedConStr").val('');

                }
            }
        });
    }
    function getLoadedContainerList(LoadConRefId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '/GateOperation/HDB_CWCGateOperation/getLoadContainerList',
            type: 'GET',
            headers: { '__RequestVerificationToken': Token },
            dataType: 'text',
            data: { LoadContainerRefId: LoadConRefId },
            async: false,
            success: function (data) {
                // alert(data);
                debugger;
                if (data != null && data != "" && data != undefined) {
                    $("#LoadedConStr").val('');
                    $("#LoadedConStr").val(data);
                    populateLoadContainer();
                }
                else {
                    $("#LoadedConStr").val('');

                }
            }
        });
    }
    function populateContainer() {
        debugger;
        var loadCont = JSON.parse($('#LoadedConStr').val()); //JSON.parse('#lstShippingLine').val();
        var html2 = '';
        $.each(loadCont, function (i, item) {
            html2 += '<li id="' + item.ShippingLineId + '" " onclick="GetAllDetails(this)">' + item.ContainerNo + '</li>';
        });
        $('#lstContainer').html(html2);
    }
    function populateLoadContainer() {
        debugger;
        var loadCont = JSON.parse($('#LoadedConStr').val()); //JSON.parse('#lstShippingLine').val();
        var html19 = '';
        $.each(loadCont, function (i, item) {
            html19 += '<li id="' + item.ShippingLineId + '" " onclick="GetLoadAllDetails(this)">' + item.ContainerNo + '</li>';
        });
        $('#lstContainer').html(html19);
    }
    function populateStuffContainer() {
        debugger;
        var stuffCont = JSON.parse($('#StuffConStr').val()); //JSON.parse('#lstShippingLine').val();
        var html3 = '';
        $.each(stuffCont, function (i, item) {
            html3 += '<li id="' + item.ShippingLineId + '" " onclick="GetAllStuffDetails(this)">' + item.ContainerNo + '</li>';
        });
        $('#lstContainer').html(html3);
    }
    function GetAllStuffDetails(elem) {
        debugger;
        $('#ContainerNo1').val($(elem).text());
        $('#ShippingLineId').val($(elem).attr('id'));
        $("#ContainerModal").modal("hide");
        debugger;
        var stuffes = JSON.parse($('#StuffConStr').val());
        var stuff = $.grep(stuffes, function (item) { return item.ContainerNo == $(elem).text() && item.ShippingLineId == $(elem).attr('id'); })[0];
        debugger;
        $('#CustomSealNo').val(stuff.CustomSealNo);
        $('#CargoDescription').val(stuff.CargoDescription);
        $('#CargoType').val(stuff.CargoType);
        $('#NoOfPackages').val(stuff.NoOfUnits);
        $("#ShippingLineId").val(stuff.ShippingLineId);
        $('#ShippingLine').val(stuff.ShippingLineName);
        $('#Size').val(stuff.Size);
        $('#GrossWeight').val(stuff.GrossWt);
        $('#CHAName').val(stuff.CHAName);
        $("#DepositorName").val(stuff.DepositorName);
        $('#ReferenceDate').val(stuff.ReferenceDate);
        $('#OldCfsCode').val(stuff.OldCfsCode);


    }
    function GetLoadAllDetails(elem) {
        debugger;
        $('#ContainerNo1').val($(elem).text());
        $('#ShippingLineId').val($(elem).attr('id'));
        $("#ContainerModal").modal("hide");
        debugger;
        var parties = JSON.parse($('#LoadedConStr').val());
        var payby = $.grep(parties, function (item) { return item.ContainerNo == $(elem).text() && item.ShippingLineId == $(elem).attr('id'); })[0];
        debugger;
        $('#CargoDescription').val(payby.CargoDescription);
        if (payby.Reefer == "0") {
            $('#Reefer').prop('checked', false);
        }
        else {
            $('#Reefer').prop('checked', true);
        }
        if (payby.IsODC == "1") {
            $('#IsODC').prop('checked', true);
        }
        else {
            $('#IsODC').prop('checked', false);
        }
        
        $('#CargoType').val(payby.CargoType);
        $('#NoOfPackages').val(payby.NoOfUnits);
        $("#ShippingLineId").val(payby.ShippingLineId);
        $('#ShippingLine').val(payby.ShippingLineName);
        $('#Size').val(payby.Size);
        $('#GrossWeight').val(payby.GrossWt);
        $('#CHAName').val(payby.CHAName);
        $("#DepositorName").val(payby.DepositorName);
        $('#ReferenceDate').val(payby.ReferenceDate);


    }
    function GetAllDetails(elem) {
        debugger;
        $('#ContainerNo1').val($(elem).text());
        $('#ShippingLineId').val($(elem).attr('id'));
        $("#ContainerModal").modal("hide");
        debugger;
        var parties = JSON.parse($('#LoadedConStr').val());
        var payby = $.grep(parties, function (item) { return item.ContainerNo == $(elem).text() && item.ShippingLineId == $(elem).attr('id'); })[0];
        debugger;
        $('#CargoDescription').val(payby.CargoDescription);
        if (payby.Reefer == "0") {
            $('#Reefer').prop('checked', false);
        }
        else {
                $('#Reefer').prop('checked', true);
             }
        if (payby.IsODC == "0") {
            $('#IsODC').prop('checked', false);
        }
        else {
            $('#IsODC').prop('checked', true);
        }
      
        $('#CargoType').val(payby.CargoType);
        $('#CustomSealNo').val(payby.CustomSealNo);
        $('#NoOfPackages').val(payby.NoOfUnits);
        $("#ShippingLineId").val(payby.ShippingLineId);
        $('#ShippingLine').val(payby.ShippingLineName);
        $('#Size').val(payby.Size);
        $('#GrossWeight').val(payby.GrossWt);
        $('#CHAName').val(payby.CHAName);
        $("#DepositorName").val(payby.DepositorName);
        $('#ReferenceDate').val(payby.ReferenceDate);
        $('#OldCfsCode').val(payby.OldCfsCode);

    }
    function GoToImport() {
        $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGate');
    }
    function GoToExport() {
        $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGateExport');
    }
    function GoToBond() {
        $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGateBond');
    }

    function GoToLoaadedContainer() {
        $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGateLoadContainer');
    }
    function GoToEmpty() {
        $('#DivBody').load('/GateOperation/HDB_CWCGateOperation/CreateEntryThroughGateEmpty');
    }
    function reference() {
        debugger;
        ContainerType=$('#ContainerType').val();
        if(ContainerType=='Empty')
        {
            $('#ReferenceSearch').hide();
        }
        else {
            $('#ReferenceSearch').show();
}
}
    $("#BtnGateEntry").on("click", function () {
        debugger;
         if ($('#CBT').is(":checked")) {
            $('#Size').val() == '';
        }
        else {
             if ($.trim($('#ContainerNo1').val()) != '') {
                 if ($('#Size').val() == '') {
                     $('[data-valmsg-for="Size"]').html('<span>Fill Out This Field</span>');
                     //   $('data-valmsg-for="Size"').html('span>Fill Out This Field</span>');
                     return false;
                 }
             }
}

            /*if ($.trim($('#ContainerNo1').val()) != '') {
                if ($('#Size').val() == '') {
                    $('[data-valmsg-for="Size"]').html('<span>Fill Out This Field</span>');
                    //   $('data-valmsg-for="Size"').html('span>Fill Out This Field</span>');
                    return false;
                }
            }
        }*/
    });
</script>