
@model CwcExim.Areas.Export.Models.DSR_ContainerMovement

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Container Movement-Export</h4>
                    </div>
                </div>

                @using (Ajax.BeginForm("AddEditInternalPaymentSheet", "DSR_CWCExport", new AjaxOptions { HttpMethod = "POST", OnSuccess = "MovementOnSuccess", OnFailure = "MovementOnFailure" }, new { @Id = "PaymentSheetForm" }))
                {
                    @Html.Hidden("ContainerJson")
                    @Html.Hidden("BOEJson")
                    @Html.Hidden("hdnAddress")
                    @Html.Hidden("hdnState")
                    @Html.Hidden("hdnStateCode")
                    @Html.Hidden("hdnAddress2")
                    @Html.Hidden("hdnState2")
                    @Html.Hidden("hdnStateCode2")
                    @Html.Hidden("hdnAddress3")
                    @Html.Hidden("hdnState3")
                    @Html.Hidden("hdnStateCode3")
                    @Html.Hidden("GST1")
                    @Html.Hidden("GST2")
                    @Html.Hidden("GST3")
                    @Html.Hidden("PaymentSheetModelJson")
                    @Html.Hidden("PaymentSheetModelJsonn")
                    @Html.Hidden("PaymentSheetModelJsonnn")
                    if (ViewBag.RightsList != null)
                    {
                        <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnRights" value="" />
                    }

                    if (ViewBag.LstContainerNo != null)
                    {
                        <input type="hidden" id="hdnContainer" value="@ViewBag.LstContainerNo" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnContainer" value="" />
                    }
                    if (ViewBag.PaymentParty != null)
                    {
                        <input type="hidden" id="hdnPartyPayee" value="@ViewBag.PaymentParty" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnPartyPayee" value="" />
                    }

                    if (ViewBag.ShippingLineList != null)
                    {
                        <input type="hidden" id="hdnsline" value="@ViewBag.ShippingLineList" />
                    }
                    else
                    {
                        <input type="hidden" id="hdnsline" value="" />
                    }

                    @Html.AntiForgeryToken()
                    <div id="DivAddMovement">
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Movement No:</label>
                                </div>
                                <div class="col-md-2-5">

                                    @Html.TextBoxFor(m => m.MovementNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Movement Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.MovementDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Container No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.ContainerStuffingDtlId)
                                    @Html.HiddenFor(m => m.ContainerStuffingId)
                                    @Html.TextBoxFor(m => m.Container, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#BOENoModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.Container, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrContainer"></span>
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>CFS Code:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.CFSCode, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Move To:</label>
                                </div>
                                <div class="col-md-10-5">
                                    @Html.HiddenFor(m => m.LocationId)
                                    @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.LocationName)
                                    <span style="color:red" id="ErrLocation"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Reworking of Container at Gateway Port:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownList("port", new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Yes",Value="1"},
                                    new SelectListItem { Text="No",Value="2"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown" })
                                    @Html.ValidationMessage("port", new { @class = "Error_Msg" })
                                </div>

                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>SLA Seal No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.SealNo, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    @Html.TextBoxFor(m => m.SealDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Custom Seal No.:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CustomSealNo, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    @Html.TextBoxFor(m => m.CustomSealDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>POD:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.POD, new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Transport Mode:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="TranMode" width="150" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.HiddenFor(m => m.sid)
                                    @Html.TextBoxFor(m => m.Sline, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#sHIPPINGModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.Sline, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrShipping"></span>
                                </div>
                                <div class="col-md-offset-4-5 col-md-1-5 col_cus_2 col_cus_offset_3 padding_rt">
                                    <label>Shipping Bill No.:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="Shipbillno" width="150" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row SignUp_space_bottom SignUp_space_top"></div>

                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2">
                                    <div class="Head_h5" style="margin: 0;">
                                        <h5>Weighment</h5>
                                    </div>
                                </div>
                                <div class="col-md-1 col_cus_1 padding_rt">
                                    <label>Party:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.HiddenFor(m => m.partyId)
                                    @Html.TextBoxFor(m => m.Party, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#WpartyModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.Party, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrParty"></span>
                                </div>
                                <div class="col-md-offset-3 col-md-1-5 col_cus_3 padding_rt">
                                    <label>Invoice No.:</label>
                                </div>
                                <div class="col-md-2 col_cus_2">
                                    @Html.TextBoxFor(m => m.Invoice, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblWeighCharges" class="table table-bordered table-striped dataTable Table_center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" style="text-align:right;">Total:</td>
                                            <td class="Table_right"><input type="text" id="TOTWChrg" value="0" readonly></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                            </tr>*@
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2">
                                    <div class="Head_h5" style="margin: 0;">
                                        <h5>Ground Rent</h5>
                                    </div>
                                </div>
                                <div class="col-md-1 col_cus_2 padding_rt">
                                    <label>Party:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.HiddenFor(m => m.GpartyId)
                                    @Html.TextBoxFor(m => m.GParty, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GpartyModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.GParty, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrGParty"></span>
                                </div>
                                <div class="col-md-offset-3 col-md-1-5 col_cus_3 padding_rt">
                                    <label>Invoice No.:</label>
                                </div>
                                <div class="col-md-2 col_cus_2">
                                    @Html.TextBoxFor(m => m.Invoicee, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblGRCharges" class="table table-bordered table-striped dataTable Table_center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" style="text-align:right;">Total:</td>
                                            <td class="Table_right"><input type="text" id="TOTGRChrg" value="0" readonly></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                            </tr>*@
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-2">
                                    <div class="Head_h5" style="margin: 0;">
                                        <h5 id="RRtype">RR</h5>
                                    </div>
                                </div>
                                <div class="col-md-1 col_cus_2 padding_rt">
                                    <label>Party:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2">
                                    @Html.HiddenFor(m => m.RpartyId)
                                    @Html.TextBoxFor(m => m.RParty, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#RpartyModal"></i></span>
                                    @Html.ValidationMessageFor(m => m.RParty, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrRParty"></span>
                                </div>
                                <div class="col-md-offset-3 col-md-1-5 col_cus_3 padding_rt">
                                    <label>Invoice No.:</label>
                                </div>
                                <div class="col-md-2 col_cus_2">
                                    @Html.TextBoxFor(m => m.Invoiceee, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblRRCharges" class="table table-bordered table-striped dataTable Table_center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Charges</th>
                                            <th rowspan="2">Value</th>
                                            <th colspan="2" class="text-center">IGST</th>
                                            <th colspan="2" class="text-center">CGST</th>
                                            <th colspan="2" class="text-center">SGST</th>
                                            <th rowspan="2" style="width:15%;">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th>Amt</th>
                                            <th>%</th>
                                            <th style="border-right:1px solid #ddd;">Amt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8" style="text-align:right;">Total:</td>
                                            <td class="Table_right"><input type="text" id="TOTRCChrg" value="0" readonly></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="8" style="text-align:right;">TDS %:</td>
                                                <td class="Table_right"><input type="text" id="CWCTDSPer" value="0" onblur="CalcInvoice()"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align:right;">TDS Amount:</td>
                                                <td class="Table_right"><input type="text" id="TOTCWCTDS" value="0" readonly></td>
                                            </tr>*@
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom2">
                            @*<div class="col-md-offset-3 col-md-2">
                                    <input type="button" id="savbtn" value="Save" onclick="BindJson()" class="btn log_Btn_sm" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Reset" class="btn log_Btn_sm" onclick="ResetField()" />
                                </div>*@
                            <div class="col-md-offset-5 col-md-2">
                                <input type="button" value="Print" class="btn log_Btn_sm" onclick="PrintInvoice()" id="btnPrint" />
                            </div>
                        </div>
                        <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                        <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivMovementList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="gdwnwiselocationmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div id="lstGdwnWiseLctn">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="BOENoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="BOENobox" type="text" />
                <ul class="navList" id="BOENoList">
                    @{
                        if (ViewBag.LstContainerNo != null)
                        {
                            foreach (var item in ViewBag.LstContainerNo)
                            {

                                <li id="@item.Value" onclick="SelectBOENo(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="sHIPPINGModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShipNobox" type="text" />
                <ul class="navList" id="ShipNoList">
                    @{
                        if (ViewBag.ShippingLineList != null)
                        {
                            foreach (var item in ViewBag.ShippingLineList)
                            {

                                <li id="@item.Value" onclick="SelectShipping(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="LocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of New Location</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Locationbox" type="text" />
                <ul class="navList" id="LocationList">
                    @{
                        if (ViewBag.LocationNoList != null)
                        {
                            foreach (var item in ViewBag.LocationNoList)
                            {
                                <li id="@item.Value" onclick="SelectNewLocation(this)">@item.Text</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="WpartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Wpartybox" type="text" />
                <ul class="navList" id="WpartyList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="GpartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Gpartybox" type="text" />
                <ul class="navList" id="GpartyList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="RpartyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Party</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Rpartybox" type="text" />
                <ul class="navList" id="RpartyList"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $('#MovementDate').val('@ViewBag.CurrentDate');
        PartyBinding();
        GetMovementList();
    });
    $('#MovementDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });
    $('#SealDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }
    });

    $('#CustomSealDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
        }

    });
    function GetMovementList() {
        //  $('#DivMovementList').load('/Import/DSR_CWCImport/GetInternalMovementList');
    }
    function MovementOnSuccess(data) {
        debugger;
        $('#DivErrMsg').html('');
        if (data.Status == 1) {
            $('#DivSucMsg').html(data.Message);
            $('#Invoice').val(data.Data.InvoiceNo);
            $('#Invoicee').val(data.Data.invoicenoo);
            $('#Invoiceee').val(data.Data.invoicenooo);
            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            $('#savbtn').attr('disabled', 'disabled');
            $('#btnPrint').removeAttr('disabled');
            //  setTimeout(ResetMovement, 5000);
            //  GetMovementList();
            // setTimeout(function () { $('#DivBody').load('/Import/CWCImport/CreateInternalMovement'); }, 5000);
        }
        else {
            $('#DivErrMsg').html(data.Message);
            // setTimeout(function () { $('#DivErrMsg').html(''); }, 5000);
        }
    }
    function MovementOnFailure() { }
    $('#Godownbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodown > li').show();
        else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#BOENobox').keyup(function () {
        debugger;
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#BOENoList > li').show();
        else {
            $('#BOENoList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#ShipNobox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#ShipNoList > li').show();
        else {
            $('#ShipNoList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#Wpartybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#WpartyList > li').show();
        else {
            $('#WpartyList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });




    function selectParty(id) {
        debugger;
        //   alert(id);
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        //  alert(PartyJson);
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        // alert(PartyJson);
        $('#partyId').val(Party.PartyId);
        $('#Party').val(Party.PartyName);
        $('#GST1').val(Party.GSTNo);
        $('#hdnAddress').val(Party.Address);
        $('#hdnState').val(Party.State);
        $('#hdnStateCode').val(Party.StateCode);
        $("#WpartyModal").modal("hide");
        //   $("#GpartyModal").modal("hide");
        //   $("#RpartyModal").modal("hide");
        //   GetGodownWiseLocation();
        //   var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
        //var rawJsonn = JSON.parse($('#PaymentSheetModelJsonn').val());
        // var rawJsonnn = JSON.parse($('#PaymentSheetModelJsonnn').val());
        //rawJson.PartyId = Party.PartyId;
        //rawJson.PartyName = Party.PartyName;
        //rawJson.PartyGST = Party.GSTNo;

        //  $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));

        GetInternalInvoice(Party.PartyId, "W");
    }

    function selectGParty(id) {
        debugger;
        //   alert(id);
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        //  alert(PartyJson);
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        // alert(PartyJson);
        $('#GpartyId').val(Party.PartyId);
        $('#GParty').val(Party.PartyName);
        $('#GST2').val(Party.GSTNo);
        // $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress2').val(Party.Address);
        $('#hdnState2').val(Party.State);
        $('#hdnStateCode2').val(Party.StateCode);
        //  var rawJson = JSON.parse($('#PaymentSheetModelJsonn').val());
        //var rawJsonn = JSON.parse($('#PaymentSheetModelJsonn').val());
        // var rawJsonnn = JSON.parse($('#PaymentSheetModelJsonnn').val());
        //  rawJson.PartyId = Party.PartyId;
        //  rawJson.PartyName = Party.PartyName;
        //  rawJson.PartyGST = Party.GSTNo;

        //   $('#PaymentSheetModelJsonn').val(JSON.stringify(rawJson));

        //  $("#WpartyModal").modal("hide");
        $("#GpartyModal").modal("hide");
        //$("#RpartyModal").modal("hide");
        GetInternalInvoice(Party.PartyId, "GR");
        //   GetGodownWiseLocation();
    }


    function selectRParty(id) {
        debugger;
        //   alert(id);
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        //  alert(PartyJson);
        var Party = $.grep(PartyJson, function (item) { return item.PartyId == id; })[0];
        // alert(PartyJson);
        $('#RpartyId').val(Party.PartyId);
        $('#RParty').val(Party.PartyName);
        $('#GST3').val(Party.GSTNo);
        // $('#GSTNo').val(Party.GSTNo);
        $('#hdnAddress3').val(Party.Address);
        $('#hdnState3').val(Party.State);
        $('#hdnStateCode3').val(Party.StateCode);
        //  var rawJson = JSON.parse($('#PaymentSheetModelJsonnn').val());
        //var rawJsonn = JSON.parse($('#PaymentSheetModelJsonn').val());
        // var rawJsonnn = JSON.parse($('#PaymentSheetModelJsonnn').val());
        //   rawJson.PartyId = Party.PartyId;
        //   rawJson.PartyName = Party.PartyName;
        //   rawJson.PartyGST = Party.GSTNo;

        //   $('#PaymentSheetModelJsonnn').val(JSON.stringify(rawJson));

        //  $("#WpartyModal").modal("hide");
        //  $("#GpartyModal").modal("hide");
        $("#RpartyModal").modal("hide");
        //   GetGodownWiseLocation();
        if ($('#TranMode').val() == "By Train") {
            GetInternalInvoice(Party.PartyId, "RR");
        }
        else {
            GetInternalInvoice(Party.PartyId, "FMC");
        }
    }

    $('#Gpartybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#GpartyList > li').show();
        else {
            $('#GpartyList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });



    $('#Rpartybox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#RpartyList > li').show();
        else {
            $('#RpartyList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });


    function SelectShipping(data) {
        $('#sid').val(data.id);
        $('#Sline').val(data.innerText);
        $("#sHIPPINGModal").modal("hide");
        // GetGodownWiseLocation();
    }

    $('#Locationbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#LocationList > li').show();
        else {
            $('#LocationList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function SelectGodown(data) {
        $('#ToGodownId').val(data.id);
        $('#NewGodownName').val(data.innerText);
        $("#sHIPPINGModal").modal("hide");
        // GetGodownWiseLocation();
    }
    function SelectBOENo(data) {
        debugger;
        $('#ContainerStuffingId').val(data.id);
        $('#Container').val(data.innerText);
        $("#BOENoModal").modal("hide");
        GetContainerDetails(data.id, data.innerText);
    }


    function SelectNewLocation(data) {
        $('#LocationId').val(data.id);
        $('#LocationName').val(data.innerText);
        $('#NewLctnNames').val(data.innerText);
        $("#LocationModal").modal("hide");
        //  GetInternalInvoice();
    }


    function GetInternalInvoice(pid, chargetype) {
        debugger;
        $.ajax({
            url: '/Export/DSR_CWCExport/GetInternalPaymentSheet',
            type: 'POST',
            data: {
                ContainerStuffingDtlId: $('#ContainerStuffingDtlId').val(),
                ContainerStuffingId: $('#ContainerStuffingId').val(),
                ContainerNo: $('#Container').val(),
                MovementDate: $('#MovementDate').val(),
                InvoiceType: 'Tax',
                DestLocationIdiceId: $('#LocationId').val(),
                Partyid: pid,
                ctype: chargetype,
                portvalue: $('#port').val() == "" ? 0 : $('#port').val(),
                InvoiceId: 0


            },
            dataType: 'JSON',
            success: function (data) {
                debugger;

                if (data != null && data != 'undefined') {
                    if (chargetype == "W") {
                        $('#PaymentSheetModelJson').val(JSON.stringify(data));
                        var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                        rawJson.PartyId = pid;
                        rawJson.PartyName = $('#Party').val();
                        rawJson.PartyGST = $('#GST1').val();
                        $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));

                    }
                    if (chargetype == "GR") {
                        $('#PaymentSheetModelJsonn').val(JSON.stringify(data));
                        var rawJson = JSON.parse($('#PaymentSheetModelJsonn').val());

                        rawJson.PartyId = pid;
                        rawJson.PartyName = $('#GParty').val();
                        rawJson.PartyGST = $('#GST2').val();
                        $('#PaymentSheetModelJsonn').val(JSON.stringify(rawJson));
                    }

                    if (chargetype == "RR" || chargetype == "FMC") {
                        $('#PaymentSheetModelJsonnn').val(JSON.stringify(data));
                        var rawJson = JSON.parse($('#PaymentSheetModelJsonnn').val());
                        rawJson.PartyId = pid;
                        rawJson.PartyName = $('#RParty').val();
                        rawJson.PartyGST = $('#GST3').val();
                        $('#PaymentSheetModelJsonnn').val(JSON.stringify(rawJson));
                    }
                    //ContainerSelectiner Binding
                    var html = '';
                    $.each(data.lstPostPaymentCont, function (i, item) {
                        html += '<tr><td>' + (i + 1) + '</td><td>' + item.CFSCode + '</td><td>' + item.ContainerNo + '</td><td>' + item.Size + '</td><td>';//
                        if (item.Reefer == 1) {
                            html += '<input type="checkbox" checked disabled id="chk' + i + '" /><label for="chk' + i + '"><i class="square" style="margin-left:10px;"></i></label></td><td>' + (item.Insured == 1 ? 'Yes' : 'No') + '</td><td></td></tr>';
                        }
                        else {
                            html += '<input type="checkbox" disabled id="chk' + i + '" /><label for="chk' + i + '"><i class="square" style="margin-left:10px;"></i></label></td><td>' + (item.Insured == 1 ? 'Yes' : 'No') + '</td><td></td></tr>';
                        }
                    });
                    //  $('#tblContainer tbody').html(html);
                    //  $('#Party').val(data.PartyName);
                    //CWC Charge Binding
                    debugger;
                    // var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });
                    html = '';
                    var tamt = 0;
                    $.each(data.lstPostPaymentChrg, function (i, item) {

                        tamt = tamt + item.Amount.toFixed(2);
                        html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text"  value="' + item.Amount.toFixed(2) + '" readonly/></td>'
                                + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                    });

                    if (chargetype == "W")
                        $('#tblWeighCharges tbody').html(html);

                    if (chargetype == "GR")
                        $('#tblGRCharges tbody').html(html);


                    if (chargetype == "RR")
                        $('#tblRRCharges tbody').html(html);

                    if (chargetype == "FMC") {
                        //  var tamt = 0;
                        // $.each(data.lstPostPaymentChrg, function (i, item) {


                        //  tamt = 0;
                        //  html += '<tr><td>FMC</td>'
                        //          + '<td class="Table_right"><input id="fmcamt" type="text"  value="0" onblur="CalcTax()"/></td>'
                        //         + '<td class="Table_right"><input id="IGSTP" type="text" value="0" onblur="CalcTax()" /></td>'
                        //         + '<td class="Table_right"><input id="IGSTA" type="text" value="0" /></td>'
                        //         + '<td class="Table_right"><input id="CGSTP" type="text" value="0" onblur="CalcTax()" /></td>'
                        //         + '<td class="Table_right"><input id="CGSTA" type="text" value="0"  /></td>'
                        //         + '<td class="Table_right"><input id="SGSTP" type="text" value="0" onblur="CalcTax()" /></td>'
                        //         + '<td class="Table_right"><input id="SGSTA" type="text" value="0"  /></td>'
                        //       + '<td class="Table_right"><input id="TOT" type="text" value="0" readonly /></td></tr>';
                        // });
                        $('#tblRRCharges tbody').html(html);
                    }
                    //  $('#CWCTDSPer').val(data.CWCTDSPer.toFixed(2));
                    // $('#TOTCWCTDS').val(Math.round(data.CWCTDS.toFixed(2)));
                    debugger;
                    //HT Charge Binding*/
                    //var HTCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });
                    //html = '';
                    //$.each(HTCharge, function (i, item) {
                    //    html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                    //            + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text" value="' + item.Amount.toFixed(2) + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" /></td>'
                    //            + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                    //            + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                    //            + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                    //            + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                    //            + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '" onblur="CalcTax(&quot;' + item.ChargeId + '&quot;)" readonly /></td>'
                    //            + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                    //            + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                    //});
                    //$('#tblHTCharges tbody').html(html);
                    //$('#HTTDSPer').val(data.HTTDSPer.toFixed(2));
                    //$('#TOTHTTDS').val(Math.round(data.HTTDS.toFixed(2)));

                    //Total Charge Calculation

                    //  var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                    var TotalCWC = 0;
                    //   var CWCCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "CWC"; });

                    $.each(data.lstPostPaymentChrg, function (i, item) {
                        TotalCWC += item.Total;
                    });

                    if (chargetype == "W")
                        $('#TOTWChrg').val((TotalCWC).toFixed(2));

                    if (chargetype == "GR")
                        $('#TOTGRChrg').val((TotalCWC).toFixed(2));

                    if (chargetype == "RR")
                        $('#TOTRCChrg').val((TotalCWC).toFixed(2));

                    if (chargetype == "FMC")
                        $('#TOTRCChrg').val((TotalCWC).toFixed(2));
                    //var TotalHT = 0;
                    //var HTCharge = $.grep(rawJson.lstPostPaymentChrg, function (item) { return item.ChargeType == "HT"; });

                    //$.each(HTCharge, function (i, item) {
                    //    TotalHT += item.Total;
                    //});
                    //$('#TOTHTChrg').val((TotalHT).toFixed(2));

                    $('#AllTotal').val((TotalCWC).toFixed(2));
                    //    $('#TotalTDS').val(Math.round(data.TDS.toFixed(2)));
                    // $('#TotalTDSCol').val(Math.round(data.TDSCol.toFixed(2)));
                    $('#RoundUp').val(data.RoundUp.toFixed(2));
                    $('#InvoiceValue').val(data.InvoiceAmt.toFixed(2));
                    data.TotalAmt = tamt;
                    //CalcInvoice();
                    //  $('.search').css('display', 'none');
                    $('#InvoiceDate').parent().find('img').css('display', 'none');
                    //  if (data.hasSDAvailableBalance == 0) {
                    //    alert("Your Invoice can not be saved due to SD Amount is low");

                    //    $('#btnSave').attr('disabled', 'disabled');
                    //  }
                    //  else {
                    //      $('#btnSave').removeAttr('disabled');
                    //  }


                }
                else {
                    $('#PaymentSheetModelJson').val('');
                    $('#PaymentSheetModelJsonn').val('');
                    $('#PaymentSheetModelJsonnn').val('');
                    //  $('#tblContainer tbody').html('');
                    $('#tblGRCharges tbody').html('');
                    $('#tblWeighCharges tbody').html('');
                    $('#tblRRCharges tbody').html('');

                    $('#TOTRCChrg').val('');
                    $('#TOTWChrg').val('');
                    $('#TOTGRChrg').val('');
                    $('#RoundUp').val('');
                }
            }
        });
    }

    function CalcTax(elem) {
        var MAmt = Number($('#fmcamt').val());
        var IP = Number($('#IGSTP').val());
        var CP = Number($('#CGSTP').val());
        var SP = Number($('#SGSTP').val());
        $('#IGSTA').val((MAmt * (IP / 100)).toFixed(2));
        $('#CGSTA').val((MAmt * (CP / 100)).toFixed(2));
        $('#SGSTA').val((MAmt * (SP / 100)).toFixed(2));
        $('#TOT').val((MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100))).toFixed(2));
        $('#TOTRCChrg').val($('#TOT').val());
        var rawJson = JSON.parse($('#PaymentSheetModelJsonnn').val());
        // var rawJson = JSON.parse($('#ChargesJson').val());
        //  var selectedItem = $.grep(rawJson.lstChargesType, function (item) { return item.ChargeId == elem; })[0];
        rawJson.IGSTPer = IP;
        rawJson.IGSTAmt = MAmt * (IP / 100);
        rawJson.CGSTPer = CP;
        rawJson.CGSTAmt = MAmt * (CP / 100);
        rawJson.SGSTPer = SP;
        rawJson.SGSTAmt = MAmt * (SP / 100);
        rawJson.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));
        rawJson.RoundUp = 0;
        rawJson.InvoiceAmt = rawJson.Total;
        $('#TOTRCChrg').val($('#TOT').val());
        $('#AllTotal').val($('#TOT').val());
        $('#InvoiceValue').val($('#TOT').val());

        $.each(rawJson.lstPostPaymentChrg, function (i, item) {
            item.ChargeName = "FMC"
            item.Rate = MAmt;
            item.Amount = MAmt;
            item.Discount = 0;
            item.Taxable = MAmt;
            item.IGSTPer = IP;
            item.IGSTAmt = $('#IGSTA').val((MAmt * (IP / 100)).toFixed(2));
            item.CGSTPer = CP;
            item.CGSTAmt = $('#CGSTA').val((MAmt * (CP / 100)).toFixed(2));
            item.SGSTPer = SP;
            item.SGSTAmt = $('#SGSTA').val((MAmt * (SP / 100)).toFixed(2));
            item.Total = (MAmt + (MAmt * (IP / 100)) + (MAmt * (CP / 100)) + (MAmt * (SP / 100)));
        });







        $('#PaymentSheetModelJsonnn').val(JSON.stringify(rawJson));
        //  CalcInvoice();
    }


    function PrintInvoice() {


        debugger;
        // var invoiceno = $('#InvoiceNo').val();

        //if (invoiceno == '')
        //{
        //    alert('No Invoice No');
        //    return;
        //}

        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("PrintTentativeMovementInvoice", "DSR_CWCExport", new { Area = "Export" }) ',
            headers: { "__RequestVerificationToken": Token },

            type: 'POST',
            data: { ctype: "GR" },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1) {
                    var pos = data.Message.indexOf("BulkReport");
                    if (pos > 0)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    PrintWeight();
                }
                else
                    alert(data.Message);
            }
        });
    }


    function PrintWeight() {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("PrintTentativeMovementInvoice", "DSR_CWCExport", new { Area = "Export" }) ',
            headers: { "__RequestVerificationToken": Token },

            type: 'POST',
            data: { ctype: "W" },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1) {
                    var pos = data.Message.indexOf("BulkReport");
                    if (pos > 0)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                    PrintFMC();
                }
                else
                    alert(data.Message);
            }
        });
    }


    function PrintFMC() {
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("PrintTentativeMovementInvoice", "DSR_CWCExport", new { Area = "Export" }) ',
            headers: { "__RequestVerificationToken": Token },

            type: 'POST',
            data: { ctype: "FMC" },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1) {
                    var pos = data.Message.indexOf("BulkReport");
                    if (pos > 0)
                        window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");

                }
                else
                    alert(data.Message);
            }
        });
    }

    function GetGodownWiseLocation() {
        debugger;
        var GodownId = $('#ToGodownId').val();
        $.ajax({
            url: '/Import/DSR_CWCImport/GetGodownWiseLocation',
            dataType: 'JSON',
            type: 'GET',
            data: { GodownId: GodownId },
            success: function (data) {
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, elem) {
                        $('#NewLctnNames,#NewLocationIds').val('');
                        html += '<div class="col-md-3"><div class="boolean-container"><input type="checkbox" id="' + elem.LocationId + 'y" name="' + elem.LocationId + '" onclick="SelectLocation()" /><label for="' + elem.LocationId + 'y"><i class="square">' + elem.LocationName + '</i></label></div></div>';
                    });
                    $('#lstGdwnWiseLctn').html(html);
                }
            }
        });
    }
    function GetContainerDetails(CstuffingEntryDtlId, ContNo) {
        debugger;
        $.ajax({
            url: "/Export/DSR_CWCExport/GetConDetails",
            type: "GET",
            dataType: "JSON",
            data: {
                ContainerStuffingDtlId: CstuffingEntryDtlId,
                ContainerNo: ContNo
            },
            async: false,
            success: function (data) {
                if (data.Status == 1) {
                    $('#CFSCode').val(data.Data.CFSCode);
                    $('#ContainerStuffingDtlId').val(data.Data.ContainerStuffingDtlId);
                    $('#SealNo').val(data.Data.ShippingSeal);
                    $('#CustomSealNo').val(data.Data.CustomSeal);
                    var Sbill = data.Data.ShipBill;
                    var sbillno = "";
                    $.each(Sbill, function (i, item) {
                        sbillno = sbillno + item.shippingBillNo + ",";
                    });
                    sbillno = sbillno.substring(0, sbillno.length - 1);
                    $('#Shipbillno').val(sbillno);
                    if (data.Data.TransportMode == 1) {
                        $('#TranMode').val("By Train");
                        $('#RRtype').innerHTML = "RR";
                        document.getElementById("RRtype").innerHTML = "RR";


                    }
                    else {
                        $('#TranMode').val("By Road");
                        $('#RRtype').innerHTML = "FMC";
                        document.getElementById("RRtype").innerHTML = "FNC";
                    }



                }
            }
        });
    }
    function SelectLocation() {
        debugger;
        var data = '';
        var inf = '';
        $('#lstGdwnWiseLctn').find('input:checked').each(function () {
            if (data == '')
                data = $(this).prop('name');
            else
                data = data + ',' + $(this).prop('name');
            if (inf == '')
                inf = $('label[for="' + $(this).prop('id') + '"]').text();
            else
                inf = inf + ',' + $('label[for="' + $(this).prop('id') + '"]').text();
        });
        $('#NewLocationIds').val(data);
        $('#NewLctnNames').val(inf);
        // alert(data);
    }
    function ResetMovement() {
        debugger;
        $('#DivAddMovement').find('input:text,textarea').val('');
        $('#DivAddMovement').find('input:hidden').val('');
        $('#lstGdwnWiseLctn').html('');
        $('#DivSucMsg').html('');
        $('#DivErrMsg').html('');
        $('#MovementDate').val('@ViewBag.CurrentDate');
        $('[data-valmsg=for]').html('<span></span>');
        $('#tblWeighCharges tbody').html('');
        $('#tblGRCharges tbody').html('');
        $('#tblRRCharges tbody').html('');

        $('#savbtn').removeAttr('disabled');
        $('#btnPrint').attr('disabled', 'disabled');
    }


    function BindJson() {
        debugger;
        if ($('#Container').val() == '') {
            // $('[data-valmsg-for="PartyName"]').html('<span>Fill Out This Field</span>');
            $('#ErrContainer').html('Fill Out This Field');
            return false;
        }
        else if ($('#LocationName').val() == '') {
            //   $('[data-valmsg-for="PayeeName"]').html('<span>Fill Out This Field</span>');
            $('#ErrLocation').html('Fill Out This Field');
            return false;
        }
        else if ($('#Sline').val() == '') {
            $('#ErrShipping').html('Fill Out This Field');
            return false;
        }
        else if ($('#Party').val() == '') {
            //   $('[data-valmsg-for="amount"]').html('<span>Fill Out This Field</span>');
            $('#ErrParty').html('Fill Out This Field');
            return false;
        }
        else if ($('#GParty').val() == '') {
            //   $('[data-valmsg-for="amount"]').html('<span>Fill Out This Field</span>');
            $('#ErrGParty').html('Fill Out This Field');
            return false;
        }
        else if ($('#RParty').val() == '') {
            //   $('[data-valmsg-for="amount"]').html('<span>Fill Out This Field</span>');
            $('#ErrRParty').html('Fill Out This Field');
            return false;
        }
        else if (($('#TOTWChrg').val() == '0.00' || $('#TOTWChrg').val() == '0') && ($('#TOTGRChrg').val() == '0.00' || $('#TOTGRChrg').val() == '0') && ($('#TOTRCChrg').val() == '0.00' || $('#TOTRCChrg').val() == '0')) {
            //   $('[data-valmsg-for="amount"]').html('<span>Fill Out This Field</span>');
            alert("Unable to generate invoice due to invoice amount 0 ");
            return false;
        }
        else {







            var conf = confirm("Do you want to save ?");
            if (conf) {
                try {
                    $('#savbtn').attr('disabled', true);
                    var rawJson = JSON.parse($('#PaymentSheetModelJson').val());
                    var rawJsonn = JSON.parse($('#PaymentSheetModelJsonn').val());
                    var rawJsonnn = JSON.parse($('#PaymentSheetModelJsonnn').val());
                    rawJson.InvoiceId = 0;
                    rawJson.InvoiceType = "Tax";
                    rawJson.InvoiceDate = $('#MovementDate').val();
                    rawJson.RequestId = $('#ContainerStuffingDtlId').val();
                    rawJson.RequestNo = $('#MovementNo').val();
                    rawJson.RequestDate = $('#MovementDate').val();
                    rawJson.BOENo = $('#Container').val();
                    rawJson.CFSCode = $('#CFSCode').val();
                    rawJson.OldLocationIds = $('#port').val() == "" ? 0 : $('#port').val();
                    rawJson.OldGodownName = $('#SealNo').val();
                    rawJson.BOEDate = $('#SealDate').val();
                    rawJson.NewGodownName = $('#CustomSealNo').val();
                    rawJson.OldLctnNames = $('#CustomSealDate').val();
                    rawJson.Area = $('#POD').val() == "" ? 0 : $('#POD').val();
                    rawJson.FromGodownId = $('#sid').val();
                    rawJson.ImporterExporter = $('#Sline').val();

                    rawJson.CompanyAddress = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');

                    // rawJson.OldLocationIds = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //  rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //rawJson.ROAddress = (rawJson.ROAddress).replace(/\<br/>\/g, '#$');
                    // rawJson.InvoiceHtml = InvoiceHtml(rawJson);
                    //   rawJson.OldLocationIds = $('#OldLocationIds').val();
                    //  rawJson.OldLctnNames = $('#OldLctnNames').val();
                    rawJson.LocationId = $('#LocationId').val();
                    rawJson.LocationName = $('#LocationName').val();

                    //rawJson.partyId = $('#partyId').val();
                    //  rawJson.Party = $('#Party').val();

                    //  rawJson.PartyGST = $('#GST1').val();
                    rawJson.PartyAddress = $('#hdnAddress').val();
                    rawJson.PartyState = $('#hdnState').val();
                    rawJson.PartyStateCode = $('#hdnStateCode').val();

                    rawJsonn.InvoiceId = 0;
                    rawJsonn.InvoiceType = "Tax";
                    rawJsonn.InvoiceDate = $('#MovementDate').val();
                    rawJsonn.RequestId = $('#ContainerStuffingDtlId').val();
                    rawJsonn.RequestNo = $('#MovementNo').val();
                    rawJsonn.RequestDate = $('#MovementDate').val();
                    rawJsonn.ContainerNo = $('#Container').val();
                    rawJsonn.CFSCode = $('#CFSCode').val();
                    rawJsonn.OldLocationIds = $('#port').val() == "" ? 0 : $('#port').val();


                    rawJsonn.SealNo = $('#SealNo').val();
                    rawJsonn.SealDate = $('#SealDate').val();
                    rawJsonn.CustomSealNo = $('#CustomSealNo').val();
                    rawJsonn.CustomSealDate = $('#CustomSealDate').val();
                    rawJsonn.Area = $('#POD').val() == "" ? 0 : $('#POD').val();

                    //  rawJsonn.POD = $('#POD').val();
                    rawJsonn.sid = $('#sid').val();
                    rawJsonn.Sline = $('#Sline').val();

                    rawJsonn.CompanyAddress = (rawJsonn.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    rawJsonn.ROAddress = (rawJsonn.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');

                    // rawJson.OldLocationIds = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //  rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //rawJson.ROAddress = (rawJson.ROAddress).replace(/\<br/>\/g, '#$');
                    // rawJson.InvoiceHtml = InvoiceHtml(rawJson);
                    rawJsonn.OldLocationIds = $('#OldLocationIds').val();
                    rawJsonn.OldLctnNames = $('#OldLctnNames').val();
                    rawJsonn.LocationId = $('#LocationId').val();
                    rawJsonn.LocationName = $('#LocationName').val();

                    // rawJsonn.GpartyId = $('#GpartyId').val();
                    //  rawJsonn.GParty = $('#GParty').val();
                    //   rawJsonn.PartyGST = $('#GST2').val();
                    rawJsonn.PartyAddress = $('#hdnAddress2').val();
                    rawJsonn.PartyState = $('#hdnState2').val();
                    rawJsonn.PartyStateCode = $('#hdnStateCode2').val();
                    rawJsonnn.InvoiceId = 0;
                    rawJsonnn.InvoiceType = "Tax";
                    rawJsonnn.InvoiceDate = $('#MovementDate').val();
                    rawJsonnn.RequestId = $('#ContainerStuffingDtlId').val();
                    rawJsonnn.RequestNo = $('#MovementNo').val();
                    rawJsonnn.RequestDate = $('#MovementDate').val();
                    rawJsonnn.ContainerNo = $('#Container').val();
                    rawJsonnn.CFSCode = $('#CFSCode').val();
                    rawJsonnn.OldLocationIds = $('#port').val() == "" ? 0 : $('#port').val();

                    rawJsonnn.SealNo = $('#SealNo').val();
                    rawJsonnn.SealDate = $('#SealDate').val();
                    rawJsonnn.CustomSealNo = $('#CustomSealNo').val();
                    rawJsonnn.CustomSealDate = $('#CustomSealDate').val();
                    rawJsonnn.Area = $('#POD').val() == "" ? 0 : $('#POD').val();
                    rawJsonnn.sid = $('#sid').val();
                    rawJsonnn.Sline = $('#Sline').val();

                    rawJsonnn.CompanyAddress = (rawJsonnn.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    rawJsonnn.ROAddress = (rawJsonnn.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');

                    // rawJson.OldLocationIds = (rawJson.CompanyAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //  rawJson.ROAddress = (rawJson.ROAddress).replace(new RegExp('<br/>', "gi"), '|_br_|');
                    //rawJson.ROAddress = (rawJson.ROAddress).replace(/\<br/>\/g, '#$');
                    // rawJson.InvoiceHtml = InvoiceHtml(rawJson);
                    rawJsonnn.OldLocationIds = $('#OldLocationIds').val();
                    rawJsonnn.OldLctnNames = $('#OldLctnNames').val();
                    rawJsonnn.LocationId = $('#LocationId').val();
                    rawJsonnn.LocationName = $('#LocationName').val();

                    //   rawJsonnn.RpartyId = $('#RpartyId').val();
                    //   rawJsonnn.RParty = $('#RParty').val();
                    //   rawJsonnn.PartyGST = $('#GST3').val();
                    rawJsonnn.PartyAddress = $('#hdnAddress3').val();
                    rawJsonnn.PartyState = $('#hdnState3').val();
                    rawJsonnn.PartyStateCode = $('#hdnStateCode3').val();


                    // rawJson.TotalAmt = Number(rawJson.TotalAmt.toFixed(2));
                    //  rawJson.TotalDiscount = Number(rawJson.TotalDiscount.toFixed(2));
                    //  rawJson.TotalTaxable = Number(rawJson.TotalAmt.toFixed(2));
                    //  rawJson.TotalCGST = Number(rawJson.TotalCGST.toFixed(2));
                    // rawJson.TotalSGST = Number(rawJson.TotalSGST.toFixed(2));
                    //  rawJson.TotalIGST = Number(rawJson.TotalIGST.toFixed(2));
                    // rawJson.CWCAmtTotal = Number(rawJson.CWCAmtTotal.toFixed(2));
                    //  rawJson.CWCTotal = Number(rawJson.CWCTotal.toFixed(2));
                    //  rawJson.HTAmtTotal = Number(rawJson.HTAmtTotal.toFixed(2));
                    // rawJson.HTTotal = Number(rawJson.HTTotal.toFixed(2));
                    //  rawJson.AllTotal = Number(rawJson.AllTotal.toFixed(2));
                    //    rawJson.RoundUp = Number(rawJson.RoundUp.toFixed(2));

                    $.each(rawJson.lstPostPaymentChrg, function (i, item) {
                        item.Rate = Number(item.Rate.toFixed(2));
                        item.Amount = Number(item.Amount.toFixed(2));
                        item.Discount = Number(item.Discount.toFixed(2));
                        item.Taxable = Number(item.Taxable.toFixed(2));
                        item.IGSTPer = Number(item.IGSTPer.toFixed(2));
                        item.IGSTAmt = Number(item.IGSTAmt.toFixed(2));
                        item.CGSTPer = Number(item.CGSTPer.toFixed(2));
                        item.CGSTAmt = Number(item.CGSTAmt.toFixed(2));
                        item.SGSTPer = Number(item.SGSTPer.toFixed(2));
                        item.SGSTAmt = Number(item.SGSTAmt.toFixed(2));
                        item.Total = Number(item.Total.toFixed(2));
                    });

                    $.each(rawJsonn.lstPostPaymentChrg, function (i, item) {
                        item.Rate = Number(item.Rate.toFixed(2));
                        item.Amount = Number(item.Amount.toFixed(2));
                        item.Discount = Number(item.Discount.toFixed(2));
                        item.Taxable = Number(item.Taxable.toFixed(2));
                        item.IGSTPer = Number(item.IGSTPer.toFixed(2));
                        item.IGSTAmt = Number(item.IGSTAmt.toFixed(2));
                        item.CGSTPer = Number(item.CGSTPer.toFixed(2));
                        item.CGSTAmt = Number(item.CGSTAmt.toFixed(2));
                        item.SGSTPer = Number(item.SGSTPer.toFixed(2));
                        item.SGSTAmt = Number(item.SGSTAmt.toFixed(2));
                        item.Total = Number(item.Total.toFixed(2));
                    });

                    $.each(rawJsonnn.lstPostPaymentChrg, function (i, item) {
                        item.Rate = Number(item.Rate.toFixed(2));
                        item.Amount = Number(item.Amount.toFixed(2));
                        item.Discount = Number(item.Discount.toFixed(2));
                        item.Taxable = Number(item.Taxable.toFixed(2));
                        item.IGSTPer = Number(item.IGSTPer.toFixed(2));
                        item.IGSTAmt = Number(item.IGSTAmt.toFixed(2));
                        item.CGSTPer = Number(item.CGSTPer.toFixed(2));
                        item.CGSTAmt = Number(item.CGSTAmt.toFixed(2));
                        item.SGSTPer = Number(item.SGSTPer.toFixed(2));
                        item.SGSTAmt = Number(item.SGSTAmt.toFixed(2));
                        item.Total = Number(item.Total.toFixed(2));
                    });

                    $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                    $('#PaymentSheetModelJsonn').val(JSON.stringify(rawJsonn));
                    $('#PaymentSheetModelJsonnn').val(JSON.stringify(rawJsonnn));
                    debugger;
                    $('form#PaymentSheetForm').submit();
                }
                catch (e) {
                    $('#savbtn').removeAttr('disabled');
                }
            }
        }
    }


    function PartyBinding() {
        debugger;
        var PartyJson = JSON.parse($('#hdnPartyPayee').val());
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="W"+"' + item.PartyId + '" onclick="selectParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#WpartyList').html(html);
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="G"+"' + item.PartyId + '" onclick="selectGParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });
        $('#GpartyList').html(html);
        var html = '';
        $.each(PartyJson, function (i, item) {
            html += '<li id="R"+"' + item.PartyId + '" onclick="selectRParty(' + item.PartyId + ');">' + item.PartyName + '</li>';
        });


        $('#RpartyList').html(html);
    }

    function Print() {
        var actualJson = JSON.parse($('#PaymentSheetModelJson').val());
        var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft' /></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>" + actualJson.ROAddress + "</td><td style='font-weight:600;'>" + actualJson.CompanyName + "<br />" + actualJson.CompanyAddress + "<br />" + actualJson.EmailAddress + "</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        //var html1 = "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th style='width:20%;'><img style='width:50%;' src='IMGLeft'/></th><th style='width:60%;'></th><th style='width:20%;'><img style='width:70%;' src='IMGRight' /></th></tr><tr><th colspan='3' style='text-align:center;vertical-align:bottom;'>CENTRAL WAREHOUSING CORPORATION<br />(A GOVT. OF INDIA UNDERTAKING)</th></tr></thead><tbody><tr><td colspan='2' style='font-weight:600;'>REGIONAL OFFICE, KOLKATA<br />CMC BUILDING, PHASE-1, 6TH FLOOR, NEW MARKET COMPLEX,<br />15 N, NELLIE SENGUPTA SARANI, KOLKATA - 700087</td><td style='font-weight:600;'>CONTAINER FREIGHT STATION<br />18, COAL DOCK ROAD,<br />KOLKATA - 700043<br />E-mail ID : manager_cfs@yahoo.in</td></tr><tr><td colspan='3' style='text-align:center;padding-bottom:20pt;'><span style='border-bottom:1px solid #000;font-weight:600;'>" + (actualJson.InvoiceType == "Tax" ? "TAX INVOICE" : "BILL OF SUPPLY") + "</span></td></tr><tr><td colspan='3'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><tbody><tr><td style='width:30%;'>GSTIN-<span>" + actualJson.CompGST + "</span><br />PAN NO.- <span>" + actualJson.CompPAN + "</span><br />STATE CODE : <span>" + actualJson.CompStateCode + "</span></td><td style='width:50%;'><table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;'><thead><tr><th colspan='2' style='text-align:left;'>Details of Receiver ( Billed to)</th></tr></thead><tbody><tr><td style='width:45%;'>Name</td>";
        html1 += "<td><span>" + actualJson.PartyName + "</span></td></tr><tr><td>Address</td><td><span>" + actualJson.PartyAddress + "</span></td></tr><tr><td>State</td><td><span>" + actualJson.PartyState + "</span></td></tr><tr><td>State Code</td><td><span>" + actualJson.PartyStateCode + "</span></td></tr><tr><td>GSTIN/ Unique ID</td><td><span>" + actualJson.PartyGST + "</span></td></tr></tbody></table>";
        html1 += "</td><td></td></tr><tr><td colspan='2'><b>Invoice No. <span>" + actualJson.InvoiceNo + "</span></b></td><td style='vertical-align:top;text-align: center;'><b>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></b></td>";
        html1 += "</tr><tr><td colspan='2'><table><tr><td style='vertical-align:top;width:50%;'><table style='width:100%;float: left;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;'><thead><tr><th style='border:1px solid #000;'>CONTAINER NO.</th><th style='border:1px solid #000;'>SIZE</th><th style='border:1px solid #000;'>ARRIVAL DT.</th><th style='border:1px solid #000;'>CARGO TYPE</th></tr></thead><tbody>";
        $.each(actualJson.lstPostPaymentCont, function (i, item) {
            html1 += "<tr><td style='border:1px solid #000;text-align:center;'><span>" + item.ContainerNo + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Size + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.ArrivalDate + " " + item.ArrivalTime + "</span></td><td style='border:1px solid #000;text-align:center;'><span>" + (item.CargoType == 1 ? "Haz" : "Non-Haz") + "</span></td></tr>";
        });
        html1 += "</tbody></table></td><td style='vertical-align:top;width:50%;'><table style='width:100%;float:right;font-size:8pt;font-family:Verdana,Arial,San-serif;border:1px solid #000;border-collapse:collapse;margin-top:20pt;border-left-style: none;'><tbody><tr><td>";
        html1 += "Shipping Line. <span>" + actualJson.ShippingLineName + "</span><br/>CFS Code No. <span>" + actualJson.CFSCode + "</span><br/>Date & Time of Arrival (FN/AN): <span>" + actualJson.ArrivalDate + "</span><br/>Date & Time of Destuffing (FN/AN)/ Delivery. <span>" + actualJson.DestuffingDate + "</span><br/>Name of Importer. <span>" + actualJson.ImporterExporter + "</span><br/>BOE No./Date <span>" + actualJson.BOENo + "/" + actualJson.BOEDate + "</span><br/>Name of CHA. <span>" + actualJson.CHAName + "</span><br/>No of Packages. <span>" + actualJson.TotalNoOfPackages + "</span><br/>Total Gross Weight. <span>" + actualJson.TotalGrossWt + "</span><br/>Gross Weight per Package. <span>" + actualJson.TotalWtPerUnit + "</span><br/>Storage space occupied(" + actualJson.TotalSpaceOccupiedUnit + ") <span>" + actualJson.TotalSpaceOccupied + "</span><br/>Chargeable period for Storage space.";
        html1 += "<table style='width:100%;font-size:8pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;margin-top:10pt;'><tr><td>(a) Date & Time of Destuffing(FN/AN)</td></tr><tr><td>(b) Date of Delivery " + actualJson.InvoiceDate + "</td></tr><tr><td>(c) Customs Examination Date " + actualJson.ApproveOn + "</td></tr></table></td></tr></tbody></table></td></tr></table></td></tr></tbody></table></td></tr>";
        html1 += "<tr><td colspan='3'>Value of Cargo (CIF Value + Duty + Penalty) Rs.<span>" + actualJson.TotalValueOfCargo + "</span></td></tr></tbody></table>";

        var html2 = "<table style='width:100%;font-size:7pt;font-family:Verdana,Arial,San-serif;border-collapse:collapse;border:1px solid #000;'><thead><tr><th colspan='6' style='vertical-align:top;text-align:left;'>Invoice No. <span>" + actualJson.InvoiceNo + "</span></th><th colspan='6' style='text-align:right;padding-right:20pt;padding-bottom:50pt;'>Date: <span>" + (new Date()).getDate() + "/" + ((new Date()).getMonth() + 1) + "/" + (new Date()).getFullYear() + "</span></th></tr><tr><th style='border:1px solid #000;text-align:center;width:20%;'>Particulars</th><th style='border:1px solid #000;'>SAC</th><th style='border:1px solid #000;'>Value</th><th style='border:1px solid #000;'>TDS</th><th style='border:1px solid #000;text-align:center;'>Discount</th><th colspan='6' style='border:1px solid #000;text-align:center;'>Taxes</th><th style='border:1px solid #000;'>Total Amount</th></tr><tr><th style='border:1px solid #000;border-bottom:none;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th rowspan='2' style='border:1px solid #000;'></th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>CGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>SGST</th><th style='border:1px solid #000;'>Rate</th><th style='border:1px solid #000;'>IGST</th><th style='border:1px solid #000;'></th></tr><tr><th style='border:1px solid #000;border-top:none;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th><th style='border:1px solid #000;'></th></tr></thead><tbody>";
        var cwcCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'CWC' && item.Total > 0; });
        $.each(cwcCharges, function (i, item) {
            html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
            //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        });
        html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>CWC TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'>" + actualJson.CWCTDS.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        var htCharges = $.grep(actualJson.lstPostPaymentChrg, function (item) { return item.ChargeType == 'HT' && item.Total > 0; });
        //html2 += "<tr><td style='border:1px solid #000;'><b><br />B. H&T Charges :-</b></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        $.each(htCharges, function (i, item) {
            html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Amount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:center;'><span>" + item.Discount.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.CGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.SGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTPer + "%</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.IGSTAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + item.Total.toFixed(2) + "</span></td></tr>";
            //html2 += "<tr><td style='border:1px solid #000;'>" + item.Clause + ". " + item.ChargeName + "</td><td style='border:1px solid #000;'><span>" + item.SACCode + "</span></td><td style='border:1px solid #000;'><span>" + item.Amount + "</span></td><td style='border:1px solid #000;'><span></span></td><td style='border:1px solid #000;'><span>" + item.Discount + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.CGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.SGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTPer + "</span></td><td style='border:1px solid #000;'><span>" + item.IGSTAmt + "</span></td><td style='border:1px solid #000;'><span>" + item.Total + "</span></td></tr>";
        });
        html2 += "<tr><td style='border:1px solid #000;padding-left:25px;'>H&T TDS</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:center;'>" + actualJson.HTTDS.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;'></td></tr>";
        //html2 += "<tr><td>H&T TDS</td><td></td><td></td><td>" + actualJson.HTTDS + "</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>";

        html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalAmt.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + /*actualJson.TDS.toFixed(2) +*/ "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount.toFixed(2) + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST.toFixed(2) + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST.toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal.toFixed(2) + "</span></td></tr>";
        //html2 += "<tr><td colspan='12'>&nbsp;</td></tr><tr><td>Grand Total</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TDS + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + ((actualJson.CWCTotal * 10 / 100) + (actualJson.HTTotal * 2 / 100)).toFixed(2) + "</span></td><td style='border:1px solid #000;text-align:right;'>" + actualJson.TotalDiscount + "</td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalCGST + "</span></td><td style='border:1px solid #000;'></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalSGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span></span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.TotalIGST + "</span></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.AllTotal + "</span></td></tr>";
        html2 += "<tr><td>Round Up</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.RoundUp.toFixed(2) + "</span></td></tr>";
        html2 += "<tr><td>Grand Total(Rounded)</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style='border:1px solid #000;text-align:right;'><span>" + actualJson.InvoiceAmt.toFixed(2) + "</span></td></tr>";
        html2 += "<tr><td colspan='12'>TDS Deduction : " + actualJson.TDS.toFixed(2) + "<br/>TDS Collection : " + actualJson.TDSCol.toFixed(2) + "<br/><br/>FIGURE IN WORDS: <span>" + CurrentcyToWord(actualJson.InvoiceAmt.toFixed(2)).toUpperCase() + "</span></td></tr><tr><td colspan='12' style='padding:50pt 0pt;'><b>REMARKS:<span>" + actualJson.Remarks + "</span></b></td></tr>";

        html2 += "</tbody><tfoot><tr><td colspan='4'>WAI/TA/JTA/JS/SUPTD</td><td colspan='4'>AM (A/cs)</td><td colspan='4' style='text-align:center;'>Manager (CFS)</td></tr></tfoot></table>";

        var PostData = new FormData();
        PostData.append("type", "yard");
        PostData.append("id", $('#InvoiceNo').val());
        PostData.append("page", html1);
        PostData.append("npage", html2);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GeneratePDF", "CWCImport", new { area = "Import" })',
            data: PostData,
            processData: false,
            contentType: false,
            success: function (data) {
                window.open(data.Message + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
        });
    }

    function CurrentcyToWord(s) {
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
        var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        s = s.toString();
        s = s.replace(/[\, ]/g, '');
        if (s != parseFloat(s)) return 'not a number';
        var x = s.indexOf('.');
        if (x == -1) x = s.length;
        if (x > 15) return 'too big';
        var n = s.split('');
        var str = '';
        var sk = 0;
        for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
                if (n[i] == '1') {
                    str += tn[Number(n[i + 1])] + ' ';
                    i++;
                    sk = 1;
                } else if (n[i] != 0) {
                    str += tw[n[i] - 2] + ' ';
                    sk = 1;
                }
            } else if (n[i] != 0) {
                str += dg[n[i]] + ' ';
                if ((x - i) % 3 == 0) str += 'hundred ';
                sk = 1;
            }
            if ((x - i) % 3 == 1) {
                if (sk) str += th[(x - i - 1) / 3] + ' ';
                sk = 0;
            }
        }
        if (x != s.length) {
            var y = s.length;
            str += 'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
        }
        return str.replace(/\s+/g, ' ');
    }
</script>


