@model CwcExim.Areas.Export.Models.DSR_CartingRegister


<style>
    #ShortCargoModal{
        z-index: 9995 !important;
    }
    .search{
        top:30px;
    }
</style>
@if (ViewBag.GodownList != null)
{
    <input type="hidden" id="hdnGodownList" value="@ViewBag.GodownList" />
}
else
{
    <input type="hidden" id="hdnGodownList" value="" />
}

<div id="DivEditCartingRegister" class="container-fluid">

    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">

            <div class="Head_h4">
                <div class="DivAddCartingRegister">
                    @using (Ajax.BeginForm("AddEditCartingRegister", "DSR_CWCExport", new AjaxOptions
            {
                //Confirm = "Are you sure you want to Save?",
                HttpMethod = "POST",
                OnSuccess = "RegisterOnSuccess",
                OnFailure = "RegisterOnFailure"
            }, new { @Id = "frmCartingReg" }))
            {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CartingRegisterId)
                        @Html.HiddenFor(m => m.CartingAppId)
                        @Html.HiddenFor(m => m.XMLData)
                        @Html.HiddenFor(m => m.ClearLocation)
                if (ViewBag.check != null)
                {
                            <input type="hidden" id="hdnShippingLineList" value="@ViewBag.check" />
                }
                else
                {
                            <input type="hidden" id="hdnShippingLineList" value="" />
                }
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="">Carting Register</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Carting No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.TextBoxFor(m => m.CartingRegisterNo, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>Register Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                    @Html.TextBoxFor(m => m.RegisterDate, new { @class = "form-control input-sm", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.RegisterDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>CCIN No/SB No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    <span class="ReQSimbol">*</span>
                                    @Html.TextBoxFor(m => m.ApplicationNo , new { @class = "form-control input-sm", @readonly = true })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                    <label>CCIN Date:</label>
                                </div>
                                <div class="col-md-2-5 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.ApplicationDate, new { @class = "form-control input-sm", @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Commodity Type:</label>
                                </div>
                                <div class="col-md-2-5">
                                    @Html.DropDownListFor(m => m.CommodityType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="General",Value="1"},
                                    new SelectListItem { Text="Heavy/Scrape",Value="2"}
                                }, "----Select----", new { })
                                    @Html.ValidationMessageFor(m => m.CommodityType, "", new { @class = "Error_Msg" })
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt" style="display:none">
                                    <label>Carting Type:</label>
                                </div>
                                <div class="col-md-2-5" style="display:none">
                                    @Html.DropDownListFor(m => m.CartingType, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Manual",Value="1"},
                                }, new { })
                                    @Html.ValidationMessageFor(m => m.CartingType, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @Html.LabelFor(m => m.CHAName, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBoxFor(m => m.CHAName, new { @class = "form-control input-sm", @readonly = true })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CHAModal"></i></span>
                                    @Html.HiddenFor(m => m.CHAId, new { @Id = "hdnCHAId" })
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top" style="display:none">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Shipping Line:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.HiddenFor(m => m.ShippingLineId)
                                    @Html.TextBoxFor(m => m.ShippingLineName, new { @class = "form-control input_sm", @readonly = true })
                                    <span class="search" id="ShippingLineSerach"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" id="shipping" data-target="#ShippingLineModal"></i></span>
                                </div>
                            </div>
                        </div>
                      
                        <div class="row Form_Space_top" style="display:none">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2 padding_rt">
                                    <label>Location:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextBox("Location", "", new { @class = "form-control input-sm", @readonly = true })
                                    <span id="LocationSearch" class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#LocationModal"></i></span>
                                    @*@Html.ValidationMessage("Location", new { @class = "Error_Msg" })*@
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top Form_Space_bottom">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    @Html.LabelFor(m => m.Remarks, new { @class = "InputLabel" })<span class="LabelColon">:</span>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control input-sm", @style = "width:100%;height:100px;" })
                                    @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>

                        <div id="DivShippingDetails" class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Carting Details</h5>
                                </div>
                            </div>
                            @Html.Hidden("CartingAppDtlId")
                            @Html.Hidden("LocationDetails")
                            @Html.Hidden("CartingRegisterDtlId")
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Shipping Bill No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ShippingBillNo", "", new { @class = "form-control input-sm",@readonly=true })
                                        @Html.ValidationMessage("ShippingBillNo", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
                                        <label>Shipping Bill Date:</label>
                                    </div>
                                    <div class="col-md-2-5 Date_Img col_cus_2_5">
                                        @Html.TextBox("ShippingBillDate", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("ShippingBillDate", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Exporter:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBox("Exporter", "", new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="SearchExporter"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ExporterModal"></i></span>
                                        <input type="hidden" id="hdnExporterId" />
                                        @Html.ValidationMessage("Exporter", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Godown Name:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.GodownName, new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#godownModal"></i></span>
                                        @Html.HiddenFor(m => m.GodownId, new { @Id = "hdnGodownId" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>Cargo Description:</label>
                                    </div>
                                    <div class="col-md-10-5 col_cus_10">
                                        @Html.TextBox("CargoDescription", "", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessage("CargoDescription", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Commodity:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBox("Commodity", "", new { @class = "form-control input-sm", @readonly = true })
                                        <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#CommodityModal"></i></span>
                                        <input type="hidden" id="hdnCommodityId" />
                                        @Html.ValidationMessage("Commodity", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-2-5 col_cus_offset_1_5 col_cus_2 padding_rt">
                                        <label>Cargo Type:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.DropDownList("CargoType", new List<SelectListItem>
                                {

                                    new SelectListItem { Text="HAZ",Value="1"},
                                    new SelectListItem { Text="Non HAZ",Value="2"}
                                }, "----Select----", new { @class = "form-control input-sm dropdown", @onblur = "ClearErrMsg(this)" })
                                        @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Marks & No:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("MarksAndNo", "", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessage("MarksAndNo", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">

                                    </div>
                                    <div class="col-md-2-5">

                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>No of Units:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("NoOfUnits", "", new { @class = "form-control input-sm", @readonly = true })
                                        @Html.ValidationMessage("NoOfUnits", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Received Unit:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ActualQty", "", new { @class = "form-control input-sm", @maxlength = "9", onkeypress = "return AllowOnlyInteger(event)" })
                                        @Html.ValidationMessage("ActualQty", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Weight (Kg):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("Weight", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)", @readonly = true })
                                        @Html.ValidationMessage("Weight", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Received Weight (Kg):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("UnReservedWT", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("UnReservedWT", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top" style="display:none">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Un-Reserved CBM:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("CUM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("CUM", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Reserved CBM:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ReservedCBM", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("ReservedCBM", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Manual Carting Weight (Kg):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ManualWT", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("ManualWT", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Mechanical Carting Weight (Kg):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("MechanicalWT", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("MechanicalWT", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Reserved Space (SQM) :</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ReservedSpace", "0", new { @class = "form-control input-sm", @readonly = true })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Reserved Area (SQM):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("ReservedSQM", "0", new { @class = "form-control input-sm", @maxlength = "11", @onkeypress = "return AllowOnlyInteger(event)", onchange = "OnChangeArea()" })
                                        @Html.ValidationMessage("ReservedSQM", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Un-Reserved Area (SQM):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("SQM", "0", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)", onchange = "OnChangeArea()" })
                                        @Html.ValidationMessage("SQM", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                        <label>Total Area (SQM):</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBox("TotalSQM", "0", new { @class = "form-control input-sm", @readonly = "readonly" })
                                        @Html.ValidationMessage("TotalSQM", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>FOB Value:</label>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.TextBox("FOBValue", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal(event)" })
                                        @Html.ValidationMessage("FOBValue", new { @class = "Error_Msg" })
                                        @Html.Hidden("FOBValue1")
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt" style="display:none">
                                        <label>Gross Weight (Kg):</label>
                                    </div>
                                    <div class="col-md-2-5" style="display:none">
                                        @Html.TextBox("ActualWeight", "", new { @class = "form-control input-sm", maxlength = "11", @onkeypress = "return AllowOnlyDecimal()" })
                                        @Html.ValidationMessage("ActualWeight", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                            </div>
                            <div class="row Form_Space_bottom">
                                <div class="col-md-offset-4 col-md-2">
                                    <input type="button" id="BtnAddCartingReg" class="btn log_Btn_sm" value="Add" onclick="SaveRegDtl()" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="BtnResetCartingReg" class="btn log_Btn_sm" value="Reset" />
                                </div>
                            </div>
                            <div id="DivCartingRegTblErrMsg" class="logErrMsg" style="background-color:transparent"></div>
                            <div class="row Form_Space_bottom Form_Space_top">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered dataTable" id="tblShippingDetails" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:8%;">@Html.DisplayName("SL No")</th>
                                                <th>@Html.DisplayName("Shipping Bill No")</th>
                                                <th>@Html.DisplayName("Shipping Bill Date")</th>
                                                <th>@Html.DisplayName("Exporter")</th>
                                                <th class="text-center">@Html.DisplayName("Edit")</th>
                                                <th class="text-center">@Html.DisplayName("View")</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Save" id="BtnSaveCartingReg" onclick="SubmitForm()" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn log_Btn_sm" value="Cancel" onclick="LoadCartingRegPage()" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="btnShortCargoModal" onclick="CallModalShortCargo()" class="btn log_Btn_sm" value="Short Cargo Entry" />
                            </div>
                        </div>
                        <div id="DivCartingRegMsg" class="logSuccMsg" style="background-color:transparent"></div>
                        <div id="DivCartingRegErrMsg" class="logErrMsg Form_Space_bottom" style="background-color:transparent"></div>

            }
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal fade" id="ShippingLineModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Shipping Line Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ShippingLinebox" type="text" />
                <ul class="navList" id="lstShippingLine">
                    @{
                        if (ViewBag.ListOfShippingLine != null)
                        {
                            foreach (var item in ViewBag.ListOfShippingLine)
                            {
                                <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }

                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                        @*@{
                                foreach (var item in Model.lstGdnWiseLctn)
                                {
                                    @Html.Label(item.Row + " " + item.Column, new { @for = item.LocationId })
                                    @Html.CheckBox(@item.LocationId.ToString())
                                }
                            }*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="godownModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Godownbox" tabindex="30" type="text" />
                <ul tabindex="31"  class="navList" id="lstGodown"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button"  tabindex="500" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CHAModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of CHA Names</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="CHAbox" type="text" />
                <ul class="navList" id="lstCHA">
                    @{
                        if (ViewBag.CHAList != null)
                        {
                            foreach (var item in ViewBag.CHAList)
                            {
                                <li onclick="selectCHA(@item.CHAEximTraderId,'@item.CHAName')" id="@item.CHAEximTraderId">@item.CHAName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ExporterModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Exporter</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Exporterbox" type="text" />
                <ul class="navList" id="lstExporter">
                    @{
                        if (ViewBag.ExporterList != null)
                        {
                            foreach (var item in ViewBag.ExporterList)
                            {
                                <li onclick="selectExporter(@item.EXPEximTraderId,'@item.ExporterName')" id="@item.EXPEximTraderId">@item.ExporterName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CommodityModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Commodity</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="Commoditybox" type="text" />
                <ul class="navList" id="lstCommodity">
                    @{
                        if (ViewBag.CommodityList != null)
                        {
                            foreach (var item in ViewBag.CommodityList)
                            {
                                <li onclick="selectcommodity(@item.CommodityId,'@item.CommodityName')" id="@item.CommodityId">@item.CommodityName</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ShortCargoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:100%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Short Cargo Entry</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="Form_Input Form_Space_bottom">
                    <div class="col-md-4" style="padding-left:0;">
                        <label>Carting Date</label>
                        <div class="col-md-12 Date_Img col_cus_12" style="padding-left: 0;">
                            <input type="text" id="mdl_CartingDate" readonly class="form-control input-sm" onchange="ChangeResvSpace()" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Quantity</label>
                        <input type="text" id="mdl_Qty" class="col-xs-12" value="" onkeypress = "return AllowOnlyDecimal(event)"/>
                    </div>
                    <div class="col-md-4" style="padding-right:0;">
                        <label>Reserved Space (SQM)</label>
                        <input type="text" id="mdl_ReservedSpace" class="col-xs-12" value="" readonly/>
                    </div>
                    <div class="ClearFix"></div>
                </div>
                <div class="Form_Input Form_Space_bottom">
                    <div class="col-md-4" style="padding-left:0;">
                        <label>Manual Weight (Kg)</label>
                        <div class="col-md-12 Date_Img col_cus_12" style="padding-left: 0;">
                            <input type="text" id="mdl_ManualWT"  class="col-xs-12" value="" onkeypress = "return AllowOnlyDecimal(event)"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Mechanical Weight (Kg)</label>
                        <input type="text" id="mdl_MechanicalWT" class="col-xs-12" value="" onkeypress = "return AllowOnlyDecimal(event)"/>
                    </div>
                    <div class="col-md-4" style="padding-right:0;">
                        <label>Weight</label>
                        <input type="text" id="mdl_Wt" class="col-xs-12" value="" readonly="readonly"/>
                    </div>
                    <div class="ClearFix"></div>
                </div>
                
                <div class="Form_Input Form_Space_bottom">
                    <div class="col-md-4" style="padding-left:0;">
                        <label>SQM (Un-Reserved)</label>
                        <input type="text" id="mdl_SQM" class="col-xs-12" value="" onkeypress = "return AllowOnlyDecimal(event)"/>
                    </div>
                    <div class="col-md-4" style="padding-left:0;">
                        <label>SQM (Reserved)</label>
                        <input type="text" id="mdl_ReservedSQM" class="col-xs-12" value="" onkeypress = "return AllowOnlyDecimal(event)"/>
                    </div>
                    <div class="col-md-4" style="padding-left:0;">
                        <label>Total SQM</label>
                        <input type="text" id="mdl_TotalSQM" class="col-xs-12" value=""  readonly="readonly" />
                    </div>                    
                    <div class="ClearFix"></div>
                </div>
                <div class="Form_Input Form_Space_bottom">                   
                    <div class="col-md-4" style="padding-left:0;">
                        <label>FOB</label>
                        <input type="text" id="mdl_FOB" class="col-xs-12" value="" />
                    </div>
                    <div class="col-md-4" style="padding-left:0;">
                        <label>Godown Name</label>
                        @Html.TextBox("modalGodownName","", new { @class = "form-control input-sm", @readonly = true, onkeydown = "PopupActivate('godownModal');" })
                        <span class="search" id="SpanGodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#godownModal"></i></span>
                        @Html.HiddenFor(m => m.GodownId, new { @Id = "modalGodownId" })
                        @Html.ValidationMessage("modalGodownName", "", new { @class = "Error_Msg" })
                    </div>
                    <div class="col-md-4" style="padding-right:0;">
                        <input type="button" id="BtnSaveShortCargo" class="btn log_Btn_sm" value="Save" style="margin-top: 27px; float: right;" />
                    </div>
                    <div class="ClearFix"></div>
                </div>
                @{
                    if (Model.lstShortCargoDetails != null)
                    {
                        <table id="tblShortCargo" class="table table-bordered table-striped dataTable" style="margin-top:10px !important;">
                            <thead>
                                <tr>
                                    <th>Carting Date</th>
                                    <th>Qty</th>
                                    <th>Weight</th>                                   
                                    <th>SQM (Un-Reserved)</th>
                                    <th>SQM (Reserved)</th>
                                    <th>Total SQM</th>
                                    <th>FOB</th>
                                    <th>Godown Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.lstShortCargoDetails)
                                    {
                                        <tr>
                                            <td>@item.CartingDate</td>
                                            <td>@item.Qty</td>
                                            <td>@item.Weight</td>                                           
                                            <td>@item.SQM</td>
                                            <td>@item.ReservedSQM</td>
                                            <td>@item.TotalSQM</td>
                                            <td>@item.FOB</td>
                                            <td>@item.modalGodownName</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                                    }
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-9 col-md-3">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="LocationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Godown Wise Location</h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row">
                    <div class="form-group Form_Input" id="DivLocationDet">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="godownModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
             Modal content
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Godown</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Godownbox" type="text" tabindex="31" />
                    <ul tabindex="30" class="navList" id="lstGodown"></ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button id="btngodown" type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@Scripts.Render("~/bundles/jqueryval")
<script>
    var ArrayOfCartingRegDtl = [];
    var LocationDetails = [];
    //$('#SpanGodownSearch').css("display", "none");
    $(function () {
        //$('#ReservedSpace').attr("disabled", true);
        //$('#GeneralSpace').attr("disabled", true);
        //debugger;
        $('#BtnAddCartingReg').prop("disabled",true);
        ArrayOfCartingRegDtl= @Html.Raw(Json.Encode(Model.lstRegisterDtl));
        $('#hdnExporterId').val(ArrayOfCartingRegDtl[0].ExporterId);
        $('#modalGodownName').val(ArrayOfCartingRegDtl[0].GodownName);
        $('#modalGodownId').val(ArrayOfCartingRegDtl[0].GodownId);
        GenerateCartingRegTable();
        GodownBinding();
        LocationDet();
        if('@Model.IsShortCargo'=='1'){
            $('#ActualQty,#ActualWeight,#SQM,#ReservedSQM,#TotalSQM,#FOBValue').prop('readonly',true);
            $('#SpanGodownSearch').css('display', 'none');
            $('#SearchExporter').css('display', 'none');
            $('#LocationSearch').css('display', 'none');
            $('#RegisterDate').parent().find('img').css('display', 'none');
        }
        else{
            $('#ActualQty,#ActualWeight,#SQM,#ReservedSQM,#TotalSQM,#FOBValue').prop('readonly',false);
            $('#SpanGodownSearch').css('display', '');
            $('#SearchExporter').css('display', '');
            $('#LocationSearch').css('display', '');
            $('#RegisterDate').parent().find('img').css('display', '');
        }
    });
    $('#RegisterDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='RegisterDate']").html('');
        }
    });
    $('#ShippingBillDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='RegisterDate']").html('');
        }
    });

    $('#mdl_CartingDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {

        }
    });


    $("#mdl_CartingDate").datepicker("setDate", new Date());

    function CallModalShortCargo()
    {
     
        $("#ShortCargoModal").modal("show");
        $('#mdl_Qty').focus();
    }
    //*********************************************************************
    $('#ActualQty').on('blur', function () {
        if ($('#NoOfUnits').val() != '' && $('#Weight').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#NoOfUnits').val();
            var w = $('#Weight').val();
            var q = $('#ActualQty').val();

            $('#ActualWeight').val(((Number(w) /Number(n)) * Numver(q)).toFixed(2));
        }


        if ($('#ActualQty1').val() != '' && $('#FOBValue1').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#ActualQty1').val();
            var f = $('#FOBValue1').val();
            var q = $('#ActualQty').val();

            $('#FOBValue').val(((Number(f) /Number(n)) * Number(q)).toFixed(2));
        }

    })

    //*********************************************************************
   
    $('#ShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstShippingLine > li').show();
        else {
            $('#lstShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });



    $('#lstShippingLine > li').on("click", function () {
        $('#ShippingLineName').val($(this).text());
        $('#ShippingLineId').val($(this).attr('id'));
        //debugger;
        $("#ShippingLineModal").modal("hide");
    });

    function getSpace() {
        //debugger
        var GodownId = 0;
        var ExporterId = 0;
        var RegisterDate = '';
        GodownId = $('#hdnGodownId').val();
        ExporterId = $('#hdnExporterId').val();
        RegisterDate = $('#RegisterDate').val();

        $.ajax({

            url: '/Export/DSR_CWCExport/GetAvailableReservedSpace',
            type: 'GET',
            data: { GodownId: GodownId, ExporterId: ExporterId, RegisterDate:RegisterDate },
            dataType: 'JSON',
            success: function (data) {
                //console.log(data);
                //debugger;
                //$('#ReservedSpace').val(data.Data.ReservedSpace);

                var ResSpace=data.Data.ReservedSpace;
                var eResSpace=0;
                var fResSpace=0;
                if($('#ReservedSQM').val()!='')
                {
                    eResSpace=$('#ReservedSQM').val();
                }
                fResSpace=(Number(ResSpace)+Number(eResSpace));
                $('#ReservedSpace').val(fResSpace);
            }
        });

    }
    function OnChangeGetSpace() {
        //debugger
        var GodownId = 0;
        var ExporterId = 0;
        var RegisterDate = '';
        GodownId = $('#hdnGodownId').val();
        ExporterId = $('#hdnExporterId').val();
        RegisterDate = $('#RegisterDate').val();

        $.ajax({

            url: '/Export/DSR_CWCExport/GetAvailableReservedSpace',
            type: 'GET',
            data: { GodownId: GodownId, ExporterId: ExporterId, RegisterDate:RegisterDate },
            dataType: 'JSON',
            success: function (data) {
                //console.log(data);               
                var ResSpace=data.Data.ReservedSpace;
               
                $('#ReservedSpace').val(ResSpace);
            }
        });

    }
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#CartingRegList > li').show();
        } else {
            $('#CartingRegList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Godownbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstGodown > li').show();
        } else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#CHAbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCHA > li').show();
        } else {
            $('#lstCHA > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('#Exporterbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstExporter > li').show();
        } else {
            $('#lstExporter > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#Commoditybox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstCommodity > li').show();
        } else {
            $('#lstCommodity > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });


    function GodownBinding() {
        //debugger;
        if ($('#hdnGodownList').val() != '') {
            var GodownJson = JSON.parse($('#hdnGodownList').val());
            var html = '';
            tabvalue = 32;
          
            $.each(GodownJson, function (i, item) {
                html += '<li tabindex=' + tabvalue + ' id="' + item.GodownId + '" onkeypress="selectGodown(' + item.GodownId + ');" onclick="selectGodown(' + item.GodownId + ');">' + item.GodownName + '</li>';
                tabvalue++;
            });
            $('#lstGodown').html(html);

        }
    }
    function selectGodown(gid) {
        debugger;
        $('#Location').val('');
        $('#modalGodownId').val(gid);
        var GodownJson = JSON.parse($('#hdnGodownList').val());
        //console.log(GodownJson);
        $("#modalGodownName").val($.grep(GodownJson, function (item) { return item.GodownId == gid; })[0].GodownName);
        $.ajax({
            url: '/Export/DSR_CWCExport/GetLocationDetailsByGodownId',
            type: 'GET',
            data: { GodownId: gid },
            dataType: 'JSON',
            success: function (data) {
                LocationDetails=[];
                LocationDetails = data;
                //console.log(data);
                OnChangeLocationDet(LocationDetails);
            }
        });
        if ($('#Exporter').val() != '')
        {
            OnChangeGetSpace();
        }
        else {
            $('#ReservedSpace').val(0);
        }

        $('#godownModal').modal('hide');
    }
    function selectCHA(CHAId,CHAName){
        $('#CHAName').val(CHAName);
        $('#hdnCHAId').val(CHAId);
        $('#CHAModal').modal('hide');
    }

    function selectExporter(eid,ename){
        $('#Exporter').val(ename);
        $('#hdnExporterId').val(eid);
        $('#ExporterModal').modal('hide');
        OnChangeGetSpace();
    }
    function selectcommodity(cid,cname){
        $('#Commodity').val(cname);
        $('#hdnCommodityId').val(cid);
        $('#CommodityModal').modal('hide');
    }

    function LoadCartingRegPage(){
        $('#DivBody').load( '/Export/DSR_CWCExport/CreateCartingRegister');
    }
    function RegisterOnSuccess(data)
    {
        $('#DivCartingRegErrMsg').html('');
        if(data.Status==2||data.Status==1)
        {
            $('#DivCartingRegMsg').html(data.Message);
            LoadCartingRegPage();
        }
        else
        {
            $('#DivCartingRegErrMsg').html(data.Message);
            //setTimeout(function () { $('#DivCartingRegErrMsg').html(''); }, 5000);
        }
    }
    function RegisterOnFailure() {

    }
    /*
    $('#BtnSaveCartingReg').on("click", function () {
        debugger;
        if (($('#DivShippingDetails #CUM').val() != "" || $('#SQM').val() != "" || $('#ActualQty').val() != "" || $('#ActualWeight').val()!="") && ($('#DivShippingDetails').find('input:text').prop("disabled") == false)) {
            $('#DivCartingRegErrMsg').html('Please Save The Details Before Submitting');
            return false;
        }
        else
        {
            $('#XMLData').val(JSON.stringify(ArrayOfCartingRegDtl));
        }
    });
    */
    $('#BtnResetCartingReg').on("click", function () {
        //debugger;
        $('#DivAddCartingRegister').find('input:text,textarea').val('');
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="Exporter"]').html('<span><span>');
        $('[data-valmsg-for="Commodity"]').html('<span><span>');
        $('[data-valmsg-for="CargoType"]').html('<span><span>');
        $('[data-valmsg-for="MarksAndNo"]').html('<span><span>');
        $('[data-valmsg-for="NoOfUnits"]').html('<span><span>');
        $('[data-valmsg-for="Weight"]').html('<span><span>');


        $('[data-valmsg-for="CUM"]').html('<span><span>');
        $('[data-valmsg-for="ActualQty"]').html('<span></span>');
        $('[data-valmsg-for="SQM"]').html('<span></span>');

        $('[data-valmsg-for="ReservedSQM"]').html('<span></span>');
        $('[data-valmsg-for="TotalSQM"]').html('<span></span>');


        $('[data-valmsg-for="UnReservedWT"]').html('<span></span>');
        $('[data-valmsg-for="ReservedCBM"]').html('<span></span>');

        $('[data-valmsg-for="ManualWT"]').html('<span></span>');
        $('[data-valmsg-for="MechanicalWT"]').html('<span></span>');


        $('[data-valmsg-for="FOBValue"]').html('<span></span>');

        $('[data-valmsg-for="ActualWeight"]').html('<span></span>');
        $('[data-valmsg-for="Location"]').html('<span></span>');
    });


    function ResetCartingRegister() {
        //debugger;
        var RegisterDate = $('#DivEditCartingRegister #RegisterDate').val();
        $('#DivEditCartingRegister').find('input:text,textarea').val('');
        $('#RegisterDate').val(RegisterDate);
        $('#tblShippingDetails').hide();
        $('#tblShippingDetails >tbody').html('');
        $('#DivCartingRegMsg').html('');
        $('#DivCartingRegErrMsg').html('');
        $('#DivCartingRegTblErrMsg').html('');
        $('#SpanGodownSearch').css('display', '');
        $('#SearchExporter').css('display', '');
        $('#LocationSearch').css('display', '');
        $('#RegisterDate').parent().find('img').css('display', '');
    }
    function GenerateCartingRegTable() {
        //debugger;
        $('#tblShippingDetails').hide();
        var html = '';
        $.each(ArrayOfCartingRegDtl, function (i, item) {
            //debugger;
            html += '<tr><td class="text-center">' + (i + 1) + '</td><td>' + item.ShippingBillNo + '</td><td>' + item.ShippingDate + '</td><td>' + item.Exporter + '</td><td style="text-align:center"><a href="#" onclick="EditCartingReg(' + i + ')"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td><td style="text-align:center"><a href="#" onclick="ViewCartingReg(' + i + ')"><i class="fa fa-search-plus" aria-hidden="true"></i></a></td></tr>';
        });
        $('#tblShippingDetails>tbody').html(html);
        $('#tblShippingDetails').show();
    }
    function SaveRegDtl() {

        var Validation = true;
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');
        $('[data-valmsg-for="Exporter"]').html('<span><span>');
        $('[data-valmsg-for="Commodity"]').html('<span><span>');
        $('[data-valmsg-for="CargoType"]').html('<span><span>');
        $('[data-valmsg-for="MarksAndNo"]').html('<span><span>');
        $('[data-valmsg-for="NoOfUnits"]').html('<span><span>');
        $('[data-valmsg-for="Weight"]').html('<span><span>');


        $('[data-valmsg-for="CUM"]').html('<span><span>');
        $('[data-valmsg-for="ActualQty"]').html('<span></span>');
        $('[data-valmsg-for="SQM"]').html('<span></span>');

        $('[data-valmsg-for="ReservedSQM"]').html('<span></span>');
        $('[data-valmsg-for="TotalSQM"]').html('<span></span>');

        $('[data-valmsg-for="UnReservedWT"]').html('<span></span>');
        $('[data-valmsg-for="ReservedCBM"]').html('<span></span>');

        $('[data-valmsg-for="ManualWT"]').html('<span></span>');
        $('[data-valmsg-for="MechanicalWT"]').html('<span></span>');


        $('[data-valmsg-for="FOBValue"]').html('<span></span>');

        $('[data-valmsg-for="ActualWeight"]').html('<span></span>');
        $('[data-valmsg-for="Location"]').html('<span></span>');

        if($('#ShippingBillNo').val() == "" || $('#ShippingBillNo').val() == null){
            $('[data-valmsg-for="ShippingBillNo"]').html('<span>Shipping Bill No Required.</span>');
            Validation = false;
        }
        if($('#ShippingBillDate').val() == "" || $('#ShippingBillDate').val() == null){
            $('[data-valmsg-for="ShippingBillDate"]').html('<span>Shipping Bill Date Required.</span>');
            Validation = false;
        }

        if($('#Exporter').val() == "" || $('#Exporter').val() == null || $('#hdnExporterId').val()=="0" || $('#hdnExporterId').val()=="" || $('#hdnExporterId').val()==null){
            $('[data-valmsg-for="Exporter"]').html('<span>Exporter Required.</span>');
            Validation = false;
        }

        if($('#Commodity').val() == "" || $('#Commodity').val() == null || $('#hdnCommodityId').val()=="0" || $('#hdnCommodityId').val()=="" || $('#hdnCommodityId').val()==null){
            $('[data-valmsg-for="Commodity"]').html('<span>Commodity Required.</span>');
            Validation = false;
        }

        if($('#CargoType').val() == "" || $('#CargoType').val() == null){
            $('[data-valmsg-for="CargoType"]').html('<span>Cargo Type Required.</span>');
            Validation = false;
        }

        /*if($('#MarksAndNo').val() == "" || $('#MarksAndNo').val() == null){
            $('[data-valmsg-for="MarksAndNo"]').html('<span>Marks And No Required.</span>');
            Validation = false;
        }*/
        if((!DecimalValidation("NoOfUnits") && $('#NoOfUnits').val() != "")|| $('#NoOfUnits').val()==""){
            $('[data-valmsg-for="NoOfUnits"]').html('<span>NoOfUnits Required and Must Be A Number.</span>');
            Validation = false;
        }
        if((!DecimalValidation("Weight") && $('#Weight').val() != "")|| $('#Weight').val()==""){
            $('[data-valmsg-for="Weight"]').html('<span>Weight Required and Must Be A Decimal.</span>');
            Validation = false;
        }

        if ((!DecimalValidation("CUM") & $('#CUM').val() != "")||$('#CUM').val()=="") {
            $('[data-valmsg-for="CUM"]').html('<span>CUM Required and Must Be A Decimal</span>');
            Validation = false;
        }

        if ((!DecimalValidation("ActualQty") & $('#ActualQty').val() != "")||$('#ActualQty').val()=="") {
            $('[data-valmsg-for="ActualQty"]').html('<span>ActualQty Required and Must Be A Number.</span>');
            Validation = false;
        }
        //if (((!DecimalValidation("SQM") & $('#SQM').val() != "") || $('#SQM').val() == "") && $('#SpaceType').val()=='GeneralSpace') {
        if (((!DecimalValidation("SQM") & $('#SQM').val() != "") || $('#SQM').val() == "")) {
            $('[data-valmsg-for="SQM"]').html('<span>SQM Required and Must Be A Decimal.</span>');
            Validation = false;
        }
        if ((!DecimalValidationGW("ActualWeight") & $('#ActualWeight') != "") || $('#ActualWeight') == "") {
            $('[data-valmsg-for="ActualWeight"]').html('<span>Actual Weight Required and Must Be A Decimal.</span>');
            Validation = false;
        }

        if ($('#UnReservedWT').val() <= 0) {
            alert('Received Weight can not 0');
            return false;
        }

        if ($('#ManualWT').val() <= 0 && $('#MechanicalWT').val() <= 0) {
            alert('Mannual and Mechanical Weight can not 0');
            return false;
        }


        var LctnDet = $('#DivLocationDet').find('input[type="checkbox"]:checked');
        if (LctnDet != null && LctnDet != undefined) {
            var Det = '';
            $(LctnDet).each(function () {
                if (Det == '')
                    Det += $(this).prop('id').substring(3);
                else
                    Det += ',' + $(this).prop('id').substring(3);
            });
            $('#LocationDetails').val(Det);
        }

        if (!DecimalValidationGW("FOBValue") & $('#FOBValue') != "") {
            $('[data-valmsg-for="FOBValue"]').html('<span>FOBValue Required and Must Be A Decimal.</span>');
            Validation = false;
        }
        if ( $('#LocationDetails').val() == "") {
            $('[data-valmsg-for="Location"]').html('<span>LocationDetails Required.</span>');
            Validation = false;
        }

        if (Validation == true) {
            var RegDtl = {
                "ShippingBillNo": $('#ShippingBillNo').val(),
                "ShippingDate": $('#ShippingBillDate').val(),
                "Exporter": $('#Exporter').val(),
                "CargoDescription": $('#CargoDescription').val(),
                "CommodityName": $('#Commodity').val(),
                "CargoType": $('#CargoType').val(),
                "MarksAndNo": $('#MarksAndNo').val(),
                "NoOfUnits": $('#NoOfUnits').val(),
                "Weight": $('#Weight').val(),
                "CUM": $('#CUM').val() == "" ? 0 : $('#CUM').val(),
                "ActualQty": $('#ActualQty').val() == "" ? 0 : $('#ActualQty').val(),
                "SQM": $('#SQM').val() == "" ? 0 : $('#SQM').val(),
                "ReservedSQM": $('#ReservedSQM').val() == "" ? 0 : $('#ReservedSQM').val(),
                "TotalSQM": $('#TotalSQM').val() == "" ? 0 : $('#TotalSQM').val(),


                "UnReservedWT": $('#UnReservedWT').val() == "" ? 0 : $('#UnReservedWT').val(),
                "ReservedCBM": $('#ReservedCBM').val() == "" ? 0 : $('#ReservedCBM').val(),

                "ManualWT": $('#ManualWT').val() == "" ? 0 : $('#ManualWT').val(),
                "MechanicalWT": $('#MechanicalWT').val() == "" ? 0 : $('#MechanicalWT').val(),

                "FoBValue": $('#FOBValue').val(),
                "ActualWeight": $('#ActualWeight').val() == "" ? 0 : $('#ActualWeight').val(),
                "CartingAppDtlId": $('#CartingAppDtlId').val(),
                "LocationDetails": $('#LocationDetails').val(),
                "Location": $('#Location').val(),
                "ExporterId": $('#hdnExporterId').val(),
                "CommodityId": $('#hdnCommodityId').val(),
                "CartingRegisterDtlId": $('#CartingRegisterDtlId').val(),
                "FoBValue1": $('#FOBValue1').val(),
                "GodownId":  $('#hdnGodownId').val(),
                "GodownName":$('#GodownName').val()
            }
            ArrayOfCartingRegDtl.push(RegDtl);
            ResetRegDtl();
            GenerateCartingRegTable();
            $('#BtnAddCartingReg').prop("disabled",true);
            $('#btnShortCargoModal').prop('disabled',false);
        }
    }
    function EditCartingReg(Index) {
        //debugger;
        if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true)
        {
            /*If there is any existing data earlier that needs to be cleared and to show search magnifier*/
            $('#LocationSearch').css("display", "block");
            $('#LocationDetails,#LocationDetails').val('');
            $('#DivLocationDet').find('input[type="checkbox"]:checked').prop("checked",false);
            $('#btnShortCargoModal').prop('disabled',true);
            $('#BtnAddCartingReg').prop("disabled",false);
            $('#ShippingBillDate').parent().find('img').css('display', 'none');

            /**********************************************************************************************/
            $('#DivShippingDetails').find('input').prop("disabled", false);
            $('#ShippingBillNo').val(ArrayOfCartingRegDtl[Index].ShippingBillNo);
            $('#ShippingBillDate').val(ArrayOfCartingRegDtl[Index].ShippingDate);
            $('#Exporter').val(ArrayOfCartingRegDtl[Index].Exporter);
            $('#CargoDescription').val(ArrayOfCartingRegDtl[Index].CargoDescription);
            $('#Commodity').val(ArrayOfCartingRegDtl[Index].CommodityName);
            $('#CargoType').val(ArrayOfCartingRegDtl[Index].CargoType);
            $('#MarksAndNo').val(ArrayOfCartingRegDtl[Index].MarksAndNo);
            $('#NoOfUnits').val(ArrayOfCartingRegDtl[Index].NoOfUnits);
            $('#Weight').val(ArrayOfCartingRegDtl[Index].Weight);
            $('#FOBValue').val(ArrayOfCartingRegDtl[Index].FoBValue);
            $('#FOBValue1').val(ArrayOfCartingRegDtl[Index].FoBValue);
            $('#CartingAppDtlId').val(ArrayOfCartingRegDtl[Index].CartingAppDtlId);
            $('#CUM').val(ArrayOfCartingRegDtl[Index].CUM);
            $('#SQM').val(ArrayOfCartingRegDtl[Index].SQM);
            $('#ReservedSQM').val(ArrayOfCartingRegDtl[Index].ReservedSQM);
            $('#TotalSQM').val(ArrayOfCartingRegDtl[Index].TotalSQM);

            $('#UnReservedWT').val(ArrayOfCartingRegDtl[Index].UnReservedWT);
            $('#ReservedCBM').val(ArrayOfCartingRegDtl[Index].ReservedCBM);

            $('#ManualWT').val(ArrayOfCartingRegDtl[Index].ManualWT);
            $('#MechanicalWT').val(ArrayOfCartingRegDtl[Index].MechanicalWT);

            $('#ActualWeight').val(ArrayOfCartingRegDtl[Index].ActualWeight);
            $('#ActualQty').val(ArrayOfCartingRegDtl[Index].ActualQty);
            $('#ActualQty1').val(ArrayOfCartingRegDtl[Index].ActualQty);
            $('#LocationDetails').val(ArrayOfCartingRegDtl[Index].LocationDetails);
            if (ArrayOfCartingRegDtl[Index].LocationDetails != null && ArrayOfCartingRegDtl[Index].LocationDetails != undefined) {
                var split = ArrayOfCartingRegDtl[Index].LocationDetails.split(',');
                $(split).each(function (j, data) {
                    // $('#' + data).prop('disabled', false);
                    $('#Loc' + data).prop('checked', true);
                });
            }
            $('#Location').val(ArrayOfCartingRegDtl[Index].Location);
            $('#hdnExporterId').val(ArrayOfCartingRegDtl[Index].ExporterId);
            $('#hdnCommodityId').val(ArrayOfCartingRegDtl[Index].CommodityId);
            $('#CartingRegisterDtlId').val(ArrayOfCartingRegDtl[Index].CartingRegisterDtlId);

            $('#hdnGodownId').val(ArrayOfCartingRegDtl[Index].GodownId);
            $('#GodownName').val(ArrayOfCartingRegDtl[Index].GodownName);


            ArrayOfCartingRegDtl.splice(Index, 1);
            if ($('#GodownName').val() != '')
            {
                getSpace();
            }
            else {
                $('#ReservedSpace').val(0);
            }

            GenerateCartingRegTable();
            if('@Model.IsShortCargo'=='1')
                $('#ActualQty,#ActualWeight,#SQM,#ReservedSQM,#TotalSQM,#FOBValue,#ManualWT,#MechanicalWT,#UnReservedWT').prop('readonly',true);
            else
                $('#ActualQty,#ActualWeight,#SQM,#ReservedSQM,#TotalSQM,#FOBValue,#ManualWT,#MechanicalWT,#UnReservedWT').prop('readonly',false);
        }
        else {
            $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        }

    }
    function ViewCartingReg(Index) {

        if ($('#DivShippingDetails #Exporter').val() == '' || $('#DivShippingDetails #Exporter').prop("disabled") == true) {
            $('#DivShippingDetails').find('input').prop("disabled", true);
            $('#ShippingBillNo').val(ArrayOfCartingRegDtl[Index].ShippingBillNo);
            $('#ShippingBillDate').val(ArrayOfCartingRegDtl[Index].ShippingDate);
            $('#Exporter').val(ArrayOfCartingRegDtl[Index].Exporter);
            $('#CargoDescription').val(ArrayOfCartingRegDtl[Index].CargoDescription);
            $('#Commodity').val(ArrayOfCartingRegDtl[Index].CommodityName);
            $('#CargoType').val(ArrayOfCartingRegDtl[Index].CargoType);
            $('#MarksAndNo').val(ArrayOfCartingRegDtl[Index].MarksAndNo);
            $('#NoOfUnits').val(ArrayOfCartingRegDtl[Index].NoOfUnits);
            $('#Weight').val(ArrayOfCartingRegDtl[Index].Weight);
            $('#FOBValue').val(ArrayOfCartingRegDtl[Index].FoBValue);
            $('#FOBValue1').val(ArrayOfCartingRegDtl[Index].FoBValue1);
            $('#CartingAppDtlId').val(ArrayOfCartingRegDtl[Index].CartingAppDtlId);
            $('#CUM').val(ArrayOfCartingRegDtl[Index].CUM);
            $('#SQM').val(ArrayOfCartingRegDtl[Index].SQM);
            $('#ReservedSQM').val(ArrayOfCartingRegDtl[Index].ReservedSQM);
            $('#TotalSQM').val(ArrayOfCartingRegDtl[Index].TotalSQM);

            $('#UnReservedWT').val(ArrayOfCartingRegDtl[Index].UnReservedWT);
            $('#ReservedCBM').val(ArrayOfCartingRegDtl[Index].ReservedCBM);

            $('#ManualWT').val(ArrayOfCartingRegDtl[Index].ManualWT);
            $('#MechanicalWT').val(ArrayOfCartingRegDtl[Index].MechanicalWT);


            $('#ActualWeight').val(ArrayOfCartingRegDtl[Index].ActualWeight);
            $('#ActualQty').val(ArrayOfCartingRegDtl[Index].ActualQty);
            $('#Location').val(ArrayOfCartingRegDtl[Index].Location);

            $('#hdnExporterId').val(ArrayOfCartingRegDtl[Index].ExporterId);
            $('#hdnCommodityId').val(ArrayOfCartingRegDtl[Index].CommodityId);
            $('#CartingRegisterDtlId').val(ArrayOfCartingRegDtl[Index].CartingRegisterDtlId);
            $('#hdnGodownId').val(ArrayOfCartingRegDtl[Index].GodownId);
            $('#GodownName').val(ArrayOfCartingRegDtl[Index].GodownName);

        }
        else {
            $('#DivCartingRegTblErrMsg').html('Please Add The Records');
        }

    }
    function ResetRegDtl() {
        $('#DivShippingDetails').find('input:text').val('');
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            //$(this).prop("disabled", true);
            $(this).prop("checked", false);
        });
    }
    function DecimalValidation(Id) {
        //debugger
        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,15}\.\d{0,2}$/) && !Value.match(/^[\d]{1,15}$/))
        {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }
    function DecimalValidationGW(Id) {
        var State = true;
        // var Id = obj.id;
        var Value = $('#' + Id).val();
        if (!Value.match(/^[\d]{1,15}\.\d{0,2}$/) && !Value.match(/^[\d]{1,15}$/))
        {
            //$('[data-valmsg-for="' + Id + '"]').html('<span>' + Id + ' Must Be A Decimal Up To 2 Places And Less Then 99999999.99</span>')
            State = false;
        }
        return State;
    }

    function OnChangeArea() {
        //alert('00');
        //debugger;
        var SQM = $('#SQM').val() == "" ? 0 : $('#SQM').val();
        var ReservedSQM = $('#ReservedSQM').val() == "" ? 0 : $('#ReservedSQM').val();
        var ReservedSpace = $('#ReservedSpace').val() == "" ? 0 : $('#ReservedSpace').val();
        //if (Number(ReservedSQM) > Number(ReservedSpace)) {
        if (Number(ReservedSQM) + Number(SQM)<=0) {
            //alert('Reserved SQM can not greater than Reserved Space');
            alert('Summation of Reserved SQM and SQM Must be Grater Than Zero');
            $('#ReservedSQM').val(0);
            var TotalSQM = parseFloat(SQM) + parseFloat(0);
        }
        else {
            var TotalSQM = parseFloat(SQM) + parseFloat(ReservedSQM);
        }
        $('#TotalSQM').val(TotalSQM);
       
    }



    $('#mdl_ManualWT').on('change', function() {
        var ManualWT = $('#mdl_ManualWT').val() == "" ? 0 : $('#mdl_ManualWT').val();
        var MechanicalWT = $('#mdl_MechanicalWT').val() == "" ? 0 : $('#mdl_MechanicalWT').val();
        var TotalWT = parseFloat(ManualWT) + parseFloat(MechanicalWT);
        $('#mdl_MechanicalWT').val(MechanicalWT);
        $('#mdl_Wt').val(TotalWT);

    })

    $('#mdl_MechanicalWT').on('change', function() {
        var ManualWT = $('#mdl_ManualWT').val() == "" ? 0 : $('#mdl_ManualWT').val();
        var MechanicalWT = $('#mdl_MechanicalWT').val() == "" ? 0 : $('#mdl_MechanicalWT').val();
        var TotalWT = parseFloat(ManualWT) + parseFloat(MechanicalWT);
        $('#mdl_ManualWT').val(ManualWT);
        $('#mdl_Wt').val(TotalWT);


    })


    $('#godownModal').on('shown.bs.modal', function () {
        $('#Godownbox').focus();

    });
    $('#mdl_SQM').on('change', function() {
        var SQM = $('#mdl_SQM').val() == "" ? 0 : $('#mdl_SQM').val();
        var ReservedSQM = $('#mdl_ReservedSQM').val() == "" ? 0 : $('#mdl_ReservedSQM').val();
        var TotalSQM = parseFloat(SQM) + parseFloat(ReservedSQM);
        $('#mdl_ReservedSQM').val(ReservedSQM);
        $('#mdl_TotalSQM').val(TotalSQM);

    })

    $('#mdl_ReservedSQM').on('change', function() {
        var SQM = $('#mdl_SQM').val() == "" ? 0 : $('#mdl_SQM').val();
        var ReservedSQM = $('#mdl_ReservedSQM').val() == "" ? 0 : $('#mdl_ReservedSQM').val();
        //var TotalSQM = parseFloat(SQM) + parseFloat(ReservedSQM);
        //$('#mdl_SQM').val(SQM);
       // $('#mdl_TotalSQM').val(TotalSQM);


        var ReservedSpace = $('#mdl_ReservedSpace').val() == "" ? 0 : $('#mdl_ReservedSpace').val();

        if (Number(ReservedSQM) > Number(ReservedSpace)) {
            alert('Reserved SQM can not greater than Reserved Space');
            $('#mdl_ReservedSQM').val(0);
            var TotalSQM = parseFloat(SQM) + parseFloat(0);
        }
        else {
            var TotalSQM = parseFloat(SQM) + parseFloat(ReservedSQM);
        }

        $('#mdl_TotalSQM').val(TotalSQM);


    })

    function AllowOnlyInteger(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function AllowOnlyDecimal(evt) {
        var CharCode;
        if (window.event) {
            CharCode = window.event.keyCode;
        }
        else {
            CharCode = evt.which;
        }
        if ((CharCode > 47 & CharCode < 58) || (CharCode == 46) || CharCode == 8) {
            return true;
        }
        else {
            evt.preventDefault;
            return false;
        }
    }
    function LocationDet() {
        var htm = '';
        LocationDetails=@Html.Raw(Json.Encode(Model.lstGdnWiseLctn));
        $.each(LocationDetails, function (i, data) {

            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange(this)" id="Loc' + data.LocationId + '"/><label for="Loc' + data.LocationId + '">' + data.LocationName +  '<i class="square" style="margin-left:10px;"></i></label></div></div>';
        });
        $('#DivLocationDet').html(htm);
    }
    function OnChangeLocationDet(dtl) {
        var htm = '';
        LocationDetails=dtl;
        $.each(LocationDetails, function (i, data) {

            htm += '<div class="col-md-4"><div class="boolean-container"><input type="checkbox" onclick="CheckBoxChange(this)" id="Loc' + data.LocationId + '"/><label for="Loc' + data.LocationId + '">' + data.LocationName +  '<i class="square" style="margin-left:10px;"></i></label></div></div>';
        });
        $('#DivLocationDet').html(htm);
    }
    function CheckBoxChange(item)
    {
        /* If existing Godown locations are changed then those Ids added in Clear Location */
        var Location=$('#ClearLocation').val();
        if($('#'+item.id).prop("checked")==false)
        {
            if(Location==''||Location==null||Location==undefined)
                Location=item.id;
            else
                Location+=','+item.id;
            $('#ClearLocation').val(Location);
        }
        /**********************************************
         Clear Location contains the Ids which contains
        the data which is earlier occupied but now it is unoccupied
        and  needs to be cleared in Godown Wise Location
        ***********************************************/

        var Locationtext = '';
        $('#DivLocationDet').find('input[type="checkbox"]:checked').each(function () {
            if (Locationtext == '')
                Locationtext=$('label[for="' + $(this).prop('id') + '"]').text();
            else {
                Locationtext+=',' + $('label[for="' + $(this).prop('id') + '"]').text();
            }
        });
        $('#Location').val(Locationtext);
    }


    function SubmitForm(){

        var Validation = true;
        $('#DivCartingRegTblErrMsg').html('');
        $('#DivCartingRegErrMsg').html('');

        $('[data-valmsg-for="ShippingBillNo"]').html('<span><span>');
        $('[data-valmsg-for="ShippingBillDate"]').html('<span><span>');

        if ($('#CartingAppId').val() == '') {
            $('#CartingAppId').val(0);
        }
        if ($('#CartingAppDtlId').val() == '') {
            $('#CartingAppDtlId').val(0);



        }
        if($('#ApplicationNo').val()==''){
            $('#ApplicationNo').val('0')
        }
        if($('#ApplicationDate').val()==''){
            $('#ApplicationDate').val('@DateTime.Now.ToString("dd/MM/yyyy")')
        }

        if (($('#DivShippingDetails #CUM').val() != "" || $('#SQM').val() != "" || $('#ActualQty').val() != "" || $('#ActualWeight').val() != "") && ($('#DivShippingDetails').find('input:text').prop("disabled") == false)) {
            $('#DivCartingRegErrMsg').html('Please Save The Details Before Submitting');
            return false;
        }
        else {
            $.each(ArrayOfCartingRegDtl, function (i, item) {
                if (item.CartingAppDtlId == '') {
                    item.CartingAppDtlId = 0;
                }
            });
            $('#XMLData').val(JSON.stringify(ArrayOfCartingRegDtl));
        }

        var conf = confirm("Do you want to save ?");
        if (conf) {

            //console.log(ArrayOfCartingRegDtl);
            $('form#frmCartingReg').submit();
        }
    }
    $('#BtnSaveShortCargo').on("click",function()
    {
        //debugger;
        if($('#mdl_CartingDate').val()=='')
        {
            alert('Select Carting Date');
            return false;
        }
        else if($('#mdl_Qty').val()=='')
        {
            alert('Enter Quantity');
            return false;
        }
        else if($('#mdl_Wt').val()=='')
        {
            alert('Enter Weight');
            return false;
        }
        else if($('#mdl_SQM').val()=='')
        {
            alert('Enter SQM');
            return false;
        }
        else if($('#mdl_FOB').val()=='')
        {
            alert('Enter FOB');
            return false;
        }
        else
        {
            var conf=confirm("Are you sure you want to Save?");
            if(conf==true)
            {
                $('#BtnSaveCartingReg,#BtnSaveShortCargo').prop('disabled',true);
                var ModelData=
                    {
                        "ShortCargoDtlId":0,
                        "CartingDate":$('#mdl_CartingDate').val(),
                        "Qty":$('#mdl_Qty').val(),
                        "Weight":$('#mdl_Wt').val(),
                        "ManualWT":$('#mdl_ManualWT').val(),
                        "MechanicalWT":$('#mdl_MechanicalWT').val(),
                        "SQM":$('#mdl_SQM').val(),
                        "ReservedSQM":$('#mdl_ReservedSQM').val(),
                        "TotalSQM":$('#mdl_TotalSQM').val(),
                        "FOB":$('#mdl_FOB').val(),
                        "modalGodownId":$('#modalGodownId').val(),
                        "modalGodownName":$('#modalGodownName').val()
                    };
                var CartingRegisterDtlId=ArrayOfCartingRegDtl[0].CartingRegisterDtlId;
                var ShippingBillNo=ArrayOfCartingRegDtl[0].ShippingBillNo;
                $.ajax({
                    url:'/Export/DSR_CWCExport/AddShortCargoDetail',
                    type:"POST",
                    data:{
                        "objSC":ModelData,
                        "CartingRegisterId":$('#CartingRegisterId').val(),
                        "CartingRegisterDtlId":CartingRegisterDtlId,
                        "ShippingBillNo":ShippingBillNo,
                    },
                    dataType:"JSON",
                    success:function(data)
                    {
                        if(data.Status==1)
                        {
                            alert(data.Message);
                            $('#tblShortCargo tbody').append('<tr><td>'+$('#mdl_CartingDate').val()+'</td><td>'+$('#mdl_Qty').val()+'</td><td>'+$('#mdl_Wt').val()+'</td><td>'+$('#mdl_SQM').val()+'</td><td>'+$('#mdl_ReservedSQM').val()+'</td><td>'+$('#mdl_TotalSQM').val()+'</td><td>'+$('#mdl_FOB').val()+'</td><td>'+$('#modalGodownName').val()+'</td></tr>');
                            $('#mdl_CartingDate,#mdl_Qty,#mdl_ManualWT,#mdl_MechanicalWT,#mdl_Wt,#mdl_SQM,#mdl_ReservedSQM,#mdl_TotalSQM,#mdl_FOB,#mdl_ReservedSpace').val('');
                        }
                        else alert(data.Message);

                    }
                });
            }
            else return false;
        }
    });

    $('#mdl_Qty').on('blur', function () {
        debugger;
        if ($('#NoOfUnits').val() != '' && $('#Weight').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#NoOfUnits').val();
            var w = $('#Weight').val();
            var q = $('#ActualQty').val();

            $('#mdl_ManualWT').val(((w / n) * q).toFixed(2));
        }


        if ($('#ActualQty1').val() != '' && $('#FOBValue1').val() != '' && $('#ActualQty').val() != '') {
            var n = $('#ActualQty1').val();
            var f = $('#FOBValue1').val();
            var q = $('#ActualQty').val();

            $('#mdl_FOB').val(((f / n) * q).toFixed(2));
        }

    })

    function ChangeResvSpace()
    {
        //debugger;
        var GodownId = 0;
        var ExporterId = 0;
        GodownId=$('#hdnGodownId').val();
        ExporterId=$('#hdnExporterId').val();

        if (GodownId>0 && ExporterId>0)
        {
            getResSpace();
        }
    }

    function getResSpace() {
        //debugger
        var GodownId = 0;
        var ExporterId = 0;
        var RegisterDate = '';
        GodownId = $('#hdnGodownId').val();
        ExporterId = $('#hdnExporterId').val();
        RegisterDate = $('#mdl_CartingDate').val();
        $.ajax({
            url: '/Export/DSR_CWCExport/GetAvailableReservedSpace',
            type: 'GET',
            data: { GodownId: GodownId, ExporterId: ExporterId, RegisterDate:RegisterDate },
            dataType: 'JSON',
            success: function (data) {
                //console.log(data);
                //debugger;
                
                var ResSpace=data.Data.ReservedSpace;              
                $('#mdl_ReservedSpace').val(ResSpace);
            }
        });
    }


</script>