
@model IEnumerable<CwcExim.Areas.Export.Models.DSR_ActualArrivalDatetime>
<table id="tblCartingList" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            @*<th class="text-center">@Html.DisplayName("SL No")</th>*@
            <th>@Html.DisplayNameFor(m => m.ContainerNo)</th>
            <th>@Html.DisplayNameFor(m => m.CFSCode)</th>
            <th>@Html.DisplayNameFor(m => m.ArrivalDateTime)</th>
            <th>@Html.DisplayNameFor(m => m.GatePassNo)</th>
            <th class="text-center">@Html.DisplayName("Edit")</th>
            @*<th class="text-center">@Html.DisplayName("View")</th>*@
            @*<th class="text-center">@Html.DisplayName("Delete")</th>*@
            @*<th class="text-center">@Html.DisplayName("Print Preview")</th>*@
        </tr>
    </thead>
    <tbody>
        @{ var Serial = 1;
            foreach (var data in Model)
            {
                <tr>
                    @*<td class="text-center">@Serial.ToString()</td>*@
                    <td class="text-center">@data.ContainerNo</td>
                    <td>@data.CFSCode</td>
                    <td>@data.ArrivalDateTime</td>
                    <td>@data.GatePassNo</td>
                    <td class="text-center"><a href="#" onclick="EditActualArrivalDatetime(@data.Id)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    @*<td class="text-center"><a href="#" onclick="ViewActualArrivalDatetime(@data.Id)"><i class="fa fa-search-plus Edit"></i></a></td>*@
                    @*<td class="text-center"><a href="#" onclick="DeleteActualArrivalDatetime(@data.Id)"><i class="fa fa-window-close-o Delete"></i></a></td>
                        <td class="text-center"><a href="#" onclick="PrintPreviewActualArrivalDatetime(@data.Id)"><i class="fa fa-file-pdf-o Edit"></i></a></td>*@
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3">
    @*<input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" />*@
</div>
<script>
    var Page = 0;
    $(document).ready(function () {
        var tblCartingList = $('#tblCartingList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [/* { "sName": "SL No" },*/
                { "sName": "Container No", "bSortable": false },
                { "sName": "CFSCode", "bSortable": false },
                { "sName": "Arrival DateTime" },
                { "sName": "GatePass No" },
                { "sName": "Edit", "bSortable": false, "width": "10%" },
                //{ "sName": "View", "bSortable": false, "width": "10%" },
                //{ "sName": "Delete", "bSortable": false, "width": "10%" },
                //{ "sName": "Print Preview", "bSortable": false, "width": "10%" },

            ]
        });
        new $.fn.dataTable.FixedHeader(tblCartingList);
    });
    function ViewActualArrivalDatetime(ActualArrivalDatetimeId) {
        $('#DivBody').get('/Export/DSR_CWCExport/ViewActualArrivalDatetime?ActualArrivalDatetimeId=' + ActualArrivalDatetimeId);
    }
    function EditActualArrivalDatetime(ActualArrivalDatetimeId) {
        /*$('#DivBody').load('/Export/Chn_CWCExport/EditActualArrivalDatetime?ActualArrivalDatetimeId=' + ActualArrivalDatetimeId);*/

        $.ajax({
            url: '/Export/DSR_CWCExport/EditActualArrivalDatetime?ActualArrivalDatetimeId=' + ActualArrivalDatetimeId,
            type: 'GET',
            dataType: 'JSON',
          /*  data: { Page: Page + 1 },*/
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    $('#Id').val(data[0].Id);
                    $('#ContainerNo').val(data[0].ContainerNo);
                    $('#CFSCode').val(data[0].CFSCode);
                    $('#GatePassNo').val(data[0].GatePassNo);
                    $('#ArrivalDateTime').val(data[0].ArrivalDateTime);
                    $('#btnCIMAT').removeProp("disabled");
                    $('#btnCIMAT').removeClass("disabled");
                }
                else {
                    alert('No more data available');
                }
            }
        });
    }
    function DeleteActualArrivalDatetime(ActualArrivalDatetimeId) {
        var Confirm = confirm("Are you sure you want to Delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("DeleteActualArrivalDatetime", "DSR_CWCExport", new { areas="Export"}) ',
                type: 'POST',
                data: { ActualArrivalDatetimeId: ActualArrivalDatetimeId },
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                success: function (data) {
                    alert(data.Message);
                    if (data.Status == 1) LoadActualArrivalDatetimeList();
                }
            });
        }
    }
    //function PrintPreviewActualArrivalDatetime(ActualArrivalDatetimeId) {
    //    var Token = $('input[name="__RequestVerificationToken"]').val();
    //    $.ajax({
    //        url: "/Report/Chn_ReportCWC/PrintActualArrivalDatetime",
    //        type: 'POST',
    //        data: { ActualArrivalDatetimeId: ActualArrivalDatetimeId },
    //        headers: { "__RequestVerificationToken": Token },
    //        dataType: 'JSON',
    //        success: function (data) {
    //            if (data.Status == 1)
    //                window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
    //        }
    //    });
    //}

    //function LoadMoreListData() {
    //    debugger;
    //    //Page = Page + 1;
    //    $.ajax({
    //        url: '/Export/Chn_CWCExport/LoadListMoreDataActualArrivalDatetime',
    //        type: 'GET',
    //        dataType: 'JSON',
    //        data: { Page: Page + 1 },
    //        success: function (data) {
    //            debugger;
    //            if (data != null && data != '' && data != undefined && data.length > 0) {
    //                Page++;
    //                var html = '';
    //                var dt = $('#tblCartingList').dataTable();
    //                var len = dt.fnGetData().length;
    //                $.each(data, function (i, item) {
    //                    debugger;
    //                    len++;
    //                    dt.fnAddData([
    //                       /* len,*/
    //                        [item.ContainerNo],
    //                        [item.CFSCode],
    //                        [item.ArrivalDateTime],
    //                        [item.GatePassNo],
    //                        ['<a href="#"  class="text-center" onclick=EditActualArrivalDatetime(' + [item.ActualArrivalDatetimeId] + ')><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a>'],
    //                        ['<a href="#" class="text-center" onclick=ViewActualArrivalDatetime(' + [item.ActualArrivalDatetimeId] + ')><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a>'],
    //                        //['<a href="#" class="text-center" onclick=DeleteActualArrivalDatetime(' + [item.ActualArrivalDatetimeId] + ')><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a>'],
    //                        //['<a href="#" class="text-center"  onclick=PrintPreviewActualArrivalDatetime(' + [item.ActualArrivalDatetimeId] + ')><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>'],

    //                    ]);
    //                });
    //            }
    //            else alert('No more data available');
    //        }
    //    });
    //}
</script>
