@model IEnumerable<CwcExim.Areas.Export.Models.DSRBTTCargoEntry>

<script>
    var Page = 0;
    var r2 = JSON.parse($("#hdnRights").val());
    
    $(document).ready(function () {
        var tblBTTCargo = $('#tblBTTCargo').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "SL No", "width": "8%" },
                       { "sName": "BTT No", "bSortable": false },
                       { "sName": "BTT Date", "bSortable": false, "width": "12%" },
                       { "sName": "Carting No", "bSortable": false },
                       { "sName": "Carting Date", "bSortable": false, "width": "12%" },
                       { "sName": "CHA" },
                       { "sName": "Edit", "bSortable": false, "width": "10%" },
                       { "sName": "View", "bSortable": false, "width": "10%" },
                       { "sName": "Delete", "bSortable": false, "width": "10%" }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(6),td:eq(7),td:eq(8)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "8%");
                $('td:eq(2)', nRow).css("width", "12%");
                $('td:eq(4)', nRow).css("width", "12%");
                $('td:eq(6)', nRow).css("width", "10%");
                $('td:eq(7)', nRow).css("width", "10%");
                $('td:eq(8)', nRow).css("width", "10%");

            }
        });
        new $.fn.dataTable.FixedHeader(tblBTTCargo);
    });

    function EditBTTCargo(BTTCargoEntryId) {
        //debugger;
        if (r2.CanEdit == 1) {
            $('#divBTTCargoEntry').load('/Export/DSR_CWCExport/EditBTTCargo?BTTCargoEntryId=' + BTTCargoEntryId);
        } else {
            return false;
        }

    }
    function ViewBTTCargo(BTTCargoEntryId) {
        if (r2.CanView == 1) {
            $('#divBTTCargoEntry').load('/Export/DSR_CWCExport/ViewBTTCargo?BTTCargoEntryId=' + BTTCargoEntryId);
        }
        else {
            return false;
        }
    }
    function DeleteBTTCargo(BTTCargoEntryId) {
        if (r2.CanDelete == 1) {
            var Confirm = confirm("Are you sure you want to Delete?");
            var Token = $('input[name="__RequestVerificationToken"]').val();
            if (Confirm == true) {
                $.ajax({
                    url: '@Url.Action("DeleteBTTCargo", "DSR_CWCExport", new { areas= "Export" }) ',
                    type: 'POST',
                    dataType: 'JSON',
                    data: { BTTCargoEntryId: BTTCargoEntryId },
                    headers: { '__RequestVerificationToken': Token },
                    success: function (data) {
                        alert(data.Message);
                        if (data.Status == 1) {
                            GetBTTCargoEntry();
                            GetBTTCargoList();
                        }
                        //else {
                        //    alert(data.Message);
                        //}
                    }
                });
            }
        }
        else {
            return false;
        }
    }

    function LoadMoreListData() {
        debugger;
       
        var SearchValue = $('#BTTCargoSearch').val().trim();
        
        if (SearchValue != '' && SearchValue != null ) {
            var URL = '/Export/DSR_CWCExport/GetLoadMoreBTTCargoEntrySearchList?SearchValue=' + SearchValue;
        }
        else {
            var URL = '/Export/DSR_CWCExport/GetLoadMoreBTTCargoEntrySearchList';
        }
        
        $.ajax({
            url: URL,
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1, SearchValue: SearchValue},
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblBTTCargo').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.BTTNo],
        [item.BTTDate],
        [item.CartingNo],
        [item.CartingDate],
        [item.CHAName],
        ['<a href="#" onclick=EditBTTCargo(' + [item.BTTId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#" onclick=ViewBTTCargo(' + [item.BTTId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
        ['<a href="#" onclick=DeleteBTTCargo(' + [item.BTTId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],

                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
</script>
<table id="tblBTTCargo" class="table table-bordered table-striped dataTable" style="width:100%;">
    <thead>
        <tr>
            <th class="text-center">SL No</th>
            <th>@Html.DisplayNameFor(m=>m.BTTNo)</th>
            <th>@Html.DisplayNameFor(m => m.BTTDate)</th>
            <th>@Html.DisplayNameFor(m => m.CartingNo)</th>
            <th>@Html.DisplayNameFor(m => m.CartingDate)</th>
            <th>@Html.DisplayNameFor(m => m.CHAName)</th>
            <th style="text-align:center;">@Html.DisplayName("Edit")</th>
            <th style="text-align:center;">@Html.DisplayName("View")</th>
            <th style="text-align:center;">@Html.DisplayName("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @{
            var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@Serial.ToString()</td>
                    <td>@Html.DisplayFor(m => item.BTTNo)</td>
                    <td>@Html.DisplayFor(m => item.BTTDate)</td>
                    <td>@Html.DisplayFor(m => item.CartingNo)</td>
                    <td>@Html.DisplayFor(m => item.CartingDate)</td>
                    <td>@Html.DisplayFor(m => item.CHAName)</td>
                    <td style="text-align:center;"><a href="#" class="edit" onclick="EditBTTCargo(@item.BTTId)"><i class="fa fa-pencil-square Edit"></i></a></td>
                    <td style="text-align:center;"><a href="#" class="view" onclick="ViewBTTCargo(@item.BTTId)"><i class="fa fa-search-plus Edit"></i></a></td>
                    <td style="text-align:center;"><a href="#" class="delete" onclick="DeleteBTTCargo(@item.BTTId)"><i class="fa fa-window-close-o Delete"></i></a></td>
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
