@model CwcExim.Areas.Export.Models.DSR_AmendmentViewModel

@*<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Invoice No:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.InvoiceNo, new { @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Invoice Date:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBoxFor(m => m.InvoiceDate, new { @readonly = true })
        </div>
    </div>
</div>*@
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Ship Bill No:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.ShipBillNo, new { @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Date:</label>
        </div>
        <div class="col-md-2 col_cus_2_5 Date_Img2">
            @Html.TextBoxFor(m => m.Date, new { @readonly = true })
        </div>
    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>CCIN NO:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.CCINNo, new { @readonly = true })
            @*<input type="text" class="form-control" readonly ng-model="tabtxtCCINNo" />*@
        </div>

    </div>
</div>
<div class="row">
    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Exporter:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.ExporterName, new { @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Shipping Line:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBoxFor(m => m.ShippingLineName, new { @readonly = true })
        </div>
    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Commodity:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.Cargo, new { @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>SB Type:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBoxFor(m => m.SBTypeName, new { @readonly = true })
        </div>
    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Weight:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.Weight, new { @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Pkg:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBoxFor(m => m.Pkg, new { @readonly = true })
        </div>
    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 col_cus_2">
            <label>Ship Bill No:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.NewShipBillNo, new { @readonly = true })
        </div>
        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Date:</label>
        </div>
        <div class="col-md-2 col_cus_2_5 Date_Img2">
            @Html.TextBoxFor(m => m.ShipbillDate, new { @readonly = true })
        </div>
    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5">
            <label>FOB Value:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.FOB, new { @readonly = true })
        </div>

        <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2 padding_rt">
            <label>Port Of Loading:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBoxFor(m => m.PortOfLoading, new { @readonly = true })
        </div>


    </div>
</div>

<div class="row Form_Space_top">
    <div class="form-group Form_Input">

        <div class="col-md-1-5 col_cus_2">
            <label>Port Of Destination:</label>
        </div>
        <div class="col-md-2-5">
            @Html.TextBoxFor(m => m.PortOfDest, new { @readonly = true })
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-offset-5 col-md-2  SignUp_space_bottom">
        <input type="button" id="btnBack" class="btn log_Btn_sm" value="Back" onclick="$('#DivBody').load('/Export/DSR_CWCExport/Amendment')" />
    </div>
</div>
