@model CwcExim.Areas.Master.Models.PPGCommodity
<script>
    function LoadCommodityPage() {
        $('#DivBody').load('/Master/PPGCommodity/CreateCommodity');
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12">
                    <h4>Commodity Master</h4>
                </div>
            </div>
            <div class="content_wrp">

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <span class="ReQSimbol">*</span>
                            <label>Commodity:</label>
                            @Html.TextBoxFor(m => m.CommodityName, "", new { @class = "", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-md-2 pr-0">
                        <label>Commodity Type:</label>
                        <div class="form-group">
                            <label class="Radiocontainer">
                                HAZ
                                @Html.RadioButtonFor(m => m.CommodityType, "1", new { @class = "", @id = "rbHAZ", @disabled = "disabled" })
                                <span class="checkmark"></span>
                            </label>
                            <label class="Radiocontainer">
                                Non HAZ
                                @Html.RadioButtonFor(m => m.CommodityType, "2", new { @class = "", @id = "rbNonHAZ", @disabled = "disabled" })
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Alias:</label>
                            @Html.TextBoxFor(m => m.CommodityAlias, "", new { @class = "", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CommodityAlias, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                    <div class="col-md-4 mt20">
                        <div class="col-md-5 pl-0">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.TaxExempted, new { @disabled = "disabled" })
                                <label for="TaxExempted"><i class="square"></i><span>Tax Exempted</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="boolean-container">
                                @Html.CheckBoxFor(m => m.FumigationChemical, new { @disabled = "disabled" })
                                <label for="FumigationChemical"><i class="square"></i><span>Fumigation Chemical</span></label>
                            </div>
                        </div>
                    </div>
                </div>               

                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="LoadCommodityPage()">
                </div>

            </div>
        </div>
    </div>
</div>



