@model CwcExim.Models.Module

<div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#divProgress").css("display", "none");

            GetModuleList();
        });
        function OnBegin()
        {

        }
        function OnComplete()
        {
        }
        function OnSuccess(data)
        {
            if (data.Status == 1)
            {
                setTimeout(Clear,5000);
               // Clear();
                $('#divMsg').html(data.Message);
                GetModuleList();
            }
            else {
                $('#SpnResult').html(data.Message);
            }
        }
        function OnFailure() {
        }
        function GetModuleList() {

            $('#DivModList').load('/Module/GetModuleList');
        }
        function Clear() {
            $("input[type=text]").val("");
            $('select').each(function () {
                $(this).find('option[value=""]').attr('selected', true);
            });
            $('.field-validation-error').each(function () {
                $(this).html('');
            });
        }
    </script>
    @{

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";
        options.Confirm = "Are you sure you want to save?";
        options.OnBegin = "OnBegin";
        options.OnComplete = "OnComplete";
        options.OnFailure = "OnFailure";
        options.OnSuccess = "OnSuccess";
        options.LoadingElementDuration = 1000;
        options.LoadingElementId = "divProgress";
        options.UpdateTargetId = "divResponse";
        options.InsertionMode = InsertionMode.InsertAfter;


    }
    @using (Ajax.BeginForm("CreateModule", "Module", options))
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 col-md-offset-0-5">
                    <div class="Head_h4">
                        <form class="form-horizontal">
                            <div class="row SignUp_space_bottom">
                                <div class="col-md-12">
                                    <h4>Module Entry</h4>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2">
                                        <label>Module Name:</label>
                                    </div>
                                    <div class="col-md-3 Error_Msg">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.ModuleName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ModuleName)
                                    </div>
                                    <div class="col-md-1-5 col-md-offset-3 col_cus_offset_2_5 col_cus_2">
                                       <label>Module Prefix:</label>
                                    </div>
                                    <div class="col-md-2 col_cus_2_5 Error_Msg">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.ModulePrefix, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ModulePrefix)
                                    </div>
                                    @*<div class="col-sm-2  col-md-2">
                            <small>@Html.LabelFor(m => m.HighestAppAuthName, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-sm-3  col-md-3">
                            <span class="ReQSimbol">*</span>
                            @Html.DropDownListFor(m => m.HighestApprovalAuthority, new SelectList(Model.HighestAppAuthList, "DesignationId", "Designation"), "----Select----", new { @class = "form-control" })
                        </div>*@
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="stoke SignUp_space_top SignUp_space_bottom"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4 col-md-2" style="text-align:center">
                                    <input type="submit" value="Save" class="btn log_Btn_sm" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" value="Reset" class="btn log_Btn_sm" onclick="Clear()" />
                                </div>
                            </div>
                            <div class="row ClearFix SignUp_space_bottom2">
                                <div style="text-align:center;background-color:transparent" class="logErrMsg">
                                    <span id="SpnResult"></span>
                                </div>
                            </div>
                            <div id="divMsg" class="logSuccMsg" style="background-color:transparent"></div>
                            <div id="divProgress"></div>
                        </form>
                       
                        <div class="row">
                            <div class="col-md-12 SignUp_space_bottom">
                                <div id="DivModList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
   
</div>
@Scripts.Render("~/bundles/jqueryval")
