@model IEnumerable<CwcExim.Models.Module>
<div>
    <script type="text/javascript">

        function LoadEditModule(ModuleId) {
            $('#DivBody').load('/Module/EditModule?ModuleId=' + ModuleId);
        }
        function LoadViewModule(ModuleId) {
            $('#DivBody').load('/Module/ViewModule?ModuleId=' + ModuleId);
        }
        function DeleteModule(ModuleId) {
            debugger;
            var Confirm=confirm("Are You Sure You Want To Delete?");
            if(Confirm==true){
                var Token=$('input[name="__RequestVerificationToken"]').val();
                $.ajax({
                    url: '/Module/DeleteModule',
                    data:{ModuleId:ModuleId},
                    type:'POST',
                    dataType:'JSON',
                    headers:{'__RequestVerificationToken':Token},
                    async:false,
                    success: function (data) {
                        debugger;
                        if(data.Status==1){
                            LoadModule();
                        }
                        else if(data.Status==2){
                            alert(data.Message);
                        }
                    }

                });
            }
        }
        function LoadModule() {
            $('#DivBody').load('/Module/Load');
        }
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#DivTblModeList').DataTable({
                "bFilter": false,
                "bInfo": false,
                "aoColumns": [
                        { "sName": "Module Name" },
                        { "sName": "Module Prefix" },
                        //{ "sName": "Module Fees", "bSortable": false },
                        //{ "sName": "Approval Authority" },
                        //{ "sName": "Fine%", "bSortable": false },
                        //{ "sName": "Rebate%", "bSortable": false },
                        //{ "sName": "Review Fees", "bSortable": false },
                        //{ "sName": "Revision Fees", "bSortable": false },
                        //{ "sName": "Appeal Fees", "bSortable": false },
                        { "sName": "View", "bSortable": false, "width": "10%" },
                        { "sName": "Edit", "bSortable": false, "width": "10%" },
                        { "sName": "Delete", "bSortable": false, "width": "10%" }
                ]
                //responsive: true
            });
            new $.fn.dataTable.FixedHeader(table);
        });
        
    </script>
    <style>
        /*.dataTables_filter,.dataTables_info { display: none; }*/
    </style>
    @*<div class="panel table_bk">
        <table class="table1 table-condensed Table_Text_Align" style="border:none;">
            <thead>
                <tr>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.ModuleName)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.ModulePrefix)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.ModuleFees)</th>
                    <th class="col-md-2">@Html.DisplayNameFor(model => model.HighestAppAuthName)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.FinePerct)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.RebatePerct)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.ReviewFees)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.RevisionFees)</th>
                    <th class="col-md-1">@Html.DisplayNameFor(model => model.AppealFees)</th>
                    <th class="col-md-1">@Html.DisplayName("Action")</th>
                </tr>
            </thead>
        </table>
        <div style="height:272px; border-top:2px solid #35acdf;">
            <div class="div-table-content" style="height:270px;">
                <table class="table table-condensed Table_Text_Align Table_Hover" style="border:none;">
                    <tbody>
                    @foreach (var item in Model)
                        {
                        <tr>
                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.ModuleName)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.ModulePrefix)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.ModuleFees)</td>
                            <td class="col-md-2">@Html.DisplayFor(modelItem => item.HighestAppAuthName)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.FinePerct)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.RebatePerct)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.ReviewFees)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.RevisionFees)</td>
                            <td class="col-md-1">@Html.DisplayFor(modelItem => item.AppealFees)</td>
                            <td class="col-md-1"><a href="#" onclick="LoadEditView(@item.ModuleId)">Edit</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
    
        <table id="DivTblModeList" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
                    <th>@Html.DisplayNameFor(model => model.ModulePrefix)</th>
                    @*<th>@Html.DisplayNameFor(model => model.ModuleFees)</th>
                    <th>@Html.DisplayNameFor(model => model.HighestAppAuthName)</th>
                    <th>@Html.DisplayNameFor(model => model.FinePerct)</th>
                    <th>@Html.DisplayNameFor(model => model.RebatePerct)</th>
                    <th>@Html.DisplayNameFor(model => model.ReviewFees)</th>
                    <th>@Html.DisplayNameFor(model => model.RevisionFees)</th>
                    <th>@Html.DisplayNameFor(model => model.AppealFees)</th>*@
                    <th style="text-align:center;">@Html.DisplayName("View")</th>
                    <th style="text-align:center;">@Html.DisplayName("Edit")</th>
                    <th style="text-align:center;">@Html.DisplayName("Delete")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ModuleName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModulePrefix)</td>
                        @*<td>@Html.DisplayFor(modelItem => item.ModuleFees)</td>
                        <td>@Html.DisplayFor(modelItem => item.HighestAppAuthName)</td>
                        <td>@Html.DisplayFor(modelItem => item.FinePerct)</td>
                        <td>@Html.DisplayFor(modelItem => item.RebatePerct)</td>
                        <td>@Html.DisplayFor(modelItem => item.ReviewFees)</td>
                        <td>@Html.DisplayFor(modelItem => item.RevisionFees)</td>
                        <td>@Html.DisplayFor(modelItem => item.AppealFees)</td>*@

                        <td style="text-align:center;"><a href="#" onclick="LoadViewModule(@item.ModuleId)"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                        <td style="text-align:center;"><a href="#" onclick="LoadEditModule(@item.ModuleId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                        <td style="text-align:center;"><a href="#" onclick="DeleteModule(@item.ModuleId)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                    </tr>
            }
            </tbody>
        </table>
</div>
