@model CwcExim.Areas.Import.Models.SealCuttingV2

@using (Ajax.BeginForm("AddEditSealCutting", "Ppg_CWCImportV2", new AjaxOptions { Confirm = "Are You Sure You Want To Save?", HttpMethod = "POST", OnSuccess = "SealCuttingOnSuccess", OnFailure = "SealCuttingeOnFailure" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Seal Cutting</h4>
                        @Html.Hidden("PaymentSheetModelJson")
                        @Html.HiddenFor(m => m.ViewBLList, new { @value = "0" })
                        @Html.HiddenFor(m => m.lstPostPaymentChrgBreakup)
                        @Html.HiddenFor(m => m.lstPostPaymentChrgAmt)
                        @Html.HiddenFor(m => m.lstPostPaymentChrg)
                        @Html.HiddenFor(m => m.lstPostPaymentChrgBreakupAmt, new { @value = "0" })
                        @Html.HiddenFor(m => m.InvoiceAmt)
                        @Html.HiddenFor(m => m.TotalTaxable)
                        @Html.HiddenFor(m => m.TotalCGST)
                        @Html.HiddenFor(m => m.TotalSGST)
                        @Html.HiddenFor(m => m.TotalIGST)
                        @if (ViewBag.BLList != null)
                {
                            <input type="hidden" id="ViewBLList" name="BLList" value=@ViewBag.BLList.ToString() />
                        }
                        else
                        {
                            <input type="hidden" id="ViewBLList" name="BLList" value="" />
                        }

                        <input type="hidden" id="ViewContainerList" name="ContainerList" value="" />


                        @if (ViewBag.GodownList != null)
                {
                            <input type="hidden" id="ViewGodownList" name="GodownList" value=@ViewBag.GodownList.ToString() />
                        }
                        else
                        {
                            <input type="hidden" id="ViewGodownList" name="GodownList" value="" />
                        }
                        <input type="hidden" id="ViewCHAShippingLine" value="" />

                    </div>
                </div>

                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.CargoTypeId)
                                @Html.HiddenFor(m => m.SealCuttingId, new { @value = "0" })
                                @Html.LabelFor(m => m.SealCuttingNo, new { @class = "InputLabel" }):
                                @Html.TextBoxFor(m => m.SealCuttingNo, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.TransactionDate, new { @class = "InputLabel" }):
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.TransactionDate, new { @readonly = true, @size = 10, @maxlength = 10, @onkeyup = "check()", @onblur = "checkdate()" })
                                    <div class="field-validation-error" id="DivMsgs" style="background-color:transparent"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                <label>Container / CBT No :</label>
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.ContainerId, new { @value = "0" })
                                    @Html.HiddenFor(m => m.OBLId, new { @value = "0" })
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @readonly = true })                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Size:</label>
                                @Html.TextBoxFor(m => m.size, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.GateInDate, new { @class = "InputLabel" }):
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.GateInDate, new { @class = "InputLabel", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-1-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CFSCode, new { @class = "InputLabel" }):
                                @Html.TextBoxFor(m => m.CFSCode, new { @readonly = true })
                                @Html.ValidationMessageFor(m => m.CFSCode)
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>LCL/FCL:</label>
                                @Html.TextBoxFor(m => m.LCLFCL, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomSealNo, new { @class = "InputLabel" }):
                                @Html.HiddenFor(m => m.CustomSealId, new { @value = "0" })
                                @Html.TextBoxFor(m => m.CustomSealNo, new {})
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.GodownNo, new { @class = "InputLabel" }):
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.GodownId, new { @value = "0" })
                                    @Html.TextBoxFor(m => m.GodownNo, new { @class = "", @readonly = true })
                                    <span class="input_icon" id="GodownSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#GodownModal"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>SEZ</label>
                                @Html.DropDownList("SEZ1", new List<SelectListItem>
                                        {
                                        new SelectListItem { Text="SEZWP",Value="SEZWP"},
                                        new SelectListItem {Text="SEZWOP",Value="SEZWOP" }

                                        }, "---Select---", new { @class = "dropdown" })
                                @Html.ValidationMessage("SEZ1", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>


                    <div class="Form_Space_top"></div>

                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Payment Information (For LCL)</h5>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CHAShippingLine, new { @class = "InputLabel" }):
                                    <div class="position-relative">
                                        @Html.HiddenFor(m => m.CHAShippingLineId, new { @value = "0" })
                                        @Html.TextBoxFor(m => m.CHAShippingLine, new { @class = "", @readOnly = true })
                                        <span class="input_icon" id="CHAShippingLineSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="LoadMoreSHP();" data-target="#CHAShippingLineModal"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SD Details : Folio No.:</label>
                                    @Html.TextBoxFor(m => m.FolioNo, new { @readonly = true })
                                    @Html.ValidationMessageFor(m => m.FolioNo)
                                </div>
                            </div>

                            <div class="col-md-3 col-md-offset-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Balance, new { @class = "InputLabel" }):
                                    @Html.TextBoxFor(m => m.Balance, new { @class = "", @readOnly = true })
                                    @Html.ValidationMessageFor(m => m.Balance)
                                </div>
                            </div>
                        </div>


                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvoiceNo, new { @class = "InputLabel" }):
                                    @Html.HiddenFor(m => m.InvoiceId, new { @value = "0" })
                                    @Html.TextBoxFor(m => m.InvoiceNo, new { @readOnly = true })
                                    @Html.ValidationMessageFor(m => m.InvoiceNo)
                                </div>
                            </div>
                        </div>


                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Charges</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <table id="tblCWCCharges" class="table table-bordered table-striped dataTable Table_center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Charges</th>
                                                <th rowspan="2">Value</th>
                                                <th colspan="2" class="text-center">IGST</th>
                                                <th colspan="2" class="text-center">CGST</th>
                                                <th colspan="2" class="text-center">SGST</th>
                                                <th rowspan="2" style="width:15%;">Total</th>
                                            </tr>
                                            <tr>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th>Amt</th>
                                                <th>%</th>
                                                <th style="border-right:1px solid #ddd;">Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="row Form_Space_top">
                                <div class="col-md-12">
                                    <h5>Total</h5>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-offset-8 col_cus_offset_7 col_cus_2 col-md-1-5">
                                        <label>Total Value:</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_3">
                                        @Html.TextBox("AllTotal", "0", new { @readonly = true, @style = "text-align:right;" })
                                    </div>
                                </div>
                            </div>


                        </div>

                        @Html.ValidationMessageFor(m => m.InvoiceAmt)
                        @Html.HiddenFor(m => m.TotalTaxable)
                        @Html.HiddenFor(m => m.TotalCGST)
                        @Html.HiddenFor(m => m.TotalSGST)
                        @Html.HiddenFor(m => m.TotalIGST)
                    </div>

                    <div class="Form_Space_top"></div>

                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>OBL/HBL Details</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="Form_Space_top"></div>
                            <div class="col-md-12" id="DivOBLList">
                                <input type="hidden" id="CargoTy" value="2" />
                                <table class="table table-bordered table-hover dataTable Table_center" id="tblOBLList">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@Html.DisplayName("SL No")</th>
                                            <th>OBL/HBL No.</th>
                                            <th>OBL/HBL Date</th>
                                            <th>Cargo Type</th>
                                            <th>No Of Package</th>
                                            <th>Gross Wt.</th>
                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                                var Serial = 1;

                                                if (Model.lstObldt != null)
                                                {

                                                    foreach (var item in Model.lstObldt)
                                                    {

                                            <tr>
                                                <td class="text-center">@Serial</td>
                                                <td class="text-center">@item.BLNo</td>
                                                <td class="text-center">@item.BLDate</td>
                                                <td class="text-center">@item.CargoType</td>
                                                <td class="text-center">@item.NO_PKG</td>
                                                <td class="text-center">@item.GR_WT</td>
                                                @*<td>   <input type="hidden" id="CargoTy" value=@item.CargoTypeId /></td>*@
                                            </tr>
                                                Serial++;
                                            }
                                    }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="Form_Space_top"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="submit" id="btnSave" class="btn btn-primary mr-1 btn-100px" value="Save">
                        <input type="button" id="btnBack" class="btn btn-primary btn-100px" value="Back" onclick="Back()">
                    </div>

                    <div class="logSuccMsg" id="DivMsg" style="background-color:transparent"></div>

                    <div class="row">
                        <div class="col-md-12" id="DivScList">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="divFormOneList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div id="ShippingLineModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Shipping Line</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="Shippingbox" type="text" />
                        <ul class="navList" id="lstShipping">
                            @*@{
                                    foreach (var item in Model.lstShippingLine)
                                    {
                                        <li id="@item.ShippingLineId">@item.ShippingLineName</li>
                                    }
                                }*@
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PODModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Port</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="PODbox" type="text" />
                        <ul class="navList" id="lstPOD">
                            @if (ViewBag.Godownist != null)
                            {
                                foreach (var item in ViewBag.Godownist)
                                {
                                    <li id="@item.GodownId">@item.GodownName</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="modal fade" id="BLModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of B/L</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="BLbox" type="text" />
                                <ul class="navList" id="lstBL">
                                    @*@if (ViewBag.BLList != null)
                                        {
                                            foreach (var item in ViewBag.BLList)
                                            {
                                                <li id="@item.BLId">@item.BLNo</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ContainerModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Container / CBT</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Containerbox" type="text" />
                                <ul class="navList" id="lstContainer">
                                    @*@if (ViewBag.ContainerList != null)
                                        {
                                            foreach (var item in ViewBag.ContainerList)
                                            {
                                                <li id="@item.ContainerId">@item.ContainerName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="GodownModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Godown</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Godownbox" type="text" />
                                <ul class="navList" id="lstGodown">
                                    @if (ViewBag.GodownList != null)
                                    {
                                        foreach (var item in ViewBag.GodownList)
                                        {
                                            <li id="@item.GodownId">@item.GodownNo</li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="CHAShippingLineModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal" onclick="CloseSHP()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of CHA/Shipping Line</h4>
                            </div>
                            <div class="modal-body popup_body" style="position:relative;">
                                <input placeholder="Search Me" id="CHAShippingLinebox" type="text" />

                                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;text-align:left;">
                                    <thead>
                                        <tr>
                                            <th colspan="8" style="text-align:left;" width="80%">Party Name</th>
                                            <th colspan="4" style="text-align:left;" width="20%">Code</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="slim_scroll1">
                                    <table id="lstCHAShippingLine" class="table dataTable table-bordered table-striped slim_tble">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" id="btnSHP" style="width:100%; margin-left:0;" onclick="LoadMoreSHP()" class="btn log_Btn_sm">Load More Data</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn log_Btn_sm" onclick="CloseSHP()" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ImporterModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Importer</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Impbox" type="text" />
                                <ul class="navList" id="lstImp">
                                    @*@{
                                            foreach (var item in Model.lstImporter)
                                            {
                                                <li id="@item.ImporterId">@item.ImporterName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CommodityModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of Commodity</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="Commoditybox" type="text" />
                                <ul class="navList" id="lstCommodity">
                                    @*@{
                                            foreach (var item in Model.lstCommodity)
                                            {
                                                <li id="@item.CommodityId">@item.CommodityName</li>
                                            }
                                        }*@
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                            }
@Scripts.Render("~/bundles/jqueryval")
<script>
    var TimeInSeconds;
    var ViewContainerList = [];
    var ViewBLList = [];
    var ViewCHAShippingLine = [];
    var ctype = 2;
    $(document).ready(function ()
    {
        $('#slim_scroll1').slimScroll({
            allowPageScroll: true
        });
        if(@Model.lstObldt.Where(x => x.CargoTypeId == 1).Count()>0)
        {
            $('#CargoTy').val('1');
        }
        //GetFormOne();
        //FillListByContainer();
        //ResetAllFields();
        //GetSCList();
        populateCharges();
        TimeInSeconds = 5000;
        $("#TransactionDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
                CalculateGroundRent();
            }
        });
        GetMinDateinBlDates();
        //$("#BLDate").datepicker({
        //    dateFormat: "dd/mm/yy",
        //    showOn: "button",
        //    buttonImage: "/Content/images/calendar.png",
        //    buttonImageOnly: true,
        //    buttonText: "Select date",
        //    changeMonth: true,
        //    changeYear: true,
        //    showAnima: "fadein",
        //    onClose: function () {
        //        $(".Date_Img .Error_Msg").text("");
        //        $('[data-valmsg-for="Data"]').html('<span></span>');
        //    }
        //});
    });


    var dates = [];
    function GetMinDateinBlDates() {
        var lstObldt=@Html.Raw(Json.Encode(Model.lstObldt));
        $.each(lstObldt,function(i,item){
            dates.push(new Date(item.BLDate.split('/')[2], item.BLDate.split('/')[1]-1, item.BLDate.split('/')[0]));
        });
        debugger;
        var min = dates[0];
        for (var i = 1; i <= dates.length - 1; i++) {
            if (dates[i] < min)
                min = dates[i];
        }
        $("#TransactionDate").datepicker("option", "minDate", min);
    }
    $('#btnSave').on('click', function () {
        var x = $('#LCLFCL').val();
        $('#CargoTypeId').val($('#CargoTy').val()) ;
        var indate = $('#GateInDate').val().split('/');
        var tdate = $('#TransactionDate').val().split('/');
        if (new Date(indate[2], (indate[1] - 1), indate[0]) > new Date(tdate[2], (tdate[1] - 1), tdate[0])) {
            alert('Transaction Date can\'t be less then Gate in date.');
            return false;
        }
        if (x == 'LCL') {
            if ($('#GodownId').val() == '0') {
                alert('Select Godown.');
                return false;
            }
            if ($('#CHAShippingLineId').val() == '0') {
                alert('Select CHA/Shipping Line.');
                return false;
            }
            $('#btnSave').prop('disabled', true);
            $('#btnSave').submit();
            return true;
        }
        else {
            $('#btnSave').prop('disabled', true);
            $('#btnSave').submit();
            return true;
        }
    });

    $('#Godownbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstGodown > li').show();
        else {
            $('#lstGodown > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });

    $('#GodownSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ListOfGodownData", "Ppg_CWCImportV2", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                //$('#ViewContainerList').val(data);
                ViewBLList = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.GodownId + '" " onclick="GodownHide(this)">' + item.GodownNo + '</li>';
                });
                $('#lstGodown').html(html);
            }
        });

    });


    /* $('#lstGodown > li').on("click", function () {
         $('#GodownNo').val($(this).text());
         $('#GodownId').val($(this).attr('id'));
         $("#GodownModal").modal("hide");
     });*/

    $('#BLbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstBL > li').show();
        else {
            $('#lstBL > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //GenerateLstBL();
    $('#BLNoSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ListOfBLData", "Ppg_CWCImportV2", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                //$('#ViewContainerList').val(data);
                ViewBLList = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.BLId + '" " onclick="GetBLDate(this)">' + item.BLNo + '</li>';
                });
                $('#lstBL').html(html);
            }
        });

    });
    function GetBLDate(elem) {
        $('#BLNo').val($(elem).text());
        $('#BLId').val($(elem).attr('id'));
        debugger;
        var parties = ViewBLList; //JSON.parse($('#ViewBLList').val());
        var payby = $.grep(parties, function (item) { return item.BLId == $('#BLId').val(); })[0];

        $('#BLDate').val(payby.BLDate);
        $('#BlDetailId').val(payby.BlDetailId);

        $('#ContainerId').val(0);
        $('#ContainerNo').val('');
        $('#size').val('');
        $('#GateInDate').val('');
        $('#CFSCode').val('');
        $('#CustomSealNo').val('');

        GenerateLstContainer($('#BLId').val());
        $("#BLModal").modal("hide");
    }
    $('#Containerbox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstContainer > li').show();
        else {
            $('#lstContainer > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    function GenerateLstContainer(BLId) {
        debugger;
        if (BLId == null || BLId == '' || BLId == 0) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html("Pease Select BL No.");
        }
        else {
            $.ajax({
                url: '@Url.Action("ListOfContainer", "Ppg_CWCImport", new { Area = "Import" })',
                dataType: 'JSON',
                type: 'GET',
                data: { BLId: BLId },
                success: function (data) {
                    debugger;
                    //$('#ViewContainerList').val(data);
                    ViewContainerList = data;
                    var html = '';
                    $.each(data, function (i, item) {
                        html += '<li id="' + item.ContainerId + '" " onclick="GetContainerSize(this)">' + item.ContainerNo + '</li>';
                    });
                    $('#lstContainer').html(html);
                }
            });
        }

    }
    function GetContainerSize(elem) {
        $('#ContainerNo').val($(elem).text());
        $('#ContainerId').val($(elem).attr('id'));
        debugger;
        var parties = ViewContainerList; //JSON.parse($('#ViewContainerList').val());
        var payby = $.grep(parties, function (item) { return item.ContainerNo == $('#ContainerNo').val(); })[0];
        $('#OBLId').val(payby.OBLId);
        $('#size').val(payby.size);
        $('#GateInDate').val(payby.GateInDate);
        $('#CFSCode').val(payby.CFSCode);
        $('#CustomSealNo').val(payby.CustomSealNo);
        $('#LCLFCL').val(payby.LCLFCL);

        $("#ContainerModal").modal("hide");
    }
    function CalculateGroundRent() {
        var TransactionDate = $('#TransactionDate').val();
        var GateInDate = $('#GateInDate').val();
        var ContainerNo = $('#ContainerNo').val();
        var size = $('#size').val();
        var CHAShippingLineId = $('#CHAShippingLineId').val();
        var OBLType = $('#OBLType').val();
        var CargoTypeId = $('#CargoTy').val();

        var CFSCd=$('#CFSCode').val();
        if (GateInDate == '' || GateInDate == null || ContainerNo == '' || ContainerNo == null || size == '' || size == null) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html("Please Fill Up Gate In Date,Container / CBT No and Size");
        }
        else {
            $.ajax({
                async:false,
                url: '/Import/Ppg_CWCImportV2/GetInvoiceDtlForSealCutting',
                type: 'GET',
                data: {
                    TransactionDate: TransactionDate, GateInDate: GateInDate, ContainerNo: ContainerNo, size: size,
                    CHAShippingLineId: CHAShippingLineId,CFSCode: CFSCd, OBLType: 2, CargoType:CargoTypeId
                },
                success: function (data) {
                    debugger;
                    if (data != null || data != undefined) {
                        debugger;
                        $('#Balance').val(data.Balance);
                        $('#GroundRent').val(data.GroundRent);
                        $('#CGST').val(data.CGST);
                        $('#SGST').val(data.SGST);
                        $('#IGST').val(data.IGST);
                        $('#CGSTPer').val(data.CGSTPer);
                        $('#SGSTPer').val(data.SGSTPer);
                        $('#IGSTPer').val(data.IGSTPer);
                        $('#TotalAmount').val(data.TotalAmount);

                        $('#CBTDTF').val(data.CBTDTF);
                        $('#DTFCGST').val(data.DTFCGST);
                        $('#DTFSGST').val(data.DTFSGST);
                        $('#DTFIGST').val(data.DTFIGST);
                        $('#DTFCGSTPer').val(data.DTFCGSTPer);
                        $('#DTFSGSTPer').val(data.DTFSGSTPer);
                        $('#DTFIGSTPer').val(data.DTFIGSTPer);
                        $('#DTFTotalAmount').val(data.DTFTotalAmount);

                        $('#TotalTaxable').val(data.TotalTaxable);
                        $('#TotalCGST').val(data.TotalCGST);
                        $('#TotalSGST').val(data.TotalSGST);
                        $('#TotalIGST').val(data.TotalIGST);
                        $('#InvoiceAmt').val(data.InvoiceAmt);
                        $('#AllTotal').val(data.InvoiceAmt);
                        //var rawJson = JSON.parse($('#PaymentSheetModelJson').val());

                        $('#Balance').val(data.lstObldt[0].Balance);
                        $('#Balance').val(data.lstObldt[0].Balance);
                        $('#lstPostPaymentChrgBreakupAmt').val(JSON.stringify(data.lstPostPaymentChrgBreakup));
                        $('#lstPostPaymentChrgAmt').val(JSON.stringify(data.lstPostPaymentChrg));
                        $('#lstPostPaymentChrgBreakup').val(data.lstPostPaymentChrgBreakup);
                        // $('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                        var html = '';
                        $.each(data.lstPostPaymentChrg, function (i, item) {

                            // tmat = tamt + item.Amount.toFixed(2);
                            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                    + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text"  value="' + item.Taxable.toFixed(2) + '" readonly/></td>'
                                    + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                                    + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                                    + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                                    + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
                        });
                        $('#tblCWCCharges tbody').html(html);
                        /*$('#lstPostPaymentChrgBreakup').val(data.lstPostPaymentChrgBreakup);
                        var lstbreakup = [];
                        $.each(data.lstPostPaymentChrgBreakup, function (i, item) {
                            lstbreakup.push(item);
                        });

                        $('#lstPostPaymentChrgBreakup').val(lstbreakup);*/
                    }
                }
            });
        }
    }

    function Back() {
        $('#DivBody').load('/Import/Ppg_CWCImportV2/AddSealCuting');
        //$('#DivScList').load('/Import/Ppg_CWCImport/GetListOfSealCuttingDetails');
    }
    //GenerateLstGodown();
    //function GenerateLstGodown() {
    //    debugger;
    //    if ($('#ViewGodownList').val() != null && $('#ViewGodownList').val() != "") {
    //        $('#ViewGodownList').val();
    //        var parties = JSON.parse($('#ViewGodownList').val());
    //        if (parties != null) {
    //            var html = '';
    //            $.each(parties, function (i, item) {
    //                html += '<li id="' + item.GodownId + '" " onclick="GodownHide(this)">' + item.GodownNo + '</li>';
    //            });
    //            $('#lstGodown').html(html);
    //        }
    //        else {
    //            alert("No Data Found");
    //            $('#GodownNo').val('');

    //        }

    //    }

    //}
    function GodownHide(elem) {
        $('#GodownNo').val($(elem).text());
        $('#GodownId').val($(elem).attr('id'))
        debugger;

        $("#GodownModal").modal("hide");
    }
    $('#CHAShippingLinebox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstCHAShippingLine > li').show();
        else {
            $('#lstCHAShippingLine > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    //GenerateLstCHAShippingLine();
    //function GenerateLstCHAShippingLine() {

    //    if ($('#cha').val() != null && $('#cha').val() != "") {
    //        var j = JSON.stringify($('#cha').val());
    //        var conertedJson = JSON.parse(j);
    //        var parties = JSON.parse($('#cha').val());
    //        if (parties != null) {
    //            var html = '';
    //            $.each(parties, function (i, item) {
    //                html += '<li id="' + item.CHAShippingLineId + '" " onclick="GetCHAShippingLine(this)">' + item.CHAShippingLine + '</li>';
    //            });
    //            $('#lstCHAShippingLine').html(html);
    //        }
    //        else {
    //            alert("No Data Found");
    //            $('#CHAShippingLineNo').val('');
    //        }
    //    }
    //}
    @*$('#CHAShippingLineSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("ListOfCHAShippingLineData", "Ppg_CWCImportV2", new { Area = "Import" })',
            dataType: 'JSON',
            type: 'GET',
            success: function (data) {
                debugger;
                //$('#ViewContainerList').val(data);
                ViewCHAShippingLine = data;
                var html = '';
                $.each(data, function (i, item) {
                    html += '<li id="' + item.CHAShippingLineId + '" " onclick="GetCHAShippingLine(this)">' + item.CHAShippingLine + '</li>';
                });
                $('#lstCHAShippingLine').html(html);
            }
        });

    });*@
    function GetCHAShippingLine(ID,Name,FolioNo)
    {
        $('#CHAShippingLine').val(Name);
        $('#CHAShippingLineId').val(ID)
        $('#FolioNo').val(FolioNo);
        CalculateGroundRent();
        CloseSHP();
    }

    function SealCuttingOnSuccess(data) {
        debugger;
        if (data.Status == 1) {
            ResetAllFields();

            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            //$('#btnSave').prop('disabled', true);
            setTimeout(Back, TimeInSeconds);
            //GetSCList();

        }
        else if (data.Status == 2) {
            if ($('#DivMsg').hasClass('logErrMsg'))
                $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
            $('#DivMsg').html(data.Message);
            //$('#btnSave').prop('disabled', true);
            setTimeout(Back, TimeInSeconds);
        }
        else if (data.Status == 3) {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }
        else {
            if ($('#DivMsg').hasClass('logSuccMsg'))
                $('#DivMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivMsg').html(data.Message);
        }
    }

    function SealCuttingeOnFailure(data) {
        debugger;
        if ($('#DivMsg').hasClass('logErrMsg'))
            $('#DivMsg').removeClass('logErrMsg').addClass('logSuccMsg');
        $('#DivMsg').html("Fail to Save Seal Cutting ");
    }

    function GetSCList() {
        debugger;
        $('#DivScList').load('/Import/Ppg_CWCImportV2/GetListOfSealCuttingDetails');
    }
    function checkdate() {
        debugger;
        var result = moment($('#TransactionDate').val(), "DD/MM/YYYY", true).isValid();
        if (!result) {
            $('#DivMsgs').html('Incorrect Date');
            setTimeout(function () { $('#DivMsgs').html(''); }, 5000);
            $('#TransactionDate').val('');
        }
    }
    function check() {
        debugger;
        //alert(elm);
        $('#TransactionDate').val($('#TransactionDate').val().replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, ''));
        //  elm = elm.replace(/^(\d\d)(\d)$/g, '$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g, '$1/$2').replace(/[^\d\/]/g, '');
    }


    function populateCharges()
    {
        debugger;
        var lstPostPaymentChrg=[];

        $('#AllTotal').val($('#InvoiceAmt').val());
        var rawJson=[];
        var dada=$('#lstPostPaymentChrgAmt').val();
        if(dada!='')
        {
            rawJson=JSON.parse($('#lstPostPaymentChrgAmt').val());
        }


        var html = '';
        $.each(rawJson, function (i, item) {

            // tmat = tamt + item.Amount.toFixed(2);
            html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                    + '<td class="Table_right"><input id="' + item.ChargeId + '" type="text"  value="' + item.Taxable.toFixed(2) + '" readonly/></td>'
                    + '<td class="Table_right"><input id="IGSTP' + item.ChargeId + '" type="text" value="' + item.IGSTPer + '" readonly /></td>'
                    + '<td class="Table_right"><input id="IGSTA' + item.ChargeId + '" type="text" value="' + item.IGSTAmt.toFixed(2) + '" readonly /></td>'
                    + '<td class="Table_right"><input id="CGSTP' + item.ChargeId + '" type="text" value="' + item.CGSTPer + '"  readonly /></td>'
                    + '<td class="Table_right"><input id="CGSTA' + item.ChargeId + '" type="text" value="' + item.CGSTAmt.toFixed(2) + '" readonly /></td>'
                    + '<td class="Table_right"><input id="SGSTP' + item.ChargeId + '" type="text" value="' + item.SGSTPer + '"  readonly /></td>'
                    + '<td class="Table_right"><input id="SGSTA' + item.ChargeId + '" type="text" value="' + item.SGSTAmt.toFixed(2) + '" readonly /></td>'
                    + '<td class="Table_right"><input id="TOT' + item.ChargeId + '" type="text" value="' + item.Total.toFixed(2) + '" readonly /></td></tr>';
        });
        $('#tblCWCCharges tbody').html(html);
    }

</script>

<script>
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
    var SHPPage = -1;
    function CloseSHP()
    {
        SHPPage = -1;
        $('#lstCHAShippingLine tbody').html('');
        $('#CHAShippingLinebox').val('');
        $("#CHAShippingLineModal").modal("hide");
    }
    function LoadMoreSHP() {
        SHPPage++;
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/ListOfCHAShippingLineData',
            type: 'GET',
            data: { PartyCode: "", Page: SHPPage },
            success: function (data)
            {
                if (data.Status == 1) {
                    var html = '';
                    $.each(data.Data.LstParty, function (item, elem) {
                        html += '<tr onclick="GetCHAShippingLine(' + elem.CHAShippingLineId + ',&quot;' + elem.CHAShippingLine + '&quot;,&quot;' + elem.FolioNo + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAShippingLine + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });
                    if ($('#lstCHAShippingLine tbody tr').length > 0)
                        $('#lstCHAShippingLine tbody').append(html);
                    else $('#lstCHAShippingLine tbody').html(html);
                    if (data.Data.State == true)
                        $('#btnSHP').prop('disabled', false);
                    else $('#btnSHP').prop('disabled', true);
                }
            }
        });
    }
    function SearchSHP() {
        SHPPage = -1;
        var PayeeCode = $('#CHAShippingLinebox').val();
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/ListOfCHAShippingLineData',
            type: 'GET',
            data: { PartyCode: PayeeCode, Page: 0 },
            success: function (data) {
                if (data.Status == 1) {
                    var html = '';
                    $.each(data.Data.LstParty, function (item, elem) {
                        html += '<tr onclick="GetCHAShippingLine(' + elem.CHAShippingLineId + ',&quot;' + elem.CHAShippingLine + '&quot;,&quot;' + elem.FolioNo + '&quot;)"><td colspan="8" width="80%" class="txt_wrp">' + elem.CHAShippingLine + '</td><td colspan="4" width="20%" class="txt_wrp">' + elem.PartyCode + '</td></tr>';
                    });

                    $('#lstCHAShippingLine tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnSHP').prop('disabled', false);
                    else $('#btnSHP').prop('disabled', true);
                }
            }
        });
    }

    document.getElementById('CHAShippingLinebox').addEventListener('keyup', debounce(function ()
    {
        if (document.getElementById('CHAShippingLinebox').value != "")
            SearchSHP();
        else {
            $('#lstCHAShippingLine tbody').html('');
            LoadMoreSHP();
        }
    }, 800));
</script>