@model IEnumerable<CwcExim.Areas.Import.Models.Ppg_TrainSummaryUploadV2>
<table class="table table-bordered table-striped" id="tblTrainSummary" style="width:100%">
    <thead>
        <tr>
            <th width="3%" class="text-center">@Html.DisplayName("View")</th>
            <th width="3%" class="text-center">@Html.DisplayName("Print")</th>
            <th width="10%" class="text-center">@Html.DisplayName("Sl No")</th>
            <th>Train No</th>
            <th>Train Date</th>
            <th>Port Name</th>
            <th>Upload Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="ViewTrainSummary('@item.TrainSummaryUploadId','@item.TrainNo','@item.TrainDate','@item.PortName')"><i class="fa fa-eye"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="PrintTrainSummary('@item.TrainNo','@item.TrainSummaryUploadId')"><i class="fa fa-print" aria-hidden="true"></i></a></div></td>
                    <td class="text-center">@SerialNo</td>
                    <td>@item.TrainNo</td>
                    <td>@item.TrainDate</td>
                    <td>@item.PortName</td>
                    <td>@item.UploadDate</td>
                </tr>
                SerialNo++;
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var tblTrainSummary = $('#tblTrainSummary').DataTable({
            "bFilter": false,
            "bInfo": false,
            "aoColumns": [
                       { "sName": "View", "bSortable": false, "width": "3%" },
                       { "sName": "Print", "bSortable": false, "width": "3%" },
                       { "sName": "SL No", "width": "10%" },
                       { "sName": "Train No" },
                       { "sName": "Train Date", "bSortable": false },
                       { "sName": "Port Name" },
                       { "sName": "Upload Date" }
            ]
        });
        new $.fn.dataTable.FixedHeader(tblTrainSummary);
    });
    function ViewTrainSummary(TrainSummaryUploadId, TrainNo, TrainDate, PortName) {
        angular.element(document.getElementById('DivTrnSumryTKD')).scope().ViewTrainSummary(TrainSummaryUploadId, TrainNo, TrainDate, PortName);
    }
    function PrintTrainSummary(TrainNo, TrainSummaryUploadId) {
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/PrintTrainSummary',
            type: 'POST',
            dataType: 'JSON',
            data: { 'TrainNo': TrainNo, 'TrainSummaryUploadId': TrainSummaryUploadId },
            success: function (data) {
                if (data.Status == 1) {
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes');
                }
            }
        });
    }
</script>

