@model IEnumerable<CwcExim.Areas.Import.Models.SealCuttingV2>

<table class="table table-bordered table-striped" id="tblImpSCList">
    <thead>
        <tr>
            <th style="width:3%;" class="text-center">@Html.DisplayName("Edit")</th>
            <th style="width:3%;" class="text-center">@Html.DisplayName("View")</th>
            <th style="width:3%;" class="text-center">@Html.DisplayName("Print")</th>
            <th style="width:5%;" class="text-center">@Html.DisplayName("SL No")</th>
            <th style="width:15%;">Seal Cutting No</th>
            <th style="width:15%;">Seal Cutting Date</th>
            <th style="width:10%;">InvoiceNo</th>
            <th style="width:10%;">Container / CBT No</th>
            <th style="width:5%;">Size</th>
            <th style="width:15%;">Gate In Date</th>
            <th style="width:10%;">ICD Code</th>
            <th style="width:10%;">Godown No</th>            
        </tr>
    </thead>
    <tbody>
        @{
            var Serial = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="EditSealCuttingById(@item.SealCuttingId)"><i class="fa fa-pencil"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="ViewSealCuttingById(@item.SealCuttingId)"><i class="fa fa-eye"></i></a></div></td>
                    <td class="text-center"><div class="table_icon"><a href="#" onclick="PrintInvoiceByNo('@item.InvoiceNo')"><i class="fa fa-print"></i></a></div></td>
                    <td class="text-center">@Serial</td>
                    <td>@item.SealCuttingNo</td>
                    <td>@item.TransactionDate</td>
                    <td>@item.InvoiceNo</td>
                    <td>@item.ContainerNo</td>
                    <td>@item.size</td>
                    <td>@item.GateInDate</td>
                    <td>@item.CFSCode</td>
                    <td>@item.GodownNo</td>                                       
                </tr>
                Serial++;
            }
        }
    </tbody>
</table>
<div class="col-md-3"><input class="col-xs-12 btn log_Btn_sm pos_ab" type="button" value="Load More Data" onclick="LoadMoreListData()" /></div>
<script>
    var Page = 0;
    $(document).ready(function () {


        var tblImpJOList = $('#tblImpSCList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                       { "sName": "Edit", "bSortable": false, "width": "3%" },
                       { "sName": "View", "bSortable": false, "width": "3%" },
                       { "sName": "Print", "bSortable": false,"width": "3%" },
                       { "sName": "Sl No","width": "5%" },
                       { "sName": "Seal Cutting No", "bSortable": false, "width": "15%" },
                       { "sName": "Seal Cutting Date", "bSortable": false, "width": "15%" },
                       { "sName": "InvoiceNo", "bSortable": false, "width": "10%" },
                       { "sName": "Container / CBT No", "bSortable": false, "width": "10%" },
                       { "sName": "Size", "bSortable": false, "width": "5%" },
                       { "sName": "Gate In Date", "bSortable": false, "width": "15%" },
                       { "sName": "ICD Code", "bSortable": false, "width": "10%" },
                       { "sName": "Godown No", "bSortable": false, "width": "10%" }                     

            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                //$('td:eq(4),td:eq(7),td:eq(8),td:eq(9),td:eq(10)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "3%");
                $('td:eq(1)', nRow).css("width", "3%");
                $('td:eq(2)', nRow).css("width", "3%");
                $('td:eq(3)', nRow).css("width", "5%");
                $('td:eq(4)', nRow).css("width", "10%");
                $('td:eq(5)', nRow).css("width", "5%");
                $('td:eq(6)', nRow).css("width", "15%");
                $('td:eq(7)', nRow).css("width", "10%");
                $('td:eq(8)', nRow).css("width", "10%");
                $('td:eq(9)', nRow).css("width", "5%");
                $('td:eq(10)', nRow).css("width", "5%");
                $('td:eq(11)', nRow).css("width", "5%");
                //$('td:eq(12)', nRow).css("width", "5%");
            }
        });
        new $.fn.dataTable.FixedHeader(tblImpJOList);

       
        
    });
    var r2 = JSON.parse($("#hdnRights").val());
    if (r2.CanEdit == 1) {
        //$('.edit').css('display', 'block');      
        //$('.edit').disabled=false;
    } else {
        //$('.edit').css('display', 'none');
        $('.edit').removeAttr('onclick');
        $('.edit').attr('onclick', 'return false');
    }

    if (r2.CanDelete == 1) {
        //$('.delete').css('display', 'block');

    } else {
        //$('.delete').css('display', 'none');

        $('.delete').removeAttr('onclick');
        $('.delete').attr('onclick', 'return false');
    }

    if (r2.CanView == 1) {
        //$('.view').css('display', 'block');

    } else {
        //$('.view').css('display', 'none');
        $('.view').removeAttr('onclick');
        $('.view').attr('onclick', 'return false');
    }

    function ViewSealCuttingById(SealCuttingId) {
        debugger;
        $('#DivBody').load('/Import/PpG_CWCImportV2/ViewSealCuttingDetailById?SealCuttingId=' + SealCuttingId);
    }
    function EditSealCuttingById(SealCuttingId) {
        debugger;
        $('#DivBody').load('/Import/PpG_CWCImportV2/EditSealCuttingById?SealCuttingId=' + SealCuttingId);
    }
    function DeleteSealCutting(SealCuttingId) {
        debugger;
       //// $('#DivBody').load('/Import/PpG_CWCImport/DeleteSealCutting?SealCuttingId=' + SealCuttingId);
        var Confirm = confirm("Are you sure you want to delete?");
        if (Confirm == true) {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url:'@Url.Action("DeleteSealCutting", "PpG_CWCImportV2", new { Area = "Import" })',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'GET',
                data: { SealCuttingId: SealCuttingId },
                success: function (data) {
                    alert(data.Message);
                    LoadSealCuting();
                }
            });
        }
    }
    function PrintSealCutting(InvoiceId) {
        debugger;
        var Token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("SealCuttingInvoicePrint", "PpG_CWCImportV2", new { Area = "Import" }) ',
            headers: { "__RequestVerificationToken": Token },
            dataType: 'JSON',
            type: 'POST',
            data: { InvoiceID: InvoiceId },
            success: function (data) {
                if (data.Status == 1)
                    window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
                else
                    alert(data.Message);
            }
        });


    }

    function PrintInvoiceByNo(invoiceno) {
        debugger;
        if (invoiceno != '') {
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("GetBulkInvoiceReport", "Ppg_ReportCWCV2", new { Area = "Report" }) ',
                headers: { "__RequestVerificationToken": Token },
                dataType: 'JSON',
                type: 'POST',
                data: {
                    InvoiceNumber: invoiceno,
                    InvoiceModule: 'IMPSC',
                    PeriodFrom: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    PeriodTo: '@DateTime.Now.ToString("dd/MM/yyyy")',
                    InvoiceModuleName: 'SEAL CUTTING',
                },
                success: function (data) {
                    if (data.Status == 1)
                        window.open(data.Data + "?_t=" + (new Date().getTime()), "_blank");
                    else
                        alert(data.Data);
                }
            });
        }
        else {
            alert("No Record Found.");
        }
    }
    function LoadMoreListData() {
        debugger;
        var Module = $('#hdnModule').val();
        var InvoiceNo = $('#SearchInvoiceNo').val().trim();
        var InvoiceDate = $('#SearchInvoiceDate').val().trim();
        var multi = $('#SearchMultiple').val().trim()

        if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && Validate() == true && $('#SearchMultiple').val() != "") {
            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + '&multiple=' + multi + "&Module=IMPDeli";
        }

        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() != "" && $('#SearchMultiple').val() == "") {
            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + InvoiceDate + '&multiple=' + null + "&Module=IMPDeli";

        }
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() == "" && $('#SearchMultiple').val() != "") {

            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + null + '&multiple=' + multi + "&Module=IMPDeli";
        }
        else if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() != "" && $('#SearchMultiple').val() != "") {

            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + null + '&InvoiceDate=' + InvoiceDate + '&multiple=' + multi + "&Module=IMPDeli";
        }
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() == "" && $('#SearchMultiple').val() == "") {
            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + null + '&multiple=' + multi + "&Module=IMPDeli";
        }
        else if ($('#SearchInvoiceNo').val() != "" && $('#SearchInvoiceDate').val() == "" && $('#SearchMultiple').val() == "") {
            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + InvoiceNo + '&InvoiceDate=' + null + '&multiple=' + null + "&Module=IMPDeli";
        }
        else if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() == "" && $('#SearchMultiple').val() != "") {
            var URL = '/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceNo=' + null + '&InvoiceDate=' + null + '&multiple=' + multi + "&Module=IMPDeli";
        }

        else if ($('#SearchInvoiceNo').val() == "" && $('#SearchInvoiceDate').val() != "" && $('#SearchMultiple').val() == "")
            $('#DivListOfInvoice').load('/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceDate=' + InvoiceDate + "&Module=IMPDeli");

        else if (Validate() == true)
            $('#DivListOfInvoice').load('/Import/Ppg_CWCImport/ListOfMergeDeliveryApplication?InvoiceDate=' + InvoiceDate + "&Module=IMPDeli");
        //Page = Page + 1;
        $.ajax({
            url: '/Import/PpG_CWCImportV2/LoadListMoreDataForSealCutting',
            type: 'GET',
            dataType: 'JSON',
            data: { Page: Page + 1 },
            success: function (data) {
                debugger;
                if (data != null && data != '' && data != undefined && data.length > 0) {
                    Page++;
                    var html = '';
                    var dt = $('#tblImpSCList').dataTable();
                    var len = dt.fnGetData().length;
                    $.each(data, function (i, item) {
                        debugger;
                        len++;
                        dt.fnAddData([
        len,
        [item.SealCuttingNo],
        [item.TransactionDate],
        [item.InvoiceNo],
        [item.ContainerNo],
        [item.size],
        [item.GateInDate],
        [item.CFSCode],
         [item.GodownNo],
        ['<a href="#" onclick=EditSealCuttingById(' + [item.SealCuttingId] + ')><i class="fa fa-pencil-square Edit"></i></a>'],
        ['<a href="#" onclick=ViewSealCuttingById(' + [item.SealCuttingId] + ')><i class="fa fa-search-plus Edit"></i></a>'],
        ['<a href="#" onclick=PrintInvoiceByNo(' + [item.SealCuttingId] + ')><i class="fa fa-file-pdf-o Edit"></i></a>'],
        //['<a href="#" onclick=DeleteSealCutting(' + [item.SealCuttingId] + ')><i class="fa fa-window-close-o Delete"></i></a>'],
                        ]);
                    });
                }
                else alert('No more data available');
            }
        });
    }
 </Script>