@model CwcExim.Areas.Import.Models.PPG_Internal_MovementAppV2

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>View Internal Movement Application-Import</h4>
                </div>
            </div>
            @Html.Hidden("ContainerJson")
            @Html.Hidden("BOEJson")
            @Html.Hidden("hdnAddress")
            @Html.Hidden("hdnState")
            @Html.Hidden("hdnStateCode")
            @Html.Hidden("PaymentSheetModelJson")

            <div class="content_wrp">
                <div id="DivAddMovement">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Movement App No:</label>
                                @Html.HiddenFor(m => m.DestuffingEntryId)
                                @Html.HiddenFor(m => m.DestuffingEntryDtlId)
                                @Html.TextBoxFor(m => m.MovementNo, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Movement App Date:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.MovementDate, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>OBL No:</label>
                                <div class="position-relative">
                                    @Html.TextBoxFor(m => m.BOENo, new { @readonly = true })                                    
                                    @Html.ValidationMessageFor(m => m.BOENo, "", new { @class = "Error_Msg" })
                                    <span style="color:red" id="ErrBOE"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>OBL Date:</label>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.BOEDate, new { @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                                        
                    <div class="row Form_Space_top">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Cargo Description:</label>
                                @Html.TextAreaFor(m => m.CargoDescription, new { @style = "height:100px;width:100%", @readonly = true })
                            </div>
                        </div>
                    </div>
                                        
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>No Of Packages:</label>
                                @Html.TextBoxFor(m => m.NoOfPackages, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Gross Wt(Kg):</label>
                                @Html.TextBoxFor(m => m.GrossWeight, new { @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Godown:</label>
                                @Html.HiddenFor(m => m.FromGodownId)
                                @Html.TextBoxFor(m => m.OldGodownName, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>To Godown:</label>
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.ToGodownId)
                                    @Html.TextBoxFor(m => m.NewGodownName, new { @readonly = true })                                    
                                    @Html.ValidationMessageFor(m => m.NewGodownName)
                                    <span style="color:red" id="Errgod"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Old Location:</label>
                                @Html.HiddenFor(m => m.OldLocationIds)
                                @Html.TextBoxFor(m => m.OldLctnNames, new { @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>New Location:</label>
                                <div class="position-relative">
                                    @Html.HiddenFor(m => m.LocationId)
                                    @Html.HiddenFor(m => m.NewLctnNames)
                                    @Html.TextBoxFor(m => m.LocationName, new { @readonly = true })                                    
                                    @Html.ValidationMessageFor(m => m.LocationName)
                                    <span style="color:red" id="Errloc"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row SignUp_space_bottom SignUp_space_top">
                        <div class="stoke"></div>
                    </div>

                    <div class="d-flex justify-content-left">
                        <input type="button" id="btnReset" class="btn btn-primary mr-1 btn-100px" value="Back" onclick="ResetMovement()">
                    </div>

                    <div class="logSuccMsg" id="DivSucMsg" style="background-color:transparent"></div>
                    <div class="logErrMsg Form_Space_top" id="DivErrMsg" style="background-color:transparent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>
    function ResetMovement() {
        $('#DivBody').load('/Import/Ppg_CWCImportV2/CreateInternalMovementApp');
    }
</script>