@model CwcExim.Areas.Report.Models.DailyPdaActivityReport

@{
    ViewBag.Title = "BulkQRFromIRN";
}

<style>
    .slimScrollDiv, #slim_scroll {
        height: 182px !important;
    }
</style>

@if (ViewBag.InvoiceList != null)
{
    <input type="hidden" id="hdnInvoiceList" value="@ViewBag.InvoiceList" />
}
else
{
    <input type="hidden" id="hdnInvoiceList" value="" />
}

@using (Ajax.BeginForm("AddEditBulkQRFrom", "PPG_CWCReportV2", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PaymentOnSuccess", OnFailure = "PaymentOnFailure" }, new { @Id = "PaymentSheetForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("PaymentSheetModelJson")

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Bulk QR Code Generation</h4>
                        </div>
                    </div>
                    <div class="Form_Space_top Form_Space_bottom">
                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">

                                </div>
                            </div>
                            <div class="Form_Space_top" style="padding:5px;">
                                <div class="row">
                                    <div class="form-group Form_Input">
                                        <div class="col-md-12">
                                            <div class="col-sm-2">
                                                From Date
                                            </div>
                                            <div class="col-sm-4 Date_Img">
                                                @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                                @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-sm-2">
                                                To Date
                                            </div>
                                            <div class="col-sm-4 Date_Img">
                                                @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                                @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>
                                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
</div></div></div>


                                        
                                        <div class="row SignUp_space_bottom2">
                                            <div class="col-md-offset-4-5 col-md-2-5">
                                                <input type="button" id="BtnGenerateIRN" class="btn log_Btn_sm" value="Show" onclick="ContainerSelect()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Form_Space_top Form_Space_bottom">
                                    <div class="Head_h5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>Invoice</h5>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-12">
                                                <div id="slim_scroll">
                                                    <table id="tblInvoice" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Invoice No</th>
                                                                <th>Invoice Date</th>
                                                                <th>IRN No</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Credit Note*@
                                <div class="Form_Space_top Form_Space_bottom">
                                    <div class="Head_h5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>Credit Note</h5>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-12">
                                                <div id="slim_scroll_1">
                                                    <table id="tblCreditNote" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Credit Note No</th>
                                                                <th>Credit Note Date</th>
                                                                <th>IRN No</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Debit Note*@
                                <div class="Form_Space_top Form_Space_bottom">
                                    <div class="Head_h5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>Debit Note</h5>
                                            </div>
                                        </div>
                                        <div class="row Form_Space_top">
                                            <div class="col-md-12">
                                                <div id="slim_scroll_2">
                                                    <table id="tblDebitNote" class="table table-bordered table-striped dataTable Table_center" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Debit Note No</th>
                                                                <th>Debit Note Date</th>
                                                                <th>IRN No</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row SignUp_space_bottom SignUp_space_top">
                                    <div class="stoke"></div>
                                </div> 
                   
                                <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent"></div>
                                <div class="row SignUp_space_bottom2">
                                    <div class="col-md-offset-4-5 col-md-2-5">
                                        <input type="submit" id="BtnGenerateIRN" class="btn log_Btn_sm" value="Get QR Code" onclick="BindJson()" />
                                    </div>
                                </div>

                                @*<div class="row SignUp_space_bottom SignUp_space_top">
                    <div class="stoke"></div>
                </div>

                <div><br /></div>*@

                            </div>
                        </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")


<script>

    $(document).ready(function () {
        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
    });

    function ContainerSelect() {

        debugger;


        if ($("#PeriodFrom").val() != '' && $("#PeriodTo").val() != '') {



            $('#DivDwnldWavMsg').html('');
            var From = $('#PeriodFrom').val();
            var To = $('#PeriodTo').val();
            var SF = From.split('/');
            var ST = To.split('/');
            var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
            var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
            if (FromDate > ToDate) {
                $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
                return false;
            }
            else {






                debugger;
                $.ajax({
                    url: '/Report/Ppg_ReportCWCV2/GetQRFromIRNDetails',
                    type: 'POST',
                    data: { 'FromDate': $("#PeriodFrom").val(), 'ToDate': $("#PeriodTo").val() },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data != null && data != 'undefined') {
                            $('#PaymentSheetModelJson').val(JSON.stringify(data));

                            var html = '';
                            var html1 = '';

                            //Invoice Binding
                            debugger;
                            var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.InvoiceType == "Inv"; });
                            html = '';
                            var TotalCWC = 0;
                            $.each(CWCCharge, function (i, item) {
                                //html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                html += '<tr><td>' + item.InvoiceNo + '</td>'
                                        + '<td>' + item.InvoiceDate + '</td>'
                                        + '<td>' + item.GstNo + '</td>';

                            });
                            $('#tblInvoice tbody').html(html);

                            // Credit Note Binding

                            debugger;
                            var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.InvoiceType == "C"; });
                            html = '';
                            var TotalCWC = 0;
                            $.each(CWCCharge, function (i, item) {
                                //html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                html += '<tr><td>' + item.InvoiceNo + '</td>'
                                        + '<td>' + item.InvoiceDate + '</td>'
                                        + '<td>' + item.GstNo + '</td>';

                            });
                            $('#tblCreditNote tbody').html(html);

                            // Debit Note Binding
                            debugger;
                            var CWCCharge = $.grep(data.lstPostPaymentChrg, function (item) { return item.InvoiceType == "D"; });
                            html = '';
                            var TotalCWC = 0;
                            $.each(CWCCharge, function (i, item) {
                                TotalCWC += item.Total;
                                //html += '<tr><td>' + item.Clause + '. ' + item.ChargeName + '</td>'
                                html += '<tr><td>' + item.InvoiceNo + '</td>'
                                          + '<td>' + item.InvoiceDate + '</td>'
                                          + '<td>' + item.GstNo + '</td>';
                            });
                            $('#tblDebitNote tbody').html(html);

                        }
                        else {
                            $('#PaymentSheetModelJson').val('');
                            $('#tblInvoice tbody').html('');
                            $('#tblCreditNote tbody').html('');
                            $('#tblDebitNote').val('');
                        }
                    }
                });
            }
        }
        else
        {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Please select Data ');
        }
    }



    function BindJson() {

          //var conf = confirm("Do you want to Generate IRN ?");
          //  if (conf) {
          //      try {
                    debugger;

                    //$('#PaymentSheetModelJson').val(JSON.stringify(rawJson));
                    //console.log(rawJson);
                    $('form#PaymentSheetForm').submit();
            //    }
            //    catch (e) {

            //    }
            //}
        }

</script>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });

    $(function () {
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
    });
    $(function () {
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });
</script>
<script>
    function PaymentOnSuccess(data) {
        debugger;
        if (data.Status == 1 || data.Status == 2) {
            if ($('#DivPaySheetCargoMsg').hasClass('logErrMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logErrMsg').addClass('logSuccMsg');

            $('#PaymentSheetModelJson').val(JSON.stringify(data.Data));
            $('#DivPaySheetCargoMsg').html(data.Message);
            setTimeout(function () { LoadPage(); }, 5000);
        }
        else {
            if ($('#DivPaySheetCargoMsg').hasClass('logSuccMsg'))
                $('#DivPaySheetCargoMsg').removeClass('logSuccMsg').addClass('logErrMsg');
            $('#DivPaySheetCargoMsg').html(data.Message);

        }
    }
    function PaymentOnFailure()
    {
        //alert("Error");
    }

    function LoadPage() {
        $('#DivBody').load('/Report/Ppg_ReportCWCV2/BulkQRFromIRN');
    }
    //function GenerateIRN() {
    //    $.ajax({
    //        url: '/Import/Wfld_CWCImport/GetIRNForYardInvoice',
    //        type: 'POST',
    //        data: { InvoiceNo: $('#InvoiceNo').val(), SupplyType: $('#ServiceType').val() },
    //        // headers:{"__RequestVerificationToken":Token},
    //        dataType: 'JSON',
    //        success: function (data) {

    //            alert(data.Message);
    //        }
    //    });
    //}




</script>
