
@model CwcExim.Areas.Report.Models.Ppg_E04Report

@*@{

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";

    }

    @using (Ajax.BeginForm("GetE04Search", "Ppg_ReportCWCV2", options))
    {
        @Html.AntiForgeryToken()*@


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>LEO Details (E04)</h4>
                </div>
            </div>
            <div class="content_wrp">
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ship Bill No:</label>
                        </div>
                        @Html.HiddenFor(m => m.ID)
                        @Html.TextBoxFor(m => m.SB_NO, new { @placeholder = "Enter Shipbill No" })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Exporter:</label>
                        </div>
                        @Html.TextBoxFor(m => m.EXP_NAME, new { @placeholder = "Enter Exporter Name" })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Ship Bill Date:</label>
                        </div>
                        <div class="position-relative Date_Img">
                            @Html.TextBoxFor(m => m.SB_DATE, new { @placeholder = "Select Ship Bill Date", @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row SignUp_space_top SignUp_space_bottom">
                    <div class="stoke"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" id="BtnSearch" class="btn btn-primary mr-1 btn-100px" value="Search" onclick="GetE04SearchDetails()">
                    <input type="button" class="btn btn-primary-border btn-100px" value="Reset" onclick="ResetAllFields()">
                </div>

                <div class="logErrMsg Form_Space_bottom" id="DivPDAErrMsg" style="background-color:transparent;"></div>

                <div class="d-flex justify-content-left Form_Space_top Form_Space_bottom">
                    <input type="button" id="btnShowList" class="btn btn-primary mr-1 btn-100px" value="Show List" onclick="ShowList()">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivContainerStuffingList">
                            <table class="table table-bordered table-striped dataTable" style="width:100%; table-layout:fixed; word-break:break-word; overflow:hidden;">
                                <thead>
                                    <tr>
                                        <th class="text-center">View</th>
                                        <th class="text-center">Sl No</th>
                                        <th class="text-center">SB No</th>
                                        <th class="text-center">SB Date</th>
                                        <th class="text-center">Exporter Name</th>
                                        <th class="text-center" width="200px">Address, Address1, City, Pin</th>
                                        <th class="text-center">FOB Value</th>
                                        <th class="text-center">Port of Destination</th>
                                        <th class="text-center">Gateway Port</th>
                                        <th class="text-center">LEO Date</th>
                                        <th class="text-center">PCIN</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="DivContainerStuffingListNew">
                            <table class="table table-bordered table-striped dataTable" id="TblE04List" style="width:100%; table-layout:fixed; word-break:break-word; overflow:hidden;">
                                <thead>
                                    <tr>
                                        <th class="text-center">View</th>
                                        <th class="text-center">Sl No</th>
                                        <th class="text-center">SB No</th>
                                        <th class="text-center">SB Date</th>
                                        <th class="text-center">Exporter Name</th>
                                        <th class="text-center" width="200px">Address, Address1, City, Pin</th>
                                        <th class="text-center">FOB Value</th>
                                        <th class="text-center">Port of Destination</th>
                                        <th class="text-center">Gateway Port</th>
                                        <th class="text-center">LEO Date</th>
                                        <th class="text-center">PCIN</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*}*@
@Scripts.Render("~/bundles/jqueryval")
<script>


    $("#SB_DATE").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='SB_DATE']").html('');
        }
    });

    function ShowList() {
        $('#TblE04List').hide();
        $('#DivContainerStuffingList').load('/Report/Ppg_ReportCWCV2/GetE04List');
    }


    //$('#BtnSearch').on("click", function () {

    //    if ($('#SB_NO').val() == '' && $('#EXP_NAME').val() == '' && $('#SB_DATE').val() == '') {
    //        $('#DivPDAErrMsg').html("Please Enter Either Shipping Bill No or Shipping Bill Date or Exporter Name").removeClass('logSuccMsg').addClass('logErrMsg');
    //            return false;
    //        }
    //        else {
    //        $('#DivPDAErrMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('');
    //        //$('#DivContainerStuffingList').load(+'/Report/Ppg_ReportCWCV2/GetE04List');
    //        }

    //    return true;
    //});

    function GetE04SearchDetails() {
        debugger;

        var SBNo = $('#SB_NO').val();
        var SBDate = $('#SB_DATE').val();
        var ExpName = $('#EXP_NAME').val();

        if ($('#SB_NO').val() == '' && $('#EXP_NAME').val() == '' && $('#SB_DATE').val() == '') {
            $('#DivPDAErrMsg').html("Please Enter Either Shipping Bill No or Shipping Bill Date or Exporter Name").removeClass('logSuccMsg').addClass('logErrMsg');
            return false;
        }
        else {
            $('#DivPDAErrMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('');
            //$('#DivContainerStuffingList').load(+'/Report/Ppg_ReportCWCV2/GetE04List');


            $.ajax({
                url: '/Report/Ppg_ReportCWCV2/GetE04Search',
                type: 'GET',
                dataType: 'JSON',
                data: {
                    SB_No: SBNo,
                    SB_Date: SBDate,
                    Exp_Name: ExpName
                },
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        debugger
                        var Html = '';
                        $.each(data.Data, function (i, item) {
                            Html += '<tr><td class="text-center"><div class="table_icon"><a href="#" onclick="ViewE04Detail(' + item.ID + ')"><i class="fa fa-eye" aria-hidden="true"></i></a></div></td><td class="text-center">' + (i + 1) + '</td><td>' + item.SB_NO + '</td><td>' + item.SB_DATE + '</td><td>' + item.EXP_NAME + '</td><td>' + item.Address + '</td><td>' + item.FOB + '</td><td>' + item.POD + '</td><td>' + item.GATEWAY_PORT + '</td><td>' + item.LEO_DATE + '</td><td>' + item.PCIN + '</td></tr>';
                        });
                        $('#DivContainerStuffingList').empty();
                        //$('#DivContainerStuffingListNew').show();
                        $('#TblE04List>tbody').html(Html);
                        //$('#DivContainerStuffingList').html(Html);
                        $('#TblE04List').show();
                    }
                }
            });
        }
    }

    function ViewE04Detail(ID) {
        debugger;
        $('#DivBody').load('/Report/Ppg_ReportCWCV2/ViewE04DetailsReport?ID=' + ID);
    }

    function ResetAllFields() {
        $('#SB_NO').val('');
        $('#SB_DATE').val('');
        $('#EXP_NAME').val('');
    }

    $(document).ready(function () {
        $('#TblE04List').hide();
    });
</script>