@model CwcExim.Areas.Report.Models.PpgOocDetailReport

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11"> 
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Ooc Details</h4>
                        </div>
                    </div>    
                    @Html.HiddenFor(m => m.ID)
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>BOE NO:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.BOE_NO, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>BOE DATE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.BOE_DATE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>IGM NO:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.IGM_NO, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>IGM DATE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.IGM_DATE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>LINE NO:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.LINE_NO, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>SUB LINE NO:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.SUB_LINE_NO, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OOC TYPE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.OOC_TYPE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>OOC NO:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.OOC_NO, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>OOC DATE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.OOC_DATE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>MSG TYPE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.MSG_TYPE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>NO PKG:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.NO_PKG, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>PKG TYPE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.PKG_TYPE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>GR WT:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.GR_WT, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>UNIT TYPE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.UNIT_TYPE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CIF VALUE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.CIF_VALUE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>DUTY:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.DUTY, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>ASM NO:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.ASM_NO, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                                <label>G DATE:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 ">
                                @Html.TextBoxFor(m => m.G_DATE, new { @class = "form-control input-sm", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2 padding_rt">
                                <label>CUSTOM CD:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                @Html.TextBoxFor(m => m.CUSTOM_CD, new { @class = "form-control input-sm", @readonly = true })
                            </div> 
                        </div>
                    </div>

                    <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                     </div>
                    
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2">
                            <button id="BtnBack" type="submit" class="btn log_Btn_sm">Back</button>
                        </div>
                    </div>
                    
                    <div class="row SignUp_space_bottom2 SignUp_space_top2">
                        <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#BtnBack').on("click", function () {

        $('#DivBody').load('/Report/Ppg_ReportCWCV2/OocDetail');
    });
</script>

