@model IEnumerable<CwcExim.Areas.Report.Models.PpgOocDetailReport>


    <div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Ooc Details</h4>
                </div>
            </div>
            <div class="content_wrp">
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>BOE NO:</label>
                        </div>
                        @Html.TextBox("BOE_NO", "", new { @placeholder = "BOE No" })
                    </div>
                    <div class="col-md-3 col-md-offset-6">
                        <div class="form-group">
                            <label>BOE DATE:</label>
                        </div>
                        <div class="position-relative Date_Img">
                            @Html.TextBox("BOE_DATE", "", new { @readonly = true })
                        </div>
                    </div>
                </div>

                <div class="row SignUp_space_top SignUp_space_bottom">
                    <div class="stoke"></div>
                </div>

                <div class="SignUp_space_bottom">
                    <div class="d-flex justify-content-left">
                        <button id="BtnSearch" type="submit" class="btn btn-primary mr-1 btn-100px">Search</button>
                    </div>
                </div>

                <div class="row SignUp_space_bottom2 SignUp_space_top2">
                    <div class="logSuccMsg Form_Space_bottom" id="DivMsg" style="background-color:transparent;"></div>
                </div>

                <div class="row Form_Space_top Form_Space_bottom">
                    <div class="col-md-12">
                        <table id="tblOocList" class="table table-bordered table-striped dataTable " style="width:100%!important">
                            <thead>
                                <tr>
                                    <th>View</th>
                                    <th style="display:none;">ID </th>
                                    <th>SL No</th>
                                    <th>BOE NO</th>
                                    <th>BOE DATE</th>
                                    <th>IGM NO</th>
                                    <th>IGM DATE</th>
                                    <th>LINE NO</th>
                                    <th>SUB LINE NO</th>
                                    <th>OOC TYPE</th>
                                    <th>OOC NO</th>
                                    <th>OOC DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var SerialNo = 1;
                                        foreach (var item in Model)
                                        {
                                        <tr>
                                            <td style="width:5%;" class="text-center"><div class="table_icon"><a href="#" onclick="ViewOocDetail(@item.ID)"><i class="fa fa-eye"></i></a></div></td>
                                            <td style="width:5%;" class="text-center">@SerialNo</td>
                                            <td style="width:10%;">@item.BOE_NO</td>
                                            <td style="width:10%;">@item.BOE_DATE</td>
                                            <td style="width:10%;">@item.IGM_NO</td>
                                            <td style="width:10%;">@item.IGM_DATE</td>
                                            <td style="width:10%;">@item.LINE_NO</td>
                                            <td style="width:10%;">@item.SUB_LINE_NO</td>
                                            <td style="width:10%;">@item.OOC_TYPE</td>
                                            <td style="width:10%;">@item.OOC_NO</td>
                                            <td style="width:10%;">@item.OOC_DATE</td>
                                        </tr>
                                            SerialNo++;
                                        }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<script>

    var Page = 0;
    $(document).ready(function(){
        var TblOocList= $('#tblOocList').DataTable({
            "bFilter": false,
            "bInfo": false,
            "pageLength": 50,
            "aoColumns": [
                { "sName": "SL No","width": "5%"  },
                { "sName": "BOE NO", "bSortable": false, "width": "10%" },
                { "sName": "BOE DATE", "bSortable": false, "width": "10%" },
                { "sName": "IGM NO", "bSortable": false, "width": "10%" },
                { "sName": "IGM DATE", "bSortable": false, "width": "10%" },
                { "sName": "LINE NO", "width": "10%" },
                { "sName": "SUB LINE NO", "width": "10%" },
                { "sName": "OOC TYPE", "width": "10%" },
                { "sName": "OOC NO", "width": "10%" },
                { "sName": "OOC DATE", "width": "10%" },
                { "sName": "View", "bSortable": false, "width": "5%" },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).addClass("text-center");
                $('td:eq(0)', nRow).css("width", "5%");
                $('td:eq(1)', nRow).css("width", "10%");
                $('td:eq(2)', nRow).css("width", "10%");
                $('td:eq(3)', nRow).css("width", "10%");
                $('td:eq(4)', nRow).css("width", "10%");
                $('td:eq(5)', nRow).css("width", "10%");
                $('td:eq(6)', nRow).css("width", "10%");
                $('td:eq(7)', nRow).css("width", "5%");
                $('td:eq(8)', nRow).css("width", "5%");
                $('td:eq(9)', nRow).css("width", "5%");
                $('td:eq(10)', nRow).css("width", "5%");

            }
        });
        new $.fn.dataTable.FixedHeader(TblOocList);
    //});
    //$(document).ready(function () {
        $("#BOE_DATE").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $('#BOE_DATE').datepicker("setDate", new Date());
    });
        
    function ViewOocDetail(Id) {
        debugger;
        $('#DivBody').load('/Report/Ppg_ReportCWCV2/GetOocDetailById?Id=' + Id);
    }

    $('#BtnSearch').on("click", function () {
        debugger;
        $('#BOE_NO').val();
        $('#BOE_DATE').val();
        var BOE_NO = $('#BOE_NO').val();
        var BOE_DATE = $('#BOE_DATE').val();
        
        var html = '';
        $.ajax({
            url: '/Report/Ppg_ReportCWCV2/GetOocListByBoeNo',
            type: 'GET',
            dataType: 'JSON',
            data: { BOE_NO: BOE_NO, BOE_DATE: BOE_DATE },
            success: function (data) {
                debugger;  
                if (data.Status == 1) {
                    var SerialNo = 1;
                    $.each(data.Data, function (i, item) {
                        html += '<tr>';
                        html += '<td style="display:none;">' + item.ID + '</td> <td>' + SerialNo + '</td>';
                        html += '<td>' + item.BOE_NO + '</td>';
                        html += '<td>' + item.BOE_DATE + '</td>';
                        html += '<td>' + item.IGM_NO + '</td>';
                        html += '<td>' + item.IGM_DATE + '</td>';
                        html += '<td>' + item.LINE_NO + '</td>';
                        html += '<td>' + item.SUB_LINE_NO + '</td>';
                        html += '<td>' + item.OOC_TYPE + '</td>';
                        html += '<td>' + item.OOC_NO + '</td>';
                        html += '<td>' + item.OOC_DATE + '</td>';
                        html += '<td style="width:5%;" class="text-center"><a href="#" onclick="ViewOocDetail(' + item.ID + ')"><i class="fa fa-search-plus Edit"></i></a></td>';
                        html += '</tr>';
                        SerialNo = SerialNo + 1;
                    });
                    $('#tblOocList tbody').html(html);

                    $('#tblOocList > tbody').html(html);

                }
                else
                {
                    $('#DivMsg').val(data.Message);
                }
            }
        });
    });

</script>

