
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 padding_rt">
            <label>Destuffing Date:</label>
        </div>
        <div class="col-md-2 col_cus_2_5 Date_Img">
            @Html.TextBox("EntryDate", "", new { @class = "form-control", @id = "EntryDate", placeholder = "dd/mm/yyyy", @readonly = true })
            @Html.ValidationMessage("EntryDate", new { @class = "Error_Msg" })
        </div>
         
        <div class="col-md-1-5 col-md-offset-2-5">
            <label>Delivery Date:</label>
        </div>
        <div class="col-md-2 col_cus_2_5 Date_Img">
            @Html.TextBox("DeliveryDate", "", new { @class = "form-control", @id = "DeliveryDate", placeholder = "dd/mm/yyyy", @readonly = true })
            @Html.ValidationMessage("DeliveryDate", new { @class = "Error_Msg" })
        </div>



    </div>
</div>
<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 padding_rt">
            <label>Cargo Type:</label>

        </div>
        <div class="col-md-2 col_cus_2_5 ">
            @Html.DropDownList("CargoType", new List<SelectListItem>
                                {
                                   new SelectListItem { Text="Non Haz",Value="2"},
                                    new SelectListItem { Text="Haz",Value="1"}
                                }, new { @class = "form-control input-sm dropdown" })
            @Html.ValidationMessage("CargoType", new { @class = "Error_Msg" })
        </div>

        <div class="col-md-1-5 col-md-offset-2-5">
            <label>CBM:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">

            @Html.TextBox("CBM", "", new { @class = "form-control numeric", @id = "CBM" })

        </div>







    </div>
</div>

<div class="row Form_Space_top">
    <div class="form-group Form_Input">
        <div class="col-md-1-5 padding_rt">
            <label>Duty:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBox("Duty", "", new { @class = "form-control numeric", @id = "Duty" })
        </div>
        <div class="col-md-1-5 col-md-offset-2-5">
            <label>Value:</label>
        </div>
        <div class="col-md-2 col_cus_2_5">
            @Html.TextBox("CIFValue", "", new { @class = "form-control numeric", @id = "CIFValue" })
        </div>

    </div>
</div>


<script>
    $(function () {
        $('.numeric').ForceNumeric();
        $("#EntryDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#DeliveryDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

</script>