
@model CwcExim.Areas.Report.Models.VRN_SBQuery

<style>
    .Table_center {
        text-align: center;
    }

    .table-striped > tfoot > tr:nth-child(odd) {
        background-color: #ffd4a9;
    }

    .table > tfoot > tr > th {
        font-size: 0.85em !important;
    }
</style>

@{

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "PVFailure";
    options.OnSuccess = "CargoSuccess";
    options.InsertionMode = InsertionMode.InsertAfter;

}
@using (Ajax.BeginForm("GetDailyInvoiceReport", "Ppg_ReportCWC", options))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>SB Query</h4>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>SB No:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="hidden" name="SBNoValue" id="SBNoValue" />
                                <input type="hidden" name="SBNoValueDate" id="SBNoValueDate" />
                                <input type="text" name="SBNo" id="Shipbill" />
                                <span class="search" id="SrchSBNo"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBNoModal"></i></span>
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="Date" id="Date" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Shipping Line:</label>
                            </div>
                            <div class="col-md-10-5">
                                <input type="text" name="ShippingLin" id="ShippingLine" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Port of Loading:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" name="Loadin" id="Loading" readonly="readonly" />
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>Port of Discharge:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="Discharg" id="Discharge" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Package:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" name="Package" id="Package" readonly="readonly" />
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>Weight:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="Weight" readonly="readonly" />
                            </div>
                        </div>
                    </div>



                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>FOB:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" name="FOB" id="FOB" readonly="readonly" />
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>Country:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="Country" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Gate In No.:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" name="gatein" id="gatein" readonly="readonly" />
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>No. Of Vehicle:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="Vehicle" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Exporter:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" name="Exporter" id="Exporter" readonly="readonly" />
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>CHA:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="CHA" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-1-5 col-md-1 col_cus_2">
                                <input checked="checked" id="HAZ" name="Type" type="radio" value="HAZ">
                                <label for="HAZ" style="padding:0;"><i class="circle" style="margin: 0 4px 0 0;"></i><span>HAZ</span></label>
                            </div>
                            <div class="col-md-1-5">
                                <input id="NON-HAZ" name="Type" type="radio" value="NON-HAZ">
                                <label for="NON-HAZ" style="padding:0;"><i class="circle" style="margin: 0 4px 0 0;"></i><span>NON-HAZ</span></label>
                            </div>
                            <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                <label>Commodity:</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" name="Commodit" readonly="readonly" id="Commodity" />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>PCIN:</label>
                            </div>
                            <div class="col-md-2-5">
                                <input type="text" name="PCIN" id="PCIN" readonly="readonly" />
                            </div>
                            @*<div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-4-5">
                                    <label>CHA:</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="CHA" readonly="readonly" />
                                </div>*@
                        </div>
                    </div>
                    @*<div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>InvoiceNo:</label>
                                </div>
                                <div class="col-md-4-5">
                                    <input type="text" name="InvoiceNo" id="InvoiceNo" readonly="readonly" />
                                </div>

                            </div>
                        </div>*@

                    <div class="row SignUp_space_bottom"></div>

                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

@* SB No Modal *@
<div class="modal fade" id="SBNoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Choose SB No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" />
                @if (ViewBag.ListOfSB != null)
                {
                    <ul class="navList" id="lstSb">
                        @foreach (var item in ViewBag.ListOfSB)
                        {
                            <li id="@item.Value">@item.Text</li>
                        }
                    </ul>
                }
                else
                {
                    <ul class="navList" id="lstParty">
                        <li></li>
                    </ul>
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script>

    $('#box').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#lstSb > li').show();
        } else {
            $('#lstSb > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#lstSb li').on("click", function () {
        debugger;

        var sbno = $(this).text();

        var sbnosp = sbno.split("-");
        var sbn = sbnosp[0];
        var sbdt = sbnosp[1];
        var dbdtsp = sbdt.split("/");
        var sbdtorg = dbdtsp[2] + "-" + dbdtsp[1] + "-" + dbdtsp[0];
        $('#Shipbill').val(sbn);
        $('#id').val($(this).attr('id'));
        $('#SBNoValue').val(sbn);
        $('#SBNoValueDate').val(sbdtorg);
        $('#Date').val(sbdt);


        $("#SBNoModal").modal("hide");


        GetRegisterDetails($(this).attr('id'), sbn, sbdtorg);
    });
    function GetRegisterDetails(Id, sbno, sbdate) {
        debugger;
        $.ajax({
            url: '/Report/PPG_ReportCWCV2/GetApplicationDetForSBQuery',
            type: 'GET',
            data: { Id: Id, sbno: sbno, sbdate: sbdate },
            dataType: 'JSON',
            success: function (data) {
                debugger;

                if (data != null) {
                    debugger;
                    $('#Shipbill').val(data.SBNO);
                    $('#CHA').val(data.CHA);
                    //   $('#Date').val(data.Date);
                    $('#ShippingLine').val(data.ShippingLine);
                    $('#Loading').val(data.PortOFLoad);
                    $('#Discharge').val(data.PortOFDischarge);
                    $('#Commodity').val(data.Comodity);
                    $('#Weight').val(data.Weight);
                    $('#Package').val(data.Package);
                    $('#InvoiceNo').val(data.InvoiceNo);

                    if (data.Cargotype == 1)
                        $("#HAZ").prop("checked", true);
                    else
                        $("#NON-HAZ").prop("checked", true);
                    $('#Package').val(data.Package);
                    $('#FOB').val(data.FOB);
                    $('#Country').val(data.Country);
                    $('#gatein').val(data.GateinNo);
                    $('#Vehicle').val(data.Vehicle);
                    $('#Exporter').val(data.Exporter);

                    $('#cartingdeatilstbody').html('');
                    $('#Deliverydeatilstbody').html('');
                    $('#PCIN').val(data.PCIN);
                }
                //if (data.CartingSBQList.length > 0) {
                //    debugger;
                //    var html = '';
                //    var k = 1;
                //    var Sum = 0;
                //    var SumRCBM = 0;
                //    var SumUnCBM = 0;
                //    $.each(data.CartingSBQList, function (i, item) {
                //        html += "<tr><td>" + item.CartingRegisterNo + "</td> <td>" + item.Date + "</td> <td>" + item.Godown + "</td> <td>" + item.Location + "</td> <td>" + item.NOOfPackages + "</td> <td>" + item.ReserveCBM + "</td> <td>" + item.UnReserveCBM + "</td> <td>" + item.excessbalancecargo + "</td> <td>" + item.InvoiceNo + " </td> <td>" + item.ReceiptNo + " </td> <td>" + item.Remarks + " </td> </td><tr>";
                //        Sum = Sum + (item.NOOfPackages);
                //        SumRCBM = SumRCBM + item.ReserveCBM;
                //        SumUnCBM = SumUnCBM + item.UnReserveCBM;
                //        k++;
                //    });

                //    $('#cartingdeatilstbody').html(html);


                //    document.getElementById("totalpkg").innerHTML = Sum;
                //    document.getElementById("totalRCBM").innerHTML = SumRCBM;
                //    document.getElementById("totalUNCBM").innerHTML = SumUnCBM;
                //}
                //if (data.DeliverySBQList.length > 0) {
                //    debugger;

                //    var html = '';
                //    var k = 1;
                //    $.each(data.DeliverySBQList, function (i, item) {
                //        html += "<tr><td>" + item.InvoiceNO + "</td><td>" + item.Date + "</td><td>" + item.StuReqNo + "</td><td>" + item.Forwarder + "</td><td>" + item.CfsCode + "</td><td>" + item.NOOfPackages + "</td><td>" + item.SealNo + "</td><td>" + item.SealDate + "</td><td>" + item.IwbNo + "</td><td>" + item.Transporter + "</td><td>" + item.ContainerNo + "</td><td>" + item.Size + "</td><td>" + item.PortOfLoading + "</td><td>" + item.VehicleNo + "</td><td>" + item.OutDate + "</td><td>" + item.ReceiptNo + "</td><td>" + item.ReceiptDate + "</td><tr>";
                //        //k++;
                //    });
                //    $('#Deliverydeatilstbody').html(html);

                //}

                //if (data.BTTSBQList.length > 0) {
                //    debugger;

                //    var html = '';
                //    var k = 1;
                //    $.each(data.BTTSBQList, function (i, item) {
                //        html += "<tr><td>" + item.InvoiceNO + "</td><td>" + item.Date + "</td><td>" + item.NOOfPackages + "</td> " + item.ReceiptNo + "<td></td>" + item.ReceiptDate + " <td></td><tr>";
                //        //k++;
                //    });
                //    $('#BTTdeatilstbody').html(html);

                //}
                //if (data.StockSBQList.length > 0) {
                //    debugger;

                //    var html = '';
                //    var k = 1;
                //    $.each(data.StockSBQList, function (i, item) {
                //        html += "<tr><td>" + item.NOOfPackages + "</td><td>" + item.SQM + "</td><td>" + item.Weight + "</td><tr>";
                //        //k++;
                //    });
                //    $('#Stockdeatilstbody').html(html);

                //}
                ////ArrayOfCartingRegDtl = data.lstRegisterDtl;
                ////  GenerateCartingRegTable();
                ////LocationDetails = data.lstGdnWiseLctn;
                ////LocationDet();
                //if (data.Pallatisation.length > 0)
                //{
                //    //debugger;

                //    var html = '';
                //    var k = 1;
                //    $.each(data.Pallatisation, function (i, item) {
                //        html += "<tr><td>" + item.InvoiceNO + "</td><td>" + item.Date + "</td><td>" + item.Exporter + "</td><td>" + item.CHA + "</td><td>" + item.NOOfPallet + "</td><td>" + item.NOOfPackages + "</td><td>" + item.ReceiptNo + "</td><td>" + item.ReceiptDate + "</td>>tr>";
                //        //k++;
                //    });
                //    $('#tblPallat tbody').html(html);

                //}

            }

        });
    }
</script>