@model CwcExim.Areas.Report.Models.Ppg_E04Report


<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>E04 Detail</h4>
                </div>
            </div>
            <div class="content_wrp">
                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Custom Code:</label>
                        </div>
                        @Html.TextBoxFor(m => m.CUSTOM_CD, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>SB No:</label>
                        </div>
                        @Html.TextBoxFor(m => m.SB_NO, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>SB Date :</label>
                        </div>
                        @Html.TextBoxFor(m => m.SB_DATE, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>IEC Code:</label>
                        </div>
                        @Html.TextBoxFor(m => m.IEC_CD, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>BI_No:</label>
                        </div>

                        @Html.TextBoxFor(m => m.BI_NO, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Exporter Name:</label>
                        </div>

                        @Html.TextBoxFor(m => m.EXP_NAME, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address 1:</label>
                        </div>
                        @Html.TextBoxFor(m => m.EXP_ADD1, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Address 2:</label>
                        </div>
                        @Html.TextBoxFor(m => m.EXP_ADD2, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>City:</label>
                        </div>
                        @Html.TextBoxFor(m => m.CITY, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>PIN:</label>
                        </div>
                        @Html.TextBoxFor(m => m.PIN, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>CHA Code:</label>
                        </div>
                        @Html.TextBoxFor(m => m.CHA_CODE, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>FOB:</label>
                        </div>
                        @Html.TextBoxFor(m => m.FOB, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>POD:</label>
                        </div>
                        @Html.TextBoxFor(m => m.POD, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>LEO NO:</label>
                        </div>
                        @Html.TextBoxFor(m => m.LEO_NO, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>LEO Date:</label>
                        </div>
                        @Html.TextBoxFor(m => m.LEO_DATE, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Etry No:</label>
                        </div>
                        @Html.TextBoxFor(m => m.ENTRY_NO, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>G Date:</label>
                        </div>
                        @Html.TextBoxFor(m => m.G_DATE, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>Transhipper Code:</label>
                        </div>
                        @Html.TextBoxFor(m => m.TRANSHIPPER_CODE, new { @readonly = true })
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Gateway Port:</label>
                        </div>
                        @Html.TextBoxFor(m => m.GATEWAY_PORT, new { @readonly = true })
                    </div>
                    <div class="col-md-3 col-md-offset-1-5">
                        <div class="form-group">
                            <label>PCIN:</label>
                        </div>
                        @Html.TextBoxFor(m => m.PCIN, new { @readonly = true })
                    </div>
                </div>

                <div class="row SignUp_space_bottom SignUp_space_top Form_Space_top">
                    <div class="stoke"></div>
                </div>

                <div class="d-flex justify-content-left">
                    <input type="button" class="btn btn-primary btn-100px" value="Back" onclick="ResetField()">
                </div>

                <div class="row SignUp_space_bottom SignUp_space_top">
                    <div class="stoke"></div>
                </div>

                <div><br /></div>
            </div>
        </div>
    </div>
</div>

           
@Scripts.Render("~/bundles/jqueryval")

<script>
   
    function ResetField() {
        $('#DivBody').load('/Report/Ppg_ReportCWCV2/E04DetailsReport');
    }
</script>

