@model IEnumerable<CwcExim.Areas.GateOperation.Models.Weighment>
<script>
        $(document).ready(function(){
            var TblWeighment = $('#TblWeighment').DataTable({
                "bFilter": false,
                "bInfo": false,
                "pageLength": 50,
                "aoColumns": [
                      { "sName": "SL No", "width": "8%" },
                        { "sName": "Container No", "width": "8%" },
                        { "sName": "Truck", "width": "8%" },
                        { "sName": "Weight", "bSortable": false, "width": "10%" },
                        { "sName": "Empty Weight", "bSortable": false, "width": "10%" },
                        { "sName": "OperationType", "bSortable": false, "width": "10%" },
                             { "sName": "Date",  "width": "5%" }
                ]
            });
            new $.fn.dataTable.FixedHeader(TblWeighment);
        });

</script>
<table id="TblWeighment" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayName("SL No")</th>
            <th style="text-align:center">@Html.DisplayName("Container No")</th>
            <th style="text-align:center">Truck</th>
            <th style="text-align:center">Weight</th>
            <th style="text-align:center">Empty Weight</th>
            <th style="text-align:center">Operation Type</th>
            <th style="text-align:center">Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td>@Html.DisplayFor(m => item.ContainerNo)</td>
                    <td>@Html.DisplayFor(m => item.VehicleNumber)</td>
                    <td>@Html.DisplayFor(m => item.Weight)</td>
                    <td>@Html.DisplayFor(m => item.EmptyWeight)</td>
                    <td>@Html.DisplayFor(m => item.OperationType)</td>
                    <td>@Html.DisplayFor(m => item.WeightmentDate)</td>
                </tr>
                SerialNo = SerialNo + 1;
            }
        }
    </tbody>
</table>
