@model IEnumerable<CwcExim.Models.StorageCharge>

<script>
    $(document).ready(function(){
        var TblStorageCharge=$('#TblStorageCharge').DataTable({
            "bFilter":false,
            "bInfo":false,
            "pageLength": 50,
            "aoColumns":[
                {"sName":"SL No","width": "7%"},
                { "sName": "Effective Date", "bSortable": false,"width": "12%" },
                { "sName": "WarehouseType", "bSortable": false},
                { "sName": "Per Week","width": "8%" },
                { "sName": "Per Month","width": "8%" },
                { "sName": "Per Days","width": "8%" },
                { "sName": "Per Week","width": "8%" },
                { "sName": "Per Month","width": "8%" },
                { "sName": "Metric Ton","width": "8%" },
                { "sName": "Days Range", "bSortable": false },
                {"sName":"Edit","bSortable":false,"width": "8%"}
            ]
        });
        new $.fn.dataTable.FixedHeader(TblStorageCharge);
    });
    function EditStorageCharge(StorageChargeId){
        $('#DivStorageCharge').load('/CWCCharges/EditStorageCharge?StorageChargeId='+StorageChargeId);
    }
</script>

<table id="TblStorageCharge"class="table table-bordered table-striped nowrap table_sorting table-responsive"cellspacing="0" width="100%">
    <thead>
        <tr>
            <th rowspan="2" style="text-align:center;">@Html.DisplayName("SL No")</th>
            <th rowspan="2">@Html.DisplayName("Effective Date")</th>
            <th rowspan="2">@Html.DisplayNameFor(m=>m.WarehouseType)</th>
            <th colspan="2"style="text-align:center;">Sq Meter</th>
            <th colspan="3"style="text-align:center;">Cubic Meter</th>
            <th rowspan="2">Metric Ton</th>
            <th rowspan="2">@Html.DisplayName("Days Range")</th>
            <th rowspan="2">@Html.DisplayName("Edit")</th>
        </tr>
        <tr>
            <th>Per Week</th>
            <th>Per Month</th>
            <th>Per Days</th>
            <th>Per Week</th>
            <th style="border-right:1px solid #ddd;">Per Month</th>
        </tr>
    </thead>
    <tbody>
        @{
            var SerialNo = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">@SerialNo</td>
                    <td style="text-align:center">@item.EffectiveDate</td>
                    <td style="text-align:left">@Html.DisplayFor(m => item.WarehouseTypeName)</td>
                    <td>@item.RateSqMPerWeek</td>
                    <td>@item.RateSqMPerMonth</td>
                    <td>@item.RateCubMeterPerDay</td>
                    <td>@item.RateCubMeterPerWeek</td>
                    <td>@item.RateCubMeterPerMonth</td>
                    <td>@item.RateMeterPerDay</td>
                    <td>@item.DaysRangeFrom-@item.DaysRangeTo</td>
                    <td style="text-align:center"><a href="#" onclick="EditStorageCharge(@item.StorageChargeId)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                </tr>
                SerialNo += 1;
            }
        }
    </tbody>
</table>