@model CwcExim.Models.CWCCharges

<script>

</script>
@{ 
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Confirm = "Are You Sure You Want To Save?";
    options.OnSuccess = "CWCChargesOnSuccess";
    options.OnFailure = "CWCChargesOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("","",options))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 ClearFix">
                <div class="row Con_Heading SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>CWC Charges</h4>
                        <div class="Heading_Stoke"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group Form_Input">
                        <div class="col-md-offset-6 col-md-1-5" style="padding-right:0px">
                            <small>@Html.LabelFor(m => m.EffectiveDate, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                        </div>
                        <div class="col-md-4-5 Date_Img">
                            <span class="ReQSimbol">*</span>
                            @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "Error_Msg" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend><small>Ground Rent</small></legend>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.GRContainerType1, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-4-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.GRContainerType1, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Empty Container" }, new SelectListItem { Value = "1", Text = "Loaded Container" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.GRContainerType1, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-4-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.GRContainerType2, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "HAZ" }, new SelectListItem { Value = "1", Text = "Non HAZ" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.GRContainerType2, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.DaysRangeFrom, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-4-5">
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.DaysRangeFrom, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.DaysRangeFrom, "", new { @class = "Error_Msg" })
                                            </div>
                                            <div class="col-md-1">-</div>
                                            <div class="col-md-5">
                                                <span class="ReQSimbol">*</span>
                                                @Html.TextBoxFor(m => m.DaysRangeTo, new { @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(m => m.DaysRangeTo, "", new { @class = "Error_Msg" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.RentAmount, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.RentAmount, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.RentAmount, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-2 col-md-1-5">
                                        <small>@Html.LabelFor(m => m.GRReefer, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.CheckBoxFor(m => m.GRReefer, new { @class = "RegCheck" })
                                        @Html.ValidationMessageFor(m => m.GRReefer, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.Size, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.Size, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "20" }, new SelectListItem { Value = "1", Text = "40" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.Size, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-2 col-md-1-5">
                                        <small>@Html.LabelFor(m => m.GROperationType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.GROperationType, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Import" }, new SelectListItem { Value = "1", Text = "Export" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.GROperationType, "", new { @class = "Error_Msg" })

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend><small>Storage Charge(Godown)</small></legend>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.WarehouseType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.WarehouseType, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Import" }, new SelectListItem { Value = "1", Text = "Export" }, new SelectListItem { Value = "2", Text = "Bonded" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.WarehouseType, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.ChargesType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.ChargesType, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "SQM" }, new SelectListItem { Value = "1", Text = "CM" }, new SelectListItem { Value = "2", Text = "MT" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.ChargesType, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.SqMRate)<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.SqMRate, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.SqMRate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.CuMRate)<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.CuMRate, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.CuMRate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.MRate)<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.MRate, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.MRate, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend><small>Entry Fees</small></legend>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.EFContainerType1, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-4-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.EFContainerType1, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Empty" }, new SelectListItem { Value = "1", Text = "Loaded" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.EFContainerType1, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-4-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.EFContainerType2, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "HAZ" }, new SelectListItem { Value = "1", Text = "Non HAZ" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.EFContainerType2, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.EFOperationType, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-4-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.DropDownListFor(m => m.EFOperationType, new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Import" }, new SelectListItem { Value = "1", Text = "Export" } }, "---Select---", new { @class = "form-control input-sm dropdown" })
                                        @Html.ValidationMessageFor(m => m.EFOperationType, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.EFRate, new { @class = "InputLabel" })<span>:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.EFRate, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.EFRate, "", new { @class = "Error_Msg" })
                                    </div>
                                    <div class="col-md-offset-2 col-md-1-5">
                                        <small>@Html.LabelFor(m => m.EFReefer, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        @Html.CheckBoxFor(m => m.EFReefer, new { @class = "RegCheck" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend><small>Insurance Charge</small></legend>
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5">
                                        <small>@Html.LabelFor(m => m.InsCharge, new { @class = "InputLabel" })<span class="LabelColon">:</span></small>
                                    </div>
                                    <div class="col-md-2-5">
                                        <span class="ReQSimbol">*</span>
                                        @Html.TextBoxFor(m => m.InsCharge, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.InsCharge, "", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="stroke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="submit" class="btn Log_Btn" value="Save" style="width:100%" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn Log_Btn" value="Reset" style="width:100%" onclick="CWCChargesReset()" />
                    </div>
                </div>
                <div class="logSuccMsg" style="background-color:transparent">
                    <div id="DivCWCChargesMsg"></div>
                </div>
                <div class="logErrMsg" style="background-color:transparent" id="DivCWCChargesErrMsg">

                </div>
            </div>
        </div>
    </div>
}